Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers

Cleanup
  packages/canon/docs/components/Banner/Banner.tsx
  packages/canon/docs/components/Banner/banner.css.ts
  packages/canon/docs/components/Banner/index.ts
  packages/canon/docs/components/Banner/styles.css
  packages/canon/docs/components/Chip/index.ts
  packages/canon/docs/components/Columns/index.ts
  packages/canon/docs/components/ComponentStatus/component-status.css.ts
  packages/canon/docs/components/ComponentStatus/index.ts
  packages/canon/docs/components/IconLibrary/IconLibrary.tsx
  packages/canon/docs/components/IconLibrary/index.ts
  packages/canon/docs/components/LayoutComponents/LayoutComponents.tsx
  packages/canon/docs/components/LayoutComponents/index.ts
  packages/canon/docs/components/LayoutComponents/layout-components.css.ts
  packages/canon/docs/components/LayoutComponents/svgs/box.tsx
  packages/canon/docs/components/LayoutComponents/svgs/container.tsx
  packages/canon/docs/components/LayoutComponents/svgs/grid.tsx
  packages/canon/docs/components/LayoutComponents/svgs/inline.tsx
  packages/canon/docs/components/LayoutComponents/svgs/stack.tsx
  packages/canon/docs/components/Roadmap/Roadmap.tsx
  packages/canon/docs/components/Roadmap/index.ts
  packages/canon/docs/components/Table/Table.tsx
  packages/canon/docs/components/Table/index.ts
  packages/canon/docs/components/Text/index.ts
  packages/canon/docs/components/Title/index.ts
  packages/canon/docs/components/styles.css
  packages/canon/src/components/Box/Docs.mdx
  packages/canon/src/components/Button/Docs.mdx
  packages/canon/src/components/Container/Docs.mdx
  packages/canon/src/components/Grid/Docs.mdx
  packages/canon/src/components/Inline/Docs.mdx
  packages/canon/src/components/Stack/Docs.mdx
Owners: @backstage/maintainers, @backstage/reviewers

Revert exposing of components
  plugins/scaffolder-react/src/next/components/TemplateCard/index.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Updated changeset
  .changeset/kind-jobs-remain.md
Owners: none

Revert "Updating API docs"
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/next/components/TemplateCard/CardHeader.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/CardLink.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardActions.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardContent.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardLinks.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardTags.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Updating report
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/index.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Update stale-actors-sin.md
  .changeset/stale-actors-sin.md
Owners: none

Fixing Box
  packages/canon/docs/components/PropsTable/getProps.ts
  packages/canon/docs/components/PropsTable/index.ts
  packages/canon/docs/components/index.ts
  packages/canon/src/components/Box/Box.tsx
  packages/canon/src/components/Box/Docs.mdx
  packages/canon/src/components/Box/box.css.ts
  packages/canon/src/components/Box/styles.css
Owners: @backstage/maintainers, @backstage/reviewers

Rename Box
  packages/canon/src/components/Box/Box.tsx
  packages/canon/src/components/Box/styles.css
Owners: @backstage/maintainers, @backstage/reviewers

Remove Vanilla Extract
  packages/canon/package.json
  packages/canon/src/components/Container/Docs.mdx
  packages/canon/src/components/Grid/Docs.mdx
  packages/canon/src/components/Inline/Docs.mdx
  packages/canon/src/components/Stack/Docs.mdx
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

update api specification
  packages/core-app-api/report.api.md
  packages/core-app-api/src/lib/AuthConnector/types.ts
  packages/core-app-api/src/lib/loginPopup.ts
Owners: @backstage/maintainers, @backstage/reviewers

update api specification
  packages/core-app-api/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers

Add scaffolderPermissionsExtensionPoint
  .changeset/stale-ties-deliver.md
  docs/features/software-templates/authorizing-scaffolder-template-details.md
  plugins/scaffolder-backend/report-alpha.api.md
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/alpha.ts
  plugins/scaffolder-backend/src/deprecated.ts
  plugins/scaffolder-backend/src/permissions/conditionExports.ts
  plugins/scaffolder-backend/src/permissions/index.ts
  plugins/scaffolder-backend/src/permissions/rules/index.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderActionRules.test.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderActionRules.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderTemplateRules.test.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderTemplateRules.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/src/extensions.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

update yarn.lock
  yarn.lock
Owners: @backstage/maintainers, @backstage-service

count metrics faster
  .changeset/gold-crabs-agree.md
  plugins/catalog-backend/src/database/metrics.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

refactor: address latest review comments
  .changeset/rude-pears-tie.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
Owners: @backstage/maintainers, @backstage/reviewers

Update scope of BEP
  beps/0012-template-execution-permissions/README.md
Owners: @backstage/maintainers, @backstage/reviewers

Add new Checkbox component
  packages/canon/src/components/Checkbox/Checkbox.stories.tsx
  packages/canon/src/components/Checkbox/Checkbox.tsx
  packages/canon/src/components/Checkbox/index.ts
  packages/canon/src/components/Checkbox/styles.css
  packages/canon/src/components/Icon/icons.ts
  packages/canon/src/components/Icon/styles.css
  packages/canon/src/components/Icon/types.ts
  packages/canon/src/theme/styles.css
Owners: @backstage/maintainers, @backstage/reviewers

Fix review comment:
  packages/cli/src/commands/build/buildFrontend.ts
  packages/cli/src/commands/start/startFrontend.ts
  packages/cli/src/lib/bundler/moduleFederation.ts
Owners: @backstage/maintainers, @backstage/reviewers

Add the frontend-dynamic-feature-loader
  packages/frontend-dynamic-feature-loader/.eslintrc.js
  packages/frontend-dynamic-feature-loader/README.md
  packages/frontend-dynamic-feature-loader/catalog-info.yaml
  packages/frontend-dynamic-feature-loader/config.d.ts
  packages/frontend-dynamic-feature-loader/knip-report.md
  packages/frontend-dynamic-feature-loader/package.json
  packages/frontend-dynamic-feature-loader/report.api.md
  packages/frontend-dynamic-feature-loader/src/index.ts
  packages/frontend-dynamic-feature-loader/src/loader.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/apis/DefaultApi.client.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/apis/index.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/index.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/models/ErrorError.model.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/models/ErrorRequest.model.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/models/ErrorResponse.model.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/models/ModelError.model.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/models/index.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/pluginId.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/types/discovery.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/generated/types/fetch.ts
  packages/frontend-dynamic-feature-loader/src/schema/openapi/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

Make `isBackstageFeature` public API, which is useful for third-party feature loaders.
  packages/frontend-defaults/report.api.md
  packages/frontend-defaults/src/discovery.ts
  packages/frontend-defaults/src/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

Register custom fields from FormFieldBlueprint
  .changeset/smart-islands-judge.md
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.test.tsx
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.ts
  plugins/scaffolder-react/src/next/api/FormFieldsApi.ts
  plugins/scaffolder-react/src/next/api/index.ts
  plugins/scaffolder-react/src/next/api/ref.ts
  plugins/scaffolder-react/src/next/api/types.ts
  plugins/scaffolder-react/src/next/index.ts
  plugins/scaffolder/src/alpha/api/ref.ts
  plugins/scaffolder/src/alpha/api/types.ts
  plugins/scaffolder/src/alpha/plugin.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

notifications: refactor backend routes to avoid using root route
  .changeset/mighty-birds-rest.md
  .changeset/odd-days-push.md
  .changeset/perfect-fishes-kick.md
  docs/notifications/index.md
  plugins/notifications-backend/README.md
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications/src/api/NotificationsClient.test.ts
  plugins/notifications/src/api/NotificationsClient.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/notifications-maintainers

Do not add /index.html for html pages in getEntityDocs
  .changeset/sixty-items-own.md
  plugins/techdocs/src/client.ts
Owners: @backstage/techdocs-maintainers

Improve API
  packages/canon/report.api.md
  packages/canon/src/components/Checkbox/Checkbox.stories.tsx
  packages/canon/src/components/Checkbox/Checkbox.tsx
  packages/canon/src/components/Checkbox/Docs.mdx
  packages/canon/src/components/Checkbox/index.ts
  packages/canon/src/components/Checkbox/types.ts
Owners: @backstage/maintainers, @backstage/reviewers

refactor: address latest review comments
  .changeset/rude-pears-tie.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
Owners: @backstage/maintainers, @backstage/reviewers

fix: accept only config as string or human duration
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers

Update docs/backend-system/architecture/07-feature-loaders.md
  docs/backend-system/architecture/07-feature-loaders.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

refactor: apply more review suggestions
  .changeset/rude-pears-tie.md
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootLifecycle/rootLifecycleServiceFactory.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/RootLifecycleService.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers

Add task id to ActionContext
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-node/src/actions/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

chore: fix up the api-reports Signed-off-by: blam <ben@blam.sh>
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.ts
  plugins/scaffolder-react/src/next/api/FormFieldsApi.ts
  plugins/scaffolder/report-alpha.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

chore: comments
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

chore: rexport from alpha
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/index.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

chore: need a default implementation for old frontend system
  plugins/scaffolder/src/plugin.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

chore: don't fail if the apiRef is missing
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add throttling to bitbucket server client
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage-service

Adding throttling
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage-service

chore: adding reports
  .changeset/cool-days-sparkle.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix some little things that vale was complaining about
  .changeset/old-pandas-act.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/techdocs/addons.md
  docs/getting-started/config/database.md
  docs/getting-started/keeping-backstage-updated.md
  docs/overview/adopting.md
  microsite/blog/2023-05-06-backstage-deploy-alpha.mdx
  packages/cli/config/nodeTransform.cjs
  packages/config-loader/src/sources/types.ts
  packages/core-app-api/src/apis/implementations/DiscoveryApi/UrlPatternDiscovery.ts
  packages/core-components/src/components/TrendLine/TrendLine.test.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  plugins/bitbucket-cloud-common/bitbucket-cloud.oas.json
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog/src/apis/StarredEntitiesApi/DefaultStarredEntitiesApi.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPagesEnable.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/techdocs-maintainers, @backstage/documentation-maintainers, @pjungermann, @backstage/catalog-maintainers, @backstage/scaffolder-maintainers

Fix Checkbox
  packages/canon/src/components/Checkbox/styles.css
  packages/canon/src/theme/theme.css
Owners: @backstage/maintainers, @backstage/reviewers

.github/workflows/verify_storybook: update Chromatic project
  .github/workflows/verify_storybook.yml
Owners: @backstage/maintainers, @backstage/reviewers
