Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers

feat(scaffolder-backend-module-gitlab): Add gitlab scaffolder action to migrate groups and projects (bulk_imports)
  .changeset/purple-scissors-switch.md
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/index.ts
  plugins/scaffolder-backend-module-gitlab/src/module.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

canon: add CNAME
  packages/canon/static/CNAME
Owners: @backstage/maintainers, @backstage/reviewers

Update Button component
  packages/canon/package.json
  packages/canon/src/components/Button/Button.stories.tsx
  packages/canon/src/components/Button/Button.tsx
  packages/canon/src/components/Button/styles.css
  packages/canon/src/components/Icon/icons.ts
  packages/canon/src/components/Icon/types.ts
  packages/canon/src/components/Stack/Stack.stories.tsx
  packages/canon/src/layout/properties.ts
  packages/canon/src/theme/theme.css
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

Update API report
  packages/canon/.storybook/manager.ts
  packages/canon/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers

fix typo
  beps/0012-template-execution-permissions/README.md
Owners: @backstage/maintainers, @backstage/reviewers

fix stub.ts import
  packages/backend-openapi-utils/src/stub.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/openapi-tooling-maintainers

Delete button.css.ts
  packages/canon/src/components/Button/button.css.ts
Owners: @backstage/maintainers, @backstage/reviewers

build api report
  packages/backend-openapi-utils/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/openapi-tooling-maintainers

add more detail to changeset
  .changeset/warm-masks-ring.md
Owners: none

build(deps): update @opentelemetry/api to 1.9.0
  .changeset/brave-teachers-mate.md
  packages/backend-defaults/package.json
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend/package.json
  plugins/scaffolder-backend/package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/scaffolder-maintainers, @backstage-service

apply requested changes
  .changeset/olive-boxes-hide.md
  packages/backend-defaults/config.d.ts
  packages/backend-plugin-api/src/services/definitions/AuditorService.ts
  plugins/catalog-backend/README.md
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/scaffolder-backend/README.md
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/scaffolder-maintainers

Add first pass at Grid component
  packages/canon/docs/Home.mdx
  packages/canon/src/components/Grid/Grid.stories.tsx
  packages/canon/src/components/Grid/Grid.tsx
  packages/canon/src/components/Grid/index.ts
  packages/canon/src/components/Grid/sprinkles.css.ts
  packages/canon/src/components/Grid/styles.css
  packages/canon/src/components/Grid/types.ts
  packages/canon/src/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

update api-report
  packages/backend-plugin-api/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers

update README
  docs/backend-system/core-services/auditor.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

renaming
  .changeset/warm-masks-ring.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/techdocs/src/home/components/TechDocsIndexPage.tsx
  plugins/techdocs/src/home/components/TechDocsPageWrapper.tsx
Owners: @backstage/techdocs-maintainers

fix api-report warning
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/index.ts
Owners: @backstage/techdocs-maintainers

Add proxyEndpointsExtensionPoint
  .changeset/four-bananas-sneeze.md
  docs/plugins/proxying.md
  plugins/proxy-backend/dev/index.ts
  plugins/proxy-backend/package.json
  plugins/proxy-backend/report.api.md
  plugins/proxy-backend/src/plugin.ts
  plugins/proxy-backend/src/service/router.ts
  plugins/proxy-node/.eslintrc.js
  plugins/proxy-node/README.md
  plugins/proxy-node/catalog-info.yaml
  plugins/proxy-node/package.json
  plugins/proxy-node/report-alpha.api.md
  plugins/proxy-node/src/alpha/index.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers, @backstage-service

strongly type proxyConfig
  plugins/proxy-backend/src/plugin.ts
  plugins/proxy-backend/src/service/router.ts
  plugins/proxy-node/package.json
  plugins/proxy-node/report-alpha.api.md
  plugins/proxy-node/src/alpha/index.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

add template extensions to template editor toolbar
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbar.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.tsx
  plugins/scaffolder/src/translation.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

make links open new tab when not rendered from TX page
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateGlobals.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

links
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.test.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateGlobals.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

github* actions += markdown doc
  plugins/scaffolder-backend-module-github/src/actions/githubActionsDispatch.ts
  plugins/scaffolder-backend-module-github/src/actions/githubAutolinks.ts
  plugins/scaffolder-backend-module-github/src/actions/githubDeployKey.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
  plugins/scaffolder-backend-module-github/src/actions/githubIssuesLabel.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPagesEnable.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend-module-github/src/actions/githubWebhook.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

schema styling
  plugins/scaffolder/src/components/RenderSchema/RenderSchema.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

tweak
  plugins/scaffolder-backend/src/lib/templating/filters/pick/index.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Update plugins/scaffolder-node/src/filters/types.ts
  plugins/scaffolder-node/src/filters/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

fixed filter examples
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder-backend/src/lib/templating/filters/parseEntityRef/examples.ts
  plugins/scaffolder-backend/src/lib/templating/filters/parseRepoUrl/examples.ts
  plugins/scaffolder-backend/src/lib/templating/filters/pick/examples.ts
  plugins/scaffolder-backend/src/lib/templating/filters/projectSlug/examples.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

adjust return type expectations of create[template extension] functions to simplify user code
  plugins/scaffolder-backend/src/lib/templating/filters/index.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/filters/createTemplateFilter.ts
  plugins/scaffolder-node/src/globals/createTemplateGlobal.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

fix
  plugins/scaffolder-node/src/filters/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Update plugins/scaffolder-node/src/filters/types.ts
  plugins/scaffolder-node/src/filters/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

organization; new stuff to alpha
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/lib/templating/filters/parseEntityRef/index.ts
  plugins/scaffolder-backend/src/lib/templating/filters/parseEntityRef/schema.ts
  plugins/scaffolder-backend/src/lib/templating/filters/parseRepoUrl/index.ts
  plugins/scaffolder-backend/src/lib/templating/filters/parseRepoUrl/schema.ts
  plugins/scaffolder-backend/src/lib/templating/filters/pick/index.ts
  plugins/scaffolder-backend/src/lib/templating/filters/projectSlug/index.ts
  plugins/scaffolder-backend/src/lib/templating/filters/projectSlug/schema.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-backend/src/util/templating.test.ts
  plugins/scaffolder-backend/src/util/templating.ts
  plugins/scaffolder-node/src/alpha.ts
  plugins/scaffolder-node/src/filters/createTemplateFilter.ts
  plugins/scaffolder-node/src/filters/index.ts
  plugins/scaffolder-node/src/filters/types.ts
  plugins/scaffolder-node/src/globals/createTemplateGlobal.ts
  plugins/scaffolder-node/src/globals/index.ts
  plugins/scaffolder-node/src/globals/types.ts
  plugins/scaffolder-node/src/index.ts
  plugins/scaffolder-node/src/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Created*<any => unknown>
  plugins/scaffolder-backend/src/util/templating.ts
  plugins/scaffolder-node/src/filters/createTemplateFilter.ts
  plugins/scaffolder-node/src/filters/types.ts
  plugins/scaffolder-node/src/globals/createTemplateGlobal.ts
  plugins/scaffolder-node/src/globals/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

template extensions search; align template extensions page translations; add icons to tabs
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.test.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateGlobals.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/navigation.ts
  plugins/scaffolder/src/translation.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

listTemplateExtensions as optional endpoint of ScaffolderApi
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.test.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

tabs
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateGlobals.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/navigation.ts
  plugins/scaffolder/src/translation.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

TemplateExtensionsPage: standardize handling of unavailable extension types; fix fragment handling; fix unit tests
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.test.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateGlobals.tsx
  plugins/scaffolder/src/translation.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

export RenderSchema component
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/RenderSchema/index.ts
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateGlobals.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

reports
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/filters/types.ts
  plugins/scaffolder-node/src/globals/types.ts
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

scaffolder-node alpha org
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/alpha/filters/createTemplateFilter.ts
  plugins/scaffolder-node/src/alpha/filters/index.ts
  plugins/scaffolder-node/src/alpha/filters/types.ts
  plugins/scaffolder-node/src/alpha/globals/createTemplateGlobal.ts
  plugins/scaffolder-node/src/alpha/globals/index.ts
  plugins/scaffolder-node/src/alpha/globals/types.ts
  plugins/scaffolder-node/src/alpha/index.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

fix test
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateExtensionsPage.test.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Example -> ScaffolderUsageExample
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ScaffolderUsageExamplesTable/ScaffolderUsageExamplesTable.test.tsx
  plugins/scaffolder/src/components/ScaffolderUsageExamplesTable/ScaffolderUsageExamplesTable.tsx
  plugins/scaffolder/src/components/ScaffolderUsageExamplesTable/index.ts
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplateExtensionsPage/TemplateGlobals.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers
