Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @kuangp, @backstage/sda-se-reviewers, @awanlin, @jmezach, @pjungermann, @backstage/catalog-maintainers, @adamdmharvey, @alde, @backstage/silver-lining, @backstage/events-maintainers, @erikengervall, @backstage/home-maintainers, @andrewthauer, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers, @xantier

Add ability to override theme options for the TechDocsReaderPage. (#25956)
  .changeset/healthy-fireants-jump.md
  plugins/techdocs/api-report.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
Owners: @backstage/techdocs-maintainers

chore(scaffolder): fix unit tests
  plugins/scaffolder-backend/api-report-alpha.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/rules.ts
  plugins/scaffolder-common/api-report-alpha.md
  plugins/scaffolder/src/components/OngoingTask/ContextMenu.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

chore(scaffolder): add new unit tests for granular permissions
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder/src/components/ListTasksPage/ListTaskPage.test.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

frontend-plugin-api: initial support for blueprint input overrides
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: validate input override values
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: validate blueprint original factory output
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: refactor out blueprint input overrides
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-app-api: fix for input extension data containers not being iterable at runtime
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: add support for overriding input values when overriding extensions
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: clean up error messages for input overrides
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Owners: @backstage/maintainers, @backstage/reviewers

Update .changeset/five-mangos-agree.md
  .changeset/five-mangos-agree.md
Owners: none

fix: add link to mui docs + fix typo in changeset
  .changeset/perfect-cars-jam.md
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

fix: add correct link to mui docs for Virtualization
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

chore: fix
  beps/0009-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: update Signed-off-by: blam <ben@blam.sh>
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: added some more stuff to the bep
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: update formatting
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: give the bep a number and feelings
  beps/0009-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: starting to write some more for the bep Signed-off-by: blam <ben@blam.sh>
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: creating the initial bep
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: remove extra chars
  beps/0010-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: update bep
  beps/0010-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

chore: some small changes
  beps/0010-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: allow clearing multi inputs
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: fix and update API report
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

add example package
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/.eslintrc.js
  packages/app-next-example-extensions/README.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/dummy.test.ts
  packages/app-next-example-extensions/src/extensions/HomePage.tsx
  packages/app-next-example-extensions/src/extensions/NotFoundErrorPage.tsx
  packages/app-next-example-extensions/src/extensions/ScmAuthApi.ts
  packages/app-next-example-extensions/src/extensions/ScmIntegrationApi.ts
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app-next-example-extensions/src/extensions/index.ts
  packages/app-next-example-extensions/src/index.ts
  packages/app-next-example-extensions/src/setupTests.ts
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  packages/app-next/src/index-public-experimental.tsx
  packages/app/src/App.tsx
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

rename the role to frontend-extensions
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
Owners: @backstage/maintainers, @backstage/reviewers

added the frontend-extension-bundle role
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/cli-node/api-report.md
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
Owners: @backstage/maintainers, @backstage/reviewers

fixup
  packages/app-next-example-extensions/api-report.md
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app/src/App.tsx
  packages/cli-node/api-report.md
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: clean up output mismatch error message
  packages/frontend-plugin-api/src/wiring/createExtension.ts
Owners: @backstage/maintainers, @backstage/reviewers

chore: wip some things
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.tsx
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: refactor createDataContainer -> createExtensionDataContainer
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createExtensionDataContainer.ts
  packages/frontend-plugin-api/src/wiring/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: move out resolveInputOverrides
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveInputOverrides.ts
Owners: @backstage/maintainers, @backstage/reviewers

docs: update docs with granular access to scaffolder tasks
  docs/features/software-templates/authorizing-scaffolder-template-details.md
Owners: @backstage/maintainers, @backstage/reviewers

added tests
  plugins/catalog-backend/src/service/AuthorizedCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationAnalyzer.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

feat: implementing plugin overrides
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.tsx
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createPlugin.ts
  packages/frontend-plugin-api/src/wiring/types.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: improved forwarding of inputs
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/resolveInputOverrides.ts
Owners: @backstage/maintainers, @backstage/reviewers

catalog: Move dialogs under EntityContextMenu
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.test.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

liveness probe shows only if available
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.test.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
Owners: @backstage/kubernetes-maintainers

doc(docs.features.softwareCatalog.systemModel): fix typo
  docs/features/software-catalog/system-model.md
Owners: @backstage/maintainers, @backstage/reviewers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/adr                                      @backstage/maintainers @backstage/reviewers @kuangp
/plugins/adr-*                                    @backstage/maintainers @backstage/reviewers @kuangp
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/azure-devops                             @backstage/maintainers @backstage/reviewers @awanlin
/plugins/azure-devops-backend                     @backstage/maintainers @backstage/reviewers @awanlin
/plugins/azure-devops-common                      @backstage/maintainers @backstage/reviewers @awanlin
/plugins/analytics-module-newrelic-browser        @backstage/maintainers @backstage/reviewers @jmezach
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/bitrise                                  @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/cicd-statistics                          @backstage/sharks
/plugins/circleci                                 @backstage/maintainers @backstage/reviewers @adamdmharvey
/plugins/code-coverage                            @backstage/maintainers @backstage/reviewers @alde
/plugins/code-coverage-backend                    @backstage/maintainers @backstage/reviewers @alde
/plugins/cost-insights                            @backstage/maintainers @backstage/reviewers @backstage/silver-lining
/plugins/cost-insights-*                          @backstage/maintainers @backstage/reviewers @backstage/silver-lining
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/entity-feedback                          @backstage/maintainers @backstage/reviewers @kuangp
/plugins/entity-feedback-*                        @backstage/maintainers @backstage/reviewers @kuangp
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/explore                                  @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/explore-react                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/fossa                                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/git-release-manager                      @backstage/maintainers @backstage/reviewers @erikengervall
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kafka                                    @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/kafka-backend                            @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/linguist                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/linguist-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/linguist-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/octopus-deploy                           @backstage/maintainers @backstage/reviewers @jmezach
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/playlist                                 @backstage/maintainers @backstage/reviewers @kuangp
/plugins/playlist-*                               @backstage/maintainers @backstage/reviewers @kuangp
/plugins/rollbar                                  @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/rollbar-backend                          @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/sonarqube                                @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/tech-insights-backend                    @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-backend-module-jsonfc      @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-tech-insights-common       @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-tech-insights-node         @backstage/maintainers @backstage/reviewers @xantier

knip-report.md
