Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers

Update Backend Dynamic Feature Service to provide the router for frontend plugins
  packages/backend-dynamic-feature-service/package.json
  packages/backend-dynamic-feature-service/src/features/__fixtures__/dynamic-plugins-root/test-backend-dynamic/dist/index.cjs.js
  packages/backend-dynamic-feature-service/src/features/__fixtures__/dynamic-plugins-root/test-backend-dynamic/node_modules/private-dep-with-frontend-plugin-index-path/index.js
  packages/backend-dynamic-feature-service/src/features/features.test.ts
  packages/backend-dynamic-feature-service/src/features/features.ts
  packages/backend-dynamic-feature-service/src/schema/openapi.yaml
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/apis/DefaultApi.server.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/apis/index.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/index.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/models/ErrorError.model.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/models/ErrorRequest.model.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/models/ErrorResponse.model.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/models/ModelError.model.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/models/index.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/generated/router.ts
  packages/backend-dynamic-feature-service/src/schema/openapi/index.ts
  packages/backend-dynamic-feature-service/src/server/index.ts
  packages/backend-dynamic-feature-service/src/server/plugin.ts
  packages/backend-dynamic-feature-service/src/server/router.ts
Owners: @backstage/maintainers, @backstage/reviewers

Update styles.css
  packages/canon/src/components/Checkbox/styles.css
Owners: @backstage/maintainers, @backstage/reviewers

apply requested changes (wip)
  docs/backend-system/core-services/auditor.md
  packages/backend-defaults/src/entrypoints/auditor/Auditor.test.ts
  packages/backend-defaults/src/entrypoints/auditor/Auditor.ts
  packages/backend-defaults/src/entrypoints/auditor/auditorServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auditor/index.ts
  packages/backend-test-utils/src/next/services/MockAuditorService.test.ts
  packages/backend-test-utils/src/next/services/MockAuditorService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers

chore: move to using useApi instead
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.ts
  plugins/scaffolder/src/components/Router/Router.test.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

add changeset
  .changeset/wise-students-tell.md
Owners: none

Improve styling + add Table components
  packages/canon/.storybook/preview.tsx
  packages/canon/src/components/Button/styles.css
  packages/canon/src/components/Checkbox/styles.css
  packages/canon/src/components/Table/Docs.mdx
  packages/canon/src/components/Table/Table.tsx
  packages/canon/src/components/Table/stories/Table.stories.tsx
  packages/canon/src/components/Table/stories/TableBody.stories.tsx
  packages/canon/src/components/Table/stories/TableCaption.stories.tsx
  packages/canon/src/components/Table/stories/TableCell.stories.tsx
  packages/canon/src/components/Table/stories/TableFooter.stories.tsx
  packages/canon/src/components/Table/stories/TableHead.stories.tsx
  packages/canon/src/components/Table/stories/TableHeader.stories.tsx
  packages/canon/src/components/Table/stories/TableRow.stories.tsx
  packages/canon/src/components/Table/styles.css
  packages/canon/src/css/backstage.css
  packages/canon/src/css/components.css
  packages/canon/src/css/normalize.css
Owners: @backstage/maintainers, @backstage/reviewers

add api report
  plugins/scaffolder-node/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

fix public export
  plugins/home/src/assets/TemplateBackstageLogo.tsx
Owners: @backstage/home-maintainers

fix microsite and storybook issues
  microsite/src/components/bannerSection/bannerSection.tsx
  microsite/src/components/bannerSection/bannerSectionGrid.tsx
  microsite/src/components/contentBlock/contentBlock.tsx
  microsite/src/components/pluginsFilter/pluginsFilter.tsx
  microsite/src/components/simpleCard/simpleCard.tsx
  microsite/src/pages/community/index.tsx
  microsite/src/pages/demos/index.tsx
  microsite/src/pages/getting-involved/index.tsx
  microsite/src/pages/home/_home.tsx
  microsite/src/pages/home/_hubSpotNewAdoptersForm.tsx
  microsite/src/pages/link.tsx
  microsite/src/pages/plugins/_pluginCard.tsx
  microsite/src/pages/plugins/index.tsx
  storybook/yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

fix: remove unnecessary changes by the auto imports grupping
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.test.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

feat: add changeset
  .changeset/strong-students-beg.md
Owners: none
