Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers

create-app: remove lock seed for nwsapi
  packages/create-app/seed-yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers

restrictUsersToGroup should use the entire groupPath
  .changeset/blue-dragons-shout.md
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fixed spelling in changeset
  .changeset/blue-dragons-shout.md
Owners: none

updated test data
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Update docs/plugins/guides/101/meta.md
  docs/plugins/guides/101/meta.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

Apply suggestions from code review
  docs/plugins/guides/meta.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

remove confusing section around plugin building
  docs/plugins/guides/101/meta.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

Fix existing tests
  plugins/techdocs/src/reader/transformers/html/transformer.sanitizer.test.tsx
  plugins/techdocs/src/reader/transformers/html/transformer.test.tsx
Owners: @backstage/techdocs-maintainers

Add new test for relative iframes
  plugins/techdocs/src/reader/transformers/html/transformer.test.tsx
Owners: @backstage/techdocs-maintainers

Fix parsing issue with relative paths
  plugins/techdocs/src/reader/transformers/html/hooks/iframes.ts
Owners: @backstage/techdocs-maintainers

Update `fetch` ADR regarding `msw`
  docs/architecture-decisions/adr014-use-fetch.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

add more data to deployment.json for k8s
  .changeset/brown-cobras-battle.md
  plugins/kubernetes/src/__fixtures__/1-deployments.json
Owners: @backstage/kubernetes-maintainers

remove changeset
  .changeset/brown-cobras-battle.md
Owners: none

some more
  .changeset/sixty-shirts-rescue.md
  contrib/scaffolder/template-testing-dry-run.md
  docs/backend-system/core-services/discovery.md
  docs/backend-system/core-services/scheduler.md
  docs/plugins/integrating-search-into-plugins.md
  packages/backend-defaults/report-urlReader.api.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/ReadUrlResponseFactory.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadTreeResponseFactory.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/types.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/util.ts
  packages/backend-defaults/src/entrypoints/userInfo/DefaultUserInfoService.ts
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.test.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/helpers.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.test.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/catalog-maintainers, @backstage/scaffolder-maintainers, @backstage-service

yarn-plugin: backfill changelog
  packages/yarn-plugin/CHANGELOG.md
Owners: @backstage/maintainers, @backstage/reviewers

release-manifests: allow overriding fetch implementation
  .changeset/violet-snakes-laugh.md
  packages/release-manifests/report.api.md
  packages/release-manifests/src/manifest.test.ts
  packages/release-manifests/src/manifest.ts
Owners: @backstage/maintainers, @backstage/reviewers

yarn-plugin: use yarn's httpUtils to fetch release manifests
  .changeset/beige-chicken-type.md
  packages/yarn-plugin/package.json
  packages/yarn-plugin/src/handlers/beforeWorkspacePacking.test.ts
  packages/yarn-plugin/src/handlers/beforeWorkspacePacking.ts
  packages/yarn-plugin/src/resolver/BackstageResolver.test.ts
  packages/yarn-plugin/src/resolver/BackstageResolver.ts
  packages/yarn-plugin/src/util.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

Update custom transformers with logic to explain why we would make the change
  docs/integrations/azure/org.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

repo-tools: make generate-patch only create a single resolutions entry
  .changeset/tiny-mice-run.md
  packages/repo-tools/src/commands/generate-patch/generate-patch.ts
Owners: @backstage/maintainers, @backstage/reviewers

Introduce kubernetes resource permission
  .changeset/real-foxes-film.md
  plugins/kubernetes-backend/src/auth/requirePermission.ts
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/index.ts
  plugins/kubernetes-common/src/permissions.ts
Owners: @backstage/kubernetes-maintainers

Support future compatibility for permissions
  plugins/kubernetes-backend/src/auth/requirePermission.ts
Owners: @backstage/kubernetes-maintainers

Split resource permission
  .changeset/real-foxes-film.md
  plugins/kubernetes-backend/src/auth/requirePermission.ts
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/index.ts
  plugins/kubernetes-common/src/permissions.ts
Owners: @backstage/kubernetes-maintainers

cli: add support for --output-file option for lint commands
  .changeset/seven-bulldogs-count.md
  packages/cli/cli-report.md
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/lint.ts
  packages/cli/src/commands/repo/lint.ts
Owners: @backstage/maintainers, @backstage/reviewers

chore: sets the connection type to default for postgres
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.test.ts
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Owners: @backstage/maintainers, @backstage/reviewers

remove experimental prefix and add instance metadata example plugin by default
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/src/alpha.ts
  packages/backend/src/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

fix nulls in by-query
  .changeset/gold-stingrays-cross.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix api report
  packages/backend-plugin-api/report-alpha.api.md
Owners: @backstage/maintainers, @backstage/reviewers

Set up some state, introduce the janitor
  plugins/catalog-backend/migrations/20241117000000_separate_queues.js
  plugins/catalog-backend/src/database/DatabaseJanitor.test.ts
  plugins/catalog-backend/src/database/DatabaseJanitor.ts
  plugins/catalog-backend/src/database/DefaultCatalogDatabase.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.test.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.ts
  plugins/catalog-backend/src/database/operations/refreshState/ensureStateQueueIsPopulated.test.ts
  plugins/catalog-backend/src/database/operations/refreshState/ensureStateQueueIsPopulated.ts
  plugins/catalog-backend/src/database/operations/refreshState/insertUnprocessedEntity.ts
  plugins/catalog-backend/src/database/operations/refreshState/updateUnprocessedEntity.test.ts
  plugins/catalog-backend/src/database/operations/refreshState/updateUnprocessedEntity.ts
  plugins/catalog-backend/src/database/operations/stitcher/markDeferredStitchCompleted.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.test.ts
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/providers/DefaultLocationStore.test.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.test.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Add migrations
  plugins/catalog-backend/migrations/20241117000000_separate_queues.js
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix import
  packages/backend/src/instanceMetadata.ts
Owners: @backstage/maintainers, @backstage/reviewers

fix code and tests
  plugins/catalog-backend/src/database/DefaultCatalogDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultCatalogDatabase.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/getDeferredStitchableEntities.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.test.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

changeset
  .changeset/orange-ducks-lie.md
  .github/vale/config/vocabularies/Backstage/accept.txt
Owners: @backstage/maintainers, @backstage/reviewers

Add GetTemplateParameterSchema
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Create openapi.yaml
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add ListTasks
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/scaffolder-maintainers

Add GetTask
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add Scaffold
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add ListActions
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add StreamLogsEventStream
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add StreamLogsPolling
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers
