Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @kuangp, @backstage/sda-se-reviewers, @awanlin, @jmezach, @pjungermann, @backstage/catalog-maintainers, @adamdmharvey, @alde, @backstage/silver-lining, @backstage/events-maintainers, @erikengervall, @backstage/home-maintainers, @andrewthauer, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers, @xantier

Add the ablity to style the tabbed card
  packages/core-components/src/layout/TabbedCard/TabbedCard.test.tsx
  packages/core-components/src/layout/TabbedCard/TabbedCard.tsx
Owners: @backstage/maintainers, @backstage/reviewers

catalog: Allow customizing EntityLayout header
  .changeset/quick-eagles-smell.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityContextMenu/index.ts
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/components/EntityLayout/index.ts
  plugins/catalog/src/index.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Adding Changeset
  .changeset/big-emus-add.md
Owners: none

Update configuration.md typo
  docs/features/techdocs/configuration.md
Owners: @backstage/techdocs-maintainers

chore: restructure tests and fix api-report
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
Owners: @backstage/maintainers, @backstage/reviewers

chore: added a simple changeset
  .changeset/fresh-timers-walk.md
Owners: none

chore: updating changeset
  .changeset/fresh-timers-walk.md
Owners: none

feat: move the core extensions to frontend-defaults
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-defaults/.eslintrc.js
  packages/frontend-defaults/README.md
  packages/frontend-defaults/catalog-info.yaml
  packages/frontend-defaults/package.json
  packages/frontend-defaults/src/extensions/App.tsx
  packages/frontend-defaults/src/extensions/AppLayout.tsx
  packages/frontend-defaults/src/extensions/AppNav.tsx
  packages/frontend-defaults/src/extensions/AppRoot.tsx
  packages/frontend-defaults/src/extensions/AppRoutes.tsx
  packages/frontend-defaults/src/extensions/components.tsx
  packages/frontend-defaults/src/extensions/elements.tsx
  packages/frontend-defaults/src/extensions/themes.tsx
  packages/frontend-defaults/src/index.ts
  packages/frontend-defaults/src/setupTests.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

Fixes issue #25011: Updated package.json
  package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

chore: fix spelling mistake
  packages/frontend-plugin-api/src/wiring/createPlugin.ts
Owners: @backstage/maintainers, @backstage/reviewers

Add tests for VirtualizedListBox
  .changeset/big-countries-wait.md
  plugins/scaffolder/src/components/fields/VirtualizedListbox.test.tsx
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Revert "added the `frontend-extensions` package role"
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/.eslintrc.js
  packages/app-next-example-extensions/README.md
  packages/app-next-example-extensions/api-report.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/dummy.test.ts
  packages/app-next-example-extensions/src/extensions/ScmAuthApi.ts
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app-next-example-extensions/src/extensions/index.ts
  packages/app-next-example-extensions/src/index.ts
  packages/app-next-example-extensions/src/setupTests.ts
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  packages/app-next/src/HomePage.tsx
  packages/app-next/src/examples/notFoundErrorPageExtension.tsx
  packages/app-next/src/index-public-experimental.tsx
  packages/app-next/src/overrides/SignInPage.tsx
  packages/cli-node/api-report.md
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

Fixes issue #25011 (#25721)
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.stories.tsx
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

changed return object from variable
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.test.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
Owners: @backstage/kubernetes-maintainers

Fix: GCP IAP Config and Docs
  .changeset/rare-maps-wave.md
  docs/auth/google/gcp-iap-auth.md
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.tsx
  plugins/auth-backend-module-gcp-iap-provider/config.d.ts
Owners: @backstage/maintainers, @backstage/reviewers

Update scripts/list-frontend-feature.js
  scripts/list-frontend-feature.js
Owners: @backstage/maintainers, @backstage/reviewers

Add note about bin entries for multi-stage Docker build
  docs/deployment/docker.md
Owners: @backstage/maintainers, @backstage/reviewers

change api auth utility to hook
  packages/app-defaults/src/defaults/apis.ts
  packages/core-app-api/api-report.md
  packages/core-app-api/package.json
  packages/core-app-api/src/apis/implementations/index.ts
  packages/core-components/package.json
  packages/core-components/src/layout/SignInPage/SignInPage.tsx
  packages/core-components/src/layout/SignInPage/providers.tsx
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/AuthErrorApi.ts
  packages/core-plugin-api/src/apis/definitions/index.ts
  plugins/auth-react/src/hooks/index.ts
  plugins/auth-react/src/hooks/useSignInAuthError/index.tsx
  plugins/auth-react/src/hooks/useSignInAuthError/useSignInAuthError.test.tsx
  plugins/auth-react/src/hooks/useSignInAuthError/useSignInAuthError.tsx
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

update test
  packages/frontend-app-api/src/wiring/createApp.test.tsx
Owners: @backstage/maintainers, @backstage/reviewers

update changeset
  .changeset/violet-beds-promise.md
Owners: none

api report
  plugins/auth-react/api-report.md
  plugins/auth-react/src/hooks/useSignInAuthError/useSignInAuthError.tsx
Owners: @backstage/maintainers, @backstage/reviewers

chore: exit pre Signed-off-by: blam <ben@blam.sh>
  .changeset/pre.json
Owners: @backstage/maintainers, @backstage/reviewers

beps/0010: refactor + call out backwards compatiblity
  beps/0010-scaffolder-templating-in-parameters/README.md
Owners: @backstage/maintainers, @backstage/reviewers

docs/frontend-system: make space in architecture docs
  docs/frontend-system/architecture/00-index.md
  docs/frontend-system/architecture/10-app.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/20-extensions.md
  docs/frontend-system/architecture/25-extension-overrides.md
  docs/frontend-system/architecture/30-references.md
  docs/frontend-system/architecture/33-utility-apis.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/building-apps/01-index.md
  docs/frontend-system/building-apps/03-built-in-extensions.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/02-testing.md
  docs/frontend-system/building-plugins/03-extension-types.md
  docs/frontend-system/building-plugins/04-built-in-data-refs.md
  docs/frontend-system/utility-apis/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/04-configuring.md
  docs/plugins/composability.md
  microsite/sidebars.json
Owners: @backstage/maintainers, @backstage/reviewers

docs: add placeholder extension blueprints doc
  docs/frontend-system/architecture/23-extension-blueprints.md
  microsite/sidebars.json
Owners: @backstage/maintainers, @backstage/reviewers

chore: add @types/webpack-sources dev dep
  packages/cli/package.json
  packages/cli/src/lib/bundler/backend.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

feat: experimentally support using rspack instead
  packages/cli/package.json
  packages/cli/src/commands/build/buildFrontend.ts
  packages/cli/src/commands/build/command.ts
  packages/cli/src/lib/bundler/bundle.ts
  packages/cli/src/lib/bundler/config.ts
  packages/cli/src/lib/bundler/optimization.ts
  packages/cli/src/lib/bundler/server.ts
  packages/cli/src/lib/bundler/transforms.ts
  packages/cli/src/lib/bundler/types.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

chore: add related changeset
  .changeset/green-berries-wave.md
  packages/cli/src/lib/bundler/optimization.ts
Owners: @backstage/maintainers, @backstage/reviewers

chore: rebase issue
  packages/cli/src/lib/bundler/config.ts
Owners: @backstage/maintainers, @backstage/reviewers

chore: override experiments unexpectedly
  packages/cli/src/lib/bundler/config.ts
Owners: @backstage/maintainers, @backstage/reviewers

docs/frontend-system: initial extension blueprint docs with usage
  docs/frontend-system/architecture/23-extension-blueprints.md
Owners: @backstage/maintainers, @backstage/reviewers

docs/frontend-system: remove extension creator docs
  docs/frontend-system/architecture/20-extensions.md
Owners: @backstage/maintainers, @backstage/reviewers

refactor: remove deprecated url reader service types
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/index.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/techdocs-node/src/helpers.test.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage-service

fix(backend-dynamic-feature-service): fix root lifecycle service factory import
  packages/backend-dynamic-feature-service/src/manager/plugin-manager.test.ts
Owners: @backstage/maintainers, @backstage/reviewers

chore: Update imports
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
Owners: @backstage/kubernetes-maintainers

backend-app-api: Remove deprecated MiddlewareFactory
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/http/index.ts
  packages/backend-app-api/src/index.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-node/package.json
  plugins/kubernetes-node/src/auth/PinnipedHelper.test.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/service/router.test.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/kubernetes-maintainers, @backstage/scaffolder-maintainers, @backstage-service

backend-defaults: Stop accepting callback BackendFeatures for `backend.add`
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/wiring/BackstageBackend.ts
  packages/backend-app-api/src/wiring/types.ts
Owners: @backstage/maintainers, @backstage/reviewers

backend-defaults: Added deprecation warning for the dangerouslyDisableDefaultAuthPolicy config option
  docs/tutorials/auth-service-migration.md
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
Owners: @backstage/maintainers, @backstage/reviewers

backend-app-api: Move deprecated loadBackendConfig to backend-common
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/index.ts
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/config.ts
  packages/backend-common/src/deprecated/config/ObservableConfigProxy.test.ts
  packages/backend-common/src/deprecated/config/ObservableConfigProxy.ts
  packages/backend-common/src/deprecated/config/config.test.ts
  packages/backend-common/src/deprecated/config/config.ts
  packages/backend-common/src/deprecated/config/index.ts
  packages/backend-common/src/deprecated/config/urls.test.ts
  packages/backend-common/src/deprecated/config/urls.ts
  packages/backend-dynamic-feature-service/src/schemas/rootLoggerServiceFactory.ts
Owners: @backstage/maintainers, @backstage/reviewers

backend-defaults: remove unused dependencies
  packages/backend-app-api/package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/adr                                      @backstage/maintainers @backstage/reviewers @kuangp
/plugins/adr-*                                    @backstage/maintainers @backstage/reviewers @kuangp
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/azure-devops                             @backstage/maintainers @backstage/reviewers @awanlin
/plugins/azure-devops-backend                     @backstage/maintainers @backstage/reviewers @awanlin
/plugins/azure-devops-common                      @backstage/maintainers @backstage/reviewers @awanlin
/plugins/analytics-module-newrelic-browser        @backstage/maintainers @backstage/reviewers @jmezach
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/bitrise                                  @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/cicd-statistics                          @backstage/sharks
/plugins/circleci                                 @backstage/maintainers @backstage/reviewers @adamdmharvey
/plugins/code-coverage                            @backstage/maintainers @backstage/reviewers @alde
/plugins/code-coverage-backend                    @backstage/maintainers @backstage/reviewers @alde
/plugins/cost-insights                            @backstage/maintainers @backstage/reviewers @backstage/silver-lining
/plugins/cost-insights-*                          @backstage/maintainers @backstage/reviewers @backstage/silver-lining
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/entity-feedback                          @backstage/maintainers @backstage/reviewers @kuangp
/plugins/entity-feedback-*                        @backstage/maintainers @backstage/reviewers @kuangp
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/explore                                  @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/explore-react                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/fossa                                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/git-release-manager                      @backstage/maintainers @backstage/reviewers @erikengervall
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kafka                                    @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/kafka-backend                            @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/linguist                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/linguist-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/linguist-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/octopus-deploy                           @backstage/maintainers @backstage/reviewers @jmezach
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/playlist                                 @backstage/maintainers @backstage/reviewers @kuangp
/plugins/playlist-*                               @backstage/maintainers @backstage/reviewers @kuangp
/plugins/rollbar                                  @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/rollbar-backend                          @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/sonarqube                                @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/tech-insights-backend                    @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-backend-module-jsonfc      @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-tech-insights-common       @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-tech-insights-node         @backstage/maintainers @backstage/reviewers @xantier

knip-report.md
