Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers

Remove tokenmanager from module
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.ts
  plugins/events-backend-module-bitbucket-server/api-report-alpha.md
  plugins/events-backend-module-bitbucket-server/src/service/eventsModuleBitbucketServerRouter.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/events-maintainers

Remove deprecated package and fix yarn file
  plugins/catalog-backend-module-bitbucket-server/package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage-service

Fix unused imports and api report
  plugins/catalog-backend-module-bitbucket-server/report.api.md
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Fixed all catalog update tests
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-bitbucket-server/report.api.md
  plugins/catalog-backend-module-bitbucket-server/src/lib/types.ts
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/events-backend-module-bitbucket-server/report-alpha.api.md
  plugins/events-backend-module-bitbucket-server/report.api.md
  plugins/events-backend-module-bitbucket-server/src/index.ts
  plugins/events-backend-module-bitbucket-server/src/service/eventsModuleBitbucketServerEventRouter.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/events-maintainers, @backstage-service

Remove documentation temporarily
  plugins/catalog-backend-module-bitbucket-server/report.api.md
  plugins/catalog-backend-module-bitbucket-server/src/lib/types.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Fix yarn lock
  yarn.lock
Owners: @backstage/maintainers, @backstage-service

Fix package deps catalog plugin
  plugins/catalog-backend-module-bitbucket-server/package.json
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

wip
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.tsx
  plugins/catalog-react/src/components/EntityKindPicker/kindFilterUtils.ts
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityKindFilter.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

show a properly capitalized Kind in CatalogTable title
  plugins/catalog-react/src/components/EntityKindPicker/kindFilterUtils.ts
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityKindFilter.ts
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

implement single-item fetches to go by refs instead of filters
  .changeset/itchy-ravens-punch.md
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Use a join based strategy for filtering, when having small page sizes
  .changeset/empty-colts-promise.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/request/applyEntityFilterToQuery.test.ts
  plugins/catalog-backend/src/service/request/applyEntityFilterToQuery.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Improve Button docs
  packages/canon/docs/components/Canvas/index.tsx
  packages/canon/src/components/Button/Button.stories.tsx
  packages/canon/src/components/Button/Docs.mdx
Owners: @backstage/maintainers, @backstage/reviewers

Fix Grid.Item
  packages/canon/report.api.md
  packages/canon/src/components/Grid/Docs.mdx
  packages/canon/src/components/Grid/Grid.stories.tsx
  packages/canon/src/components/Grid/Grid.tsx
Owners: @backstage/maintainers, @backstage/reviewers

Fix installation instructions
  packages/canon/src/components/Box/Docs.mdx
  packages/canon/src/components/Container/Docs.mdx
  packages/canon/src/components/Grid/Docs.mdx
  packages/canon/src/components/Inline/Docs.mdx
  packages/canon/src/components/Stack/Docs.mdx
Owners: @backstage/maintainers, @backstage/reviewers

backend-app-api: enable service overrides over feature loaders
  .changeset/heavy-tomatoes-laugh.md
  docs/backend-system/architecture/07-feature-loaders.md
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers

api reports
  plugins/catalog-react/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

add changesets
  .changeset/blue-bobcats-hear.md
  .changeset/stale-actors-sin.md
Owners: none

i need an adult (someone that knows react)
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix tests in catalog
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

build api reports (who knows if this will work)
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/report.api.md
  plugins/catalog/report-alpha.api.md
  plugins/catalog/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

literally just run it again, different result
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/report.api.md
  plugins/catalog/report-alpha.api.md
  plugins/catalog/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

manual revert of plugins/catalog/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

rebase
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

finish rebasing
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

i will never understand how i keep messing up these api reports
  plugins/catalog/report-alpha.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

not sure what happened to my static title behaviour during rebase
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

update changeset
  .changeset/stale-actors-sin.md
Owners: none

docs(notifications): split to multiple docs and add more info
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/notifications/index.md
  docs/notifications/processors.md
  docs/notifications/usage.md
  microsite/sidebars.js
  mkdocs.yml
  plugins/notifications-backend-module-email/README.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/documentation-maintainers, @backstage/notifications-maintainers

feat(lint): Add `--quiet` to repo lint
  .changeset/giant-shoes-reflect.md
  docs/tooling/cli/03-commands.md
  packages/cli/cli-report.md
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/repo/lint.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers

docs: add kubecon slc post
  microsite/blog/2024-12-09-kubecon-slc-24.mdx
  microsite/blog/assets/2024-12-09/backstagecon-kubecon-2024-salt-lake-city.png
  microsite/blog/assets/2024-12-09/kc24slc-cncf-adobe.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup1.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup2.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup3.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup4.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup5.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-entrance.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-kiosk.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-toyota.jpg
  microsite/blog/assets/2024-12-09/kc24slc-spotify-backstagecon.jpg
  microsite/blog/assets/2024-12-09/kc24slc-spotify-cncf-contribfest.gif
  microsite/blog/assets/2024-12-09/kc24slc-spotify-maintainers.jpg
Owners: @backstage/maintainers, @backstage/reviewers

backend-app-api: fix handling of multiton factories from feature loaders
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.ts
Owners: @backstage/maintainers, @backstage/reviewers

Remove jhaals as maintainer
  OWNERS.md
Owners: @backstage/maintainers, @backstage/reviewers

Delete index.tsx
  packages/canon/docs/components/Canvas/index.tsx
Owners: @backstage/maintainers, @backstage/reviewers

Support future compatibility for permissions
  plugins/kubernetes-backend/src/auth/requirePermission.ts
Owners: @backstage/kubernetes-maintainers

Introduce kubernetes resource permission
  .changeset/real-foxes-film.md
  plugins/kubernetes-backend/src/auth/requirePermission.ts
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/index.ts
  plugins/kubernetes-common/src/permissions.ts
Owners: @backstage/kubernetes-maintainers

Split resource permission
  .changeset/real-foxes-film.md
  plugins/kubernetes-backend/src/auth/requirePermission.ts
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/index.ts
  plugins/kubernetes-common/src/permissions.ts
Owners: @backstage/kubernetes-maintainers

Update names to plural
  .changeset/real-foxes-film.md
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/index.ts
  plugins/kubernetes-common/src/permissions.ts
Owners: @backstage/kubernetes-maintainers

feat: added description to renderer
  .changeset/tasty-waves-reply.md
  plugins/home-react/report.api.md
  plugins/home-react/src/extensions.tsx
Owners: @backstage/home-maintainers

test(notifications): improve router tests
  .changeset/weak-lemons-sing.md
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
Owners: @backstage/maintainers, @backstage/notifications-maintainers

Remove Vanilla Extract CSS from Storybook docs
  packages/canon/docs/components/Chip/Chip.tsx
  packages/canon/docs/components/Chip/styles.css
  packages/canon/docs/components/Columns/Columns.tsx
  packages/canon/docs/components/Columns/styles.css
  packages/canon/docs/components/ComponentStatus/ComponentStatus.tsx
  packages/canon/docs/components/ComponentStatus/index.tsx
  packages/canon/docs/components/ComponentStatus/styles.css
  packages/canon/docs/components/IconLibrary/index.tsx
  packages/canon/docs/components/LayoutComponents/index.tsx
  packages/canon/docs/components/LayoutComponents/styles.css
  packages/canon/docs/components/Table/index.tsx
  packages/canon/docs/components/Table/styles.css
  packages/canon/docs/components/Table/table.css.ts
  packages/canon/docs/components/Text/Text.tsx
  packages/canon/docs/components/Text/styles.css
  packages/canon/docs/components/Title/Title.tsx
  packages/canon/docs/components/Title/styles.css
  packages/canon/docs/components/Title/title.css.ts
  packages/canon/docs/components/styles.css
Owners: @backstage/maintainers, @backstage/reviewers
