Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

scaffolder-backend: expose templateManagementPermission
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-common/src/permissions.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

scaffolder-backend: refine changeset
  .changeset/twenty-monkeys-applaud.md
Owners: none

permission-node: duplicate permissions changeset
  .changeset/rich-maps-invite.md
Owners: none

scaffolder-common: rollback api reports
  plugins/scaffolder-common/report-alpha.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Fix dark mode
  packages/canon/docs/Theme.mdx
  packages/canon/docs/components/LayoutComponents/layout-components.css.ts
  packages/canon/src/components/Box/box.css.ts
  packages/canon/src/components/Button/styles.css
  packages/canon/src/theme/theme.css
Owners: @backstage/maintainers, @backstage/reviewers

Move props
  packages/canon/src/components/Button/Button.tsx
Owners: @backstage/maintainers, @backstage/reviewers

Cleanup API report
  packages/canon/report.api.md
  packages/canon/src/components/Grid/Grid.tsx
  packages/canon/src/components/Inline/Inline.tsx
  packages/canon/src/components/Stack/Stack.tsx
Owners: @backstage/maintainers, @backstage/reviewers

canon: use inset box-shadows for button styles
  packages/canon/src/components/Button/styles.css
Owners: @backstage/maintainers, @backstage/reviewers

feat(catalog): always use search for UrlReaderProcessor
  .changeset/tiny-spoons-repeat.md
  packages/backend-defaults/report-urlReader.api.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsCodeCommitUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsCodeCommitUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsS3UrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsS3UrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GithubUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GithubUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

feat: add config flag
  .changeset/tiny-spoons-repeat.md
  app-config.yaml
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/processors/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage-service

custom AuthConnector for OAuth2
  .changeset/brave-pandas-beam.md
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.ts
  packages/core-app-api/src/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

simplify the generated filters when parsing a query
  .changeset/small-boxes-enjoy.md
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.test.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

add support for experimental rspack bundler for the cli repo build command
  .changeset/ten-cars-end.md
  packages/cli/src/commands/repo/build.ts
  packages/cli/src/lib/bundler/bundle.ts
  packages/cli/src/lib/bundler/server.ts
Owners: @backstage/maintainers, @backstage/reviewers

Perform the by-query count inlined with the main query
  .changeset/dry-badgers-prove.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

drain once
  plugins/catalog-backend/src/service/createRouter.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

review comments
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/util.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

implement entities in terms of queryEntities
  .changeset/fifty-countries-decide.md
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Create jenkins-actions.yaml
  microsite/data/plugins/jenkins-actions.yaml
Owners: @backstage/maintainers, @backstage/reviewers

skip counting
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

move conditions back to -backend module
  docs/features/software-templates/authorizing-scaffolder-template-details.md
  plugins/scaffolder-backend/report-alpha.api.md
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/alpha-deprecated.ts
  plugins/scaffolder-backend/src/alpha.ts
  plugins/scaffolder-backend/src/deprecated.ts
  plugins/scaffolder-backend/src/permissions/conditionExports.ts
  plugins/scaffolder-backend/src/permissions/index.ts
  plugins/scaffolder-backend/src/permissions/rules/index.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderActionRules.test.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderActionRules.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderTemplateEntityRules.test.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderTemplateEntityRules.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderTemplateRules.test.ts
  plugins/scaffolder-backend/src/permissions/rules/scaffolderTemplateRules.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/src/extensions.ts
  plugins/scaffolder-node/src/permissions/alpha.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

add deprecation aliases
  .changeset/flat-geckos-wait.md
  .changeset/pretty-zoos-fetch.md
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/deprecated.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

fix api-report weirdness
  plugins/scaffolder-backend/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add more template input examples to docs
  docs/features/software-templates/input-examples.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

fix: drain request after shutdown
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.ts
Owners: @backstage/maintainers, @backstage/reviewers

refactor: create pre shutdown lifecycle
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/createSpecializedBackend.test.ts
  packages/backend-defaults/src/CreateBackend.test.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootLifecycle/rootLifecycleServiceFactory.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.test.ts
  packages/backend-plugin-api/src/services/definitions/RootLifecycleService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
Owners: @backstage/maintainers, @backstage/reviewers

docs: add changeset files
  .changeset/green-carpets-smell.md
  .changeset/large-birds-watch.md
  .changeset/pretty-kiwis-travel.md
  .changeset/young-cobras-add.md
Owners: none

refactor: use before shutdown hook name
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootLifecycle/rootLifecycleServiceFactory.ts
  packages/backend-plugin-api/src/services/definitions/RootLifecycleService.ts
Owners: @backstage/maintainers, @backstage/reviewers

docs: update backend-plugin-api changeset
  .changeset/green-carpets-smell.md
Owners: none

docs: update api report
  packages/backend-plugin-api/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers

refator: move lifecycle middleware to root http
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/report-rootHttpRouter.api.md
  packages/backend-defaults/src/entrypoints/httpRouter/httpRouterServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/createHttpServer.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers, @backstage-service

[docs] Update provider.md for newest provider
  docs/auth/atlassian/provider.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

Add new Container component
  packages/canon/docs/Home.mdx
  packages/canon/src/components/Container/Container.stories.tsx
  packages/canon/src/components/Container/Container.tsx
  packages/canon/src/components/Container/Docs.mdx
  packages/canon/src/components/Container/index.tsx
  packages/canon/src/components/Container/sprinkles.css.ts
  packages/canon/src/components/Container/styles.css
  packages/canon/src/components/Container/types.ts
  packages/canon/src/theme/theme.css
Owners: @backstage/maintainers, @backstage/reviewers

Update index.ts
  packages/canon/src/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

Add forwardRef everywhere
  packages/canon/docs/components/LayoutComponents/index.tsx
  packages/canon/src/components/Box/Box.tsx
  packages/canon/src/components/Grid/Grid.tsx
  packages/canon/src/components/Inline/Inline.tsx
  packages/canon/src/components/Stack/Stack.tsx
Owners: @backstage/maintainers, @backstage/reviewers

Fix report API
  packages/canon/report.api.md
  packages/canon/src/components/Grid/Docs.mdx
  packages/canon/src/components/Grid/Grid.stories.tsx
  packages/canon/src/components/Grid/Grid.tsx
Owners: @backstage/maintainers, @backstage/reviewers

Added new theme to match Backstage
  packages/canon/.storybook/preview.tsx
  packages/canon/.storybook/themes/backstage.css
Owners: @backstage/maintainers, @backstage/reviewers

Fixed catalog backend tests and move backend-common to dependencies
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/events-backend-module-bitbucket-server/api-report-alpha.md
  plugins/events-backend-module-bitbucket-server/package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/events-maintainers, @backstage-service

Add Bitbucket Server Event Integration
  .changeset/nine-falcons-repeat.md
  docs/integrations/bitbucketServer/discovery.md
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-bitbucket-server/report.api.md
  plugins/catalog-backend-module-bitbucket-server/src/index.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/types.ts
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerLocationParser.ts
  plugins/events-backend-module-bitbucket-server/.eslintrc.js
  plugins/events-backend-module-bitbucket-server/README.md
  plugins/events-backend-module-bitbucket-server/api-report-alpha.md
  plugins/events-backend-module-bitbucket-server/api-report.md
  plugins/events-backend-module-bitbucket-server/catalog-info.yaml
  plugins/events-backend-module-bitbucket-server/package.json
  plugins/events-backend-module-bitbucket-server/src/alpha.ts
  plugins/events-backend-module-bitbucket-server/src/index.ts
  plugins/events-backend-module-bitbucket-server/src/router/BitbucketServerEventRouter.test.ts
  plugins/events-backend-module-bitbucket-server/src/router/BitbucketServerEventRouter.ts
  plugins/events-backend-module-bitbucket-server/src/service/eventsModuleBitbucketServerEventRouter.ts
  plugins/events-backend-module-bitbucket-server/src/service/eventsModuleBitbucketServerRouter.test.ts
  plugins/events-backend-module-bitbucket-server/src/setupTests.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/events-maintainers, @backstage-service

Fix events backend BBS report
  plugins/events-backend-module-bitbucket-server/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/events-maintainers

Fix api report
  plugins/catalog-backend-module-bitbucket-server/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
