Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

Add Retry
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add CancelTask
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add Autocomplete
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add DryRun
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Remove UserEntity model
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/scaffolder-backend/src/schema/openapi.yaml
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/scaffolder-maintainers

initial BEP
  beps/0012-template-execution-permissions/README.md
Owners: @backstage/maintainers, @backstage/reviewers

update BEP
  beps/0012-template-execution-permissions/README.md
Owners: @backstage/maintainers, @backstage/reviewers

rest error 304 proper handling
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureBlobStorageUrlReader.ts
Owners: @backstage/maintainers, @backstage/reviewers

fix: typed router export
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/router.ts
  packages/backend-openapi-utils/src/types/generated.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/openapi-tooling-maintainers

fix nulls in by-query
  .changeset/gold-stingrays-cross.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

yarn-plugin: use yarn's httpUtils to fetch release manifests
  .changeset/beige-chicken-type.md
  packages/yarn-plugin/package.json
  packages/yarn-plugin/src/handlers/beforeWorkspacePacking.test.ts
  packages/yarn-plugin/src/handlers/beforeWorkspacePacking.ts
  packages/yarn-plugin/src/resolver/BackstageResolver.test.ts
  packages/yarn-plugin/src/resolver/BackstageResolver.ts
  packages/yarn-plugin/src/util.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

Update .changeset/rich-suns-drive.md
  .changeset/rich-suns-drive.md
Owners: none

changeset
  .changeset/rich-suns-drive.md
Owners: none

reset
  .changeset/rich-suns-drive.md
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/router.ts
  packages/backend-openapi-utils/src/types/generated.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/openapi-tooling-maintainers

feat: add auditor to coreServices
  .changeset/olive-boxes-hide.md
  docs/backend-system/core-services/auditor.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/report-auditor.api.md
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/entrypoints/auditor/Auditor.test.ts
  packages/backend-defaults/src/entrypoints/auditor/Auditor.ts
  packages/backend-defaults/src/entrypoints/auditor/auditorServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auditor/index.ts
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.ts
  packages/backend-defaults/src/entrypoints/rootLogger/rootLoggerServiceFactory.ts
  packages/backend-defaults/src/lib/colorFormat.ts
  packages/backend-defaults/src/lib/defaultConsoleTransport.ts
  packages/backend-defaults/src/lib/redacterFormat.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/AuditorService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/next/services/MockAuditorService.test.ts
  packages/backend-test-utils/src/next/services/MockAuditorService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/catalog-backend/README.md
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/scaffolder-backend/README.md
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/tasks/types.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/scaffolder-maintainers

add testing
  plugins/techdocs/src/home/components/Grids/InfoCardGrid.test.tsx
  plugins/techdocs/src/home/components/Grids/InfoCardGrid.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
Owners: @backstage/techdocs-maintainers

add api report
  plugins/techdocs/report.api.md
Owners: @backstage/techdocs-maintainers

feat: add Altel Digital, Tele2 Kazakhstan as adopters
  ADOPTERS.md
Owners: @backstage/maintainers, @backstage/reviewers

feat: add Axelerant to adopters list
  ADOPTERS.md
Owners: @backstage/maintainers, @backstage/reviewers

Fixed grammer mistakes in the threat model docs
  docs/overview/threat-model.md
Owners: @backstage/maintainers, @backstage/documentation-maintainers

add docs and clean up
  .changeset/warm-masks-ring.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/Grids/InfoCardGrid.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/techdocs/src/home/components/index.ts
Owners: @backstage/techdocs-maintainers

chore: add synergy plugin to microsite
  microsite/data/plugins/synergy.yaml
  microsite/static/img/synergy-logo.png
Owners: @backstage/maintainers, @backstage/reviewers

fixup
  plugins/catalog-backend/migrations/20241117000000_separate_queues.js
  plugins/catalog-backend/src/database/operations/provider/refreshByRefreshKeys.ts
  plugins/catalog-backend/src/database/operations/refreshState/ensureStateQueueIsPopulated.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

chore: some small adjustments
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Owners: @backstage/maintainers, @backstage/reviewers

use core database service in plave of deprecated PluginDetabaseManager
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

remove deprecated error handler
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/routes.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Move backend-default package from devDependencies to dependencies
  plugins/catalog-backend-module-incremental-ingestion/package.json
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

remove @backstage/backend-common package
  plugins/catalog-backend-module-incremental-ingestion/package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage-service

add changeset
  .changeset/six-eels-add.md
Owners: none

add api-report changes
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Create yaml files for existing templates
  packages/cli/templates/alpha/all-default-templates.ts
  packages/cli/templates/alpha/default-backend-module.yaml
  packages/cli/templates/alpha/default-backend-plugin.yaml
  packages/cli/templates/alpha/default-common-plugin-package.yaml
  packages/cli/templates/alpha/default-node-plugin-package.yaml
  packages/cli/templates/alpha/default-plugin.yaml
  packages/cli/templates/alpha/default-react-plugin-package.yaml
  packages/cli/templates/alpha/node-library-package.yaml
  packages/cli/templates/alpha/scaffolder-module.yaml
  packages/cli/templates/alpha/web-library-package.yaml
Owners: @backstage/maintainers, @backstage/reviewers

Add cli config in root pkg.json
  package.json
Owners: @backstage/maintainers, @backstage/reviewers

Get templates and globals from pkg.json
  packages/cli/src/commands/new/new.ts
Owners: @backstage/maintainers, @backstage/reviewers

Create a new built-in prompt for npm registry
  packages/cli/src/lib/new/factories/common/prompts.ts
Owners: @backstage/maintainers, @backstage/reviewers

Interactively select a template from dynamic list
  packages/cli/src/commands/new/new.ts
Owners: @backstage/maintainers, @backstage/reviewers

Utilize built-in prompts and globals for user-specified prompts
  packages/cli/src/commands/new/new.ts
  packages/cli/templates/alpha/web-library-package.yaml
Owners: @backstage/maintainers, @backstage/reviewers

Relocate new default template yaml files
  package.json
  packages/cli/src/commands/new/new.ts
  packages/cli/templates/default-backend-module.yaml
  packages/cli/templates/default-backend-plugin.yaml
  packages/cli/templates/default-common-plugin-package.yaml
  packages/cli/templates/default-node-plugin-package.yaml
  packages/cli/templates/default-plugin.yaml
  packages/cli/templates/default-react-plugin-package.yaml
  packages/cli/templates/index.ts
  packages/cli/templates/node-library-package.yaml
  packages/cli/templates/scaffolder-module.yaml
  packages/cli/templates/web-library-package.yaml
Owners: @backstage/maintainers, @backstage/reviewers

Expect full path of template instead of looking within CLI pkg
  packages/cli/src/lib/new/factories/common/tasks.ts
Owners: @backstage/maintainers, @backstage/reviewers

Verify that a template's skeleton path exists
  packages/cli/src/commands/new/new.ts
Owners: @backstage/maintainers, @backstage/reviewers

WIP
  packages/cli/src/commands/new/new.ts
Owners: @backstage/maintainers, @backstage/reviewers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
