Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @kuangp, @backstage/sda-se-reviewers, @awanlin, @jmezach, @pjungermann, @backstage/catalog-maintainers, @adamdmharvey, @alde, @backstage/silver-lining, @backstage/events-maintainers, @erikengervall, @backstage/home-maintainers, @andrewthauer, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers, @xantier

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/adr                                      @backstage/maintainers @backstage/reviewers @kuangp
/plugins/adr-*                                    @backstage/maintainers @backstage/reviewers @kuangp
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/azure-devops                             @backstage/maintainers @backstage/reviewers @awanlin
/plugins/azure-devops-backend                     @backstage/maintainers @backstage/reviewers @awanlin
/plugins/azure-devops-common                      @backstage/maintainers @backstage/reviewers @awanlin
/plugins/analytics-module-newrelic-browser        @backstage/maintainers @backstage/reviewers @jmezach
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/bitrise                                  @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/cicd-statistics                          @backstage/sharks
/plugins/circleci                                 @backstage/maintainers @backstage/reviewers @adamdmharvey
/plugins/code-coverage                            @backstage/maintainers @backstage/reviewers @alde
/plugins/code-coverage-backend                    @backstage/maintainers @backstage/reviewers @alde
/plugins/cost-insights                            @backstage/maintainers @backstage/reviewers @backstage/silver-lining
/plugins/cost-insights-*                          @backstage/maintainers @backstage/reviewers @backstage/silver-lining
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/entity-feedback                          @backstage/maintainers @backstage/reviewers @kuangp
/plugins/entity-feedback-*                        @backstage/maintainers @backstage/reviewers @kuangp
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/explore                                  @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/explore-react                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/fossa                                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/git-release-manager                      @backstage/maintainers @backstage/reviewers @erikengervall
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kafka                                    @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/kafka-backend                            @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/linguist                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/linguist-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/linguist-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/octopus-deploy                           @backstage/maintainers @backstage/reviewers @jmezach
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/playlist                                 @backstage/maintainers @backstage/reviewers @kuangp
/plugins/playlist-*                               @backstage/maintainers @backstage/reviewers @kuangp
/plugins/rollbar                                  @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/rollbar-backend                          @backstage/maintainers @backstage/reviewers @andrewthauer
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/sonarqube                                @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/tech-insights-backend                    @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-backend-module-jsonfc      @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-tech-insights-common       @backstage/maintainers @backstage/reviewers @xantier
/plugins/tech-insights-tech-insights-node         @backstage/maintainers @backstage/reviewers @xantier

knip-report.md

chore: fix newline
  packages/backend-dynamic-feature-service/package.json
Owners: @backstage/maintainers, @backstage/reviewers

Delete WinstonLogger from backend-defaults, instead import from backend-defaults
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/index.ts
  packages/backend-app-api/src/logging/WinstonLogger.ts
  packages/backend-app-api/src/logging/index.ts
  packages/backend-common/src/deprecated/logging/createRootLogger.ts
  packages/backend-dynamic-feature-service/package.json
  packages/backend-dynamic-feature-service/src/schemas/rootLoggerServiceFactory.ts
Owners: @backstage/maintainers, @backstage/reviewers

Revert "refactor: remove deprecated url reader service types"
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/index.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/techdocs-node/src/helpers.test.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage-service

backend-app-api: Add changeset
  .changeset/brown-mails-drum.md
Owners: none

Add changesets
  .changeset/four-singers-fetch.md
  .changeset/tidy-guests-battle.md
Owners: none

Update changets
  .changeset/four-singers-fetch.md
  .changeset/friendly-points-approve.md
Owners: none

chore: re-add package role
  packages/backend-dynamic-feature-service/package.json
Owners: @backstage/maintainers, @backstage/reviewers

chore: Add another package to changeset
  .changeset/four-singers-fetch.md
Owners: none

Avoid false check for broadcast emails
  .changeset/flat-guests-behave.md
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/notifications-backend/src/service/getUsersForEntityRef.ts
Owners: @backstage/maintainers, @backstage/notifications-maintainers

backend-test-utils: Remove deprecations
  .changeset/late-timers-sort.md
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/deprecated.ts
  packages/backend-test-utils/src/index.ts
  packages/backend-test-utils/src/next/wiring/ServiceFactoryTester.ts
Owners: @backstage/maintainers, @backstage/reviewers

refactor: remove deprecated url reader service types
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/index.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/techdocs-node/src/helpers.test.ts
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage-service

docs/frontend-system: initial docs for creating extension blueprints
  docs/frontend-system/architecture/23-extension-blueprints.md
Owners: @backstage/maintainers, @backstage/reviewers

Correct the TConfig type
  .changeset/curly-clouds-shave.md
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtensionDataRef.ts
Owners: @backstage/maintainers, @backstage/reviewers

frontend-plugin-api: renamed createPlugin to createFrontendPlugin
  .changeset/chilly-numbers-chew.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/02-creating.md
  packages/app-next-example-plugin/src/plugin.tsx
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/core-compat-api/src/collectLegacyRoutes.test.tsx
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/compatWrapper/BackwardsCompatProvider.tsx
  packages/frontend-app-api/src/routing/collectRouteIds.test.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-app-api/src/tree/createAppTree.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.ts
  packages/frontend-app-api/src/wiring/createApp.test.tsx
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-app-api/src/wiring/discovery.test.ts
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  plugins/api-docs/src/alpha.tsx
  plugins/app-visualizer/src/plugin.tsx
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog/src/alpha/plugin.tsx
  plugins/devtools/src/alpha/plugin.tsx
  plugins/home/src/alpha.tsx
  plugins/kubernetes/src/alpha/plugin.tsx
  plugins/org/src/alpha.tsx
  plugins/scaffolder/src/alpha.tsx
  plugins/search/src/alpha.tsx
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/src/alpha.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/sda-se-reviewers, @backstage/catalog-maintainers, @awanlin, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/scaffolder-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers

Update .changeset/brown-mails-drum.md
  .changeset/brown-mails-drum.md
Owners: none

Update packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
Owners: @backstage/maintainers, @backstage/reviewers

Update .changeset/late-timers-sort.md
  .changeset/late-timers-sort.md
Owners: none

docs: update api reports
  packages/backend-app-api/api-report.md
  packages/backend-common/api-report.md
  packages/backend-dynamic-feature-service/api-report.md
  plugins/catalog-backend-module-aws/api-report.md
  plugins/catalog-backend-module-incremental-ingestion/api-report.md
  plugins/catalog-backend-module-openapi/api-report.md
  plugins/catalog-backend/api-report.md
  plugins/scaffolder-backend-module-confluence-to-markdown/api-report.md
  plugins/scaffolder-backend-module-cookiecutter/api-report.md
  plugins/scaffolder-backend-module-rails/api-report.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-node/api-report.md
  plugins/techdocs-node/api-report.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @pjungermann, @backstage/scaffolder-maintainers, @backstage/techdocs-maintainers

init
  contrib/docker/minimal-hardened-image/Dockerfile
Owners: @backstage/maintainers, @backstage/reviewers

Add `steps taken` section
  contrib/docker/minimal-hardened-image/README.md
Owners: @backstage/maintainers, @backstage/reviewers

Update contrib/docker/minimal-hardened-image/Dockerfile
  contrib/docker/minimal-hardened-image/Dockerfile
Owners: @backstage/maintainers, @backstage/reviewers

change to `ADD` from `COPY` and adjust
  contrib/docker/minimal-hardened-image/Dockerfile
Owners: @backstage/maintainers, @backstage/reviewers

Update contrib/docker/minimal-hardened-image/Dockerfile
  contrib/docker/minimal-hardened-image/Dockerfile
Owners: @backstage/maintainers, @backstage/reviewers

Update contrib/docker/minimal-hardened-image/Dockerfile
  contrib/docker/minimal-hardened-image/Dockerfile
Owners: @backstage/maintainers, @backstage/reviewers

remove python from node builder
  contrib/docker/minimal-hardened-image/Dockerfile
Owners: @backstage/maintainers, @backstage/reviewers

reduce RUN cmd
  contrib/docker/minimal-hardened-image/Dockerfile
Owners: @backstage/maintainers, @backstage/reviewers

docs/frontend-system: fill in plugin docs
  docs/frontend-system/architecture/15-plugins.md
Owners: @backstage/maintainers, @backstage/reviewers

docs/frontend-system: add docs for how to use plugin.withOverrides
  docs/frontend-system/architecture/15-plugins.md
Owners: @backstage/maintainers, @backstage/reviewers

docs: add changeset files
  .changeset/dull-cheetahs-clap.md
  .changeset/fair-kangaroos-return.md
  .changeset/healthy-carpets-reflect.md
  .changeset/lovely-ravens-judge.md
Owners: none

feat: use a relations array instead of each individual configuration option
  .changeset/loud-singers-happen.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

Changing the docs for the sign-in page config from `gcpiap` to `gcpIap`. The router is case-insensitive, so they both work, but this will make everything consistent between backend and frontend.
  docs/auth/google/gcp-iap-auth.md
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.tsx
Owners: @backstage/maintainers, @backstage/reviewers

Added back `type: 'local'` to TechDocs config schema
  .changeset/modern-apes-join.md
  plugins/techdocs-backend/config.d.ts
Owners: @backstage/techdocs-maintainers

fix(events,github): fix log messages for repository events
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

chore(events,github): reword log message
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix(events,github): reliably extract org name
  .changeset/warm-moles-appear.md
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix(events,github): use correct repo URL
  .changeset/warm-moles-appear.md
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

docs/frontend-system: add initial core migration docs
  docs/frontend-system/architecture/60-migrations.md
Owners: @backstage/maintainers, @backstage/reviewers

trigger ci
  .changeset/violet-beds-promise.md
Owners: none

fix typo
  .changeset/violet-beds-promise.md
Owners: none

fix: validate notification link when posting
  .changeset/rotten-crabs-hear.md
  plugins/notifications-backend/src/plugin.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
Owners: @backstage/maintainers, @backstage/notifications-maintainers
