Repository backstage/backstage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @backstage/maintainers, @backstage/reviewers, @backstage-service, @backstage/notifications-maintainers, @backstage/documentation-maintainers, @backstage/search-maintainers, @backstage/techdocs-maintainers, @backstage/sharks, @backstage/openapi-tooling-maintainers, @backstage/sda-se-reviewers, @pjungermann, @backstage/catalog-maintainers, @awanlin, @backstage/events-maintainers, @backstage/home-maintainers, @backstage/kubernetes-maintainers, @backstage/permission-maintainers, @backstage/scaffolder-maintainers

.github/CODEOWNERS:

# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                 @backstage/maintainers @backstage/reviewers
yarn.lock                                         @backstage/maintainers @backstage-service
*/yarn.lock                                       @backstage/maintainers @backstage-service
/.changeset/*.md
/beps/0001-notifications-system                   @backstage/maintainers @backstage/notifications-maintainers
/docs                                             @backstage/maintainers @backstage/documentation-maintainers
/docs/assets/search                               @backstage/search-maintainers
/docs/features/search                             @backstage/search-maintainers
/docs/features/techdocs                           @backstage/techdocs-maintainers
/docs/plugins/integrating-search-into-plugins.md  @backstage/search-maintainers
/packages/cli/src/commands/onboard                @backstage/sharks
/packages/backend-openapi-utils                   @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/packages/techdocs-cli                            @backstage/techdocs-maintainers
/packages/techdocs-cli-embedded-app               @backstage/techdocs-maintainers
/plugins/api-docs                                 @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/bitbucket-cloud-common                   @backstage/maintainers @backstage/reviewers @pjungermann
/plugins/catalog                                  @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-*                                @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-backend-module-aws               @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-bitbucket-cloud   @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-backstage-openapi      @backstage/maintainers @backstage/reviewers @backstage/openapi-tooling-maintainers
/plugins/catalog-backend-module-msgraph           @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @pjungermann
/plugins/catalog-backend-module-puppetdb          @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers
/plugins/catalog-graph                            @backstage/maintainers @backstage/reviewers @backstage/catalog-maintainers @backstage/sda-se-reviewers
/plugins/devtools                                 @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-backend                         @backstage/maintainers @backstage/reviewers @awanlin
/plugins/devtools-common                          @backstage/maintainers @backstage/reviewers @awanlin
/plugins/events-*                                 @backstage/maintainers @backstage/reviewers @backstage/events-maintainers
/plugins/home                                     @backstage/home-maintainers
/plugins/home-*                                   @backstage/home-maintainers
/plugins/kubernetes                               @backstage/kubernetes-maintainers
/plugins/kubernetes-*                             @backstage/kubernetes-maintainers
/plugins/notifications                            @backstage/maintainers @backstage/notifications-maintainers
/plugins/notifications-*                          @backstage/maintainers @backstage/notifications-maintainers
/plugins/scaffolder-backend-module-notifications  @backstage/maintainers @backstage/notifications-maintainers
/plugins/permission-*                             @backstage/permission-maintainers
/plugins/scaffolder                               @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/scaffolder-*                             @backstage/maintainers @backstage/reviewers @backstage/scaffolder-maintainers
/plugins/search                                   @backstage/search-maintainers
/plugins/search-*                                 @backstage/search-maintainers
/plugins/signals                                  @backstage/maintainers @backstage/notifications-maintainers
/plugins/signals-*                                @backstage/maintainers @backstage/notifications-maintainers
/plugins/techdocs                                 @backstage/techdocs-maintainers
/plugins/techdocs-*                               @backstage/techdocs-maintainers
/plugins/user-settings                            @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-backend                    @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers
/plugins/user-settings-common                     @backstage/maintainers @backstage/reviewers @backstage/sda-se-reviewers

add create/template-extensions to lighthouse
  lighthouserc.js
Owners: @backstage/maintainers, @backstage/reviewers

reports
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add github backend module and doc links to errors
  packages/create-app/templates/default-app/packages/backend/src/index.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Fix error message matching
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

Add changeset
  .changeset/lucky-crabs-vanish.md
Owners: none

Add missing github module to hbs template
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
Owners: @backstage/maintainers, @backstage/reviewers

build api-reports
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

resolve conflict
  ADOPTERS.md
Owners: @backstage/maintainers, @backstage/reviewers

Add missing module to versions.ts
  packages/create-app/src/lib/versions.ts
Owners: @backstage/maintainers, @backstage/reviewers

Add missing module to mock
  packages/create-app/src/lib/tasks.test.ts
Owners: @backstage/maintainers, @backstage/reviewers

Add openfga permission plugin backstage to market place
  microsite/data/plugins/openfga-permission.yaml
Owners: @backstage/maintainers, @backstage/reviewers

tighten the types in the incremental provider some more
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/routes.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix: status running and pending icon palette error
  .changeset/ninety-impalas-fold.md
  packages/core-components/src/components/Status/Status.tsx
Owners: @backstage/maintainers, @backstage/reviewers

Update .changeset/lucky-crabs-vanish.md
  .changeset/lucky-crabs-vanish.md
Owners: none

docs: added steps for custom integration
  plugins/catalog-graph/README.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage/sda-se-reviewers

avoid extra order by in by-entities when not asked for
  .changeset/stale-hats-exist.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

fix: @typescript-eslint incompatible versions with eslint@8.x.x
  .changeset/calm-tigers-boil.md
  packages/cli/package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

handle rate GitLab rate limiting
  .changeset/fresh-elephants-care.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

factor out common code
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

chore: bump packages, rebase, address pr comments
  packages/cli/package.json
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage-service

node options will be in process.execArgv
  .changeset/gorgeous-panthers-count.md
  plugins/scaffolder-backend/src/lib/templating/helpers.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

backend-defaults: add backend.health.headers config
  .changeset/chilly-games-trade.md
  docs/backend-system/core-services/root-health.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/report-rootHttpRouter.api.md
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createHealthRouter.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
Owners: @backstage/maintainers, @backstage/documentation-maintainers, @backstage/reviewers

core-components: bump material-table
  packages/core-components/package.json
  plugins/catalog-react/src/components/EntityTable/EntityTable.tsx
  yarn.lock
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers, @backstage-service

api-docs: fix tableOptions typings
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.tsx
  plugins/api-docs/src/components/ApisCards/HasApisCard.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/sda-se-reviewers

catalog: fix tableOptions typings
  plugins/catalog/src/components/DependencyOfComponentsCard/DependencyOfComponentsCard.tsx
  plugins/catalog/src/components/DependsOnComponentsCard/DependsOnComponentsCard.tsx
  plugins/catalog/src/components/DependsOnResourcesCard/DependsOnResourcesCard.tsx
  plugins/catalog/src/components/HasComponentsCard/HasComponentsCard.tsx
  plugins/catalog/src/components/HasResourcesCard/HasResourcesCard.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.tsx
  plugins/catalog/src/components/HasSubdomainsCard/HasSubdomainsCard.tsx
  plugins/catalog/src/components/HasSystemsCard/HasSystemsCard.tsx
  plugins/catalog/src/components/RelatedEntitiesCard/RelatedEntitiesCard.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

catalog-react: fix filters re-render on small screens
  plugins/catalog-react/src/components/CatalogFilterLayout/CatalogFilterLayout.tsx
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

catalog-react: filters changesets
  .changeset/silver-actors-care.md
Owners: none

Add Grid component and improve documentation
  packages/canon/docs/Home.mdx
  packages/canon/docs/Layout.mdx
  packages/canon/docs/components/LayoutComponents/box.tsx
  packages/canon/docs/components/LayoutComponents/container.tsx
  packages/canon/docs/components/LayoutComponents/grid.tsx
  packages/canon/docs/components/LayoutComponents/index.tsx
  packages/canon/docs/components/LayoutComponents/inline.tsx
  packages/canon/docs/components/LayoutComponents/layout-components.css.ts
  packages/canon/docs/components/LayoutComponents/stack.tsx
  packages/canon/docs/components/PropsTable/PropsTable.tsx
  packages/canon/docs/components/PropsTable/getProps.ts
  packages/canon/docs/components/PropsTable/index.ts
  packages/canon/docs/components/Title/title.css.ts
  packages/canon/docs/utils/argTypes.ts
  packages/canon/src/components/Box/Docs.mdx
  packages/canon/src/components/Box/docs/props-table.tsx
  packages/canon/src/components/Box/docs/spacing-table.tsx
  packages/canon/src/components/Grid/Docs.mdx
  packages/canon/src/components/Grid/Grid.stories.tsx
  packages/canon/src/components/Grid/Grid.tsx
  packages/canon/src/components/Grid/sprinkles.css.ts
  packages/canon/src/components/Grid/types.ts
  packages/canon/src/components/Stack/Docs.mdx
Owners: @backstage/maintainers, @backstage/reviewers

add cancel button to discard changes
  plugins/home/src/components/CustomHomepage/CustomHomepageButtons.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Owners: @backstage/home-maintainers

material-table bump reports
  packages/core-components/report.api.md
  plugins/api-docs/report.api.md
  plugins/catalog-react/report.api.md
  plugins/catalog/report.api.md
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/sda-se-reviewers, @backstage/catalog-maintainers

material-table changesets
  .changeset/short-crabs-wonder.md
  .changeset/sweet-pugs-double.md
Owners: none

Fix API report
  packages/canon/report.api.md
  packages/canon/src/components/Box/Docs.mdx
  packages/canon/src/components/Grid/Grid.tsx
  packages/canon/src/components/Grid/index.ts
  packages/canon/src/components/Grid/types.ts
  packages/canon/src/components/Inline/Inline.tsx
  packages/canon/src/components/Inline/index.ts
  packages/canon/src/components/Inline/types.ts
  packages/canon/src/components/Stack/Stack.tsx
  packages/canon/src/components/Stack/index.ts
  packages/canon/src/components/Stack/types.ts
  packages/canon/src/index.ts
Owners: @backstage/maintainers, @backstage/reviewers

confirm before discarding changes
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Owners: @backstage/home-maintainers

always show cancel button in edit mode
  plugins/home/src/components/CustomHomepage/CustomHomepageButtons.tsx
Owners: @backstage/home-maintainers

add changeset
  .changeset/neat-adults-glow.md
Owners: none

backend-defaults: do not forward token verification errors to caller
  .changeset/dull-bulldogs-learn.md
  .changeset/forty-ravens-fry.md
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/plugin/PluginTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.ts
Owners: @backstage/maintainers, @backstage/reviewers

Update docs for Inline
  packages/canon/src/components/Inline/Docs.mdx
  packages/canon/src/components/Inline/sprinkles.css.ts
  packages/canon/src/components/Stack/Docs.mdx
Owners: @backstage/maintainers, @backstage/reviewers

Pass auth service when initializing GitHub scaffolder actions
  plugins/scaffolder-backend-module-github/src/module.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/scaffolder-maintainers

errors: trim error.cause.stack as well
  .changeset/thin-hotels-explode.md
  packages/errors/src/serialization/error.test.ts
  packages/errors/src/serialization/error.ts
  plugins/catalog-backend/src/tests/integration.test.ts
Owners: @backstage/maintainers, @backstage/reviewers, @backstage/catalog-maintainers

permission-node: remove permission duplicates in createPermissionIntegrationRouter
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Owners: @backstage/permission-maintainers
