Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

bui-themer: trim example components and add NFS support
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/index.ts
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
  plugins/bui-themer/src/index.ts
  plugins/bui-themer/src/plugin.tsx
  yarn.lock
Labels: none

plugins: scaffold bui-themer plugin
  packages/app/package.json
  packages/app/src/App.tsx
  plugins/bui-themer/.eslintrc.js
  plugins/bui-themer/README.md
  plugins/bui-themer/catalog-info.yaml
  plugins/bui-themer/dev/index.tsx
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/bui-themer/src/components/ExampleComponent/index.ts
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/index.ts
  plugins/bui-themer/src/index.ts
  plugins/bui-themer/src/plugin.test.ts
  plugins/bui-themer/src/plugin.ts
  plugins/bui-themer/src/routes.ts
  plugins/bui-themer/src/setupTests.ts
  yarn.lock
Labels: none

refactor: simplify the resolve entry path logic
  packages/cli/src/modules/build/commands/package/start/startPackage.test.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.ts
Labels: none

fix(bui): Fix SearchField onChange prop and add onChange story
  .changeset/tired-mice-cheer.md
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

bui-themer: add implementation plan
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: refined implementation plan
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: new and improved preview
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: switch to horizontal layout
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: initial implementation plan execution
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
  yarn.lock
Labels: none

bui-themer: extract mui theme and then unmount theme provider
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: skip gray scale
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: switch theme cards to use tabs
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: get rid of most hardcoded defaults
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: remove unnecessary css cache
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: simplify theme conversion
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
  yarn.lock
Labels: none

bui-themer: bit of polish
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: update README
  plugins/bui-themer/README.md
Labels: none

bui-themer: use backstage palette + refine conversion and preview
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: remove the theme id inclusion switch
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: fix mui version 7 -> 5
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
Labels: none

bui-themer: split + test + fixes
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.test.tsx
Labels: none

bui-themer: refactor the conversion to style object first
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: more files!
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.tsx
  plugins/bui-themer/src/components/BuiThemerPage/index.ts
  plugins/bui-themer/src/setupTests.ts
Labels: none

bui-themer: API report + fixes
  plugins/bui-themer/report.api.md
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/bui-themer/src/components/BuiThemerPage/index.ts
  plugins/bui-themer/src/index.ts
  plugins/bui-themer/src/plugin.tsx
Labels: none

bui-themer: trim dependencies
  plugins/bui-themer/knip-report.md
  plugins/bui-themer/package.json
  yarn.lock
Labels: none

bui-themer: sync dep versions
  plugins/bui-themer/package.json
  yarn.lock
Labels: none

bui-themer: fix package
  plugins/bui-themer/package.json
Labels: none

changesets: add changesets for bui-themer
  .changeset/bui-themer-bui-palette-additions.md
  .changeset/unified-theme-attr-stack.md
Labels: none

bui-themer: tweak conversion logic
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: fix test
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.test.tsx
Labels: none

theme: stack old theme attributes
  packages/frontend-defaults/src/createPublicSignInApp.test.tsx
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  packages/theme/src/unified/useApplyThemeAttributes.test.tsx
  packages/theme/src/unified/useApplyThemeAttributes.ts
  plugins/app/src/alpha/appModulePublicSignIn.test.tsx
Labels: none

Removed the private flag so that we can publish the BUI Themer
  plugins/bui-themer/package.json
Labels: none

Add PromiseRouter import to http-router.md
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

plugins/bui-themer: rename to mui-to-bui
  .changeset/bui-themer-bui-palette-additions.md
  packages/app/package.json
  packages/app/src/App.tsx
  plugins/bui-themer/README.md
  plugins/bui-themer/catalog-info.yaml
  plugins/bui-themer/dev/index.tsx
  plugins/bui-themer/package.json
  plugins/bui-themer/report.api.md
  plugins/bui-themer/src/plugin.test.ts
  plugins/bui-themer/src/plugin.tsx
  plugins/bui-themer/src/routes.ts
  yarn.lock
Labels: none

fix(kubernetes): fixes calculation of pod cpu utilization
  .changeset/twelve-guests-sit.md
  plugins/kubernetes-react/src/components/Pods/PodsTable.test.tsx
  plugins/kubernetes-react/src/utils/pod.test.tsx
  plugins/kubernetes-react/src/utils/pod.tsx
Labels: area:kubernetes

Add express Handler import to http-router.md
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

New technical overview per feature #21925 (#30998)
  docs/assets/technical-overview/backstage-ui-group-ownership.png
  docs/overview/technical-overview.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

Correct the database name associated with the catalog plugin
  docs/tutorials/manual-knex-rollback.md
Labels: area:documentation

bui-themer: remove unnecessary matchMedia mocks
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.test.tsx
Labels: none

Add coreServices and HttpRouterServiceAuthPolicy imports
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
