Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

feat(events-backend-module-kafka): Add optional header forwarding with safe defaults
  .changeset/support-kafka-headers-forwarding.md
  plugins/events-backend-module-kafka/config.d.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/KafkaPublishingEventConsumer.test.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/KafkaPublishingEventConsumer.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/config.ts
  plugins/events-backend-module-kafka/src/utils/kafkaTransformers.test.ts
  plugins/events-backend-module-kafka/src/utils/kafkaTransformers.ts
Labels: area:events

docs(events-backend-module-kafka): Document header forwarding configuration
  plugins/events-backend-module-kafka/README.md
Labels: area:events

Update plugins/events-backend-module-kafka/src/utils/kafkaTransformers.ts
  plugins/events-backend-module-kafka/src/utils/kafkaTransformers.ts
Labels: area:events

feat(backend-plugin-api): add prompt and resource types to ActionsRegistryService
  packages/backend-plugin-api/src/alpha/ActionsRegistryService.ts
Labels: none

feat(backend-defaults): implement prompt and resource registration in DefaultActionsRegistryService
  packages/backend-defaults/src/alpha/entrypoints/actionsRegistry/DefaultActionsRegistryService.ts
Labels: none

feat(backend-plugin-api): add prompt and resource types to ActionsService
  packages/backend-plugin-api/src/alpha/ActionsService.ts
Labels: none

feat(backend-defaults): implement listPrompts and listResources in DefaultActionsService
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
Labels: none

feat(mcp-actions-backend): add prompts and resources support to MCP server
  plugins/mcp-actions-backend/src/services/McpService.ts
Labels: none

feat(catalog-backend): add example prompts and resources for catalog
  plugins/catalog-backend/src/actions/createCatalogPromptsAndResources.ts
  plugins/catalog-backend/src/actions/index.ts
Labels: area:catalog

test(backend-test-utils): update mocks for prompts and resources support
  packages/backend-test-utils/src/alpha/services/ActionsRegistryServiceMock.ts
  packages/backend-test-utils/src/alpha/services/ActionsServiceMock.ts
  packages/backend-test-utils/src/alpha/services/MockActionsRegistry.ts
Labels: none

fix(backend-plugin-api): export new prompt and resource types from alpha index
  packages/backend-plugin-api/src/alpha/index.ts
Labels: none

fix(backend-test-utils): add type cast for zodToJsonSchema in mock
  packages/backend-test-utils/src/alpha/services/MockActionsRegistry.ts
Labels: none

docs(api-reports): update API reports for prompts and resources
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-test-utils/report-alpha.api.md
Labels: none

chore: add changeset for prompts and resources support
  .changeset/prompt-resources-support.md
Labels: none

docs(mcp-actions-backend): document prompts and resources support
  plugins/mcp-actions-backend/README.md
Labels: none

feat(actions): implement resource reading support
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
  packages/backend-defaults/src/alpha/entrypoints/actionsRegistry/DefaultActionsRegistryService.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/ActionsService.ts
  packages/backend-test-utils/report-alpha.api.md
  packages/backend-test-utils/src/alpha/services/ActionsServiceMock.ts
  packages/backend-test-utils/src/alpha/services/MockActionsRegistry.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
Labels: none

docs: update changeset and README to reflect resource reading support
  .changeset/prompt-resources-support.md
  plugins/mcp-actions-backend/README.md
Labels: none

Fix linting and API report warnings
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/ActionsRegistryService.ts
  plugins/catalog-backend/src/actions/createCatalogPromptsAndResources.ts
Labels: area:catalog

chore: Remove missing plugin references
  app-config.yaml
Labels: none

Fix docs quality issues
  plugins/mcp-actions-backend/README.md
Labels: none

fix(app-next): add missing @types/jest devDependency
  packages/app-next/package.json
Labels: none

feat(catalog-backend): :sparkles: add predicate-based entity filtering
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/request/applyPredicateEntityFilterToQuery.ts
  plugins/catalog-node/src/api/common.ts
  plugins/catalog-node/src/api/index.ts
Labels: area:catalog

feat(catalog-backend): :sparkles: add post api for predicate-based entity filtering
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/apis/Api.server.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicate.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateOneOf.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateOneOf1.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateOneOf2.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValue.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValueOneOf.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValueOneOf1.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValueOneOf1InInner.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/GetEntitiesByPredicates200Response.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/GetEntitiesByPredicates200ResponsePageInfo.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/GetEntitiesByPredicatesRequest.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/index.ts
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

docs: :memo: add changeset and api-doc md files
  .changeset/little-snakes-tan.md
  plugins/catalog-node/report.api.md
Labels: area:catalog

Eslint-plugin: Experimental support for ESLint flat-config
  .changeset/happy-kings-begin.md
  packages/eslint-plugin/index.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/rules/no-mixed-plugin-imports.js
  packages/eslint-plugin/rules/no-relative-monorepo-imports.js
  packages/eslint-plugin/rules/no-ui-css-imports-in-non-frontend.js
  packages/eslint-plugin/rules/no-undeclared-imports.js
  yarn.lock
Labels: none

CLI: Bump required eslint dependency
  .changeset/cold-maps-begin.md
  packages/cli/package.json
  packages/cli/src/modules/lint/commands/package/lint.ts
  packages/cli/src/modules/lint/commands/repo/lint.ts
  packages/cli/src/modules/maintenance/commands/repo/list-deprecations.ts
  yarn.lock
Labels: none

fix: header in EntityLayout should always be shown
  .changeset/early-boxes-work.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

chore: types
  packages/cli/src/modules/lint/commands/package/lint.ts
  packages/cli/src/modules/lint/commands/repo/lint.ts
  packages/cli/src/modules/maintenance/commands/repo/list-deprecations.ts
Labels: none

docs: complete TODO sections in sustainable plugin development guide
  docs/golden-path/plugins/sustainable-plugin-development.md
Labels: area:documentation

Migrate techdocs-cli-embedded-app to NFS
  .changeset/fuzzy-suits-sit.md
  .changeset/old-paths-jump.md
  packages/techdocs-cli-embedded-app/app-config.yaml
  packages/techdocs-cli-embedded-app/knip-report.md
  packages/techdocs-cli-embedded-app/package.json
  packages/techdocs-cli-embedded-app/src/App.test.tsx
  packages/techdocs-cli-embedded-app/src/App.tsx
  packages/techdocs-cli-embedded-app/src/addons.tsx
  packages/techdocs-cli-embedded-app/src/apis.ts
  packages/techdocs-cli-embedded-app/src/components/LiveReload/LiveReloadAddon.test.tsx
  packages/techdocs-cli-embedded-app/src/components/LiveReload/LiveReloadAddon.tsx
  packages/techdocs-cli-embedded-app/src/components/Root/Root.tsx
  packages/techdocs-cli-embedded-app/src/components/TechDocsPage/TechDocsPage.tsx
  packages/techdocs-cli-embedded-app/src/index.tsx
  packages/techdocs-cli-embedded-app/src/plugins.ts
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/src/alpha/index.tsx
  yarn.lock
Labels: area:techdocs

Initiated fixing issue #27009
  draft.txt
Labels: none

feat(plugin-org): add search functionality in MembersListCard
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.test.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
Labels: none

Reopened PR
  draft.txt
Labels: none

rebased and updated changeset for add changeset for plugin-org member search
  .changeset/tidy-bugs-throw.md
Labels: none

chore: remove drafts
  draft.txt
Labels: none

chore: add changeset
  .changeset/lazy-bottles-burn.md
Labels: none

fix: type error
  packages/app-next/src/modules/appModuleNav.tsx
Labels: none

fix(plugin-org): add spacing between member search and list
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
Labels: none

fix: api reports
  .changeset/clearer-nav-types.md
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/NavContentBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.ts
  plugins/api-docs/report-alpha.api.md
  plugins/app-visualizer/report.api.md
  plugins/app/report.api.md
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/search/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
  plugins/user-settings/report-alpha.api.md
Labels: area:catalog, area:search, area:scaffolder, area:techdocs

fix: frontend-plugin-api report
  packages/frontend-plugin-api/report.api.md
Labels: none
