Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

chore: migrate 6 packages to MSW v2 (batch 4/4)
  packages/app-next-example-plugin/package.json
  packages/cli/package.json
  packages/cli/src/modules/migrate/commands/versions/bump.test.ts
  packages/cli/templates/frontend-plugin/src/components/ExampleComponent/ExampleComponent.test.tsx.hbs
  packages/cli/templates/new-frontend-plugin/src/components/ExampleComponent/ExampleComponent.test.tsx.hbs
  packages/integration-react/package.json
  plugins/app/package.json
  plugins/kubernetes-node/package.json
  plugins/kubernetes-node/src/auth/PinnipedHelper.test.ts
  plugins/kubernetes-react/src/api/KubernetesBackendClient.test.ts
  yarn.lock
Labels: area:kubernetes

fix(test-utils): Revert unnecessary msw2 migration change.
  packages/test-utils/src/testUtils/msw/registerMswTestHooks.ts
Labels: none

chore(cli): update plugin templates to use MSW v2
  packages/cli/templates/frontend-plugin/package.json.hbs
  packages/cli/templates/new-frontend-plugin/package.json.hbs
Labels: none

chore(integration): migrate bitbucket cloud OAuth tests to MSW v2
  packages/integration/src/bitbucketCloud/core.test.ts
Labels: none

chore: update changeset Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/pre.json
Labels: none

non blocking
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

chore: add newline to licenseInfo files
  packages/repo-tools/templates/typescript-backstage-client/licenseInfo.mustache
  packages/repo-tools/templates/typescript-backstage-server/licenseInfo.mustache
Labels: none

add changeset
  .changeset/clean-suits-follow.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update .changeset/proud-streets-switch.md
  .changeset/proud-streets-switch.md
Labels: none

backend-defaults: fixed shuttting down
  .changeset/thin-teams-roll.md
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
Labels: none

fix(scaffolder): open markdown links in new tab for template outputs
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.tsx
Labels: area:scaffolder

Add namespace filter for mygroupspicker
  .changeset/slimy-geese-itch.md
  packages/cli/package.json
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.test.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
  yarn.lock
Labels: area:scaffolder

fix verify workflow too
  .github/workflows/deploy_microsite.yml
  .github/workflows/verify_microsite.yml
  docs/references/index.md
  microsite/package.json
Labels: area:documentation, area:microsite

chore: disable old api reference generation
  .github/workflows/deploy_microsite.yml
  microsite/package.json
  microsite/scripts/pre-build.js
Labels: area:microsite

fix sidebar conflict
  microsite/sidebars.ts
Labels: area:microsite

add back strict build
  .github/workflows/verify_microsite.yml
Labels: none

Revert manual changelog edit
  packages/backend-defaults/CHANGELOG.md
Labels: none

fix(auth): safe JWKS refresh + throw if payload.uip missing
  packages/backend-defaults/src/entrypoints/auth/JwksClient.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.ts
Labels: none

added changeset for limited token & JWKS fix
  .changeset/tall-squids-open.md
Labels: none

Add flexWrap to root style in Table component
  packages/core-components/src/components/Table/Table.tsx
Labels: none

Rename --bui-bg into --bui-bg-surface-0
  .storybook/preview.tsx
  .storybook/themes/spotify.css
  docs-ui/src/app/tokens/page.mdx
  docs-ui/src/components/Snippet/styles.module.css
  docs-ui/src/snippets/code-snippets.ts
  docs/conf/user-interface/index.md
  packages/ui/css/styles.css
  packages/ui/src/components/Header/Header.module.css
  packages/ui/src/css/core.css
  packages/ui/src/css/tokens.css
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: area:documentation

Sync CSS
  docs-ui/public/theme-backstage.css
  docs-ui/public/theme-spotify.css
Labels: none

Other fixes
  .changeset/shaggy-bats-film.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
Labels: none

Create wild-toys-retire.md
  .changeset/wild-toys-retire.md
Labels: none

Update index.md
  docs/conf/user-interface/index.md
Labels: area:documentation

Added pattern to npmPackageName
  microsite/data/plugin-schema.json
Labels: area:microsite

Removing pattern
  microsite/data/plugin-schema.json
Labels: area:microsite

Updated to use Node 24 and Debian Trixie
  .changeset/slick-laws-push.md
  docs/deployment/docker.md
  docs/getting-started/config/database.md
  docs/tooling/cli/02-build-system.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
  packages/create-app/templates/next-app/packages/backend/Dockerfile
Labels: area:documentation

Missed some
  docs/deployment/docker.md
Labels: area:documentation

Ran prettier
  microsite/data/plugin-schema.json
  microsite/data/plugins/ldap-auth.yaml
  microsite/data/plugins/stackstorm.yaml
Labels: area:microsite

Changed Autocomplete to be a controlled component, added a conditional check to handleInput to prevent clearing of inputValue and manual clearing in handleChange
  plugins/search-react/src/components/SearchFilter/SearchFilter.Autocomplete.tsx
Labels: area:search

SearchFilter.Autocomplete now correctly renders label but behavior is off for filtering for multiple values
  plugins/search-react/src/components/SearchFilter/SearchFilter.Autocomplete.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.stories.tsx
Labels: area:search

Added new Storybook item for visual testing
  plugins/search-react/src/components/SearchFilter/SearchFilter.stories.tsx
Labels: area:search

Changed async methods in storybook to use the new swapi.info because swapi.dev's certificate has expired
  .changeset/weak-parts-hang.md
  plugins/search-react/src/components/SearchFilter/SearchFilter.stories.tsx
Labels: area:search

First pass at adding the new surfaces
  packages/ui/src/components/Box/Box.module.css
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Box/types.ts
  packages/ui/src/css/tokens.css
  packages/ui/src/hooks/useSurface.tsx
  packages/ui/src/types.ts
Labels: none

Add surfaces to Flex and Grid
  packages/ui/report.api.md
  packages/ui/src/components/Flex/Flex.module.css
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Flex/definition.ts
  packages/ui/src/components/Flex/types.ts
  packages/ui/src/components/Grid/Grid.module.css
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Grid/definition.ts
  packages/ui/src/components/Grid/types.ts
Labels: none

Improve Button styles
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/report.api.md
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/types.ts
Labels: none

Fix default background color
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
Labels: none

Create modern-drinks-battle.md
  .changeset/modern-drinks-battle.md
Labels: none
