Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Add unit tests for SettingsLayout in user-settings plugin
  .changeset/forty-parents-dig.md
  plugins/user-settings/src/components/SettingsLayout/SettingsLayout.test.tsx
Labels: none

Add unit tests for SettingsLayout in user-settings plugin
  .changeset/forty-parents-dig.md
  plugins/user-settings/src/components/SettingsLayout/SettingsLayout.test.tsx
Labels: none

chore: support render function, document it, remove now unused POC context
  docs-ui/src/content/toggle-button-group.props.ts
  docs-ui/src/content/toggle-button.mdx
  docs-ui/src/content/toggle-button.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/ui/src/components/ToggleButton/ToggleButton.tsx
  packages/ui/src/components/ToggleButton/types.ts
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.module.css
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
Labels: none

fix: DefaultNavContent rendering logic
  plugins/app/src/extensions/AppNav/DefaultNavContent.test.tsx
  plugins/app/src/extensions/AppNav/DefaultNavContent.tsx
Labels: none

Add unit tests for SettingsLayout in user-settings plugin
  plugins/user-settings/src/components/SettingsLayout/SettingsLayout.test.tsx
Labels: none

codeowners - Adjusted so that Vale/Microsite PRs aren't blocked by Docs Maintainers
  .github/CODEOWNERS
Labels: none

Fix autocomplete in scaffolder RepoUrlPickerRepoName (#32106)
  .changeset/tricky-tips-invite.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
Labels: area:scaffolder

feat(backend-defaults): add MigrationStorage for storing migration sources
  packages/backend-defaults/src/entrypoints/database/migrations/MigrationStorage.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/MigrationStorage.ts
Labels: none

fix(backend-defaults): handle race conditions in MigrationStorage
  packages/backend-defaults/src/entrypoints/database/migrations/MigrationStorage.ts
Labels: none

feat(backend-defaults): add StoredMigrationSource for knex custom migration source
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.ts
Labels: none

feat(backend-defaults): add wrapKnexMigrations for transparent migration storage
  packages/backend-defaults/src/entrypoints/database/migrations/wrapKnexMigrations.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/wrapKnexMigrations.ts
Labels: none

feat(backend-defaults): add migrations module index
  packages/backend-defaults/src/entrypoints/database/migrations/index.ts
Labels: none

feat(backend-defaults): integrate migration storage into DatabaseManager Signed-off-by: benjdlambert <ben@blam.sh>
  packages/backend-defaults/src/entrypoints/database/DatabaseManager.test.ts
  packages/backend-defaults/src/entrypoints/database/DatabaseManager.ts
Labels: none

test(backend-defaults): add migration storage integration tests
  packages/backend-defaults/src/entrypoints/database/migrations/integration.test.ts
Labels: none

fix(backend-defaults): fix knex wrapping and skip missing legacy migrations Signed-off-by: benjdlambert <ben@blam.sh>
  packages/backend-defaults/src/entrypoints/database/migrations/MigrationStorage.ts
  packages/backend-defaults/src/entrypoints/database/migrations/wrapKnexMigrations.ts
Labels: none

chore: debug wip
  packages/backend-defaults/src/entrypoints/database/migrations/MigrationStorage.ts
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.ts
  packages/backend-defaults/src/entrypoints/database/migrations/wrapKnexMigrations.ts
Labels: none

Fix disabled state on Button
  .changeset/chilly-maps-heal.md
  .storybook/themes/spotify.css
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/css/tokens.css
Labels: none

Update Button.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
Labels: none

adds bypass
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.tsx
Labels: area:scaffolder

use pattern resolver to allow more dynamic metadata
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
  packages/backend-openapi-utils/src/stub.ts
  packages/backend-openapi-utils/src/util/createPatternResolver.test.ts
  packages/backend-openapi-utils/src/util/createPatternResolver.ts
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
Labels: area:catalog

chore: less wip Signed-off-by: benjdlambert <ben@blam.sh>
  packages/backend-defaults/src/entrypoints/database/DatabaseManager.ts
  packages/backend-defaults/src/entrypoints/database/migrations/MigrationStorage.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/MigrationStorage.ts
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.ts
  packages/backend-defaults/src/entrypoints/database/migrations/integration.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/wrapKnexMigrations.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/wrapKnexMigrations.ts
Labels: none

chore: another round of cleanup: Signed-off-by: benjdlambert <ben@blam.sh>
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.test.ts
  packages/backend-defaults/src/entrypoints/database/migrations/StoredMigrationSource.ts
  packages/backend-defaults/src/entrypoints/database/migrations/wrapKnexMigrations.ts
Labels: none

chore: create a reader without any google config Signed-off-by: benjdlambert <ben@blam.sh>
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
Labels: none

Sync CSS
  docs-ui/public/theme-backstage.css
  docs-ui/public/theme-spotify.css
  packages/ui/css/styles.css
Labels: none

fix(repo-tools): Invalid --help for backstage-repo-tools package schema openapi generate
  .changeset/slow-bobcats-lose.md
  packages/repo-tools/cli-report.md
  packages/repo-tools/src/commands/index.ts
Labels: none

fix(repo-tools): Invalid --help for backstage-repo-tools package schema openapi generate (#32305)
  .changeset/slow-bobcats-lose.md
  packages/repo-tools/cli-report.md
  packages/repo-tools/src/commands/index.ts
Labels: none

Remove TechDocs link from landing page documentation
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Add Technical overview to sidebar navigation
  mkdocs.yml
Labels: none

docs: add warning about downgrade limitations
  docs/getting-started/keeping-backstage-updated.md
Labels: area:documentation

do not expose pattern resolver to public api
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/util/createPatternResolver.ts
Labels: none

fix entityRef template
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
Labels: area:catalog

support both request and response resolvers but not at once
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

fix copilot issues
  packages/backend-openapi-utils/src/stub.ts
  packages/backend-openapi-utils/src/util/createPatternResolver.ts
Labels: none

fix test issues and allow primitive values to be retained
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
  packages/backend-openapi-utils/src/util/createPatternResolver.test.ts
  packages/backend-openapi-utils/src/util/createPatternResolver.ts
Labels: none

cleanup
  docs/golden-path/adoption/002-leadership-buy-in.md
  docs/golden-path/adoption/003-first-stakeholder-feedback.md
Labels: area:documentation

docs: adding more golden path docs
  docs/golden-path/adoption/001-getting-started.md
  docs/golden-path/adoption/002-leadership-buy-in.md
  docs/golden-path/adoption/002-setting-up-a-poc.md
  docs/golden-path/adoption/003-first-stakeholder-feedback.md
  docs/golden-path/adoption/meta.md
Labels: area:documentation

add instructions for checking todo list items
  docs/golden-path/adoption/003-setting-up-a-poc.md
  docs/golden-path/adoption/004-first-stakeholder-feedback.md
  docs/golden-path/plugins/backend/002-poking-around.md
Labels: area:documentation

Add new Popover component
  .changeset/eager-spies-wish.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/Popover/Popover.module.css
  packages/ui/src/components/Popover/Popover.stories.tsx
  packages/ui/src/components/Popover/Popover.tsx
  packages/ui/src/components/Popover/definition.ts
  packages/ui/src/components/Popover/types.ts
  packages/ui/src/components/Tooltip/Tooltip.module.css
  packages/ui/src/css/tokens.css
  packages/ui/src/index.ts
Labels: none

Update report
  packages/ui/report.api.md
  packages/ui/src/components/Popover/Popover.stories.tsx
  packages/ui/src/components/Popover/Popover.tsx
  packages/ui/src/components/Popover/definition.ts
Labels: none

Upgrade `zod-to-json-schema` to latest version
  .changeset/whole-yaks-repair.md
  packages/backend-defaults/package.json
  packages/backend-test-utils/package.json
  packages/frontend-plugin-api/package.json
  plugins/auth-node/package.json
  plugins/permission-common/package.json
  plugins/permission-node/package.json
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-node/package.json
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  yarn.lock
Labels: area:auth, area:permission, area:scaffolder
