Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

fix(catalog): config for priority and enabled
  .changeset/fast-heads-brake.md
  docs/features/software-catalog/configuration.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, area:documentation

chore: update changeset for scaffolder-backend
  .changeset/wet-spiders-wait.md
Labels: none

fixup! add API report
  packages/backend-defaults/report-rootHttpRouter.api.md
Labels: none

fixup! remove fallback number parsing
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
Labels: none

chore: moar deprecations
  .changeset/solid-bikes-leave.md
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/alpha/index.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

feat(http): move HTTP server configuration application, enable flexible duration formats
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/report-rootHttpRouter.api.md
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/config.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/config.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/createHttpServer.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/types.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
Labels: area:documentation

feat(http): support server-level timeout and socket options via app-config
  .changeset/salty-words-wash.md
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/config.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/config.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/createHttpServer.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/types.ts
Labels: area:documentation

chore: last bits
  .changeset/legal-eagles-jog.md
  .changeset/red-times-bet.md
  plugins/scaffolder-backend-module-azure/src/module.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/module.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/module.ts
  plugins/scaffolder-backend-module-bitbucket/src/module.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/module.ts
  plugins/scaffolder-backend-module-cookiecutter/src/module.ts
  plugins/scaffolder-backend-module-gerrit/src/module.ts
  plugins/scaffolder-backend-module-gitea/src/module.ts
  plugins/scaffolder-backend-module-github/src/module.ts
  plugins/scaffolder-backend-module-gitlab/src/module.ts
  plugins/scaffolder-backend-module-notifications/src/module.ts
  plugins/scaffolder-backend-module-rails/src/module.ts
  plugins/scaffolder-backend-module-sentry/src/module.ts
  plugins/scaffolder-backend-module-yeoman/src/module.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/alpha/index.ts
  plugins/scaffolder-node/src/extensions.ts
Labels: area:scaffolder

feat: add external token decorator service
  .changeset/thirty-rules-press.md
  docs/auth/service-to-service-auth.md
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/index.ts
  packages/backend-defaults/src/entrypoints/auth/plugin/PluginTokenHandler.ts
Labels: area:documentation

fix some test and types
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.ts
  packages/backend-defaults/src/entrypoints/auth/external/static.ts
  packages/backend-defaults/src/entrypoints/auth/external/types.ts
Labels: none

fix(config): allow colon to be in the config key
  .changeset/six-cooks-battle.md
  packages/config-loader/src/sources/EnvConfigSource.ts
  packages/config/src/reader.test.ts
  packages/config/src/reader.ts
Labels: none

break out provider/processor handling into a separate file
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/util.test.ts
  plugins/catalog-backend/src/service/util.ts
Labels: area:catalog

do is instead of get
  plugins/catalog-backend/src/service/util.ts
Labels: area:catalog

refactor: rename ExternalTokenHandler to ExternalAuthTokenHandler
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.ts
Labels: none

feat(docs): add multiton docs and fix the custom handler service
  .changeset/thirty-rules-press.md
  docs/auth/service-to-service-auth.md
  docs/backend-system/architecture/03-services.md
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/external/helpers.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.ts
  packages/backend-defaults/src/entrypoints/auth/external/static.ts
  packages/backend-defaults/src/entrypoints/auth/external/types.ts
  packages/backend-defaults/src/entrypoints/auth/index.ts
Labels: area:documentation

fix: update docs with new approach and export types
  docs/auth/service-to-service-auth.md
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/external/ExternalTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/external/types.ts
  packages/backend-defaults/src/entrypoints/auth/index.ts
Labels: area:documentation

fix: rename the Internal token handler
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.ts
Labels: none

fix: api-reports
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/external/helpers.ts
Labels: none

fix typos in docs
  docs/auth/service-to-service-auth.md
  docs/backend-system/architecture/03-services.md
Labels: area:documentation

feat: simplify external token handler API
  .changeset/thirty-rules-press.md
  docs/auth/service-to-service-auth.md
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/external/helpers.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.ts
  packages/backend-defaults/src/entrypoints/auth/external/static.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/static.ts
  packages/backend-defaults/src/entrypoints/auth/external/types.ts
  packages/backend-defaults/src/entrypoints/auth/index.ts
Labels: area:documentation

feat: use multiple Config factory
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.ts
  packages/backend-defaults/src/entrypoints/auth/external/static.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/static.ts
  packages/backend-defaults/src/entrypoints/auth/external/types.ts
  packages/backend-defaults/src/entrypoints/auth/index.ts
Labels: none

fix(bui): Add missing Cell component props to table documentation
  docs-ui/src/content/components/table.props.ts
Labels: none

prevent handlers overrides
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.ts
Labels: none

clean up
  packages/backend-defaults/src/entrypoints/auth/external/legacy.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/static.ts
Labels: none

chore: fixing loading state Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-react/src/hooks/useEventStream.ts
Labels: area:scaffolder

fix: correct grammar
  docs/backend-system/architecture/03-services.md
Labels: area:documentation

Log before provider-orphaning eviction happens
  .changeset/brown-turkeys-send.md
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.test.ts
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.ts
Labels: area:catalog

fix: gendocu public apis error
  package.json
  yarn.lock
Labels: none

chore: changeset
  .changeset/curvy-bobcats-melt.md
Labels: none

bring the legacy config back
  .changeset/thirty-rules-press.md
  docs/auth/service-to-service-auth.md
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/legacy.ts
  packages/backend-defaults/src/entrypoints/auth/external/types.ts
  packages/backend-defaults/src/entrypoints/auth/index.ts
Labels: area:documentation

chore: fix api-reports Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-react/report.api.md
Labels: area:scaffolder

feat(catalog): add entity validation action
  .changeset/red-dodos-work.md
  plugins/catalog-backend/src/actions/createValidateEntityAction.test.ts
  plugins/catalog-backend/src/actions/createValidateEntityAction.ts
  plugins/catalog-backend/src/actions/index.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
Labels: area:catalog

feat(scaffolder): add missing form fields for the nfs
  .changeset/wide-flies-jog.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/scaffolder/src/alpha/fields/EntityNamePicker.ts
  plugins/scaffolder/src/alpha/fields/EntityPicker.ts
  plugins/scaffolder/src/alpha/fields/EntityTagsPicker.ts
  plugins/scaffolder/src/alpha/fields/MultiEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/MyGroupsPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnedEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnerPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoBranchPicker.ts
  plugins/scaffolder/src/alpha/plugin.tsx
  plugins/scaffolder/src/components/fields/EntityNamePicker/index.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/validation.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/index.ts
Labels: area:scaffolder

feat: add package start entry dir option
  .changeset/modern-pugs-appear.md
  docs/tooling/cli/03-commands.md
  packages/cli/src/modules/build/commands/package/start/command.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.ts
  packages/cli/src/modules/build/index.ts
Labels: area:documentation

refactor: apply review suggestions
  .changeset/modern-pugs-appear.md
  docs/tooling/cli/03-commands.md
  packages/cli/cli-report.md
  packages/cli/src/modules/build/commands/package/start/command.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.test.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.ts
  packages/cli/src/modules/build/index.ts
Labels: area:documentation

chore(scaffolder): clean up api report from schemas and validators
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/alpha/fields/EntityNamePicker.ts
  plugins/scaffolder/src/alpha/fields/EntityPicker.ts
  plugins/scaffolder/src/alpha/fields/EntityTagsPicker.ts
  plugins/scaffolder/src/alpha/fields/MultiEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/MyGroupsPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnedEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnerPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoBranchPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoUrlPicker.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/index.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/schema.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/validation.ts
  plugins/scaffolder/src/components/fields/EntityPicker/index.ts
  plugins/scaffolder/src/components/fields/EntityTagsPicker/index.ts
  plugins/scaffolder/src/components/fields/EntityTagsPicker/schema.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/index.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/MyGroupsPicker/index.ts
  plugins/scaffolder/src/components/fields/MyGroupsPicker/schema.ts
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/index.ts
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/OwnerPicker/index.ts
  plugins/scaffolder/src/components/fields/OwnerPicker/schema.ts
  plugins/scaffolder/src/components/fields/RepoBranchPicker/index.ts
  plugins/scaffolder/src/components/fields/RepoBranchPicker/schema.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/index.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/validation.ts
  plugins/scaffolder/src/components/fields/index.ts
  plugins/scaffolder/src/components/index.ts
Labels: area:scaffolder

workflows: tweak techdocs workflow
  .github/workflows/verify_e2e-techdocs.yml
Labels: none

fix: correct year for copyright headers
  plugins/scaffolder/src/alpha/fields/EntityNamePicker.ts
  plugins/scaffolder/src/alpha/fields/EntityPicker.ts
  plugins/scaffolder/src/alpha/fields/EntityTagsPicker.ts
  plugins/scaffolder/src/alpha/fields/MultiEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/MyGroupsPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnedEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnerPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoBranchPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoUrlPicker.ts
Labels: area:scaffolder

fix(bui): Enable tooltips on disabled buttons
  .changeset/moody-singers-deny.md
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Labels: none

refactor: rephrase the flag description
  packages/cli/src/modules/build/index.ts
Labels: none
