Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

address remaining comments
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsDrawer.tsx
  plugins/kubernetes-react/src/components/CronJobsAccordions/CronJobsDrawer.tsx
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/Rollout.tsx
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/RolloutDrawer.tsx
  plugins/kubernetes-react/src/components/DaemonSetsAccordions/DaemonSetsDrawer.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentDrawer.tsx
  plugins/kubernetes-react/src/translation.ts
Labels: area:kubernetes

chgore: add release notes
  docs/releases/v1.45.0.md
Labels: area:documentation

fix(ui): prioritize providedRowCount in useTable hook
  .changeset/spicy-teeth-study.md
  packages/ui/src/components/Table/hooks/useTable.ts
Labels: none

feat: add dbsystel as adopter
  ADOPTERS.md
Labels: none

backend-app-api: add createAllowBootFailurePredicate
  packages/backend-app-api/src/wiring/createAllowBootFailurePredicate.test.ts
  packages/backend-app-api/src/wiring/createAllowBootFailurePredicate.ts
Labels: none

backend-app-api: export BackendStartupError
  packages/backend-app-api/report.api.md
  packages/backend-app-api/src/wiring/index.ts
Labels: none

changesets: add changeset for backend.start() result
  .changeset/fine-eagles-sleep.md
Labels: none

docs/backend-system: document backend startup result
  docs/backend-system/architecture/02-backends.md
Labels: area:documentation

backend-app-api: update API report
  packages/backend-app-api/report.api.md
Labels: none

backend-app-api: refactor startup tracking and report results
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/BackendStartupError.ts
  packages/backend-app-api/src/wiring/BackstageBackend.ts
  packages/backend-app-api/src/wiring/createInitializationLogger.ts
  packages/backend-app-api/src/wiring/createInitializationResultCollector.ts
  packages/backend-app-api/src/wiring/index.ts
  packages/backend-app-api/src/wiring/types.ts
  packages/backend-defaults/src/entrypoints/permissionsRegistry/permissionsRegistryServiceFactory.test.ts
Labels: none

backend-app-api: wrap returned result
  docs/backend-system/architecture/02-backends.md
  packages/backend-app-api/report.api.md
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/BackstageBackend.ts
  packages/backend-app-api/src/wiring/createInitializationResultCollector.ts
  packages/backend-app-api/src/wiring/types.ts
Labels: area:documentation

feat(home): add new frontend system support
  .changeset/tangy-wasps-invent.md
  docs/getting-started/homepage.md
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  plugins/home-react/package.json
  plugins/home-react/report-alpha.api.md
  plugins/home-react/src/alpha.ts
  plugins/home-react/src/alpha/blueprints/HomepageWidgetBlueprint.tsx
  plugins/home-react/src/alpha/dataRefs.ts
  plugins/home-react/src/extensions.tsx
  plugins/home/README.md
  plugins/home/dev/index.tsx
  plugins/home/package.json
  plugins/home/report-alpha.api.md
  plugins/home/report.api.md
  plugins/home/src/alpha.test.ts
  plugins/home/src/alpha.tsx
  plugins/home/src/alpha/HomepageBlueprint.tsx
  plugins/home/src/api/VisitsApi.ts
  plugins/home/src/translation.ts
  yarn.lock
Labels: area:documentation, area:home, area:search

refactor(home): bundle widget data into single extension ref
  plugins/home-react/src/alpha.ts
  plugins/home-react/src/alpha/blueprints/HomepageWidgetBlueprint.tsx
  plugins/home-react/src/alpha/dataRefs.ts
  plugins/home/src/alpha/HomepageBlueprint.tsx
Labels: area:home, area:search

Update to use coreExtensionsData.title
  packages/app-next/src/App.tsx
  plugins/home-react/report-alpha.api.md
  plugins/home-react/src/alpha.ts
  plugins/home-react/src/alpha/dataRefs.ts
  plugins/home/report-alpha.api.md
  plugins/home/src/alpha.tsx
  plugins/home/src/alpha/HomepageBlueprint.tsx
Labels: area:home, area:search

chore(home): update api reports
  plugins/home-react/report-alpha.api.md
  plugins/home/report-alpha.api.md
Labels: area:home, area:search

updating api report
  plugins/kubernetes-react/report-alpha.api.md
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/Rollout.tsx
  plugins/kubernetes-react/src/components/DaemonSetsAccordions/DaemonSetsAccordions.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentsAccordions.tsx
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetsAccordions.tsx
Labels: area:kubernetes

fix(catalog): fix refresh service ancestry to follow the tree
  .changeset/tiny-suns-trade.md
  plugins/catalog-backend/src/service/DefaultRefreshService.ts
Labels: area:catalog

Remove undici and old mocks
  packages/cli-common/src/proxyBootstrap.test.ts
  packages/create-app/package.json
  packages/create-app/src/lib/tasks.test.ts
  yarn.lock
Labels: none

docs(catalog): add screenshot; improve example
  docs/assets/software-catalog/catalog-customization-content-header.png
  docs/features/software-catalog/catalog-customization.md
Labels: area:documentation

Remove global-agent from create-app
  packages/create-app/package.json
  yarn.lock
Labels: none

chore(catalog): clean up code, docs and changesets
  .changeset/long-jeans-fail.md
  .changeset/proud-peas-lay.md
  docs/features/software-catalog/catalog-customization.md
  plugins/catalog-react/src/alpha/blueprints/CatalogContentHeaderItemBlueprint.test.tsx
  plugins/catalog/src/alpha/contentHeaderItems.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog, area:documentation

chore(catalog): update api reports
  plugins/catalog/report-alpha.api.md
Labels: area:catalog

dedupe
  microsite/yarn.lock
Labels: area:microsite

publishing Template Designer plugin
  microsite/data/plugins/template-designer.yaml
Labels: area:microsite

Add cncf-white.svg image file
  microsite/static/img/cncf-stacked-white.svg
  microsite/static/img/cncf-white.svg
Labels: area:microsite

fix(ui): prioritize providedRowCount in useTable hook
  .changeset/spicy-teeth-study.md
  packages/ui/src/components/Table/hooks/useTable.ts
Labels: none

frontend-plugin-api: fix input incompatibility crash
  .changeset/flat-pillows-rush.md
  packages/frontend-internal/src/wiring/InternalExtensionInput.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionInput.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
Labels: none

Patch from PR #31825
  .changeset/flat-pillows-rush.md
  packages/frontend-internal/src/wiring/InternalExtensionInput.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionInput.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
Labels: none

Generate Release
  .changeset/flat-pillows-rush.md
  package.json
  packages/frontend-plugin-api/CHANGELOG.md
  packages/frontend-plugin-api/package.json
Labels: none

Introduce new option in the GH catalog plugin to exclude suspended users
  plugins/catalog-backend-module-github-org/src/module.ts
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

Add test cases for the GitHub getOrganizationUsers call
  plugins/catalog-backend-module-github/src/lib/github.test.ts
Labels: area:catalog

Generate API report
  plugins/catalog-backend-module-github/report.api.md
  plugins/catalog-backend-module-github/src/lib/github.test.ts
Labels: area:catalog

Update documentation to list the new option 'excludeSuspendedUsers'
  docs/integrations/github/org.md
Labels: area:documentation

Add changeset
  .changeset/fuzzy-phones-own.md
Labels: none

Move the suspended user logic to a transformer filter
  .changeset/fuzzy-phones-own.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
Labels: area:catalog, area:documentation

Fix Vale check failure
  .changeset/short-cloths-tie.md
Labels: none

Add new viewing-catalog file to getting started
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Add graphics for viewing catalog doc
  docs/assets/uiguide/details-system-entity.png
  docs/assets/uiguide/entities-owned-by-me.png
  docs/assets/uiguide/entity-actions.png
Labels: area:documentation

Revise Viewing the Catalog documentation
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Add additional graphics for viewing catalog doc
  docs/assets/uiguide/portal-with-annotations.png
  docs/assets/uiguide/select-example-website.png
Labels: area:documentation
