Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

clean up the postgres config loader code
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

one more patch
  .patches/pr-32173.txt
Labels: none

Generate Release
  .changeset/every-bears-add.md
  .changeset/weak-lemons-create.md
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Labels: none

add the jest30 migration to the sidebar
  microsite/sidebars.ts
Labels: area:microsite

Revert "microsite: pin swc"
  .changeset/weak-lemons-create.md
  microsite/package.json
  microsite/yarn.lock
  packages/cli/package.json
  yarn.lock
Labels: area:microsite

fix(cli): bump swc core version for es2023/2024 support
  .changeset/every-bears-add.md
  microsite/package.json
  microsite/yarn.lock
  packages/cli/package.json
  yarn.lock
Labels: area:microsite

remove the patch markers; did by hand instead
  .patches/pr-32149.txt
  .patches/pr-32156.txt
  .patches/pr-32173.txt
Labels: none

addressing a couple of nits ive had in the docs around plugins and testing
  docs/plugins/existing-plugins.md
  docs/plugins/index.md
  docs/plugins/testing.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

fix(techdocs): Improve sidebar position, scroll
  .changeset/slimy-dots-sing.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

update mkdocs
  mkdocs.yml
Labels: none

chore: update browserslist database
  docs-ui/yarn.lock
  microsite/yarn.lock
  yarn.lock
Labels: area:microsite

fix(puppetdb): handle undefined latest_report_status in transformer
  plugins/catalog-backend-module-puppetdb/src/puppet/transformers.ts
Labels: area:catalog

feat: add generated index pages for all sidebar items (#32036)
  microsite/sidebars.ts
Labels: area:microsite

chore: add changeset
  .changeset/fluffy-bushes-remain.md
Labels: none

docs: format Select docs with Prettier
  docs-ui/src/content/select.mdx
Labels: none

docs: add example for disabling individual Select options
  docs-ui/src/content/select.mdx
  docs-ui/src/content/select.props.ts
Labels: none

release notes: mention adding types package too
  docs/releases/v1.46.0.md
Labels: area:documentation

addressing a couple of nits ive had in the docs around plugins and testing
  docs/plugins/existing-plugins.md
  docs/plugins/index.md
  docs/plugins/testing.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

addressing feedback
  docs/plugins/index.md
  docs/plugins/testing.md
  microsite/docusaurus.config.ts
Labels: area:documentation, area:microsite

update mkdocs
  mkdocs.yml
Labels: none

Update docs/plugins/testing.md
  docs/plugins/testing.md
Labels: area:documentation

add jest types for jest migration
  docs/tutorials/jest30-migration.md
Labels: area:documentation

slight rewording
  docs/tutorials/jest30-migration.md
Labels: area:documentation

feat(auth): allow configuring DCR token expiration
  .changeset/yummy-socks-brake.md
Labels: none

feat(techdocs): add support for providing custom TechDocsReaderLayout via extensions
  plugins/techdocs/src/alpha/index.tsx
Labels: area:techdocs

demo test
  packages/app-next/src/App.tsx
Labels: none

chore: point to new api reference site
  docs/api/utility-apis.md
  docs/auth/index.md
  docs/conf/reading.md
  docs/deployment/scaling.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  docs/plugins/integrating-plugin-into-software-catalog.md
  docs/plugins/structure-of-a-plugin.md
  docs/tutorials/using-backstage-proxy-within-plugin.md
Labels: area:documentation

chore: Prepare changeset for release
  .changeset/smart-ties-attend.md
Labels: none

chore: update how GithubOrgEntityProvider handle membership
  .changeset/ten-vans-agree.md
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

feat(techdocs): add support for providing custom TechDocsReaderLayout via extensions
  .changeset/curly-cameras-slide.md
  docs/features/techdocs/extensions.md
  packages/app-next/src/App.tsx
  packages/app-next/src/examples/CustomTechDocsReaderLayout.tsx
  plugins/techdocs-react/package.json
  plugins/techdocs-react/report-alpha.api.md
  plugins/techdocs-react/src/alpha.test.tsx
  plugins/techdocs-react/src/alpha.tsx
  plugins/techdocs/package.json
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/src/alpha/index.test.tsx
  plugins/techdocs/src/alpha/index.tsx
  yarn.lock
Labels: area:documentation, area:techdocs

add copy paste commands
  docs/tutorials/jest30-migration.md
Labels: area:documentation

Add Storybook MCP
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  packages/ui/package.json
  yarn.lock
Labels: none

Update report.api.md
  packages/ui/report.api.md
Labels: none

Update Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.stories.tsx
Labels: none

Fixes stories for manifest
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/PasswordField/PasswordField.stories.tsx
  packages/ui/src/components/TagGroup/TagGroup.stories.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
Labels: none

tweaking
  docs/tutorials/jest30-migration.md
Labels: area:documentation

feat(ui)!: redesign Table component with new useTable hook API
  .changeset/every-lions-pay.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs-ui/src/snippets/stories-snippets.tsx
  packages/ui/report.api.md
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/components/TableRoot.tsx
  packages/ui/src/components/Table/definition.ts
  packages/ui/src/components/Table/hooks/types.ts
  packages/ui/src/components/Table/hooks/useCompletePagination.ts
  packages/ui/src/components/Table/hooks/useCursorPagination.ts
  packages/ui/src/components/Table/hooks/useDebouncedReload.ts
  packages/ui/src/components/Table/hooks/useOffsetPagination.ts
  packages/ui/src/components/Table/hooks/usePageCache.ts
  packages/ui/src/components/Table/hooks/useQueryState.ts
  packages/ui/src/components/Table/hooks/useStableCallback.ts
  packages/ui/src/components/Table/hooks/useTable.ts
  packages/ui/src/components/Table/index.ts
  packages/ui/src/components/Table/stories/Table.dev.stories.tsx
  packages/ui/src/components/Table/stories/Table.docs.stories.tsx
  packages/ui/src/components/Table/stories/Table.visual.stories.tsx
  packages/ui/src/components/Table/stories/mocked-data1.ts
  packages/ui/src/components/Table/stories/mocked-data2.ts
  packages/ui/src/components/Table/stories/mocked-data3.ts
  packages/ui/src/components/Table/stories/mocked-data4.ts
  packages/ui/src/components/Table/stories/utils.tsx
  packages/ui/src/components/Table/types.ts
  packages/ui/src/components/TablePagination/TablePagination.stories.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
Labels: none

chore: migrate 8 packages to MSW v2 (batch 1/4)
  packages/backend-openapi-utils/package.json
  packages/backend-openapi-utils/src/schema/validation.test.ts
  packages/core-components/package.json
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInIdentity.test.ts
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.test.tsx
  packages/core-components/src/setupTests.ts
  packages/release-manifests/package.json
  packages/release-manifests/src/manifest.test.ts
  packages/release-manifests/src/setupTests.ts
  packages/test-utils/package.json
  packages/test-utils/src/testUtils/apis/FetchApi/MockFetchApi.test.ts
  plugins/permission-backend/package.json
  plugins/permission-backend/src/service/PermissionIntegrationClient.test.ts
  plugins/permission-common/package.json
  plugins/permission-common/src/PermissionClient.test.ts
  plugins/permission-common/src/setupTests.ts
  plugins/permission-node/package.json
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/user-settings/package.json
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.test.ts
  plugins/user-settings/src/setupTests.ts
  yarn.lock
Labels: area:permission

chore: migrate remaining packages to MSW v2 (batch 5/5)
  packages/app/package.json
  packages/app/src/test-reject-network.test.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/userInfo/DefaultUserInfoService.test.ts
  packages/frontend-dynamic-feature-loader/package.json
  packages/frontend-dynamic-feature-loader/src/loader.test.tsx
  plugins/catalog-backend-module-gitlab/package.json
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesRouter.test.ts
  yarn.lock
Labels: area:catalog, area:kubernetes

chore: add changeset for MSW v2 migration
  .changeset/weak-breads-march.md
  packages/test-utils/report.api.md
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-node/src/auth/PinnipedHelper.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
  plugins/scaffolder-backend-module-bitbucket/report.api.md
Labels: area:kubernetes, area:scaffolder
