Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

docs: clarify Docker build command execution context
  docs/deployment/docker.md
Labels: area:documentation

Some small tidying up of the docs site
  docs/plugins/existing-plugins.md
  docs/plugins/index.md
  docs/plugins/testing.md
  microsite/docusaurus.config.ts
  microsite/sidebars.ts
  mkdocs.yml
Labels: area:documentation, area:microsite

NFS entityKindFilter
  packages/app-next/app-config.yaml
  plugins/org/src/alpha.tsx
Labels: none

uno reverse the filters
  packages/app-next/app-config.yaml
  plugins/org/src/alpha.tsx
Labels: none

fix tests
  .changeset/twenty-candles-open.md
  plugins/catalog-graph/src/components/CatalogGraphPage/useCatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/useCatalogGraphPage.ts
  plugins/search/src/components/SearchPage/SearchPage.tsx
  plugins/search/src/components/SearchPage/UrlUpdater.tsx
Labels: area:catalog, area:search

explicitly use jest 30
  package.json
  yarn.lock
Labels: none

api report
  plugins/org/report-alpha.api.md
Labels: none

fix tests
  packages/integration/src/setupTests.ts
Labels: none

feat(techdocs): add app-config option to disable external font download
  .changeset/kind-files-press.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/mkdocsPatchers.ts
  plugins/techdocs-node/src/stages/generate/techdocs.ts
  plugins/techdocs-node/src/stages/generate/types.ts
Labels: area:documentation, area:techdocs

feat(techdocs): add techdocs-cli option to disable external font download
  .changeset/funny-animals-prove.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/techdocs/cli.md
  docs/features/techdocs/how-to-guides.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/generate/generate.ts
  packages/techdocs-cli/src/commands/index.ts
Labels: area:documentation, area:techdocs

Improve useSurface() to include onSurface prop
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/hooks/useSurface.tsx
Labels: none

add support for Kafka offset configuration (fromBeginning) and autoCommit to plugin-events-backend-module
  .changeset/thin-flies-travel.md
  plugins/events-backend-module-kafka/README.md
  plugins/events-backend-module-kafka/config.d.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/KafkaConsumingEventPublisher.test.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/KafkaConsumingEventPublisher.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/config.test.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/config.ts
Labels: area:events

Add auto prop to useSurface()
  packages/ui/report.api.md
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/hooks/useSurface.tsx
  packages/ui/src/index.ts
  packages/ui/src/types.ts
Labels: none

Move to version bridge
  packages/ui/package.json
  packages/ui/src/hooks/useSurface.tsx
  yarn.lock
Labels: none

simplify observable implementation
  packages/core-app-api/report.api.md
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.ts
  packages/core-app-api/src/apis/implementations/TranslationApi/I18nextTranslationApi.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  plugins/app/src/apis/DefaultAppLanguageSelector.ts
  plugins/app/src/apis/DefaultAppThemeSelector.ts
  plugins/app/src/extensions/AppLanguageApi.ts
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/user-settings/src/components/General/UserSettingsThemeToggle.test.tsx
Labels: none

use storageApi for app lanaguge and theme settings
  .changeset/brown-plants-hunt.md
  packages/core-app-api/report.api.md
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.test.ts
  packages/core-app-api/src/apis/implementations/TranslationApi/I18nextTranslationApi.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  packages/frontend-plugin-api/src/translation/useTranslationRef.test.tsx
  plugins/app/package.json
  plugins/app/src/apis/DefaultAppLanguageSelector.ts
  plugins/app/src/apis/DefaultAppThemeSelector.ts
  plugins/app/src/extensions/AppLanguageApi.ts
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/user-settings/src/components/General/UserSettingsThemeToggle.test.tsx
  yarn.lock
Labels: none

Fix dependency
  packages/ui/package.json
  yarn.lock
Labels: none

feat: add log download btn for LogViewer
  .changeset/six-eels-film.md
  packages/core-components/report-alpha.api.md
  packages/core-components/report.api.md
  packages/core-components/src/components/LogViewer/LogViewer.tsx
  packages/core-components/src/components/LogViewer/LogViewerControls.tsx
  packages/core-components/src/components/LogViewer/RealLogViewer.test.tsx
  packages/core-components/src/components/LogViewer/RealLogViewer.tsx
  packages/core-components/src/translation.ts
  plugins/scaffolder-react/src/next/components/TaskLogStream/TaskLogStream.test.tsx
  plugins/scaffolder-react/src/next/components/TaskLogStream/TaskLogStream.tsx
  plugins/scaffolder-react/src/next/hooks/useDownloadLogs.ts
Labels: area:scaffolder

fix: generated index URLs were URI encoded (#32226)
  microsite/sidebars.ts
Labels: area:microsite

add table options and title for components cards of api
  .changeset/rude-geckos-lead.md
  plugins/api-docs/report.api.md
  plugins/api-docs/src/components/ComponentsCards/ConsumingComponentsCard.tsx
  plugins/api-docs/src/components/ComponentsCards/ProvidingComponentsCard.tsx
Labels: none

remove token refresh audit logs and move sev to low
  plugins/auth-node/src/audit.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.ts
  plugins/auth-node/src/proxy/createProxyRouteHandlers.ts
Labels: area:auth

update tests to reflect latest updates
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/proxy/createProxyRouteHandlers.ts
Labels: area:auth

Add new links to developer documentation
  docs/getting-started/index.md
Labels: area:documentation

Updated to use Node 24 and Debian Trixie
  .changeset/slick-laws-push.md
  docs/deployment/docker.md
  docs/getting-started/config/database.md
  docs/tooling/cli/02-build-system.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
  packages/create-app/templates/next-app/packages/backend/Dockerfile
Labels: area:documentation

Missed some
  docs/deployment/docker.md
Labels: area:documentation

Fix links formatting in getting-started index
  docs/getting-started/index.md
Labels: area:documentation

Added Trixie to Vale
  .github/vale/config/vocabularies/Backstage/accept.txt
Labels: none

Updated Prerequisites Node version
  docs/getting-started/index.md
Labels: area:documentation

feat(home): improve widget editing state management
  .changeset/easy-maps-appear.md
  plugins/home/report-alpha.api.md
  plugins/home/src/components/CustomHomepage/CustomHomepageButtons.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.test.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/translation.ts
Labels: area:home, area:search

Update demo site reference in registration guide
  docs/getting-started/register-a-component.md
Labels: area:documentation

update api report
  plugins/auth-node/report.api.md
Labels: area:auth

Update .github/vale/config/vocabularies/Backstage/accept.txt
  .github/vale/config/vocabularies/Backstage/accept.txt
Labels: none

refactor(ui): use rehype-sanitize for gfm sanitization
  .changeset/few-teams-punch.md
  packages/core-components/package.json
  packages/core-components/src/components/MarkdownContent/MarkdownContent.stories.tsx
  packages/core-components/src/components/MarkdownContent/MarkdownContent.test.tsx
  packages/core-components/src/components/MarkdownContent/MarkdownContent.tsx
  yarn.lock
Labels: none

feat: Add css changes for new tag in software templates card
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardTags.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardTags.tsx
Labels: area:scaffolder

refactor(ui): use rehype-sanitize for gfm sanitization (#31770)
  .changeset/few-teams-punch.md
  packages/core-components/package.json
  packages/core-components/src/components/MarkdownContent/MarkdownContent.stories.tsx
  packages/core-components/src/components/MarkdownContent/MarkdownContent.test.tsx
  packages/core-components/src/components/MarkdownContent/MarkdownContent.tsx
  yarn.lock
Labels: none

dont block with awaits
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.ts
Labels: area:auth

fix(ui): Hide browser-specific password field controls in PasswordField
  packages/ui/src/components/PasswordField/PasswordField.module.css
Labels: none

fix(ui): Hide browser-specific password field controls in PasswordField
  .changeset/bitter-laws-count.md
Labels: none

dont block if audit doesnt work and ensure factory connects auditor
  plugins/auth-node/src/audit.ts
  plugins/auth-node/src/oauth/createOAuthProviderFactory.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.ts
  plugins/auth-node/src/proxy/createProxyRouteHandlers.ts
Labels: area:auth

add autogen reports
  plugins/auth-node/report.api.md
Labels: area:auth
