Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

chore: add changeset
  .changeset/fruity-tires-fail.md
Labels: none

feat: add --output-file option to backstage-cli info for JSON export
  packages/cli/cli-report.md
  packages/cli/src/modules/info/commands/info.ts
  packages/cli/src/modules/info/index.ts
Labels: none

feat: replace --output-file with --format
  .changeset/fruity-tires-fail.md
  docs/tooling/cli/03-commands.md
  packages/cli/cli-report.md
  packages/cli/src/modules/info/commands/info.ts
  packages/cli/src/modules/info/index.ts
Labels: area:documentation

feat: change JSON format for dependency versions to array of objects
  packages/cli/src/modules/info/commands/info.ts
Labels: none

chore: revert changes to cli-report
  packages/cli/cli-report.md
Labels: none

docs: update cli info docs
  docs/tooling/cli/03-commands.md
Labels: area:documentation

chore: build api reports
  packages/cli/cli-report.md
Labels: none

Apply suggestions from code review
  LABELS.md
  REVIEWING.md
Labels: none

fix(ui): add missing cell styles to table selection column
  .changeset/stupid-words-fail.md
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

Update LABELS.md
  LABELS.md
Labels: none

Update LABELS.md
  LABELS.md
Labels: none

ui: add indeterminate state to Checkbox component
  .changeset/brown-grapes-fry.md
  packages/ui/report.api.md
  packages/ui/src/components/Checkbox/Checkbox.module.css
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Checkbox/definition.ts
Labels: none

ui: add indeterminate state to Checkbox component
  .changeset/brown-grapes-fry.md
  packages/ui/report.api.md
  packages/ui/src/components/Checkbox/Checkbox.module.css
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Checkbox/definition.ts
Labels: none

feat(search-elasticsearch): add authentication extension point for dynamic auth in ElasticSearch
  plugins/search-backend-module-elasticsearch/src/auth.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchAuthTransport.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchAuthTransport.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/index.ts
  plugins/search-backend-module-elasticsearch/src/module.ts
Labels: area:search

chore: add changeset for elasticsearch auth extension point
  .changeset/elasticsearch-auth-extension-point.md
Labels: none

chore: Add missing report
  plugins/search-backend-module-elasticsearch/report.api.md
Labels: area:search

TechDocs - Updated the `defaultDockerImage` version
  .changeset/sour-kings-allow.md
  plugins/techdocs-node/src/stages/generate/techdocs.ts
Labels: area:techdocs

REVIEWING.md: review updates and addition about using "request changes"
  REVIEWING.md
Labels: none

.github/vale: add "unreviewed" to vocabulary
  .github/vale/config/vocabularies/Backstage/accept.txt
Labels: none

Updated API Report
  plugins/techdocs-node/report.api.md
Labels: area:techdocs

Deploying to gh-pages from @ backstage/backstage@0aaaf7b00e962edcc6e99df0c6ac65805b481c1f 🚀
  api/next/classes/_backstage_plugin-catalog-backend-module-msgraph.index.MicrosoftGraphClient.html
  api/next/classes/_backstage_plugin-catalog-backend-module-msgraph.index.MicrosoftGraphOrgEntityProvider.html
  api/next/classes/_backstage_plugin-catalog-backend-module-msgraph.index.MicrosoftGraphOrgReaderProcessor.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.defaultGroupTransformer.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.defaultOrganizationTransformer.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.defaultUserTransformer.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.normalizeEntityName.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.readMicrosoftGraphConfig.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.readMicrosoftGraphOrg.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.readProviderConfig.html
  api/next/functions/_backstage_plugin-catalog-backend-module-msgraph.index.readProviderConfigs.html
  api/next/interfaces/_backstage_plugin-catalog-backend-module-msgraph.index.MicrosoftGraphOrgEntityProviderLegacyOptions.html
  api/next/interfaces/_backstage_plugin-catalog-backend-module-msgraph.index.MicrosoftGraphOrgEntityProviderTransformsExtensionPoint.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.GroupMember.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.GroupTransformer.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.MicrosoftGraphOrgEntityProviderOptions.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.MicrosoftGraphProviderConfig.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.ODataQuery.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.OrganizationTransformer.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.ProviderConfigTransformer.html
  api/next/types/_backstage_plugin-catalog-backend-module-msgraph.index.UserTransformer.html
  api/next/variables/_backstage_plugin-catalog-backend-module-msgraph.index.MICROSOFT_EMAIL_ANNOTATION.html
  api/next/variables/_backstage_plugin-catalog-backend-module-msgraph.index.MICROSOFT_GRAPH_GROUP_ID_ANNOTATION.html
  api/next/variables/_backstage_plugin-catalog-backend-module-msgraph.index.MICROSOFT_GRAPH_TENANT_ID_ANNOTATION.html
  api/next/variables/_backstage_plugin-catalog-backend-module-msgraph.index.MICROSOFT_GRAPH_USER_ID_ANNOTATION.html
  api/next/variables/_backstage_plugin-catalog-backend-module-msgraph.index.default.html
  api/next/variables/_backstage_plugin-catalog-backend-module-msgraph.index.microsoftGraphOrgEntityProviderTransformExtensionPoint.html
  api/next/variables/_backstage_plugin-catalog-backend-module-msgraph.plugins_catalog-backend-module-msgraph_src_alpha.default.html
  storybook/project.json
Labels: area:storybook

review fixes for plugin wrapper blueprint
  packages/frontend-plugin-api/src/alpha.ts
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
Labels: none

Update REVIEWING.md
  REVIEWING.md
Labels: none

Use unstyled link for LinkButton
  .changeset/wet-cups-juggle.md
  packages/core-components/src/components/Link/Link.tsx
  packages/core-components/src/components/LinkButton/LinkButton.test.tsx
  packages/core-components/src/components/LinkButton/LinkButton.tsx
Labels: none

feat(home): add new frontend system support
  .changeset/tangy-wasps-invent.md
  docs/getting-started/homepage.md
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  plugins/home-react/package.json
  plugins/home-react/report-alpha.api.md
  plugins/home-react/src/alpha.ts
  plugins/home-react/src/alpha/blueprints/HomepageWidgetBlueprint.tsx
  plugins/home-react/src/alpha/dataRefs.ts
  plugins/home-react/src/extensions.tsx
  plugins/home/README.md
  plugins/home/dev/index.tsx
  plugins/home/package.json
  plugins/home/report-alpha.api.md
  plugins/home/report.api.md
  plugins/home/src/alpha.test.ts
  plugins/home/src/alpha.tsx
  plugins/home/src/alpha/HomepageBlueprint.tsx
  plugins/home/src/api/VisitsApi.ts
  plugins/home/src/translation.ts
  yarn.lock
Labels: area:documentation, area:home, area:search

Update to use coreExtensionsData.title
  packages/app-next/src/App.tsx
  plugins/home-react/report-alpha.api.md
  plugins/home-react/src/alpha.ts
  plugins/home-react/src/alpha/dataRefs.ts
  plugins/home/report-alpha.api.md
  plugins/home/src/alpha.tsx
  plugins/home/src/alpha/HomepageBlueprint.tsx
Labels: area:home, area:search

chore(home): update api reports
  plugins/home-react/report-alpha.api.md
  plugins/home/report-alpha.api.md
Labels: area:home, area:search

refactor(home): bundle widget data into single extension ref
  plugins/home-react/src/alpha.ts
  plugins/home-react/src/alpha/blueprints/HomepageWidgetBlueprint.tsx
  plugins/home-react/src/alpha/dataRefs.ts
  plugins/home/src/alpha/HomepageBlueprint.tsx
Labels: area:home, area:search

fix(catalog): add vertical spacing between tags in catalog table
  .changeset/fix-catalog-tags-spacing.md
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

fix(core-components): fix Table layout when filters and title are used together
  .changeset/fix-table-filters-title-layout.md
  packages/core-components/src/components/Table/Table.tsx
Labels: none

test(search-elasticsearch): add test for elastic provider with authProvider
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
Labels: area:search

refactor(search-elasticsearch): remove redundant auth exports from index
  plugins/search-backend-module-elasticsearch/src/index.ts
Labels: area:search

fix(create-app): pin memfs to 4.51.1 to fix e2e test failures
  packages/create-app/seed-yarn.lock
Labels: none

fix(cli): use content-based hashing for CSS module class names
  .changeset/orange-hoops-matter.md
  packages/cli/src/modules/build/lib/builder/config.ts
Labels: none

doc: fix typo in technical-overview.md
  docs/overview/technical-overview.md
Labels: area:documentation

fix(cli): use content-based hashing for CSS module class names
  .changeset/orange-hoops-matter.md
  packages/cli/src/modules/build/lib/builder/config.ts
Labels: none

Update .changeset/public-animals-find.md
  .changeset/public-animals-find.md
Labels: none

fix(user-settings): improve route matching for keys containing slashes
  .changeset/quick-states-enjoy.md
  plugins/user-settings-backend/src/service/router.test.ts
  plugins/user-settings-backend/src/service/router.ts
Labels: none

fix(ui): resolve circular dependency in TablePagination
  packages/ui/src/components/TablePagination/TablePagination.tsx
Labels: none

feat: add i18n support for notifications plugin (#31558)
  .changeset/quick-bugs-speak.md
  plugins/notifications/.eslintrc.js
  plugins/notifications/knip-report.md
  plugins/notifications/report-alpha.api.md
  plugins/notifications/report.api.md
  plugins/notifications/src/alpha.tsx
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
  plugins/notifications/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications/src/components/NotificationsSideBarItem/NotificationsSideBarItem.tsx
  plugins/notifications/src/components/NotificationsTable/BulkActions.tsx
  plugins/notifications/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications/src/components/UserNotificationSettingsCard/UserNotificationSettingsCard.tsx
  plugins/notifications/src/components/UserNotificationSettingsCard/UserNotificationSettingsPanel.test.tsx
  plugins/notifications/src/translation.ts
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
