Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

docs updates
  .changeset/red-memes-sip.md
  plugins/auth-backend/README.md
Labels: area:auth

restore to master
  plugins/scaffolder-backend-module-rails/report.api.md
Labels: area:scaffolder

add audit logs to auth
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
Labels: area:auth

docs updates
  .changeset/red-memes-sip.md
  plugins/auth-backend/README.md
Labels: area:auth

feat(auth): add audit log events
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

add audit logs to auth
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
Labels: area:auth

chore: update api reports
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
Labels: area:scaffolder

feat: add RepoOwnerPicker
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.test.ts
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/scaffolder/src/alpha/fields/RepoOwnerPicker.ts
  plugins/scaffolder/src/alpha/plugin.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/index.ts
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/schema.ts
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/types.ts
  plugins/scaffolder/src/extensions/default.ts
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/plugin.tsx
Labels: area:scaffolder

feat: use translations for RepoOwnerPicker title and description fallback
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.test.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

test: use renderInTestApp instead of render in tests for GitHubRepoOwnerPicker as well
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.test.tsx
Labels: area:scaffolder

chore: add changesets
  .changeset/odd-mirrors-attack.md
  .changeset/six-baboons-sneeze.md
Labels: none

Update plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
Labels: area:scaffolder

chore: fix typo; use correct variable
  docs/features/software-templates/ui-options-examples.md
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
Labels: area:documentation, area:scaffolder

Change version to patch for GitHub plugin
  .changeset/odd-mirrors-attack.md
Labels: none

test: update tests
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.test.tsx
Labels: area:scaffolder

test: use renderInTestApp instead of render
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.test.tsx
Labels: area:scaffolder

docs: add documentation
  docs/features/software-templates/ui-options-examples.md
  docs/features/software-templates/writing-templates.md
Labels: area:documentation

refactor: remove coupling with form context
  docs/features/software-templates/ui-options-examples.md
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.tsx
Labels: area:documentation, area:scaffolder

add audit logs to auth
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
Labels: area:auth

add v1.46 release notes
  docs/releases/v1.46.0.md
Labels: area:documentation

feat(auth): add audit log events
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

docs updates
  .changeset/red-memes-sip.md
  plugins/auth-backend/README.md
Labels: area:auth

feat(auth): add audit log events
  plugins/auth-backend/src/providers/router.audit.test.ts
Labels: area:auth

add audit logs to auth
  plugins/auth-backend/src/providers/router.audit.test.ts
Labels: area:auth

feat(auth): add audit log capability
  .changeset/loud-snails-lie.md
  plugins/auth-backend/README.md
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

chore: use native feature for base path determination
  packages/backend-openapi-utils/src/stub.ts
Labels: none

add changeset
  .changeset/major-mangos-shine.md
Labels: none

feat: schema-first audit events
  packages/backend-openapi-utils/package.json
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/catalog-backend/src/service/createRouter.ts
  yarn.lock
Labels: area:catalog

feat: add i18n support for notifications plugin
  plugins/notifications/.eslintrc.js
  plugins/notifications/knip-report.md
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
  plugins/notifications/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications/src/components/NotificationsSideBarItem/NotificationsSideBarItem.tsx
  plugins/notifications/src/components/NotificationsTable/BulkActions.tsx
  plugins/notifications/src/components/UserNotificationSettingsCard/UserNotificationSettingsCard.tsx
  plugins/notifications/src/index.ts
  plugins/notifications/src/translation.ts
Labels: none

fixed some untranslated string issue
  plugins/notifications/report-alpha.api.md
  plugins/notifications/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications/src/translation.ts
Labels: none

fix failed e2e checks
  plugins/notifications/report-alpha.api.md
  plugins/notifications/report.api.md
  plugins/notifications/src/components/UserNotificationSettingsCard/UserNotificationSettingsPanel.test.tsx
  plugins/notifications/src/index.ts
Labels: none

resolved review comments
  plugins/notifications/report-alpha.api.md
  plugins/notifications/src/alpha/plugin.tsx
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
  plugins/notifications/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications/src/translation.ts
Labels: none

added changeset
  .changeset/quick-bugs-speak.md
Labels: none

updates
  plugins/notifications/src/alpha/plugin.tsx
Labels: none

updated report api
  plugins/notifications/report-alpha.api.md
Labels: none

updated report-alpha.api.md
  plugins/notifications/report-alpha.api.md
Labels: none

updated report api
  plugins/notifications/report-alpha.api.md
Labels: none

simplified code
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
Labels: none

updated import to use new dependency
  plugins/notifications/src/translation.ts
Labels: none

updated report-alpha.api.md
  plugins/notifications/report-alpha.api.md
Labels: none
