Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

fix: mark fromArn as deprecated, update getSesOptions to read fromArn if set
  .changeset/curvy-things-call.md
  plugins/notifications-backend-module-email/config.d.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
Labels: none

chore: remove old changeset
  .changeset/fancy-wasps-check.md
Labels: none

fix: use fromArn config, log warning for sourceArn
  .changeset/curvy-things-call.md
  plugins/notifications-backend-module-email/README.md
  plugins/notifications-backend-module-email/config.d.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
Labels: none

Update .changeset/all-socks-taste.md
  .changeset/all-socks-taste.md
Labels: none

improve readablility
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
Labels: area:scaffolder

Update packages/core-components/src/hooks/useAppTitle.ts
  packages/core-components/src/hooks/useAppTitle.ts
Labels: none

Update packages/core-components/src/hooks/useAppTitle.ts
  packages/core-components/src/hooks/useAppTitle.ts
Labels: none

Update missing target branch error message
  .changeset/tall-ideas-lead.md
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.test.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.ts
Labels: area:scaffolder

feat: add i18n support for notifications plugin
  plugins/notifications/.eslintrc.js
  plugins/notifications/knip-report.md
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
  plugins/notifications/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications/src/components/NotificationsSideBarItem/NotificationsSideBarItem.tsx
  plugins/notifications/src/components/NotificationsTable/BulkActions.tsx
  plugins/notifications/src/components/UserNotificationSettingsCard/UserNotificationSettingsCard.tsx
  plugins/notifications/src/index.ts
  plugins/notifications/src/translation.ts
Labels: none

added changeset
  .changeset/quick-bugs-speak.md
Labels: none

updates
  plugins/notifications/src/alpha/plugin.tsx
Labels: none

yarn.lock: bump @lezer packages
  yarn.lock
Labels: none

yarn.lock: bump @elastic/elasticsearch
  yarn.lock
Labels: none

yarn.lock: bump micromark packages
  yarn.lock
Labels: none

fix failed e2e checks
  plugins/notifications/report-alpha.api.md
  plugins/notifications/report.api.md
  plugins/notifications/src/components/UserNotificationSettingsCard/UserNotificationSettingsPanel.test.tsx
  plugins/notifications/src/index.ts
Labels: none

updated report api
  plugins/notifications/report-alpha.api.md
Labels: none

updated report-alpha.api.md
  plugins/notifications/report-alpha.api.md
Labels: none

fixed some untranslated string issue
  plugins/notifications/report-alpha.api.md
  plugins/notifications/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications/src/translation.ts
Labels: none

resolved review comments
  plugins/notifications/report-alpha.api.md
  plugins/notifications/src/alpha/plugin.tsx
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
  plugins/notifications/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications/src/translation.ts
Labels: none

updated report api
  plugins/notifications/report-alpha.api.md
Labels: none

simplified code
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
Labels: none

backend-test-utils: switch to text-extensions
  .changeset/honest-bears-itch.md
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/filesystem/MockDirectory.ts
  yarn.lock
Labels: none

mcp-actions-backend: fix type import
  plugins/mcp-actions-backend/src/plugin.test.ts
Labels: none

cli: fix yargs usage
  .changeset/salty-camels-wash.md
  packages/cli/src/modules/config/index.ts
Labels: none

update API reports for moduleResolution: bundler
  packages/core-app-api/report.api.md
  packages/core-components/report-alpha.api.md
  packages/frontend-plugin-api/report.api.md
  packages/integration-react/report.api.md
  plugins/api-docs/report.api.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-import/report-alpha.api.md
  plugins/catalog-import/report.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/report.api.md
  plugins/catalog-unprocessed-entities/report.api.md
  plugins/catalog/report-alpha.api.md
  plugins/config-schema/report.api.md
  plugins/home/report.api.md
  plugins/kubernetes-cluster/report-alpha.api.md
  plugins/kubernetes-react/report-alpha.api.md
  plugins/kubernetes-react/report.api.md
  plugins/kubernetes/report-alpha.api.md
  plugins/notifications/report.api.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/search-backend-module-elasticsearch/report.api.md
  plugins/search-react/report-alpha.api.md
  plugins/search-react/report.api.md
  plugins/search/report-alpha.api.md
  plugins/signals-react/report.api.md
  plugins/techdocs-react/report.api.md
  plugins/techdocs/report.api.md
  plugins/user-settings/report-alpha.api.md
  plugins/user-settings/report.api.md
Labels: area:catalog, area:home, area:kubernetes, area:search, area:scaffolder, area:techdocs

cli: switch tsconfig to default to bundler resolution
  .changeset/chilly-waves-relate.md
  packages/cli/config/tsconfig.json
Labels: none

feat: Support to set defaultLanguage and availableLanguages in new frontend system
  .changeset/gentle-singers-love.md
  packages/app-next/app-config.yaml
  plugins/app/report.api.md
  plugins/app/src/extensions/AppLanguageApi.ts
Labels: none

Fix tests and bring back actions
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableBase.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

Fix tests on CatalogPage & CatalogTable
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

Fix postgres 18 TestDatabases by pinning the data dir
  .changeset/slimy-mugs-taste.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.test.ts
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/database/postgres.ts
  yarn.lock
Labels: none

remove kubecon note from readme
  README.md
Labels: none

clean up types
  .changeset/fifty-lights-marry.md
  microsite/package.json
  microsite/yarn.lock
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.ts
  packages/integration/package.json
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/kubernetes-backend/package.json
  plugins/scaffolder-react/package.json
  yarn.lock
Labels: area:catalog, area:kubernetes, area:microsite, area:scaffolder

Fix tests
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

improve auth flake
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
Labels: area:auth

fixup
  .changeset/large-planes-punch.md
  packages/backend-defaults/src/entrypoints/auth/plugin/keys/DatabasePluginKeySource.ts
Labels: none

feat(nfs): created a router agnostic framework
  .changeset/bumpy-clocks-sell.md
  .changeset/little-hats-tickle.md
  packages/core-compat-api/package.json
  packages/core-compat-api/src/compatWrapper/ForwardsCompatProvider.tsx
  packages/frontend-app-api/report.api.md
  packages/frontend-app-api/src/routing/ReactRouter6Provider.tsx
  packages/frontend-app-api/src/routing/RouteResolver.ts
  packages/frontend-app-api/src/routing/RouteTracker.test.tsx
  packages/frontend-app-api/src/routing/RouteTracker.tsx
  packages/frontend-app-api/src/routing/index.ts
  packages/frontend-app-api/src/routing/types.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-defaults/package.json
  packages/frontend-defaults/report.api.md
  packages/frontend-defaults/src/createApp.test.tsx
  packages/frontend-defaults/src/createApp.tsx
  packages/frontend-dynamic-feature-loader/package.json
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/RouterBlueprint.test.tsx
  packages/frontend-plugin-api/src/routing/RoutingContext.tsx
  packages/frontend-plugin-api/src/routing/hooks.ts
  packages/frontend-plugin-api/src/routing/index.ts
  packages/frontend-plugin-api/src/routing/useRouteRef.test.tsx
  packages/frontend-plugin-api/src/routing/useRouteRef.tsx
  packages/frontend-plugin-api/src/routing/useRouteRefParams.test.tsx
  packages/frontend-plugin-api/src/wiring/createFrontendFeatureLoader.test.ts
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/app/renderInTestApp.test.tsx
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  packages/frontend-test-utils/src/app/renderTestApp.tsx
  packages/frontend-test-utils/src/index.ts
  packages/frontend-test-utils/src/routing/TestRouterProvider.tsx
  packages/repo-tools/src/commands/peer-deps/peer-deps.ts
  plugins/app/src/extensions/AppRoot.tsx
  yarn.lock
Labels: none

chore: refactor createApp router parameters
  packages/frontend-app-api/report.api.md
  packages/frontend-app-api/src/routing/ReactRouter6Provider.tsx
  packages/frontend-app-api/src/routing/RouterAdapter.test.ts
  packages/frontend-app-api/src/routing/RouterAdapter.ts
  packages/frontend-app-api/src/routing/index.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-defaults/report.api.md
  packages/frontend-defaults/src/createApp.tsx
Labels: none

feat(gitlab): update discovery by allowing API search
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: area:catalog

tests(gitlab): add tests for entity discovery by search API
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
Labels: area:catalog

Update .changeset/gentle-singers-love.md
  .changeset/gentle-singers-love.md
Labels: none
