Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Deploying to gh-pages from @ backstage/backstage@c786bb3a41d3f7b57cc915f34d2174834ad52a00 🚀
  api/next/media/ADOPTERS.md
  storybook/project.json
Labels: area:storybook

making updateName as optional
  plugins/home/report.api.md
  plugins/home/src/api/VisitsApi.ts
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
Labels: area:home, area:search, area:scaffolder

updating chnageset
  .changeset/add-updatename-to-visits-api.md
  .changeset/fix-template-titles-in-visits.md
  .changeset/petite-pears-tickle.md
Labels: none

feat: added new upstream sync action
  .github/workflows/sync_upstream.yml
Labels: none

fix: force tag updates
  .github/workflows/sync_upstream.yml
Labels: none

fix: force tag updates
  .github/workflows/sync_upstream.yml
Labels: none

fix: force tag updates
  .github/workflows/sync_upstream.yml
Labels: none

Version Policy Update - Node 22 to 24
  .changeset/funny-hornets-peel.md
  .changeset/happy-streets-dress.md
  .changeset/seven-games-rest.md
  .changeset/tired-dogs-remain.md
  .github/workflows/api-breaking-changes.yml
  .github/workflows/ci-noop.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_docker-image.yml
  .github/workflows/deploy_microsite.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/sync_canon.yml
  .github/workflows/sync_release-manifest.yml
  .github/workflows/sync_snyk-github-issues.yml
  .github/workflows/verify_accessibility.yml
  .github/workflows/verify_chromatic.yml
  .github/workflows/verify_e2e-linux-noop.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-techdocs.yml
  .github/workflows/verify_e2e-windows-noop.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_microsite.yml
  .github/workflows/verify_microsite_accessibility.yml
  .github/workflows/verify_windows.yml
  package.json
  packages/cli-common/package.json
  packages/cli/package.json
  packages/codemods/package.json
  packages/create-app/package.json
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/next-app/package.json.hbs
  packages/e2e-test/package.json
  packages/repo-tools/package.json
  packages/techdocs-cli/package.json
  plugins/kubernetes-cluster/package.json
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend/package.json
  plugins/techdocs-backend/src/cache/cacheMiddleware.ts
  yarn.lock
Labels: area:kubernetes, area:scaffolder, area:techdocs

Updated to latest webpack
  packages/cli/package.json
Labels: none

cli: update transform tests to allow extra exports
  packages/cli/src/tests/transforms/transforms.test.ts
Labels: none

cli: update ECMAScript target to 2024
  .changeset/stupid-cases-fold.md
  packages/cli/config/nodeTransform.cjs
  packages/cli/config/nodeTransformHooks.mjs
  packages/cli/config/tsconfig.json
  packages/cli/src/modules/build/lib/builder/config.ts
  packages/cli/src/modules/build/lib/bundler/optimization.ts
  packages/cli/src/modules/build/lib/bundler/transforms.ts
Labels: none

Updated lock file
  yarn.lock
Labels: none

Fix sendMessage
  packages/backend-dev-utils/src/ipcClient.ts
Labels: none

Updated webpack
  packages/cli/package.json
  yarn.lock
Labels: none

yarn.lock: dedupe
  yarn.lock
Labels: none

changesets: highlight typescript 5.7 requirement in ES2024 bump
  .changeset/stupid-cases-fold.md
Labels: none

cli: lower ECMAScript bump to ES2023
  .changeset/stupid-cases-fold.md
  packages/cli/config/nodeTransform.cjs
  packages/cli/config/nodeTransformHooks.mjs
  packages/cli/config/tsconfig.json
  packages/cli/src/modules/build/lib/builder/config.ts
  packages/cli/src/modules/build/lib/bundler/optimization.ts
  packages/cli/src/modules/build/lib/bundler/transforms.ts
Labels: none

microsite: bump typescript to 5.7
  microsite/package.json
  microsite/yarn.lock
Labels: area:microsite

repo-tools: bump @microsoft/api-* dependencies
  .changeset/loud-yaks-watch.md
  packages/repo-tools/package.json
  yarn.lock
Labels: none

remove all usages of spawn with shell: true
  .changeset/five-frogs-warn.md
  packages/cli-node/package.json
  packages/cli-node/src/git/GitUtils.ts
  packages/cli-node/src/pacman/yarn/Yarn.ts
  packages/cli-node/src/util.ts
  packages/cli/src/lib/run.ts
  packages/cli/src/lib/versioning/packages.test.ts
  packages/cli/src/lib/versioning/packages.ts
  packages/cli/src/lib/versioning/yarn.ts
  packages/cli/src/modules/maintenance/commands/repo/clean.ts
  packages/codemods/package.json
  packages/codemods/src/action.ts
  packages/e2e-test/package.json
  packages/e2e-test/src/lib/helpers.ts
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/api-reports/api-reports/generateTypeDeclarations.ts
  packages/techdocs-cli/src/commands/serve/utils.ts
  scripts/check-if-release.js
  scripts/list-deprecations.js
  scripts/prepare-release.js
  scripts/run-fossa.js
  scripts/verify-lockfile-duplicates.js
  scripts/verify-release.js
Labels: area:techdocs

Revert "remove all usages of spawn with shell: true"
  .changeset/five-frogs-warn.md
  packages/cli-node/package.json
  packages/cli-node/src/git/GitUtils.ts
  packages/cli-node/src/pacman/yarn/Yarn.ts
  packages/cli-node/src/util.ts
  packages/cli/src/lib/run.ts
  packages/cli/src/lib/versioning/packages.test.ts
  packages/cli/src/lib/versioning/packages.ts
  packages/cli/src/lib/versioning/yarn.ts
  packages/cli/src/modules/maintenance/commands/repo/clean.ts
  packages/codemods/package.json
  packages/codemods/src/action.ts
  packages/e2e-test/package.json
  packages/e2e-test/src/lib/helpers.ts
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/api-reports/api-reports/generateTypeDeclarations.ts
  packages/techdocs-cli/src/commands/serve/utils.ts
  scripts/check-if-release.js
  scripts/list-deprecations.js
  scripts/prepare-release.js
  scripts/run-fossa.js
  scripts/verify-lockfile-duplicates.js
  scripts/verify-release.js
Labels: area:techdocs

yarn.lock: update to add cross-spawn
  yarn.lock
Labels: none

changesets: add changeset for backend-dev-utils node 24 update
  .changeset/tame-mirrors-sit.md
Labels: none

Updated Node version in policy doc
  docs/overview/versioning-policy.md
Labels: area:documentation

Updated lock file
  yarn.lock
Labels: none

Add metrics to default actions service
  packages/backend-defaults/package.json
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultRootMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  yarn.lock
Labels: none

fix(ui): apply className only to root element in ButtonIcon
  .changeset/common-coins-stare.md
  .patches/pr-31900.txt
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
Labels: none

fix(ui): hide checkbox indicator color when unchecked
  .changeset/bumpy-planets-go.md
  packages/ui/src/components/Checkbox/Checkbox.module.css
Labels: none

chore: Add .patches file to include PR 31904 checkbox fix in next patch.
  .patches/pr-31904.txt
Labels: none

fix(ui): hide checkbox indicator color when unchecked
  .changeset/bumpy-planets-go.md
  packages/ui/src/components/Checkbox/Checkbox.module.css
Labels: none

chore: Add .patches file to include PR 31904 checkbox fix in next patch.
  .patches/pr-31904.txt
Labels: none

Patch from PR #31817
  .changeset/spicy-teeth-study.md
  packages/ui/src/components/Table/hooks/useTable.ts
Labels: none

Patch from PR #31843
  .changeset/famous-jars-lose.md
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

Patch from PR #31900
  .changeset/common-coins-stare.md
  .patches/pr-31900.txt
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
Labels: none

Patch from PR #31904
  .changeset/bumpy-planets-go.md
  .patches/pr-31904.txt
  packages/ui/src/components/Checkbox/Checkbox.module.css
Labels: none

Generate Release
  .changeset/bumpy-planets-go.md
  .changeset/common-coins-stare.md
  .changeset/famous-jars-lose.md
  .changeset/spicy-teeth-study.md
  package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: none

patches: remove published patches
  .patches/pr-31817.txt
  .patches/pr-31843.txt
  .patches/pr-31900.txt
  .patches/pr-31904.txt
Labels: none

workflows: add patch cleanup workflow
  .github/workflows/cleanup_patch-files.yml
Labels: none

chore: small refactor Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/catalog-backend-module-github/src/lib/github.ts
Labels: area:catalog

feat: Add tooltipClasses prop to OverflowTooltip component
  .changeset/rare-rice-throw.md
  packages/core-components/src/components/OverflowTooltip/OverflowTooltip.tsx
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
