Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

chore(cache): improve changeset
  .changeset/sour-lines-taste.md
Labels: none

updating the api report
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/EntityListDocsTable.tsx
  plugins/techdocs/src/index.ts
Labels: area:techdocs

Remove package update from changeset
  .changeset/slick-books-sleep.md
Labels: none

Improve phrasing
  .changeset/slick-books-sleep.md
Labels: none

updating the test file
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.test.ts
Labels: area:techdocs

review existing docs for mistakes
  docs/backend-system/core-services/metrics.md
Labels: area:documentation

chore(cache): add comment regarding usage of createCluster for Valkey
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
Labels: none

Clean up exports
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/InstrumentFactory.ts
  packages/backend-defaults/src/alpha/index.ts
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
Labels: none

generate api docs
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/index.ts
  packages/backend-plugin-api/src/alpha/MetricsService.ts
Labels: none

include changeset
  .changeset/rare-adults-attack.md
Labels: none

include warning admonotion
  docs/backend-system/core-services/metrics.md
Labels: area:documentation

fix: api reports
  packages/backend-plugin-api/report-alpha.api.md
Labels: none

fix(auth): user_created_at migration non constant defaults to remedy SQLiteError
  .changeset/mighty-flowers-travel.md
  plugins/auth-backend/migrations/20250707164600_user_created_at.js
Labels: area:auth

Bitbucket Cloud - API Token Support
  .changeset/every-breads-act.md
  app-config.yaml
  docs/integrations/bitbucketCloud/locations.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/integration/config.d.ts
  packages/integration/src/bitbucketCloud/config.test.ts
  packages/integration/src/bitbucketCloud/config.ts
  packages/integration/src/bitbucketCloud/core.test.ts
  packages/integration/src/bitbucketCloud/core.ts
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
Labels: area:documentation, area:scaffolder

Fixed config logic
  packages/integration/src/bitbucketCloud/config.ts
Labels: none

Initiated fixing issue #27009
  draft.txt
Labels: none

feat(plugin-org): add search functionality in MembersListCard
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.test.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
Labels: none

Reopened PR
  draft.txt
Labels: none

Fixed more tests
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/integration/src/bitbucketCloud/config.test.ts
Labels: none

rebased and updated changeset for add changeset for plugin-org member search
  .changeset/tidy-bugs-throw.md
Labels: none

chore: remove drafts
  draft.txt
Labels: none

Do not perform a query when search term is empty or blank
  .changeset/some-groups-send.md
  plugins/search/src/apis.test.ts
  plugins/search/src/apis.ts
Labels: area:search

chore: update changeset
  .changeset/tidy-bugs-throw.md
Labels: none

Update plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
Labels: area:scaffolder

Update plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
Labels: area:scaffolder

Make location entity named by ID instead of hash
  plugins/catalog-backend/migrations/20251117000000_locations_static_entity_names.js
  plugins/catalog-backend/src/database/tables.ts
Labels: area:catalog

frontend-plugin-api: refactor to use opaque type for route refs
  .changeset/busy-goats-kiss.md
  packages/core-compat-api/package.json
  packages/core-compat-api/src/convertLegacyRouteRef.test.ts
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/frontend-app-api/src/routing/RouteAliasResolver.ts
  packages/frontend-app-api/src/routing/RouteResolver.ts
  packages/frontend-app-api/src/routing/collectRouteIds.ts
  packages/frontend-app-api/src/routing/resolveRouteBindings.ts
  packages/frontend-internal/src/routing/OpaqueExternalRouteRef.ts
  packages/frontend-internal/src/routing/OpaqueRouteRef.ts
  packages/frontend-internal/src/routing/OpaqueSubRouteRef.ts
  packages/frontend-internal/src/routing/index.ts
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.test.ts
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.ts
  packages/frontend-plugin-api/src/routing/RouteRef.test.ts
  packages/frontend-plugin-api/src/routing/RouteRef.ts
  packages/frontend-plugin-api/src/routing/SubRouteRef.test.ts
  packages/frontend-plugin-api/src/routing/SubRouteRef.ts
Labels: none

core-plugin-api: add forwards compatibility for route refs
  .changeset/swift-ideas-fry.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/05-migrating.md
  packages/core-compat-api/src/convertLegacyRouteRef.test.ts
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/core-plugin-api/package.json
  packages/core-plugin-api/report.api.md
  packages/core-plugin-api/src/routing/ExternalRouteRef.test.ts
  packages/core-plugin-api/src/routing/ExternalRouteRef.ts
  packages/core-plugin-api/src/routing/RouteRef.test.ts
  packages/core-plugin-api/src/routing/RouteRef.ts
  packages/core-plugin-api/src/routing/SubRouteRef.test.ts
  packages/core-plugin-api/src/routing/SubRouteRef.ts
  packages/core-plugin-api/src/routing/types.ts
  packages/frontend-app-api/src/routing/RouteResolver.test.ts
  packages/frontend-app-api/src/routing/collectRouteIds.test.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.test.ts
  packages/frontend-plugin-api/src/routing/RouteRef.test.ts
  packages/frontend-plugin-api/src/routing/SubRouteRef.test.ts
  yarn.lock
Labels: area:documentation

bump glob
  yarn.lock
Labels: none

catalog: add note about route ref conversion
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

feat: set state column to text instead of varchar
  plugins/auth-backend/migrations/20251118120000_oauth_state_text.js
  plugins/auth-backend/src/migrations.test.ts
Labels: area:auth

chore: add changeset
  .changeset/tiny-chefs-visit.md
Labels: none

chore: codereview comments
  plugins/auth-backend/migrations/20251118120000_oauth_state_text.js
  plugins/auth-backend/src/migrations.test.ts
Labels: area:auth

chore: update sql reports
  plugins/auth-backend/report.sql.md
Labels: area:auth

gateway-backend: add loop detection
  .changeset/modern-actors-warn.md
  plugins/gateway-backend/src/plugin.test.ts
  plugins/gateway-backend/src/router.ts
Labels: none

chore: fix down migration
  plugins/auth-backend/migrations/20251118120000_oauth_state_text.js
Labels: area:auth

fix(core-components): Add i18n support for LogViewer search control
  .changeset/slick-onions-wash.md
  packages/core-components/report-alpha.api.md
  packages/core-components/src/components/LogViewer/LogViewerControls.tsx
  packages/core-components/src/translation.ts
Labels: none

addressing review comments
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentsAccordions.tsx
  plugins/kubernetes-react/src/components/ErrorPanel/ErrorPanel.tsx
  plugins/kubernetes-react/src/components/ErrorReporting/ErrorReporting.tsx
  plugins/kubernetes-react/src/translation.ts
Labels: area:kubernetes

fix: link to setup docs
  docs/backend-system/core-services/metrics.md
Labels: area:documentation

gateway-backend: ignore negative hop counts
  plugins/gateway-backend/src/plugin.test.ts
  plugins/gateway-backend/src/router.ts
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
