Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Improve styles + TablePagination structure
  packages/ui/src/components/Table2/Table.module.css
  packages/ui/src/components/Table2/Table.tsx
  packages/ui/src/components/Table2/components/Cell.tsx
  packages/ui/src/components/Table2/components/CellProfile.tsx
  packages/ui/src/components/Table2/components/CellText.tsx
  packages/ui/src/components/Table2/components/Column.tsx
  packages/ui/src/components/Table2/components/Row.tsx
  packages/ui/src/components/Table2/components/TableBody.tsx
  packages/ui/src/components/Table2/components/TableHeader.tsx
  packages/ui/src/components/Table2/components/TableRoot.tsx
  packages/ui/src/components/Table2/components/index.ts
  packages/ui/src/components/Table2/definition.ts
  packages/ui/src/components/Table2/index.ts
  packages/ui/src/components/Table2/types.ts
  packages/ui/src/components/TablePagination2/TablePagination.tsx
  packages/ui/src/components/TablePagination2/TablePaginationOffset.stories.tsx
  packages/ui/src/components/TablePagination2/TablePaginationOffset.tsx
  packages/ui/src/components/TablePagination2/types.ts
Labels: none

Explore new structure
  packages/ui/src/components/Table2/Table.stories.tsx
  packages/ui/src/components/Table2/Table.tsx
  packages/ui/src/components/Table2/hooks/types.ts
  packages/ui/src/components/Table2/hooks/useClientSidePagination.tsx
  packages/ui/src/components/Table2/hooks/useCursorPagination.tsx
  packages/ui/src/components/Table2/hooks/useOffsetPagination.tsx
  packages/ui/src/components/Table2/hooks/useTableAsyncData.tsx
  packages/ui/src/components/Table2/hooks/useTableData.tsx
  packages/ui/src/components/Table2/index.ts
  packages/ui/src/components/Table2/types.ts
Labels: none

First pass at new table structure
  packages/ui/package.json
  packages/ui/src/components/Table2/Table.stories.tsx
  packages/ui/src/components/Table2/Table.tsx
  packages/ui/src/components/Table2/hooks/useClientSidePagination.tsx
  packages/ui/src/components/Table2/hooks/useCursorPagination.tsx
  packages/ui/src/components/Table2/hooks/useOffsetPagination.tsx
  packages/ui/src/components/Table2/types.ts
  packages/ui/src/components/TablePagination2/TablePagination.module.css
  packages/ui/src/components/TablePagination2/TablePaginationCursor.tsx
  packages/ui/src/components/TablePagination2/TablePaginationOffset.stories.tsx
  packages/ui/src/components/TablePagination2/TablePaginationOffset.tsx
  packages/ui/src/components/TablePagination2/definition.ts
  packages/ui/src/components/TablePagination2/index.ts
  packages/ui/src/components/TablePagination2/types.ts
  yarn.lock
Labels: none

Update OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

Fix tests
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

feat: add scheduled tasks UI to devtools plugin
  .changeset/short-lizards-find.md
  app-config.yaml
  packages/app/src/components/devtools/CustomDevToolsPage.tsx
  plugins/devtools-common/report.api.md
  plugins/devtools-common/src/permissions.ts
  plugins/devtools-common/src/types.ts
  plugins/devtools/README.md
  plugins/devtools/config.d.ts
  plugins/devtools/docs/devtools-scheduled-tasks-tab.png
  plugins/devtools/package.json
  plugins/devtools/report.api.md
  plugins/devtools/src/api/DevToolsApi.ts
  plugins/devtools/src/api/DevToolsClient.ts
  plugins/devtools/src/components/Content/ScheduledTasksContent/ScheduledTaskDetailedPanel.tsx
  plugins/devtools/src/components/Content/ScheduledTasksContent/ScheduledTasksContent.tsx
  plugins/devtools/src/components/Content/ScheduledTasksContent/fixtures/scheduledTasksErrors.json
  plugins/devtools/src/components/Content/ScheduledTasksContent/index.ts
  plugins/devtools/src/components/Content/index.ts
  plugins/devtools/src/components/DefaultDevToolsPage/DefaultDevToolsPage.tsx
  plugins/devtools/src/hooks/useScheduledTasks.ts
  plugins/devtools/src/hooks/useTriggerScheduledTask.ts
  yarn.lock
Labels: none

refactor: updated repo creation to make differences clear
  plugins/scaffolder-backend-module-github/src/actions/helpers.test.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
Labels: area:scaffolder

feat(events): restructure kafka module and add publisher
  plugins/events-backend-module-kafka/config.d.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/KafkaConsumingEventPublisher.test.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/KafkaConsumingEventPublisher.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/config.test.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/config.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/index.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/module.test.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/module.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/KafkaPublishingEventConsumer.test.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/KafkaPublishingEventConsumer.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/config.test.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/config.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/index.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/module.test.ts
  plugins/events-backend-module-kafka/src/KafkaPublishingEventConsumer/module.ts
  plugins/events-backend-module-kafka/src/index.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumerClient.test.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumerClient.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumingEventPublisher.test.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumingEventPublisher.ts
  plugins/events-backend-module-kafka/src/publisher/config.test.ts
  plugins/events-backend-module-kafka/src/publisher/config.ts
  plugins/events-backend-module-kafka/src/service/eventsModuleKafkaConsumingEventPublisher.test.ts
  plugins/events-backend-module-kafka/src/utils/LoggerServiceAdapter.ts
  plugins/events-backend-module-kafka/src/utils/config.test.ts
  plugins/events-backend-module-kafka/src/utils/config.ts
  plugins/events-backend-module-kafka/src/utils/kafkaTransformers.test.ts
  plugins/events-backend-module-kafka/src/utils/kafkaTransformers.ts
Labels: area:events

feat(core-plugin-api): add optional description to plugin feature flags
  .changeset/eager-toes-rest.md
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-plugin-api/src/plugin/types.ts
Labels: none

chore: update changeset
  .changeset/rare-rice-throw.md
Labels: none

docs(events): update readme documentation
  plugins/events-backend-module-kafka/README.md
Labels: area:events

Use a versioned context for `useEntityList`
  .changeset/green-lizards-boil.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/deprecated.tsx
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/testUtils/MockEntityListContextProvider.tsx
Labels: area:catalog

chore: add report api
  packages/core-plugin-api/report.api.md
Labels: none

add explicit node version to version packages flow
  .github/workflows/sync_version-packages.yml
Labels: none

add overflow clip to dialog
  packages/ui/src/components/Dialog/Dialog.module.css
Labels: none

add changeset
  .changeset/tricky-hairs-rush.md
Labels: none

chore(changeset): add changesets
  .changeset/angry-views-win.md
  .changeset/stale-poets-battle.md
Labels: none

Document usage of authProvidersExtensionPoint for ScmAuthApi
  docs/auth/index.md
Labels: area:documentation

frontend-plugin-api: new error boundary API option + boundary for app root elements
  .changeset/alert-api-replay.md
  .changeset/error-boundary-api.md
  packages/core-app-api/src/apis/implementations/AlertApi/AlertApiForwarder.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/AppRootElementBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/AppRootElementBlueprint.tsx
  packages/frontend-plugin-api/src/components/ErrorApiBoundary.tsx
  packages/frontend-plugin-api/src/components/ErrorDisplayBoundary.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
Labels: none

docs: add rateLimit
  docs/notifications/processors.md
Labels: area:documentation

switch to throttleInterval and concurrencyLimit
  .changeset/pretty-breads-speak.md
  docs/notifications/processors.md
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: area:documentation

Update .changeset/pretty-breads-speak.md
  .changeset/pretty-breads-speak.md
Labels: none

feat: add rate limit configuration
  .changeset/pretty-breads-speak.md
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: none

update config.d.ts
  plugins/notifications-backend-module-slack/config.d.ts
Labels: none

Update microsite/sidebars.ts to remove .md on some pages
  microsite/sidebars.ts
Labels: area:microsite

Fix typo in error image file name
  docs/getting-started/create-a-component.md
Labels: area:documentation

benjdlambert-1 review changes
  plugins/catalog-backend/src/actions/createRegisterCatalogEntitiesAction.test.ts
  plugins/catalog-backend/src/actions/createRegisterCatalogEntitiesAction.ts
  plugins/catalog-backend/src/actions/createUnregisterCatalogEntitiesAction.test.ts
  plugins/catalog-backend/src/actions/createUnregisterCatalogEntitiesAction.ts
Labels: area:catalog

feat: provide --no-node-snapshot by default
  packages/cli/src/modules/build/lib/runner/runBackend.test.ts
  packages/cli/src/modules/build/lib/runner/runBackend.ts
  packages/cli/src/modules/test/commands/package/test.ts
Labels: none

add changeset
  .changeset/bright-lions-unite.md
Labels: none

remove --no-node-snapshots flag
  .github/workflows/ci.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_windows.yml
  docs/tooling/cli/02-build-system.md
  packages/cli/src/modules/build/lib/runner/runBackend.test.ts
  packages/cli/src/modules/build/lib/runner/runBackend.ts
Labels: area:documentation

chore(docs): add root instance metadata to sidebar
  microsite/sidebars.ts
Labels: area:microsite

fix build
  packages/cli/src/modules/build/lib/runner/runBackend.test.ts
  packages/cli/src/modules/build/lib/runner/runBackend.ts
Labels: none

updated the immediate entity provider example a bit
  contrib/catalog/ImmediateEntityProvider.ts
Labels: none

WIP pglite
  app-config.yaml
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/database/DatabaseManager.ts
  packages/backend-defaults/src/entrypoints/database/connectors/index.ts
  packages/backend-defaults/src/entrypoints/database/connectors/pglite.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  yarn.lock
Labels: none

chore: bump some packages and test with none
  packages/backend-defaults/src/entrypoints/database/connectors/pglite.ts
  packages/backend-dev-utils/src/ipcClient.ts
  packages/repo-tools/package.json
  yarn.lock
Labels: none

chore: update api report
  plugins/events-backend-module-kafka/report.api.md
Labels: area:events

fix(catalog): filter icon links before calling useProps
  .changeset/ready-results-march.md
  plugins/catalog/src/alpha/entityCards.tsx
Labels: area:catalog

chore: fix up to latest versions
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/database/connectors/pglite.ts
  packages/backend-dev-utils/src/ipcClient.ts
  packages/backend/package.json
  yarn.lock
Labels: none

skip the very first search on opening the app
  .changeset/many-falcons-joke.md
  plugins/search-react/src/components/SearchPagination/SearchPagination.test.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search/report-alpha.api.md
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
Labels: area:search

Update .changeset/early-doors-visit.md
  .changeset/early-doors-visit.md
Labels: none
