Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

fix(ui): use curried defineComponent for type safety
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/hooks/useDefinition/defineComponent.ts
Labels: none

refactor(ui): add surface prop types and validation to defineComponent
  packages/ui/src/components/Button/types.ts
  packages/ui/src/hooks/useDefinition/defineComponent.ts
  packages/ui/src/hooks/useDefinition/types.ts
  packages/ui/src/types.ts
Labels: none

feat(ui): add useDefinition type definitions
  packages/ui/src/hooks/useDefinition/types.ts
Labels: none

fix(ui): fix client-side navigation for container components
  .changeset/proud-stars-grow.md
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
  packages/ui/src/components/InternalLinkProvider/InternalLinkProvider.tsx
  packages/ui/src/components/InternalLinkProvider/index.ts
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TagGroup/TagGroup.tsx
Labels: none

fix(ui): remove Router context requirement for Link, ButtonLink, Row
  .changeset/tasty-crabs-occur.md
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/components/InternalLinkProvider/InternalLinkProvider.tsx
  packages/ui/src/components/InternalLinkProvider/index.ts
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

fix(ui): remove Router context requirement for Link, ButtonLink, Row
  .changeset/tasty-crabs-occur.md
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/components/InternalLinkProvider/InternalLinkProvider.tsx
  packages/ui/src/components/InternalLinkProvider/index.ts
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

fix(ui): fix client-side navigation for container components
  .changeset/proud-stars-grow.md
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
  packages/ui/src/components/InternalLinkProvider/InternalLinkProvider.tsx
  packages/ui/src/components/InternalLinkProvider/index.ts
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TagGroup/TagGroup.tsx
Labels: none

feat(auth-backend-module-github): export emailMatchingUserEntityProfileEmail resolver
  plugins/auth-backend-module-github-provider/report.api.md
  plugins/auth-backend-module-github-provider/src/resolvers.ts
Labels: area:auth

test(auth-backend-module-github): emailMatchingUserEntityProfileEmail resolver
  plugins/auth-backend-module-github-provider/src/resolvers.test.ts
Labels: area:auth

chore(auth-backend-module-github-provider): add changeset
  .changeset/five-memes-judge.md
Labels: none

Add new changelog format for BUI
  .changeset/README.md
  REVIEWING.md
  docs-ui/scripts/sync-changelog.mjs
  docs-ui/src/utils/types.ts
  packages/ui/CHANGELOG.md
Labels: none

app-visalizer: simplify progressive rendering
  plugins/app-visualizer/src/components/AppVisualizerPage/DetailedVisualizer.tsx
Labels: none

refactor: updated GitHub repo creation to make differences clear (#32052)
  .changeset/green-bags-shave.md
  plugins/scaffolder-backend-module-github/src/actions/helpers.test.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
Labels: area:scaffolder

fix snapshots
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  plugins/catalog-react/src/alpha/blueprints/CatalogFilterBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContextMenuItemBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterResultTypeBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchResultListItemBlueprint.test.tsx
Labels: area:catalog, area:search

docs: fix README link in getting-involved.md documentation (#32368)
  docs/contribute/getting-involved.md
Labels: area:documentation

doc: fix typo in technical-overview.md (#32381)
  docs/overview/technical-overview.md
Labels: area:documentation

prefixing Create new
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

updating the report
  plugins/scaffolder/report-alpha.api.md
Labels: area:scaffolder

Add new changelog structure
  .changeset/polite-symbols-act.md
  docs-ui/package.json
  docs-ui/scripts/sync-changelog.mjs
  docs-ui/src/components/Changelog/index.tsx
  docs-ui/src/css/globals.css
  docs-ui/src/css/mdx.module.css
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.1.0.ts
  docs-ui/src/utils/changelogs/v0.10.0.ts
  docs-ui/src/utils/changelogs/v0.11.0.ts
  docs-ui/src/utils/changelogs/v0.2.0.ts
  docs-ui/src/utils/changelogs/v0.2.1.ts
  docs-ui/src/utils/changelogs/v0.3.0.ts
  docs-ui/src/utils/changelogs/v0.3.2.ts
  docs-ui/src/utils/changelogs/v0.4.0.ts
  docs-ui/src/utils/changelogs/v0.5.0.ts
  docs-ui/src/utils/changelogs/v0.6.0.ts
  docs-ui/src/utils/changelogs/v0.7.0.ts
  docs-ui/src/utils/changelogs/v0.7.1.ts
  docs-ui/src/utils/changelogs/v0.7.2.ts
  docs-ui/src/utils/changelogs/v0.8.0.ts
  docs-ui/src/utils/changelogs/v0.8.2.ts
  docs-ui/src/utils/changelogs/v0.9.0.ts
  docs-ui/src/utils/changelogs/v0.9.1.ts
  docs-ui/src/utils/types.ts
  packages/ui/CHANGELOG.md
Labels: none

Update index.tsx
  docs-ui/src/components/Changelog/index.tsx
Labels: none

Fixes client vs server side
  docs-ui/src/components/Theming/index.tsx
  docs-ui/src/utils/definitions.ts
Labels: none

Update 2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
  microsite/blog/2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
Labels: area:microsite

frontend-plugin-api: TsDoc for createExtensionBlueprint
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

changesets: add changesets for frontend-plugin-api tsdocs
  .changeset/whole-glasses-visit.md
  packages/frontend-plugin-api/report.api.md
Labels: none

Add files via upload
  2025-08-08/image01.png
  2025-08-08/image02.png
  2025-08-08/image03.png
  2025-08-08/image04.png
  2025-08-08/image05.png
Labels: none

frontend-plugin-api: TsDoc for createFrontendModule
  packages/frontend-plugin-api/src/wiring/createFrontendModule.ts
Labels: none

Update 2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
  microsite/blog/2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
Labels: area:microsite

frontend-plugin-api: TsDoc for createExtension
  packages/frontend-plugin-api/src/wiring/createExtension.ts
Labels: none

Update 2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
  microsite/blog/2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
Labels: area:microsite

Created 2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
  microsite/blog/2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
Labels: area:microsite

frontend-plugin-api: tsdoc review fixes
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createFrontendModule.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
Labels: none

frontend-plugin-api: TsDoc for createFrontendPlugin
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
Labels: none

deleted image 5
  microsite/blog/assets/2025-08-08/image05.png
Labels: area:microsite

Add files via upload
  microsite/blog/assets/2025-08-08/image01.png
  microsite/blog/assets/2025-08-08/image02.png
  microsite/blog/assets/2025-08-08/image03.png
  microsite/blog/assets/2025-08-08/image04.png
  microsite/blog/assets/2025-08-08/image05.png
Labels: area:microsite

took out backstage/cli package and added it as a dev dependency
  microsite/package.json
Labels: area:microsite

removed yarn duplicate version packages in lock file
  microsite/yarn.lock
Labels: area:microsite

deleted image and used prettier fix
  microsite/blog/2025-08-08-migrating-legacy-services-to-a-modern-developer-portal.mdx
Labels: area:microsite

Update 2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
  microsite/blog/2025-08-8-migrating-legacy-services-to-a-modern-developer-portal.md
Labels: area:microsite

fixed formatting with prettier. ran yarn prettier:fix
  microsite/blog/2025-08-08-migrating-legacy-services-to-a-modern-developer-portal.mdx
  microsite/package.json
  microsite/yarn.lock
Labels: area:microsite

Rename to 2025-08-08-migrating-legacy-services-to-a-modern-developer-portal.mdx to 2025-08-08-migrating-legacy-services-to-a-modern-developer-portal.mdx
  microsite/blog/2025-08-08-migrating-legacy-services-to-a-modern-developer-portal.mdx
Labels: area:microsite
