Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Fixes --bui-bg-surface-0 token
  .changeset/better-ghosts-tell.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/tokens.css
Labels: none

Update tokens.css
  packages/ui/src/css/tokens.css
Labels: none

Fix background in Spotify theme
  .storybook/themes/spotify.css
  docs-ui/public/theme-spotify.css
Labels: none

Fixes --bui-bg-surface-0 token
  .changeset/better-ghosts-tell.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/tokens.css
Labels: none

Update tokens.css
  packages/ui/src/css/tokens.css
Labels: none

Fix background in Spotify theme
  .storybook/themes/spotify.css
  docs-ui/public/theme-spotify.css
Labels: none

Update create-a-component.md to remove Node 20 flag prerequisite
  docs/getting-started/create-a-component.md
Labels: area:documentation

Update sidebar links in sidebars.ts
  microsite/sidebars.ts
Labels: area:microsite

Delete microsite/data/plugins/aws-app-development.yaml
  microsite/data/plugins/aws-app-development.yaml
Labels: area:microsite

typo
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

add debug log
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

fix api report
  packages/backend-openapi-utils/report.api.md
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

fix CI
  packages/backend-openapi-utils/report.api.md
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/permissions.test.ts
  packages/backend-openapi-utils/src/middlewares/permissions.ts
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

Update theme-backstage.css
  docs-ui/public/theme-backstage.css
Labels: none

Add status surfaces
  packages/ui/src/components/Box/Box.module.css
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Flex/Flex.module.css
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Flex/definition.ts
  packages/ui/src/components/Grid/Grid.module.css
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/definition.ts
  packages/ui/src/types.ts
Labels: none

feat(openapi): add spec for permissions router
  plugins/permission-backend/package.json
  plugins/permission-backend/src/schema/openapi.yaml
  plugins/permission-backend/src/schema/openapi/generated/apis/Api.server.ts
  plugins/permission-backend/src/schema/openapi/generated/apis/index.ts
  plugins/permission-backend/src/schema/openapi/generated/index.ts
  plugins/permission-backend/src/schema/openapi/generated/models/AuthorizeResult.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/BasicPermission.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/BasicPermissionRequest.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ErrorError.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionRequest.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionRequestBatch.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionResponseBatch.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/GetHealth200Response.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ModelError.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionAttributes.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ResourcePermission.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ResourcePermissionRequest.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ResourcePermissionRequestResourceRef.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/index.ts
  plugins/permission-backend/src/schema/openapi/generated/router.ts
  plugins/permission-backend/src/schema/openapi/index.ts
  plugins/permission-backend/src/service/router.ts
  yarn.lock
Labels: area:permission

Fix large icon rendering in catalog graph nodes
  .changeset/fair-ads-decide.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityIcon.tsx
Labels: area:catalog

fix schema fully :)
  plugins/permission-backend/src/schema/openapi.yaml
  plugins/permission-backend/src/schema/openapi/generated/models/BatchEvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ConditionalEvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/DefinitiveEvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionCondition.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionCriteriaOneOf.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionCriteriaOneOf1.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionCriteriaOneOf2.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/index.ts
  plugins/permission-backend/src/schema/openapi/generated/router.ts
  plugins/permission-backend/src/service/router.ts
Labels: area:permission

remove stray console log
  plugins/permission-backend/src/service/router.ts
Labels: area:permission

feat(openapi): add basic spec for auth backend
  plugins/auth-backend/package.json
  plugins/auth-backend/src/schema/openapi.yaml
  plugins/auth-backend/src/schema/openapi/generated/apis/Api.server.ts
  plugins/auth-backend/src/schema/openapi/generated/apis/index.ts
  plugins/auth-backend/src/schema/openapi/generated/index.ts
  plugins/auth-backend/src/schema/openapi/generated/models/ErrorError.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/Logout200Response.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/LogoutRequest.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/ModelError.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/RefreshResponse.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/RefreshResponseBackstageIdentity.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/RefreshResponseBackstageIdentityIdentity.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/RefreshResponseProviderInfo.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/RefreshTokenPostRequest.model.ts
  plugins/auth-backend/src/schema/openapi/generated/models/index.ts
  plugins/auth-backend/src/schema/openapi/generated/router.ts
  plugins/auth-backend/src/schema/openapi/index.ts
  yarn.lock
Labels: area:auth

Update report.api.md
  packages/ui/report.api.md
Labels: none

feat(ui): Support automatic dimension for Skeleton
  .changeset/clear-jars-enjoy.md
  docs-ui/src/content/skeleton.mdx
  docs-ui/src/content/skeleton.props.ts
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Skeleton/types.ts
Labels: none

Add react/jsx-runtime and react/jsx-dev-runtime to ModuleFederation shard packages
  .changeset/clever-lines-rhyme.md
  packages/cli/src/modules/build/lib/bundler/config.ts
Labels: none

fix spec
  plugins/auth-backend/src/schema/openapi.yaml
  plugins/auth-backend/src/schema/openapi/generated/router.ts
Labels: area:auth

update logger and fix tests
  packages/backend-openapi-utils/src/middlewares/permissions.test.ts
  packages/backend-openapi-utils/src/middlewares/permissions.ts
  packages/backend-plugin-api/report.api.md
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/permission-node/report.api.md
Labels: area:catalog, area:permission

feat: create a new openapi service to simplify integration
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/schema/index.ts
  packages/backend-defaults/src/entrypoints/schema/schemaServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/schema/schemaServiceFactory.ts
  packages/backend-plugin-api/src/services/definitions/SchemaService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

Update packages/cli/package.json
  packages/cli/package.json
Labels: none

Remove cli change
  .changeset/slimy-geese-itch.md
Labels: none

Remove jsdom info
  .changeset/slimy-geese-itch.md
Labels: none

Add schema for namespaces
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/schema.ts
  yarn.lock
Labels: area:scaffolder

Update api reports
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
Labels: area:scaffolder

update reports
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
Labels: area:scaffolder

Add better changeset description
  .changeset/slimy-geese-itch.md
Labels: none

Docker build fails on Node 20: isolated-vm compile error Fixes #32213
  packages/backend/Dockerfile
Labels: none

chore: Upgrade @acemir/cssom to fix some CSS parsing issues during tests
  packages/ui/package.json
  yarn.lock
Labels: none

chore: Check test parsing of CSS modules
  .changeset/true-mails-repair.md
  packages/ui/src/css-parsing.test.ts
Labels: none

added changeset
  .changeset/green-bags-shave.md
Labels: none

chore : Add DORA Metrics Scorecard plugin to marketplace
  microsite/data/plugins/dora-scorecard.yaml
Labels: area:microsite

blog: backstage wrapped 2025
  microsite/blog/2025-12-30-backstage-wrapped-2025.mdx
Labels: area:microsite

blog: backstage wrapped assets
  microsite/blog/assets/2025-12-30/wrapped2025-stats.png
  microsite/blog/assets/2025-12-30/wrapped2025.png
Labels: area:microsite

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
