Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

feat(ui): add Table row selection support with visual states and documentation
  .changeset/slimy-islands-play.md
  docs-ui/src/content/table.mdx
  docs-ui/src/content/table.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Table/components/Column.tsx
  packages/ui/src/components/Table/components/Row.tsx
  packages/ui/src/components/Table/components/TableHeader.tsx
  packages/ui/src/components/Table/definition.ts
Labels: none

refactor(ui): Remove broken drag-and-drop rendering from TableHeader
  packages/ui/src/components/Table/components/TableHeader.tsx
Labels: none

feat(ui): add Table row selection support with visual states and documentation
  .changeset/slimy-islands-play.md
  docs-ui/src/content/table.mdx
  docs-ui/src/content/table.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Table/components/Column.tsx
  packages/ui/src/components/Table/components/Row.tsx
  packages/ui/src/components/Table/components/TableHeader.tsx
  packages/ui/src/components/Table/definition.ts
Labels: none

Update .changeset/early-carpets-rush.md
  .changeset/early-carpets-rush.md
Labels: none

Properly create workspace in OS tmpdir for generate-patch command
  .changeset/neat-pens-clean.md
  packages/repo-tools/src/commands/generate-patch/generate-patch.ts
Labels: none

Update Create and Support buttons
  packages/core-components/src/components/CreateButton/CreateButton.tsx
  packages/core-components/src/components/SupportButton/SupportButton.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
Labels: area:catalog

Fix dependencies
  packages/core-components/package.json
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

Add changeset
  .changeset/green-pillows-poke.md
  .changeset/slimy-monkeys-act.md
Labels: none

chore(mcp): Handle all Backstage errors, both built-in and custom
  .changeset/big-snakes-slide.md
  plugins/mcp-actions-backend/README.md
  plugins/mcp-actions-backend/src/services/handleErrors.test.ts
  plugins/mcp-actions-backend/src/services/handleErrors.ts
Labels: none

Cleanup
  plugins/mcp-actions-backend/src/services/handleErrors.test.ts
Labels: none

Update OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

Update dependencies
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

validate plugin and module ids
  .changeset/itchy-sites-cheer.md
  docs/backend-system/architecture/08-naming-patterns.md
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-plugin-api/src/wiring/createBackendModule.ts
  packages/backend-plugin-api/src/wiring/createBackendPlugin.ts
  packages/config/report.api.md
  packages/config/src/constants.ts
  packages/config/src/reader.ts
Labels: area:documentation

fix test and update invalid ids
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-dynamic-feature-service/src/schemas/frontend.ts
Labels: none

make a warning for invalid plugin and module Ids
  docs/backend-system/architecture/08-naming-patterns.md
  packages/backend-plugin-api/src/wiring/constants.ts
  packages/backend-plugin-api/src/wiring/createBackendModule.ts
  packages/backend-plugin-api/src/wiring/createBackendPlugin.ts
Labels: area:documentation

fix: bring back the colon to the regex
  packages/config/src/constants.ts
Labels: none

fix: error messages on tests
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/config-loader/src/sources/EnvConfigSource.ts
Labels: none

Apply suggestion from @freben
  packages/backend-plugin-api/src/wiring/createBackendPlugin.ts
Labels: none

fix: remove unnecessary changes, and clarify the pattern comments
  packages/backend-plugin-api/src/wiring/constants.ts
Labels: none

docs(docs-ui): add v0.9.0 changelog with component attributions
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.9.0.ts
Labels: none

Adds support for broadcasting notifications to specified Slack channels.
  .changeset/forty-papers-enjoy.md
  docs/notifications/processors.md
  plugins/notifications-backend-module-slack/config.d.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
  plugins/notifications-backend-module-slack/src/lib/types.ts
Labels: area:documentation

docs(docs-ui): add v0.9.0 changelog with component attributions
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.9.0.ts
Labels: none

Update CreateButton.tsx
  packages/core-components/src/components/CreateButton/CreateButton.tsx
Labels: none

Add @backstage/ui as dependency in template
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/next-app/package.json.hbs
Labels: none

Update package.json
  packages/create-app/package.json
Labels: none

Revert
  packages/create-app/package.json
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/next-app/package.json.hbs
Labels: none

feat: mask secret datas
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
Labels: area:kubernetes

feat: add secrets accordion
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes-common/src/util/response.ts
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsAccordions.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsDrawer.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/index.ts
Labels: area:kubernetes

chore: yarn build:api-reports
  plugins/kubernetes-common/report.api.md
Labels: area:kubernetes

feat: add test code for secrets fetch
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
Labels: area:kubernetes

chore: changeset
  .changeset/legal-otters-punch.md
Labels: none

chore: remove secrets from default object and rollback test code
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
Labels: area:kubernetes

feat: add test code for secrets accordion
  plugins/kubernetes-react/src/__fixtures__/1-secrets.json
  plugins/kubernetes-react/src/__fixtures__/2-secrets.json
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsAccordions.test.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsDrawer.test.tsx
Labels: area:kubernetes

chore: extract to helper function
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
Labels: area:kubernetes

chore: add test code for helper function
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
Labels: area:kubernetes

chore: remove google for enabling pod terminal at gke
  plugins/kubernetes-react/src/hooks/useIsPodExecTerminalSupported.ts
Labels: area:kubernetes

chore: add chageset
  .changeset/fifty-coats-feel.md
Labels: none

chore: update test code for enabling a pod terminal at gke
  plugins/kubernetes-react/src/hooks/useIsPodExecTerminalSupported.test.ts
Labels: area:kubernetes

workflows: build BUI for e2e
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-windows.yml
Labels: none

Add new cells for the new catalog table
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/cells/DescriptionCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityDisplayNameCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityRefLinkCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityRefLinksCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/TagsCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/index.ts
Labels: area:catalog

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
