Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Update module federation packages to ^0.21.2
  .changeset/light-years-remain.md
  packages/backend-dynamic-feature-service/package.json
  packages/cli/package.json
  packages/frontend-dynamic-feature-loader/package.json
  yarn.lock
Labels: none

Add support for AsyncApi v3 reference preservation
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend-module-openapi/src/lib/bundle.test.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
  yarn.lock
Labels: area:catalog

Remove outdated version of json-schema-ref-parser and consolidate dependencies after rebase
  yarn.lock
Labels: none

TargetBoard Plugin - Prettier fix
  microsite/data/plugins/targetboard.yaml
Labels: area:microsite

add changeset
  .changeset/flat-paws-do.md
Labels: none

fix: do not spread truncate property on the text component
  packages/ui/src/components/Text/Text.tsx
Labels: none

refactoring
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
Labels: area:catalog

add "dereferencing" to accepted word list
  .github/vale/config/vocabularies/Backstage/accept.txt
Labels: none

feat(ui): migrate Avatar from Base UI with updated size scale
  .changeset/cruel-items-dig.md
  docs-ui/src/content/components/avatar.mdx
  docs-ui/src/content/components/avatar.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Avatar/Avatar.module.css
  packages/ui/src/components/Avatar/Avatar.stories.tsx
  packages/ui/src/components/Avatar/Avatar.tsx
  packages/ui/src/components/Avatar/types.ts
Labels: none

Update .changeset/real-turtles-cross.md
  .changeset/real-turtles-cross.md
Labels: none

Update .changeset/real-turtles-cross.md
  .changeset/real-turtles-cross.md
Labels: none

fix(ui): prevent radio button ellipse distortion in RadioGroup
  .changeset/ripe-crabs-care.md
  packages/ui/src/components/RadioGroup/RadioGroup.module.css
Labels: none

fix(catalog-backend-incremental-ingestion): correctly handle count queries returning strings
  .changeset/warm-shrimps-clap.md
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.ts
Labels: area:catalog

Update itchy-bars-smell.md
  .changeset/itchy-bars-smell.md
Labels: none

docs(events): add documentation for kafka events module
  docs/integrations/bitbucketCloud/discovery.md
  docs/integrations/bitbucketServer/discovery.md
  docs/integrations/github/discovery.md
  docs/integrations/github/org.md
  docs/integrations/gitlab/discovery.md
  docs/integrations/gitlab/org.md
Labels: area:documentation

test(catalog-backend-incremental-ingestion): update entites to match DeferredEntity type
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.test.ts
Labels: area:catalog

dedupe
  yarn.lock
Labels: none

feat(ui): migrate Avatar from Base UI with updated size scale
  .changeset/cruel-items-dig.md
  docs-ui/src/content/components/avatar.mdx
  docs-ui/src/content/components/avatar.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Avatar/Avatar.module.css
  packages/ui/src/components/Avatar/Avatar.stories.tsx
  packages/ui/src/components/Avatar/Avatar.tsx
  packages/ui/src/components/Avatar/types.ts
Labels: none

frontend-plugin-api: make ExtensionInput type parameters optional
  .changeset/thirty-hoops-own.md
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.test.ts
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-internal/src/wiring/InternalExtensionDefinition.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createExtensionInput.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
  packages/frontend-plugin-api/src/wiring/resolveInputOverrides.ts
  plugins/api-docs/report-alpha.api.md
  plugins/app/report.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/org/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:techdocs

create-app: add app visualizer in next template
  .changeset/legal-weeks-walk.md
  packages/create-app/src/lib/versions.ts
  packages/create-app/templates/next-app/packages/app/package.json.hbs
Labels: none

app-visualizer: horizontal tree vis + layout fix
  .changeset/eighty-results-prove.md
  plugins/app-visualizer/src/components/AppVisualizerPage/TreeVisualizer.tsx
Labels: none

Spelling issue corrected
  docs/conf/user-interface/index.md
Labels: area:documentation

Update itchy-bars-smell.md
  .changeset/itchy-bars-smell.md
Labels: none

refactor(ui): migrate CellProfile from Base UI to Backstage Avatar
  .changeset/huge-taxis-grab.md
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/components/CellProfile.tsx
Labels: none

fix(ui): prevent radio button ellipse distortion in RadioGroup
  .changeset/ripe-crabs-care.md
  packages/ui/src/components/RadioGroup/RadioGroup.module.css
Labels: none

Apply default order to templates
  .changeset/lemon-spies-sleep.md
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

refactor(ui): migrate CellProfile from Base UI to Backstage Avatar
  .changeset/huge-taxis-grab.md
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/components/CellProfile.tsx
Labels: none

fix gitlab search with multiple globs
  .changeset/eleven-carpets-win.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
Labels: none

fix(scaffolder-gitlab): Make publish:gitlab:merge-request action idempotent
  .changeset/famous-camels-stop.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
  plugins/welcome-plugin/catalog-info.yaml
  plugins/welcome-plugin/package.json
  yarn.lock
Labels: area:scaffolder

fix tests
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
Labels: area:catalog

add changeset
  .changeset/fix-text-truncate-prop.md
Labels: none

fix(ui): resolve Select component CSS issues
  .changeset/deep-gifts-slide.md
  packages/ui/report.api.md
  packages/ui/src/components/Popover/Popover.module.css
  packages/ui/src/components/Select/Select.module.css
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

chore: fix prettier Signed-off-by: benjdlambert <ben@blam.sh>
  .github/workflows/welcome.yml
Labels: none

fix: add missing i18n support for catalog plugin
  .changeset/empty-games-hug.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/translation.ts
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/components/AboutCard/AboutContent.tsx
  plugins/catalog/src/components/AboutCard/AboutField.tsx
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

fix api report
  plugins/catalog/report-alpha.api.md
Labels: area:catalog

addressed review comments
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/translation.ts
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

Allows for a opt-in strategy for notifications rather than opt-out.
  .changeset/fancy-years-camp.md
  docs/notifications/index.md
  plugins/notifications-backend/config.d.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-common/report.api.md
  plugins/notifications-common/src/types.ts
  plugins/notifications-common/src/utils.ts
Labels: area:documentation

fixes two failing tests
  plugins/notifications-backend/src/service/router.ts
Labels: none

First pass at bringing our new navigation to BUI's docs
  docs-ui/package.json
  docs-ui/src/app/about/page.mdx
  docs-ui/src/app/components/page.mdx
  docs-ui/src/app/install/page.mdx
  docs-ui/src/app/layout.module.css
  docs-ui/src/app/layout/page.mdx
  docs-ui/src/app/page.mdx
  docs-ui/src/app/responsive/page.mdx
  docs-ui/src/app/snippets.ts
  docs-ui/src/app/tokens/page.mdx
  docs-ui/src/components/ComponentCards/ComponentCards.module.css
  docs-ui/src/components/CustomTheme/styles.module.css
  docs-ui/src/components/HeadlessBanners/styles.module.css
  docs-ui/src/components/LayoutComponents/LayoutComponents.module.css
  docs-ui/src/components/PropsTable/TypePopup.module.css
  docs-ui/src/components/Sidebar/Sidebar.module.css
  docs-ui/src/components/Sidebar/index.tsx
  docs-ui/src/components/Table/styles.module.css
  docs-ui/src/components/Toolbar/theme-name.module.css
  docs-ui/src/css/globals.css
  docs-ui/src/mdx-components.tsx
  docs-ui/src/utils/data.ts
  docs-ui/src/utils/getPageName.ts
  docs-ui/yarn.lock
Labels: none

Cleaning build
  docs-ui/next.config.mjs
  docs-ui/package.json
  docs-ui/src/app/layout.tsx
  docs-ui/src/components/PageTitle/index.tsx
  docs-ui/src/components/StickyHeader/StickyHeader.module.css
  docs-ui/src/components/StickyHeader/StickyHeader.tsx
  docs-ui/src/components/Toolbar/Toolbar.tsx
  docs-ui/src/mdx-components.tsx
  docs-ui/src/utils/playground-context.tsx
  docs-ui/yarn.lock
Labels: none
