Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Update OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

refactor: populate ses options during constructor
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
Labels: none

Update system requirements for Backstage application
  docs/getting-started/index.md
Labels: area:documentation

docs(gitlab): update discovery documentation to add 'useSearch' configuration parameter
  docs/integrations/gitlab/discovery.md
Labels: area:documentation

make .withOverrides have a simplified result type
  .changeset/crazy-hornets-spend.md
  .changeset/fuzzy-rivers-travel.md
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  plugins/api-docs/report-alpha.api.md
  plugins/app/report.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/org/report-alpha.api.md
  plugins/search/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:search, area:techdocs

remove duplicate custom plugins
  packages/backend-split/src/experimental/features.http
  packages/backend-split/src/experimental/instanceMetadata.ts
  packages/backend-split/src/experimental/systemMetadata.ts
  packages/backend/package.json
  packages/backend/src/experimental/instanceMetadata.ts
  packages/backend/src/experimental/systemMetadata.ts
  packages/backend/src/index.ts
Labels: none

add changeset
  .changeset/old-cats-shake.md
Labels: none

feat: add a new system metadata service
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/systemMetadata/index.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/systemMetadataServiceFactory.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/services/definitions/SystemMetadataService.ts
  packages/backend-split/.eslintrc.js
  packages/backend-split/CHANGELOG.md
  packages/backend-split/README.md
  packages/backend-split/app-config.split.yaml
  packages/backend-split/catalog-info.yaml
  packages/backend-split/knip-report.md
  packages/backend-split/package.json
  packages/backend-split/src/experimental/features.http
  packages/backend-split/src/experimental/instanceMetadata.ts
  packages/backend-split/src/experimental/systemMetadata.ts
  packages/backend-split/src/index.ts
  packages/backend-split/src/instrumentation.js
  packages/backend/app-config.split.yaml
  packages/backend/src/experimental/instanceMetadata.ts
  packages/backend/src/experimental/systemMetadata.ts
  packages/backend/src/index.ts
  yarn.lock
Labels: none

small updates
  packages/backend-split/CHANGELOG.md
  packages/backend-split/package.json
Labels: none

yarn fix
  packages/backend-split/package.json
Labels: none

remove more unused files
  packages/backend-split/knip-report.md
Labels: none

remove unused deps
  packages/backend-split/package.json
  yarn.lock
Labels: none

fix api report
  packages/backend-defaults/package.json
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/entrypoints/alpha.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-split/src/index.ts
  packages/backend/src/index.ts
Labels: none

fix api report
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/services/definitions/SystemMetadataService.ts
Labels: none

fix api report again
  packages/backend-defaults/report-alpha.api.md
Labels: none

address PR feedback
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/systemMetadataServiceFactory.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-split/src/experimental/features.http
  packages/backend-split/src/experimental/instanceMetadata.ts
  packages/backend-split/src/experimental/systemMetadata.ts
  packages/backend-split/src/index.ts
Labels: none

add to config
  packages/backend-defaults/config.d.ts
Labels: none

update config handling to support internal/external split and adjust types
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/services/definitions/SystemMetadataService.ts
  packages/backend/app-config.split.yaml
Labels: none

docs(gitlab): update report api
  plugins/catalog-backend-module-gitlab/report.api.md
Labels: area:catalog

fix test cases
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-dynamic-feature-service/src/manager/plugin-manager.test.ts
Labels: none

clean up PR following review
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/systemMetadataServiceFactory.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/services/definitions/SystemMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-split/.eslintrc.js
  packages/backend-split/README.md
  packages/backend-split/app-config.split.yaml
  packages/backend-split/catalog-info.yaml
  packages/backend-split/package.json
  packages/backend-split/src/experimental/features.http
  packages/backend-split/src/index.ts
  packages/backend-split/src/instrumentation.js
  packages/backend/app-config.split.yaml
  packages/backend/package.json
  yarn.lock
Labels: none

add test case
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/systemMetadata/SystemMetadataService.test.ts
  yarn.lock
Labels: none

fix api reports
  packages/backend-defaults/report-alpha.api.md
Labels: none

fix api reports for realz
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/alpha.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/SystemMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
Labels: none

fix 1 test case
  packages/backend-defaults/src/entrypoints/systemMetadata/systemMetadataServiceFactory.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

fix CI
  packages/backend-app-api/package.json
  packages/backend-defaults/report-systemMetadata.api.md
  yarn.lock
Labels: none

fix API report
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-test-utils/report.api.md
Labels: none

fix api reports
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/report-systemMetadata.api.md
Labels: none

fix tests
  packages/backend-defaults/src/entrypoints/systemMetadata/SystemMetadataService.test.ts
Labels: none

update system metadata service to be observable-first
  packages/backend-defaults/package.json
  packages/backend-defaults/report-systemMetadata.api.md
  packages/backend-defaults/src/entrypoints/systemMetadata/SystemMetadataService.test.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-test-utils/package.json
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/services/MockObservable.ts
  packages/backend-test-utils/src/services/MockSystemMetadataService.test.ts
  packages/backend-test-utils/src/services/MockSystemMetadataService.ts
  packages/backend-test-utils/src/services/mockServices.ts
  packages/backend-test-utils/src/services/simpleMock.ts
  yarn.lock
Labels: none

update to just config reading-based
  packages/backend-app-api/package.json
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/entrypoints/discovery/HostDiscovery.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/RootSystemMetadataService.test.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/index.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/lib/DefaultRootSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/rootSystemMetadataServiceFactory.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/DefaultSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/systemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-plugin-api/src/services/definitions/RootSystemMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/src/services/MockSystemMetadataService.test.ts
  packages/backend-test-utils/src/services/MockSystemMetadataService.ts
  packages/backend-test-utils/src/services/mockServices.ts
  packages/backend/src/index.ts
Labels: none

more cleanup
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/RootSystemMetadataService.test.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/lib/DefaultRootSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-dynamic-feature-service/src/manager/plugin-manager.test.ts
  packages/backend-plugin-api/src/services/definitions/RootSystemMetadataService.ts
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/services/MockObservable.ts
  packages/backend-test-utils/src/services/simpleMock.ts
  packages/backend/src/index.ts
  yarn.lock
Labels: none

remove http interface
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/RootSystemMetadataService.test.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/lib/createSystemMetadataRouter.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/rootSystemMetadataServiceFactory.ts
Labels: none

fixes
  packages/backend-defaults/package.json
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/report-discovery.api.md
  packages/backend-defaults/report-rootSystemMetadata.api.md
  packages/backend-defaults/report-systemMetadata.api.md
  packages/backend-plugin-api/report.api.md
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

add example router
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/systemMetadataPlugin.ts
Labels: none

fix api reports
  packages/backend-plugin-api/report.api.md
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

fix lockfile
  yarn.lock
Labels: none

rework to use test backend
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/RootSystemMetadataService.test.ts
  packages/backend-test-utils/src/services/mockServices.ts
  packages/backend-test-utils/src/wiring/TestBackend.ts
Labels: none

remove idea of hosts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/RootSystemMetadataService.test.ts
  packages/backend-defaults/src/entrypoints/rootSystemMetadata/lib/DefaultRootSystemMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/RootSystemMetadataService.ts
Labels: none

delete system metadata custom plugin
  packages/backend/src/index.ts
  packages/backend/src/systemMetadataPlugin.ts
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
