Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

bui-themer: tweak conversion logic
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: fix test
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.test.tsx
Labels: none

bui-themer: sync dep versions
  plugins/bui-themer/package.json
  yarn.lock
Labels: none

bui-themer: API report + fixes
  plugins/bui-themer/report.api.md
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/bui-themer/src/components/BuiThemerPage/index.ts
  plugins/bui-themer/src/index.ts
  plugins/bui-themer/src/plugin.tsx
Labels: none

bui-themer: trim dependencies
  plugins/bui-themer/knip-report.md
  plugins/bui-themer/package.json
  yarn.lock
Labels: none

changesets: add changesets for bui-themer
  .changeset/bui-themer-bui-palette-additions.md
  .changeset/unified-theme-attr-stack.md
Labels: none

bui-themer: fix package
  plugins/bui-themer/package.json
Labels: none

update GitlabDiscoverProcessor to call client.hasFile using project.id
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
Labels: area:catalog

fix(bui): add MemoryRouter to ButtonLink stories
  packages/ui/src/components/ButtonLink/ButtonLink.stories.tsx
Labels: none

update client.test to call hasFile with numeric id
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
Labels: area:catalog

add PasswordField to BUI, remove additional props from TextField
  packages/ui/css/styles.css
  packages/ui/src/components/PasswordField/PasswordField.stories.tsx
  packages/ui/src/components/PasswordField/PasswordField.styles.css
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/PasswordField/index.ts
  packages/ui/src/components/PasswordField/types.ts
  packages/ui/src/css/components.css
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Deprecate types search and password from TextField
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/types.ts
Labels: none

Update eighty-cows-care.md
  .changeset/eighty-cows-care.md
Labels: none

Fix stylesheet import
  packages/ui/src/css/components.css
Labels: none

remove unecessary props
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/PasswordField/types.ts
Labels: none

Add support for customizable icons in SearchResultListItemBlueprint and related components
  .changeset/clever-boats-clap.md
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/searchResultItems.tsx
  plugins/search-react/report-alpha.api.md
  plugins/search-react/src/alpha/blueprints/SearchResultListItemBlueprint.tsx
  plugins/search-react/src/alpha/blueprints/types.ts
  plugins/search/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/src/alpha/index.tsx
Labels: area:catalog, area:search, area:techdocs

plugins/bui-themer: rename to mui-to-bui
  .changeset/bui-themer-bui-palette-additions.md
  packages/app/package.json
  packages/app/src/App.tsx
  plugins/bui-themer/README.md
  plugins/bui-themer/catalog-info.yaml
  plugins/bui-themer/dev/index.tsx
  plugins/bui-themer/package.json
  plugins/bui-themer/report.api.md
  plugins/bui-themer/src/plugin.test.ts
  plugins/bui-themer/src/plugin.tsx
  plugins/bui-themer/src/routes.ts
  yarn.lock
Labels: none

bui-themer: remove unnecessary matchMedia mocks
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.test.tsx
Labels: none

feat(auth): allow configuring DCR token expiration
  .changeset/yummy-socks-brake.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
  plugins/auth-backend/src/service/readTokenExpiration.test.ts
  plugins/auth-backend/src/service/readTokenExpiration.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

feat(catalog): add entity validation action
  .changeset/red-dodos-work.md
  plugins/catalog-backend/src/actions/createValidateEntityAction.test.ts
  plugins/catalog-backend/src/actions/createValidateEntityAction.ts
  plugins/catalog-backend/src/actions/index.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
Labels: area:catalog

Log before provider-orphaning eviction happens
  .changeset/brown-turkeys-send.md
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.test.ts
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.ts
Labels: area:catalog

Update architecture-overview.md updated database section
  docs/overview/architecture-overview.md
Labels: area:documentation

fix: remove default selection of tab for tabs that have href defined
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
Labels: none

Update architecture-overview.md added links for core frontend plugins
  docs/overview/architecture-overview.md
Labels: area:documentation

validate plugin and module ids
  .changeset/itchy-sites-cheer.md
  docs/backend-system/architecture/08-naming-patterns.md
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-plugin-api/src/wiring/createBackendModule.ts
  packages/backend-plugin-api/src/wiring/createBackendPlugin.ts
  packages/config/report.api.md
  packages/config/src/constants.ts
  packages/config/src/reader.ts
Labels: area:documentation

fix test and update invalid ids
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-dynamic-feature-service/src/schemas/frontend.ts
Labels: none

make a warning for invalid plugin and module Ids
  docs/backend-system/architecture/08-naming-patterns.md
  packages/backend-plugin-api/src/wiring/constants.ts
  packages/backend-plugin-api/src/wiring/createBackendModule.ts
  packages/backend-plugin-api/src/wiring/createBackendPlugin.ts
Labels: area:documentation

fix: error messages on tests
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/config-loader/src/sources/EnvConfigSource.ts
Labels: none

feat(scaffolder-gitlab): add hybrid git implementation with useCustomGit option
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Labels: area:scaffolder

fix: JSON filter syntax in catalog-customization.md
  docs/features/software-catalog/catalog-customization.md
Labels: area:documentation

Change `target` to `targetRef` in catalog customization
  docs/features/software-catalog/catalog-customization.md
Labels: area:documentation

Fix Gendocu wrong dependency
  .changeset/famous-spiders-invent.md
  .yarn/patches/grpc-docs-npm-1.1.4-4cca826ad6.patch
  package.json
  plugins/api-docs-module-protoc-gen-doc/package.json
  yarn.lock
Labels: none

fix: gendocu public apis error
  package.json
  yarn.lock
Labels: none

docs: clarify legacy backend system steps
  docs/integrations/gitlab/discovery.md
Labels: area:documentation

refactor: apply review suggestions
  .changeset/modern-pugs-appear.md
  docs/tooling/cli/03-commands.md
  packages/cli/cli-report.md
  packages/cli/src/modules/build/commands/package/start/command.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.test.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.ts
  packages/cli/src/modules/build/index.ts
Labels: area:documentation

refactor: rephrase the flag description
  packages/cli/src/modules/build/index.ts
Labels: none

feat: add package start entry dir option
  .changeset/modern-pugs-appear.md
  docs/tooling/cli/03-commands.md
  packages/cli/src/modules/build/commands/package/start/command.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.ts
  packages/cli/src/modules/build/index.ts
Labels: area:documentation

refactor: simplify the resolve entry path logic
  packages/cli/src/modules/build/commands/package/start/startPackage.test.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.ts
Labels: none

add page to docs-ui, fix aria labels, compatibility with one password icons, create custom button
  docs-ui/public/theme-backstage.css
  docs-ui/src/app/page.mdx
  docs-ui/src/content/components/password-field.mdx
  docs-ui/src/content/components/password-field.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/data.ts
  packages/ui/css/styles.css
  packages/ui/report.api.md
  packages/ui/src/components/PasswordField/PasswordField.styles.css
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

fix: gendocu public apis error
  package.json
  yarn.lock
Labels: none
