Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

feat: use catalog presentation API instead of direct metadata rendering
  plugins/catalog-react/src/components/EntityTable/columns.tsx
  plugins/org-react/src/components/GroupListPicker/GroupListPicker.tsx
  plugins/techdocs/src/home/components/Grids/DocsCardGrid.tsx
  plugins/techdocs/src/home/components/Tables/columns.tsx
Labels: area:catalog, area:techdocs

fix: Invalid MUI to BUI conversion for --bui-bg
  .changeset/legal-hounds-think.md
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

changeset added
  .changeset/deep-ducks-like.md
Labels: none

add init files for azure devops PR action
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.examples.ts
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.ts
  plugins/scaffolder-backend-module-azure/src/actions/helpers.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/helpers.ts
Labels: area:scaffolder

changeset and DCO signature
  .changeset/bright-ears-send.md
Labels: none

changeset and DCO signature
  .changeset/bright-ears-send.md
Labels: none

GitLabDiscoveryEntityProvider now takes into consideration orgEnabled config variable
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

Remove outdated GitLab Org ingestion rules docs
  docs/integrations/gitlab/org.md
Labels: area:documentation

Generate changeset
  .changeset/giant-corners-thank.md
Labels: none

fix: update stories to comply with react-aria
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
Labels: none

fix: add react-aria label to button
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
Labels: none

Get rid of visualizer "missing key" errors in browser console
  .changeset/two-emus-like.md
  plugins/app-visualizer/src/components/AppVisualizerPage/TextVisualizer.tsx
Labels: none

Clean up type
  packages/core-components/src/components/DependencyGraph/types.ts
Labels: none

undo package change
  plugins/catalog-graph/package.json
  yarn.lock
Labels: area:catalog

Remove edge import
  packages/core-components/src/components/DependencyGraph/types.ts
Labels: none

update api report
  packages/core-components/report.api.md
Labels: none

Update .changeset/flat-peas-run.md
  .changeset/flat-peas-run.md
Labels: none

Update .changeset/flat-peas-run.md
  .changeset/flat-peas-run.md
Labels: none

Update api report
  packages/core-components/report.api.md
Labels: none

backend-app-api: earlier handling or unhandled errors
  .changeset/cuddly-mugs-act.md
  packages/backend-app-api/src/wiring/BackendInitializer.ts
Labels: none

fix(catalog-react): add plugin-catalog dependency and update EntityOwnerPicker tests
  plugins/catalog-react/package.json
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  yarn.lock
Labels: area:catalog

add datadog-entity-sync to plugin directory
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

double quotes to single quote
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

Add Chromatic bot
  .github/workflows/chromatic-pr-comment.yml
  .github/workflows/verify_chromatic.yml
Labels: none

format
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

fix(ui): improve SearchField component flex layout and animations
  .changeset/tender-cups-tap.md
  packages/ui/css/styles.css
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/SearchField/SearchField.styles.css
Labels: none

add visibility annotations
  packages/integration/config.d.ts
Labels: none

chore: fix prettier
  packages/ui/src/components/SearchField/SearchField.styles.css
Labels: none

fix(ui): improve ButtonIcon accessibility in SearchField stories
  packages/ui/src/components/SearchField/SearchField.stories.tsx
Labels: none

fix(ui): add smooth border animations and improve SearchField styling
  packages/ui/css/styles.css
  packages/ui/src/components/SearchField/SearchField.styles.css
Labels: none

Adds config definitions for Azure Blob Storage in integration and catalog provider
  .changeset/rare-states-pay.md
  packages/integration/config.d.ts
  plugins/catalog-backend-module-azure/config.d.ts
Labels: area:catalog

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Test
  .github/workflows/verify_chromatic.yml
  packages/ui/css/styles.css
Labels: none

Remove turbosnap
  .github/workflows/verify_chromatic.yml
  chromatic.config.js
Labels: none

Test
  .github/workflows/verify_chromatic.yml
  packages/ui/src/components/Button/styles.css
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
