Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

code clean up
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
  plugins/notifications/src/components/NotificationsPage/NotificationsPage.tsx
Labels: none

addressed review comment
  plugins/notifications/src/components/UserNotificationSettingsCard/UserNotificationSettingsCard.tsx
Labels: none

feat: add git tag to AzureUrl class
  .changeset/lemon-lines-give.md
  packages/integration/src/azure/AzureUrl.ts
Labels: none

feat: add getPrefix function and more tests
  packages/integration/src/azure/AzureUrl.test.ts
  packages/integration/src/azure/AzureUrl.ts
Labels: none

fix(cli): bump swc core version for es2023/2024 support
  .changeset/every-bears-add.md
  microsite/package.json
  microsite/yarn.lock
  packages/cli/package.json
  yarn.lock
Labels: area:microsite

updating api-report
  plugins/techdocs/report-alpha.api.md
Labels: area:techdocs

use node 22 in the patch flow
  .github/workflows/sync_patch-release.yml
Labels: none

add 32149 patch
  .patches/pr-32149.txt
Labels: none

chore(ui): Add SearchField StartCollapsedControlled story.
  packages/ui/src/components/SearchField/SearchField.stories.tsx
Labels: none

fix(ui): Simplify SearchField collapsed tracking logic
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

feat(auth): move logic to auth-node so we can capture user info
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-node/src/audit.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.ts
  plugins/auth-node/src/proxy/createProxyRouteHandlers.ts
  plugins/auth-node/src/types.ts
Labels: area:auth

fix(ui): Fix SearchField focus change listener bug.
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

update changelog
  .changeset/loud-snails-lie.md
Labels: none

bump jws for https://github.com/advisories/GHSA-869p-cjfg-cm3x
  yarn.lock
Labels: none

Update .changeset/major-mangos-shine.md
  .changeset/major-mangos-shine.md
Labels: none

microsite: pin swc
  microsite/package.json
  microsite/yarn.lock
Labels: area:microsite

Update useStyles.ts
  packages/ui/src/hooks/useStyles.ts
Labels: none

Update useStyles.ts
  packages/ui/src/hooks/useStyles.ts
Labels: none

add the jest30 migration to the sidebar
  microsite/sidebars.ts
Labels: area:microsite

more guarantees around async-ness and add support for captureResponse
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

Move stories to CSF Next
  .storybook/main.ts
  .storybook/preview.tsx
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Avatar/Avatar.stories.tsx
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/ButtonIcon/ButtonIcon.stories.tsx
  packages/ui/src/components/ButtonLink/ButtonLink.stories.tsx
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Container/Container.stories.tsx
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/FieldError/FieldError.stories.tsx
  packages/ui/src/components/FieldLabel/FieldLabel.stories.tsx
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
  packages/ui/src/components/Link/Link.stories.tsx
  packages/ui/src/components/Menu/Menu.stories.tsx
  packages/ui/src/components/Menu/MenuAutocomplete.stories.tsx
  packages/ui/src/components/Menu/MenuAutocompleteListBox.stories.tsx
  packages/ui/src/components/Menu/MenuListBox.stories.tsx
  packages/ui/src/components/PasswordField/PasswordField.stories.tsx
  packages/ui/src/components/RadioGroup/RadioGroup.stories.tsx
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/Select/Select.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Switch/Switch.stories.tsx
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/TablePagination/TablePagination.stories.tsx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/TagGroup/TagGroup.stories.tsx
  packages/ui/src/components/Text/Text.stories.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/Tooltip/Tooltip.stories.tsx
  packages/ui/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
Labels: none

fix type errors
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

microsite: bump and use the faster build
  microsite/docusaurus.config.ts
  microsite/package.json
  microsite/yarn.lock
Labels: area:microsite

patch: add the sidebar entry
  .patches/pr-32156.txt
Labels: none

Fixes types
  packages/ui/src/components/ButtonLink/ButtonLink.stories.tsx
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
  packages/ui/src/components/Link/Link.stories.tsx
  packages/ui/src/components/Menu/Menu.stories.tsx
  packages/ui/src/components/Menu/MenuAutocomplete.stories.tsx
  packages/ui/src/components/Menu/MenuAutocompleteListBox.stories.tsx
  packages/ui/src/components/Menu/MenuListBox.stories.tsx
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/Select/Select.stories.tsx
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
  packages/ui/src/components/TagGroup/TagGroup.stories.tsx
  packages/ui/src/components/Text/Text.stories.tsx
  packages/ui/src/components/Tooltip/Tooltip.stories.tsx
Labels: none

Patch from PR #32149
  .changeset/every-bears-add.md
  microsite/package.json
  microsite/yarn.lock
  packages/cli/package.json
  yarn.lock
Labels: area:microsite

Patch from PR #32156
  microsite/sidebars.ts
Labels: area:microsite

Generate Release
  .changeset/every-bears-add.md
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Labels: none

Update preview.tsx
  .storybook/preview.tsx
Labels: none

Update HeaderPage.stories.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
Labels: none

feat: support permissions definitions on the schema
  packages/backend-openapi-utils/package.json
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/permissions.test.ts
  packages/backend-openapi-utils/src/middlewares/permissions.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/service/AuthorizedLocationService.ts
  plugins/catalog-backend/src/service/AuthorizedRefreshService.ts
  yarn.lock
Labels: area:catalog

regenerate spec and test against /refresh
  packages/backend-defaults/src/entrypoints/permissionsRegistry/permissionsRegistryServiceFactory.ts
  packages/backend-openapi-utils/src/middlewares/permissions.ts
  packages/backend-plugin-api/src/services/definitions/PermissionsRegistryService.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/permission-backend/src/service/router.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: area:catalog, area:permission

move to dependency object and update log statements
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

revert spurious changes
  plugins/catalog-backend/src/service/AuthorizedRefreshService.ts
  plugins/permission-backend/src/service/router.ts
Labels: area:catalog, area:permission

feat: add generated index pages for all sidebar items
  microsite/sidebars.ts
Labels: area:microsite

fix merge conflict
  microsite/sidebars.ts
Labels: area:microsite

fix refresh call failing due to non-basic perm
  packages/backend-openapi-utils/src/middlewares/permissions.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

Added title prop to OffsetPaginatedDocsTable for proper display
  .changeset/tender-feet-draw.md
  plugins/techdocs/src/home/components/Tables/OffsetPaginatedDocsTable.test.tsx
  plugins/techdocs/src/home/components/Tables/OffsetPaginatedDocsTable.tsx
Labels: area:techdocs

feat: implementing Client ID Metadata Documents
  plugins/auth-backend/migrations/20251217120000_drop_oidc_clients_fk.js
  plugins/auth-backend/src/service/CimdClient.test.ts
  plugins/auth-backend/src/service/CimdClient.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
Labels: area:auth

Revert "microsite: pin swc"
  .changeset/weak-lemons-create.md
  microsite/package.json
  microsite/yarn.lock
  packages/cli/package.json
  yarn.lock
Labels: area:microsite

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
