Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Add API doc for maybeBootstrapProxy
  packages/cli-common/report.api.md
  packages/cli-common/src/proxyBootstrap.ts
Labels: none

feat(catalog): add query entities action to registry
  .changeset/warm-banks-hope.md
  plugins/catalog-backend/src/actions/createQueryCatalogEntitiesAction.test.ts
  plugins/catalog-backend/src/actions/createQueryCatalogEntitiesAction.ts
  plugins/catalog-backend/src/actions/index.ts
Labels: area:catalog

Update some CSS on Dialog
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.styles.css
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Fix stories
  docs-ui/public/theme-backstage.css
  docs-ui/src/content/components/dialog.mdx
  docs-ui/src/content/components/dialog.props.ts
  packages/ui/src/components/Dialog/Dialog.stories.tsx
Labels: none

Update better-women-turn.md
  .changeset/better-women-turn.md
Labels: none

fix a11y and remove outline on dialog
  packages/ui/src/components/Dialog/Dialog.styles.css
  packages/ui/src/components/Dialog/Dialog.tsx
Labels: none

fix: Fixed bug in template parsing in the `useTemplateSchema` hook by completely removing title from step instead of setting it to undefined
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.test.tsx
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.ts
Labels: area:scaffolder

chore: add changeset
  .changeset/grumpy-planes-bet.md
Labels: none

generate api report
  packages/ui/report.api.md
Labels: none

Add component versions
  .changeset/brave-taxis-dig.md
  packages/ui/src/components/Avatar/Avatar.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Collapsible/Collapsible.tsx
  packages/ui/src/components/Container/Container.tsx
  packages/ui/src/components/FieldError/FieldError.tsx
  packages/ui/src/components/FieldLabel/FieldLabel.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderToolbar.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.tsx
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/RadioGroup/RadioGroup.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/Table/components/Cell.tsx
  packages/ui/src/components/Table/components/CellProfile.tsx
  packages/ui/src/components/Table/components/Column.tsx
  packages/ui/src/components/Table/components/Row.tsx
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/components/TableBody.tsx
  packages/ui/src/components/Table/components/TableHeader.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TagGroup/TagGroup.tsx
  packages/ui/src/components/Text/Text.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/Tooltip/Tooltip.tsx
Labels: none

chore(eslint): add same plugin id suggestion
  packages/eslint-plugin/rules/no-mixed-plugin-imports.js
Labels: none

codeowners: update vale permissions for docs maintainers
  .github/CODEOWNERS
Labels: none

Update index.md changed title and added prerequisites
  docs/getting-started/index.md
Labels: area:documentation

update api report
  packages/core-components/report.api.md
  plugins/catalog-react/report-alpha.api.md
Labels: area:catalog

add changeset
  .changeset/spicy-sides-grow.md
Labels: none

Restructure useStyles hook
  docs-ui/src/content/components/box.mdx
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/types.ts
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/ButtonIcon/ButtonIcon.stories.tsx
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
  packages/ui/src/components/ButtonLink/ButtonLink.stories.tsx
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/css/utilities/mb.css
  packages/ui/src/css/utilities/ml.css
  packages/ui/src/css/utilities/mr.css
  packages/ui/src/css/utilities/mt.css
  packages/ui/src/css/utilities/mx.css
  packages/ui/src/css/utilities/my.css
  packages/ui/src/hooks/useStyles.ts
  packages/ui/src/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Clean Flex
  packages/ui/src/components/Box/Box.props.ts
  packages/ui/src/components/Box/index.tsx
  packages/ui/src/components/Flex/Flex.props.ts
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Flex/index.ts
  packages/ui/src/hooks/useStyles.ts
  packages/ui/src/utils/componentDefinitions.ts
  packages/ui/src/utils/utilityClassMap.ts
Labels: none

Fix other layout components
  packages/ui/report.api.md
  packages/ui/src/components/Container/Container.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Flex/types.ts
  packages/ui/src/components/Grid/Grid.props.ts
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Grid/index.ts
  packages/ui/src/components/Grid/types.ts
  packages/ui/src/types.ts
  packages/ui/src/utils/componentDefinitions.ts
  packages/ui/src/utils/extractProps.ts
  packages/ui/src/utils/utilityClassMap.ts
Labels: none

Update styles.css
  packages/ui/css/styles.css
Labels: none

Fix custom classes
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Container/Container.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Grid/Grid.tsx
Labels: none

Fix fields
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Small fixes
  packages/ui/report.api.md
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

Fix boolean values
  packages/ui/css/styles.css
  packages/ui/src/components/SearchField/SearchField.styles.css
  packages/ui/src/components/SearchField/SearchField.tsx
  packages/ui/src/hooks/useStyles.ts
Labels: none

feat(workflows): Add welcome workflow for new contributors
  .github/workflows/welcome.yml
Labels: none

Fix Flex
  packages/ui/report.api.md
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Flex/types.ts
  packages/ui/src/utils/utilityClassMap.ts
Labels: none

Create deep-masks-bow.md
  .changeset/deep-masks-bow.md
Labels: none

Refuce unnecessary calls to Gitlab API
  .changeset/cool-ads-nail.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  packages/integration/report.api.md
  packages/integration/src/gitlab/core.test.ts
  packages/integration/src/gitlab/core.ts
Labels: none

Remove DialogClose and add width and height props
  docs-ui/src/content/components/dialog.mdx
  docs-ui/src/content/components/dialog.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.styles.css
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/components/Dialog/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Add missing styles
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/styles.css
Labels: none

Fix sorting icon position in table
  .changeset/moody-pants-sing.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Table/Table.styles.css
  packages/ui/src/components/Table/components/Column.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Update report.api.md
  packages/ui/report.api.md
Labels: none

Fix scroll jumping
  .changeset/evil-webs-create.md
  packages/ui/src/components/Menu/Menu.stories.tsx
  packages/ui/src/components/Menu/Menu.tsx
Labels: none

support configurable
  .changeset/easy-hands-grow.md
  plugins/catalog-backend/src/processors/PlaceholderProcessor.ts
  plugins/catalog-node/src/processing/parse.ts
Labels: area:catalog

fix
  plugins/catalog-backend/src/processors/PlaceholderProcessor.ts
Labels: area:catalog

Export azure PR action
  plugins/scaffolder-backend-module-azure/src/actions/index.ts
  plugins/scaffolder-backend-module-azure/src/module.ts
Labels: area:scaffolder

use branchName to match github PR action
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.ts
Labels: area:scaffolder

add _git prefix in repoUrl
  plugins/scaffolder-backend-module-azure/src/actions/helpers.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/helpers.ts
Labels: area:scaffolder

fix tests for replaced branchName param
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.test.ts
Labels: area:scaffolder

add PR tag option and enhance unit tests
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.ts
Labels: area:scaffolder

add public release tag and description
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.ts
Labels: area:scaffolder

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
