Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

test: update snapshot tests
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContextMenuItemBlueprint.test.tsx
Labels: area:catalog

fix(auth): fix edge case related to new chunked oauth token cookie having less chunks than previous one and refactor for readability
  .changeset/forty-socks-warn.md
  plugins/auth-node/src/oauth/OAuthCookieManager.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
Labels: area:auth

fix type error
  packages/cli/src/modules/build/lib/runner/runBackend.test.ts
Labels: none

cli: move back to ES2022 in tsconfig
  .changeset/stupid-cases-fold.md
  packages/cli/config/tsconfig.json
Labels: none

feat(catalog): add github user ID in user entity
  .changeset/fair-lines-warn.md
  plugins/auth-backend-module-github-provider/report.api.md
  plugins/auth-backend-module-github-provider/src/authenticator.ts
  plugins/auth-backend-module-github-provider/src/index.ts
  plugins/auth-backend-module-github-provider/src/resolvers.ts
  plugins/catalog-backend-module-github/report.api.md
  plugins/catalog-backend-module-github/src/lib/annotation.ts
  plugins/catalog-backend-module-github/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/index.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:auth, area:catalog

feat: support marking a github app as a public token generator
  packages/integration/config.d.ts
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.test.ts
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.ts
  packages/integration/src/github/config.ts
Labels: none

chore: add changeset Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/bumpy-pens-swim.md
Labels: none

feat(events): add backwards compatability to kafkaConsumingEventPublisher config
  .changeset/angry-views-win.md
  plugins/events-backend-module-kafka/config.d.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/KafkaConsumingEventPublisher.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/config.test.ts
  plugins/events-backend-module-kafka/src/KafkaConsumingEventPublisher/config.ts
Labels: area:events

chore: fix api reports Signed-off-by: benjdlambert <ben@blam.sh>
  packages/integration/report.api.md
Labels: none

docs: +in
  docs/plugins/structure-of-a-plugin.md
Labels: area:documentation

feat: use translations for RepoOwnerPicker title and description fallback
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.test.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

chore: update api reports
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
Labels: area:scaffolder

docs: add documentation
  docs/features/software-templates/ui-options-examples.md
  docs/features/software-templates/writing-templates.md
Labels: area:documentation

chore: add changesets
  .changeset/odd-mirrors-attack.md
  .changeset/six-baboons-sneeze.md
Labels: none

Fix autocomplete in scaffolder RepoUrlPickerRepoName
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
Labels: area:scaffolder

fix(catalog): fix flaky context menu test race condition
  plugins/catalog/src/alpha/pages.test.tsx
Labels: area:catalog

chore: migrate three packages to MSW v2
  packages/config-loader/package.json
  packages/config-loader/src/loader.test.ts
  packages/config-loader/src/sources/RemoteConfigSource.test.ts
  plugins/events-node/package.json
  plugins/events-node/src/api/DefaultEventsService.test.ts
  plugins/kubernetes-react/package.json
  plugins/kubernetes-react/src/api/KubernetesBackendClient.test.ts
  yarn.lock
Labels: area:events, area:kubernetes

chore(create-app): add jest 30 dependencies to template
  packages/create-app/templates/default-app/package.json.hbs
Labels: none

fix(cli): add helpful error message for missing jest dependency
  packages/cli/src/modules/test/commands/package/test.ts
Labels: none

chore: add page size options to GithubOrgEntityProvider
  .changeset/swift-moments-think.md
  plugins/catalog-backend-module-github/report.api.md
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

add-square-shape
  packages/theme/src/base/pageTheme.ts
Labels: none

'changeset'
  .changeset/grumpy-birds-teach.md
Labels: none

feat: add renderItem prop to NotificationsSidebarItem
  plugins/notifications/src/components/NotificationsSideBarItem/NotificationsSideBarItem.tsx
Labels: none

aa changeset
  .changeset/easy-bottles-type.md
Labels: none

shorten comments
  plugins/notifications/src/components/NotificationsSideBarItem/NotificationsSideBarItem.tsx
Labels: none

'revert'
  packages/theme/src/base/pageTheme.ts
Labels: none

'update-changeset'
  .changeset/grumpy-birds-teach.md
Labels: none

chore: update api reports
  plugins/notifications/report.api.md
Labels: none

test: use renderInTestApp instead of render
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.test.tsx
Labels: area:scaffolder

test: use renderInTestApp instead of render in tests for GitHubRepoOwnerPicker as well
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.test.tsx
Labels: area:scaffolder

frontend-plugin-api: remove unnecessary dependencies
  .changeset/swift-wolves-judge.md
  packages/frontend-internal/package.json
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/ConfigApi.ts
  packages/frontend-plugin-api/src/schema/createSchemaFromZod.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  yarn.lock
Labels: none

fix(docs): Emphasis Jest 30 upgrade is recommended
  .changeset/eight-things-attack.md
  docs/tutorials/jest30-migration.md
Labels: area:documentation

OWNERS: add new core maintainers and sponsor
  OWNERS.md
Labels: none

Add changeset
  .changeset/tricky-tips-invite.md
Labels: none

bugfix: add devtools alpha permissions to devtools-backend
  plugins/devtools-backend/src/plugin.ts
Labels: none

add changeset
  .changeset/poor-bees-relate.md
Labels: none

remove changeset
  .changeset/poor-bees-relate.md
Labels: none

modify existing changeset
  .changeset/short-lizards-find.md
Labels: none

feat: add AI Use Policy and Guidelines
  .cursor/rules/general.mdc
  .github/copilot-instructions.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  CONTRIBUTING.md
Labels: none

Update .changeset/short-cloths-tie.md
  .changeset/short-cloths-tie.md
Labels: none
