Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Upgrade `zod-validation-error` to version 4
  .changeset/sour-mails-smoke.md
  packages/cli/package.json
  packages/cli/src/modules/new/lib/preparation/loadPortableTemplate.ts
  packages/cli/src/modules/new/lib/preparation/loadPortableTemplateConfig.ts
  plugins/auth-node/package.json
  plugins/auth-node/src/sign-in/createSignInResolverFactory.ts
  yarn.lock
Labels: area:auth

Update README.md
  plugins/scaffolder-backend-module-sentry/README.md
Labels: area:scaffolder

feat(ui): expose pagination props in Table and useTable
  .changeset/proud-sides-tan.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/hooks/getEffectivePageSize.ts
  packages/ui/src/components/Table/hooks/types.ts
  packages/ui/src/components/Table/hooks/useCompletePagination.ts
  packages/ui/src/components/Table/hooks/useCursorPagination.ts
  packages/ui/src/components/Table/hooks/useOffsetPagination.ts
  packages/ui/src/components/Table/hooks/useTable.ts
  packages/ui/src/components/Table/stories/Table.visual.stories.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
  packages/ui/src/components/TablePagination/index.ts
  packages/ui/src/components/TablePagination/types.ts
Labels: none

frontend-plugin-api: initial plugin wrappers with vibe implementation
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-app-api/src/wiring/parseExtensionId.test.ts
  packages/frontend-app-api/src/wiring/parseExtensionId.ts
  packages/frontend-plugin-api/src/apis/definitions/PluginWrapperApi.ts
  packages/frontend-plugin-api/src/apis/definitions/index.ts
  packages/frontend-plugin-api/src/blueprints/PluginWrapperBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/index.ts
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
  plugins/app/src/apis/PluginWrapperApi/index.ts
  plugins/app/src/extensions/App.tsx
  plugins/app/src/extensions/PluginWrapperApi.ts
  plugins/app/src/extensions/index.ts
Labels: none

Patch from PR #32234
  .changeset/twenty-candles-open.md
  plugins/catalog-graph/src/components/CatalogGraphPage/useCatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/useCatalogGraphPage.ts
  plugins/search/src/components/SearchPage/SearchPage.tsx
  plugins/search/src/components/SearchPage/UrlUpdater.tsx
  yarn.lock
Labels: area:catalog, area:search

Generate Release
  .changeset/twenty-candles-open.md
  package.json
  plugins/catalog-graph/CHANGELOG.md
  plugins/catalog-graph/package.json
  plugins/search/CHANGELOG.md
  plugins/search/package.json
Labels: area:catalog, area:search

frontend-plugin-api: refine type definition of plugin wrapper blueprint
  packages/frontend-plugin-api/src/blueprints/PluginWrapperBlueprint.tsx
Labels: none

plugins/app: more tests for plugin wrapper + separate root wrapper creation
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.test.tsx
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
Labels: none

plugins/app: add failing tests for DefaultPluginWrapperApi
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.test.tsx
Labels: none

plugins/app: working implementation of plugin wrapper API based on setState
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
Labels: none

frontend-plugin-api: deprecate AppRootWrapperBlueprint
  packages/frontend-plugin-api/src/blueprints/AppRootWrapperBlueprint.tsx
Labels: none

plugins/app: improved implementation for plugin wrapper API without warnings
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
Labels: none

frontend-plugin-api: switch PluginWrapperBlueprint to use ComponentType
  packages/frontend-plugin-api/src/apis/definitions/PluginWrapperApi.ts
  packages/frontend-plugin-api/src/blueprints/PluginWrapperBlueprint.tsx
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
Labels: none

frontend-plugin-api: API report update for plugin wrapper + fixes
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/PluginWrapperApi.ts
  packages/frontend-plugin-api/src/blueprints/PluginWrapperBlueprint.tsx
Labels: none

fix(backend): clean up process event listeners on backend stop
  packages/backend-app-api/src/wiring/BackendInitializer.ts
Labels: none

add config.d.ts
  plugins/scaffolder-backend-module-sentry/config.d.ts
  plugins/scaffolder-backend-module-sentry/package.json
Labels: area:scaffolder

feat(scaffolder): added the ability to resume tasks from their last known good state
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/taskRecoveryHelper.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/taskRecoveryHelper.ts
  plugins/scaffolder-common/src/TaskSpec.ts
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
  plugins/scaffolder-node/src/alpha/checkpoints/types.ts
  plugins/scaffolder-node/src/tasks/alpha.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

feat(scaffolder-backend): simplify abort handling in debug:wait action
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.ts
Labels: area:scaffolder

chore: cleanup a little bit Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-node/src/tasks/alpha.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

feat(scaffolder-backend): add changeset
  .changeset/cuddly-colts-dress.md
Labels: none

chore: clenaup round 2:
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

Add docs for Popover
  docs-ui/src/content/PasswordField.tsx
  docs-ui/src/content/password-field.mdx
  docs-ui/src/content/popover.mdx
  docs-ui/src/content/popover.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/data.ts
Labels: none

Rename shadow token
  .changeset/eager-spies-wish.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/Popover/Popover.module.css
  packages/ui/src/components/Tooltip/Tooltip.module.css
  packages/ui/src/css/tokens.css
Labels: none

chore: more refactor
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-node/src/alpha/checkpoints/types.ts
  plugins/scaffolder-node/src/tasks/alpha.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

exit prerelease mode
  .changeset/pre.json
Labels: none

chore: add nullish Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
Labels: area:scaffolder

chore: added changeset Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/eleven-monkeys-take.md
Labels: none

Deploying to gh-pages from @ backstage/backstage@d15524f895f2145fcdda9de498c1d95a004c3615 🚀
  plugins/index.html
  storybook/project.json
Labels: area:storybook

feat(ui): expose pagination props in Table and useTable
  .changeset/proud-sides-tan.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/hooks/getEffectivePageSize.ts
  packages/ui/src/components/Table/hooks/types.ts
  packages/ui/src/components/Table/hooks/useCompletePagination.ts
  packages/ui/src/components/Table/hooks/useCursorPagination.ts
  packages/ui/src/components/Table/hooks/useOffsetPagination.ts
  packages/ui/src/components/Table/hooks/useTable.ts
  packages/ui/src/components/Table/stories/Table.visual.stories.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
  packages/ui/src/components/TablePagination/index.ts
  packages/ui/src/components/TablePagination/types.ts
Labels: none

fix(catalog): avoid deleting unrelated refresh state references
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
Labels: area:catalog

test(catalog): fix refresh state reference expectations for multi-source entities
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
Labels: area:catalog

chore: fix tests
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

Backstage is an ~~application~~ framework
  docs/faq/technical.md
Labels: area:documentation

feat: add MCP extension point for prompts and resources
  .changeset/prompt-resources-support.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/modules/catalogMcpModule.ts
  plugins/mcp-actions-backend/README.md
  plugins/mcp-actions-backend/package.json
  plugins/mcp-actions-backend/report.api.md
  plugins/mcp-actions-backend/src/extensions.ts
  plugins/mcp-actions-backend/src/index.ts
  plugins/mcp-actions-backend/src/plugin.ts
  plugins/mcp-actions-backend/src/services/McpService.test.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
  yarn.lock
Labels: area:catalog

chore: update yarn.lock for zod-to-json-schema dependency
  yarn.lock
Labels: none

chore(catalog): add changeset for refresh state reference fix
  .changeset/floppy-bars-remain.md
Labels: none

feat(ui): add column width configuration to Table component
  .changeset/heavy-regions-camp.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/stories/Table.dev.stories.tsx
  packages/ui/src/components/Table/stories/Table.docs.stories.tsx
  packages/ui/src/components/Table/types.ts
Labels: none

fix(ui): add missing aria-label to SearchField components
  .changeset/bumpy-carrots-stare.md
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/Select/SelectContent.tsx
Labels: none

Update list items for consistency in documentation
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

test(catalog): relax integration test assumptions for multi-source refresh references
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog
