Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Fixed link to update-component.md file
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Add graphic showing relationships section
  docs/assets/uiguide/example-website-relationships.png
Labels: area:documentation

Fixed formatting in viewing-catalog documentation
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Update doc
  README-fr_FR.md
Labels: none

Update .changeset/great-files-shave.md
  .changeset/great-files-shave.md
Labels: none

refactor: remove unused getCommitsTouchingFile method from GitLabClient
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Labels: area:catalog

chore: enter pre-release
  .changeset/pre.json
Labels: none

create a new interactive avatar iAvatar
  packages/ui/src/components/IAvatar/IAvatar.module.css
  packages/ui/src/components/IAvatar/IAvatar.stories.tsx
  packages/ui/src/components/IAvatar/IAvatar.tsx
  packages/ui/src/components/IAvatar/definition.ts
  packages/ui/src/components/IAvatar/index.ts
  packages/ui/src/components/IAvatar/types.ts
Labels: none

Update warning message format in changeset
  .changeset/short-cloths-tie.md
Labels: none

Reorder parameters after rebase
  plugins/catalog-backend-module-github-org/src/module.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

Remove commented code in EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
Labels: area:catalog

fix build
  plugins/kubernetes-backend/src/plugin.ts
  plugins/kubernetes-backend/src/service/KubernetesRouter.ts
  plugins/kubernetes-node/report.api.md
Labels: area:kubernetes

Add Kubernetes Router extension point, add fetcher to custom objects provider
  .changeset/full-needles-drive.md
  plugins/kubernetes-backend/src/plugin.ts
  plugins/kubernetes-backend/src/service/KubernetesInitializer.ts
  plugins/kubernetes-backend/src/service/KubernetesRouter.test.ts
  plugins/kubernetes-backend/src/service/KubernetesRouter.ts
  plugins/kubernetes-node/src/extensions.ts
Labels: area:kubernetes

fix type deps
  plugins/kubernetes-node/package.json
Labels: area:kubernetes

fix type deps
  plugins/kubernetes-node/package.json
Labels: area:kubernetes

fix rebase conflicts
  yarn.lock
Labels: none

Revise viewing catalog documentation
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Fix typo in changeset description
  .changeset/kind-hoops-double.md
Labels: none

Add two new files
  docs/getting-started/view-what-you-own.md
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

Upload graphics for two new files
  docs/assets/uiguide/catalog-graph.png
  docs/assets/uiguide/curve-monotone-step-before.png
  docs/assets/uiguide/max-depth-1-and-infinite.png
  docs/assets/uiguide/select-view-graph.png
  docs/assets/uiguide/simplify-merge-relations-on-off.png
Labels: area:documentation

Add new documentation links to sidebars for Using Backstage
  microsite/sidebars.ts
Labels: area:microsite

Add links for viewing and searching the catalog
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Fix formatting issues in entity relationships documentation
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

Changing tokenizer seperator for seach indexing
  .changeset/chilly-hotels-walk.md
  plugins/search-backend-node/src/engines/LunrSearchEngineIndexer.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngineIndexer.ts
Labels: area:search

feature(catalog export): initial backend setup
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/catalog-backend-module-export/.eslintrc.js
  plugins/catalog-backend-module-export/README.md
  plugins/catalog-backend-module-export/catalog-info.yaml
  plugins/catalog-backend-module-export/package.json
  plugins/catalog-backend-module-export/src/exporters/csv.ts
  plugins/catalog-backend-module-export/src/exporters/exporterRegistry.ts
  plugins/catalog-backend-module-export/src/exporters/index.ts
  plugins/catalog-backend-module-export/src/exporters/json.ts
  plugins/catalog-backend-module-export/src/index.ts
  plugins/catalog-backend-module-export/src/module.ts
  plugins/catalog-backend-module-export/src/router/router.ts
  plugins/catalog-backend-module-export/src/router/service.ts
  plugins/catalog-backend-module-export/src/setupTests
  plugins/catalog-backend-module-export/src/types/column.ts
  plugins/catalog-backend-module-export/src/types/defaultColumnConfig.ts
  plugins/catalog-backend-module-export/src/types/exportFormat.ts
  plugins/catalog-backend-module-export/src/types/exporter.ts
  plugins/catalog-backend-module-export/src/types/index.ts
  plugins/catalog-backend-module-export/src/util/getEntityDataFromColumns.ts
  plugins/catalog-backend-module-export/src/util/index.ts
  yarn.lock
Labels: area:catalog

feature(catalog export): update deps
  plugins/catalog-backend-module-export/package.json
  yarn.lock
Labels: area:catalog

feature(catalog export): adjusted typing
  plugins/catalog-backend-module-export/src/router/router.ts
  plugins/catalog-backend-module-export/src/router/service.ts
Labels: area:catalog

feature(catalog export): Add tests for catalog export backend
  plugins/catalog-backend-module-export/src/exporters/csv.test.ts
  plugins/catalog-backend-module-export/src/exporters/exporterRegistry.test.ts
  plugins/catalog-backend-module-export/src/exporters/json.test.ts
  plugins/catalog-backend-module-export/src/router/service.test.ts
Labels: area:catalog

feature(catalog export): remove catalog export
  plugins/catalog/src/components/CatalogExportButton/CatalogExportButton.tsx
Labels: area:catalog

feature(catalog export): add changeset
  .changeset/eager-birds-fly.md
  plugins/catalog/src/components/CatalogExportButton/file-download/useBackstageStreamedDownload.ts
Labels: area:catalog

scripts/verify-links: add support for verifying links to new API reference
  scripts/verify-links.js
Labels: none

feat(docs-ui): add automated changelog sync from @backstage/ui
  docs-ui/README.md
  docs-ui/package.json
  docs-ui/scripts/sync-changelog.mjs
  docs-ui/src/components/Changelog/index.tsx
  docs-ui/src/components/ChangelogComponent/index.tsx
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.2.0.ts
  docs-ui/src/utils/changelogs/v0.3.0.ts
  docs-ui/src/utils/changelogs/v0.4.0.ts
  docs-ui/src/utils/changelogs/v0.5.0.ts
  docs-ui/src/utils/changelogs/v0.6.0.ts
  docs-ui/src/utils/types.ts
  docs-ui/yarn.lock
  packages/ui/README.md
Labels: none

fix(catalog): add margin for entity warning conent area in nfs catalog page
  .changeset/purple-pants-speak.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

exit prerelease
  .changeset/pre.json
Labels: none

feature(catalog export): add catalog export button
  plugins/catalog/src/components/CatalogExportButton/CatalogExportButton.test.tsx
  plugins/catalog/src/components/CatalogExportButton/CatalogExportButton.tsx
  plugins/catalog/src/components/CatalogExportButton/file-download/downloadBlob.ts
  plugins/catalog/src/components/CatalogExportButton/file-download/index.ts
  plugins/catalog/src/components/CatalogExportButton/file-download/useBackstageStreamedDownload.test.ts
  plugins/catalog/src/components/CatalogExportButton/file-download/useBackstageStreamedDownload.ts
Labels: area:catalog

Fix all current docs quality script warnings
  .changeset/eighty-mails-leave.md
  .changeset/heavy-cars-wash.md
  .changeset/warm-carrots-lead.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  contrib/docs/tutorials/heroku-deployment.md
  docs/api/deprecations.md
  plugins/home/README.md
Labels: area:documentation, area:home, area:search

feature(catalog export): embed on defaultcatalogpage
  plugins/catalog/src/components/CatalogExportButton/index.ts
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/index.ts
Labels: area:catalog

chore(docs-ui): sync changelogs for @backstage/ui v0.1.0-v0.8.2
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.1.0.ts
  docs-ui/src/utils/changelogs/v0.2.1.ts
  docs-ui/src/utils/changelogs/v0.3.2.ts
  docs-ui/src/utils/changelogs/v0.7.0.ts
  docs-ui/src/utils/changelogs/v0.7.1.ts
  docs-ui/src/utils/changelogs/v0.7.2.ts
  docs-ui/src/utils/changelogs/v0.8.0.ts
  docs-ui/src/utils/changelogs/v0.8.2.ts
Labels: none

fix(catalog): fix unstable keys
  .changeset/early-berries-bet.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

fix(catalog): use flex instead of grid in warning area to be consistent
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
