Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

chore: deelete public comment
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsAccordions.tsx
Labels: area:kubernetes

chore: add changeset
  .changeset/famous-loops-tickle.md
Labels: none

Adds username as optional config in order to send with a different username than the Slack App have.
  .changeset/heavy-cooks-divide.md
  docs/notifications/processors.md
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
  plugins/notifications-backend-module-slack/src/lib/util.ts
Labels: area:documentation

feat: add kubernetes configmap component
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsAccordions.tsx
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsDrawer.tsx
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/index.ts
Labels: area:kubernetes

Simplified more. The Slack library will remove undefined values when sending the actual request.
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/util.ts
Labels: none

feat: add test for configmap
  plugins/kubernetes-react/src/__fixtures__/1-configmaps.json
  plugins/kubernetes-react/src/__fixtures__/2-configmaps.json
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsAccordions.test.tsx
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsDrawer.test.tsx
Labels: area:kubernetes

Simplify username usage.
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: none

update test handlers to simulate checking for both project.id and project.path_with_namespace
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
Labels: area:catalog

feat(plugins/org): add overwrites to membership and ownership cards
  .changeset/giant-weeks-jump.md
  packages/app-next/app-config.yaml
  plugins/org/report-alpha.api.md
  plugins/org/src/alpha.tsx
Labels: none

fix prettier
  packages/app-next/app-config.yaml
Labels: none

fix: default notification recipient resolver exclusion
  .changeset/slimy-signs-agree.md
  plugins/notifications-backend/src/service/DefaultNotificationRecipientResolver.test.ts
  plugins/notifications-backend/src/service/DefaultNotificationRecipientResolver.ts
  plugins/notifications-backend/src/service/router.test.ts
Labels: none

docs: fix grid usage
  docs-ui/src/content/components/grid.props.ts
Labels: none

chore: fixing prettuer Signed-off-by: benjdlambert <ben@blam.sh>
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

update jsdoc for hasFile for the projectPath param
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Labels: area:catalog

fix(core-components): fix deps graph scrolling
  .changeset/public-wombats-say.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
Labels: none

update client.hasFile to prefer project.id, then namespacedPath, then empty string fallback
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

rename projectPath param to project
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Labels: area:catalog

update GitlabDiscoverProcessor to call client.hasFile using project.id
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
Labels: area:catalog

add changeset
  .changeset/twelve-oranges-grin.md
Labels: none

update client.test to call hasFile with numeric id
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
Labels: area:catalog

update shouldProcessProject to first check by namespacedPath (as previous), then check by id if failed
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

simplify changeset & update hasFile to accept number or string
  .changeset/twelve-oranges-grin.md
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

simplify client.hasFile to always use project.id in shouldProcessProject
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

Rewrite architectural overview for feature #21926 (#31209)
  docs/assets/architecture-overview/backstage-front-back-arch.jpeg
  docs/assets/architecture-overview/simplified-service-based-plugin-architecture.jpeg
  docs/assets/architecture-overview/simplified-standalone-plugin-architecture.jpeg
  docs/assets/architecture-overview/simplified-third-party-plugin-architecture.jpeg
  docs/overview/architecture-overview.md
Labels: area:documentation

docs/tooling/package-metadata: add docs for backstage.features
  docs/tooling/package-metadata.md
Labels: area:documentation

docs: clarify legacy backend system steps
  docs/integrations/gitlab/discovery.md
Labels: area:documentation

bui-themer: rename folder to mui-to-bui
  plugins/mui-to-bui/.eslintrc.js
  plugins/mui-to-bui/CHANGELOG.md
  plugins/mui-to-bui/README.md
  plugins/mui-to-bui/catalog-info.yaml
  plugins/mui-to-bui/dev/index.tsx
  plugins/mui-to-bui/knip-report.md
  plugins/mui-to-bui/package.json
  plugins/mui-to-bui/report.api.md
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemerPage.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/MuiThemeExtractor.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/ThemeContent.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/ThemeContent.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/index.ts
  plugins/mui-to-bui/src/index.ts
  plugins/mui-to-bui/src/plugin.test.ts
  plugins/mui-to-bui/src/plugin.tsx
  plugins/mui-to-bui/src/routes.ts
  yarn.lock
Labels: none

Update plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
Labels: area:catalog

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

simplify changeset
  .changeset/twelve-oranges-grin.md
Labels: none

update testhandler to only check for id
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
Labels: area:catalog

github/copilot-instructions: update testing instructions
  .github/copilot-instructions.md
Labels: none

chore: add changeset
  .changeset/fuzzy-trams-kick.md
Labels: none

fix(home): correct clearAll logic to properly handle deletable flag
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Labels: area:home, area:search

chore: remove example-app from changeset
  .changeset/fuzzy-trams-kick.md
Labels: none

Remove unused @octokit moudles from cli package
  .changeset/silent-mice-play.md
  packages/cli/package.json
  yarn.lock
Labels: none

cli: add Backstage Yarn plugin support for templating
  .changeset/yarn-plugin-integration.md
  docs/tooling/cli/04-templates.md
  packages/cli/src/lib/version.test.ts
  packages/cli/src/lib/version.ts
  packages/cli/src/lib/yarnPlugin.test.ts
  packages/cli/src/lib/yarnPlugin.ts
  packages/cli/src/modules/migrate/commands/versions/bump.ts
  packages/cli/src/modules/new/lib/execution/PortableTemplater.ts
Labels: area:documentation

Update .changeset/fuzzy-trams-kick.md
  .changeset/fuzzy-trams-kick.md
Labels: none

fix(home): add example to deletable flag on customizable home page
  packages/app/src/components/home/CustomizableHomePage.tsx
Labels: none

Get rid of visualizer "missing key" errors in browser console
  .changeset/two-emus-like.md
  plugins/app-visualizer/src/components/AppVisualizerPage/TextVisualizer.tsx
Labels: none
