Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:catalog, area:home, area:search, area:events, area:kubernetes, area:permission, area:scaffolder, area:techdocs, bep, auth, documentation, homepage, microsite, search, storybook

Add the ablity to style the tabbed card
  packages/core-components/src/layout/TabbedCard/TabbedCard.test.tsx
  packages/core-components/src/layout/TabbedCard/TabbedCard.tsx
Labels: none

catalog: Allow customizing EntityLayout header
  .changeset/quick-eagles-smell.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityContextMenu/index.ts
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/components/EntityLayout/index.ts
  plugins/catalog/src/index.ts
Labels: area:catalog

Adding Changeset
  .changeset/big-emus-add.md
Labels: none

Update configuration.md typo
  docs/features/techdocs/configuration.md
Labels: documentation

chore: restructure tests and fix api-report
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
Labels: none

chore: added a simple changeset
  .changeset/fresh-timers-walk.md
Labels: none

chore: updating changeset
  .changeset/fresh-timers-walk.md
Labels: none

feat: move the core extensions to frontend-defaults
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-defaults/.eslintrc.js
  packages/frontend-defaults/README.md
  packages/frontend-defaults/catalog-info.yaml
  packages/frontend-defaults/package.json
  packages/frontend-defaults/src/extensions/App.tsx
  packages/frontend-defaults/src/extensions/AppLayout.tsx
  packages/frontend-defaults/src/extensions/AppNav.tsx
  packages/frontend-defaults/src/extensions/AppRoot.tsx
  packages/frontend-defaults/src/extensions/AppRoutes.tsx
  packages/frontend-defaults/src/extensions/components.tsx
  packages/frontend-defaults/src/extensions/elements.tsx
  packages/frontend-defaults/src/extensions/themes.tsx
  packages/frontend-defaults/src/index.ts
  packages/frontend-defaults/src/setupTests.ts
  yarn.lock
Labels: none

Fixes issue #25011: Updated package.json
  package.json
  yarn.lock
Labels: none

chore: fix spelling mistake
  packages/frontend-plugin-api/src/wiring/createPlugin.ts
Labels: none

Add tests for VirtualizedListBox
  .changeset/big-countries-wait.md
  plugins/scaffolder/src/components/fields/VirtualizedListbox.test.tsx
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Labels: area:scaffolder

Revert "added the `frontend-extensions` package role"
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/.eslintrc.js
  packages/app-next-example-extensions/README.md
  packages/app-next-example-extensions/api-report.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/dummy.test.ts
  packages/app-next-example-extensions/src/extensions/ScmAuthApi.ts
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app-next-example-extensions/src/extensions/index.ts
  packages/app-next-example-extensions/src/index.ts
  packages/app-next-example-extensions/src/setupTests.ts
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  packages/app-next/src/HomePage.tsx
  packages/app-next/src/examples/notFoundErrorPageExtension.tsx
  packages/app-next/src/index-public-experimental.tsx
  packages/app-next/src/overrides/SignInPage.tsx
  packages/cli-node/api-report.md
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
  yarn.lock
Labels: documentation

Fixes issue #25011 (#25721)
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.stories.tsx
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Labels: storybook

changed return object from variable
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.test.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
Labels: area:kubernetes

Fix: GCP IAP Config and Docs
  .changeset/rare-maps-wave.md
  docs/auth/google/gcp-iap-auth.md
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.tsx
  plugins/auth-backend-module-gcp-iap-provider/config.d.ts
Labels: auth, documentation

Update scripts/list-frontend-feature.js
  scripts/list-frontend-feature.js
Labels: none

Add note about bin entries for multi-stage Docker build
  docs/deployment/docker.md
Labels: documentation

change api auth utility to hook
  packages/app-defaults/src/defaults/apis.ts
  packages/core-app-api/api-report.md
  packages/core-app-api/package.json
  packages/core-app-api/src/apis/implementations/index.ts
  packages/core-components/package.json
  packages/core-components/src/layout/SignInPage/SignInPage.tsx
  packages/core-components/src/layout/SignInPage/providers.tsx
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/AuthErrorApi.ts
  packages/core-plugin-api/src/apis/definitions/index.ts
  plugins/auth-react/src/hooks/index.ts
  plugins/auth-react/src/hooks/useSignInAuthError/index.tsx
  plugins/auth-react/src/hooks/useSignInAuthError/useSignInAuthError.test.tsx
  plugins/auth-react/src/hooks/useSignInAuthError/useSignInAuthError.tsx
  yarn.lock
Labels: auth

update test
  packages/frontend-app-api/src/wiring/createApp.test.tsx
Labels: none

update changeset
  .changeset/violet-beds-promise.md
Labels: none

api report
  plugins/auth-react/api-report.md
  plugins/auth-react/src/hooks/useSignInAuthError/useSignInAuthError.tsx
Labels: auth

chore: exit pre Signed-off-by: blam <ben@blam.sh>
  .changeset/pre.json
Labels: none

beps/0010: refactor + call out backwards compatiblity
  beps/0010-scaffolder-templating-in-parameters/README.md
Labels: bep

docs/frontend-system: make space in architecture docs
  docs/frontend-system/architecture/00-index.md
  docs/frontend-system/architecture/10-app.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/20-extensions.md
  docs/frontend-system/architecture/25-extension-overrides.md
  docs/frontend-system/architecture/30-references.md
  docs/frontend-system/architecture/33-utility-apis.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/building-apps/01-index.md
  docs/frontend-system/building-apps/03-built-in-extensions.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/02-testing.md
  docs/frontend-system/building-plugins/03-extension-types.md
  docs/frontend-system/building-plugins/04-built-in-data-refs.md
  docs/frontend-system/utility-apis/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/04-configuring.md
  docs/plugins/composability.md
  microsite/sidebars.json
Labels: documentation, microsite

docs: add placeholder extension blueprints doc
  docs/frontend-system/architecture/23-extension-blueprints.md
  microsite/sidebars.json
Labels: documentation, microsite

chore: add @types/webpack-sources dev dep
  packages/cli/package.json
  packages/cli/src/lib/bundler/backend.ts
  yarn.lock
Labels: none

feat: experimentally support using rspack instead
  packages/cli/package.json
  packages/cli/src/commands/build/buildFrontend.ts
  packages/cli/src/commands/build/command.ts
  packages/cli/src/lib/bundler/bundle.ts
  packages/cli/src/lib/bundler/config.ts
  packages/cli/src/lib/bundler/optimization.ts
  packages/cli/src/lib/bundler/server.ts
  packages/cli/src/lib/bundler/transforms.ts
  packages/cli/src/lib/bundler/types.ts
  yarn.lock
Labels: none

chore: add related changeset
  .changeset/green-berries-wave.md
  packages/cli/src/lib/bundler/optimization.ts
Labels: none

chore: rebase issue
  packages/cli/src/lib/bundler/config.ts
Labels: none

chore: override experiments unexpectedly
  packages/cli/src/lib/bundler/config.ts
Labels: none

docs/frontend-system: initial extension blueprint docs with usage
  docs/frontend-system/architecture/23-extension-blueprints.md
Labels: documentation

docs/frontend-system: remove extension creator docs
  docs/frontend-system/architecture/20-extensions.md
Labels: documentation

refactor: remove deprecated url reader service types
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/index.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/techdocs-node/src/helpers.test.ts
  yarn.lock
Labels: area:search, area:techdocs, search

fix(backend-dynamic-feature-service): fix root lifecycle service factory import
  packages/backend-dynamic-feature-service/src/manager/plugin-manager.test.ts
Labels: none

chore: Update imports
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
Labels: area:kubernetes

backend-app-api: Remove deprecated MiddlewareFactory
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/http/index.ts
  packages/backend-app-api/src/index.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-node/package.json
  plugins/kubernetes-node/src/auth/PinnipedHelper.test.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/service/router.test.ts
  yarn.lock
Labels: area:kubernetes, area:scaffolder

backend-defaults: Stop accepting callback BackendFeatures for `backend.add`
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/wiring/BackstageBackend.ts
  packages/backend-app-api/src/wiring/types.ts
Labels: none

backend-defaults: Added deprecation warning for the dangerouslyDisableDefaultAuthPolicy config option
  docs/tutorials/auth-service-migration.md
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
Labels: documentation

backend-app-api: Move deprecated loadBackendConfig to backend-common
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/index.ts
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/config.ts
  packages/backend-common/src/deprecated/config/ObservableConfigProxy.test.ts
  packages/backend-common/src/deprecated/config/ObservableConfigProxy.ts
  packages/backend-common/src/deprecated/config/config.test.ts
  packages/backend-common/src/deprecated/config/config.ts
  packages/backend-common/src/deprecated/config/index.ts
  packages/backend-common/src/deprecated/config/urls.test.ts
  packages/backend-common/src/deprecated/config/urls.ts
  packages/backend-dynamic-feature-service/src/schemas/rootLoggerServiceFactory.ts
Labels: none

backend-defaults: remove unused dependencies
  packages/backend-app-api/package.json
  yarn.lock
Labels: none

.github/labeler.yml:

area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/search/**/*
          - plugins/search-*/**/*
          - packages/search-*/**/*
          - plugins/home/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
bep:
  - changed-files:
      - any-glob-to-any-file:
          - beps/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
homepage:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
search:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/search/**/*
          - plugins/search-*/**/*
          - packages/search-*/**/*
storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
