Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

chore: revert some of the nice cleanup as those interfaces are still public even though useless
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-common/report.api.md
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/tasks/index.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

fix(ui): add missing aria-label to SearchField components
  .changeset/bumpy-carrots-stare.md
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/Select/SelectContent.tsx
Labels: none

feat(ui): add column width configuration to Table component
  .changeset/heavy-regions-camp.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/stories/Table.dev.stories.tsx
  packages/ui/src/components/Table/stories/Table.docs.stories.tsx
  packages/ui/src/components/Table/types.ts
Labels: none

fix(changelog): fix radio-group component name
  docs-ui/src/utils/changelogs/v0.9.0.ts
Labels: none

feat(ui): add className and style props to Table component
  .changeset/thin-insects-cough.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/types.ts
Labels: none

Fixes a few docs pages
  docs-ui/src/app/components/card/components.tsx
  docs-ui/src/app/components/menu/components.tsx
  docs-ui/src/app/components/search-field/components.tsx
  docs-ui/src/app/components/table/components.tsx
  docs-ui/src/app/components/toggle-button-group/components.tsx
  docs-ui/src/app/components/toggle-button-group/page.mdx
  docs-ui/src/app/components/toggle-button-group/snippets.ts
  docs-ui/src/app/components/toggle-button/components.tsx
Labels: none

chore: add changeset for backend listener cleanup
  .changeset/dull-hounds-return.md
Labels: none

Fix prettier
  docs-ui/src/app/components/avatar/page.mdx
  docs-ui/src/app/components/button-icon/page.mdx
  docs-ui/src/app/components/button-link/page.mdx
  docs-ui/src/app/components/card/page.mdx
  docs-ui/src/app/components/dialog/page.mdx
  docs-ui/src/app/components/grid/page.mdx
  docs-ui/src/app/components/header-page/page.mdx
  docs-ui/src/app/components/header/page.mdx
  docs-ui/src/app/components/link/page.mdx
  docs-ui/src/app/components/menu/page.mdx
  docs-ui/src/app/components/password-field/page.mdx
  docs-ui/src/app/components/popover/page.mdx
  docs-ui/src/app/components/radio-group/page.mdx
  docs-ui/src/app/components/search-field/page.mdx
  docs-ui/src/app/components/select/page.mdx
  docs-ui/src/app/components/skeleton/page.mdx
  docs-ui/src/app/components/table/page.mdx
  docs-ui/src/app/components/tabs/page.mdx
  docs-ui/src/app/components/tag-group/page.mdx
  docs-ui/src/app/components/text-field/page.mdx
  docs-ui/src/app/components/text/page.mdx
  docs-ui/src/app/components/toggle-button/page.mdx
Labels: none

fix(scaffolder): show template-specific title in browser tab
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

adding changeset
  .changeset/eighty-steaks-brake.md
Labels: none

updating api report
  plugins/scaffolder/report-alpha.api.md
Labels: area:scaffolder

change to ownedKinds, cleanup test file a bit
  packages/app-next/app-config.yaml
  plugins/org/src/alpha.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
Labels: none

regenerate api report
  plugins/org/report-alpha.api.md
Labels: none

fix(core-app-api): fix selector memory leak
  .changeset/fix-theme-language-selector-leak.md
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.ts
  packages/core-app-api/src/app/AppManager.tsx
Labels: none

fix(scaffolder-backend): remove unused abort
  .changeset/cuddly-colts-dress.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.ts
Labels: area:scaffolder

chore: update API reports
  .changeset/backend-process-listener-cleanup.md
  packages/core-app-api/report.api.md
Labels: none

Update .changeset/update-azure-scaffolder-docs.md
  .changeset/update-azure-scaffolder-docs.md
Labels: none

Remove Storybook
  docs-ui/package.json
  docs-ui/src/components/Roadmap/Roadmap.tsx
  docs-ui/src/components/Roadmap/index.ts
  docs-ui/src/components/Roadmap/list.ts
  docs-ui/src/components/Roadmap/styles.css
  docs-ui/yarn.lock
Labels: none

Fix ItemCardHeader colour token again
  .changeset/good-chicken-check.md
  packages/core-components/src/layout/ItemCard/ItemCardHeader.tsx
Labels: none

Fixes Menu trigger
  .changeset/fine-lines-warn.md
  packages/ui/src/components/Menu/Menu.tsx
Labels: none

frontend-app-api: restrict the ability for plugins to override APIs
  .changeset/busy-hairs-attend.md
  .changeset/quiet-coins-protect.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/04-configuring.md
  packages/frontend-app-api/report.api.md
  packages/frontend-app-api/src/wiring/createErrorCollector.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-plugin-api/src/apis/system/ApiRef.ts
Labels: area:documentation

chore: another round of cleaning up Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/alpha/checkpoints/types.ts
  plugins/scaffolder-node/src/tasks/index.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

chore: another round of cleanup Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

feat(ui): add className and style props to Table component
  .changeset/thin-insects-cough.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/types.ts
Labels: none

Fix ItemCardHeader colour token again (#32346)
  .changeset/good-chicken-check.md
  packages/core-components/src/layout/ItemCard/ItemCardHeader.tsx
Labels: none

chore: lint
  packages/techdocs-cli-embedded-app/src/components/Root/Root.tsx
Labels: area:techdocs

frontend-plugin-api: move app blueprints to new app-react package
  .changeset/bright-pumas-cut.md
  .changeset/common-heads-start.md
  .changeset/curvy-zoos-drop.md
  .changeset/slick-beans-relax.md
  .changeset/warm-pets-accept.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  docs/frontend-system/building-plugins/06-swappable-components.md
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/IconBundleBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/NavContentBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/RouterBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/SignInPageBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/SwappableComponentBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/ThemeBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/TranslationBlueprint.ts
  plugins/app-backend/package.json
  plugins/app-node/package.json
  plugins/app-react/.eslintrc.js
  plugins/app-react/README.md
  plugins/app-react/catalog-info.yaml
  plugins/app-react/package.json
  plugins/app-react/report.api.md
  plugins/app-react/src/blueprints/index.ts
  plugins/app-react/src/index.ts
  plugins/app-react/src/setupTests.ts
  plugins/app/src/extensions/AppNav.tsx
  plugins/app/src/extensions/AppRoot.tsx
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/app/src/extensions/IconsApi.ts
  plugins/app/src/extensions/TranslationsApi.tsx
  yarn.lock
Labels: area:documentation

fix(ui): show active sorting indicator in Table component
  .changeset/eight-aliens-warn.md
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/components/Column.tsx
Labels: none

fix(ui): show active sorting indicator in Table component
  .changeset/eight-aliens-warn.md
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/components/Column.tsx
Labels: none

feat: improve signals event subscriptions
  .changeset/loud-rules-greet.md
  plugins/signals-backend/src/service/SignalManager.test.ts
  plugins/signals-backend/src/service/SignalManager.ts
  plugins/signals-node/src/DefaultSignalsService.test.ts
  plugins/signals-node/src/DefaultSignalsService.ts
Labels: none

chore: docs, lint
  docs-ui/src/app/components/skeleton/page.mdx
  docs-ui/src/content/skeleton.props.ts
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
Labels: none

feat(ui): Support automatic dimension for Skeleton
  .changeset/clear-jars-enjoy.md
  docs-ui/src/app/components/skeleton/page.mdx
  docs-ui/src/app/components/skeleton/props-definition.ts
  docs-ui/src/content/skeleton.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Skeleton/types.ts
Labels: none

chore: fix rebase
  docs-ui/src/app/components/skeleton/components.tsx
  docs-ui/src/app/components/skeleton/page.mdx
  docs-ui/src/app/components/skeleton/snippets.ts
  docs-ui/src/content/skeleton.props.ts
Labels: none

feat(bui): Add surfaces-level support to Skeleton
  .changeset/ninety-knives-rescue.md
  docs-ui/src/app/components/skeleton/page.mdx
  docs-ui/src/content/skeleton.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Skeleton/types.ts
Labels: none

Revise README for GitLab event module usage
  plugins/events-backend-module-gitlab/README.md
Labels: area:events

feat(catalog): add gitlab user ID in user entity
  .changeset/slimy-zebras-lie.md
  .changeset/vast-rockets-dig.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
  docs/features/software-catalog/well-known-annotations.md
  plugins/auth-backend-module-github-provider/config.d.ts
  plugins/auth-backend-module-gitlab-provider/config.d.ts
  plugins/auth-backend-module-gitlab-provider/report.api.md
  plugins/auth-backend-module-gitlab-provider/src/authenticator.ts
  plugins/auth-backend-module-gitlab-provider/src/index.ts
  plugins/auth-backend-module-gitlab-provider/src/resolvers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/defaultTransformers.ts
Labels: area:auth, area:catalog, area:documentation

Update packages/ui/src/components/SearchField/SearchField.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

fix(SearchField): update startCollapsed attribute to startcollapsed to respect data-atrributes format
  packages/ui/src/components/SearchField/SearchField.tsx
  packages/ui/src/components/SearchField/definition.ts
Labels: none

fix: conflicting var names
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

chore: update report.api.md
  packages/ui/report.api.md
Labels: none
