Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

indicate unused parameters
  packages/cli/config/jest.js
  plugins/catalog-backend/src/processors/FileReaderProcessor.ts
Labels: area:catalog

only import needed parameter
  plugins/catalog-backend/src/processors/FileReaderProcessor.ts
Labels: area:catalog

add changeset
  .changeset/angry-hornets-serve.md
Labels: none

Update OffsetPaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.test.tsx
Labels: area:catalog

Revert "Merge branch 'master' into catalog-table"
  .changeset/open-points-beam.md
  docs-ui/src/content/table.props.ts
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.9.0.ts
  docs/overview/what-is-backstage.md
  microsite/static/img/cncf-white.svg
  packages/ui/report.api.md
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Link/types.ts
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Table/components/Cell.tsx
  packages/ui/src/components/Table/components/CellText.tsx
  packages/ui/src/components/Table/index.ts
  packages/ui/src/components/Table/mocked-data2.ts
  packages/ui/src/components/Table/types.ts
Labels: area:documentation, area:microsite

Reapply "Merge branch 'master' into catalog-table"
  .changeset/open-points-beam.md
  docs-ui/src/content/table.props.ts
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.9.0.ts
  docs/overview/what-is-backstage.md
  microsite/static/img/cncf-white.svg
  packages/ui/report.api.md
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Link/types.ts
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Table/components/Cell.tsx
  packages/ui/src/components/Table/components/CellText.tsx
  packages/ui/src/components/Table/index.ts
  packages/ui/src/components/Table/mocked-data2.ts
  packages/ui/src/components/Table/types.ts
Labels: area:documentation, area:microsite

Update OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

Fix Cells
  plugins/catalog/src/components/CatalogTable/cells/DescriptionCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityDisplayNameCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityRefLinkCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityRefLinksCell.tsx
Labels: area:catalog

fix: merge strategy
  .github/workflows/sync_upstream.yml
Labels: none

docs: update readme example to reflect config changes
  plugins/notifications-backend-module-email/README.md
Labels: none

feat(core-components): adding adding internationalization (i18n) for app.title
  packages/core-app-api/config.d.ts
  packages/core-components/src/components/OAuthRequestDialog/LoginRequestListItem.tsx
  packages/core-components/src/hooks/index.ts
  packages/core-components/src/hooks/useAppTitle.ts
  packages/core-components/src/layout/Header/Header.tsx
  packages/core-components/src/layout/SignInPage/SignInPage.tsx
  packages/core-components/src/translation.ts
  plugins/auth/src/components/ConsentPage/ConsentPage.tsx
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.tsx
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
  plugins/catalog-import/src/components/StepReviewLocation/StepReviewLocation.tsx
  plugins/catalog-react/src/components/UnregisterEntityDialog/UnregisterEntityDialog.tsx
  plugins/home/src/homePageComponents/CompanyLogo/CompanyLogo.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/hooks.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: area:catalog, area:home, area:search, area:techdocs

Refactor render cell
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/cells/DescriptionCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityDisplayNameCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityRefLinkCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/EntityRefLinksCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/TagsCell.tsx
  plugins/catalog/src/components/CatalogTable/cells/index.ts
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

adding changeset
  .changeset/salty-lamps-move.md
Labels: none

Add catalog header
  plugins/catalog/src/components/CatalogTable/CatalogTableHeader.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

updating api report
  .changeset/salty-lamps-move.md
  packages/core-components/report-alpha.api.md
  packages/core-components/report.api.md
Labels: none

Refactor both default and offset tables
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableBase.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
  plugins/catalog/src/components/CatalogTable/useTableSorting.ts
  plugins/catalog/src/components/CatalogTable/utils.ts
Labels: area:catalog

Update renderCell.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

Move catalog table to Backstage UI
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableBase.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableHeader.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
  plugins/catalog/src/components/CatalogTable/useTableSorting.ts
  plugins/catalog/src/components/CatalogTable/utils.ts
Labels: area:catalog

Import libraries
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

cli,auth-backend: offline access PR review polish
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/show.ts
  packages/cli/src/modules/auth/lib/auth.test.ts
  packages/cli/src/modules/auth/lib/auth.ts
  packages/cli/src/modules/auth/lib/http.test.ts
  packages/cli/src/modules/auth/lib/http.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/report.sql.md
  plugins/auth-backend/src/database/OfflineSessionDatabase.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
  yarn.lock
Labels: area:auth

auth-backend: OIDC router refactor with common error and client validation
  plugins/auth-backend/src/service/OidcError.ts
  plugins/auth-backend/src/service/OidcRouter.test.ts
  plugins/auth-backend/src/service/OidcRouter.ts
Labels: area:auth

auth-backend: fix for client credentials not being required in OIDC + error tweaks
  plugins/auth-backend/src/service/OfflineAccessService.ts
  plugins/auth-backend/src/service/OidcError.ts
  plugins/auth-backend/src/service/OidcRouter.test.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
Labels: area:auth

Update API Report for changes
  plugins/scaffolder-backend-module-gitlab/report.api.md
Labels: area:scaffolder

Add auto commitAction to pushRepo action
  .changeset/all-socks-taste.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
  plugins/scaffolder-backend-module-gitlab/src/util.ts
Labels: area:scaffolder

feat(kubernetes-plugin): enable a pod terminal at GCP GKE (#31915)
  .changeset/fifty-coats-feel.md
  plugins/kubernetes-react/src/hooks/useIsPodExecTerminalSupported.test.ts
  plugins/kubernetes-react/src/hooks/useIsPodExecTerminalSupported.ts
Labels: area:kubernetes

feat(kubernetes-plugin): add secrets rendering (#31415)
  .changeset/legal-otters-punch.md
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes-common/src/util/response.ts
  plugins/kubernetes-react/src/__fixtures__/1-secrets.json
  plugins/kubernetes-react/src/__fixtures__/2-secrets.json
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsAccordions.test.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsAccordions.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsDrawer.test.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/SecretsDrawer.tsx
  plugins/kubernetes-react/src/components/SecretsAccordions/index.ts
Labels: area:kubernetes

API Reports
  plugins/scaffolder-backend-module-gitlab/report.api.md
Labels: area:scaffolder

Update versioning for GitHub plugins to patch
  .changeset/fuzzy-phones-own.md
Labels: none

Added dry run functionality to template form previewer
  .changeset/itchy-bugs-work.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPreviewer.tsx
Labels: area:scaffolder

sequential calls to glab
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
Labels: area:scaffolder

set the default search type to all instead of software-catalog in the search page
  .changeset/three-rooms-enjoy.md
  plugins/search/src/alpha.tsx
Labels: area:search

set the default search type to all instead of software-catalog in the search page
  .changeset/three-rooms-enjoy.md
Labels: none

techdocs-addons-test-utils: major bump to remove explicit screen
  .changeset/fruity-words-melt.md
  .changeset/old-parks-smell.md
  plugins/techdocs-addons-test-utils/package.json
  plugins/techdocs-addons-test-utils/report.api.md
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.test.tsx
  plugins/techdocs-module-addons-contrib/src/LightBox/LightBox.test.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/ReportIssue.test.tsx
  plugins/techdocs-module-addons-contrib/src/TextSize/TextSize.test.tsx
  yarn.lock
Labels: area:techdocs

Add the ability to show icons for the tabs on the entity page (new frontend)
  .changeset/light-meals-cover.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/app-config.yaml
  packages/app-next/src/App.tsx
  plugins/api-docs/report-alpha.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.ts
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityContentExtension.tsx
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabs.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsGroup.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/kubernetes/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:documentation, area:kubernetes, area:techdocs

update doc
  docs/features/software-catalog/catalog-customization.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
Labels: area:documentation

update the changeset to not include non-updated packages
  .changeset/light-meals-cover.md
Labels: none

Adjustments after review
  .changeset/light-meals-cover.md
  docs/features/software-catalog/catalog-customization.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/src/App.tsx
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabs.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsGroup.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog, area:documentation

update after review
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabs.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsGroup.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

rename `showIcons` config to `showNavItemIcons`
  docs/features/software-catalog/catalog-customization.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/app-config.yaml
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog, area:documentation

fixed unit tests for TemplateFormPage
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPage.test.tsx
Labels: area:scaffolder

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
