Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Update toolbar
  docs-ui/src/app/layout.module.css
  docs-ui/src/app/layout.tsx
  docs-ui/src/components/PageTitle/index.tsx
  docs-ui/src/components/Sidebar/Logo.tsx
  docs-ui/src/components/Sidebar/Sidebar.module.css
  docs-ui/src/components/Sidebar/Sidebar.tsx
  docs-ui/src/components/Toolbar/Toolbar.module.css
  docs-ui/src/components/Toolbar/Toolbar.tsx
  docs-ui/src/components/Toolbar/theme-name.module.css
  docs-ui/src/components/Toolbar/theme-name.tsx
  docs-ui/src/components/Toolbar/theme.module.css
  docs-ui/src/components/Toolbar/theme.tsx
  docs-ui/src/utils/playground-context.tsx
Labels: none

fix(ui): display single initial for x-small and small Avatar sizes
  .changeset/long-humans-sink.md
  packages/ui/src/components/Avatar/Avatar.stories.tsx
  packages/ui/src/components/Avatar/Avatar.tsx
Labels: none

fix(ui): display single initial for x-small and small Avatar sizes
  .changeset/long-humans-sink.md
  packages/ui/src/components/Avatar/Avatar.stories.tsx
  packages/ui/src/components/Avatar/Avatar.tsx
Labels: none

Update docs/features/software-catalog/catalog-customization.md
  docs/features/software-catalog/catalog-customization.md
Labels: area:documentation

feat: improve UX in the scaffolder stepper layout
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder-react/src/translation.ts
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPageContextMenu.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

fix workflow test
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.test.tsx
Labels: area:scaffolder

add changeset & api report
  .changeset/large-mirrors-invite.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
Labels: area:scaffolder

Add mobile navigation
  docs-ui/src/app/layout.tsx
  docs-ui/src/components/MobileBottomNav/AnimatedMenuIcon.module.css
  docs-ui/src/components/MobileBottomNav/AnimatedMenuIcon.tsx
  docs-ui/src/components/MobileBottomNav/MobileBottomNav.module.css
  docs-ui/src/components/MobileBottomNav/MobileBottomNav.tsx
  docs-ui/src/components/MobileBottomNav/MobileMenu.tsx
  docs-ui/src/components/MobileBottomNav/index.tsx
  docs-ui/src/components/Navigation/Navigation.module.css
  docs-ui/src/components/Navigation/Navigation.tsx
  docs-ui/src/components/Navigation/index.tsx
  docs-ui/src/components/Sidebar/Sidebar.module.css
  docs-ui/src/components/Sidebar/Sidebar.tsx
  docs-ui/src/components/Toolbar/Toolbar.module.css
  docs-ui/src/components/Toolbar/Toolbar.tsx
Labels: none

fix(widgetoverlay): light mode wrong background color
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
Labels: area:home, area:search

app-visualizer: migrate to use BUI
  .changeset/sharp-dragons-relate.md
  plugins/app-visualizer/package.json
  plugins/app-visualizer/src/components/AppVisualizerPage/AppVisualizerPage.tsx
  plugins/app-visualizer/src/components/AppVisualizerPage/DetailedVisualizer.tsx
  plugins/app-visualizer/src/components/AppVisualizerPage/TextVisualizer.tsx
  plugins/app-visualizer/src/components/AppVisualizerPage/TreeVisualizer.tsx
  plugins/app-visualizer/src/plugin.tsx
Labels: none

Add comments for clarity in notification configuration types.
  plugins/notifications-backend/config.d.ts
  plugins/notifications-common/src/types.ts
Labels: none

Implement waitForCompletion and output artifact fetching in github:actions:dispatch action
  .changeset/seven-crabs-cross.md
  package.json
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-github/src/actions/githubActionsDispatch.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubActionsDispatch.ts
  yarn.lock
Labels: area:scaffolder

Update githubActionsDispatch.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubActionsDispatch.test.ts
Labels: area:scaffolder

Update githubActionsDispatch.ts
  plugins/scaffolder-backend-module-github/src/actions/githubActionsDispatch.ts
Labels: area:scaffolder

add constant for description preview length and do not render description if empty
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
Labels: area:scaffolder

update api reports
  plugins/home/report-alpha.api.md
Labels: area:home, area:search

add prop and config to control the prevent duplicate widgets
  plugins/home/README.md
  plugins/home/config.d.ts
  plugins/home/report.api.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/components/CustomHomepage/types.ts
Labels: area:home, area:search

fix(homepage): prevent duplicate widget additions and add empty state in add widget dialog
  .changeset/wise-bees-worry.md
  plugins/home/src/components/CustomHomepage/AddWidgetDialog.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/translation.ts
Labels: area:home, area:search

app-visualizer: BUI migration detailed fixes and cleanup
  plugins/app-visualizer/package.json
  plugins/app-visualizer/src/components/AppVisualizerPage/DetailedVisualizer.tsx
  yarn.lock
Labels: none

fix(ui): resolve Select component CSS issues
  .changeset/deep-gifts-slide.md
  packages/ui/report.api.md
  packages/ui/src/components/Popover/Popover.module.css
  packages/ui/src/components/Select/Select.module.css
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Update MobileMenu.tsx
  docs-ui/src/components/MobileBottomNav/MobileMenu.tsx
Labels: none

update documentation and removed widget fallback values
  .changeset/wise-bees-worry.md
  plugins/home/config.d.ts
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Labels: area:home, area:search

typo: change permissionPolicyExtension to permissionsPolicyExtension
  docs/permissions/custom-rules.md
Labels: area:documentation

waduhec
  microsite/docusaurus.config.ts
Labels: area:microsite

Revise component creation guide
  docs/getting-started/create-a-component.md
Labels: area:documentation

feat(ui): add searchable and multiple selection support to Select component
  .changeset/wicked-cycles-enter.md
  docs-ui/src/content/select.mdx
  docs-ui/src/content/select.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Select/Select.module.css
  packages/ui/src/components/Select/Select.stories.tsx
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/components/Select/SelectContent.tsx
  packages/ui/src/components/Select/SelectListBox.tsx
  packages/ui/src/components/Select/SelectTrigger.tsx
  packages/ui/src/components/Select/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

refactor(ui): replace Collapsible with Accordion component
  .changeset/warm-ducks-notice.md
  docs-ui/src/content/accordion.mdx
  docs-ui/src/content/accordion.props.ts
  docs-ui/src/content/collapsible.mdx
  docs-ui/src/content/collapsible.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/data.ts
  packages/ui/report.api.md
  packages/ui/src/components/Accordion/Accordion.module.css
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Accordion/Accordion.tsx
  packages/ui/src/components/Accordion/index.ts
  packages/ui/src/components/Accordion/types.ts
  packages/ui/src/components/Collapsible/Collapsible.module.css
  packages/ui/src/components/Collapsible/Collapsible.stories.tsx
  packages/ui/src/components/Collapsible/Collapsible.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

refactor(ui): replace Collapsible with Accordion component
  .changeset/warm-ducks-notice.md
  docs-ui/src/content/accordion.mdx
  docs-ui/src/content/accordion.props.ts
  docs-ui/src/content/collapsible.mdx
  docs-ui/src/content/collapsible.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/data.ts
  packages/ui/report.api.md
  packages/ui/src/components/Accordion/Accordion.module.css
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Accordion/Accordion.tsx
  packages/ui/src/components/Accordion/index.ts
  packages/ui/src/components/Accordion/types.ts
  packages/ui/src/components/Collapsible/Collapsible.module.css
  packages/ui/src/components/Collapsible/Collapsible.stories.tsx
  packages/ui/src/components/Collapsible/Collapsible.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

add usage statistics plugin
  microsite/data/plugins/usage-statistics.yaml
Labels: area:microsite

set userSelect to none
  packages/core-components/src/components/LogViewer/styles.ts
Labels: none

changeset
  .changeset/sixty-clowns-run.md
Labels: none

fix(notifications): ui improvements
  .changeset/rotten-carrots-relax.md
  plugins/notifications/src/components/NotificationsFilters/NotificationsFilters.tsx
  plugins/notifications/src/components/NotificationsPage/NotificationsPage.tsx
  plugins/notifications/src/components/NotificationsTable/NotificationDescription.tsx
  plugins/notifications/src/components/NotificationsTable/NotificationsTable.tsx
  plugins/notifications/src/components/NotificationsTable/SelectAll.tsx
Labels: none

style(org): improve responsiveness of GroupProfileCard
  .changeset/all-parrots-change.md
  plugins/org/src/components/Cards/Group/GroupProfile/GroupProfileCard.tsx
Labels: none

app-visualizer: icon type fix
  plugins/app-visualizer/src/plugin.tsx
Labels: none

backend-app-api: remove debug logging
  packages/backend-app-api/src/wiring/BackendInitializer.ts
Labels: none

chore(ui): remove Base UI Components dependency
  .changeset/polite-eggs-dance.md
  packages/ui/package.json
  yarn.lock
Labels: none

fix(ui): improve dialog backdrop appearance in dark mode
  .changeset/honest-lamps-occur.md
  packages/ui/src/components/Dialog/Dialog.module.css
Labels: none

feat(kubernetes): adding localization support
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsDrawer.tsx
  plugins/kubernetes-react/src/components/CronJobsAccordions/CronJobsDrawer.tsx
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/Rollout.tsx
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/RolloutDrawer.tsx
  plugins/kubernetes-react/src/components/DaemonSetsAccordions/DaemonSetsAccordions.tsx
  plugins/kubernetes-react/src/components/DaemonSetsAccordions/DaemonSetsDrawer.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentDrawer.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentsAccordions.tsx
  plugins/kubernetes-react/src/components/ErrorPanel/ErrorPanel.tsx
  plugins/kubernetes-react/src/components/ErrorReporting/ErrorReporting.tsx
  plugins/kubernetes-react/src/components/IngressesAccordions/IngressDrawer.tsx
  plugins/kubernetes-react/src/components/KubernetesDialog/KubernetesDialog.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/KubernetesDrawer.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/KubernetesStructuredMetadataTableDrawer.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/ManifestYaml.tsx
  plugins/kubernetes-react/src/components/PodExecTerminal/PodExecTerminalDialog.tsx
  plugins/kubernetes-react/src/components/Pods/Events/Events.tsx
  plugins/kubernetes-react/src/components/Pods/FixDialog/FixDialog.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/PodDrawer.tsx
  plugins/kubernetes-react/src/components/Pods/PodLogs/PodLogs.tsx
  plugins/kubernetes-react/src/components/Pods/PodLogs/PodLogsDialog.tsx
  plugins/kubernetes-react/src/components/Pods/PodsTable.tsx
  plugins/kubernetes-react/src/components/ServicesAccordions/ServiceDrawer.tsx
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetDrawer.tsx
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetsAccordions.tsx
  plugins/kubernetes-react/src/translation.ts
  plugins/kubernetes/src/KubernetesContent.tsx
  plugins/kubernetes/src/alpha/translation.ts
Labels: area:kubernetes

adding changeset
  .changeset/lucky-days-hug.md
Labels: none

adding api report
  .changeset/lucky-days-hug.md
  plugins/kubernetes-react/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
Labels: area:kubernetes

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
