Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Patch from PR #31231
  .changeset/fast-heads-brake.md
  docs/features/software-catalog/configuration.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, area:documentation

Generate Release
  .changeset/fast-heads-brake.md
  package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
Labels: area:catalog

reduce right spacing
  packages/ui/css/styles.css
  packages/ui/src/components/TextField/TextField.styles.css
Labels: none

Update architecture-overview.md fix formatting
  docs/overview/architecture-overview.md
Labels: area:documentation

remove clear action
  packages/ui/src/components/TextField/TextField.tsx
Labels: none

Revert "Patch release of #31231" Signed-off-by: benjdlambert <ben@blam.sh>
  docs/features/software-catalog/configuration.md
  package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, area:documentation

Revert "fix(catalog): config for priority and enabled"
  .changeset/fast-heads-brake.md
  docs/features/software-catalog/configuration.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, area:documentation

Remove unused dependencies from kubernetes, signals, and techdocs
  .changeset/eighty-phones-change.md
  plugins/kubernetes-backend/knip-report.md
  plugins/kubernetes-backend/package.json
  plugins/signals-backend/knip-report.md
  plugins/signals-backend/package.json
  plugins/signals/knip-report.md
  plugins/signals/package.json
  plugins/techdocs-backend/knip-report.md
  plugins/techdocs-backend/package.json
  plugins/techdocs/knip-report.md
  plugins/techdocs/package.json
  yarn.lock
Labels: area:kubernetes, area:techdocs

fix: default notification recipient resolver exclusion
  .changeset/slimy-signs-agree.md
  plugins/notifications-backend/src/service/DefaultNotificationRecipientResolver.test.ts
  plugins/notifications-backend/src/service/DefaultNotificationRecipientResolver.ts
  plugins/notifications-backend/src/service/router.test.ts
Labels: none

fix(catalog): sanitize processor/provider names in catalog options
  .changeset/real-singers-push.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog

fix error in search-backend-module-elastcsearch
  .changeset/busy-goats-create.md
  plugins/search-backend-module-elasticsearch/package.json
  yarn.lock
Labels: area:search

Implement AbortController request cancellation for search.
  .changeset/ripe-yaks-brake.md
  plugins/search-react/report.api.md
  plugins/search-react/src/api.ts
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.test.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.test.tsx
  plugins/search-react/src/components/SearchPagination/SearchPagination.test.tsx
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search/src/apis.test.ts
  plugins/search/src/apis.ts
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
  plugins/search/src/components/SearchType/SearchType.test.tsx
Labels: area:search

chore(notifications): force more strict api contract
  .changeset/legal-crews-admire.md
  docs/notifications/usage.md
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-node/report.api.md
  plugins/notifications-node/src/service/DefaultNotificationService.test.ts
  plugins/notifications-node/src/service/DefaultNotificationService.ts
  plugins/scaffolder-backend-module-notifications/report.api.md
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.examples.test.ts
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.test.ts
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.ts
Labels: area:documentation, area:scaffolder

Update changeset
  .changeset/ripe-yaks-brake.md
Labels: none

Update test
  plugins/techdocs/src/search/components/TechDocsSearch.test.tsx
Labels: area:techdocs

chore(notifications): add backwards compatibility tests
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-node/src/service/DefaultNotificationService.test.ts
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.examples.ts
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.test.ts
Labels: area:scaffolder

fix(catalog-react): use Presentation API for owner display and sorting in EntityOwnerPicker (owners-only)
  .changeset/chubby-boxes-rush.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.ts
Labels: area:catalog

fix(catalog-react): reorder component and group definitions in useFacetsEntities test
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
Labels: area:catalog

fix(catalog-react): simplify entity presentation usage and handle empty facet buckets in useFacetsEntities
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.ts
Labels: area:catalog

docs: fix grid usage
  docs-ui/src/content/components/grid.props.ts
Labels: none

fix(catalog-react): mock useApiHolder to return undefined in useFacetsEntities tests
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
Labels: area:catalog

fix(catalog-react): optimize EntityOwnerPicker to use Presentation API and avoid full entity fetch for scalability
  .changeset/chubby-boxes-rush.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.ts
Labels: area:catalog

fix: distributed actions visibility in scaffolder
  .changeset/loud-windows-give.md
  app-config.yaml
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/actions/index.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/DecoratedActionsRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

fix(config): allow colon to be in the config key
  .changeset/six-cooks-battle.md
  packages/config-loader/src/sources/EnvConfigSource.ts
  packages/config/src/reader.test.ts
  packages/config/src/reader.ts
Labels: none

fix(scaffolder): use initiator credentials for getting action
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/DecoratedActionsRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

Simplify username usage.
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: none

feat(scaffolder): add missing form fields for the nfs
  .changeset/wide-flies-jog.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/scaffolder/src/alpha/fields/EntityNamePicker.ts
  plugins/scaffolder/src/alpha/fields/EntityPicker.ts
  plugins/scaffolder/src/alpha/fields/EntityTagsPicker.ts
  plugins/scaffolder/src/alpha/fields/MultiEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/MyGroupsPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnedEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnerPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoBranchPicker.ts
  plugins/scaffolder/src/alpha/plugin.tsx
  plugins/scaffolder/src/components/fields/EntityNamePicker/index.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/validation.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/index.ts
Labels: area:scaffolder

fix: correct year for copyright headers
  plugins/scaffolder/src/alpha/fields/EntityNamePicker.ts
  plugins/scaffolder/src/alpha/fields/EntityPicker.ts
  plugins/scaffolder/src/alpha/fields/EntityTagsPicker.ts
  plugins/scaffolder/src/alpha/fields/MultiEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/MyGroupsPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnedEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnerPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoBranchPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoUrlPicker.ts
Labels: area:scaffolder

Update .changeset/flat-peas-run.md
  .changeset/flat-peas-run.md
Labels: none

prevent handlers overrides
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/external/ExternalAuthTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/external/jwks.ts
Labels: none

Simplified more. The Slack library will remove undefined values when sending the actual request.
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/util.ts
Labels: none

chore(signals): force more strict api contract
  .changeset/shaky-kids-enter.md
  docs/notifications/usage.md
  plugins/notifications-backend/src/service/router.ts
  plugins/signals-backend/src/service/SignalManager.test.ts
  plugins/signals-backend/src/service/SignalManager.ts
  plugins/signals-node/report.api.md
  plugins/signals-node/src/types.ts
  plugins/user-settings-backend/src/service/router.ts
Labels: area:documentation

chore(scaffolder): clean up api report from schemas and validators
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/alpha/fields/EntityNamePicker.ts
  plugins/scaffolder/src/alpha/fields/EntityPicker.ts
  plugins/scaffolder/src/alpha/fields/EntityTagsPicker.ts
  plugins/scaffolder/src/alpha/fields/MultiEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/MyGroupsPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnedEntityPicker.ts
  plugins/scaffolder/src/alpha/fields/OwnerPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoBranchPicker.ts
  plugins/scaffolder/src/alpha/fields/RepoUrlPicker.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/index.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/schema.ts
  plugins/scaffolder/src/components/fields/EntityNamePicker/validation.ts
  plugins/scaffolder/src/components/fields/EntityPicker/index.ts
  plugins/scaffolder/src/components/fields/EntityTagsPicker/index.ts
  plugins/scaffolder/src/components/fields/EntityTagsPicker/schema.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/index.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/MyGroupsPicker/index.ts
  plugins/scaffolder/src/components/fields/MyGroupsPicker/schema.ts
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/index.ts
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/OwnerPicker/index.ts
  plugins/scaffolder/src/components/fields/OwnerPicker/schema.ts
  plugins/scaffolder/src/components/fields/RepoBranchPicker/index.ts
  plugins/scaffolder/src/components/fields/RepoBranchPicker/schema.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/index.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/validation.ts
  plugins/scaffolder/src/components/fields/index.ts
  plugins/scaffolder/src/components/index.ts
Labels: area:scaffolder

fix: user settings test with new signals api contract
  plugins/user-settings-backend/src/service/router.test.ts
Labels: none

break out provider/processor handling into a separate file
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/util.test.ts
  plugins/catalog-backend/src/service/util.ts
Labels: area:catalog

do is instead of get
  plugins/catalog-backend/src/service/util.ts
Labels: area:catalog

Correct the database name associated with the catalog plugin
  docs/tutorials/manual-knex-rollback.md
Labels: area:documentation

Patch from PR #31231
  .changeset/fast-heads-brake.md
  docs/features/software-catalog/configuration.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, area:documentation

Patch from PR #31250
  .changeset/six-cooks-battle.md
  packages/config-loader/src/sources/EnvConfigSource.ts
  packages/config/src/reader.test.ts
  packages/config/src/reader.ts
Labels: none

Patch from PR #31259
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/util.test.ts
  plugins/catalog-backend/src/service/util.ts
Labels: area:catalog

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
