Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Generate Release
  .changeset/fast-heads-brake.md
  .changeset/six-cooks-battle.md
  package.json
  packages/config-loader/CHANGELOG.md
  packages/config-loader/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
Labels: area:catalog

fix(catalog-react): update useFacetsEntities to utilize entity presentation API directly
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.ts
Labels: area:catalog

Update sidebars.ts to add technical overview and remove some docs
  microsite/sidebars.ts
Labels: area:microsite

Update eighty-cows-care.md
  .changeset/eighty-cows-care.md
Labels: none

fix(catalog-react): enhance EntityOwnerPicker tests and mock entity presentation API
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
Labels: area:catalog

Update architecture-overview.md
  docs/overview/architecture-overview.md
Labels: area:documentation

Update architecture-overview.md fixed link for02-backends
  docs/overview/architecture-overview.md
Labels: area:documentation

feat(scaffolder-backend): add defaultEnvironment config to scaffolder
  .changeset/fruity-rivers-arrive.md
  app-config.yaml
  plugins/scaffolder-backend/README.md
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/src/lib/defaultEnvironment.test.ts
  plugins/scaffolder-backend/src/lib/defaultEnvironment.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

Add PromiseRouter import to http-router.md
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

Add express Handler import to http-router.md
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

Add coreServices and HttpRouterServiceAuthPolicy imports
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

feat: allow custom ReactElement as title in EntityTable
  .changeset/young-doodles-repeat.md
  packages/core-components/src/components/Table/Table.test.tsx
  packages/core-components/src/components/Table/Table.tsx
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/EntityTable/EntityTable.test.tsx
  plugins/catalog-react/src/components/EntityTable/EntityTable.tsx
Labels: area:catalog

feat(catalog): add optional branch to bitbucket-server
  plugins/catalog-backend-module-bitbucket-server/config.d.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/index.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.ts
Labels: area:catalog

chore(catalog): bitbucket-server changeset
  .changeset/sour-spiders-dress.md
Labels: none

chore(catalog): update bitbucket-server documentation
  docs/integrations/bitbucketServer/discovery.md
  plugins/catalog-backend-module-bitbucket-server/report.api.md
Labels: area:catalog, area:documentation

fix(bui): fix button link internal routing
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
Labels: none

simplify changeset & update hasFile to accept number or string
  .changeset/twelve-oranges-grin.md
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

[NFS] Providing the default `searchFilters` and `resultTypes` as extensions of the search plugin
  .changeset/sweet-ads-teach.md
  plugins/search-react/report-alpha.api.md
  plugins/search-react/src/alpha/blueprints/SearchFilterBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterBlueprint.tsx
  plugins/search-react/src/alpha/blueprints/types.ts
  plugins/search/report-alpha.api.md
  plugins/search/src/alpha.tsx
Labels: area:search

plugins: scaffold bui-themer plugin
  packages/app/package.json
  packages/app/src/App.tsx
  plugins/bui-themer/.eslintrc.js
  plugins/bui-themer/README.md
  plugins/bui-themer/catalog-info.yaml
  plugins/bui-themer/dev/index.tsx
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/bui-themer/src/components/ExampleComponent/index.ts
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/index.ts
  plugins/bui-themer/src/index.ts
  plugins/bui-themer/src/plugin.test.ts
  plugins/bui-themer/src/plugin.ts
  plugins/bui-themer/src/routes.ts
  plugins/bui-themer/src/setupTests.ts
  yarn.lock
Labels: none

bui-themer: trim example components and add NFS support
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/index.ts
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/bui-themer/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx
  plugins/bui-themer/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
  plugins/bui-themer/src/index.ts
  plugins/bui-themer/src/plugin.tsx
  yarn.lock
Labels: none

bui-themer: add implementation plan
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: refined implementation plan
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: initial implementation plan execution
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
  yarn.lock
Labels: none

bui-themer: switch to horizontal layout
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: get rid of most hardcoded defaults
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: new and improved preview
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: remove unnecessary css cache
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: simplify theme conversion
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
  yarn.lock
Labels: none

bui-themer: skip gray scale
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: switch theme cards to use tabs
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: extract mui theme and then unmount theme provider
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: more files!
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.tsx
  plugins/bui-themer/src/components/BuiThemerPage/index.ts
  plugins/bui-themer/src/setupTests.ts
Labels: none

bui-themer: update README
  plugins/bui-themer/README.md
Labels: none

bui-themer: bit of polish
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
Labels: none

bui-themer: split + test + fixes
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.test.tsx
  plugins/bui-themer/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/bui-themer/src/components/BuiThemerPage/ThemeContent.test.tsx
Labels: none

bui-themer: remove the theme id inclusion switch
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: refactor the conversion to style object first
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

bui-themer: fix mui version 7 -> 5
  plugins/bui-themer/package.json
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
Labels: none

bui-themer: use backstage palette + refine conversion and preview
  plugins/bui-themer/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/bui-themer/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

theme: stack old theme attributes
  packages/frontend-defaults/src/createPublicSignInApp.test.tsx
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  packages/theme/src/unified/useApplyThemeAttributes.test.tsx
  packages/theme/src/unified/useApplyThemeAttributes.ts
  plugins/app/src/alpha/appModulePublicSignIn.test.tsx
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
