Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

yarn.lock dedupe
  yarn.lock
Labels: none

Fix packaging typo
  plugins/catalog-graph-common/package.json
Labels: area:catalog

Shim Set.difference for _frontend_ code to be testable in Node 20
  packages/core-components/src/setupTests.ts
Labels: none

Unit tests in several places uses DependencyGraph, so moving shim to the real code for all tests to pass
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/setupTests.ts
Labels: none

report-alpha.api.md order mismatch
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Yarn dedupe
  yarn.lock
Labels: none

Keep backwards compatibility and make the backend optional
  .changeset/rare-peas-wink.md
  .changeset/thirty-cycles-go.md
  plugins/catalog-graph/README.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromFrontend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useFetchMethod.ts
Labels: area:catalog

Updates API reports due to DependencyGraph API change in #31480
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Add support for a custom entity set
  .changeset/rare-peas-wink.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

Moved from catalog-graph-backend into catalog-backend-module-graph
  .changeset/funny-swans-chew.md
  .changeset/rare-peas-wink.md
  .changeset/thirty-cycles-go.md
  app-config.yaml
  p/catalog-graph-backend/catalog-info.yaml
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/catalog-backend-module-graph/.eslintrc.js
  plugins/catalog-backend-module-graph/README.md
  plugins/catalog-backend-module-graph/catalog-info.yaml
  plugins/catalog-backend-module-graph/config.d.ts
  plugins/catalog-backend-module-graph/dev/index.ts
  plugins/catalog-backend-module-graph/package.json
  plugins/catalog-backend-module-graph/report.api.md
  plugins/catalog-backend-module-graph/src/GraphModule.test.ts
  plugins/catalog-backend-module-graph/src/GraphModule.ts
  plugins/catalog-backend-module-graph/src/index.ts
  plugins/catalog-backend-module-graph/src/plugin.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/DefaultGraphService.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/GraphService.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/index.ts
  plugins/catalog-backend-module-graph/src/setupTests.ts
  plugins/catalog-graph-backend/README.md
  plugins/catalog-graph-backend/src/router.ts
  plugins/catalog-graph-common/package.json
  plugins/catalog-graph/package.json
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useFetchMethod.ts
  yarn.lock
Labels: area:catalog

Using catalog-graph queryEntities formats for "fields" and "filter"
  plugins/catalog-backend-module-graph/package.json
  plugins/catalog-backend-module-graph/src/GraphModule.test.ts
  plugins/catalog-backend-module-graph/src/GraphModule.ts
  plugins/catalog-backend-module-graph/src/lib/array.ts
  plugins/catalog-backend-module-graph/src/lib/request.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/DefaultGraphService.ts
  plugins/catalog-graph-common/package.json
  plugins/catalog-graph-common/report.api.md
  plugins/catalog-graph-common/src/api.ts
  plugins/catalog-graph-common/src/index.ts
  plugins/catalog-graph/package.json
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-graph/src/api/CatalogGraphApi.ts
  plugins/catalog-graph/src/api/DefaultCatalogGraphApi.test.ts
  plugins/catalog-graph/src/api/DefaultCatalogGraphApi.ts
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.tsx
  plugins/catalog-graph/src/plugin.ts
  yarn.lock
Labels: area:catalog

Align WebStorage with UserStorage to always emit an initial value in its observable (not just future values)
  packages/core-app-api/src/apis/implementations/StorageApi/WebStorage.ts
Labels: none

fix(scaffolder-backend): pass missing config to NunjucksWorkflowRunner
  .changeset/bumpy-papers-clean.md
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
Labels: area:scaffolder

Fixes SearchField in Backstage UI
  .changeset/hot-colts-float.md
  packages/ui/src/components/SearchField/SearchField.module.css
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

Update SearchField.module.css
  packages/ui/src/components/SearchField/SearchField.module.css
Labels: none

Add support for persisted feature flags using the StorageApi
  .changeset/chubby-gifts-fry.md
  .changeset/five-years-talk.md
  docs/plugins/feature-flags.md
  packages/app-defaults/src/defaults/apis.ts
  packages/app/src/App.tsx
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/core-app-api/report.api.md
  packages/core-app-api/src/apis/implementations/FeatureFlagsApi/BroadcastSignal.ts
  packages/core-app-api/src/apis/implementations/FeatureFlagsApi/LocalStorageFeatureFlags.tsx
  packages/core-app-api/src/apis/implementations/FeatureFlagsApi/MultiStorageFeatureFlags.test.tsx
  packages/core-app-api/src/apis/implementations/FeatureFlagsApi/MultiStorageFeatureFlags.tsx
  packages/core-app-api/src/apis/implementations/FeatureFlagsApi/index.ts
  packages/core-app-api/src/apis/implementations/FeatureFlagsApi/validateFlagName.ts
  packages/core-app-api/src/app/AppManager.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-app-api/src/app/types.ts
  packages/core-app-api/src/routing/FeatureFlagged.test.tsx
  packages/core-app-api/src/routing/FeatureFlagged.tsx
  packages/core-app-api/src/setupTests.ts
  packages/core-plugin-api/report.api.md
  packages/core-plugin-api/src/hooks/index.ts
  packages/core-plugin-api/src/index.ts
  packages/core-plugin-api/src/plugin/types.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/frontend-plugin-api/src/hooks/index.ts
  packages/frontend-plugin-api/src/hooks/useFeatureFlag.ts
  packages/frontend-plugin-api/src/index.ts
  packages/frontend-plugin-api/src/wiring/types.ts
  packages/test-utils/src/setupTests.ts
  packages/test-utils/src/testUtils/support.ts
  plugins/user-settings/src/components/FeatureFlags/FeatureFlagsItem.tsx
  plugins/user-settings/src/components/FeatureFlags/UserSettingsFeatureFlags.tsx
  yarn.lock
Labels: area:documentation

chore: refactor methods (pr comments)
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.test.ts
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

chore: remove unsued helper function
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

Fix missing jsdoc
  plugins/notifications-backend-module-slack/config.d.ts
Labels: none

chore: fix bad changset Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/short-lizards-find.md
Labels: none

fix broken changeset
  .changeset/short-lizards-find.md
Labels: none

Update .changeset/tricky-tips-invite.md
  .changeset/tricky-tips-invite.md
Labels: none

WIP
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.test.ts
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.ts
  plugins/catalog-react/src/alpha/predicates/types.ts
Labels: area:catalog

Adds missing ADR to docs site (adr-015)
  microsite/sidebars.ts
Labels: area:microsite

Adds missing ADR to docs site (adr-015) (#32129)
  microsite/sidebars.ts
Labels: area:microsite

Update plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
Labels: area:scaffolder

Adds the Resource kind to the useGetEntities fallback options so that Resources are also returned by default on the group ownership card
  .changeset/five-bananas-retire.md
  plugins/org/src/components/Cards/OwnershipCard/useGetEntities.ts
Labels: none

chore: fix typo; use correct variable
  docs/features/software-templates/ui-options-examples.md
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
Labels: area:documentation, area:scaffolder

update the 'unregister-entity' description to include use of URL to identify location
  plugins/catalog-backend/src/actions/createUnregisterCatalogEntitiesAction.ts
Labels: area:catalog

fix: disable array type in entity predicate types and zod schema validator
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContextMenuItemBlueprint.test.tsx
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.test.ts
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.ts
  plugins/catalog-react/src/alpha/predicates/types.ts
Labels: area:catalog

Upgrade to 0.21.6
  packages/backend-dynamic-feature-service/package.json
  packages/cli/package.json
  packages/frontend-dynamic-feature-loader/package.json
  packages/frontend-dynamic-feature-loader/report.api.md
  packages/frontend-dynamic-feature-loader/src/loader.ts
  yarn.lock
Labels: none

Move module federation enablement in `app-next` at runtime.
  packages/cli/package.json
  packages/cli/src/modules/build/commands/package/start/startFrontend.ts
  packages/cli/src/modules/build/lib/buildFrontend.ts
  packages/cli/src/modules/build/lib/bundler/bundle.ts
  packages/cli/src/modules/build/lib/bundler/config.ts
  packages/cli/src/modules/build/lib/bundler/moduleFederation.ts
  packages/cli/src/modules/build/lib/bundler/server.ts
  packages/cli/src/modules/build/lib/bundler/types.ts
  packages/frontend-dynamic-feature-loader/report.api.md
  packages/frontend-dynamic-feature-loader/src/loader.test.tsx
  packages/frontend-dynamic-feature-loader/src/loader.ts
  packages/module-federation-common/.eslintrc.js
  packages/module-federation-common/README.md
  packages/module-federation-common/catalog-info.yaml
  packages/module-federation-common/package.json
  packages/module-federation-common/report.api.md
  packages/module-federation-common/src/defaults.test.ts
  packages/module-federation-common/src/defaults.ts
  packages/module-federation-common/src/index.ts
  packages/module-federation-common/src/runtime.test.ts
  packages/module-federation-common/src/runtime.ts
  packages/module-federation-common/src/types.ts
  yarn.lock
Labels: none

Add and update documentation
  docs/frontend-system/building-apps/07-module-federation.md
  docs/tooling/cli/02-build-system.md
  docs/tooling/cli/03-commands.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

Fix function naming
  packages/cli/src/modules/build/lib/bundler/bundle.ts
  packages/cli/src/modules/build/lib/bundler/moduleFederation.ts
  packages/cli/src/modules/build/lib/bundler/server.ts
Labels: none

Add CLI --module-federation flag to build frontend plugins as remotes
  packages/cli/cli-report.md
  packages/cli/src/modules/build/commands/package/build/command.ts
  packages/cli/src/modules/build/index.ts
Labels: none

Add changeset
  .changeset/small-ravens-add.md
Labels: none

Replace `serialize-javascript` by `JSON.serialize`
  packages/module-federation-common/package.json
  packages/module-federation-common/src/runtime.ts
  yarn.lock
Labels: none

Remove function types in module federation options
  packages/frontend-dynamic-feature-loader/report.api.md
  packages/frontend-dynamic-feature-loader/src/loader.test.tsx
  packages/frontend-dynamic-feature-loader/src/loader.ts
Labels: none

Complete docs
  docs/frontend-system/building-apps/07-module-federation.md
Labels: area:documentation

fix(widgetoverlay): light mode wrong background color
  .changeset/yummy-clowns-fetch.md
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
Labels: area:home, area:search
