Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

frontend-test-utils: api-reports
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/app/renderTestApp.tsx
Labels: none

app: migrate to renderTestApp
  plugins/app/src/apis/SwappableComponentsApi/DefaultSwappableComponentsApi.test.tsx
  plugins/app/src/extensions/DialogDisplay.test.tsx
Labels: none

frontend-plugin-api: migrate to renderTestApp
  packages/frontend-plugin-api/src/blueprints/AppRootWrapperBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/SwappableComponentBlueprint.test.tsx
Labels: none

frontend-test-utils: expand changeset
  .changeset/fluffy-cities-sip.md
  .changeset/real-seals-dress.md
Labels: none

core-compat-api: use renderTestApp
  packages/core-compat-api/src/collectLegacyRoutes.test.tsx
  packages/core-compat-api/src/convertLegacyApp.test.tsx
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/app/renderTestApp.tsx
Labels: none

frontend-test-utils: add initialRouteEntries option
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/app/renderTestApp.tsx
Labels: none

feat(scaffolder): add swappable components for nfs
  .changeset/lemon-moons-watch.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/components/types.ts
  plugins/scaffolder-react/src/next/components/Stepper/DefaultReviewStep.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/Stepper/index.ts
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/scaffolder/src/alpha/index.ts
  plugins/scaffolder/src/alpha/swappableComponents.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
Labels: area:scaffolder

bump create-app sqlite version
  .changeset/modern-cats-double.md
  packages/create-app/templates/next-app/packages/backend/package.json.hbs
Labels: none

Update .changeset/eighty-cows-care.md
  .changeset/eighty-cows-care.md
Labels: none

Update package.json
  package.json
Labels: none

fix: BitbuckerUrlReader ignoring provided token #31348
  .changeset/warm-moments-repeat.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.ts
Labels: none

Create sds_workspace.yaml
  microsite/data/plugins/sds_workspace.yaml
Labels: area:microsite

SDS Workspace icon
  citrix_sds.png
Labels: none

Rename citrix_sds.png to microsite/static/img/citrix_sds.png
  microsite/static/img/citrix_sds.png
Labels: area:microsite

Update index.md to add guest user login screen and graphic
  docs/getting-started/index.md
Labels: area:documentation

Add graphic for guest user login screen to app
  docs/assets/getting-started/login-to-app-as-guest-user.png
Labels: area:documentation

Add dsn to output schema
  plugins/scaffolder-backend-module-sentry/src/actions/fetchDSN.ts
Labels: area:scaffolder

Update index.md
  docs/getting-started/index.md
Labels: area:documentation

Update doc-landing-page.md
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Create doc-landing-page.md using html for table
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md rearrange table and add links
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md fix prettier spacing
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md to remove Update a Component
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md added new technical overview
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md changes double quotes to single quotes
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update docusaurus.config.ts for new doc landing page
  microsite/docusaurus.config.ts
Labels: area:microsite

Apply suggestion from @aramissennyeydd
  microsite/docusaurus.config.ts
Labels: area:microsite

Update doc-landing-page.md changed top to "top" for valign attribute
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md added links for understanding, using, and administering backstage
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md added remainder of links
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update doc-landing-page.md try to fix prettier errors
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Update API report with new output schema
  plugins/scaffolder-backend-module-sentry/report.api.md
Labels: area:scaffolder

Update index.md rearranged guest login section
  docs/getting-started/index.md
Labels: area:documentation

Create doc-landing-page.md using html for table (#30884)
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

docs: fix monospace font usage
  docs-ui/src/app/theming/page.mdx
Labels: none

Remove CSS baseline from UnifiedThemeProvider
  packages/theme/src/unified/UnifiedThemeProvider.tsx
Labels: none

Fix body background
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

Remove noCssBaseline
  .changeset/salty-baths-buy.md
  .changeset/warm-dancers-call.md
  packages/theme/report.api.md
  packages/theme/src/unified/UnifiedThemeProvider.tsx
Labels: none

Update index.md fixed some indenting issues
  docs/getting-started/index.md
Labels: area:documentation

Update index.md fix prettier errors
  docs/getting-started/index.md
Labels: area:documentation

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
