Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

chore: update package.json
  package.json
Labels: none

repo-tools: Fix duplicate imports in OpenAPI client generation
  packages/repo-tools/src/commands/package/schema/openapi/generate/client.ts
  packages/repo-tools/src/lib/openapi/dedupe-imports.ts
  packages/repo-tools/src/lib/openapi/helpers.ts
Labels: none

kubernetes-backend: pass backstageCredentials to kubernetes fetcher
  .changeset/little-seals-wave.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-node/src/types/types.ts
Labels: area:kubernetes

add api report
  plugins/kubernetes-node/report.api.md
Labels: area:kubernetes

fix(core-components): fix deps graph scrolling
  .changeset/public-wombats-say.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
Labels: none

cli: remove jest script module cache
  .changeset/full-chefs-roll.md
  packages/cli/config/jestCachingModuleLoader.js
Labels: none

Changed endpoint name, GET->POST, request/response signature, and perform batch queries against db
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.test.ts
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.ts
  plugins/user-settings-backend/src/database/UserSettingsStore.ts
  plugins/user-settings-backend/src/service/router.test.ts
  plugins/user-settings-backend/src/service/router.ts
  plugins/user-settings-common/package.json
  plugins/user-settings-common/report.api.md
  plugins/user-settings-common/src/index.ts
  plugins/user-settings-common/src/keys.ts
  plugins/user-settings-common/src/types.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.test.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.ts
Labels: none

Add multiget to usersettings to batch get()s in one call and cache the result for a short period
  .changeset/stupid-flies-shake.md
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/service/router.ts
  plugins/user-settings-common/package.json
  plugins/user-settings-common/report.api.md
  plugins/user-settings-common/src/keys.ts
  plugins/user-settings-common/src/types.ts
  plugins/user-settings/package.json
  plugins/user-settings/src/apis/StorageApi/CacheMap.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.test.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.ts
  yarn.lock
Labels: none

Use p-limit instead of already for promise concurrency limit
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/service/router.test.ts
  plugins/user-settings-backend/src/service/router.ts
  plugins/user-settings/package.json
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.test.ts
  yarn.lock
Labels: none

yarn.lock
  yarn.lock
Labels: none

Handle Node.js 20
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.ts
Labels: none

Update technical-overview.md updated text
  docs/overview/technical-overview.md
Labels: area:documentation

add conditional to not run chromatic check on forked components
  .github/workflows/verify_chromatic.yml
Labels: none

add docs
  docs/backend-system/core-services/instance-metadata.md
Labels: area:documentation

make async and readonly
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/helpers.ts
  packages/backend-plugin-api/src/services/definitions/InstanceMetadataService.ts
  plugins/gateway-backend/src/plugin.ts
  plugins/gateway-backend/src/router.ts
Labels: none

overzealous comment
  packages/backend-app-api/src/wiring/helpers.ts
Labels: none

Added slight vertical padding to tag cell
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

fix api reports
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/InstanceMetadataService.ts
  packages/backend-test-utils/src/services/mockServices.ts
  packages/backend/src/instanceMetadata.ts
Labels: none

New technical overview per feature #21925 (#30998)
  docs/assets/technical-overview/backstage-ui-group-ownership.png
  docs/overview/technical-overview.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

review changes - resolves Andre's comments
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
Labels: area:scaffolder

repo-tools: changeset added
  .changeset/forty-rooms-work.md
Labels: none

add datadog-entity-sync to plugin directory
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

format
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

double quotes to single quote
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

Update architecture-overview.md fixed backend spelling errors
  docs/overview/architecture-overview.md
Labels: area:documentation

Enable YAML merge keys in yamlPlaceholderResolver
  plugins/catalog-backend/src/processors/PlaceholderProcessor.ts
Labels: area:catalog

format fix
  plugins/catalog-backend/src/processors/PlaceholderProcessor.ts
Labels: area:catalog

chore: deelete public comment
  plugins/kubernetes-react/src/components/ConfigmapsAccordions/ConfigmapsAccordions.tsx
Labels: area:kubernetes

Fix typo in changeset for coreExtensionData.title
  .changeset/nasty-moose-rescue.md
Labels: none

Replace package aws-sdk/signature-v4 with smithy
  .changeset/gentle-trains-juggle.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.test.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.ts
  yarn.lock
Labels: area:kubernetes

github/copilot-instructions: update testing instructions
  .github/copilot-instructions.md
Labels: none

simplify changeset
  .changeset/twelve-oranges-grin.md
Labels: none

update testhandler to only check for id
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
Labels: area:catalog

chore: fixing prettuer Signed-off-by: benjdlambert <ben@blam.sh>
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

Support custom start URL search parameters in OIDC provider
  docs/auth/oidc.md
  plugins/auth-backend-module-oidc-provider/config.d.ts
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
  plugins/auth-backend-module-oidc-provider/src/module.test.ts
Labels: area:auth, area:documentation

fix: forward disabled prop
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: area:scaffolder

chore: add changeset
  .changeset/tidy-coats-know.md
Labels: none

Update generated report
  plugins/auth-backend-module-oidc-provider/report.api.md
Labels: area:auth

Update architecture-overview.md try to fix prettier errors
  docs/overview/architecture-overview.md
Labels: area:documentation

Update architecture-overview.md fix spelling error
  docs/overview/architecture-overview.md
Labels: area:documentation
