Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

update client.hasFile to prefer project.id, then namespacedPath, then empty string fallback
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

Added back yarn lint-staged to precommit hook
  .husky/pre-commit
Labels: none

Add changeset for tab changes
  .changeset/clever-papers-watch.md
Labels: none

yarn dedupe
  yarn.lock
Labels: none

update shouldProcessProject to first check by namespacedPath (as previous), then check by id if failed
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

make some inputs mandatory, that are always provided nowadays
  .changeset/brave-teeth-reply.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog

feat: truncate document text to fit PostgreSQL index size limit (#30943)
  .changeset/brown-falcons-own.md
  plugins/search-backend-module-pg/report.api.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/search-backend-module-pg/src/database/types.ts
Labels: area:search

remove more unused things
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/tests/performance/getProcessableEntitiesPerformance.test.ts
Labels: area:catalog

scaffolder-cli validating to TemplateEntityV1beta3
  packages/scaffolder-cli/package.json
  packages/scaffolder-cli/src/commands/generate/generate.ts
  yarn.lock
Labels: none

Update .changeset/tame-hairs-smash.md
  .changeset/tame-hairs-smash.md
Labels: none

Adding multipart upload logic
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

Remove unused dependencies in notifications and scaffolder
  .changeset/shiny-candles-hide.md
  plugins/notifications-backend-module-email/knip-report.md
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-backend/knip-report.md
  plugins/notifications-backend/package.json
  plugins/notifications/knip-report.md
  plugins/notifications/package.json
  plugins/scaffolder-backend-module-bitbucket-server/knip-report.md
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-gitlab/knip-report.md
  plugins/scaffolder-backend-module-gitlab/package.json
  yarn.lock
Labels: area:scaffolder

update pg search sanitize list (#31083)
  .changeset/nice-readers-judge.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
Labels: area:search

update after review
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabs.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsGroup.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

fix(config): update production config with correct backend listen config
  packages/create-app/templates/default-app/app-config.production.yaml
Labels: none

simplify client.hasFile to always use project.id in shouldProcessProject
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

add changeset
  .changeset/twelve-oranges-grin.md
Labels: none

add changeset
  .changeset/light-clocks-roll.md
Labels: none

docs(scaffolder-gcp): Fix docstrings to mention GCP instead of Azure
  .changeset/itchy-falcons-leave.md
  plugins/scaffolder-backend-module-gcp/src/index.ts
  plugins/scaffolder-backend-module-gcp/src/module.ts
Labels: area:scaffolder

add test for AzureBlobStorageUrlReader
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureBlobStorageUrlReader.test.ts
Labels: none

implement support for direct url for AzureBlobStorageUrlReader search function
  .changeset/calm-trains-tie.md
  packages/backend-defaults/report-urlReader.api.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureBlobStorageUrlReader.ts
Labels: none

fix(bui): Enable tooltips on disabled buttons
  .changeset/moody-singers-deny.md
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Labels: none

Update .changeset/itchy-falcons-leave.md
  .changeset/itchy-falcons-leave.md
Labels: none

update docs to use the correct listen config
  contrib/docs/tutorials/flightcontrol-deployment.md
  docs/conf/writing.md
Labels: area:documentation

fix(bui): Fix SearchField onChange prop and add onChange story
  .changeset/tired-mice-cheer.md
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

fix(scaffolder): remove unnecessary public interface
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/scaffolder/actions/DefaultDistributedActionRegistry.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/DefaultDistributedActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/actions/DistributedActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/actions/index.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

fix(catalog): config for priority and enabled
  .changeset/fast-heads-brake.md
  docs/features/software-catalog/configuration.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, area:documentation

fix(bui): Add missing Cell component props to table documentation
  docs-ui/src/content/components/table.props.ts
Labels: none

chore: remove deprecated types and making breaking changes
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

chore: changesets
  .changeset/ready-poems-change.md
  .changeset/wet-spiders-wait.md
Labels: none

chore: update changeset for scaffolder-backend
  .changeset/wet-spiders-wait.md
Labels: none

chore: fix Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/ready-poems-change.md
  .changeset/wet-spiders-wait.md
Labels: none

chore: moar deprecations
  .changeset/solid-bikes-leave.md
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/alpha/index.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

fixup! remove fallback number parsing
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
Labels: none

chore: last bits
  .changeset/legal-eagles-jog.md
  .changeset/red-times-bet.md
  plugins/scaffolder-backend-module-azure/src/module.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/module.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/module.ts
  plugins/scaffolder-backend-module-bitbucket/src/module.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/module.ts
  plugins/scaffolder-backend-module-cookiecutter/src/module.ts
  plugins/scaffolder-backend-module-gerrit/src/module.ts
  plugins/scaffolder-backend-module-gitea/src/module.ts
  plugins/scaffolder-backend-module-github/src/module.ts
  plugins/scaffolder-backend-module-gitlab/src/module.ts
  plugins/scaffolder-backend-module-notifications/src/module.ts
  plugins/scaffolder-backend-module-rails/src/module.ts
  plugins/scaffolder-backend-module-sentry/src/module.ts
  plugins/scaffolder-backend-module-yeoman/src/module.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/alpha/index.ts
  plugins/scaffolder-node/src/extensions.ts
Labels: area:scaffolder

fix tsc issues
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GithubUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.test.ts
  packages/core-app-api/src/apis/implementations/TranslationApi/I18nextTranslationApi.test.tsx
  packages/core-app-api/src/app/AppManager.test.tsx
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.test.ts
  plugins/permission-backend/src/service/PermissionIntegrationClient.test.ts
  plugins/permission-node/src/integration/createConditionExports.test.ts
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunContext.test.tsx
Labels: area:catalog, area:permission, area:scaffolder

run api report
  packages/config/report.api.md
  plugins/bitbucket-cloud-common/report.api.md
  plugins/catalog-react/report.api.md
  plugins/search-backend-module-elasticsearch/report.api.md
  plugins/search-react/report.api.md
Labels: area:catalog, area:search

Adding show/hide visibility and clear action icons to BUI TextField
  .changeset/eighty-cows-care.md
  packages/ui/css/styles.css
  packages/ui/src/components/TextField/TextField.styles.css
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

rename `showIcons` config to `showNavItemIcons`
  docs/features/software-catalog/catalog-customization.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/app-config.yaml
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog, area:documentation

Implement AbortController request cancellation for search.
  .changeset/ripe-yaks-brake.md
  plugins/search-react/report.api.md
  plugins/search-react/src/api.ts
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.test.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.test.tsx
  plugins/search-react/src/components/SearchPagination/SearchPagination.test.tsx
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search/src/apis.test.ts
  plugins/search/src/apis.ts
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
  plugins/search/src/components/SearchType/SearchType.test.tsx
Labels: area:search
