Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

fix(cache): improve support for Valkey
  .changeset/sour-lines-taste.md
  docs/backend-system/core-services/cache.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.test.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
  packages/backend-defaults/src/entrypoints/cache/types.ts
Labels: area:documentation

docs: start creating a golden path (#30925)
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/golden-path/create-app/customize-theme.md
  docs/golden-path/create-app/index.md
  docs/golden-path/create-app/installing-plugins.md
  docs/golden-path/create-app/keeping-backstage-updated.md
  docs/golden-path/create-app/local-development.md
  docs/golden-path/create-app/logging-in.md
  docs/golden-path/create-app/npx-create-app.md
  docs/golden-path/plugins/backend/001-first-steps.md
  docs/golden-path/plugins/backend/002-poking-around.md
  docs/golden-path/plugins/backend/__meta__.md
  docs/golden-path/plugins/backend/recap.md
  docs/golden-path/plugins/backend/todo.http
  docs/golden-path/plugins/index.md
  docs/golden-path/plugins/integrations/__meta__.md
  docs/golden-path/plugins/sustainable-plugin-development.md
  docs/golden-path/plugins/why-build-plugins.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

add back the alpha entrypoint and update new service to Root...
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/src/alpha/InstanceMetadataService.ts
  packages/backend-plugin-api/src/alpha/refs.ts
  packages/backend-plugin-api/src/services/definitions/RootInstanceMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
Labels: none

move alpha instance to default service factories
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/index.ts
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/instanceMetadataServiceFactory.ts
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

fix test issues caused by rename
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
Labels: none

repo-tools: update knip to detect dependencies in new dev pattern
  .changeset/breezy-times-ring.md
  packages/repo-tools/src/commands/knip-reports/knip-extractor.ts
Labels: none

PR comments
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
Labels: area:techdocs

fix api reports
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/instanceMetadataServiceFactory.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/report.api.md
  packages/backend-test-utils/report.api.md
  packages/backend/src/instanceMetadata.ts
  plugins/gateway-backend/src/plugin.ts
  plugins/gateway-backend/src/router.ts
Labels: none

Patch from PR #31444
  .changeset/silver-garlics-thank.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
  packages/ui/src/css/normalize.css
Labels: none

Patch from PR #31449
  docs/frontend-system/building-apps/01-index.md
Labels: area:documentation

Patch from PR #31456
  packages/techdocs-cli-embedded-app/package.json
  packages/techdocs-cli-embedded-app/src/index.tsx
  yarn.lock
Labels: area:techdocs

Patch from PR #31458
  .changeset/five-seas-jam.md
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-backend-module-email/src/processor/transports/ses.ts
  yarn.lock
Labels: none

Patch from PR #31447
  .changeset/ninety-cobras-feel.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/useExternalRedirect.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/useExternalRedirect.ts
Labels: area:techdocs

Patch from PR #31448
  .changeset/rich-streets-rule.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/scripts/build-css.mjs
  packages/ui/src/components/Avatar/Avatar.module.css
  packages/ui/src/components/Box/Box.module.css
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/ButtonIcon/ButtonIcon.module.css
  packages/ui/src/components/Card/Card.module.css
  packages/ui/src/components/Checkbox/Checkbox.module.css
  packages/ui/src/components/Collapsible/Collapsible.module.css
  packages/ui/src/components/Container/Container.module.css
  packages/ui/src/components/Dialog/Dialog.module.css
  packages/ui/src/components/FieldError/FieldError.module.css
  packages/ui/src/components/FieldLabel/FieldLabel.module.css
  packages/ui/src/components/Flex/Flex.module.css
  packages/ui/src/components/Grid/Grid.module.css
  packages/ui/src/components/Header/Header.module.css
  packages/ui/src/components/HeaderPage/HeaderPage.module.css
  packages/ui/src/components/Link/Link.module.css
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/PasswordField/PasswordField.module.css
  packages/ui/src/components/Popover/Popover.module.css
  packages/ui/src/components/RadioGroup/RadioGroup.module.css
  packages/ui/src/components/SearchField/SearchField.module.css
  packages/ui/src/components/Select/Select.module.css
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Switch/Switch.module.css
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/TablePagination/TablePagination.module.css
  packages/ui/src/components/Tabs/Tabs.module.css
  packages/ui/src/components/TagGroup/TagGroup.module.css
  packages/ui/src/components/Text/Text.module.css
  packages/ui/src/components/TextField/TextField.module.css
  packages/ui/src/components/Tooltip/Tooltip.module.css
  packages/ui/src/css/styles.css
Labels: none

Patch from PR #31465
  .changeset/stupid-doodles-love.md
Labels: none

Generate Release
  .changeset/five-seas-jam.md
  .changeset/ninety-cobras-feel.md
  .changeset/rich-streets-rule.md
  .changeset/silver-garlics-thank.md
  .changeset/stupid-doodles-love.md
  package.json
  packages/techdocs-cli/CHANGELOG.md
  packages/techdocs-cli/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  plugins/notifications-backend-module-email/CHANGELOG.md
  plugins/notifications-backend-module-email/package.json
  plugins/techdocs/CHANGELOG.md
  plugins/techdocs/package.json
Labels: area:techdocs

signals: fix subscribing twice on error
  plugins/signals/package.json
  plugins/signals/src/api/SignalClient.ts
  plugins/signals/src/api/SignalsClient.test.ts
  yarn.lock
Labels: none

signals: subscribe on error changeset
  .changeset/quiet-singers-pick.md
Labels: none

fix test case regression caused by move to map
  packages/backend-app-api/src/wiring/BackendInitializer.ts
Labels: none

add missing modules
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/instanceMetadataServiceFactory.ts
Labels: none

implement change requests
  plugins/catalog-unprocessed-entities/README.md
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/devtools-react/report.api.md
  plugins/devtools-react/src/devToolsContentBlueprint.tsx
  plugins/devtools-react/src/extensionData.ts
  plugins/devtools-react/src/index.ts
  plugins/devtools/README.md
  plugins/devtools/report-alpha.api.md
  plugins/devtools/src/alpha/plugin.tsx
Labels: area:catalog

backend-app-api: test for module loading rule
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
Labels: none

trigger release for common and backend package because of pluginPackages field
  .changeset/slimy-ghosts-rescue.md
Labels: none

update example
  plugins/devtools-react/src/devToolsContentBlueprint.tsx
Labels: none

rework logic to explicitly rely on the list of plugins to create the map keys
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
Labels: none

feat(catalog): allow processors to emit status items
  .changeset/sixty-shirts-sink.md
  docs/features/software-catalog/extending-the-model.md
  packages/catalog-model/report-alpha.api.md
  packages/catalog-model/report.api.md
  packages/catalog-model/src/entity/AlphaEntity.ts
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/entity/EntityStatus.ts
  packages/catalog-model/src/index.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
  plugins/catalog-node/report.api.md
  plugins/catalog-node/src/api/index.ts
  plugins/catalog-node/src/api/processingResult.ts
  plugins/catalog-node/src/api/processor.ts
  plugins/catalog/src/components/EntityProcessingErrorsPanel/EntityProcessingErrorsPanel.tsx
Labels: area:catalog, area:documentation

Backstage UI: Add VisuallyHidden component.
  .changeset/wild-donkeys-sneeze.md
  docs-ui/src/content/components/visually-hidden.mdx
  docs-ui/src/content/components/visually-hidden.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/data.ts
  packages/ui/report.api.md
  packages/ui/src/components/VisuallyHidden/VisuallyHidden.module.css
  packages/ui/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
  packages/ui/src/components/VisuallyHidden/VisuallyHidden.tsx
  packages/ui/src/components/VisuallyHidden/index.ts
  packages/ui/src/components/VisuallyHidden/types.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

fix(ui): allow custom className on BUI components
  .changeset/seven-cycles-pick.md
  packages/ui/report.api.md
  packages/ui/src/components/FieldLabel/FieldLabel.tsx
  packages/ui/src/components/FieldLabel/types.ts
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderToolbar.tsx
  packages/ui/src/components/Header/types.ts
  packages/ui/src/components/HeaderPage/HeaderPage.tsx
  packages/ui/src/components/HeaderPage/types.ts
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/PasswordField/types.ts
  packages/ui/src/components/RadioGroup/types.ts
  packages/ui/src/components/SearchField/types.ts
  packages/ui/src/components/Select/types.ts
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TextField/types.ts
Labels: none

Fix SearchField styling
  packages/ui/src/components/SearchField/SearchField.module.css
  packages/ui/src/components/SearchField/SearchField.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Create itchy-bars-smell.md
  .changeset/itchy-bars-smell.md
Labels: none

feat: move to ldapts
  .changeset/heavy-cars-wash.md
  plugins/catalog-backend-module-ldap/config.d.ts
  plugins/catalog-backend-module-ldap/package.json
  plugins/catalog-backend-module-ldap/report.api.md
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
  plugins/catalog-backend-module-ldap/src/ldap/types.ts
  plugins/catalog-backend-module-ldap/src/ldap/util.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/util.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
  yarn.lock
Labels: area:catalog

feat: sync yarn.lock
  yarn.lock
Labels: none

Update plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
Labels: area:catalog

Update plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
Labels: area:catalog

fix: apply workaround for plain ldap connections
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
Labels: area:catalog

Update .changeset/heavy-cars-wash.md
  .changeset/heavy-cars-wash.md
Labels: none

feat: update changeset with catalog-backend-module-ldap breaking changes
  .changeset/heavy-cars-wash.md
  yarn.lock
Labels: none

feat(actions): add authorize callback for actions
  .changeset/tricky-deer-serve.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/alpha/entrypoints/actionsRegistry/DefaultActionsRegistryService.test.ts
  packages/backend-defaults/src/alpha/entrypoints/actionsRegistry/DefaultActionsRegistryService.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/ActionsRegistryService.ts
  yarn.lock
Labels: none

Update report.api.md
  packages/ui/report.api.md
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none
