Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Restore original yaml formatting
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
Labels: area:scaffolder

add support for Kafka offset configuration (fromBeginning) and autoCommit to plugin-events-backend-module
  .changeset/thin-flies-travel.md
  plugins/events-backend-module-kafka/README.md
  plugins/events-backend-module-kafka/config.d.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumingEventPublisher.test.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumingEventPublisher.ts
  plugins/events-backend-module-kafka/src/publisher/config.test.ts
  plugins/events-backend-module-kafka/src/publisher/config.ts
Labels: area:events

code readability in sidebars.ts
  microsite/sidebars.ts
Labels: area:microsite

change sidebar code configurations
  microsite/sidebars.ts
Labels: area:microsite

fix prettier stylings
  microsite/sidebars.ts
Labels: area:microsite

chore: introduce type: mcp-server as api with visibility
  packages/catalog-model/src/kinds/ApiEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/ApiEntityV1alpha1.ts
  packages/catalog-model/src/schema/kinds/API.v1alpha1.schema.json
Labels: area:catalog

PR comments
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

Update docs/integrations/bitbucketServer/discovery.md
  docs/integrations/bitbucketServer/discovery.md
Labels: area:documentation

Update .changeset/sour-spiders-dress.md
  .changeset/sour-spiders-dress.md
Labels: none

Update plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.test.ts
Labels: area:catalog

Add new structure and documents to Using Backstage section
  mkdocs.yml
Labels: none

[catalog-unprocessed-entities] Move types and clients from frontend to common plugin
  .changeset/rotten-melons-sleep.md
  plugins/catalog-unprocessed-entities-common/package.json
  plugins/catalog-unprocessed-entities-common/report.api.md
  plugins/catalog-unprocessed-entities-common/src/api/api.ts
  plugins/catalog-unprocessed-entities-common/src/api/index.ts
  plugins/catalog-unprocessed-entities-common/src/types.ts
  plugins/catalog-unprocessed-entities/package.json
  plugins/catalog-unprocessed-entities/report.api.md
  plugins/catalog-unprocessed-entities/src/api/index.ts
  yarn.lock
Labels: area:catalog

remove old alpha instance metadata service
  .changeset/four-peaches-train.md
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/index.ts
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/instanceMetadataServiceFactory.test.ts
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/instanceMetadataServiceFactory.ts
  packages/backend-defaults/src/alpha/index.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/InstanceMetadataService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/alpha/refs.ts
Labels: none

fix(auth): remove leading dot in auth cookie cleanup
  .changeset/clean-toys-reply.md
  plugins/auth-node/src/oauth/OAuthCookieManager.ts
Labels: area:auth

Apply suggestion from @freben
  docs/backend-system/core-services/metrics.md
Labels: area:documentation

resolve cr
  .changeset/rare-adults-attack.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultRootMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/InstrumentFactory.ts
  packages/backend-plugin-api/src/alpha/refs.ts
Labels: none

re-config sidebar.ts to make breadcrumb navigable
  microsite/sidebars.ts
Labels: area:microsite

shift common function to helper.ts file
  microsite/helper.ts
  microsite/sidebars.ts
Labels: area:microsite

feat(techdocs): add techdocs-cli option to disable external font download
  .changeset/funny-animals-prove.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/techdocs/cli.md
  docs/features/techdocs/how-to-guides.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/generate/generate.ts
  packages/techdocs-cli/src/commands/index.ts
Labels: area:documentation, area:techdocs

PR Review
  .changeset/nice-trams-shake.md
Labels: none

chore: fixing open-api Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/quiet-hats-sleep.md
Labels: none

add prettier changes
  microsite/sidebars.ts
Labels: area:microsite

fix forgotten api report
  plugins/kubernetes-react/report-alpha.api.md
Labels: area:kubernetes

Apply suggestions from code review
  .changeset/chatty-sides-wear.md
Labels: none

Added unregistering and deleting a component file
  docs/getting-started/unregister-delete-component.md
Labels: area:documentation

Upload graphics for deleting component
  docs/assets/uiguide/confirm-unregister-entity.png
  docs/assets/uiguide/error-message-catalog-info-file-deleted.png
  docs/assets/uiguide/select-advanced-options.png
  docs/assets/uiguide/select-delete-entity.png
  docs/assets/uiguide/select-unregister-entity-from-three-dots.png
Labels: area:documentation

Added borders around two graphics
  docs/assets/uiguide/select-advanced-options.png
  docs/assets/uiguide/select-delete-entity.png
Labels: area:documentation

Added borders around graphic images
  docs/assets/uiguide/confirm-unregister-entity.png
  docs/assets/uiguide/error-message-catalog-info-file-deleted.png
Labels: area:documentation

Fix formatting and typos in unregister-delete documentation
  docs/getting-started/unregister-delete-component.md
Labels: area:documentation

don't format custom names
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.test.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
Labels: area:scaffolder

Add changeset for review name formatting fix
  .changeset/nice-trams-shake.md
Labels: none

PR Review
  .changeset/nice-trams-shake.md
Labels: none

Fix packaging typo
  plugins/catalog-graph-common/package.json
Labels: area:catalog

yarn.lock dedupe
  yarn.lock
Labels: none

Add support for a custom entity set
  .changeset/rare-peas-wink.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

report-alpha.api.md order mismatch
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Unit tests in several places uses DependencyGraph, so moving shim to the real code for all tests to pass
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/setupTests.ts
Labels: none

Shim Set.difference for _frontend_ code to be testable in Node 20
  packages/core-components/src/setupTests.ts
Labels: none

Keep backwards compatibility and make the backend optional
  .changeset/rare-peas-wink.md
  .changeset/thirty-cycles-go.md
  plugins/catalog-graph/README.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromFrontend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useFetchMethod.ts
Labels: area:catalog

Yarn dedupe
  yarn.lock
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
