Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

docs: add info about specific version bump with --release
  docs/getting-started/keeping-backstage-updated.md
Labels: area:documentation

feat: Add css changes for new tag in software templates card
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardTags.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardTags.tsx
Labels: area:scaffolder

feat: add persistent volumes rendering
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes-common/src/util/response.ts
  plugins/kubernetes-node/src/types/types.ts
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesDrawer.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/index.ts
Labels: area:kubernetes

feat: add pv status
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.tsx
Labels: area:kubernetes

feat: add persistent volume metadata
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.tsx
Labels: area:kubernetes

feat: add persistent volume claims
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes-common/src/util/response.ts
  plugins/kubernetes-node/src/types/types.ts
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsAccordions.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsDrawer.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/index.ts
Labels: area:kubernetes

feat: add volume status and volume type
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.tsx
  plugins/kubernetes-react/src/utils/persistentVolumes.ts
Labels: area:kubernetes

feat: add persistent volume status pending
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.tsx
Labels: area:kubernetes

feat: add test for pv
  plugins/kubernetes-react/src/__fixtures__/1-persistentvolumes.json
  plugins/kubernetes-react/src/__fixtures__/2-persistentvolumes.json
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.test.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesDrawer.test.tsx
  plugins/kubernetes-react/src/utils/persistentVolumes.test.ts
Labels: area:kubernetes

feat: add persistent volume claims metadata
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsAccordions.tsx
Labels: area:kubernetes

chore: changeset
  .changeset/good-cameras-repair.md
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsAccordions.test.tsx
Labels: area:kubernetes

feat: add persistent volume claims test code
  plugins/kubernetes-react/src/__fixtures__/1-persistentvolumeclaims.json
  plugins/kubernetes-react/src/__fixtures__/2-persistentvolumeclaims.json
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsAccordions.test.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsDrawer.test.tsx
Labels: area:kubernetes

feat: update pvc to table drawer like pod
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsAccordions.test.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsAccordions.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsTable.test.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsTable.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/index.ts
Labels: area:kubernetes

chore: yarn build:api-reports
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-node/report.api.md
Labels: area:kubernetes

chore: remove gcp and gke.io
  plugins/kubernetes-react/src/utils/persistentVolumes.ts
Labels: area:kubernetes

feat: update pv to table drawer like pod
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.test.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesTable.test.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesTable.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/index.ts
Labels: area:kubernetes

chore: yarn build:api-reports
  plugins/kubernetes-common/report.api.md
Labels: area:kubernetes

chore: remove duplication import for pv
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
Labels: area:kubernetes

chore: exclude pv,pvc from default objects
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
Labels: area:kubernetes

chore: remove user event at test code
  plugins/kubernetes-react/src/components/PersistentVolumesAccordions/PersistentVolumesAccordions.test.tsx
  plugins/kubernetes-react/src/components/PersistentVolumesClaimsAccordions/PersistentVolumeClaimsAccordions.test.tsx
Labels: area:kubernetes

Added code for 3rd type of button
  docs-ui/src/content/button.props.ts
Labels: none

fix(techdocs): Code block Copy To Clipboard button layout with latest mkdocs-material
  .changeset/some-spiders-serve.md
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
Labels: area:techdocs

Improved on feedbacks
  .changeset/modern-drinks-battle.md
  packages/ui/report.api.md
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/hooks/useSurface.tsx
  packages/ui/src/index.ts
Labels: none

doc: add plugin doc
  plugins/scaffolder-backend-module-azure/README.md
Labels: area:scaffolder

add: changeset
  .changeset/update-azure-scaffolder-docs.md
Labels: none

doc: prettier
  plugins/scaffolder-backend-module-azure/README.md
Labels: area:scaffolder

Update .changeset/fluffy-bushes-remain.md
  .changeset/fluffy-bushes-remain.md
Labels: none

fix(gitlab): use parameter 'filename:' in group search
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

better naming for oneOf refs
  plugins/permission-backend/src/schema/openapi.yaml
  plugins/permission-backend/src/schema/openapi/generated/apis/Api.server.ts
  plugins/permission-backend/src/schema/openapi/generated/apis/index.ts
  plugins/permission-backend/src/schema/openapi/generated/index.ts
  plugins/permission-backend/src/schema/openapi/generated/models/AllOfCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/AnyOfCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/BasicPermission.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/BasicPermissionRequest.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/BatchEvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ConditionalEvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/DefinitiveEvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ErrorError.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionRequest.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionRequestBatch.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionResponse.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/EvaluatePermissionResponseBatch.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/GetHealth200Response.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ModelError.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/NotCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionAttributes.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionCondition.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/PermissionCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ResourcePermission.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ResourcePermissionRequest.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/ResourcePermissionRequestResourceRef.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/index.ts
  plugins/permission-backend/src/schema/openapi/generated/router.ts
  plugins/permission-backend/src/schema/openapi/index.ts
Labels: area:permission

fix linting
  plugins/permission-backend/src/schema/openapi.yaml
  plugins/permission-backend/src/schema/openapi/generated/models/AllOfCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/AnyOfCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/models/NotCriteria.model.ts
  plugins/permission-backend/src/schema/openapi/generated/router.ts
Labels: area:permission

Update artist-lookup-component.yaml
  packages/catalog-model/examples/components/artist-lookup-component.yaml
Labels: area:catalog

Fixes RouterProvider on Link
  .changeset/new-windows-reply.md
  packages/ui/src/components/Link/Link.tsx
Labels: none

remove helper
  plugins/auth-node/src/audit.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.ts
Labels: area:auth

fix(api-breaking-changes): add better comment identifier
  .github/workflows/api-breaking-changes-comment.yml
  packages/repo-tools/src/commands/repo/schema/openapi/diff.ts
Labels: none

fix(techdocs): Disable LighBox addon for images wrapped in links
  .changeset/giant-carpets-train.md
  docs/features/techdocs/addons--new.md
  docs/features/techdocs/addons.md
  plugins/techdocs-module-addons-contrib/src/LightBox/LightBox.test.tsx
  plugins/techdocs-module-addons-contrib/src/LightBox/LightBox.tsx
  plugins/techdocs-module-addons-contrib/src/plugin.ts
Labels: area:documentation, area:techdocs

feat(ui): Support automatic dimension for Skeleton
  .changeset/clear-jars-enjoy.md
  docs-ui/src/content/skeleton.mdx
  docs-ui/src/content/skeleton.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Skeleton/types.ts
Labels: none

Update .changeset/mighty-flowers-travel.md
  .changeset/mighty-flowers-travel.md
Labels: none

feat(ui): rename filter and search state handlers to onChange
  packages/ui/report.api.md
  packages/ui/src/components/Table/hooks/types.ts
  packages/ui/src/components/Table/hooks/useTable.ts
  packages/ui/src/components/Table/stories/Table.dev.stories.tsx
Labels: none

converted the note syntax for consistency with other documentation files
  docs/dls/contributing-to-storybook.md
Labels: area:documentation

updated whitespaces
  docs/dls/contributing-to-storybook.md
Labels: area:documentation

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
