Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Update Github flow
  .github/workflows/mui-migration-tracker.yml
  package.json
Labels: none

feat(actions): pass input to authorize during action invoke
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.test.ts
  packages/backend-defaults/src/alpha/entrypoints/actionsRegistry/DefaultActionsRegistryService.test.ts
  packages/backend-defaults/src/alpha/entrypoints/actionsRegistry/DefaultActionsRegistryService.ts
  packages/backend-defaults/src/alpha/entrypoints/actionsRegistry/actionsRegistryServiceFactory.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/ActionsRegistryService.ts
  packages/backend-plugin-api/src/alpha/ActionsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-test-utils/src/alpha/services/MockActionsRegistry.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  yarn.lock
Labels: area:scaffolder

fix(docs-ui): Fix file path case issue.
  docs-ui/src/snippets/stories-snippets.tsx
Labels: none

feat(ui): Support automatic dimension for Skeleton
  .changeset/clear-jars-enjoy.md
  docs-ui/src/content/components/skeleton.mdx
  docs-ui/src/content/components/skeleton.props.ts
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Skeleton/Skeleton.stories.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Skeleton/types.ts
Labels: none

Update mui-migration-tracker.yml
  .github/workflows/mui-migration-tracker.yml
Labels: none

Update yarn.lock
  yarn.lock
Labels: none

Update docs and code based on review comments
  .changeset/github-api-page-sizes.md
  .changeset/pretty-kids-allow.md
  .changeset/tough-sloths-spend.md
  docs/integrations/github/discovery.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github-org/src/module.test.ts
  plugins/catalog-backend-module-github-org/src/module.ts
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: area:catalog, area:documentation

Update catalog-backend-module-github plugin report.api.md
  plugins/catalog-backend-module-github/report.api.md
  plugins/catalog-backend-module-github/src/index.ts
Labels: area:catalog

update api reports for catalog-node
  .changeset/twelve-spoons-feel.md
  plugins/catalog-node/report.api.md
  plugins/catalog-node/src/processing/index.ts
  plugins/catalog-node/src/processing/parse.ts
Labels: area:catalog

update api reports for catalog-node
  .changeset/twelve-spoons-feel.md
Labels: none

Fix package name plugin infix with yarn new
  .changeset/funny-stars-open.md
  packages/cli/src/modules/new/lib/preparation/loadPortableTemplateConfig.test.ts
  packages/cli/src/modules/new/lib/preparation/loadPortableTemplateConfig.ts
Labels: none

refactor codes in sidebars
  microsite/sidebars.ts
Labels: area:microsite

add separate sidebar codes to make it readable
  microsite/sidebarHelper.ts
  microsite/sidebars/configurations.ts
  microsite/sidebars/contribute.ts
  microsite/sidebars/coreFeatures.ts
  microsite/sidebars/faq.ts
  microsite/sidebars/framework.ts
  microsite/sidebars/gettingStarted.ts
  microsite/sidebars/helpers/helpers.ts
  microsite/sidebars/integrations.ts
  microsite/sidebars/overview.ts
  microsite/sidebars/plugins.ts
  microsite/sidebars/references.ts
  microsite/sidebars/tutorials.ts
Labels: area:microsite

Revert "add separate sidebar codes to make it readable"
  microsite/sidebarHelper.ts
  microsite/sidebars/configurations.ts
  microsite/sidebars/contribute.ts
  microsite/sidebars/coreFeatures.ts
  microsite/sidebars/faq.ts
  microsite/sidebars/framework.ts
  microsite/sidebars/gettingStarted.ts
  microsite/sidebars/helpers/helpers.ts
  microsite/sidebars/integrations.ts
  microsite/sidebars/overview.ts
  microsite/sidebars/plugins.ts
  microsite/sidebars/references.ts
  microsite/sidebars/tutorials.ts
Labels: area:microsite

Revert "refactor codes in sidebars"
  microsite/sidebars.ts
Labels: area:microsite

ui: enable tree shaking of components
  .changeset/smart-donuts-teach.md
  packages/ui/package.json
Labels: none

feat(ui): migrate Checkbox component to React Aria
  .changeset/cruel-plums-talk.md
  .changeset/upset-teeth-add.md
  docs-ui/src/content/components/checkbox.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Checkbox/Checkbox.module.css
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Checkbox/types.ts
  packages/ui/src/utils/componentDefinitions.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemePreview.tsx
Labels: none

docs: remove unnecessary steps
  docs/publishing.md
Labels: area:documentation

feat(ui): migrate Checkbox component to React Aria
  .changeset/cruel-plums-talk.md
  .changeset/upset-teeth-add.md
  docs-ui/src/content/components/checkbox.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Checkbox/Checkbox.module.css
  packages/ui/src/components/Checkbox/Checkbox.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Checkbox/types.ts
  packages/ui/src/utils/componentDefinitions.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemePreview.tsx
Labels: none

test(cache): combine tests
  packages/backend-defaults/src/entrypoints/cache/CacheManager.test.ts
Labels: none

feat: add generateProjectsWithAuthSetup function for Playwright e2e tests
  .changeset/brave-ravens-join.md
  packages/e2e-test-utils/src/playwright/generateProjects.ts
Labels: none

Improve Link structure in BUI
  .changeset/giant-lamps-happen.md
  packages/ui/report.api.md
  packages/ui/src/components/Link/Link.module.css
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Update .changeset/pretty-kids-allow.md
  .changeset/pretty-kids-allow.md
Labels: none

Update .changeset/tough-sloths-spend.md
  .changeset/tough-sloths-spend.md
Labels: none

Remove RouterProvider from HeaderToolbar
  .changeset/all-camels-agree.md
  packages/ui/src/components/Header/HeaderToolbar.tsx
Labels: none

techdocs config doc update
  docs/features/techdocs/configuration.md
Labels: area:documentation

Add TargetBoard Plugin to Directory - Create targetboard.yaml
  microsite/data/plugins/targetboard.yaml
Labels: area:microsite

Add TargetBoard Plugin to Directory - Create targetboard.yaml
  microsite/data/plugins/targetboard.yaml
Labels: area:microsite

revert viewBox back on DependencyGraph and add allowFullscreen prop to EntityRelationsGraph
  .changeset/real-trains-visit.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: area:catalog

fix(notifications): show default settings before first notification
  .changeset/fast-tools-mate.md
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
Labels: none

fix(ui): Set color-scheme, notably to have proper scrollbar theming
  packages/app-next/public/index.html
  packages/app/public/index.html
  packages/techdocs-cli-embedded-app/public/index.html
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: area:techdocs

update docs to use root
  docs/backend-system/core-services/instance-metadata.md
  docs/backend-system/core-services/root-instance-metadata.md
Labels: area:documentation

fix dockerfile name
  contrib/docker/frontend-with-nginx/Dockerfile.dockerbuild
Labels: none

chore: changeset
  .changeset/wide-papers-run.md
Labels: none

chore: only allow redirects for the stable build
  docs/auth/test.md
  microsite/.gitignore
  microsite/docusaurus.config.ts
Labels: area:documentation, area:microsite

fix prettier
  microsite/docusaurus.config.ts
Labels: area:microsite

enable per-plugin theming and routing context
  .changeset/violet-cases-admire.md
  plugins/app/src/extensions/AppLayout.test.tsx
  plugins/app/src/extensions/AppLayout.tsx
  plugins/app/src/extensions/AppRoutes.test.tsx
  plugins/app/src/extensions/AppRoutes.tsx
  plugins/app/src/extensions/PluginRouteContext.tsx
Labels: none

fix changeset typo
  .changeset/violet-cases-admire.md
Labels: none

Revise VS Code Jest setup and update paths
  docs/tooling/cli/02-build-system.md
Labels: area:documentation

Add TargetBoard Plugin to Directory - Create targetboard.yaml
  microsite/data/plugins/targetboard.yaml
Labels: area:microsite

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
