Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

fixup
  packages/app-next/package.json
  packages/app/package.json
  yarn.lock
Labels: none

`ActionsRegistry`: Enable filtering of Actions from sources (#32134)
  .changeset/action-filtering-feature.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.test.ts
Labels: none

feat: add --include to backstage-cli info
  packages/cli/cli-report.md
  packages/cli/src/modules/info/commands/info.ts
  packages/cli/src/modules/info/index.ts
Labels: none

feat: add --output-file option to backstage-cli info for JSON export
  packages/cli/cli-report.md
  packages/cli/src/modules/info/commands/info.ts
  packages/cli/src/modules/info/index.ts
Labels: none

chore: add changeset
  .changeset/fruity-tires-fail.md
Labels: none

chore: wip ToggleButton/ToggleButtonGroup
  docs-ui/src/content/toggle-button-group.mdx
  docs-ui/src/content/toggle-button-group.props.ts
  docs-ui/src/content/toggle-button.mdx
  docs-ui/src/content/toggle-button.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/data.ts
  packages/ui/src/components/ToggleButton/ToggleButton.module.css
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/ui/src/components/ToggleButton/ToggleButton.tsx
  packages/ui/src/components/ToggleButton/definition.ts
  packages/ui/src/components/ToggleButton/index.ts
  packages/ui/src/components/ToggleButton/types.ts
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.module.css
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/components/ToggleButtonGroup/definition.ts
  packages/ui/src/components/ToggleButtonGroup/index.ts
  packages/ui/src/components/ToggleButtonGroup/types.ts
  packages/ui/src/definitions.ts
  packages/ui/src/index.ts
Labels: none

chore: prettier
  docs-ui/src/content/toggle-button.mdx
Labels: none

fix: Support Responsive
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/components/ToggleButtonGroup/types.ts
  packages/ui/src/hooks/useStyles.ts
Labels: none

chore: changest
  .changeset/rude-trains-marry.md
Labels: none

refactor: try to fit in useStyle
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/hooks/useStyles.ts
Labels: none

chore: api report
  packages/ui/report.api.md
Labels: none

feat: support surfaces
  docs-ui/src/content/toggle-button.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/ToggleButton/ToggleButton.module.css
  packages/ui/src/components/ToggleButton/ToggleButton.tsx
  packages/ui/src/components/ToggleButton/types.ts
Labels: none

docs: links
  docs-ui/src/content/toggle-button-group.mdx
  docs-ui/src/content/toggle-button.mdx
Labels: none

docs: changeset
  .changeset/rude-trains-marry.md
Labels: none

chore: run prettier
  packages/cli/src/modules/info/commands/info.ts
Labels: none

chore: revert changes to cli-report
  packages/cli/cli-report.md
Labels: none

chore: build api reports
  packages/cli/cli-report.md
Labels: none

docs: update cli info docs
  docs/tooling/cli/03-commands.md
Labels: area:documentation

docs: Add surface examples to the ToggleButton/ToggleButtonGroups
  docs-ui/src/content/toggle-button-group.mdx
  docs-ui/src/content/toggle-button-group.props.ts
  docs-ui/src/content/toggle-button.props.ts
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
Labels: none

fix: update changeset message
  .changeset/all-bobcats-float.md
Labels: none

fix: fix ongoingTask log display
  .changeset/all-bobcats-float.md
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
Labels: area:scaffolder

chore: remove variants for now
  docs-ui/src/content/toggle-button-group.mdx
  docs-ui/src/content/toggle-button-group.props.ts
  docs-ui/src/content/toggle-button.mdx
  docs-ui/src/content/toggle-button.props.ts
  packages/ui/src/components/ToggleButton/ToggleButton.module.css
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/ui/src/components/ToggleButton/ToggleButton.tsx
  packages/ui/src/components/ToggleButton/definition.ts
  packages/ui/src/components/ToggleButton/types.ts
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.module.css
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/components/ToggleButtonGroup/types.ts
Labels: none

feat: schema-first audit events
  packages/backend-openapi-utils/package.json
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/catalog-backend/src/service/createRouter.ts
  yarn.lock
Labels: area:catalog

more guarantees around async-ness and add support for captureResponse
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

fix type errors
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

address PR feedback, update types and move capture params to top level
  packages/backend-openapi-utils/report.api.md
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
Labels: area:catalog

revert config change
  app-config.yaml
Labels: none

move to dependency object and update log statements
  packages/backend-openapi-utils/src/middlewares/auditor.test.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

fix ancestry
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

fix api report
  packages/backend-openapi-utils/report.api.md
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

non blocking
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

typo
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

add debug log
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

Update packages/backend-openapi-utils/src/middlewares/auditor.ts
  packages/backend-openapi-utils/src/middlewares/auditor.ts
Labels: none

fix api report
  packages/backend-openapi-utils/report.api.md
Labels: none

feat: metrics service definition and default
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/index.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  packages/backend-plugin-api/package.json
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/alpha/refs.ts
  yarn.lock
Labels: none

fix lint errors
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
Labels: none

metrics service report and changeset
  .changeset/quick-cities-bow.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  packages/backend-plugin-api/report-alpha.api.md
Labels: none

Add an option to allow customizing the Playwright browser channel
  .changeset/custom-playwright-channel.md
  packages/e2e-test-utils/src/playwright/generateProjects.ts
Labels: none

chore: remove Responsive orientation
  packages/ui/report.api.md
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/components/ToggleButtonGroup/types.ts
  packages/ui/src/hooks/useStyles.ts
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
