Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

yarn.lock
  yarn.lock
Labels: none

fix: auto-logout not working when closing tabs and reopening
  packages/core-components/src/components/AutoLogout/AutoLogout.tsx
  packages/core-components/src/components/AutoLogout/disconnectedUsers.ts
Labels: none

New script to track MUI to BUI migration
  .github/workflows/mui-migration-tracker.yml
  package.json
  scripts/mui-to-bui/README.md
  scripts/mui-to-bui/backstage-migration-analytics.js
Labels: none

Update mui-migration-tracker.yml
  .github/workflows/mui-migration-tracker.yml
Labels: none

Update mui-migration-tracker.yml
  .github/workflows/mui-migration-tracker.yml
Labels: none

Update backstage-migration-analytics.js
  scripts/mui-to-bui/backstage-migration-analytics.js
Labels: none

Update mui-migration-tracker.yml
  .github/workflows/mui-migration-tracker.yml
Labels: none

Update backstage-migration-analytics.js
  scripts/mui-to-bui/backstage-migration-analytics.js
Labels: none

fix: amend AutoLogout logic to work with any provider and correctly logout
  packages/core-components/src/components/AutoLogout/AutoLogout.tsx
  packages/core-components/src/components/AutoLogout/disconnectedUsers.ts
Labels: none

test: amend existing disconnectedUsers tests and add new one for unresolved isLoggedIn
  packages/core-components/src/components/AutoLogout/disconnectedUsers.test.ts
Labels: none

Update backstage-migration-analytics.js
  scripts/mui-to-bui/backstage-migration-analytics.js
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Improve BUI install docs
  docs-ui/package.json
  docs-ui/src/app/install/page.mdx
  docs-ui/src/app/install/snippets.ts
  docs-ui/src/components/CodeBlock/client.tsx
  docs-ui/src/components/CodeBlock/index.tsx
  docs-ui/src/components/CodeBlock/styles.module.css
  docs-ui/src/css/globals.css
  docs-ui/yarn.lock
Labels: none

Fixes on icons
  docs-ui/src/app/iconography/page.mdx
  docs-ui/src/components/CustomTheme/customTheme.tsx
  docs-ui/src/components/IconLibrary/IconLibrary.tsx
  docs-ui/src/components/IconLibrary/index.ts
  docs-ui/src/components/IconLibrary/styles.module.css
  docs-ui/src/components/PropsTable/PropsTable.tsx
  docs-ui/src/content/components/icon.mdx
  docs-ui/src/content/components/icon.props.ts
  docs-ui/src/utils/data.ts
  docs-ui/src/utils/playground-context.tsx
Labels: none

fix: #31333 gitlabProjectDeployTokenCreate doesn't support oauth tokens
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.ts
Labels: area:scaffolder

chore: add changeset
  .changeset/fruity-snails-laugh.md
Labels: none

fix: unit tests
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.test.ts
Labels: area:scaffolder

fix(catalog-backend-module-github): add configurable page sizes to prevent RESOURCE_LIMITS_EXCEEDED errors
  .changeset/configurable-github-page-sizes.md
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/report.api.md
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/index.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

feat: add configurable GitHub API page sizes
  .changeset/github-api-page-sizes.md
  docs/integrations/github/discovery.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github-org/src/module.test.ts
  plugins/catalog-backend-module-github-org/src/module.ts
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/report.api.md
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/index.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: area:catalog, area:documentation

chore: add changeset
  .changeset/pretty-parts-admire.md
Labels: none

feat(auth): use app title in consent screen
  .changeset/tender-regions-know.md
  plugins/auth/src/components/ConsentPage/ConsentPage.tsx
Labels: none

adjust the log line wording of task worker starting
  .changeset/better-hats-cross.md
  docs/backend-system/core-services/root-logger.md
  docs/plugins/integrating-search-into-plugins.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/LocalTaskWorker.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.ts
Labels: area:documentation

change wording to Registered scheduled task
  docs/backend-system/core-services/root-logger.md
  docs/plugins/integrating-search-into-plugins.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/LocalTaskWorker.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.ts
Labels: area:documentation

feat(mcp-actions): support _meta field for actions
  .changeset/stupid-jobs-take.md
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/ActionsRegistryService.ts
  packages/backend-plugin-api/src/alpha/ActionsService.ts
  packages/backend-test-utils/src/alpha/services/MockActionsRegistry.ts
  plugins/mcp-actions-backend/package.json
  plugins/mcp-actions-backend/src/services/McpService.test.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
  yarn.lock
Labels: none

Set browser title in BUI Header component.
  .changeset/slimy-horses-visit.md
  docs-ui/src/content/components/header-page.mdx
  docs-ui/src/content/components/header.mdx
  packages/ui/package.json
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderToolbar.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.tsx
  yarn.lock
Labels: none

cli: add template for catalog provider
  .changeset/better-steaks-act.md
  .changeset/loud-carpets-throw.md
  .changeset/short-sides-feel.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/tooling/cli/04-templates.md
  packages/cli/src/modules/new/lib/defaultTemplates.ts
  packages/cli/src/modules/new/lib/execution/writeTemplateContents.ts
  packages/cli/templates/catalog-provider-module/.eslintrc.js.hbs
  packages/cli/templates/catalog-provider-module/README.md.hbs
  packages/cli/templates/catalog-provider-module/config.d.ts.hbs
  packages/cli/templates/catalog-provider-module/package.json.hbs
  packages/cli/templates/catalog-provider-module/portable-template.yaml
  packages/cli/templates/catalog-provider-module/src/index.ts.hbs
  packages/cli/templates/catalog-provider-module/src/module.ts.hbs
  packages/cli/templates/catalog-provider-module/src/provider/readProviderConfigs.ts.hbs
  packages/cli/templates/catalog-provider-module/src/provider/{{providerClass}}.test.ts.hbs
  packages/cli/templates/catalog-provider-module/src/provider/{{providerClass}}.ts.hbs
  packages/create-app/templates/next-app/package.json.hbs
Labels: area:documentation

feat: Expand `EntityFilter.getCatalogFilters` to return `EntityFilterQuery`
  .changeset/bitter-suns-build.md
  packages/catalog-client/report.api.md
  packages/catalog-client/src/index.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/types/index.ts
  packages/catalog-client/src/utils.test.ts
  packages/catalog-client/src/utils.ts
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/types.ts
  plugins/catalog-react/src/utils/filters.test.ts
  plugins/catalog-react/src/utils/filters.ts
Labels: area:catalog

Add catalogPlugin to app features
  docs/frontend-system/building-apps/01-index.md
Labels: area:documentation

Use theme ID context instead default 'backstage' value
  .changeset/slick-books-sleep.md
  packages/core-app-api/package.json
  packages/core-app-api/src/app/AppThemeProvider.tsx
  packages/frontend-defaults/src/createPublicSignInApp.test.tsx
  packages/theme/src/unified/UnifiedThemeProvider.test.tsx
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  packages/theme/src/unified/index.ts
  plugins/app/src/alpha/appModulePublicSignIn.test.tsx
  yarn.lock
Labels: none

Fix grammar in GitHub webhook setup instructions
  docs/integrations/github/discovery.md
Labels: area:documentation

Update report
  packages/core-components/report-alpha.api.md
  packages/theme/report.api.md
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  plugins/scaffolder/report-alpha.api.md
Labels: area:scaffolder

Backstage UI: Add VisuallyHidden component.
  .changeset/wild-donkeys-sneeze.md
  docs-ui/src/content/components/visually-hidden.mdx
  docs-ui/src/content/components/visually-hidden.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/data.ts
  packages/ui/report.api.md
  packages/ui/src/components/VisuallyHidden/VisuallyHidden.module.css
  packages/ui/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
  packages/ui/src/components/VisuallyHidden/VisuallyHidden.tsx
  packages/ui/src/components/VisuallyHidden/index.ts
  packages/ui/src/components/VisuallyHidden/types.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Revert "cli: fix low frequency test flakiness"
  packages/cli/src/lib/version.test.ts
Labels: none

feat: convert all enums to erasable-syntax compliant patterns
  .changeset/ten-houses-attack.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  packages/cli/src/modules/build/lib/builder/types.ts
  packages/core-app-api/src/apis/system/ApiFactoryRegistry.ts
  packages/core-components/report.api.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/components/DependencyGraph/types.ts
  packages/core-components/src/layout/Sidebar/Bar.tsx
  packages/core-components/src/layout/Sidebar/localStorage.ts
  packages/core-plugin-api/report.api.md
  packages/core-plugin-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/core-plugin-api/src/apis/definitions/auth.ts
  packages/techdocs-cli-embedded-app/src/components/TechDocsPage/TechDocsPage.tsx
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/lib/types/graph.ts
  plugins/devtools-common/report.api.md
  plugins/devtools-common/src/types.ts
  plugins/permission-backend/src/service/router.test.ts
  plugins/permission-common/report.api.md
  plugins/permission-common/src/PermissionClient.ts
  plugins/permission-common/src/types/api.ts
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/commonGitlabConfig.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsArgumentResolver.ts
  plugins/search-backend/src/service/AuthorizedSearchEngine.ts
Labels: area:auth, area:catalog, area:permission, area:search, area:scaffolder, area:techdocs

chore: skippy skipy Signed-off-by: benjdlambert <ben@blam.sh>
  packages/cli/src/lib/version.test.ts
Labels: none

Add notice for Wellness Week vacation
  README.md
Labels: none

feat: preserve hyphenated property names in OpenAPI generators when using propertyNaming=original
  .changeset/loose-pets-slide.md
  packages/repo-tools/src/commands/package/schema/openapi/generate/client.ts
  packages/repo-tools/templates/typescript-backstage-client/modelGeneric.mustache
  packages/repo-tools/templates/typescript-backstage-client/modelTaggedUnion.mustache
  packages/repo-tools/templates/typescript-backstage-server/modelGeneric.mustache
  packages/repo-tools/templates/typescript-backstage-server/modelTaggedUnion.mustache
Labels: none

fix: implement sub-transactions for partial rollbacks in PgSearchEngineIndexer
  .changeset/wicked-nails-taste.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.ts
Labels: area:search

add custom expectation message field for validator override
  .changeset/giant-hands-smell.md
  docs/features/software-catalog/extending-the-model.md
  packages/catalog-model/report.api.md
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.ts
  packages/catalog-model/src/validation/index.ts
  packages/catalog-model/src/validation/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/report-alpha.api.md
  plugins/catalog-node/src/extensions.ts
Labels: area:catalog, area:documentation

fix(ui): allow custom className on BUI components
  .changeset/seven-cycles-pick.md
  packages/ui/report.api.md
  packages/ui/src/components/FieldLabel/FieldLabel.tsx
  packages/ui/src/components/FieldLabel/types.ts
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderToolbar.tsx
  packages/ui/src/components/Header/types.ts
  packages/ui/src/components/HeaderPage/HeaderPage.tsx
  packages/ui/src/components/HeaderPage/types.ts
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/PasswordField/types.ts
  packages/ui/src/components/RadioGroup/types.ts
  packages/ui/src/components/SearchField/types.ts
  packages/ui/src/components/Select/types.ts
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TextField/types.ts
Labels: none
