Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

fix prettier
  microsite/docusaurus.config.ts
Labels: area:microsite

fix(catalog-graph): improve height handling in catalog graph entity card
  .changeset/purple-deer-bet.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
Labels: area:catalog

Improving code as per reviews
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

PR comments
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

frontend-plugin-api: add support for relative attachments
  .changeset/plugin-relative-extensions.md
  docs/frontend-system/architecture/20-extensions.md
  packages/frontend-internal/src/wiring/InternalExtensionDefinition.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/AppTreeApi.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
Labels: area:documentation

use array syntax
  microsite/docusaurus.config.ts
Labels: area:microsite

Fix installation command
  plugins/mui-to-bui/README.md
Labels: none

frontend-plugin-api: runtime attachTo by reference
  docs/frontend-system/architecture/20-extensions.md
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.test.ts
  packages/frontend-internal/src/wiring/InternalExtensionInput.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionInput.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
Labels: area:documentation

Don't warn when parsing storeOptions for 'memory' cache
  .changeset/short-cloths-tie.md
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
Labels: none

test
  microsite/docusaurus.config.ts
Labels: area:microsite

fix: api reference build should allow navigation
  packages/repo-tools/src/commands/package-docs/command.ts
  typedoc.json
Labels: none

add changeset
  .changeset/long-impalas-burn.md
Labels: none

better test
  microsite/docusaurus.config.ts
Labels: area:microsite

fix: explicitly mark instance metadata as a root service
  packages/backend-defaults/src/alpha/entrypoints/instanceMetadata/instanceMetadataServiceFactory.test.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
Labels: none

add changeset
  .changeset/odd-states-melt.md
Labels: none

Add support for custom TechDocs transformers
  packages/app-next/src/App.tsx
  packages/app-next/src/examples/addBannerTransformerExtension.ts
  packages/app-next/src/modules/customTechdocsTransformer.ts
  plugins/techdocs-react/src/alpha.ts
  plugins/techdocs-react/src/api.ts
  plugins/techdocs-react/src/context.tsx
  plugins/techdocs-react/src/index.ts
  plugins/techdocs-react/src/types.ts
  plugins/techdocs/src/alpha/index.tsx
  plugins/techdocs/src/reader/README.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
  plugins/techdocs/src/reader/transformers/defaults.ts
  plugins/techdocs/src/reader/transformers/index.ts
  plugins/techdocs/src/reader/transformers/onCssReady.ts
Labels: area:techdocs

fix
  docs/overview/what-is-backstage.md
  microsite/static/css/custom.css
  microsite/static/img/cncf-stacked-color.svg
  microsite/static/img/cncf-stacked-white.svg
Labels: area:documentation, area:microsite

Update team-a-group.yaml
  packages/catalog-model/examples/acme/team-a-group.yaml
Labels: area:catalog

fix: fix logviewer selection behavior
  .changeset/floppy-bobcats-serve.md
  packages/core-components/src/components/LogViewer/RealLogViewer.tsx
  packages/core-components/src/components/LogViewer/styles.ts
  packages/core-components/src/components/LogViewer/useLogViewerSelection.test.tsx
  packages/core-components/src/components/LogViewer/useLogViewerSelection.tsx
Labels: none

fix api reports
  packages/backend-plugin-api/report.api.md
  packages/backend-test-utils/report.api.md
Labels: none

feat(ui): add loading state to Button and ButtonIcon components
  .changeset/true-taxes-cover.md
  docs-ui/src/content/button-icon.mdx
  docs-ui/src/content/button-icon.props.ts
  docs-ui/src/content/button.mdx
  docs-ui/src/content/button.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/types.ts
  packages/ui/src/components/ButtonIcon/ButtonIcon.stories.tsx
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
  packages/ui/src/components/ButtonIcon/types.ts
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

feat(ui): add loading state to Button and ButtonIcon components
  .changeset/true-taxes-cover.md
  docs-ui/src/content/button-icon.mdx
  docs-ui/src/content/button-icon.props.ts
  docs-ui/src/content/button.mdx
  docs-ui/src/content/button.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/types.ts
  packages/ui/src/components/ButtonIcon/ButtonIcon.stories.tsx
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
  packages/ui/src/components/ButtonIcon/types.ts
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

fix: fix logviewer selection behavior
  packages/core-components/src/components/LogViewer/styles.ts
Labels: none

Create eventcatalog.yaml
  microsite/data/plugins/eventcatalog.yaml
Labels: area:microsite

feat(techdocs): add support for providing custom TechDocsReaderLayout via extensions
  plugins/techdocs/src/alpha/index.tsx
Labels: area:techdocs

demo test
  packages/app-next/src/App.tsx
Labels: none

even better test?
  microsite/docusaurus.config.ts
Labels: area:microsite

add ability to supply log fields in an async context
  packages/backend-defaults/src/entrypoints/httpRouter/http/createCredentialsBarrier.test.ts
  packages/backend-defaults/src/entrypoints/httpRouter/http/createCredentialsBarrier.ts
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.test.ts
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/LocalTaskWorker.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/LocalTaskWorker.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.ts
  packages/backend-plugin-api/src/services/definitions/RootLoggerService.test.ts
  packages/backend-plugin-api/src/services/definitions/RootLoggerService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-plugin-api/src/services/utilities/globals.ts
Labels: none

update readme banner to mention kubecon
  README.md
Labels: none

Deploying to gh-pages from @ backstage/backstage@315ab530cc8f5a88e58de245998ae10bbea9b3b8 🚀
  api/next/index.html
  storybook/project.json
Labels: area:storybook

tweak some of the mock services to have more precise types
  .changeset/open-cloths-listen.md
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

Update module federation packages to ^0.21.4
  packages/backend-dynamic-feature-service/package.json
  packages/cli/package.json
  packages/frontend-dynamic-feature-loader/package.json
  yarn.lock
Labels: none

frontend-plugin-api: type safe attachTo references
  docs/frontend-system/architecture/20-extensions.md
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.test.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/AppTreeApi.ts
  packages/frontend-plugin-api/src/blueprints/ApiBlueprint.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createExtensionInput.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
Labels: area:documentation

fix(docs-ui): Add missing BaseUI dependency.
  docs-ui/package.json
  docs-ui/yarn.lock
Labels: none

Revert viewbox changes and add fullScreen prop
  .changeset/real-trains-visit.md
Labels: none

Reorganize Backstage getting started documentation
  mkdocs.yml
Labels: none

fix scaffolder schema
  plugins/scaffolder-backend/src/schema/openapi.yaml
  plugins/scaffolder-backend/src/schema/openapi/generated/router.ts
Labels: area:scaffolder

fix: correct image path and format custom.css
  docs/overview/what-is-backstage.md
Labels: area:documentation

Apply suggestion from @aramissennyeydd
  microsite/docusaurus.config.ts
Labels: area:microsite

Update custom.css
  microsite/static/css/custom.css
Labels: area:microsite

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
