Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

fix(techdocs): add missing i18n support for techdocs plugin
  plugins/techdocs/src/alpha/index.tsx
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/Tables/CursorPaginatedDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/EntityListDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/OffsetPaginatedDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/actions.tsx
  plugins/techdocs/src/home/components/Tables/columns.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/techdocs/src/home/components/TechDocsPageWrapper.tsx
  plugins/techdocs/src/index.ts
  plugins/techdocs/src/reader/components/TechDocsBuildLogs.tsx
  plugins/techdocs/src/reader/components/TechDocsNotFound.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageSubheader/TechDocsReaderPageSubheader.tsx
  plugins/techdocs/src/reader/components/TechDocsRedirectNotification/TechDocsRedirectNotification.tsx
  plugins/techdocs/src/reader/components/TechDocsStateIndicator.tsx
  plugins/techdocs/src/search/components/TechDocsSearch.tsx
  plugins/techdocs/src/translation.ts
Labels: area:techdocs

adding changset
  .changeset/vast-terms-argue.md
Labels: none

feat(techdocs): Add i18n support to techdocs table and log view
  .changeset/huge-wolves-punch.md
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/src/alpha/index.tsx
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/TableColumnTitle.test.tsx
  plugins/techdocs/src/home/components/Tables/TableColumnTitle.tsx
  plugins/techdocs/src/home/components/Tables/columns.tsx
  plugins/techdocs/src/home/components/TechDocsPageWrapper.tsx
  plugins/techdocs/src/reader/components/TechDocsBuildLogs.tsx
  plugins/techdocs/src/translation.ts
Labels: area:techdocs

fix(api-docs): Add i18n support for Raw tab title and an error message
  .changeset/afraid-trees-show.md
  plugins/api-docs/report-alpha.api.md
  plugins/api-docs/src/components/ApiDefinitionCard/ApiDefinitionCard.tsx
  plugins/api-docs/src/components/ApiDefinitionDialog/ApiDefinitionDialog.tsx
  plugins/api-docs/src/translation.ts
Labels: none

fix(catalog-graph): fix zoom out description (replace &amp; with &)
  .changeset/chatty-sides-wear.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-graph/src/translation.ts
Labels: area:catalog

Add graphic files for updating a component
  docs/assets/uiguide/component-name-updated.png
  docs/assets/uiguide/select-edit-icon-for-component.png
  docs/assets/uiguide/tutorial-catalog-info-yaml-file.png
  docs/assets/uiguide/updated-component-name-in-ui.png
Labels: area:documentation

Add update a component
  docs/getting-started/update-a-component.md
Labels: area:documentation

Add link for updating a component in documentation
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Add themeName prop
  .changeset/slick-books-sleep.md
  packages/core-app-api/package.json
  packages/core-app-api/src/app/AppThemeProvider.tsx
  packages/test-utils/src/testUtils/appWrappers.tsx
  packages/theme/report.api.md
  packages/theme/src/unified/UnifiedThemeProvider.test.tsx
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  packages/theme/src/unified/index.ts
  yarn.lock
Labels: none

Refactor naming of proxy bootstrapping function
  packages/cli-common/report.api.md
  packages/cli-common/src/index.ts
  packages/cli-common/src/proxyBootstrap.test.ts
  packages/cli-common/src/proxyBootstrap.ts
  packages/cli/src/modules/migrate/commands/versions/bump.ts
  packages/create-app/src/lib/tasks.ts
Labels: none

PR comments
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

Remove CNCF logo from what-is-backstage.md
  docs/overview/what-is-backstage.md
Labels: area:documentation

feat: config:print using saved schema
  .changeset/small-phones-say.md
  packages/cli/src/modules/config/commands/print.ts
  packages/cli/src/modules/config/index.ts
  packages/cli/src/modules/config/lib/config.ts
Labels: none

scripts/verify-links: add support for verifying links to new API reference
  scripts/verify-links.js
Labels: none

Deploying to gh-pages from @ backstage/backstage@dafd1a0e8f267444ba99aca6cb6e837d6cc0ce4d 🚀
  storybook/project.json
Labels: area:storybook

Add `version` to mock user credentials
  packages/backend-test-utils/src/services/mockCredentials.ts
Labels: none

correct method spelling; neutralize parameter name; skip redundant filtering
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

Added RegExp pattern support for GitLab catalog file discovery
  .changeset/shaggy-weeks-act.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/report.api.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: area:catalog, area:documentation

Update plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

catalog-backend-module-gitlab Config += entityFilePattern
  plugins/catalog-backend-module-gitlab/config.d.ts
Labels: area:catalog

Fix all current docs quality script warnings
  .changeset/eighty-mails-leave.md
  .changeset/heavy-cars-wash.md
  .changeset/warm-carrots-lead.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  contrib/docs/tutorials/heroku-deployment.md
  docs/api/deprecations.md
  plugins/home/README.md
Labels: area:documentation, area:home, area:search

chore: apply revision
  .changeset/fruity-rivers-arrive.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

feat(docs-ui): add automated changelog sync from @backstage/ui
  docs-ui/README.md
  docs-ui/package.json
  docs-ui/scripts/sync-changelog.mjs
  docs-ui/src/components/Changelog/index.tsx
  docs-ui/src/components/ChangelogComponent/index.tsx
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.2.0.ts
  docs-ui/src/utils/changelogs/v0.3.0.ts
  docs-ui/src/utils/changelogs/v0.4.0.ts
  docs-ui/src/utils/changelogs/v0.5.0.ts
  docs-ui/src/utils/changelogs/v0.6.0.ts
  docs-ui/src/utils/types.ts
  docs-ui/yarn.lock
  packages/ui/README.md
Labels: none

chore(docs-ui): sync changelogs for @backstage/ui v0.1.0-v0.8.2
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.1.0.ts
  docs-ui/src/utils/changelogs/v0.2.1.ts
  docs-ui/src/utils/changelogs/v0.3.2.ts
  docs-ui/src/utils/changelogs/v0.7.0.ts
  docs-ui/src/utils/changelogs/v0.7.1.ts
  docs-ui/src/utils/changelogs/v0.7.2.ts
  docs-ui/src/utils/changelogs/v0.8.0.ts
  docs-ui/src/utils/changelogs/v0.8.2.ts
Labels: none

Replace package aws-sdk/signature-v4 with smithy
  .changeset/gentle-trains-juggle.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.test.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.ts
  yarn.lock
Labels: area:kubernetes

refactor(ui): rename ComponentDefinition to LegacyComponentDefinition
  packages/ui/src/components/Accordion/definition.ts
  packages/ui/src/components/Avatar/definition.ts
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/components/ButtonIcon/definition.ts
  packages/ui/src/components/ButtonLink/definition.ts
  packages/ui/src/components/Card/definition.ts
  packages/ui/src/components/Checkbox/definition.ts
  packages/ui/src/components/Container/definition.ts
  packages/ui/src/components/Dialog/definition.ts
  packages/ui/src/components/FieldError/definition.ts
  packages/ui/src/components/FieldLabel/definition.ts
  packages/ui/src/components/Flex/definition.ts
  packages/ui/src/components/Grid/definition.ts
  packages/ui/src/components/Header/definition.ts
  packages/ui/src/components/HeaderPage/definition.ts
  packages/ui/src/components/Link/definition.ts
  packages/ui/src/components/Menu/definition.ts
  packages/ui/src/components/PasswordField/definition.ts
  packages/ui/src/components/Popover/definition.ts
  packages/ui/src/components/RadioGroup/definition.ts
  packages/ui/src/components/SearchField/definition.ts
  packages/ui/src/components/Select/definition.ts
  packages/ui/src/components/Skeleton/definition.ts
  packages/ui/src/components/Switch/definition.ts
  packages/ui/src/components/Table/definition.ts
  packages/ui/src/components/TablePagination/definition.ts
  packages/ui/src/components/Tabs/definition.ts
  packages/ui/src/components/TagGroup/definition.ts
  packages/ui/src/components/Text/definition.ts
  packages/ui/src/components/TextField/definition.ts
  packages/ui/src/components/Tooltip/definition.ts
  packages/ui/src/components/VisuallyHidden/definition.ts
  packages/ui/src/hooks/useStyles.ts
  packages/ui/src/types.ts
Labels: none

fix: update owner picker to use lower case before filtering dropdown
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
Labels: area:catalog

Add new catalog search file
  docs/getting-started/search-catalog.md
Labels: area:documentation

Add graphic files for catalog search
  docs/assets/uiguide/catalog-search-options.png
  docs/assets/uiguide/search-by-name.png
Labels: area:documentation

fix formatting issue
  docs/getting-started/search-catalog.md
Labels: area:documentation

Refactor sidebar to include component management section
  microsite/sidebars.ts
Labels: area:microsite

catalog-import: authorize catalog.entity.create permission in page extension
  plugins/catalog-import/package.json
  plugins/catalog-import/src/alpha.tsx
  yarn.lock
Labels: area:catalog

Refactor component management section in mkdocs.yml
  mkdocs.yml
Labels: none

fix: making the github urls case insensitive
  .changeset/kind-hoops-double.md
  packages/integration/src/github/GithubIntegration.test.ts
  packages/integration/src/github/GithubIntegration.ts
Labels: none

test: added unit test to verify input populated drop down
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
Labels: area:catalog

chore: add changeset
  .changeset/great-files-shave.md
Labels: none

feat: add cursor testing rules
  .cursor/rules/tests/backend-test-utils.mdc
  .cursor/rules/tests/test-utils.mdc
Labels: none

docs: made the changeset past tense
  .changeset/kind-hoops-double.md
Labels: none

fix(catalog): fix unstable keys
  .changeset/early-berries-bet.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

Update Apps and reports
  packages/app-defaults/src/defaults/themes.tsx
  packages/core-app-api/src/app/AppThemeProvider.tsx
  packages/core-components/report-alpha.api.md
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/scaffolder/report-alpha.api.md
Labels: area:scaffolder

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
