Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

only update workflow
  .github/workflows/api-breaking-changes.yml
  packages/repo-tools/src/commands/repo/schema/openapi/diff.ts
Labels: none

fix(homepage): prevent duplicate widget additions and add empty state in add widget dialog
  .changeset/wise-bees-worry.md
  plugins/home/src/components/CustomHomepage/AddWidgetDialog.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/translation.ts
Labels: area:home, area:search

update api reports
  plugins/home/report-alpha.api.md
Labels: area:home, area:search

add prop and config to control the prevent duplicate widgets
  plugins/home/README.md
  plugins/home/config.d.ts
  plugins/home/report.api.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/components/CustomHomepage/types.ts
Labels: area:home, area:search

fixup
  plugins/api-docs/src/components/OpenApiDefinitionWidget/OpenApiDefinition.test.tsx
  plugins/api-docs/src/components/OpenApiDefinitionWidget/OpenApiDefinitionWidget.tsx
Labels: none

test change
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

add breaking change
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

revert schema changes
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

fixup
  plugins/catalog/src/alpha/pages.test.tsx
  plugins/org-react/src/components/GroupListPicker/GroupListPicker.test.tsx
  yarn.lock
Labels: area:catalog

feat: code review comments
  .changeset/action-filtering-feature.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.test.ts
Labels: none

fix(api-breaking-changes): add better comment identifier (#32268)
  .github/workflows/api-breaking-changes-comment.yml
  .github/workflows/api-breaking-changes.yml
Labels: none

yarn.lock dedupe
  yarn.lock
Labels: none

Fix packaging typo
  plugins/catalog-graph-common/package.json
Labels: area:catalog

Add support for a custom entity set
  .changeset/rare-peas-wink.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

Shim Set.difference for _frontend_ code to be testable in Node 20
  packages/core-components/src/setupTests.ts
Labels: none

Unit tests in several places uses DependencyGraph, so moving shim to the real code for all tests to pass
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/setupTests.ts
Labels: none

report-alpha.api.md order mismatch
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Keep backwards compatibility and make the backend optional
  .changeset/rare-peas-wink.md
  .changeset/thirty-cycles-go.md
  plugins/catalog-graph/README.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromFrontend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useFetchMethod.ts
Labels: area:catalog

Yarn dedupe
  yarn.lock
Labels: none

Updates API reports due to DependencyGraph API change in #31480
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Moved from catalog-graph-backend into catalog-backend-module-graph
  .changeset/funny-swans-chew.md
  .changeset/rare-peas-wink.md
  .changeset/thirty-cycles-go.md
  app-config.yaml
  p/catalog-graph-backend/catalog-info.yaml
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/catalog-backend-module-graph/.eslintrc.js
  plugins/catalog-backend-module-graph/README.md
  plugins/catalog-backend-module-graph/catalog-info.yaml
  plugins/catalog-backend-module-graph/config.d.ts
  plugins/catalog-backend-module-graph/dev/index.ts
  plugins/catalog-backend-module-graph/package.json
  plugins/catalog-backend-module-graph/report.api.md
  plugins/catalog-backend-module-graph/src/GraphModule.test.ts
  plugins/catalog-backend-module-graph/src/GraphModule.ts
  plugins/catalog-backend-module-graph/src/index.ts
  plugins/catalog-backend-module-graph/src/plugin.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/DefaultGraphService.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/GraphService.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/index.ts
  plugins/catalog-backend-module-graph/src/setupTests.ts
  plugins/catalog-graph-backend/README.md
  plugins/catalog-graph-backend/src/router.ts
  plugins/catalog-graph-common/package.json
  plugins/catalog-graph/package.json
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useFetchMethod.ts
  yarn.lock
Labels: area:catalog

Using catalog-graph queryEntities formats for "fields" and "filter"
  plugins/catalog-backend-module-graph/package.json
  plugins/catalog-backend-module-graph/src/GraphModule.test.ts
  plugins/catalog-backend-module-graph/src/GraphModule.ts
  plugins/catalog-backend-module-graph/src/lib/array.ts
  plugins/catalog-backend-module-graph/src/lib/request.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/DefaultGraphService.ts
  plugins/catalog-graph-common/package.json
  plugins/catalog-graph-common/report.api.md
  plugins/catalog-graph-common/src/api.ts
  plugins/catalog-graph-common/src/index.ts
  plugins/catalog-graph/package.json
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-graph/src/api/CatalogGraphApi.ts
  plugins/catalog-graph/src/api/DefaultCatalogGraphApi.test.ts
  plugins/catalog-graph/src/api/DefaultCatalogGraphApi.ts
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.tsx
  plugins/catalog-graph/src/plugin.ts
  yarn.lock
Labels: area:catalog

yarn dedupe
  yarn.lock
Labels: none

update documentation and removed widget fallback values
  .changeset/wise-bees-worry.md
  plugins/home/config.d.ts
  plugins/home/report-alpha.api.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Labels: area:home, area:search

fix(techdocs): Improve sidebar position, scroll
  .changeset/slimy-dots-sing.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

remove compatWrapper
  packages/app-next/src/App.tsx
  plugins/catalog-unprocessed-entities/src/alpha/devToolsRoute.tsx
Labels: area:catalog

Change pluginID from `app` to `catalog-unprocessed-entities` and disable tab by default
  packages/app-next/app-config.yaml
  packages/app-next/src/App.tsx
  plugins/catalog-unprocessed-entities/README.md
  plugins/catalog-unprocessed-entities/src/alpha/devToolsContent.tsx
  plugins/catalog-unprocessed-entities/src/alpha/index.ts
  plugins/devtools-react/src/index.ts
  plugins/devtools/README.md
Labels: area:catalog

feat: add customization options to NavItemBlueprint
  packages/app-next/src/modules/appModuleNav.tsx
  packages/frontend-plugin-api/src/blueprints/NavContentBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavContentBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/index.ts
  plugins/app/src/extensions/AppNav/AppNav.tsx
  plugins/app/src/extensions/AppNav/DefaultNavContent.test.tsx
  plugins/app/src/extensions/AppNav/DefaultNavContent.tsx
  plugins/app/src/extensions/index.ts
Labels: none

chore: add vitest as optional peer dependency
  package.json
  packages/cli/package.json
  yarn.lock
Labels: none

feat(cli): add --experimental-vitest flag to package test command
  packages/cli/src/modules/test/index.ts
Labels: none

feat(cli): add vitest runner module
  packages/cli/src/modules/test/commands/package/runVitest.ts
Labels: none

feat(cli): wire up vitest runner to --experimental-vitest flag
  packages/cli/src/modules/test/commands/package/test.ts
Labels: none

fix(cli): add Jest compatibility layer for Vitest
  packages/cli/config/vitestSetup.js
  packages/cli/src/modules/test/commands/package/runVitest.ts
  packages/cli/src/modules/test/commands/package/test.ts
Labels: none

feat(cli): add forks pool option for Vitest
  packages/cli/src/modules/test/commands/package/runVitest.ts
Labels: none

clean up the postgres config loader code
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

seeing if changing from .svg to .png clears some errors in the microsite build job
  docs/assets/frontend-system/architecture-app.drawio.png
  docs/assets/frontend-system/architecture-app.drawio.svg
  docs/assets/frontend-system/architecture-building-blocks.drawio.png
  docs/assets/frontend-system/architecture-building-blocks.drawio.svg
  docs/assets/frontend-system/architecture-extension.drawio.png
  docs/assets/frontend-system/architecture-extension.drawio.svg
  docs/assets/frontend-system/architecture-utility-apis.drawio.png
  docs/assets/frontend-system/architecture-utility-apis.drawio.svg
Labels: area:documentation

fix relative paths
  docs/frontend-system/architecture/00-index.md
  docs/frontend-system/architecture/10-app.md
  docs/frontend-system/architecture/20-extensions.md
  docs/frontend-system/architecture/33-utility-apis.md
Labels: area:documentation

refactor: implement proper typing
  packages/app-next/src/App.tsx
  packages/app-next/src/modules/appModuleNav.tsx
  packages/frontend-plugin-api/src/blueprints/NavContentBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavContentBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/index.ts
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  plugins/app/src/extensions/AppNav/AppNav.tsx
  plugins/app/src/extensions/AppNav/DefaultNavContent.test.tsx
  plugins/app/src/extensions/AppNav/DefaultNavContent.tsx
Labels: none

update other .svg to .png
  docs/assets/backend-system/architecture-building-blocks.drawio.png
  docs/assets/backend-system/architecture-building-blocks.drawio.svg
  docs/assets/backend-system/scaled-deployments.drawio.png
  docs/assets/backend-system/scaled-deployments.drawio.svg
  docs/backend-system/architecture/01-index.md
  docs/backend-system/building-backends/01-index.md
Labels: area:documentation

chore: should always exclude
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.test.ts
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
