Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Add a CLI arguments to enable module federation ... ...and optionally configure shared dependencies.
  packages/cli/cli-report.md
  packages/cli/src/modules/build/commands/package/build/command.ts
  packages/cli/src/modules/build/index.ts
  packages/cli/src/modules/build/lib/bundler/moduleFederation.ts
Labels: none

Add changeset
  .changeset/small-ravens-add.md
Labels: none

Add and update documentation
  docs/frontend-system/building-apps/07-module-federation.md
  docs/tooling/cli/02-build-system.md
  docs/tooling/cli/03-commands.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

Update backend-dynamic-feature-service README to reflect current state
  packages/backend-dynamic-feature-service/README.md
Labels: none

Uploaded viewing-catalog.md to fix prettier errors
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Fix prettier errors in viewing-catalog.md
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Add unregister/delete component documentation link
  mkdocs.yml
Labels: none

chore: update openapi-generator-cli version to 7.17.0 and fix licenseInfo.mustache formatting
  packages/repo-tools/openapitools.json
  packages/repo-tools/templates/typescript-backstage-server/licenseInfo.mustache
Labels: none

chore: added changeset
  .changeset/sour-taxes-boil.md
Labels: none

feat: add AI Use Policy and Guidelines
  .cursor/rules/general.mdc
  CONTRIBUTING.md
Labels: none

chore: upgrade jsdom to v27 and Jest to v30
  .changeset/eight-things-attack.md
  package.json
  packages/cli/cli-report.md
  packages/cli/package.json
  packages/config-loader/src/schema/collect.test.ts
  packages/config-loader/src/schema/collect.ts
  packages/core-app-api/src/apis/implementations/IdentityApi/AppIdentityProxy.test.ts
  packages/core-app-api/src/apis/implementations/IdentityApi/AppIdentityProxy.ts
  packages/core-app-api/src/apis/system/ApiProvider.test.tsx
  packages/core-app-api/src/app/AppManager.test.tsx
  packages/core-compat-api/src/convertLegacyApp.test.tsx
  packages/core-components/src/components/Link/Link.test.tsx
  packages/core-components/src/components/TabbedLayout/TabbedLayout.test.tsx
  packages/core-components/src/components/Table/Table.test.tsx
  packages/core-components/src/layout/ErrorBoundary/ErrorBoundary.test.tsx
  packages/core-components/src/layout/Sidebar/Items.test.tsx
  packages/core-plugin-api/src/extensions/extensions.test.tsx
  packages/frontend-plugin-api/src/components/AppNodeProvider.test.tsx
  packages/techdocs-cli-embedded-app/src/LiveReloadAddon.test.tsx
  packages/techdocs-cli-embedded-app/src/LiveReloadAddon.tsx
  packages/test-utils/src/testUtils/appWrappers.test.tsx
  plugins/catalog-backend-module-gcp/src/providers/__snapshots__/GkeEntityProvider.test.ts.snap
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/response/write.test.ts
  plugins/catalog-react/src/components/UserListPicker/useAllEntitiesCount.test.tsx
  plugins/kubernetes-backend/src/cluster-locator/__snapshots__/CatalogClusterLocator.test.ts.snap
  plugins/kubernetes-react/src/api/formatters/HeadlampClusterLinksFormatter.test.ts
  plugins/permission-backend/src/service/PermissionIntegrationClient.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/components/fields/VirtualizedListbox.test.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.test.tsx
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.test.ts
  yarn.lock
Labels: area:catalog, area:kubernetes, area:permission, area:search, area:scaffolder, area:techdocs

fix(catalog): fix flaky context menu test race condition
  plugins/catalog/src/alpha/pages.test.tsx
Labels: area:catalog

chore: migrate config-loader and events-node tests to MSW v2
  packages/config-loader/package.json
  packages/config-loader/src/loader.test.ts
  packages/config-loader/src/sources/RemoteConfigSource.test.ts
  plugins/events-node/package.json
  plugins/events-node/src/api/DefaultEventsService.test.ts
  yarn.lock
Labels: area:events

WIP2: introduce UI component hooks.
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/hooks/helpers.ts
  packages/ui/src/hooks/useClassNames.ts
  packages/ui/src/hooks/useComponentDefinition.ts
  packages/ui/src/hooks/useComponentProps.ts
  packages/ui/src/hooks/useDataAttributes.ts
  packages/ui/src/hooks/useUtilityStyles.ts
  packages/ui/src/utils/utilityClassMap.ts
Labels: none

Remove trivial deps
  plugins/kubernetes-backend/src/service/KubernetesRouter.ts
  plugins/kubernetes-node/report.api.md
  plugins/kubernetes-node/src/extensions.ts
Labels: area:kubernetes

added logs to TemplateFormPreviewer
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPreviewer.tsx
Labels: area:scaffolder

fixup
  .changeset/nice-humans-cry.md
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
Labels: area:scaffolder

fix(auth): update cookie deletion logic for chunked cookies
  .changeset/sour-bats-press.md
  plugins/auth-node/src/oauth/OAuthCookieManager.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
Labels: area:auth

fix prettier
  docs/getting-started/search-catalog.md
  docs/getting-started/unregister-delete-component.md
  docs/getting-started/update-a-component.md
  docs/getting-started/view-what-you-own.md
  docs/getting-started/viewing-catalog.md
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

add newline to client license info
  packages/repo-tools/templates/typescript-backstage-client/licenseInfo.mustache
Labels: none

feat: add generated index pages for all sidebar items
  microsite/sidebars.ts
Labels: area:microsite

Use a versioned context for `useEntityList`
  .changeset/green-lizards-boil.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/deprecated.tsx
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/testUtils/MockEntityListContextProvider.tsx
Labels: area:catalog

fix prettier
  microsite/sidebars.ts
Labels: area:microsite

initial script
  package.json
  scripts/plugin-directory-audit.js
  yarn.lock
Labels: none

docs - New Frontend System - Add missing `--next` flag
  docs/frontend-system/building-apps/01-index.md
Labels: area:documentation

add MCP tools for register/unregister catalog entities
  .changeset/nine-symbols-shout.md
  plugins/catalog-backend/src/actions/createRegisterCatalogEntitiesAction.test.ts
  plugins/catalog-backend/src/actions/createRegisterCatalogEntitiesAction.ts
  plugins/catalog-backend/src/actions/createUnregisterCatalogEntitiesAction.test.ts
  plugins/catalog-backend/src/actions/createUnregisterCatalogEntitiesAction.ts
  plugins/catalog-backend/src/actions/index.ts
Labels: area:catalog

docs - New Frontend System - Add missing `--next` flag (#32041)
  docs/frontend-system/building-apps/01-index.md
Labels: area:documentation

use storageApi for app lanaguge and theme settings
  .changeset/brown-plants-hunt.md
  packages/core-app-api/report.api.md
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.test.ts
  packages/core-app-api/src/apis/implementations/TranslationApi/I18nextTranslationApi.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  packages/frontend-plugin-api/src/translation/useTranslationRef.test.tsx
  plugins/app/package.json
  plugins/app/src/apis/DefaultAppLanguageSelector.ts
  plugins/app/src/apis/DefaultAppThemeSelector.ts
  plugins/app/src/extensions/AppLanguageApi.ts
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/user-settings/src/components/General/UserSettingsThemeToggle.test.tsx
  yarn.lock
Labels: none

simplify observable implementation
  packages/core-app-api/report.api.md
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.ts
  packages/core-app-api/src/apis/implementations/TranslationApi/I18nextTranslationApi.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  plugins/app/src/apis/DefaultAppLanguageSelector.ts
  plugins/app/src/apis/DefaultAppThemeSelector.ts
  plugins/app/src/extensions/AppLanguageApi.ts
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/user-settings/src/components/General/UserSettingsThemeToggle.test.tsx
Labels: none

frontend-plugin-api: new error boundary API option + boundary for app root elements
  .changeset/alert-api-replay.md
  .changeset/error-boundary-api.md
  packages/core-app-api/src/apis/implementations/AlertApi/AlertApiForwarder.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/AppRootElementBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/AppRootElementBlueprint.tsx
  packages/frontend-plugin-api/src/components/ErrorApiBoundary.tsx
  packages/frontend-plugin-api/src/components/ErrorDisplayBoundary.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
Labels: none

Improve styles + TablePagination structure
  packages/ui/src/components/Table2/Table.module.css
  packages/ui/src/components/Table2/Table.tsx
  packages/ui/src/components/Table2/components/Cell.tsx
  packages/ui/src/components/Table2/components/CellProfile.tsx
  packages/ui/src/components/Table2/components/CellText.tsx
  packages/ui/src/components/Table2/components/Column.tsx
  packages/ui/src/components/Table2/components/Row.tsx
  packages/ui/src/components/Table2/components/TableBody.tsx
  packages/ui/src/components/Table2/components/TableHeader.tsx
  packages/ui/src/components/Table2/components/TableRoot.tsx
  packages/ui/src/components/Table2/components/index.ts
  packages/ui/src/components/Table2/definition.ts
  packages/ui/src/components/Table2/index.ts
  packages/ui/src/components/Table2/types.ts
  packages/ui/src/components/TablePagination2/TablePagination.tsx
  packages/ui/src/components/TablePagination2/TablePaginationOffset.stories.tsx
  packages/ui/src/components/TablePagination2/TablePaginationOffset.tsx
  packages/ui/src/components/TablePagination2/types.ts
Labels: none

Plugins - Added plugin directory audit script
  microsite/data/plugins/airbrake.yaml
  microsite/data/plugins/analytics-module-ga.yaml
  microsite/data/plugins/apollo-explorer.yaml
  microsite/data/plugins/aws-amazon-ecs.yaml
  microsite/data/plugins/aws-codebuild.yaml
  microsite/data/plugins/aws-codepipeline.yaml
  microsite/data/plugins/azure-pipelines.yaml
  microsite/data/plugins/badges.yaml
  microsite/data/plugins/bazaar.yaml
  microsite/data/plugins/bitrise.yaml
  microsite/data/plugins/digital.ai-deploy.yaml
  microsite/data/plugins/firehydrant.yaml
  microsite/data/plugins/fossa.yaml
  microsite/data/plugins/kubernetes-provider.yaml
  microsite/data/plugins/linguist.yaml
  microsite/data/plugins/octopus-deploy.yaml
  microsite/data/plugins/opencost.yaml
  microsite/data/plugins/puppetdb.yaml
  microsite/data/plugins/renovate-hoster.yaml
  microsite/data/plugins/shortcuts.yaml
  microsite/data/plugins/sonarqube.yaml
  microsite/data/plugins/stack-overflow.yaml
  microsite/data/plugins/template-designer.yaml
  microsite/data/plugins/torque.yaml
  microsite/data/plugins/xcmetrics.yaml
  scripts/plugin-directory-audit.js
Labels: area:microsite

Remove comments
  scripts/plugin-directory-audit.js
Labels: none

Updated log statement
  scripts/plugin-directory-audit.js
Labels: none

initial script
  microsite/data/plugins/airbrake.yaml
  microsite/data/plugins/analytics-module-ga.yaml
  microsite/data/plugins/apollo-explorer.yaml
  microsite/data/plugins/aws-amazon-ecs.yaml
  microsite/data/plugins/aws-codebuild.yaml
  microsite/data/plugins/aws-codepipeline.yaml
  microsite/data/plugins/azure-pipelines.yaml
  microsite/data/plugins/badges.yaml
  microsite/data/plugins/bazaar.yaml
  microsite/data/plugins/bitrise.yaml
  microsite/data/plugins/digital.ai-deploy.yaml
  microsite/data/plugins/firehydrant.yaml
  microsite/data/plugins/fossa.yaml
  microsite/data/plugins/kubernetes-provider.yaml
  microsite/data/plugins/linguist.yaml
  microsite/data/plugins/octopus-deploy.yaml
  microsite/data/plugins/opencost.yaml
  microsite/data/plugins/puppetdb.yaml
  microsite/data/plugins/renovate-hoster.yaml
  microsite/data/plugins/shortcuts.yaml
  microsite/data/plugins/sonarqube.yaml
  microsite/data/plugins/stack-overflow.yaml
  microsite/data/plugins/template-designer.yaml
  microsite/data/plugins/torque.yaml
  microsite/data/plugins/xcmetrics.yaml
  package.json
  scripts/plugin-directory-audit.js
  yarn.lock
Labels: area:microsite

Added line break
  microsite/data/plugins/template-designer.yaml
Labels: area:microsite

Move catalog table to Backstage UI
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableBase.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableHeader.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
  plugins/catalog/src/components/CatalogTable/useTableSorting.ts
  plugins/catalog/src/components/CatalogTable/utils.ts
Labels: area:catalog

Fix tests and bring back actions
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableBase.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

Import libraries
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

Fix tests on CatalogPage & CatalogTable
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/renderCell.tsx
Labels: area:catalog

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
