Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

chore: migrate audit events docs to docsite (#32143)
  .changeset/rotten-paths-pump.md
  .changeset/yellow-ties-dream.md
  docs/features/software-catalog/audit-events.md
  docs/features/software-templates/audit-events.md
  microsite/sidebars.ts
  plugins/catalog-backend/README.md
  plugins/scaffolder-backend/README.md
Labels: area:catalog, area:documentation, area:microsite, area:scaffolder

chore: update devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  contrib/.devcontainer/README.md
  contrib/.devcontainer/devcontainer.json
  contrib/.devcontainer/postCreate.sh
  package.json
  yarn.lock
Labels: none

fix(ui): Fix nested Accordion icon state issue
  .changeset/fix-nested-accordion-icon-state.md
  one
  packages/ui/src/components/Accordion/Accordion.module.css
Labels: none

refactor(client): :recycle: update queryEntities to support query payload
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/utils.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/util.ts
Labels: area:catalog

refactor(api): ✨ regenerate OpenAPI models for updated predicate-based endpoint
  packages/catalog-client/src/schema/openapi/generated/apis/Api.client.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicate.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicateAll.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicateAny.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicateExists.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicateIn.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicateInInInner.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicateNot.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/EntityPredicateValue.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/QueryEntitiesByPredicate200Response.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/QueryEntitiesByPredicate200ResponsePageInfo.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/QueryEntitiesByPredicateRequest.model.ts
  packages/catalog-client/src/schema/openapi/generated/models/index.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/types/index.ts
  packages/catalog-client/src/types/predicate.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/apis/Api.server.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateAll.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateAny.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateExists.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateIn.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateInInInner.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateNot.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/QueryEntitiesByPredicate200Response.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/QueryEntitiesByPredicate200ResponsePageInfo.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/QueryEntitiesByPredicateRequest.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/index.ts
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

chore: :memo: add changeset for predicate-based entity querying
  .changeset/social-dots-wait.md
  packages/catalog-client/report.api.md
  plugins/catalog-node/report.api.md
Labels: area:catalog

feat: support conditional rendering NFS
  packages/frontend-plugin-api/src/blueprints/ConditionalRender.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/index.ts
  packages/frontend-plugin-api/src/blueprints/types.ts
Labels: none

rework conditional render to use useAsync and remove config condition
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/src/blueprints/ConditionalRender.tsx
  packages/frontend-plugin-api/src/blueprints/helpers.ts
  yarn.lock
Labels: none

add helpers for common tasks
  packages/frontend-plugin-api/src/blueprints/helpers.ts
  packages/frontend-plugin-api/src/blueprints/index.ts
  plugins/permission-react/src/helpers.ts
  plugins/permission-react/src/index.ts
Labels: area:permission

check enabled at startup time
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.ts
  packages/frontend-app-api/src/wiring/createErrorCollector.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-defaults/src/createApp.tsx
  packages/frontend-internal/src/wiring/InternalExtensionDefinition.ts
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/src/apis/definitions/AppTreeApi.ts
  packages/frontend-plugin-api/src/blueprints/ConditionalRender.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/helpers.ts
  packages/frontend-plugin-api/src/blueprints/index.ts
  packages/frontend-plugin-api/src/blueprints/types.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  packages/frontend-test-utils/src/app/renderTestApp.tsx
  plugins/permission-react/src/helpers.ts
  plugins/search-react/src/alpha/blueprints/SearchFilterBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterResultTypeBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchResultListItemBlueprint.test.tsx
  yarn.lock
Labels: area:permission, area:search

fix new permissions page URL
  packages/app-next/src/examples/pagesPlugin.tsx
Labels: none

add tests and clean up changeset
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
Labels: none

add example pages
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
Labels: none

move into 2 execution layers, core plugins + APIs and then other user defined content
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-app-api/src/wiring/EnabledConditionsGate.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-app-api/src/wiring/index.ts
  packages/frontend-defaults/src/createApp.tsx
Labels: none

cleanup API surface and make non-async again
  packages/frontend-app-api/src/wiring/EnabledConditionsGate.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-defaults/src/createApp.tsx
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  packages/frontend-test-utils/src/app/renderTestApp.tsx
Labels: none

revert test changes and remove new dependency
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/types.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterResultTypeBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchResultListItemBlueprint.test.tsx
  yarn.lock
Labels: area:search

fix api reports
  packages/frontend-app-api/report.api.md
  packages/frontend-app-api/src/wiring/EnabledConditionsGate.tsx
  packages/frontend-plugin-api/report.api.md
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  plugins/permission-react/report.api.md
Labels: area:permission

fix api report
  packages/frontend-plugin-api/report.api.md
Labels: none

MenuItem fix in the UI
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/Menu/Menu.stories.tsx
Labels: none

Improve changelog for BUI
  docs-ui/package.json
  docs-ui/scripts/sync-changelog.mjs
  docs-ui/src/utils/types.ts
  package.json
  scripts/changeset-ui/README.md
  scripts/changeset-ui/get-valid-components.js
  scripts/changeset-ui/index.js
  scripts/changeset-ui/organize-next.js
Labels: none

Update types.ts
  docs-ui/src/utils/types.ts
Labels: none

refactor(pg-search): return numberOfResults with queries
  .changeset/lucky-masks-doubt.md
  plugins/search-backend-module-pg/report.api.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/search-backend-module-pg/src/database/types.ts
Labels: area:search

fix prettier
  packages/frontend-app-api/src/wiring/EnabledConditionsGate.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-defaults/src/createApp.tsx
Labels: none

fix snapshot tests
  packages/frontend-plugin-api/src/blueprints/AnalyticsImplementationBlueprint.test.ts
  packages/frontend-plugin-api/src/blueprints/ApiBlueprint.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendModule.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
Labels: none

add changesets and fix snapshots
  .changeset/busy-symbols-sip.md
  .changeset/nine-gifts-search.md
  packages/frontend-plugin-api/src/blueprints/AppRootElementBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/AppRootWrapperBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavContentBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/RouterBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/SignInPageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/ThemeBlueprint.test.ts
  packages/frontend-plugin-api/src/blueprints/TranslationBlueprint.test.ts
Labels: none

Update packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
Labels: none

update ids so the number isn't baked into URL
  docs/golden-path/plugins/backend/001-first-steps.md
  docs/golden-path/plugins/backend/002-poking-around.md
Labels: area:documentation

add headings for all docs
  docs/golden-path/adoption/004-first-stakeholder-feedback.md
  docs/golden-path/adoption/005-customizing-your-instance.md
  docs/golden-path/adoption/006-preparing-for-ga.md
  docs/golden-path/adoption/007-plugin-ownership.md
  docs/golden-path/adoption/008-full-catalog.md
  docs/golden-path/adoption/__meta__.md
  docs/golden-path/deployment/__meta__.md
  docs/golden-path/deployment/index.md
  docs/golden-path/plugins/__meta__.md
  docs/golden-path/plugins/backend/003-persistence.md
  docs/golden-path/plugins/backend/004-source-tracked.md
  docs/golden-path/plugins/backend/005-testing.md
  docs/golden-path/plugins/backend/__meta__.md
  docs/golden-path/plugins/backend/todo.http
  docs/golden-path/plugins/integrations/001-catalog.md
  docs/golden-path/plugins/integrations/002-search.md
  docs/golden-path/plugins/integrations/003-permissions.md
  docs/golden-path/plugins/integrations/004-notifications.md
Labels: area:documentation

add frontend plugin docs structure too
  docs/golden-path/plugins/backend/__meta__.md
  docs/golden-path/plugins/frontend/001-first-steps.md
  docs/golden-path/plugins/frontend/002-poking-around.md
  docs/golden-path/plugins/frontend/003-dynamic-config.md
  docs/golden-path/plugins/frontend/004-http-client.md
  docs/golden-path/plugins/frontend/005-testing.md
  docs/golden-path/plugins/frontend/__meta__.md
Labels: area:documentation

Apply suggestions from code review
  docs/golden-path/adoption/002-leadership-buy-in.md
  docs/golden-path/adoption/003-setting-up-a-poc.md
  docs/golden-path/plugins/backend/002-poking-around.md
Labels: area:documentation

Apply suggestions from code review
  docs/golden-path/adoption/003-setting-up-a-poc.md
  docs/golden-path/adoption/005-customizing-your-instance.md
  docs/golden-path/plugins/frontend/005-testing.md
Labels: area:documentation

fix: prevent backend server from hanging during e2e test
  packages/e2e-test/src/commands/runCommand.ts
Labels: none

add changeset
  .changeset/gold-chairs-cross.md
Labels: none

fix bad link
  docs/golden-path/adoption/001-getting-started.md
Labels: area:documentation

delete changeset
  .changeset/gold-chairs-cross.md
Labels: none

Enhance link checker configuration in workflow
  .github/workflows/verify_docs-quality.yml
Labels: none

Update .github/workflows/verify_docs-quality.yml
  .github/workflows/verify_docs-quality.yml
Labels: none

add metrics to default service factories
  packages/backend-defaults/src/CreateBackend.ts
Labels: none

use pluginid and resolve cr
  packages/backend-defaults/package.json
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/index.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  yarn.lock
Labels: area:catalog

fix(devtools): improve permission feedback in ScheduledTasksContent
  .changeset/small-jars-lick.md
  plugins/devtools/src/components/Content/ScheduledTasksContent/ScheduledTasksContent.tsx
Labels: none
