Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

fix(user-settings): improve route matching for keys containing slashes (#32382)
  .changeset/quick-states-enjoy.md
  plugins/user-settings-backend/src/service/router.test.ts
  plugins/user-settings-backend/src/service/router.ts
Labels: none

Fix Table component layout issue with title and filters
  .changeset/fix-table-layout.md
Labels: none

add changeset & api report
  .changeset/large-mirrors-invite.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
Labels: area:scaffolder

fix workflow test
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.test.tsx
Labels: area:scaffolder

feat: improve UX in the scaffolder stepper layout
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder-react/src/translation.ts
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPageContextMenu.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

add show description to spec.presentation
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder-common/report.api.md
  plugins/scaffolder-common/src/Template.v1beta3.schema.json
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
Labels: area:documentation, area:scaffolder

add constant for description preview length and do not render description if empty
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
Labels: area:scaffolder

add 2 new graphics
  docs/assets/uiguide/curve-monotone.png
  docs/assets/uiguide/curve-step-before.png
Labels: area:documentation

fix(ui): resolve circular dependency in TablePagination
  packages/ui/src/components/TablePagination/TablePagination.tsx
Labels: none

Add flexWrap to root style in Table component (#32199)
  .changeset/fix-table-layout.md
  packages/core-components/src/components/Table/Table.tsx
Labels: none

fix(search-backend-module-elasticsearch): use targeted index refresh instead of full cluster refresh
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
Labels: area:search

refactor(ui): simplify Button CSS using custom properties
  .changeset/eager-nights-cheer.md
  packages/ui/src/components/Button/Button.module.css
Labels: none

Split max-depth-1-and-infinite into two files
  docs/assets/uiguide/max-depth-1.png
  docs/assets/uiguide/max-depth-infinite.png
Labels: area:documentation

chore: add changeset for elasticsearch bulk refresh fix
  .changeset/fix-opensearch-bulk-refresh.md
Labels: none

Merge commit from fork
  .changeset/breezy-moles-sin.md
  packages/backend-plugin-api/src/paths.test.ts
  packages/backend-plugin-api/src/paths.ts
  packages/cli-common/src/isChildPath.ts
Labels: none

Merge commit from fork
  .changeset/fair-pens-wonder.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ZipArchiveResponse.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
  plugins/scaffolder-node/src/actions/fetch.test.ts
  plugins/scaffolder-node/src/actions/fetch.ts
Labels: area:scaffolder

Breaking up graphic into 4 different ones
  docs/assets/uiguide/simplify-off-merge-relations-off.png
  docs/assets/uiguide/simplify-off-merge-relations-on.png
  docs/assets/uiguide/simplify-on-merge-relations-off.png
  docs/assets/uiguide/simplify-on-merge-relations-on.png
Labels: area:documentation

Merge commit from fork
  .changeset/full-eels-flow.md
  .changeset/nice-plums-like.md
  .changeset/ninety-memes-yell.md
  packages/backend-defaults/report-urlReader.api.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
  plugins/scaffolder-node/src/actions/fetch.ts
Labels: area:scaffolder

refactor(ui): simplify Button CSS using custom properties
  .changeset/eager-nights-cheer.md
  packages/ui/src/components/Button/Button.module.css
Labels: none

Update backend-dynamic-feature-service README to reflect current state
  packages/backend-dynamic-feature-service/README.md
Labels: none

add changeset
  .changeset/yellow-years-run.md
Labels: none

implement suggestions
  packages/backend-dynamic-feature-service/README.md
Labels: none

fix failing test in master
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
Labels: area:scaffolder

fix failing test in master (#32387)
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
Labels: area:scaffolder

backend-test-utils: move reusable test failure case
  packages/backend-test-utils/src/filesystem/MockDirectory.test.ts
Labels: none

backend-test-utils: move reusable test failure case (#32388)
  packages/backend-test-utils/src/filesystem/MockDirectory.test.ts
Labels: none

Adjustments after review
  .changeset/light-meals-cover.md
  docs/features/software-catalog/catalog-customization.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/src/App.tsx
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabs.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsGroup.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog, area:documentation

update after review
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabs.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsGroup.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

update doc
  docs/features/software-catalog/catalog-customization.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
Labels: area:documentation

update the changeset to not include non-updated packages
  .changeset/light-meals-cover.md
Labels: none

Add the ability to show icons for the tabs on the entity page (new frontend)
  .changeset/light-meals-cover.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/app-config.yaml
  packages/app-next/src/App.tsx
  plugins/api-docs/report-alpha.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.ts
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityContentExtension.tsx
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabs.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsGroup.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/kubernetes/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:documentation, area:kubernetes, area:techdocs

rename `showIcons` config to `showNavItemIcons`
  docs/features/software-catalog/catalog-customization.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/app-config.yaml
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog, area:documentation

fix(useEntityListProvider): sets arrayLimit to 10000 to solve problem parsing urls with more than 20 occurences of the same query parameter key
  .changeset/big-rabbits-think.md
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

add 1.47 release notes
  docs/releases/v1.47.0.md
Labels: area:documentation

Revert "fix(create-app): pin memfs to 4.51.1 to fix e2e test failures"
  packages/create-app/seed-yarn.lock
Labels: none

Add link checker to verify_docs-quality workflow
  .github/workflows/verify_docs-quality.yml
Labels: none

Update Link Checker action to version 2.3.0
  .github/workflows/verify_docs-quality.yml
Labels: none

frontend-test-utils: fix Router deprecation warning
  .changeset/seven-states-sleep.md
  .patches/pr-32409.txt
  packages/frontend-test-utils/package.json
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  packages/frontend-test-utils/src/app/renderTestApp.tsx
  yarn.lock
Labels: none

Made changes to show correct number of favorite components
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: area:catalog

fix(techdocs): Improve sidebar position, scroll (#31483)
  .changeset/slimy-dots-sing.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
