Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:catalog, area:home, area:search, area:events, area:kubernetes, area:permission, area:scaffolder, area:techdocs, bep, auth, documentation, homepage, microsite, search, storybook

.github/labeler.yml:

area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/search/**/*
          - plugins/search-*/**/*
          - packages/search-*/**/*
          - plugins/home/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
bep:
  - changed-files:
      - any-glob-to-any-file:
          - beps/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
homepage:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
search:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/search/**/*
          - plugins/search-*/**/*
          - packages/search-*/**/*
storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*

chore: fix newline
  packages/backend-dynamic-feature-service/package.json
Labels: none

Delete WinstonLogger from backend-defaults, instead import from backend-defaults
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/index.ts
  packages/backend-app-api/src/logging/WinstonLogger.ts
  packages/backend-app-api/src/logging/index.ts
  packages/backend-common/src/deprecated/logging/createRootLogger.ts
  packages/backend-dynamic-feature-service/package.json
  packages/backend-dynamic-feature-service/src/schemas/rootLoggerServiceFactory.ts
Labels: none

Revert "refactor: remove deprecated url reader service types"
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/index.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/techdocs-node/src/helpers.test.ts
  yarn.lock
Labels: area:search, area:techdocs, search

backend-app-api: Add changeset
  .changeset/brown-mails-drum.md
Labels: none

Add changesets
  .changeset/four-singers-fetch.md
  .changeset/tidy-guests-battle.md
Labels: none

Update changets
  .changeset/four-singers-fetch.md
  .changeset/friendly-points-approve.md
Labels: none

chore: re-add package role
  packages/backend-dynamic-feature-service/package.json
Labels: none

chore: Add another package to changeset
  .changeset/four-singers-fetch.md
Labels: none

Avoid false check for broadcast emails
  .changeset/flat-guests-behave.md
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/notifications-backend/src/service/getUsersForEntityRef.ts
Labels: none

backend-test-utils: Remove deprecations
  .changeset/late-timers-sort.md
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/deprecated.ts
  packages/backend-test-utils/src/index.ts
  packages/backend-test-utils/src/next/wiring/ServiceFactoryTester.ts
Labels: none

refactor: remove deprecated url reader service types
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/index.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/techdocs-node/src/helpers.test.ts
  yarn.lock
Labels: area:search, area:techdocs, search

docs/frontend-system: initial docs for creating extension blueprints
  docs/frontend-system/architecture/23-extension-blueprints.md
Labels: documentation

Correct the TConfig type
  .changeset/curly-clouds-shave.md
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtensionDataRef.ts
Labels: none

frontend-plugin-api: renamed createPlugin to createFrontendPlugin
  .changeset/chilly-numbers-chew.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/02-creating.md
  packages/app-next-example-plugin/src/plugin.tsx
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/core-compat-api/src/collectLegacyRoutes.test.tsx
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/compatWrapper/BackwardsCompatProvider.tsx
  packages/frontend-app-api/src/routing/collectRouteIds.test.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-app-api/src/tree/createAppTree.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.ts
  packages/frontend-app-api/src/wiring/createApp.test.tsx
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-app-api/src/wiring/discovery.test.ts
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  plugins/api-docs/src/alpha.tsx
  plugins/app-visualizer/src/plugin.tsx
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog/src/alpha/plugin.tsx
  plugins/devtools/src/alpha/plugin.tsx
  plugins/home/src/alpha.tsx
  plugins/kubernetes/src/alpha/plugin.tsx
  plugins/org/src/alpha.tsx
  plugins/scaffolder/src/alpha.tsx
  plugins/search/src/alpha.tsx
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/src/alpha.tsx
Labels: area:catalog, area:home, area:search, area:kubernetes, area:scaffolder, area:techdocs, documentation, homepage, search

Update .changeset/brown-mails-drum.md
  .changeset/brown-mails-drum.md
Labels: none

Update packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
Labels: none

Update .changeset/late-timers-sort.md
  .changeset/late-timers-sort.md
Labels: none

docs: update api reports
  packages/backend-app-api/api-report.md
  packages/backend-common/api-report.md
  packages/backend-dynamic-feature-service/api-report.md
  plugins/catalog-backend-module-aws/api-report.md
  plugins/catalog-backend-module-incremental-ingestion/api-report.md
  plugins/catalog-backend-module-openapi/api-report.md
  plugins/catalog-backend/api-report.md
  plugins/scaffolder-backend-module-confluence-to-markdown/api-report.md
  plugins/scaffolder-backend-module-cookiecutter/api-report.md
  plugins/scaffolder-backend-module-rails/api-report.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-node/api-report.md
  plugins/techdocs-node/api-report.md
Labels: area:catalog, area:scaffolder, area:techdocs

init
  contrib/docker/minimal-hardened-image/Dockerfile
Labels: none

Add `steps taken` section
  contrib/docker/minimal-hardened-image/README.md
Labels: none

Update contrib/docker/minimal-hardened-image/Dockerfile
  contrib/docker/minimal-hardened-image/Dockerfile
Labels: none

change to `ADD` from `COPY` and adjust
  contrib/docker/minimal-hardened-image/Dockerfile
Labels: none

Update contrib/docker/minimal-hardened-image/Dockerfile
  contrib/docker/minimal-hardened-image/Dockerfile
Labels: none

Update contrib/docker/minimal-hardened-image/Dockerfile
  contrib/docker/minimal-hardened-image/Dockerfile
Labels: none

remove python from node builder
  contrib/docker/minimal-hardened-image/Dockerfile
Labels: none

reduce RUN cmd
  contrib/docker/minimal-hardened-image/Dockerfile
Labels: none

docs/frontend-system: fill in plugin docs
  docs/frontend-system/architecture/15-plugins.md
Labels: documentation

docs/frontend-system: add docs for how to use plugin.withOverrides
  docs/frontend-system/architecture/15-plugins.md
Labels: documentation

docs: add changeset files
  .changeset/dull-cheetahs-clap.md
  .changeset/fair-kangaroos-return.md
  .changeset/healthy-carpets-reflect.md
  .changeset/lovely-ravens-judge.md
Labels: none

feat: use a relations array instead of each individual configuration option
  .changeset/loud-singers-happen.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: area:catalog, documentation

Changing the docs for the sign-in page config from `gcpiap` to `gcpIap`. The router is case-insensitive, so they both work, but this will make everything consistent between backend and frontend.
  docs/auth/google/gcp-iap-auth.md
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.tsx
Labels: documentation

Added back `type: 'local'` to TechDocs config schema
  .changeset/modern-apes-join.md
  plugins/techdocs-backend/config.d.ts
Labels: area:techdocs

fix(events,github): fix log messages for repository events
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: area:catalog

chore(events,github): reword log message
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: area:catalog

fix(events,github): reliably extract org name
  .changeset/warm-moles-appear.md
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: area:catalog

fix(events,github): use correct repo URL
  .changeset/warm-moles-appear.md
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: area:catalog

docs/frontend-system: add initial core migration docs
  docs/frontend-system/architecture/60-migrations.md
Labels: documentation

trigger ci
  .changeset/violet-beds-promise.md
Labels: none

fix typo
  .changeset/violet-beds-promise.md
Labels: none

fix: validate notification link when posting
  .changeset/rotten-crabs-hear.md
  plugins/notifications-backend/src/plugin.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
Labels: none
