Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

fix(ui): improve dialog backdrop appearance in dark mode
  .changeset/honest-lamps-occur.md
  packages/ui/src/components/Dialog/Dialog.module.css
Labels: none

Deploying to gh-pages from @ backstage/backstage@f3c0d96813367212a5bb33f45e43a7cdba4447ea 🚀
  api/next/functions/_backstage_backend-app-api.createSpecializedBackend.html
  api/next/interfaces/_backstage_backend-app-api.Backend.html
  api/next/interfaces/_backstage_backend-app-api.CreateSpecializedBackendOptions.html
  storybook/project.json
Labels: area:storybook

updating the api report
  plugins/kubernetes-react/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
Labels: area:kubernetes

updating the tests
  plugins/kubernetes-react/src/components/Pods/ErrorList/ErrorList.test.tsx
  plugins/kubernetes-react/src/components/Pods/Events/Events.test.tsx
Labels: area:kubernetes

fix for adding origins only if channel is enabled.
  plugins/notifications-backend/src/service/router.ts
Labels: none

Update documentation for creating a component
  docs/getting-started/create-a-component.md
Labels: area:documentation

Revise component registration guide for clarity
  docs/getting-started/register-a-component.md
Labels: area:documentation

Create review-select-import.png
  docs/assets/uiguide/review-select-import.png
Labels: area:documentation

Add graphics for register a component
  docs/assets/uiguide/backstage-website-registered-catalog-view.png
  docs/assets/uiguide/details-for-registered-backstage-website.png
  docs/assets/uiguide/enter-url-of-component.png
  docs/assets/uiguide/review-select-import.png
  docs/assets/uiguide/select-register-existing-component.png
Labels: area:documentation

Added graphics for create new component
  docs/assets/uiguide/enter-name-of-new-component.png
  docs/assets/uiguide/new-tutorial-component-in-software-catalog.png
  docs/assets/uiguide/select-create-for-new-component.png
  docs/assets/uiguide/select-create-to-make-component.png
  docs/assets/uiguide/select-review-create-component.png
  docs/assets/uiguide/setup-nodejs-cat-owner.png
  docs/assets/uiguide/successful-create-new-component.png
  docs/assets/uiguide/tutorial-component-open-in-catalog.png
Labels: area:documentation

Fix image paths in create-a-component documentation
  docs/getting-started/create-a-component.md
Labels: area:documentation

Fix image filename in create-a-component.md
  docs/getting-started/create-a-component.md
Labels: area:documentation

Cropped two graphics for clarity
  docs/assets/uiguide/enter-url-of-component.png
  docs/assets/uiguide/review-select-import.png
Labels: area:documentation

Add new surfaces to Box
  .storybook/preview.tsx
  .storybook/themes/spotify.css
  docs-ui/src/app/tokens/page.mdx
  docs-ui/src/components/Snippet/styles.module.css
  docs-ui/src/snippets/code-snippets.ts
  docs/conf/user-interface/index.md
  packages/ui/css/styles.css
  packages/ui/src/components/Box/Box.module.css
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/types.ts
  packages/ui/src/components/Header/Header.module.css
  packages/ui/src/css/core.css
  packages/ui/src/css/tokens.css
  packages/ui/src/hooks/useSurface.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
Labels: area:documentation

Cleanup
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Button/Button.tsx
Labels: none

Changeset and exports
  .changeset/some-parrots-repair.md
  .changeset/tame-eggs-fetch.md
  docs-ui/public/theme-backstage.css
  docs-ui/public/theme-spotify.css
  packages/ui/css/styles.css
  packages/ui/report.api.md
  packages/ui/src/index.ts
Labels: none

Add on prop on Button
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/types.ts
  packages/ui/src/components/Flex/Flex.module.css
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Flex/types.ts
  packages/ui/src/hooks/useSurface.tsx
Labels: none

Update report.api.md
  packages/ui/report.api.md
Labels: none

Update Button.module.css
  packages/ui/src/components/Button/Button.module.css
Labels: none

Update convertMuiToBuiTheme.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
Labels: none

Add support for bg on Grid
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Grid/Grid.module.css
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Grid/types.ts
  packages/ui/src/hooks/useStyles.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Update Avatar.tsx
  packages/ui/src/components/Avatar/Avatar.tsx
Labels: none

fix: add missing i18n support for catalog react plugin
  .changeset/eleven-lights-taste.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/components/EntityPeekAheadPopover/CardActionComponents/EmailCardAction.tsx
  plugins/catalog-react/src/components/EntityPeekAheadPopover/CardActionComponents/EntityCardActions.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/InspectEntityDialog.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/AncestryPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/ColocatedPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/OverviewPage.tsx
  plugins/catalog-react/src/components/MissingAnnotationEmptyState/MissingAnnotationEmptyState.tsx
  plugins/catalog-react/src/translation.ts
Labels: area:catalog

api report fix
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/components/InspectEntityDialog/InspectEntityDialog.tsx
Labels: area:catalog

api report fix
  plugins/catalog-react/report-alpha.api.md
Labels: area:catalog

api report fix
  plugins/catalog-react/report-alpha.api.md
Labels: area:catalog

Update backend plugin tutorial to refer to /todos endpoint instead of /health
  docs/plugins/backend-plugin.md
Labels: area:documentation

Json fixxxxx
  docs/plugins/backend-plugin.md
Labels: area:documentation

fix(ui): enable Table Row href to open in new tabs
  .changeset/warm-carrots-lead.md
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

fix(ui): enable Table Row href to open in new tabs
  .changeset/warm-carrots-lead.md
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

feat(search): add actions to query search engine
  .changeset/fluffy-brooms-sniff.md
  app-config.yaml
  plugins/search-backend/src/actions/createQueryAction.test.ts
  plugins/search-backend/src/actions/createQueryAction.ts
  plugins/search-backend/src/actions/index.ts
  plugins/search-backend/src/plugin.ts
  plugins/search-backend/src/service/router.ts
Labels: area:search

feat(ui): add searchable and multiple selection support to Select component
  .changeset/wicked-cycles-enter.md
  docs-ui/src/content/select.mdx
  docs-ui/src/content/select.props.ts
  packages/ui/report.api.md
  packages/ui/src/components/Select/Select.module.css
  packages/ui/src/components/Select/Select.stories.tsx
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/components/Select/SelectContent.tsx
  packages/ui/src/components/Select/SelectListBox.tsx
  packages/ui/src/components/Select/SelectTrigger.tsx
  packages/ui/src/components/Select/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

chore(ui): remove Base UI Components dependency
  .changeset/polite-eggs-dance.md
  packages/ui/package.json
  yarn.lock
Labels: none

Update tokens
  .storybook/themes/spotify.css
  docs-ui/public/theme-backstage.css
  docs-ui/public/theme-spotify.css
  packages/ui/css/styles.css
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/css/tokens.css
Labels: none

Fix default background
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
Labels: none

Update tame-eggs-fetch.md
  .changeset/tame-eggs-fetch.md
Labels: none

use semver check
  microsite/docusaurus.config.ts
  microsite/package.json
  microsite/yarn.lock
Labels: area:microsite

refactor(ui): adopt flexbox positioning pattern for input components
  .changeset/fast-tables-sink.md
  packages/ui/report.api.md
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/PasswordField/PasswordField.module.css
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/SearchField/SearchField.module.css
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

refactor(ui): adopt flexbox positioning pattern for input components
  .changeset/fast-tables-sink.md
  packages/ui/report.api.md
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/PasswordField/PasswordField.module.css
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/SearchField/SearchField.module.css
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Style updates
  .storybook/themes/spotify.css
  docs-ui/public/theme-backstage.css
  docs-ui/public/theme-spotify.css
  packages/ui/css/styles.css
  packages/ui/report.api.md
  packages/ui/src/components/Box/Box.module.css
  packages/ui/src/components/Box/Box.stories.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/types.ts
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/types.ts
  packages/ui/src/components/Flex/Flex.module.css
  packages/ui/src/components/Flex/Flex.stories.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Flex/types.ts
  packages/ui/src/components/Grid/Grid.module.css
  packages/ui/src/components/Grid/Grid.stories.tsx
  packages/ui/src/components/Grid/Grid.tsx
  packages/ui/src/components/Grid/types.ts
  packages/ui/src/css/tokens.css
  packages/ui/src/hooks/useSurface.tsx
  packages/ui/src/index.ts
  packages/ui/src/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
