Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:catalog, area:home, area:search, area:events, area:kubernetes, area:permission, area:scaffolder, area:techdocs, bep, auth, documentation, homepage, microsite, search, storybook

Add ability to override theme options for the TechDocsReaderPage. (#25956)
  .changeset/healthy-fireants-jump.md
  plugins/techdocs/api-report.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
Labels: area:techdocs

chore(scaffolder): fix unit tests
  plugins/scaffolder-backend/api-report-alpha.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/rules.ts
  plugins/scaffolder-common/api-report-alpha.md
  plugins/scaffolder/src/components/OngoingTask/ContextMenu.tsx
Labels: area:scaffolder

chore(scaffolder): add new unit tests for granular permissions
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder/src/components/ListTasksPage/ListTaskPage.test.tsx
Labels: area:scaffolder

frontend-plugin-api: initial support for blueprint input overrides
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

frontend-plugin-api: validate input override values
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

frontend-plugin-api: validate blueprint original factory output
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

frontend-plugin-api: refactor out blueprint input overrides
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

frontend-app-api: fix for input extension data containers not being iterable at runtime
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
Labels: none

frontend-plugin-api: add support for overriding input values when overriding extensions
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

frontend-plugin-api: clean up error messages for input overrides
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

Update .changeset/five-mangos-agree.md
  .changeset/five-mangos-agree.md
Labels: none

fix: add link to mui docs + fix typo in changeset
  .changeset/perfect-cars-jam.md
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Labels: area:scaffolder

fix: add correct link to mui docs for Virtualization
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Labels: area:scaffolder

chore: fix
  beps/0009-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: update Signed-off-by: blam <ben@blam.sh>
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: added some more stuff to the bep
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: update formatting
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: give the bep a number and feelings
  beps/0009-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: starting to write some more for the bep Signed-off-by: blam <ben@blam.sh>
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: creating the initial bep
  beps/NNNN-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: remove extra chars
  beps/0010-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: update bep
  beps/0010-scaffolder-templating-in-parameters/README.md
Labels: bep

chore: some small changes
  beps/0010-scaffolder-templating-in-parameters/README.md
Labels: bep

frontend-plugin-api: allow clearing multi inputs
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
Labels: none

frontend-plugin-api: fix and update API report
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
Labels: none

add example package
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/.eslintrc.js
  packages/app-next-example-extensions/README.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/dummy.test.ts
  packages/app-next-example-extensions/src/extensions/HomePage.tsx
  packages/app-next-example-extensions/src/extensions/NotFoundErrorPage.tsx
  packages/app-next-example-extensions/src/extensions/ScmAuthApi.ts
  packages/app-next-example-extensions/src/extensions/ScmIntegrationApi.ts
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app-next-example-extensions/src/extensions/index.ts
  packages/app-next-example-extensions/src/index.ts
  packages/app-next-example-extensions/src/setupTests.ts
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  packages/app-next/src/index-public-experimental.tsx
  packages/app/src/App.tsx
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
  yarn.lock
Labels: documentation

rename the role to frontend-extensions
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
Labels: documentation

added the frontend-extension-bundle role
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/cli-node/api-report.md
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
Labels: documentation

fixup
  packages/app-next-example-extensions/api-report.md
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app/src/App.tsx
  packages/cli-node/api-report.md
Labels: none

frontend-plugin-api: clean up output mismatch error message
  packages/frontend-plugin-api/src/wiring/createExtension.ts
Labels: none

chore: wip some things
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.tsx
Labels: none

frontend-plugin-api: refactor createDataContainer -> createExtensionDataContainer
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createExtensionDataContainer.ts
  packages/frontend-plugin-api/src/wiring/index.ts
Labels: none

frontend-plugin-api: move out resolveInputOverrides
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveInputOverrides.ts
Labels: none

docs: update docs with granular access to scaffolder tasks
  docs/features/software-templates/authorizing-scaffolder-template-details.md
Labels: documentation

added tests
  plugins/catalog-backend/src/service/AuthorizedCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationAnalyzer.test.ts
Labels: area:catalog

feat: implementing plugin overrides
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.tsx
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createPlugin.ts
  packages/frontend-plugin-api/src/wiring/types.ts
Labels: none

frontend-plugin-api: improved forwarding of inputs
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/resolveInputOverrides.ts
Labels: none

catalog: Move dialogs under EntityContextMenu
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.test.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

liveness probe shows only if available
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.test.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
Labels: area:kubernetes

doc(docs.features.softwareCatalog.systemModel): fix typo
  docs/features/software-catalog/system-model.md
Labels: documentation

.github/labeler.yml:

area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/search/**/*
          - plugins/search-*/**/*
          - packages/search-*/**/*
          - plugins/home/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
bep:
  - changed-files:
      - any-glob-to-any-file:
          - beps/**/*
auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
homepage:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
search:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/search/**/*
          - plugins/search-*/**/*
          - packages/search-*/**/*
storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
