Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Fix formatting in create-a-component.md
  docs/getting-started/create-a-component.md
Labels: area:documentation

Refactor search-catalog.md for formatting consistency
  docs/getting-started/search-catalog.md
Labels: area:documentation

Fix prettier errors for viewing owned entities
  docs/getting-started/view-what-you-own.md
Labels: area:documentation

Fixed prettier errors in viewing-catalog.md
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Fix prettier errors in viewing-entity-relationships.ms
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

Update redirect paths in docusaurus config for docs to new doc landing page
  microsite/docusaurus.config.ts
Labels: area:microsite

chore(mcp): clarify error handling in mcp-actions-backend readme
  plugins/mcp-actions-backend/README.md
  plugins/mcp-actions-backend/src/services/handleErrors.ts
Labels: none

Add changeset
  .changeset/legal-cloths-spend.md
Labels: none

Fix typo in readme
  plugins/mcp-actions-backend/README.md
Labels: none

Update .changeset/pretty-parts-admire.md
  .changeset/pretty-parts-admire.md
Labels: none

backend-app-api: sort plugin IDs in init collector
  packages/backend-app-api/src/wiring/createInitializationResultCollector.ts
Labels: none

Add Bitbucket Cloud OAuth support
  docs/integrations/bitbucketCloud/locations.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/integration/config.d.ts
  packages/integration/src/bitbucketCloud/config.test.ts
  packages/integration/src/bitbucketCloud/config.ts
  packages/integration/src/bitbucketCloud/core.test.ts
  packages/integration/src/bitbucketCloud/core.ts
  packages/integration/src/bitbucketCloud/index.ts
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPipelinesRun.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
Labels: area:documentation, area:scaffolder

Add config example, changeset and API reports
  .changeset/dark-dingos-see.md
  app-config.yaml
  packages/integration/report.api.md
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
Labels: area:scaffolder

Community Plugins Hatched
  OWNERS.md
Labels: none

Scaffolder - Updated `isolated-vm` to v6
  .changeset/cool-schools-shop.md
  plugins/scaffolder-backend/package.json
  yarn.lock
Labels: area:scaffolder

Remove cachekey logic, not needed as only a single bitbucket connection is supported, rework tests and update api report
  packages/integration/src/bitbucketCloud/core.test.ts
  packages/integration/src/bitbucketCloud/core.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
Labels: area:scaffolder

update API reports for core/frontend inversion
  packages/core-plugin-api/report-alpha.api.md
  packages/core-plugin-api/report.api.md
  packages/frontend-plugin-api/report.api.md
  plugins/api-docs/report-alpha.api.md
  plugins/app-visualizer/report.api.md
  plugins/app/report.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
  plugins/techdocs/report-alpha.api.md
  plugins/user-settings/report-alpha.api.md
Labels: area:catalog, area:scaffolder, area:techdocs

Add OAuth support for bitbucket publish action
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
Labels: area:scaffolder

fix: resolve stderr redirection to Logger.error (#30807)
  plugins/scaffolder-node/src/actions/executeShellCommand.test.ts
  plugins/scaffolder-node/src/actions/executeShellCommand.ts
  plugins/scaffolder-node/src/actions/index.ts
Labels: area:scaffolder

don't format custom names
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.test.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
Labels: area:scaffolder

Add changeset for review name formatting fix
  .changeset/nice-trams-shake.md
Labels: none

fixed exceeded timeout for a test
  plugins/scaffolder-node/src/actions/executeShellCommand.test.ts
Labels: area:scaffolder

fixed exceeded timeout and DCO
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/actions/executeShellCommand.ts
  plugins/search-react/report-alpha.api.md
Labels: area:search, area:scaffolder

fix:update API snapshot for plugin
  plugins/home/report.api.md
Labels: area:home, area:search

changesets: add changeset for core/frontend inversion
  .changeset/many-planes-join.md
  .changeset/stale-eagles-rush.md
Labels: none

yarn.lock: sync
  yarn.lock
Labels: none

frontend-plugin-api: copy SignInPageProps
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/SignInPageBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/index.ts
  plugins/app/report.api.md
Labels: none

docs: update links to point to frontend-plugin-api
  docs/api/utility-apis.md
  docs/conf/reading.md
  docs/tutorials/using-backstage-proxy-within-plugin.md
Labels: area:documentation

core-plugin-api: add forwards compatibility for useApp and useRouteRef
  .changeset/metal-boxes-laugh.md
  packages/core-plugin-api/src/app/useApp.test.tsx
  packages/core-plugin-api/src/app/useApp.tsx
  packages/core-plugin-api/src/routing/useRouteRef.test.tsx
  packages/core-plugin-api/src/routing/useRouteRef.tsx
Labels: none

plugins: cleanup unnecessary use of compatWrapper
  .changeset/metal-humans-lose.md
  plugins/api-docs/src/alpha.tsx
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-unprocessed-entities/src/alpha/plugin.tsx
  plugins/catalog/src/alpha/contextMenuItems.tsx
  plugins/catalog/src/alpha/entityCards.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/devtools/src/alpha/plugin.tsx
  plugins/home/package.json
  plugins/home/src/alpha.tsx
  plugins/kubernetes/src/alpha/entityContents.tsx
  plugins/kubernetes/src/alpha/pages.tsx
  plugins/notifications/src/alpha.tsx
  plugins/org/src/alpha.tsx
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/search/src/alpha.tsx
  plugins/techdocs/src/alpha/index.tsx
  plugins/user-settings/src/alpha.tsx
Labels: area:catalog, area:home, area:kubernetes, area:search, area:scaffolder, area:techdocs

docs/frontend-system: remove use of compatWrapper
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/05-migrating.md
Labels: area:documentation

app-next: remove compatWrapper
  packages/app-next/src/modules/appModuleNav.tsx
Labels: none

yarn.lock: sync
  yarn.lock
Labels: none

Add OAuth support for bitbucket pull-request action and update bitbucket sample template
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.ts
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
Labels: area:scaffolder

plugins: remove unnecessary use of convertLegacyRouteRef(s)
  .changeset/metal-humans-lose.md
  plugins/api-docs/report-alpha.api.md
  plugins/api-docs/src/alpha.tsx
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-import/report-alpha.api.md
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog-unprocessed-entities/src/alpha/plugin.tsx
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/navItems.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/catalog/src/alpha/plugin.tsx
  plugins/devtools/report-alpha.api.md
  plugins/devtools/src/alpha/plugin.tsx
  plugins/kubernetes/report-alpha.api.md
  plugins/kubernetes/src/alpha/pages.tsx
  plugins/kubernetes/src/alpha/plugin.tsx
  plugins/mui-to-bui/report.api.md
  plugins/mui-to-bui/src/plugin.tsx
  plugins/notifications/report-alpha.api.md
  plugins/notifications/src/alpha.tsx
  plugins/org/report-alpha.api.md
  plugins/org/src/alpha.tsx
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/scaffolder/src/alpha/plugin.tsx
  plugins/search/report-alpha.api.md
  plugins/search/src/alpha.tsx
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/src/alpha/index.tsx
  plugins/user-settings/report-alpha.api.md
  plugins/user-settings/src/alpha.tsx
Labels: area:catalog, area:kubernetes, area:search, area:scaffolder, area:techdocs

plugins: remove unused dependencies on core-compat-api
  plugins/api-docs/package.json
  plugins/catalog-graph/package.json
  plugins/catalog-import/package.json
  plugins/catalog-unprocessed-entities/package.json
  plugins/devtools/package.json
  plugins/kubernetes/package.json
  plugins/mui-to-bui/package.json
  plugins/notifications/package.json
  plugins/org/package.json
  plugins/scaffolder/package.json
  plugins/search/package.json
  plugins/signals/package.json
  plugins/techdocs/package.json
  plugins/user-settings/package.json
  yarn.lock
Labels: area:catalog, area:kubernetes, area:search, area:scaffolder, area:techdocs

chore: support Entra authentication for Azure Database for PostgreSQL
  .changeset/solid-dryers-leave.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/getting-started/config/database.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.test.ts
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
  yarn.lock
Labels: area:documentation

fix(auth): refresh JWKS when kid is missing and avoid constructing invalid limited tokens
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/src/entrypoints/auth/JwksClient.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.ts
Labels: none

added changeset
  .changeset/poor-ears-battle.md
Labels: none

core-plugin-api: avoid adding api context requirement for useApp and useRouteRef
  packages/core-plugin-api/src/app/useApp.tsx
  packages/core-plugin-api/src/routing/useRouteRef.tsx
Labels: none
