Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Update plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
Labels: area:catalog

Allows for a opt-in strategy for notifications rather than opt-out.
  .changeset/fancy-years-camp.md
  docs/notifications/index.md
  plugins/notifications-backend/config.d.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications-common/report.api.md
  plugins/notifications-common/src/types.ts
  plugins/notifications-common/src/utils.ts
Labels: area:documentation

Deploying to gh-pages from @ backstage/backstage@cbb3ce6714d3ba89ff3f674c5c99d8c50ae97fb1 🚀
  api/next/classes/_backstage_plugin-catalog-backend-module-gitlab.index.GitLabDiscoveryProcessor.html
  api/next/classes/_backstage_plugin-catalog-backend-module-gitlab.index.GitlabDiscoveryEntityProvider.html
  api/next/classes/_backstage_plugin-catalog-backend-module-gitlab.index.GitlabOrgDiscoveryEntityProvider.html
  api/next/interfaces/_backstage_plugin-catalog-backend-module-gitlab.index.GroupNameTransformerOptions.html
  api/next/interfaces/_backstage_plugin-catalog-backend-module-gitlab.index.GroupTransformerOptions.html
  api/next/interfaces/_backstage_plugin-catalog-backend-module-gitlab.index.UserTransformerOptions.html
  api/next/types/_backstage_plugin-catalog-backend-module-gitlab.index.GitLabGroup.html
  api/next/types/_backstage_plugin-catalog-backend-module-gitlab.index.GitLabGroupSamlIdentity.html
  api/next/types/_backstage_plugin-catalog-backend-module-gitlab.index.GitLabUser.html
  api/next/types/_backstage_plugin-catalog-backend-module-gitlab.index.GitlabProviderConfig.html
  api/next/types/_backstage_plugin-catalog-backend-module-gitlab.index.GroupNameTransformer.html
  api/next/types/_backstage_plugin-catalog-backend-module-gitlab.index.GroupTransformer.html
  api/next/types/_backstage_plugin-catalog-backend-module-gitlab.index.UserTransformer.html
  api/next/variables/_backstage_plugin-catalog-backend-module-gitlab.index.default.html
  api/next/variables/_backstage_plugin-catalog-backend-module-gitlab.plugins_catalog-backend-module-gitlab_src_alpha.default.html
  storybook/project.json
Labels: area:storybook

cli: add Backstage Yarn plugin support for templating
  .changeset/yarn-plugin-integration.md
  docs/tooling/cli/04-templates.md
  packages/cli/src/lib/version.test.ts
  packages/cli/src/lib/version.ts
  packages/cli/src/lib/yarnPlugin.test.ts
  packages/cli/src/lib/yarnPlugin.ts
  packages/cli/src/modules/migrate/commands/versions/bump.ts
  packages/cli/src/modules/new/lib/execution/PortableTemplater.ts
Labels: area:documentation

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

docs/tooling/package-metadata: add docs for backstage.features
  docs/tooling/package-metadata.md
Labels: area:documentation

bui-themer: rename folder to mui-to-bui
  plugins/mui-to-bui/.eslintrc.js
  plugins/mui-to-bui/CHANGELOG.md
  plugins/mui-to-bui/README.md
  plugins/mui-to-bui/catalog-info.yaml
  plugins/mui-to-bui/dev/index.tsx
  plugins/mui-to-bui/knip-report.md
  plugins/mui-to-bui/package.json
  plugins/mui-to-bui/report.api.md
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemePreview.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemePreview.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemerPage.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/BuiThemerPage.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/MuiThemeExtractor.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/MuiThemeExtractor.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/ThemeContent.test.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/ThemeContent.tsx
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.test.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/convertMuiToBuiTheme.ts
  plugins/mui-to-bui/src/components/BuiThemerPage/index.ts
  plugins/mui-to-bui/src/index.ts
  plugins/mui-to-bui/src/plugin.test.ts
  plugins/mui-to-bui/src/plugin.tsx
  plugins/mui-to-bui/src/routes.ts
  yarn.lock
Labels: none

WIP try mocking the start URL request in tests
  plugins/auth-backend-module-oidc-provider/src/module.test.ts
Labels: area:auth

WIP specify host for agent.get calls in tests
  plugins/auth-backend-module-oidc-provider/src/module.test.ts
Labels: area:auth

update changeset
  .changeset/little-seals-wave.md
Labels: none

fix(frontend): forward disabled prop to EntityPicker
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: area:scaffolder

Create disabled-prop-forward.md
  .changeset/disabled-prop-forward.md
Labels: none

Update disabled-prop-forward.md
  .changeset/disabled-prop-forward.md
Labels: none

fix(homepage): prevent duplicate widget additions and add empty state in add widget dialog
  .changeset/wise-bees-worry.md
  plugins/home/src/components/CustomHomepage/AddWidgetDialog.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/translation.ts
Labels: area:home, area:search

update api report
  packages/core-components/report.api.md
  plugins/catalog-react/report-alpha.api.md
Labels: area:catalog

fix: trim mspraph query params because the folded style definition in the app-config.yaml adds a line-break to the end of the string
  .changeset/some-signs-sort.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
Labels: area:catalog

update api reports
  plugins/home/report-alpha.api.md
Labels: area:home, area:search

Rewrite architectural overview for feature #21926 (#31209)
  docs/assets/architecture-overview/backstage-front-back-arch.jpeg
  docs/assets/architecture-overview/simplified-service-based-plugin-architecture.jpeg
  docs/assets/architecture-overview/simplified-standalone-plugin-architecture.jpeg
  docs/assets/architecture-overview/simplified-third-party-plugin-architecture.jpeg
  docs/overview/architecture-overview.md
Labels: area:documentation

report-alpha.api.md order mismatch
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Fix packaging typo
  plugins/catalog-graph-common/package.json
Labels: area:catalog

Shim Set.difference for _frontend_ code to be testable in Node 20
  packages/core-components/src/setupTests.ts
Labels: none

yarn.lock dedupe
  yarn.lock
Labels: none

Unit tests in several places uses DependencyGraph, so moving shim to the real code for all tests to pass
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/setupTests.ts
Labels: none

Add support for a custom entity set
  .changeset/rare-peas-wink.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

Keep backwards compatibility and make the backend optional
  .changeset/rare-peas-wink.md
  .changeset/thirty-cycles-go.md
  plugins/catalog-graph/README.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromFrontend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useFetchMethod.ts
Labels: area:catalog

Initiated fixing issue #27009
  draft.txt
Labels: none

Reopened PR
  draft.txt
Labels: none

Modifying large file size issue in techdocs
  app-config.yaml
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

Modifying large file size upload issue in techdocs
  .changeset/wild-doodles-shop.md
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
Labels: area:techdocs

Add framework-maintainers to CODEOWNERS
  .github/CODEOWNERS
Labels: none

use storageApi in app language and theme settings
  .changeset/brown-plants-hunt.md
  packages/core-app-api/package.json
  packages/core-app-api/report.api.md
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppLanguageApi/AppLanguageSelector.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.test.ts
  packages/core-app-api/src/apis/implementations/AppThemeApi/AppThemeSelector.ts
  packages/core-app-api/src/apis/implementations/TranslationApi/I18nextTranslationApi.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-plugin-api/src/translation/useTranslationRef.test.tsx
  plugins/app/src/extensions/AppLanguageApi.ts
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/user-settings/src/components/General/UserSettingsThemeToggle.test.tsx
  yarn.lock
Labels: none

chore: update material-ui-popup-state
  .changeset/solid-pianos-cry.md
  plugins/catalog-react/package.json
  yarn.lock
Labels: area:catalog

add missing export
  plugins/devtools-react/src/devToolsContentBlueprint.tsx
  plugins/devtools-react/src/extensionData.ts
  plugins/devtools-react/src/index.ts
  plugins/devtools/src/alpha/plugin.tsx
Labels: none

Update .changeset/fuzzy-trams-kick.md
  .changeset/fuzzy-trams-kick.md
Labels: none

app: fix routing when PageExtensions are mounted on /
  plugins/app/src/extensions/AppRoutes.tsx
Labels: none

add changeset
  .changeset/sad-women-rule.md
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

fix changeset
  .changeset/sad-women-rule.md
Labels: none

add changeset
  .changeset/thin-hoops-bathe.md
Labels: none

Revert "chore: update package.json"
  package.json
Labels: none
