Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Updated name of backstage app in graphic
  docs/assets/getting-started/create-app-output.png
Labels: area:documentation

Update index.md
  docs/getting-started/index.md
Labels: area:documentation

Update docs/getting-started/index.md
  docs/getting-started/index.md
Labels: area:documentation

Update index.md rearranged guest login section
  docs/getting-started/index.md
Labels: area:documentation

Update index.md changed title and added prerequisites
  docs/getting-started/index.md
Labels: area:documentation

Update index.md fixed some indenting issues
  docs/getting-started/index.md
Labels: area:documentation

Update index.md to add guest user login screen and graphic
  docs/getting-started/index.md
Labels: area:documentation

Add graphic for guest user login screen to app
  docs/assets/getting-started/login-to-app-as-guest-user.png
Labels: area:documentation

Update system requirements for Backstage application
  docs/getting-started/index.md
Labels: area:documentation

Fix spelling error in getting started documentation
  docs/getting-started/index.md
Labels: area:documentation

Update index.md rearranged admin links at bottom of page
  docs/getting-started/index.md
Labels: area:documentation

Simplify frontend startup instructions
  docs/getting-started/index.md
Labels: area:documentation

Update prerequisites for registering a component
  docs/getting-started/register-a-component.md
Labels: area:documentation

Update create an app for feature issue 21913 (#31366)
  docs/assets/getting-started/create-app-output.png
  docs/assets/getting-started/login-to-app-as-guest-user.png
  docs/assets/getting-started/portal.png
  docs/getting-started/index.md
Labels: area:documentation

fix(frontend-system-doc): update import statement for sidebar content in migration guide
  docs/frontend-system/building-apps/08-migrating.md
Labels: area:documentation

Toogle button added
  packages/ui/src/components/ToggleButton/ToggleButton.module.css
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/ui/src/components/ToggleButton/ToggleButton.tsx
  packages/ui/src/components/ToggleButton/index.ts
  packages/ui/src/components/ToggleButton/types.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Toogle button added
  packages/ui/src/components/ToggleButton/ToggleButton.module.css
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/ui/src/components/ToggleButton/ToggleButton.tsx
  packages/ui/src/components/ToggleButton/definition.ts
  packages/ui/src/components/ToggleButton/index.ts
  packages/ui/src/components/ToggleButton/types.ts
  packages/ui/src/definitions.ts
  packages/ui/src/index.ts
Labels: none

Page headding added
  docs/backend-system/building-backends/01-index.md
Labels: area:documentation

Compile error fixefixed
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
Labels: none

Toogle button added
  .changeset/forty-rocks-judge.md
Labels: none

chore: wip ToggleButton/ToggleButtonGroup
  docs-ui/src/content/toggle-button-group.mdx
  docs-ui/src/content/toggle-button-group.props.ts
  docs-ui/src/content/toggle-button.mdx
  docs-ui/src/content/toggle-button.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/data.ts
  packages/ui/src/components/ToggleButton/ToggleButton.module.css
  packages/ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/ui/src/components/ToggleButton/ToggleButton.tsx
  packages/ui/src/components/ToggleButton/definition.ts
  packages/ui/src/components/ToggleButton/index.ts
  packages/ui/src/components/ToggleButton/types.ts
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.module.css
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/components/ToggleButtonGroup/definition.ts
  packages/ui/src/components/ToggleButtonGroup/index.ts
  packages/ui/src/components/ToggleButtonGroup/types.ts
  packages/ui/src/definitions.ts
  packages/ui/src/index.ts
Labels: none

chore: changest
  .changeset/rude-trains-marry.md
Labels: none

chore: prettier
  docs-ui/src/content/toggle-button.mdx
Labels: none

fix: Support Responsive
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.stories.tsx
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/components/ToggleButtonGroup/types.ts
  packages/ui/src/hooks/useStyles.ts
Labels: none

refactor: try to fit in useStyle
  packages/ui/src/components/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/ui/src/hooks/useStyles.ts
Labels: none

chore: api report
  packages/ui/report.api.md
Labels: none

Update API reports for ToggleButton
  packages/ui/report.api.md
Labels: none

docs: clarify Unix-like shell requirement for Windows users
  docs/getting-started/index.md
Labels: area:documentation

docs: reword Unix-based OS prerequisite for clarity
  docs/getting-started/index.md
Labels: area:documentation

revertrted variable cleanup based on review comments
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
Labels: area:scaffolder

fix(frontend-system-doc): update capitalization for SidebarContent naming in migration guide
  docs/frontend-system/building-apps/08-migrating.md
Labels: area:documentation

fix(frontend-system-doc): use PascalCase for SidebarContent in migration guide (#32228)
  docs/frontend-system/building-apps/08-migrating.md
Labels: area:documentation

docs: add Unix-like shell clarification for Windows users
  docs/getting-started/index.md
Labels: area:documentation

cleaned up types
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
Labels: area:scaffolder

feat: support setting workflow access level during repo creation
  .changeset/quick-cars-poke.md
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
  plugins/scaffolder-backend-module-github/src/actions/outputProperties.ts
Labels: area:scaffolder

fixed typo
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

yarn build:api-reports
  plugins/scaffolder-backend-module-github/report.api.md
Labels: area:scaffolder

dedupe lockfile
  yarn.lock
Labels: none

implement Contents interface
  .changeset/slimy-ghosts-rescue.md
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/devtools/report.api.md
  plugins/devtools/src/alpha/plugin.tsx
  plugins/devtools/src/components/DefaultDevToolsPage/DefaultDevToolsPage.tsx
  plugins/devtools/src/components/DevToolsPage/DevToolsPage.tsx
  plugins/devtools/src/components/DevToolsPage/index.ts
  plugins/devtools/src/components/index.ts
Labels: area:catalog

remove unnecessary path from route key
  plugins/devtools/src/components/DefaultDevToolsPage/DefaultDevToolsPage.tsx
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
