Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

another bit of work
  docs/golden-path/plugins/backend/001-first-steps.md
  docs/golden-path/plugins/backend/002-poking-around.md
  docs/golden-path/plugins/backend/todo.http
Labels: area:documentation

update to rspack
  docs/golden-path/create-app/local-development.md
  docs/golden-path/create-app/npx-create-app.md
Labels: area:documentation

add flag for golden paths
  docs/golden-path/plugins/index.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

address PR feedback
  docs/golden-path/create-app/installing-plugins.md
  docs/golden-path/create-app/local-development.md
Labels: area:documentation

fix lint errors
  docs/golden-path/create-app/customize-theme.md
  docs/golden-path/create-app/keeping-backstage-updated.md
  docs/golden-path/create-app/logging-in.md
  docs/golden-path/create-app/npx-create-app.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

fix(techdocs): Header reload when navigating inside Techdocs
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
Labels: area:techdocs

chore: split to dedicated hook
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/useExternalRedirect.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/useExternalRedirect.ts
Labels: area:techdocs

chore: changeset & clarifications
  .changeset/ninety-cobras-feel.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/useExternalRedirect.ts
Labels: area:techdocs

Fix @layer order
  packages/ui/css/styles.css
  packages/ui/scripts/build-css.mjs
  packages/ui/src/components/Avatar/Avatar.module.css
  packages/ui/src/components/Box/Box.module.css
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/ButtonIcon/ButtonIcon.module.css
  packages/ui/src/components/Card/Card.module.css
  packages/ui/src/components/Checkbox/Checkbox.module.css
  packages/ui/src/components/Collapsible/Collapsible.module.css
  packages/ui/src/components/Container/Container.module.css
  packages/ui/src/components/Dialog/Dialog.module.css
  packages/ui/src/components/FieldError/FieldError.module.css
  packages/ui/src/components/FieldLabel/FieldLabel.module.css
  packages/ui/src/components/Flex/Flex.module.css
  packages/ui/src/components/Grid/Grid.module.css
  packages/ui/src/components/Header/Header.module.css
  packages/ui/src/components/HeaderPage/HeaderPage.module.css
  packages/ui/src/components/Link/Link.module.css
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/PasswordField/PasswordField.module.css
  packages/ui/src/components/Popover/Popover.module.css
  packages/ui/src/components/RadioGroup/RadioGroup.module.css
  packages/ui/src/components/SearchField/SearchField.module.css
  packages/ui/src/components/Select/Select.module.css
  packages/ui/src/components/Skeleton/Skeleton.module.css
  packages/ui/src/components/Switch/Switch.module.css
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/TablePagination/TablePagination.module.css
  packages/ui/src/components/Tabs/Tabs.module.css
  packages/ui/src/components/TagGroup/TagGroup.module.css
  packages/ui/src/components/Text/Text.module.css
  packages/ui/src/components/TextField/TextField.module.css
  packages/ui/src/components/Tooltip/Tooltip.module.css
  packages/ui/src/css/styles.css
Labels: none

Add changeset
  .changeset/rich-streets-rule.md
  docs-ui/public/theme-backstage.css
Labels: none

Import Backstage UI CSS styles in index.ts
  docs/frontend-system/building-apps/01-index.md
Labels: area:documentation

Clarify plugin installation in index.md
  docs/frontend-system/building-apps/01-index.md
Labels: area:documentation

Update comment for app configuration clarity
  docs/frontend-system/building-apps/01-index.md
Labels: area:documentation

update search with bui header
  packages/app/src/components/search/SearchPage.tsx
  packages/create-app/templates/default-app/packages/app/src/components/search/SearchPage.tsx
  plugins/search/src/alpha.tsx
Labels: area:search

add @backstage/ui deps
  plugins/search/package.json
  plugins/techdocs/package.json
  yarn.lock
Labels: area:search, area:techdocs

update techdocs with bui header
  plugins/techdocs/dev/index.tsx
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/TechDocsPageWrapper.tsx
  plugins/techdocs/src/reader/components/TechDocsHeaderLabel/TechDocsHeaderLabel.tsx
  plugins/techdocs/src/reader/components/TechDocsHeaderLabel/index.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: area:techdocs

add changeset
  .changeset/moody-kiwis-sit.md
Labels: none

microsite - Added `@backstage/cli` to allow running Prettier
  microsite/package.json
  microsite/yarn.lock
Labels: area:microsite

Version Policy Update - Postgres 18 to 14
  .changeset/every-ants-count.md
  .github/workflows/ci.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_e2e-linux.yml
  docs/backend-system/building-plugins-and-modules/02-testing.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerJanitor.test.ts
  packages/backend-defaults/src/setupTests.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/database/TestDatabases.ts
  packages/backend-test-utils/src/database/types.ts
  plugins/app-backend/src/setupTests.ts
  plugins/auth-backend/src/setupTests.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.test.ts
  plugins/catalog-backend/src/setupTests.ts
  plugins/catalog-backend/src/tests/performance/getEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/getProcessableEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/providerDeltaMutations.test.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
  plugins/events-backend/src/migrations.test.ts
  plugins/events-backend/src/service/EventsPlugin.test.ts
  plugins/events-backend/src/service/hub/DatabaseEventBusStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/util.test.ts
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.test.ts
Labels: area:auth, area:catalog, area:documentation, area:events, area:search

Corrected typo and formatting
  .changeset/every-ants-count.md
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_e2e-linux.yml
Labels: none

Ran prettier
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_e2e-linux.yml
Labels: none

Upgrade to Storybook 10 Beta
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  packages/ui/package.json
  yarn.lock
Labels: none

fix(techdocs-cli): Missing styles, illegible pages
  packages/techdocs-cli-embedded-app/package.json
  packages/techdocs-cli-embedded-app/src/index.tsx
  yarn.lock
Labels: area:techdocs

fix(notifications): update ses to v2
  .changeset/five-seas-jam.md
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-backend-module-email/src/processor/transports/ses.ts
  yarn.lock
Labels: none

Update .changeset/every-ants-count.md
  .changeset/every-ants-count.md
Labels: none

Update .changeset/every-ants-count.md
  .changeset/every-ants-count.md
Labels: none

fix tests
  plugins/techdocs/src/home/components/DefaultTechDocsHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.test.tsx
Labels: area:techdocs

chore: add deper nav for docs
  plugins/techdocs-backend/examples/documented-component/docs/deeper-nav/even-deeper/index.md
  plugins/techdocs-backend/examples/documented-component/docs/deeper-nav/index.md
  plugins/techdocs-backend/examples/documented-component/mkdocs.yml
Labels: area:techdocs

fix(techdocs): ExpandableNavigation addons does not work on Firefox
  .changeset/gentle-bikes-relax.md
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
Labels: area:techdocs

chore: deduplicate
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
Labels: area:techdocs

chore: Clean techdocs-module-addons-contrib ExpandableNavigation
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
Labels: area:techdocs

chore: enter selecta Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/pre.json
Labels: none

eslint-plugin: add lint rule to ensure BUI CSS is not imported in plugins
  .changeset/solid-bees-agree.md
  packages/dev-utils/src/devApp/BuiCss.tsx
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-ui-css-imports-in-non-frontend.md
  packages/eslint-plugin/index.js
  packages/eslint-plugin/rules/no-ui-css-imports-in-non-frontend.js
  packages/eslint-plugin/src/__fixtures__/monorepo/packages/frontend-pkg/package.json
  packages/eslint-plugin/src/__fixtures__/monorepo/packages/frontend-plugin-pkg/package.json
  packages/eslint-plugin/src/__fixtures__/monorepo/packages/no-role-pkg/package.json
  packages/eslint-plugin/src/no-ui-css-imports-in-non-frontend.test.ts
Labels: none

chore: Simplify by removing a useless useMemo & merging useEffect
  plugins/techdocs/src/reader/components/TechDocsReaderPage/useExternalRedirect.ts
Labels: area:techdocs

add changeset for techdocs cli
  .changeset/stupid-doodles-love.md
Labels: none

edit
  .changeset/stupid-doodles-love.md
Labels: none

Add multiget to usersettings to batch get()s in one call and cache the result for a short period
  .changeset/stupid-flies-shake.md
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/service/router.ts
  plugins/user-settings-common/package.json
  plugins/user-settings-common/report.api.md
  plugins/user-settings-common/src/keys.ts
  plugins/user-settings-common/src/types.ts
  plugins/user-settings/package.json
  plugins/user-settings/src/apis/StorageApi/CacheMap.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.test.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.ts
  yarn.lock
Labels: none

Use p-limit instead of already for promise concurrency limit
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/service/router.test.ts
  plugins/user-settings-backend/src/service/router.ts
  plugins/user-settings/package.json
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.test.ts
  yarn.lock
Labels: none

Changed endpoint name, GET->POST, request/response signature, and perform batch queries against db
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.test.ts
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.ts
  plugins/user-settings-backend/src/database/UserSettingsStore.ts
  plugins/user-settings-backend/src/service/router.test.ts
  plugins/user-settings-backend/src/service/router.ts
  plugins/user-settings-common/package.json
  plugins/user-settings-common/report.api.md
  plugins/user-settings-common/src/index.ts
  plugins/user-settings-common/src/keys.ts
  plugins/user-settings-common/src/types.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.test.ts
  plugins/user-settings/src/apis/StorageApi/UserSettingsStorage.ts
Labels: none

Handle Node.js 20
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.ts
Labels: none
