Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

prettier
  microsite/blog/2025-12-30-backstage-wrapped-2025.mdx
Labels: area:microsite

Added support for custom page size options
  .changeset/mighty-knives-make.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/hooks/types.ts
  packages/ui/src/components/Table/hooks/useTable.ts
  packages/ui/src/components/TablePagination/TablePagination.tsx
  packages/ui/src/components/TablePagination/types.ts
Labels: none

Revert "fix: making the github urls case insensitive"
  .changeset/polite-pillows-accept.md
  packages/integration/src/github/GithubIntegration.test.ts
  packages/integration/src/github/GithubIntegration.ts
Labels: none

Patch from PR #32220
  .changeset/polite-pillows-accept.md
  packages/integration/src/github/GithubIntegration.test.ts
  packages/integration/src/github/GithubIntegration.ts
Labels: none

Generate Release
  .changeset/polite-pillows-accept.md
  package.json
  packages/integration/CHANGELOG.md
  packages/integration/package.json
Labels: none

Revert "fix: making the github urls case insensitive" (#32220)
  .changeset/polite-pillows-accept.md
  packages/integration/src/github/GithubIntegration.test.ts
  packages/integration/src/github/GithubIntegration.ts
Labels: none

Patch release of #32220 (#32221)
  package.json
  packages/integration/CHANGELOG.md
  packages/integration/package.json
  packages/integration/src/github/GithubIntegration.test.ts
  packages/integration/src/github/GithubIntegration.ts
Labels: none

Fix Table component layout issue with title and filters
  .changeset/fix-table-layout.md
Labels: none

Deploying to gh-pages from @ backstage/backstage@4c7bd5b8bc0e3c083a9fd506c846bc2d29c4e8e0 🚀
  storybook/project.json
Labels: area:storybook

feat: implementing Client ID Metadata Documents
  plugins/auth-backend/migrations/20251217120000_drop_oidc_clients_fk.js
  plugins/auth-backend/src/service/CimdClient.test.ts
  plugins/auth-backend/src/service/CimdClient.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
Labels: area:auth

chore: added gating for some thigns Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/auth-backend/src/service/OidcService.ts
  plugins/mcp-actions-backend/src/plugin.test.ts
  plugins/mcp-actions-backend/src/plugin.ts
Labels: area:auth

chore: refactor and cleanup a little bit Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/auth-backend/package.json
  plugins/auth-backend/src/service/CimdClient.test.ts
  plugins/auth-backend/src/service/CimdClient.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
  plugins/mcp-actions-backend/package.json
  plugins/mcp-actions-backend/src/plugin.ts
  yarn.lock
Labels: area:auth

feat: implementing google gcs read tree and scm integrations
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
  packages/integration/src/ScmIntegrations.test.ts
  packages/integration/src/ScmIntegrations.ts
  packages/integration/src/googleGcs/GoogleGcsIntegration.test.ts
  packages/integration/src/googleGcs/GoogleGcsIntegration.ts
  packages/integration/src/googleGcs/config.test.ts
  packages/integration/src/googleGcs/config.ts
  packages/integration/src/googleGcs/index.ts
Labels: none

chore: cleanup Signed-off-by: benjdlambert <ben@blam.sh>
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
  packages/integration/report.api.md
  packages/integration/src/googleGcs/index.ts
Labels: none

feat: added changesets
  .changeset/clever-streets-roll.md
  .changeset/hungry-mugs-fall.md
Labels: none

chore: fix test issues
  packages/integration-react/src/api/ScmIntegrationsApi.test.ts
Labels: none

chore: fix code review comments Signed-off-by: benjdlambert <ben@blam.sh>
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
Labels: none

Add ability to alter the api base url for the sentry scaffolder
  .changeset/petite-bats-obey.md
  plugins/scaffolder-backend-module-sentry/README.md
  plugins/scaffolder-backend-module-sentry/report.api.md
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.examples.test.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.examples.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.test.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.ts
  plugins/scaffolder-backend-module-sentry/src/actions/fetchDSN.examples.test.ts
  plugins/scaffolder-backend-module-sentry/src/actions/fetchDSN.examples.ts
  plugins/scaffolder-backend-module-sentry/src/actions/fetchDSN.test.ts
  plugins/scaffolder-backend-module-sentry/src/actions/fetchDSN.ts
Labels: area:scaffolder

chore: fix code review comments
  .changeset/hungry-mugs-fall.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
  packages/integration/src/googleGcs/config.test.ts
Labels: none

`feat(integrations)`: Add `googleGcs` to `ScmIntegrations` and implement `readTree` for the `UrlReader` (#31998)
  .changeset/clever-streets-roll.md
  .changeset/hungry-mugs-fall.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
  packages/integration-react/src/api/ScmIntegrationsApi.test.ts
  packages/integration/report.api.md
  packages/integration/src/ScmIntegrations.test.ts
  packages/integration/src/ScmIntegrations.ts
  packages/integration/src/googleGcs/GoogleGcsIntegration.test.ts
  packages/integration/src/googleGcs/GoogleGcsIntegration.ts
  packages/integration/src/googleGcs/config.test.ts
  packages/integration/src/googleGcs/config.ts
  packages/integration/src/googleGcs/index.ts
Labels: none

turn on request validation
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

fix test failures
  plugins/permission-backend/src/service/router.ts
Labels: area:permission

json.stringify of undefined omits the key
  plugins/permission-backend/src/schema/openapi.yaml
  plugins/permission-backend/src/schema/openapi/generated/models/BasicPermissionRequest.model.ts
  plugins/permission-backend/src/schema/openapi/generated/router.ts
  plugins/permission-backend/src/service/router.ts
Labels: area:permission

allow extra query params
  plugins/auth-backend-module-pinniped-provider/src/module.test.ts
  plugins/auth-backend/src/schema/openapi.yaml
  plugins/auth-backend/src/schema/openapi/generated/apis/Api.server.ts
  plugins/auth-backend/src/schema/openapi/generated/router.ts
Labels: area:auth

fix lint issues
  plugins/permission-backend/src/schema/openapi.yaml
  plugins/permission-backend/src/schema/openapi/generated/router.ts
Labels: area:permission

update lint rules to ignore health routes
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
Labels: none

fix: use correct PR ID to post comments
  .github/workflows/api-breaking-changes-comment.yml
Labels: none

fix: generated index URLs were URI encoded
  microsite/sidebars.ts
Labels: area:microsite

add changeset
  .changeset/better-spies-call.md
  .changeset/cyan-parents-check.md
Labels: none

add changeset
  .changeset/hip-donkeys-doubt.md
Labels: none

simplify API surface
  packages/backend-defaults/src/entrypoints/schema/schemaServiceFactory.ts
  packages/backend-plugin-api/src/services/definitions/SchemaService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  yarn.lock
Labels: none

remove unnecessary Authorized class wrappers and support custom response bodies
  packages/backend-openapi-utils/src/middlewares/permissions.test.ts
  packages/backend-openapi-utils/src/middlewares/permissions.ts
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/catalog-backend/src/service/AuthorizedLocationAnalyzer.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationAnalyzer.ts
  plugins/catalog-backend/src/service/AuthorizedLocationService.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationService.ts
  plugins/catalog-backend/src/service/AuthorizedValidationService.test.ts
  plugins/catalog-backend/src/service/AuthorizedValidationService.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

Updated create-app-output and portal graphics
  docs/assets/getting-started/create-app-output.png
  docs/assets/getting-started/portal.png
Labels: area:documentation

Update index.md rewritten as task-based steps
  docs/getting-started/index.md
Labels: area:documentation

Update index.md Add minimum of 4 GB memory as placeholder.
  docs/getting-started/index.md
Labels: area:documentation

Update index.md fix prettier errors
  docs/getting-started/index.md
Labels: area:documentation

Update index.md fix prettier errors
  docs/getting-started/index.md
Labels: area:documentation

Fix formatting issues in getting-started documentation
  docs/getting-started/index.md
Labels: area:documentation

Update index.md added additional text and removed a graphic
  docs/getting-started/index.md
Labels: area:documentation

Update index.md fix prettier errors
  docs/getting-started/index.md
Labels: area:documentation

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
