Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

fix report
  packages/backend-defaults/report-discovery.api.md
Labels: none

simplify implementation
  packages/backend-defaults/src/alpha/entrypoints/rootSystemMetadata/lib/DefaultRootSystemMetadataService.ts
  packages/backend-defaults/src/entrypoints/discovery/HostDiscovery.ts
  packages/backend-defaults/src/entrypoints/discovery/parsing.ts
Labels: none

fix rebase issues
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

move to alpha
  .changeset/old-cats-shake.md
  packages/backend-defaults/package.json
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/report-discovery.api.md
  packages/backend-defaults/report-rootSystemMetadata.api.md
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/alpha/entrypoints/rootSystemMetadata/RootSystemMetadataService.test.ts
  packages/backend-defaults/src/alpha/entrypoints/rootSystemMetadata/index.ts
  packages/backend-defaults/src/alpha/entrypoints/rootSystemMetadata/lib/DefaultRootSystemMetadataService.ts
  packages/backend-defaults/src/alpha/entrypoints/rootSystemMetadata/rootSystemMetadataServiceFactory.ts
  packages/backend-defaults/src/alpha/index.ts
  packages/backend-defaults/src/entrypoints/discovery/HostDiscovery.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/alpha/RootSystemMetadataService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/alpha/refs.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/services/mockServices.ts
  packages/backend-test-utils/src/wiring/TestBackend.ts
  packages/backend/src/index.ts
  packages/backend/src/systemMetadataPlugin.ts
Labels: none

Update docs/getting-started/index.md
  docs/getting-started/index.md
Labels: area:documentation

Fix spelling error in getting started documentation
  docs/getting-started/index.md
Labels: area:documentation

Simplify frontend startup instructions
  docs/getting-started/index.md
Labels: area:documentation

docs(gitlab): add generated changeset
  .changeset/red-rivers-make.md
Labels: none

updated import to use new dependency
  plugins/notifications/src/translation.ts
Labels: none

Update prerequisites for component registration
  docs/getting-started/register-a-component.md
Labels: area:documentation

updated report-alpha.api.md
  plugins/notifications/report-alpha.api.md
Labels: none

Update search catalog documentation
  docs/getting-started/search-catalog.md
Labels: area:documentation

switch to throttleInterval and concurrencyLimit
  .changeset/pretty-breads-speak.md
  docs/notifications/processors.md
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: area:documentation

feat: add rate limit configuration
  .changeset/pretty-breads-speak.md
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: none

docs: add rateLimit
  docs/notifications/processors.md
Labels: area:documentation

Update .changeset/pretty-breads-speak.md
  .changeset/pretty-breads-speak.md
Labels: none

Update search catalog documentation formatting fix prettier
  docs/getting-started/search-catalog.md
Labels: area:documentation

fix api reports
  packages/backend-defaults/report-alpha.api.md
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/index.ts
Labels: none

update config.d.ts
  plugins/notifications-backend-module-slack/config.d.ts
Labels: none

fix rebase issues
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend/package.json
Labels: none

Revise viewing catalog documentation to add links
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Update viewing-catalog.md with new formatting to fix prettier errors
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

fix lockfile
  yarn.lock
Labels: none

Update viewing-catalog.md after running prettier write externally
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

techdocs: add support for integrations.awsS3
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

techdocs: changeset integrations
  .changeset/whole-dodos-matter.md
Labels: none

Took out audience line in viewing-catalog.md to see if it fixes prettier errors
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Refactor viewing-catalog.md removed extra lines at end of file
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

docs: clarify techdocs s3 buckets integration
  docs/features/techdocs/using-cloud-storage.md
Labels: area:documentation

techdocs: moar config tests
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
Labels: area:techdocs

techdocs: fix logger param
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

added patch for postgres18 test databases
  .patches/pr-31974.txt
Labels: none

feat(frontend): allow configuration of the referrerPolicy
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/readHelmetOptions.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/readHelmetOptions.ts
Labels: none

feat(frontend): adding the referrer options to config.d.ts
  packages/backend-defaults/config.d.ts
Labels: none

chore: adding changeset
  .changeset/early-doors-visit.md
Labels: none

feat: add log download btn for LogViewer
  .changeset/six-eels-film.md
  packages/core-components/report-alpha.api.md
  packages/core-components/report.api.md
  packages/core-components/src/components/LogViewer/LogViewer.tsx
  packages/core-components/src/components/LogViewer/LogViewerControls.tsx
  packages/core-components/src/components/LogViewer/RealLogViewer.test.tsx
  packages/core-components/src/components/LogViewer/RealLogViewer.tsx
  packages/core-components/src/translation.ts
  plugins/scaffolder-react/src/next/components/TaskLogStream/TaskLogStream.test.tsx
  plugins/scaffolder-react/src/next/components/TaskLogStream/TaskLogStream.tsx
Labels: area:scaffolder

Patch from PR 31974
  packages/backend-test-utils/src/database/postgres.ts
Labels: none

Generate Release
  package.json
  packages/backend-test-utils/CHANGELOG.md
  packages/backend-test-utils/package.json
Labels: none

Upgrade to 0.21.6
  packages/backend-dynamic-feature-service/package.json
  packages/cli/package.json
  packages/frontend-dynamic-feature-loader/package.json
  packages/frontend-dynamic-feature-loader/report.api.md
  packages/frontend-dynamic-feature-loader/src/loader.ts
  yarn.lock
Labels: none

Move module federation enablement in `app-next` at runtime.
  packages/cli/package.json
  packages/cli/src/modules/build/commands/package/start/startFrontend.ts
  packages/cli/src/modules/build/lib/buildFrontend.ts
  packages/cli/src/modules/build/lib/bundler/bundle.ts
  packages/cli/src/modules/build/lib/bundler/config.ts
  packages/cli/src/modules/build/lib/bundler/index.ts
  packages/cli/src/modules/build/lib/bundler/moduleFederation.ts
  packages/cli/src/modules/build/lib/bundler/server.ts
  packages/cli/src/modules/build/lib/bundler/types.ts
  packages/frontend-app-api/config.d.ts
  packages/frontend-app-api/src/module-federation-config.test-d.ts
  packages/frontend-dynamic-feature-loader/report.api.md
  packages/frontend-dynamic-feature-loader/src/loader.test.tsx
  packages/frontend-dynamic-feature-loader/src/loader.ts
  packages/module-federation-common/.eslintrc.js
  packages/module-federation-common/README.md
  packages/module-federation-common/catalog-info.yaml
  packages/module-federation-common/package.json
  packages/module-federation-common/report.api.md
  packages/module-federation-common/src/config.test.ts
  packages/module-federation-common/src/config.ts
  packages/module-federation-common/src/defaults.test.ts
  packages/module-federation-common/src/defaults.ts
  packages/module-federation-common/src/index.ts
  packages/module-federation-common/src/merge.test.ts
  packages/module-federation-common/src/merge.ts
  packages/module-federation-common/src/runtime.test.ts
  packages/module-federation-common/src/runtime.ts
  packages/module-federation-common/src/types.ts
  yarn.lock
Labels: none
