Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

chore: add changeset
  .changeset/tidy-coats-know.md
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

add changeset
  .changeset/sad-women-rule.md
Labels: none

add newline
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

fix(bui): fix button link internal routing
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
Labels: none

fix(bui): add MemoryRouter to ButtonLink stories
  packages/ui/src/components/ButtonLink/ButtonLink.stories.tsx
Labels: none

fix changeset
  .changeset/sad-women-rule.md
Labels: none

fix: forward disabled prop
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: area:scaffolder

Change `target` to `targetRef` in catalog customization
  docs/features/software-catalog/catalog-customization.md
Labels: area:documentation

update api reports
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/devtools-react/report.api.md
  plugins/devtools/report-alpha.api.md
  plugins/devtools/report.api.md
Labels: area:catalog

use react router for internal routing in menus
  packages/ui/src/components/Menu/Menu.tsx
Labels: none

add changeset
  .changeset/tough-clocks-attack.md
Labels: none

add datadog-entity-sync.yaml
  microsite/data/plugins/datadog-entity-sync.yaml
Labels: area:microsite

chore(search): add missing highlight prop
  .changeset/sixty-cameras-talk.md
  plugins/search-react/report-alpha.api.md
  plugins/search-react/src/alpha/blueprints/types.ts
Labels: area:search

Small fixes
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs-ui/src/app/theming/page.mdx
  docs/conf/user-interface/index.md
  docs/dls/component-design-guidelines.md
Labels: area:documentation

Revert "fix: update stories to comply with react-aria"
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
  packages/ui/src/components/Tabs/Tabs.stories.tsx
Labels: none

add mandatory href for tabs in header component
  packages/ui/src/components/Header/types.ts
  packages/ui/src/components/HeaderPage/HeaderPage.stories.tsx
Labels: none

add changeset
  .changeset/few-weeks-create.md
Labels: none

add api report
  packages/ui/report.api.md
Labels: none

fix renderInTestApp routing
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
Labels: none

frontend-test-utils: render the element as Page
  packages/frontend-test-utils/src/app/renderInTestApp.test.tsx
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
Labels: none

frontend-test-utils: tweak test
  packages/frontend-test-utils/src/app/renderInTestApp.test.tsx
Labels: none

changeset notfound page
  .changeset/fluffy-cities-sip.md
Labels: none

Remove app-root-element:signals/signals-display
  .changeset/forty-crabs-travel.md
  plugins/signals/report-alpha.api.md
  plugins/signals/src/alpha.tsx
Labels: none

Revert "Merge pull request #31230 from backstage/bui-fix-tooltip"
  .changeset/moody-singers-deny.md
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Labels: none

Update .changeset/full-chefs-roll.md
  .changeset/full-chefs-roll.md
Labels: none

Update sidebars.ts
  microsite/sidebars.ts
Labels: area:microsite

Update docusaurus.config.ts
  microsite/docusaurus.config.ts
Labels: area:microsite

Update sidebars.ts
  microsite/sidebars.ts
Labels: area:microsite

repo-tools: changeset updated
  .changeset/forty-rooms-work.md
Labels: none

feat(techdocs): POC livereload for techdocs-cli serve (#30541)
  .changeset/brown-symbols-create.md
  packages/techdocs-cli-embedded-app/app-config.yaml
  packages/techdocs-cli-embedded-app/src/App.tsx
  packages/techdocs-cli-embedded-app/src/LiveReloadAddon.test.tsx
  packages/techdocs-cli-embedded-app/src/LiveReloadAddon.tsx
  packages/techdocs-cli/src/lib/httpServer.ts
  packages/techdocs-cli/src/lib/livereload.test.ts
  packages/techdocs-cli/src/lib/livereload.ts
Labels: area:techdocs

repo-tools: deduplicate imports on server files
  packages/repo-tools/src/commands/package/schema/openapi/generate/server.ts
Labels: none

Update .changeset/forty-rooms-work.md
  .changeset/forty-rooms-work.md
Labels: none

Update index.md rewritten as task-based steps
  docs/getting-started/index.md
Labels: area:documentation

Updated create-app-output and portal graphics
  docs/assets/getting-started/create-app-output.png
  docs/assets/getting-started/portal.png
Labels: area:documentation

Updated name of backstage app in graphic
  docs/assets/getting-started/create-app-output.png
Labels: area:documentation

Modifying large size files upload to S3
  .changeset/lemon-corners-hug.md
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

Fixing test cases
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
Labels: area:techdocs

Revert "frontend-test-utils: render the element as Page"
  packages/frontend-test-utils/src/app/renderInTestApp.test.tsx
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
Labels: none

frontend-test-utils: introduce renderTestApp and mark features option as deprecated
  packages/frontend-test-utils/src/app/index.ts
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  packages/frontend-test-utils/src/app/renderTestApp.tsx
Labels: none
