Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Apply suggestions from code review
  .changeset/old-cats-shake.md
Labels: none

fix(techdocs): add missing i18n support for techdocs plugin
  plugins/techdocs/src/alpha/index.tsx
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/Tables/CursorPaginatedDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/EntityListDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/OffsetPaginatedDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/actions.tsx
  plugins/techdocs/src/home/components/Tables/columns.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/techdocs/src/home/components/TechDocsPageWrapper.tsx
  plugins/techdocs/src/index.ts
  plugins/techdocs/src/reader/components/TechDocsBuildLogs.tsx
  plugins/techdocs/src/reader/components/TechDocsNotFound.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageSubheader/TechDocsReaderPageSubheader.tsx
  plugins/techdocs/src/reader/components/TechDocsRedirectNotification/TechDocsRedirectNotification.tsx
  plugins/techdocs/src/reader/components/TechDocsStateIndicator.tsx
  plugins/techdocs/src/search/components/TechDocsSearch.tsx
  plugins/techdocs/src/translation.ts
Labels: area:techdocs

adding changset
  .changeset/vast-terms-argue.md
Labels: none

updating the test file
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.test.ts
Labels: area:techdocs

updating the api report
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/EntityListDocsTable.tsx
  plugins/techdocs/src/index.ts
Labels: area:techdocs

addressing the comments
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/EntityListDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/actions.tsx
  plugins/techdocs/src/home/components/Tables/types.ts
  plugins/techdocs/src/translation.ts
Labels: area:techdocs

chore: fix deps Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/mcp-actions-backend/package.json
  yarn.lock
Labels: none

chore: fix breaking change for swagger type Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/api-docs/src/components/OpenApiDefinitionWidget/OpenApiDefinition.tsx
Labels: none

chore: fix changeset
  .changeset/slow-clouds-tie.md
Labels: none

Support custom start URL search parameters in OIDC provider
  .changeset/proud-streets-switch.md
  docs/auth/oidc.md
  plugins/auth-backend-module-oidc-provider/config.d.ts
  plugins/auth-backend-module-oidc-provider/report.api.md
  plugins/auth-backend-module-oidc-provider/src/authenticator.test.ts
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
Labels: area:auth, area:documentation

Update .changeset/short-lizards-find.md
  .changeset/short-lizards-find.md
Labels: none

Update .changeset/short-lizards-find.md
  .changeset/short-lizards-find.md
Labels: none

techdocs: clarify change
  .changeset/whole-dodos-matter.md
Labels: none

chore: ok, this is it Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/blue-signs-fry.md
  plugins/mcp-actions-backend/package.json
  yarn.lock
Labels: none

fix(techdocs): correct colors calculation
  .changeset/rude-moose-dig.md
  plugins/techdocs/src/reader/transformers/styles/rules/typeset.ts
  plugins/techdocs/src/reader/transformers/styles/rules/variables.ts
Labels: area:techdocs

fix:linting issue
  plugins/devtools/src/alpha/plugin.tsx
Labels: none

correct method spelling; neutralize parameter name; skip redundant filtering
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

Update plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

Added RegExp pattern support for GitLab catalog file discovery
  .changeset/shaggy-weeks-act.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/report.api.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: area:catalog, area:documentation

catalog-backend-module-gitlab Config += entityFilePattern
  plugins/catalog-backend-module-gitlab/config.d.ts
Labels: area:catalog

Update landing page with new Catalog and Component links
  docs/landing-page/doc-landing-page.md
Labels: area:documentation

Moved the location of Searching the Catalog
  mkdocs.yml
Labels: none

Moved search-catalog entry and added unregister-delete-component
  microsite/sidebars.ts
Labels: area:microsite

techdocs: use ScmIntegrations instead of using raw config
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

Fix prettier errors
  mkdocs.yml
Labels: none

Update plugins/devtools/config.d.ts
  plugins/devtools/config.d.ts
Labels: none

Update .changeset/short-lizards-find.md
  .changeset/short-lizards-find.md
Labels: none

address feedback
  plugins/devtools-common/package.json
  plugins/devtools-common/report-alpha.api.md
  plugins/devtools-common/report.api.md
  plugins/devtools-common/src/alpha.ts
  plugins/devtools-common/src/permissions.ts
  plugins/devtools-common/src/types.ts
  plugins/devtools/report.api.md
  plugins/devtools/src/api/DevToolsApi.ts
  plugins/devtools/src/api/DevToolsClient.ts
  plugins/devtools/src/components/Content/ScheduledTasksContent/ScheduledTaskDetailedPanel.tsx
  plugins/devtools/src/components/Content/ScheduledTasksContent/ScheduledTasksContent.tsx
  plugins/devtools/src/components/DefaultDevToolsPage/DefaultDevToolsPage.tsx
Labels: none

repo fix
  plugins/devtools-common/package.json
Labels: none

Update plugins/devtools-common/src/permissions.ts
  plugins/devtools-common/src/permissions.ts
Labels: none

Update plugins/devtools-common/src/permissions.ts
  plugins/devtools-common/src/permissions.ts
Labels: none

Update plugins/devtools-common/src/permissions.ts
  plugins/devtools-common/src/permissions.ts
Labels: none

doc: add plugin doc
  plugins/scaffolder-backend-module-azure/README.md
Labels: area:scaffolder

fix test errors by adding to repo test as well
  packages/cli/src/modules/build/lib/runner/runBackend.test.ts
  packages/cli/src/modules/test/commands/repo/test.ts
Labels: none

chore: refactor slightly to bring into similar patterns to the scaffolder action.
  .changeset/nine-symbols-shout.md
  plugins/catalog-backend/src/actions/createRegisterCatalogEntitiesAction.test.ts
  plugins/catalog-backend/src/actions/createRegisterCatalogEntitiesAction.ts
  plugins/catalog-backend/src/actions/createUnregisterCatalogEntitiesAction.test.ts
  plugins/catalog-backend/src/actions/createUnregisterCatalogEntitiesAction.ts
Labels: area:catalog

docs: add basic info on using playwright for plugin development
  docs/plugins/playwright.md
  microsite/sidebars.ts
  mkdocs.yml
Labels: area:documentation, area:microsite

fix: Typescript type and Zod parser were not the same.
  .changeset/green-pears-jog.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.test.ts
  plugins/catalog-react/src/alpha/predicates/types.ts
Labels: area:catalog

feat: add RepoOwnerPicker
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.test.ts
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/scaffolder/src/alpha/fields/RepoOwnerPicker.ts
  plugins/scaffolder/src/alpha/plugin.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/DefaultRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/GitHubRepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/index.ts
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/schema.ts
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/types.ts
  plugins/scaffolder/src/extensions/default.ts
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/plugin.tsx
Labels: area:scaffolder

address comments
  docs/notifications/processors.md
  plugins/notifications-backend-module-slack/config.d.ts
Labels: area:documentation

fix: $contains may have only string value additionally in an entity filter.
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.test.ts
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.ts
  plugins/catalog-react/src/alpha/predicates/types.ts
Labels: area:catalog

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
