Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Update react-aria-components
  packages/ui/package.json
  yarn.lock
Labels: none

Create grumpy-items-peel.md
  .changeset/grumpy-items-peel.md
Labels: none

Adjust stale issue and PR settings in workflow
  .github/workflows/automate_stale.yml
Labels: none

workflows/e2e-techdocs: add explicit node setup
  .github/workflows/verify_e2e-techdocs.yml
Labels: none

Update warm-dancers-call.md
  .changeset/warm-dancers-call.md
Labels: none

add dialog component
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.styles.css
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/components/Dialog/index.ts
  packages/ui/src/components/Dialog/types.ts
  packages/ui/src/index.ts
Labels: none

add changeset
  .changeset/better-women-turn.md
Labels: none

Update warm-dancers-call.md
  .changeset/warm-dancers-call.md
Labels: none

chore: prettier
  packages/ui/src/components/Dialog/Dialog.styles.css
Labels: none

Add new layers to global CSS
  packages/ui/css/styles.css
  packages/ui/src/css/components.css
  packages/ui/src/css/styles.css
  packages/ui/src/css/tokens.css
  packages/ui/src/css/utilities.css
  packages/ui/src/css/utilities/display.css
  packages/ui/src/css/utilities/flex.css
  packages/ui/src/css/utilities/gap.css
  packages/ui/src/css/utilities/grid.css
  packages/ui/src/css/utilities/height.css
  packages/ui/src/css/utilities/m.css
  packages/ui/src/css/utilities/mb.css
  packages/ui/src/css/utilities/ml.css
  packages/ui/src/css/utilities/mr.css
  packages/ui/src/css/utilities/mt.css
  packages/ui/src/css/utilities/mx.css
  packages/ui/src/css/utilities/my.css
  packages/ui/src/css/utilities/p.css
  packages/ui/src/css/utilities/pb.css
  packages/ui/src/css/utilities/pl.css
  packages/ui/src/css/utilities/position.css
  packages/ui/src/css/utilities/pr.css
  packages/ui/src/css/utilities/pt.css
  packages/ui/src/css/utilities/px.css
  packages/ui/src/css/utilities/py.css
  packages/ui/src/css/utilities/sm.css
  packages/ui/src/css/utilities/width.css
  packages/ui/src/css/utilities/xs.css
Labels: none

feat(dev): allow running example app with docker
  CONTRIBUTING.md
  app-config.docker.yaml
  docker-compose.deps.yml
  package.json
  packages/backend/package.json
  packages/backend/src/index.ts
  yarn.lock
Labels: none

Update components
  .changeset/seven-lines-stay.md
  packages/ui/src/components/Avatar/Avatar.styles.css
  packages/ui/src/components/Box/styles.css
  packages/ui/src/components/Button/styles.css
  packages/ui/src/components/ButtonIcon/styles.css
  packages/ui/src/components/Card/Card.styles.css
  packages/ui/src/components/Checkbox/styles.css
  packages/ui/src/components/Collapsible/Collapsible.styles.css
  packages/ui/src/components/Container/styles.css
  packages/ui/src/components/FieldError/FieldError.styles.css
  packages/ui/src/components/FieldLabel/FieldLabel.styles.css
  packages/ui/src/components/Flex/styles.css
  packages/ui/src/components/Grid/styles.css
  packages/ui/src/components/Header/Header.styles.css
  packages/ui/src/components/HeaderPage/HeaderPage.styles.css
  packages/ui/src/components/Icon/styles.css
  packages/ui/src/components/Link/styles.css
  packages/ui/src/components/Menu/Menu.styles.css
  packages/ui/src/components/PasswordField/PasswordField.styles.css
  packages/ui/src/components/Popover/Popover.styles.css
  packages/ui/src/components/RadioGroup/RadioGroup.styles.css
  packages/ui/src/components/ScrollArea/ScrollArea.styles.css
  packages/ui/src/components/SearchField/SearchField.styles.css
  packages/ui/src/components/Select/Select.styles.css
  packages/ui/src/components/Skeleton/Skeleton.styles.css
  packages/ui/src/components/Switch/Switch.styles.css
  packages/ui/src/components/Table/Table.styles.css
  packages/ui/src/components/TablePagination/TablePagination.styles.css
  packages/ui/src/components/Tabs/Tabs.styles.css
  packages/ui/src/components/TagGroup/TagGroup.styles.css
  packages/ui/src/components/Text/styles.css
  packages/ui/src/components/TextField/TextField.styles.css
  packages/ui/src/components/Tooltip/Tooltip.styles.css
Labels: none

Improve core
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

fix: distributed actions visibility in scaffolder
  .changeset/loud-windows-give.md
  app-config.yaml
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/actions/index.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/DecoratedActionsRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

fix(scaffolder): use initiator credentials for getting action
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/DecoratedActionsRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

generate api report
  packages/ui/report.api.md
Labels: none

feat(eslint): relax frontend imports for nfs
  .changeset/hungry-needles-clean.md
  packages/eslint-plugin/docs/rules/no-mixed-plugin-imports.md
  packages/eslint-plugin/lib/getPackages.js
  packages/eslint-plugin/rules/no-mixed-plugin-imports.js
  packages/eslint-plugin/src/__fixtures__/monorepo/packages/bar-override/package.json
  packages/eslint-plugin/src/__fixtures__/monorepo/packages/foo/package.json
Labels: none

docs: improve software template page
  docs/features/software-templates/configuration.md
Labels: area:documentation

ui: extract data-* attributes
  packages/ui/src/utils/extractProps.ts
Labels: none

ui: make sure data attributes are passed down to the DOM
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Container/Container.tsx
  packages/ui/src/components/Flex/Flex.tsx
  packages/ui/src/components/Grid/Grid.tsx
Labels: none

ui: data attributes changesets
  .changeset/open-symbols-find.md
Labels: none

add documentation for dialog component
  docs-ui/src/content/components/dialog.mdx
  docs-ui/src/content/components/dialog.props.ts
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/data.ts
  packages/ui/src/components/Dialog/Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.styles.css
Labels: none

repo-tools: Fix duplicate imports in OpenAPI client generation (#31297)
  .changeset/forty-rooms-work.md
  packages/repo-tools/src/commands/package/schema/openapi/generate/client.ts
  packages/repo-tools/src/commands/package/schema/openapi/generate/server.ts
  packages/repo-tools/src/lib/openapi/dedupe-imports.ts
  packages/repo-tools/src/lib/openapi/helpers.ts
Labels: none

Add virtualizer to MenuAutocomplete
  packages/ui/src/components/Menu/Menu.stories.tsx
  packages/ui/src/components/Menu/Menu.styles.css
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/Menu/MenuAutocomplete.stories.tsx
  packages/ui/src/components/Menu/MenuAutocompleteListBox.stories.tsx
  packages/ui/src/components/Menu/MenuListBox.stories.tsx
  packages/ui/src/components/Menu/types.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Update index.md rearranged admin links at bottom of page
  docs/getting-started/index.md
Labels: area:documentation

Add virtualizer on all other menus
  packages/ui/src/components/Menu/Menu.stories.tsx
  packages/ui/src/components/Menu/Menu.styles.css
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/Menu/MenuAutocompleteListBox.stories.tsx
  packages/ui/src/components/Menu/MenuListBox.stories.tsx
  packages/ui/src/components/Menu/types.ts
Labels: none

Improve report
  .changeset/old-tips-juggle.md
  packages/ui/report.api.md
Labels: none

Update styles.css
  packages/ui/css/styles.css
Labels: none

Fix sections
  packages/ui/css/styles.css
  packages/ui/src/components/Menu/Menu.styles.css
Labels: none

Update Menu.tsx
  packages/ui/src/components/Menu/Menu.tsx
Labels: none

Improve docs
  docs-ui/public/theme-backstage.css
  docs-ui/src/content/components/menu.props.ts
Labels: none

Update index.md fix prettier errors
  docs/getting-started/index.md
Labels: area:documentation

chore(deps): update step-security/harden-runner to v2.13.1
  .github/workflows/api-breaking-changes-comment.yml
  .github/workflows/api-breaking-changes.yml
  .github/workflows/automate_area-labels.yml
  .github/workflows/automate_changeset_feedback.yml
  .github/workflows/automate_merge_message.yml
  .github/workflows/automate_stale.yml
  .github/workflows/ci-noop.yml
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/deploy_docker-image.yml
  .github/workflows/deploy_microsite.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync_canon.yml
  .github/workflows/sync_code-formatting.yml
  .github/workflows/sync_dependabot-changesets.yml
  .github/workflows/sync_release-manifest.yml
  .github/workflows/sync_renovate-changesets.yml
  .github/workflows/sync_snyk-github-issues.yml
  .github/workflows/sync_snyk-monitor.yml
  .github/workflows/sync_version-packages.yml
  .github/workflows/verify_accessibility-noop.yml
  .github/workflows/verify_accessibility.yml
  .github/workflows/verify_chromatic-noop.yml
  .github/workflows/verify_chromatic.yml
  .github/workflows/verify_codeql.yml
  .github/workflows/verify_docs-quality.yml
  .github/workflows/verify_e2e-linux-noop.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-techdocs.yml
  .github/workflows/verify_e2e-windows-noop.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_fossa.yml
  .github/workflows/verify_microsite-noop.yml
  .github/workflows/verify_microsite.yml
  .github/workflows/verify_microsite_accessibility-noop.yml
  .github/workflows/verify_microsite_accessibility.yml
  .github/workflows/verify_windows.yml
Labels: none

chore(deps): update step-security/harden-runner to v2.13.1
  .github/workflows/api-breaking-changes-comment.yml
  .github/workflows/api-breaking-changes.yml
  .github/workflows/automate_area-labels.yml
  .github/workflows/automate_changeset_feedback.yml
  .github/workflows/automate_merge_message.yml
  .github/workflows/automate_stale.yml
  .github/workflows/ci-noop.yml
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/deploy_docker-image.yml
  .github/workflows/deploy_microsite.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/scorecard.yml
  .github/workflows/sync_canon.yml
  .github/workflows/sync_code-formatting.yml
  .github/workflows/sync_dependabot-changesets.yml
  .github/workflows/sync_release-manifest.yml
  .github/workflows/sync_renovate-changesets.yml
  .github/workflows/sync_snyk-github-issues.yml
  .github/workflows/sync_snyk-monitor.yml
  .github/workflows/sync_version-packages.yml
  .github/workflows/verify_accessibility-noop.yml
  .github/workflows/verify_accessibility.yml
  .github/workflows/verify_chromatic-noop.yml
  .github/workflows/verify_chromatic.yml
  .github/workflows/verify_codeql.yml
  .github/workflows/verify_docs-quality.yml
  .github/workflows/verify_e2e-linux-noop.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-techdocs.yml
  .github/workflows/verify_e2e-windows-noop.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_fossa.yml
  .github/workflows/verify_microsite-noop.yml
  .github/workflows/verify_microsite.yml
  .github/workflows/verify_microsite_accessibility-noop.yml
  .github/workflows/verify_microsite_accessibility.yml
  .github/workflows/verify_windows.yml
Labels: none

Remove cron schedule from workflow
  .github/workflows/cron.yml
Labels: none

chore: fix prettier and text copy
  docs-ui/src/content/components/dialog.mdx
  docs-ui/src/content/components/dialog.props.ts
  packages/ui/src/components/Dialog/Dialog.stories.tsx
Labels: none

Bootstrap Proxy agent if proxy configured
  packages/create-app/src/lib/tasks.ts
Labels: none

Add changeset
  .changeset/short-groups-knock.md
Labels: none

Add proxy to create-app tasks
  packages/cli-common/src/index.ts
  packages/cli-common/src/proxyBootstrap.test.ts
  packages/cli-common/src/proxyBootstrap.ts
  packages/cli/src/modules/migrate/commands/versions/bump.ts
  packages/create-app/package.json
  packages/create-app/src/lib/tasks.test.ts
  packages/create-app/src/lib/tasks.ts
  yarn.lock
Labels: none

Add undici and global-agent as dependencies
  packages/cli-common/package.json
Labels: none
