Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

add api report for passing ci
  plugins/scaffolder-backend-module-azure/report.api.md
Labels: area:scaffolder

Add changeset for Azure PR action
  .changeset/true-pianos-cross.md
Labels: none

Add changeset for Azure PR action
  .changeset/true-pianos-cross.md
Labels: none

update branchName param of azure pr examples
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.examples.ts
Labels: area:scaffolder

add unit tests for azure pr examples
  plugins/scaffolder-backend-module-azure/src/actions/azurePullRequest.examples.test.ts
Labels: area:scaffolder

Include slack channel ID in error message if message could not be delivered
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: none

Add Swiss Mobiliar Insurance Company to adopters
  ADOPTERS.md
Labels: none

Update Button.stories.tsx
  packages/ui/src/components/Button/Button.stories.tsx
Labels: none

Revert "Fix Chromatic flow for forked PRs"
  .github/workflows/verify_chromatic.yml
Labels: none

Convert Button styles into CSS Modules
  packages/ui/css/styles.css
  packages/ui/src/components/Button/Button.module.css
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/css/styles.css
Labels: none

Update report.api.md
  packages/ui/report.api.md
Labels: none

Add changeset
  .changeset/olive-rules-press.md
Labels: none

frontend-test-utils: marking as breaking
  .changeset/real-seals-dress.md
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
Labels: none

frontend-plugin-api: minor expect improvements
  packages/frontend-plugin-api/src/blueprints/SwappableComponentBlueprint.test.tsx
Labels: none

chore: enter release exit mode
  .changeset/pre.json
Labels: none

Improve styles props
  docs-ui/public/theme-backstage.css
  packages/ui/src/components/Avatar/Avatar.tsx
  packages/ui/src/components/Card/Card.module.css
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Collapsible/Collapsible.tsx
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/components/FieldError/FieldError.tsx
  packages/ui/src/components/FieldLabel/FieldLabel.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/components/Header/HeaderToolbar.tsx
  packages/ui/src/components/HeaderPage/HeaderPage.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Menu/Menu.tsx
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/components/RadioGroup/RadioGroup.tsx
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Switch/Switch.tsx
  packages/ui/src/components/Text/Text.tsx
  packages/ui/src/components/Tooltip/Tooltip.tsx
  packages/ui/src/hooks/useStyles.ts
Labels: none

Update index.md Add minimum of 4 GB memory as placeholder.
  docs/getting-started/index.md
Labels: area:documentation

Move the rest of components to use cleaned props
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Cell.tsx
  packages/ui/src/components/Table/components/CellProfile.tsx
  packages/ui/src/components/Table/components/Column.tsx
  packages/ui/src/components/Table/components/Row.tsx
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/components/TableBody.tsx
  packages/ui/src/components/Table/components/TableHeader.tsx
  packages/ui/src/components/Table/index.ts
  packages/ui/src/components/Table/types.ts
  packages/ui/src/components/TablePagination/TablePagination.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/TagGroup/TagGroup.tsx
  packages/ui/src/components/Text/Text.tsx
Labels: none

Update Menu.tsx
  packages/ui/src/components/Menu/Menu.tsx
Labels: none

Fix a bunch of vale errors
  .changeset/brave-plants-drop.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/kubernetes/configuration.md
  docs/features/software-catalog/api.md
  docs/features/software-catalog/extending-the-model--old.md
  docs/features/software-catalog/extending-the-model.md
  docs/tutorials/quickstart-app-plugin.md
  packages/eslint-plugin/docs/rules/no-relative-monorepo-imports.md
  packages/eslint-plugin/docs/rules/no-undeclared-imports.md
Labels: area:documentation

[skip ci] Update README
  README.md
Labels: none

Fixed SearchModal not cleaning up body overflow #31402
  .changeset/orange-friends-march.md
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
Labels: area:search

Cleaning up
  .changeset/polite-impalas-shine.md
  packages/ui/report.api.md
  packages/ui/src/components/Avatar/Avatar.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/PasswordField/PasswordField.tsx
  packages/ui/src/index.ts
  packages/ui/src/props/display.props.ts
  packages/ui/src/props/gap-props.ts
  packages/ui/src/props/height.props.ts
  packages/ui/src/props/index.ts
  packages/ui/src/props/margin.props.ts
  packages/ui/src/props/padding.props.ts
  packages/ui/src/props/position.props.ts
  packages/ui/src/props/prop-def.ts
  packages/ui/src/props/spacing.props.ts
  packages/ui/src/props/width.props.ts
Labels: none

Remove outdated SearchModal test that expected hidden Dialog to remain in DOM
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
Labels: area:search

Converted all icons
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/ButtonIcon/ButtonIcon.stories.tsx
  packages/ui/src/components/ButtonLink/ButtonLink.stories.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Collapsible/Collapsible.stories.tsx
  packages/ui/src/components/PasswordField/PasswordField.stories.tsx
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/components/Table/components/Column.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
  packages/ui/src/components/TagGroup/TagGroup.stories.tsx
  packages/ui/src/components/TextField/TextField.stories.tsx
Labels: none

Update TagGroup.stories.tsx
  packages/ui/src/components/TagGroup/TagGroup.stories.tsx
Labels: none

Remove Icon component in BUI
  .changeset/yummy-eagles-kiss.md
  docs-ui/src/components/Toolbar/theme-name.tsx
  docs-ui/src/components/Toolbar/theme.tsx
  docs-ui/src/snippets/stories-snippets.tsx
  docs-ui/src/utils/data.ts
  packages/ui/report.api.md
  packages/ui/src/components/Card/Card.stories.tsx
  packages/ui/src/components/Icon/Icon.module.css
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/context.tsx
  packages/ui/src/components/Icon/icons.ts
  packages/ui/src/components/Icon/index.tsx
  packages/ui/src/components/Icon/provider.tsx
  packages/ui/src/components/Icon/types.ts
  packages/ui/src/index.ts
Labels: none

Remove ScrollArea from BUI
  .changeset/stupid-glasses-stick.md
  packages/ui/report.api.md
  packages/ui/src/components/Menu/Menu.module.css
  packages/ui/src/components/ScrollArea/ScrollArea.module.css
  packages/ui/src/components/ScrollArea/ScrollArea.stories.tsx
  packages/ui/src/components/ScrollArea/ScrollArea.tsx
  packages/ui/src/components/ScrollArea/index.ts
  packages/ui/src/index.ts
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

Update yummy-eagles-kiss.md
  .changeset/yummy-eagles-kiss.md
Labels: none

fix(cli): replace `backstage:^` with explicit version for moved packages
  .changeset/famous-spiders-work.md
  packages/cli/src/modules/migrate/commands/versions/migrate.test.ts
  packages/cli/src/modules/migrate/commands/versions/migrate.ts
  packages/cli/src/modules/migrate/lib/utils.ts
Labels: none

Add changeset
  .changeset/sad-rockets-rule.md
Labels: none

Support custom start URL search parameters in OIDC provider
  docs/auth/oidc.md
  plugins/auth-backend-module-oidc-provider/config.d.ts
  plugins/auth-backend-module-oidc-provider/report.api.md
  plugins/auth-backend-module-oidc-provider/src/authenticator.test.ts
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
Labels: area:auth, area:documentation

feat(user-settings): add storage api blueprint for nfs
  .changeset/sweet-laws-lead.md
  plugins/user-settings/report-alpha.api.md
  plugins/user-settings/src/alpha.tsx
Labels: none

Update index.md fix prettier errors
  docs/getting-started/index.md
Labels: area:documentation

feat: promote instance metadata to stable
  .changeset/honest-pandas-win.md
  .changeset/moody-plums-add.md
  .changeset/open-items-open.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/alpha/refs.ts
  packages/backend-plugin-api/src/services/definitions/InstanceMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend/src/instanceMetadata.ts
  plugins/gateway-backend/src/plugin.ts
  plugins/gateway-backend/src/router.ts
  yarn.lock
Labels: none

address PR feedback and fix api reports
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/InstanceMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

fix api report
  packages/backend-test-utils/report.api.md
Labels: none

remove http routes
  packages/backend-app-api/package.json
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  yarn.lock
Labels: none

make async and readonly
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/helpers.ts
  packages/backend-plugin-api/src/services/definitions/InstanceMetadataService.ts
  plugins/gateway-backend/src/plugin.ts
  plugins/gateway-backend/src/router.ts
Labels: none

add docs
  docs/backend-system/core-services/instance-metadata.md
Labels: area:documentation
