Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Update eighty-cows-care.md
  .changeset/eighty-cows-care.md
Labels: none

chore: fixing loading state Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-react/src/hooks/useEventStream.ts
Labels: area:scaffolder

chore: changeset
  .changeset/curvy-bobcats-melt.md
Labels: none

chore: fix api-reports Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-react/report.api.md
Labels: area:scaffolder

workflows: tweak techdocs workflow
  .github/workflows/verify_e2e-techdocs.yml
Labels: none

fix: gendocu public apis error
  package.json
  yarn.lock
Labels: none

review changes - username (user@domain.co) + token takes priority over username + appPassword
  .changeset/cute-taxis-double.md
  packages/integration/config.d.ts
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
Labels: area:scaffolder

review changes - clean up
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
Labels: none

review changes - update bitbucket doc
  docs/integrations/bitbucketCloud/locations.md
Labels: area:documentation

fix tests
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

docs: starting to fill out the plugin golden path
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/golden-path/plugins/backend/001-first-steps.md
  docs/golden-path/plugins/backend/__meta__.md
  docs/golden-path/plugins/backend/recap.md
  docs/golden-path/plugins/index.md
  docs/golden-path/plugins/integrations/__meta__.md
  docs/golden-path/plugins/sustainable-plugin-development.md
  docs/golden-path/plugins/why-build-plugins.md
Labels: area:documentation

another bit of work
  docs/golden-path/plugins/backend/001-first-steps.md
  docs/golden-path/plugins/backend/002-poking-around.md
  docs/golden-path/plugins/backend/todo.http
Labels: area:documentation

create-app docs
  docs/golden-path/create-app/customize-theme.md
  docs/golden-path/create-app/index.md
  docs/golden-path/create-app/installing-plugins.md
  docs/golden-path/create-app/keeping-backstage-updated.md
  docs/golden-path/create-app/local-development.md
  docs/golden-path/create-app/logging-in.md
  docs/golden-path/create-app/npx-create-app.md
  docs/golden-path/plugins/backend/002-poking-around.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

address PR feedback
  docs/golden-path/create-app/installing-plugins.md
  docs/golden-path/create-app/local-development.md
Labels: area:documentation

Apply suggestions from code review
  docs/golden-path/create-app/installing-plugins.md
  docs/golden-path/create-app/keeping-backstage-updated.md
  docs/golden-path/create-app/local-development.md
  docs/golden-path/create-app/logging-in.md
  docs/golden-path/create-app/npx-create-app.md
  docs/golden-path/plugins/index.md
Labels: area:documentation

update to rspack
  docs/golden-path/create-app/local-development.md
  docs/golden-path/create-app/npx-create-app.md
Labels: area:documentation

Updated diagram to show Kubernetes as core plugin
  docs/assets/architecture-overview/backstage-front-back-arch.jpeg
Labels: area:documentation

remove formatting on style css
  packages/ui/css/styles.css
Labels: none

Update eighty-cows-care.md
  .changeset/eighty-cows-care.md
Labels: none

fix lint errors
  docs/golden-path/create-app/customize-theme.md
  docs/golden-path/create-app/keeping-backstage-updated.md
  docs/golden-path/create-app/logging-in.md
  docs/golden-path/create-app/npx-create-app.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

Updated graphics to remove the work Container
  docs/assets/architecture-overview/backstage-front-back-arch.jpeg
  docs/assets/architecture-overview/simplified-service-based-plugin-architecture.jpeg
  docs/assets/architecture-overview/simplified-standalone-plugin-architecture.jpeg
  docs/assets/architecture-overview/simplified-third-party-plugin-architecture.jpeg
Labels: area:documentation

Update architecture-overview.md
  docs/overview/architecture-overview.md
Labels: area:documentation

Created changeset
  .changeset/fuzzy-baboons-search.md
Labels: none

Removed horizontal padding on the tags table cell and redundant alignItems
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

Added a wrapping flexbox to tags for improved wrapping spacing & visuals.
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

fix api report
  packages/backend-test-utils/report.api.md
Labels: none

add flag for golden paths
  docs/golden-path/plugins/index.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

format componentDefinitions
  packages/ui/report.api.md
  packages/ui/src/utils/componentDefinitions.ts
Labels: none

fix ci install build bui
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
Labels: none

Update .changeset/open-items-open.md
  .changeset/open-items-open.md
Labels: none

remove http routes
  packages/backend-app-api/package.json
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  yarn.lock
Labels: none

feat(home): add new frontend system support
  .changeset/tangy-wasps-invent.md
  docs/getting-started/homepage.md
  plugins/home-react/package.json
  plugins/home-react/report-alpha.api.md
  plugins/home-react/src/alpha/blueprints/CustomHomepageWidgetBlueprint.tsx
  plugins/home-react/src/alpha/dataRefs.ts
  plugins/home-react/src/extensions.tsx
  plugins/home-react/src/translation.ts
  plugins/home/README.md
  plugins/home/dev/index.tsx
  plugins/home/package.json
  plugins/home/report-alpha.api.md
  plugins/home/report.api.md
  plugins/home/src/alpha.test.ts
  plugins/home/src/alpha.tsx
  plugins/home/src/alpha/CustomHomepageBlueprint.tsx
  plugins/home/src/api/VisitsApi.ts
  plugins/home/src/translation.ts
  yarn.lock
Labels: area:documentation, area:home, area:search

Update sidebars.ts to add back what-is-backstage and roadmap
  microsite/sidebars.ts
Labels: area:microsite

Removed the private flag so that we can publish the BUI Themer
  plugins/bui-themer/package.json
Labels: none

feat(techdocs): POC livereload for techdocs-cli serve
  packages/techdocs-cli-embedded-app/app-config.yaml
  packages/techdocs-cli-embedded-app/src/App.tsx
  packages/techdocs-cli-embedded-app/src/LiveReloadAddon.tsx
  packages/techdocs-cli/src/lib/httpServer.ts
Labels: area:techdocs

chore: techdocs reload tests, refactor
  .changeset/brown-symbols-create.md
  packages/techdocs-cli-embedded-app/app-config.yaml
  packages/techdocs-cli-embedded-app/src/LiveReloadAddon.test.tsx
  packages/techdocs-cli-embedded-app/src/LiveReloadAddon.tsx
  packages/techdocs-cli/src/lib/httpServer.ts
  packages/techdocs-cli/src/lib/livereload.test.ts
  packages/techdocs-cli/src/lib/livereload.ts
Labels: area:techdocs

chore: add deper nav for docs
  plugins/techdocs-backend/examples/documented-component/docs/deeper-nav/even-deeper/index.md
  plugins/techdocs-backend/examples/documented-component/docs/deeper-nav/index.md
  plugins/techdocs-backend/examples/documented-component/mkdocs.yml
Labels: area:techdocs

chore: deduplicate
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
Labels: area:techdocs

fix(techdocs): ExpandableNavigation addons does not work on Firefox
  .changeset/gentle-bikes-relax.md
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
Labels: area:techdocs

chore: Clean techdocs-module-addons-contrib ExpandableNavigation
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
Labels: area:techdocs
