Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Fixing dependencies
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

Improve catalog page
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

Fix dependencies
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

offline access implementation plan
  refresh-token-plan.md
Labels: none

auth-backend: initial implementation of offline access
  .changeset/refresh-token-support.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/migrations/20251020000000_offline_sessions.js
  plugins/auth-backend/report.sql.md
  plugins/auth-backend/src/database/OfflineSessionDatabase.test.ts
  plugins/auth-backend/src/database/OfflineSessionDatabase.ts
  plugins/auth-backend/src/lib/refreshToken.test.ts
  plugins/auth-backend/src/lib/refreshToken.ts
  plugins/auth-backend/src/service/OfflineAccessService.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
  plugins/auth-backend/src/service/router.ts
  refresh-token-plan.md
Labels: area:auth

auth-backend: switch offline access classes to modern service pattern
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/database/OfflineSessionDatabase.test.ts
  plugins/auth-backend/src/database/OfflineSessionDatabase.ts
  plugins/auth-backend/src/service/OfflineAccessService.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

cli: more auth cleanup and UX
  packages/cli/src/modules/auth/commands/index.ts
  packages/cli/src/modules/auth/commands/list.ts
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/commands/select.ts
  packages/cli/src/modules/auth/index.ts
  packages/cli/src/modules/auth/lib/browser.ts
  packages/cli/src/modules/auth/lib/storage.ts
Labels: none

cli: add auth commands
  app-config.yaml
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/modules/auth/commands/index.ts
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/commands/status.ts
  packages/cli/src/modules/auth/index.ts
  packages/cli/src/modules/auth/lib/backendDiscovery.ts
  packages/cli/src/modules/auth/lib/browser.ts
  packages/cli/src/modules/auth/lib/http.ts
  packages/cli/src/modules/auth/lib/localServer.ts
  packages/cli/src/modules/auth/lib/pkce.ts
  packages/cli/src/modules/auth/lib/secretStore.ts
  packages/cli/src/modules/auth/lib/storage.ts
  packages/cli/src/modules/auth/types/proper-lockfile.d.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.ts
  yarn.lock
Labels: area:auth

cli: update auth with multi-instance store and selection
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/commands/status.ts
  packages/cli/src/modules/auth/index.ts
  packages/cli/src/modules/auth/lib/storage.ts
Labels: none

auth-backend: update OfflineSessionDatabase to use existing duration utils
  plugins/auth-backend/src/database/OfflineSessionDatabase.ts
Labels: area:auth

auth-backend: add offline access metadata to oidc
  plugins/auth-backend/src/service/OidcService.ts
Labels: area:auth

cli: auth refactoring + switch to list
  packages/cli/src/modules/auth/commands/index.ts
  packages/cli/src/modules/auth/commands/list.ts
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/index.ts
  packages/cli/src/modules/auth/lib/backendDiscovery.ts
  packages/cli/src/modules/auth/lib/http.ts
Labels: none

cli: auth updates and show command
  packages/cli/cli-report.md
  packages/cli/src/modules/auth/commands/index.ts
  packages/cli/src/modules/auth/commands/list.ts
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/commands/show.ts
  packages/cli/src/modules/auth/index.ts
  packages/cli/src/modules/auth/lib/storage.ts
  packages/cli/src/modules/auth/types/proper-lockfile.d.ts
Labels: none

auth-backend: OidcService test fix
  plugins/auth-backend/src/service/OidcService.test.ts
Labels: area:auth

cli: rename auth --name option to --instance
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/commands/select.ts
  packages/cli/src/modules/auth/commands/show.ts
Labels: none

cli: auth refactor to lib and cleanup
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/commands/select.ts
  packages/cli/src/modules/auth/commands/show.ts
  packages/cli/src/modules/auth/lib/auth.ts
  packages/cli/src/modules/auth/lib/prompt.ts
Labels: none

auth-backend: refactor and row type for OfflineSessionDatabase
  plugins/auth-backend/src/database/OfflineSessionDatabase.ts
Labels: area:auth

cli: add auth lib tests
  packages/cli/src/modules/auth/lib/auth.test.ts
  packages/cli/src/modules/auth/lib/http.test.ts
  packages/cli/src/modules/auth/lib/localServer.test.ts
  packages/cli/src/modules/auth/lib/pkce.test.ts
  packages/cli/src/modules/auth/lib/prompt.test.ts
  packages/cli/src/modules/auth/lib/secretStore.test.ts
  packages/cli/src/modules/auth/lib/storage.test.ts
Labels: none

cli: slimmer openInBrowser
  packages/cli/src/modules/auth/commands/login.ts
Labels: none

cli: avoid default exports in modules/auth
  packages/cli/src/modules/auth/commands/index.ts
  packages/cli/src/modules/auth/commands/list.ts
  packages/cli/src/modules/auth/commands/login.ts
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/commands/printToken.ts
  packages/cli/src/modules/auth/commands/select.ts
  packages/cli/src/modules/auth/commands/show.ts
Labels: none

Improve Link component to add title
  packages/ui/src/components/Link/Link.tsx
  packages/ui/src/components/Link/types.ts
Labels: none

Cell -> CellText
  docs-ui/src/content/table.props.ts
  packages/ui/src/components/Table/Table.module.css
  packages/ui/src/components/Table/Table.stories.tsx
  packages/ui/src/components/Table/components/Cell.tsx
  packages/ui/src/components/Table/components/CellText.tsx
  packages/ui/src/components/Table/index.ts
  packages/ui/src/components/Table/mocked-data2.ts
  packages/ui/src/components/Table/types.ts
Labels: none

Update Link.tsx
  packages/ui/src/components/Link/Link.tsx
Labels: none

Improve report & changeset
  .changeset/open-points-beam.md
  packages/ui/report.api.md
Labels: none

cli-common: add unified run utils
  .changeset/modern-taxes-start.md
  packages/cli-common/package.json
  packages/cli-common/report.api.md
  packages/cli-common/src/errors.ts
  packages/cli-common/src/run.ts
  yarn.lock
Labels: none

techdocs-cli: update to use new run utils from cli-common
  .changeset/chilly-bikes-rule.md
  packages/techdocs-cli/src/commands/serve/mkdocs.ts
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/commands/serve/utils.ts
  packages/techdocs-cli/src/lib/mkdocsServer.test.ts
  packages/techdocs-cli/src/lib/mkdocsServer.ts
  packages/techdocs-cli/src/lib/run.ts
Labels: area:techdocs

cli-node: update to use new run utils from cli-common
  .changeset/afraid-items-drum.md
  packages/cli-node/src/git/GitUtils.ts
  packages/cli-node/src/monorepo/PackageGraph.test.ts
  packages/cli-node/src/monorepo/PackageGraph.ts
  packages/cli-node/src/monorepo/isMonorepo.test.ts
  packages/cli-node/src/pacman/PackageManager.test.ts
  packages/cli-node/src/pacman/PackageManager.ts
  packages/cli-node/src/pacman/yarn/Yarn.test.ts
  packages/cli-node/src/pacman/yarn/Yarn.ts
  packages/cli-node/src/paths.ts
  packages/cli-node/src/util.ts
Labels: none

e2e-test: update to use new run utils from cli-common
  packages/e2e-test/src/commands/index.ts
  packages/e2e-test/src/commands/runCommand.ts
  packages/e2e-test/src/index.ts
  packages/e2e-test/src/lib/helpers.ts
Labels: none

cli: update to use new run utils from cli-common
  .changeset/tender-dancers-hunt.md
  packages/cli/src/lib/run.ts
  packages/cli/src/lib/versioning/packages.test.ts
  packages/cli/src/lib/versioning/packages.ts
  packages/cli/src/lib/versioning/yarn.ts
  packages/cli/src/modules/build/lib/bundler/config.ts
  packages/cli/src/modules/build/lib/packager/createDistWorkspace.ts
  packages/cli/src/modules/info/commands/info.ts
  packages/cli/src/modules/maintenance/commands/repo/clean.ts
  packages/cli/src/modules/migrate/commands/packageLintConfigs.ts
  packages/cli/src/modules/migrate/commands/versions/bump.test.ts
  packages/cli/src/modules/migrate/commands/versions/bump.ts
  packages/cli/src/modules/migrate/commands/versions/migrate.test.ts
  packages/cli/src/modules/migrate/lib/utils.ts
  packages/cli/src/modules/new/lib/tasks.ts
  packages/cli/src/modules/test/commands/package/test.ts
  packages/cli/src/modules/test/commands/repo/test.ts
Labels: none

codemods,repo-tools: update to use new run utils from cli-common
  .changeset/funny-papayas-rest.md
  packages/codemods/src/action.ts
  packages/codemods/src/errors.ts
  packages/repo-tools/src/commands/api-reports/api-reports/generateTypeDeclarations.ts
Labels: none

cli-common: cover run utils with tests
  packages/cli-common/src/run.test.ts
Labels: none

cli-common: polish API surface for run
  packages/cli-common/report.api.md
  packages/cli-common/src/index.ts
  packages/cli-common/src/run.ts
  packages/cli/src/modules/build/lib/packager/createDistWorkspace.ts
  packages/cli/src/modules/migrate/lib/utils.ts
  packages/techdocs-cli/src/commands/serve/mkdocs.ts
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/lib/mkdocsServer.ts
Labels: area:techdocs

cli-common: cleanup and polish waitForExit
  packages/cli-common/src/run.test.ts
  packages/cli-common/src/run.ts
Labels: none

cli: remove redundant util
  packages/cli/src/modules/new/lib/execution/executePortableTemplate.ts
  packages/cli/src/modules/new/lib/tasks.ts
Labels: none

minor fixes and changeset polish for offline access
  .changeset/refresh-token-support.md
  packages/cli/src/modules/auth/commands/logout.ts
  packages/cli/src/modules/auth/lib/storage.test.ts
  packages/cli/src/modules/auth/lib/storage.ts
Labels: none

cli/modules/auth: polish tests
  packages/cli/src/modules/auth/lib/auth.test.ts
  packages/cli/src/modules/auth/lib/http.test.ts
  packages/cli/src/modules/auth/lib/localServer.test.ts
  packages/cli/src/modules/auth/lib/pkce.test.ts
  packages/cli/src/modules/auth/lib/prompt.test.ts
  packages/cli/src/modules/auth/lib/secretStore.test.ts
  packages/cli/src/modules/auth/lib/secretStore.ts
  packages/cli/src/modules/auth/lib/storage.test.ts
Labels: none

changesets: add changeset for CLI auth
  .changeset/cli-auth-commands.md
Labels: none

auth-backend: some followup offline access polish
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/migrations/20251020000000_offline_sessions.js
  plugins/auth-backend/src/database/OfflineSessionDatabase.test.ts
  plugins/auth-backend/src/database/OfflineSessionDatabase.ts
  plugins/auth-backend/src/lib/refreshToken.test.ts
  plugins/auth-backend/src/lib/refreshToken.ts
  plugins/auth-backend/src/service/OfflineAccessService.ts
Labels: area:auth

use newer version of glob
  packages/cli/config/jest.js
  packages/cli/package.json
  yarn.lock
Labels: none

use newer version of glob
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/processors/FileReaderProcessor.ts
  yarn.lock
Labels: area:catalog

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
