Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Updates API reports due to DependencyGraph API change in #31480
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Moved from catalog-graph-backend into catalog-backend-module-graph
  .changeset/funny-swans-chew.md
  .changeset/rare-peas-wink.md
  .changeset/thirty-cycles-go.md
  app-config.yaml
  p/catalog-graph-backend/catalog-info.yaml
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/catalog-backend-module-graph/.eslintrc.js
  plugins/catalog-backend-module-graph/README.md
  plugins/catalog-backend-module-graph/catalog-info.yaml
  plugins/catalog-backend-module-graph/config.d.ts
  plugins/catalog-backend-module-graph/dev/index.ts
  plugins/catalog-backend-module-graph/package.json
  plugins/catalog-backend-module-graph/report.api.md
  plugins/catalog-backend-module-graph/src/GraphModule.test.ts
  plugins/catalog-backend-module-graph/src/GraphModule.ts
  plugins/catalog-backend-module-graph/src/index.ts
  plugins/catalog-backend-module-graph/src/plugin.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/DefaultGraphService.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/GraphService.ts
  plugins/catalog-backend-module-graph/src/services/GraphService/index.ts
  plugins/catalog-backend-module-graph/src/setupTests.ts
  plugins/catalog-graph-backend/README.md
  plugins/catalog-graph-backend/src/router.ts
  plugins/catalog-graph-common/package.json
  plugins/catalog-graph/package.json
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraphFromBackend.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useFetchMethod.ts
  yarn.lock
Labels: area:catalog

Update unregister-delete-component.md fix prettier errors
  docs/getting-started/unregister-delete-component.md
Labels: area:documentation

fix: Add ordering to OwnerPicker
  .changeset/huge-berries-cry.md
  plugins/scaffolder/CHANGELOG.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
Labels: area:scaffolder

Update unregister-delete-component.md fix formatting
  docs/getting-started/unregister-delete-component.md
Labels: area:documentation

fixes type checking
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
Labels: area:scaffolder

fixed type checking
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
Labels: area:scaffolder

build api reports
  .changeset/fine-clocks-add.md
  plugins/home/report.api.md
  plugins/scaffolder/report.api.md
  plugins/search-react/report-alpha.api.md
Labels: area:home, area:search, area:scaffolder

feat: add MikroORM service support
  .changeset/loud-items-matter.md
  packages/backend-defaults/package.json
  packages/backend-defaults/report-mikroOrm.api.md
  packages/backend-defaults/src/entrypoints/mikroOrm/index.ts
  packages/backend-defaults/src/entrypoints/mikroOrm/mikroOrmServiceFactory.ts
  packages/backend-plugin-api/package.json
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/MikroOrmService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/package.json
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/services/mockServices.ts
  yarn.lock
Labels: none

update `app-example` and `backend-example` to show new features
  packages/app/package.json
  packages/app/src/apis.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  yarn.lock
Labels: none

chore: migrate user settings to MikroOrmService
  .changeset/poor-shirts-drum.md
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/database/MikroOrmUserSettingsStore.test.ts
  plugins/user-settings-backend/src/database/MikroOrmUserSettingsStore.ts
  plugins/user-settings-backend/src/database/UserSettingsStore.ts
  plugins/user-settings-backend/src/database/entities/UserSettingEntity.ts
  plugins/user-settings-backend/src/plugin.ts
  yarn.lock
Labels: none

cli - Updated to Jest v30
  .changeset/free-zoos-return.md
  packages/cli/package.json
  yarn.lock
Labels: none

Trying to fix prettier errors in viewing-entity-relationships.md
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

Add missing graphic error-creating-new-component
  docs/assets/uiguide/error-ceating-new-component.png
Labels: area:documentation

Backstage in Atlanta: Highlights from BackstageCon and KubeCon + CloudNativeCon North America 2025
  microsite/blog/2025-11-25-backstagecon-kubecon-25-atlanta.mdx
  microsite/blog/assets/2025-10-15/backstage-contribfest-kubecon-guide-header.png
  microsite/blog/assets/2025-11-25/backstagecon-kubecon-na-2025-header.png
  microsite/blog/assets/2025-11-25/kcon25-atl-contribfest.jpg
  microsite/blog/assets/2025-11-25/kcon25-atl-maintainers.gif
  microsite/blog/assets/2025-11-25/kcon25-atl-puppies.gif
  microsite/blog/assets/2025-11-25/kcon25-atl-slideshow.gif
Labels: area:microsite

techdocs: marking techdocs config as optional
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs/config.d.ts
Labels: area:techdocs

techdocs: config changeset
  .changeset/tough-lies-grow.md
Labels: none

Ran prettier
  microsite/blog/2025-11-25-backstagecon-kubecon-25-atlanta.mdx
Labels: area:microsite

Ran prettier again
  microsite/blog/2025-11-25-backstagecon-kubecon-25-atlanta.mdx
Labels: area:microsite

update graphipql
  plugins/api-docs/package.json
  yarn.lock
Labels: none

Deploying to gh-pages from @ backstage/backstage@39c1af0cd0266f43a232611c0d5de9b7db85230a 🚀
  storybook/project.json
Labels: area:storybook

shift common function to helper.ts file
  microsite/helper.ts
  microsite/sidebars.ts
Labels: area:microsite

re-config sidebar.ts to make breadcrumb navigable
  microsite/sidebars.ts
Labels: area:microsite

add prettier changes
  microsite/sidebars.ts
Labels: area:microsite

do suggested changes in sidebar.ts and helper.ts
  microsite/helper.ts
  microsite/sidebars.ts
Labels: area:microsite

Introduce a new optional filter in queryWithPaging
  plugins/catalog-backend-module-github/src/lib/github.ts
Labels: area:catalog

fix: add correct name
  ADOPTERS.md
Labels: none

fix: add react-router-dom to peer deps
  packages/cli/templates/frontend-plugin/package.json.hbs
Labels: none

refactor(ui): Remove broken drag-and-drop rendering from TableHeader
  packages/ui/src/components/Table/components/TableHeader.tsx
Labels: none

fix: add word break style to markdown content to prevent overflow
  packages/core-components/src/components/WarningPanel/WarningPanel.tsx
Labels: none

chore: add changeset
  .changeset/fuzzy-trees-live.md
Labels: none

Update viewing-entity-relationships.md to fix prettier
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

Update docs/getting-started/unregister-delete-component.md
  docs/getting-started/unregister-delete-component.md
Labels: area:documentation

Update docs/getting-started/view-what-you-own.md
  docs/getting-started/view-what-you-own.md
Labels: area:documentation

fix(ui): apply className only to root element in ButtonIcon
  .changeset/common-coins-stare.md
  .patches/pr-31900.txt
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
Labels: none

fix: Update email processor ses options to match v2
  .changeset/fancy-wasps-check.md
  plugins/notifications-backend-module-email/config.d.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
Labels: none

Simplify interface for time-being
  docs/backend-system/core-services/metrics.md
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultRootMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/InstrumentFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/rootMetricsServiceFactory.ts
  packages/backend-plugin-api/package.json
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  yarn.lock
Labels: area:documentation

feat: allow custom ReactElement as title in EntityTable
  .changeset/young-doodles-repeat.md
  packages/core-components/src/components/Table/Table.test.tsx
  packages/core-components/src/components/Table/Table.tsx
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/EntityTable/EntityTable.test.tsx
  plugins/catalog-react/src/components/EntityTable/EntityTable.tsx
Labels: area:catalog

Update .changeset/young-doodles-repeat.md
  .changeset/young-doodles-repeat.md
Labels: none

Update .changeset/young-doodles-repeat.md
  .changeset/young-doodles-repeat.md
Labels: none
