Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

techdocs: mark aws config as backend
  .changeset/cold-dogs-study.md
  plugins/techdocs-backend/config.d.ts
Labels: area:techdocs

feat(catalog): add gitlab user ID in user entity
  .changeset/vast-rockets-dig.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
  plugins/auth-backend-module-github-provider/config.d.ts
  plugins/auth-backend-module-gitlab-provider/config.d.ts
  plugins/auth-backend-module-gitlab-provider/report.api.md
  plugins/auth-backend-module-gitlab-provider/src/authenticator.ts
  plugins/auth-backend-module-gitlab-provider/src/index.ts
  plugins/auth-backend-module-gitlab-provider/src/resolvers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/defaultTransformers.ts
Labels: area:auth, area:catalog, area:documentation

Update .changeset/sour-lines-taste.md
  .changeset/sour-lines-taste.md
Labels: none

Allow custom error symbol and isCustomError function
  .changeset/public-animals-find.md
  packages/errors/report.api.md
  packages/errors/src/errors/CustomErrorBase.ts
  packages/errors/src/errors/index.ts
  plugins/mcp-actions-backend/src/services/handleErrors.ts
Labels: none

simplify root service responsibilities
  docs/backend-system/core-services/metrics.md
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultRootMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/InstrumentFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/rootMetricsServiceFactory.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  plugins/scaffolder-backend-module-rails/report.api.md
Labels: area:documentation, area:scaffolder

fix: repair Zod validator for disabling variable in object name
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContextMenuItemBlueprint.test.tsx
  plugins/catalog-react/src/alpha/predicates/createEntityPredicateSchema.ts
Labels: area:catalog

refactor: remove coupling with form context
  docs/features/software-templates/ui-options-examples.md
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.tsx
Labels: area:documentation, area:scaffolder

feat(backend-defaults): add config schema for action filtering
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.test.ts
Labels: none

chore: add changeset for action filtering feature
  .changeset/action-filtering-feature.md
Labels: none

test(backend-defaults): add edge case tests for action filtering
  packages/backend-defaults/src/alpha/entrypoints/actions/actionsServiceFactory.test.ts
Labels: none

feat(backend-defaults): implement action filtering with glob patterns and attributes
  packages/backend-defaults/src/alpha/entrypoints/actions/DefaultActionsService.ts
Labels: none

Remove cachekey logic, not needed as only a single bitbucket connection is supported, rework tests and update api report
  packages/integration/src/bitbucketCloud/core.test.ts
  packages/integration/src/bitbucketCloud/core.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
Labels: area:scaffolder

Add config example, changeset and API reports
  .changeset/dark-dingos-see.md
  app-config.yaml
  packages/integration/report.api.md
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
Labels: area:scaffolder

Restore original yaml formatting
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
Labels: area:scaffolder

Add OAuth support for bitbucket pull-request action and update bitbucket sample template
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.ts
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
Labels: area:scaffolder

Add Bitbucket Cloud OAuth support
  docs/integrations/bitbucketCloud/locations.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/integration/config.d.ts
  packages/integration/src/bitbucketCloud/config.test.ts
  packages/integration/src/bitbucketCloud/config.ts
  packages/integration/src/bitbucketCloud/core.test.ts
  packages/integration/src/bitbucketCloud/core.ts
  packages/integration/src/bitbucketCloud/index.ts
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPipelinesRun.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
Labels: area:documentation, area:scaffolder

Add OAuth support for bitbucket publish action
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
Labels: area:scaffolder

Upgrade Storybook to version 10
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  packages/ui/package.json
  yarn.lock
Labels: none

Fix test case
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
Labels: none

test: update tests
  plugins/scaffolder/src/components/fields/RepoOwnerPicker/RepoOwnerPicker.test.tsx
Labels: area:scaffolder

Change version to patch for GitHub plugin
  .changeset/odd-mirrors-attack.md
Labels: none

Update backend-dynamic-feature-service README to reflect current state
  packages/backend-dynamic-feature-service/README.md
Labels: none

add changset
  .changeset/yellow-years-run.md
Labels: none

add v1.46 release notes
  docs/releases/v1.46.0.md
Labels: area:documentation

Improve SearchField
  .changeset/hot-colts-float.md
  packages/ui/src/components/SearchField/SearchField.stories.tsx
  packages/ui/src/components/SearchField/SearchField.tsx
Labels: none

Improve kamel case props for useStyles
  packages/ui/src/components/SearchField/SearchField.module.css
  packages/ui/src/hooks/useStyles.ts
Labels: none

Create clever-buses-fly.md
  .changeset/clever-buses-fly.md
Labels: none

Update clever-buses-fly.md
  .changeset/clever-buses-fly.md
Labels: none

Added dark contrast theme as default
  .changeset/lucky-singers-flow.md
  packages/app-defaults/src/defaults/themes.tsx
  packages/theme/src/base/palettes.ts
  packages/theme/src/unified/themes.ts
Labels: none

updated docs and api report build
  docs/conf/user-interface/index.md
  docs/golden-path/create-app/customize-theme.md
  packages/theme/report.api.md
Labels: area:documentation

fix: add missing i18n support for catalog plugin
  .changeset/empty-games-hug.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/components/EntityTabs/EntityTabsList.tsx
  plugins/catalog/src/alpha/translation.ts
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/components/AboutCard/AboutContent.tsx
  plugins/catalog/src/components/AboutCard/AboutField.tsx
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

fix api report
  plugins/catalog/report-alpha.api.md
Labels: area:catalog

addressed review comments
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/alpha/translation.ts
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

Cleanup API and changeset documentation
  .changeset/cool-ads-nail.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  packages/integration/report.api.md
  packages/integration/src/gitlab/core.ts
Labels: none

add changeset documentation
  .changeset/wide-showers-cry.md
Labels: none

refactor: migrate existing catalog metrics
  packages/backend-test-utils/package.json
  packages/backend-test-utils/report-alpha.api.md
  packages/backend-test-utils/src/alpha/services/MetricsServiceMock.ts
  packages/backend-test-utils/src/alpha/services/index.ts
  packages/backend-test-utils/src/wiring/TestBackend.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/metrics.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.test.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.ts
  plugins/catalog-backend/src/stitching/progressTracker.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/tests/performance/getProcessableEntitiesPerformance.test.ts
  yarn.lock
Labels: area:catalog

refactor: 1:1 migration, no breaking change
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/metrics.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.ts
  plugins/catalog-backend/src/stitching/progressTracker.ts
Labels: area:catalog

remove root impl for now - unused
  docs/backend-system/core-services/metrics.md
  packages/backend-defaults/report-alpha.api.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/index.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/rootMetricsServiceFactory.ts
  packages/backend-defaults/src/alpha/index.ts
  packages/backend-plugin-api/report-alpha.api.md
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
  packages/backend-plugin-api/src/alpha/refs.ts
Labels: area:documentation

Update changeset to not recommend using
  .changeset/ninety-corners-flash.md
  .changeset/rare-adults-attack.md
  .changeset/twenty-worlds-create.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
Labels: none

feat(auth): add audit log events
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/providers/router.audit.test.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth
