Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

catalog-import: authorize catalog.entity.create permission in page extension
  plugins/catalog-import/package.json
  plugins/catalog-import/src/alpha.tsx
  yarn.lock
Labels: area:catalog

fix(catalog): fix responsiveness for catalog entity in nfs
  .changeset/lucky-parrots-yell.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

Update author information in announcements.yaml
  microsite/data/plugins/announcements.yaml
Labels: area:microsite

fix(catalog-react): fixed initially selected all filter not appearing as selected
  .changeset/warm-dancers-battle.md
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

Bump old space for tsc
  package.json
Labels: none

Include slack channel ID in error message if message could not be delivered
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
Labels: none

sync API reports
  packages/app-next-example-plugin/report.api.md
  packages/frontend-plugin-api/report.api.md
  plugins/api-docs/report-alpha.api.md
  plugins/app-visualizer/report.api.md
  plugins/app/report.api.md
  plugins/auth/report.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-import/report-alpha.api.md
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/home/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
  plugins/mui-to-bui/report.api.md
  plugins/notifications/report-alpha.api.md
  plugins/org/report-alpha.api.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/search/report-alpha.api.md
  plugins/signals/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
  plugins/user-settings/report-alpha.api.md
Labels: area:catalog, area:home, area:kubernetes, area:search, area:scaffolder, area:techdocs

catalog-import: changeset
  .changeset/tidy-lines-hear.md
Labels: none

frontend-plugin-api: add OverridableExtensionDefinition
  .changeset/plenty-spiders-lead.md
  packages/frontend-internal/src/wiring/InternalExtensionDefinition.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  packages/frontend-plugin-api/src/wiring/index.ts
Labels: none

Add changeset
  .changeset/sad-rockets-rule.md
Labels: none

revert viewBox back on DependencyGraph and add allowFullscreen prop to EntityRelationsGraph
  .changeset/real-trains-visit.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: area:catalog

Fixed more tests
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/integration/src/bitbucketCloud/config.test.ts
Labels: none

Update plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
Labels: area:scaffolder

bump glob
  yarn.lock
Labels: none

Fixed config logic
  packages/integration/src/bitbucketCloud/config.ts
Labels: none

fix(tests): add test case for scopes starting with @
  packages/cli/src/modules/new/commands/new.test.ts
Labels: none

Update plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
Labels: area:scaffolder

Bitbucket Cloud - API Token Support
  .changeset/every-breads-act.md
  app-config.yaml
  docs/integrations/bitbucketCloud/locations.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/integration/config.d.ts
  packages/integration/src/bitbucketCloud/config.test.ts
  packages/integration/src/bitbucketCloud/config.ts
  packages/integration/src/bitbucketCloud/core.test.ts
  packages/integration/src/bitbucketCloud/core.ts
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
Labels: area:documentation, area:scaffolder

Revert viewbox changes and add fullScreen prop
  .changeset/real-trains-visit.md
Labels: none

fix(cli): prevent double @ prefix when using --scope flag
  packages/cli/src/modules/new/commands/new.ts
Labels: none

fix: add changeset
  .changeset/true-results-shake.md
Labels: none

core-plugin-api: add forwards compatibility for route refs
  .changeset/swift-ideas-fry.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/05-migrating.md
  packages/core-compat-api/src/convertLegacyRouteRef.test.ts
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/core-plugin-api/package.json
  packages/core-plugin-api/report.api.md
  packages/core-plugin-api/src/routing/ExternalRouteRef.test.ts
  packages/core-plugin-api/src/routing/ExternalRouteRef.ts
  packages/core-plugin-api/src/routing/RouteRef.test.ts
  packages/core-plugin-api/src/routing/RouteRef.ts
  packages/core-plugin-api/src/routing/SubRouteRef.test.ts
  packages/core-plugin-api/src/routing/SubRouteRef.ts
  packages/core-plugin-api/src/routing/types.ts
  packages/frontend-app-api/src/routing/RouteResolver.test.ts
  packages/frontend-app-api/src/routing/collectRouteIds.test.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.test.ts
  packages/frontend-plugin-api/src/routing/RouteRef.test.ts
  packages/frontend-plugin-api/src/routing/SubRouteRef.test.ts
  yarn.lock
Labels: area:documentation

chore: add changeset
  .changeset/tiny-chefs-visit.md
Labels: none

gateway-backend: ignore negative hop counts
  plugins/gateway-backend/src/plugin.test.ts
  plugins/gateway-backend/src/router.ts
Labels: none

chore: fix down migration
  plugins/auth-backend/migrations/20251118120000_oauth_state_text.js
Labels: area:auth

chore: update sql reports
  plugins/auth-backend/report.sql.md
Labels: area:auth

fix(api-docs): Add i18n support for Raw tab title and an error message
  .changeset/afraid-trees-show.md
  plugins/api-docs/report-alpha.api.md
  plugins/api-docs/src/components/ApiDefinitionCard/ApiDefinitionCard.tsx
  plugins/api-docs/src/components/ApiDefinitionDialog/ApiDefinitionDialog.tsx
  plugins/api-docs/src/translation.ts
Labels: none

feat: set state column to text instead of varchar
  plugins/auth-backend/migrations/20251118120000_oauth_state_text.js
  plugins/auth-backend/src/migrations.test.ts
Labels: area:auth

chore: codereview comments
  plugins/auth-backend/migrations/20251118120000_oauth_state_text.js
  plugins/auth-backend/src/migrations.test.ts
Labels: area:auth

frontend-plugin-api: refactor to use opaque type for route refs
  .changeset/busy-goats-kiss.md
  packages/core-compat-api/package.json
  packages/core-compat-api/src/convertLegacyRouteRef.test.ts
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/frontend-app-api/src/routing/RouteAliasResolver.ts
  packages/frontend-app-api/src/routing/RouteResolver.ts
  packages/frontend-app-api/src/routing/collectRouteIds.ts
  packages/frontend-app-api/src/routing/resolveRouteBindings.ts
  packages/frontend-internal/src/routing/OpaqueExternalRouteRef.ts
  packages/frontend-internal/src/routing/OpaqueRouteRef.ts
  packages/frontend-internal/src/routing/OpaqueSubRouteRef.ts
  packages/frontend-internal/src/routing/index.ts
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.test.ts
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.ts
  packages/frontend-plugin-api/src/routing/RouteRef.test.ts
  packages/frontend-plugin-api/src/routing/RouteRef.ts
  packages/frontend-plugin-api/src/routing/SubRouteRef.test.ts
  packages/frontend-plugin-api/src/routing/SubRouteRef.ts
Labels: none

gateway-backend: add loop detection
  .changeset/modern-actors-warn.md
  plugins/gateway-backend/src/plugin.test.ts
  plugins/gateway-backend/src/router.ts
Labels: none

catalog: add note about route ref conversion
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

feature(catalog export): add setEnabledBackendFilter
  plugins/catalog-backend-module-export/README.md
  plugins/catalog-backend-module-export/src/exporters/csv.ts
  plugins/catalog-backend-module-export/src/router/router.ts
  plugins/catalog-backend-module-export/src/router/service.test.ts
  plugins/catalog-backend-module-export/src/router/service.ts
  plugins/catalog/src/components/CatalogExportButton/CatalogExportButton.tsx
  plugins/catalog/src/components/CatalogExportButton/setEnabledBackendFilters.ts
Labels: area:catalog

frontend-plugin-api: fix input incompatibility crash
  .changeset/flat-pillows-rush.md
  packages/frontend-internal/src/wiring/InternalExtensionInput.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionInput.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
Labels: none

Replace package aws-sdk/signature-v4 with smithy
  .changeset/gentle-trains-juggle.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.test.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.ts
  yarn.lock
Labels: area:kubernetes

dedupe
  microsite/yarn.lock
Labels: area:microsite

chgore: add release notes
  docs/releases/v1.45.0.md
Labels: area:documentation

fix(ui): prioritize providedRowCount in useTable hook
  .changeset/spicy-teeth-study.md
  packages/ui/src/components/Table/hooks/useTable.ts
Labels: none

chore: enter pre-release
  .changeset/pre.json
Labels: none

Update Procore entry in ADOPTERS.md
  ADOPTERS.md
Labels: none
