Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Revert changes to use the default theme behavior
  packages/app-defaults/src/defaults/themes.tsx
  packages/frontend-defaults/src/createPublicSignInApp.test.tsx
  packages/test-utils/src/testUtils/appWrappers.tsx
  plugins/app/src/alpha/appModulePublicSignIn.test.tsx
  plugins/app/src/extensions/AppThemeApi.tsx
Labels: none

fix(catalog): use flex instead of grid in warning area to be consistent
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

fix(catalog): add margin for entity warning conent area in nfs catalog page
  .changeset/purple-pants-speak.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

fix(catalog): fix responsiveness for catalog entity in nfs
  .changeset/lucky-parrots-yell.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

Update author information in announcements.yaml
  microsite/data/plugins/announcements.yaml
Labels: area:microsite

Update Procore entry in ADOPTERS.md
  ADOPTERS.md
Labels: none

WIP: introduce UI component hooks.
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/components/Button/types.ts
  packages/ui/src/hooks/helpers.ts
  packages/ui/src/hooks/useClassNames.ts
  packages/ui/src/hooks/useComponentProps.ts
  packages/ui/src/hooks/useDataAttributes.ts
  packages/ui/src/hooks/useUtilityStyles.ts
  packages/ui/src/types.ts
  packages/ui/src/utils/defineOwnProps.ts
Labels: none

Add plugin Conviso Platform
  microsite/data/plugins/conviso-platform.yaml
Labels: area:microsite

fix: set lowercase when passing to handle fetch, update unit test
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
Labels: area:catalog

fix(cli): prevent double @ prefix when using --scope flag
  packages/cli/src/modules/new/commands/new.ts
Labels: none

fix: add changeset
  .changeset/true-results-shake.md
Labels: none

fix(tests): add test case for scopes starting with @
  packages/cli/src/modules/new/commands/new.test.ts
Labels: none

fix(cli): add react-dom to peer and dev dependencies in frontend plugin template
  packages/cli/templates/frontend-plugin/package.json.hbs
Labels: none

fix: add changeset
  .changeset/early-carpets-rush.md
Labels: none

some improvements and decisions made
  docs/backend-system/core-services/metrics.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultRootMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/InstrumentFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/metricsServiceFactory.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/rootMetricsServiceFactory.ts
  packages/backend-plugin-api/src/alpha/MetricsService.ts
Labels: area:documentation

fix(catalog-react): fixed initially selected all filter not appearing as selected
  .changeset/warm-dancers-battle.md
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

disable invalid rule
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
Labels: none

add comment
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
Labels: none

Add docs to interface
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  packages/backend-defaults/src/alpha/entrypoints/metrics/InstrumentFactory.ts
  packages/backend-plugin-api/src/alpha/MetricsService.ts
  packages/backend-plugin-api/src/alpha/index.ts
Labels: none

exit prerelease
  .changeset/pre.json
Labels: none

style: format docs with prettier
  docs/overview/what-is-backstage.md
  microsite/static/img/cncf-stacked-color.svg
Labels: area:documentation, area:microsite

add show description to spec.presentation
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder-common/report.api.md
  plugins/scaffolder-common/src/Template.v1beta3.schema.json
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
Labels: area:documentation, area:scaffolder

frontend-plugin-api: add OverridableExtensionDefinition
  .changeset/plenty-spiders-lead.md
  packages/frontend-internal/src/wiring/InternalExtensionDefinition.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  packages/frontend-plugin-api/src/wiring/index.ts
Labels: none

sync API reports
  packages/app-next-example-plugin/report.api.md
  packages/frontend-plugin-api/report.api.md
  plugins/api-docs/report-alpha.api.md
  plugins/app-visualizer/report.api.md
  plugins/app/report.api.md
  plugins/auth/report.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-import/report-alpha.api.md
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/home/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
  plugins/mui-to-bui/report.api.md
  plugins/notifications/report-alpha.api.md
  plugins/org/report-alpha.api.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/search/report-alpha.api.md
  plugins/signals/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
  plugins/user-settings/report-alpha.api.md
Labels: area:catalog, area:home, area:kubernetes, area:search, area:scaffolder, area:techdocs

feat(docs-ui): add automated changelog sync from @backstage/ui
  docs-ui/README.md
  docs-ui/package.json
  docs-ui/scripts/sync-changelog.mjs
  docs-ui/src/components/Changelog/index.tsx
  docs-ui/src/components/ChangelogComponent/index.tsx
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.2.0.ts
  docs-ui/src/utils/changelogs/v0.3.0.ts
  docs-ui/src/utils/changelogs/v0.4.0.ts
  docs-ui/src/utils/changelogs/v0.5.0.ts
  docs-ui/src/utils/changelogs/v0.6.0.ts
  docs-ui/src/utils/types.ts
  docs-ui/yarn.lock
  packages/ui/README.md
Labels: none

chore(docs-ui): sync changelogs for @backstage/ui v0.1.0-v0.8.2
  docs-ui/src/utils/changelog.ts
  docs-ui/src/utils/changelogs/v0.1.0.ts
  docs-ui/src/utils/changelogs/v0.2.1.ts
  docs-ui/src/utils/changelogs/v0.3.2.ts
  docs-ui/src/utils/changelogs/v0.7.0.ts
  docs-ui/src/utils/changelogs/v0.7.1.ts
  docs-ui/src/utils/changelogs/v0.7.2.ts
  docs-ui/src/utils/changelogs/v0.8.0.ts
  docs-ui/src/utils/changelogs/v0.8.2.ts
Labels: none

fix(scaffolder): show correct template title in Top & Recently Visited cards
  plugins/home/src/api/VisitsApi.ts
  plugins/home/src/api/VisitsStorageApi.ts
  plugins/scaffolder/package.json
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/translation.ts
  yarn.lock
Labels: area:home, area:search, area:scaffolder

adding unit test
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
Labels: area:scaffolder

adding changeset
  .changeset/petite-pears-tickle.md
Labels: none

removing home plugin dependency
  plugins/scaffolder/package.json
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
  yarn.lock
Labels: area:scaffolder

updating api-report
  plugins/home/report.api.md
  plugins/scaffolder/report-alpha.api.md
Labels: area:home, area:search, area:scaffolder

default to '{{templateTitle}}
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

resolving conflict
  plugins/home/src/api/VisitsApi.ts
Labels: area:home, area:search

updating api report and test
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.test.tsx
Labels: area:scaffolder

catalog-import: changeset
  .changeset/tidy-lines-hear.md
Labels: none

dedupe
  yarn.lock
Labels: none

refactor(cache): remove store parameter from parseRedisOptions and parseValkeyOptions; improve log message for Valkey
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
Labels: none

Bump old space for tsc
  package.json
Labels: none

docs(cache): add store-specific config
  docs/backend-system/core-services/cache.md
Labels: area:documentation

docs(cache): improve docs
  docs/backend-system/core-services/cache.md
Labels: area:documentation

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
