Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

overzealous comment
  packages/backend-app-api/src/wiring/helpers.ts
Labels: none

fix tests
  packages/backend-test-utils/src/services/mockServices.ts
Labels: none

Update .changeset/open-items-open.md
  .changeset/open-items-open.md
Labels: none

fix api reports
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/InstanceMetadataService.ts
  packages/backend-test-utils/src/services/mockServices.ts
  packages/backend/src/instanceMetadata.ts
Labels: none

Update module federation packages to ^0.20.0
  .changeset/light-years-remain.md
  packages/backend-dynamic-feature-service/package.json
  packages/cli/package.json
  packages/frontend-dynamic-feature-loader/package.json
  packages/frontend-dynamic-feature-loader/src/loader.ts
  yarn.lock
Labels: none

fix tsc issues
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GithubUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.test.ts
  packages/core-app-api/src/apis/implementations/TranslationApi/I18nextTranslationApi.test.tsx
  packages/core-app-api/src/app/AppManager.test.tsx
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.test.ts
  plugins/permission-backend/src/service/PermissionIntegrationClient.test.ts
  plugins/permission-node/src/integration/createConditionExports.test.ts
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunContext.test.tsx
Labels: area:catalog, area:permission, area:scaffolder

run api report
  packages/config/report.api.md
  plugins/bitbucket-cloud-common/report.api.md
  plugins/catalog-react/report.api.md
  plugins/search-backend-module-elasticsearch/report.api.md
  plugins/search-react/report.api.md
Labels: area:catalog, area:search

feat(auth): allow configuring DCR token expiration
  .changeset/yummy-socks-brake.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.test.ts
  plugins/auth-backend/src/service/OidcService.ts
  plugins/auth-backend/src/service/readTokenExpiration.test.ts
  plugins/auth-backend/src/service/readTokenExpiration.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

Add permissions to welcome workflow
  .github/workflows/welcome.yml
Labels: none

cli: fix low frequency test flakiness
  packages/cli/src/lib/version.test.ts
Labels: none

Improve 'OIDC From Scratch' documentation
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/auth/oidc.md
Labels: area:documentation

docs: add release notes for v1.44.0
  docs/releases/v1.44.0.md
Labels: area:documentation

some more small doc fixes
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/backend-system/core-services/http-auth.md
  docs/backend-system/core-services/root-http-router.md
  docs/features/search/declarative-integration.md
  docs/features/software-catalog/external-integrations.md
  docs/features/software-catalog/index.md
  docs/features/software-catalog/life-of-an-entity.md
  docs/integrations/harness/locations.md
  docs/overview/adopting.md
  docs/plugins/new-backend-system.md
Labels: area:documentation

dev-utils: add missing BUI CSS
  .changeset/every-clocks-arrive.md
  packages/dev-utils/package.json
  packages/dev-utils/src/devApp/BuiCss.tsx
  packages/dev-utils/src/devApp/render.tsx
  yarn.lock
Labels: none

Fix default text color in BUI
  .changeset/fine-hands-return.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

Revert "feat(user-settings): add storage api blueprint for nfs"
  plugins/user-settings/report-alpha.api.md
  plugins/user-settings/src/alpha.tsx
Labels: none

Fix default font weight and family
  .changeset/wild-owls-divide.md
  packages/ui/src/css/core.css
Labels: none

Update styles.css
  packages/ui/css/styles.css
Labels: none

chore: chagneset Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/solid-dancers-march.md
Labels: none

Update .changeset/sour-spiders-dress.md
  .changeset/sour-spiders-dress.md
Labels: none

Fix default font size in BUI
  .changeset/polite-seas-divide.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

Change to 14px
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

Patch from PR #31428
  .changeset/every-clocks-arrive.md
  packages/dev-utils/package.json
  packages/dev-utils/src/devApp/BuiCss.tsx
  packages/dev-utils/src/devApp/render.tsx
  yarn.lock
Labels: none

Patch from PR #31429
  .changeset/fine-hands-return.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

Patch from PR #31431
  .changeset/solid-dancers-march.md
  plugins/user-settings/report-alpha.api.md
  plugins/user-settings/src/alpha.tsx
Labels: none

Patch from PR #31432
  .changeset/wild-owls-divide.md
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

Patch from PR #31435
  .changeset/polite-seas-divide.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
Labels: none

Generate Release
  .changeset/every-clocks-arrive.md
  .changeset/fine-hands-return.md
  .changeset/polite-seas-divide.md
  .changeset/solid-dancers-march.md
  .changeset/wild-owls-divide.md
  package.json
  packages/dev-utils/CHANGELOG.md
  packages/dev-utils/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  plugins/user-settings/CHANGELOG.md
  plugins/user-settings/package.json
Labels: none

chore: updating seed for swc issue: https://github.com/swc-project/swc/issues/11129 Signed-off-by: benjdlambert <ben@blam.sh>
  packages/create-app/seed-yarn.lock
Labels: none

Change npm package name for Stack Overflow Teams
  microsite/data/plugins/stackoverflow-teams.yaml
Labels: area:microsite

Update index.md added additional text and removed a graphic
  docs/getting-started/index.md
Labels: area:documentation

Fix formatting issues in getting-started documentation
  docs/getting-started/index.md
Labels: area:documentation

Get ready for Backstage ContribFest at KubeCon Blog Post
  microsite/blog/2025-10-15-backstage-contribfest-kubecon-guide.mdx
  microsite/blog/assets/2025-10-15/backstage-contribfest-kubecon-guide-header.png
Labels: area:microsite

Ran prettier:fix
  microsite/blog/2025-10-15-backstage-contribfest-kubecon-guide.mdx
Labels: area:microsite

docs: remove unnecessary steps
  docs/publishing.md
Labels: area:documentation

Fix font smoothing in BUI
  .changeset/silver-garlics-thank.md
  docs-ui/public/theme-backstage.css
  packages/ui/css/styles.css
  packages/ui/src/css/core.css
  packages/ui/src/css/normalize.css
Labels: none

review clean up
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
Labels: area:scaffolder

create-app docs
  docs/golden-path/create-app/customize-theme.md
  docs/golden-path/create-app/index.md
  docs/golden-path/create-app/installing-plugins.md
  docs/golden-path/create-app/keeping-backstage-updated.md
  docs/golden-path/create-app/local-development.md
  docs/golden-path/create-app/logging-in.md
  docs/golden-path/create-app/npx-create-app.md
  docs/golden-path/plugins/backend/002-poking-around.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite

docs: starting to fill out the plugin golden path
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/golden-path/plugins/backend/001-first-steps.md
  docs/golden-path/plugins/backend/__meta__.md
  docs/golden-path/plugins/backend/recap.md
  docs/golden-path/plugins/index.md
  docs/golden-path/plugins/integrations/__meta__.md
  docs/golden-path/plugins/sustainable-plugin-development.md
  docs/golden-path/plugins/why-build-plugins.md
Labels: area:documentation

Apply suggestions from code review
  docs/golden-path/create-app/installing-plugins.md
  docs/golden-path/create-app/keeping-backstage-updated.md
  docs/golden-path/create-app/local-development.md
  docs/golden-path/create-app/logging-in.md
  docs/golden-path/create-app/npx-create-app.md
  docs/golden-path/plugins/index.md
Labels: area:documentation
