Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

app-visualizer: improve rendering performance of details page
  .changeset/legal-impalas-shine.md
  plugins/app-visualizer/src/components/AppVisualizerPage/DetailedVisualizer.tsx
Labels: none

frontend-plugin-api: add new `internal` option for extension inputs
  .changeset/fuzzy-shrimps-refuse.md
  .changeset/many-bags-brake.md
  .changeset/quiet-humans-hammer.md
  packages/frontend-app-api/report.api.md
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.test.ts
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-app-api/src/wiring/createErrorCollector.ts
  packages/frontend-defaults/src/maybeCreateErrorPage.tsx
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/createExtensionInput.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionInput.ts
  packages/frontend-plugin-api/src/wiring/resolveInputOverrides.ts
  plugins/app/report.api.md
  plugins/app/src/extensions/AppNav.tsx
  plugins/app/src/extensions/AppRoot.tsx
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/app/src/extensions/IconsApi.ts
  plugins/app/src/extensions/SwappableComponentsApi.ts
  plugins/app/src/extensions/TranslationsApi.tsx
  plugins/catalog/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/home/report-alpha.api.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/search/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
  plugins/user-settings/report-alpha.api.md
Labels: area:catalog, area:home, area:search, area:scaffolder, area:techdocs

docs/frontend-system: document internal option for createExtensionInput
  docs/frontend-system/architecture/20-extensions.md
Labels: area:documentation

chore: add changeset
  .changeset/chatty-tips-stop.md
Labels: none

feat: Add organization option to auth0 auth provider
  plugins/auth-backend-module-auth0-provider/config.d.ts
  plugins/auth-backend-module-auth0-provider/package.json
  plugins/auth-backend-module-auth0-provider/src/authenticator.ts
  plugins/auth-backend-module-auth0-provider/src/strategy.ts
  plugins/auth-backend-module-auth0-provider/src/types.d.ts
  yarn.lock
Labels: area:auth

chore: update documentation
  docs/auth/auth0/provider.md
Labels: area:documentation

test and review fixes
  .changeset/lemon-eyes-grin.md
  .changeset/tired-sides-share.md
  packages/frontend-defaults/src/createApp.test.tsx
  packages/frontend-plugin-api/src/blueprints/ApiBlueprint.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionInput.ts
  plugins/app-react/src/blueprints/AppRootWrapperBlueprint.test.tsx
Labels: none

feat(ui): add useDefinition type definitions
  packages/ui/src/hooks/useDefinition/types.ts
Labels: none

fix(ui): use curried defineComponent for type safety
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/hooks/useDefinition/defineComponent.ts
Labels: none

feat(ui): export useDefinition hook and types
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useDefinition/index.ts
Labels: none

refactor(ui): migrate Box to use useDefinition hook
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Box/types.ts
Labels: none

refactor(ui): migrate Button to use useDefinition hook
  packages/ui/src/components/Button/Button.tsx
Labels: none

feat(ui): add defineComponent factory
  packages/ui/src/hooks/useDefinition/defineComponent.ts
Labels: none

refactor(ui): update Button to use defineComponent
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/components/Button/types.ts
Labels: none

feat(ui): implement useDefinition hook
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
Labels: none

refactor(ui): extract helpers for useDefinition hook
  packages/ui/src/hooks/useDefinition/helpers.ts
  packages/ui/src/hooks/useStyles.ts
Labels: none

refactor(ui): improve useDefinition types
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Box/types.ts
  packages/ui/src/hooks/useDefinition/helpers.ts
  packages/ui/src/hooks/useDefinition/types.ts
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
  packages/ui/src/utils/utilityClassMap.ts
Labels: none

refactor(ui): further improve useDefinition hook.
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/hooks/useDefinition/defineComponent.ts
  packages/ui/src/hooks/useDefinition/helpers.ts
  packages/ui/src/hooks/useDefinition/types.ts
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
Labels: none

refactor(ui): add surface prop types and validation to defineComponent
  packages/ui/src/components/Button/types.ts
  packages/ui/src/hooks/useDefinition/defineComponent.ts
  packages/ui/src/hooks/useDefinition/types.ts
  packages/ui/src/types.ts
Labels: none

chore(ui): Update api report.
  packages/ui/report.api.md
  packages/ui/src/components/Box/types.ts
Labels: none

refactor(ui): Remove unnecessary memoization for useDefinition hook.
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
Labels: none

chore: fix types
  plugins/auth-backend-module-auth0-provider/src/types.d.ts
Labels: area:auth

refactor(ui): migrate ButtonIcon and ButtonLink to useDefinition hook
  .changeset/polite-symbols-act.md
  packages/ui/report.api.md
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
  packages/ui/src/components/ButtonIcon/definition.ts
  packages/ui/src/components/ButtonIcon/types.ts
  packages/ui/src/components/ButtonLink/ButtonLink.module.css
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/components/ButtonLink/definition.ts
  packages/ui/src/components/ButtonLink/types.ts
Labels: none

frontend-app-api: attribute attachemnt data failures to the attached extension
  .changeset/good-eggs-tell.md
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.test.ts
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
Labels: none

frontend-app-api: filter out failed attachments
  .changeset/good-eggs-tell.md
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.test.ts
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
Labels: none

feat(docs-ui): improve documentation components
  docs-ui/src/components/Chip/styles.module.css
  docs-ui/src/components/PropsTable/PropsTable.tsx
  docs-ui/src/components/ReactAriaLink/ReactAriaLink.tsx
  docs-ui/src/components/ReactAriaLink/index.ts
  docs-ui/src/components/ReactAriaLink/styles.module.css
  docs-ui/src/utils/propDefs.ts
Labels: none

fix(ui)!: remove Fragment wrapper in Table to prevent id prop error
  .changeset/quiet-carpets-arrive.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/types.ts
Labels: none

docs(table): rewrite Table component documentation
  docs-ui/src/app/components/table/components.tsx
  docs-ui/src/app/components/table/page.mdx
  docs-ui/src/app/components/table/props-definition.ts
  docs-ui/src/app/components/table/props-definition.tsx
  docs-ui/src/app/components/table/snippets.ts
  docs-ui/src/css/mdx.module.css
  docs-ui/src/mdx-components.tsx
Labels: none

feat(ui): export useDefinition hook and types
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useDefinition/index.ts
Labels: none

refactor(ui): improve useDefinition types
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Box/types.ts
  packages/ui/src/hooks/useDefinition/helpers.ts
  packages/ui/src/hooks/useDefinition/types.ts
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
  packages/ui/src/utils/utilityClassMap.ts
Labels: none

refactor(ui): update Button to use defineComponent
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/components/Button/types.ts
Labels: none

refactor(ui): further improve useDefinition hook.
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Button/definition.ts
  packages/ui/src/hooks/useDefinition/defineComponent.ts
  packages/ui/src/hooks/useDefinition/helpers.ts
  packages/ui/src/hooks/useDefinition/types.ts
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
Labels: none

feat(ui): implement useDefinition hook
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
Labels: none

refactor(ui): migrate Button to use useDefinition hook
  packages/ui/src/components/Button/Button.tsx
Labels: none

feat(ui): add defineComponent factory
  packages/ui/src/hooks/useDefinition/defineComponent.ts
Labels: none

refactor(ui): extract helpers for useDefinition hook
  packages/ui/src/hooks/useDefinition/helpers.ts
  packages/ui/src/hooks/useStyles.ts
Labels: none

refactor(ui): migrate Box to use useDefinition hook
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Box/definition.ts
  packages/ui/src/components/Box/types.ts
Labels: none

chore(ui): Update api report.
  packages/ui/report.api.md
  packages/ui/src/components/Box/types.ts
Labels: none

refactor(ui): Remove unnecessary memoization for useDefinition hook.
  packages/ui/src/hooks/useDefinition/useDefinition.tsx
Labels: none

refactor(ui): migrate ButtonIcon and ButtonLink to useDefinition hook
  .changeset/polite-symbols-act.md
  packages/ui/report.api.md
  packages/ui/src/components/ButtonIcon/ButtonIcon.tsx
  packages/ui/src/components/ButtonIcon/definition.ts
  packages/ui/src/components/ButtonIcon/types.ts
  packages/ui/src/components/ButtonLink/ButtonLink.module.css
  packages/ui/src/components/ButtonLink/ButtonLink.tsx
  packages/ui/src/components/ButtonLink/definition.ts
  packages/ui/src/components/ButtonLink/types.ts
Labels: none
