Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

feature(catalog export): fix demo
  packages/app/src/App.tsx
  packages/backend/src/index.ts
  plugins/catalog-backend-module-export/src/exporters/csv.ts
  plugins/catalog-backend-module-export/src/module.ts
  plugins/catalog-backend-module-export/src/router/router.ts
  plugins/catalog-backend-module-export/src/types/defaultColumnConfig.ts
  plugins/catalog/src/components/CatalogExportButton/CatalogExportButton.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
Labels: area:catalog

feature(catalog export): fix tests
  plugins/catalog-backend-module-export/src/exporters/csv.test.ts
  plugins/catalog/src/components/CatalogExportButton/CatalogExportButton.test.tsx
  plugins/catalog/src/components/CatalogExportButton/setEnabledBackendFilters.test.ts
  plugins/catalog/src/components/CatalogExportButton/setEnabledBackendFilters.ts
Labels: area:catalog

Update doc
  README-fr_FR.md
Labels: none

feature(catalog export): fix changeset
  .changeset/eager-birds-fly.md
Labels: none

feature(catalog export): generate api reports
  plugins/catalog-backend-module-export/report.api.md
  plugins/catalog-backend-module-export/src/exporters/csv.test.ts
  plugins/catalog-backend-module-export/src/index.ts
  plugins/catalog-backend-module-export/src/module.ts
  plugins/catalog-backend-module-export/src/router/router.ts
  plugins/catalog/report.api.md
  plugins/catalog/src/components/CatalogExportButton/CatalogExportButton.tsx
  plugins/catalog/src/components/CatalogExportButton/index.ts
Labels: area:catalog

feature(catalog export): fix changeset docs
  .changeset/eager-birds-fly.md
Labels: none

feature(catalog export): fix docs
  .changeset/eager-birds-fly.md
  docs/features/software-catalog/catalog-customization.md
  plugins/catalog-backend-module-export/README.md
Labels: area:catalog, area:documentation

feature(catalog export): small commit to try DCO
  .changeset/eager-birds-fly.md
Labels: none

fix(techdocs): use correct type for additionalAllowedUriProtocols
  .changeset/gentle-results-lie.md
  plugins/techdocs/config.d.ts
Labels: area:techdocs

feat(techdocs): add app-config option to disable external font download
  .changeset/kind-files-press.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/mkdocsPatchers.ts
  plugins/techdocs-node/src/stages/generate/techdocs.ts
  plugins/techdocs-node/src/stages/generate/types.ts
Labels: area:documentation, area:techdocs

fix(techdocs): Improve sidebar position, scroll
  .changeset/slimy-dots-sing.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

add new patch release process
  .github/CODEOWNERS
  .github/workflows/cleanup_patch-files.yml
  .github/workflows/sync_patch-release.yml
  .patches/README.md
  .patches/create-pr-patch.js
  package.json
  scripts/patch-release-for-pr.js
Labels: none

patches: add patch for BUI useTable fix
  .patches/pr-31817.txt
Labels: none

Patch from PR #31828
  README-fr_FR.md
Labels: none

Patch from PR #31817
  .changeset/spicy-teeth-study.md
  packages/ui/src/components/Table/hooks/useTable.ts
Labels: none

Generate Release
  .changeset/spicy-teeth-study.md
  package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: none

docs/publishing: update with new patch release flow
  docs/publishing.md
Labels: area:documentation

scripts/patch-release-for-pr: include PR link in generated body
  scripts/patch-release-for-pr.js
Labels: none

Update sidebar links to include getting-started prefix
  microsite/sidebars.ts
Labels: area:microsite

Fix typo in create-a-component.md
  docs/getting-started/create-a-component.md
Labels: area:documentation

Fix typo in note about catalog-info.yaml
  docs/getting-started/register-a-component.md
Labels: area:documentation

Fix typos and improve formatting in search catalog doc
  docs/getting-started/search-catalog.md
Labels: area:documentation

Fix formatting and improve ownership description
  docs/getting-started/view-what-you-own.md
Labels: area:documentation

Update viewing-catalog.md with new formatting
  docs/getting-started/viewing-catalog.md
Labels: area:documentation

Update entity relationships documentation format
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

fix(ui): handle Table Row without href prop correctly
  .changeset/famous-jars-lose.md
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

Update .changeset/famous-jars-lose.md
  .changeset/famous-jars-lose.md
Labels: none

fix(ui): correct Column sorting indicator direction
  .changeset/twenty-ducks-relate.md
  packages/ui/src/components/Table/components/Column.tsx
Labels: none

Update .changeset/famous-jars-lose.md with affected components.
  .changeset/famous-jars-lose.md
Labels: none

PR comments
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

Update .changeset/famous-jars-lose.md with affected components.
  .changeset/famous-jars-lose.md
Labels: none

Update .changeset/famous-jars-lose.md
  .changeset/famous-jars-lose.md
Labels: none

fix(ui): handle Table Row without href prop correctly
  .changeset/famous-jars-lose.md
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

Test fix and vocab addition
  .github/vale/config/vocabularies/Backstage/accept.txt
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngineIndexer.test.ts
Labels: area:search

PR comments
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
Labels: area:techdocs

patches: add 31843
  .patches/pr-31843.txt
Labels: none

PR comments
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
Labels: area:techdocs

fix(ui): correct Column sorting indicator direction
  .changeset/twenty-ducks-relate.md
  packages/ui/src/components/Table/components/Column.tsx
Labels: none

backend-app-api: switch test to use mockServices.rootConfig
  packages/backend-app-api/src/wiring/createAllowBootFailurePredicate.test.ts
Labels: none

feature(catalog export): fix catalog-export package
  plugins/catalog-backend-module-export/package.json
Labels: area:catalog
