Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Fixes
  chromatic.config.js
  packages/ui/css/styles.css
  packages/ui/src/components/Button/styles.css
Labels: none

Cleanup
  .github/workflows/chromatic-pr-comment.yml
  .github/workflows/verify_chromatic.yml
  packages/ui/src/components/Button/styles.css
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Update styles.css
  packages/ui/src/components/Button/styles.css
Labels: none

Fix translation key for owner column title (#31200)
  .changeset/eager-toes-start.md
  plugins/catalog-react/src/components/EntityTable/columns.test.tsx
  plugins/catalog-react/src/components/EntityTable/columns.tsx
Labels: area:catalog

Update verify_chromatic.yml
  .github/workflows/verify_chromatic.yml
Labels: none

Add changeset for tab changes
  .changeset/clever-papers-watch.md
Labels: none

Fix light mode colour token in ItemCardHeader (#31203)
  .changeset/fast-queens-guess.md
  packages/core-components/src/layout/ItemCard/ItemCardHeader.tsx
Labels: none

fix: remove default selection of tab
  packages/ui/src/components/Header/Header.stories.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
Labels: none

Add new plugin (KwrithLog)
  microsite/data/plugins/kwirthlog.yaml
Labels: area:microsite

fix: Counting distinct results for entity facets in search table
  .changeset/cold-coats-show.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

remove host from azure blog storage integration type
  .changeset/five-olives-bet.md
  packages/integration/config.d.ts
Labels: none

document azureBlob config and remove unused id field
  plugins/catalog-backend-module-azure/config.d.ts
Labels: area:catalog

Update API report
  plugins/catalog-graph/report-alpha.api.md
Labels: area:catalog

Fix API error in catalog graph plugin
  .changeset/cool-baboons-count.md
  plugins/catalog-graph/src/alpha.tsx
Labels: area:catalog

Fixed DependencyGraph size issue, causing it not to adapt to the container size
  .changeset/public-sites-admire.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: area:catalog

Update .changeset/public-sites-admire.md
  .changeset/public-sites-admire.md
Labels: none

Fixed duplicate route warning for TechDocs Addons documentation in Docusaurus
  docs/features/techdocs/addons--new.md
  docs/features/techdocs/addons.md
Labels: area:documentation

Update addons.md
  docs/features/techdocs/addons.md
Labels: area:documentation

Update .changeset/tame-hairs-smash.md
  .changeset/tame-hairs-smash.md
Labels: none

feat: truncate document text to fit PostgreSQL index size limit (#30943)
  .changeset/brown-falcons-own.md
  plugins/search-backend-module-pg/report.api.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/search-backend-module-pg/src/database/types.ts
Labels: area:search

feat: Allow configurable pagelength for Bitbucket Cloud provider
  .changeset/tame-hairs-smash.md
  plugins/bitbucket-cloud-common/report.api.md
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.test.ts
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/bitbucket-cloud-common/src/pagination.test.ts
  plugins/bitbucket-cloud-common/src/pagination.ts
  plugins/catalog-backend-module-bitbucket-cloud/config.d.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProviderConfig.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProviderConfig.ts
Labels: area:catalog

update pg search sanitize list (#31083)
  .changeset/nice-readers-judge.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
Labels: area:search

Using 'classnames' instead of custom implementation
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
Labels: none

Update addons--new.md
  docs/features/techdocs/addons--new.md
Labels: area:documentation

docs(scaffolder-gcp): Fix docstrings to mention GCP instead of Azure
  .changeset/itchy-falcons-leave.md
  plugins/scaffolder-backend-module-gcp/src/index.ts
  plugins/scaffolder-backend-module-gcp/src/module.ts
Labels: area:scaffolder

fix(scaffolder): add missing templatingExtensions flag to RouterProps contextMenu
  .changeset/ready-pots-arrive.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/components/TemplatingExtensionsPage/TemplatingExtensionsPage.tsx
Labels: area:scaffolder

add test for AzureBlobStorageUrlReader
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureBlobStorageUrlReader.test.ts
Labels: none

chore: remove `isomorphic-form-data` from dependencies
  .changeset/short-aliens-invite.md
  plugins/api-docs/package.json
  yarn.lock
Labels: none

Update .changeset/itchy-falcons-leave.md
  .changeset/itchy-falcons-leave.md
Labels: none

fix: add api report
  plugins/scaffolder/report.api.md
Labels: area:scaffolder

implement support for direct url for AzureBlobStorageUrlReader search function
  .changeset/calm-trains-tie.md
  packages/backend-defaults/report-urlReader.api.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureBlobStorageUrlReader.ts
Labels: none

remove more unused things
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/tests/performance/getProcessableEntitiesPerformance.test.ts
Labels: area:catalog

chore: fix Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/ready-poems-change.md
  .changeset/wet-spiders-wait.md
Labels: none

make some inputs mandatory, that are always provided nowadays
  .changeset/brave-teeth-reply.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog

chore: remove deprecated types and making breaking changes
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

chore: changesets
  .changeset/ready-poems-change.md
  .changeset/wet-spiders-wait.md
Labels: none

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
