Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

enter pre
  .changeset/pre.json
Labels: none

chore: generate release Signed-off-by: benjdlambert <ben@blam.sh>
  package.json
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ZipArchiveResponse.test.ts
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
  plugins/scaffolder-node/CHANGELOG.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/actions/fetch.test.ts
  plugins/scaffolder-node/src/actions/fetch.ts
Labels: area:scaffolder

chore: generate release
  package.json
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ZipArchiveResponse.test.ts
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
Labels: area:scaffolder

Made changes to show correct number of favorite components
  .changeset/brave-ducks-sneeze.md
Labels: none

chore: generate release
  package.json
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ZipArchiveResponse.test.ts
Labels: none

docs/releases/v1.47.0: add security fix notice
  docs/releases/v1.47.0.md
Labels: area:documentation

workflows/sync_patch-release: stop running on PR branches
  .github/workflows/sync_patch-release.yml
Labels: none

Update .changeset/big-rabbits-think.md
  .changeset/big-rabbits-think.md
Labels: none

fix(ui): restore React 17 compatibility for useId
  .changeset/twelve-dolls-tap.md
  .patches/pr-32428.txt
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
Labels: none

fix(ui): restore React 17 compatibility for useId
  .changeset/twelve-dolls-tap.md
  .patches/pr-32428.txt
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
Labels: none

chore(ui): Fix vale error in changeset.
  .changeset/twelve-dolls-tap.md
Labels: none

Patch from PR #32409
  .changeset/seven-states-sleep.md
  .patches/pr-32409.txt
  packages/frontend-test-utils/package.json
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  packages/frontend-test-utils/src/app/renderTestApp.tsx
  yarn.lock
Labels: none

Patch from PR #32428
  .changeset/twelve-dolls-tap.md
  .patches/pr-32428.txt
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/TablePagination/TablePagination.tsx
Labels: none

Generate Release
  .changeset/seven-states-sleep.md
  .changeset/twelve-dolls-tap.md
  package.json
  packages/frontend-test-utils/CHANGELOG.md
  packages/frontend-test-utils/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: none

docs/releases/v1.47.0: add security fix notice (#32430)
  docs/releases/v1.47.0.md
Labels: area:documentation

chore(ui): Fix vale error in changeset.
  .changeset/twelve-dolls-tap.md
Labels: none

chore: migrate audit events docs to docsite
  .changeset/rotten-paths-pump.md
  .changeset/yellow-ties-dream.md
  docs/features/software-catalog/audit-events.md
  docs/features/software-templates/audit-events.md
  plugins/catalog-backend/README.md
  plugins/scaffolder-backend/README.md
Labels: area:catalog, area:documentation, area:scaffolder

change headers
  docs/features/software-catalog/audit-events.md
  docs/features/software-templates/audit-events.md
Labels: area:documentation

fix rebase conflict in sidebars.ts
  microsite/sidebars.ts
Labels: area:microsite

correct sidebar
  microsite/sidebars.ts
Labels: area:microsite

Update audience and refine entity relationships graphics and content
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

add test browser router
  packages/frontend-app-api/src/routing/RouteResolver.test.ts
  packages/frontend-app-api/src/routing/RouteTracker.test.tsx
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-plugin-api/src/blueprints/RouterBlueprint.test.tsx
  packages/frontend-plugin-api/src/routing/useRouteRef.test.tsx
  packages/frontend-plugin-api/src/routing/useRouteRefParams.test.tsx
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/apis/RouterApi/MockBrowserRouterApi.tsx
  packages/frontend-test-utils/src/apis/RouterApi/MockMemoryRouterApi.tsx
  packages/frontend-test-utils/src/apis/RouterApi/index.ts
  packages/frontend-test-utils/src/apis/index.ts
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  packages/frontend-test-utils/src/app/renderTestApp.tsx
  packages/frontend-test-utils/src/routing/TestBrowserRouterProvider.tsx
  packages/frontend-test-utils/src/routing/TestMemoryRouterProvider.tsx
  packages/frontend-test-utils/src/routing/index.ts
Labels: none

disallow hooks in mkdocs.yml when running techdocs in local mode
  .changeset/violet-jobs-check.md
  plugins/techdocs-node/src/stages/generate/__fixtures__/mkdocs_with_hooks.yml
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: area:techdocs

Delete docs/assets/uiguide/curve-monotone-step-before.png
  docs/assets/uiguide/curve-monotone-step-before.png
Labels: area:documentation

Delete docs/assets/uiguide/simplify-merge-relations-on-off.png
  docs/assets/uiguide/simplify-merge-relations-on-off.png
Labels: area:documentation

Delete docs/assets/uiguide/max-depth-1-and-infinite.png
  docs/assets/uiguide/max-depth-1-and-infinite.png
Labels: area:documentation

Try to fix prettier errors in entity relationships documentation
  docs/getting-started/viewing-entity-relationships.md
Labels: area:documentation

test(scaffolder): add bug reproduction tests for recovery issues
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
Labels: area:scaffolder

feat(scaffolder): add step state types for task recovery
  plugins/scaffolder-backend/src/scaffolder/tasks/index.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
Labels: area:scaffolder

fix(scaffolder): preserve secrets until terminal state for recovery
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
Labels: area:scaffolder

feat(scaffolder): simplify recovery to single taskRecovery.enabled config
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.ts
Labels: area:scaffolder

feat(scaffolder): add updateStepState for step-level recovery
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
Labels: area:scaffolder

feat(scaffolder): skip completed steps on recovery, save step state
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

feat(scaffolder): remove per-template recovery opt-in requirement
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/taskRecoveryHelper.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/taskRecoveryHelper.ts
Labels: area:scaffolder

test(scaffolder): add end-to-end recovery integration tests
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
Labels: area:scaffolder

fix(scaffolder): add isTaskRecoverable to events and updateStepState to TaskContext Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

docs(scaffolder): add task recovery configuration documentation
  plugins/scaffolder-backend/README.md
Labels: area:scaffolder

fix(scaffolder): improve recovery log - single message instead of per-step skipped
  examples/test-recovery/template.yaml
  packages/backend/src/scaffolderTestActions.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

feat(scaffolder): relax checkpoint type constraint, use safe-stable-stringify
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-node-test-utils/src/actions/mockActionContext.ts
  plugins/scaffolder-node/src/actions/types.ts
  plugins/scaffolder-node/src/alpha/checkpoints/types.ts
Labels: area:scaffolder

feat: a little cleanup for taskRecovery as perm
  plugins/scaffolder-backend-module-gcp/config.d.ts
  plugins/scaffolder-backend-module-gcp/src/providers/GcpBucketWorkspaceProvider.test.ts
  plugins/scaffolder-backend-module-gcp/src/providers/GcpBucketWorkspaceProvider.ts
  plugins/scaffolder-backend/README.md
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.ts
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
Labels: area:scaffolder

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*
