Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

Fix installation command
  .changeset/honest-waves-rest.md
  plugins/mui-to-bui/README.md
Labels: none

frontend-plugin-api: added PluginWrapperBlueprint + implementation
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/PluginWrapperApi.ts
  packages/frontend-plugin-api/src/apis/definitions/index.ts
  packages/frontend-plugin-api/src/blueprints/PluginWrapperBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/index.ts
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.test.tsx
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
  plugins/app/src/apis/PluginWrapperApi/index.ts
  plugins/app/src/extensions/PluginWrapperApi.ts
  plugins/app/src/extensions/index.ts
Labels: none

added new app-react library with AppRootWrapperBlueprint replacement
  packages/frontend-plugin-api/report.api.md
  plugins/app-react/report.api.md
  plugins/app-react/src/blueprints/AppRootWrapperBlueprint.test.tsx
  plugins/app-react/src/blueprints/AppRootWrapperBlueprint.tsx
  plugins/app-react/src/blueprints/index.ts
  plugins/app/report.api.md
  plugins/app/src/extensions/AppRoot.tsx
Labels: none

added changesets for app root wrapper changes
  .changeset/fine-ears-yell.md
  .changeset/moody-wasps-travel.md
  .changeset/violet-otters-share.md
Labels: none

docs: updates for app and plugin wrapper blueprint changes
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
Labels: area:documentation

frontend-plugin-api: add ExtensionBoundary test for throwing PluginWrapper
  packages/frontend-plugin-api/src/components/ExtensionBoundary.test.tsx
Labels: none

frontend-plugin-api: add test for PluginWrapperApi in ExtensionBoundary
  packages/frontend-plugin-api/src/components/ExtensionBoundary.test.tsx
Labels: none

review fixes
  .changeset/fine-ears-yell.md
  packages/frontend-plugin-api/src/apis/definitions/PluginWrapperApi.ts
Labels: none

frontend-plugin-api: move new PluginWrapper to alpha
  .changeset/violet-otters-share.md
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/report-alpha.api.md
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/alpha.ts
  packages/frontend-plugin-api/src/apis/definitions/PluginWrapperApi.ts
  packages/frontend-plugin-api/src/apis/definitions/index.ts
  packages/frontend-plugin-api/src/blueprints/AppRootWrapperBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/PluginWrapperBlueprint.tsx
  packages/frontend-plugin-api/src/blueprints/index.ts
  plugins/app/src/apis/PluginWrapperApi/DefaultPluginWrapperApi.tsx
  plugins/app/src/extensions/PluginWrapperApi.ts
Labels: none

docs: Update orphan strategy config to reflect new defaults
  docs/features/software-catalog/configuration.md
  docs/features/software-catalog/life-of-an-entity.md
Labels: area:documentation

chore: Update imports, rename components
  packages/techdocs-cli-embedded-app/package.json
  packages/techdocs-cli-embedded-app/src/App.tsx
  packages/techdocs-cli-embedded-app/src/components/Sidebar/LogoFull.tsx
  packages/techdocs-cli-embedded-app/src/components/Sidebar/LogoIcon.tsx
  packages/techdocs-cli-embedded-app/src/components/Sidebar/Sidebar.tsx
  packages/techdocs-cli-embedded-app/src/components/Sidebar/index.ts
  yarn.lock
Labels: area:techdocs

fix: Follow-up of #32345
  packages/techdocs-cli-embedded-app/src/App.tsx
  packages/techdocs-cli-embedded-app/src/apis.ts
Labels: area:techdocs

feat: add metrics with alpha metrics service
  .changeset/swift-ravens-jog.md
  packages/backend-defaults/src/alpha/entrypoints/metrics/DefaultMetricsService.ts
  plugins/mcp-actions-backend/src/metrics.ts
  plugins/mcp-actions-backend/src/plugin.ts
  plugins/mcp-actions-backend/src/routers/createSseRouter.ts
  plugins/mcp-actions-backend/src/routers/createStreamableRouter.ts
  plugins/mcp-actions-backend/src/services/McpService.test.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
Labels: none

clean up changesets
  .changeset/quick-cities-bow.md
  .changeset/swift-ravens-jog.md
Labels: none

Update docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
Labels: area:documentation

fix: await scheduleTask in catalog orphan cleanup to prevent unhandled rejection
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: area:catalog

Add comments, revert capturing sse/streamable
  plugins/mcp-actions-backend/src/metrics.ts
  plugins/mcp-actions-backend/src/routers/createSseRouter.ts
  plugins/mcp-actions-backend/src/routers/createStreamableRouter.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
Labels: none

fix(logger-level): changed logger level of user photo loading to debug
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
Labels: area:catalog

added changeset
  .changeset/chilly-geese-carry.md
Labels: none

fix(auth-node): add missing return after reject in token refresh
  plugins/auth-node/src/passport/PassportHelpers.ts
Labels: area:auth

docs: add bug report for catalog stitching failure causing stuck entities
  BUG_REPORT_STITCHING_FAILURE.md
Labels: none

Migrate Table in Catalog
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/ClientSideCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/columnUtils.tsx
  plugins/catalog/src/components/CatalogTable/columns.tsx
  plugins/catalog/src/components/CatalogTable/defaultCatalogTableColumnsFunc.tsx
  plugins/catalog/src/components/CatalogTable/types.ts
Labels: area:catalog

Fix dependencies
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

Migrate some MUI components
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableToolbar.tsx
  plugins/catalog/src/components/CatalogTable/ClientSideCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/columnUtils.tsx
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

Fix dependencies
  plugins/catalog/package.json
  yarn.lock
Labels: area:catalog

Fix tsc issues
  plugins/catalog/src/components/CatalogTable/ClientSideCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/columnUtils.tsx
Labels: area:catalog

Fix types
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
Labels: area:catalog

Fixed reports
  .changeset/itchy-sites-stay.md
  .changeset/smooth-animals-ask.md
  plugins/api-docs/report.api.md
  plugins/catalog/report.api.md
Labels: area:catalog

update CircleCI plugin link in service catalog doc
  microsite/blog/2020-05-22-phase-2-service-catalog.mdx
Labels: area:microsite

cli: add missing backend-test-utils deps to templates
  .changeset/quiet-cherries-count.md
  packages/cli/templates/node-library/package.json.hbs
  packages/cli/templates/plugin-node-library/package.json.hbs
  packages/cli/templates/scaffolder-backend-module/package.json.hbs
Labels: none

docs: fix README link in getting-involved.md documentation
  docs/contribute/getting-involved.md
Labels: area:documentation

Add an option to allow customizing the Playwright browser channel
  .changeset/custom-playwright-channel.md
  packages/e2e-test-utils/report-playwright.api.md
  packages/e2e-test-utils/src/playwright/generateProjects.ts
Labels: none

Fix dependencies
  plugins/api-docs/package.json
  yarn.lock
Labels: none

frontend-plugin-api: simplify deprecation of AppRootWrapperBlueprint
  .changeset/common-heads-start.md
  .changeset/fine-ears-yell.md
  .changeset/moody-wasps-travel.md
  .changeset/slick-beans-relax.md
  .changeset/violet-otters-share.md
  .changeset/warm-pets-accept.md
  packages/frontend-plugin-api/src/blueprints/AppRootWrapperBlueprint.tsx
  plugins/app-react/report.api.md
  plugins/app-react/src/blueprints/AppRootWrapperBlueprint.test.tsx
  plugins/app-react/src/blueprints/AppRootWrapperBlueprint.tsx
  plugins/app-react/src/blueprints/index.ts
  plugins/app/report.api.md
  plugins/app/src/extensions/AppRoot.tsx
Labels: none

app: add missing plugin wrapper API
  packages/frontend-defaults/src/createApp.test.tsx
  plugins/app/report.api.md
  plugins/app/src/plugin.ts
Labels: none

frontend-plugin-api: remove redundant cast
  packages/frontend-plugin-api/src/blueprints/PluginWrapperBlueprint.tsx
Labels: none

REVIEWING.md: introduce new review process
  CONTRIBUTING.md
  LABELS.md
  OWNERS.md
  REVIEWING.md
Labels: none

fix(ui): add missing cell styles to table selection column
  .changeset/stupid-words-fail.md
  packages/ui/src/components/Table/components/Row.tsx
Labels: none

chore: run prettier
  packages/cli/src/modules/info/commands/info.ts
Labels: none

feat: add --include to backstage-cli info
  packages/cli/cli-report.md
  packages/cli/src/modules/info/commands/info.ts
  packages/cli/src/modules/info/index.ts
Labels: none
