Repository backstage/backstage, changes with the labels that .github/labeler.yml gives for each.
All labels: area:auth, area:catalog, area:documentation, area:events, area:home, area:kubernetes, area:microsite, area:permission, area:search, area:scaffolder, area:storybook, area:techdocs

.github/labeler.yml:

area:auth:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/auth-*/**/*
          - packages/core-app-api/src/apis/implementations/auth/**/*
          - packages/core-app-api/src/lib/Auth*/**/*
          - packages/core-plugin-api/src/apis/definitions/auth.ts
area:catalog:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/catalog/**/*
          - plugins/catalog-*/**/*
          - packages/catalog-*/**/*
area:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**/*
area:events:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/events-*/**/*
area:home:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/home/**/*
area:kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/kubernetes/**/*
          - plugins/kubernetes-*/**/*
area:microsite:
  - changed-files:
      - any-glob-to-any-file:
          - microsite/**/*
area:permission:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/permission-*/**/*
area:search:
  - changed-files:
      - any-glob-to-any-file:
          - packages/search-*/**/*
          - plugins/home/**/*
          - plugins/search-*/**/*
          - plugins/search/**/*
area:scaffolder:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/scaffolder/**/*
          - plugins/scaffolder-*/**/*
area:storybook:
  - changed-files:
      - any-glob-to-any-file:
          - storybook/**/*
area:techdocs:
  - changed-files:
      - any-glob-to-any-file:
          - plugins/techdocs/**/*
          - plugins/techdocs-*/**/*
          - packages/techdocs-*/**/*

chore: last cleanup
  plugins/scaffolder-backend-module-gcp/package.json
  yarn.lock
Labels: area:scaffolder

chore: added changeset
  .changeset/gcp-bucket-config.md
  .changeset/task-recovery-feature.md
Labels: none

feat(catalog-backend): ✨ add post api for predicate-based entity filtering
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/schema/openapi/generated/apis/Api.server.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicate.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateOneOf.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateOneOf1.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateOneOf2.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValue.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValueOneOf.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValueOneOf1.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/EntityPredicateValueOneOf1InInner.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/GetEntitiesByPredicates200Response.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/GetEntitiesByPredicates200ResponsePageInfo.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/GetEntitiesByPredicatesRequest.model.ts
  plugins/catalog-backend/src/schema/openapi/generated/models/index.ts
  plugins/catalog-backend/src/schema/openapi/generated/router.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

feat(catalog-backend): :sparkles: add predicate-based entity filtering
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/request/applyPredicateEntityFilterToQuery.ts
  plugins/catalog-node/src/api/common.ts
  plugins/catalog-node/src/api/index.ts
Labels: area:catalog

Update entity-actions.png
  docs/assets/uiguide/entity-actions.png
Labels: area:documentation

Update select-delete-entity.png
  docs/assets/uiguide/select-delete-entity.png
Labels: area:documentation

Made changes to show correct number of favorite components
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: area:catalog

feat: pull out the database workspace provider into it's own module
  .changeset/task-recovery-feature.md
  plugins/scaffolder-backend-module-workspace-database/.eslintrc.js
  plugins/scaffolder-backend-module-workspace-database/README.md
  plugins/scaffolder-backend-module-workspace-database/catalog-info.yaml
  plugins/scaffolder-backend-module-workspace-database/migrations/20250122000000_task_workspaces.js
  plugins/scaffolder-backend-module-workspace-database/package.json
  plugins/scaffolder-backend-module-workspace-database/report.api.md
  plugins/scaffolder-backend-module-workspace-database/report.sql.md
  plugins/scaffolder-backend-module-workspace-database/src/index.ts
  plugins/scaffolder-backend-module-workspace-database/src/module.ts
  plugins/scaffolder-backend-module-workspace-database/src/provider/DatabaseWorkspaceProvider.test.ts
  plugins/scaffolder-backend-module-workspace-database/src/provider/DatabaseWorkspaceProvider.ts
  plugins/scaffolder-backend-module-workspace-database/src/provider/index.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseWorkspaceProvider.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  yarn.lock
Labels: area:scaffolder

chore: added some config and options to database workspace module Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend-module-workspace-database/config.d.ts
  plugins/scaffolder-backend-module-workspace-database/package.json
  plugins/scaffolder-backend-module-workspace-database/src/module.ts
Labels: area:scaffolder

chore: fix version Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend-module-workspace-database/package.json
Labels: area:scaffolder

chore: small little refactor to reduce the duplicate logging
  plugins/scaffolder-backend-module-workspace-database/src/module.ts
  plugins/scaffolder-backend-module-workspace-database/src/provider/DatabaseWorkspaceProvider.test.ts
  plugins/scaffolder-backend-module-workspace-database/src/provider/DatabaseWorkspaceProvider.ts
Labels: area:scaffolder

refactor: migrate to the new format
  docs-ui/src/app/components/text-field/components.tsx
  docs-ui/src/app/hooks/[slug]/page.tsx
  docs-ui/src/app/hooks/use-breakpoint/components.tsx
  docs-ui/src/app/hooks/use-breakpoint/page.mdx
  docs-ui/src/app/hooks/use-breakpoint/props-definition.ts
  docs-ui/src/app/hooks/use-breakpoint/snippets.ts
  docs-ui/src/app/hooks/use-media-query/components.tsx
  docs-ui/src/app/hooks/use-media-query/page.mdx
  docs-ui/src/app/hooks/use-media-query/props-definition.ts
  docs-ui/src/app/hooks/use-media-query/snippets.ts
Labels: none

chore: remove undocumented hooks from utils/data.ts
  docs-ui/src/utils/data.ts
Labels: none

feat: add backstage/ui hooks documentation
  docs-ui/src/app/hooks/[slug]/page.tsx
  docs-ui/src/app/hooks/page.mdx
  docs-ui/src/components/Chip/styles.module.css
  docs-ui/src/components/ComponentCards/ComponentCards.module.css
  docs-ui/src/components/Navigation/Navigation.tsx
  docs-ui/src/components/PropsTable/PropsTable.tsx
  docs-ui/src/content/hooks/use-breakpoint.example.tsx
  docs-ui/src/content/hooks/use-breakpoint.mdx
  docs-ui/src/content/hooks/use-breakpoint.props.ts
  docs-ui/src/content/hooks/use-media-query.example.tsx
  docs-ui/src/content/hooks/use-media-query.mdx
  docs-ui/src/content/hooks/use-media-query.props.ts
  docs-ui/src/utils/data.ts
Labels: none

fix: improve useMediaQuery examples
  docs-ui/src/app/hooks/use-media-query/components.tsx
  docs-ui/src/app/hooks/use-media-query/example.css
  docs-ui/src/app/hooks/use-media-query/snippets.ts
  docs-ui/src/app/hooks/use-styles/page.mdx
Labels: none

fix: improve banner readability
  docs-ui/src/components/Banner/styles.module.css
Labels: none

chore: run prettier
  docs-ui/src/app/hooks/use-breakpoint/page.mdx
Labels: none

feat: add useStyles hook documentation & disclaimer for internal hooks
  docs-ui/src/app/hooks/page.mdx
  docs-ui/src/app/hooks/use-media-query/page.mdx
  docs-ui/src/app/hooks/use-styles/page.mdx
  docs-ui/src/app/hooks/use-styles/props-definition.ts
  docs-ui/src/app/hooks/use-styles/snippets.ts
Labels: none

collect all pg config interpretation in one function
  .changeset/lazy-groups-hunt.md
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

fix: wrong logic operator
  docs-ui/src/app/hooks/use-styles/snippets.ts
  docs-ui/src/components/PropsTable/PropsTable.tsx
Labels: none

docs: add icon examples to accordion documentation
  .changeset/nice-wolves-drum.md
  docs-ui/src/app/components/accordion/components.tsx
  docs-ui/src/app/components/accordion/page.mdx
  docs-ui/src/app/components/accordion/props-definition.ts
  docs-ui/src/app/components/accordion/snippets.ts
  packages/ui/src/components/Accordion/Accordion.module.css
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Accordion/Accordion.tsx
  packages/ui/src/components/Accordion/definition.ts
  packages/ui/src/components/Accordion/types.ts
Labels: none

chore: fix formatting using Prettier for Accordion components
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Accordion/Accordion.tsx
Labels: none

chore: update API report for Accordion icon props
  packages/ui/report.api.md
Labels: none

chore: fix formatting in docs-ui accordion examples
  docs-ui/src/app/components/accordion/components.tsx
Labels: none

fix: remove undocumented comments from icon props in API report
  packages/ui/report.api.md
Labels: none

chore: cleanup Signed-off-by: benjdlambert <ben@blam.sh>
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.ts
Labels: area:scaffolder

collect all pg config interpretation in one function (#32465)
  .changeset/lazy-groups-hunt.md
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

collect all pg config interpretation in one function
  .changeset/lazy-groups-hunt.md
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.test.ts
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

upgrade to tar v7
  .changeset/green-flowers-brush.md
  .changeset/odd-eagles-guess.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.ts
  packages/cli/package.json
  packages/cli/src/modules/build/lib/buildBackend.ts
  packages/cli/src/modules/build/lib/packager/createDistWorkspace.ts
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/generate-patch/generate-patch.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/tasks/serializer.ts
  yarn.lock
Labels: area:scaffolder

fix links in release notes
  docs/releases/v1.47.0.md
Labels: area:documentation

collect all pg config interpretation in one function
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.test.ts
  packages/backend-defaults/src/entrypoints/database/connectors/postgres.ts
Labels: none

Chore: fix bug with recovery
  plugins/scaffolder-react/src/hooks/useEventStream.test.tsx
  plugins/scaffolder-react/src/hooks/useEventStream.ts
Labels: area:scaffolder

chore: changeset Signed-off-by: benjdlambert <ben@blam.sh>
  .changeset/fancy-plums-turn.md
Labels: none

docs(table): rewrite Table component documentation
  docs-ui/src/app/components/table/components.tsx
  docs-ui/src/app/components/table/page.mdx
  docs-ui/src/app/components/table/props-definition.ts
  docs-ui/src/app/components/table/props-definition.tsx
  docs-ui/src/app/components/table/snippets.ts
  docs-ui/src/css/mdx.module.css
  docs-ui/src/mdx-components.tsx
Labels: none

fix(ui)!: remove Fragment wrapper in Table to prevent id prop error
  .changeset/quiet-carpets-arrive.md
  packages/ui/report.api.md
  packages/ui/src/components/Table/components/Table.tsx
  packages/ui/src/components/Table/types.ts
Labels: none

feat(docs-ui): improve documentation components
  docs-ui/src/components/Chip/styles.module.css
  docs-ui/src/components/PropsTable/PropsTable.tsx
  docs-ui/src/components/ReactAriaLink/ReactAriaLink.tsx
  docs-ui/src/components/ReactAriaLink/index.ts
  docs-ui/src/components/ReactAriaLink/styles.module.css
  docs-ui/src/utils/propDefs.ts
Labels: none

SECURITY.md: update Discord notification channel
  SECURITY.md
Labels: none

fix(ui): Export PasswordField component from index.ts
  .changeset/all-clouds-arrive.md
  packages/ui/report.api.md
  packages/ui/src/index.ts
  yarn.lock
Labels: none

Shorten changeset
  .changeset/elasticsearch-auth-extension-point.md
Labels: none

Update copyright year
  plugins/search-backend-module-elasticsearch/src/auth.ts
Labels: area:search
