Repository backstage/backstage, pull requests merged in 2020-06, with the labels that each got.

#1088 Fix incorrect markdown links
  packages/catalog-model/README.md
Labels: documentation

#1069 Add ADR link to README
  README.md
Labels: documentation

#1061 Add routes for add/delete entity to the catalog
  packages/backend/src/plugins/catalog.ts
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.test.ts
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/DatabaseLocationsCatalog.test.ts
  plugins/catalog-backend/src/catalog/DatabaseLocationsCatalog.ts
  plugins/catalog-backend/src/catalog/StaticEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/index.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/CommonDatabase.test.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-backend/src/database/DatabaseManager.test.ts
  plugins/catalog-backend/src/database/DatabaseManager.ts
  plugins/catalog-backend/src/database/index.ts
  plugins/catalog-backend/src/database/search.test.ts
  plugins/catalog-backend/src/database/search.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/ingestion/IngestionModels.ts
  plugins/catalog-backend/src/service/router.test.ts
  plugins/catalog-backend/src/service/router.ts
  plugins/catalog-backend/src/service/util.ts
Labels: catalog

#1186 Changed order of backend install instructions
  packages/backend/README.md
Labels: documentation

#1188 Fix backend startup instructions
  packages/backend/README.md
Labels: documentation

#1176 Minor tweaks to catalog UI
  packages/core/src/layout/HeaderTabs/index.tsx
  packages/theme/src/baseTheme.ts
  plugins/catalog/src/components/CatalogPage/CatalogPage.tsx
  plugins/catalog/src/data/filters.ts
Labels: sweating-the-details

#1197 Use service theme
  packages/core/src/layout/Header/Header.tsx
  plugins/catalog/src/components/ComponentPage/ComponentPage.tsx
Labels: catalog

#1145 Documentation: Add guide for how to add an auth provider to the backend
  docs/README.md
  docs/auth/add-auth-provider.md
  packages/backend/README.md
  plugins/auth-backend/README.md
Labels: documentation

#1068 New plugin for creating GitOps-managed Kubernetes right from Backstage.
  packages/app/package.json
  packages/app/src/apis.ts
  packages/app/src/plugins.ts
  plugins/explore/src/components/ExplorePluginPage.tsx
  plugins/gitops-profiles/.eslintrc.js
  plugins/gitops-profiles/README.md
  plugins/gitops-profiles/dev/index.tsx
  plugins/gitops-profiles/package.json
  plugins/gitops-profiles/src/api.ts
  plugins/gitops-profiles/src/components/ClusterList/ClusterList.tsx
  plugins/gitops-profiles/src/components/ClusterList/index.ts
  plugins/gitops-profiles/src/components/ClusterPage/ClusterPage.tsx
  plugins/gitops-profiles/src/components/ClusterPage/index.ts
  plugins/gitops-profiles/src/components/ClusterTable/ClusterTable.tsx
  plugins/gitops-profiles/src/components/ClusterTemplateCard/ClusterTemplateCard.tsx
  plugins/gitops-profiles/src/components/ClusterTemplateCard/index.ts
  plugins/gitops-profiles/src/components/ClusterTemplateCardList/ClusterTemplateCardList.tsx
  plugins/gitops-profiles/src/components/ClusterTemplateCardList/index.ts
  plugins/gitops-profiles/src/components/ProfileCard/ProfileCard.tsx
  plugins/gitops-profiles/src/components/ProfileCard/index.ts
  plugins/gitops-profiles/src/components/ProfileCardList/ProfileCardList.tsx
  plugins/gitops-profiles/src/components/ProfileCardList/index.ts
  plugins/gitops-profiles/src/components/ProfileCatalog/ProfileCatalog.test.tsx
  plugins/gitops-profiles/src/components/ProfileCatalog/ProfileCatalog.tsx
  plugins/gitops-profiles/src/components/ProfileCatalog/index.ts
  plugins/gitops-profiles/src/index.ts
  plugins/gitops-profiles/src/plugin.test.ts
  plugins/gitops-profiles/src/plugin.ts
  plugins/gitops-profiles/src/setupTests.ts
Labels: plugin

#1258 Fix incorrect backend path in docs
  packages/backend/README.md
Labels: documentation

#1262 Repo hygiene: Add SECURITY.md
  SECURITY.md
Labels: documentation

#1276 feat(catalog): new kind LocationRef
  packages/catalog-model/src/EntityPolicies.ts
  packages/catalog-model/src/entity/policies/index.ts
  packages/catalog-model/src/kinds/ComponentEntityV1beta1.ts
  packages/catalog-model/src/kinds/LocationEntityV1beta1.ts
  packages/catalog-model/src/kinds/index.ts
  plugins/catalog-backend/examples/example-location.yaml
  plugins/catalog-backend/src/ingestion/LocationReaders.ts
  plugins/catalog-backend/src/ingestion/processors/LocationEntityProcessor.ts
Labels: backend, catalog

#1322 Scaffold template card
  plugins/scaffolder/src/components/ScaffolderPage/index.tsx
  plugins/scaffolder/src/components/TemplateCard.tsx
Labels: WIP

#1351 Starred icon is yellow
  plugins/catalog/src/components/CatalogPage/CatalogPage.tsx
Labels: sweating-the-details

#1355 Add some air between sidebar sections
  packages/core/src/layout/Sidebar/Items.tsx
Labels: sweating-the-details

#1365 changed down caret to be up caret on user profile in the sidebar
  packages/core/src/layout/Sidebar/Settings/UserProfile.tsx
Labels: auth, frontend

#1402 techdocs: yarn create-plugin
  .github/CODEOWNERS
  packages/app/package.json
  packages/app/src/plugins.ts
  plugins/techdocs/.eslintrc.js
  plugins/techdocs/README.md
  plugins/techdocs/dev/index.tsx
  plugins/techdocs/package.json
  plugins/techdocs/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/techdocs/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/techdocs/src/components/ExampleComponent/index.ts
  plugins/techdocs/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx
  plugins/techdocs/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
  plugins/techdocs/src/components/ExampleFetchComponent/index.ts
  plugins/techdocs/src/index.ts
  plugins/techdocs/src/plugin.test.ts
  plugins/techdocs/src/plugin.ts
  plugins/techdocs/src/setupTests.ts
Labels: docs-like-code, plugin

#1373 feat(backend-common): base backend config
  app-config.yaml
  packages/backend-common/package.json
  packages/backend-common/src/service/createServiceBuilder.ts
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
  packages/backend-common/src/service/lib/config.ts
  packages/backend-common/src/service/types.ts
  packages/backend/src/index.ts
Labels: backend

#1403 techdocs: cli skeleton
  .github/CODEOWNERS
  packages/techdocs-cli/.eslintrc.js
  packages/techdocs-cli/README.md
  packages/techdocs-cli/bin/techdocs-cli
  packages/techdocs-cli/package.json
  packages/techdocs-cli/src/index.ts
Labels: cli, docs-like-code, plugin

#1404 Use Github as Preparer for the Scaffolder
  packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/prepare/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/prepare/github.ts
  plugins/scaffolder-backend/src/scaffolder/prepare/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/prepare/index.ts
  plugins/scaffolder-backend/src/scaffolder/prepare/types.ts
  plugins/scaffolder-backend/src/service/router.ts
  yarn.lock
Labels: backend, scaffolder

#1413 techdocs: MkDocs docker container skeleton
  plugins/techdocs/README.md
  plugins/techdocs/mkdocs/README.md
  plugins/techdocs/mkdocs/container/Dockerfile
  plugins/techdocs/mkdocs/mock-docs/docs/index.md
  plugins/techdocs/mkdocs/mock-docs/mkdocs.yml
Labels: docs-like-code, plugin

#1412 Create adopters.md
  ADOPTERS.md
Labels: documentation, repo

#1417 feat(techdocs-core): Adds skeleton of techdocs-core defaults
  plugins/techdocs/mkdocs/README.md
  plugins/techdocs/mkdocs/container/Dockerfile
  plugins/techdocs/mkdocs/container/techdocs-core/requirements.txt
  plugins/techdocs/mkdocs/container/techdocs-core/setup.py
  plugins/techdocs/mkdocs/container/techdocs-core/src/__init__.py
  plugins/techdocs/mkdocs/container/techdocs-core/src/core.py
  plugins/techdocs/mkdocs/mock-docs/.gitignore
  plugins/techdocs/mkdocs/mock-docs/mkdocs.yml
Labels: docs-like-code, plugin

#1423 techdocs: add python formatter to techdocs-core python package
  plugins/techdocs/mkdocs/README.md
  plugins/techdocs/mkdocs/container/Dockerfile
  plugins/techdocs/mkdocs/container/techdocs-core/.gitignore
  plugins/techdocs/mkdocs/container/techdocs-core/README.md
  plugins/techdocs/mkdocs/container/techdocs-core/requirements.txt
  plugins/techdocs/mkdocs/container/techdocs-core/setup.py
  plugins/techdocs/mkdocs/container/techdocs-core/src/core.py
Labels: docs-like-code, plugin

#1420 techdocs: add mkdocs monorepo plugin to techdocs core plugin
  plugins/techdocs/mkdocs/container/Dockerfile
  plugins/techdocs/mkdocs/container/techdocs-core/src/core.py
  plugins/techdocs/mkdocs/mock-docs/mkdocs.yml
  plugins/techdocs/mkdocs/mock-docs/sub-docs/docs/index.md
  plugins/techdocs/mkdocs/mock-docs/sub-docs/mkdocs.yml
Labels: docs-like-code, plugin

#1432 techdocs: create initial github workflow for CI
  .github/workflows/techdocs.yml
Labels: docs-like-code, plugin

#1418 Implement the CookieCutter Templater with Docker
  packages/backend/package.json
  packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/sample-templates/react-ssr-template/cookiecutter.json
  plugins/scaffolder-backend/sample-templates/react-ssr-template/hooks/post_gen_project.sh
  plugins/scaffolder-backend/sample-templates/react-ssr-template/hooks/pre_gen_project.sh
  plugins/scaffolder-backend/sample-templates/react-ssr-template/template.yaml
  plugins/scaffolder-backend/sample-templates/react-ssr-template/{{cookiecutter.component_id}}/package.json
  plugins/scaffolder-backend/scripts/Dockerfile
  plugins/scaffolder-backend/src/index.ts
  plugins/scaffolder-backend/src/scaffolder/templater/cookiecutter.test.ts
  plugins/scaffolder-backend/src/scaffolder/templater/cookiecutter.ts
  plugins/scaffolder-backend/src/scaffolder/templater/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/templater/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/templater/index.ts
  plugins/scaffolder-backend/src/service/router.ts
  yarn.lock
Labels: backend, scaffolder

#1438 techdocs: skeleton of reader
  plugins/techdocs/mkdocs/container/techdocs-core/src/core.py
  plugins/techdocs/package.json
  plugins/techdocs/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/techdocs/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/techdocs/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
  plugins/techdocs/src/plugin.ts
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/hooks/index.ts
  plugins/techdocs/src/reader/hooks/shadowDom.test.tsx
  plugins/techdocs/src/reader/hooks/shadowDom.ts
  plugins/techdocs/src/reader/index.tsx
Labels: docs-like-code, plugin

#1449 Update README with catalog and new features
  README.md
Labels: documentation

#1457 feat(techdocs-reader): fetch and basic transform on html
  plugins/techdocs/src/reader/components/Reader.tsx
Labels: docs-like-code, plugin

#1468 feat(mkdocs-reader): initial navigation inside docs
  plugins/techdocs/package.json
  plugins/techdocs/src/config.js
  plugins/techdocs/src/plugin.ts
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/transformers/addBaseUrl.ts
  plugins/techdocs/src/reader/transformers/index.ts
  plugins/techdocs/src/reader/transformers/rewriteDocLinks.ts
  plugins/techdocs/src/reader/urlParser.test.ts
  plugins/techdocs/src/reader/urlParser.ts
Labels: docs-like-code, plugin

#1483 techdocs: TechDocs landing page
  packages/app/src/components/Root/Root.tsx
  plugins/techdocs/README.md
  plugins/techdocs/src/plugin.ts
  plugins/techdocs/src/reader/components/DocsCard.tsx
  plugins/techdocs/src/reader/components/Reader.tsx
Labels: docs-like-code, plugin

#1495 Mob/techdocs tests
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/transformers/addBaseUrl.test.ts
  plugins/techdocs/src/reader/transformers/addEventListener.test.ts
  plugins/techdocs/src/reader/transformers/index.test.ts
  plugins/techdocs/src/reader/transformers/modifyCss.test.tsx
  plugins/techdocs/src/reader/transformers/removeMkdocsHeader.test.ts
  plugins/techdocs/src/reader/transformers/rewriteDocLinks.test.ts
  plugins/techdocs/src/reader/transformers/rewriteDocLinks.ts
  plugins/techdocs/src/test-utils/fixtures/mkdocs-index.ts
  plugins/techdocs/src/test-utils/index.ts
Labels: docs-like-code, plugin
