Repository backstage/backstage, pull requests merged in 2020-07, with the labels that each got.

#1517 fix(sidebar): do not let sidebar items collapse and shrink
  packages/core/src/layout/Sidebar/Bar.tsx
Labels: sweating-the-details

#1505 techdoc: tests
  plugins/techdocs/src/reader/transformers/addBaseUrl.test.ts
Labels: docs-like-code

#1508 techdocs: base components + basic docs not found page
  plugins/techdocs/src/plugin.ts
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/components/TechDocsHome.test.tsx
  plugins/techdocs/src/reader/components/TechDocsHome.tsx
  plugins/techdocs/src/reader/components/TechDocsNotFound.test.tsx
  plugins/techdocs/src/reader/components/TechDocsNotFound.tsx
  plugins/techdocs/src/reader/components/TechDocsPageWrapper.test.tsx
  plugins/techdocs/src/reader/components/TechDocsPageWrapper.tsx
Labels: docs-like-code, plugin

#1528 TechDocs: Fixed race condition issue with changing pages
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/hooks/shadowDom.test.tsx
  plugins/techdocs/src/reader/hooks/shadowDom.ts
Labels: docs-like-code

#1532 Add emphasis in README
  README.md
Labels: documentation, sweating-the-details

#1550 Added initial scaffold for techdocs backend
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/plugins/techdocs.ts
  plugins/techdocs-backend/.eslintrc.js
  plugins/techdocs-backend/README.md
  plugins/techdocs-backend/package.json
  plugins/techdocs-backend/src/index.ts
  plugins/techdocs-backend/src/service/router.test.ts
  plugins/techdocs-backend/src/service/router.ts
  plugins/techdocs-backend/src/service/standaloneServer.ts
Labels: docs-like-code

#1556 Added build step for container publish
  .github/workflows/techdocs.yml
Labels: docs-like-code

#1564 feat(cli): backstage-cli plugin:export
  packages/cli/src/commands/plugin/export.ts
  packages/cli/src/index.ts
  plugins/techdocs/package.json
  yarn.lock
Labels: docs-like-code, plugin

#1558 Initial techdocs-cli
  packages/techdocs-cli/.eslintrc.js
  packages/techdocs-cli/README.md
  packages/techdocs-cli/bin/build
  packages/techdocs-cli/package.json
  packages/techdocs-cli/src/index.ts
  packages/techdocs-cli/src/lib/httpServer.ts
  packages/techdocs-cli/src/lib/paths.ts
  packages/techdocs-cli/src/lib/version.ts
  yarn.lock
Labels: docs-like-code

#1584 techdocs: migrate container to /packages/techdocs-container
  .github/workflows/techdocs.yml
  packages/techdocs-cli/README.md
  packages/techdocs-container/Dockerfile
  packages/techdocs-container/README.md
  packages/techdocs-container/mock-docs/.gitignore
  packages/techdocs-container/mock-docs/docs/index.md
  packages/techdocs-container/mock-docs/mkdocs.yml
  packages/techdocs-container/mock-docs/sub-docs/docs/index.md
  packages/techdocs-container/mock-docs/sub-docs/mkdocs.yml
  packages/techdocs-container/techdocs-core/.gitignore
  packages/techdocs-container/techdocs-core/README.md
  packages/techdocs-container/techdocs-core/requirements.txt
  packages/techdocs-container/techdocs-core/setup.py
  packages/techdocs-container/techdocs-core/src/__init__.py
  packages/techdocs-container/techdocs-core/src/core.py
  plugins/techdocs/README.md
  plugins/techdocs/mkdocs/README.md
Labels: docs-like-code

#1585 techdocs: set techdocs plugin to public
  plugins/techdocs/package.json
Labels: docs-like-code, plugin

#1588 techdocs: remove @backstage/plugin-techdocs as dep
  packages/techdocs-cli/package.json
Labels: docs-like-code, plugin

#1596 TechDocs: updated techdocs container docs
  .github/CODEOWNERS
  packages/techdocs-container/README.md
Labels: docs-like-code

#1600 techdocs: Add skeleton end-to-end documentation
  .github/CODEOWNERS
  docs/features/techdocs/FAQ.md
  docs/features/techdocs/README.md
  docs/features/techdocs/concepts.md
  docs/features/techdocs/contributing.md
  docs/features/techdocs/debugging.md
  docs/features/techdocs/getting-started.md
  docs/features/techdocs/publishing-documentation.md
  docs/features/techdocs/reading-documentation.md
  docs/features/techdocs/writing-documentation.md
Labels: docs-like-code, plugin

#1615 TechDocs: added intro, features, roadmap
  docs/features/techdocs/README.md
Labels: docs-like-code, documentation

#1625 [TechDocs] Use Backstage docs as example
  plugins/techdocs/src/reader/components/TechDocsHome.tsx
Labels: docs-like-code, documentation

#1626 fix(techdocs): fix cli publishing no dist folder
  packages/techdocs-cli/bin/build.sh
  packages/techdocs-cli/package.json
Labels: docs-like-code

#1636 More issues in techdocs-cli
  packages/techdocs-cli/bin/techdocs-cli
  packages/techdocs-cli/package.json
  packages/techdocs-cli/src/index.ts
Labels: docs-like-code

#1640 [Docs] Fix broken links and more
  docs/README.md
  docs/auth/index.md
  docs/auth/oauth.md
  docs/dls/contributing-to-storybook.md
  docs/dls/index.md
  docs/dls/running-storybook.png
  docs/dls/storybook-page.png
  docs/getting-started/index.md
  mkdocs.yml
Labels: documentation

#1616 Scaffolder Documentation
  docs/features/software-catalog/descriptor-format.md
  docs/features/software-templates/adding-templates.md
  docs/features/software-templates/assets/added-to-the-catalog-list.png
  docs/features/software-templates/assets/complete.png
  docs/features/software-templates/assets/create.png
  docs/features/software-templates/assets/failed.png
  docs/features/software-templates/assets/go-to-catalog.png
  docs/features/software-templates/assets/running.png
  docs/features/software-templates/assets/template-picked-2.png
  docs/features/software-templates/assets/template-picked.png
  docs/features/software-templates/configure-templates.md
  docs/features/software-templates/extending/create-your-own-preparer.md
  docs/features/software-templates/extending/create-your-own-publisher.md
  docs/features/software-templates/extending/create-your-own-templater.md
  docs/features/software-templates/extending/index.md
  docs/features/software-templates/index.md
  mkdocs.yml
  plugins/scaffolder-backend/sample-templates/react-ssr-template/template.yaml
  plugins/scaffolder-backend/sample-templates/springboot-template/template.yaml
  plugins/scaffolder-backend/src/scaffolder/stages/publish/github.ts
  plugins/scaffolder-backend/src/scaffolder/stages/publish/types.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: documentation, scaffolder

#1651 [Docs] Fix links in main README
  README.md
  docs/README.md
  docs/dls/storybook.md
  docs/features/software-catalog/index.md
  mkdocs.yml
Labels: documentation

#1662 [Docs] Fix relative paths to code
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/auth/oauth.md
  docs/getting-started/customize-app-look-and-feel.md
  docs/getting-started/development-environment.md
  docs/plugins/create-a-plugin.md
  docs/plugins/developing-plugins.md
  docs/plugins/existing-plugins.md
  docs/plugins/index.md
  docs/plugins/publishing.md
  docs/plugins/structure-of-a-plugin.md
  mkdocs.yml
  plugins/proxy-backend/README.md
Labels: documentation

#1639 docs(techdocs-cli): add docs on deploying / bumping up version
  packages/techdocs-cli/README.md
Labels: docs-like-code, plugin

#1694 Update dockerfile to use published package of techdocs-core
  packages/techdocs-container/Dockerfile
Labels: docs-like-code

#1691 Added techdocs-core pip publish in master workflow
  .github/CODEOWNERS
  .github/workflows/techdocs-pypi.yml
  .github/workflows/techdocs.yml
  packages/techdocs-container/techdocs-core/setup.py
Labels: docs-like-code

#1701 TechDocs: techdocs cli updates
  packages/techdocs-cli/README.md
  packages/techdocs-cli/package.json
  packages/techdocs-cli/src/index.ts
  packages/techdocs-container/README.md
Labels: docs-like-code

#1703 Techdocs: concept documentation
  docs/features/techdocs/concepts.md
Labels: WIP, docs-like-code, documentation

#1708 TechDocs: fixes in techdocs-pypi workflow
  .github/workflows/techdocs-pypi.yml
Labels: docs-like-code

#1713 fix(techdocs): remove unused doc files and merge some docs into one file
  docs/features/techdocs/README.md
  docs/features/techdocs/contributing.md
  docs/features/techdocs/creating-and-publishing.md
  docs/features/techdocs/debugging.md
  docs/features/techdocs/reading-documentation.md
  docs/features/techdocs/writing-documentation.md
Labels: docs-like-code

#1725 Stand up a GraphQL Plugin
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/plugins/graphql.ts
  plugins/catalog/package.json
  plugins/graphql/.eslintrc.js
  plugins/graphql/README.md
  plugins/graphql/package.json
  plugins/graphql/scripts/mock-data.sh
  plugins/graphql/src/index.ts
  plugins/graphql/src/run.ts
  plugins/graphql/src/schema.gql
  plugins/graphql/src/service/router.test.ts
  plugins/graphql/src/service/router.ts
  plugins/graphql/src/service/standaloneServer.ts
  plugins/graphql/src/setupTests.ts
  yarn.lock
Labels: backend

#1720 TechDocs in entitiy model example
  plugins/techdocs-backend/examples/documented-component/docs/index.md
  plugins/techdocs-backend/examples/documented-component/documented-component.yaml
  plugins/techdocs-backend/examples/documented-component/mkdocs.yml
  plugins/techdocs-backend/package.json
  plugins/techdocs-backend/scripts/mock-data.sh
Labels: docs-like-code

#1771 Metadata generation in techdocs-core python package
  packages/techdocs-container/mock-docs/mkdocs.yml
  packages/techdocs-container/techdocs-core/setup.py
  packages/techdocs-container/techdocs-core/src/core.py
Labels: docs-like-code
