Repository backstage/backstage, pull requests merged in 2020-08, with the labels that each got.

#1893 TechDocs: Add use cases connected to TechDocs versions in project roadmap
  docs/features/techdocs/README.md
Labels: docs-like-code

#1895 Scaffolder: Default to running the Container as the same user as the node process
  plugins/scaffolder-backend/src/scaffolder/stages/templater/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/stages/templater/helpers.ts
Labels: scaffolder

#1900 Update README with new copy
  README.md
  docs/features/software-catalog/index.md
  docs/overview/what-is-backstage.md
Labels: documentation

#1910 Added v2 to techdocs readme
  docs/features/techdocs/README.md
Labels: docs-like-code

#1922 Document the service catalog
  docs/README.md
  docs/features/software-catalog/bsc-edit.png
  docs/features/software-catalog/bsc-extend.png
  docs/features/software-catalog/bsc-register-1.png
  docs/features/software-catalog/bsc-register-2.png
  docs/features/software-catalog/bsc-search.png
  docs/features/software-catalog/bsc-starred.png
  docs/features/software-catalog/extending-the-model.md
  docs/features/software-catalog/external-integrations.md
  docs/features/software-catalog/index.md
  docs/features/software-catalog/populating.md
  docs/features/software-catalog/system-model.md
  docs/features/software-templates/index.md
  mkdocs.yml
Labels: documentation

#1983 TechDocs: Fix techdocs-cli when not running local
  packages/techdocs-cli/bin/techdocs-cli
Labels: docs-like-code

#1991 [Docs] Detailed roadmap and vision
  README.md
  docs/README.md
  docs/overview/roadmap.md
  docs/overview/vision.md
  docs/overview/what-is-backstage.md
  microsite/README copy.md
  microsite/core/Footer.js
  microsite/i18n/en.json
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation

#2013 Add tags to catalog entities
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/examples/artist-lookup-component.yaml
  packages/catalog-model/examples/podcast-api-component.yaml
  packages/catalog-model/examples/queue-proxy-component.yaml
  packages/catalog-model/examples/searcher-component.yaml
  packages/catalog-model/examples/shuffle-api-component.yaml
  packages/catalog-model/examples/streetlights-api.yaml
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.ts
  packages/catalog-model/src/entity/policies/ReservedFieldsEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/ReservedFieldsEntityPolicy.ts
  packages/catalog-model/src/entity/policies/SchemaValidEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/SchemaValidEntityPolicy.ts
  packages/catalog-model/src/validation/makeValidator.ts
  packages/catalog-model/src/validation/types.ts
  packages/core/src/components/Table/Table.tsx
  plugins/catalog/src/components/CatalogPage/CatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/ResultsFilter/ResultsFilter.test.tsx
  plugins/catalog/src/components/ResultsFilter/ResultsFilter.tsx
  plugins/catalog/src/filter/EntityFilterGroupsProvider.tsx
  plugins/catalog/src/filter/context.ts
  plugins/catalog/src/filter/useFilteredEntities.ts
Labels: catalog

#2010 Link to marketplace issue from roadmap
  docs/overview/roadmap.md
Labels: documentation

#2012 Fix doc links in latest blog post
  microsite/blog/2020-08-05-announcing-backstage-software-templates.md
Labels: microsite

#2065 Show progress bar when loading on techdocs
  plugins/techdocs/src/reader/components/Reader.tsx
Labels: docs-like-code

#2112 Moved git clone to a helper functions and added tests for preparers
  plugins/techdocs-backend/src/techdocs/stages/prepare/dir.test.ts
  plugins/techdocs-backend/src/techdocs/stages/prepare/dir.ts
  plugins/techdocs-backend/src/techdocs/stages/prepare/github.ts
  plugins/techdocs-backend/src/techdocs/stages/prepare/helpers.ts
Labels: docs-like-code

#2105 TechDocs: update techdocs docs
  docs/assets/techdocs/documentation-template.png
  docs/features/techdocs/concepts.md
  docs/features/techdocs/creating-and-publishing.md
  docs/features/techdocs/getting-started.md
  mkdocs.yml
Labels: docs-like-code

#2101 [microsite] Add redirect for /docs
  microsite/pages/en/docs.js
  microsite/siteConfig.js
Labels: documentation, microsite

#2117 Merge latest changes from origin before rebuilding docs
  plugins/techdocs-backend/src/techdocs/stages/prepare/github.test.ts
  plugins/techdocs-backend/src/techdocs/stages/prepare/helpers.ts
Labels: docs-like-code

#2124 Added some more docs for techdocs-backend
  plugins/techdocs-backend/README.md
Labels: docs-like-code

#2126 [microsite] Add edit button to docs
  docs/overview/what-is-backstage.md
  microsite/siteConfig.js
  microsite/static/css/custom.css
Labels: documentation, microsite

#2127 Updated docs for techdocs plugin
  docs/features/techdocs/concepts.md
  plugins/techdocs/README.md
  plugins/techdocs/src/reader/README.md
  plugins/techdocs/src/reader/transformers/README.md
Labels: docs-like-code

#2136 [Docs] Various fixes
  docs/FAQ.md
  docs/README.md
  docs/architecture-decisions/index.md
  docs/assets/getting-started/create-app_output.png
  docs/assets/getting-started/create-plugin_output.png
  docs/assets/software-catalog/bsc-edit.png
  docs/assets/software-catalog/bsc-extend.png
  docs/assets/software-catalog/bsc-register-1.png
  docs/assets/software-catalog/bsc-register-2.png
  docs/assets/software-catalog/bsc-search.png
  docs/assets/software-catalog/bsc-starred.png
  docs/assets/software-catalog/software-model-core-entities.png
  docs/auth/auth-backend-classes.md
  docs/auth/oauth.md
  docs/features/software-catalog/extending-the-model.md
  docs/features/software-catalog/index.md
  docs/features/software-catalog/system-model.md
  docs/getting-started/development-environment.md
  docs/overview/background.md
  docs/plugins/create-a-plugin.md
  docs/plugins/plugin-development.md
  docs/reference/createPlugin-router.md
  docs/tutorials/index.md
  docs/tutorials/journey.md
  microsite/i18n/en.json
  microsite/pages/en/background.js
  microsite/sidebars.json
  microsite/siteConfig.js
  mkdocs.yml
Labels: documentation

#2142 Enable search of docs on microsite
  microsite/siteConfig.js
Labels: documentation, microsite

#2143 TechDocs: add techdocs plugins to create app
  packages/create-app/templates/default-app/app-config.yaml.hbs
  packages/create-app/templates/default-app/packages/app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/src/App.test.tsx
  packages/create-app/templates/default-app/packages/app/src/apis.ts
  packages/create-app/templates/default-app/packages/app/src/plugins.ts
  packages/create-app/templates/default-app/packages/app/src/sidebar.tsx
  packages/create-app/templates/default-app/packages/backend/src/plugins/techdocs.ts
Labels: docs-like-code

#2151 [Docs] Change edit URL and tweak adopting.md
  docs/overview/adopting.md
  microsite/siteConfig.js
Labels: documentation, microsite

#2192 Add more plugins to Marketplace
  microsite/data/plugins/circleci.yaml
  microsite/data/plugins/gitops-cluster.yaml
  microsite/data/plugins/graphiql.yaml
  microsite/data/plugins/lighthouse.yaml
  microsite/data/plugins/new-relic.yaml
  microsite/data/plugins/tech-radar.yaml
  microsite/i18n/en.json
Labels: microsite, plugin
