Repository backstage/backstage, pull requests merged in 2020-11, with the labels that each got.

#3198 Use discovery api to build URLs in techdocs
  plugins/techdocs-backend/src/service/router.ts
Labels: docs-like-code

#3226 [cost-insights] Export alerts utils
  .changeset/cost-insights-rich-dodos-smell.md
  plugins/cost-insights/src/api/CostInsightsApi.ts
  plugins/cost-insights/src/client.ts
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
  plugins/cost-insights/src/index.ts
Labels: cost-insights

#3239 Fix styling issue on Cost Insights product panels with no cost
  .changeset/cost-insights-quick-suits-brake.md
  app-config.yaml
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
Labels: bug, cost-insights, plugin

#3224 catalog: make the table denser
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: catalog, sweating-the-details

#3240 Fix double divider on InfoCard
  .changeset/silent-dodos-repeat.md
  packages/core/src/layout/InfoCard/InfoCard.tsx
Labels: bug, sweating-the-details

#2925 readTree method on UrlReader
  packages/backend-common/package.json
  packages/backend-common/src/reading/GithubUrlReader.test.ts
  packages/backend-common/src/reading/GithubUrlReader.ts
  packages/backend-common/src/reading/UrlReaderPredicateMux.ts
  packages/backend-common/src/reading/__fixtures__/repo.tar.gz
  packages/backend-common/src/reading/index.ts
  packages/backend-common/src/reading/types.ts
  packages/backend/src/plugins/techdocs.ts
  plugins/techdocs-backend/src/helpers.test.ts
  plugins/techdocs-backend/src/helpers.ts
  plugins/techdocs-backend/src/service/helpers.ts
  plugins/techdocs-backend/src/techdocs/stages/prepare/index.ts
  plugins/techdocs-backend/src/techdocs/stages/prepare/types.ts
  plugins/techdocs-backend/src/techdocs/stages/prepare/url.ts
  yarn.lock
Labels: docs-like-code

#3268 Ryanv cost insights custom toolips
  .changeset/cost-insights-sharp-actors-mix.md
  plugins/cost-insights/src/api/CostInsightsApi.ts
  plugins/cost-insights/src/client.ts
  plugins/cost-insights/src/components/BarChart/BarChart.test.tsx
  plugins/cost-insights/src/components/BarChart/BarChart.tsx
  plugins/cost-insights/src/components/BarChart/BarChartLabel.tsx
  plugins/cost-insights/src/components/BarChart/BarChartLegend.test.tsx
  plugins/cost-insights/src/components/BarChart/BarChartLegend.tsx
  plugins/cost-insights/src/components/BarChart/BarChartTick.tsx
  plugins/cost-insights/src/components/BarChart/BarChartTooltip.test.tsx
  plugins/cost-insights/src/components/BarChart/BarChartTooltip.tsx
  plugins/cost-insights/src/components/BarChart/BarChartTooltipItem.tsx
  plugins/cost-insights/src/components/BarChart/index.ts
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowthIndicator.test.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowthIndicator.tsx
  plugins/cost-insights/src/components/CostGrowth/index.ts
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewCard.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewChart.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewTooltip.tsx
  plugins/cost-insights/src/components/ProductInsights/ProductInsights.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityDialog.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsChart.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/index.ts
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertCard.tsx
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertChart.tsx
  plugins/cost-insights/src/components/ProjectGrowthInstructionsPage/ProjectGrowthInstructionsPage.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChart/ResourceGrowthBarChart.test.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChart/ResourceGrowthBarChart.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChart/index.ts
  plugins/cost-insights/src/components/ResourceGrowthBarChartLegend/ResourceGrowthBarChartLegend.test.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChartLegend/index.ts
  plugins/cost-insights/src/components/Tooltip/Tooltip.tsx
  plugins/cost-insights/src/components/Tooltip/index.ts
  plugins/cost-insights/src/components/UnlabeledDataflowAlertCard/UnlabeledDataflowAlertCard.tsx
  plugins/cost-insights/src/components/UnlabeledDataflowAlertCard/UnlabeledDataflowBarChart.tsx
  plugins/cost-insights/src/components/UnlabeledDataflowAlertCard/UnlabeledDataflowBarChartLegend.test.tsx
  plugins/cost-insights/src/components/UnlabeledDataflowAlertCard/UnlabeledDataflowBarChartLegend.tsx
  plugins/cost-insights/src/components/index.ts
  plugins/cost-insights/src/types/Alert.ts
  plugins/cost-insights/src/types/Entity.ts
  plugins/cost-insights/src/types/Product.ts
  plugins/cost-insights/src/utils/change.test.ts
  plugins/cost-insights/src/utils/change.ts
  plugins/cost-insights/src/utils/graphs.ts
  plugins/cost-insights/src/utils/mockData.ts
  plugins/cost-insights/src/utils/sort.ts
  plugins/cost-insights/src/utils/styles.ts
Labels: cost-insights, enhancement, plugin

#3270 Move TechDocs project board
  .github/workflows/techdocs-project-board.yml
Labels: docs-like-code

#3294 Fix cost excess amount calculation
  .changeset/cost-insights-wild-cars-wait.md
  plugins/cost-insights/src/client.ts
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewCard.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewChart.tsx
  plugins/cost-insights/src/utils/change.test.ts
  plugins/cost-insights/src/utils/change.ts
  plugins/cost-insights/src/utils/duration.ts
  plugins/cost-insights/src/utils/formatters.ts
  plugins/cost-insights/src/utils/mockData.ts
Labels: bug, cost-insights

#3305 fix:(cost-insights-plugin): remove excessive header margin from cost overview banner
  .changeset/cost-insights-strange-rings-smile.md
  plugins/cost-insights/src/components/CostInsightsPage/CostInsightsPage.tsx
Labels: bug, cost-insights, plugin

#3086 [Search] Search frontend plugin
  .github/CODEOWNERS
  packages/app/package.json
  packages/app/src/plugins.ts
  plugins/search/.eslintrc.js
  plugins/search/README.md
  plugins/search/dev/index.tsx
  plugins/search/package.json
  plugins/search/src/apis.ts
  plugins/search/src/components/Filters/Filters.tsx
  plugins/search/src/components/Filters/FiltersButton.tsx
  plugins/search/src/components/Filters/index.tsx
  plugins/search/src/components/SearchBar/SearchBar.tsx
  plugins/search/src/components/SearchBar/index.tsx
  plugins/search/src/components/SearchPage/SearchPage.tsx
  plugins/search/src/components/SearchPage/index.tsx
  plugins/search/src/components/SearchResult/SearchResult.tsx
  plugins/search/src/components/SearchResult/index.tsx
  plugins/search/src/components/index.tsx
  plugins/search/src/index.ts
  plugins/search/src/plugin.test.ts
  plugins/search/src/plugin.ts
  plugins/search/src/setupTests.ts
Labels: search

#3322 fix(cost-insights-plugin): fix tooltip title for very long period separated titles
  plugins/cost-insights/src/components/BarChart/BarChartTooltip.tsx
  plugins/cost-insights/src/utils/styles.ts
Labels: bug, cost-insights, plugin

#3350 fix(search): return EmptyState/Progress bar/Alert depending on result of api call
  plugins/search/src/components/SearchResult/SearchResult.tsx
Labels: search

#3335 Ryanv/product entity dialog improvements
  .changeset/cost-insights-wet-plants-glow.md
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityDialog.tsx
  plugins/cost-insights/src/utils/formatters.ts
Labels: cost-insights, plugin

#3375 truncate large percentages
  .changeset/cost-insights-tiny-llamas-perform.md
  plugins/cost-insights/src/components/BarChart/BarChartTooltip.tsx
  plugins/cost-insights/src/utils/formatters.test.ts
  plugins/cost-insights/src/utils/formatters.ts
  plugins/cost-insights/src/utils/styles.ts
Labels: cost-insights, enhancement, plugin

#2977 feat(kubernetes): update kubernetes plugin to support matchLabels
  .changeset/chatty-radios-beam.md
  packages/catalog-model/src/kinds/ComponentEntityV1alpha1.ts
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/kubernetes-auth-translator/GoogleKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/ServiceAccountKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/types.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/service/getKubernetesObjectsByServiceIdHandler.test.ts
  plugins/kubernetes-backend/src/service/getKubernetesObjectsForServiceHandler.ts
  plugins/kubernetes-backend/src/service/router.test.ts
  plugins/kubernetes-backend/src/service/router.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes/README.md
  plugins/kubernetes/src/api/KubernetesBackendClient.ts
  plugins/kubernetes/src/api/types.ts
  plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx
  plugins/kubernetes/src/kubernetes-auth-provider/GoogleKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.ts
  plugins/kubernetes/src/kubernetes-auth-provider/ServiceAccountKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/types.ts
Labels: k8s-plugin

#3349 [Search] name in search result clickable
  plugins/search/package.json
  plugins/search/src/apis.ts
  plugins/search/src/components/SearchResult/SearchResult.tsx
Labels: search

#3463 Handle empty YAML documents
  .changeset/five-dryers-shout.md
  plugins/catalog-backend/src/ingestion/processors/util/parse.test.ts
  plugins/catalog-backend/src/ingestion/processors/util/parse.ts
Labels: catalog
