Repository backstage/backstage, pull requests merged in 2020-03, with the labels that each got.

#299 Move and link to FAQ
  README.md
  docs/FAQ.md
Labels: documentation

#333 Update header in README
  README.md
  headline.png
Labels: documentation

#392 Add RFCs to README
  README.md
Labels: documentation, rfc

#396 Add question to FAQ
  docs/FAQ.md
Labels: documentation

#391 Add Feature Flags API 🎚
  docs/reference/README.md
  docs/reference/createPlugin-feature-flags.md
  docs/reference/createPlugin.md
  packages/app/src/apis.ts
  packages/core/src/api/apis/definitions/featureFlags.ts
  packages/core/src/api/apis/definitions/index.ts
  packages/core/src/api/app/AppBuilder.tsx
  packages/core/src/api/app/FeatureFlags.test.tsx
  packages/core/src/api/app/FeatureFlags.tsx
  packages/core/src/api/index.ts
  packages/core/src/api/plugin/Plugin.tsx
  packages/core/src/api/plugin/types.ts
  plugins/welcome/src/components/WelcomePage/ToggleFeatureFlagButton.test.tsx
  plugins/welcome/src/components/WelcomePage/ToggleFeatureFlagButton.tsx
  plugins/welcome/src/components/WelcomePage/WelcomePage.tsx
  plugins/welcome/src/plugin.ts
Labels: core, enhancement
