Repository backstage/backstage, pull requests merged in 2020-04, with the labels that each got.

#449 Storybook: wrap InfoCards to fix width
  README.md
  packages/core/src/layout/InfoCard/InfoCard.stories.tsx
Labels: storybook

#476 Add missing fields to new UX template
  .github/ISSUE_TEMPLATE/ux-component_template.md
Labels: bug

#459 Add question to FAQ
  docs/FAQ.md
Labels: documentation

#475 Add Storybook item for HorizontalScrollGrid
  packages/core/src/components/HorizontalScrollGrid.stories.tsx
  packages/core/src/components/Lifecycle/LifecycleAlpha.stories.tsx
  packages/core/src/components/Lifecycle/LifecycleBeta.stories.tsx
  packages/core/src/index.ts
Labels: component library, design, storybook

#480 Make link to Discord more prominent
  README.md
Labels: documentation

#457 Add documentation for how to create an app
  README.md
  docs/getting-started/README.md
  docs/getting-started/create-a-plugin.md
  docs/getting-started/create-an-app.md
  docs/getting-started/create-app_output.png
Labels: documentation

#477 Storybook for ProgressCard
  packages/core/src/components/ProgressCard.stories.tsx
  packages/core/src/components/ProgressCard.tsx
Labels: component library, design, storybook

#547 Port over WarningPanel component
  packages/core/src/components/WarningPanel/WarningPanel.js
  packages/core/src/components/WarningPanel/WarningPanel.stories.tsx
  packages/core/src/components/WarningPanel/WarningPanel.test.js
  packages/core/src/components/WarningPanel/index.js
  packages/core/src/index.ts
Labels: component, storybook

#464 TabbedCard component
  packages/cli/config/eslint.js
  packages/core/src/components/ProgressCard.tsx
  packages/core/src/layout/BottomLink/BottomLink.test.tsx
  packages/core/src/layout/BottomLink/BottomLink.tsx
  packages/core/src/layout/BottomLink/index.ts
  packages/core/src/layout/InfoCard/InfoCard.tsx
  packages/core/src/layout/TabbedCard/TabbedCard.stories.tsx
  packages/core/src/layout/TabbedCard/TabbedCard.test.tsx
  packages/core/src/layout/TabbedCard/TabbedCard.tsx
  packages/core/src/layout/TabbedCard/index.ts
Labels: component, storybook

#537 Dark mode has different sidebar
  packages/core/src/layout/Sidebar/Bar.tsx
  packages/theme/src/BackstageTheme.ts
  packages/theme/src/BackstageThemeDark.ts
  packages/theme/src/BackstageThemeLight.ts
  packages/theme/src/types.ts
Labels: core, design

#540 Add Status and SortableTable to Storybook
  packages/core/src/components/SortableTable.js
  packages/core/src/components/SortableTable.stories.tsx
  packages/core/src/components/Status/Status.stories.tsx
  packages/core/src/layout/HeaderLabel/OwnerHeaderLabel.js
Labels: storybook

#548 Show code in storybook
  packages/core/package.json
  packages/storybook/.storybook/main.js
  packages/storybook/package.json
  yarn.lock
Labels: storybook

#560 packages/storybook: added note in readme explaining why the package exists
  packages/storybook/README.md
Labels: documentation

#550 Add create-app to e2e
  .github/workflows/cli.yml
  packages/cli/bin/backstage-cli
  packages/cli/src/commands/build-cache/index.ts
  packages/cli/src/commands/create-app/createApp.ts
  packages/cli/src/commands/create-plugin/createPlugin.ts
  packages/cli/src/commands/plugin/rollup.config.ts
  packages/cli/src/helpers/paths.ts
  packages/cli/src/helpers/tasks.ts
  packages/cli/templates/default-app/packages/app/package.json.hbs
  scripts/cli-e2e-test.js
  scripts/createTestApp.js
  scripts/createTestPlugin.js
  scripts/generateTempDir.js
  scripts/helpers.js
Labels: cli

#572 Add CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#575 Clarify creating a new plugin as the next step
  README.md
  docs/create-an-app.md
  docs/create-app_output.png
  docs/getting-started/README.md
  docs/getting-started/development-environment.md
Labels: documentation

#590 Document how to suggest new plugins
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/feature_template.md
  .github/ISSUE_TEMPLATE/plugin_template.md
  .github/ISSUE_TEMPLATE/ux-component_template.md
  CONTRIBUTING.md
  README.md
  docs/getting-started/my-plugin_screenshot.png
  plugins/README.md
Labels: documentation

#541 Port over more internal components
  packages/core/package.json
  packages/core/src/components/CopyTextButton/CopyTextButton.js
  packages/core/src/components/CopyTextButton/CopyTextButton.stories.tsx
  packages/core/src/components/CopyTextButton/CopyTextButton.test.js
  packages/core/src/components/CopyTextButton/index.ts
  packages/core/src/components/ProgressBars/CircleProgress.test.js
  packages/core/src/components/ProgressBars/CircleProgress.tsx
  packages/core/src/components/ProgressBars/HorizontalProgress.stories.tsx
  packages/core/src/components/ProgressBars/HorizontalProgress.tsx
  packages/core/src/components/ProgressBars/ProgressCard.stories.tsx
  packages/core/src/components/ProgressBars/ProgressCard.test.js
  packages/core/src/components/ProgressBars/ProgressCard.tsx
  packages/core/src/components/StructuredMetadataTable/MetadataTable.js
  packages/core/src/components/StructuredMetadataTable/README.md
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.js
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.stories.tsx
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.test.js
  packages/core/src/components/StructuredMetadataTable/index.js
  packages/core/src/index.ts
Labels: component, storybook

#608 Add TypeScript question to FAQ
  docs/FAQ.md
Labels: documentation

#623 Use useInterval() hook to refetch audit status in lighthouse plugin WIP
  plugins/lighthouse/package.json
  plugins/lighthouse/src/components/Audit/AuditRow.tsx
  plugins/lighthouse/src/components/Audit/index.tsx
  plugins/lighthouse/src/components/AuditList/AuditListTable.test.tsx
  plugins/lighthouse/src/components/AuditList/AuditListTable.tsx
  plugins/lighthouse/src/components/AuditList/index.tsx
  plugins/lighthouse/src/components/CreateAudit/index.tsx
  plugins/lighthouse/src/utils.ts
Labels: plugin

#663 Add padding for all Stories
  packages/storybook/.storybook/config.js
Labels: storybook

#664 darkMode: fix bottom link
  packages/core/src/layout/BottomLink/BottomLink.tsx
Labels: accessibility, component
