Repository backstage/backstage, pull requests merged in 2020-05, with the labels that each got.

#699 [Storybook] Improve Status stories
  packages/core/src/components/Status/Status.stories.tsx
  packages/core/src/components/Status/Status.tsx
  packages/core/src/components/TrendLine/TrendLine.stories.tsx
Labels: storybook

#719 Add link to Demos site in README
  README.md
Labels: documentation

#733 Changed style of Table story
  packages/core/src/components/Table/Table.stories.tsx
Labels: storybook

#756 Adjust header label spacing
  packages/core/src/layout/Header/Header.tsx
  plugins/explore/src/components/ExplorePluginPage.tsx
Labels: sweating-the-details

#803 Issue 660: CodeSnippet Reuseable component
  packages/core/package.json
  packages/core/src/components/CodeSnippet/CodeSnippet.stories.tsx
  packages/core/src/components/CodeSnippet/CodeSnippet.test.tsx
  packages/core/src/components/CodeSnippet/CodeSnippet.tsx
  packages/core/src/components/CodeSnippet/index.tsx
  yarn.lock
Labels: component, storybook

#868 packages/core: rename api definitions to CamelCaseApi
  packages/core/src/api/apis/definitions/AlertApi.ts
  packages/core/src/api/apis/definitions/ErrorApi.ts
  packages/core/src/api/apis/definitions/FeatureFlagsApi.ts
  packages/core/src/api/apis/definitions/OAuthRequestApi.ts
  packages/core/src/api/apis/definitions/index.ts
  packages/core/src/api/apis/implementations/OAuthRequestManager/BasicOAuthScopes.ts
  packages/core/src/api/apis/implementations/OAuthRequestManager/OAuthPendingRequests.ts
  packages/core/src/api/apis/implementations/OAuthRequestManager/OAuthRequestManager.ts
  packages/core/src/api/app/AppBuilder.tsx
  packages/core/src/api/app/FeatureFlags.test.tsx
  packages/core/src/api/app/FeatureFlags.tsx
Labels: sweating-the-details

#748 Circle CI Plugin (Fixes #667)
  packages/app/package.json
  packages/app/src/apis.ts
  packages/app/src/plugins.ts
  packages/cli/package.json
  packages/cli/src/commands/app/serve.ts
  packages/cli/src/commands/plugin/diff/read.ts
  packages/cli/src/commands/plugin/serve.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/bundler/bundle.ts
  packages/core/src/components/CodeSnippet/CodeSnippet.tsx
  packages/core/src/components/HorizontalScrollGrid/HorizontalScrollGrid.test.jsx
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.test.jsx
  packages/core/src/components/Table/Table.tsx
  packages/core/src/layout/InfoCard/InfoCard.tsx
  packages/core/src/layout/Sidebar/Intro.tsx
  plugins/catalog-backend/src/database/Database.ts
  plugins/circleci/.eslintrc.js
  plugins/circleci/README.md
  plugins/circleci/dev/index.tsx
  plugins/circleci/package.json
  plugins/circleci/src/api/index.ts
  plugins/circleci/src/components/App.tsx
  plugins/circleci/src/components/Layout/Layout.tsx
  plugins/circleci/src/components/Layout/index.ts
  plugins/circleci/src/components/PluginHeader/PluginHeader.tsx
  plugins/circleci/src/components/PluginHeader/index.ts
  plugins/circleci/src/components/Settings/Settings.tsx
  plugins/circleci/src/components/Settings/index.ts
  plugins/circleci/src/index.ts
  plugins/circleci/src/navTargets.tsx
  plugins/circleci/src/pages/BuildWithStepsPage/BuildWithStepsPage.tsx
  plugins/circleci/src/pages/BuildWithStepsPage/index.ts
  plugins/circleci/src/pages/BuildWithStepsPage/lib/ActionOutput/ActionOutput.tsx
  plugins/circleci/src/pages/BuildWithStepsPage/lib/ActionOutput/index.ts
  plugins/circleci/src/pages/BuildsPage/BuildsPage.tsx
  plugins/circleci/src/pages/BuildsPage/index.ts
  plugins/circleci/src/pages/BuildsPage/lib/Builds/Builds.tsx
  plugins/circleci/src/pages/BuildsPage/lib/Builds/index.ts
  plugins/circleci/src/pages/BuildsPage/lib/CITable/CITable.tsx
  plugins/circleci/src/pages/BuildsPage/lib/CITable/index.ts
  plugins/circleci/src/plugin.test.ts
  plugins/circleci/src/plugin.ts
  plugins/circleci/src/proxy.ts
  plugins/circleci/src/setupTests.ts
  plugins/circleci/src/state/AppState.tsx
  plugins/circleci/src/state/index.ts
  plugins/circleci/src/state/types.ts
  plugins/circleci/src/state/useAsyncPolling.ts
  plugins/circleci/src/state/useBuildWithSteps.ts
  plugins/circleci/src/state/useBuilds.ts
  plugins/circleci/src/state/useSettings.ts
  plugins/explore/src/components/ExplorePluginPage.tsx
  plugins/graphiql/src/navTargets.tsx
  plugins/register-component/dev/index.tsx
  plugins/register-component/src/components/RegisterComponentForm/RegisterComponentForm.tsx
  yarn.lock
Labels: plugin

#894 ADR002: Default Software Catalog File Format
  docs/architecture-decisions/adr001-add-adr-log.md
  docs/architecture-decisions/adr002-default-catalog-file-format.md
Labels: catalog

#933 Update CircleCI in Explore
  plugins/explore/src/components/ExplorePluginPage.tsx
Labels: sweating-the-details

#958 Store and retrieve the entire envelopes
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/StaticEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/Database.test.ts
  plugins/catalog-backend/src/database/Database.ts
  plugins/catalog-backend/src/database/DatabaseManager.test.ts
  plugins/catalog-backend/src/database/DatabaseManager.ts
  plugins/catalog-backend/src/database/migrations/20200511113813_init.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/service/standaloneServer.ts
Labels: catalog

#967 Store and retrieve etag and generation
  plugins/catalog-backend/src/database/Database.ts
  plugins/catalog-backend/src/database/migrations/20200511113813_init.ts
  plugins/catalog-backend/src/database/types.ts
Labels: catalog

#976 Service Catalog improvements
  packages/core/src/index.ts
  packages/core/src/layout/ContentHeader/ContentHeader.tsx
  packages/core/src/layout/HomepageTimer/HomepageTimer.tsx
  packages/core/src/layout/HomepageTimer/index.ts
  plugins/catalog/src/components/CatalogPage/CatalogPage.test.tsx
  plugins/catalog/src/components/CatalogPage/CatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/ComponentContextMenu/ComponentContextMenu.test.tsx
  plugins/catalog/src/components/ComponentMetadataCard/ComponentMetadataCard.test.tsx
  plugins/home-page/src/components/HomePage/HomePage.tsx
  plugins/welcome/src/components/Timer/Timer.tsx
  plugins/welcome/src/components/Timer/index.ts
  plugins/welcome/src/components/WelcomePage/WelcomePage.tsx
Labels: catalog

#971 Add code for building a search index over added/modified entities
  plugins/catalog-backend/src/database/Database.ts
  plugins/catalog-backend/src/database/migrations/20200511113813_init.ts
  plugins/catalog-backend/src/database/search.test.ts
  plugins/catalog-backend/src/database/search.ts
  plugins/catalog-backend/src/database/types.ts
Labels: catalog

#995 Store entities completely in the database
  packages/backend-common/src/logging/index.ts
  packages/backend-common/src/logging/voidLogger.ts
  packages/backend/src/plugins/catalog.ts
  plugins/catalog-backend/fixtures/two_components.yaml
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/StaticEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/Database.test.ts
  plugins/catalog-backend/src/database/Database.ts
  plugins/catalog-backend/src/database/DatabaseManager.test.ts
  plugins/catalog-backend/src/database/DatabaseManager.ts
  plugins/catalog-backend/src/database/migrations/20200520140700_location_update_log_table.ts
  plugins/catalog-backend/src/database/search.test.ts
  plugins/catalog-backend/src/ingestion/LocationReaders.ts
  plugins/catalog-backend/src/ingestion/descriptors/ComponentDescriptorV1beta1Parser.ts
  plugins/catalog-backend/src/ingestion/descriptors/DescriptorEnvelopeParser.ts
  plugins/catalog-backend/src/ingestion/descriptors/types.ts
  plugins/catalog-backend/src/ingestion/sources/FileLocationSource.ts
  plugins/catalog-backend/src/ingestion/sources/GitHubLocationSource.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/catalog-backend/src/service/router.ts
Labels: catalog

#1015 Implement /entities with filters, /entities/by-id, /entities/by-name
  packages/backend/package.json
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/DatabaseLocationsCatalog.ts
  plugins/catalog-backend/src/catalog/StaticEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/Database.test.ts
  plugins/catalog-backend/src/database/Database.ts
  plugins/catalog-backend/src/database/DatabaseManager.test.ts
  plugins/catalog-backend/src/service/router.test.ts
  plugins/catalog-backend/src/service/router.ts
Labels: catalog

#1027 Add Stories for Header variants
  packages/core/src/layout/Header/Header.stories.tsx
  packages/core/src/layout/Header/Header.tsx
  packages/core/src/layout/Page/PageThemeProvider.ts
  plugins/catalog/src/components/ComponentPage/ComponentPage.tsx
  plugins/circleci/src/components/PluginHeader/PluginHeader.tsx
Labels: component, storybook

#1053 Make metadata and name mandatory
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.ts
  packages/catalog-model/src/entity/policies/ReservedFieldsEntityPolicy.ts
  packages/catalog-model/src/entity/policies/SchemaValidEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/SchemaValidEntityPolicy.ts
  plugins/catalog-backend/src/catalog/StaticEntitiesCatalog.ts
  plugins/catalog-backend/src/database/Database.test.ts
  plugins/catalog-backend/src/database/Database.ts
  plugins/catalog-backend/src/database/DatabaseManager.ts
  plugins/catalog-backend/src/database/migrations/20200511113813_init.ts
  plugins/catalog-backend/src/database/search.test.ts
  plugins/catalog-backend/src/database/search.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/service/router.test.ts
Labels: catalog

#1017 Location update results
  packages/backend/package.json
  packages/catalog-model/src/setupTests.ts
  plugins/catalog-backend/src/catalog/DatabaseLocationsCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/Database.test.ts
  plugins/catalog-backend/src/database/Database.ts
  plugins/catalog-backend/src/database/DatabaseManager.test.ts
  plugins/catalog-backend/src/database/migrations/20200527114117_location_update_log_latest_view.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/service/router.test.ts
  plugins/catalog-backend/src/service/router.ts
Labels: catalog

#1059 Add default namespace if none was given
  packages/catalog-model/src/EntityPolicies.ts
  packages/catalog-model/src/entity/policies/DefaultNamespaceEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/DefaultNamespaceEntityPolicy.ts
Labels: catalog
