Repository backstage/backstage, pull requests merged in 2020-12, with the labels that each got.

#3507 backend-common: allow port in config to be both a number or a string
  .changeset/light-bulldogs-guess.md
  packages/backend-common/config.d.ts
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
  packages/backend-common/src/service/lib/config.ts
Labels: backend

#3431 stack rank product panels
  .changeset/stupid-taxis-sneeze.md
  packages/cli/config/tsconfig.json
  plugins/cost-insights/src/client.ts
  plugins/cost-insights/src/components/CostInsightsNavigation/CostInsightsNavigation.test.tsx
  plugins/cost-insights/src/components/CostInsightsNavigation/CostInsightsNavigation.tsx
  plugins/cost-insights/src/components/CostInsightsPage/CostInsightsPage.tsx
  plugins/cost-insights/src/components/ProductInsights/ProductInsights.test.tsx
  plugins/cost-insights/src/components/ProductInsights/ProductInsights.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCardList.tsx
  plugins/cost-insights/src/hooks/useLoading.tsx
  plugins/cost-insights/src/utils/duration.ts
  plugins/cost-insights/src/utils/loading.ts
  plugins/cost-insights/src/utils/mockData.ts
  plugins/cost-insights/src/utils/sort.ts
  plugins/cost-insights/src/utils/styles.ts
Labels: cost-insights, enhancement, plugin

#3518 enable sku breakdowns for unlabeled entities
  .changeset/cost-insights-calm-bikes-prove.md
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityDialog.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsChart.tsx
  plugins/cost-insights/src/utils/assert.ts
  plugins/cost-insights/src/utils/graphs.ts
  plugins/cost-insights/src/utils/mockData.ts
Labels: cost-insights, enhancement, plugin

#3536 Support custom labels for entity breakdowns
  .changeset/cost-insights-hot-cheetahs-shout.md
  app-config.yaml
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityDialog.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsChart.tsx
  plugins/cost-insights/src/types/Entity.ts
  plugins/cost-insights/src/utils/mockData.ts
Labels: cost-insights, enhancement, plugin

#3537 Ryanv/disable cost insights support button
  .changeset/cost-insights-hungry-oranges-enjoy.md
  plugins/cost-insights/src/components/CostInsightsPage/CostInsightsPage.tsx
Labels: bug, cost-insights, plugin

#3551 Cache techdocs build using UrlReader
  plugins/techdocs-backend/src/service/helpers.ts
Labels: docs-like-code

#3513 catalog: add support for relative targets and implicit types in Location entities
  .changeset/olive-parrots-retire.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/examples-relative/README.md
  packages/catalog-model/examples-relative/acme-corp.yaml
  packages/catalog-model/examples-relative/acme/backstage-group.yaml
  packages/catalog-model/examples-relative/acme/boxoffice-group.yaml
  packages/catalog-model/examples-relative/acme/infrastructure-group.yaml
  packages/catalog-model/examples-relative/acme/org.yaml
  packages/catalog-model/examples-relative/acme/team-a-group.yaml
  packages/catalog-model/examples-relative/acme/team-b-group.yaml
  packages/catalog-model/examples-relative/acme/team-c-group.yaml
  packages/catalog-model/examples-relative/acme/team-d-group.yaml
  packages/catalog-model/examples-relative/all-apis.yaml
  packages/catalog-model/examples-relative/all-components.yaml
  packages/catalog-model/examples-relative/apis/hello-world-api.yaml
  packages/catalog-model/examples-relative/apis/petstore-api.yaml
  packages/catalog-model/examples-relative/apis/spotify-api.yaml
  packages/catalog-model/examples-relative/apis/streetlights-api.yaml
  packages/catalog-model/examples-relative/apis/swapi-graphql.yaml
  packages/catalog-model/examples-relative/components/artist-lookup-component.yaml
  packages/catalog-model/examples-relative/components/petstore-component.yaml
  packages/catalog-model/examples-relative/components/playback-lib-component.yaml
  packages/catalog-model/examples-relative/components/playback-order-component.yaml
  packages/catalog-model/examples-relative/components/podcast-api-component.yaml
  packages/catalog-model/examples-relative/components/queue-proxy-component.yaml
  packages/catalog-model/examples-relative/components/searcher-component.yaml
  packages/catalog-model/examples-relative/components/shuffle-api-component.yaml
  packages/catalog-model/examples-relative/components/www-artist-component.yaml
  packages/catalog-model/examples/README.md
  packages/catalog-model/src/kinds/LocationEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/LocationEntityV1alpha1.ts
  plugins/catalog-backend/src/ingestion/processors/LocationEntityProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/LocationEntityProcessor.ts
Labels: catalog

#3552 Use resource instead of source when building github repo tar url
  packages/backend-common/src/reading/GithubUrlReader.test.ts
  packages/backend-common/src/reading/GithubUrlReader.ts
Labels: bug

#3517 chore(jenkins,circleci): Refactor APIs to export modules from index to support ADR004
  .changeset/five-lies-smile.md
  plugins/circleci/src/api/CircleCIApi.ts
  plugins/circleci/src/api/index.ts
  plugins/circleci/src/state/useBuildWithSteps.ts
  plugins/circleci/src/state/useBuilds.ts
  plugins/jenkins/src/api/JenkinsApi.ts
  plugins/jenkins/src/api/index.ts
Labels: sweating-the-details

#3373 catalog: remove group ancestors and descendants
  .changeset/silent-boxes-exercise.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/examples/acme/backstage-group.yaml
  packages/catalog-model/examples/acme/boxoffice-group.yaml
  packages/catalog-model/examples/acme/infrastructure-group.yaml
  packages/catalog-model/examples/acme/org.yaml
  packages/catalog-model/examples/acme/team-a-group.yaml
  packages/catalog-model/examples/acme/team-b-group.yaml
  packages/catalog-model/examples/acme/team-c-group.yaml
  packages/catalog-model/examples/acme/team-d-group.yaml
  packages/catalog-model/src/kinds/GroupEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/GroupEntityV1alpha1.ts
  plugins/catalog-backend/src/ingestion/processors/BuiltinKindsEntityProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/BuiltinKindsEntityProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/ldap/read.test.ts
  plugins/catalog-backend/src/ingestion/processors/ldap/read.ts
  plugins/catalog-backend/src/ingestion/processors/microsoftGraph/read.test.ts
  plugins/catalog-backend/src/ingestion/processors/microsoftGraph/read.ts
  plugins/catalog-backend/src/ingestion/processors/util/github.test.ts
  plugins/catalog-backend/src/ingestion/processors/util/github.ts
  plugins/catalog-backend/src/ingestion/processors/util/org.test.ts
  plugins/catalog-backend/src/ingestion/processors/util/org.ts
Labels: catalog

#3571 Slightly more padding in dense tables
  .changeset/small-comics-cover.md
  packages/theme/src/baseTheme.ts
Labels: question, sweating-the-details

#3599 [TechDocs] Bug fixes and cleanups
  .changeset/silly-kiwis-rest.md
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/transformers/addLinkClickListener.ts
  plugins/techdocs/src/reader/transformers/index.ts
  plugins/techdocs/src/reader/transformers/modifyCss.test.tsx
  plugins/techdocs/src/reader/transformers/modifyCss.ts
Labels: docs-like-code

#3576 [Cost Insights] Add support for multiple types of entity cost breakdown
  .changeset/cost-insights-quick-lizards-smash.md
  plugins/cost-insights/package.json
  plugins/cost-insights/src/api/CostInsightsApi.ts
  plugins/cost-insights/src/components/ProductInsights/ProductInsights.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityDialog.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityDialog.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityTable.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsChart.tsx
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertCard.tsx
  plugins/cost-insights/src/components/ProjectGrowthInstructionsPage/ProjectGrowthInstructionsPage.tsx
  plugins/cost-insights/src/components/UnlabeledDataflowAlertCard/UnlabeledDataflowAlertCard.tsx
  plugins/cost-insights/src/types/Entity.ts
  plugins/cost-insights/src/utils/assert.ts
  plugins/cost-insights/src/utils/formatters.ts
  plugins/cost-insights/src/utils/grammar.ts
  plugins/cost-insights/src/utils/mockData.ts
  yarn.lock
Labels: cost-insights, enhancement, plugin

#3572 Remove calendar month option
  .changeset/cost-insights-wild-pumpkins-tie.md
  plugins/cost-insights/src/api/CostInsightsApi.ts
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.test.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.test.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.test.tsx
  plugins/cost-insights/src/types/Duration.ts
  plugins/cost-insights/src/utils/change.test.ts
  plugins/cost-insights/src/utils/currency.ts
  plugins/cost-insights/src/utils/duration.test.ts
  plugins/cost-insights/src/utils/duration.ts
  plugins/cost-insights/src/utils/formatters.test.ts
  plugins/cost-insights/src/utils/formatters.ts
  plugins/cost-insights/src/utils/mockData.ts
Labels: cost-insights, enhancement, plugin

#3580 Ryanv/product insights intervals
  .changeset/cost-insights-wet-walls-jog.md
  plugins/cost-insights/src/api/CostInsightsApi.ts
  plugins/cost-insights/src/components/ProductInsights/ProductInsights.tsx
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertCard.test.tsx
  plugins/cost-insights/src/index.ts
Labels: cost-insights, enhancement, plugin

#3649 catalog-backend: leave unknown placeholder-lookalikes untouched
  .changeset/breezy-chefs-report.md
  plugins/catalog-backend/src/ingestion/processors/PlaceholderProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/PlaceholderProcessor.ts
Labels: bug, catalog

#3685 fix entity breakdown sort
  .changeset/cost-insights-pink-boats-exercise.md
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityTable.tsx
Labels: bug, cost-insights, plugin

#3680 catalog-backend: add index to foreign key columns
  .changeset/rotten-pandas-draw.md
  plugins/catalog-backend/migrations/20201210185851_fk_index.js
Labels: catalog

#3682 catalog-backend: batch the writing of statuses after refreshes
  .changeset/rare-peas-accept.md
  plugins/catalog-backend/src/catalog/DatabaseLocationsCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/ingestion/HigherOrderOperations.test.ts
  plugins/catalog-backend/src/ingestion/HigherOrderOperations.ts
Labels: catalog

#3677 catalog-backend: split into smaller transactions for refreshes
  .changeset/curvy-dodos-fry.md
  .github/styles/vocab.txt
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
Labels: catalog

#3695 Ryanv/pin all projects option
  .changeset/cost-insights-tasty-years-laugh.md
  plugins/cost-insights/src/components/ProjectSelect/ProjectSelect.tsx
Labels: cost-insights, enhancement, plugin

#3621 Remove the deprecated sentry backend
  plugins/sentry-backend/.eslintrc.js
  plugins/sentry-backend/CHANGELOG.md
  plugins/sentry-backend/README.md
  plugins/sentry-backend/package.json
  plugins/sentry-backend/src/index.ts
Labels: do-not-merge

#3609 Implement readTree on BitBucketUrlReader
  .changeset/grumpy-elephants-press.md
  packages/backend-common/src/reading/AzureUrlReader.test.ts
  packages/backend-common/src/reading/BitbucketUrlReader.test.ts
  packages/backend-common/src/reading/BitbucketUrlReader.ts
  packages/backend-common/src/reading/__fixtures__/bitbucket-repo-with-commit-hash.zip
  packages/backend-common/src/reading/__fixtures__/bitbucket-server-repo.zip
  packages/integration/package.json
  packages/integration/src/bitbucket/core.test.ts
  packages/integration/src/bitbucket/core.ts
  packages/integration/src/bitbucket/index.ts
Labels: docs-like-code

#3713 (microsite) Updating the roadmap on backstage.io
  .github/styles/vocab.txt
  docs/overview/roadmap.md
Labels: documentation

#3465 Remove implementsApis
  .changeset/thirty-fans-hammer.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/examples/components/petstore-component.yaml
  packages/catalog-model/src/kinds/ComponentEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/ComponentEntityV1alpha1.ts
  plugins/catalog-backend/src/ingestion/processors/BuiltinKindsEntityProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/BuiltinKindsEntityProcessor.ts
Labels: catalog

#3760 Update ADOPTERS.md
  ADOPTERS.md
Labels: documentation

#3759 Updating the owners file to add new friends of backstage
  .github/styles/vocab.txt
  OWNERS.md
Labels: documentation

#3754 Edits for roadmap.md
  docs/overview/roadmap.md
Labels: documentation

#3524 catalog-model: use relative location targets in examples
  packages/catalog-model/examples-relative/README.md
  packages/catalog-model/examples-relative/acme-corp.yaml
  packages/catalog-model/examples-relative/acme/backstage-group.yaml
  packages/catalog-model/examples-relative/acme/boxoffice-group.yaml
  packages/catalog-model/examples-relative/acme/infrastructure-group.yaml
  packages/catalog-model/examples-relative/acme/org.yaml
  packages/catalog-model/examples-relative/acme/team-a-group.yaml
  packages/catalog-model/examples-relative/acme/team-b-group.yaml
  packages/catalog-model/examples-relative/acme/team-c-group.yaml
  packages/catalog-model/examples-relative/acme/team-d-group.yaml
  packages/catalog-model/examples-relative/all-apis.yaml
  packages/catalog-model/examples-relative/all-components.yaml
  packages/catalog-model/examples-relative/apis/hello-world-api.yaml
  packages/catalog-model/examples-relative/apis/petstore-api.yaml
  packages/catalog-model/examples-relative/apis/spotify-api.yaml
  packages/catalog-model/examples-relative/apis/streetlights-api.yaml
  packages/catalog-model/examples-relative/apis/swapi-graphql.yaml
  packages/catalog-model/examples-relative/components/artist-lookup-component.yaml
  packages/catalog-model/examples-relative/components/petstore-component.yaml
  packages/catalog-model/examples-relative/components/playback-lib-component.yaml
  packages/catalog-model/examples-relative/components/playback-order-component.yaml
  packages/catalog-model/examples-relative/components/podcast-api-component.yaml
  packages/catalog-model/examples-relative/components/queue-proxy-component.yaml
  packages/catalog-model/examples-relative/components/searcher-component.yaml
  packages/catalog-model/examples-relative/components/shuffle-api-component.yaml
  packages/catalog-model/examples-relative/components/www-artist-component.yaml
  packages/catalog-model/examples/README.md
  packages/catalog-model/examples/acme-corp.yaml
  packages/catalog-model/examples/acme/backstage-group.yaml
  packages/catalog-model/examples/acme/boxoffice-group.yaml
  packages/catalog-model/examples/acme/infrastructure-group.yaml
  packages/catalog-model/examples/acme/org.yaml
  packages/catalog-model/examples/acme/team-a-group.yaml
  packages/catalog-model/examples/acme/team-b-group.yaml
  packages/catalog-model/examples/acme/team-c-group.yaml
  packages/catalog-model/examples/acme/team-d-group.yaml
  packages/catalog-model/examples/all-apis.yaml
  packages/catalog-model/examples/all-components.yaml
  packages/catalog-model/examples/apis/wayback-archive-api.yaml
  packages/catalog-model/examples/apis/wayback-search-api.yaml
  packages/catalog-model/examples/components/wayback-archive-component.yaml
  packages/catalog-model/examples/components/wayback-search-component.yaml
Labels: catalog, do-not-merge

#3753 core-api: Introduce new plugin extension API
  .changeset/quiet-pants-happen.md
  .changeset/short-dancers-explode.md
  packages/app/src/App.tsx
  packages/core-api/src/app/App.test.tsx
  packages/core-api/src/app/App.tsx
  packages/core-api/src/app/types.ts
  packages/core-api/src/extensions/extensions.test.tsx
  packages/core-api/src/extensions/extensions.tsx
  packages/core-api/src/plugin/Plugin.tsx
  packages/core-api/src/plugin/collectors.test.tsx
  packages/core-api/src/plugin/collectors.ts
  packages/core-api/src/plugin/index.ts
  packages/core-api/src/plugin/types.ts
  packages/core-api/src/public.ts
  packages/core-api/src/routing/RouteRef.ts
  packages/core-api/src/routing/collectors.test.tsx
  packages/core-api/src/routing/hooks.test.tsx
  packages/core-api/src/routing/hooks.tsx
  packages/core-api/src/routing/index.ts
  packages/core/src/api-wrappers/createApp.tsx
  packages/test-utils/src/testUtils/appWrappers.tsx
  plugins/graphiql/src/index.ts
  plugins/graphiql/src/plugin.ts
Labels: core, do-not-merge, frontend

#3776 catalog-backend: flesh out and tweak the config schema
  .changeset/tasty-candles-remain.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/ingestion/processors/microsoftGraph/config.ts
Labels: catalog

#3711 microsite: add stability index blog post
  microsite/blog/2020-12-22-stability-index.md
  microsite/blog/assets/2020-12-22/stability-index-hero.gif
  microsite/blog/assets/2020-12-22/versions-bump.png
Labels: do-not-merge

#3827 feat(cost-insights): Make alert url field optional
  .changeset/cost-insights-cuddly-frogs-matter.md
  plugins/cost-insights/README.md
  plugins/cost-insights/src/components/AlertInsights/AlertInsightsSection.test.tsx
  plugins/cost-insights/src/components/AlertInsights/AlertInsightsSection.tsx
  plugins/cost-insights/src/types/Alert.ts
Labels: cost-insights, enhancement, plugin

#3831 Release plugin-cost-insights 0.5.3
  .changeset/cost-insights-cuddly-frogs-matter.md
  plugins/cost-insights/CHANGELOG.md
  plugins/cost-insights/package.json
Labels: cost-insights, plugin

#3881 catalog-backend: unbreak sqlite in create-app repos
  plugins/catalog-backend/migrations/20200702153613_entities.js
  plugins/catalog-backend/migrations/20200807120600_entitySearch.js
  plugins/catalog-backend/migrations/20201005122705_add_entity_full_name.js
  plugins/catalog-backend/migrations/20201006130744_entity_data_column.js
Labels: bug, catalog

#3882 catalog-backend: stop it with the varchar(255)
  plugins/catalog-backend/migrations/20201230103504_update_log_varchar.js
Labels: bug, catalog
