Repository backstage/backstage, pull requests merged in 2021-01, with the labels that each got.

#3843 sentry: port plugin to new composability API and dev-utils
  .changeset/hungry-mice-clap.md
  .github/styles/vocab.txt
  plugins/sentry/dev/index.tsx
  plugins/sentry/package.json
  plugins/sentry/src/extensions.tsx
  plugins/sentry/src/index.ts
  plugins/sentry/src/plugin.ts
Labels: do-not-merge

#4001 scaffolder-backend: export all preparers properly
  .changeset/wild-dolls-rest.md
  plugins/scaffolder-backend/src/scaffolder/stages/prepare/index.ts
  plugins/scaffolder-backend/src/scaffolder/stages/publish/index.ts
Labels: templates

#3970 Remove empty entity count; tweak mock data
  .changeset/cost-insights-careless-coins-pretend
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
  plugins/cost-insights/src/utils/mockData.ts
Labels: bug, cost-insights, plugin

#4015 chore: (Re) Fix broken TechDocs project board workflow
  .github/workflows/techdocs-project-board.yml
Labels: docs-like-code

#4030 Search Roadmap and Architecture
  docs/assets/search/architecture.drawio.svg
  docs/features/search/README.md
  docs/features/search/architecture.md
  microsite/sidebars.json
  mkdocs.yml
Labels: search

#3886 backend-common: remove deprecated HTTPS config
  .changeset/wise-mice-invite.md
  packages/backend-common/config.d.ts
  packages/backend-common/src/service/lib/config.ts
  packages/backend-common/src/service/lib/hostFactory.ts
Labels: do-not-merge

#4131 catalog-model: remove special merge treatment of annotations
  .changeset/yellow-ties-switch.md
  packages/catalog-model/src/entity/util.test.ts
  packages/catalog-model/src/entity/util.ts
Labels: catalog

#4080 Show kubernetes services
  .changeset/olive-zebras-itch.md
  plugins/kubernetes/src/components/IngressesAccordions/IngressDrawer.test.tsx
  plugins/kubernetes/src/components/IngressesAccordions/IngressDrawer.tsx
  plugins/kubernetes/src/components/IngressesAccordions/IngressesAccordions.test.tsx
  plugins/kubernetes/src/components/IngressesAccordions/IngressesAccordions.tsx
  plugins/kubernetes/src/components/IngressesAccordions/__fixtures__/2-ingresses.json
  plugins/kubernetes/src/components/IngressesAccordions/index.ts
  plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx
  plugins/kubernetes/src/components/ServicesAccordions/ServiceDrawer.test.tsx
  plugins/kubernetes/src/components/ServicesAccordions/ServiceDrawer.tsx
  plugins/kubernetes/src/components/ServicesAccordions/ServicesAccordions.test.tsx
  plugins/kubernetes/src/components/ServicesAccordions/ServicesAccordions.tsx
  plugins/kubernetes/src/components/ServicesAccordions/__fixtures__/2-services.json
  plugins/kubernetes/src/components/ServicesAccordions/index.ts
Labels: k8s-plugin

#4166 Refactor product chart tooltip
  .changeset/cost-insights-curvy-dingos-live.md
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewByProductChart.tsx
Labels: cost-insights, enhancement, frontend

#4223 Add support for additional breakdowns of daily cost data
  .changeset/cost-insights-yellow-trees-love.md
  plugins/cost-insights/src/client.ts
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewBreakdownChart.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewCard.test.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewCard.tsx
  plugins/cost-insights/src/types/Cost.ts
  plugins/cost-insights/src/utils/mockData.ts
Labels: cost-insights, enhancement, plugin
