Repository backstage/backstage, pull requests merged in 2021-02, with the labels that each got.

#4379 [Cost Insights] Fix incorrect date calculations in European time zones
  .changeset/cost-insights-wise-moons-crash.md
  plugins/cost-insights/src/utils/change.test.ts
  plugins/cost-insights/src/utils/change.ts
  plugins/cost-insights/src/utils/duration.ts
  plugins/cost-insights/src/utils/formatters.ts
  plugins/cost-insights/src/utils/mockData.ts
Labels: bug, cost-insights, plugin

#4425 snooze duration bugfix
  .changeset/cost-insights-tidy-geese-play.md
  plugins/cost-insights/src/types/Alert.ts
Labels: bug, cost-insights, plugin

#4473 Default dismiss form bugfix
  .changeset/cost-insights-kind-moons-clap.md
  plugins/cost-insights/src/forms/AlertDismissForm.tsx
Labels: bug, cost-insights, plugin

#4633 Deprecation message for POST /entities
  plugins/catalog-backend/src/service/router.ts
Labels: catalog

#4623 Cost insights override default alert properties
  .changeset/cost-insights-fresh-radios-doubt.md
  .github/styles/vocab.txt
  plugins/cost-insights/src/alerts/ProjectGrowthAlert.test.tsx
  plugins/cost-insights/src/alerts/ProjectGrowthAlert.tsx
  plugins/cost-insights/src/alerts/UnlabeledDataflowAlert.test.tsx
  plugins/cost-insights/src/alerts/UnlabeledDataflowAlert.tsx
Labels: cost-insights, enhancement, plugin
