Repository backstage/backstage, pull requests merged in 2021-07, with the labels that each got.

#6359 Use target=_blank on MissingAnnotation Read More link
  packages/core-components/src/components/EmptyState/MissingAnnotationEmptyState.tsx
Labels: enhancement

#6407 Add debugging instructions to backend README
  packages/backend/README.md
Labels: documentation

#6467 [Search] Handle request errors properly and display them in the results list.
  .changeset/search-breezy-oranges-collect.md
  plugins/search/package.json
  plugins/search/src/apis.test.ts
  plugins/search/src/apis.ts
  plugins/search/src/components/SearchResult/SearchResult.test.tsx
  plugins/search/src/components/SearchResult/SearchResult.tsx
Labels: search

#6455 [TechDocs] Handle error responses in getTechDocsMetadata and `getEntityMetadata` such that `<TechDocsPageHeader>` doesn't throw errors.
  .changeset/techdocs-young-gorillas-share.md
  plugins/techdocs/api-report.md
  plugins/techdocs/src/client.ts
  plugins/techdocs/src/reader/components/TechDocsPage.tsx
  plugins/techdocs/src/reader/components/TechDocsPageHeader.test.tsx
  plugins/techdocs/src/reader/components/TechDocsPageHeader.tsx
  plugins/techdocs/src/types.ts
Labels: docs-like-code

#6492 [TechDocs] Refactor the techdocs transformers to return `Promise`s and await all transformations
  .changeset/techdocs-spotty-tables-beam.md
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/transformers/addBaseUrl.test.ts
  plugins/techdocs/src/reader/transformers/addBaseUrl.ts
  plugins/techdocs/src/reader/transformers/addGitFeedbackLink.test.ts
  plugins/techdocs/src/reader/transformers/addLinkClickListener.test.ts
  plugins/techdocs/src/reader/transformers/index.test.ts
  plugins/techdocs/src/reader/transformers/injectCss.test.ts
  plugins/techdocs/src/reader/transformers/onCssReady.test.ts
  plugins/techdocs/src/reader/transformers/onCssReady.ts
  plugins/techdocs/src/reader/transformers/removeMkdocsHeader.test.ts
  plugins/techdocs/src/reader/transformers/rewriteDocLinks.test.ts
  plugins/techdocs/src/reader/transformers/sanitizeDOM/index.test.ts
  plugins/techdocs/src/reader/transformers/simplifyMkdocsFooter.test.ts
  plugins/techdocs/src/reader/transformers/transformer.ts
  plugins/techdocs/src/test-utils/shadowDom.ts
Labels: docs-like-code

#6571 Remove Python requirement from docs
  docs/features/software-templates/configuration.md
  docs/getting-started/index.md
Labels: documentation

#6444 feat(catalog-backend): support filtering on property existance
  .changeset/chilly-frogs-kiss.md
  .changeset/five-dolls-complain.md
  .changeset/lucky-boats-rescue.md
  .changeset/selfish-phones-double.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/types/index.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/database/CommonDatabase.test.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/next/NextEntitiesCatalog.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.test.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.ts
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/index.ts
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
Labels: after-vacation
