Repository backstage/backstage, pull requests merged in 2021-09, with the labels that each got.

#7015 Bump `passport-saml` to version 3
  .changeset/fast-actors-grow.md
  app-config.yaml
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/saml/provider.ts
  yarn.lock
Labels: do-not-merge, auth

#7146 fix: remove hardcoded min height in page header
  .changeset/six-crabs-sit.md
  packages/core-components/src/layout/Header/Header.tsx
Labels: bug, design, component, core, cost-insights

#7184 fix(docs): Update Docusaurus build errors & minor rewording
  docs/deployment/docker.md
  docs/deployment/index.md
  docs/features/software-templates/migrating-from-v1alpha1-to-v1beta2.md
Labels: documentation

#7221 security: bump lodash to 4.17.21
  .changeset/spicy-yaks-notice.md
  packages/backend-common/package.json
  packages/catalog-model/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/core-components/package.json
  plugins/catalog-backend-module-ldap/package.json
  plugins/catalog-backend-module-msgraph/package.json
  plugins/catalog-backend/package.json
  plugins/catalog-react/package.json
  plugins/circleci/package.json
  plugins/kafka-backend/package.json
  plugins/kubernetes-backend/package.json
  plugins/rollbar-backend/package.json
  plugins/rollbar/package.json
  plugins/search-backend-module-pg/package.json
Labels: security

#7002 [PRFC] integration-react: add ScmAuthApi + implementation
  .changeset/brave-shoes-push.md
  .changeset/great-rabbits-juggle.md
  .changeset/purple-scissors-allow.md
  packages/app/src/apis.ts
  packages/create-app/templates/default-app/packages/app/src/apis.ts
  packages/integration-react/api-report.md
  packages/integration-react/src/api/ScmAuth.test.ts
  packages/integration-react/src/api/ScmAuth.ts
  packages/integration-react/src/api/ScmAuthApi.ts
  packages/integration-react/src/api/index.ts
  plugins/catalog-import/api-report.md
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.ts
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.test.tsx
  plugins/catalog-import/src/components/ImportPage/ImportPage.test.tsx
  plugins/catalog-import/src/plugin.ts
Labels: do-not-merge

#7312 [TechDocs] API implementation how-to guide
  docs/features/techdocs/how-to-guides.md
Labels: documentation, docs-like-code

#7194 core-components: Remove CheckboxTree component (used in Table Filters)
  .changeset/red-hats-walk.md
  packages/core-components/api-report.md
  packages/core-components/src/components/CheckboxTree/CheckboxTree.stories.tsx
  packages/core-components/src/components/CheckboxTree/CheckboxTree.test.tsx
  packages/core-components/src/components/CheckboxTree/CheckboxTree.tsx
  packages/core-components/src/components/CheckboxTree/index.tsx
  packages/core-components/src/components/Table/Filters.tsx
  packages/core-components/src/components/Table/Table.stories.tsx
  packages/core-components/src/components/Table/Table.tsx
Labels: do-not-merge
