Repository backstage/backstage, pull requests merged in 2021-05, with the labels that each got.

#5330 Kubernetes common
  .changeset/silly-tables-build.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/kubernetes-auth-translator/GoogleKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/ServiceAccountKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/types.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/service/router.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-common/.eslintrc.js
  plugins/kubernetes-common/CHANGELOG.md
  plugins/kubernetes-common/README.md
  plugins/kubernetes-common/package.json
  plugins/kubernetes-common/src/index.ts
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/api/KubernetesBackendClient.ts
  plugins/kubernetes/src/api/types.ts
  plugins/kubernetes/src/components/KubernetesContent/ErrorPanel.tsx
  plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx
  plugins/kubernetes/src/error-detection/error-detection.test.ts
  plugins/kubernetes/src/error-detection/error-detection.ts
  plugins/kubernetes/src/hooks/useKubernetesObjects.ts
  plugins/kubernetes/src/kubernetes-auth-provider/AwsKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/GoogleKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.ts
  plugins/kubernetes/src/kubernetes-auth-provider/ServiceAccountKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/types.ts
  plugins/kubernetes/src/utils/response.ts
Labels: k8s-plugin

#5701 Composability updates for Splunk On-Call plugin
  .changeset/many-boats-cough.md
  plugins/splunk-on-call/README.md
  plugins/splunk-on-call/src/components/EntitySplunkOnCallCard.test.tsx
  plugins/splunk-on-call/src/components/EntitySplunkOnCallCard.tsx
  plugins/splunk-on-call/src/components/SplunkOnCallPage.tsx
  plugins/splunk-on-call/src/index.ts
  plugins/splunk-on-call/src/plugin.ts
Labels: plugin

#5621 Cost insights custom alert titles
  .changeset/cost-insights-fuzzy-boats-float.md
  plugins/cost-insights/src/components/ActionItems/ActionItemCard.test.tsx
  plugins/cost-insights/src/components/AlertInsights/AlertInsightsSection.test.tsx
  plugins/cost-insights/src/components/AlertInsights/AlertStatusSummary.test.tsx
  plugins/cost-insights/src/example/alerts/KubernetesMigrationAlert.tsx
  plugins/cost-insights/src/types/Alert.ts
Labels: cost-insights, plugin

#5637 add client template to examples directory
  .changeset/short-schools-pay.md
  plugins/cost-insights/README.md
  plugins/cost-insights/src/example/templates/CostInsightsClient.ts
Labels: cost-insights, plugin

#5783 Exclude rfc label from stalebot
  .github/stale.yml
Labels: sweating-the-details

#5801 fix(cost-insights): null groups in urls
  .changeset/cost-insights-smooth-toes-draw.md
  plugins/cost-insights/src/utils/history.test.ts
  plugins/cost-insights/src/utils/history.ts
Labels: cost-insights, plugin

#5795 Replace `quickstart-app-auth` with updated docs
  contrib/docs/tutorials/aws-alb-aad-oidc-auth.md
  docs/tutorials/quickstart-app-auth.md
  docs/tutorials/quickstart-app-plugin.md
  microsite/sidebars.json
  mkdocs.yml
  packages/cli/src/commands/create-plugin/createPlugin.ts
  packages/cli/src/commands/remove-plugin/removePlugin.ts
  packages/create-app/src/createApp.ts
  packages/create-app/templates/default-app/app-config.yaml.hbs
Labels: documentation

#5748 Add validation to prevent docs_dir from being an absolute path
  .changeset/gold-kings-jog.md
  packages/techdocs-common/src/stages/generate/__fixtures__/mkdocs_invalid_doc_dir.yml
  packages/techdocs-common/src/stages/generate/helpers.test.ts
  packages/techdocs-common/src/stages/generate/helpers.ts
  packages/techdocs-common/src/stages/generate/techdocs.ts
Labels: bug, security

#5763 Remove deprecated github-org processor config
  docs/integrations/github/org.md
Labels: documentation

#5855 Upgrade 3 roadie plugins in sample app (Fixes bug in master)
  packages/app/package.json
  yarn.lock
Labels: bug
