Repository backstage/backstage, pull requests merged in 2021-12, with the labels that each got.

#8309 Clean up scaffolder config
  .changeset/cool-rules-smash.md
  app-config.yaml
  plugins/scaffolder-backend/config.d.ts
Labels: scaffolder

#8387 More scaffolder config cleanup
  .changeset/tiny-trains-notice.md
  docs/features/software-templates/configuration.md
  packages/create-app/templates/default-app/app-config.yaml.hbs
Labels: scaffolder

#8436 [github-actions] Show empty state only when done loading
  .changeset/beige-mangos-knock.md
  plugins/github-actions/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
Labels: sweating-the-details

#8338 snyk: ignore MPL and LGPL license warnings
  packages/cli/.snyk
Labels: do-not-merge

#8349 add more explicit support for .mjs and .cjs extensions
  .changeset/spicy-parents-fold.md
  .changeset/strong-doors-destroy.md
  package.json
  packages/cli/config/jest.js
  packages/cli/src/commands/lint.ts
  packages/cli/src/lib/bundler/transforms.ts
  packages/create-app/templates/default-app/package.json.hbs
  packages/storybook/.storybook/main.js
  scripts/list-deprecations.js
Labels: stale

#8343 catalog-backend: fix handling of optional locations
  .changeset/five-cats-hunt.md
  .changeset/sweet-camels-learn.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/kinds/LocationEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/LocationEntityV1alpha1.ts
  packages/catalog-model/src/schema/kinds/Location.v1alpha1.schema.json
  plugins/catalog-backend/src/ingestion/processors/AzureDevOpsDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/AzureDevOpsDiscoveryProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/BitbucketDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/GitLabDiscoveryProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/GithubDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/GithubDiscoveryProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/bitbucket/BitbucketRepositoryParser.test.ts
  plugins/catalog-backend/src/ingestion/processors/bitbucket/BitbucketRepositoryParser.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
  plugins/catalog-backend/src/util/conversion.ts
Labels: stale

#8403 Create catalog permissions.
  .changeset/gold-seas-wave.md
  plugins/catalog-common/.eslintrc.js
  plugins/catalog-common/README.md
  plugins/catalog-common/api-report.md
  plugins/catalog-common/package.json
  plugins/catalog-common/src/index.ts
  plugins/catalog-common/src/permissions.ts
  plugins/catalog-common/src/setupTests.ts
Labels: catalog

#8443 Export Icon Props for SidebarSearch and SidebarSearchModal Component
  .changeset/afraid-carpets-know.md
  plugins/search/api-report.md
  plugins/search/src/components/SidebarSearch/SidebarSearch.tsx
  plugins/search/src/components/SidebarSearch/index.ts
  plugins/search/src/components/SidebarSearchModal/SidebarSearchModal.tsx
  plugins/search/src/components/SidebarSearchModal/index.ts
  plugins/search/src/index.ts
Labels: search

#8447 TechRadar - urlTarget new attribute
  .changeset/fresh-months-approve.md
  plugins/tech-radar/README.md
  plugins/tech-radar/src/components/RadarDescription/RadarDescription.tsx
  plugins/tech-radar/src/sample.ts
  plugins/tech-radar/src/utils/components.tsx
Labels: stale

#8156 Fixed Link components usage. Now, all links use the Backstage's Link c…
  .changeset/thick-deers-trade.md
  packages/core-components/src/components/Button/Button.stories.tsx
  packages/core-components/src/components/DismissableBanner/DismissableBanner.stories.tsx
  packages/core-components/src/components/WarningPanel/WarningPanel.stories.tsx
  packages/core-components/src/layout/ErrorPage/ErrorPage.tsx
  packages/core-components/src/layout/HeaderLabel/HeaderLabel.tsx
  plugins/catalog/src/components/Router.tsx
  plugins/circleci/src/components/BuildsPage/lib/CITable/CITable.tsx
  plugins/cloudbuild/src/components/Cards/Cards.tsx
  plugins/github-actions/src/components/Cards/Cards.tsx
  plugins/gitops-profiles/src/components/ClusterTable/ClusterTable.tsx
  plugins/jenkins/src/components/BuildsPage/lib/CITable/CITable.tsx
  plugins/jenkins/src/components/Cards/Cards.test.tsx
  plugins/jenkins/src/components/Cards/Cards.tsx
  plugins/lighthouse/src/components/AuditList/AuditListTable.tsx
  plugins/org/src/components/Cards/User/UserProfileCard/UserProfileCard.tsx
  plugins/scaffolder/src/components/TemplateList/TemplateList.tsx
  plugins/search/src/components/SearchResult/SearchResult.stories.tsx
  plugins/sentry/src/components/ErrorCell/ErrorCell.tsx
  plugins/sonarqube/src/components/SonarQubeCard/RatingCard.tsx
Labels: catalog, search, scaffolder

#8561 Frontmatter fixup for ADRs
  docs/architecture-decisions/adr000-template.md
  docs/architecture-decisions/adr001-add-adr-log.md
  docs/architecture-decisions/adr002-default-catalog-file-format.md
  docs/architecture-decisions/adr003-avoid-default-exports.md
  docs/architecture-decisions/adr004-module-export-structure.md
  docs/architecture-decisions/adr005-catalog-core-entities.md
  docs/architecture-decisions/adr006-avoid-react-fc.md
  docs/architecture-decisions/adr007-use-msw-to-mock-service-requests.md
  docs/architecture-decisions/adr008-default-catalog-file-name.md
  docs/architecture-decisions/adr009-entity-references.md
  docs/architecture-decisions/adr010-luxon-date-library.md
  docs/architecture-decisions/adr011-plugin-package-structure.md
  docs/architecture-decisions/adr012-use-luxon-locale-and-date-presets.md
  docs/architecture-decisions/index.md
Labels: documentation

#8524 core-plugin-api: refactor StorageApi to better cater to async storage implementations
  .changeset/cyan-seahorses-film.md
  .changeset/gorgeous-beers-teach.md
  .changeset/green-timers-film.md
  packages/core-app-api/api-report.md
  packages/core-app-api/src/apis/implementations/StorageApi/WebStorage.test.ts
  packages/core-app-api/src/apis/implementations/StorageApi/WebStorage.ts
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/StorageApi.ts
  packages/test-utils/api-report.md
  packages/test-utils/src/testUtils/apis/StorageApi/MockStorageApi.test.ts
  packages/test-utils/src/testUtils/apis/StorageApi/MockStorageApi.ts
  plugins/catalog-react/src/apis/StarredEntitiesApi/migration.ts
Labels: core, catalog

#8564 [TechDocs] Allow cache in recommended deployment mode
  .changeset/techdocs-sakta-vi-gar.md
  plugins/techdocs-backend/src/service/router.ts
Labels: docs-like-code

#8570 Fix two small browser console warnings
  .changeset/dirty-ways-learn.md
  plugins/config-schema/src/components/SchemaBrowser/SchemaBrowser.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPage.tsx
Labels: scaffolder

#8317 Getting started tutorial part two
  docs/assets/getting-started/b-existing-1.png
  docs/assets/getting-started/b-existing-2.png
  docs/assets/getting-started/b-existing-3.png
  docs/assets/getting-started/b-existing-4.png
  docs/assets/getting-started/b-scaffold-1.png
  docs/assets/getting-started/b-scaffold-2.png
  docs/assets/getting-started/b-scaffold-3.png
  docs/assets/getting-started/gh-oauth.png
  docs/assets/getting-started/gh-pat.png
  docs/getting-started/configuration.md
  docs/getting-started/index.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#8441 EntityPicker: option for disabling arbitrary values
  .changeset/lovely-toys-wonder.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: scaffolder

#8582 add new what is backstage video
  docs/overview/what-is-backstage.md
Labels: documentation

#8357 Example app permission integration
  .changeset/bright-ears-visit.md
  .changeset/famous-icons-pump.md
  .changeset/lazy-files-check.md
  .changeset/real-geckos-work.md
  .changeset/wet-bikes-pull.md
  docs/tutorials/backend-to-backend-auth.md
  microsite/sidebars.json
  packages/app-defaults/package.json
  packages/app-defaults/src/defaults/apis.ts
  packages/backend-common/api-report.md
  packages/backend-common/src/tokens/ServerTokenManager.test.ts
  packages/backend-common/src/tokens/ServerTokenManager.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/plugins/permission.ts
  packages/backend/src/types.ts
  plugins/permission-common/api-report.md
  plugins/permission-common/src/PermissionClient.test.ts
  plugins/permission-common/src/PermissionClient.ts
  plugins/permission-common/src/types/index.ts
  plugins/permission-common/src/types/permission.ts
  plugins/permission-node/api-report.md
  plugins/permission-node/package.json
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/permission-node/src/ServerPermissionClient.ts
  plugins/permission-node/src/index.ts
  plugins/permission-react/api-report.md
  plugins/permission-react/src/apis/IdentityPermissionApi.ts
Labels: documentation, microsite

#8584 [Docs] update roadmap for homepage, search, techdocs
  docs/overview/roadmap.md
Labels: documentation

#8586 Added Azure Pipelines to Plugin Marketplace
  microsite/data/plugins/azure-pipelines.yaml
  microsite/static/img/azure-pipelines.svg
Labels: microsite

#8532 [Search] Standardizes input search components
  .changeset/bright-dancers-tickle.md
  .changeset/search-seahorses-tie.md
  packages/create-app/templates/default-app/packages/app/src/components/search/SearchPage.tsx
  plugins/search/api-report.md
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.tsx
  plugins/search/src/components/HomePageComponent/index.ts
  plugins/search/src/components/SearchBar/SearchBar.test.tsx
  plugins/search/src/components/SearchBar/SearchBar.tsx
  plugins/search/src/components/SearchBar/index.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/index.tsx
  plugins/search/src/index.ts
Labels: search

#8615 add New Relic Dashboard plugin in marketplace
  microsite/data/plugins/newrelic-dashboard.yaml
Labels: microsite

#8533 create an interface for gh creds provider
  .changeset/lucky-bats-reflect.md
  .changeset/short-schools-heal.md
  packages/backend-common/src/reading/GithubUrlReader.ts
  packages/integration/api-report.md
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.test.ts
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.ts
  packages/integration/src/github/core.test.ts
  packages/integration/src/github/core.ts
  packages/integration/src/github/index.ts
  packages/integration/src/github/types.ts
  plugins/catalog-backend/src/ingestion/processors/GithubDiscoveryProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/GithubOrgReaderProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/GithubOrgReaderProcessor.ts
  plugins/catalog-backend/src/ingestion/providers/GitHubOrgEntityProvider.test.ts
  plugins/catalog-backend/src/ingestion/providers/GitHubOrgEntityProvider.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/OctokitProvider.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
Labels: catalog, scaffolder

#8237 Adds support to customize the sanitizer
  .changeset/neat-insects-ring.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs/config.d.ts
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/transformers/sanitizeDOM.test.ts
  plugins/techdocs/src/reader/transformers/sanitizeDOM.ts
Labels: documentation, docs-like-code

#8630 test-utils: freeze and serialize MockStorageApi values
  .changeset/curly-pillows-provide.md
  packages/test-utils/src/testUtils/apis/StorageApi/MockStorageApi.test.ts
  packages/test-utils/src/testUtils/apis/StorageApi/MockStorageApi.ts
  plugins/catalog-react/src/apis/StarredEntitiesApi/migration.test.ts
Labels: catalog

#8577 Fixing image for PAT creation in Getting Started pt. 2
  docs/getting-started/configuration.md
Labels: documentation

#8596 Replace `got` and `axios` dependencies with `node-fetch`
  .changeset/chatty-gifts-fry.md
  .changeset/plenty-flies-repair.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/microsoft/provider.test.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/rollbar-backend/package.json
  plugins/rollbar-backend/src/api/RollbarApi.test.ts
  plugins/rollbar-backend/src/api/RollbarApi.ts
  yarn.lock
Labels: auth

#8504 Support navigating back to prefilled templates to update inputs of scaffolder tasks for resubmission
  .changeset/poor-zoos-invent.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TaskSpec.ts
  plugins/scaffolder-common/src/index.ts
  plugins/scaffolder/api-report.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/types.ts
Labels: scaffolder

#8220 feat: hide owned selector picker if user doesn't own an entity
  .changeset/modern-buses-protect.md
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog/src/components/CatalogPage/CatalogPage.test.tsx
Labels: catalog

#8645 Add minify option to build command
  .changeset/tame-ways-prove.md
  docs/local-dev/cli-commands.md
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/index.ts
Labels: documentation

#8592 fix: enforce cookie ssl in production
  .changeset/twenty-hornets-train.md
  plugins/auth-backend/src/service/router.ts
Labels: auth

#8650 Fix techdocs links to the CLI
  docs/features/techdocs/configuring-ci-cd.md
Labels: documentation

#8633 fixing refresh token Okta provider #8632
  .changeset/eleven-pianos-fail.md
  plugins/auth-backend/src/providers/okta/provider.ts
Labels: auth

#8560 ADR: Use node-fetch for data fetching
  docs/architecture-decisions/adr013-use-node-fetch.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#8598 fixes api auth bug in techdocs backend
  .changeset/seven-tomatoes-smash.md
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.ts
Labels: docs-like-code

#8580 Internal cleanup of the exports structure in the search plugin
  .changeset/four-waves-tan.md
  plugins/search/src/components/DefaultResultListItem/DefaultResultListItem.stories.tsx
  plugins/search/src/components/LegacySearchPage/LegacySearchPage.tsx
  plugins/search/src/components/SearchBar/SearchBar.stories.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.stories.tsx
  plugins/search/src/components/SearchModal/SearchModal.stories.tsx
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/SearchPage/SearchPage.test.tsx
  plugins/search/src/components/SearchResult/SearchResult.stories.tsx
  plugins/search/src/components/SearchType/SearchType.stories.tsx
  plugins/search/src/components/index.tsx
  plugins/search/src/index.ts
Labels: do-not-merge, search

#8658 auth-backend: migrate onelogin and auth0 to sign-in resolver
  .changeset/eighty-dancers-heal.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/index.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
Labels: auth

#8660 auth-backend: always exchange and never return refresh tokens to clients
  .changeset/four-phones-shave.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.test.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts
  plugins/auth-backend/src/lib/oauth/types.ts
  plugins/auth-backend/src/providers/atlassian/provider.test.ts
  plugins/auth-backend/src/providers/atlassian/provider.ts
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/bitbucket/provider.ts
  plugins/auth-backend/src/providers/github/provider.test.ts
  plugins/auth-backend/src/providers/github/provider.ts
  plugins/auth-backend/src/providers/gitlab/provider.test.ts
  plugins/auth-backend/src/providers/gitlab/provider.ts
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/oauth2/provider.ts
  plugins/auth-backend/src/providers/oidc/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
Labels: auth

#8646 [Search] Introduce a <SearchType.Accordion /> Variant
  .changeset/search-en-jul-hemma.md
  .changeset/search-over-tysta-skogor.md
  packages/app/src/components/search/SearchPage.tsx
  packages/create-app/templates/default-app/packages/app/src/components/search/SearchPage.tsx
  plugins/search/api-report.md
  plugins/search/src/components/DefaultResultListItem/DefaultResultListItem.stories.tsx
  plugins/search/src/components/SearchBar/SearchBar.stories.tsx
  plugins/search/src/components/SearchContext/SearchContextForStorybook.stories.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.stories.tsx
  plugins/search/src/components/SearchModal/SearchModal.stories.tsx
  plugins/search/src/components/SearchResult/SearchResult.stories.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
  plugins/search/src/components/SearchType/SearchType.stories.tsx
  plugins/search/src/components/SearchType/SearchType.tsx
  plugins/search/src/components/SearchType/index.ts
  plugins/search/src/index.ts
Labels: search

#8656 [Search] SearchBar Analytics tracking
  .changeset/search-odd-starfishes-raise.md
  docs/plugins/analytics.md
  plugins/search/src/components/SearchBar/SearchBar.test.tsx
  plugins/search/src/components/SearchBar/SearchBar.tsx
  plugins/search/src/components/SearchContext/SearchContext.tsx
  plugins/search/src/components/SearchTracker/SearchTracker.tsx
  plugins/search/src/components/SearchTracker/index.ts
Labels: documentation, search

#8666 feat(catalog:write): support custom filenames
  .changeset/sharp-eagles-peel.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
Labels: scaffolder

#8680 Update Backstage Customization Docs to use ThemeProvider
  docs/getting-started/app-custom-theme.md
Labels: documentation

#8684 Fix outdated custom theme docs
  docs/getting-started/app-custom-theme.md
Labels: documentation

#8662 gitlab discovery ignore projects without default_branch
  .changeset/strong-insects-provide.md
  plugins/catalog-backend/src/ingestion/processors/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/GitLabDiscoveryProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/gitlab/types.ts
Labels: catalog

#8641 implement dashboard link formatter for GKE
  .changeset/sharp-seas-remain.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/components/KubernetesDrawer/KubernetesDrawer.tsx
  plugins/kubernetes/src/types/types.ts
  plugins/kubernetes/src/utils/clusterLinks/formatClusterLink.test.ts
  plugins/kubernetes/src/utils/clusterLinks/formatClusterLink.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/gke.test.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/gke.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/openshift.test.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/openshift.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/rancher.test.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/rancher.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/standard.test.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/standard.ts
Labels: documentation

#8643 Overridable components for components in plugin catalog react
  .changeset/purple-trains-matter.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/index.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/index.ts
  plugins/catalog-react/src/components/EntitySearchBar/EntitySearchBar.tsx
  plugins/catalog-react/src/components/EntitySearchBar/index.ts
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.tsx
  plugins/catalog-react/src/components/EntityTagPicker/index.ts
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
  plugins/catalog-react/src/components/UserListPicker/index.ts
  plugins/catalog-react/src/index.ts
  plugins/catalog-react/src/overridableComponents.ts
Labels: catalog

#8685 feat(customization): support customizing catalog and api index pages via outlets
  .changeset/tender-ducks-tie.md
  docs/features/software-catalog/catalog-customization.md
  plugins/api-docs/api-report.md
  plugins/api-docs/src/components/ApiExplorerPage/ApiExplorerPage.test.tsx
  plugins/api-docs/src/components/ApiExplorerPage/ApiExplorerPage.tsx
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.tsx
  plugins/api-docs/src/components/ApiExplorerPage/index.ts
  plugins/api-docs/src/components/index.ts
  plugins/api-docs/src/plugin.ts
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogPage/CatalogPage.test.tsx
  plugins/catalog/src/components/CatalogPage/CatalogPage.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/components/CatalogPage/index.ts
  plugins/catalog/src/index.ts
Labels: documentation, catalog
