Repository backstage/backstage, pull requests merged in 2021-11, with the labels that each got.

#8075 Fix sample data in example Cost Insights client
  .changeset/cost-insights-two-crabs-evolve.md
  plugins/cost-insights/src/testUtils/testUtils.ts
Labels: cost-insights

#7712 Include backstage.json file on new backstage applications
  .changeset/cyan-bottles-hug.md
  .changeset/healthy-kids-mate.md
  packages/cli-common/api-report.md
  packages/cli-common/src/index.ts
  packages/cli-common/src/paths.ts
  packages/cli/src/commands/versions/bump.test.ts
  packages/cli/src/commands/versions/bump.ts
  packages/create-app/src/createApp.test.ts
  packages/create-app/src/createApp.ts
  packages/create-app/src/index.ts
  packages/create-app/src/lib/tasks.test.ts
  packages/create-app/src/lib/tasks.ts
Labels: do-not-merge

#7817 [Mini PRFC] EntitiesSearchFilter type refactor
  .changeset/smart-fans-complain.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/legacy/database/CommonDatabase.test.ts
  plugins/catalog-backend/src/legacy/database/CommonDatabase.ts
  plugins/catalog-backend/src/legacy/service/router.test.ts
  plugins/catalog-backend/src/service/NextEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/NextEntitiesCatalog.ts
  plugins/catalog-backend/src/service/NextRouter.test.ts
  plugins/catalog-backend/src/service/request/basicEntityFilter.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.test.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.ts
Labels: rfc

#8097 bump react-dev-utils
  .changeset/olive-rats-destroy.md
  packages/cli/package.json
  packages/techdocs-cli/package.json
  yarn.lock
Labels: do-not-merge

#8287 Add new auth providers to the doc index
  docs/auth/index.md
Labels: documentation
