Repository backstage/backstage, pull requests merged in 2021-06, with the labels that each got.

#5933 Fix proxy redirect for base path without slash
  .changeset/wild-wasps-turn.md
  plugins/proxy-backend/src/service/router.test.ts
  plugins/proxy-backend/src/service/router.ts
Labels: backend

#5926 Remove default upgrade-insecure-requests
  .changeset/hip-trees-heal.md
  app-config.yaml
  contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
  packages/create-app/templates/default-app/app-config.yaml.hbs
Labels: backend, sweating-the-details

#5715 [Search] WIP documentation for the V1 Search Milestone
  docs/features/search/concepts.md
  docs/features/search/getting-started.md
  microsite/sidebars.json
  mkdocs.yml
Labels: search

#6001 Fix bug preventing theme switching when `id` doesn't match `variant`
  .changeset/purple-papayas-exist.md
  plugins/user-settings/package.json
  plugins/user-settings/src/components/General/ThemeToggle.test.tsx
  plugins/user-settings/src/components/General/ThemeToggle.tsx
Labels: plugin

#6058 Searching for things like "World" in "Hello World." returns no results.
  .changeset/cyan-drinks-dream.md
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
Labels: search

#5975 [TechDocs] Refactor the implicit logic from `<Reader />` into an explicit state machine
  .changeset/techdocs-cool-rivers-suffer.md
  .changeset/techdocs-poor-forks-repeat.md
  plugins/techdocs-backend/src/DocsBuilder/builder.ts
  plugins/techdocs-backend/src/service/router.ts
  plugins/techdocs/dev/api.ts
  plugins/techdocs/dev/index.tsx
  plugins/techdocs/package.json
  plugins/techdocs/src/api.ts
  plugins/techdocs/src/client.ts
  plugins/techdocs/src/reader/components/Reader.tsx
  plugins/techdocs/src/reader/components/useReaderState.test.tsx
  plugins/techdocs/src/reader/components/useReaderState.ts
  plugins/techdocs/src/reader/transformers/addBaseUrl.test.ts
Labels: docs-like-code

#6096 quickstart-app-plugin: Switch example components to named exports
  contrib/docs/tutorials/quickstart-app-plugin/ExampleComponent.md
Labels: documentation
