Repository backstage/backstage, pull requests merged in 2021-04, with the labels that each got.

#5206 Add link to Bitbucket Discovery, fix capitalization
  docs/features/software-templates/installation.md
  docs/features/techdocs/README.md
  docs/integrations/bitbucket/locations.md
  docs/integrations/index.md
  microsite/sidebars.json
Labels: documentation, sweating-the-details

#5220 Add contrib doc for AWS ECR + EKS deployment
  .github/styles/vocab.txt
  contrib/docs/tutorials/aws-deployment.md
Labels: documentation

#5232 Update auth index to be more "getting started" focused
  docs/auth/auth0/provider.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
  docs/auth/google/provider.md
  docs/auth/index.md
  docs/auth/microsoft/provider.md
  docs/auth/okta/provider.md
  docs/auth/using-auth.md
  docs/integrations/azure/locations.md
  docs/integrations/bitbucket/discovery.md
  docs/integrations/bitbucket/locations.md
  docs/integrations/github/discovery.md
  docs/integrations/index.md
  docs/tutorials/switching-sqlite-postgres.md
  microsite/sidebars.json
Labels: auth, documentation

#5234 Add OneLogin auth documentation
  docs/auth/index.md
  docs/auth/onelogin/provider.md
  microsite/sidebars.json
Labels: auth, documentation

#5262 Document create-github-app CLI command
  docs/cli/commands.md
Labels: cli, documentation

#5281 Add borders to docs tables
  .changeset/techdocs-dry-starfishes-carry.md
  plugins/techdocs/src/reader/components/Reader.tsx
Labels: accessibility, docs-like-code

#5317 Reworked TechDocs page subtitle to reflect the company/organization name
  .changeset/techdocs-chatty-impalas-compare.md
  plugins/techdocs/src/home/components/TechDocsHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsHome.tsx
Labels: docs-like-code

#5338 Add `addProcessor` code sample to external-integrations
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#5337 Move deployment documentation to its own section
  docs/deployment/docker.md
  docs/deployment/helm.md
  docs/deployment/heroku.md
  docs/deployment/index.md
  docs/deployment/k8s.md
  docs/getting-started/deployment-k8s.md
  docs/getting-started/deployment-other.md
  microsite/sidebars.json
Labels: documentation

#5277 Export SignInConfig type
  .changeset/moody-pigs-repeat.md
  docs/auth/index.md
  packages/core/src/layout/SignInPage/SignInPage.tsx
  packages/core/src/layout/SignInPage/commonProvider.tsx
  packages/core/src/layout/SignInPage/index.ts
  packages/core/src/layout/SignInPage/providers.tsx
  packages/core/src/layout/SignInPage/types.ts
Labels: auth

#5354 Update contrib k8s docs to reference k8s microsite docs
  contrib/docs/tutorials/aws-deployment.md
  contrib/kubernetes/plain_single_backend_deployment/README.md
  contrib/kubernetes/plain_single_backend_deployment/deployment.yaml
Labels: documentation

#5365 Set logo assets to absolute URLs
  docs/overview/logos.md
Labels: documentation

#5359 Add IAM policy permissions to s3 tech docs docs
  docs/features/techdocs/using-cloud-storage.md
Labels: docs-like-code

#5377 Link Docker doc in Deployments section
  microsite/sidebars.json
Labels: documentation

#5398 Datadog RUM minor doc cleanup
  docs/integrations/datadog-rum/installation.md
  microsite/sidebars.json
Labels: documentation

#5421 Template `spec.type` is not optional
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/src/schema/kinds/Template.v1alpha1.schema.json
  packages/catalog-model/src/schema/kinds/Template.v1beta2.schema.json
Labels: documentation

#5456 Add healthcheck to k8s doc
  docs/deployment/k8s.md
Labels: documentation

#5450 [Search] Extend search backend with scheduler
  .changeset/search-odd-ads-invite.md
  packages/backend/src/plugins/search.ts
  plugins/search-backend-node/src/IndexBuilder.test.ts
  plugins/search-backend-node/src/IndexBuilder.ts
  plugins/search-backend-node/src/Scheduler.test.ts
  plugins/search-backend-node/src/Scheduler.ts
  plugins/search-backend-node/src/index.ts
Labels: search

#5497 Add nebula-preview header for Octokit publishing
  .changeset/thin-coins-compete.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
  plugins/scaffolder-backend/src/scaffolder/stages/publish/github.ts
Labels: bug, templates

#5515 Update cost-insights and circleci logos
  microsite/data/plugins/circleci.yaml
  microsite/data/plugins/cost-insights.yaml
  microsite/static/img/circleci.png
  microsite/static/img/cost-insights.png
Labels: cost-insights, documentation

#5500 feat(CostInsights): support a display friendly name prop for projects
  .changeset/cost-insights-gorgeous-dancers-hope.md
  plugins/cost-insights/src/components/ProjectSelect/ProjectSelect.test.tsx
  plugins/cost-insights/src/components/ProjectSelect/ProjectSelect.tsx
  plugins/cost-insights/src/types/Project.ts
Labels: cost-insights

#5491 [Search] Improvements to DefaultCatalogCollator
  .changeset/search-moar-catalog-yo.md
  packages/backend/src/plugins/search.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.test.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.ts
Labels: search

#5439 cost insights: make change.ratio optional
  .changeset/cost-insights-five-baboons-attack.md
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.test.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowthIndicator.test.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowthIndicator.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewLegend.test.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewLegend.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductEntityTable.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsChart.tsx
  plugins/cost-insights/src/testUtils/mockData.ts
  plugins/cost-insights/src/testUtils/testUtils.ts
  plugins/cost-insights/src/types/ChangeStatistic.ts
  plugins/cost-insights/src/utils/assert.ts
  plugins/cost-insights/src/utils/change.test.ts
  plugins/cost-insights/src/utils/change.ts
  plugins/cost-insights/src/utils/formatters.ts
Labels: cost-insights, plugin
