Repository backstage/backstage, pull requests merged in 2021-03, with the labels that each got.

#4513 Adding DCO file and updating contributing.md with details
  CONTRIBUTING.md
  DCO
Labels: cncf, documentation

#4748 docs: Improve flow for getting-started docs
  docs/getting-started/create-an-app.md
  docs/getting-started/index.md
  docs/getting-started/running-backstage-locally.md
  microsite/sidebars.json
Labels: documentation, microsite

#4767 docs: Update design info with more Storybook details
  docs/assets/dls/storybook-page.png
  docs/dls/contributing-to-storybook.md
  docs/dls/design.md
  docs/features/software-templates/legacy.md
Labels: design, documentation

#4743 docs: refine kubernetes core feature docs
  docs/features/kubernetes/configuration.md
  docs/features/kubernetes/installation.md
  docs/features/kubernetes/troubleshooting.md
  microsite/sidebars.json
Labels: documentation, k8s-plugin

#4815 chore(techdocs-common): Improve deprecation warning and change temp folder creation
  .changeset/techdocs-metal-trees-push.md
  packages/techdocs-common/src/helpers.ts
  packages/techdocs-common/src/stages/prepare/commonGit.ts
Labels: docs-like-code

#4818 chore(techdocs-common, techdocs-backend): Refactor TechDocs logging
  .changeset/techdocs-old-guests-add.md
  packages/techdocs-common/src/helpers.ts
  packages/techdocs-common/src/stages/generate/helpers.ts
  plugins/techdocs-backend/src/DocsBuilder/builder.ts
Labels: docs-like-code

#4675 TechDocs: Update TechDocs Page Header Links
  .changeset/techdocs-curvy-geckos-rhyme.md
  plugins/techdocs/src/reader/components/TechDocsPageHeader.test.tsx
  plugins/techdocs/src/reader/components/TechDocsPageHeader.tsx
Labels: docs-like-code

#4922 add kubernetes custom hook tests
  .changeset/good-baboons-taste.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes/package.json
  plugins/kubernetes/src/components/Pods/PodsTable.tsx
  plugins/kubernetes/src/hooks/useKubernetesObjects.test.ts
  plugins/kubernetes/src/hooks/useKubernetesObjects.ts
Labels: k8s-plugin

#4944 Don't list the cluster if there are no resources deployed there
  .changeset/thirty-peas-itch.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes/src/components/KubernetesContent/KubernetesContent.tsx
Labels: k8s-plugin

#4958 Minor tweaks to software catalog docs
  docs/assets/architecture-decisions/catalog-core-entities.png
  docs/features/software-catalog/configuration.md
  docs/features/software-catalog/descriptor-format.md
  docs/features/software-catalog/installation.md
  docs/features/software-catalog/system-model.md
  docs/features/software-templates/installation.md
  docs/features/software-templates/writing-templates.md
Labels: documentation

#4983 techdocs: Update example documentation
  .github/styles/vocab.txt
  plugins/techdocs-backend/examples/documented-component/docs/code/code-sample.md
  plugins/techdocs-backend/examples/documented-component/docs/extensions.md
  plugins/techdocs-backend/examples/documented-component/docs/index.md
  plugins/techdocs-backend/examples/documented-component/docs/sub-page.md
  plugins/techdocs-backend/examples/documented-component/mkdocs.yml
Labels: docs-like-code

#4973 Add example org entities to default create-app
  .changeset/short-olives-mate.md
  packages/create-app/templates/default-app/app-config.yaml.hbs
Labels: bug, catalog, sweating-the-details

#5031 Fix custom-actions source link
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation, templates

#5029 Add tutorial for switching a Backstage App from SQLite to PostgreSQL
  docs/tutorials/switching-sqlite-postgres.md
  microsite/sidebars.json
Labels: backend, documentation

#5030 Update TechDocs getting-started code snippet
  docs/features/techdocs/getting-started.md
Labels: docs-like-code, documentation

#5080 fix missing type exports
  .changeset/cost-insights-short-garlics-press.md
  plugins/cost-insights/src/components/CostGrowth/index.ts
  plugins/cost-insights/src/components/LegendItem/index.ts
  plugins/cost-insights/src/index.ts
Labels: bug, cost-insights, plugin

#5075 add readme for cost insights public alerts
  plugins/cost-insights/README.md
  plugins/cost-insights/src/alerts/README.md
  plugins/cost-insights/src/assets/project-growth-alert-advanced.png
  plugins/cost-insights/src/assets/project-growth-alert-basic.png
  plugins/cost-insights/src/assets/project-growth-alert-custom.png
Labels: cost-insights, documentation, plugin

#5093 Auth types fix + GitLab audience is optional
  .changeset/light-zoos-wonder.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/src/providers/gitlab/provider.ts
Labels: auth

#5055 Add more integrations documentation
  .github/styles/vocab.txt
  docs/features/software-catalog/configuration.md
  docs/integrations/azure/locations.md
  docs/integrations/bitbucket/locations.md
  docs/integrations/github/discovery.md
  docs/integrations/github/locations.md
  docs/integrations/github/org.md
  docs/integrations/gitlab/locations.md
  docs/integrations/index.md
  docs/integrations/ldap/org.md
  microsite/sidebars.json
Labels: catalog, documentation

#5126 Fix MembersList not updating when group changes
  .changeset/selfish-items-dream.md
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
Labels: plugin

#5138 Adding Johan Haals as a maintainer and replacing 'Friends of' with 'Hall of Fame'
  OWNERS.md
Labels: documentation

#5115 Add auth0 to DefaultProviderSettings
  .changeset/tricky-lions-press.md
  plugins/user-settings/src/components/AuthProviders/DefaultProviderSettings.tsx
Labels: auth, sweating-the-details

#5135 nit: make entity page contents fill width of page
  packages/app/src/components/catalog/EntityPage.tsx
Labels: sweating-the-details

#5143 Add documentation for included auth providers
  docs/auth/auth0/provider.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
  docs/auth/google/provider.md
  docs/auth/microsoft/provider.md
  docs/auth/okta/provider.md
  docs/integrations/github/org.md
  microsite/sidebars.json
Labels: auth, documentation

#5043 Update the entity unregister dialog behavior, to support both unregistration as well as plain deletion
  .changeset/flat-toes-enjoy.md
  .changeset/silver-starfishes-refuse.md
  .changeset/young-humans-destroy.md
  .github/styles/vocab.txt
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types.ts
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/auth-backend/src/providers/aws-alb/provider.test.ts
  plugins/badges-backend/src/service/router.test.ts
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.test.tsx
  plugins/catalog/package.json
  plugins/catalog/src/CatalogClientWrapper.ts
  plugins/catalog/src/components/UnregisterEntityDialog/UnregisterEntityDialog.test.tsx
  plugins/catalog/src/components/UnregisterEntityDialog/UnregisterEntityDialog.tsx
  plugins/catalog/src/components/UnregisterEntityDialog/useUnregisterEntityDialogState.test.tsx
  plugins/catalog/src/components/UnregisterEntityDialog/useUnregisterEntityDialogState.ts
  plugins/catalog/src/filter/useEntityFilterGroup.test.tsx
  plugins/explore/src/components/DomainExplorerContent/DomainExplorerContent.test.tsx
  plugins/register-component/src/components/RegisterComponentPage/RegisterComponentPage.test.tsx
  plugins/scaffolder/src/filter/useEntityFilterGroup.test.tsx
  plugins/todo-backend/src/service/TodoReaderService.test.ts
Labels: catalog

#5181 Make GitHub workflow run source.commit.url optional
  .changeset/little-doors-smell.md
  plugins/github-actions/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
  plugins/github-actions/src/components/useWorkflowRuns.ts
Labels: bug, plugin
