Repository backstage/backstage, pull requests merged in 2021-08, with the labels that each got.

#6539 remove repo filtering on the github credentials
  .changeset/serious-kiwis-wonder.md
  packages/integration/src/github/GithubCredentialsProvider.test.ts
  packages/integration/src/github/GithubCredentialsProvider.ts
  plugins/catalog-backend/src/ingestion/processors/GithubDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/GithubDiscoveryProcessor.ts
Labels: after-vacation

#6754 config-loader: enable config file watching and use to enable live reloading of catalog locations
  .changeset/great-lemons-mix.md
  .changeset/modern-ladybugs-promise.md
  .changeset/thin-bugs-compete.md
  .changeset/tricky-starfishes-cheer.md
  packages/backend-common/src/config.ts
  packages/config-loader/api-report.md
  packages/config-loader/package.json
  packages/config-loader/src/loader.test.ts
  packages/config-loader/src/loader.ts
  packages/config/api-report.md
  packages/config/src/types.ts
  plugins/catalog-backend/src/next/ConfigLocationEntityProvider.test.ts
  plugins/catalog-backend/src/next/ConfigLocationEntityProvider.ts
Labels: do-not-merge

#6875 Fix incorrect links key
  docs/features/software-templates/migrating-from-v1alpha1-to-v1beta2.md
Labels: documentation

#6874 Minor identity-resolver doc correction
  docs/auth/identity-resolver.md
Labels: documentation

#6894 Bump RoadieHQ plugins
  packages/app/package.json
  yarn.lock
Labels: sweating-the-details

#6899 Add warnings to all entity pages, links to APIs
  .changeset/strange-ducks-rhyme.md
  packages/app/src/components/catalog/EntityPage.tsx
  packages/create-app/templates/default-app/packages/app/src/components/catalog/EntityPage.tsx
Labels: catalog

#6895 Add kind picker to the CatalogPage
  .changeset/cuddly-cooks-fry.md
  .changeset/nasty-ads-nail.md
  .changeset/short-years-smile.md
  docs/features/software-catalog/catalog-customization.md
  packages/core-components/api-report.md
  packages/core-components/src/layout/ContentHeader/ContentHeader.test.tsx
  packages/core-components/src/layout/ContentHeader/ContentHeader.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.test.tsx
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.tsx
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityKinds.test.tsx
  plugins/catalog-react/src/hooks/useEntityKinds.ts
  plugins/catalog-react/src/testUtils/providers.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
  plugins/catalog/src/components/CatalogKindHeader/index.ts
  plugins/catalog/src/components/CatalogPage/CatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/index.ts
Labels: enhancement, catalog

#7014 Add a warning log message that `passport-saml` will require a `cert` config parameter imminently
  .changeset/friendly-tables-heal.md
  plugins/auth-backend/src/providers/saml/provider.ts
Labels: auth
