Repository backstage/backstage, pull requests merged in 2022-12, with the labels that each got.

#14970 Add link in docs to default icons for links
  docs/features/software-catalog/descriptor-format.md
Labels: documentation

#14897 fix: Change the catalog header to a normal header instead of a dropdown
  .changeset/modern-camels-cheat.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
Labels: catalog

#14957 [Search] Improve index cleanup on error
  .changeset/search-lieutenant-dangle.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
Labels: search

#14986 backend-plugin-api: export all service refs via a single coreServices object
  .changeset/empty-taxis-run.md
  .changeset/many-bikes-press.md
  packages/backend-app-api/src/services/implementations/cacheService.ts
  packages/backend-app-api/src/services/implementations/configService.ts
  packages/backend-app-api/src/services/implementations/databaseService.ts
  packages/backend-app-api/src/services/implementations/discoveryService.ts
  packages/backend-app-api/src/services/implementations/httpRouterService.ts
  packages/backend-app-api/src/services/implementations/lifecycleService.ts
  packages/backend-app-api/src/services/implementations/loggerService.ts
  packages/backend-app-api/src/services/implementations/permissionsService.ts
  packages/backend-app-api/src/services/implementations/rootLoggerService.ts
  packages/backend-app-api/src/services/implementations/schedulerService.ts
  packages/backend-app-api/src/services/implementations/tokenManagerService.ts
  packages/backend-app-api/src/services/implementations/urlReaderService.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.test.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/app-backend/src/service/appPlugin.test.ts
  plugins/app-backend/src/service/appPlugin.ts
  plugins/catalog-backend-module-aws/src/service/AwsS3EntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-aws/src/service/AwsS3EntityProviderCatalogModule.ts
  plugins/catalog-backend-module-azure/src/service/AzureDevOpsEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-azure/src/service/AzureDevOpsEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/service/BitbucketCloudEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/service/BitbucketCloudEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-bitbucket-server/src/service/BitbucketServerEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/service/BitbucketServerEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-gerrit/src/service/GerritEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-gerrit/src/service/GerritEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-github/src/service/GithubEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-github/src/service/GithubEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-gitlab/src/service/GitlabDiscoveryEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-gitlab/src/service/GitlabDiscoveryEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/incrementalIngestionEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/incrementalIngestionEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
  plugins/catalog-backend-module-msgraph/src/service/MicrosoftGraphOrgEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-msgraph/src/service/MicrosoftGraphOrgEntityProviderCatalogModule.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/src/catalogService.test.ts
  plugins/catalog-node/src/catalogService.ts
  plugins/events-backend-module-aws-sqs/src/service/AwsSqsConsumingEventPublisherEventsModule.test.ts
  plugins/events-backend-module-aws-sqs/src/service/AwsSqsConsumingEventPublisherEventsModule.ts
  plugins/events-backend-module-github/src/service/GithubWebhookEventsModule.test.ts
  plugins/events-backend-module-github/src/service/GithubWebhookEventsModule.ts
  plugins/events-backend-module-gitlab/src/service/GitlabWebhookEventsModule.test.ts
  plugins/events-backend-module-gitlab/src/service/GitlabWebhookEventsModule.ts
  plugins/events-backend/src/service/EventsPlugin.test.ts
  plugins/events-backend/src/service/EventsPlugin.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
Labels: catalog, scaffolder

#15009 ts-check all migration files
  .changeset/eight-eels-compete.md
  plugins/bazaar-backend/migrations/20211014144054_init.js
  plugins/bazaar-backend/migrations/20211020073922_add_columns.js
  plugins/bazaar-backend/migrations/20211117092217_optional_entity_ref.js
  plugins/bazaar-backend/migrations/20220817150443_add_member_entity_ref.js
  plugins/bazaar-backend/migrations/20221121120212_rename_col_to_title.js
  plugins/catalog-backend-module-incremental-ingestion/migrations/20221116073152_init.js
  plugins/catalog-backend/migrations/20200511113813_init.js
  plugins/catalog-backend/migrations/20220616202842_refresh_keys.js
  plugins/catalog-backend/migrations/20221109192547_search_add_original_value_column.js
  plugins/playlist-backend/migrations/20220701011329_init.js
  plugins/search-backend-module-pg/migrations/20210311110000_init.js
  plugins/search-backend-module-pg/migrations/20210727180000_delta_update.js
  plugins/user-settings-backend/migrations/20220824183000_init.js
Labels: catalog, search

#15023 Add 'CI/CD Statistics' plugin to the microsite
  microsite/data/plugins/cicd-statistics.yaml
  microsite/static/img/cicd-statistics.svg
Labels: microsite

#14904 Make incremental entity providers more resilient to failed data sources
  .changeset/sharp-shoes-bathe.md
  plugins/catalog-backend-module-incremental-ingestion/README.md
  plugins/catalog-backend-module-incremental-ingestion/api-report.md
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.ts
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/catalog-backend-module-incremental-ingestion/src/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
Labels: catalog

#15030 InfoCard - Remove subheader container when there is not a subheader or icon
  .changeset/sweet-pandas-relax.md
  packages/core-components/src/layout/InfoCard/InfoCard.test.tsx
  packages/core-components/src/layout/InfoCard/InfoCard.tsx
Labels: component

#13817 Scaffolder: `concurrentTasksLimit` for TaskWorker
  .changeset/little-chairs-dance.md
  docs/assets/architecture-overview/scaffolder-task-broker-blocking.drawio.png
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
  yarn.lock
Labels: documentation, scaffolder

#14366 Catalog kind filter fixes & clean-up
  .changeset/brave-bags-sniff.md
  .changeset/neat-lies-know.md
  .github/vale/Vocab/Backstage/accept.txt
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.test.tsx
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.tsx
  plugins/catalog-react/src/components/EntityKindPicker/kindFilterUtils.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
  plugins/catalog/src/components/CatalogKindHeader/kindFilterUtils.ts
Labels: catalog

#15008 Add blackduck plugin in to the marketplace
  microsite/data/plugins/blackduck.yaml
Labels: microsite

#15047 chore: simplify catalogService tests
  plugins/catalog-node/src/catalogService.test.ts
Labels: catalog

#15103 Add Harness CI/CD plugin to the microsite
  microsite/data/plugins/harness-ci-cd.yaml
Labels: microsite

#15121 add the beginnings of a migrations test for the catalog
  plugins/catalog-backend/src/migrations.test.ts
Labels: catalog

#15128 Addtion of Betterscan plugin
  microsite/data/plugins/betterscan.yaml
Labels: microsite

#15072 use nunjucks "square bracket syntax" for steps in docs
  .changeset/dirty-ads-refuse.md
  docs/features/software-catalog/descriptor-format.md
  docs/features/software-templates/adding-templates.md
  docs/features/software-templates/migrating-from-v1beta2-to-v1beta3.md
  docs/features/software-templates/writing-templates.md
  packages/create-app/templates/default-app/examples/template/template.yaml
  plugins/scaffolder-backend-module-cookiecutter/README.md
  plugins/scaffolder-backend-module-rails/README.md
  plugins/scaffolder-backend-module-yeoman/README.md
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
Labels: documentation, scaffolder

#15147 add CTA for office hours
  microsite/pages/en/index.js
Labels: microsite

#15143 catalog-backend: split up catalog database into 3 separate implementations + operations
  .changeset/lucky-chicken-greet.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/database/DefaultCatalogDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultCatalogDatabase.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.ts
  plugins/catalog-backend/src/database/operations/provider/refreshByRefreshKeys.ts
  plugins/catalog-backend/src/database/operations/refreshState/checkLocationKeyConflict.ts
  plugins/catalog-backend/src/database/operations/refreshState/insertUnprocessedEntity.ts
  plugins/catalog-backend/src/database/operations/refreshState/updateUnprocessedEntity.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/integration.test.ts
  plugins/catalog-backend/src/processing/connectEntityProviders.ts
  plugins/catalog-backend/src/processing/types.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.ts
Labels: catalog

#15005 [kubernetes-backend] support caFile on clusters defined in app-config
  .changeset/kind-tips-pump.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/config.d.ts
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/kubernetes-backend/src/service/KubernetesClientProvider.test.ts
  plugins/kubernetes-backend/src/service/KubernetesClientProvider.ts
  plugins/kubernetes-backend/src/types/types.ts
  yarn.lock
Labels: documentation

#15163 show array of types on installed actions page
  .changeset/tiny-kangaroos-speak.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
Labels: scaffolder

#15161 Adding option to pass additional headers in ProxiedSignInPage
  .changeset/violet-dots-relate.md
  docs/auth/index.md
  packages/core-components/api-report.md
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInIdentity.test.ts
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInIdentity.ts
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.tsx
Labels: documentation

#15169 move zod back a step to avoid type issues
  .changeset/fluffy-worms-arrive.md
  packages/backend-tasks/package.json
  packages/cli/package.json
  packages/core-app-api/package.json
  packages/core-components/package.json
  plugins/catalog-backend/package.json
  plugins/permission-backend/package.json
  plugins/permission-common/package.json
  plugins/permission-node/package.json
  plugins/playlist-backend/package.json
  plugins/scaffolder-backend/package.json
  plugins/scaffolder/package.json
  plugins/search-backend/package.json
  yarn.lock
Labels: catalog, auth, search, scaffolder

#14125 Standardize AWS credentials configuration
  .changeset/forty-carpets-refuse.md
  .changeset/silly-knives-warn.md
  .changeset/smooth-bulldogs-fix.md
  docs/features/techdocs/configuration.md
  docs/features/techdocs/using-cloud-storage.md
  packages/integration-aws-node/.eslintrc.js
  packages/integration-aws-node/README.md
  packages/integration-aws-node/api-report.md
  packages/integration-aws-node/config.d.ts
  packages/integration-aws-node/package.json
  packages/integration-aws-node/src/DefaultAwsCredentialsManager.test.ts
  packages/integration-aws-node/src/DefaultAwsCredentialsManager.ts
  packages/integration-aws-node/src/config.test.ts
  packages/integration-aws-node/src/config.ts
  packages/integration-aws-node/src/index.ts
  packages/integration-aws-node/src/types.ts
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/package.json
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
  plugins/techdocs-node/src/stages/publish/publish.ts
  yarn.lock
Labels: documentation, techdocs

#15173 microsite-next: Add experimental microsite with CI workflow
  .eslintignore
  .github/vale/Vocab/Backstage/accept.txt
  .github/workflows/verify_microsite-next.yml
  microsite-next/.gitignore
  microsite-next/.prettierignore
  microsite-next/docs/init.md
  microsite-next/docusaurus.config.js
  microsite-next/package.json
  microsite-next/sidebars.json
  microsite-next/src/css/customTheme.css
  microsite-next/src/pages/index.tsx
  microsite-next/static
  microsite-next/yarn.lock
  microsite/blog/2021-05-20-adopting-backstage.md
  microsite/blog/2021-09-16-the-techdocs-beta-has-landed.md
  scripts/verify-lockfile-duplicates.js
Labels: microsite

#14584 adding filters to catalog import
  .changeset/breezy-apes-mate.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/ingestion/CatalogRules.test.ts
  plugins/catalog-backend/src/ingestion/CatalogRules.ts
  yarn.lock
Labels: catalog

#15058 Fix owner and lifecycle picker
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.test.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
Labels: catalog

#15200 microsite-next: serve docs from docs folder
  docs/api/utility-apis.md
  docs/features/search/how-to-guides.md
  docs/features/techdocs/how-to-guides.md
  docs/getting-started/homepage.md
  docs/overview/logos.md
  docs/overview/versioning-policy.md
  docs/releases/v1.2.0-changelog.md
  docs/releases/v1.2.0-next.1-changelog.md
  docs/releases/v1.2.0-next.3-changelog.md
  microsite-next/docs/init.md
  microsite-next/docusaurus.config.js
  microsite-next/src/css/customTheme.css
  microsite/static/css/custom.css
Labels: documentation, microsite

#15085 Add Service Maturity plugin to the marketplace
  microsite/data/plugins/opslevel-maturity.yaml
Labels: microsite

#15144 Allow setting dismissStaleReviews on github:publish action
  .changeset/witty-wasps-kiss.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#15004 Add field selection rendering of allowedProjects for BitbucketRepoPicker
  .changeset/wet-tips-yawn.md
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/schema.ts
Labels: scaffolder

#15187 Documentation Fix node-postgres config options URL
  docs/getting-started/configuration.md
Labels: documentation

#15237 backend-plugin-api: suffix all service interfaces with *Service
  .changeset/seven-tomatoes-deny.md
  .changeset/sweet-olives-return.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/services/implementations/lifecycleService.ts
  packages/backend-app-api/src/services/implementations/rootLoggerService.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/cacheServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/configServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/databaseServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/discoveryServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-plugin-api/src/services/definitions/lifecycleServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/loggerServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/permissionsServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/pluginMetadataServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/rootLoggerServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/schedulerServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/tokenManagerServiceRef.ts
  packages/backend-plugin-api/src/services/definitions/urlReaderServiceRef.ts
  packages/backend-plugin-api/src/services/helpers/loggerToWinstonLogger.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
Labels: catalog

#14980 Track the last time the final entity changed
  .changeset/lucky-singers-worry.md
  plugins/catalog-backend/migrations/20221201085245_add_last_updated_at_in_final_entities.js
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/migrations.test.ts
  plugins/catalog-backend/src/stitching/Stitcher.test.ts
  plugins/catalog-backend/src/stitching/Stitcher.ts
Labels: catalog

#14938 [Search] Preserve existing index if latest index run contains no documents
  .changeset/search-antibacterial-wipe.md
  .changeset/search-with-alcohol.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-module-pg/api-report.md
  plugins/search-backend-module-pg/package.json
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
  yarn.lock
Labels: search

#14940 Home: Update starred entities' default message to and provide optional prop to override it
  .changeset/polite-adults-sit.md
  plugins/home/src/homePageComponents/StarredEntities/Content.test.tsx
  plugins/home/src/homePageComponents/StarredEntities/Content.tsx
Labels: homepage

#15212 ignore processors emitting entities that are their own children
  .changeset/smart-zoos-wash.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
Labels: catalog

#15037 Enable eslint-plugin-react with recommended settings & forbid button
  .changeset/quick-donkeys-yawn.md
  .eslintrc.js
  package.json
  packages/core-components/src/layout/Sidebar/Items.test.tsx
  packages/core-components/src/layout/Sidebar/Items.tsx
  packages/core-components/src/layout/Sidebar/SidebarSubmenuItem.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreparePullRequestForm.test.tsx
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
  plugins/techdocs/src/search/components/TechDocsSearch.test.tsx
  yarn.lock
Labels: catalog, techdocs

#15223 Add support for enabling Github's "require resolved conversations" option
  .changeset/healthy-shrimps-notice.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#15145 catalog: register OpenTelemetry metrics, deprecate prom-client
  .changeset/healthy-waves-compare.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  yarn.lock
Labels: catalog

#15262 feat(scaffolder-backend-module-rails): handle more rails new arguments
  .changeset/strange-colts-sniff.md
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsArgumentResolver.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsArgumentResolver.ts
Labels: scaffolder

#14700 added formData to validation function
  .changeset/nasty-dragons-melt.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/extensions/types.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/createAsyncValidators.ts
Labels: scaffolder

#14702 initial support of ui options in scaffolder forms
  .changeset/nasty-lizards-train.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: stale, scaffolder

#15261 bump @rjsf/*-v5 dependencies
  .changeset/slimy-cameras-hang.md
  plugins/scaffolder/package.json
  yarn.lock
Labels: scaffolder

#15291 Add support for disabling Gitub wiki, issues and projects
  .changeset/sharp-poets-count.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#15308 Parse initial `formData` from `querystring` in `scaffolder/next`
  .changeset/old-zoos-grow.md
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/useFormData.ts
Labels: scaffolder

#15312 [TechDocs] Support older versions of react router
  .changeset/tidy-hats-begin.md
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/src/addons.tsx
  plugins/techdocs-react/src/index.ts
  plugins/techdocs/package.json
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  yarn.lock
Labels: techdocs

#15279 configurable noHtml5Validate prop for NextScaffolderPage
  .changeset/eighty-pans-remain.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/next/Router/Router.test.tsx
  plugins/scaffolder/src/next/types.ts
Labels: scaffolder

#15319 Added /api/ to the example as its missing and wont work without it
  docs/plugins/call-existing-api.md
Labels: documentation

#15324 Add 1.9.0 release notes
  docs/releases/v1.9.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#15329 favor afterEach for mock-fs
  packages/cli/src/commands/create-plugin/createPlugin.test.ts
  packages/cli/src/commands/versions/bump.test.ts
  packages/create-app/src/createApp.test.ts
  packages/repo-tools/src/commands/api-reports/api-reports.test.ts
  plugins/app-backend/src/service/appPlugin.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
  plugins/techdocs-node/src/stages/publish/local.test.ts
  plugins/techdocs-node/src/stages/publish/openStackSwift.test.ts
Labels: techdocs, scaffolder

#15146 catalog-backend: fix sticky refresh state references
  .changeset/tasty-impalas-mix.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
Labels: catalog, merge-after-release

#15321 rollback @rjsf/validator-ajv8 to @rjsf/validator-v6
  .changeset/eight-dragons-accept.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  yarn.lock
Labels: scaffolder

#15354 Add Q&A plugin
  microsite/data/plugins/qeta.yaml
  microsite/static/img/qeta-logo.png
Labels: microsite

#15344 Hoop plugin
  microsite/data/plugins/hoop.yaml
Labels: microsite

#15360 Updating /live page
  microsite/pages/en/live.js
Labels: microsite

#15361 [Search] [Docs] Document how to provide custom search result list items
  docs/plugins/integrating-search-into-plugins.md
Labels: documentation

#15338 doc updates, replay of #14797
  .changeset/fifty-paws-attack.md
  docs/auth/auth0/provider.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/src/kinds/SystemEntityV1alpha1.ts
  plugins/scaffolder-common/src/TaskSpec.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
Labels: documentation, catalog, search, scaffolder

#15217 Fix entity tag picker
  .changeset/funny-pianos-grow.md
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.test.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.tsx
Labels: catalog

#15377 Add missing changeset
  plugins/catalog-react/CHANGELOG.md
Labels: catalog

#15220 cli: make --since <ref> flag aware of yarn.lock changes
  .changeset/tasty-impalas-cross.md
  .github/workflows/ci.yml
  packages/cli/src/commands/repo/build.ts
  packages/cli/src/commands/repo/lint.ts
  packages/cli/src/commands/repo/test.ts
  packages/cli/src/commands/versions/bump.ts
  packages/cli/src/commands/versions/lint.ts
  packages/cli/src/lib/git.ts
  packages/cli/src/lib/monorepo/PackageGraph.test.ts
  packages/cli/src/lib/monorepo/PackageGraph.ts
  packages/cli/src/lib/versioning/Lockfile.test.ts
  packages/cli/src/lib/versioning/Lockfile.ts
Labels: cli

#15063 feat(scaffolder): add EntityFilterQuery support on Entity and Owner Picker components
  .changeset/selfish-phones-smoke.md
  docs/features/software-templates/writing-templates.md
  packages/app/src/components/scaffolder/defaultPreviewTemplate.ts
  plugins/scaffolder-backend-module-cookiecutter/README.md
  plugins/scaffolder-backend-module-rails/README.md
  plugins/scaffolder-backend-module-yeoman/README.md
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/schema.ts
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.test.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/schema.ts
Labels: documentation, scaffolder

#15411 Minor comprehension fix for writing template example
  docs/features/software-templates/writing-templates.md
Labels: documentation

#15402 add onChange handler to next/Stepper
  .changeset/metal-hotels-deliver.md
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
Labels: scaffolder

#15097 feat(search): allow max page limit to be configurable
  .changeset/two-buckets-do.md
  plugins/search-backend/config.d.ts
  plugins/search-backend/package.json
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
Labels: search

#15412 Added @latest to the npx @backstage/create-app
  docs/getting-started/index.md
Labels: documentation

#15207 [cli]: Enable cache for production build using experimental env var
  .changeset/fluffy-fans-sing.md
  packages/cli/src/lib/bundler/bundle.ts
  packages/cli/src/lib/bundler/config.ts
Labels: cli

#15309 Blog post for the wrapper 2022.
  .github/vale/Vocab/Backstage/accept.txt
  microsite/blog/2022-12-19-backstage-wrapped-2022.md
  microsite/blog/assets/2022-12-19/bowie-the-beaver.png
  microsite/blog/assets/2022-12-19/github-metrics-for-backstage-io.png
  microsite/blog/assets/2022-12-19/public-backstage-adopters-2022.png
  microsite/blog/assets/2022-12-19/wrapped.png
Labels: microsite

#15107 fix: remove deprecated `create-plugin` script
  .changeset/tricky-toys-teach.md
  docs/assets/getting-started/create-plugin_output.png
  docs/getting-started/contributors.md
  docs/getting-started/project-structure.md
  docs/local-dev/cli-commands.md
  docs/plugins/backend-plugin.md
  docs/plugins/create-a-plugin.md
  docs/plugins/integrating-plugin-into-software-catalog.md
  docs/tutorials/journey.md
  docs/tutorials/quickstart-app-plugin.md
  packages/create-app/templates/default-app/package.json.hbs
Labels: documentation

#15222 Allow custom repository roles to be used
  .changeset/cool-islands-laugh.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#15219 Add squash merge commit title and message options
  .changeset/spicy-lions-dream.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#15445 chore: fixing video on blog
  microsite/blog/2022-12-19-backstage-wrapped-2022.md
Labels: microsite

#14965 fix(TechDocsBuildLogs): properly render entire log
  .changeset/lucky-apricots-dress.md
  plugins/techdocs/src/reader/components/TechDocsBuildLogs.tsx
Labels: techdocs
