Repository backstage/backstage, pull requests merged in 2022-10, with the labels that each got.

#13928 One more integration test
  plugins/catalog-backend/src/integration.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: catalog

#13941 add link to questions tagged 'backstage' in Stack Overflow
  docs/overview/support.md
Labels: documentation

#13956 Document `host` attribute for github catalog provider
  docs/integrations/github/discovery.md
Labels: documentation

#13911 feat: enhance catalog-plugin table with label column
  .changeset/fifty-berries-learn.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: catalog

#13953 Switching off duplicated timestamp
  .changeset/red-dots-sleep.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: scaffolder

#13920 feat: allow auth0 provider to specify connection/connection_scope config
  .changeset/pretty-buttons-develop.md
  docs/auth/auth0/provider.md
  plugins/auth-backend/src/providers/auth0/provider.ts
Labels: documentation, auth

#13869 Implement EntityKindPicker for the catalog
  .changeset/calm-moose-fetch.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.test.tsx
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
Labels: catalog

#13974 microsite: add Sept 2022 adopters community session
  microsite/data/on-demand/20220921-1.yaml
Labels: microsite

#13945 [Search] Customize <SearchResultGroup/> no results state
  .changeset/search-dull-planes-prove.md
  plugins/search-react/api-report.md
  plugins/search-react/src/components/SearchResult/SearchResult.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.stories.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.test.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.tsx
Labels: search

#13688 Add support for copy entity url in entity page context menu
  .changeset/warm-days-watch.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
Labels: catalog

#13972 backend-plugin-api: update module ID format
  .changeset/rare-hotels-cough.md
  .changeset/young-bugs-remember.md
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/wiring/factories.ts
  plugins/catalog-backend-module-github/src/module.ts
  plugins/catalog-node/src/catalogService.test.ts
  plugins/scaffolder-backend/src/extension/ScaffolderCatalogModule.ts
Labels: catalog, scaffolder

#13670 Revoke Google OAuth refresh token on logout
  .changeset/blue-lions-greet.md
  .changeset/hot-geese-vanish.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.test.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts
  plugins/auth-backend/src/lib/oauth/index.ts
  plugins/auth-backend/src/lib/oauth/types.ts
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/user-settings/src/components/AuthProviders/ProviderSettingsItem.tsx
  plugins/user-settings/src/components/AuthProviders/UserSettingsAuthProviders.test.tsx
  plugins/user-settings/src/components/General/UserSettingsMenu.test.tsx
  plugins/user-settings/src/components/General/UserSettingsMenu.tsx
Labels: auth

#13950 [Search] Create a per-page query param
  .changeset/search-bobcats-love.md
  .changeset/search-cars-hide.md
  .changeset/search-cycles-sniff.md
  .changeset/search-rats-grin.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
  plugins/search-common/api-report.md
  plugins/search-common/src/types.ts
  plugins/search-react/api-report.md
  plugins/search-react/src/components/SearchResult/SearchResult.tsx
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
Labels: search

#13988 doc: fix incorrect example in elasticsearch search engine
  docs/features/search/search-engines.md
Labels: documentation

#13996 Remove extra "add" in sentence
  docs/features/software-templates/configuration.md
Labels: documentation

#13859 feat(catalog/bitbucketCloud): schedule via config + backend-plugin-api support
  .changeset/brown-grapes-battle.md
  .changeset/fuzzy-dolls-give.md
  .changeset/giant-pianos-repeat.md
  docs/integrations/bitbucketCloud/discovery.md
  packages/backend-tasks/api-report.md
  packages/backend-tasks/src/tasks/index.ts
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.test.ts
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.ts
  packages/backend-tasks/src/tasks/types.ts
  plugins/catalog-backend-module-bitbucket-cloud/api-report.md
  plugins/catalog-backend-module-bitbucket-cloud/config.d.ts
  plugins/catalog-backend-module-bitbucket-cloud/package.json
  plugins/catalog-backend-module-bitbucket-cloud/src/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/BitbucketCloudEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/BitbucketCloudEntityProviderConfig.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/BitbucketCloudEntityProviderConfig.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/index.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/service/BitbucketCloudCatalogModule.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/service/BitbucketCloudEntityProviderCatalogModule.ts
  yarn.lock
Labels: documentation, catalog

#14001 feat: Allow configuring branch up-to-date-ness
  .changeset/little-hats-yell.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#13977 microsite: change 20220817-1 from upcoming to meetup
  microsite/data/on-demand/20220817-1.yaml
  microsite/data/on-demand/20220824-1.yaml
Labels: microsite

#14007 Added sourcePath to 'publish:gitlab:merge-request' action.
  .changeset/unlucky-seas-sip.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.ts
Labels: scaffolder

#13695 docs: Add OIDC section
  docs/auth/oidc.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#14016 use response.status and response.json properly
  .changeset/lazy-eyes-switch.md
  .changeset/rare-cougars-cross.md
  docs/plugins/call-existing-api.md
  packages/backend-common/src/middleware/notFoundHandler.test.ts
  packages/backend-common/src/middleware/notFoundHandler.ts
  packages/backend-common/src/middleware/requestLoggingHandler.test.ts
  packages/backend-common/src/middleware/statusCheckHandler.ts
  packages/cli/templates/default-backend-plugin/src/service/router.ts
  plugins/airbrake-backend/src/service/router.ts
  plugins/badges-backend/src/service/router.test.ts
  plugins/badges-backend/src/service/router.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/example-todo-list-backend/src/service/router.ts
  plugins/graphql-backend/src/service/router.ts
  plugins/periskop-backend/src/service/router.ts
  plugins/permission-backend/src/service/router.ts
  plugins/rollbar-backend/src/service/router.ts
  plugins/search-backend/src/service/router.ts
  plugins/tech-insights-backend/src/service/router.ts
  plugins/user-settings-backend/src/service/router.ts
Labels: documentation, catalog, auth, search

#13963 Allowed owners fix repourl picker
  .changeset/old-melons-bathe.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: scaffolder

#14024 Add score-card plugin to marketplace
  microsite/data/plugins/score-card.yaml
  microsite/static/img/score-card-plugin-logo.png
Labels: microsite

#14036 fix(catalog/github): add missing provider config schema
  .changeset/purple-masks-travel.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/config.d.ts
Labels: documentation, catalog

#13975 microsite: add Sept 2022 contributors community session
  microsite/data/on-demand/20220928-1.yaml
Labels: microsite

#14006 add instructions for a multi-stage build dockerfile
  docs/tutorials/yarn-migration.md
Labels: documentation

#14025 Fixing incorrect path in the custom action example
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#14060 Clarified Configuration definition docs
  docs/conf/defining.md
Labels: documentation

#14061 [TechDocs] Pass catalog client to techdocs router
  .changeset/techdocs-olive-worms-yell.md
  plugins/techdocs-backend/api-report.md
  plugins/techdocs-backend/src/service/router.ts
Labels: techdocs

#14072 Add Feature Flags to Plugins navigation on microsite.
  microsite/sidebars.json
Labels: microsite

#13428 scaffolder: update to `react-jsonschema-form` `v5`
  .changeset/lucky-beans-bathe.md
  packages/app/package.json
  plugins/scaffolder/api-report.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/extensions/index.tsx
  plugins/scaffolder/src/extensions/types.ts
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/createAsyncValidators.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/schema.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/useTemplateSchema.ts
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  yarn.lock
Labels: scaffolder

#14054 feat(plugins/scaffolder/next): Re-use the old `TaskPage` for now for end-to-end experience
  .changeset/cuddly-ways-fail.md
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/routes.ts
Labels: scaffolder

#13961 Make it possible to enable useLongPollingLogs in scaffolder plugin
  plugins/scaffolder/README.md
Labels: scaffolder

#14076 just some vale fixes
  .github/vale/Vocab/Backstage/accept.txt
  packages/core-plugin-api/src/routing/SubRouteRef.ts
  packages/techdocs-cli/src/example-docs/docs/index.md
  plugins/techdocs-backend/examples/documented-component/docs/extensions.md
Labels: techdocs

#13905 Permissions - Add a required parameter schema
  .changeset/kind-bees-suffer.md
  .changeset/quick-meals-talk.md
  .changeset/seven-panthers-chew.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/permissions/rules/createPropertyRule.test.ts
  plugins/catalog-backend/src/permissions/rules/createPropertyRule.ts
  plugins/catalog-backend/src/permissions/rules/hasAnnotation.test.ts
  plugins/catalog-backend/src/permissions/rules/hasAnnotation.ts
  plugins/catalog-backend/src/permissions/rules/hasLabel.test.ts
  plugins/catalog-backend/src/permissions/rules/hasLabel.ts
  plugins/catalog-backend/src/permissions/rules/isEntityKind.test.ts
  plugins/catalog-backend/src/permissions/rules/isEntityKind.ts
  plugins/catalog-backend/src/permissions/rules/isEntityOwner.test.ts
  plugins/catalog-backend/src/permissions/rules/isEntityOwner.ts
  plugins/catalog-backend/src/permissions/rules/util.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/permission-backend/src/service/PermissionIntegrationClient.test.ts
  plugins/permission-common/api-report.md
  plugins/permission-common/package.json
  plugins/permission-common/src/PermissionClient.test.ts
  plugins/permission-common/src/PermissionClient.ts
  plugins/permission-common/src/types/api.ts
  plugins/permission-common/src/types/index.ts
  plugins/permission-node/api-report.md
  plugins/permission-node/package.json
  plugins/permission-node/src/integration/createConditionExports.test.ts
  plugins/permission-node/src/integration/createConditionExports.ts
  plugins/permission-node/src/integration/createConditionFactory.test.ts
  plugins/permission-node/src/integration/createConditionFactory.ts
  plugins/permission-node/src/integration/createConditionTransformer.test.ts
  plugins/permission-node/src/integration/createConditionTransformer.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
  plugins/permission-node/src/integration/createPermissionRule.ts
  plugins/permission-node/src/integration/util.ts
  plugins/permission-node/src/types.ts
  plugins/playlist-backend/api-report.md
  plugins/playlist-backend/package.json
  plugins/playlist-backend/src/permissions/DefaultPlaylistPermissionPolicy.test.ts
  plugins/playlist-backend/src/permissions/DefaultPlaylistPermissionPolicy.ts
  plugins/playlist-backend/src/permissions/rules.ts
  yarn.lock
Labels: catalog, auth

#14074 [Documentation] Fix the example in the switching to postgres tutorial
  docs/tutorials/switching-sqlite-postgres.md
Labels: documentation

#14077 Speed up docker builds using cache mounts and a few other tricks
  .changeset/short-plants-return.md
  docs/deployment/docker.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#14063 docs: fix toQuery method in custom rules permissions docs
  docs/permissions/custom-rules.md
Labels: documentation

#14039 feat(catalog/github): schedule via config + use at backend module
  .changeset/famous-ligers-repair.md
  .changeset/old-frogs-invent.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.ts
  plugins/catalog-backend-module-github/src/service/GithubEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-github/src/service/GithubEntityProviderCatalogModule.ts
  yarn.lock
Labels: documentation, catalog

#14027 [microsite] fix localKubectlProxy link
  docs/features/kubernetes/configuration.md
Labels: documentation

#14115 Removed database step from docs
  docs/assets/getting-started/portal.png
  docs/assets/getting-started/wizard.png
  docs/getting-started/index.md
Labels: documentation

#14102 techdocs-node: tweak mock-fs setup
  plugins/techdocs-node/src/stages/publish/googleStorage.test.ts
Labels: techdocs

#13673 pr(core-components): edit dependency graph edge
  .changeset/clever-clocks-drive.md
  packages/core-components/api-report.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/components/DependencyGraph/Edge.test.tsx
  packages/core-components/src/components/DependencyGraph/Edge.tsx
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CurveFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CurveFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/useCatalogGraphPage.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: catalog

#14067 [Search] Tag indexing logs with documentType
  .changeset/search-konstiga-fika-reglar.md
  .github/vale/Vocab/Backstage/accept.txt
  plugins/adr-backend/src/search/DefaultAdrCollatorFactory.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-node/src/IndexBuilder.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/stack-overflow-backend/src/search/StackOverflowQuestionsCollatorFactory.ts
  plugins/techdocs-backend/src/search/DefaultTechDocsCollatorFactory.ts
Labels: techdocs, search

#14030 Fix permissions API to return 401 instead of 500 on throw
  .changeset/early-hornets-pay.md
  plugins/auth-node/src/DefaultIdentityClient.ts
Labels: permission-framework

#14167 adjust the github slug wording
  docs/features/software-catalog/well-known-annotations.md
Labels: documentation

#14003 Added emptyContent to properties of Catalog Table
  .changeset/many-kangaroos-raise.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: catalog

#14098 feat(microsite): added "new" ribbon to plugins
  microsite/pages/en/plugins.js
  microsite/static/css/plugins.css
Labels: microsite

#14154 Delete gke-usage plugin from marketplace
  microsite/data/plugins/gke-usage.yaml
Labels: microsite

#14092 Exported types for the permission router metadata endpoint
  .changeset/hot-bugs-roll.md
  plugins/permission-node/api-report.md
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: auth

#14187 create-app: fix index route redirect
  docs/tutorials/react-router-stable-migration.md
  packages/app/src/App.tsx
  packages/create-app/templates/default-app/packages/app/src/App.tsx
Labels: documentation

#14176 Catalog: Fixes issue where the query kind parameter is not honored
  .changeset/nice-monkeys-punch.md
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.tsx
Labels: catalog

#14028 Docker buildkit
  docs/deployment/docker.md
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#14174 chore(catalog/github): use consistent naming of `[gG]ithub` in code
  .changeset/fuzzy-dolls-shake.md
  .changeset/moody-carrots-shout.md
  .changeset/tame-ads-complain.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.test.ts
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
  plugins/catalog-backend-module-github/src/deprecated.ts
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/lib/index.ts
  plugins/catalog-backend-module-github/src/lib/util.test.ts
  plugins/catalog-backend-module-github/src/lib/util.ts
  plugins/catalog-backend-module-github/src/processors/GithubOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/service/GithubEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-github/src/service/GithubEntityProviderCatalogModule.ts
Labels: documentation, catalog

#14196 Updated permissions documentation to match paramsSchema changes
  docs/permissions/custom-rules.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permissions/writing-a-policy.md
Labels: documentation

#14200 Fixed an incorrect import in the permissions documentation
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
Labels: documentation

#14215 (docs:auth) - Updated the typo error
  docs/auth/oidc.md
Labels: documentation

#14198 add release notes for v1.7.0
  .github/vale/Vocab/Backstage/accept.txt
  docs/releases/v1.7.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#13966 [K8s plugin] Handle the error when fetching pod metrics
  .changeset/wet-cameras-call.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/types.ts
Labels: k8s-plugin

#14149 Use urlreader in openApiPlaceholderResolver
  .changeset/forty-jokes-lie.md
  plugins/catalog-backend-module-openapi/src/lib/bundle.test.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
Labels: catalog

#13634 Plugin azure functions
  .changeset/tasty-colts-hug.md
  microsite/data/plugins/azure-sites.yaml
  packages/app/package.json
  packages/backend/package.json
  plugins/azure-sites-backend/.eslintrc.js
  plugins/azure-sites-backend/README.md
  plugins/azure-sites-backend/api-report.md
  plugins/azure-sites-backend/package.json
  plugins/azure-sites-backend/schema.d.ts
  plugins/azure-sites-backend/src/api/AzureSitesApi.ts
  plugins/azure-sites-backend/src/api/index.ts
  plugins/azure-sites-backend/src/config.ts
  plugins/azure-sites-backend/src/index.ts
  plugins/azure-sites-backend/src/run.ts
  plugins/azure-sites-backend/src/service/router.ts
  plugins/azure-sites-backend/src/service/standaloneServer.ts
  plugins/azure-sites-backend/src/setupTests.ts
  plugins/azure-sites-common/.eslintrc.js
  plugins/azure-sites-common/api-report.md
  plugins/azure-sites-common/package.json
  plugins/azure-sites-common/src/index.ts
  plugins/azure-sites-common/src/types.ts
  plugins/azure-sites/.eslintrc.js
  plugins/azure-sites/README.md
  plugins/azure-sites/api-report.md
  plugins/azure-sites/dev/index.tsx
  plugins/azure-sites/docs/functions-table.png
  plugins/azure-sites/package.json
  plugins/azure-sites/src/api/AzureSitesApi.ts
  plugins/azure-sites/src/api/AzureSitesApiBackendClient.ts
  plugins/azure-sites/src/api/index.ts
  plugins/azure-sites/src/components/AzureSitesOverviewComponent/AzureSitesOverview.tsx
  plugins/azure-sites/src/components/AzureSitesOverviewTableComponent/AzureSitesOverviewTable.test.tsx
  plugins/azure-sites/src/components/AzureSitesOverviewTableComponent/AzureSitesOverviewTable.tsx
  plugins/azure-sites/src/hooks/useServiceEntityAnnotations.ts
  plugins/azure-sites/src/hooks/useSites.ts
  plugins/azure-sites/src/index.ts
  plugins/azure-sites/src/mocks/mocks.ts
  plugins/azure-sites/src/plugin.test.ts
  plugins/azure-sites/src/plugin.ts
  plugins/azure-sites/src/routes.ts
  plugins/azure-sites/src/setupTests.ts
  yarn.lock
Labels: microsite

#14123 fix(techdocsReader): include search params when navigating urls
  .changeset/spicy-parents-lick.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: techdocs

#14192 chore(integration): use consistent naming of `[gG]ithub` in code
  .changeset/gorgeous-queens-pull.md
  .changeset/sixty-pigs-shave.md
  packages/backend-common/api-report.md
  packages/backend-common/src/reading/GithubUrlReader.test.ts
  packages/backend-common/src/reading/GithubUrlReader.ts
  packages/integration/api-report.md
  packages/integration/src/ScmIntegrations.test.ts
  packages/integration/src/ScmIntegrations.ts
  packages/integration/src/github/DefaultGithubCredentialsProvider.test.ts
  packages/integration/src/github/GithubIntegration.test.ts
  packages/integration/src/github/GithubIntegration.ts
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.ts
  packages/integration/src/github/config.test.ts
  packages/integration/src/github/config.ts
  packages/integration/src/github/core.test.ts
  packages/integration/src/github/core.ts
  packages/integration/src/github/deprecated.ts
  packages/integration/src/github/index.ts
  packages/integration/src/registry.ts
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  plugins/catalog-import/src/api/CatalogImportClient.ts
  plugins/git-release-manager/src/api/GitReleaseClient.ts
  plugins/github-actions/src/api/GithubActionsClient.ts
  plugins/github-actions/src/components/Cards/Cards.tsx
  plugins/github-actions/src/components/Cards/RecentWorkflowRunsCard.tsx
  plugins/github-actions/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
  plugins/github-actions/src/components/WorkflowRunLogs/WorkflowRunLogs.tsx
  plugins/github-actions/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
  plugins/github-issues/src/api/gitHubIssuesApi.ts
  plugins/github-pull-requests-board/src/api/useOctokitGraphQl.ts
  plugins/techdocs-module-addons-contrib/src/ReportIssue/hooks.ts
  plugins/techdocs/src/reader/transformers/addGitFeedbackLink.ts
Labels: catalog, techdocs

#13879 More extendable Scaffolder page
  .changeset/sixty-islands-develop.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPage.tsx
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/routes.ts
Labels: scaffolder

#14118 [Catalog] [Scaffolder] Analytics entity-awareness
  .changeset/analyze-software-creation.md
  .changeset/analyze-software-exploration.md
  docs/plugins/analytics.md
  plugins/badges/src/components/EntityBadgesDialog.test.tsx
  plugins/catalog-react/src/hooks/useEntity.test.tsx
  plugins/catalog-react/src/hooks/useEntity.tsx
  plugins/catalog/src/components/EntityLinksCard/EntityLinksCard.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/gocd/src/components/GoCdBuildsComponent/GoCdBuildsComponent.test.tsx
  plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.test.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
  plugins/todo/src/components/TodoList/TodoList.test.tsx
Labels: documentation, catalog, scaffolder

#14058 Optionally validate GitHub discovery locations before emitting
  .changeset/three-poems-think.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/processors/GithubDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-github/src/processors/GithubDiscoveryProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.ts
Labels: documentation, catalog

#14236 fix(PermissionClient): fix rules schema to handle optional params
  .changeset/real-swans-repair.md
  plugins/permission-common/src/PermissionClient.test.ts
  plugins/permission-common/src/PermissionClient.ts
Labels: auth

#14270 chore(docs): remove reference to deprecated integration
  docs/integrations/index.md
Labels: documentation

#14271 chore(docs): remove docs for deprecated `bitbucket` integration
  docs/integrations/bitbucket/discovery.md
  docs/integrations/bitbucketCloud/discovery.md
  docs/integrations/bitbucketServer/discovery.md
  microsite/sidebars.json
Labels: documentation, microsite

#14205 fix(GithubLocationAnalyzer): support github app auth & authenticated backends
  .changeset/eight-pears-attack.md
  .changeset/popular-bulldogs-lie.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.test.ts
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
Labels: catalog

#14038 fix(plugins/tech-radar): list rerenders on hover
  .changeset/little-bikes-eat.md
  plugins/tech-radar/src/components/Radar/Radar.tsx
  plugins/tech-radar/src/components/Radar/utils.ts
  plugins/tech-radar/src/components/RadarLegend/RadarLegend.test.tsx
  plugins/tech-radar/src/components/RadarLegend/RadarLegend.tsx
  plugins/tech-radar/src/components/RadarLegend/RadarLegendLink.tsx
  plugins/tech-radar/src/components/RadarLegend/RadarLegendQuadrant.tsx
  plugins/tech-radar/src/components/RadarLegend/RadarLegendRing.tsx
  plugins/tech-radar/src/components/RadarLegend/types.ts
  plugins/tech-radar/src/components/RadarLegend/utils.ts
Labels: merge-after-release

#14165 core: switch to using built-in base path in React Router v6 stable
  .changeset/brave-eels-allow.md
  .changeset/eleven-pets-sneeze.md
  .changeset/shaggy-colts-watch.md
  packages/core-app-api/api-report.md
  packages/core-app-api/src/app/AppManager.compat.test.tsx
  packages/core-app-api/src/app/AppManager.stable.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-app-api/src/app/types.ts
  packages/core-components/src/components/Link/Link.test.tsx
  packages/core-components/src/components/Link/Link.tsx
  packages/core-plugin-api/api-report.md
Labels: core, frontend, merge-after-release

#13815 Add default prom metrics to scaffolder
  .changeset/flat-items-perform.md
  contrib/docs/tutorials/prometheus-metrics.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/util/metrics.ts
  yarn.lock
Labels: scaffolder, merge-after-release

#14283 just getting rid of vale warnings
  .changeset/gorgeous-balloons-sit.md
  .github/vale/Vocab/Backstage/accept.txt
  STYLE.md
  docs/api/utility-apis.md
  docs/architecture-decisions/adr003-avoid-default-exports.md
  docs/architecture-decisions/index.md
  docs/auth/gitlab/provider.md
  docs/conf/defining.md
  docs/features/kubernetes/configuration.md
  docs/getting-started/app-custom-theme.md
  docs/integrations/gerrit/locations.md
  docs/plugins/composability.md
  docs/plugins/structure-of-a-plugin.md
  docs/plugins/url-reader.md
  docs/releases/v1.2.0.md
  microsite/README.md
  packages/techdocs-cli/src/example-docs/plugins/plugin-a/docs/index.md
  packages/techdocs-cli/src/example-docs/plugins/plugin-b/docs/index.md
  packages/theme/src/pageTheme.ts
  plugins/auth-backend/README.md
  plugins/cost-insights/README.md
  plugins/dynatrace/README.md
  plugins/stack-overflow-backend/README.md
  plugins/techdocs/src/reader/README.md
Labels: documentation, auth, techdocs, microsite

#14284 Removing forced capitalization for Entity types in the sidebar.
  .changeset/happy-avocados-tan.md
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.test.tsx
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.tsx
Labels: catalog

#14287 docs: add backend system docs
  docs/api/backend.md
  docs/plugins/new-backend-system.md
  microsite/pages/en/link.js
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#14288 small correction in the permissions docs
  docs/permissions/custom-rules.md
Labels: documentation

#14299 Get rid of `this-is-undefined-in-esm` warning
  .changeset/grumpy-pigs-reflect.md
  plugins/catalog-import/src/components/EntityListComponent/EntityListComponent.tsx
Labels: catalog

#14056 Gitea SCM integration / URL Reader
  .changeset/fresh-cooks-sing.md
  .changeset/fresh-weeks-share.md
  .github/vale/Vocab/Backstage/accept.txt
  docs/integrations/gitea/locations.md
  microsite/sidebars.json
  packages/backend-common/api-report.md
  packages/backend-common/src/reading/GiteaUrlReader.test.ts
  packages/backend-common/src/reading/GiteaUrlReader.ts
  packages/backend-common/src/reading/UrlReaders.ts
  packages/backend-common/src/reading/index.ts
  packages/integration/api-report.md
  packages/integration/config.d.ts
  packages/integration/src/ScmIntegrations.test.ts
  packages/integration/src/ScmIntegrations.ts
  packages/integration/src/gitea/GiteaIntegration.test.ts
  packages/integration/src/gitea/GiteaIntegration.ts
  packages/integration/src/gitea/config.test.ts
  packages/integration/src/gitea/config.ts
  packages/integration/src/gitea/core.test.ts
  packages/integration/src/gitea/core.ts
  packages/integration/src/gitea/index.ts
  packages/integration/src/index.ts
  packages/integration/src/registry.ts
Labels: documentation, microsite

#14226 Updates to the To Do List Permission Tutorial
  docs/permissions/getting-started.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/05-frontend-authorization.md
Labels: documentation

#13740 plugin-techdocs: add group filtering support to EntityListDocsGrid
  .changeset/dull-oranges-tap.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs/api-report.md
  plugins/techdocs/src/home/components/Grids/EntityListDocsGrid.test.tsx
  plugins/techdocs/src/home/components/Grids/EntityListDocsGrid.tsx
Labels: documentation, techdocs

#14281 [microsite] mention connectivity to graph.microsoft.com
  docs/auth/microsoft/provider.md
Labels: documentation

#14309 Updating GitLab Auth provider docs about using a custom callbackUrl
  docs/auth/gitlab/provider.md
Labels: documentation

#14312 get rid of circular imports
  .changeset/orange-trees-peel.md
  packages/catalog-model/src/location/helpers.ts
  packages/core-components/src/components/OverflowTooltip/OverflowTooltip.test.tsx
  packages/core-components/src/components/Table/Table.stories.tsx
  packages/core-components/src/layout/HeaderTabs/HeaderTabs.test.tsx
  packages/core-components/src/layout/Page/Page.stories.tsx
  packages/core-components/src/layout/Sidebar/Bar.test.tsx
  packages/core-components/src/layout/Sidebar/Items.tsx
  packages/core-components/src/layout/Sidebar/MobileSidebar.test.tsx
  packages/core-components/src/layout/Sidebar/Sidebar.stories.tsx
  packages/core-components/src/layout/Sidebar/SidebarGroup.test.tsx
  packages/core-components/src/layout/Sidebar/SidebarGroup.tsx
  packages/integration/src/gerrit/GerritIntegration.ts
  packages/integration/src/gerrit/core.test.ts
  packages/integration/src/gerrit/core.ts
  plugins/auth-node/src/DefaultIdentityClient.ts
  plugins/azure-sites/src/components/AzureSitesOverviewTableComponent/AzureSitesOverviewTable.test.tsx
  plugins/gcalendar/src/components/CalendarCard/HomePageCalendar.test.tsx
  plugins/gcalendar/src/components/CalendarCard/SignInContent.tsx
  plugins/periskop/src/components/EntityPeriskopErrorsCard/EntityPeriskopErrorsCard.tsx
  plugins/permission-common/src/types/api.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubIssuesLabel.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubWebhook.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/techdocs-backend/src/cache/cacheMiddleware.test.ts
  plugins/techdocs/src/reader/transformers/addGitFeedbackLink.ts
  plugins/techdocs/src/reader/transformers/addSidebarToggle.ts
  plugins/techdocs/src/reader/transformers/scrollIntoNavigation.test.ts
  plugins/xcmetrics/src/utils/buildData.ts
Labels: catalog, auth, techdocs, scaffolder

#14304 microsite/plugins: fix authors and filename
  microsite/data/plugins/backstage-plugin-api-linter.yaml
  microsite/data/plugins/git-release-manager.yaml
  microsite/data/plugins/prometheus.yaml
  microsite/data/plugins/tech-insights.yaml
Labels: microsite

#14050 Replace @material-ui/Link component with @backstage/core-components
  .changeset/great-colts-invite.md
  .changeset/two-yaks-wave.md
  packages/app/src/components/Root/Root.tsx
  packages/cli/config/eslint-factory.js
  packages/core-components/src/components/HeaderIconLinkRow/IconLinkVertical.tsx
  packages/core-components/src/components/Link/Link.tsx
  packages/core-components/src/layout/Page/Page.stories.tsx
  packages/core-components/src/layout/Sidebar/Intro.tsx
  packages/create-app/templates/default-app/packages/app/src/components/Root/Root.tsx
  packages/techdocs-cli-embedded-app/src/components/Root/Root.tsx
  plugins/azure-sites/src/components/AzureSitesOverviewTableComponent/AzureSitesOverviewTable.tsx
  plugins/catalog/src/components/AboutCard/AboutCard.test.tsx
  plugins/circleci/src/components/BuildWithStepsPage/BuildWithStepsPage.tsx
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
  plugins/dynatrace/src/components/Problems/ProblemsTable/ProblemsTable.tsx
  plugins/gcalendar/src/components/CalendarCard/CalendarEvent.tsx
  plugins/gcalendar/src/components/CalendarCard/CalendarEventPopoverContent.tsx
  plugins/github-actions/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
  plugins/github-actions/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
  plugins/github-issues/src/components/GithubIssues/IssueCard/IssueCard.tsx
  plugins/gitops-profiles/src/components/ClusterPage/ClusterPage.tsx
  plugins/gitops-profiles/src/components/ProfileCatalog/ProfileCatalog.tsx
  plugins/jenkins/src/components/BuildWithStepsPage/BuildWithStepsPage.tsx
  plugins/kafka/src/components/ConsumerGroupOffsets/ConsumerGroupOffsets.tsx
  plugins/pagerduty/src/components/Incident/IncidentListItem.tsx
  plugins/rollbar/src/components/RollbarTopItemsTable/RollbarTopItemsTable.tsx
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateCard/CardLink.tsx
Labels: catalog, techdocs, scaffolder

#14328 update the configuration steps of the documentation to bring them up to date.
  docs/assets/getting-started/b-scaffold-1.png
  docs/assets/getting-started/b-scaffold-2.png
  docs/assets/getting-started/b-scaffold-3.png
  docs/getting-started/configuration.md
Labels: documentation

#14323 [TechDocs] Fix techdocs cli serve
  .changeset/beige-gorillas-sip.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
Labels: techdocs

#14331 updating streaming link for october session
  microsite/pages/en/live.js
Labels: microsite

#14361 Emmaw bcon kcon blog
  .github/vale/Vocab/Backstage/accept.txt
  microsite/blog/2022-10-28-backstagecon-kubecon-2022.md
  microsite/blog/assets/2022-10-28/groupimage.jpg
  microsite/blog/assets/2022-10-28/preview.png
  microsite/blog/assets/2022-10-28/project_meeting.jpg
  microsite/blog/assets/2022-10-28/real_project_meeting.jpeg
Labels: microsite

#14395 FIX: Fixed the UI of the Community page
  microsite/pages/en/community.js
Labels: microsite
