Repository backstage/backstage, pull requests merged in 2022-06, with the labels that each got.

#11757 Add SafetyCulture to ADOPTERS.md
  ADOPTERS.md
Labels: awaiting-review

#11732 Make code work as documented. Review mask does not need 'show: true'.…
  .changeset/beige-dots-bathe.md
  plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.test.tsx
  plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.tsx
Labels: scaffolder

#11765 docs: fix cost insights example app config
  .changeset/good-squids-rest.md
  plugins/cost-insights/README.md
Labels: awaiting-review

#11755 [pagerduty] Use IdentityApi to provide auth token for pagerduty API calls
  .changeset/eight-ducks-beg.md
  plugins/pagerduty/api-report.md
  plugins/pagerduty/src/api/client.ts
  plugins/pagerduty/src/api/types.ts
  plugins/pagerduty/src/plugin.ts
Labels: awaiting-review

#11768 Add filter property to MyGroupsSidebarItem
  .changeset/spicy-forks-return.md
  plugins/org/api-report.md
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.test.tsx
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.tsx
Labels: awaiting-review

#11812 chore: fix microsite building
  scripts/api-extractor.ts
Labels: awaiting-review

#11846 [Search] Properly name versioned search modal context
  .changeset/search-generals-gathered.md
  plugins/search/src/components/SearchModal/useSearchModal.tsx
Labels: search

#11816 [TechDocs] Limit concurrent local TechDocs builds
  .changeset/techdocs-everybody-to-the-limit.md
  plugins/techdocs-backend/src/service/DocsSynchronizer.test.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
Labels: docs-like-code

#11847 scaffolder: fix binary file uploads during dry-run
  .changeset/yellow-falcons-sin.md
  plugins/scaffolder/src/components/TemplateEditorPage/DryRunContext.test.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/DryRunContext.tsx
Labels: scaffolder, awaiting-review

#11805 [Search] clean up search api reports
  .changeset/famous-cups-clap.md
  .changeset/hip-pears-shout.md
  .changeset/nervous-ravens-smash.md
  .changeset/pre.json
  .changeset/seven-readers-drop.md
  .changeset/twenty-mangos-clap.md
  contrib/search/confluence/ConfluenceCollator.md
  contrib/search/confluence/ConfluenceResultListItem.md
  plugins/catalog-common/api-report.md
  plugins/catalog-common/package.json
  plugins/catalog-common/src/search/CatalogEntityDocument.ts
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientOptions.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-module-elasticsearch/src/engines/index.ts
  plugins/search-backend-module-elasticsearch/src/index.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/src/IndexBuilder.ts
  plugins/search-backend-node/src/Scheduler.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
  plugins/search-backend-node/src/engines/LunrSearchEngineIndexer.ts
  plugins/search-backend-node/src/indexing/BatchSearchEngineIndexer.ts
  plugins/search-backend-node/src/indexing/DecoratorBase.ts
  plugins/search-backend-node/src/test-utils/TestPipeline.ts
  plugins/search-backend-node/src/types.ts
  plugins/search-backend/api-report.md
  plugins/search-backend/src/service/router.ts
  plugins/search-common/api-report.md
  plugins/search-common/src/types.ts
  scripts/api-extractor.ts
Labels: catalog, search

#11603 [Kubernetes Plugin] ability to configure refresh interval on Kubernetes tab
  .changeset/khaki-shrimps-tell.md
  docs/features/kubernetes/installation.md
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/Router.tsx
  plugins/kubernetes/src/components/KubernetesContent.tsx
  plugins/kubernetes/src/index.ts
  plugins/kubernetes/src/plugin.ts
Labels: documentation, awaiting-review

#11890 Adding Meltwater to Backstage Adopters
  ADOPTERS.md
Labels: awaiting-review

#11887 update catalog client readme to correctly point to catalog-react
  .changeset/ten-suits-prove.md
  packages/catalog-client/README.md
Labels: catalog, awaiting-review

#11901 docs: few tweaks to the sign-in resolver docs
  docs/auth/identity-resolver.md
Labels: documentation

#11927 docs: update sign-in page example in getting started docs
  docs/getting-started/configuration.md
Labels: documentation, awaiting-review

#11197 Do not send last_activity_after timestamp to gitlab api when the cache is empty
  .changeset/long-spiders-wave.md
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
Labels: catalog

#11482 [Search] Optional icon for catalog and techdocs results
  .changeset/big-bears-fold.md
  packages/app/src/components/search/SearchModal.tsx
  packages/app/src/components/search/SearchPage.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/techdocs/api-report.md
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.tsx
Labels: catalog, docs-like-code, awaiting-review

#11948 docs: Remove helm from microsite
  docs/deployment/helm.md
  docs/deployment/index.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#11777 feat(techdocs): use entity title as label in header
  .changeset/polite-ligers-hang.md
  .changeset/ten-wombats-reply.md
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: docs-like-code

#11950 scaffolder: support templates in other namespaces
  .changeset/tender-carpets-cry.md
  plugins/scaffolder-backend/src/service/helpers.ts
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/next/Router/Router.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateCard/TemplateCard.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/routes.ts
Labels: scaffolder, awaiting-review

#11946 chore(scaffolder): remove projectId from gitlab publish mr action because it is redundant
  .changeset/forty-timers-cheer.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.ts
Labels: scaffolder, awaiting-review

#11955 remove some yarn.lock impurity in master by adjusting msw dep
  plugins/vault-backend/package.json
  plugins/vault/dev/index.tsx
  plugins/vault/package.json
  plugins/vault/src/api.test.ts
  plugins/vault/src/components/EntityVaultTable/EntityVaultTable.test.tsx
Labels: awaiting-review

#11931 cli/create-github-app: Add members to permission selection list
  .changeset/green-parents-pay.md
  packages/cli/src/commands/create-github-app/GithubCreateAppServer.ts
  packages/cli/src/commands/create-github-app/index.ts
Labels: awaiting-review

#11964 Add component dependency in text and diagram
  docs/assets/software-catalog/software-model-core-entities.drawio.svg
  docs/assets/software-catalog/software-model-entities.drawio.svg
  docs/features/software-catalog/system-model.md
Labels: documentation

#11970 Update docs link to current techdocs-cli
  docs/features/techdocs/README.md
Labels: documentation, awaiting-review

#11971 docs: add OVHcloud as adopter
  ADOPTERS.md
Labels: awaiting-review

#11937 create-app,docs: use guest resolver as default sign-in resolver in new apps
  .changeset/twenty-avocados-refuse.md
  docs/auth/identity-resolver.md
  packages/create-app/templates/default-app/packages/backend/src/plugins/auth.ts
Labels: documentation, awaiting-review

#11951 [Search] Track `discover` event and result rank
  .changeset/search-pull-rank.md
  .changeset/search-rank-and-file.md
  .changeset/search-rank-choice-voting.md
  .changeset/search-rankly-my-dear.md
  docs/plugins/analytics.md
  packages/app/src/components/search/SearchModal.tsx
  packages/app/src/components/search/SearchPage.tsx
  packages/create-app/templates/default-app/packages/app/src/components/search/SearchPage.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
  plugins/search-backend/src/service/AuthorizedSearchEngine.test.ts
  plugins/search-backend/src/service/AuthorizedSearchEngine.ts
  plugins/search-common/api-report.md
  plugins/search-common/src/types.ts
  plugins/search-react/api-report.md
  plugins/search-react/src/components/DefaultResultListItem/DefaultResultListItem.tsx
  plugins/techdocs/api-report.md
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.tsx
Labels: documentation, catalog, docs-like-code, search

#11986 add P&G to adopters
  ADOPTERS.md
Labels: awaiting-review

#11975 docs/oauth2-proxy: update provider installation example
  docs/auth/oauth2-proxy/provider.md
Labels: documentation

#11978 docs: merge and clean up auth contribution docs
  docs/auth/add-auth-provider.md
  docs/auth/auth-backend-classes.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#11990 chore(cost-insights): update readme with updated sidebar path
  .changeset/angry-jobs-serve.md
  plugins/cost-insights/README.md
Labels: awaiting-review

#11591 Change Table component to disable draggable columns by default
  .changeset/gorgeous-trees-sparkle.md
  plugins/catalog-react/src/components/EntityTable/EntityTable.tsx
Labels: catalog, awaiting-review

#11994 scaffolder: docs for `user` templating expression
  docs/features/software-templates/writing-templates.md
Labels: documentation

#11754 feat: add dynatrace plugin
  .changeset/many-yaks-occur.md
  .github/vale/Vocab/Backstage/accept.txt
  app-config.yaml
  microsite/data/plugins/dynatrace.yaml
  microsite/static/img/dynatrace.svg
  packages/app/package.json
  packages/app/src/components/catalog/EntityPage.tsx
  plugins/dynatrace/.eslintrc.js
  plugins/dynatrace/README.md
  plugins/dynatrace/api-report.md
  plugins/dynatrace/config.d.ts
  plugins/dynatrace/dev/index.tsx
  plugins/dynatrace/package.json
  plugins/dynatrace/src/api/DynatraceApi.ts
  plugins/dynatrace/src/api/DynatraceClient.ts
  plugins/dynatrace/src/api/index.ts
  plugins/dynatrace/src/components/DynatraceTab/DynatraceTab.tsx
  plugins/dynatrace/src/components/DynatraceTab/index.ts
  plugins/dynatrace/src/components/Problems/ProblemStatus/ProblemStatus.test.tsx
  plugins/dynatrace/src/components/Problems/ProblemStatus/ProblemStatus.tsx
  plugins/dynatrace/src/components/Problems/ProblemStatus/index.ts
  plugins/dynatrace/src/components/Problems/ProblemsList/ProblemsList.test.tsx
  plugins/dynatrace/src/components/Problems/ProblemsList/ProblemsList.tsx
  plugins/dynatrace/src/components/Problems/ProblemsList/index.ts
  plugins/dynatrace/src/components/Problems/ProblemsTable/ProblemsTable.test.tsx
  plugins/dynatrace/src/components/Problems/ProblemsTable/ProblemsTable.tsx
  plugins/dynatrace/src/components/Problems/ProblemsTable/index.ts
  plugins/dynatrace/src/constants.ts
  plugins/dynatrace/src/index.ts
  plugins/dynatrace/src/mocks/problems.json
  plugins/dynatrace/src/plugin.test.ts
  plugins/dynatrace/src/plugin.ts
  plugins/dynatrace/src/routes.ts
  plugins/dynatrace/src/setupTests.ts
  yarn.lock
Labels: microsite, awaiting-review

#12003 [TechDocs] Fix failing windows test
  .changeset/techdocs-flying-inspection.md
  plugins/techdocs-node/src/stages/publish/local.test.ts
  plugins/techdocs-node/src/stages/publish/local.ts
Labels: docs-like-code

#11995 [TechDocs] [Search] Cleanup legacy packages
  .github/CODEOWNERS
  docs/plugins/url-reader.md
  packages/search-common/.eslintrc.js
  packages/search-common/CHANGELOG.md
  packages/search-common/README.md
  packages/search-common/api-report.md
  packages/search-common/package.json
  packages/search-common/src/index.ts
  packages/techdocs-common/.eslintrc.js
  packages/techdocs-common/CHANGELOG.md
  packages/techdocs-common/README.md
  packages/techdocs-common/api-report.md
  packages/techdocs-common/package.json
  packages/techdocs-common/src/index.ts
Labels: documentation, docs-like-code, search

#12001 catalog-backend: disallow non-url location registration
  .changeset/cuddly-pillows-press.md
  plugins/catalog-backend/src/service/DefaultLocationService.test.ts
  plugins/catalog-backend/src/service/DefaultLocationService.ts
Labels: catalog

#12009 scaffolder: add missing changesets for template editor
  .changeset/eleven-mice-collect.md
  .changeset/polite-eagles-invite.md
Labels: awaiting-review

#12010 docs: add release notes for 1.3
  docs/releases/v1.3.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#12005 fix: removed unnecessary filter on spec.type at Github Open Pull Requests Board plugin
  .changeset/beige-horses-scream.md
  plugins/github-pull-requests-board/src/hooks/useUserRepositories.tsx
Labels: awaiting-review

#12022 chore: Make docstrings MDX compatible
  .changeset/curvy-weeks-matter.md
  packages/backend-common/src/reading/FetchUrlReader.ts
  packages/catalog-model/src/validation/CommonValidatorFunctions.ts
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/layout/ItemCard/ItemCardHeader.tsx
  plugins/techdocs-react/src/addons.tsx
Labels: catalog, docs-like-code

#12023 ADOPTERS.md: add new adopters
  ADOPTERS.md
Labels: awaiting-review

#12039 ADOPTERS.md: remove duplicate adopter
  ADOPTERS.md
Labels: awaiting-review

#11769 Bf entity context menu style
  .changeset/great-roses-pump.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityContextMenu/index.ts
  plugins/catalog/src/index.ts
  plugins/catalog/src/overridableComponents.ts
Labels: catalog

#12041 fix: check for `integrations.github` without retrieving `integrations`
  .changeset/unlucky-stingrays-juggle.md
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
Labels: catalog

#12038 chore: replace `integrations.bitbucket` with `[..].bitbucketCloud` in `app-config.yaml`
  app-config.yaml
Labels: awaiting-review

#11923 Add protoc gen doc support
  .changeset/red-games-decide.md
  plugins/api-docs-module-protoc-gen-doc/.eslintrc.js
  plugins/api-docs-module-protoc-gen-doc/README.md
  plugins/api-docs-module-protoc-gen-doc/api-report.md
  plugins/api-docs-module-protoc-gen-doc/package.json
  plugins/api-docs-module-protoc-gen-doc/src/index.ts
  plugins/api-docs-module-protoc-gen-doc/src/setupTests.ts
  plugins/api-docs-module-protoc-gen-doc/src/widgets.tsx
  yarn.lock
Labels: awaiting-review

#12054 feat(adrs): track discover event and result rank in AdrSearchResultListItem
  .changeset/thick-radios-drive.md
  plugins/adr/api-report.md
  plugins/adr/src/search/AdrSearchResultListItem.tsx
Labels: awaiting-review

#12057 refactor(ListTasksPage): swap MaterialTable with Table
  .changeset/wicked-icons-grin.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
Labels: scaffolder

#12035 Add type to EntityLinks
  .changeset/shaggy-melons-drive.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/schema/EntityMeta.schema.json
Labels: documentation, catalog, awaiting-review

#12055 Revert "fix(deps): update dependency glob to v8"
  .changeset/renovate-5618e69.md
  packages/cli/package.json
  plugins/catalog-backend/package.json
  yarn.lock
Labels: catalog

#12051 [TechDocs] Fix docker pull default on cli generate command
  .changeset/techdocs-the-whole-pulse.md
  packages/techdocs-cli/src/commands/index.ts
Labels: docs-like-code

#12088 Update ADOPTERS.md
  ADOPTERS.md
Labels: awaiting-review

#12021 docs: scaffolder: improve docs to setup the RepoUrlPicker authentication feature
  docs/auth/index.md
  docs/features/software-templates/writing-templates.md
  microsite/pages/en/link.js
Labels: documentation, microsite, awaiting-review

#11936 [Techdocs] Reorder tab title
  .changeset/techdocs-gorgeous-plants-sniff.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: docs-like-code, awaiting-review

#12103 Add Okay adopters use case
  ADOPTERS.md
Labels: awaiting-review

#12094 fix(githubPrBoard): support namespaced teams and all kinds
  .changeset/nasty-zoos-cross.md
  plugins/github-pull-requests-board/src/hooks/useUserRepositories.tsx
Labels: awaiting-review

#12117 docs: added dazn adopter
  ADOPTERS.md
Labels: awaiting-review

#12098 Cli/server: Fix webpack deprecation warnings
  .changeset/purple-beans-march.md
  packages/cli/src/lib/bundler/server.ts
Labels: awaiting-review

#11953 help add polarpoint to adopters
  ADOPTERS.md
Labels: awaiting-review

#12128 Improve Azure DevOps Backend Example
  .changeset/tame-guests-wave.md
  plugins/azure-devops-backend/README.md
Labels: awaiting-review

#12129 Added tutorial for Prometheus metrics
  contrib/docs/tutorials/prometheus-metrics-output.png
  contrib/docs/tutorials/prometheus-metrics.md
Labels: awaiting-review

#12073 More member exports from azure-devops
  .changeset/smooth-sheep-hide.md
  plugins/azure-devops/api-report.md
  plugins/azure-devops/src/index.ts
Labels: awaiting-review

#12033 Add Rootly plugin
  microsite/data/plugins/rootly.yaml
Labels: microsite, awaiting-review

#12080 [Vault Plugin] Add requested improvements
  .changeset/rude-llamas-lie.md
  .changeset/sharp-planes-turn.md
  plugins/vault-backend/api-report.md
  plugins/vault-backend/config.d.ts
  plugins/vault-backend/package.json
  plugins/vault-backend/src/service/VaultBuilder.tsx
  plugins/vault-backend/src/service/vaultApi.test.ts
  plugins/vault-backend/src/service/vaultApi.ts
  plugins/vault/api-report.md
  plugins/vault/package.json
  plugins/vault/src/api.test.ts
  plugins/vault/src/api.ts
  plugins/vault/src/components/EntityVaultTable/EntityVaultTable.test.tsx
  plugins/vault/src/components/EntityVaultTable/EntityVaultTable.tsx
  plugins/vault/src/conditions.ts
  plugins/vault/src/constants.ts
  plugins/vault/src/index.ts
  yarn.lock
Labels: awaiting-review

#12150 Add Funding Circle to ADOPTERS
  ADOPTERS.md
Labels: awaiting-review

#12168 TechInsightsBackend/README: Added 'scheduler' to code examples
  .changeset/breezy-poems-grab.md
  plugins/tech-insights-backend/README.md
Labels: awaiting-review

#12174 scaffolder: show dry-run error cause
  .changeset/breezy-seas-exist.md
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorForm.tsx
Labels: scaffolder

#12176 scaffolder: reduce max file size for dry-run content
  .changeset/strange-trains-collect.md
  plugins/scaffolder/src/components/TemplateEditorPage/DryRunContext.tsx
Labels: scaffolder

#12170 scaffolder: bump codemirror deps
  .changeset/curly-candles-battle.md
  plugins/scaffolder/package.json
  yarn.lock
Labels: scaffolder

#12161 Add DORA metrics plugin
  microsite/data/plugins/dora-metrics.yaml
  microsite/static/img/okay.png
Labels: microsite, awaiting-review

#12141 chore: Bump got to version 11.8.5
  yarn.lock
Labels: awaiting-review

#12180 [Search]: Fix search modal context scope
  .changeset/search-turtles-itch.md
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
Labels: search

#12120 auth-backend: remove deprecations
  .changeset/popular-pots-yell.md
  contrib/docs/tutorials/aws-alb-aad-oidc-auth.md
  docs/auth/bitbucket/provider.md
  docs/auth/identity-resolver.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/identity/index.ts
  plugins/auth-backend/src/identity/types.ts
  plugins/auth-backend/src/index.ts
  plugins/auth-backend/src/lib/catalog/helpers.ts
  plugins/auth-backend/src/lib/catalog/index.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.ts
  plugins/auth-backend/src/providers/atlassian/index.ts
  plugins/auth-backend/src/providers/atlassian/provider.ts
  plugins/auth-backend/src/providers/auth0/index.ts
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/aws-alb/index.ts
  plugins/auth-backend/src/providers/aws-alb/provider.ts
  plugins/auth-backend/src/providers/bitbucket/index.ts
  plugins/auth-backend/src/providers/bitbucket/provider.ts
  plugins/auth-backend/src/providers/factories.ts
  plugins/auth-backend/src/providers/gcp-iap/index.ts
  plugins/auth-backend/src/providers/gcp-iap/provider.ts
  plugins/auth-backend/src/providers/gcp-iap/types.ts
  plugins/auth-backend/src/providers/github/index.ts
  plugins/auth-backend/src/providers/github/provider.ts
  plugins/auth-backend/src/providers/gitlab/index.ts
  plugins/auth-backend/src/providers/gitlab/provider.ts
  plugins/auth-backend/src/providers/google/index.ts
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/index.ts
  plugins/auth-backend/src/providers/microsoft/index.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/oauth2-proxy/index.ts
  plugins/auth-backend/src/providers/oauth2-proxy/provider.ts
  plugins/auth-backend/src/providers/oauth2/index.ts
  plugins/auth-backend/src/providers/oauth2/provider.ts
  plugins/auth-backend/src/providers/oidc/index.ts
  plugins/auth-backend/src/providers/oidc/provider.test.ts
  plugins/auth-backend/src/providers/oidc/provider.ts
  plugins/auth-backend/src/providers/okta/index.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/onelogin/index.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
  plugins/auth-backend/src/providers/providers.ts
  plugins/auth-backend/src/providers/saml/index.ts
  plugins/auth-backend/src/providers/saml/provider.ts
  plugins/auth-backend/src/providers/types.ts
  plugins/auth-backend/src/service/router.ts
Labels: documentation, auth

#12204 chore(backstage-common): Improve plural handling of log output for secrets
  .changeset/quiet-pens-notice.md
  packages/backend-common/src/config.ts
Labels: awaiting-review

#12193 Add AWS Proton to plugin marketplace
  microsite/data/plugins/aws-proton.yaml
Labels: microsite, awaiting-review

#12205 chore(docs): Minor doc fixes
  docs/FAQ.md
  docs/getting-started/project-structure.md
Labels: documentation, awaiting-review

#12160 Added Humanitec plugin to the marketplace
  microsite/data/plugins/humanitec.yaml
  microsite/static/img/humanitec-logo.png
Labels: microsite

#12209 fix: adopters table border
  ADOPTERS.md
Labels: awaiting-review

#12050 [GitlabDiscoveryEntityProvider] Add possibility to scan all the groups in the project
  .changeset/two-crews-accept.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/config.d.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, catalog

#12217 docs: add node release section to versioning policy
  docs/overview/versioning-policy.md
Labels: documentation

#12220 Upgrade @rollup/plugin-node-resolve to 13.0.6
  .changeset/metal-singers-matter.md
  packages/cli/package.json
Labels: awaiting-review

#12195 Fixed Azure Discovery config example in the docs
  docs/integrations/azure/discovery.md
Labels: documentation, awaiting-review

#11645 Add OpenApiRefProcessor for handling $ref in OpenAPI specs
  .changeset/shy-cameras-develop.md
  plugins/catalog-backend-module-openapi/.eslintrc.js
  plugins/catalog-backend-module-openapi/README.md
  plugins/catalog-backend-module-openapi/api-report.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.test.ts
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.ts
  plugins/catalog-backend-module-openapi/src/index.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.test.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
  plugins/catalog-backend-module-openapi/src/lib/index.ts
  plugins/catalog-backend-module-openapi/src/setupTests.ts
  yarn.lock
Labels: catalog, awaiting-review

#12222 [ldap] Add possibility to resolve relations by RDN, in addition to UUID and …
  .changeset/twelve-candles-jump.md
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
Labels: catalog, awaiting-review

#12236 [Search]: Fix SearchBar Test
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
  plugins/search/src/components/SearchBar/SearchBar.test.tsx
Labels: search, awaiting-review

#12235 [Stack Overflow] point to config schema from package.json
  .changeset/strange-tables-flash.md
  plugins/stack-overflow-backend/config.d.ts
  plugins/stack-overflow-backend/package.json
  plugins/stack-overflow/config.d.ts
  plugins/stack-overflow/package.json
Labels: awaiting-review

#12044 added type predicates for entities
  .changeset/pretty-masks-live.md
  .changeset/silent-coats-brake.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/conditions.test.ts
  packages/catalog-model/src/entity/conditions.ts
  packages/catalog-model/src/entity/index.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.ts
  plugins/catalog-backend/src/search/util.ts
  plugins/catalog/src/components/EntitySwitch/conditions.ts
Labels: catalog, awaiting-review

#12113 Stichiboi/apache airflow plugin extension
  .changeset/lemon-goats-obey.md
  plugins/apache-airflow/README.md
  plugins/apache-airflow/api-report.md
  plugins/apache-airflow/src/api/ApacheAirflowApi.ts
  plugins/apache-airflow/src/api/ApacheAirflowClient.test.ts
  plugins/apache-airflow/src/api/ApacheAirflowClient.ts
  plugins/apache-airflow/src/components/DagTableComponent/DagTableComponent.test.tsx
  plugins/apache-airflow/src/components/DagTableComponent/DagTableComponent.tsx
  plugins/apache-airflow/src/index.ts
  plugins/apache-airflow/src/plugin.ts
Labels: awaiting-review

#12238 cli: remove deprecated commands
  .changeset/green-actors-argue.md
  packages/cli/src/commands/app/build.ts
  packages/cli/src/commands/app/serve.ts
  packages/cli/src/commands/backend/build.ts
  packages/cli/src/commands/backend/bundle.ts
  packages/cli/src/commands/backend/dev.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/oldBuild.ts
  packages/cli/src/commands/plugin/build.ts
  packages/cli/src/commands/plugin/serve.ts
Labels: awaiting-review

#12229 Added missing logos from plugins page
  microsite/data/plugins/gke-usage.yaml
  microsite/data/plugins/harbor.yaml
  microsite/data/plugins/humanitec.yaml
  microsite/static/img/gke-logo.png
Labels: microsite, awaiting-review

#11065 [TechDocs] Added configuration for local publishing target
  .changeset/calm-experts-buy.md
  .changeset/weak-llamas-repeat.md
  docs/features/techdocs/configuration.md
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/src/stages/publish/local.test.ts
  plugins/techdocs-node/src/stages/publish/local.ts
Labels: documentation, docs-like-code, awaiting-review

#12256 Fix typo
  docs/getting-started/index.md
Labels: documentation

#12255 Remove hardcoded color icon link vertical
  .changeset/bright-balloons-hide.md
  packages/core-components/src/components/HeaderIconLinkRow/IconLinkVertical.tsx
Labels: awaiting-review

#12131 Added support for custom time format in header clocks
  .changeset/silver-needles-unite.md
  packages/app/src/components/home/HomePage.tsx
  plugins/home/api-report.md
  plugins/home/src/components/index.ts
  plugins/home/src/homePageComponents/HeaderWorldClock/HeaderWorldClock.stories.tsx
  plugins/home/src/homePageComponents/HeaderWorldClock/HeaderWorldClock.test.tsx
  plugins/home/src/homePageComponents/HeaderWorldClock/HeaderWorldClock.tsx
  plugins/home/src/homePageComponents/HeaderWorldClock/index.ts
  plugins/home/src/homePageComponents/index.ts
  plugins/home/src/index.ts
  plugins/home/src/plugin.ts
Labels: awaiting-review

#12040 [Search] Use opensearch client conditionally
  .changeset/search-lightning-cult.md
  docs/features/search/search-engines.md
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/package.json
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientOptions.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-module-elasticsearch/src/engines/index.ts
  plugins/search-backend-module-elasticsearch/src/engines/types.ts
  plugins/search-backend-module-elasticsearch/src/index.ts
  yarn.lock
Labels: documentation, search

#12270 improve auth token parsing in the scaffolder backend
  .changeset/forty-seals-complain.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder, awaiting-review

#12249 Allow passing algorithm for token
  .changeset/plenty-clouds-guess.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/service/router.ts
Labels: auth, awaiting-review

#12281 adding VFNZ usage details for backstage
  ADOPTERS.md
Labels: awaiting-review

#12282 chore: fix for the time tests
  plugins/home/src/homePageComponents/HeaderWorldClock/HeaderWorldClock.test.tsx
Labels: awaiting-review

#12284 Add allowArbitraryValues in OwnedEntityPicker
  .changeset/weak-jeans-cry.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: scaffolder, awaiting-review

#12289 Use the custom cron action for DCO and renovate merges
  .github/workflows/automate_merge_renovate_prs.yaml
  .github/workflows/cron.yml
  .github/workflows/verify_dco.yaml
Labels: awaiting-review

#12290 update cron thing
  .github/workflows/cron.yml
Labels: awaiting-review

#12301 Update documentation of catalog readonly mode
  docs/features/software-catalog/configuration.md
Labels: documentation, awaiting-review

#12232 Add a DefaultParentEntityPolicy.
  .changeset/proud-toys-return.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/policies/GroupDefaultParentEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/GroupDefaultParentEntityPolicy.ts
  packages/catalog-model/src/entity/policies/index.ts
Labels: catalog

#12111 Docs update custom template actions
  docs/features/software-templates/adding-templates.md
  docs/features/software-templates/writing-custom-actions.md
  docs/features/software-templates/writing-templates.md
Labels: documentation, awaiting-review

#12197 Added details about installing addons package
  docs/features/techdocs/addons.md
Labels: documentation, awaiting-review

#12314 Use the custom PR action
  .github/workflows/pr.yaml
  .github/workflows/sync_approve_renovate_pr.yaml
Labels: awaiting-review

#12305 Explain how to enable techdocs cache
  docs/features/techdocs/configuration.md
Labels: documentation, docs-like-code

#11932 [Techdocs] Fix sticky sidebars from overlapping other content in Entity Pages
  .changeset/techdocs-sixty-mugs-hug.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: docs-like-code

#12317 Use the custom issue action
  .github/workflows/cron.yml
  .github/workflows/issue.yaml
  .github/workflows/pr.yaml
  .github/workflows/sync_issue-labels.yml
Labels: awaiting-review

#11806 Scaffolder: RepoUrlPicker: Add allowedRepos Option and move RepoName Input to own Component
  .changeset/hot-rice-sin.md
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/AzureRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/AzureRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GithubRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GithubRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
Labels: documentation, scaffolder

#12324 fix: EntityContextMenu display in an incorrect shape
  .changeset/five-fireants-run.md
  packages/core-components/src/layout/Header/Header.tsx
Labels: awaiting-review

#12345 chore: update early adopters for DAZN
  ADOPTERS.md
Labels: awaiting-review

#12323 Roadmap update for Q3 2022.
  docs/overview/roadmap.md
Labels: documentation

#12245 scripts/api-extractor: generate cli-report.md for CLI packages
  .changeset/smart-elephants-knock.md
  .prettierignore
  packages/cli/cli-report.md
  packages/cli/src/commands/test.ts
  packages/codemods/cli-report.md
  packages/create-app/cli-report.md
  packages/e2e-test/cli-report.md
  packages/techdocs-cli/cli-report.md
  scripts/api-extractor.ts
  scripts/generate-changeset-feedback.js
Labels: docs-like-code, awaiting-review

#12130 Added Support to Highlight PG Search Result Terms
  .changeset/metal-windows-share.md
  docs/features/search/search-engines.md
  packages/backend/src/plugins/search.ts
  plugins/search-backend-module-pg/README.md
  plugins/search-backend-module-pg/api-report.md
  plugins/search-backend-module-pg/config.d.ts
  plugins/search-backend-module-pg/package.json
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/index.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/search-backend-module-pg/src/database/types.ts
Labels: documentation, search
