Repository backstage/backstage, pull requests merged in 2022-05, with the labels that each got.

#11189 Bump TypeScript to 4.6
  .changeset/mean-seas-burn.md
  .changeset/wicked-vans-press.md
  package.json
  packages/create-app/templates/default-app/package.json.hbs
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  yarn.lock
Labels: catalog

#11122 Announce external links to screen readers
  .changeset/early-crabs-help.md
  packages/core-components/src/components/Link/Link.tsx
  plugins/git-release-manager/src/features/Features.test.tsx
Labels: awaiting-review

#11075 [AlertDisplay] Added props to alert display
  .changeset/lovely-houses-argue.md
  packages/core-components/api-report.md
  packages/core-components/src/components/AlertDisplay/AlertDisplay.tsx
  packages/core-components/src/components/AlertDisplay/index.ts
Labels: awaiting-review

#10786 Add aria landmarks
  .changeset/afraid-insects-do.md
  packages/core-components/src/layout/Page/Page.tsx
  packages/core-components/src/layout/Sidebar/Bar.tsx
  packages/core-components/src/layout/Sidebar/MobileSidebar.tsx
Labels: awaiting-review

#11168 Gerrit-catalog-plugin: Fix incorrect main entry
  .changeset/loud-peaches-warn.md
  plugins/catalog-backend-module-gerrit/package.json
Labels: catalog, awaiting-review

#11165 Add menu parent role for menu items
  .changeset/orange-elephants-laugh.md
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
Labels: catalog

#11176 Allow custom field extension validation
  .changeset/mean-owls-share.md
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/components/TemplatePage/createValidator.test.ts
  plugins/scaffolder/src/components/TemplatePage/createValidator.ts
  plugins/scaffolder/src/components/TemplatePage/index.ts
Labels: scaffolder, awaiting-review

#11201 renovate: automerge patch dependency bumps
  .github/renovate.json5
Labels: awaiting-review

#11205 gh action: skip approve if some files are not yarn.lock
  .github/workflows/sync_approve_renovate_pr.yaml
Labels: awaiting-review

#11210 Add Back Market to ADOPTERS.md
  ADOPTERS.md
Labels: awaiting-review

#11198 docs: add auth troubleshooting section
  docs/auth/troubleshooting.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#11017 Permission framework documentation
  .github/vale/Vocab/Backstage/accept.txt
  docs/assets/permission/disabled-unregister-entity.png
  docs/assets/permission/permission-framework-overview.drawio.svg
  docs/assets/permission/permission-todo-list-page.png
  docs/permission/concepts.md
  docs/permission/custom-rules.md
  docs/permission/getting-started.md
  docs/permission/overview.md
  docs/permission/plugin-authors/01-setup.md
  docs/permission/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permission/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permission/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permission/writing-a-policy.md
  microsite/sidebars.json
  plugins/example-todo-list-backend/.eslintrc.js
  plugins/example-todo-list-backend/README.md
  plugins/example-todo-list-backend/api-report.md
  plugins/example-todo-list-backend/package.json
  plugins/example-todo-list-backend/src/index.ts
  plugins/example-todo-list-backend/src/run.ts
  plugins/example-todo-list-backend/src/service/router.test.ts
  plugins/example-todo-list-backend/src/service/router.ts
  plugins/example-todo-list-backend/src/service/standaloneServer.ts
  plugins/example-todo-list-backend/src/service/todos.ts
  plugins/example-todo-list-backend/src/setupTests.ts
  plugins/example-todo-list-common/.eslintrc.js
  plugins/example-todo-list-common/README.md
  plugins/example-todo-list-common/api-report.md
  plugins/example-todo-list-common/package.json
  plugins/example-todo-list-common/src/index.ts
  plugins/example-todo-list-common/src/permissions.ts
  plugins/example-todo-list/.eslintrc.js
  plugins/example-todo-list/README.md
  plugins/example-todo-list/api-report.md
  plugins/example-todo-list/package.json
  plugins/example-todo-list/src/components/TodoList/TodoList.tsx
  plugins/example-todo-list/src/components/TodoList/index.ts
  plugins/example-todo-list/src/components/TodoListPage/TodoListPage.tsx
  plugins/example-todo-list/src/components/TodoListPage/index.ts
  plugins/example-todo-list/src/index.ts
  plugins/example-todo-list/src/plugin.test.ts
  plugins/example-todo-list/src/plugin.ts
  plugins/example-todo-list/src/routes.ts
  plugins/example-todo-list/src/setupTests.ts
Labels: documentation, microsite

#11232 Fix invalid aria- attribute
  .changeset/odd-apples-smash.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
Labels: catalog, awaiting-review

#11219 Fix link "bugs" in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: awaiting-review

#11216 auth-backend: oauth2 proxy refactor + integration example + doc updates
  .changeset/hungry-goats-mate.md
  app-config.yaml
  docs/auth/oauth2-proxy/provider.md
  packages/backend/src/plugins/auth.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/examples/docker-compose.oauth2-proxy.yaml
  plugins/auth-backend/src/providers/oauth2-proxy/provider.test.ts
  plugins/auth-backend/src/providers/oauth2-proxy/provider.ts
Labels: documentation, auth

#11239 correct and expose the IAP docs
  docs/auth/google/gcp-iap-auth.md
  docs/auth/index.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite, awaiting-review

#11217 docs: add section describing ProxiedSignInPage
  docs/auth/google/gcp-iap-auth.md
  docs/auth/index.md
  docs/auth/oauth2-proxy/provider.md
Labels: documentation

#11243 updated .dockerignore to make it easier to add additional backends
  .changeset/fresh-panthers-arrive.md
  .dockerignore
  docs/deployment/docker.md
  packages/create-app/templates/default-app/.dockerignore
Labels: documentation, awaiting-review

#11249 update docs for github org ingestion, and add scheduling to the provider
  .changeset/hungry-chefs-return.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-github/src/GitHubOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/GithubOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/index.ts
Labels: documentation, catalog

#11245 backend-tasks: Introduce human friendly scheduling
  .changeset/dirty-clocks-poke.md
  .changeset/fast-stingrays-guess.md
  docs/features/search/getting-started.md
  docs/features/software-catalog/external-integrations.md
  docs/integrations/aws-s3/discovery.md
  docs/integrations/gerrit/discovery.md
  docs/integrations/ldap/org.md
  packages/backend-tasks/README.md
  packages/backend-tasks/api-report.md
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.ts
  packages/backend-tasks/src/tasks/index.ts
  packages/backend-tasks/src/tasks/types.ts
  packages/backend/src/plugins/search.ts
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  packages/create-app/templates/default-app/packages/backend/src/plugins/search.ts.hbs
Labels: documentation

#11254 scaffolder-backend-module-rails: add allowedImageNames option
  .changeset/fluffy-poems-sell.md
  plugins/scaffolder-backend-module-rails/README.md
  plugins/scaffolder-backend-module-rails/api-report.md
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.ts
Labels: scaffolder

#11286 gh action: approve every day
  .github/workflows/sync_approve_renovate_pr.yaml
Labels: awaiting-review

#11279 [fix]: updates author url for ccf plugin
  microsite/data/plugins/cloud-carbon-footprint.yaml
Labels: microsite

#11175 [Search] Use batchSize of 1000 by default
  .changeset/search-the-worst-of-you.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-node/src/engines/LunrSearchEngineIndexer.ts
Labels: search, awaiting-review

#11186 Make Menu items on filters accessible through keyboard
  .changeset/witty-lions-reply.md
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
Labels: catalog, awaiting-review

#11068 PRFC: Moving `sample-data` into `create-app` templates
  .changeset/serious-apricots-collect.md
  app-config.yaml
  packages/catalog-model/examples/all.yaml
  packages/create-app/templates/default-app/app-config.yaml.hbs
  packages/create-app/templates/default-app/examples/entities.yaml
  packages/create-app/templates/default-app/examples/org.yaml
  packages/create-app/templates/default-app/examples/template/content/catalog-info.yaml
  packages/create-app/templates/default-app/examples/template/content/index.js
  packages/create-app/templates/default-app/examples/template/content/package.json
  packages/create-app/templates/default-app/examples/template/template.yaml
Labels: catalog

#11333 Add Avalia Systems to ADOPTERS list
  ADOPTERS.md
Labels: awaiting-review

#11308 scaffolder: Added the ability to reference the user that created the task in the templates
  .changeset/gentle-penguins-kick.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/migrations/20220129100000_created_by.js
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TaskSpec.ts
Labels: scaffolder, awaiting-review

#10815 chore: update the return type guard for `isGroupEntity`
  .changeset/chatty-pears-nail.md
  plugins/catalog-backend/src/search/util.ts
Labels: catalog

#11314 Roadmap update for Q3 2022
  docs/overview/roadmap.md
Labels: documentation, awaiting-review

#10777 Add CodeScene plugin
  .changeset/pretty-readers-grow.md
  .github/vale/Vocab/Backstage/accept.txt
  microsite/data/plugins/codescene.yaml
  microsite/static/img/codescene_logo.svg
  plugins/codescene/.eslintrc.js
  plugins/codescene/README.md
  plugins/codescene/api-report.md
  plugins/codescene/config.d.ts
  plugins/codescene/dev/index.tsx
  plugins/codescene/docs/codescene-plugin-screenshot.png
  plugins/codescene/package.json
  plugins/codescene/src/api/api.ts
  plugins/codescene/src/api/types.ts
  plugins/codescene/src/assets/codescene.icon.svg
  plugins/codescene/src/components/CodeHealthKpisCard/CodeHealthKpisCard.tsx
  plugins/codescene/src/components/CodeScenePageComponent/CodeScenePageComponent.test.tsx
  plugins/codescene/src/components/CodeScenePageComponent/CodeScenePageComponent.tsx
  plugins/codescene/src/components/CodeScenePageComponent/index.ts
  plugins/codescene/src/components/CodeSceneProjectDetailsPage/CodeSceneProjectDetailsPage.test.tsx
  plugins/codescene/src/components/CodeSceneProjectDetailsPage/CodeSceneProjectDetailsPage.tsx
  plugins/codescene/src/components/CodeSceneProjectDetailsPage/index.ts
  plugins/codescene/src/components/Gauge/Gauge.tsx
  plugins/codescene/src/components/ProjectsComponent/ProjectsComponent.test.tsx
  plugins/codescene/src/components/ProjectsComponent/ProjectsComponent.tsx
  plugins/codescene/src/components/ProjectsComponent/index.ts
  plugins/codescene/src/index.ts
  plugins/codescene/src/plugin.test.ts
  plugins/codescene/src/plugin.ts
  plugins/codescene/src/routes.ts
  plugins/codescene/src/setupTests.ts
  scripts/api-extractor.ts
Labels: microsite, awaiting-review

#11157 Add stream() to UrlReader.readUrl responses
  .changeset/backend-common-slips-away.md
  packages/backend-common/api-report.md
  packages/backend-common/package.json
  packages/backend-common/src/reading/AwsS3UrlReader.test.ts
  packages/backend-common/src/reading/AwsS3UrlReader.ts
  packages/backend-common/src/reading/AzureUrlReader.ts
  packages/backend-common/src/reading/BitbucketCloudUrlReader.test.ts
  packages/backend-common/src/reading/BitbucketCloudUrlReader.ts
  packages/backend-common/src/reading/BitbucketServerUrlReader.ts
  packages/backend-common/src/reading/BitbucketUrlReader.test.ts
  packages/backend-common/src/reading/BitbucketUrlReader.ts
  packages/backend-common/src/reading/FetchUrlReader.ts
  packages/backend-common/src/reading/GerritUrlReader.test.ts
  packages/backend-common/src/reading/GerritUrlReader.ts
  packages/backend-common/src/reading/GithubUrlReader.ts
  packages/backend-common/src/reading/GitlabUrlReader.ts
  packages/backend-common/src/reading/GoogleGcsUrlReader.ts
  packages/backend-common/src/reading/ReadUrlResponseFactory.test.ts
  packages/backend-common/src/reading/ReadUrlResponseFactory.ts
  packages/backend-common/src/reading/index.ts
  packages/backend-common/src/reading/types.ts
  yarn.lock
Labels: awaiting-review

#11330 Export the SortView frontend component from the Bazaar plugin for direct use
  .changeset/empty-planes-destroy.md
  plugins/bazaar/api-report.md
  plugins/bazaar/src/index.ts
Labels: awaiting-review

#11299 add Azure as a Kubernetes auth provider
  .changeset/big-teachers-dress.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/schema.d.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/AzureIdentityKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/KubernetesAuthTranslatorGenerator.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes/src/kubernetes-auth-provider/AzureKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/aks.test.ts
  plugins/kubernetes/src/utils/clusterLinks/formatters/aks.ts
Labels: documentation

#11395 [TechDocs] Allow Addon Tester to be extended
  .changeset/techdocs-money-banana-stand.md
  plugins/techdocs-addons-test-utils/api-report.md
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
Labels: docs-like-code, awaiting-review

#11341 fix(frontend): Fixed overflow bug of name and email on EntitiyMembersListCard component
  .changeset/dirty-ducks-suffer.md
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
Labels: awaiting-review

#11373 Add aria-label to sidebar & fix heading sizes in entity about card
  .changeset/rotten-impalas-clap.md
  packages/core-components/src/layout/Sidebar/Bar.tsx
  plugins/catalog/src/components/AboutCard/AboutField.tsx
Labels: catalog, awaiting-review

#11054 fix [Techdoc]btoa encoding
  .changeset/techdocs-hot-berries-collect.md
  plugins/techdocs/src/reader/transformers/addBaseUrl.ts
Labels: docs-like-code, awaiting-review

#11400 Add AH to backstage adopters
  ADOPTERS.md
Labels: awaiting-review

#11343 feat(starredEntitiesCard): show title if defined & hide unregistered entities
  .changeset/stale-pugs-kiss.md
  plugins/home/src/homePageComponents/StarredEntities/Content.test.tsx
  plugins/home/src/homePageComponents/StarredEntities/Content.tsx
  plugins/home/src/homePageComponents/StarredEntities/StarredEntities.stories.tsx
Labels: awaiting-review

#11328 Add generic OIDC as a Kubernetes auth provider
  .changeset/fluffy-sloths-deliver.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/schema.d.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/KubernetesAuthTranslatorGenerator.test.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/KubernetesAuthTranslatorGenerator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/OidcKubernetesAuthTranslator.test.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/OidcKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/api/types.ts
  plugins/kubernetes/src/hooks/useKubernetesObjects.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.test.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.ts
  plugins/kubernetes/src/kubernetes-auth-provider/OidcKubernetesAuthProvider.ts
  plugins/kubernetes/src/plugin.ts
Labels: documentation, k8s-plugin

#11346 fix(sidebar): fix various styling
  .changeset/shiny-moles-study.md
  .changeset/wise-doors-hammer.md
  packages/core-components/api-report.md
  packages/core-components/src/layout/Sidebar/Page.tsx
  packages/core-components/src/layout/Sidebar/SidebarSubmenuItem.tsx
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.tsx
Labels: awaiting-review

#11418 Revert "fix(deps): update dependency event-source-polyfill to v1.0.26"
  .changeset/renovate-abcbd6e2.md
  .github/renovate.json5
  plugins/scaffolder/package.json
  plugins/techdocs/package.json
  yarn.lock
Labels: docs-like-code, scaffolder

#11444 [TechDocs] Fix typing on addon test-utils' withApis()
  .changeset/techdocs-wee-britain.md
  plugins/techdocs-addons-test-utils/api-report.md
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
Labels: docs-like-code, awaiting-review

#11426 Add Wise to adopters
  ADOPTERS.md
Labels: awaiting-review

#11396 feat: allow repositories with nested namespace
  .changeset/dry-scissors-dream.md
  packages/integration/package.json
  packages/integration/src/gitlab/core.test.ts
  packages/integration/src/gitlab/core.ts
Labels: awaiting-review

#11344 [storybook] Enable controls in Storybook
  .changeset/sixty-bulldogs-hang.md
  packages/core-components/src/components/Chip/Chip.stories.tsx
  packages/core-components/src/components/DismissableBanner/DismissableBanner.stories.tsx
  packages/core-components/src/components/DismissableBanner/DismissableBanner.tsx
  packages/core-components/src/components/SimpleStepper/SimpleStepper.stories.tsx
  packages/core-components/src/layout/Header/Header.stories.tsx
  packages/core-components/src/layout/InfoCard/InfoCard.stories.tsx
  packages/core-components/src/layout/InfoCard/InfoCard.tsx
  storybook/.storybook/main.js
  storybook/package.json
  storybook/yarn.lock
Labels: awaiting-review

#11362 [Catalog Graph] Fix kind filter error in dev app
  .changeset/short-ears-sit.md
  plugins/catalog-graph/README.md
  plugins/catalog-graph/dev/index.tsx
  plugins/catalog-graph/package.json
Labels: catalog

#11488 [TechDocs] Work around node-fetch 2.x bug in TechDocs collator
  .changeset/techdocs-seal-deal.md
  plugins/techdocs-backend/src/search/DefaultTechDocsCollatorFactory.ts
Labels: docs-like-code

#11484 auth-backend: remove disableRefresh option
  .changeset/nervous-bears-brush.md
  .changeset/unlucky-bobcats-fold.md
  docs/auth/add-auth-provider.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.test.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/bitbucket/provider.ts
  plugins/auth-backend/src/providers/gitlab/provider.ts
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/oauth2/provider.ts
  plugins/auth-backend/src/providers/oidc/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
Labels: documentation, auth

#11496 Add configuration as data to plugin marketplace
  microsite/data/plugins/kpt-config-as-data.yaml
Labels: microsite, awaiting-review

#11497 fix(elasticSearch): do not define pageCursor on last page
  .changeset/pretty-hornets-listen.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
Labels: search, awaiting-review

#11467 fix(techdocs): update proxy endpoint for `techdocs-cli serve` command
  .changeset/techdocs-stupid-radios-approve.md
  packages/techdocs-cli/src/lib/httpServer.ts
Labels: docs-like-code, awaiting-review

#11514 fix(entityTypeFilter): generate unique available types
  .changeset/sweet-icons-sneeze.md
  plugins/catalog-react/src/hooks/useEntityTypeFilter.tsx
Labels: catalog, awaiting-review

#11422 feat: Add ability to customize Read More button destination in MissingAnnotationEmptyState component
  .changeset/fresh-beans-call.md
  packages/core-components/src/components/EmptyState/MissingAnnotationEmptyState.tsx
Labels: awaiting-review

#11087 [TechDocs] Integrate add-ons with create-app
  .changeset/lucky-masks-talk.md
  .changeset/spotty-papayas-shave.md
  cypress/src/integration/plugins/techdocs.spec.ts
  cypress/src/support/commands.ts
  docs/assets/techdocs/report-issue-addon.png
  docs/assets/techdocs/report-issue-template.png
  docs/features/techdocs/getting-started.md
  packages/create-app/package.json
  packages/create-app/src/lib/versions.ts
  packages/create-app/templates/default-app/packages/app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/src/App.tsx
  plugins/techdocs-module-addons-contrib/src/plugin.ts
Labels: documentation, docs-like-code

#11525 [Search] Allow modal to be controlled externally
  .changeset/search-gonna-get-hopons.md
  plugins/search/api-report.md
  plugins/search/package.json
  plugins/search/src/components/SearchModal/index.tsx
  plugins/search/src/components/SearchModal/useSearchModal.tsx
  plugins/search/src/components/SidebarSearchModal/SidebarSearchModal.tsx
  plugins/search/src/index.ts
Labels: search, awaiting-review

#11493 Fix alpha imports in permission docs
  docs/permission/custom-rules.md
  docs/permission/writing-a-policy.md
Labels: documentation

#11541 [SearchModal]: Fix parent context usage
  plugins/search/src/components/SearchModal/useSearchModal.tsx
Labels: search, awaiting-review

#11542 [TechDocs] Fix Entity Docs Routes
  .changeset/techdocs-dancers-battle.md
  plugins/techdocs/src/Router.tsx
Labels: docs-like-code, awaiting-review

#11545 Add v1.2.0 release notes
  docs/releases/v1.2.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#11502 TechDocs Addon Framework blog post
  microsite/blog/2022-05-13-techdocs-addon-framework.md
  microsite/blog/assets/22-05-13/techdocs-addon-header.gif
  microsite/blog/assets/22-05-13/techdocs-addon1.png
  microsite/blog/assets/22-05-13/techdocs-addon2.png
  microsite/blog/assets/22-05-13/techdocs-addon3.png
  microsite/blog/assets/22-05-13/techdocs-addon4.png
  microsite/blog/assets/22-05-13/techdocs-addon5.png
Labels: microsite

#11546 [TechDocs] Add Entity Docs Tests
  .changeset/techdocs-ways-type.md
  cypress/src/integration/plugins/catalog.spec.ts
  cypress/src/support/commands.ts
  cypress/src/types.d.ts
  plugins/techdocs/src/Router.tsx
Labels: docs-like-code

#11543 allow multiple component types
  .changeset/fluffy-candles-learn.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntitySwitch/conditions.test.ts
  plugins/catalog/src/components/EntitySwitch/conditions.ts
Labels: catalog, awaiting-review

#11556 fix: inline config interfaces
  .changeset/beige-deers-remember.md
  .changeset/nervous-gorillas-approve.md
  plugins/catalog-backend-module-aws/config.d.ts
  plugins/catalog-backend-module-gerrit/config.d.ts
  plugins/cost-insights/config.d.ts
Labels: catalog, awaiting-review

#11425 feat: Add exports for allure plugin annotation helpers
  .changeset/loud-jars-kick.md
  plugins/allure/api-report.md
  plugins/allure/src/index.ts
Labels: awaiting-review

#11600 chore(README): Minor copyright update
  README.md
Labels: awaiting-review

#11606 remove disclaimer from techdocs addons.md now that backstage 1.2 is out
  docs/features/techdocs/addons.md
Labels: documentation, awaiting-review

#11374 Updated Lockfile to allow for parsing of new yarn version lock files
  .changeset/fresh-items-punch.md
  packages/cli/package.json
  packages/cli/src/lib/version.test.ts
  packages/cli/src/lib/versioning/Lockfile.test.ts
  packages/cli/src/lib/versioning/Lockfile.ts
  yarn.lock
Labels: merge-after-release

#11342 Accessibility updates for the Catalog page and example App
  .changeset/blue-roses-give.md
  .changeset/olive-rats-rest.md
  .changeset/quick-ladybugs-try.md
  .changeset/short-jokes-applaud.md
  packages/app/src/components/Root/Root.tsx
  packages/core-components/src/components/Select/Select.tsx
  packages/core-components/src/components/Table/Table.tsx
  packages/create-app/templates/default-app/packages/app/src/components/Root/Root.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.test.tsx
Labels: catalog, scaffolder, awaiting-review

#10378 [TechDocs] Use DocsSyncroniser logger to get doc build logs
  .changeset/techdocs-paws-study.md
  plugins/techdocs-backend/api-report.md
  plugins/techdocs-backend/src/service/DocsSynchronizer.test.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
  plugins/techdocs-backend/src/service/router.ts
Labels: docs-like-code, awaiting-review

#11534 Add Restart to Backstage Task Worker
  .changeset/funny-suns-pay.md
  packages/backend-tasks/src/tasks/LocalTaskWorker.ts
  packages/backend-tasks/src/tasks/TaskWorker.ts
Labels: awaiting-review

#11594 Fix alpha imports in docs/permission/writing-a-policy.md
  docs/permission/writing-a-policy.md
Labels: documentation

#11540 [Scaffolder] Get data of other fields in Form from a custom field
  .changeset/scaffolder-form-context.md
  docs/features/software-templates/writing-custom-field-extensions.md
  plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.tsx
Labels: documentation, scaffolder, awaiting-review

#11554 Add configurable signing algorithm
  .changeset/polite-spiders-pay.md
  .changeset/tasty-snails-boil.md
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-node/api-report.md
  plugins/auth-node/src/IdentityClient.test.ts
  plugins/auth-node/src/IdentityClient.ts
  plugins/auth-node/src/index.ts
Labels: auth

#11513 Add Git actions to Plugins Marketplace
  docs/features/software-templates/writing-custom-actions.md
  microsite/data/plugins/scaffolder-backend-git.yaml
Labels: documentation, microsite

#11613 kubernetes: fix merge conflict of getMatchingHpa call
  plugins/kubernetes/src/components/StatefulSetsAccordions/StatefulSetsAccordions.tsx
Labels: awaiting-review

#11616 ADOPTERS.md: add 4 new adopters
  ADOPTERS.md
Labels: awaiting-review

#11463 feat/catalog-backend-module-gitlab: create url location only if file…
  .changeset/real-beers-type.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Labels: documentation, catalog, awaiting-review

#11609 [TechDocs]: Use object routes on entity docs pages
  .changeset/fair-grapes-joke.md
  .changeset/techdocs-buttons-film.md
  cypress/src/integration/plugins/catalog.spec.ts
  cypress/src/integration/plugins/techdocs.spec.ts
  packages/app/src/components/catalog/EntityPage.tsx
  packages/create-app/templates/default-app/packages/app/src/components/catalog/EntityPage.tsx
  plugins/techdocs/api-report.md
  plugins/techdocs/src/Router.tsx
Labels: docs-like-code, awaiting-review

#11420 Added scaffolder support for publishing to Gerrit
  .changeset/gold-tables-matter.md
  .changeset/poor-years-develop.md
  .changeset/ten-rocks-smile.md
  packages/integration/src/gerrit/GerritIntegration.test.ts
  packages/integration/src/gerrit/GerritIntegration.ts
  packages/integration/src/gerrit/core.test.ts
  packages/integration/src/gerrit/core.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/index.ts
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: scaffolder

#11573 feat(LDAP): added tls configuration
  .changeset/wicked-teachers-hide.md
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/config.d.ts
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/index.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgReaderProcessor.ts
Labels: catalog

#11630 backend-common: fix stuck s3 reading
  .changeset/odd-baboons-buy.md
  packages/backend-common/src/reading/AwsS3UrlReader.test.ts
  packages/backend-common/src/reading/AwsS3UrlReader.ts
Labels: awaiting-review

#11621 fix(sidebarItem): only add arrow icon to items with a submenu
  .changeset/mean-turtles-reply.md
  packages/core-components/src/layout/Sidebar/Items.tsx
Labels: awaiting-review

#11641 backend-common: changelog updates for patch release
  .changeset/odd-baboons-buy.md
  packages/backend-common/CHANGELOG.md
Labels: awaiting-review

#11640 fix references to search-backend-node
  .changeset/reject-failed-index-tasks.md
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/src/search/DefaultCatalogCollator.ts
  plugins/search-backend-module-elasticsearch/CHANGELOG.md
  plugins/search-backend-module-pg/CHANGELOG.md
  plugins/search-common/src/types.ts
  plugins/techdocs-backend/CHANGELOG.md
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.ts
Labels: catalog, docs-like-code, search, awaiting-review

#11648 Rename permission docs path to plural
  docs/assets/permissions/disabled-unregister-entity.png
  docs/assets/permissions/permission-framework-overview.drawio.svg
  docs/assets/permissions/permission-todo-list-page.png
  docs/permissions/concepts.md
  docs/permissions/custom-rules.md
  docs/permissions/getting-started.md
  docs/permissions/overview.md
  docs/permissions/plugin-authors/01-setup.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permissions/writing-a-policy.md
  microsite/sidebars.json
  plugins/example-todo-list-backend/README.md
  plugins/example-todo-list-common/README.md
  plugins/example-todo-list/README.md
Labels: documentation, microsite, awaiting-review

#11043 Add GitHub Pull Requests Board Plugin
  .changeset/moody-worms-rhyme.md
  microsite/data/plugins/github-pull-requests-board.yaml
  microsite/static/img/github-pull-requests-board-logo.svg
  plugins/github-pull-requests-board/.eslintrc.js
  plugins/github-pull-requests-board/README.md
  plugins/github-pull-requests-board/api-report.md
  plugins/github-pull-requests-board/docs/pull-requests-board.png
  plugins/github-pull-requests-board/package.json
  plugins/github-pull-requests-board/src/api/useGetPullRequestDetails.ts
  plugins/github-pull-requests-board/src/api/useGetPullRequestsFromRepository.ts
  plugins/github-pull-requests-board/src/api/useOctokitGraphQl.ts
  plugins/github-pull-requests-board/src/components/Card/Card.tsx
  plugins/github-pull-requests-board/src/components/Card/CardHeader.tsx
  plugins/github-pull-requests-board/src/components/Card/index.ts
  plugins/github-pull-requests-board/src/components/EntityTeamPullRequestsCard/EntityTeamPullRequestsCard.tsx
  plugins/github-pull-requests-board/src/components/EntityTeamPullRequestsCard/index.ts
  plugins/github-pull-requests-board/src/components/EntityTeamPullRequestsContent/EntityTeamPullRequestsContent.tsx
  plugins/github-pull-requests-board/src/components/EntityTeamPullRequestsContent/index.ts
  plugins/github-pull-requests-board/src/components/InfoCardHeader/InfoCardHeader.tsx
  plugins/github-pull-requests-board/src/components/InfoCardHeader/index.ts
  plugins/github-pull-requests-board/src/components/PullRequestBoardOptions/PullRequestBoardOptions.tsx
  plugins/github-pull-requests-board/src/components/PullRequestBoardOptions/index.ts
  plugins/github-pull-requests-board/src/components/PullRequestCard/PullRequestCard.tsx
  plugins/github-pull-requests-board/src/components/PullRequestCard/index.ts
  plugins/github-pull-requests-board/src/components/UserHeader/UserHeader.tsx
  plugins/github-pull-requests-board/src/components/UserHeader/index.ts
  plugins/github-pull-requests-board/src/components/UserHeaderList/UserHeaderList.tsx
  plugins/github-pull-requests-board/src/components/UserHeaderList/index.ts
  plugins/github-pull-requests-board/src/components/Wrapper/Wrapper.tsx
  plugins/github-pull-requests-board/src/components/Wrapper/index.ts
  plugins/github-pull-requests-board/src/components/icons/DraftPr/DraftPr.tsx
  plugins/github-pull-requests-board/src/components/icons/DraftPr/index.ts
  plugins/github-pull-requests-board/src/hooks/usePullRequestsByTeam.tsx
  plugins/github-pull-requests-board/src/hooks/useUserRepositories.tsx
  plugins/github-pull-requests-board/src/index.ts
  plugins/github-pull-requests-board/src/plugin.test.ts
  plugins/github-pull-requests-board/src/plugin.ts
  plugins/github-pull-requests-board/src/routes.ts
  plugins/github-pull-requests-board/src/setupTests.ts
  plugins/github-pull-requests-board/src/utils/constants.ts
  plugins/github-pull-requests-board/src/utils/functions.ts
  plugins/github-pull-requests-board/src/utils/types.tsx
Labels: microsite

#11643 Fix/knex signing keys length
  .changeset/fifty-planes-dream.md
  plugins/auth-backend/migrations/20220522100910_key_field_size.js
  plugins/auth-backend/src/identity/TokenFactory.ts
Labels: auth, awaiting-review

#11685 Cost insights: tooltip with a large number of projects is displayed
  .changeset/large-monkeys-visit.md
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewCard.tsx
Labels: awaiting-review

#11669 fix(elasticSearch): use more precise matching for query filters
  .changeset/search-eight-hounds-worry.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
Labels: search, awaiting-review

#11693 Log errors when tasks fail
  .changeset/wise-nails-hang.md
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.ts
  packages/backend-tasks/src/tasks/TaskWorker.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.ts
Labels: awaiting-review

#11664 Add edit url to GitHub teams
  .changeset/modern-pandas-agree.md
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
Labels: catalog, awaiting-review

#11665 Add Cloudify plugin
  microsite/data/plugins/cloudify.yaml
Labels: microsite, awaiting-review

#11659 (fix): bind 'this' properly for getKey function in ALB auth provider
  .changeset/tricky-hounds-cry.md
  plugins/auth-backend/src/providers/aws-alb/provider.ts
Labels: auth, awaiting-review

#11635 graphiql: fix headers not being included in requests
  .changeset/sixty-poems-drum.md
  plugins/graphiql/src/lib/api/GraphQLEndpoints.ts
Labels: awaiting-review

#11711 Updating `SignInResolver` documentation
  docs/getting-started/configuration.md
Labels: documentation, awaiting-review

#11683 bugfix: provide backstage token for rebuild api call
  .changeset/pretty-wolves-whisper.md
  plugins/jenkins-backend/src/service/router.ts
Labels: awaiting-review

#11622 Header Hierarchy Jump on Catalog Import Page
  .changeset/violet-apples-repair.md
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
Labels: catalog, awaiting-review

#11724 fix: EntityPage tab scrolling overflow bug on Firefox
  .changeset/lovely-gifts-itch.md
  packages/core-components/src/layout/HeaderTabs/HeaderTabs.tsx
Labels: awaiting-review

#11629 [Core Components] Version public sidebar contexts
  .changeset/give-that-wolf-a-banana.md
  .changeset/right-one-at-the-wrong-time.md
  .changeset/up-in-space-man.md
  packages/app/src/components/Root/Root.tsx
  packages/app/src/components/search/SearchPage.tsx
  packages/core-components/api-report.md
  packages/core-components/package.json
  packages/core-components/src/layout/Page/Page.tsx
  packages/core-components/src/layout/Sidebar/Bar.test.tsx
  packages/core-components/src/layout/Sidebar/Bar.tsx
  packages/core-components/src/layout/Sidebar/Intro.tsx
  packages/core-components/src/layout/Sidebar/Items.tsx
  packages/core-components/src/layout/Sidebar/MobileSidebar.tsx
  packages/core-components/src/layout/Sidebar/Page.tsx
  packages/core-components/src/layout/Sidebar/SidebarGroup.tsx
  packages/core-components/src/layout/Sidebar/SidebarOpenStateContext.test.tsx
  packages/core-components/src/layout/Sidebar/SidebarOpenStateContext.tsx
  packages/core-components/src/layout/Sidebar/SidebarPinStateContext.test.tsx
  packages/core-components/src/layout/Sidebar/SidebarPinStateContext.tsx
  packages/core-components/src/layout/Sidebar/SidebarSubmenu.tsx
  packages/core-components/src/layout/Sidebar/config.ts
  packages/core-components/src/layout/Sidebar/index.ts
  packages/create-app/templates/default-app/packages/app/src/components/Root/Root.tsx
  packages/techdocs-cli-embedded-app/src/components/Root/Root.tsx
  plugins/shortcuts/src/ShortcutItem.test.tsx
  plugins/shortcuts/src/Shortcuts.test.tsx
  plugins/techdocs/src/reader/transformers/styles/transformer.ts
  plugins/user-settings/src/components/General/UserSettingsAppearanceCard.tsx
  plugins/user-settings/src/components/General/UserSettingsPinToggle.test.tsx
  plugins/user-settings/src/components/General/UserSettingsPinToggle.tsx
  plugins/user-settings/src/components/SettingsPage.tsx
Labels: docs-like-code, awaiting-review

#11736 Add Laybuy to Adopters List
  ADOPTERS.md
Labels: awaiting-review

#11190 [Search] Introduce a generic .ndjson collator
  .changeset/search-eyes-of-them-all.md
  .changeset/search-martha-sways.md
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.ts
  plugins/search-backend-node/src/collators/index.ts
  plugins/search-backend-node/src/index.ts
  plugins/search-backend-node/src/test-utils/TestPipeline.ts
  yarn.lock
Labels: search

#11740 Cloudify Plugin metadata updates
  microsite/data/plugins/cloudify.yaml
Labels: microsite, awaiting-review

#11675 [Search] [Docs] Add a guide for integrating search into plugins
  docs/plugins/integrating-search-into-plugins.md
  microsite/sidebars.json
Labels: documentation, microsite

#11737 feat: add option to not protect the default branch
  .changeset/shiny-windows-roll.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#11729 [Kubernetes Plugin] Show more details on Requests/Limits
  .changeset/fluffy-wasps-chew.md
  plugins/kubernetes/src/components/Pods/PodsTable.test.tsx
  plugins/kubernetes/src/utils/pod.test.tsx
  plugins/kubernetes/src/utils/pod.tsx
Labels: awaiting-review
