Repository backstage/backstage, pull requests merged in 2022-08, with the labels that each got.

#12882 Catalog: fix conditional decision based on properties of type array
  .changeset/strange-moles-design.md
  plugins/catalog-backend/src/permissions/rules/createPropertyRule.test.ts
  plugins/catalog-backend/src/permissions/rules/createPropertyRule.ts
Labels: catalog

#12911 clarify caData field
  docs/features/kubernetes/configuration.md
Labels: documentation

#12832 Aggregate catalog permissions
  .changeset/lovely-walls-brush.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-common/api-report.md
  plugins/catalog-common/src/index.ts
  plugins/catalog-common/src/permissions.ts
Labels: catalog

#12925 [TechDocs] Bump action container
  .changeset/techdocs-eagles-stare.md
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/generate/techdocs.ts
Labels: docs-like-code

#11925 Add ability to configure multiple sonarqube instances
  .changeset/eighty-radios-look.md
  .changeset/forty-lobsters-guess.md
  .changeset/ten-roses-walk.md
  .github/vale/Vocab/Backstage/accept.txt
  plugins/sonarqube-backend/.eslintrc.js
  plugins/sonarqube-backend/README.md
  plugins/sonarqube-backend/api-report.md
  plugins/sonarqube-backend/package.json
  plugins/sonarqube-backend/src/index.ts
  plugins/sonarqube-backend/src/run.ts
  plugins/sonarqube-backend/src/service/router.test.ts
  plugins/sonarqube-backend/src/service/router.ts
  plugins/sonarqube-backend/src/service/sonarqubeInfoProvider.test.ts
  plugins/sonarqube-backend/src/service/sonarqubeInfoProvider.ts
  plugins/sonarqube-backend/src/service/standaloneServer.ts
  plugins/sonarqube-backend/src/setupTests.ts
  plugins/sonarqube/README.md
  plugins/sonarqube/src/api/SonarQubeApi.ts
  plugins/sonarqube/src/api/SonarQubeClient.test.ts
  plugins/sonarqube/src/api/SonarQubeClient.ts
  plugins/sonarqube/src/api/types.ts
  plugins/sonarqube/src/components/SonarQubeCard/SonarQubeCard.tsx
  plugins/sonarqube/src/components/useProjectKey.test.ts
  plugins/sonarqube/src/components/useProjectKey.ts
  plugins/sonarqube/src/plugin.ts
Labels: awaiting-review

#12933 Enhancing GitLab provider with filtering projects by pattern RegExp
  .changeset/cool-months-tickle.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, catalog

#12924 feat: techdocs-cli extra Docker options for serve/serve:mkdocs
  .changeset/weak-shrimps-deny.md
  docs/features/techdocs/cli.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/index.ts
  packages/techdocs-cli/src/commands/serve/mkdocs.ts
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/lib/mkdocsServer.test.ts
  packages/techdocs-cli/src/lib/mkdocsServer.ts
Labels: documentation, docs-like-code

#12951 Modify description column in entity tables to not have 'auto' width
  .changeset/green-laws-greet.md
  plugins/catalog-react/src/components/EntityTable/columns.tsx
Labels: catalog

#12950 Add Tekton Pipelines Plugin to the Backstage Marketplace
  microsite/data/plugins/tekton-pipelines.yaml
Labels: microsite

#12955 roadmap_updates-techdocs_search
  .github/vale/Vocab/Backstage/accept.txt
  docs/features/search/README.md
  docs/features/techdocs/README.md
  docs/overview/roadmap.md
Labels: documentation

#12986 Update org.md
  docs/integrations/azure/org.md
Labels: documentation

#12821 [Kubernetes plugin] CRDs are configurable per cluster
  .changeset/long-pumpkins-walk.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/types/types.ts
Labels: documentation, k8s-plugin, after-vacations

#13011 Expect the unexpected
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
Labels: catalog

#13008 Add `reviewers` and `teamReviewers` params to `publish:github:pull-request` action
  .changeset/tricky-ligers-move.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
Labels: scaffolder

#13016 GitHub Entity Provider - Improved support for wildcards in `catalogPath`
  .changeset/tall-mugs-press.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts
Labels: documentation, catalog

#12835 feat: add BitbucketServerEntityProvider (new plugin)
  .changeset/stupid-carpets-remain.md
  docs/integrations/bitbucket/discovery.md
  docs/integrations/bitbucketServer/discovery.md
  docs/integrations/bitbucketServer/locations.md
  microsite/sidebars.json
  mkdocs.yml
  plugins/catalog-backend-module-bitbucket-server/.eslintrc.js
  plugins/catalog-backend-module-bitbucket-server/CHANGELOG.md
  plugins/catalog-backend-module-bitbucket-server/README.md
  plugins/catalog-backend-module-bitbucket-server/api-report.md
  plugins/catalog-backend-module-bitbucket-server/config.d.ts
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-bitbucket-server/src/index.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/index.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/types.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerLocationParser.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/index.ts
  plugins/catalog-backend-module-bitbucket-server/src/setupTests.ts
Labels: documentation, catalog, microsite

#13044 use the right msw version
  plugins/catalog-backend-module-bitbucket-server/package.json
Labels: catalog

#13048 Version Packages (next)
  .changeset/create-app-1660127534.md
  .changeset/pre.json
  docs/releases/v1.5.0-next.3-changelog.md
  package.json
  packages/backend-common/CHANGELOG.md
  packages/backend-common/package.json
  packages/create-app/CHANGELOG.md
  packages/create-app/package.json
  plugins/adr-backend/CHANGELOG.md
  plugins/adr-backend/package.json
  plugins/adr-common/CHANGELOG.md
  plugins/adr-common/package.json
  plugins/adr/CHANGELOG.md
  plugins/adr/package.json
Labels: documentation

#13079 create-app: move better-sqlite3 back to dependencies
  .changeset/loud-ears-taste.md
  docs/deployment/docker.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
Labels: documentation

#13075 scaffolder-backend: deprecate publish:file action
  .changeset/fresh-rockets-yell.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/file.ts
Labels: scaffolder

#12973 Update app-custom-theme.md
  docs/getting-started/app-custom-theme.md
Labels: documentation

#12814 OpenApiRefProcessor: add basepath support for $ref
  .changeset/strong-birds-pretend.md
  plugins/catalog-backend-module-openapi/README.md
  plugins/catalog-backend-module-openapi/api-report.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.test.ts
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.ts
  plugins/catalog-backend-module-openapi/src/index.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.test.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
  plugins/catalog-backend-module-openapi/src/openApiPlaceholderResolver.test.ts
  plugins/catalog-backend-module-openapi/src/openApiPlaceholderResolver.ts
Labels: catalog

#13104 chore: adding a note about division mode
  docs/tutorials/switching-sqlite-postgres.md
Labels: documentation

#13035 fix(auth-plugin-backend): Allow it to skip migrations
  .changeset/fuzzy-months-study.md
  plugins/auth-backend/src/identity/DatabaseKeyStore.test.ts
  plugins/auth-backend/src/identity/DatabaseKeyStore.ts
  plugins/auth-backend/src/identity/KeyStores.ts
Labels: auth

#13116 backend-plugin-api: handle optional plugin and module options
  .changeset/giant-swans-change.md
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/wiring/factories.test.ts
  packages/backend-plugin-api/src/wiring/factories.ts
  packages/backend-plugin-api/src/wiring/index.ts
  packages/backend-plugin-api/src/wiring/types.ts
  plugins/catalog-backend/api-report.md
  plugins/scaffolder-backend/api-report.md
Labels: catalog, scaffolder

#13124 backend-app-api: Rename types
  .changeset/cyan-pens-suffer.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/BackstageBackend.ts
  packages/backend-app-api/src/wiring/index.ts
  packages/backend-app-api/src/wiring/types.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/wiring/factories.ts
  packages/backend-plugin-api/src/wiring/index.ts
  packages/backend-plugin-api/src/wiring/types.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/next/wiring/TestBackend.test.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  packages/backend-test-utils/src/next/wiring/index.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/extensions.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/extension/ScaffolderCatalogModule.test.ts
Labels: catalog, scaffolder

#13146 Fix authorization header invalid for scaffolder create
  .changeset/smooth-planes-itch.md
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#13145 chore: add the documentation to the sidebar
  docs/plugins/customization.md
  microsite/sidebars.json
Labels: documentation, microsite

#13130 Fixes #13126
  .changeset/serious-flowers-smash.md
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts
Labels: catalog

#13090 [TechDocs] Fix large headings
  .changeset/dull-fans-hug.md
  plugins/techdocs/src/reader/transformers/styles/rules/typeset.ts
Labels: docs-like-code

#13172 mob: Fixing scaffolder windows templating
  .changeset/khaki-fans-brake.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
Labels: scaffolder

#13127 Update cli-build-system.md
  docs/local-dev/cli-build-system.md
Labels: documentation

#13076 scaffolder-backend: removed the publish:file action
  .changeset/silent-kings-live.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/file.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/index.ts
Labels: scaffolder

#13073 create-app/docker: hardening, usability, and doc updates
  .changeset/hot-files-begin.md
  contrib/docker/cookiecutter-with-jinja2-extensions/Dockerfile
  contrib/docker/cookiecutter-with-jinja2-extensions/README.md
  contrib/docker/kubernetes-example-backend/Dockerfile
  contrib/docker/kubernetes-example-backend/README.md
  docs/deployment/docker.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#13171 Add 1.5.0 release notes
  docs/releases/v1.5.0.md
Labels: documentation

#13176 Add homepage to github:publish options
  .changeset/beige-pumas-tap.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#12696 Added getSystemIcons() function to the AppManager
  .changeset/hungry-dogs-agree.md
  docs/assets/getting-started/add-icons-links-example.png
  docs/getting-started/app-custom-theme.md
  packages/core-app-api/api-report.md
  packages/core-app-api/src/app/AppContext.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-app-api/src/app/types.ts
  packages/core-app-api/src/routing/RoutingProvider.test.tsx
  packages/core-plugin-api/api-report.md
Labels: documentation, do-not-merge, merge-after-release

#13215 Typo in README for catalog-backend-module-msgraph
  .changeset/witty-cats-wink.md
  plugins/catalog-backend-module-msgraph/README.md
Labels: catalog

#13218 microsite: fix release page
  microsite/sidebars.json
Labels: microsite

#13141 Fix/allow skip migrations all plugins
  .changeset/cold-frogs-kiss.md
  .changeset/light-beans-share.md
  .changeset/rude-books-rush.md
  packages/backend-tasks/src/tasks/TaskScheduler.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.test.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.ts
  plugins/app-backend/src/service/router.ts
  plugins/bazaar-backend/src/service/DatabaseHandler.test.ts
  plugins/bazaar-backend/src/service/DatabaseHandler.ts
  plugins/bazaar-backend/src/service/router.ts
  plugins/code-coverage-backend/src/service/CodeCoverageDatabase.test.ts
  plugins/code-coverage-backend/src/service/CodeCoverageDatabase.ts
  plugins/code-coverage-backend/src/service/router.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.test.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/search-backend-module-pg/api-report.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/tech-insights-backend/src/service/persistence/TechInsightsDatabase.test.ts
  plugins/tech-insights-backend/src/service/persistence/persistenceContext.ts
  plugins/tech-insights-backend/src/service/techInsightsContextBuilder.ts
Labels: search, scaffolder

#13228 it just keeps :broom: -ing
  .changeset/tough-dolphins-smile.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.ts
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/plugin-options/usePluginOptions.tsx
  plugins/api-docs/api-report.md
  plugins/api-docs/src/components/ApiDefinitionCard/ApiDefinitionCard.tsx
  plugins/api-docs/src/components/ApiDefinitionCard/ApiDefinitionWidget.tsx
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.tsx
  plugins/api-docs/src/components/AsyncApiDefinitionWidget/AsyncApiDefinitionWidget.tsx
  plugins/api-docs/src/components/ComponentsCards/ProvidingComponentsCard.tsx
  plugins/api-docs/src/components/GraphQlDefinitionWidget/GraphQlDefinitionWidget.tsx
  plugins/api-docs/src/components/GrpcApiDefinitionWidget/GrpcApiDefinitionWidget.tsx
  plugins/api-docs/src/components/OpenApiDefinitionWidget/OpenApiDefinitionWidget.tsx
  plugins/api-docs/src/components/PlainApiDefinitionWidget/PlainApiDefinitionWidget.tsx
  plugins/api-docs/src/config.ts
  plugins/api-docs/src/index.ts
  plugins/api-docs/src/plugin.ts
  plugins/apollo-explorer/api-report.md
  plugins/apollo-explorer/src/components/ApolloExplorerPage/ApolloExplorerPage.tsx
  plugins/azure-devops-backend/api-report.md
  plugins/azure-devops-backend/src/api/AzureDevOpsApi.ts
  plugins/badges-backend/api-report.md
  plugins/badges-backend/src/badges.ts
  plugins/badges-backend/src/lib/BadgeBuilder/DefaultBadgeBuilder.ts
  plugins/badges-backend/src/lib/BadgeBuilder/types.ts
  plugins/badges-backend/src/service/router.ts
  plugins/badges-backend/src/types.ts
  plugins/badges/api-report.md
  plugins/badges/src/components/EntityBadgesDialog.tsx
  plugins/badges/src/plugin.ts
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityTable/columns.tsx
  plugins/circleci/api-report.md
  plugins/circleci/src/api/CircleCIApi.ts
  plugins/cloudbuild/api-report.md
  plugins/cloudbuild/src/components/Cards/Cards.tsx
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
  plugins/cloudbuild/src/components/WorkflowRunStatus/WorkflowRunStatus.tsx
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
  plugins/cloudbuild/src/components/useWorkflowRuns.ts
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/components/HorizontalPodAutoscalers/HorizontalPodAutoscalerDrawer.tsx
  plugins/kubernetes/src/components/HorizontalPodAutoscalers/index.ts
  plugins/kubernetes/src/components/Pods/PodDrawer.tsx
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.ts
  plugins/sonarqube-backend/api-report.md
  plugins/sonarqube-backend/src/service/sonarqubeInfoProvider.ts
  plugins/techdocs/api-report.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageSubheader/TechDocsReaderPageSubheader.tsx
  scripts/api-extractor.ts
Labels: catalog, docs-like-code, search, scaffolder

#12952 scaffolder(next): Support `async` validation for `CustomFieldExtensions` and run validation for `type: object`
  .changeset/sharp-swans-suffer.md
  packages/app/src/App.tsx
  packages/app/src/components/scaffolder/customScaffolderExtensions.tsx
  plugins/scaffolder/api-report.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/extensions/types.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/createAsyncValidators.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/schema.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/useTemplateSchema.ts
  yarn.lock
Labels: scaffolder

#13115 [techdocs/cli] Use light theme if it's not dark
  packages/techdocs-cli-embedded-app/src/components/TechDocsPage/TechDocsPage.tsx
Labels: docs-like-code, stale

#13239 integration/docs: Clarify GCS credentials discovery config requirement
  docs/integrations/google-cloud-storage/locations.md
Labels: documentation

#13246 scaffolder(next): implement the review step
  .changeset/two-planets-provide.md
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/ReviewState.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/ReviewState.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/useTemplateSchema.ts
Labels: scaffolder

#13197 backend-system: add default service factories
  .changeset/gorgeous-swans-kiss.md
  .changeset/old-tables-joke.md
  .changeset/spicy-cherries-remember.md
  .changeset/strong-games-kiss.md
  .changeset/tame-papayas-protect.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/BackstageBackend.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.test.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.ts
  packages/backend-app-api/src/wiring/types.ts
  packages/backend-defaults/api-report.md
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/system/index.ts
  packages/backend-plugin-api/src/services/system/types.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/module.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/extensions.ts
Labels: catalog

#12754 fix(ldap): search stream does not await callbacks
  .changeset/slimy-zebras-reply.md
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/util.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/util.ts
Labels: catalog

#13160 Feat: Added support to mysql on some raw queries
  .changeset/five-carrots-pay.md
  packages/backend-tasks/src/tasks/TaskWorker.ts
  packages/backend-tasks/src/tasks/util.test.ts
  packages/backend-tasks/src/tasks/util.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
Labels: catalog

#13125 [TechDocs] Update title and subtitle when location changes
  .changeset/techdocs-jeans-wait.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: docs-like-code, stale

#13277 scaffolder: Fix empty string handling in `EntityPicker`
  .changeset/dry-games-end.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: scaffolder

#13289 [scaffolder] Include entity metadata in ctx.templateInfo
  .changeset/shaggy-chicken-behave.md
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TaskSpec.ts
Labels: scaffolder

#10394 cli: Replace `sucrase` with `swc` for transpilation
  .changeset/beige-monkeys-add.md
  .changeset/nervous-rivers-sneeze.md
  .changeset/rotten-books-crash.md
  packages/app/package.json
  packages/app/src/App.tsx
  packages/backend-common/api-report.md
  packages/backend-common/src/reading/AwsS3UrlReader.ts
  packages/cli/config/jest.js
  packages/cli/config/jestEsmTransform.js
  packages/cli/config/jestSwcTransform.js
  packages/cli/package.json
  packages/cli/src/commands/versions/bump.test.ts
  packages/cli/src/lib/bundler/config.ts
  packages/cli/src/lib/bundler/transforms.ts
  packages/cli/src/lib/versioning/packages.test.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.test.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/devApp/render.tsx
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.test.ts
  plugins/auth-backend/src/providers/atlassian/provider.test.ts
  plugins/auth-backend/src/providers/bitbucket/provider.test.ts
  plugins/auth-backend/src/providers/github/provider.test.ts
  plugins/auth-backend/src/providers/gitlab/provider.test.ts
  plugins/auth-backend/src/providers/google/provider.test.ts
  plugins/auth-backend/src/providers/microsoft/provider.test.ts
  plugins/auth-backend/src/providers/oauth2/provider.test.ts
  plugins/auth-backend/src/providers/okta/provider.test.ts
  plugins/bitrise/src/components/BitriseBuildDetailsDialog/BitriseBuildDetailsDialog.test.tsx
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.test.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.test.tsx
  storybook/.storybook/main.js
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Labels: catalog, auth, docs-like-code, will-fix, scaffolder, awaiting-review, merge-after-release

#13237 Auth Backend: Add JWT to CloudflareAccessResult
  .changeset/rich-cooks-camp.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/cloudflare-access/provider.test.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.ts
Labels: auth

#13185 docs: add threat model
  docs/overview/threat-model.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#13192 CTA updates for Backstage.io
  docs/overview/roadmap.md
  microsite/blog/2020-06-22-backstage-service-catalog-alpha.md
  microsite/blog/2020-08-05-announcing-backstage-software-templates.md
  microsite/blog/2020-09-23-backstage-cncf-sandbox.md
  microsite/blog/2021-06-22-spotify-backstage-is-growing.md
  microsite/blog/2021-09-30-50-public-adopters.md
  microsite/core/Footer.js
  microsite/core/HubSpotForm.js
  microsite/core/Typeform.js
  microsite/pages/en/community.js
  microsite/pages/en/index.js
  microsite/pages/en/live.js
  microsite/static/css/custom.css
Labels: documentation, do-not-merge, microsite

#13313 refactors to avoid using useParams where possible
  .changeset/famous-wombats-happen.md
  plugins/cloudbuild/src/components/WorkflowRunDetails/useWorkflowRunsDetails.ts
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/tech-insights/src/components/ScorecardsCard/ScorecardsCard.tsx
  plugins/tech-insights/src/components/ScorecardsContent/ScorecardContent.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
Labels: docs-like-code, scaffolder

#13278 Remove usages of cross-fetch in purely backend packages
  .changeset/large-eagles-shop.md
  plugins/airbrake-backend/package.json
  plugins/catalog-backend-module-bitbucket-server/api-report.md
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  plugins/dynatrace/package.json
  plugins/dynatrace/src/setupTests.ts
  plugins/example-todo-list-backend/package.json
  plugins/periskop-backend/package.json
  plugins/stack-overflow-backend/package.json
  plugins/stack-overflow-backend/src/search/StackOverflowQuestionsCollatorFactory.ts
  plugins/vault-backend/package.json
  plugins/vault-backend/src/service/vaultApi.ts
  yarn.lock
Labels: catalog

#13299 catalog-ms-graph: fixes #13298, ignored userExpand and groupExpand parameters
  .changeset/afraid-radios-boil.md
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
Labels: catalog

#13323 just some more use of setupRequestMockHandlers
  .changeset/big-dolls-reflect.md
  plugins/auth-node/package.json
  plugins/auth-node/src/IdentityClient.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.test.ts
  plugins/catalog-backend-module-bitbucket/src/BitbucketDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.test.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollatorFactory.test.ts
  plugins/github-deployments/src/components/GithubDeploymentsCard.test.tsx
  plugins/permission-node/package.json
  plugins/permission-node/src/ServerPermissionClient.test.ts
Labels: catalog, auth

#13177 fix(catalog-backend): add entity ref within errors
  .changeset/small-lemons-brake.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
Labels: catalog

#13349 Properly handle free-text entity filtering in the case of empty tag arrays
  .changeset/large-trainers-float.md
  plugins/catalog-react/src/filters.ts
Labels: catalog

#13350 index a null for large values as well
  .changeset/gold-hounds-vanish.md
  plugins/catalog-backend/src/stitching/buildEntitySearch.test.ts
  plugins/catalog-backend/src/stitching/buildEntitySearch.ts
Labels: catalog

#13330 Add ProjectID to the output for #10907
  .changeset/good-papayas-dress.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts
Labels: scaffolder

#13396 v1.5.1
  package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  yarn.lock
Labels: scaffolder

#13297 Fix in-doc search no result when title has stopwords
  .changeset/heavy-ligers-laugh.md
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
Labels: search

#13399 docs/publishing: couple of clarifications
  docs/publishing.md
Labels: documentation

#13395 chore: fix range for `scaffolder-backend` deps
  .changeset/lovely-ants-invite.md
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  yarn.lock
Labels: scaffolder

#13400 Add support for other `hosts` in `GitHubEntityProvider`
  .changeset/smooth-yaks-hug.md
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.ts
Labels: catalog

#13406 Enable ae-dir LDAP vendor
  .changeset/many-rules-raise.md
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
Labels: catalog

#13370 fix: return refresh keys if item is cached
  .changeset/great-cats-sit.md
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.ts
Labels: catalog

#13304 microsite: add security audit blog post
  microsite/blog/2022-08-23-backstage-security-audit.md
  microsite/blog/assets/22-08-23/X41-Backstage-Audit-2022.pdf
  microsite/blog/assets/22-08-23/backstage-security-audit.png
Labels: microsite

#13377 [Scaffolder Backend] add repository ID output in Azure publish action
  .changeset/pink-moons-smell.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.ts
Labels: scaffolder

#13441 Bump `git-url-parse`
  .changeset/cuddly-needles-marry.md
  packages/backend-common/package.json
  packages/integration/package.json
  plugins/adr/package.json
  plugins/catalog-backend/package.json
  plugins/catalog-import/package.json
  plugins/scaffolder-backend/package.json
  plugins/scaffolder/package.json
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-node/package.json
  plugins/techdocs/package.json
  yarn.lock
Labels: catalog, docs-like-code, scaffolder

#13169 Add support for "broken" symlinks in the scaffolder backend
  .changeset/light-donuts-obey.md
  plugins/scaffolder-backend/src/lib/files/deserializeDirectoryContents.test.ts
  plugins/scaffolder-backend/src/lib/files/serializeDirectoryContents.test.ts
  plugins/scaffolder-backend/src/lib/files/serializeDirectoryContents.ts
  plugins/scaffolder-backend/src/lib/files/types.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
Labels: scaffolder

#13312 Fix a complex case where uiSchema loses previous values
  .changeset/slimy-stingrays-type.md
  plugins/scaffolder/src/components/MultistepJsonForm/schema.test.ts
  plugins/scaffolder/src/components/MultistepJsonForm/schema.ts
Labels: scaffolder

#13347 catalog-node: Export experimental catalogServiceRef
  .changeset/chatty-cars-kick.md
  .changeset/purple-jeans-bathe.md
  .changeset/stupid-pigs-appear.md
  packages/backend-app-api/src/wiring/ServiceRegistry.test.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.ts
  plugins/catalog-node/api-report.md
  plugins/catalog-node/package.json
  plugins/catalog-node/src/catalogService.test.ts
  plugins/catalog-node/src/catalogService.ts
  plugins/catalog-node/src/index.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/index.ts
Labels: catalog, scaffolder

#13420 fix: Include bucketRootPath in AWS/GCS publisher for Techdocs
  .changeset/big-spies-check.md
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.test.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.ts
Labels: docs-like-code

#13345 Limit the length of errors that get written to the database
  .changeset/spotty-points-build.md
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.ts
Labels: catalog
