Repository backstage/backstage, pull requests merged in 2022-07, with the labels that each got.

#12325 Allow FactRetrieverRegistry to be injected into builder for flexibility
  .changeset/eighty-windows-brush.md
  plugins/tech-insights-backend/api-report.md
  plugins/tech-insights-backend/src/index.ts
  plugins/tech-insights-backend/src/service/fact/FactRetrieverRegistry.ts
  plugins/tech-insights-backend/src/service/techInsightsContextBuilder.test.ts
  plugins/tech-insights-backend/src/service/techInsightsContextBuilder.ts
Labels: awaiting-review

#12372 [Search] Fix page cursor cleanup
  .changeset/search-boats-double.md
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
Labels: search, awaiting-review

#12347 fix(auth-backend): adds missing createAuthProviderExport
  .changeset/polite-lions-sell.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/index.ts
Labels: auth

#12401 api-extractor: give cli commands even more time
  scripts/api-extractor.ts
Labels: awaiting-review

#12396 fix: cost-insights api docs warnings
  plugins/cost-insights/api-report.md
  plugins/cost-insights/src/types/index.ts
Labels: awaiting-review

#12397 Upgrade git-url-parse to 12.0.0
  .changeset/short-deers-remember.md
  packages/backend-common/package.json
  packages/integration/package.json
  plugins/adr/package.json
  plugins/catalog-backend/package.json
  plugins/catalog-import/package.json
  plugins/scaffolder-backend/package.json
  plugins/scaffolder/package.json
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-node/package.json
  plugins/techdocs/package.json
  yarn.lock
Labels: catalog, docs-like-code, scaffolder, awaiting-review

#12363 Add missing installation steps to plugin-badges-backend
  .changeset/shiny-seahorses-do.md
  plugins/badges-backend/README.md
Labels: awaiting-review

#12196 feat: align msgraph provider config
  .changeset/long-bananas-rescue.md
  app-config.yaml
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.test.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.test.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.ts
  plugins/catalog-backend-module-msgraph/src/processors/index.ts
Labels: catalog, awaiting-review

#12172 [Search] improve search error handling when missing index
  .changeset/small-shoes-hide.md
  .changeset/tender-chicken-learn.md
  .changeset/two-owls-cry.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
  plugins/search-backend-node/src/errors.ts
  plugins/search-backend-node/src/index.ts
  plugins/search-backend/src/service/router.ts
Labels: search

#12447 Update architecture-overview.md
  docs/overview/architecture-overview.md
Labels: documentation

#12442 Feat/allow to post into auth refresh
  .changeset/ten-cobras-wash.md
  docs/auth/add-auth-provider.md
  plugins/auth-backend/src/service/router.ts
Labels: documentation, auth

#12393 (feat): New kubernetes backend endpoints
  .changeset/little-geckos-end.md
  packages/backend/src/plugins/kubernetes.ts
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/router.ts
  plugins/kubernetes-backend/src/service/standaloneApplication.ts
Labels: awaiting-review

#12362 Adding a new setUserAsOwner flag to publish:gitlab action.
  .changeset/pink-cars-pretend.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts
Labels: scaffolder, awaiting-review

#12445 Fixed broken link in docs
  docs/integrations/github/github-apps.md
Labels: documentation

#12406 Update tech radar docs on using an external datasource
  .changeset/fifty-vans-drum.md
  plugins/tech-radar/README.md
Labels: awaiting-review

#12373 (feat): easier Kubernetes local development steps
  .changeset/fifty-cars-compare.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/examples/dice-roller/README.md
  plugins/kubernetes-backend/src/cluster-locator/LocalKubectlProxyLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/index.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/KubernetesAuthTranslatorGenerator.ts
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/kubernetes-auth-provider/AwsKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/GoogleServiceAccountAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.ts
  plugins/kubernetes/src/kubernetes-auth-provider/ServerSideAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/index.ts
Labels: documentation, awaiting-review

#12359 feat: [#12248] Switch to new okta strategy
  .changeset/spicy-walls-repair.md
  docs/auth/okta/provider.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/okta/types.d.ts
  yarn.lock
Labels: documentation, auth

#12486 contextMenu prop passed through to ScaffolderPage from Router
  .changeset/nervous-hounds-matter.md
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPage.tsx
Labels: scaffolder

#12156 feat: add support for refreshKeys
  .changeset/cold-coins-tickle.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/migrations/20220616202842_refresh_keys.js
  plugins/catalog-backend/src/api/index.ts
  plugins/catalog-backend/src/api/processingResult.ts
  plugins/catalog-backend/src/api/processor.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/modules/core/FileReaderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/FileReaderProcessor.ts
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.ts
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.ts
  plugins/catalog-backend/src/modules/core/__fixtures__/fileReaderProcessor/component.yaml
  plugins/catalog-backend/src/modules/core/__fixtures__/fileReaderProcessor/dir/api.yaml
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
  plugins/catalog-backend/src/processing/types.ts
  plugins/catalog-backend/src/service/DefaultLocationService.test.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
Labels: catalog, needs discussion

#12326 Add input to adjust time window for the newrelic-dashboard plugin and minor bug fix
  .changeset/funny-fireants-shop.md
  plugins/newrelic-dashboard/api-report.md
  plugins/newrelic-dashboard/dev/index.tsx
  plugins/newrelic-dashboard/src/components/NewRelicDashboard/DashboardEntityList.tsx
  plugins/newrelic-dashboard/src/components/NewRelicDashboard/DashboardSnapshotList/DashboardSnapshot.tsx
  plugins/newrelic-dashboard/src/components/NewRelicDashboard/DashboardSnapshotList/DashboardSnapshotList.tsx
Labels: awaiting-review

#11749 feature: provide error listeners
  .changeset/shaggy-spiders-notice.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/processing/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: catalog, awaiting-review

#12521 Add support for FreeIPA as a LDAP vendor
  .changeset/hungry-cougars-press.md
  docs/integrations/ldap/org.md
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
Labels: documentation, catalog

#12538 Some minor fixes for things after patch release
  .changeset/eleven-mice-collect.md
  .changeset/polite-eagles-invite.md
  .changeset/pre.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder/CHANGELOG.md
  scripts/prepare-release.js
Labels: scaffolder

#12527 catalog-backend: maybe fix FileReaderProcessor test on windows
  plugins/catalog-backend/src/modules/core/FileReaderProcessor.test.ts
Labels: catalog

#12515 Adding back the edit and feedback buttons on Techdocs pages
  .changeset/nice-seas-jam.md
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: docs-like-code

#12395 Add hot reloading of proxy-backend configuration
  .changeset/mean-adults-argue.md
  plugins/proxy-backend/package.json
  plugins/proxy-backend/src/service/router.config.test.ts
  plugins/proxy-backend/src/service/router.ts
Labels: awaiting-review

#12514 Fix catalog metrics
  .changeset/brave-badgers-pump.md
  plugins/catalog-backend/src/util/metrics.ts
Labels: catalog

#11508 [Kubernetes Plugin] expose detectErrors function publicly
  .changeset/hip-ways-shop.md
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/error-detection/error-detection.ts
  plugins/kubernetes/src/error-detection/index.ts
  plugins/kubernetes/src/error-detection/types.ts
  plugins/kubernetes/src/index.ts
Labels: will-fix

#12492 Fix Error Code in Register Component DryRun
  .changeset/breezy-spiders-eat.md
  plugins/catalog-backend/src/service/DefaultLocationService.test.ts
  plugins/catalog-backend/src/service/DefaultLocationService.ts
Labels: catalog

#12588 core: remove usage of explicit type parameters for BackstagePlugin
  .changeset/little-guests-sell.md
  docs/plugins/composability.md
  packages/app-defaults/src/createApp.tsx
  packages/core-app-api/api-report.md
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-app-api/src/app/types.ts
  packages/core-app-api/src/plugins/collectors.ts
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/extensions/extensions.tsx
  packages/core-plugin-api/src/plugin/types.ts
Labels: documentation

#12417 Fix issues with optional directories and files
  .changeset/orange-deers-marry.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
Labels: scaffolder, awaiting-review

#12403 Consider hosted gitlab with relative path
  .changeset/tall-pants-clap.md
  packages/backend-common/src/reading/GitlabUrlReader.ts
  packages/integration/api-report.md
  packages/integration/src/gitlab/config.ts
  packages/integration/src/gitlab/core.test.ts
  packages/integration/src/gitlab/core.ts
  packages/integration/src/gitlab/index.ts
Labels: awaiting-review

#12490 Use Azure Identity to Authenticate with Microsoft Graph API
  .changeset/polite-keys-confess.md
  docs/integrations/azure/org.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-msgraph/package.json
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  yarn.lock
Labels: documentation, catalog

#12606 scaffolder-backend: fix template fetch test on windows
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.test.ts
Labels: scaffolder

#12605 feat(scaffolder-backend): allow to create Gerrit project using default owner
  .changeset/witty-ladybugs-laugh.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/util.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/validation.ts
Labels: scaffolder

#12616 backstage-create-app doesn't add vital init() piece automatically
  docs/integrations/datadog-rum/installation.md
Labels: documentation

#12491 Scaffolder: Renders path templates when copyWithoutRender is used
  .changeset/five-falcons-destroy.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
Labels: scaffolder

#12043 feat: use same initial filter `owned` at TechDocsIndexPage as at CatalogPage
  .changeset/wicked-dragons-brush.md
  plugins/techdocs/api-report.md
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/TechDocsIndexPage.tsx
  plugins/techdocs/src/home/components/index.ts
Labels: docs-like-code

#12640 feat: add support for `allowedOwners` at the `BitbucketRepoPicker`
  .changeset/thick-shrimps-hammer.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: scaffolder

#12653 docs(software-templates): document new template output format
  docs/features/software-templates/writing-templates.md
Labels: documentation

#12659 [microsite] Use gtag for Google analytics
  microsite/siteConfig.js
Labels: microsite

#12665 Fix level of App Registration header in MS Graph docs
  docs/integrations/azure/org.md
Labels: documentation

#12437 [Search] Release v1
  .changeset/fair-coins-deny.md
  .changeset/spotty-balloons-stare.md
  docs/features/search/README.md
  docs/features/search/architecture.md
  docs/features/search/how-to-guides.md
  packages/backend/package.json
  packages/backend/src/plugins/search.ts
  plugins/search-backend-module-pg/api-report.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/src/IndexBuilder.test.ts
  plugins/search-backend-node/src/index.ts
  plugins/search-backend/api-report.md
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
  plugins/search/api-report.md
  plugins/search/src/components/Filters/Filters.tsx
  plugins/search/src/components/Filters/FiltersButton.tsx
  plugins/search/src/components/Filters/index.tsx
  plugins/search/src/components/LegacySearchPage/Filters/Filters.tsx
  plugins/search/src/components/LegacySearchPage/Filters/FiltersButton.tsx
  plugins/search/src/components/LegacySearchPage/Filters/index.ts
  plugins/search/src/components/LegacySearchPage/LegacySearchBar.tsx
  plugins/search/src/components/LegacySearchPage/LegacySearchPage.tsx
  plugins/search/src/components/LegacySearchPage/LegacySearchResult.tsx
  plugins/search/src/components/LegacySearchPage/index.ts
  plugins/search/src/components/SearchBar/SearchBar.tsx
  plugins/search/src/components/SearchBar/index.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.Autocomplete.test.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.Autocomplete.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.test.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.tsx
  plugins/search/src/components/SearchFilter/index.ts
  plugins/search/src/components/SearchModal/SearchModal.stories.tsx
  plugins/search/src/components/SearchPage/SearchPage.test.tsx
  plugins/search/src/components/SearchPage/SearchPage.tsx
  plugins/search/src/components/SearchResultPager/SearchResultPager.test.tsx
  plugins/search/src/components/SearchResultPager/SearchResultPager.tsx
  plugins/search/src/components/SearchResultPager/index.ts
  plugins/search/src/index.ts
  plugins/search/src/plugin.ts
Labels: documentation, search

#12617 feat: scaffolder run task auditlog
  .changeset/tame-gorillas-look.md
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#12656 docs: add scaling section to deployment docs
  docs/deployment/scaling.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#12671 feat(catalog): add `Location` target(s) to `AboutCard`
  .changeset/quiet-hounds-drive.md
  plugins/catalog/src/components/AboutCard/AboutContent.test.tsx
  plugins/catalog/src/components/AboutCard/AboutContent.tsx
Labels: catalog

#12664 Adjustment of sample code without
  docs/auth/identity-resolver.md
Labels: documentation

#12672 feat(catalog): add `spec.target(s)` for Location entities at the `CatalogTable`
  .changeset/five-gorillas-marry.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: catalog

#12702 [microsite] Use GA4 as main site tag
  microsite/siteConfig.js
Labels: microsite

#12234 add cloudflare access authentication provider
  .changeset/lazy-ads-cheer.md
  .github/vale/Vocab/Backstage/accept.txt
  docs/auth/cloudflare/access.md
  docs/auth/index.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/src/providers/cloudflare-access/index.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.test.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.ts
  plugins/auth-backend/src/providers/index.ts
  plugins/auth-backend/src/providers/providers.ts
Labels: documentation, auth

#12661 Scaffolder Gitlab Merge Requests - added assignee as an optional field
  .changeset/itchy-needles-think.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.ts
Labels: scaffolder

#12652 Search 1.0 blog post
  microsite/blog/2022-07-19-releasing-backstage-search-1.0.md
  microsite/blog/assets/22-07-19/releasing-backstage-search-v1.png
Labels: microsite, merge-after-release

#12721 chore: v1.4.0 release notes
  docs/releases/v1.4.0.md
Labels: documentation

#12714 Update getting-started.md
  docs/features/search/getting-started.md
Labels: documentation

#12727 chore: fix some gerrit tests in windows mainline
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.test.ts
Labels: scaffolder

#12733 update instalation.md
  docs/features/kubernetes/installation.md
Labels: documentation

#12710 feat(scaffolder): add a `publish:gerrit:review` action
  .changeset/calm-clocks-drum.md
  .changeset/fast-panthers-fold.md
  packages/backend-common/api-report.md
  packages/backend-common/src/scm/git.test.ts
  packages/backend-common/src/scm/git.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerritReview.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerritReview.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/index.ts
Labels: scaffolder

#12768 Fix wrong PR link in blog post
  microsite/blog/2022-07-19-releasing-backstage-search-1.0.md
Labels: microsite

#12641 fix(docs-like-code): Patched Techdocs Sidebar layout for medium devices.
  .changeset/mighty-penguins-tap.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: docs-like-code

#12793 feat(backstage-plugin-api-linter): add plugin
  microsite/data/plugins/backstage-plugin-api-linter
Labels: microsite

#12787 Kubernetes Plugin - Provide clearer documentation on correct RBAC permissions
  docs/features/kubernetes/configuration.md
Labels: documentation

#12711 feat: support Basic Auth and token-only at Git commands for Bitbucket Server
  .changeset/fresh-hounds-argue.md
  .changeset/metal-points-itch.md
  .changeset/short-trains-roll.md
  docs/integrations/bitbucket/locations.md
  packages/backend-common/api-report.md
  packages/backend-common/src/scm/git.test.ts
  packages/backend-common/src/scm/git.ts
  packages/integration/api-report.md
  packages/integration/config.d.ts
  packages/integration/src/bitbucketServer/config.test.ts
  packages/integration/src/bitbucketServer/config.ts
  packages/integration/src/bitbucketServer/core.test.ts
  packages/integration/src/bitbucketServer/core.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucketServer.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucketServer.ts
Labels: documentation, scaffolder

#12820 Fix function name in docs
  docs/auth/identity-resolver.md
Labels: documentation

#12775 Add missing res.end in scaffolder backend EventStream usage
  .changeset/strange-crabs-confess.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#12796 wrap aws-sdk errors
  .changeset/loud-panthers-arrive.md
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: docs-like-code

#12833 add okta entity provider plugin to microsite
  microsite/data/plugins/okta-entity-providers.yaml
Labels: microsite

#12834 Update okta-entity-providers.yaml
  microsite/data/plugins/okta-entity-providers.yaml
Labels: microsite

#12632 fix(plugin-catalog): Fix TechDocsReaderPageContext to handle case sensitive entityRefs
  .changeset/twenty-humans-visit.md
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/package.json
  plugins/techdocs-react/src/context.test.tsx
  plugins/techdocs-react/src/context.tsx
  plugins/techdocs-react/src/helpers.ts
  plugins/techdocs-react/src/index.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPage/context.test.tsx
Labels: docs-like-code

#12843 Kubernetes Docs - Add instructions to prevent 403 on API read
  docs/features/kubernetes/configuration.md
Labels: documentation

#12766 chore: add apollo explorer to plugin marketplace
  microsite/data/plugins/apollo-explorer.yaml
  microsite/static/img/apollo-explorer.png
Labels: microsite

#12679 Add highlight to active techdocs navigation item and parents
  .changeset/itchy-mice-kiss.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: docs-like-code

#12863 Update app-custom-theme.md
  docs/getting-started/app-custom-theme.md
Labels: documentation

#12874 Allow setting the subtitle in the CatalogTable component
  .changeset/little-laws-heal.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: catalog

#12889 Remove duplicated section
  docs/auth/cloudflare/access.md
Labels: documentation

#12857 feat(techdocs): add edit button support for bitbucketServer
  .changeset/red-turtles-melt.md
  packages/integration/src/ScmIntegrations.ts
  packages/integration/src/bitbucketServer/BitbucketServerIntegration.test.ts
  packages/integration/src/bitbucketServer/BitbucketServerIntegration.ts
  plugins/techdocs-module-addons-contrib/src/ReportIssue/ReportIssue.tsx
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: docs-like-code

#12894 docs: update code sample for custom processors
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#12822 feat: github entity provider
  .changeset/odd-tomatoes-juggle.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/processors/GithubDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-github/src/processors/GithubDiscoveryProcessor.ts
  plugins/catalog-backend-module-github/src/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/processors/GithubOrgReaderProcessor.test.ts
  plugins/catalog-backend-module-github/src/processors/GithubOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.ts
  plugins/catalog-backend-module-github/src/providers/GitHubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubOrgEntityProvider.ts
Labels: documentation, catalog

#10575 scaffolder/next: start implementing a Wizard page
  .changeset/empty-apple-pie.md
  .changeset/empty-apples-tie.md
  packages/app/src/App.tsx
  packages/core-components/src/components/MarkdownContent/MarkdownContent.tsx
  packages/core-components/src/components/Select/Select.tsx
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateCard/TemplateCard.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/SecretsContext/SecretsContext.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/SecretsContext/SecretsContext.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/index.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/schema.test.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/schema.ts
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/useTemplateSchema.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/useTemplateSchema.ts
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/plugin.ts
  plugins/scaffolder/src/routes.ts
  plugins/scaffolder/src/types.ts
Labels: scaffolder, awaiting-review

#12900 Docs: Remove markdown version constraint for mkdocs-techdocs-core
  docs/features/techdocs/getting-started.md
Labels: documentation
