Repository backstage/backstage, pull requests merged in 2022-09, with the labels that each got.

#13477 Update some comments now that knex has some partial sqlite3 returning() support
  packages/backend-tasks/src/tasks/PluginTaskSchedulerJanitor.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
Labels: catalog

#13478 fix windows master build error
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
Labels: scaffolder

#13482 Explain backend identity for backend plugins
  docs/plugins/backend-plugin.md
Labels: documentation

#13512 backend-plugin-api: properly forward lack of feature options
  .changeset/famous-cups-roll.md
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/wiring/factories.test.ts
  packages/backend-plugin-api/src/wiring/factories.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.test.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-node/src/catalogService.test.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/extension/ScaffolderCatalogModule.test.ts
Labels: catalog, scaffolder

#13520 add missing CLI dependencies
  packages/cli-common/package.json
  packages/codemods/package.json
  packages/config-loader/package.json
  packages/config/package.json
  packages/create-app/package.json
  packages/e2e-test/package.json
  packages/release-manifests/package.json
  plugins/cicd-statistics/package.json
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/search-react/package.json
  plugins/techdocs-react/package.json
  yarn.lock
Labels: docs-like-code, search, scaffolder

#13409 docs: Add section for Kuberentes plugin Auth
  docs/features/kubernetes/authentication.md
  docs/features/kubernetes/configuration.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#13387 Add support to GithubEntityProvider for including (or excluding) Github repositories by topic
  .changeset/shiny-ties-leave.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/util.test.ts
  plugins/catalog-backend-module-github/src/lib/util.ts
  plugins/catalog-backend-module-github/src/processors/GithubDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProviderConfig.ts
Labels: documentation, catalog

#13529 Fix minor typo in identity resolver documentation.
  docs/auth/identity-resolver.md
Labels: documentation

#13532 techdocs: fix addons not rendering on subpages with react router v6
  .changeset/moody-berries-sneeze.md
  plugins/techdocs/src/Router.tsx
Labels: docs-like-code

#13495 Add Banner for BackstageCon
  microsite/pages/en/index.js
Labels: microsite

#13536 Create azure-resources.yaml
  microsite/data/plugins/azure-resources.yaml
Labels: microsite

#13527 fix(techdocs): Fix scrolling for anchors on the current page
  .changeset/tender-pumpkins-burn.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: docs-like-code

#13050 Add projectId config option to GCS techdocs publisher
  .changeset/gold-laws-attend.md
  docs/features/techdocs/using-cloud-storage.md
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.ts
Labels: documentation, docs-like-code

#13506 Disable octokit throttling
  .changeset/tame-trainers-rule.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
Labels: scaffolder

#13558 scaffolder-backend: use 3 parallel workers by default
  .changeset/young-falcons-sleep.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#13563 Small typo fix in Theme docs
  docs/getting-started/app-custom-theme.md
Labels: documentation

#13557 Add file for Dependencytrack plugin
  microsite/data/plugins/dependencytrack
Labels: microsite

#13575 feat: add refresh to EntityProviderConnection
  .changeset/flat-crabs-love.md
  .changeset/rude-weeks-retire.md
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.test.ts
  plugins/catalog-backend-module-azure/src/providers/AzureDevOpsEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GitHubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.test.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/modules/core/DefaultLocationStore.test.ts
  plugins/catalog-backend/src/processing/connectEntityProviders.ts
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/api/index.ts
  plugins/catalog-node/src/api/provider.ts
Labels: catalog, needs discussion

#13551 docs: adds backstage-plugin-ldap-auth
  microsite/data/plugins/backstage-plugin-ldap-auth.yml
Labels: microsite

#13511 [Blog] FYI - Plugin Analytics API
  microsite/blog/2022-09-08-fyi-plugin-analytics-api.md
  microsite/blog/assets/22-09-08/analytics-api-fyi.png
Labels: do-not-merge, microsite

#13583 Add validateEntity to catalog client
  .changeset/large-books-deny.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/types/index.ts
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/badges-backend/src/service/router.test.ts
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.test.tsx
  plugins/explore/src/components/DefaultExplorePage/DefaultExplorePage.test.tsx
  plugins/explore/src/components/DomainExplorerContent/DomainExplorerContent.test.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsExplorerContent.test.tsx
  plugins/fossa/src/components/FossaPage/FossaPage.test.tsx
  plugins/todo-backend/src/service/TodoReaderService.test.ts
Labels: catalog, auth

#13522 Scaffolder - Addition of Dismissable Error Banner
  .changeset/new-taxis-vanish.md
  plugins/scaffolder/src/components/TaskPage/TaskErrors.tsx
  plugins/scaffolder/src/components/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/components/hooks/useEventStream.ts
Labels: scaffolder

#13586 Auth0 allow adding the audience to access api permissions
  .changeset/smart-sloths-search.md
  docs/auth/auth0/provider.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/lib/passport/PassportStrategyHelper.ts
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/auth0/strategy.ts
  yarn.lock
Labels: documentation, auth

#13581 microsite: Added Search as a feature
  microsite/core/Components.js
  microsite/data/plugins/backstage-search-platform.yaml
  microsite/pages/en/index.js
  microsite/static/animations/backstage-search-platform-icon-1.gif
  microsite/static/css/custom.css
  microsite/static/img/backstage-search-platform.svg
  microsite/static/img/search-platform-overview-small.png
  microsite/static/img/search-platform-overview.png
  microsite/static/js/dismissable-banner.js
Labels: microsite

#13542 Optimise GitHub access tokens
  .changeset/sweet-grapes-explain.md
  docs/integrations/github/github-apps.md
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.test.ts
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.ts
Labels: documentation

#13623 Added new docs for plugin feature flags
  docs/plugins/feature-flags.md
  mkdocs.yml
Labels: documentation

#12991 Adds possibility to not skip default namespace
  .changeset/eight-shrimps-call.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityRefLink/humanize.test.ts
  plugins/catalog-react/src/components/EntityRefLink/humanize.ts
Labels: catalog, needs discussion

#13596 feat(EntityTagPicker): support displaying and ordering by counts
  .changeset/lucky-ads-worry.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/EntityTagsPicker/EntityTagsPicker.tsx
Labels: scaffolder

#13654 Minor updates to the Permissions docs
  docs/permissions/custom-rules.md
  docs/permissions/getting-started.md
Labels: documentation

#13553 Feature/pass select attr to msgraph user import
  .changeset/cuddly-clocks-dance.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
Labels: catalog

#13663 Add a Yarn 3 migration step for setting Python interpreter used by node-gyp
  docs/tutorials/yarn-migration.md
Labels: documentation

#13643 Add custom actions plugin for Azure pipelines to documentation
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#13719 fix(docs): minor typo
  docs/auth/index.md
Labels: documentation

#13718 fix(docs): dead link to Active LTS Releases in Getting Started docs
  docs/getting-started/index.md
Labels: documentation

#13588 Provide information about the user into scaffolder template action's context
  .changeset/hungry-llamas-tie.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/types.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: scaffolder

#13606 Catalog: add support for multiple sort fields to paginated endpoint
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/types/index.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/request/parseEntitySortFieldParams.test.ts
  plugins/catalog-backend/src/service/request/parseEntitySortFieldParams.ts
  plugins/catalog-backend/src/service/request/parsePaginatedEntitiesParams.test.ts
  plugins/catalog-backend/src/service/request/parsePaginatedEntitiesParams.ts
Labels: catalog, needs discussion

#13653 fix(scaffolder): properly set isDryRun flag in dry-run mode
  .changeset/spicy-lizards-pay.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: scaffolder

#13628 Update docker guide for clarity
  docs/deployment/docker.md
Labels: documentation

#13737 Read queryMode from the microsoftGraphOrg config
  .changeset/lemon-chefs-grab.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
Labels: catalog

#13595 feat: Allow passing additional JWT claims to `TokenIssuer`
  .changeset/cold-bananas-hang.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-backend/src/identity/types.ts
Labels: auth, needs discussion

#13452 Add optional value to hasAnnotation
  .changeset/famous-rats-heal.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/permissions/rules/hasAnnotation.test.ts
  plugins/catalog-backend/src/permissions/rules/hasAnnotation.ts
Labels: catalog

#13112 Provide API to extend scaffolder form layout
  .changeset/tender-tigers-joke.md
  packages/app/src/App.tsx
  packages/app/src/components/scaffolder/customScaffolderLayouts.tsx
  packages/app/src/components/scaffolder/defaultPreviewTemplate.ts
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.tsx
  plugins/scaffolder/src/components/MultistepJsonForm/schema.ts
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorForm.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/layouts/index.tsx
  plugins/scaffolder/src/layouts/types.ts
Labels: scaffolder

#13556 [auth-backend]: Calculate `SameSite` cookie attribute in defaultCookieConfigurer and default to `none`
  .changeset/kind-penguins-report.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.test.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts
  plugins/auth-backend/src/lib/oauth/helpers.test.ts
  plugins/auth-backend/src/lib/oauth/helpers.ts
  plugins/auth-backend/src/providers/types.ts
Labels: auth, merge-after-release

#13756 fix(docs): import SignInProviderConfig - not used
  docs/getting-started/configuration.md
Labels: documentation

#13584 docs: Add kubernetes azure auth provider section
  docs/features/kubernetes/authentication.md
Labels: documentation

#13521 Remove Lerna
  .github/workflows/deploy_nightly.yml
  .github/workflows/deploy_packages.yml
  package.json
  yarn.lock
Labels: merge-after-release

#13690 [Catalog] Allow placeholder value to be any type
  .changeset/rude-bulldogs-sleep.md
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.ts
Labels: catalog

#13769 chore: added release notes
  docs/releases/v1.6.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#13776 docs: remove empty auth backend docs
  docs/auth/auth-backend.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#11039 Frontend permission docs for integrators
  docs/permissions/frontend-integration.md
  microsite/sidebars.json
Labels: documentation, will-fix, microsite

#13786 Updating live stream in live page
  microsite/pages/en/live.js
Labels: microsite

#13787 Defer schema validation to improve test performance
  .changeset/bright-rules-shout.md
  packages/catalog-model/src/kinds/util.ts
Labels: catalog

#13429 Close scaffolder stale task executions
  .changeset/tender-drinks-drive.md
  packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/index.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.ts
  yarn.lock
Labels: scaffolder, merge-after-release

#13667 Update of EntityPickers to support flags which control omit of defaul…
  .changeset/selfish-turkeys-exist.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
Labels: scaffolder

#11034 Frontend authorization docs for plugin authors
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permissions/plugin-authors/05-frontend-authorization.md
  microsite/sidebars.json
  plugins/example-todo-list-common/api-report.md
  plugins/example-todo-list-common/src/permissions.ts
  plugins/example-todo-list/src/components/TodoListPage/TodoListPage.tsx
Labels: documentation, will-fix, microsite

#13784 document custom step layouts
  docs/features/software-templates/writing-custom-step-layouts.md
  docs/features/software-templates/writing-templates.md
  microsite/sidebars.json
  mkdocs.yml
  packages/app/src/components/scaffolder/customScaffolderLayouts.tsx
Labels: documentation, microsite

#13816 docs: fix incorrect import in frontend permission integration docs
  docs/permissions/frontend-integration.md
Labels: documentation

#13825 stitch relations after deleting
  .changeset/thick-kings-destroy.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: catalog

#13775 Added missing daemonsets to RBAC permissions
  docs/features/kubernetes/configuration.md
Labels: documentation

#13827 Fix command to create a backend plugin
  docs/plugins/backend-plugin.md
Labels: documentation

#13749 Add custom actions plugin for Azure repositories
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#13833 Ignore .git store on Template uploads for editor and increase payload size to 10MB (fixes #12561)
  .changeset/wild-weeks-live.md
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder/src/lib/filesystem/WebFileSystemAccess.ts
Labels: scaffolder

#13844 catalog-backend: add integration tests + fix entity provider diffing
  .changeset/poor-clouds-ring.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/integration.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: catalog

#13855 gitlab oauth: consider hosted gitlab with relative path
  .changeset/slow-mirrors-eat.md
  plugins/auth-backend/src/providers/gitlab/provider.ts
Labels: auth

#13828 Fix command to create a frontend plugin
  docs/plugins/create-a-plugin.md
Labels: documentation

#13841 Add `allowAutoMerge` option for `publish:github` action
  .changeset/red-pants-rush.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#13796 docs: Add disclaimer about OIDC enabled clusters
  docs/features/kubernetes/configuration.md
Labels: documentation

#13705 [Catalog] Location url was incorrect in tests
  .changeset/plenty-kids-fetch.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
Labels: catalog

#13890 [Search] Be less restrictive with unknown keys on query endpoint
  .changeset/mean-spiders-design.md
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
Labels: search

#13887 Making the GitLab repoUrl picker description clearer
  .changeset/brave-peaches-brush.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.tsx
Labels: scaffolder

#13732 Provide custom displayed text in EntityRefLinks
  .changeset/calm-pianos-burn.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLinks.tsx
  plugins/catalog-react/src/components/EntityRefLink/FetchedEntityRefLinks.test.tsx
  plugins/catalog-react/src/components/EntityRefLink/FetchedEntityRefLinks.tsx
Labels: catalog

#13924 fix(dryRunEditor): render custom layouts
  .changeset/dry-shirts-attack.md
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorForm.tsx
Labels: scaffolder

#13948 docs: add me sevrice-to-service auth section
  docs/auth/service-to-service-auth.md
  docs/tutorials/backend-to-backend-auth.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite
