Repository backstage/backstage, pull requests merged in 2022-03, with the labels that each got.

#9804 core-app-api: Remove deprecated auth ApiRefs
  .changeset/rare-insects-punch.md
  packages/app-defaults/src/defaults/apis.ts
  packages/app/src/identityProviders.ts
  packages/core-app-api/api-report.md
  packages/core-app-api/src/apis/implementations/auth/auth0/Auth0Auth.ts
  packages/core-app-api/src/apis/implementations/auth/auth0/index.ts
  packages/core-app-api/src/apis/implementations/auth/index.ts
  packages/core-components/src/layout/SignInPage/auth0Provider.tsx
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/auth.ts
  packages/test-utils/src/testUtils/defaultApis.ts
  plugins/user-settings/src/components/AuthProviders/DefaultProviderSettings.tsx
  storybook/.storybook/apis.js
Labels: auth, awaiting-review

#9868 scripts: Update list-deprecations script to use new release tags
  scripts/list-deprecations.js
Labels: awaiting-review

#9838 scripts/prepare-release: update to detect patch versions from patch branches
  docs/publishing.md
  scripts/prepare-release.js
Labels: documentation

#9867 core-plugin-api: Remove deprecated get method from StorageApi
  .changeset/new-foxes-matter.md
  .changeset/two-lobsters-hammer.md
  packages/core-app-api/src/apis/implementations/StorageApi/WebStorage.test.ts
  packages/core-app-api/src/apis/implementations/StorageApi/WebStorage.ts
  packages/core-components/src/components/DismissableBanner/DismissableBanner.test.tsx
  packages/core-components/src/components/DismissableBanner/DismissableBanner.tsx
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/StorageApi.ts
  packages/test-utils/api-report.md
  packages/test-utils/src/testUtils/apis/StorageApi/MockStorageApi.test.ts
  packages/test-utils/src/testUtils/apis/StorageApi/MockStorageApi.ts
  plugins/catalog/src/apis/StarredEntitiesApi/DefaultStarredEntitiesApi.ts
  plugins/catalog/src/apis/StarredEntitiesApi/migration.test.ts
  plugins/catalog/src/apis/StarredEntitiesApi/migration.ts
Labels: catalog

#9820 catalog-react: mark useEntityPermission as alpha
  .changeset/polite-poems-nail.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/package.json
  plugins/catalog-react/src/hooks/useEntityPermission.ts
Labels: catalog

#9870 catalog-backend: inline and deprecate BitbucketRepositoryParser type
  .changeset/plenty-tables-mix.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/ingestion/processors/BitbucketDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/BitbucketDiscoveryProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/bitbucket/BitbucketRepositoryParser.test.ts
  plugins/catalog-backend/src/ingestion/processors/bitbucket/BitbucketRepositoryParser.ts
Labels: catalog, awaiting-review

#9871 catalog-backend: Remove catalogProcessor.handleError
  .changeset/serious-mayflies-thank.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/ingestion/processors/types.ts
Labels: catalog

#9877 catalog-backend: Remove entityRef from CatalogProcessorRelationResult
  .changeset/real-kids-hide.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/ingestion/processors/types.ts
Labels: catalog

#9857 catalog-backend: mark permission-related exports as alpha
  .changeset/chilled-dolls-agree.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/permissions/conditionExports.ts
  plugins/catalog-backend/src/permissions/rules/index.ts
  plugins/catalog-backend/src/permissions/rules/util.ts
Labels: catalog

#9880 🧹 Clean up the routes in `catalog-react`
  .changeset/ninety-kids-drop.md
  .changeset/spicy-onions-kiss.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/index.ts
  plugins/catalog-react/src/routes.ts
  plugins/catalog/src/components/EntityOrphanWarning/EntityOrphanWarning.test.tsx
  plugins/catalog/src/components/EntityOrphanWarning/EntityOrphanWarning.tsx
  plugins/catalog/src/plugin.ts
  plugins/catalog/src/routes.ts
Labels: catalog

#9855 🧹 Removing the component exports for `CustomFieldExtensions` in `plugin-scaffolder`
  .changeset/swift-roses-hug.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/components/fields/EntityNamePicker/index.ts
  plugins/scaffolder/src/components/fields/EntityPicker/index.ts
  plugins/scaffolder/src/components/fields/EntityTagsPicker/index.ts
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/index.ts
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/index.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/index.ts
  plugins/scaffolder/src/extensions/default.ts
  plugins/scaffolder/src/extensions/index.tsx
  plugins/scaffolder/src/extensions/types.ts
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/plugin.ts
Labels: scaffolder

#9882 permission-common: add apidocs for permission properties
  .changeset/nice-dragons-collect.md
  plugins/permission-common/src/types/permission.ts
Labels: auth

#9799 Add permission concepts docs
  docs/permission/concepts.md
Labels: documentation

#9888 refactor(redis): require protocol in connection string
  .changeset/chilled-items-trade.md
  docs/overview/architecture-overview.md
  packages/backend-common/config.d.ts
  packages/backend-common/src/cache/CacheManager.test.ts
  packages/backend-common/src/cache/CacheManager.ts
Labels: documentation, awaiting-review

#9883 catalog-model: Remove deprecations
  .changeset/weak-news-reply.md
  package.json
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/constants.ts
  packages/catalog-model/src/entity/index.ts
  packages/catalog-model/src/entity/ref.test.ts
  packages/catalog-model/src/entity/ref.ts
  packages/catalog-model/src/entity/util.test.ts
  packages/catalog-model/src/entity/util.ts
  packages/catalog-model/src/index.ts
  packages/catalog-model/src/location/annotation.ts
  packages/catalog-model/src/location/helpers.ts
  packages/catalog-model/src/location/index.ts
  packages/catalog-model/src/location/types.ts
  packages/catalog-model/src/types.ts
  yarn.lock
Labels: catalog, awaiting-review

#9881 catalog-common: remove resourceType from catalogEntityCreatePermission
  .changeset/giant-taxis-drop.md
  plugins/catalog-common/src/permissions.ts
Labels: catalog

#9878 catalog-common: mark permission-related exports as alpha
  .changeset/chilled-dolls-agree.md
  .changeset/gorgeous-actors-shave.md
  .changeset/nice-walls-reply.md
  packages/create-app/templates/default-app/packages/app/src/App.tsx
  plugins/catalog-common/api-report.md
  plugins/catalog-common/package.json
  plugins/catalog-common/src/permissions.ts
Labels: catalog, awaiting-review

#9872 🧹 tidy up the `useEntity` hook, and introduce `useAsyncEntity`
  .changeset/sour-eggs-kick.md
  plugins/allure/src/components/AllureReportComponent/AllureReportComponent.test.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntity.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.tsx
  plugins/catalog/src/components/EntitySwitch/conditions.ts
  plugins/todo/src/plugin.test.tsx
Labels: catalog

#9894 remove the `EntityName` codepath from the `useEntityOwnership` hook
  .changeset/strong-suns-hope.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/useEntityOwnership.ts
Labels: catalog

#9901 form refs properly in resolver docs
  docs/auth/identity-resolver.md
Labels: documentation, awaiting-review

#9902 core-app-api: Remove GithubSession and SamlSession types
  .changeset/olive-lobsters-rescue.md
  packages/core-app-api/api-report.md
  packages/core-app-api/src/apis/implementations/auth/github/index.ts
  packages/core-app-api/src/apis/implementations/auth/github/types.ts
  packages/core-app-api/src/apis/implementations/auth/saml/index.ts
  packages/core-app-api/src/apis/implementations/auth/saml/types.ts
Labels: auth, awaiting-review

#9897 core-app-api,cli: remove last couple of deprecations
  .changeset/orange-crews-explain.md
  .changeset/tame-lions-know.md
  packages/cli/src/lib/bundler/config.ts
  packages/config-loader/src/lib/schema/collect.ts
  packages/core-app-api/api-report.md
  packages/core-app-api/src/apis/implementations/auth/github/GithubAuth.ts
Labels: auth

#9898 export FetchUrlReader
  .changeset/olive-glasses-approve.md
  packages/backend-common/api-report.md
  packages/backend-common/src/reading/index.ts
Labels: awaiting-review

#9851 Airbrake readme update
  .changeset/red-chefs-beam.md
  plugins/airbrake-backend/README.md
  plugins/airbrake/README.md
Labels: awaiting-review

#9885 docs/local-dev: add docs for the experimental type build
  docs/local-dev/cli-build-system.md
Labels: documentation, awaiting-review

#9782 feat(bitbucket): ensure apiBaseUrl, replace hardcoded cases
  .changeset/honest-students-clean.md
  packages/backend-common/src/reading/BitbucketUrlReader.test.ts
  packages/backend-common/src/reading/BitbucketUrlReader.ts
  packages/integration/api-report.md
  packages/integration/src/bitbucket/config.ts
  packages/integration/src/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucket.ts
Labels: scaffolder, awaiting-review

#9911 🧹 some more deprecations and cleanup
  .changeset/gorgeous-boats-hide.md
  .changeset/large-dancers-learn.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomNode.tsx
  plugins/catalog-import/src/components/EntityListComponent/EntityListComponent.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLink.tsx
  plugins/catalog-react/src/components/EntityRefLink/humanize.test.ts
  plugins/catalog-react/src/components/EntityRefLink/humanize.ts
  plugins/catalog-react/src/components/EntityRefLink/index.ts
  plugins/catalog-react/src/components/EntityTable/columns.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/AncestryPage.tsx
  plugins/catalog-react/src/filters.ts
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/columns.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsDiagram.tsx
  plugins/fossa/src/components/FossaPage/FossaPage.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.tsx
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/FavouriteTemplate/FavouriteTemplate.tsx
  plugins/scaffolder/src/components/FavouriteTemplate/index.ts
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
  plugins/scaffolder/src/components/index.ts
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
Labels: catalog, docs-like-code, scaffolder

#9914 vocab: removed old code of conduct words
  .github/styles/vocab.txt
Labels: awaiting-review

#9824 fix(msgraph): add missing docs for config options
  .changeset/quick-mugs-pay.md
  plugins/catalog-backend-module-msgraph/README.md
Labels: catalog, awaiting-review

#9826 feat(msgraph): add `userExpand` config option
  .changeset/tidy-jokes-dream.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
Labels: catalog, awaiting-review

#9933 remove deprecated catalog-client request/response types
  .changeset/brown-dryers-serve.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/types/deprecated.ts
  packages/catalog-client/src/types/index.ts
Labels: catalog

#9940 move @types/json-schema to a dev dep
  .changeset/beige-snails-drum.md
  packages/catalog-model/package.json
Labels: catalog, awaiting-review

#9934 🧹 `setRefreshInterval` -> `setProcessingInterval`
  .changeset/wild-dolphins-lick.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/processing/index.ts
  plugins/catalog-backend/src/processing/refresh.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: catalog

#9935 🧹 Some more permissions stuff to `@alpha` in `catalog-backend`
  plugins/catalog-backend/src/permissions/rules/hasAnnotation.ts
  plugins/catalog-backend/src/permissions/rules/hasLabel.ts
  plugins/catalog-backend/src/permissions/rules/hasMetadata.ts
  plugins/catalog-backend/src/permissions/rules/hasSpec.ts
  plugins/catalog-backend/src/permissions/rules/isEntityKind.ts
  plugins/catalog-backend/src/permissions/rules/isEntityOwner.ts
Labels: catalog

#9920 feat(msgraph): add `groupExpand` config option
  .changeset/fluffy-trees-occur.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.ts
Labels: catalog, awaiting-review

#9875 Export permission criteria utilities
  .changeset/popular-items-tan.md
  plugins/permission-node/api-report.md
  plugins/permission-node/src/integration/index.ts
  plugins/permission-node/src/integration/util.ts
Labels: auth, awaiting-review

#9886 plugin-auth-backend: Added validation to ensure any custom auth resol…
  .changeset/tasty-poems-raise.md
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
Labels: auth

#9937 🧹 `isOwnerOf` to `@alpha` and documenting limitations
  .changeset/polite-houses-wink.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/utils/isOwnerOf.ts
Labels: catalog

#9946 Revert "scripts/prepare-release: update to detect patch versions from patch branches"
  docs/publishing.md
  scripts/prepare-release.js
Labels: documentation, awaiting-review

#9938 🧹 catalog-client: getEntityByName -> getEntityByRef
  .changeset/gentle-icons-vanish.md
  .changeset/rotten-windows-worry.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
  plugins/api-docs/dev/index.tsx
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/badges-backend/src/service/router.test.ts
  plugins/badges-backend/src/service/router.ts
  plugins/catalog-graph/dev/index.tsx
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.ts
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/hooks/useEntity.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityOwnership.test.tsx
  plugins/catalog-react/src/hooks/useEntityOwnership.ts
  plugins/catalog-react/src/hooks/useOwnUser.ts
  plugins/catalog/src/components/CatalogEntityPage/useEntityFromUrl.ts
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/code-coverage-backend/src/service/router.ts
  plugins/explore/src/components/DefaultExplorePage/DefaultExplorePage.test.tsx
  plugins/explore/src/components/DomainExplorerContent/DomainExplorerContent.test.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsExplorerContent.test.tsx
  plugins/fossa/src/components/FossaPage/FossaPage.test.tsx
  plugins/jenkins-backend/README.md
  plugins/jenkins-backend/src/service/jenkinsInfoProvider.test.ts
  plugins/jenkins-backend/src/service/jenkinsInfoProvider.ts
  plugins/rollbar/src/hooks/useCatalogEntity.ts
  plugins/scaffolder-backend/src/service/helpers.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.test.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.ts
  plugins/techdocs/src/home/components/DefaultTechDocsHome.test.tsx
  plugins/techdocs/src/home/components/LegacyTechDocsHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/todo-backend/src/service/TodoReaderService.test.ts
  plugins/todo-backend/src/service/TodoReaderService.ts
Labels: catalog, auth, docs-like-code, scaffolder

#9884 Autoremove containers launched by DockerContainerRunner
  .changeset/grumpy-apes-repeat.md
  packages/backend-common/src/util/DockerContainerRunner.test.ts
  packages/backend-common/src/util/DockerContainerRunner.ts
Labels: awaiting-review

#9858 fix(docs): Update Postgres tutorial SSL block to match current Postgres template config
  docs/tutorials/switching-sqlite-postgres.md
Labels: documentation

#9909 🧹 core-plugin-api: Deprecate `favoriteEntityTooltip` & `favoriteEntityIcon`
  .changeset/metal-months-tie.md
  .changeset/small-brooms-retire.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/FavoriteEntity/FavoriteEntity.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/techdocs/src/home/components/Tables/actions.tsx
Labels: catalog, docs-like-code

#9519 Fixed path for loading cookiecutter.json
  .changeset/tidy-hairs-sip.md
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
Labels: scaffolder

#9831 Render markdown for description in software templates
  .changeset/mean-panthers-wonder.md
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
Labels: scaffolder

#9951 chore: Add Snyk to ADOPTERS.md
  ADOPTERS.md
Labels: awaiting-review

#9873 Fix header nesting in software-templates docs
  docs/features/software-templates/builtin-actions.md
  docs/features/software-templates/configuration.md
  docs/features/software-templates/index.md
  docs/features/software-templates/writing-custom-actions.md
  docs/features/software-templates/writing-templates.md
Labels: documentation, awaiting-review

#9966 Missing async from `getCollator` causes type mismatch
  docs/features/search/how-to-guides.md
Labels: documentation, awaiting-review

#9936 Fixed EntityOwnerPicker and OwnershipCard url filter issue #9854
  .changeset/strong-beds-attack.md
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.tsx
Labels: catalog

#9929 scaffolder-backend: Allow more options in publish:github action
  .changeset/twenty-fireants-turn.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder, awaiting-review

#9962 update the common validators
  .changeset/slow-vans-rhyme.md
  .changeset/ten-rats-join.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.ts
  packages/catalog-model/src/validation/CommonValidatorFunctions.test.ts
  packages/catalog-model/src/validation/CommonValidatorFunctions.ts
  packages/catalog-model/src/validation/makeValidator.ts
Labels: catalog

#9984 remove `createDatabase` and `SingleConnectionDatabaseManager` that were deprecated years ago :)
  .changeset/thick-games-dress.md
  docs/tutorials/configuring-plugin-databases.md
  packages/backend-common/api-report.md
  packages/backend-common/src/database/SingleConnection.test.ts
  packages/backend-common/src/database/SingleConnection.ts
  packages/backend-common/src/database/connection.ts
  packages/backend-common/src/database/index.ts
Labels: documentation, awaiting-review

#9982 catalog: Remove AboutCard
  .changeset/brown-points-impress.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/index.ts
Labels: catalog

#9981 add TUI Group to adopters list
  ADOPTERS.md
Labels: awaiting-review

#9977 catalog: Remove CatalogResultListItem
  .changeset/fifty-brooms-whisper.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/catalog/src/components/CatalogSearchResultListItem/index.ts
Labels: catalog

#9989 catalog-react: Remove reduceCatalogFilters & reduceEntityFilters
  .changeset/chilly-comics-jam.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/index.ts
  plugins/catalog-react/src/utils/filters.ts
Labels: catalog

#9988 remove getXByEntity
  .changeset/two-mails-boil.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.ts
Labels: catalog, awaiting-review

#9986 Applied patches from 0.70.1 release
  .changeset/patched.json
  .changeset/popular-boxes-develop.md
  .changeset/popular-rats-return.md
  packages/backend-common/CHANGELOG.md
  packages/catalog-model/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/pack.ts
  packages/cli/src/lib/packager/copyPackageDist.ts
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/modules/github/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-common/CHANGELOG.md
  plugins/catalog-react/CHANGELOG.md
Labels: catalog

#9994 remove deprecations in catalog-backend
  .changeset/many-swans-sort.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/api/deprecatedResult.ts
  plugins/catalog-backend/src/api/processingResult.ts
  plugins/catalog-backend/src/api/processor.ts
  plugins/catalog-backend/src/modules/core/StaticLocationProcessor.ts
  plugins/catalog-backend/src/modules/core/index.ts
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
  plugins/catalog-backend/src/util/index.ts
  plugins/catalog-backend/src/util/runPeriodically.ts
Labels: catalog

#9991 catalog-react: Remove useEntityCompoundName
  .changeset/nasty-seahorses-bathe.md
  .changeset/nice-windows-push.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntity.tsx
  plugins/catalog-react/src/hooks/useEntityCompoundName.ts
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
  plugins/rollbar/src/hooks/useCatalogEntity.ts
Labels: catalog

#9993 catalog-react: Remove useEntityListProvider
  .changeset/quiet-pens-wait.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: catalog

#9995 remove old ScaffolderTaskOutput link outputs
  .changeset/lazy-points-explain.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/components/TaskPage/TaskPageLinks.test.tsx
  plugins/scaffolder/src/components/TaskPage/TaskPageLinks.tsx
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/types.ts
Labels: scaffolder, awaiting-review

#9953 Upgrade helper blog post
  .github/styles/vocab.txt
  microsite/blog/2022-03-04-backstage-upgrade-helper.md
  microsite/blog/assets/22-03-04/backstage-upgrade-helper-post-header.png
  microsite/blog/assets/22-03-04/backstage-upgrade-helper.gif
Labels: microsite

#9990 catalog-react: Remove `useEntityFromUrl`
  .changeset/late-pianos-attend.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntity.tsx
Labels: catalog

#9910 Policy docs for permission framework
  docs/permission/writing-a-policy.md
Labels: documentation, awaiting-review

#9997 remove octokit stuff from the scaffolder
  .changeset/red-kiwis-divide.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/OctokitProvider.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/OctokitProvider.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/index.ts
Labels: scaffolder

#9996 remove the last remnants of cookiecutter from scaffolder-backend
  .changeset/brave-brooms-tie.md
  .changeset/many-coins-drive.md
  packages/backend/src/plugins/scaffolder.ts
  packages/create-app/templates/default-app/packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/index.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#9998 catalog-react: Remove useOwnedEntities hook
  .changeset/spotty-seals-press.md
  .changeset/young-feet-flow.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityTypeFilter.tsx
  plugins/catalog-react/src/hooks/useOwnedEntities.ts
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: catalog, scaffolder

#9987 cli: switch rollup config to consider all package modules external
  .changeset/tender-berries-lie.md
  docs/local-dev/cli-build-system.md
  packages/cli/package.json
  packages/cli/src/lib/builder/config.test.ts
  packages/cli/src/lib/builder/config.ts
  yarn.lock
Labels: documentation

#9979 [Search] "Launch" Beta
  .changeset/search-talking-in-code.md
  docs/features/search/README.md
  docs/features/search/how-to-guides.md
  packages/create-app/package.json
  packages/create-app/src/lib/versions.ts
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  packages/create-app/templates/default-app/packages/backend/src/plugins/search.ts.hbs
  packages/e2e-test/src/commands/run.ts
Labels: documentation

#10003 Correct log message
  .changeset/polite-apples-relax.md
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
Labels: catalog

#9978 Trigger upgrade helper release once
  .github/workflows/sync_release-manifest.yml
Labels: do-not-merge

#10004 more cleanup in catalog-model
  .changeset/modern-windows-brush.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/index.ts
  packages/catalog-model/src/entity/ref.test.ts
  packages/catalog-model/src/entity/ref.ts
  packages/catalog-model/src/index.ts
  packages/catalog-model/src/location/annotation.ts
  packages/catalog-model/src/location/index.ts
  packages/catalog-model/src/location/types.ts
  packages/catalog-model/src/types.ts
Labels: catalog

#10005 just fix some random ugly comments
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/test-utils/src/testUtils/logCollector.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/catalog-backend/src/processing/types.ts
  plugins/catalog-backend/src/service/types.ts
  plugins/scaffolder-backend/src/scaffolder/actions/types.ts
  plugins/tech-insights-node/src/facts.ts
  plugins/techdocs-backend/src/service/router.ts
Labels: catalog, docs-like-code, scaffolder

#10002 techdocs: remove custom ownership handling
  .changeset/swift-mails-sing.md
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
Labels: docs-like-code

#10001 catalog-react: removed useOwnUser
  .changeset/weak-schools-wash.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useOwnUser.ts
  plugins/techdocs/src/home/components/DefaultTechDocsHome.test.tsx
  plugins/techdocs/src/home/components/LegacyTechDocsHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.test.tsx
Labels: catalog, docs-like-code, awaiting-review

#10007 Tech Radar ring names are now coloured by theme (via theme.palette.text.primary)
  .changeset/shaggy-apricots-hug.md
  plugins/tech-radar/src/components/RadarGrid/RadarGrid.tsx
Labels: awaiting-review

#9992 catalog-react: Remove useEntityKinds
  .changeset/tasty-carpets-fold.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityKinds.test.tsx
  plugins/catalog-react/src/hooks/useEntityKinds.ts
Labels: catalog

#10010 Revert "Revert "scripts/prepare-release: update to detect patch versions from patch branches""
  .changeset/patched.json
  docs/publishing.md
  scripts/prepare-release.js
Labels: documentation, awaiting-review

#10016 Added example of icon for theme
  docs/getting-started/app-custom-theme.md
Labels: documentation, awaiting-review

#10000 SECURITY.md: add section with coding practices
  SECURITY.md
Labels: awaiting-review

#10015 switch around the ldap org docs to prefer provider over processor
  docs/integrations/ldap/org.md
Labels: documentation

#9999 catalog-react: removed loadCatalogOwnerRefs
  .changeset/kind-experts-lay.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityOwnership.test.tsx
  plugins/catalog-react/src/hooks/useEntityOwnership.ts
Labels: catalog

#10013 remove `CatalogApi.getEntityByName`
  .changeset/olive-emus-speak.md
  .changeset/thick-gifts-cheat.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/badges-backend/src/service/router.test.ts
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.test.tsx
  plugins/explore/src/components/DefaultExplorePage/DefaultExplorePage.test.tsx
  plugins/explore/src/components/DomainExplorerContent/DomainExplorerContent.test.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsExplorerContent.test.tsx
  plugins/fossa/src/components/FossaPage/FossaPage.test.tsx
Labels: catalog, auth

#10014 moved AwsS3DiscoveryProcessor to where it should live
  .changeset/fair-ants-look.md
  .changeset/twenty-planes-dress.md
  docs/integrations/aws-s3/discovery.md
  plugins/catalog-backend-module-aws/api-report.md
  plugins/catalog-backend-module-aws/package.json
  plugins/catalog-backend-module-aws/src/processors/AwsS3DiscoveryProcessor.test.ts
  plugins/catalog-backend-module-aws/src/processors/AwsS3DiscoveryProcessor.ts
  plugins/catalog-backend-module-aws/src/processors/__fixtures__/awsS3-mock-object.txt
  plugins/catalog-backend-module-aws/src/processors/index.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/modules/aws/index.ts
  plugins/catalog-backend/src/modules/index.ts
Labels: documentation, catalog, awaiting-review

#10017 Migrate to using repo commands in CI and root scripts
  .changeset/proud-readers-nail.md
  .changeset/warm-bananas-behave.md
  .github/workflows/ci.yml
  .github/workflows/deploy_nightly.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_windows.yml
  package.json
  packages/cli/src/lib/git.ts
  plugins/airbrake-backend/package.json
  plugins/code-climate/package.json
Labels: awaiting-review

#10034 add lowercase gitlab to make vale less idiotic
  .github/styles/vocab.txt
Labels: awaiting-review

#9816 Add Periskop plugin
  .changeset/strong-pandas-roll.md
  .github/styles/vocab.txt
  docs/features/software-catalog/well-known-annotations.md
  microsite/data/plugins/periskop.yaml
  plugins/periskop-backend/.eslintrc.js
  plugins/periskop-backend/README.md
  plugins/periskop-backend/api-report.md
  plugins/periskop-backend/package.json
  plugins/periskop-backend/src/api/index.ts
  plugins/periskop-backend/src/index.ts
  plugins/periskop-backend/src/run.ts
  plugins/periskop-backend/src/service/router.test.ts
  plugins/periskop-backend/src/service/router.ts
  plugins/periskop-backend/src/service/standaloneServer.ts
  plugins/periskop-backend/src/setupTests.ts
  plugins/periskop-backend/src/types.ts
  plugins/periskop/.eslintrc.js
  plugins/periskop/README.md
  plugins/periskop/api-report.md
  plugins/periskop/config.d.ts
  plugins/periskop/dev/index.tsx
  plugins/periskop/docs/periskop-plugin-screenshot.png
  plugins/periskop/package.json
  plugins/periskop/src/api/index.ts
  plugins/periskop/src/components/EntityPeriskopErrorsCard/EntityPeriskopErrorsCard.tsx
  plugins/periskop/src/components/EntityPeriskopErrorsCard/index.ts
  plugins/periskop/src/extensions.ts
  plugins/periskop/src/index.ts
  plugins/periskop/src/plugin.test.ts
  plugins/periskop/src/plugin.ts
  plugins/periskop/src/routes.ts
  plugins/periskop/src/setupTests.ts
  plugins/periskop/src/types.ts
  scripts/api-extractor.ts
Labels: documentation, microsite

#10043 feat(bitbucket): add support for ETag at `BitbucketUrlReader.readUrl`
  .changeset/metal-glasses-join.md
  packages/backend-common/src/reading/BitbucketUrlReader.test.ts
  packages/backend-common/src/reading/BitbucketUrlReader.ts
Labels: awaiting-review

#9924 feat(integration,bitbucket): discover catalog files using Bitbucket Cloud's code search
  .changeset/fair-turtles-fetch.md
  docs/integrations/bitbucket/discovery.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/modules/bitbucket/BitbucketDiscoveryProcessor.test.ts
  plugins/catalog-backend/src/modules/bitbucket/BitbucketDiscoveryProcessor.ts
  plugins/catalog-backend/src/modules/bitbucket/lib/BitbucketRepositoryParser.ts
  plugins/catalog-backend/src/modules/bitbucket/lib/client.ts
Labels: documentation, catalog, awaiting-review

#10053 Do some groundwork for supporting the better-sqlite3 driver
  .changeset/beige-lies-pay.md
  packages/backend-common/src/database/connection.ts
  packages/backend-common/src/database/connectors/sqlite3.ts
  packages/backend-tasks/src/tasks/TaskWorker.ts
  packages/backend-tasks/src/tasks/util.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.test.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.ts
  plugins/auth-backend/migrations/20210326100300_timestamptz.js
  plugins/bazaar-backend/migrations/20211117092217_optional_entity_ref.js
  plugins/catalog-backend/migrations/20201123205611_relations_table_uniq.js
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
Labels: catalog, auth, scaffolder

#10052 fix typo
  .changeset/clever-garlics-rescue.md
  docs/integrations/gitlab/discovery.md
Labels: documentation

#10018 Add a `schedule` parameter to `LdapOrgEntityProvider`
  .changeset/many-tools-buy.md
  .changeset/new-books-protect.md
  .changeset/silent-cats-kneel.md
  .changeset/ten-queens-dance.md
  docs/integrations/ldap/org.md
  packages/backend-tasks/api-report.md
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.ts
  packages/backend-tasks/src/tasks/index.ts
  packages/backend-tasks/src/tasks/types.ts
  packages/backend-tasks/src/tasks/util.test.ts
  packages/backend-tasks/src/tasks/util.ts
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/package.json
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts
  plugins/catalog-backend-module-ldap/src/processors/index.ts
Labels: documentation, catalog

#10057 more prep work for better-sqlite3
  .changeset/beige-lies-pay.md
  packages/backend-common/package.json
  packages/backend-common/src/database/DatabaseManager.ts
  packages/backend-common/src/database/connection.ts
  packages/backend-common/src/database/connectors/sqlite3.test.ts
  packages/backend-test-utils/src/database/TestDatabases.ts
  packages/backend-test-utils/src/database/types.ts
  plugins/catalog-backend/migrations/20200702153613_entities.js
  plugins/catalog-backend/migrations/20200807120600_entitySearch.js
  plugins/catalog-backend/migrations/20201005122705_add_entity_full_name.js
  plugins/catalog-backend/migrations/20201006130744_entity_data_column.js
  plugins/catalog-backend/migrations/20201210185851_fk_index.js
  plugins/catalog-backend/migrations/20201230103504_update_log_varchar.js
  plugins/catalog-backend/migrations/20210209121210_locations_fk_index.js
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/scaffolder-backend/migrations/20210120143715_init.js
  yarn.lock
Labels: catalog, scaffolder, awaiting-review

#10058 🧹 some final removals for scaffolder plugin and cleanup `api-report`
  .changeset/nine-frogs-yell.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/TemplateTypePicker/TemplateTypePicker.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/EntityTagsPicker/EntityTagsPicker.tsx
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/validation.ts
  plugins/scaffolder/src/components/index.ts
  plugins/scaffolder/src/components/secrets/SecretsContext.tsx
  plugins/scaffolder/src/index.ts
  plugins/scaffolder/src/plugin.ts
  plugins/scaffolder/src/types.ts
Labels: scaffolder, awaiting-review

#10063 🧹 Documentation changes for some scaffolder packages
  .changeset/big-meals-fly.md
  docs/features/software-templates/migrating-from-v1beta2-to-v1beta3.md
  docs/features/software-templates/writing-custom-field-extensions.md
  plugins/scaffolder-backend-module-cookiecutter/README.md
  plugins/scaffolder-backend-module-rails/README.md
  plugins/scaffolder-backend-module-yeoman/README.md
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
  plugins/scaffolder-backend/sample-templates/remote-templates.yaml
Labels: documentation, scaffolder, awaiting-review

#10070 fix(catalog-backend-module-ldap): ignore search reference
  .changeset/quiet-seals-fix.md
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
Labels: catalog, awaiting-review

#10065 🧹 Remove `cookiecutter-golang` template
  .changeset/curvy-forks-cross.md
  docs/features/software-templates/adding-templates.md
  packages/create-app/templates/default-app/app-config.yaml.hbs
Labels: documentation, awaiting-review

#10073 catalog-model: enable usage of : and / in entity names
  .changeset/fuzzy-roses-swim.md
  packages/catalog-model/src/entity/ref.test.ts
  packages/catalog-model/src/entity/ref.ts
Labels: catalog

#10020 techdocs-cli: tweak e2e test setup
  packages/techdocs-cli/e2e-test.config.js
  packages/techdocs-cli/e2e-tests/techdocs-cli.test.ts
  packages/techdocs-cli/package.json
Labels: docs-like-code, awaiting-review

#10064 Migration to package roles
  .changeset/pretty-vans-unite.md
  .changeset/twenty-birds-think.md
  docs/deployment/docker.md
  docs/local-dev/cli-build-system.md
  docs/local-dev/cli-commands.md
  docs/local-dev/cli-overview.md
  docs/tutorials/package-role-migration.md
  microsite/sidebars.json
  mkdocs.yml
  packages/app/package.json
  packages/backend/package.json
  packages/cli/src/commands/index.ts
  packages/cli/templates/default-backend-plugin/.eslintrc.js
  packages/cli/templates/default-backend-plugin/package.json.hbs
  packages/cli/templates/default-common-plugin-package/.eslintrc.js
  packages/cli/templates/default-common-plugin-package/package.json.hbs
  packages/cli/templates/default-plugin/.eslintrc.js
  packages/cli/templates/default-plugin/package.json.hbs
  packages/cli/templates/scaffolder-module/.eslintrc.js
  packages/cli/templates/scaffolder-module/package.json.hbs
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/.eslintrc.js
  packages/create-app/templates/default-app/packages/app/package.json.hbs
  packages/create-app/templates/default-app/packages/backend/.eslintrc.js
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
Labels: documentation, cli, microsite, awaiting-review

#10083 changesets: enter prerelease
  .changeset/pre.json
Labels: awaiting-review

#10046 docs: use localhost instead of 127.0.0.1
  docs/getting-started/configuration.md
Labels: documentation, awaiting-review

#9961 Add allowedKinds option to CatalogKindHeader
  .changeset/gorgeous-trains-clap.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
Labels: catalog, awaiting-review

#9876 Airbrake Plugin: No API calls made or errors created if there is no project ID
  .changeset/giant-bottles-eat.md
  plugins/airbrake/src/components/EntityAirbrakeWidget/EntityAirbrakeWidget.test.tsx
  plugins/airbrake/src/components/EntityAirbrakeWidget/EntityAirbrakeWidget.tsx
Labels: awaiting-review

#10096 (docs) Clarify that users need to install the S3 backend plugin
  docs/integrations/aws-s3/discovery.md
Labels: documentation, awaiting-review

#10076 refactor k8s fanout handler
  .changeset/real-adults-fold.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
Labels: awaiting-review

#10105 add check for externalized processors
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  scripts/api-extractor.ts
Labels: catalog

#10084 Fixing `FavoriteEntity` border color
  .changeset/ninety-cheetahs-march.md
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
Labels: scaffolder

#9976 remove `metadata.generation`
  .changeset/large-bottles-cheer.md
  .changeset/rich-bobcats-behave.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.ts
  packages/catalog-model/src/entity/policies/NoForeignRootFieldsEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/SchemaValidEntityPolicy.test.ts
  packages/catalog-model/src/schema/EntityMeta.schema.json
  packages/catalog-model/src/validation/entityKindSchemaValidator.test.ts
  packages/catalog-model/src/validation/entitySchemaValidator.test.ts
  plugins/catalog-backend/src/stitching/Stitcher.test.ts
  plugins/catalog-backend/src/stitching/Stitcher.ts
  plugins/catalog-backend/src/stitching/buildEntitySearch.test.ts
  plugins/catalog-backend/src/stitching/buildEntitySearch.ts
  plugins/catalog-graphql/src/graphql/module.test.ts
  plugins/catalog-graphql/src/graphql/types.ts
  plugins/catalog-graphql/src/schema.js
  plugins/catalog-graphql/src/service/client.ts
  plugins/github-deployments/src/mocks/mocks.ts
  scripts/api-extractor.ts
Labels: documentation, do-not-merge, catalog

#9972 catalog-model: Remove `target` from `EntityRelation` type
  .changeset/yellow-shirts-study.md
  packages/app/src/components/catalog/EntityPage.tsx
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/Entity.ts
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.test.tsx
  plugins/api-docs/src/components/ApisCards/HasApisCard.test.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.test.tsx
  plugins/api-docs/src/components/ComponentsCards/ConsumingComponentsCard.test.tsx
  plugins/api-docs/src/components/ComponentsCards/ProvidingComponentsCard.test.tsx
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/catalog-backend/src/permissions/rules/isEntityOwner.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/stitching/Stitcher.test.ts
  plugins/catalog-backend/src/stitching/Stitcher.ts
  plugins/catalog-backend/src/stitching/buildEntitySearch.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityTable/presets.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityOwnership.test.tsx
  plugins/catalog-react/src/utils/getEntityRelations.test.ts
  plugins/catalog-react/src/utils/isOwnerOf.test.ts
  plugins/catalog/src/components/AboutCard/AboutContent.test.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/DependencyOfComponentsCard/DependencyOfComponentsCard.test.tsx
  plugins/catalog/src/components/DependsOnComponentsCard/DependsOnComponentsCard.test.tsx
  plugins/catalog/src/components/DependsOnResourcesCard/DependsOnResourcesCard.test.tsx
  plugins/catalog/src/components/HasComponentsCard/HasComponentsCard.test.tsx
  plugins/catalog/src/components/HasResourcesCard/HasResourcesCard.test.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.test.tsx
  plugins/catalog/src/components/HasSystemsCard/HasSystemsCard.test.tsx
  plugins/catalog/src/components/SystemDiagramCard/SystemDiagramCard.test.tsx
  plugins/fossa/dev/index.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.test.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
  plugins/org/src/components/Cards/User/UserProfileCard/UserProfileCard.test.tsx
  plugins/tech-insights-backend/src/service/fact/factRetrievers/entityMetadataFactRetriever.test.ts
  plugins/tech-insights-backend/src/service/fact/factRetrievers/entityOwnershipFactRetriever.test.ts
  plugins/tech-insights-backend/src/service/fact/factRetrievers/techdocsFactRetriever.test.ts
  plugins/techdocs/src/home/components/Tables/DocsTable.test.tsx
Labels: catalog, auth, docs-like-code

#10112 Release 0.71.1 with fix for CLI failing to import */package.json - again
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/lib/version.ts
  plugins/airbrake/package.json
  plugins/allure/package.json
  plugins/analytics-module-ga/package.json
  plugins/apache-airflow/package.json
  plugins/api-docs/package.json
  plugins/azure-devops/package.json
  plugins/badges/package.json
  plugins/bazaar/package.json
  plugins/bitrise/package.json
  plugins/catalog-graph/package.json
  plugins/catalog-import/package.json
  plugins/catalog/package.json
  plugins/circleci/package.json
  plugins/cloudbuild/package.json
  plugins/code-climate/package.json
  plugins/code-coverage/package.json
  plugins/config-schema/package.json
  plugins/cost-insights/package.json
  plugins/explore/package.json
  plugins/firehydrant/package.json
  plugins/fossa/package.json
  plugins/gcp-projects/package.json
  plugins/git-release-manager/package.json
  plugins/github-actions/package.json
  plugins/github-deployments/package.json
  plugins/gitops-profiles/package.json
  plugins/gocd/package.json
  plugins/graphiql/package.json
  plugins/home/package.json
  plugins/ilert/package.json
  plugins/jenkins/package.json
  plugins/kafka/package.json
  plugins/kubernetes/package.json
  plugins/lighthouse/package.json
  plugins/newrelic-dashboard/package.json
  plugins/newrelic/package.json
  plugins/org/package.json
  plugins/pagerduty/package.json
  plugins/periskop/package.json
  plugins/rollbar/package.json
  plugins/scaffolder/package.json
  plugins/search/package.json
  plugins/sentry/package.json
  plugins/shortcuts/package.json
  plugins/sonarqube/package.json
  plugins/splunk-on-call/package.json
  plugins/tech-insights/package.json
  plugins/tech-radar/package.json
  plugins/techdocs/package.json
  plugins/todo/package.json
  plugins/user-settings/package.json
  plugins/xcmetrics/package.json
Labels: catalog, docs-like-code, search, scaffolder

#10048 Getting started docs
  docs/getting-started/configuration.md
Labels: documentation, awaiting-review

#10132 switch us over to better-sqlite3
  .changeset/heavy-kangaroos-confess.md
  .changeset/warm-impalas-march.md
  app-config.yaml
  docs/getting-started/configuration.md
  docs/tutorials/configuring-plugin-databases.md
  docs/tutorials/switching-sqlite-postgres.md
  packages/backend-common/config.d.ts
  packages/backend-common/src/database/DatabaseManager.test.ts
  packages/backend-common/src/database/config.test.ts
  packages/backend-common/src/database/connection.test.ts
  packages/backend-common/src/database/connectors/sqlite3.test.ts
  packages/backend-common/src/database/util.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerJanitor.ts
  packages/backend-test-utils/.snyk
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/database/types.ts
  packages/backend/.snyk
  packages/backend/knexfile.ts
  packages/backend/package.json
  packages/create-app/templates/default-app/app-config.yaml.hbs
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  plugins/auth-backend/src/identity/DatabaseKeyStore.test.ts
  plugins/auth-backend/src/identity/KeyStores.test.ts
  plugins/auth-backend/src/service/standaloneServer.ts
  plugins/bazaar-backend/src/service/standaloneServer.ts
  plugins/catalog-backend/.snyk
  plugins/catalog-backend/knexfile.js
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/conversion.ts
  plugins/catalog-backend/src/service/standaloneServer.ts
  plugins/code-coverage-backend/src/service/CodeCoverageDatabase.test.ts
  plugins/code-coverage-backend/src/service/router.test.ts
  plugins/code-coverage-backend/src/service/standaloneServer.ts
  plugins/config-schema/dev/example-schema.json
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.test.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  yarn.lock
Labels: documentation, catalog, auth, scaffolder, awaiting-review

#10144 Fixed typo and updated code examples
  docs/features/software-catalog/external-integrations.md
  docs/tutorials/package-role-migration.md
Labels: documentation, awaiting-review

#10148 just some manual dedup of packages
  yarn.lock
Labels: awaiting-review

#9918 Add link to new actions
  docs/features/software-templates/writing-custom-actions.md
  microsite/data/plugins/scaffolder-backend-roadie-aws.yaml
  microsite/data/plugins/scaffolder-backend-roadie-http-request.yaml
  microsite/data/plugins/scaffolder-backend-roadie-utils.yaml
  microsite/static/img/scaffolder-http-request-logo.svg
  microsite/static/img/scaffolder-utils-logo.png
Labels: documentation, microsite, awaiting-review

#10162 catalog-model: Remove EntityName & getEntityName
  .changeset/metal-beans-teach.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/entity/index.ts
  packages/catalog-model/src/entity/ref.ts
  packages/catalog-model/src/index.ts
  packages/catalog-model/src/types.ts
Labels: catalog

#10165 catalog-react: remove deprecated formatEntityRefTitle
  .changeset/tricky-months-sort.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityRefLink/humanize.test.ts
  plugins/catalog-react/src/components/EntityRefLink/humanize.ts
  plugins/catalog-react/src/components/EntityRefLink/index.ts
Labels: catalog

#10164 catalog-backend: removed CatalogEntityDocument
  .changeset/silent-fishes-dream.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/search/index.ts
Labels: catalog

#10167 catalog-backend: removed deprecated refresh interval symbols
  .changeset/odd-spoons-design.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/processing/index.ts
  plugins/catalog-backend/src/processing/refresh.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: catalog

#10166 catalog-react: remove deprecated annotation helpers
  .changeset/shaggy-beers-unite.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/index.ts
  plugins/catalog-react/src/utils/getEntityMetadataUrl.ts
  plugins/catalog-react/src/utils/index.ts
Labels: catalog

#8971 [PRFC] Release Process & Versioning Policy
  CONTRIBUTING.md
  docs/overview/stability-index.md
  docs/overview/versioning-policy.md
  microsite/blog/2020-12-22-stability-index.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, will-fix, microsite, awaiting-review

#10163 fix(catalog-backend-module-ldap): add support for missing search options
  .changeset/smart-snails-switch.md
  plugins/catalog-backend-module-ldap/config.d.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
Labels: catalog

#10120 Updated Azure discovery docs after move to seperate package
  docs/integrations/azure/discovery.md
Labels: documentation, awaiting-review

#9921 feat(msgraph): support advanced querying capabilities
  .changeset/beige-lamps-cry.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.ts
Labels: catalog, awaiting-review

#9944 [Techdocs] fix sidebar scroll
  .changeset/techdocs-slow-teachers-sleep.md
  .github/styles/vocab.txt
  plugins/techdocs/src/reader/components/Reader.tsx
Labels: docs-like-code, stale

#10168 catalog-react: remove deprecated favorite column helpers
  .changeset/nervous-spiders-join.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/FavoriteEntity/FavoriteEntity.tsx
  plugins/catalog-react/src/components/FavoriteEntity/index.ts
Labels: catalog, awaiting-review

#10170 [TechDocs] [Search] Final release, old common packages
  .changeset/search-pour-one-out-common.md
  .changeset/techdocs-pour-one-out-common.md
  packages/search-common/README.md
  packages/search-common/package.json
  packages/techdocs-common/README.md
  packages/techdocs-common/package.json
Labels: docs-like-code, search

#10172 make sure to pass in the auth token to the ancestry endpoint
  .changeset/four-schools-shake.md
  plugins/catalog-backend/src/service/createRouter.ts
Labels: catalog

#10171 remove results
  .changeset/moody-stingrays-tap.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/api/deprecatedResult.ts
  plugins/catalog-backend/src/api/index.ts
Labels: catalog

#10180 Include roadie packages in app
  packages/app/package.json
  packages/app/src/components/catalog/EntityPage.tsx
  yarn.lock
Labels: awaiting-review

#10181 catalog-backend: removed RecursivePartial export
  .changeset/polite-melons-clap.md
  .changeset/strong-tomatoes-kneel.md
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/util.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/service/request/parseEntityTransformParams.ts
  plugins/catalog-backend/src/util/RecursivePartial.ts
  plugins/catalog-backend/src/util/index.ts
  scripts/api-extractor.ts
Labels: catalog

#10187 docs: write on how to use feature flags within templates
  docs/features/software-templates/writing-templates.md
Labels: documentation, awaiting-review

#10174 [TechDocs] clean up deprecations
  .changeset/techdocs-breezy-pans-flow.md
  .changeset/techdocs-clever-pumas-warn.md
  .changeset/techdocs-tiny-spies-knock.md
  docs/features/techdocs/configuration.md
  packages/techdocs-cli-embedded-app/app-config.yaml
  packages/techdocs-cli-embedded-app/src/apis.ts
  packages/techdocs-cli-embedded-app/src/components/TechDocsPage/TechDocsPage.tsx
  packages/techdocs-cli-embedded-app/src/config.ts
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-backend/src/service/router.test.ts
  plugins/techdocs-backend/src/service/router.ts
  plugins/techdocs-backend/src/service/standaloneServer.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/prepare/dir.test.ts
  plugins/techdocs-node/src/stages/prepare/dir.ts
  plugins/techdocs-node/src/stages/prepare/preparers.ts
  plugins/techdocs-node/src/stages/prepare/url.ts
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.test.ts
  plugins/techdocs-node/src/stages/publish/openStackSwift.test.ts
  plugins/techdocs-node/src/stages/publish/publish.test.ts
  plugins/techdocs/api-report.md
  plugins/techdocs/config.d.ts
  plugins/techdocs/src/api.ts
  plugins/techdocs/src/client.test.ts
  plugins/techdocs/src/client.ts
  plugins/techdocs/src/home/components/LegacyTechDocsHome.test.tsx
  plugins/techdocs/src/home/components/LegacyTechDocsHome.tsx
  plugins/techdocs/src/reader/components/LegacyTechDocsPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader.tsx
  plugins/techdocs/src/reader/components/index.ts
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.tsx
Labels: documentation, docs-like-code, awaiting-review

#10195 removed a lingering reference to the old 'result' export
  docs/features/software-catalog/extending-the-model.md
Labels: documentation

#9664 catalog-import: stop trying to register optional locations
  .changeset/yellow-boxes-jump.md
  plugins/catalog-import/src/components/StepReviewLocation/StepReviewLocation.tsx
Labels: catalog, awaiting-review

#10200 scaffolder: mark TemplateList as internal + removed unused prop
  plugins/scaffolder/src/components/TemplateList/TemplateList.tsx
Labels: scaffolder, awaiting-review

#10199 catalog-client,catalog-backend: removed deprecated presence field
  .changeset/odd-hairs-remember.md
  .changeset/wild-lemons-pump.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/service/types.ts
Labels: catalog

#10196 catalog-backend: Reduce public API surface
  .changeset/fluffy-cameras-shop.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/catalog/index.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/ingestion/CatalogRules.ts
  plugins/catalog-backend/src/ingestion/index.ts
  plugins/catalog-backend/src/modules/core/DefaultLocationStore.ts
  plugins/catalog-backend/src/processing/index.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/index.ts
  plugins/catalog-backend/src/service/request/parseEntityPaginationParams.ts
Labels: catalog

#10169 Tidying up some api-reports
  .changeset/lucky-kangaroos-sneeze.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TaskSpec.ts
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
Labels: scaffolder, awaiting-review

#10201 catalog-react: remove deprecated loading state of useEntity
  .changeset/thin-candles-run.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/useEntity.test.tsx
  plugins/catalog-react/src/hooks/useEntity.tsx
  plugins/catalog-react/src/hooks/useEntityPermission.test.tsx
  plugins/catalog-react/src/hooks/useEntityPermission.ts
Labels: catalog

#10205 catalog-model: make User spec.memberOf theoretically - but not practically - optional
  .changeset/eighty-taxis-wash.md
  .changeset/strong-dolphins-turn.md
  packages/catalog-model/api-report.md
  packages/catalog-model/src/kinds/UserEntityV1alpha1.ts
  plugins/catalog-backend-module-github/src/lib/org.ts
  plugins/catalog-backend-module-ldap/src/ldap/org.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/org.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.tsx
Labels: catalog

#10186 docs: tweak structure of permission framework
  docs/permission/concepts.md
  docs/permission/overview.md
  microsite/sidebars.json
Labels: documentation, microsite

#10177 permission-docs: adjust tutorial structure
  docs/permission/overview.md
  docs/permission/plugin-authors/01-setup.md
  docs/permission/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permission/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permission/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permission/plugin-authors/authorize-the-read-endpoint.md
  microsite/sidebars.json
Labels: documentation, microsite, awaiting-review

#10214 catalog: fix EntitySwitch to render default case
  .changeset/shy-seals-deny.md
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.tsx
Labels: catalog

#10226 microsite: remove outdated labels
  docs/features/software-catalog/index.md
  microsite/pages/en/index.js
Labels: documentation, microsite

#10182 feat(scaffolder-plugin-backend) Add GitHub issues label action
  .changeset/fuzzy-swans-remain.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubIssuesLabel.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubIssuesLabel.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
Labels: scaffolder, awaiting-review

#10206 permission-docs: add logical operator support to example plugin filtering
  contrib/plugins/todo-list-backend/package.json
  contrib/plugins/todo-list-backend/src/service/router.ts
  contrib/plugins/todo-list-backend/src/service/standaloneServer.ts
  contrib/plugins/todo-list-backend/src/service/todos.ts
  contrib/plugins/todo-list/package.json
  docs/permission/plugin-authors/01-setup.md
  docs/permission/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permission/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permission/plugin-authors/04-authorizing-access-to-paginated-data.md
Labels: documentation, awaiting-review

#10211 docs: fix bad whitespace in permission tutorial
  docs/permission/plugin-authors/02-adding-a-basic-permission-check.md
Labels: documentation
