Repository backstage/backstage, pull requests merged in 2022-11, with the labels that each got.

#14342 Version Packages (next)
  .changeset/create-app-1667233110.md
  .changeset/pre.json
  docs/releases/v1.8.0-next.1-changelog.md
  package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/backend-next/CHANGELOG.md
  packages/backend-next/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/create-app/CHANGELOG.md
  packages/create-app/package.json
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  plugins/azure-devops-backend/CHANGELOG.md
  plugins/azure-devops-backend/package.json
  plugins/playlist-backend/CHANGELOG.md
  plugins/playlist-backend/package.json
  plugins/playlist/CHANGELOG.md
  plugins/playlist/package.json
  plugins/scaffolder-backend-module-cookiecutter/CHANGELOG.md
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-rails/CHANGELOG.md
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-yeoman/CHANGELOG.md
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/techdocs-addons-test-utils/CHANGELOG.md
  plugins/techdocs-addons-test-utils/package.json
  plugins/techdocs/CHANGELOG.md
  plugins/techdocs/package.json
Labels: documentation, techdocs, scaffolder

#14306 Patch release of create-app git fix
  .changeset/curvy-islands-marry.md
  package.json
  packages/create-app/CHANGELOG.md
  packages/create-app/package.json
  packages/create-app/src/createApp.test.ts
  packages/create-app/src/createApp.ts
  packages/create-app/src/lib/tasks.test.ts
  packages/create-app/src/lib/tasks.ts
  yarn.lock
Labels: stale

#14405 A very minor doc fix (typo) on architecture-overview.md
  docs/overview/architecture-overview.md
Labels: documentation

#14368 Fix GitHub callback URL documentation
  .changeset/cool-suns-add.md
  docs/auth/github/provider.md
  plugins/auth-backend/README.md
  plugins/github-actions/README.md
Labels: documentation, auth

#14371 chore(auth): improve logging
  .changeset/silly-meals-teach.md
  plugins/auth-backend/src/service/router.ts
Labels: auth

#14129 Extend the UserProfileCard and GroupProfileCard to allow for adding links
  .changeset/popular-ants-mix.md
  docs/features/software-catalog/external-integrations.md
  plugins/org/src/components/Cards/Group/GroupProfile/GroupProfileCard.stories.tsx
  plugins/org/src/components/Cards/Group/GroupProfile/GroupProfileCard.tsx
  plugins/org/src/components/Cards/Meta/LinksGroup.tsx
  plugins/org/src/components/Cards/Meta/index.ts
  plugins/org/src/components/Cards/User/UserProfileCard/UserProfileCard.stories.tsx
  plugins/org/src/components/Cards/User/UserProfileCard/UserProfileCard.test.tsx
  plugins/org/src/components/Cards/User/UserProfileCard/UserProfileCard.tsx
Labels: documentation

#14362 docs: scaffolder inputs examples
  docs/features/software-templates/input-examples.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#14450 Rename to GithubOrgEntityProvider
  docs/integrations/github/org.md
Labels: documentation

#14336 [Scaffolder] Add analytics events to "next" version
  .changeset/analyze-next-software-creation.md
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
Labels: scaffolder

#14455 Use inclusive terminology in comments (allowlist)
  plugins/catalog-backend/config.d.ts
  plugins/config-schema/dev/example-schema.json
Labels: catalog

#12558 Switch Node.js versions to 16 & 18
  .changeset/blue-items-shop.md
  .changeset/eighty-planets-train.md
  .changeset/silent-moles-chew.md
  .changeset/thirty-deers-float.md
  .changeset/two-timers-pump.md
  .changeset/witty-carrots-live.md
  .github/workflows/ci.yml
  .github/workflows/deploy_microsite.yml
  .github/workflows/deploy_nightly.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/sync_snyk-github-issues.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-techdocs.yml
  .github/workflows/verify_e2e-tugboat.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_kubernetes.yml
  .github/workflows/verify_microsite.yml
  .github/workflows/verify_windows.yml
  contrib/docker/devops/Dockerfile
  contrib/docker/frontend-with-nginx/Dockerfile.dockerbuild
  cypress/tsconfig.json
  docs/features/search/how-to-guides.md
  docs/getting-started/running-backstage-locally.md
  docs/tutorials/quickstart-app-plugin.md
  package.json
  packages/backend-common/package.json
  packages/cli/config/tsconfig.json
  packages/cli/package.json
  packages/create-app/templates/default-app/app-config.production.yaml
  packages/create-app/templates/default-app/app-config.yaml.hbs
  packages/create-app/templates/default-app/package.json.hbs
  packages/e2e-test/src/commands/run.ts
  plugins/auth-backend/package.json
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/cost-insights/package.json
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-common/package.json
  plugins/kubernetes/package.json
  plugins/scaffolder-backend/scripts/build-nunjucks.js
  plugins/techdocs/package.json
  scripts/check-type-dependencies.js
  yarn.lock
Labels: documentation, catalog, auth, techdocs, will-fix, scaffolder

#14421 docs: update node versioning policy to be less optimistic
  docs/overview/versioning-policy.md
Labels: documentation

#14466 feat(catalog-graph): preserve entity graph options + increment max depth
  .changeset/hungry-kiwis-scream.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
Labels: catalog

#14355 [docs] complete azure outbound access requirements
  docs/auth/microsoft/provider.md
Labels: documentation

#14320 Implement "Branch protection rules" support for "publish:github" action
  .changeset/ten-hats-tickle.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#14310 Adding optional string array of topics to publish gitlab action
  .changeset/large-spies-doubt.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts
Labels: scaffolder

#14493 docs: no space
  docs/auth/microsoft/provider.md
Labels: documentation

#14487 Pass through the `formData` into the `formContext` for the `next` scaffolder
  .changeset/moody-pots-end.md
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
Labels: scaffolder

#14422 Inject optional CatalogApi in auth-backend createRouter function.
  .changeset/wicked-pumas-nail.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/service/router.ts
Labels: auth

#14523 Add announcements plugin to the marketplace
  microsite/data/plugins/announcements.yaml
  microsite/static/img/plugin-announcements-logo.png
Labels: microsite

#14446 feat: Enable theme overrides for components in catalog-graph plugin
  .changeset/lazy-nails-study.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedKindsFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SwitchFilter.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomLabel.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomNode.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: catalog

#14522 Feat: add training section to backstage.io
  microsite/pages/en/community.js
Labels: microsite

#14515 chore: remove backstagecon banner
  microsite/pages/en/index.js
Labels: microsite

#14547 docs: fix /frame/handler => /handler/frame typo
  docs/auth/add-auth-provider.md
Labels: documentation

#14265 docs: Add component design guidelines
  .github/vale/Vocab/Backstage/accept.txt
  docs/dls/component-design-guidelines.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#14503 feat(catalog): add location to processing error logs
  .changeset/cuddly-coats-try.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: catalog

#13640 Allow import of github org verified email in User entities
  .changeset/proud-queens-warn.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/index.ts
  plugins/catalog-backend-module-github/src/lib/org.test.ts
  plugins/catalog-backend-module-github/src/lib/org.ts
  plugins/catalog-backend-module-github/src/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/processors/GithubOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: documentation, catalog

#14566 scaffolder/next: fix the return type for `createNextScaffolderFieldExtension`
  .changeset/tidy-avocados-ring.md
  packages/app/src/components/scaffolder/customScaffolderExtensions.tsx
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/extensions/index.tsx
Labels: scaffolder

#14573 [TechDocs] Analytics entity-awareness
  .changeset/techdocs-analyze-clicks.md
  .changeset/techdocs-analyze-entities.md
  plugins/techdocs-react/src/context.test.tsx
  plugins/techdocs-react/src/context.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: techdocs

#14591 Permit customizing the header name for the IAP jwt
  .changeset/great-icons-greet.md
  docs/auth/google/gcp-iap-auth.md
  plugins/auth-backend/src/providers/gcp-iap/helpers.test.ts
  plugins/auth-backend/src/providers/gcp-iap/helpers.ts
  plugins/auth-backend/src/providers/gcp-iap/provider.test.ts
  plugins/auth-backend/src/providers/gcp-iap/provider.ts
  plugins/auth-backend/src/providers/gcp-iap/types.ts
Labels: documentation, auth

#14256 feat(docs): hide document description if not provided
  .changeset/silly-snails-fail.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: techdocs

#14593 fix(docs): update listed contents of .dockerignore
  docs/deployment/docker.md
Labels: documentation

#14588 Improve MS Graph docs
  docs/integrations/azure/org.md
Labels: documentation

#14370 Fix casing of EntityNamePicker validation error message
  .changeset/good-doors-attend.md
  plugins/scaffolder/src/components/fields/EntityNamePicker/validation.ts
Labels: scaffolder

#14554 richer errors in the msgraph import steps
  .changeset/clean-socks-call.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
Labels: catalog

#14625 Add missing angle brackets
  docs/overview/architecture-overview.md
Labels: documentation

#14627 create-app: switch root build script
  .changeset/grumpy-yaks-travel.md
  .changeset/tall-mugs-shake.md
  contrib/docs/tutorials/aws-deployment.md
  cypress/README.md
  docs/deployment/docker.md
  docs/getting-started/contributors.md
  docs/getting-started/running-backstage-locally.md
  docs/tutorials/package-role-migration.md
  package.json
  packages/app/public/index.html
  packages/backend/Dockerfile
  packages/backend/README.md
  packages/cli/templates/serve_index.html
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/public/index.html
  packages/create-app/templates/default-app/packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/README.md
  packages/e2e-test/README.md
  packages/e2e-test/src/commands/run.ts
  packages/techdocs-cli-embedded-app/public/index.html
Labels: documentation, techdocs

#14618 update tests to be more robust against catalog-client changes
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/badges-backend/src/service/router.test.ts
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.test.tsx
  plugins/explore/src/components/DefaultExplorePage/DefaultExplorePage.test.tsx
  plugins/explore/src/components/DomainExplorerContent/DomainExplorerContent.test.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsExplorerContent.test.tsx
  plugins/fossa/src/components/FossaPage/FossaPage.test.tsx
  plugins/todo-backend/src/service/TodoReaderService.test.ts
Labels: catalog, auth

#14640 Update running-backstage-locally.md
  docs/getting-started/running-backstage-locally.md
Labels: documentation

#14638 add release notes for v1.8.0
  docs/releases/v1.8.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#14648 fix: incorrect export type of GithubOrgEntityProvider
  .changeset/slow-dragons-promise.md
  plugins/catalog-backend-module-github/src/index.ts
Labels: catalog

#14658 Update livestream URL on live page
  microsite/pages/en/live.js
Labels: microsite

#14636 microsite: Add blog entry about LF course
  .github/vale/Vocab/Backstage/accept.txt
  microsite/blog/2022-11-15-linux-foundation-introduction-to-backstage-course.md
  microsite/blog/assets/22-11-15/Introduction-to-Backstage-Developer-Portals-Made-Easy-2-768x432.png
Labels: microsite

#14665 wait for initialize to complete before finalize
  .changeset/gorgeous-hairs-applaud.md
  plugins/search-backend-node/src/indexing/BatchSearchEngineIndexer.ts
Labels: search

#14628 improve the Custom ScmAuthApi Implementation section of docs/auth
  docs/auth/index.md
Labels: documentation

#14657 Update versioning policy to treat utility/service API additions as non-breaking
  REVIEWING.md
  docs/overview/versioning-policy.md
Labels: documentation

#14683 docs/getting-started: clarify yarn version
  docs/getting-started/index.md
Labels: documentation

#14626 Cleaned up some deprecations
  .changeset/serious-windows-occur.md
  packages/backend-common/src/database/connectors/mysql.ts
  packages/backend-common/src/reading/AwsS3UrlReader.test.ts
  packages/backend-common/src/reading/AzureUrlReader.test.ts
  packages/backend-common/src/reading/BitbucketCloudUrlReader.test.ts
  packages/backend-common/src/reading/FetchUrlReader.test.ts
  packages/backend-common/src/reading/GithubUrlReader.test.ts
  packages/backend-common/src/reading/GitlabUrlReader.test.ts
  packages/backend-common/src/reading/UrlReaderPredicateMux.test.ts
  packages/backend-common/src/reading/integration.test.ts
  packages/catalog-model/src/validation/CommonValidatorFunctions.test.ts
  packages/core-components/src/components/SupportButton/SupportButton.tsx
Labels: catalog

#14667 give the ability to supply a transformErrors function to the rjsf/core
  .changeset/sour-flowers-care.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
Labels: scaffolder

#14569 docs: Replaces use of CatalogResultListItem with correct symbol
  docs/features/search/getting-started.md
Labels: documentation, stale

#14696 make a duplicate checks script
  .github/workflows/ci.yml
  .github/workflows/verify_microsite.yml
  microsite/yarn.lock
  package.json
  scripts/verify-lockfile-duplicates.js
  storybook/yarn.lock
Labels: microsite

#14619 implement by-refs batch fetching in the catalog client
  .changeset/chilly-ads-lay.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/types/index.ts
Labels: do-not-merge, catalog

#14651 add some eslint rules for testing-library use in tests
  .changeset/angry-dingos-lick.md
  .eslintrc.js
  package.json
  packages/app/cypress/integration/app.js
  packages/core-app-api/src/routing/FeatureFlagged.test.tsx
  packages/core-components/src/components/FeatureDiscovery/FeatureCalloutCircular.test.tsx
  packages/core-components/src/components/Select/Select.test.tsx
  packages/core-components/src/components/WarningPanel/WarningPanel.test.tsx
  plugins/bitrise/src/components/BitriseBuildDetailsDialog/BitriseBuildDetailsDialog.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.test.tsx
  plugins/catalog/src/components/EntityContextMenu/UnregisterEntity.test.tsx
  plugins/dynatrace/src/components/Synthetics/SyntheticsLocation/SyntheticsLocation.test.tsx
  plugins/gocd/src/components/Select/Select.test.tsx
  plugins/lighthouse/src/components/AuditList/AuditListForEntity.test.tsx
  plugins/lighthouse/src/components/Cards/LastLighthouseAuditCard.test.tsx
  plugins/org-react/src/components/GroupListPicker/GroupListPicker.test.tsx
  plugins/pagerduty/src/api/client.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder/src/components/ListTasksPage/ListTaskPage.test.tsx
  plugins/scaffolder/src/components/ListTasksPage/OwnerListPicker.test.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/RegisterExistingButton.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/ReviewState.test.tsx
  plugins/splunk-on-call/src/api/client.ts
  plugins/splunk-on-call/src/components/EntitySplunkOnCallCard.test.tsx
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/src/hooks.ts
  plugins/techdocs/src/home/components/Grids/EntityListDocsGrid.test.tsx
  yarn.lock
Labels: catalog, techdocs, microsite, scaffolder

#14686 require testing-library/prefer-screen-queries in catalog libraries
  plugins/catalog-graph/.eslintrc.js
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CurveFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/DirectionFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedKindsFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SwitchFilter.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomLabel.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomNode.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityKindIcon.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.test.tsx
  plugins/catalog-import/.eslintrc.js
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.test.tsx
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.test.tsx
  plugins/catalog-import/src/components/ImportPage/ImportPage.test.tsx
  plugins/catalog-import/src/components/StepInitAnalyzeUrl/StepInitAnalyzeUrl.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreparePullRequestForm.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreviewPullRequestComponent.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.test.tsx
  plugins/catalog-import/src/components/StepPrepareSelectLocations/StepPrepareSelectLocations.test.tsx
  plugins/catalog-react/.eslintrc.js
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.test.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.test.tsx
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLink.test.tsx
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLinks.test.tsx
  plugins/catalog-react/src/components/EntityRefLink/FetchedEntityRefLinks.test.tsx
  plugins/catalog-react/src/components/EntitySearchBar/EntitySearchBar.test.tsx
  plugins/catalog-react/src/components/EntityTable/EntityTable.test.tsx
  plugins/catalog-react/src/components/EntityTable/presets.test.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.test.tsx
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog/.eslintrc.js
  plugins/catalog/src/components/AboutCard/AboutCard.test.tsx
  plugins/catalog/src/components/AboutCard/AboutContent.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.test.tsx
  plugins/catalog/src/components/CatalogPage/CatalogPage.test.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/DependencyOfComponentsCard/DependencyOfComponentsCard.test.tsx
  plugins/catalog/src/components/DependsOnComponentsCard/DependsOnComponentsCard.test.tsx
  plugins/catalog/src/components/DependsOnResourcesCard/DependsOnResourcesCard.test.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.test.tsx
  plugins/catalog/src/components/EntityContextMenu/UnregisterEntity.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLinksCard/EntityLinksCard.test.tsx
  plugins/catalog/src/components/EntityLinksCard/IconLink.test.tsx
  plugins/catalog/src/components/EntityNotFound/EntityNotFound.test.tsx
  plugins/catalog/src/components/EntityOrphanWarning/EntityOrphanWarning.test.tsx
  plugins/catalog/src/components/EntityProcessingErrorsPanel/EntityProcessingErrorsPanel.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/HasComponentsCard/HasComponentsCard.test.tsx
  plugins/catalog/src/components/HasResourcesCard/HasResourcesCard.test.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.test.tsx
  plugins/catalog/src/components/HasSystemsCard/HasSystemsCard.test.tsx
  plugins/catalog/src/components/SystemDiagramCard/SystemDiagramCard.test.tsx
Labels: catalog

#14701 [Search] Take advantage of node 16 features
  .changeset/search-om-manniskan-ginge.md
  plugins/search-backend-node/src/indexing/BatchSearchEngineIndexer.ts
  plugins/search-backend-node/src/indexing/DecoratorBase.ts
Labels: search

#14704 Fix the URL of Humanitec plugin
  microsite/data/plugins/humanitec.yaml
Labels: microsite

#14699 Pass headerOptions to TemplatePage
  .changeset/sour-plums-grow.md
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.tsx
Labels: scaffolder

#14707 Do not use deprecated LocationSpec
  .changeset/clever-pillows-drive.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/ingestion/CatalogRules.ts
  plugins/catalog-backend/src/modules/codeowners/CodeOwnersProcessor.ts
  plugins/catalog-backend/src/modules/core/AnnotateLocationEntityProcessor.ts
  plugins/catalog-backend/src/modules/core/AnnotateScmSlugEntityProcessor.ts
  plugins/catalog-backend/src/modules/core/BuiltinKindsEntityProcessor.ts
  plugins/catalog-backend/src/modules/core/FileReaderProcessor.ts
  plugins/catalog-backend/src/modules/core/LocationEntityProcessor.ts
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.ts
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.ts
  plugins/catalog-backend/src/modules/util/parse.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/processing/util.ts
  plugins/catalog-backend/src/util/conversion.ts
Labels: catalog

#14705 add cloudsmith plugin to backstage microsite
  microsite/data/plugins/cloudsmith.yaml
Labels: microsite

#14703 Use Json types from @backstage/types
  .changeset/funny-numbers-compete.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#14587 Added custom provider annotation details
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#14698 Use pluralize for catalog kind header component
  .changeset/thin-donuts-join.md
  plugins/catalog/package.json
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
  yarn.lock
Labels: catalog

#14346 RFC backend plugin lifecycle events
  .changeset/old-keys-leave.md
  .changeset/silly-wolves-remember.md
  .changeset/twenty-dodos-wash.md
  .changeset/young-turkeys-relax.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/services/implementations/index.ts
  packages/backend-app-api/src/services/implementations/lifecycleService.test.ts
  packages/backend-app-api/src/services/implementations/lifecycleService.ts
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-plugin-api/src/services/definitions/lifecycleServiceRef.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
Labels: catalog

#14386 Added SidebarSubmenu for all Kinds
  docs/assets/getting-started/sidebar-submenu-example.png
  docs/getting-started/app-custom-theme.md
  packages/app/src/components/Root/Root.tsx
Labels: documentation

#14660 initialize all formData in next/Stepper
  .changeset/early-parrots-guess.md
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/Stepper/Stepper.tsx
Labels: scaffolder

#14772 [Search] Fix max listeners exceeded warning
  .changeset/search-heavy-frogs-confess.md
  plugins/search-backend-node/src/Scheduler.test.ts
  plugins/search-backend-node/src/Scheduler.ts
Labels: search

#14728 workflows,docs: bump github action versions
  .github/workflows/deploy_docker-image.yml
  docs/features/techdocs/configuring-ci-cd.md
Labels: documentation

#14669 Refactored Report issue template in techdoc addons.
  .changeset/tender-parrots-cover.md
  plugins/techdocs-module-addons-contrib/src/ReportIssue/hooks.ts
Labels: techdocs

#14780 avoid globals
  .changeset/eight-spiders-know.md
  .eslintrc.js
  .github/vale/Vocab/Backstage/accept.txt
  packages/backend-common/src/scm/git.ts
  packages/core-app-api/src/apis/implementations/IdentityApi/AppIdentityProxy.test.ts
  packages/core-app-api/src/apis/implementations/IdentityApi/AppIdentityProxy.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.ts
  packages/core-components/src/components/HorizontalScrollGrid/HorizontalScrollGrid.tsx
  packages/version-bridge/src/lib/globalObject.ts
  plugins/analytics-module-ga/src/apis/implementations/AnalyticsApi/GoogleAnalytics.ts
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/cloudbuild/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
  plugins/gcp-projects/src/components/ProjectDetailsPage/ProjectDetailsPage.tsx
  plugins/github-actions/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
  plugins/github-actions/src/components/WorkflowRunLogs/WorkflowRunLogs.tsx
  plugins/graphiql/src/lib/storage/StorageBucket.ts
  plugins/techdocs-module-addons-contrib/src/TextSize/TextSize.test.tsx
  plugins/techdocs/src/reader/transformers/copyToClipboard.test.ts
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
Labels: catalog, auth, techdocs

#14775 docs/deployment: note that separate frontend is optional
  docs/deployment/docker.md
Labels: documentation

#14744 Add Azure Spring Apps Plugin to marketplace.
  microsite/data/plugins/azure-spring-apps.yml
  microsite/static/img/enfuse.png
Labels: microsite

#14548 Adds support for generic $ref resolving in yaml documents.
  .changeset/tender-colts-greet.md
  plugins/catalog-backend-module-openapi/README.md
  plugins/catalog-backend-module-openapi/api-report.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.test.ts
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.ts
  plugins/catalog-backend-module-openapi/src/index.ts
  plugins/catalog-backend-module-openapi/src/jsonSchemaRefPlaceholderResolver.test.ts
  plugins/catalog-backend-module-openapi/src/jsonSchemaRefPlaceholderResolver.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.test.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
  yarn.lock
Labels: catalog

#14765 Remove some deprecations
  plugins/scaffolder/src/components/TemplateEditorPage/DryRunContext.test.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/DryRunContext.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/DryRunResults/DryRunResultsView.test.tsx
Labels: scaffolder

#14727 some more progress toward ubiquitous eslint-plugin-testing-library
  .eslintrc.js
  packages/core-app-api/src/routing/FeatureFlagged.test.tsx
  packages/core-components/src/components/AlertDisplay/AlertDisplay.test.tsx
  packages/core-components/src/components/LogViewer/RealLogViewer.test.tsx
  packages/core-components/src/components/SupportButton/SupportButton.test.tsx
  packages/core-components/src/components/TabbedLayout/RoutedTabs.test.tsx
  packages/core-components/src/components/TabbedLayout/TabbedLayout.test.tsx
  packages/core-components/src/layout/HeaderActionMenu/HeaderActionMenu.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreparePullRequestForm.test.tsx
  plugins/catalog-import/src/components/StepPrepareSelectLocations/StepPrepareSelectLocations.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLinksCard/EntityLinksCard.test.tsx
  plugins/catalog/src/components/EntityLinksCard/IconLink.test.tsx
  plugins/catalog/src/components/EntityProcessingErrorsPanel/EntityProcessingErrorsPanel.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/SystemDiagramCard/SystemDiagramCard.test.tsx
  plugins/cost-insights/src/components/BarChart/BarChart.test.tsx
  plugins/cost-insights/src/components/BarChart/BarChartLegend.test.tsx
  plugins/cost-insights/src/components/CostInsightsHeader/CostInsightsHeader.test.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.test.tsx
  plugins/cost-insights/src/components/ProjectSelect/ProjectSelect.test.tsx
  plugins/gcalendar/src/components/CalendarCard/AttendeeChip.test.tsx
  plugins/gcalendar/src/components/CalendarCard/CalendarEvent.test.tsx
  plugins/gcalendar/src/components/CalendarCard/CalendarEventPopoverContent.test.tsx
  plugins/lighthouse/src/components/AuditList/AuditListTable.test.tsx
  plugins/lighthouse/src/components/AuditView/index.test.tsx
  plugins/lighthouse/src/components/Intro/index.test.tsx
  plugins/pagerduty/src/components/Incident/Incidents.test.tsx
  plugins/playlist/src/components/CreatePlaylistButton/CreatePlaylistButton.test.tsx
  plugins/playlist/src/components/EntityPlaylistDialog/EntityPlaylistDialog.test.tsx
  plugins/playlist/src/components/PersonalListPicker/PersonalListPicker.test.tsx
  plugins/playlist/src/components/PlaylistPage/PlaylistEntitiesTable.test.tsx
  plugins/playlist/src/components/PlaylistPage/PlaylistHeader.test.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPageContextMenu.test.tsx
  plugins/scaffolder/src/components/TaskPage/IconLink.test.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/DryRunResults/DryRunResultsList.test.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/RegisterExistingButton.test.tsx
  plugins/techdocs/src/home/components/Grids/EntityListDocsGrid.test.tsx
Labels: catalog, techdocs, scaffolder

#14816 Bump @azure/identity in techdocs-node
  .changeset/forty-baboons-burn.md
  plugins/techdocs-node/package.json
  yarn.lock
Labels: techdocs

#14356 Adding the incremental entity provider backend
  .changeset/loud-rockets-reply.md
  plugins/catalog-backend-module-incremental-ingestion/.eslintrc.js
  plugins/catalog-backend-module-incremental-ingestion/README.md
  plugins/catalog-backend-module-incremental-ingestion/api-report.md
  plugins/catalog-backend-module-incremental-ingestion/knexfile.js
  plugins/catalog-backend-module-incremental-ingestion/migrations/20221116073152_init.js
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/migrations.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/tables.ts
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/catalog-backend-module-incremental-ingestion/src/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/incrementalIngestionEntityProviderCatalogModule.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/incrementalIngestionEntityProviderCatalogModule.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/paths.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/routes.ts
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
  plugins/catalog-backend-module-incremental-ingestion/src/util.ts
  yarn.lock
Labels: catalog

#14758 Implements EventSubscriber in GithubEntityProvider
  .changeset/old-bulldogs-fry.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  yarn.lock
Labels: documentation, catalog

#14859 [Search] Improve TestPipeline instantiation options
  .changeset/search-tofu-panaeng.md
  plugins/catalog-backend/src/search/DefaultCatalogCollatorFactory.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.test.ts
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/src/collators/NewlineDelimitedJsonCollatorFactory.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngineIndexer.test.ts
  plugins/search-backend-node/src/indexing/BatchSearchEngineIndexer.test.ts
  plugins/search-backend-node/src/indexing/DecoratorBase.test.ts
  plugins/search-backend-node/src/test-utils/TestPipeline.ts
  plugins/techdocs-backend/src/search/DefaultTechDocsCollatorFactory.test.ts
Labels: catalog, techdocs, search

#14856 [Search] add links to how to guides from customizing search
  docs/features/search/getting-started.md
Labels: documentation

#14789 refactor(stitcher): optimize to be more memory efficient
  .changeset/eight-tables-hunt.md
  plugins/catalog-backend/src/stitching/Stitcher.ts
Labels: catalog

#14800 add cd command to documentation
  docs/getting-started/contributors.md
Labels: documentation

#14806 Deprecations catalog backend
  .changeset/light-turtles-yawn.md
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.ts
Labels: catalog

#14877 Fix: nesting level in homepage documentation
  docs/getting-started/homepage.md
Labels: documentation

#14693 TechDocs: upgrade to AWS SDK v3
  .changeset/slow-flies-marinate.md
  .changeset/slow-flies-marry.md
  docs/features/techdocs/cli.md
  docs/features/techdocs/configuration.md
  docs/features/techdocs/using-cloud-storage.md
  plugins/events-backend-module-aws-sqs/package.json
  plugins/techdocs-node/package.json
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
  yarn.lock
Labels: documentation, techdocs

#14615 fix(search): update to only link title in search results
  .changeset/old-tips-cough.md
  plugins/adr/src/search/AdrSearchResultListItem.tsx
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/search-react/src/components/DefaultResultListItem/DefaultResultListItem.tsx
  plugins/stack-overflow/src/search/StackOverflowSearchResultListItem/StackOverflowSearchResultListItem.tsx
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.tsx
Labels: catalog, techdocs, search

#14893 add generated by section for dependency relation
  docs/features/software-catalog/well-known-relations.md
Labels: documentation

#14902 Make githubCredentialsProvider overrideable in GithubLocationAnalyzer
  .changeset/famous-cobras-suffer.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
Labels: catalog

#14920 Handle about card error
  .changeset/four-buttons-clean.md
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
Labels: catalog

#14885 fix misleading wording with hyperlink
  docs/tutorials/configuring-plugin-databases.md
Labels: documentation

#14791 Azure Spring Apps Plugin
  microsite/data/plugins/azure-spring-apps.yml
Labels: microsite

#14907 remove usages of node-abort-controller
  .changeset/light-snakes-exercise.md
  packages/backend-common/api-report.md
  packages/backend-common/package.json
  packages/backend-common/src/context/AbortContext.test.ts
  packages/backend-common/src/context/AbortContext.ts
  packages/backend-common/src/context/Contexts.test.ts
  packages/backend-common/src/context/Contexts.ts
  packages/backend-common/src/context/RootContext.ts
  packages/backend-common/src/context/ValueContext.ts
  packages/backend-common/src/context/types.ts
  packages/backend-common/src/reading/types.ts
  packages/backend-tasks/api-report.md
  packages/backend-tasks/package.json
  packages/backend-tasks/src/tasks/LocalTaskWorker.test.ts
  packages/backend-tasks/src/tasks/LocalTaskWorker.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerJanitor.ts
  packages/backend-tasks/src/tasks/TaskWorker.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.ts
  packages/backend-tasks/src/tasks/types.ts
  packages/backend-tasks/src/tasks/util.test.ts
  packages/backend-tasks/src/tasks/util.ts
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/Scheduler.ts
  yarn.lock
Labels: catalog, search

#14898 enable multi-processor validation of entity kinds
  .changeset/rude-pugs-deny.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/integration.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: catalog

#14855 feat(catalog/bitbucketCloud,events): improve refresh for updated catalog files
  .changeset/beige-chairs-repair.md
  plugins/catalog-backend-module-bitbucket-cloud/package.json
  plugins/catalog-backend-module-bitbucket-cloud/src/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/BitbucketCloudEntityProvider.ts
  yarn.lock
Labels: catalog

#14884 Catalog graph overwhelmed
  .changeset/shy-cycles-add.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: catalog

#14230 Optimize entity-facets endpoint
  .changeset/strange-rocks-hide.md
  plugins/catalog-backend/migrations/20221109192547_search_add_original_value_column.js
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/stitching/Stitcher.test.ts
  plugins/catalog-backend/src/stitching/buildEntitySearch.test.ts
  plugins/catalog-backend/src/stitching/buildEntitySearch.ts
Labels: catalog

#14931 entity provider delta remove with refs
  .changeset/fifty-news-stare.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/processing/connectEntityProviders.ts
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/api/provider.ts
Labels: catalog

#14794 add number of searches
  .changeset/clean-seals-whisper.md
  .changeset/dry-melons-listen.md
  .changeset/silver-rats-rest.md
  docs/plugins/analytics.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
  plugins/search-backend/src/service/AuthorizedSearchEngine.ts
  plugins/search-common/api-report.md
  plugins/search-common/src/types.ts
  plugins/search-react/src/components/SearchTracker/SearchTracker.tsx
Labels: documentation, search

#14790 inclusive terms
  .changeset/slow-lies-jam.md
  contrib/docs/tutorials/aws-alb-aad-oidc-auth.md
  docs/FAQ.md
  docs/architecture-decisions/adr010-luxon-date-library.md
  docs/auth/cloudflare/access.md
  docs/auth/google/gcp-iap-auth.md
  docs/deployment/k8s.md
  docs/features/software-catalog/system-model.md
  docs/overview/architecture-overview.md
  docs/plugins/backend-plugin.md
  docs/plugins/testing.md
  docs/plugins/url-reader.md
  microsite/blog/2022-03-04-backstage-upgrade-helper.md
  packages/backend-common/src/cache/CacheManager.ts
  packages/backend-common/src/reading/AwsS3UrlReader.test.ts
  packages/backend-common/src/tokens/ServerTokenManager.ts
  packages/cli-common/src/paths.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/lib/builder/packager.test.ts
  packages/cli/src/lib/builder/plugins.ts
  packages/cli/src/lib/bundler/LinkedPackageResolvePlugin.test.ts
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-components/src/components/Link/Link.tsx
  packages/core-components/src/components/OverflowTooltip/OverflowTooltip.stories.tsx
  packages/dev-utils/CHANGELOG.md
  packages/dev-utils/src/devApp/render.tsx
  packages/techdocs-cli/e2e-tests/techdocs-cli.test.ts
  packages/techdocs-cli/src/lib/run.ts
  plugins/techdocs-node/CHANGELOG.md
Labels: documentation, techdocs, microsite
