Repository backstage/backstage, pull requests merged in 2022-04, with the labels that each got.

#10345 Fix broken querySelectors on techdocs
  .changeset/silver-panthers-occur.md
  plugins/techdocs/src/reader/components/Reader.tsx
Labels: docs-like-code, awaiting-review

#10528 Update documentation
  ADOPTERS.md
  docs/integrations/azure/discovery.md
  microsite/blog/2020-04-30-how-to-quickly-set-up-backstage.md
  packages/app-defaults/README.md
  packages/backend-common/README.md
  packages/backend-tasks/README.md
  packages/core-app-api/README.md
  packages/core-plugin-api/src/analytics/AnalyticsContext.tsx
  plugins/airbrake/README.md
  plugins/api-docs/README.md
  plugins/app-backend/README.md
  plugins/azure-devops/README.md
  plugins/bazaar-backend/README.md
  plugins/bazaar/README.md
  plugins/bitrise/README.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend/README.md
  plugins/catalog-import/README.md
  plugins/catalog/README.md
  plugins/circleci/README.md
  plugins/code-climate/README.md
  plugins/cost-insights/README.md
  plugins/cost-insights/contrib/aws-cost-explorer-api.md
  plugins/firehydrant/README.md
  plugins/fossa/README.md
  plugins/github-actions/README.md
  plugins/github-deployments/README.md
  plugins/graphiql/README.md
  plugins/home/README.md
  plugins/ilert/README.md
  plugins/jenkins-backend/README.md
  plugins/jenkins/README.md
  plugins/lighthouse/README.md
  plugins/pagerduty/README.md
  plugins/periskop/README.md
  plugins/rollbar/README.md
  plugins/scaffolder-backend-module-cookiecutter/README.md
  plugins/scaffolder-backend-module-rails/README.md
  plugins/scaffolder-backend-module-yeoman/README.md
  plugins/scaffolder-backend/README.md
  plugins/scaffolder/README.md
  plugins/sentry/README.md
  plugins/sonarqube/README.md
  plugins/splunk-on-call/README.md
  plugins/tech-insights-backend-module-jsonfc/README.md
  plugins/tech-insights-backend/README.md
  plugins/tech-insights/README.md
  plugins/tech-radar/README.md
Labels: documentation, catalog, microsite, scaffolder, awaiting-review

#10573 🧹 just some more api report cleanup
  .changeset/silver-drinks-study.md
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/UnregisterEntityDialog/UnregisterEntityDialog.test.tsx
  plugins/catalog-react/src/components/UnregisterEntityDialog/useUnregisterEntityDialogState.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/hooks/useEntity.tsx
  plugins/catalog-react/src/hooks/useEntityOwnership.test.tsx
  plugins/catalog-react/src/hooks/useStarredEntities.test.tsx
  plugins/catalog-react/src/hooks/useStarredEntity.test.tsx
  plugins/graphiql/api-report.md
  plugins/graphiql/src/components/GraphiQLBrowser/GraphiQLBrowser.tsx
  plugins/graphiql/src/components/GraphiQLPage/GraphiQLPage.tsx
  plugins/graphiql/src/index.ts
  plugins/graphiql/src/lib/api/GraphQLEndpoints.ts
  plugins/graphiql/src/lib/api/types.ts
  plugins/graphiql/src/plugin.ts
  plugins/graphiql/src/route-refs.tsx
  plugins/home/api-report.md
  plugins/home/src/componentRenderers/ComponentAccordion.tsx
  plugins/home/src/componentRenderers/ComponentTabs/ComponentTab.tsx
  plugins/home/src/componentRenderers/ComponentTabs/ComponentTabs.tsx
  plugins/home/src/components/HeaderWorldClock/HeaderWorldClock.tsx
  plugins/home/src/components/SettingsModal.tsx
  plugins/home/src/extensions.tsx
  plugins/home/src/homePageComponents/RandomJoke/Context.tsx
  plugins/home/src/homePageComponents/Toolkit/Context.tsx
  plugins/home/src/plugin.ts
  plugins/home/src/templates/TemplateBackstageLogo.tsx
  plugins/org/api-report.md
  plugins/org/src/components/Cards/Group/GroupProfile/GroupProfileCard.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.tsx
  plugins/org/src/components/Cards/User/UserProfileCard/UserProfileCard.tsx
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.tsx
  plugins/org/src/plugin.ts
  scripts/api-extractor.ts
Labels: catalog, awaiting-review

#10572 Add BackstageTab to overridableComponents
  .changeset/few-buttons-breathe.md
  packages/core-components/api-report.md
  packages/core-components/src/components/Tabs/Tab.tsx
  packages/core-components/src/components/Tabs/index.ts
  packages/core-components/src/overridableComponents.ts
Labels: awaiting-review

#10583 add Wistia to adopters list
  ADOPTERS.md
Labels: awaiting-review

#10464 [TechDocs] Clean up todos in addon framework
  packages/techdocs-addons/api-report.md
  packages/techdocs-addons/src/types.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPage/hooks.ts
Labels: docs-like-code, awaiting-review

#10585 (doc) Use https link for directing users to knexjs
  docs/tutorials/switching-sqlite-postgres.md
Labels: documentation

#10580 Added description for each member in MembersListCard
  .changeset/rude-toes-compare.md
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.stories.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.test.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
Labels: awaiting-review

#10586 Optionally hide OwnershipCard relation toggle
  .changeset/grumpy-parents-prove.md
  plugins/org/api-report.md
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.tsx
Labels: awaiting-review

#10616 docs: update github discovery processing example
  docs/integrations/github/discovery.md
Labels: documentation

#10628 Add pointer to custom theme on demo site
  docs/getting-started/app-custom-theme.md
Labels: documentation, awaiting-review

#10608 scaffolder-backend: switch bitbucket-demo example template to use fetch:template
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template.yaml
  plugins/scaffolder-backend/sample-templates/bitbucket-demo/template/catalog-info.yaml
Labels: scaffolder

#10576 scaffolder: add links to subroutes + rename /preview -> /edit
  .changeset/cold-steaks-provide.md
  .changeset/moody-sheep-marry.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPage.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPageContextMenu.test.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/index.ts
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/routes.ts
Labels: scaffolder

#10643 Update FAQ.md
  docs/FAQ.md
Labels: documentation

#10648 [TechDocs addons] reader page tests + layout component refactoring
  plugins/techdocs/package.json
  plugins/techdocs/src/EntityPageDocs.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
Labels: docs-like-code, awaiting-review

#10377 fix(README): do not copy docs/README.md as docs/index.md
  .changeset/techdocs-swift-weeks-admire.md
  docs/features/techdocs/cli.md
  docs/features/techdocs/configuration.md
  packages/techdocs-cli/src/commands/generate/generate.ts
  packages/techdocs-cli/src/commands/index.ts
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/src/stages/generate/techdocs.test.ts
  plugins/techdocs-node/src/stages/generate/techdocs.ts
  plugins/techdocs-node/src/stages/generate/types.ts
Labels: documentation, docs-like-code, awaiting-review

#10403 [TechDocs] Adds a flag to the cli to override the entrypoint of a custom docker image. It could be used to reuse existing images with different entrypoints.
  .changeset/techdocs-fresh-panthers-kick.md
  docs/features/techdocs/cli.md
  packages/techdocs-cli/src/commands/index.ts
  packages/techdocs-cli/src/commands/serve/mkdocs.ts
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/lib/mkdocsServer.ts
Labels: documentation, docs-like-code, awaiting-review

#10663 catalog-graph: move SVG mocks to test setup
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomNode.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.test.tsx
  plugins/catalog-graph/src/setupTests.ts
Labels: catalog

#10644 Avoid PermissionEvaluator breaking changes
  packages/backend/src/types.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/jenkins-backend/api-report.md
  plugins/jenkins-backend/src/service/router.ts
  plugins/permission-common/api-report.md
  plugins/permission-common/src/permissions/util.ts
  plugins/search-backend/api-report.md
  plugins/search-backend/src/service/router.ts
Labels: catalog, auth, search

#10651 update the yarn command to start a backend instance that would fail with er…
  docs/getting-started/running-backstage-locally.md
Labels: documentation, awaiting-review

#10665 fix: Fixed small issue with cost-insights README diff code block
  plugins/cost-insights/README.md
Labels: awaiting-review

#10490 Added IdentityProviders to exports from SignInPage
  .changeset/selfish-actors-walk.md
  packages/core-components/api-report.md
  packages/core-components/src/layout/SignInPage/index.ts
  packages/core-components/src/layout/SignInPage/types.ts
Labels: awaiting-review

#9677 Updated openid-client from 4.1.2 to 5.1.3
  .changeset/blue-geese-work.md
  plugins/auth-backend/package.json
  yarn.lock
Labels: auth

#10578 Update TechDocs roadmap page
  docs/features/techdocs/README.md
Labels: documentation, awaiting-review

#10622 ci(prettier): ignore `ADOPTERS.md` using `.prettierignore`
  .github/workflows/ci.yml
  .prettierignore
Labels: awaiting-review

#10613 Allow group select
  .changeset/forty-pumpkins-marry.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.ts
Labels: catalog

#9770 feat(search): handle search indexing coordination among nodes
  .changeset/ninety-eggs-argue.md
  docs/features/search/concepts.md
  docs/features/search/getting-started.md
  packages/backend/package.json
  packages/backend/src/plugins/search.ts
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  packages/create-app/templates/default-app/packages/backend/src/plugins/search.ts.hbs
  plugins/search-backend-node/api-report.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/IndexBuilder.test.ts
  plugins/search-backend-node/src/IndexBuilder.ts
  plugins/search-backend-node/src/Scheduler.test.ts
  plugins/search-backend-node/src/Scheduler.ts
  plugins/search-backend-node/src/index.ts
  plugins/search-backend-node/src/runPeriodically.test.ts
  plugins/search-backend-node/src/runPeriodically.ts
  plugins/search-backend-node/src/types.ts
Labels: documentation, search

#10397 Split PermissionClient#authorize
  .changeset/cuddly-turtles-sleep.md
  .changeset/eight-cobras-think.md
  .changeset/few-seas-fail.md
  .changeset/four-dolphins-report.md
  .changeset/fresh-boxes-pull.md
  .changeset/rare-parents-pretend.md
  .changeset/soft-rice-remember.md
  packages/backend/src/types.ts
  packages/create-app/templates/default-app/packages/backend/src/types.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.ts
  plugins/catalog-backend/src/service/AuthorizedLocationService.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationService.ts
  plugins/catalog-backend/src/service/AuthorizedRefreshService.test.ts
  plugins/catalog-backend/src/service/AuthorizedRefreshService.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/jenkins-backend/api-report.md
  plugins/jenkins-backend/src/service/jenkinsApi.test.ts
  plugins/jenkins-backend/src/service/jenkinsApi.ts
  plugins/jenkins-backend/src/service/router.ts
  plugins/permission-common/api-report.md
  plugins/permission-common/src/PermissionClient.test.ts
  plugins/permission-common/src/PermissionClient.ts
  plugins/permission-common/src/permissions/util.ts
  plugins/permission-common/src/types/api.ts
  plugins/permission-common/src/types/index.ts
  plugins/permission-common/src/types/permission.ts
  plugins/permission-node/api-report.md
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/permission-node/src/ServerPermissionClient.ts
  plugins/permission-react/api-report.md
  plugins/permission-react/src/apis/IdentityPermissionApi.ts
  plugins/search-backend/api-report.md
  plugins/search-backend/src/service/AuthorizedSearchEngine.test.ts
  plugins/search-backend/src/service/AuthorizedSearchEngine.ts
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
Labels: catalog, auth, search

#10697 feat: handle potential future case of no awsS3 integration
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.ts
Labels: catalog, awaiting-review

#10694 Gerrit: Added location docs
  docs/integrations/gerrit/locations.md
  mkdocs.yml
Labels: documentation

#10718 Corrected AWS Catalog Backend README
  .changeset/lemon-ears-build.md
  plugins/catalog-backend-module-aws/README.md
Labels: catalog

#10548 Add DORA metrics insights to GoCD builds page
  .changeset/weak-buttons-play.md
  plugins/gocd/docs/gocd-plugin-screenshot.png
  plugins/gocd/src/api/gocdApi.model.ts
  plugins/gocd/src/components/GoCdBuildsComponent/GoCdBuildsComponent.tsx
  plugins/gocd/src/components/GoCdBuildsInsights/GoCdBuildInsights.test.tsx
  plugins/gocd/src/components/GoCdBuildsInsights/GoCdBuildsInsights.tsx
  plugins/gocd/src/components/GoCdBuildsTable/GoCdBuildsTable.tsx
Labels: awaiting-review

#10721 Added url schemas to Gerrit location doc examples
  docs/integrations/gerrit/locations.md
  microsite/sidebars.json
Labels: documentation, microsite, awaiting-review

#10675 Update behavior when unregistering locations from `UnregisterEntityDialog`
  .changeset/proud-teachers-draw.md
  plugins/catalog-react/src/components/UnregisterEntityDialog/useUnregisterEntityDialogState.ts
Labels: catalog, awaiting-review

#10717 add dedicated grpc api widget
  .changeset/slimy-horses-do.md
  plugins/api-docs/src/components/ApiDefinitionCard/ApiDefinitionWidget.tsx
  plugins/api-docs/src/components/GrpcApiDefinitionWidget/GrpcApiDefinitionWidget.test.tsx
  plugins/api-docs/src/components/GrpcApiDefinitionWidget/GrpcApiDefinitionWidget.tsx
  plugins/api-docs/src/components/GrpcApiDefinitionWidget/index.ts
Labels: awaiting-review

#10725 [Search] Task scheduler cleanups
  .changeset/ninety-eggs-argue.md
  docs/assets/search/architecture.drawio.svg
  docs/features/search/getting-started.md
  packages/backend/src/plugins/search.ts
  packages/create-app/templates/default-app/packages/backend/src/plugins/search.ts.hbs
Labels: documentation

#10532 Search: Index group display name in DefaultCatalogCollatorFactory
  .changeset/many-cameras-search.md
  plugins/catalog-backend/src/search/DefaultCatalogCollatorFactory.ts
  plugins/catalog-backend/src/search/util.test.ts
  plugins/catalog-backend/src/search/util.ts
Labels: catalog

#10727 Update adopters file
  ADOPTERS.md
Labels: awaiting-review

#10702 Add checksId option to EntityTechInsightsScorecardContent component
  .changeset/wild-emus-film.md
  plugins/tech-insights/README.md
  plugins/tech-insights/api-report.md
  plugins/tech-insights/src/api/TechInsightsApi.ts
  plugins/tech-insights/src/api/TechInsightsClient.ts
  plugins/tech-insights/src/components/ScorecardsOverview/ScorecardsOverview.tsx
Labels: awaiting-review

#10731 update dependencies needed in the github docs
  docs/integrations/github/discovery.md
Labels: documentation, awaiting-review

#10751 [TechDocs] Techdocs/addon integration mergable
  .changeset/techdocs-hold-me-closer.md
  .changeset/techdocs-swift-apricots-learn.md
  .changeset/techdocs-until-you-puke.md
  cypress/fixtures/mkdocs.yml
  mkdocs.yml
  packages/app/src/App.tsx
  packages/app/src/components/catalog/EntityPage.tsx
  packages/app/src/components/techdocs/ExampleAddons.tsx
  packages/app/src/components/techdocs/TechDocsPage.tsx
  packages/techdocs-addons/api-report.md
  packages/techdocs-addons/package.json
  packages/techdocs-addons/src/addons.tsx
  packages/techdocs-addons/src/index.ts
  packages/techdocs-addons/src/types.ts
  plugins/techdocs-backend/examples/documented-component/mkdocs.yml
  plugins/techdocs/api-report.md
  plugins/techdocs/package.json
  plugins/techdocs/src/reader/components/TechDocsReaderPage/context.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageSubheader/TechDocsReaderPageSubheader.tsx
  plugins/techdocs/src/reader/components/index.ts
Labels: docs-like-code, awaiting-review

#10428 Make Kubernetes clusters refreshable
  .changeset/hot-items-smoke.md
  docs/features/kubernetes/configuration.md
  docs/features/kubernetes/installation.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.ts
  plugins/kubernetes-backend/src/service-locator/MultiTenantServiceLocator.test.ts
  plugins/kubernetes-backend/src/service-locator/MultiTenantServiceLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/runPeriodically.ts
  plugins/kubernetes-backend/src/types/types.ts
Labels: documentation, awaiting-review

#10755 bump webpack-dev-server
  yarn.lock
Labels: awaiting-review

#10759 Defensively encode URL parameters when fetching ELB keys
  .changeset/ninety-islands-report.md
  plugins/auth-backend/src/providers/aws-alb/provider.ts
Labels: auth

#10761 docs: add section to help decide where to place code
  docs/assets/architecture-overview/package-decision.drawio.svg
  docs/overview/architecture-overview.md
Labels: documentation

#10764 Add Spread Group to adopters
  ADOPTERS.md
Labels: awaiting-review

#10756 Change input label for owner field in GitlabRepoPicker
  .changeset/few-hotels-approve.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.tsx
Labels: scaffolder, awaiting-review

#10405 feat(SidebarSearchModal): support customizing content
  .changeset/fast-dragons-turn.md
  packages/app/src/components/Root/Root.tsx
  packages/app/src/components/search/SearchModal.tsx
  plugins/search/api-report.md
  plugins/search/src/components/SearchModal/SearchModal.stories.tsx
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/SearchModal/index.tsx
  plugins/search/src/components/SearchType/SearchType.Tabs.tsx
  plugins/search/src/components/SidebarSearchModal/SidebarSearchModal.tsx
  plugins/search/src/index.ts
Labels: search

#10783 workflows: make sync_vp fetch full history to enable release lookup
  .github/workflows/sync_version-packages.yml
Labels: awaiting-review

#10774 [Search] update roadmap and tech stack
  docs/features/search/README.md
Labels: documentation, awaiting-review

#10802 changeset: exit prerelease
  .changeset/pre.json
Labels: awaiting-review

#10791 add RD Station do adopters
  ADOPTERS.md
Labels: awaiting-review

#10734 Change catalog-backend-module-ldap to use entityRef for relationship building
  .changeset/tasty-fishes-call.md
  plugins/catalog-backend-module-ldap/src/ldap/org.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/org.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
Labels: catalog

#10765 add kubernetes namespace annotation
  .changeset/tender-days-tickle.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/types/types.ts
Labels: documentation, awaiting-review

#10789 Document versions:bump --release
  docs/local-dev/cli-commands.md
Labels: documentation, awaiting-review

#10840 techdocs: restore event-source-polyfill pinning
  plugins/techdocs/package.json
Labels: docs-like-code, awaiting-review

#10782 Update plugin author permission docs
  docs/permission/plugin-authors/03-adding-a-resource-permission-check.md
Labels: documentation, awaiting-review

#10820 Revert "build(deps): bump knex from 1.0.2 to 1.0.6"
  .changeset/blue-chefs-raise.md
  .changeset/hungry-llamas-rescue.md
  packages/backend-common/api-report.md
  packages/backend-common/package.json
  packages/backend-tasks/package.json
  packages/backend-test-utils/package.json
  plugins/app-backend/package.json
  plugins/auth-backend/package.json
  plugins/bazaar-backend/package.json
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/stitching/Stitcher.ts
  plugins/code-coverage-backend/package.json
  plugins/scaffolder-backend/package.json
  plugins/search-backend-module-pg/package.json
  plugins/tech-insights-backend/package.json
  plugins/techdocs-backend/package.json
  yarn.lock
Labels: do-not-merge, catalog, auth, docs-like-code, search, scaffolder

#10836 [TechDocs] update techdocs how to guides
  docs/features/techdocs/README.md
  docs/features/techdocs/how-to-guides.md
Labels: documentation, awaiting-review

#10808 [search-react] versioned context
  .changeset/search-spicy-pots-bow.md
  plugins/search-react/package.json
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search-react/src/context/index.tsx
Labels: search

#10861 cli: added experimental test configuration and module loader
  .changeset/fast-cars-rest.md
  .github/workflows/ci.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_windows.yml
  packages/cli/config/jest.js
  packages/cli/config/jestCachingModuleLoader.js
  packages/cli/package.json
  packages/cli/src/lib/parallel.ts
Labels: awaiting-review

#10788 Remove strict validation from `PermissionCriteria` schemas
  .changeset/curvy-wolves-worry.md
  plugins/permission-common/src/PermissionClient.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: auth

#10860 [TechDocs] Minor addon-related bug fixes
  .changeset/techdocs-back-once-again.md
  .changeset/techdocs-renegade-master.md
  docs/features/techdocs/how-to-guides.md
  packages/app/src/components/techdocs/TechDocsPage.tsx
  plugins/techdocs/api-report.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageSubheader/TechDocsReaderPageSubheader.tsx
Labels: documentation, docs-like-code

#10844 [Search] clean up search-react api report warnings
  .changeset/fast-dolphins-think.md
  plugins/search-react/api-report.md
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search-react/src/context/SearchContextForStorybook.stories.tsx
  plugins/search-react/src/context/index.tsx
  plugins/search-react/src/index.ts
  scripts/api-extractor.ts
Labels: search

#10883 Bumped passport-microsoft to 1.0.0 to resolve CVE-2021-41580
  .changeset/soft-cameras-cry.md
  plugins/auth-backend/package.json
  yarn.lock
Labels: auth, awaiting-review

#10884 [TechDocs] Bump default container version to v1.0.2
  .changeset/techdocs-lumon-industries.md
  docs/features/techdocs/cli.md
  docs/features/techdocs/configuring-ci-cd.md
  docs/features/techdocs/getting-started.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/generate/techdocs.ts
Labels: documentation, docs-like-code, awaiting-review

#10842 [Search] clean up deprecated context from '@backstage/plugin-search'
  .changeset/green-trees-wait.md
  .changeset/strong-lions-film.md
  packages/app/src/components/search/SearchModal.tsx
  packages/app/src/components/search/SearchPage.tsx
  packages/create-app/package.json
  packages/create-app/src/lib/versions.ts
  packages/create-app/templates/default-app/packages/app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/src/components/search/SearchPage.tsx
  plugins/search/api-report.md
  plugins/search/src/apis.ts
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.stories.tsx
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.tsx
  plugins/search/src/components/SearchBar/SearchBar.test.tsx
  plugins/search/src/components/SearchBar/SearchBar.tsx
  plugins/search/src/components/SearchContext/SearchContext.tsx
  plugins/search/src/components/SearchContext/index.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.Autocomplete.test.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.Autocomplete.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.test.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.tsx
  plugins/search/src/components/SearchFilter/hooks.test.tsx
  plugins/search/src/components/SearchFilter/hooks.ts
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/SearchPage/SearchPage.test.tsx
  plugins/search/src/components/SearchPage/SearchPage.tsx
  plugins/search/src/components/SearchResult/SearchResult.test.tsx
  plugins/search/src/components/SearchResult/SearchResult.tsx
  plugins/search/src/components/SearchResultPager/SearchResultPager.test.tsx
  plugins/search/src/components/SearchResultPager/SearchResultPager.tsx
  plugins/search/src/components/SearchTracker/SearchTracker.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
  plugins/search/src/components/SearchType/SearchType.Tabs.test.tsx
  plugins/search/src/components/SearchType/SearchType.Tabs.tsx
  plugins/search/src/components/SearchType/SearchType.test.tsx
  plugins/search/src/components/SearchType/SearchType.tsx
  plugins/search/src/index.ts
  plugins/search/src/plugin.ts
Labels: search

#10891 v1.1.0 release notes
  docs/releases/v1.1.0.md
  microsite/sidebars.json
  scripts/verify-links.js
Labels: documentation, microsite

#10838 test-utils: add missing Routes element wrapping
  .changeset/violet-steaks-knock.md
  .changeset/wise-emus-wait.md
  packages/test-utils/src/testUtils/appWrappers.test.tsx
  packages/test-utils/src/testUtils/appWrappers.tsx
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.test.tsx
Labels: awaiting-review

#10857 Add Resuelve to adopters list
  ADOPTERS.md
Labels: awaiting-review

#10859 Incl. Authorization Token to New Relic Dashboard Plugin
  .changeset/pink-mayflies-rhyme.md
  plugins/newrelic-dashboard/src/api/NewRelicDashboardClient.ts
  plugins/newrelic-dashboard/src/plugin.ts
Labels: awaiting-review

#10184 Update jose to 4.6.0
  .changeset/tasty-drinks-teach.md
  packages/backend-common/package.json
  packages/backend-common/src/tokens/ServerTokenManager.test.ts
  packages/backend-common/src/tokens/ServerTokenManager.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-backend/src/providers/aws-alb/provider.test.ts
  plugins/auth-backend/src/providers/aws-alb/provider.ts
  plugins/auth-backend/src/providers/oauth2-proxy/provider.test.ts
  plugins/auth-backend/src/providers/oauth2-proxy/provider.ts
  plugins/auth-backend/src/providers/oidc/provider.test.ts
  plugins/auth-node/package.json
  plugins/auth-node/src/IdentityClient.test.ts
  plugins/auth-node/src/IdentityClient.ts
  yarn.lock
Labels: auth, stale, version-bump

#10849 Permissions: Fix PermissionEvaluator instance checks
  .changeset/sixty-llamas-change.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/jenkins-backend/src/service/router.ts
  plugins/search-backend/src/service/router.ts
Labels: catalog, search

#10906 [Adopters.md] Fix a typo in the adopters list
  ADOPTERS.md
Labels: awaiting-review

#10888 Optimize apt installation in Dockerfiles
  .changeset/honest-kids-live.md
  docs/deployment/docker.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#10931 patch/v1.1.0: Release fix for PermissionEvaluator checks (#10849)
  package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/jenkins-backend/CHANGELOG.md
  plugins/jenkins-backend/package.json
  plugins/jenkins-backend/src/service/router.ts
  plugins/search-backend/CHANGELOG.md
  plugins/search-backend/package.json
  plugins/search-backend/src/service/router.ts
Labels: catalog, search

#10617 Bump commander to version 9.1.0
  .changeset/silver-readers-deliver.md
  packages/cli/package.json
  packages/cli/src/commands/app/build.ts
  packages/cli/src/commands/app/serve.ts
  packages/cli/src/commands/backend/build.ts
  packages/cli/src/commands/backend/bundle.ts
  packages/cli/src/commands/backend/dev.ts
  packages/cli/src/commands/build/command.ts
  packages/cli/src/commands/buildWorkspace.ts
  packages/cli/src/commands/config/docs.ts
  packages/cli/src/commands/config/print.ts
  packages/cli/src/commands/config/schema.ts
  packages/cli/src/commands/config/validate.ts
  packages/cli/src/commands/create-plugin/createPlugin.ts
  packages/cli/src/commands/create/create.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/install/install.ts
  packages/cli/src/commands/lint.ts
  packages/cli/src/commands/oldBuild.ts
  packages/cli/src/commands/plugin/build.ts
  packages/cli/src/commands/plugin/diff.ts
  packages/cli/src/commands/plugin/serve.ts
  packages/cli/src/commands/plugin/test.ts
  packages/cli/src/commands/repo/build.ts
  packages/cli/src/commands/repo/lint.ts
  packages/cli/src/commands/repo/list-deprecations.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/commands/test.ts
  packages/cli/src/commands/versions/bump.ts
  packages/cli/src/commands/versions/lint.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/role/packageRoles.test.ts
  packages/cli/src/lib/role/packageRoles.ts
  packages/codemods/package.json
  packages/codemods/src/action.ts
  packages/codemods/src/index.ts
  packages/create-app/package.json
  packages/create-app/src/createApp.ts
  packages/create-app/src/index.ts
  packages/e2e-test/package.json
  packages/e2e-test/src/commands/index.ts
  packages/e2e-test/src/index.ts
  packages/techdocs-cli/package.json
  packages/techdocs-cli/src/commands/generate/generate.ts
  packages/techdocs-cli/src/commands/index.ts
  packages/techdocs-cli/src/commands/migrate/migrate.ts
  packages/techdocs-cli/src/commands/publish/publish.ts
  packages/techdocs-cli/src/commands/serve/mkdocs.ts
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/index.ts
  packages/techdocs-cli/src/lib/PublisherConfig.test.ts
  packages/techdocs-cli/src/lib/PublisherConfig.ts
  yarn.lock
Labels: docs-like-code, awaiting-review

#10932 docs: Restructure Github apps documentation
  docs/getting-started/configuration.md
  docs/integrations/github/discovery.md
  docs/integrations/github/github-apps.md
  docs/integrations/github/locations.md
  docs/local-dev/cli-commands.md
  docs/plugins/url-reader.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#10902 feat: add annotation `microsoft.com/email` when using the `defaultUserTransformer`
  .changeset/giant-cheetahs-thank.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/constants.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/index.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
Labels: catalog

#10914 [Cloud-Carbon-Footprint] adds plugin to microsite data
  microsite/data/plugins/cloud-carbon-footprint.yaml
Labels: microsite

#10864 Added docs for knex pool config
  docs/tutorials/switching-sqlite-postgres.md
Labels: documentation, awaiting-review

#10908 feat: add gke cluster locator resource label filtering
  .changeset/eighty-chicken-retire.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts
Labels: documentation

#10968 Added default commit msg for Github, Azure, Bitbucket
  .changeset/mean-flowers-change.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucket.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucket.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder, awaiting-review

#10918 fix: fix S3 object URL creation at AwsS3EntityProvider
  .changeset/short-dodos-sparkle.md
  .github/styles/vocab.txt
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.test.ts
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.ts
Labels: catalog

#10913 fix: fix ref to filtered catalog table view when using aggregated relations
  .changeset/tough-forks-carry.md
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
  plugins/org/src/components/Cards/OwnershipCard/useGetEntities.ts
Labels: awaiting-review

#10969 yarn.lock: bump rushstack deps + add renovate grouping
  .github/renovate.json5
  yarn.lock
Labels: awaiting-review

#10848 Allow definition of required status checks for new github repos
  .changeset/curly-parrots-applaud.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
Labels: scaffolder

#10944 cli: Throw error if non org is provided to create-github-app
  .changeset/swift-bugs-share.md
  packages/cli/package.json
  packages/cli/src/commands/create-github-app/index.ts
Labels: awaiting-review

#10937 search-react,techdocs: remove core-app-api dependency
  .changeset/spotty-plums-rule.md
  plugins/search-react/package.json
  plugins/techdocs/package.json
  plugins/techdocs/src/Router.tsx
Labels: docs-like-code, search, awaiting-review

#10852 refactor(elasticsearch): support retrying failed deletion of stale indices
  .changeset/seven-deers-rule.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
Labels: search

#11011 Add SEEK to Backstage Adopters
  ADOPTERS.md
Labels: awaiting-review

#11012 [fix]: updates author for ccf plugin
  microsite/data/plugins/cloud-carbon-footprint.yaml
Labels: microsite, awaiting-review

#10972 Updated documentation to rename plugin
  docs/features/software-templates/writing-custom-field-extensions.md
Labels: documentation

#11005 feat: add common signIn resolver to more provider
  .changeset/strong-mangos-sell.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
Labels: auth

#11020 Revert "scripts/check-type-dependencies: always require referenced deps to exist"
  scripts/check-type-dependencies.js
Labels: awaiting-review

#11022 Add M&S to list of adopters
  ADOPTERS.md
Labels: awaiting-review

#11014 fix(HomePageSearchBar): don't require SearchContext
  .changeset/search-dry-wolves-join.md
  .changeset/search-heavy-llamas-worry.md
  plugins/search-react/api-report.md
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search-react/src/context/index.tsx
  plugins/search-react/src/index.ts
  plugins/search/src/components/SearchBar/SearchBar.tsx
Labels: search, awaiting-review

#10773 GerritUrlReader: Implemented "readTree"
  .changeset/cool-ties-share.md
  .changeset/fair-kings-retire.md
  docs/integrations/gerrit/locations.md
  packages/backend-common/api-report.md
  packages/backend-common/src/reading/GerritUrlReader.test.ts
  packages/backend-common/src/reading/GerritUrlReader.ts
  packages/backend-common/src/reading/__fixtures__/gerrit/branch-info-response.txt
  packages/integration/api-report.md
  packages/integration/config.d.ts
  packages/integration/src/gerrit/config.test.ts
  packages/integration/src/gerrit/config.ts
  packages/integration/src/gerrit/core.test.ts
  packages/integration/src/gerrit/core.ts
  packages/integration/src/gerrit/index.ts
Labels: documentation, awaiting-review

#11029 auth/docs: Update user identity and sign-in resolver docs
  docs/auth/identity-resolver.md
Labels: documentation

#11023 Remove obsolete permission docs
  docs/plugins/permissions/index.md
  microsite/sidebars.json
Labels: documentation, microsite, awaiting-review

#10846 [TechDocs] Accept sequence node custom tags in mkdocs config validation
  .changeset/techdocs-nice-boats-wonder.md
  plugins/techdocs-node/src/stages/generate/__fixtures__/mkdocs_with_env_tag.yml
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: docs-like-code, awaiting-review

#11047 Added an ability to use a custom component when an entity is not found
  .changeset/nasty-humans-give.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: catalog, awaiting-review

#10957 Use InfoCardVariants on custom cards variant attribute
  .changeset/moody-laws-boil.md
  plugins/api-docs/api-report.md
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.tsx
  plugins/api-docs/src/components/ApisCards/HasApisCard.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.tsx
  plugins/api-docs/src/components/ComponentsCards/ConsumingComponentsCard.tsx
  plugins/api-docs/src/components/ComponentsCards/ProvidingComponentsCard.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityTable/EntityTable.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/DependencyOfComponentsCard/DependencyOfComponentsCard.tsx
  plugins/catalog/src/components/DependsOnComponentsCard/DependsOnComponentsCard.tsx
  plugins/catalog/src/components/DependsOnResourcesCard/DependsOnResourcesCard.tsx
  plugins/catalog/src/components/EntityLinksCard/EntityLinksCard.tsx
  plugins/catalog/src/components/HasComponentsCard/HasComponentsCard.tsx
  plugins/catalog/src/components/HasResourcesCard/HasResourcesCard.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.tsx
  plugins/catalog/src/components/HasSystemsCard/HasSystemsCard.tsx
  plugins/catalog/src/components/RelatedEntitiesCard/RelatedEntitiesCard.tsx
Labels: catalog

#11070 [TechDocs] Clean up extension creator return type
  .changeset/techdocs-touch-screen-wipes.md
  plugins/techdocs-module-addons-contrib/api-report.md
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/src/addons.tsx
Labels: docs-like-code, awaiting-review

#11076 chore(deps): update codemirror deps
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorPage.tsx
  yarn.lock
Labels: scaffolder, awaiting-review

#11059 docs: Remove confusing wording from k8 plugin install
  docs/features/kubernetes/installation.md
Labels: documentation

#11009 Add local task running support to TaskScheduler
  .changeset/swift-parrots-hammer.md
  packages/backend-tasks/api-report.md
  packages/backend-tasks/src/tasks/LocalTaskWorker.test.ts
  packages/backend-tasks/src/tasks/LocalTaskWorker.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.ts
  packages/backend-tasks/src/tasks/TaskScheduler.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.ts
  packages/backend-tasks/src/tasks/types.ts
Labels: awaiting-review

#11069 Adding some relevant documentation links to `app-config.yaml`
  .changeset/stale-pigs-reply.md
  docs/getting-started/configuration.md
  packages/create-app/templates/default-app/app-config.yaml.hbs
Labels: documentation

#11084 auth-backend: add common sign-in resolver for simple email-to-email matching
  .changeset/strong-mangos-sell.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/resolvers.ts
Labels: auth

#11045 feat: add common sign-in resolver for simple email-to-email matching
  .changeset/strong-mangos-sell.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/resolvers.ts
Labels: auth

#11071 docs,core-plugin-api: update auth intro docs + mark auth APIs stable
  .changeset/empty-mugs-bow.md
  .github/styles/vocab.txt
  docs/auth/index.md
  docs/auth/using-auth.md
  docs/getting-started/configuration.md
  microsite/sidebars.json
  mkdocs.yml
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/auth.ts
Labels: documentation, auth, microsite

#11085 docs: some smaller docs changes for github discovery
  docs/integrations/github/discovery.md
Labels: documentation

#10817 feat(ADR): implement ADR plugin
  .changeset/chatty-forks-bathe.md
  microsite/data/plugins/adr.yaml
  microsite/static/img/adr-logo.png
  plugins/adr-backend/.eslintrc.js
  plugins/adr-backend/README.md
  plugins/adr-backend/api-report.md
  plugins/adr-backend/package.json
  plugins/adr-backend/src/index.ts
  plugins/adr-backend/src/search/DefaultAdrCollatorFactory.ts
  plugins/adr-backend/src/search/createMadrParser.ts
  plugins/adr-backend/src/search/index.ts
  plugins/adr-backend/src/search/types.ts
  plugins/adr-common/.eslintrc.js
  plugins/adr-common/README.md
  plugins/adr-common/api-report.md
  plugins/adr-common/package.json
  plugins/adr-common/src/index.ts
  plugins/adr/.eslintrc.js
  plugins/adr/README.md
  plugins/adr/api-report.md
  plugins/adr/package.json
  plugins/adr/src/components/AdrReader/AdrReader.tsx
  plugins/adr/src/components/AdrReader/decorators.ts
  plugins/adr/src/components/AdrReader/index.ts
  plugins/adr/src/components/AdrReader/types.ts
  plugins/adr/src/components/EntityAdrContent/EntityAdrContent.tsx
  plugins/adr/src/components/EntityAdrContent/index.ts
  plugins/adr/src/hooks/index.ts
  plugins/adr/src/hooks/useOctokitRequest.ts
  plugins/adr/src/index.ts
  plugins/adr/src/plugin.test.ts
  plugins/adr/src/plugin.ts
  plugins/adr/src/routes.ts
  plugins/adr/src/search/AdrSearchResultListItem.tsx
  plugins/adr/src/search/index.ts
  plugins/adr/src/setupTests.ts
  yarn.lock
Labels: microsite

#11091 docs: add auth doc section to explain sign-in without catalog
  docs/auth/identity-resolver.md
Labels: documentation

#11100 Revert "chore(deps): update errata-ai/vale-action action to v1.5.0"
  .github/workflows/verify_docs-quality.yml
Labels: awaiting-review

#11104 most of these casts are apparently no longer necessary
  docs/auth/add-auth-provider.md
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/bitbucket/provider.ts
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/oauth2/provider.ts
  plugins/auth-backend/src/providers/oidc/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
Labels: documentation, auth

#10847 Clarify how to run Cypress tests locally
  cypress/README.md
Labels: sweating-the-details

#11132 auth-backend: fix ent claim being dropped
  .changeset/beige-panthers-dream.md
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
Labels: auth

#11144 Add Contentful to adopters list
  ADOPTERS.md
Labels: awaiting-review

#11139 fix(OwnershipCard): correctly link to owner filtered catalog respecting namespaces
  .changeset/polite-planets-learn.md
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
  plugins/org/src/components/Cards/OwnershipCard/useGetEntities.ts
Labels: awaiting-review

#11129 vale: update to support v2, common ignore list, and self-contained config
  .github/vale/Vocab/Backstage/accept.txt
  .github/vale/config.ini
  .github/workflows/verify_docs-quality.yml
  CONTRIBUTING.md
  STYLE.md
  contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md
  docs/auth/add-auth-provider.md
  docs/auth/github/provider.md
  docs/conf/writing.md
  docs/features/techdocs/concepts.md
  docs/features/techdocs/using-cloud-storage.md
  docs/getting-started/project-structure.md
  docs/integrations/gerrit/locations.md
  docs/integrations/google-cloud-storage/locations.md
  docs/tutorials/using-backstage-proxy-within-plugin.md
  plugins/api-docs/README.md
  plugins/cost-insights/src/alerts/README.md
  plugins/kubernetes-backend/examples/dice-roller/README.md
  scripts/check-docs-quality.js
Labels: documentation

#11161 gh actions: Auto approve renovate lock file changes
  .github/workflows/sync_approve_renovate_pr.yaml
Labels: awaiting-review

#11170 action: fix invalid file name comparison
  .github/workflows/sync_approve_renovate_pr.yaml
Labels: awaiting-review

#11164 [Search] delete mock storybook context
  .changeset/tall-parents-deny.md
  plugins/search-react/api-report.md
  plugins/search-react/src/api.ts
  plugins/search-react/src/context/SearchContextForStorybook.stories.tsx
  plugins/search-react/src/context/index.tsx
  plugins/search-react/src/index.ts
  plugins/search/src/components/SearchBar/SearchBar.stories.tsx
  plugins/search/src/components/SearchFilter/SearchFilter.stories.tsx
  plugins/search/src/components/SearchModal/SearchModal.stories.tsx
  plugins/search/src/components/SearchResult/SearchResult.stories.tsx
  plugins/search/src/components/SearchType/SearchType.stories.tsx
Labels: search
