Repository backstage/backstage, pull requests merged in 2023-10, with the labels that each got.

#20258 [DI] Create `TechDocs` search result item extension
  .changeset/fair-frogs-enjoy.md
  plugins/techdocs/alpha-api-report.md
  plugins/techdocs/package.json
  plugins/techdocs/src/alpha.tsx
  yarn.lock
Labels: area:techdocs

#20285 blog: added new adopter blog post
  microsite/blog/2023-09-29-chicago-traiding-company-adopter-spotlight.mdx
  microsite/blog/assets/2023-09-29/header.png
Labels: microsite

#20291 Deprecated LocationEntityProcessor, added doc comments
  .changeset/four-pans-sin.md
  .changeset/heavy-forks-tie.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/modules/core/LocationEntityProcessor.ts
  plugins/catalog-node/src/api/processingResult.ts
Labels: area:catalog

#20318 test advances
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/gocd/src/components/Select/Select.test.tsx
Labels: area:catalog

#20270 Handle gitlab namespace request properly
  .changeset/lazy-doors-wink.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts
Labels: scaffolder

#20257 [DI] Create `Catalog` search result item extension
  .changeset/eight-melons-cough.md
  plugins/catalog/alpha-api-report.md
  plugins/catalog/package.json
  plugins/catalog/src/alpha.tsx
Labels: area:catalog

#20277 Update proxying.md
  docs/plugins/proxying.md
Labels: documentation

#20007 feat(openapi): improve the internal typings and create real public utility types for OpenAPI
  .changeset/red-geese-clean.md
  packages/backend-openapi-utils/README.md
  packages/backend-openapi-utils/api-report.md
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/stub.test.ts
  packages/backend-openapi-utils/src/types/common.ts
  packages/backend-openapi-utils/src/types/express.ts
  packages/backend-openapi-utils/src/types/params.ts
  packages/backend-openapi-utils/src/types/requests.ts
  packages/backend-openapi-utils/src/types/responses.ts
  packages/backend-openapi-utils/src/utility.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.ts
Labels: area:catalog

#20163 Improve UX experience for log visibility option
  .changeset/metal-peas-beam.md
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.test.tsx
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.tsx
Labels: scaffolder

#18760 feat: Kubernetes cluster plugin
  .changeset/slow-dodos-remember.md
  packages/app/package.json
  packages/app/src/components/catalog/EntityPage.tsx
  plugins/kubernetes-cluster/.eslintrc.js
  plugins/kubernetes-cluster/api-report.md
  plugins/kubernetes-cluster/catalog-info.yaml
  plugins/kubernetes-cluster/package.json
  plugins/kubernetes-cluster/src/Router.tsx
  plugins/kubernetes-cluster/src/components/ApiResources/ApiResources.test.tsx
  plugins/kubernetes-cluster/src/components/ApiResources/ApiResources.tsx
  plugins/kubernetes-cluster/src/components/ApiResources/useApiResources.ts
  plugins/kubernetes-cluster/src/components/ClusterOverview/ClusterOverview.test.tsx
  plugins/kubernetes-cluster/src/components/ClusterOverview/ClusterOverview.tsx
  plugins/kubernetes-cluster/src/components/ClusterOverview/index.ts
  plugins/kubernetes-cluster/src/components/ClusterOverview/useCluster.ts
  plugins/kubernetes-cluster/src/components/KubernetesClusterContent/KubernetesClusterContent.tsx
  plugins/kubernetes-cluster/src/components/KubernetesClusterContent/index.ts
  plugins/kubernetes-cluster/src/components/KubernetesClusterErrorContext/KubernetesClusterErrorContext.tsx
  plugins/kubernetes-cluster/src/components/Nodes/Nodes.test.tsx
  plugins/kubernetes-cluster/src/components/Nodes/Nodes.tsx
  plugins/kubernetes-cluster/src/components/Nodes/useNodes.ts
  plugins/kubernetes-cluster/src/index.ts
  plugins/kubernetes-cluster/src/plugin.ts
  plugins/kubernetes-react/api-report.md
  plugins/kubernetes-react/src/api/KubernetesBackendClient.ts
  plugins/kubernetes-react/src/api/types.ts
  plugins/kubernetes/dev/index.tsx
  yarn.lock
Labels: will-fix, area:kubernetes

#20372 just some small fixes to the testing docs
  docs/plugins/testing.md
Labels: documentation

#20336 try to address flaky SearchModal test
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
Labels: search, area:discoverability

#20378 More fixes for node 20 test breakage + overridePackagePathResolution
  .changeset/nasty-needles-hear.md
  packages/backend-common/package.json
  packages/backend-common/src/paths.ts
  packages/backend-common/src/testUtils.ts
  packages/backend-common/testUtils-api-report.md
  packages/backend-test-utils/src/filesystem/MockDirectory.test.ts
  packages/backend-test-utils/src/filesystem/MockDirectory.ts
  plugins/app-backend/package.json
  plugins/app-backend/src/lib/assets/findStaticAssets.test.ts
  plugins/app-backend/src/service/appPlugin.test.ts
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.test.ts
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/auth/ServiceAccountStrategy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/techdocs-node/package.json
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.test.ts
  plugins/techdocs-node/src/stages/publish/helpers.test.ts
  plugins/techdocs-node/src/stages/publish/local.test.ts
  plugins/techdocs-node/src/stages/publish/openStackSwift.test.ts
  plugins/techdocs-node/src/testUtils/StorageFilesMock.ts
  plugins/techdocs-node/src/testUtils/types.ts
  yarn.lock
Labels: area:catalog, area:techdocs

#20109 docs: remove alpha from import in techdoc addons
  docs/features/techdocs/addons.md
Labels: documentation

#20371 feat: allow prepared directory clean up for custom preparers
  .changeset/early-toes-develop.md
  plugins/techdocs-backend/src/DocsBuilder/builder.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/prepare/dir.ts
  plugins/techdocs-node/src/stages/prepare/types.ts
  plugins/techdocs-node/src/stages/prepare/url.ts
Labels: area:techdocs

#20117 Only show pagination controls when necessary
  .changeset/fuzzy-pillows-remain.md
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
Labels: area:techdocs

#20407 Update pulumi.yaml
  microsite/data/plugins/pulumi.yaml
Labels: microsite

#20422 Add Litmus plugin to the marketplace
  microsite/data/plugins/litmus.yaml
Labels: microsite

#20404 scaffolder-backend: refactor tests to avoid mock-fs
  packages/backend-plugin-manager/src/manager/plugin-manager.test.ts
  packages/backend-plugin-manager/src/scanner/plugin-scanner.test.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/filesystem/MockDirectory.test.ts
  packages/backend-test-utils/src/filesystem/MockDirectory.ts
  packages/backend-test-utils/src/filesystem/index.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/lib/files/deserializeDirectoryContents.test.ts
  plugins/scaffolder-backend/src/lib/files/serializeDirectoryContents.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  yarn.lock
Labels: scaffolder

#20386 🧹 Removed some unused dependencies
  .changeset/loud-hotels-hunt.md
  packages/app-next/package.json
  packages/app/package.json
  packages/backend-common/package.json
  packages/catalog-model/package.json
  packages/config-loader/package.json
  packages/core-components/package.json
  packages/core-plugin-api/package.json
  packages/errors/package.json
  packages/integration-react/package.json
  packages/integration/package.json
  plugins/analytics-module-ga/package.json
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-gitlab/package.json
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend/package.json
  plugins/catalog-react/package.json
  plugins/catalog/package.json
  plugins/cicd-statistics/package.json
  plugins/ilert/package.json
  plugins/tech-radar/package.json
  yarn.lock
Labels: area:catalog

#20356 [TechDocs] enable other file name than mkdocs.yaml
  .changeset/nine-flies-move.md
  docs/features/techdocs/cli.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/index.ts
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/lib/mkdocsServer.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: documentation, area:techdocs

#20457 cli: deprecate support for .icon.svg
  .changeset/odd-pants-sleep.md
  .changeset/serious-pants-lie.md
  docs/local-dev/cli-build-system.md
  packages/cli/asset-types/asset-types.d.ts
  packages/cli/src/lib/svgrTemplate.ts
  plugins/codescene/README.md
  plugins/codescene/dev/index.tsx
  plugins/codescene/src/CodeSceneIcon.tsx
  plugins/codescene/src/assets/codescene.icon.svg
  plugins/codescene/src/index.ts
  plugins/graphiql/api-report.md
  plugins/graphiql/dev/index.tsx
  plugins/graphiql/src/GraphiQLIcon.tsx
  plugins/graphiql/src/alpha.tsx
  plugins/graphiql/src/assets/graphiql.icon.svg
  plugins/graphiql/src/index.ts
  plugins/ilert/api-report.md
  plugins/ilert/src/ILertIcon.tsx
  plugins/ilert/src/assets/ilert.icon.svg
  plugins/ilert/src/index.ts
Labels: documentation

#20145 email field and external uid annotation for GitlabOrgDiscoveryEntityProvider Enterprise users
  .changeset/flat-rules-rush.md
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#20120 auth-backend: migrate microsoft provider to separate module
  .changeset/swift-steaks-fetch.md
  plugins/auth-backend-module-microsoft-provider/.eslintrc.js
  plugins/auth-backend-module-microsoft-provider/README.md
  plugins/auth-backend-module-microsoft-provider/api-report.md
  plugins/auth-backend-module-microsoft-provider/catalog-info.yaml
  plugins/auth-backend-module-microsoft-provider/config.d.ts
  plugins/auth-backend-module-microsoft-provider/dev/index.ts
  plugins/auth-backend-module-microsoft-provider/package.json
  plugins/auth-backend-module-microsoft-provider/src/authenticator.ts
  plugins/auth-backend-module-microsoft-provider/src/index.ts
  plugins/auth-backend-module-microsoft-provider/src/module.test.ts
  plugins/auth-backend-module-microsoft-provider/src/module.ts
  plugins/auth-backend-module-microsoft-provider/src/resolvers.ts
  plugins/auth-backend-module-microsoft-provider/src/types.d.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.test.ts
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.ts
  plugins/auth-backend/src/providers/microsoft/provider.test.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  yarn.lock
Labels: auth

#20458 fix: make entity picker more reliable with one entity
  .changeset/little-ligers-cheat.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: scaffolder

#20435 Add examples for publish:azure scaffolder action
  .changeset/twenty-carrots-smile.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.ts
Labels: scaffolder

#19971 docs: updated around other plugin types
  docs/assets/plugins/create-plugin_types.png
  docs/assets/plugins/my-plugin_screenshot.png
  docs/features/software-catalog/extending-the-model.md
  docs/plugins/create-a-plugin.md
  docs/plugins/index.md
Labels: documentation

#20492 frontend-*-api: add createExtensionOverrides + support in createApp
  .changeset/silly-chefs-allow.md
  .changeset/tender-experts-yell.md
  packages/app-next/src/App.tsx
  packages/frontend-app-api/api-report.md
  packages/frontend-app-api/src/routing/extractRouteInfoFromInstanceTree.test.ts
  packages/frontend-app-api/src/wiring/createApp.test.tsx
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-app-api/src/wiring/discovery.test.ts
  packages/frontend-app-api/src/wiring/discovery.ts
  packages/frontend-app-api/src/wiring/parameters.test.ts
  packages/frontend-app-api/src/wiring/parameters.ts
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtensionOverrides.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionOverrides.ts
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  plugins/search-react/src/alpha.test.tsx
Labels: search, area:discoverability

#20224 Request ownership change for Dynatrace plugin
  microsite/data/plugins/dynatrace.yaml
  plugins/dynatrace/README.md
  plugins/dynatrace/catalog-info.yaml
Labels: microsite

#19849 Exposes the useRedisSets config option for keyv redis
  .changeset/small-avocados-live.md
  docs/overview/architecture-overview.md
  packages/backend-common/src/cache/CacheManager.test.ts
  packages/backend-common/src/cache/CacheManager.ts
Labels: documentation

#20498 docs: add example for including local catalog files
  docs/features/software-catalog/configuration.md
Labels: documentation

#20450 fix: init array with another types with one item
  docs/features/software-templates/input-examples.md
Labels: documentation

#20541 Allow passing undefined labelSelector to KubernetesFetcher
  .changeset/silent-years-marry.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/types/types.ts
Labels: area:kubernetes

#20535 frontend-*-api: add support for route bindings
  .changeset/many-impalas-wait.md
  .changeset/orange-cycles-wait.md
  packages/app-next-example-plugin/api-report.md
  packages/app-next/src/App.tsx
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/frontend-app-api/api-report.md
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createPlugin.ts
  plugins/adr/alpha-api-report.md
  plugins/catalog/alpha-api-report.md
  plugins/explore/alpha-api-report.md
  plugins/graphiql/alpha-api-report.md
  plugins/search/alpha-api-report.md
  plugins/tech-radar/alpha-api-report.md
  plugins/techdocs/alpha-api-report.md
  plugins/user-settings/alpha-api-report.md
Labels: area:catalog, area:techdocs, search, area:discoverability

#20229 [TechDocs] Enhance PlantUML support in the techdocs container to include external puml or pu files
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#20539 update the wait action test a bit
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.examples.test.ts
Labels: scaffolder

#20556 stop using SingleHostDiscovery
  plugins/auth-backend/src/service/standaloneServer.ts
  plugins/badges-backend/src/service/router-obfuscated.test.ts
  plugins/badges-backend/src/service/router.test.ts
  plugins/badges-backend/src/service/standaloneServer.ts
  plugins/catalog-backend/src/service/standaloneServer.ts
  plugins/devtools-backend/src/service/standaloneServer.ts
  plugins/entity-feedback-backend/src/service/standaloneServer.ts
  plugins/example-todo-list-backend/src/service/standaloneServer.ts
  plugins/linguist-backend/src/service/standaloneServer.ts
  plugins/playlist-backend/src/service/standaloneServer.ts
  plugins/proxy-backend/src/service/router.config.test.ts
  plugins/proxy-backend/src/service/router.test.ts
  plugins/proxy-backend/src/service/standaloneServer.ts
  plugins/search-backend/src/service/standaloneServer.ts
  plugins/techdocs-backend/src/service/standaloneServer.ts
Labels: area:catalog, auth, area:techdocs, search, area:discoverability

#20394 fix: max term length prevents backend to crash
  .changeset/twelve-snakes-sell.md
  plugins/search-backend/config.d.ts
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
Labels: search, area:discoverability

#20019 Migrate TechDocs to new Frontend System
  .changeset/modern-owls-mate.md
  packages/app-next/src/App.tsx
  plugins/techdocs/src/alpha.tsx
Labels: area:techdocs

#20562 changesets: tweak changeset for backend start change
  .changeset/itchy-rabbits-exist.md
  docs/releases/v1.19.0-next.0-changelog.md
  packages/cli/CHANGELOG.md
Labels: documentation

#20584 Remove duplicate versions of rjsf
  plugins/home/package.json
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
  plugins/scaffolder-react/alpha-api-report.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder-react/src/components/types.ts
  plugins/scaffolder-react/src/extensions/rjsf.ts
  plugins/scaffolder-react/src/layouts/createScaffolderLayout.ts
  plugins/scaffolder-react/src/legacy/extensions/types.ts
  plugins/scaffolder-react/src/next/components/Form/Form.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder/alpha-api-report.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/fields/EntityNamePicker/validation.test.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/validation.test.ts
  plugins/scaffolder/src/legacy/MultistepJsonForm/FieldOverrides/DescriptionField.tsx
  plugins/scaffolder/src/legacy/MultistepJsonForm/MultistepJsonForm.tsx
  plugins/scaffolder/src/legacy/MultistepJsonForm/ReviewStep.tsx
  plugins/scaffolder/src/legacy/MultistepJsonForm/schema.ts
  plugins/scaffolder/src/legacy/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/legacy/TemplateEditorPage/TemplateEditorForm.tsx
  plugins/scaffolder/src/legacy/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/legacy/TemplatePage/createValidator.test.ts
  plugins/scaffolder/src/legacy/TemplatePage/createValidator.ts
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/next/types.ts
  yarn.lock
Labels: homepage, scaffolder, area:discoverability

#20575 type fixes for React 18
  .changeset/healthy-shirts-fold.md
  .changeset/popular-bikes-do.md
  .changeset/pretty-swans-worry.md
  .changeset/sweet-buckets-fry.md
  .changeset/thick-dolphins-boil.md
  .changeset/wet-cows-brake.md
  .changeset/wild-geese-occur.md
  packages/core-app-api/src/routing/RouteResolver.beta.test.ts
  packages/core-app-api/src/routing/RouteResolver.compat.test.ts
  packages/core-app-api/src/routing/RouteResolver.stable.test.ts
  packages/core-app-api/src/routing/RoutingProvider.beta.test.tsx
  packages/core-app-api/src/routing/RoutingProvider.stable.test.tsx
  packages/core-components/api-report.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/components/Table/Table.tsx
  packages/core-components/src/layout/Sidebar/Items.tsx
  packages/core-components/src/layout/Sidebar/MobileSidebar.tsx
  packages/core-components/src/layout/Sidebar/Sidebar.stories.tsx
  packages/core-components/src/layout/TabbedCard/TabbedCard.tsx
  packages/core-plugin-api/src/extensions/useElementFilter.test.tsx
  packages/core-plugin-api/src/translation/useTranslationRef.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CurveFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/DirectionFilter.tsx
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.tsx
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
  plugins/catalog-import/src/components/StepReviewLocation/StepReviewLocation.tsx
  plugins/catalog-react/src/components/EntityPeekAheadPopover/EntityPeekAheadPopover.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/OverviewPage.tsx
  plugins/catalog-react/src/components/UnregisterEntityDialog/useUnregisterEntityDialogState.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
  plugins/code-coverage/src/components/FileExplorer/FileExplorer.tsx
  plugins/cost-insights/src/components/BarChart/BarChartTooltip.test.tsx
  plugins/cost-insights/src/components/ProjectSelect/ProjectSelect.test.tsx
  plugins/lighthouse/src/components/AuditList/index.tsx
  plugins/org-react/src/components/GroupListPicker/GroupListPicker.tsx
  plugins/playlist/package.json
  plugins/playlist/src/components/PlaylistPage/AddEntitiesDrawer.tsx
  plugins/playlist/src/components/PlaylistPage/PlaylistEntitiesTable.tsx
  plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.Autocomplete.test.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.tsx
  plugins/search/src/alpha.tsx
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.tsx
  plugins/sentry/src/components/SentryIssuesTable/SentryIssuesTable.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
  yarn.lock
Labels: area:catalog, area:techdocs, search, scaffolder, area:discoverability

#20596 dev-utils,techdocs: add conditional support for React 18
  .changeset/eleven-hounds-invent.md
  .changeset/shaggy-beers-collect.md
  packages/cli/config/jest.js
  packages/cli/src/lib/bundler/config.ts
  packages/dev-utils/package.json
  packages/dev-utils/src/devApp/render.tsx
  plugins/techdocs/package.json
  plugins/techdocs/src/reader/transformers/addGitFeedbackLink.ts
  plugins/techdocs/src/reader/transformers/addSidebarToggle.ts
  plugins/techdocs/src/reader/transformers/copyToClipboard.test.ts
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
  plugins/techdocs/src/reader/transformers/renderReactElement.ts
  yarn.lock
Labels: area:techdocs

#20607 docs/release-notes-template: add in
  docs/release-notes-template.md
Labels: documentation

#20573 auth-backend(oidc-provider): Use requested scope if the refresh token request response has none
  .changeset/five-spiders-listen.md
  plugins/auth-backend/src/providers/oidc/provider.ts
Labels: auth

#20633 docs/publishing: remove link to pre.json
  docs/publishing.md
Labels: documentation

#20620 docs: 1.19 release notes
  docs/releases/v1.19.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#20454 Microsite/tips plugin
  microsite/data/plugins/tips.yaml
Labels: microsite

#20635 docs/features/techdocs: wrap file extensions in code blocks
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#20558 stop using `useHotMemoize`
  .changeset/hungry-radios-play.md
  plugins/auth-backend/src/service/standaloneServer.ts
  plugins/badges-backend/src/service/standaloneServer.ts
  plugins/bazaar-backend/src/service/standaloneServer.ts
  plugins/catalog-backend/src/service/standaloneServer.ts
  plugins/code-coverage-backend/src/service/standaloneServer.ts
  plugins/entity-feedback-backend/src/service/standaloneServer.ts
  plugins/linguist-backend/src/service/standaloneServer.ts
  plugins/playlist-backend/src/service/standaloneServer.ts
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/service/standaloneServer.ts
  yarn.lock
Labels: area:catalog, auth

#20090 Addressing Security Concerns Raised by OpenSSF Scorecard
  .github/workflows/automate_area-labels.yml
  .github/workflows/automate_changeset_feedback.yml
  .github/workflows/automate_merge_message.yml
  .github/workflows/automate_stale.yml
  .github/workflows/ci-noop.yml
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/deploy_docker-image.yml
  .github/workflows/deploy_microsite.yml
  .github/workflows/deploy_nightly.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/issue.yaml
  .github/workflows/pr-review-comment-trigger.yaml
  .github/workflows/pr-review-comment.yaml
  .github/workflows/pr.yaml
  .github/workflows/scorecard.yml
  .github/workflows/sync_code-formatting.yml
  .github/workflows/sync_dependabot-changesets.yml
  .github/workflows/sync_release-manifest.yml
  .github/workflows/sync_renovate-changesets.yml
  .github/workflows/sync_snyk-github-issues.yml
  .github/workflows/sync_snyk-monitor.yml
  .github/workflows/sync_version-packages.yml
  .github/workflows/uffizzi-build.yml
  .github/workflows/uffizzi-preview.yaml
  .github/workflows/verify_accessibility-noop.yml
  .github/workflows/verify_accessibility.yml
  .github/workflows/verify_codeql.yml
  .github/workflows/verify_docs-quality.yml
  .github/workflows/verify_e2e-kubernetes-noop.yml
  .github/workflows/verify_e2e-kubernetes.yml
  .github/workflows/verify_e2e-linux-noop.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-techdocs.yml
  .github/workflows/verify_e2e-windows-noop.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_fossa.yml
  .github/workflows/verify_microsite-noop.yml
  .github/workflows/verify_microsite.yml
  .github/workflows/verify_storybook-noop.yml
  .github/workflows/verify_storybook.yml
  .github/workflows/verify_windows.yml
Labels: merge-after-release

#20572 fix: add missing required property in template schema
  .changeset/fifty-taxis-allow.md
  plugins/scaffolder-common/src/Template.v1beta3.schema.json
Labels: scaffolder

#20548 [DI] Migrate home plugin
  .changeset/quick-pumpkins-shave.md
  packages/app-next/src/App.tsx
  packages/app-next/src/HomePage.tsx
  packages/app-next/src/examples/pagesPlugin.tsx
  plugins/home/alpha-api-report.md
  plugins/home/package.json
  plugins/home/src/alpha.tsx
  yarn.lock
Labels: homepage, area:discoverability

#20355 [DI] Start `Catalog` frontend packages migration
  .changeset/new-beers-drive.md
  .changeset/sharp-falcons-clean.md
  packages/app-next/app-config.yaml
  packages/frontend-app-api/src/wiring/createApp.tsx
  plugins/catalog/alpha-api-report.md
  plugins/catalog/src/alpha.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/components/CatalogPage/index.ts
Labels: area:catalog

#20645 catalog-import: add support for new frontend system
  .changeset/chilled-knives-rule.md
  plugins/catalog-import/alpha-api-report.md
  plugins/catalog-import/package.json
  plugins/catalog-import/src/alpha.tsx
  yarn.lock
Labels: area:catalog

#20605 [DI] Export `TechDocs` routes and nav item extension
  .changeset/giant-cars-walk.md
  plugins/techdocs/alpha-api-report.md
  plugins/techdocs/src/alpha.tsx
Labels: area:techdocs

#20673 dev-utils,techdocs: use dynamic import instead of require for conditional react-dom
  .changeset/quick-roses-move.md
  packages/dev-utils/src/devApp/render.tsx
  plugins/techdocs/src/reader/transformers/renderReactElement.ts
Labels: area:techdocs

#20669 docs: new backend system updates
  docs/backend-system/architecture/02-backends.md
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation

#20675 chore: add info about entity if tech docs building fails
  .changeset/hip-mugs-camp.md
  plugins/techdocs-backend/src/service/DocsSynchronizer.test.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
Labels: area:techdocs

#20668 Replaced mock-fs in scaffolder rails
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.test.ts
  yarn.lock
Labels: scaffolder

#20676 docs: fix links to analytics-module-ga README
  docs/releases/v1.9.0-changelog.md
  docs/releases/v1.9.0-next.2-changelog.md
Labels: documentation

#20590 Add examples for github:webhook scaffolder actions
  .changeset/sweet-countries-share.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubWebhook.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubWebhook.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubWebhook.ts
Labels: scaffolder

#20586 [DI] Improve `ExtensionBoundary` component
  .changeset/fluffy-years-shake.md
  .changeset/sixty-tips-argue.md
  .changeset/young-days-talk.md
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/package.json
  packages/frontend-plugin-api/src/components/ErrorBoundary.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.test.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
  packages/frontend-plugin-api/src/components/ExtensionSuspense.test.tsx
  packages/frontend-plugin-api/src/components/ExtensionSuspense.tsx
  packages/frontend-plugin-api/src/extensions/createPageExtension.test.tsx
  packages/frontend-plugin-api/src/extensions/createPageExtension.tsx
  plugins/catalog/src/alpha.tsx
  plugins/search-react/src/alpha.tsx
  yarn.lock
Labels: area:catalog, search, area:discoverability

#20650 Scaffolder/cookiecutter: Remove usage of mock-fs
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.test.ts
  yarn.lock
Labels: scaffolder

#20688 search: more reliable wait in test
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
Labels: search, area:discoverability

#20686 catalog: initial entity page implementation for the new frontend system
  .changeset/mighty-crews-attack.md
  .changeset/nice-apes-kneel.md
  .changeset/old-apricots-taste.md
  packages/app-next/app-config.yaml
  packages/app-next/src/App.tsx
  plugins/catalog-react/alpha-api-report.md
  plugins/catalog-react/package.json
  plugins/catalog-react/src/alpha.tsx
  plugins/catalog/alpha-api-report.md
  plugins/catalog/package.json
  plugins/catalog/src/alpha.ts
  plugins/catalog/src/alpha.tsx
  plugins/catalog/src/alpha/builtInFilterExtensions.tsx
  plugins/catalog/src/alpha/createCatalogFilterExtension.tsx
  plugins/catalog/src/alpha/index.ts
  plugins/catalog/src/alpha/plugin.tsx
  plugins/techdocs/src/alpha.tsx
  yarn.lock
Labels: area:catalog, area:techdocs

#20707 Add examples for publish:github:pull-request scaffolder action
  .changeset/wise-weeks-design.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
Labels: area:scaffolder

#20591 Add examples for github:environment:create scaffolder action
  .changeset/long-turkeys-argue.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/gitHubEnvironment.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubEnvironment.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubEnvironment.ts
Labels: area:scaffolder

#20331 [cli] Added `EXPERIMENTAL_VITE` flag to start `devServer` with `vite` instead of `webpack`
  .changeset/swift-mice-care.md
  .github/vale/Vocab/Backstage/accept.txt
  packages/app/package.json
  packages/cli/package.json
  packages/cli/src/lib/bundler/config.ts
  packages/cli/src/lib/bundler/hasReactDomClient.ts
  packages/cli/src/lib/bundler/server.ts
  plugins/scaffolder/src/legacy/TaskPage/TaskPage.tsx
  yarn.lock
Labels: area:scaffolder

#20287 TechDocs navigation bugfix
  .changeset/fresh-crews-promise.md
  plugins/techdocs-module-addons-contrib/src/setupTests.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
  plugins/techdocs/src/reader/transformers/index.ts
  plugins/techdocs/src/reader/transformers/scrollIntoAnchor.test.ts
  plugins/techdocs/src/reader/transformers/scrollIntoAnchor.ts
  plugins/techdocs/src/setupTests.ts
Labels: area:techdocs

#20724 patch broken dynamic imports calls in new backend system
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  package.json
  packages/backend-app-api/CHANGELOG.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/wiring/BackstageBackend.ts
  packages/backend-next/src/index.ts
  plugins/bazaar-backend/CHANGELOG.md
  plugins/bazaar-backend/alpha-api-report.md
  plugins/bazaar-backend/api-report.md
  plugins/bazaar-backend/package.json
  plugins/bazaar-backend/src/alpha.ts
  plugins/bazaar-backend/src/index.ts
  plugins/example-todo-list-backend/api-report.md
  plugins/example-todo-list-backend/package.json
  plugins/example-todo-list-backend/src/plugin.ts
  plugins/kafka-backend/CHANGELOG.md
  plugins/kafka-backend/alpha-api-report.md
  plugins/kafka-backend/api-report.md
  plugins/kafka-backend/package.json
  plugins/kafka-backend/src/alpha.ts
  plugins/kafka-backend/src/index.ts
  plugins/periskop-backend/CHANGELOG.md
  plugins/periskop-backend/alpha-api-report.md
  plugins/periskop-backend/api-report.md
  plugins/periskop-backend/package.json
  plugins/periskop-backend/src/alpha.ts
  plugins/periskop-backend/src/index.ts
  plugins/proxy-backend/CHANGELOG.md
  plugins/proxy-backend/alpha-api-report.md
  plugins/proxy-backend/api-report.md
  plugins/proxy-backend/package.json
  plugins/proxy-backend/src/alpha.ts
  plugins/proxy-backend/src/index.ts
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-node/CHANGELOG.md
  plugins/scaffolder-node/alpha-api-report.md
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/alpha.ts
  plugins/scaffolder-node/src/index.ts
  plugins/sonarqube/CHANGELOG.md
  plugins/sonarqube/package.json
  plugins/todo/CHANGELOG.md
  plugins/todo/package.json
  plugins/user-settings-backend/CHANGELOG.md
  plugins/user-settings-backend/alpha-api-report.md
  plugins/user-settings-backend/api-report.md
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/alpha.ts
  plugins/user-settings-backend/src/index.ts
Labels: documentation, scaffolder

#20339 UserListPicker: decouple from EntityListContext
  .changeset/shaggy-buses-beg.md
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
  plugins/catalog-react/src/components/UserListPicker/useAllEntitiesCount.test.tsx
  plugins/catalog-react/src/components/UserListPicker/useAllEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.test.tsx
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useStarredEntitiesCount.test.tsx
  plugins/catalog-react/src/components/UserListPicker/useStarredEntitiesCount.ts
  plugins/catalog-react/src/filters.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/hooks/useEntityOwnership.ts
  plugins/catalog-react/src/hooks/useStarredEntities.test.tsx
  plugins/catalog-react/src/hooks/useStarredEntity.test.tsx
  plugins/catalog-react/src/utils/filters.ts
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
Labels: area:catalog

#20732 auth-backend: revert microsoft auth implementation
  .changeset/strange-queens-deliver.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.test.ts
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.ts
  plugins/auth-backend/src/providers/microsoft/provider.test.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  yarn.lock
Labels: auth

#20526 Fail gracefully on fetching users from gitlab groups
  .changeset/fresh-schools-thank.md
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#20720 [DI] Migrate catalog entity cards
  .changeset/fast-bears-lick.md
  plugins/catalog/src/alpha/apis.tsx
  plugins/catalog/src/alpha/entityCards.tsx
  plugins/catalog/src/alpha/entityContents.tsx
  plugins/catalog/src/alpha/filters.tsx
  plugins/catalog/src/alpha/navItems.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/catalog/src/alpha/plugin.tsx
  plugins/catalog/src/alpha/searchResultItems.tsx
Labels: area:catalog

#20723 cli: remove support for --experimental-type-build
  .changeset/chilly-books-sneeze.md
  .changeset/many-masks-smoke.md
  .changeset/sour-toes-joke.md
  REVIEWING.md
  docs/local-dev/cli-build-system.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  packages/backend-next/src/index.ts
  packages/cli-node/api-report.md
  packages/cli-node/src/monorepo/PackageGraph.ts
  packages/cli/cli-report.md
  packages/cli/package.json
  packages/cli/src/commands/build/command.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/migrate/packageScripts.ts
  packages/cli/src/commands/repo/build.ts
  packages/cli/src/lib/builder/buildTypeDefinitions.ts
  packages/cli/src/lib/builder/buildTypeDefinitionsWorker.ts
  packages/cli/src/lib/builder/config.ts
  packages/cli/src/lib/builder/packager.ts
  packages/cli/src/lib/builder/types.ts
  packages/cli/src/lib/packager/createDistWorkspace.ts
  packages/cli/src/lib/packager/productionPack.ts
  packages/repo-tools/src/commands/api-reports/api-extractor.ts
  plugins/bazaar-backend/alpha-api-report.md
  plugins/bazaar-backend/api-report.md
  plugins/bazaar-backend/package.json
  plugins/bazaar-backend/src/alpha.ts
  plugins/bazaar-backend/src/index.ts
  plugins/example-todo-list-backend/api-report.md
  plugins/example-todo-list-backend/package.json
  plugins/example-todo-list-backend/src/plugin.ts
  plugins/kafka-backend/alpha-api-report.md
  plugins/kafka-backend/api-report.md
  plugins/kafka-backend/package.json
  plugins/kafka-backend/src/alpha.ts
  plugins/kafka-backend/src/index.ts
  plugins/periskop-backend/alpha-api-report.md
  plugins/periskop-backend/api-report.md
  plugins/periskop-backend/package.json
  plugins/periskop-backend/src/alpha.ts
  plugins/periskop-backend/src/index.ts
  plugins/proxy-backend/alpha-api-report.md
  plugins/proxy-backend/api-report.md
  plugins/proxy-backend/package.json
  plugins/proxy-backend/src/alpha.ts
  plugins/proxy-backend/src/index.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-node/alpha-api-report.md
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/alpha.ts
  plugins/scaffolder-node/src/index.ts
  plugins/sonarqube/package.json
  plugins/todo/package.json
  plugins/user-settings-backend/alpha-api-report.md
  plugins/user-settings-backend/api-report.md
  plugins/user-settings-backend/package.json
  plugins/user-settings-backend/src/alpha.ts
  plugins/user-settings-backend/src/index.ts
  yarn.lock
Labels: documentation, scaffolder

#20739 [scaffolder] Fix form re-rendering
  plugins/scaffolder-react/src/next/components/Form/Form.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
Labels: scaffolder

#20740 [Home Custom resize observer hotfix
  .changeset/small-buckets-roll.md
  plugins/home/package.json
  yarn.lock
Labels: homepage, area:discoverability

#20643 chore(microsite): add matomo analytics plugin to microsite
  microsite/data/plugins/analytics-module-matomo.yaml
  microsite/static/img/matomo.png
Labels: microsite

#20653 Add current and defaultScopes when refreshing session
  .changeset/red-yaks-press.md
  packages/core-app-api/src/apis/implementations/auth/microsoft/MicrosoftAuth.test.ts
  packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.test.ts
  packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.ts
Labels: auth

#20710 catalog: add basic support for default and configured filters for entity page content
  packages/app-next/app-config.yaml
  plugins/catalog-react/alpha-api-report.md
  plugins/catalog-react/src/alpha.tsx
  plugins/catalog/src/alpha/EntityOverviewPage.tsx
  plugins/catalog/src/alpha/entityCards.tsx
  plugins/catalog/src/alpha/entityContents.tsx
Labels: area:catalog

#19649 feature(auth-backend): add a stable token issuer
  .changeset/tender-lies-wonder.md
  .github/vale/Vocab/Backstage/accept.txt
  docs/auth/index.md
  plugins/auth-backend/README.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/src/identity/KeyStores.ts
  plugins/auth-backend/src/identity/StaticKeyStore.test.ts
  plugins/auth-backend/src/identity/StaticKeyStore.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.test.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.ts
  plugins/auth-backend/src/service/router.ts
Labels: documentation, auth

#18062 introduce the concept of deferred stitching
  .changeset/loud-ghosts-deny.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/migrations/20230525141717_stitch_queue.js
  plugins/catalog-backend/src/database/operations/stitcher/getDeferredStitchableEntities.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/getDeferredStitchableEntities.ts
  plugins/catalog-backend/src/database/operations/stitcher/markDeferredStitchCompleted.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markDeferredStitchCompleted.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.test.ts
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.ts
  plugins/catalog-backend/src/stitching/progressTracker.ts
  plugins/catalog-backend/src/stitching/types.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
Labels: area:catalog, merge-after-release

#20657 Renovate/aws sdk js v3 monorepo
  .changeset/clever-houses-scream.md
  plugins/techdocs-node/package.json
  plugins/techdocs-node/src/stages/publish/awsS3.ts
  yarn.lock
Labels: area:techdocs

#20759 docs/backend-system: update backend system status
  docs/backend-system/index.md
Labels: documentation

#20728 Add Changelog plugin to plugins marketplace
  microsite/data/plugins/changelog.yaml
Labels: microsite

#20787 docs: backstage-deploy - clarify why Pulumi is needed, downgrade warning
  docs/deployment/backstage-deploy/aws.md
Labels: documentation

#20784 [Home] Create resizing tests
  packages/app/e2e-tests/HomePage.test.ts
  plugins/home/src/plugin.test.ts
Labels: homepage, area:discoverability

#20758 search-react: minor search bar analytics refactor
  .changeset/weak-zebras-cover.md
  plugins/search-react/src/components/SearchTracker/SearchTracker.tsx
Labels: search, area:discoverability

#20798 remove yarn 3 warning
  docs/tutorials/yarn-migration.md
Labels: documentation

#20578 feat(catalog): support adding location analyzers in processing extension
  .changeset/blue-bags-warn.md
  .changeset/unlucky-houses-end.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/deprecated.ts
  plugins/catalog-backend/src/ingestion/LocationAnalyzer.ts
  plugins/catalog-backend/src/ingestion/index.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/alpha-api-report.md
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/alpha.ts
  plugins/catalog-node/src/extensions.ts
  plugins/catalog-node/src/processing/index.ts
  plugins/catalog-node/src/processing/types.ts
Labels: area:catalog

#20694 Add `domain_hint` support to Entra ID login
  .changeset/gentle-pumpkins-carry.md
  docs/auth/microsoft/provider.md
  plugins/auth-backend-module-microsoft-provider/api-report.md
  plugins/auth-backend-module-microsoft-provider/config.d.ts
  plugins/auth-backend-module-microsoft-provider/src/authenticator.ts
  plugins/auth-backend-module-microsoft-provider/src/module.test.ts
Labels: documentation

#20768 fix: VisitsStorageApi retrieveAll method not returning visits
  .changeset/curvy-carrots-thank.md
  plugins/home/src/api/VisitsStorageApi.ts
Labels: homepage, area:discoverability

#20565 Add examples for github:deployKey:create scaffolder actions
  .changeset/tame-spies-hunt.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubDeployKey.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubDeployKey.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubDeployKey.ts
Labels: area:scaffolder

#20700 techdocs: fix buildLogTransport-related memory leak
  .changeset/late-forks-fetch.md
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
  plugins/techdocs-backend/src/service/router.ts
Labels: area:techdocs

#20615 Make it possible to define control buttons text (Back, Create, Review) per template
  .changeset/tidy-planets-trade.md
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
  plugins/scaffolder-common/src/index.ts
  plugins/scaffolder-react/alpha-api-report.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.ts
  plugins/scaffolder-react/src/types.ts
  plugins/search-react/src/context/SearchContext.test.tsx
Labels: search, area:scaffolder, area:discoverability, scaffolder

#20524 fix: title and description are now correctly displayed in RepoUrlPicker
  .changeset/rude-penguins-press.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: area:scaffolder, scaffolder

#20839 remove unnecessary usage of deprecated `BackstageTheme`
  .changeset/six-books-arrive.md
  plugins/api-docs/src/components/AsyncApiDefinitionWidget/AsyncApiDefinition.tsx
  plugins/bazaar/src/components/ProjectCard/ProjectCard.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomLabel.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/CustomNode.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/SystemDiagramCard/SystemDiagramCard.tsx
  plugins/code-climate/src/components/CodeClimateTable/CodeClimateTable.tsx
  plugins/cost-insights/src/components/CostInsightsPage/CostInsightsThemeProvider.tsx
  plugins/cost-insights/src/utils/styles.ts
  plugins/explore/src/components/GroupsExplorerContent/GroupsDiagram.tsx
  plugins/gcalendar/src/components/CalendarCard/AttendeeChip.tsx
  plugins/microsoft-calendar/src/components/AttendeeChip.tsx
  plugins/org-react/src/components/GroupListPicker/GroupListPickerButton.tsx
  plugins/org/src/components/Cards/OwnershipCard/ComponentsGrid.tsx
  plugins/playlist/src/components/PlaylistCard/PlaylistCard.tsx
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/StepIcon.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskBorder.tsx
  plugins/scaffolder/src/legacy/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/DryRunResults.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/DryRunResultsList.tsx
  plugins/search/src/components/SearchType/SearchType.Tabs.tsx
  plugins/sonarqube/src/components/SonarQubeCard/Percentage.tsx
  plugins/sonarqube/src/components/SonarQubeCard/Rating.tsx
  plugins/sonarqube/src/components/SonarQubeCard/Value.tsx
  plugins/tech-insights/src/components/ScorecardsInfo/ScorecardInfo.tsx
  plugins/tech-insights/src/components/ScorecardsList/ScorecardsList.tsx
  plugins/techdocs-module-addons-contrib/src/TextSize/TextSize.tsx
  plugins/xcmetrics/src/components/Accordion/Accordion.tsx
  plugins/xcmetrics/src/components/BuildDetails/BuildDetails.tsx
  plugins/xcmetrics/src/components/BuildList/BuildList.tsx
  plugins/xcmetrics/src/components/BuildTimeline/BuildTimeline.tsx
  plugins/xcmetrics/src/components/PreformattedText/PreformattedText.tsx
Labels: area:catalog, area:techdocs, search, area:discoverability, scaffolder

#20691 Entra ID Rebrand
  .changeset/fresh-camels-give.md
  .github/vale/Vocab/Backstage/accept.txt
  contrib/docs/tutorials/aws-alb-aad-oidc-auth.md
  docs/auth/microsoft/azure-easyauth.md
  docs/features/kubernetes/authentication.md
  docs/integrations/azure/locations.md
  docs/integrations/azure/org.md
  packages/integration/src/azure/config.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.test.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.ts
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
Labels: documentation, area:catalog, auth

#20666 Microsoft authentication doc clarifications
  docs/auth/microsoft/permissions.png
  docs/auth/microsoft/provider.md
Labels: documentation

#20903 hotfix: absolute url for matomo icon in microsite
  microsite/data/plugins/analytics-module-matomo.yaml
Labels: microsite

#20663 Update locations.md
  docs/integrations/bitbucketCloud/locations.md
Labels: documentation

#20736 (kubernetes-react): Make sure types are exported
  .changeset/old-coats-doubt.md
  plugins/kubernetes-react/api-report.md
  plugins/kubernetes-react/src/index.ts
  plugins/kubernetes-react/src/types/types.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatClusterLink.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/index.ts
  plugins/kubernetes-react/src/utils/clusterLinks/index.ts
Labels: area:kubernetes
