Repository backstage/backstage, pull requests merged in 2023-06, with the labels that each got.

#18047 [Documentation] Note URL Reader `export-ignore` limitations
  docs/features/techdocs/troubleshooting.md
  docs/plugins/url-reader.md
Labels: documentation

#18077 Fix 18035
  .changeset/gorgeous-timers-act.md
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#18070 Make `useRelatedEntities` use `getEntitiesByRefs` under the hood
  .changeset/mean-insects-hope.md
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.test.tsx
  plugins/api-docs/src/components/ApisCards/HasApisCard.test.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.test.tsx
  plugins/api-docs/src/components/ComponentsCards/ConsumingComponentsCard.test.tsx
  plugins/api-docs/src/components/ComponentsCards/ProvidingComponentsCard.test.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/useRelatedEntities.test.tsx
  plugins/catalog-react/src/hooks/useRelatedEntities.ts
  plugins/catalog/src/components/DependencyOfComponentsCard/DependencyOfComponentsCard.test.tsx
  plugins/catalog/src/components/DependsOnComponentsCard/DependsOnComponentsCard.test.tsx
  plugins/catalog/src/components/DependsOnResourcesCard/DependsOnResourcesCard.test.tsx
  plugins/catalog/src/components/HasComponentsCard/HasComponentsCard.test.tsx
  plugins/catalog/src/components/HasResourcesCard/HasResourcesCard.test.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.test.tsx
  plugins/catalog/src/components/HasSystemsCard/HasSystemsCard.test.tsx
Labels: area:catalog

#18095 update entity ref docs to remove illegal usages
  docs/features/software-catalog/references.md
Labels: documentation

#18116 deps: bump `rjsf` dependencies
  .changeset/tiny-hounds-cross.md
  plugins/home-react/package.json
  plugins/home/package.json
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  yarn.lock
Labels: homepage, scaffolder, area:discoverability

#18112 Add blog about Backstage Deploy
  microsite/blog/2023-05-06-backstage-deploy-alpha.mdx
  microsite/blog/assets/2023-05-06/Welcome-Backstage-Deploy.png
Labels: microsite

#18048 theme: avoid jss class name conflict
  .changeset/hot-apples-cross.md
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  plugins/search-react/src/components/SearchResultPager/SearchResultPager.test.tsx
Labels: search, area:discoverability

#18007 fix: make pages and techdocs nicely printable / export PDF
  .changeset/smart-ads-rush.md
  packages/core-components/src/layout/InfoCard/InfoCard.tsx
  packages/core-components/src/layout/Page/Page.tsx
  packages/core-components/src/layout/Sidebar/Bar.tsx
  packages/core-components/src/layout/Sidebar/MobileSidebar.tsx
  packages/core-components/src/layout/Sidebar/Page.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageSubheader/TechDocsReaderPageSubheader.tsx
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

#17516 add github:environment:create and github:deployKey:create
  .changeset/strange-dolls-decide.md
  docs/integrations/github/github-apps.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubDeployKey.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubDeployKey.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubEnvironment.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubEnvironment.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/index.ts
Labels: documentation, scaffolder

#18110 Add `TargetBranchName` variable and output for the `publish:gitlab:merge-request` and `publish:github:pull-request` s'cascaffolder actions.
  .changeset/fifty-shirts-brush.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.ts
Labels: scaffolder

#18147 chore(docs): Refresh CLI command details
  docs/local-dev/cli-commands.md
Labels: documentation

#17822 docs: add docs about Backstage Deploy
  .github/vale/Vocab/Backstage/accept.txt
  docs/deployment/backstage-deploy/aws.md
  microsite/blog/2023-05-06-backstage-deploy-alpha.mdx
  microsite/sidebars.json
Labels: documentation, microsite

#18174 Patch release of #17856
  package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/app/src/components/home/templates/DefaultTemplate.stories.tsx
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  plugins/adr/CHANGELOG.md
  plugins/adr/package.json
  plugins/api-docs/CHANGELOG.md
  plugins/api-docs/package.json
  plugins/bazaar/CHANGELOG.md
  plugins/bazaar/package.json
  plugins/catalog-customized/CHANGELOG.md
  plugins/catalog-customized/package.json
  plugins/catalog/CHANGELOG.md
  plugins/catalog/package.json
  plugins/explore/CHANGELOG.md
  plugins/explore/package.json
  plugins/playlist/CHANGELOG.md
  plugins/playlist/package.json
  plugins/search-react/CHANGELOG.md
  plugins/search-react/package.json
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.stories.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.stories.tsx
  plugins/search/CHANGELOG.md
  plugins/search/package.json
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.stories.tsx
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.tsx
  plugins/stack-overflow/CHANGELOG.md
  plugins/stack-overflow/package.json
  plugins/techdocs-addons-test-utils/CHANGELOG.md
  plugins/techdocs-addons-test-utils/package.json
  plugins/techdocs/CHANGELOG.md
  plugins/techdocs/package.json
  plugins/techdocs/src/search/components/TechDocsSearch.tsx
Labels: search, catalog, techdocs

#18167 HEADER_KUBERNETES_CLUSTER optional in single cluster setup
  .changeset/fuzzy-pots-worry.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: enhancement, area:kubernetes

#17897 Fix tabindex to make accessible search better
  .changeset/chilly-parrots-pay.md
  plugins/search-react/src/components/SearchFilter/SearchFilter.tsx
Labels: accessibility, search, area:discoverability

#18177 Update discovery.md
  docs/integrations/github/discovery.md
Labels: documentation

#17847 Adding info on entities selected to catalog table title
  .changeset/tiny-shrimps-beam.md
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: area:catalog

#18219 fix(deps): fix SNYK-JS-FASTXMLPARSER-5668858
  .changeset/hot-tables-yawn.md
  packages/backend-common/package.json
  packages/integration-aws-node/package.json
  plugins/catalog-backend-module-aws/package.json
  plugins/events-backend-module-aws-sqs/package.json
  plugins/kubernetes-backend/package.json
  plugins/techdocs-node/package.json
  yarn.lock
Labels: area:catalog, area:techdocs

#16977 Allow event to be sent on conflicts
  .changeset/sweet-fans-juggle.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/constants.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  yarn.lock
Labels: area:catalog

#18194 fixes #18172: manifest type can now be undefined as well
  .changeset/strong-crabs-flow.md
  plugins/scaffolder-react/alpha-api-report.md
  plugins/scaffolder-react/src/next/hooks/useTemplateParameterSchema.ts
Labels: scaffolder

#18230 [Docs] Align auth provider sidebar with available providers
  docs/auth/cloudflare/access.md
  docs/auth/index.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#18249 Update extending the model docs with correct imports and add getProce…
  docs/features/software-catalog/extending-the-model.md
Labels: documentation

#18250 ADD: ozone backstage plugin microsite data
  microsite/data/plugins/ozone.yaml
  microsite/static/img/ozone-logo.png
Labels: microsite

#18156 Update chatgpt-playground.yaml
  microsite/data/plugins/chatgpt-playground.yaml
Labels: microsite

#18103 add k8sgpt plugin to marketplace
  microsite/data/plugins/k8sgpt.yaml
Labels: microsite, stale

#18211 Docs: Add deployment doc for Koyeb
  .github/vale/Vocab/Backstage/accept.txt
  docs/deployment/koyeb.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#18242 Remove requirement that deprecated property 'target' is provided
  .changeset/rich-owls-smell.md
  packages/catalog-model/src/schema/shared/common.schema.json
  packages/catalog-model/src/validation/entitySchemaValidator.test.ts
Labels: area:catalog

#18261 add performance tests
  .changeset/purple-jokes-rhyme.md
  plugins/catalog-backend/src/tests/README.md
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
  plugins/catalog-backend/src/tests/performance/README.md
  plugins/catalog-backend/src/tests/performance/lib/catalogModuleSyntheticLoadEntities.ts
  plugins/catalog-backend/src/tests/performance/lib/env.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
Labels: area:catalog

#18236 [Search] Fix SearchModal and HomePageSearchBar debounce
  .changeset/honest-beds-appear.md
  packages/app/src/components/search/SearchModal.tsx
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.test.tsx
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.tsx
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
Labels: search, area:discoverability

#17685 Update Integration Gitlab OrgData
  docs/integrations/gitlab/org.md
Labels: documentation

#18231 Update core entities diagram with missing "dependsOn" relationships
  docs/assets/software-catalog/software-model-core-entities.drawio.svg
Labels: documentation

#18274 feat: replace vm2 sandbox with isolated-vm
  .changeset/popular-donuts-shout.md
  .github/workflows/verify_e2e-windows.yml
  package.json
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/lib/templating/SecureTemplater.ts
  yarn.lock
Labels: scaffolder

#18267 chore: Remove deprecated imports
  .changeset/orange-frogs-exist.md
  packages/backend-app-api/src/services/implementations/discovery/discoveryServiceFactory.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  packages/create-app/templates/default-app/packages/backend/src/index.ts
  packages/techdocs-cli/src/commands/migrate/migrate.ts
  packages/techdocs-cli/src/commands/publish/publish.ts
Labels: area:techdocs

#18323 Improve Easy Auth Docs
  docs/auth/index.md
  docs/auth/microsoft/azure-easyauth.md
Labels: documentation

#18324 Upgrade @azure/identity version
  .changeset/friendly-rivers-hammer.md
  plugins/azure-sites-backend/package.json
  plugins/catalog-backend-module-msgraph/package.json
  plugins/kubernetes-backend/package.json
  plugins/techdocs-node/package.json
  yarn.lock
Labels: area:catalog, area:techdocs

#18329 fix(bitbucketCloud,events): handle missing slug in event payload
  .changeset/sixty-icons-brush.md
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
Labels: area:catalog

#18263 Use consistent names for cursor and context
  .changeset/curvy-trainers-hide.md
  plugins/catalog-backend-module-incremental-ingestion/README.md
Labels: area:catalog

#18185 feat(openapi): Add a new OpenAPI schema linting command to repo-tools.
  .changeset/five-ties-wave.md
  .changeset/light-spoons-refuse.md
  .github/workflows/ci.yml
  packages/repo-tools/cli-report.md
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/index.ts
  packages/repo-tools/src/commands/openapi/lint.ts
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/search-backend/src/schema/openapi.generated.ts
  plugins/search-backend/src/schema/openapi.yaml
  yarn.lock
Labels: area:catalog, search, area:discoverability, area:openapi-tooling

#18311 docs: section on how to disable the register existing component button
  docs/assets/software-templates/disable-register-existing-component-button.png
  docs/features/software-templates/index.md
Labels: documentation

#18347 [cli] Add `--alwaysYarnPack` flag to build-workspace command
  .changeset/cli-packs-a-punch.md
  packages/cli/cli-report.md
  packages/cli/src/commands/index.ts
  packages/cli/src/lib/packager/createDistWorkspace.ts
Labels: fix-before-release

#18229 Add Azure DevOps Wiki Search plugin
  microsite/data/plugins/search-backend-module-azure-devops-wiki
  microsite/static/img/ado-wiki-search-icon.png
Labels: microsite, stale

#17999 [Analytics] Handle gathered mountpoints
  .changeset/analytics-gather-defer.md
  docs/plugins/analytics.md
  packages/core-app-api/src/routing/RouteResolver.beta.test.ts
  packages/core-app-api/src/routing/RouteResolver.compat.test.ts
  packages/core-app-api/src/routing/RouteResolver.stable.test.ts
  packages/core-app-api/src/routing/RouteTracker.test.tsx
  packages/core-app-api/src/routing/RouteTracker.tsx
  packages/core-app-api/src/routing/collectors.beta.test.tsx
  packages/core-app-api/src/routing/collectors.compat.test.tsx
  packages/core-app-api/src/routing/collectors.stable.test.tsx
  packages/core-app-api/src/routing/collectors.tsx
  packages/core-app-api/src/routing/types.ts
  packages/core-plugin-api/src/analytics/Tracker.test.ts
  packages/core-plugin-api/src/analytics/Tracker.ts
  packages/core-plugin-api/src/extensions/extensions.tsx
Labels: documentation

#18351 add 1.15 release notes
  .github/vale/Vocab/Backstage/accept.txt
  docs/releases/v1.15.0.md
  microsite/docusaurus.config.js
Labels: documentation, microsite

#18374 [blog] Sandbox blog post
  microsite/blog/2023-06-21-switching-out-sandbox.mdx
Labels: microsite

#18360 🧹 break some circular imports
  .changeset/purple-starfishes-design.md
  packages/core-components/src/layout/ItemCard/ItemCard.stories.tsx
  packages/core-components/src/layout/ItemCard/ItemCard.tsx
  packages/core-components/src/layout/Sidebar/SidebarGroup.tsx
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  plugins/nomad/src/Router.tsx
  plugins/nomad/src/annotations.ts
  plugins/nomad/src/components/EntityNomadAllocationListTable/EntityNomadAllocationListTable.tsx
  plugins/nomad/src/components/EntityNomadJobVersionListCard/EntityNomadJobVersionListCard.tsx
  plugins/nomad/src/components/index.ts
  plugins/nomad/src/index.ts
  plugins/playlist/src/components/PlaylistSortPicker/PlaylistSortPicker.tsx
Labels: area:catalog

#18364 docs: fix doc for allowed chars for `metadata.tags`
  docs/features/software-catalog/descriptor-format.md
Labels: documentation

#18328 Updated CODEOWNERS and added to marketplace
  .github/CODEOWNERS
  microsite/data/plugins/devtools.yaml
  microsite/data/plugins/linguist.yaml
  microsite/static/img/devtools.svg
  microsite/static/img/linguist.svg
Labels: microsite

#18424 docs: fix react error in homepage getting started
  docs/getting-started/homepage.md
Labels: documentation

#18427 Fix some english in writing-custom-actions.md
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#18102 feat(catalog-plugin): Add support for setting placeholder resolvers.
  .changeset/sour-humans-begin.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/alpha-api-report.md
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/extensions.ts
  plugins/catalog-node/src/processing/index.ts
  plugins/catalog-node/src/processing/types.ts
Labels: area:catalog

#18357 added some clarifications in the Azure org importer docs
  docs/integrations/azure/org.md
Labels: documentation

#18460 docs: add a note about isolated vm
  docs/getting-started/index.md
Labels: documentation

#18448 Fix broken link for kubernetes documentation
  .changeset/tough-flowers-suffer.md
  microsite/docusaurus.config.js
  plugins/kubernetes-backend/README.md
Labels: microsite

#18417 docs: fix docs for catalog module "unprocessed"
  .changeset/old-rules-give.md
  plugins/catalog-backend-module-unprocessed/README.md
  plugins/catalog-unprocessed-entities/README.md
Labels: area:catalog

#18447 (catalog-unprocessed-entities) Export more types and functions for customization
  .changeset/green-otters-wait.md
  plugins/catalog-unprocessed-entities/README.md
  plugins/catalog-unprocessed-entities/api-report.md
  plugins/catalog-unprocessed-entities/src/api/index.ts
  plugins/catalog-unprocessed-entities/src/index.ts
  plugins/catalog-unprocessed-entities/src/plugin.ts
  plugins/catalog-unprocessed-entities/src/types.ts
Labels: area:catalog

#18432 fix: update plugin home dependence @rjsf/material-ui to @rjsf/materia…
  .changeset/popular-kangaroos-accept.md
  plugins/home/package.json
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
  yarn.lock
Labels: homepage, area:discoverability

#18375 [Search]: Optimize search bar test suite
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
Labels: search, area:discoverability

#18466 Corrected the installation instructions for @backstage/plugin-catalog-unprocessed-entities
  .changeset/seven-pillows-hear.md
  plugins/catalog-unprocessed-entities/README.md
Labels: area:catalog

#18467 fix: missing breakpoints in columns of custom homepage grid
  .changeset/strange-baboons-look.md
  plugins/home/api-report.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Labels: homepage, area:discoverability

#18484 Fix a couple of typos
  docs/backend-system/architecture/04-plugins.md
Labels: documentation

#18487 fix: Use themeable styling for markdown in `DescriptionFieldTemplate`
  .changeset/fluffy-frogs-change.md
  plugins/scaffolder-react/src/next/components/Form/DescriptionFieldTemplate.tsx
Labels: scaffolder
