Repository backstage/backstage, pull requests merged in 2023-02, with the labels that each got.

#16087 add incremental entity provider post to microsite
  .github/vale/Vocab/Backstage/accept.txt
  microsite/blog/2023-01-31-incremental-entity-provider.md
  microsite/blog/assets/2023-01-31/catalog-pipeline.png
  microsite/blog/assets/2023-01-31/damon.jpg
Labels: microsite

#16113 🧹 just some comment cleanup
  docs/features/software-catalog/external-integrations.md
  packages/backend-app-api/src/services/implementations/lifecycle/lifecycleFactory.ts
  packages/backend-app-api/src/services/implementations/rootLifecycle/rootLifecycleFactory.ts
  packages/backend-plugin-api/src/services/definitions/LifecycleService.ts
  packages/core-components/src/layout/Sidebar/config.ts
  packages/test-utils/src/testUtils/TestApiProvider.tsx
  plugins/catalog-backend-module-azure/src/processors/AzureDevOpsDiscoveryProcessor.ts
  plugins/catalog-backend-module-github/src/processors/GithubDiscoveryProcessor.ts
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/stack-overflow/src/api/StackOverflowClient.ts
  plugins/tech-insights-node/src/facts.ts
Labels: documentation, catalog, search

#16110 docs: make backend-system docs available with disclaimer
  docs/backend-system/architecture/01-index.md
  docs/backend-system/architecture/02-backends.md
  docs/backend-system/architecture/03-services.md
  docs/backend-system/architecture/04-plugins.md
  docs/backend-system/architecture/05-extension-points.md
  docs/backend-system/architecture/06-modules.md
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/building-backends/08-migrating.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/building-plugins-and-modules/02-testing.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  docs/backend-system/core-services/01-index.md
  microsite/sidebars.json
Labels: documentation, microsite

#16120 fix image paths in scaling incremental ingestion post
  microsite/blog/2023-01-31-incremental-entity-provider.md
Labels: microsite

#16015 feat(plugin): Add graphql-voyager as new backstage plugin
  .changeset/tasty-jobs-help.md
  microsite/data/plugins/graphql-voyager.yaml
  plugins/graphql-voyager/.eslintrc.js
  plugins/graphql-voyager/README.md
  plugins/graphql-voyager/api-report.md
  plugins/graphql-voyager/package.json
  plugins/graphql-voyager/src/assets/plugin.png
  plugins/graphql-voyager/src/components/GraphQLVoyagerBrowser/GraphQLVoyagerBrowser.test.tsx
  plugins/graphql-voyager/src/components/GraphQLVoyagerBrowser/GraphQLVoyagerBrowser.tsx
  plugins/graphql-voyager/src/components/GraphQLVoyagerBrowser/index.ts
  plugins/graphql-voyager/src/components/GraphQLVoyagerPage/GraphQLVoyagerPage.test.tsx
  plugins/graphql-voyager/src/components/GraphQLVoyagerPage/GraphQLVoyagerPage.tsx
  plugins/graphql-voyager/src/components/GraphQLVoyagerPage/index.ts
  plugins/graphql-voyager/src/components/index.ts
  plugins/graphql-voyager/src/index.ts
  plugins/graphql-voyager/src/lib/api/GraphQLVoyagerEndpoints.ts
  plugins/graphql-voyager/src/lib/api/index.ts
  plugins/graphql-voyager/src/lib/api/types.ts
  plugins/graphql-voyager/src/plugin.test.ts
  plugins/graphql-voyager/src/plugin.ts
  plugins/graphql-voyager/src/routes.ts
  plugins/graphql-voyager/src/setupTests.ts
  yarn.lock
Labels: microsite

#16115 docs: fix permissions tutorial setup script
  docs/permissions/plugin-authors/01-setup.md
Labels: documentation

#16141 update react-jsonschema-form docs URL
  docs/features/software-templates/writing-templates.md
Labels: documentation

#15891 Improve MS Graph Performance
  .changeset/slow-carrots-sniff.md
  .changeset/young-points-drop.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
Labels: catalog

#16151 feat(docs): IAP, where to find audience value
  docs/assets/auth/gcp-iap-jwt-audience-code-popup.png
  docs/auth/google/gcp-iap-auth.md
Labels: documentation

#16170 [Search] Improve router query errors
  .changeset/hip-onions-tan.md
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
Labels: search

#16180 docs: improve Vault plugin catalog entry language
  microsite/data/plugins/vault.yaml
Labels: microsite

#16135 Docs: Azure - Add note around token usage
  docs/integrations/azure/locations.md
Labels: documentation

#16164 docs: miscellaneous permissions plugin tutorial fixes
  docs/permissions/plugin-authors/01-setup.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permissions/plugin-authors/05-frontend-authorization.md
Labels: documentation

#16188 Adding whats ahead blog post and image asset
  .github/vale/Vocab/Backstage/accept.txt
  microsite/blog/2023-02-06-whats-ahead-in-2023.md
  microsite/blog/assets/2023-02-06/whats-ahead.png
Labels: microsite, blog

#16024 docs: standardize term 'gitlab instance'
  .changeset/breezy-ears-rule.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/config.d.ts
Labels: documentation, catalog

#16191 Remove title so it doesn't show up twice
  microsite/blog/2023-01-31-incremental-entity-provider.md
Labels: microsite

#16197 backend-plugin-api: separate out hook in addShutdownHook
  .changeset/bright-plums-cough.md
  .changeset/green-guests-flow.md
  docs/backend-system/core-services/01-index.md
  packages/backend-app-api/src/services/implementations/lifecycle/lifecycleFactory.ts
  packages/backend-app-api/src/services/implementations/rootHttpRouter/rootHttpRouterFactory.ts
  packages/backend-app-api/src/services/implementations/rootLifecycle/rootLifecycleFactory.test.ts
  packages/backend-app-api/src/services/implementations/rootLifecycle/rootLifecycleFactory.ts
  packages/backend-common/src/database/connectors/sqlite3.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/LifecycleService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.test.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
Labels: documentation, catalog

#16201 Read msgraph user.select from configuration
  .changeset/silly-buckets-joke.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
Labels: catalog

#16207 backend-plugin-api: switch createBackendPlugin id -> pluginId
  .changeset/bright-teachers-compete.md
  .changeset/little-jars-lay.md
  docs/backend-system/architecture/04-plugins.md
  docs/backend-system/architecture/05-extension-points.md
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  docs/backend-system/core-services/01-index.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/plugins/new-backend-system.md
  packages/backend-app-api/src/services/implementations/scheduler/schedulerFactory.test.ts
  packages/backend-common/src/legacy.ts
  packages/backend-defaults/src/CreateBackend.test.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/wiring/factories.test.ts
  packages/backend-plugin-api/src/wiring/factories.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.test.ts
  plugins/app-backend/src/service/appPlugin.ts
  plugins/bazaar-backend/src/plugin.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/events-backend/src/service/EventsPlugin.ts
  plugins/example-todo-list-backend/src/plugin.ts
  plugins/kafka-backend/src/plugin.ts
  plugins/periskop-backend/src/plugin.ts
  plugins/proxy-backend/src/plugin.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/user-settings-backend/src/plugin.ts
Labels: documentation, catalog, scaffolder

#16218 bump @rjsf v5 dependencies to 5.1.0
  .changeset/new-pumpkins-sleep.md
  packages/app/src/components/scaffolder/customScaffolderExtensions.tsx
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  yarn.lock
Labels: scaffolder

#16196 update createAsyncValidators to work with nested schemas
  .changeset/shy-buses-mix.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
  plugins/scaffolder-react/src/next/components/Stepper/utils.ts
Labels: scaffolder

#16227 fix stepper hasErrors to not bottom out at first error
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/utils.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/utils.ts
Labels: scaffolder

#16229 Update `*Factory` suffix to `*ServiceFactory`
  .changeset/friendly-chefs-rule.md
  .changeset/quick-mice-change.md
  .changeset/short-apes-relate.md
  docs/backend-system/architecture/03-services.md
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/core-services/01-index.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/services/implementations/cache/cacheServiceFactory.ts
  packages/backend-app-api/src/services/implementations/cache/index.ts
  packages/backend-app-api/src/services/implementations/config/configServiceFactory.ts
  packages/backend-app-api/src/services/implementations/config/index.ts
  packages/backend-app-api/src/services/implementations/database/databaseFactory.ts
  packages/backend-app-api/src/services/implementations/database/databaseServiceFactory.ts
  packages/backend-app-api/src/services/implementations/database/index.ts
  packages/backend-app-api/src/services/implementations/discovery/discoveryServiceFactory.ts
  packages/backend-app-api/src/services/implementations/discovery/index.ts
  packages/backend-app-api/src/services/implementations/httpRouter/httpRouterServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/httpRouter/httpRouterServiceFactory.ts
  packages/backend-app-api/src/services/implementations/httpRouter/index.ts
  packages/backend-app-api/src/services/implementations/identity/identityServiceFactory.ts
  packages/backend-app-api/src/services/implementations/identity/index.ts
  packages/backend-app-api/src/services/implementations/lifecycle/index.ts
  packages/backend-app-api/src/services/implementations/lifecycle/lifecycleServiceFactory.ts
  packages/backend-app-api/src/services/implementations/logger/index.ts
  packages/backend-app-api/src/services/implementations/logger/loggerServiceFactory.ts
  packages/backend-app-api/src/services/implementations/permissions/index.ts
  packages/backend-app-api/src/services/implementations/permissions/permissionsServiceFactory.ts
  packages/backend-app-api/src/services/implementations/rootHttpRouter/index.ts
  packages/backend-app-api/src/services/implementations/rootHttpRouter/rootHttpRouterServiceFactory.ts
  packages/backend-app-api/src/services/implementations/rootLifecycle/index.ts
  packages/backend-app-api/src/services/implementations/rootLifecycle/rootLifecycleServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/rootLifecycle/rootLifecycleServiceFactory.ts
  packages/backend-app-api/src/services/implementations/rootLogger/rootLoggerServiceFactory.ts
  packages/backend-app-api/src/services/implementations/scheduler/index.ts
  packages/backend-app-api/src/services/implementations/scheduler/schedulerServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/scheduler/schedulerServiceFactory.ts
  packages/backend-app-api/src/services/implementations/tokenManager/index.ts
  packages/backend-app-api/src/services/implementations/tokenManager/tokenManagerServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/tokenManager/tokenManagerServiceFactory.ts
  packages/backend-app-api/src/services/implementations/urlReader/index.ts
  packages/backend-app-api/src/services/implementations/urlReader/urlReaderServiceFactory.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
Labels: documentation, catalog

#16036 Specify RUN location for installing mkdocs dependencies.
  docs/features/techdocs/getting-started.md
Labels: documentation

#16253 Updated permission rule descriptions
  .changeset/brave-lemons-chew.md
  plugins/catalog-backend/src/permissions/rules/createPropertyRule.test.ts
  plugins/catalog-backend/src/permissions/rules/createPropertyRule.ts
  plugins/catalog-backend/src/permissions/rules/hasAnnotation.ts
  plugins/catalog-backend/src/permissions/rules/hasLabel.ts
  plugins/catalog-backend/src/permissions/rules/isEntityKind.ts
  plugins/catalog-backend/src/permissions/rules/isEntityOwner.ts
  plugins/playlist-backend/src/permissions/rules.ts
Labels: catalog

#16159 Update the ecosystem model section of the docs
  docs/assets/permissions/permission-framework-overview.drawio.svg
  docs/assets/software-catalog/software-model-entities.drawio.svg
  docs/features/software-catalog/system-model.md
  docs/permissions/overview.md
Labels: documentation

#16254 Fix #16245: Fix CatalogGraphCard parameter naming errors to CatalogGr…
  .changeset/odd-kangaroos-itch.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
Labels: catalog

#16126 Expose all props available to underlying `EntityRelationsGraph` on the `CatalogGraphCard`.
  .changeset/slow-sloths-do.md
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/index.ts
Labels: catalog

#16125 chore(elasticSearch): export utility function
  .changeset/chatty-lemons-reply.md
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/index.ts
  plugins/search-backend-module-elasticsearch/src/index.ts
Labels: search

#16252 Make catalog search result list a bit more customizable
  .changeset/spotty-spiders-love.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
Labels: catalog

#16282 fix: move backend-test-utils to devDependencies
  .changeset/red-toes-suffer.md
  plugins/bazaar-backend/package.json
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/kubernetes-backend/package.json
  plugins/playlist-backend/package.json
  plugins/vault-backend/package.json
Labels: catalog

#16287 docs(gitlab): Fix default regex string in example yaml file.
  docs/integrations/gitlab/discovery.md
Labels: documentation

#16283 docs: add custom action plugin for snyk import
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#16251 backend-plugin-api: refactor CacheService to lift up client methods to the service
  .changeset/chilled-brooms-jog.md
  .changeset/eighty-knives-repeat.md
  .changeset/twenty-pugs-explain.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/services/implementations/cache/cacheServiceFactory.ts
  packages/backend-common/api-report.md
  packages/backend-common/src/cache/CacheClient.test.ts
  packages/backend-common/src/cache/CacheClient.ts
  packages/backend-common/src/cache/CacheManager.test.ts
  packages/backend-common/src/cache/CacheManager.ts
  packages/backend-common/src/cache/index.ts
  packages/backend-common/src/cache/types.ts
  packages/backend-common/src/legacy.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/CacheService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/adr-backend/src/service/router.test.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/cloudflare-access/provider.test.ts
  plugins/techdocs-backend/src/cache/TechDocsCache.test.ts
Labels: auth, techdocs

#16257 🧹 do not import deprecated symbols
  .changeset/few-meals-buy.md
  plugins/catalog-backend-module-aws/api-report.md
  plugins/catalog-backend-module-aws/src/processors/AwsEKSClusterProcessor.test.ts
  plugins/catalog-backend-module-aws/src/processors/AwsEKSClusterProcessor.ts
  plugins/catalog-backend-module-aws/src/processors/AwsOrganizationCloudAccountProcessor.ts
  plugins/catalog-backend-module-aws/src/processors/AwsS3DiscoveryProcessor.ts
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.ts
Labels: catalog

#16121 feat(SearchType.Accordion): implement displaying result counts
  .changeset/three-geckos-press.md
  packages/app/src/components/search/SearchPage.tsx
  plugins/search/api-report.md
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
Labels: search

#16046 Document the proxy endpoint
  .changeset/tidy-kings-cough.md
  docs/features/kubernetes/proxy.md
  microsite/sidebars.json
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: documentation, microsite

#16129 Resolve locations via github annotations rather than entity name
  .changeset/serious-grapes-brush.md
  plugins/catalog-backend-module-github/src/lib/annotation.ts
  plugins/catalog-backend-module-github/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-github/src/lib/util.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: catalog

#16315 typo: typo in imported package name
  docs/plugins/url-reader.md
Labels: documentation

#16116 keep event stream alive even if its taking a while
  .changeset/hungry-stingrays-type.md
  plugins/techdocs-backend/src/service/DocsSynchronizer.test.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
Labels: techdocs

#16059 fix: better error around github teams not found
  .changeset/olive-ads-peel.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
Labels: scaffolder

#16079 Updated documentation how to debug Jest tests in IntelliJ
  docs/local-dev/cli-build-system.md
  docs/plugins/testing.md
Labels: documentation

#16310 Add kubevela to plugin marketplace
  microsite/data/plugins/kubevela.yaml
Labels: microsite

#16189 Scaffolder template. Added a missing validator check for items in an array
  .changeset/lucky-papayas-allow.md
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
  plugins/scaffolder/src/components/TemplatePage/createValidator.test.ts
  plugins/scaffolder/src/components/TemplatePage/createValidator.ts
Labels: scaffolder

#16331 docs/local-dev: codeblock
  docs/local-dev/cli-build-system.md
Labels: documentation

#14718 Introducing the Linguist plugin
  .changeset/serious-horses-juggle.md
  packages/app/package.json
  packages/app/src/components/catalog/EntityPage.tsx
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/plugins/linguist.ts
  packages/catalog-model/examples/components/artist-lookup-component.yaml
  plugins/linguist-backend/.eslintrc.js
  plugins/linguist-backend/README.md
  plugins/linguist-backend/api-report.md
  plugins/linguist-backend/migrations/20221115_init.js
  plugins/linguist-backend/package.json
  plugins/linguist-backend/src/api/LinguistBackendApi.ts
  plugins/linguist-backend/src/api/index.ts
  plugins/linguist-backend/src/db/LinguistBackendDatabase.ts
  plugins/linguist-backend/src/db/index.ts
  plugins/linguist-backend/src/index.ts
  plugins/linguist-backend/src/run.ts
  plugins/linguist-backend/src/service/router.test.ts
  plugins/linguist-backend/src/service/router.ts
  plugins/linguist-backend/src/service/standaloneServer.ts
  plugins/linguist-backend/src/setupTests.ts
  plugins/linguist-common/.eslintrc.js
  plugins/linguist-common/README.md
  plugins/linguist-common/api-report.md
  plugins/linguist-common/package.json
  plugins/linguist-common/src/constants.ts
  plugins/linguist-common/src/index.ts
  plugins/linguist-common/src/setupTests.ts
  plugins/linguist-common/src/types.ts
  plugins/linguist/.eslintrc.js
  plugins/linguist/README.md
  plugins/linguist/api-report.md
  plugins/linguist/dev/index.tsx
  plugins/linguist/docs/linguist-no-data.png
  plugins/linguist/docs/linguist-no-refresh.png
  plugins/linguist/docs/linguist-with-data.png
  plugins/linguist/package.json
  plugins/linguist/src/api/LinguistApi.ts
  plugins/linguist/src/api/LinguistClient.ts
  plugins/linguist/src/api/index.ts
  plugins/linguist/src/components/LinguistCard/LinguistCard.tsx
  plugins/linguist/src/components/LinguistCard/index.ts
  plugins/linguist/src/hooks/index.ts
  plugins/linguist/src/hooks/useLanguages.ts
  plugins/linguist/src/index.ts
  plugins/linguist/src/plugin.test.ts
  plugins/linguist/src/plugin.ts
  plugins/linguist/src/setupTests.ts
  yarn.lock
Labels: catalog

#16322 fix(docs): Missing section headers on System Modeling page
  docs/features/software-catalog/system-model.md
Labels: documentation

#16299 scaffolder/next: Added some documentation on how to test the `/alpha` version
  .github/vale/Vocab/Backstage/accept.txt
  docs/features/software-templates/testing-scaffolder-alpha.md
  microsite/sidebars.json
Labels: documentation, microsite

#16339 update the alpha warning blurbs in backend docs
  docs/backend-system/architecture/01-index.md
  docs/backend-system/architecture/02-backends.md
  docs/backend-system/architecture/03-services.md
  docs/backend-system/architecture/04-plugins.md
  docs/backend-system/architecture/05-extension-points.md
  docs/backend-system/architecture/06-modules.md
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/building-backends/08-migrating.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/building-plugins-and-modules/02-testing.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  docs/backend-system/core-services/01-index.md
  docs/backend-system/index.md
  docs/plugins/new-backend-system.md
Labels: documentation

#16290 fix(techdocs-cli): Fix proxying to mkdocs
  .changeset/flat-lizards-poke.md
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/lib/httpServer.ts
Labels: techdocs

#16342 docs: add release notes for 1.11
  .github/vale/Vocab/Backstage/accept.txt
  docs/releases/v1.11.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#16108 Azure Easy Auth
  .changeset/twenty-jeans-speak.md
  docs/auth/microsoft/azure-easyauth.md
  mkdocs.yml
  plugins/auth-backend/src/providers/azure-easyauth/index.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.test.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.ts
Labels: documentation, auth, needs discussion

#16366 microsite/blog: add blog post about backend system alpha
  microsite/blog/2023-02-15-backend-system-alpha.md
  microsite/blog/assets/2023-02-15/backend-system-alpha.gif
  microsite/blog/assets/2023-02-15/backend-system-architecture.png
Labels: microsite

#16371 Fix an s
  microsite/blog/2023-02-15-backend-system-alpha.md
Labels: microsite

#15112 Refactor entity picker
  .changeset/new-jobs-deny.md
  packages/backend-common/package.json
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.test.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePickerInput.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePickerOption.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/index.ts
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.test.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.tsx
  plugins/catalog-react/src/testUtils/providers.tsx
  yarn.lock
Labels: catalog

#16369 [a11y] Techdocs: Preserve html tag attributes in generated HTML
  .changeset/ninety-turtles-wait.md
  plugins/techdocs/src/reader/transformers/html/transformer.ts
Labels: techdocs

#16402 scaffolder/next: fixing alignment of `CardActions` in `TemplateCard`
  .changeset/spotty-wasps-complain.md
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
Labels: scaffolder

#16420 Patch release of #16417
  package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/e2e-test/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/lib/visitImports.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/rules/no-undeclared-imports.js
  packages/eslint-plugin/src/__fixtures__/monorepo/packages/node_modules/@internal/foo/index.js
  packages/eslint-plugin/src/__fixtures__/monorepo/packages/node_modules/@internal/foo/package.json
  packages/eslint-plugin/src/no-undeclared-imports.test.ts
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  plugins/auth-backend/package.json
  plugins/bazaar/CHANGELOG.md
  plugins/bazaar/package.json
  plugins/catalog-backend-module-aws/CHANGELOG.md
  plugins/catalog-backend-module-aws/package.json
  plugins/catalog-backend-module-incremental-ingestion/CHANGELOG.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
  plugins/catalog-backend-module-msgraph/CHANGELOG.md
  plugins/catalog-backend-module-msgraph/package.json
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
  plugins/sonarqube-react/CHANGELOG.md
  plugins/sonarqube-react/api-report.md
  plugins/sonarqube-react/package.json
  plugins/sonarqube-react/src/api/SonarQubeApi.ts
  plugins/sonarqube-react/src/hooks/useProjectInfo.ts
  plugins/sonarqube/CHANGELOG.md
  plugins/sonarqube/api-report.md
  plugins/sonarqube/package.json
  plugins/sonarqube/src/api/SonarQubeClient.ts
  plugins/vault-backend/CHANGELOG.md
  plugins/vault-backend/package.json
  plugins/vault-backend/src/service/standaloneApplication.ts
  yarn.lock
Labels: catalog, auth, techdocs

#16152 feat: Add StackStorm plugin
  .changeset/quick-tables-listen.md
  app-config.yaml
  microsite/data/plugins/stackstorm.yaml
  microsite/static/img/stackstorm.png
  packages/app/package.json
  packages/app/src/App.tsx
  plugins/stackstorm/.eslintrc.js
  plugins/stackstorm/README.md
  plugins/stackstorm/api-report.md
  plugins/stackstorm/config.d.ts
  plugins/stackstorm/dev/index.tsx
  plugins/stackstorm/package.json
  plugins/stackstorm/src/api/StackstormClient.test.ts
  plugins/stackstorm/src/api/StackstormClient.ts
  plugins/stackstorm/src/api/index.ts
  plugins/stackstorm/src/api/types.ts
  plugins/stackstorm/src/components/ActionsList/ActionsList.test.tsx
  plugins/stackstorm/src/components/ActionsList/ActionsList.tsx
  plugins/stackstorm/src/components/ActionsList/index.ts
  plugins/stackstorm/src/components/ExecutionsTable/ExecutionPanel.test.tsx
  plugins/stackstorm/src/components/ExecutionsTable/ExecutionPanel.tsx
  plugins/stackstorm/src/components/ExecutionsTable/ExecutionsTable.test.tsx
  plugins/stackstorm/src/components/ExecutionsTable/ExecutionsTable.tsx
  plugins/stackstorm/src/components/ExecutionsTable/Status.tsx
  plugins/stackstorm/src/components/ExecutionsTable/index.ts
  plugins/stackstorm/src/components/PacksTable/PacksTable.test.tsx
  plugins/stackstorm/src/components/PacksTable/PacksTable.tsx
  plugins/stackstorm/src/components/PacksTable/index.ts
  plugins/stackstorm/src/components/StackstormHome/StackstormHome.test.tsx
  plugins/stackstorm/src/components/StackstormHome/StackstormHome.tsx
  plugins/stackstorm/src/components/StackstormHome/index.ts
  plugins/stackstorm/src/index.ts
  plugins/stackstorm/src/plugin.test.ts
  plugins/stackstorm/src/plugin.ts
  plugins/stackstorm/src/routes.ts
  plugins/stackstorm/src/setupTests.ts
  yarn.lock
Labels: microsite

#16452 Fix spelling mistake in techdocs
  docs/features/techdocs/configuration.md
Labels: documentation

#16449 fix: catalog:fetch to throw error for null entity
  .changeset/eight-radios-bake.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
Labels: scaffolder

#16411 Fixed IdentifyClient import inconsistency in permissions tutorial
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
Labels: documentation

#16374 Fix export of catalog collator entity transformer
  .changeset/four-lizards-grin.md
  plugins/catalog-backend/src/search/index.ts
Labels: catalog

#16492 scaffolder/next: Added the fields schema definition in the validator function
  .changeset/six-melons-rhyme.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
  plugins/scaffolder-react/src/next/extensions/types.ts
Labels: scaffolder

#16489 microsite: Update image links to use markdown syntax
  docs/api/utility-apis.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/features/search/architecture.md
  docs/features/techdocs/addons.md
  docs/features/techdocs/architecture.md
  docs/features/techdocs/getting-started.md
  docs/getting-started/configuration.md
  docs/getting-started/create-an-app.md
  docs/getting-started/homepage.md
  docs/getting-started/index.md
  microsite-next/docusaurus.config.js
  microsite-next/sidebars.json
Labels: documentation

#16495 [TechDocs] Fix addons test util
  .changeset/quick-schools-dress.md
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
Labels: techdocs

#16496 microsite: deploy new microsite
  .github/workflows/deploy_microsite.yml
  microsite/static/.nojekyll
  microsite/static/CNAME
Labels: microsite

#16367 Pass search item to icon component, pass icon as component to search list item
  .changeset/slow-insects-cheat.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/explore/api-report.md
  plugins/explore/src/components/ToolSearchResultListItem/ToolSearchResultListItem.tsx
  plugins/techdocs/api-report.md
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.tsx
Labels: catalog, techdocs

#16497 fix bug in hasErrors with nested errors object
  .changeset/happy-boxes-arrive.md
  plugins/scaffolder-react/src/next/components/Stepper/utils.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/utils.ts
Labels: scaffolder

#16509 Render database configuration link correctly
  docs/tutorials/configuring-plugin-databases.md
Labels: documentation

#16377 fix(plugins-catalog): align icon in CatalogSearchResultListItem
  .changeset/fuzzy-trains-search.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
Labels: catalog

#16534 docs/releases: fix bad links in changelog
  docs/releases/v1.10.0-next.2-changelog.md
Labels: documentation

#16533 backend-system: doc tweaks
  docs/backend-system/architecture/01-index.md
  docs/backend-system/architecture/06-modules.md
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/core-services/01-index.md
  docs/backend-system/index.md
Labels: documentation

#16453 Get rid of usages of the old Button
  .changeset/quiet-ghosts-float.md
  packages/core-components/api-report.md
  packages/core-components/src/components/LinkButton/LinkButton.tsx
  packages/core-components/src/layout/ErrorBoundary/ErrorBoundary.tsx
  packages/core-components/src/layout/ItemCard/ItemCard.stories.tsx
  packages/core-components/src/layout/ItemCard/ItemCard.tsx
  plugins/circleci/src/components/BuildWithStepsPage/BuildWithStepsPage.tsx
  plugins/entity-validation/src/components/EntityValidationPage/EntityValidationPage.tsx
  plugins/explore/src/components/DomainCard/DomainCard.tsx
  plugins/explore/src/components/ToolCard/ToolCard.tsx
  plugins/kubernetes/src/components/KubernetesDrawer/KubernetesDrawer.tsx
  plugins/playlist/src/components/PlaylistCard/PlaylistCard.tsx
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
  plugins/search-react/src/components/DefaultResultListItem/DefaultResultListItem.stories.tsx
  plugins/techdocs/src/home/components/Grids/DocsCardGrid.tsx
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
Labels: techdocs, search, scaffolder

#16543 Move `backend-defaults` to `devDependencies`
  .changeset/tricky-jars-film.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
Labels: catalog

#16325 docs error more explanatory
  .changeset/flat-peaches-act.md
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
Labels: techdocs

#16546 [TechDocs CLI] print the mkdocs output when running the generate command with the --…
  .changeset/quick-coats-sneeze.md
  packages/techdocs-cli/src/commands/generate/generate.ts
  packages/techdocs-cli/src/lib/utility.ts
Labels: techdocs

#16557 chore: Make all discord links the same invite
  .changeset/short-mayflies-fix.md
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  app-config.yaml
  docs/FAQ.md
  docs/dls/design.md
  docs/features/software-templates/migrating-from-v1beta2-to-v1beta3.md
  docs/getting-started/configuration.md
  docs/getting-started/index.md
  docs/getting-started/running-backstage-locally.md
  docs/overview/roadmap.md
  docs/overview/support.md
  docs/overview/what-is-backstage.md
  docs/releases/v1.0.0.md
  docs/releases/v1.1.0.md
  docs/releases/v1.10.0.md
  docs/releases/v1.11.0.md
  docs/releases/v1.2.0.md
  docs/releases/v1.3.0.md
  docs/releases/v1.4.0.md
  docs/releases/v1.5.0.md
  docs/releases/v1.6.0.md
  docs/releases/v1.7.0.md
  docs/releases/v1.8.0.md
  docs/releases/v1.9.0.md
  microsite-next/docusaurus.config.js
  microsite-next/src/pages/community/index.tsx
  microsite/blog/2020-03-18-what-is-backstage.md
  microsite/blog/2020-04-30-how-to-quickly-set-up-backstage.md
  microsite/blog/2020-06-22-backstage-service-catalog-alpha.md
  microsite/blog/2020-08-05-announcing-backstage-software-templates.md
  microsite/blog/2021-01-12-new-backstage-feature-kubernetes-for-service-owners.md
  microsite/blog/2021-06-22-spotify-backstage-is-growing.md
  microsite/blog/2021-06-24-announcing-backstage-search-platform.md
  microsite/blog/2021-09-16-the-techdocs-beta-has-landed.md
  microsite/blog/2022-03-04-backstage-upgrade-helper.md
  microsite/blog/2022-03-17-backstage-1.0.md
  microsite/blog/2022-12-19-backstage-wrapped-2022.md
  microsite/core/Footer.js
  microsite/pages/en/community.js
  microsite/pages/en/live.js
  plugins/pagerduty/README.md
Labels: documentation, microsite

#16532 microsite: Add overview header image to assets
  docs/assets/header.png
  docs/overview/what-is-backstage.md
Labels: documentation

#16440 fix: Prevent deletion of non-empty directories
  .changeset/purple-days-film.md
  plugins/techdocs-node/src/stages/publish/helpers.test.ts
  plugins/techdocs-node/src/stages/publish/helpers.ts
Labels: techdocs

#16586 Octopus Deploy logo
  .changeset/long-wolves-drive.md
  microsite/data/plugins/octopus-deploy.yaml
  microsite/static/img/octopus-deploy.svg
  plugins/octopus-deploy/src/components/OctopusDeployIcon/OctopusDeployIcon.tsx
  plugins/octopus-deploy/src/components/OctopusDeployIcon/index.ts
  plugins/octopus-deploy/src/components/ReleaseTable/ReleaseTable.tsx
Labels: microsite

#16545 Deprecate config key `branch` of GitlabDiscoveryEntityProvider in favor of new key `fallbackBranch`
  .changeset/silver-lies-rest.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, catalog

#16405 Fix techdocs open issue link when repository is in a Gitlab subgroup
  .changeset/unlucky-sloths-explain.md
  plugins/techdocs-module-addons-contrib/src/ReportIssue/IssueLink.test.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/IssueLink.tsx
Labels: techdocs

#16168 Update version in backend plugin docs
  docs/plugins/backend-plugin.md
Labels: documentation

#16603 fix display of placeholders
  docs/local-dev/cli-commands.md
Labels: documentation

#16602 fix batch fetch by ref with filtering
  .changeset/slow-pens-compare.md
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: catalog

#16519 feat: add support for HTTPS proxy for AWS S3 requests in Techdocs
  .changeset/wicked-lions-repeat.md
  docs/features/techdocs/cli.md
  docs/features/techdocs/configuration.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/index.ts
  packages/techdocs-cli/src/lib/PublisherConfig.ts
  plugins/techdocs-node/package.json
  plugins/techdocs-node/src/stages/publish/awsS3.ts
  yarn.lock
Labels: documentation, techdocs

#16412 fix(techdocs): copy to clipboard in not secure context
  .changeset/spotty-turtles-reply.md
  plugins/techdocs/src/reader/transformers/copyToClipboard.test.ts
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
Labels: techdocs

#16559 Add an "Other Templates" group for scaffolder/next when groups are passed in
  .changeset/odd-waves-rescue.md
  plugins/scaffolder/dev/index.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
Labels: scaffolder

#16605 docs(azure-intgration): add note for projects with spaces on the name
  docs/integrations/azure/discovery.md
Labels: documentation

#16610 Do not close multiselect filters when checking boxes
  .changeset/young-schools-double.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
Labels: catalog

#16608 use absolute img path for plugins
  microsite/data/plugins/adr.yaml
  microsite/data/plugins/announcements.yaml
  microsite/data/plugins/apollo-explorer.yaml
  microsite/data/plugins/azure-pipelines.yaml
  microsite/data/plugins/azure-spring-apps.yml
  microsite/data/plugins/backstage-analytics-module-ga.yaml
  microsite/data/plugins/backstage-kubernetes.yaml
  microsite/data/plugins/backstage-search-platform.yaml
  microsite/data/plugins/backstage-software-catalog.yaml
  microsite/data/plugins/backstage-software-templates.yaml
  microsite/data/plugins/backstage-techdocs.yaml
  microsite/data/plugins/badges.yaml
  microsite/data/plugins/bazaar.yaml
  microsite/data/plugins/catalog-graph.yaml
  microsite/data/plugins/cicd-statistics.yaml
  microsite/data/plugins/circleci.yaml
  microsite/data/plugins/codescene.yaml
  microsite/data/plugins/cortex.yaml
  microsite/data/plugins/cost-insights.yaml
  microsite/data/plugins/dora-metrics.yaml
  microsite/data/plugins/dynatrace.yaml
  microsite/data/plugins/entity-feedback.yaml
  microsite/data/plugins/git-release-manager.yaml
  microsite/data/plugins/github-pull-requests-board.yaml
  microsite/data/plugins/home.yaml
  microsite/data/plugins/humanitec.yaml
  microsite/data/plugins/octopus-deploy.yaml
  microsite/data/plugins/playlist.yaml
  microsite/data/plugins/qeta.yaml
  microsite/data/plugins/s3-viewer.yaml
  microsite/data/plugins/scaffolder-backend-dotnet.yaml
  microsite/data/plugins/scaffolder-backend-module-rails.yaml
  microsite/data/plugins/scaffolder-backend-roadie-http-request.yaml
  microsite/data/plugins/scaffolder-backend-roadie-utils.yaml
  microsite/data/plugins/score-card.yaml
  microsite/data/plugins/shortcuts.yaml
  microsite/data/plugins/sonarqube.yaml
  microsite/data/plugins/splunk-on-call.yaml
  microsite/data/plugins/stack-overflow.yaml
  microsite/data/plugins/stackstorm.yaml
  microsite/data/plugins/toolbox.yaml
  microsite/data/plugins/vault.yaml
  microsite/data/plugins/xcmetrics.yaml
Labels: microsite

#16578 Add GET providers endpoint to Incremental Entity Provider admin routes
  .changeset/forty-snails-clap.md
  plugins/catalog-backend-module-incremental-ingestion/README.md
  plugins/catalog-backend-module-incremental-ingestion/src/router/paths.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/routes.ts
Labels: catalog

#16613 [TechDocs] Fix footer links for newer versions of mkdocs-material
  .changeset/great-trains-jam.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: techdocs

#16333 createPermissionIntegrationRouter - optional getResources
  .changeset/clean-planes-join.md
  .changeset/polite-wombats-smash.md
  .changeset/what-is-going-on-babe.md
  packages/backend-app-api/src/http/MiddlewareFactory.ts
  packages/errors/api-report.md
  packages/errors/src/errors/common.ts
  packages/errors/src/errors/index.ts
  plugins/permission-node/api-report.md
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: auth

#16632 Docs: Fix typo
  docs/features/software-catalog/descriptor-format.md
Labels: documentation

#16469 Extend RelatedEntitiesCard usages to allow custom columns
  .changeset/warm-vans-fail.md
  .changeset/wild-ads-pull.md
  plugins/api-docs/api-report.md
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.tsx
  plugins/api-docs/src/components/ApisCards/HasApisCard.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/DependsOnComponentsCard/DependsOnComponentsCard.tsx
  plugins/catalog/src/components/DependsOnResourcesCard/DependsOnResourcesCard.tsx
Labels: catalog

#16539 fix: fix getting credentials for Bitbucket Server in the RepoUrlPicker
  .changeset/famous-sloths-tie.md
  plugins/auth-backend/src/providers/bitbucketServer/provider.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: auth, scaffolder

#16611 scaffolder/next: simplify the exported components
  plugins/scaffolder-react/alpha-api-report.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/components/TaskBorder/index.ts
  plugins/scaffolder-react/src/components/TaskSteps/TaskSteps.tsx
  plugins/scaffolder-react/src/components/index.ts
  plugins/scaffolder-react/src/hooks/index.ts
  plugins/scaffolder-react/src/hooks/useEventStream.ts
  plugins/scaffolder-react/src/index.ts
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/TaskLogStream/TaskLogStream.test.tsx
  plugins/scaffolder-react/src/next/components/TaskLogStream/TaskLogStream.tsx
  plugins/scaffolder-react/src/next/components/TaskLogStream/index.ts
  plugins/scaffolder-react/src/next/components/TaskSteps/StepIcon.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/StepTime.test.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/StepTime.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskBorder.test.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskBorder.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.test.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/index.ts
  plugins/scaffolder-react/src/next/components/index.ts
  plugins/scaffolder-react/src/next/extensions/index.tsx
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.test.tsx
  plugins/scaffolder-react/src/next/hooks/useTransformSchemaToProps.ts
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.tsx
Labels: scaffolder

#15561 Update scaffolder action to zod
  .changeset/afraid-trees-stare.md
  docs/features/software-templates/writing-custom-actions.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/DecoratedActionsRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/actions/createTemplateAction.ts
  plugins/scaffolder-node/src/actions/index.ts
  plugins/scaffolder-node/src/actions/types.ts
  yarn.lock
Labels: documentation, scaffolder

#16521 refactor: Replace white & black colors with theme aware ones
  .changeset/odd-oranges-tease.md
  packages/core-components/src/components/Avatar/Avatar.tsx
  packages/core-components/src/components/EmptyState/MissingAnnotationEmptyState.tsx
  packages/core-components/src/components/FeatureDiscovery/FeatureCalloutCircular.tsx
  packages/core-components/src/components/Lifecycle/Lifecycle.tsx
  packages/core-components/src/layout/HeaderActionMenu/HeaderActionMenu.tsx
  packages/core-components/src/layout/Sidebar/SidebarSubmenu.tsx
  packages/core-components/src/layout/Sidebar/SidebarSubmenuItem.tsx
  plugins/airbrake/dev/components/ApiBar/ApiBar.tsx
  plugins/azure-sites/src/components/AzureSitesOverviewTableComponent/AzureSitesOverviewTable.test.tsx
  plugins/azure-sites/src/components/AzureSitesOverviewTableComponent/AzureSitesOverviewTable.tsx
  plugins/catalog/src/components/EntityLabelsCard/EntityLabelsEmptyState.tsx
  plugins/catalog/src/components/EntityLinksCard/EntityLinksEmptyState.tsx
  plugins/code-climate/src/components/CodeClimateTable/CodeClimateTable.tsx
  plugins/code-coverage/src/components/FileExplorer/CodeRow.tsx
  plugins/code-coverage/src/components/FileExplorer/FileContent.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsDiagram.tsx
  plugins/explore/src/components/ToolCard/ToolCard.tsx
  plugins/firehydrant/src/components/ServiceDetailsCard/ServiceDetailsCard.tsx
  plugins/gcalendar/src/components/CalendarCard/AttendeeChip.tsx
  plugins/git-release-manager/src/features/Stats/Info/InDepth/InDepth.tsx
  plugins/ilert/src/components/AlertsPage/StatusChip.tsx
  plugins/ilert/src/components/ILertCard/ILertCardEmptyState.tsx
  plugins/ilert/src/components/ILertCard/ILertCardHeaderStatus.tsx
  plugins/ilert/src/components/ServicesPage/StatusChip.tsx
  plugins/ilert/src/components/StatusPagePage/StatusChip.tsx
  plugins/ilert/src/components/StatusPagePage/VisibilityChip.tsx
  plugins/microsoft-calendar/src/components/AttendeeChip.tsx
  plugins/newrelic-dashboard/src/components/NewRelicDashboard/DashboardSnapshotList/DashboardSnapshot.tsx
  plugins/org/src/components/Cards/OwnershipCard/ComponentsGrid.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/next/TemplateListPage/ContextMenu.tsx
  plugins/shortcuts/src/ShortcutItem.tsx
  plugins/tech-radar/src/components/RadarBubble/RadarBubble.tsx
  plugins/tech-radar/src/components/RadarEntry/RadarEntry.tsx
  plugins/tech-radar/src/components/RadarLegend/RadarLegend.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: catalog, techdocs, scaffolder

#16616 Docs: remove backend-to-backend references
  .changeset/rename-for-the-win.md
  app-config.yaml
  docs/auth/service-to-service-auth.md
  docs/permissions/getting-started.md
  packages/backend-common/src/tokens/ServerTokenManager.ts
  packages/create-app/templates/default-app/app-config.yaml.hbs
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/permission-node/src/ServerPermissionClient.ts
Labels: documentation, auth
