Repository backstage/backstage, pull requests merged in 2023-12, with the labels that each got.

#21628 Adding Jira Dashboard plugin to the Directory
  microsite/data/plugins/jira-dashboard
Labels: microsite

#21692 fix self import for scaffolder entity model
  plugins/catalog-backend-module-scaffolder-entity-model/src/module.ts
Labels: area:catalog

#21698 Added missing alpha and async
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation

#21694 fix: don't use commas for jest test files
  .changeset/late-hats-beam.md
  packages/repo-tools/src/commands/openapi/test/init.ts
  plugins/catalog-backend/optic.yml
  plugins/search-backend/optic.yml
Labels: area:catalog, search, area:discoverability

#21277 Update how-to-guides.md
  .github/vale/Vocab/Backstage/accept.txt
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#21700 feat: add types to the generated exports
  .changeset/gentle-timers-fail.md
  packages/catalog-client/src/generated/index.ts
  packages/catalog-client/src/generated/models/index.ts
  packages/repo-tools/templates/typescript-backstage.yaml
  packages/repo-tools/templates/typescript-backstage/index.mustache
Labels: area:catalog

#21623 feat(open-dora): add plugin information
  microsite/data/plugins/open-dora.yaml
  microsite/static/img/open-dora-icon.png
Labels: microsite

#21596 fix: Change user settings backend pluginId and fix using user setting…
  .changeset/dull-rings-melt.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/user-settings-backend/src/alpha.ts
Labels: homepage, area:discoverability

#21780 Added the Readme plugin to the Directory.
  microsite/data/plugins/readme.yaml
Labels: microsite

#21697 docs: update okta provider doc
  docs/auth/okta/provider.md
Labels: documentation, stale

#21806 Microsite: Update readme.yaml
  microsite/data/plugins/readme.yaml
Labels: microsite

#21778 Update and rename jira-dashboard to jira-dashboard.yaml
  microsite/data/plugins/jira-dashboard.yaml
Labels: microsite

#21812 Docs: Add context to DI documentation
  docs/frontend-system/architecture/03-extensions.md
  docs/frontend-system/architecture/04-plugins.md
  docs/frontend-system/architecture/05-extension-overrides.md
  docs/frontend-system/architecture/07-routes.md
  docs/frontend-system/architecture/08-references.md
Labels: documentation

#21815 Microsite: Update jira-dashboard.yaml
  microsite/data/plugins/jira-dashboard.yaml
Labels: microsite

#21785 docs(tutorials): add Setup OpenTelemetry tutorial
  docs/tutorials/setup-opentelemetry.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#21804 Fixes #21798 StarredEntities home page component calls getEntitiesByRefs instead of getEntities
  .changeset/shy-boxes-sleep.md
  plugins/home/src/homePageComponents/StarredEntities/Content.test.tsx
  plugins/home/src/homePageComponents/StarredEntities/Content.tsx
Labels: homepage, area:discoverability

#21771 docs/frontend-system: add naming pattern docs
  docs/frontend-system/architecture/08-naming-patterns.md
Labels: documentation

#21542 Update custom permission rule documentation
  CONTRIBUTING.md
  docs/permissions/custom-rules.md
Labels: documentation

#21837 TechDocs Collator: Regenerate token on every fetch to the search index
  .changeset/famous-coins-glow.md
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.ts
Labels: area:techdocs

#21846 Update life-of-an-entity.md
  docs/features/software-catalog/life-of-an-entity.md
Labels: documentation

#21849 frontend-system: updates to fit new naming patterns
  .changeset/gentle-eggs-speak.md
  .changeset/neat-plants-dream.md
  .changeset/polite-rocks-kiss.md
  plugins/adr/api-report-alpha.md
  plugins/adr/src/alpha.tsx
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-react/api-report-alpha.md
  plugins/catalog-react/src/alpha.tsx
  plugins/catalog/src/alpha/apis.tsx
  plugins/catalog/src/alpha/entityCards.tsx
  plugins/catalog/src/alpha/entityContents.tsx
  plugins/catalog/src/alpha/filters.tsx
  plugins/catalog/src/alpha/navItems.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/catalog/src/alpha/searchResultItems.tsx
  plugins/explore/api-report-alpha.md
  plugins/explore/src/alpha.tsx
  plugins/graphiql/api-report-alpha.md
  plugins/graphiql/src/alpha.tsx
  plugins/home/src/alpha.tsx
  plugins/search-react/api-report-alpha.md
  plugins/search-react/src/alpha.test.tsx
  plugins/search-react/src/alpha.tsx
  plugins/search/api-report-alpha.md
  plugins/search/src/alpha.tsx
  plugins/stack-overflow/src/alpha.tsx
  plugins/tech-radar/api-report-alpha.md
  plugins/tech-radar/src/alpha.test.tsx
  plugins/tech-radar/src/alpha.tsx
  plugins/techdocs/api-report-alpha.md
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/src/alpha.tsx
Labels: area:catalog, area:techdocs, search, homepage, area:discoverability

#21827 Updating bad path in docs
  docs/deployment/docker.md
Labels: documentation

#21816 Microsite: Add `odo` Scaffolder Actions Plugin
  microsite/data/plugins/scaffolder-backend-odo.yaml
Labels: microsite

#21598 feat: add permission to catalog create and refresh buttion
  .changeset/large-oranges-press.md
  plugins/catalog/package.json
  plugins/catalog/src/components/AboutCard/AboutCard.test.tsx
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/org/package.json
  plugins/org/src/components/Cards/Group/GroupProfile/GroupProfileCard.tsx
  yarn.lock
Labels: area:catalog

#20899 WIP. Adding the Gitea RepoUrlPicker
  .changeset/giant-pets-cover.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GiteaRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GiteaRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/schema.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/utils.ts
Labels: area:scaffolder

#21801 i18n: guidlines for translation structure
  docs/plugins/internationalization.md
Labels: documentation

#21877 [scaffolder] Fix issue where parameters is set to empty object
  .changeset/empty-poets-camp.md
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.test.tsx
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.ts
Labels: area:scaffolder

#21800 Fixing Snyk vulnerability SNYK-JS-ZOD-5925617 by upgrading zod packages to latest
  .changeset/tough-dancers-suffer.md
  packages/backend-tasks/package.json
  packages/cli-node/package.json
  packages/cli/package.json
  packages/core-app-api/package.json
  packages/core-components/package.json
  packages/frontend-plugin-api/package.json
  plugins/auth-node/package.json
  plugins/catalog-backend/package.json
  plugins/home/package.json
  plugins/permission-backend/package.json
  plugins/permission-common/package.json
  plugins/permission-node/package.json
  plugins/playlist-backend/package.json
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-node/package.json
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  plugins/search-backend/package.json
  yarn.lock
Labels: area:catalog, search, homepage, area:scaffolder, area:permission, area:discoverability

#21510 Introduced version policy for PostgreSQL
  .changeset/metal-countries-sniff.md
  .changeset/witty-ears-repair.md
  .github/uffizzi/k8s/manifests/pg-deploy.yaml
  .github/workflows/ci.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_e2e-linux.yml
  docs/backend-system/building-plugins-and-modules/02-testing.md
  docs/overview/versioning-policy.md
  packages/backend-tasks/src/migrations.test.ts
  packages/backend-tasks/src/setupTests.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerJanitor.test.ts
  packages/backend-tasks/src/tasks/TaskScheduler.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.test.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/database/TestDatabases.test.ts
  packages/backend-test-utils/src/database/TestDatabases.ts
  packages/backend-test-utils/src/database/types.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.test.ts
  plugins/auth-backend/src/identity/DatabaseKeyStore.test.ts
  plugins/auth-backend/src/migrations.test.ts
  plugins/auth-backend/src/setupTests.ts
  plugins/bazaar-backend/src/service/DatabaseHandler.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.test.ts
  plugins/catalog-backend/src/database/DefaultCatalogDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/getDeferredStitchableEntities.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markDeferredStitchCompleted.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.test.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.test.ts
  plugins/catalog-backend/src/modules/core/DefaultLocationStore.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/setupTests.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.test.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
  plugins/search-backend-module-pg/src/database/util.test.ts
  plugins/tech-insights-backend/src/service/fact/FactRetrieverEngine.test.ts
  plugins/vault-backend/src/service/router.test.ts
  plugins/vault-backend/src/service/standaloneApplication.ts
Labels: documentation, area:catalog, auth, search, area:discoverability

#21887 Add Nobl9 plugin to the Directory
  microsite/data/plugins/nobl9.yaml
  microsite/static/img/nobl9.svg
Labels: microsite

#21657 Add a new action for creating autolink references for a repository
  .changeset/wild-crews-promise.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/githubAutolinks.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubAutolinks.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubAutolinks.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubAutolinks.ts
  plugins/scaffolder-backend-module-github/src/actions/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
Labels: area:scaffolder

#21590 New ExtensionPoints for Kubernetes Plugin
  .changeset/plenty-falcons-travel.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/auth/types.ts
  plugins/kubernetes-backend/src/plugin.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/types/index.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-node/api-report.md
  plugins/kubernetes-node/package.json
  plugins/kubernetes-node/src/extensions.ts
  plugins/kubernetes-node/src/index.ts
  plugins/kubernetes-node/src/types/types.ts
  yarn.lock
Labels: enhancement, area:kubernetes

#21894 Updated all the Dicebear usages to the proper API URL
  packages/catalog-model/examples/acme/backstage-group.yaml
  packages/catalog-model/examples/acme/org.yaml
  packages/catalog-model/examples/acme/team-a-group.yaml
  packages/catalog-model/examples/acme/team-b-group.yaml
  packages/catalog-model/examples/acme/team-c-group.yaml
  packages/catalog-model/examples/acme/team-d-group.yaml
  plugins/org/src/__testUtils__/catalogMocks.ts
  plugins/org/src/components/Cards/Group/GroupProfile/GroupProfileCard.stories.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.stories.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.stories.tsx
  plugins/org/src/components/Cards/User/UserProfileCard/UserProfileCard.stories.tsx
Labels: area:catalog

#21909 chore: fixing formatting
  packages/catalog-model/examples/acme/backstage-group.yaml
Labels: area:catalog

#21791 add api docs
  docs/assets/frontend-system/architecture-utility-apis.drawio.svg
  docs/backend-system/architecture/01-index.md
  docs/frontend-system/architecture/06-utility-apis.md
  docs/frontend-system/utility-apis/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/03-consuming.md
  docs/frontend-system/utility-apis/04-configuring.md
  docs/frontend-system/utility-apis/05-migrating.md
  docs/getting-started/configuration.md
Labels: documentation

#21817 Microsite: Add Scaffolder Devfile Selector Plugin
  microsite/data/plugins/scaffolder-frontend-devfile-field.yaml
Labels: microsite

#21763 feat(plugins/explore): direction for group explorer
  .changeset/many-days-wash.md
  plugins/explore/api-report.md
  plugins/explore/src/components/GroupsExplorerContent/GroupsDiagram.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsExplorerContent.tsx
Labels: stale

#21911 [Search] fix search issue analytics tracking
  .changeset/pretty-timers-drive.md
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
Labels: search, area:discoverability

#21880 Fixed Bug related defaultCommitMessage
  .changeset/clever-monkeys-double.md
  plugins/scaffolder-backend-module-github/src/actions/gitHelpers.ts
  plugins/scaffolder-backend-module-github/src/actions/github.test.ts
  plugins/scaffolder-backend-module-github/src/actions/github.ts
  plugins/scaffolder-backend-module-github/src/actions/helper.test.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
Labels: area:scaffolder

#21834 Scaffolder-backend-gerrit: Add dry run support for 'publish:gerrit'
  .changeset/early-pumpkins-hope.md
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.test.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.ts
Labels: area:scaffolder

#21675 Added azure-storage plugin into the plugin marketplace
  microsite/data/plugins/azure-storage.yaml
  microsite/static/img/azure-storage-folder.png
Labels: microsite, stale

#21891 flesh out the api docs some more
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/04-configuring.md
  docs/frontend-system/utility-apis/05-migrating.md
Labels: documentation

#21938 scaffolder: revert to simpler implementation for now for `SecretInput`
  .changeset/itchy-otters-switch.md
  plugins/scaffolder-react/api-report-alpha.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder/src/components/fields/SecretInput/SecretInput.tsx
Labels: area:scaffolder

#21939 microsite: enable frontend system docs
  docs/frontend-system/architecture/01-index.md
  docs/frontend-system/architecture/02-app.md
  docs/frontend-system/architecture/03-extensions.md
  docs/frontend-system/architecture/04-plugins.md
  docs/frontend-system/architecture/05-extension-overrides.md
  docs/frontend-system/architecture/06-utility-apis.md
  docs/frontend-system/architecture/07-routes.md
  docs/frontend-system/architecture/08-naming-patterns.md
  docs/frontend-system/architecture/08-references.md
  docs/frontend-system/building-plugins/testing.md
  docs/frontend-system/index.md
  docs/frontend-system/utility-apis/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/03-consuming.md
  docs/frontend-system/utility-apis/04-configuring.md
  docs/frontend-system/utility-apis/05-migrating.md
  microsite/sidebars.json
Labels: documentation, microsite

#21936 Release notes v1.21
  docs/releases/v1.21.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#21878 feat(Stepper): adds custom error list for the top of the form
  .changeset/brown-planes-sort.md
  plugins/scaffolder-react/src/next/components/Stepper/ErrorListTemplate/errorListTemplate.test.tsx
  plugins/scaffolder-react/src/next/components/Stepper/ErrorListTemplate/errorListTemplate.tsx
  plugins/scaffolder-react/src/next/components/Stepper/ErrorListTemplate/index.ts
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
Labels: area:scaffolder

#21908 Switch md5 to sha256
  .changeset/fast-tables-hammer.md
  .changeset/funny-rings-fry.md
  packages/backend-common/src/cache/CacheClient.ts
  packages/cli/config/jest.js
  packages/cli/config/jestSucraseTransform.js
  packages/cli/config/jestYamlTransform.js
Labels: merge-after-release, needs discussion

#21968 auth-backend: add okta missing common resolvers
  .changeset/afraid-mice-give.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/okta/provider.ts
Labels: auth

#21969 Patch release of #21964, #21968
  package.json
  packages/catalog-client/CHANGELOG.md
  packages/catalog-client/package.json
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/generated/apis/DefaultApi.client.ts
  packages/repo-tools/CHANGELOG.md
  packages/repo-tools/package.json
  packages/repo-tools/templates/typescript-backstage/api.mustache
  plugins/auth-backend/CHANGELOG.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/okta/provider.ts
Labels: area:catalog, auth

#21956 frontend-system: add feature discovery docs
  docs/frontend-system/architecture/02-app.md
Labels: documentation

#21990 update release status wording for the new backend system
  .changeset/orange-planets-suffer.md
  docs/backend-system/architecture/01-index.md
  docs/backend-system/architecture/02-backends.md
  docs/backend-system/architecture/03-services.md
  docs/backend-system/architecture/04-plugins.md
  docs/backend-system/architecture/05-extension-points.md
  docs/backend-system/architecture/06-modules.md
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/building-backends/08-migrating.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/building-plugins-and-modules/02-testing.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  docs/backend-system/core-services/01-index.md
  docs/backend-system/index.md
  docs/features/search/how-to-guides.md
  docs/plugins/new-backend-system.md
  microsite/blog/2023-02-15-backend-system-alpha.mdx
  plugins/search-backend-module-catalog/README.md
  plugins/search-backend-module-explore/README.md
  plugins/search-backend-module-stack-overflow-collator/README.md
  plugins/search-backend-module-techdocs/README.md
Labels: documentation, microsite, search, area:discoverability

#21833 docs(microsite): Update microsite info on PagerDuty plugin
  microsite/data/plugins/pager-duty.yaml
Labels: microsite, stale

#21984 Scaffolder action conditions validation fix
  .changeset/gold-pianos-worry.md
  plugins/scaffolder-backend/src/service/rules.test.ts
  plugins/scaffolder-backend/src/service/rules.ts
Labels: area:scaffolder, area:permission

#21953 docs: add by-query endpoint
  docs/features/software-catalog/api.md
Labels: documentation

#22013 add redhat partner logo
  microsite/static/img/partner-logo-redhat.png
Labels: microsite

#21978 Update index.tsx
  microsite/src/pages/community/index.tsx
Labels: microsite

#21721 update announcements plugin ownership
  microsite/data/plugins/announcements.yaml
Labels: microsite, stale, needs discussion

#21731 feat: Use a Select control for the language select
  .changeset/happy-forks-jam.md
  plugins/user-settings/src/components/General/UserSettingsLanguageToggle.test.tsx
  plugins/user-settings/src/components/General/UserSettingsLanguageToggle.tsx
Labels: stale

#21724 Getting started corrections
  docs/getting-started/configuration.md
  docs/getting-started/index.md
Labels: documentation, stale

#22009 Updated backend plugin start docs
  docs/plugins/backend-plugin.md
Labels: documentation

#22027 Added status and e-mail as labels to the AWS Account Resource
  .changeset/stale-hairs-sparkle.md
  plugins/catalog-backend-module-aws/src/processors/AwsOrganizationCloudAccountProcessor.test.ts
  plugins/catalog-backend-module-aws/src/processors/AwsOrganizationCloudAccountProcessor.ts
Labels: area:catalog

#21848 Add `authuser` param to GKE cluster link formatter in k8s plugin
  .changeset/new-plants-sort.md
  plugins/kubernetes-react/api-report.md
  plugins/kubernetes-react/src/api/formatters/GkeClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/GkeClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/index.ts
  plugins/kubernetes/src/plugin.ts
Labels: enhancement, area:kubernetes

#22043 remove remaining usages of mock-fs
  .changeset/many-peaches-dress.md
  .yarn/patches/mock-fs-npm-5.2.0-5103a7b507.patch
  package.json
  packages/cli-node/package.json
  packages/cli-node/src/monorepo/isMonorepo.test.ts
  packages/config-loader/package.json
  packages/create-app/package.json
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/api-reports/api-reports.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.examples.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.test.ts
  yarn.lock
Labels: area:scaffolder

#22057 Added Docker troubleshooting tips and code highlighting
  docs/deployment/docker.md
  microsite/docusaurus.config.js
Labels: documentation, microsite

#22000 chore: add wsdl plugin
  microsite/data/plugins/api-wsdl.yaml
Labels: microsite
