Repository backstage/backstage, pull requests merged in 2023-04, with the labels that each got.

#17196 [Search] Update backend system guide
  docs/features/search/how-to-guides.md
Labels: documentation

#17173 catalog: make text of picker clickable
  .changeset/forty-days-tell.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePickerOption.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
Labels: catalog

#16137 feat(search): Don't close dialog on ctrl+click at quick search [Option 2]
  .changeset/unlucky-snakes-smile.md
  packages/app/src/components/search/SearchModal.tsx
  plugins/search/package.json
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/SearchModal/useSearchModal.test.tsx
  plugins/search/src/components/SearchModal/useSearchModal.tsx
  yarn.lock
Labels: search

#17079 Show details for nested objects and arrays in the Installed Actions page
  .changeset/tender-parrots-fry.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
Labels: scaffolder

#17216 remove zod version from docs
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
Labels: documentation

#17219 Expose the permission plugin using the new backend system
  .changeset/famous-beds-repair.md
  packages/backend-next/package.json
  packages/backend-next/src/ExamplePermissionPolicy.ts
  packages/backend-next/src/index.ts
  plugins/permission-backend/alpha-api-report.md
  plugins/permission-backend/package.json
  plugins/permission-backend/src/alpha.ts
  plugins/permission-backend/src/plugin.ts
  yarn.lock
Labels: auth

#17190 fix(catalog-backend): properly stitch source entities for multiple different relation types
  .changeset/six-jobs-hear.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: catalog

#16715 Pass configs from build:backend to app builds. Fixes #15274
  .changeset/clever-lizards-whisper.md
  docs/deployment/docker.md
  packages/cli/src/commands/build/buildBackend.ts
  packages/cli/src/commands/build/command.ts
  packages/cli/src/lib/packager/createDistWorkspace.ts
Labels: documentation

#17234 bug: Invert `templateFilter` predicate to align with `Array.filter`
  .changeset/modern-snakes-check.md
  plugins/scaffolder-react/src/next/components/TemplateGroups/TemplateGroups.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateGroups/TemplateGroups.tsx
  plugins/scaffolder/src/components/TemplateList/TemplateList.test.tsx
  plugins/scaffolder/src/components/TemplateList/TemplateList.tsx
Labels: bug, scaffolder

#16649 Enable Server Side Authentication when using the Kubernetes Proxy
  .changeset/blue-walls-drop.md
  docs/features/kubernetes/proxy.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/kubernetes-auth-translator/DispatchingKubernetesAuthTranslator.test.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/DispatchingKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/KubernetesAuthTranslatorGenerator.test.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/KubernetesAuthTranslatorGenerator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/index.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
  plugins/kubernetes-backend/src/service/index.ts
Labels: documentation

#17156 remove deprecated LocationSpecs
  .changeset/calm-otters-destroy.md
  plugins/catalog-backend-module-azure/api-report.md
  plugins/catalog-backend-module-azure/package.json
  plugins/catalog-backend-module-azure/src/processors/AzureDevOpsDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-azure/src/processors/AzureDevOpsDiscoveryProcessor.ts
  plugins/catalog-backend-module-azure/src/providers/AzureDevOpsEntityProvider.ts
  plugins/catalog-backend/src/modules/core/AnnotateLocationEntityProcessor.test.ts
  plugins/catalog-backend/src/modules/core/AnnotateScmSlugEntityProcessor.test.ts
  yarn.lock
Labels: catalog

#17228 chore: `rjsf` deps bump to v5.5.0
  .changeset/stupid-laws-play.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  yarn.lock
Labels: scaffolder

#16323 Microsoft auth provider manages tokens for multiple resources
  .changeset/mighty-tips-flow.md
  .changeset/sixty-insects-visit.md
  packages/core-app-api/api-report.md
  packages/core-app-api/src/apis/implementations/auth/microsoft/MicrosoftAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/microsoft/MicrosoftAuth.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.test.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.ts
  packages/core-app-api/src/lib/AuthConnector/types.ts
  packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.test.ts
  packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.ts
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.test.ts
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.ts
  plugins/auth-backend/src/providers/microsoft/provider.test.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
Labels: auth

#16785 Allow IDN domain names in annotations
  .changeset/stale-files-sniff.md
  packages/catalog-model/src/validation/CommonValidatorFunctions.test.ts
  packages/catalog-model/src/validation/CommonValidatorFunctions.ts
  packages/catalog-model/src/validation/KubernetesValidatorFunctions.test.ts
Labels: catalog

#17111 feat: add api spectral linter plugin to market
  microsite/data/plugins/api-spectral-linter.yaml
Labels: microsite

#17108 Properly expose easy auth provider
  .changeset/sour-laws-walk.md
  docs/auth/microsoft/azure-easyauth.md
  microsite/sidebars.json
  mkdocs.yml
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/azure-easyauth/index.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.ts
  plugins/auth-backend/src/providers/index.ts
  plugins/auth-backend/src/providers/providers.ts
Labels: documentation, auth, microsite

#17018 Allow custom commit message when publishing a GitHub Pull Request
  .changeset/slow-ravens-destroy.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
Labels: scaffolder

#16682 bug(techdocs): Internal techdocs anchor elements do not navigate correctly when Backstage is on a subpath
  .changeset/tender-terms-return.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/useNavigateUrl.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/useNavigateUrl.tsx
Labels: techdocs

#17191 chore: add common identify resolvers for `oidc` auth provider
  .changeset/silent-nails-bake.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/oidc/provider.ts
Labels: auth

#17129 fix: elastic search for missing or no indexes
  .changeset/shaggy-crews-carry.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.ts
Labels: search

#17121 Add reusable kubernetes-backend proxy client
  .changeset/sweet-eels-hunt.md
  docs/features/kubernetes/proxy.md
  plugins/kubernetes/api-report.md
  plugins/kubernetes/dev/index.tsx
  plugins/kubernetes/package.json
  plugins/kubernetes/src/api/KubernetesBackendClient.test.ts
  plugins/kubernetes/src/api/KubernetesBackendClient.ts
  plugins/kubernetes/src/api/types.ts
  plugins/kubernetes/src/kubernetes-auth-provider/GoogleKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.ts
  plugins/kubernetes/src/kubernetes-auth-provider/OidcKubernetesAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/ServerSideAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/types.ts
  plugins/kubernetes/src/plugin.ts
  plugins/kubernetes/src/setupTests.ts
  yarn.lock
Labels: documentation

#16320 Attempt to show readable names in `EntityOwnerPicker` by loading from the `by-refs` endpoint.
  .changeset/plenty-eels-listen.md
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.test.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityRefLink/humanize.test.ts
  plugins/catalog-react/src/components/EntityRefLink/humanize.ts
  plugins/catalog-react/src/filters.test.ts
  plugins/catalog-react/src/filters.ts
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/techdocs/src/home/components/DefaultTechDocsHome.test.tsx
Labels: catalog, techdocs

#17306 skip authorization header for server-side auth
  .changeset/slimy-scissors-play.md
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/api/KubernetesBackendClient.test.ts
  plugins/kubernetes/src/api/KubernetesBackendClient.ts
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.ts
  plugins/kubernetes/src/kubernetes-auth-provider/ServerSideAuthProvider.ts
  plugins/kubernetes/src/kubernetes-auth-provider/types.ts
Labels: k8s-plugin

#16587 Tabs: Remove "not-so-core-component"
  .changeset/yellow-candles-kiss.md
  packages/core-components/api-report.md
  packages/core-components/src/components/Tabs/Tab.test.tsx
  packages/core-components/src/components/Tabs/Tab.tsx
  packages/core-components/src/components/Tabs/TabBar.tsx
  packages/core-components/src/components/Tabs/TabIcon.tsx
  packages/core-components/src/components/Tabs/TabPanel.tsx
  packages/core-components/src/components/Tabs/Tabs.stories.tsx
  packages/core-components/src/components/Tabs/Tabs.tsx
  packages/core-components/src/components/Tabs/index.ts
  packages/core-components/src/components/Tabs/utils.ts
  packages/core-components/src/components/index.ts
  packages/core-components/src/overridableComponents.ts
Labels: stale

#17126 Familiarize entity names before sending them to GitHub
  .changeset/serious-items-walk.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
Labels: scaffolder

#17250 Use page theme fontColor in scaffolder, episode 2
  .changeset/famous-olives-try.md
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/next/OngoingTask/ContextMenu.tsx
Labels: scaffolder

#17090 allow modifying tags when query string is already provided on URL
  .changeset/smart-crabs-dream.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.test.tsx
Labels: catalog

#17316 scaffolder/next: Added loading indicator for `AsyncValidation`
  .changeset/poor-horses-approve.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.test.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
Labels: scaffolder

#17260 Add new puppetdb-plugin
  .changeset/itchy-bulldogs-hunt.md
  .github/CODEOWNERS
  app-config.yaml
  microsite/data/plugins/puppetdb.yaml
  microsite/static/img/puppet.png
  packages/app/package.json
  packages/app/src/App.tsx
  packages/app/src/components/catalog/EntityPage.tsx
  plugins/puppetdb/.eslintrc.js
  plugins/puppetdb/README.md
  plugins/puppetdb/api-report.md
  plugins/puppetdb/assets/Events.png
  plugins/puppetdb/assets/Logs.png
  plugins/puppetdb/assets/Reports.png
  plugins/puppetdb/dev/index.tsx
  plugins/puppetdb/package.json
  plugins/puppetdb/src/api/PupeptDbClient.test.ts
  plugins/puppetdb/src/api/PuppetDbClient.ts
  plugins/puppetdb/src/api/index.ts
  plugins/puppetdb/src/api/types.ts
  plugins/puppetdb/src/components/ReportDetailsPage/ReportDetailsEventsTable.test.tsx
  plugins/puppetdb/src/components/ReportDetailsPage/ReportDetailsEventsTable.tsx
  plugins/puppetdb/src/components/ReportDetailsPage/ReportDetailsLogsTable.test.tsx
  plugins/puppetdb/src/components/ReportDetailsPage/ReportDetailsLogsTable.tsx
  plugins/puppetdb/src/components/ReportDetailsPage/ReportDetailsPage.test.tsx
  plugins/puppetdb/src/components/ReportDetailsPage/ReportDetailsPage.tsx
  plugins/puppetdb/src/components/ReportDetailsPage/index.ts
  plugins/puppetdb/src/components/ReportsPage/ReportsPage.test.tsx
  plugins/puppetdb/src/components/ReportsPage/ReportsPage.tsx
  plugins/puppetdb/src/components/ReportsPage/ReportsTable.test.tsx
  plugins/puppetdb/src/components/ReportsPage/ReportsTable.tsx
  plugins/puppetdb/src/components/ReportsPage/index.ts
  plugins/puppetdb/src/components/Router.tsx
  plugins/puppetdb/src/components/StatusField/StatusField.test.tsx
  plugins/puppetdb/src/components/StatusField/StatusField.tsx
  plugins/puppetdb/src/components/StatusField/index.ts
  plugins/puppetdb/src/constants.ts
  plugins/puppetdb/src/index.ts
  plugins/puppetdb/src/plugin.test.ts
  plugins/puppetdb/src/plugin.ts
  plugins/puppetdb/src/routes.ts
  plugins/puppetdb/src/setupTests.ts
  yarn.lock
Labels: microsite

#17322 Edit docs specification on Azure DevOps integration
  docs/integrations/azure/discovery.md
Labels: documentation

#17279 [Accessibility] fix accessibility issues for software templates
  .changeset/gentle-walls-invent.md
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder-react/src/next/components/TemplateCategoryPicker/TemplateCategoryPicker.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/OwnerListPicker.tsx
  plugins/scaffolder/src/components/MultistepJsonForm/MultistepJsonForm.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorIntro.tsx
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/components/TemplateTypePicker/TemplateTypePicker.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldExplorer.tsx
Labels: accessibility, scaffolder

#17354 permission-react: add simple test for using resource permission with RequirePermission
  plugins/permission-react/src/components/RequirePermission.test.tsx
Labels: auth

#17355 microsite: remove microsoft calendar logo
  microsite/data/plugins/microsoft-calendar.yaml
  microsite/static/img/outlook-statusneo.png
Labels: microsite

#17360 scaffolder/next: bump react-jsonschema-form deps
  .changeset/cold-coats-nail.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  yarn.lock
Labels: scaffolder

#17283 Adding microcks-backstage-provider plugin
  microsite/data/plugins/microcks.yaml
Labels: microsite, stale

#17370 update the entity relation docs to mirror reality
  docs/features/software-catalog/descriptor-format.md
Labels: documentation

#17242 [Accessibility] add automated accessibility CI checks of core features
  .github/workflows/verify_accessibility_core.yml
  .gitignore
  .lighthouseci/scripts/guest-auth.js
  lighthouserc.js
Labels: accessibility

#17396 scaffolder-backend: make alpha options optional
  .changeset/proud-pigs-look.md
  packages/backend-next/src/index.ts
  plugins/scaffolder-backend/alpha-api-report.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
Labels: scaffolder

#17285 feat(GithubMultiOrgEntityProvider): implement provider
  .changeset/violet-schools-kneel.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/index.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: catalog

#17233 Add Commit Hash Output for Scaffolder SCM Actions
  .changeset/dull-birds-lie.md
  .changeset/quick-plants-live.md
  packages/backend-common/package.json
  packages/backend-common/src/scm/git.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/outputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/azure.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucket.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucket.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucketCloud.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucketCloud.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucketServer.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucketServer.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts
  yarn.lock
Labels: scaffolder

#17407 microsite: migrate link page from old site
  microsite/src/pages/link.tsx
Labels: microsite

#17241 Scaffolder: permissioning actions
  .changeset/pretty-yaks-carry.md
  .changeset/seven-oranges-act.md
  .changeset/silly-eels-admire.md
  .changeset/ten-games-rush.md
  packages/backend/src/plugins/scaffolder.ts
  packages/create-app/templates/default-app/packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/alpha-api-report.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/conditionExports.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-backend/src/service/rules.test.ts
  plugins/scaffolder-backend/src/service/rules.ts
  plugins/scaffolder-common/alpha-api-report.md
  plugins/scaffolder-common/src/permissions.ts
Labels: scaffolder

#16969 chore(docs): Cleanup on the Plugin Analytics page
  docs/plugins/analytics.md
Labels: documentation

#17336 Fix EntityPicker allowing clear value when required #16993
  .changeset/long-ravens-listen.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: scaffolder

#17326 chore(docs): Add local debugging with logs page
  docs/local-dev/debugging.md
  microsite/sidebars.json
Labels: documentation, microsite

#17388 Update plugin author permission docs to match correct usage of createPermissionIntegrationRouter
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
Labels: documentation

#17421 scaffolder/next: Bump `@rjsf/*` dependencies
  .changeset/yellow-hairs-walk.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  yarn.lock
Labels: scaffolder

#17419 microsite: check for window existance
  microsite/src/pages/link.tsx
Labels: microsite

#17292 Fix PG search indexer connection exhaustion issue
  .changeset/search-destroyer-of-worlds.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.ts
Labels: search

#17363 Add a formal builtin orphan deletion mechanism
  .changeset/odd-falcons-shout.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/alpha.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.test.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/integration.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  yarn.lock
Labels: catalog

#17101 feat(catalog-backend-module-github): add visibility filter to github …
  .changeset/eleven-balloons-occur.md
  docs/integrations/github/discovery.md
  packages/config-loader/src/lib/schema/compile.test.ts
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/util.test.ts
  plugins/catalog-backend-module-github/src/lib/util.ts
  plugins/catalog-backend-module-github/src/processors/GithubDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.ts
Labels: documentation, catalog

#17451 fix(deps): Add missing @rjsf/core in plugin-home
  .changeset/pretty-gifts-greet.md
  plugins/home/package.json
  yarn.lock
Labels: homepage

#17376 Update configuring-ci-cd.md
  docs/features/techdocs/configuring-ci-cd.md
Labels: documentation

#17339 Removed Running Backstage Locally documentation page
  docs/features/kubernetes/installation.md
  docs/features/techdocs/getting-started.md
  docs/getting-started/create-an-app.md
  docs/getting-started/index.md
  docs/getting-started/running-backstage-locally.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#17472 Updated GitHub App Docs to include Commit statuses permission
  docs/integrations/github/github-apps.md
Labels: documentation

#17209 config-loader: refactor config loading around a new ConfigSource interface
  .changeset/modern-pumpkins-join.md
  .changeset/moody-lizards-beam.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/services/implementations/config/configServiceFactory.ts
  packages/config-loader/api-report.md
  packages/config-loader/package.json
  packages/config-loader/src/index.ts
  packages/config-loader/src/lib/index.ts
  packages/config-loader/src/lib/urls.test.ts
  packages/config-loader/src/lib/urls.ts
  packages/config-loader/src/loader.test.ts
  packages/config-loader/src/loader.ts
  packages/config-loader/src/schema/collect.test.ts
  packages/config-loader/src/schema/collect.ts
  packages/config-loader/src/schema/compile.test.ts
  packages/config-loader/src/schema/compile.ts
  packages/config-loader/src/schema/filtering.test.ts
  packages/config-loader/src/schema/filtering.ts
  packages/config-loader/src/schema/index.ts
  packages/config-loader/src/schema/load.test.ts
  packages/config-loader/src/schema/load.ts
  packages/config-loader/src/schema/types.ts
  packages/config-loader/src/sources/ConfigSources.test.ts
  packages/config-loader/src/sources/ConfigSources.ts
  packages/config-loader/src/sources/EnvConfigSource.test.ts
  packages/config-loader/src/sources/EnvConfigSource.ts
  packages/config-loader/src/sources/FileConfigSource.test.ts
  packages/config-loader/src/sources/FileConfigSource.ts
  packages/config-loader/src/sources/MergedConfigSource.test.ts
  packages/config-loader/src/sources/MergedConfigSource.ts
  packages/config-loader/src/sources/MutableConfigSource.test.ts
  packages/config-loader/src/sources/MutableConfigSource.ts
  packages/config-loader/src/sources/ObservableConfigProxy.test.ts
  packages/config-loader/src/sources/ObservableConfigProxy.ts
  packages/config-loader/src/sources/RemoteConfigSource.test.ts
  packages/config-loader/src/sources/RemoteConfigSource.ts
  packages/config-loader/src/sources/StaticConfigSource.test.ts
  packages/config-loader/src/sources/StaticConfigSource.ts
  packages/config-loader/src/sources/__fixtures__/a.yaml
  packages/config-loader/src/sources/__testUtils__/testUtils.ts
  packages/config-loader/src/sources/index.ts
  packages/config-loader/src/sources/transform/apply.test.ts
  packages/config-loader/src/sources/transform/apply.ts
  packages/config-loader/src/sources/transform/include.test.ts
  packages/config-loader/src/sources/transform/include.ts
  packages/config-loader/src/sources/transform/index.ts
  packages/config-loader/src/sources/transform/substitution.test.ts
  packages/config-loader/src/sources/transform/substitution.ts
  packages/config-loader/src/sources/transform/types.ts
  packages/config-loader/src/sources/transform/utils.ts
  packages/config-loader/src/sources/types.ts
  packages/config-loader/src/sources/utils.ts
  yarn.lock
Labels: merge-after-release

#17391 [PRFC] Improvements to the scaffolder/next buttons UX
  .changeset/rotten-chefs-jog.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder/src/next/OngoingTask/ContextMenu.tsx
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.test.tsx
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.tsx
Labels: scaffolder

#17077 createPermissionIntegrationRouter: accept an array of options
  .changeset/slimy-turkeys-return.md
  plugins/permission-node/api-report.md
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: auth

#17398 Fix/get credentials for multiple GitHub apps
  .changeset/good-lions-approve.md
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.test.ts
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.ts
Labels: merge-after-release

#17478 Avoid secondary rate limits during GitHub Discovery
  .changeset/olive-turkeys-switch.md
  plugins/catalog-backend-module-github/src/lib/github.ts
Labels: catalog

#17500 Patch release of #17469
  package.json
  packages/backend-next/CHANGELOG.md
  packages/backend-next/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/CHANGELOG.md
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-cookiecutter/CHANGELOG.md
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-rails/CHANGELOG.md
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  yarn.lock
Labels: scaffolder

#17493 scaffolder: Fix GitLab repo picker in case workspace is nested subgroup
  .changeset/beige-tigers-matter.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: scaffolder

#17521 tweak the config docs slightly
  docs/conf/reading.md
Labels: documentation

#17471 Update typing for usage of scaffolder TemplateAction
  .changeset/thick-parents-pump.md
  plugins/scaffolder-backend/alpha-api-report.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/extensions.ts
Labels: scaffolder

#17543 [patch] - bonus release for plugin home
  package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  plugins/home/CHANGELOG.md
  plugins/home/package.json
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
  plugins/stack-overflow/CHANGELOG.md
  plugins/stack-overflow/package.json
  yarn.lock
Labels: homepage

#17186 Expose props to CatalogGraphPage
  .changeset/hungry-foxes-divide.md
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
Labels: catalog

#17549 [microsite] Use Docusaurus@canary
  microsite/blog/2020-03-16-announcing-backstage.md
  microsite/blog/2020-03-18-what-is-backstage.md
  microsite/blog/2020-04-06-lighthouse-plugin.md
  microsite/blog/2020-04-30-how-to-quickly-set-up-backstage.md
  microsite/blog/2020-05-14-tech-radar-plugin.md
  microsite/blog/2020-05-14-weaveworks-covid-19-app-uses-backstage-ui.md
  microsite/blog/2020-05-22-phase-2-service-catalog.md
  microsite/blog/2020-06-22-backstage-service-catalog-alpha.md
  microsite/blog/2020-07-01-how-to-enable-authentication-in-backstage-using-passport.md
  microsite/blog/2020-08-05-announcing-backstage-software-templates.md
  microsite/blog/2020-09-08-announcing-tech-docs.md
  microsite/blog/2020-09-23-backstage-cncf-sandbox.md
  microsite/blog/2020-09-30-backstage-design-system.md
  microsite/blog/2020-09-30-plugin-marketplace.md
  microsite/blog/2020-10-22-cost-insights-plugin.md
  microsite/blog/2020-12-22-stability-index.md
  microsite/blog/2021-01-12-new-backstage-feature-kubernetes-for-service-owners.md
  microsite/blog/2021-05-20-adopting-backstage.md
  microsite/blog/2021-06-22-spotify-backstage-is-growing.md
  microsite/blog/2021-06-24-announcing-backstage-search-platform.md
  microsite/blog/2021-07-26-software-templates-are-now-in-beta.md
  microsite/blog/2021-09-16-the-techdocs-beta-has-landed.md
  microsite/blog/2021-09-30-50-public-adopters.md
  microsite/blog/2021-12-20-backstage-wrapped-2021.md
  microsite/blog/2022-01-25-backstage-homepage-templates.md
  microsite/blog/2022-03-04-backstage-upgrade-helper.md
  microsite/blog/2022-03-16-backstage-turns-two.md
  microsite/blog/2022-03-17-backstage-1.0.md
  microsite/blog/2022-05-13-techdocs-addon-framework.md
  microsite/blog/2022-07-19-releasing-backstage-search-1.0.md
  microsite/blog/2022-08-23-backstage-security-audit.md
  microsite/blog/2022-09-08-fyi-plugin-analytics-api.md
  microsite/blog/2022-11-15-linux-foundation-introduction-to-backstage-course.md
  microsite/blog/2022-12-19-backstage-wrapped-2022.md
  microsite/blog/2023-01-31-incremental-entity-provider.md
  microsite/blog/2023-02-06-whats-ahead-in-2023.md
  microsite/blog/2023-02-15-backend-system-alpha.md
  microsite/blog/2023-03-15-backstage-turns-3.md
  microsite/docusaurus.config.js
  microsite/package.json
  microsite/scripts/pre-build.js
  microsite/yarn.lock
Labels: microsite

#17551 doc: Add dbt plugin
  microsite/data/plugins/dbt.yaml
Labels: microsite

#17506 docs: update threat model to mention placeholder processor quirk
  docs/overview/threat-model.md
Labels: documentation

#17548 Fixed search 404 caused by URL encoding change
  .changeset/calm-wolves-taste.md
  plugins/search/src/apis.test.ts
  plugins/search/src/apis.ts
Labels: search
