Repository backstage/backstage, pull requests merged in 2023-07, with the labels that each got.

#18523 fix: upper case typo
  microsite/data/plugins/k8sgpt.yaml
Labels: microsite

#18505 Improve postgres connection config example
  docs/getting-started/configuration.md
Labels: documentation

#18491 Feat/kubecost plugin
  microsite/data/plugins/kubecost.yaml
Labels: microsite, area:kubernetes

#18359 run `deleteWithEagerPruningOfChildren` test without transactions
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.test.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.ts
Labels: area:catalog

#18502 docs(analytics): add GA4 as supported analytics tool
  docs/plugins/analytics.md
Labels: documentation

#18496 Support for configuring Token Endpoint Auth Method for OIDC Provider
  .changeset/tender-clouds-promise.md
  app-config.yaml
  docs/auth/oidc.md
  plugins/auth-backend/src/providers/oidc/provider.test.ts
  plugins/auth-backend/src/providers/oidc/provider.ts
Labels: documentation, auth

#18458 Implement missing related entities alert
  .changeset/sixty-humans-rescue.md
  packages/app/src/components/catalog/EntityPage.tsx
  packages/create-app/templates/default-app/packages/app/src/components/catalog/EntityPage.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntityRelationWarning/EntityRelationWarning.test.tsx
  plugins/catalog/src/components/EntityRelationWarning/EntityRelationWarning.tsx
  plugins/catalog/src/components/EntityRelationWarning/index.ts
  plugins/catalog/src/index.ts
Labels: area:catalog

#18536 Unprocessed Entities: Fix spacing for success message
  .changeset/silver-balloons-sniff.md
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
  plugins/catalog-unprocessed-entities/src/components/PendingEntities.tsx
Labels: area:catalog

#18513 Correct example and api endpoint in Incremental Ingestion
  .changeset/pretty-apes-know.md
  plugins/catalog-backend-module-incremental-ingestion/README.md
Labels: area:catalog

#18582 feat: support k8s proxy working fine with cluster url has subpath
  .changeset/polite-shrimps-confess.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: area:kubernetes

#18599 Fixed a bug in `gitlab:group:ensureExists` where `repos` was always set as the root group
  .changeset/wicked-ears-scream.md
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.ts
Labels: scaffolder

#18583 fix(confluence-to-markdown): update config struture
  .changeset/cool-beans-tap.md
  plugins/scaffolder-backend-module-confluence-to-markdown/README.md
  plugins/scaffolder-backend-module-confluence-to-markdown/config.d.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/helpers.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/helpers.ts
Labels: scaffolder

#18559 kubernetes-backend proxy endpoint only adds auth header with nonempty token
  .changeset/shiny-meals-chew.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: area:kubernetes

#18384 Decrease access level to read-only
  .changeset/tame-carpets-smell.md
  plugins/kubernetes/src/kubernetes-auth-provider/GoogleKubernetesAuthProvider.ts
Labels: area:kubernetes

#18504 Feature/entity dependencies card enhancements
  .changeset/popular-icons-doubt.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityTable/EntityTable.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/DependsOnComponentsCard/DependsOnComponentsCard.tsx
  plugins/catalog/src/components/DependsOnResourcesCard/DependsOnResourcesCard.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.tsx
  plugins/catalog/src/components/RelatedEntitiesCard/RelatedEntitiesCard.tsx
Labels: area:catalog

#18612 Updated Dockerfile and Docker Documentation
  .changeset/sweet-cameras-kick.md
  docs/deployment/docker.md
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#18216 ✨Allow incremental ingestion event handler to be async
  .changeset/rotten-colts-decide.md
  plugins/catalog-backend-module-incremental-ingestion/api-report.md
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/catalog-backend-module-incremental-ingestion/src/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
Labels: area:catalog

#18407 Use navigation handler in onClick to view full results
  .changeset/afraid-windows-rule.md
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
Labels: search, area:discoverability

#18558 fix: use Material UI vs. MUI where relevant
  .changeset/silly-chairs-protect.md
  .eslintrc.js
  docs/FAQ.md
  docs/api/deprecations.md
  docs/dls/component-design-guidelines.md
  docs/dls/contributing-to-storybook.md
  docs/getting-started/app-custom-theme.md
  docs/getting-started/configure-app-with-plugins.md
  docs/local-dev/cli-build-system.md
  docs/plugins/plugin-development.md
  docs/plugins/structure-of-a-plugin.md
  docs/releases/v1.13.0.md
  docs/releases/v1.14.0-changelog.md
  docs/releases/v1.14.0-next.0-changelog.md
  docs/releases/v1.15.0-changelog.md
  docs/releases/v1.15.0-next.0-changelog.md
  docs/releases/v1.15.0-next.1-changelog.md
  docs/releases/v1.15.0.md
  docs/releases/v1.9.0-changelog.md
  docs/tutorials/migrating-away-from-core.md
  microsite/blog/2021-06-22-spotify-backstage-is-growing.mdx
  packages/app-defaults/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/cli/config/eslint-factory.js
  packages/cli/src/lib/builder/buildTypeDefinitionsWorker.ts
  packages/cli/src/lib/svgrTemplate.ts
  packages/core-app-api/CHANGELOG.md
  packages/core-app-api/src/app/createSpecializedApp.tsx
  packages/core-components/CHANGELOG.md
  packages/core-components/src/components/LinkButton/LinkButton.stories.tsx
  packages/core-components/src/components/LinkButton/LinkButton.tsx
  packages/core-components/src/layout/ItemCard/ItemCard.tsx
  packages/core-components/src/layout/ItemCard/ItemCardGrid.tsx
  packages/core-components/src/layout/ItemCard/ItemCardHeader.tsx
  packages/core-components/src/layout/Sidebar/SidebarGroup.tsx
  packages/core-plugin-api/CHANGELOG.md
  packages/core-plugin-api/src/icons/types.ts
  packages/test-utils/CHANGELOG.md
  packages/test-utils/src/testUtils/mockBreakpoint.ts
  packages/theme/CHANGELOG.md
  packages/theme/src/unified/MuiClassNameSetup.ts
  packages/theme/src/unified/UnifiedTheme.tsx
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  packages/theme/src/unified/overrides.ts
  packages/theme/src/unified/themes.ts
  packages/theme/src/unified/types.ts
  packages/theme/src/v4/baseTheme.ts
  packages/theme/src/v4/themes.ts
  packages/theme/src/v4/types.ts
  plugins/api-docs/CHANGELOG.md
  plugins/cost-insights/src/utils/styles.ts
  plugins/scaffolder-react/CHANGELOG.md
  plugins/scaffolder/CHANGELOG.md
  plugins/search-react/CHANGELOG.md
  plugins/search/CHANGELOG.md
  plugins/techdocs/CHANGELOG.md
  plugins/user-settings/README.md
Labels: documentation, area:techdocs, microsite, search, scaffolder, area:discoverability

#18609 Add missing { to azure-easyauth.md
  docs/auth/microsoft/azure-easyauth.md
Labels: documentation

#18574 Allow uiSchema to be set as part of the settings for HomePage
  .changeset/silent-oranges-explode.md
  plugins/home-react/api-report.md
  plugins/home-react/src/extensions.tsx
  plugins/home/README.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
  plugins/home/src/components/CustomHomepage/types.ts
Labels: homepage, area:discoverability

#18651 fix: authorUrl without https
  microsite/data/plugins/k8sgpt.yaml
Labels: microsite

#18650 update some peer dependencies to silence yarn install
  .changeset/tricky-toes-train.md
  plugins/catalog-unprocessed-entities/package.json
  plugins/devtools/package.json
  plugins/nomad/package.json
  plugins/puppetdb/package.json
  yarn.lock
Labels: area:catalog

#18656 microsite: added a banner for cfp
  microsite/src/pages/home/_home.tsx
  microsite/src/pages/home/home.module.scss
Labels: microsite

#18509 feat: add login in popup options to config popup width and weigth
  .changeset/sharp-jars-flash.md
  docs/auth/oidc.md
  packages/core-app-api/api-report.md
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.ts
  packages/core-app-api/src/apis/implementations/auth/oauth2/types.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.test.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.ts
  packages/core-app-api/src/lib/AuthConnector/types.ts
Labels: documentation, auth, after-vacations

#18679 Update microsite sidebar for latest release notes
  microsite/sidebars.json
Labels: microsite

#18662 docs: add TypeScript versioning policy
  docs/overview/versioning-policy.md
  package.json
  packages/core-components/src/layout/TabbedCard/TabbedCard.tsx
  plugins/catalog-backend/alpha-api-report.md
  plugins/permission-node/api-report.md
  plugins/playlist-backend/api-report.md
  plugins/scaffolder-backend/alpha-api-report.md
  plugins/scaffolder-react/api-report.md
  yarn.lock
Labels: documentation, area:catalog, scaffolder, area:permission

#18683 docs(scaffolder) - Documentation for built in ui:fields for Scaffolder #5883
  docs/features/software-templates/ui-options-examples.md
  docs/features/software-templates/writing-templates.md
Labels: documentation

#18187 feat(config-loader): Make children of `secret` visibility parents `secret` themselves.
  .changeset/selfish-coats-shout.md
  packages/config-loader/src/schema/collect.ts
  packages/config-loader/src/schema/compile.test.ts
  packages/config-loader/src/schema/compile.ts
Labels: merge-after-release

#18634 Fixed some English in the docs
  docs/auth/index.md
Labels: documentation, stale

#17875 feat(openapi-tooling): Add support for request validation.
  .changeset/gorgeous-months-doubt.md
  .changeset/serious-bats-repair.md
  .changeset/smart-pandas-applaud.md
  packages/backend-openapi-utils/README.md
  packages/backend-openapi-utils/api-report.md
  packages/backend-openapi-utils/package.json
  packages/backend-openapi-utils/src/___fixtures__/single-path.ts
  packages/backend-openapi-utils/src/index.ts
  packages/backend-openapi-utils/src/stub.test.ts
  packages/backend-openapi-utils/src/stub.ts
  packages/backend-openapi-utils/src/types/params.ts
  packages/repo-tools/src/commands/openapi/generate.ts
  packages/repo-tools/src/commands/openapi/verify.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.test.ts
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/request/index.ts
  plugins/catalog-backend/src/service/request/parseEntityPaginationParams.test.ts
  plugins/catalog-backend/src/service/request/parseEntityPaginationParams.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.test.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.ts
  plugins/search-backend/package.json
  plugins/search-backend/src/schema/openapi.generated.ts
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
  plugins/todo-backend/package.json
  plugins/todo-backend/src/lib/utils.ts
  plugins/todo-backend/src/schema/openapi.generated.ts
  plugins/todo-backend/src/schema/openapi.yaml
  plugins/todo-backend/src/service/router.test.ts
  plugins/todo-backend/src/service/router.ts
  yarn.lock
Labels: area:catalog, search, merge-after-release, area:discoverability

#18725 docs: add 1.16 release notes
  docs/releases/v1.16.0.md
  microsite/sidebars.json
Labels: documentation, microsite

#18737 docs: Update Thread Model's Scaffolder Sandbox Details
  docs/overview/threat-model.md
Labels: documentation

#18649 Fix typo for UnprocessedEntitiesModule
  .changeset/pink-squids-nail.md
  packages/backend/src/plugins/catalog.ts
  plugins/catalog-backend-module-unprocessed/README.md
  plugins/catalog-backend-module-unprocessed/api-report.md
  plugins/catalog-backend-module-unprocessed/src/UnprocessedEntitiesModule.ts
  plugins/catalog-backend-module-unprocessed/src/module.ts
Labels: area:catalog

#18715 Add release schedule to versioning policy
  docs/overview/versioning-policy.md
Labels: documentation

#18711 propagate entity spec to EntityNode
  .changeset/chatty-foxes-buy.md
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/package.json
  plugins/catalog-graph/src/components/EntityRelationsGraph/types.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

#18749 [Search] Fix Lunr fields highlight parsing
  .changeset/search-donuts-wash.md
  plugins/search-backend-node/src/engines/LunrSearchEngine.test.ts
  plugins/search-backend-node/src/engines/LunrSearchEngine.ts
Labels: search, area:discoverability

#18613 Add Optional Language Variable to WelcomeTitle Component [New PR]
  .changeset/quiet-starfishes-kick.md
  plugins/home/api-report.md
  plugins/home/src/homePageComponents/WelcomeTitle/WelcomeTitle.stories.tsx
  plugins/home/src/homePageComponents/WelcomeTitle/WelcomeTitle.test.tsx
  plugins/home/src/homePageComponents/WelcomeTitle/WelcomeTitle.tsx
  plugins/home/src/homePageComponents/WelcomeTitle/index.ts
  plugins/home/src/homePageComponents/WelcomeTitle/timeUtil.ts
  plugins/home/src/homePageComponents/index.ts
Labels: homepage, area:discoverability

#18682 (feat): Allow hiding card title in custom homepage cards
  .changeset/mean-squids-relax.md
  .changeset/stupid-berries-run.md
  plugins/home-react/api-report.md
  plugins/home-react/src/components/SettingsModal.tsx
  plugins/home-react/src/extensions.tsx
  plugins/home/README.md
  plugins/home/api-report.md
  plugins/home/src/componentRenderers/ComponentAccordion.tsx
  plugins/home/src/components/CustomHomepage/AddWidgetDialog.tsx
Labels: homepage, area:discoverability

#18767 Update microsite navbar releases link
  microsite/docusaurus.config.js
Labels: microsite

#18766 sort package.json
  plugins/catalog-graph/package.json
Labels: area:catalog

#18537 New Relic Browser Analytics plugin
  .changeset/rude-feet-sparkle.md
  .github/CODEOWNERS
  docs/plugins/analytics.md
  plugins/analytics-module-newrelic-browser/.eslintrc.js
  plugins/analytics-module-newrelic-browser/README.md
  plugins/analytics-module-newrelic-browser/api-report.md
  plugins/analytics-module-newrelic-browser/config.d.ts
  plugins/analytics-module-newrelic-browser/dev/Playground.tsx
  plugins/analytics-module-newrelic-browser/dev/index.tsx
  plugins/analytics-module-newrelic-browser/package.json
  plugins/analytics-module-newrelic-browser/src/apis/implementations/AnalyticsApi/NewRelicBrowser.ts
  plugins/analytics-module-newrelic-browser/src/apis/implementations/AnalyticsApi/index.ts
  plugins/analytics-module-newrelic-browser/src/index.ts
  plugins/analytics-module-newrelic-browser/src/setupTests.ts
  yarn.lock
Labels: documentation

#18754 Bugfix/pass missing `templateName` prop to `Stepper` in `Workflow` (GA4 event tracking bug fix)
  .changeset/ten-otters-appear.md
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
Labels: scaffolder

#18608 adjust theme spacing to not use extra units
  .changeset/neat-lamps-press.md
  packages/core-components/src/components/EmptyState/MissingAnnotationEmptyState.tsx
  packages/core-components/src/layout/ErrorPage/MicDrop.tsx
  plugins/catalog/src/components/EntityLabelsCard/EntityLabelsEmptyState.tsx
  plugins/catalog/src/components/EntityLinksCard/EntityLinksEmptyState.tsx
  plugins/catalog/src/components/EntityNotFound/Illo/Illo.tsx
  plugins/splunk-on-call/src/components/Escalation/EscalationPolicy.tsx
  plugins/splunk-on-call/src/components/Incident/Incidents.tsx
  plugins/xcmetrics/src/components/DatePicker/DatePicker.tsx
Labels: area:catalog

#18604 feat(catalog-backend-module-gitlab): Added option to skip forked repos in GitlabDiscoveryEntityProvider config
  .changeset/khaki-flies-draw.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/config.d.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, area:catalog

#18822 fixed:Broken links in documentation
  docs/backend-system/architecture/01-index.md
Labels: documentation

#18837 config-loader: reject invalid configuration schema
  .changeset/dirty-chefs-listen.md
  .changeset/neat-coins-raise.md
  packages/backend-common/config.d.ts
  packages/config-loader/src/schema/collect.ts
  plugins/catalog-backend-module-aws/config.d.ts
  plugins/catalog-backend-module-azure/config.d.ts
  plugins/catalog-backend-module-bitbucket-cloud/config.d.ts
  plugins/catalog-backend-module-bitbucket-server/config.d.ts
  plugins/catalog-backend-module-gerrit/config.d.ts
  plugins/catalog-backend-module-github/config.d.ts
  plugins/catalog-backend-module-gitlab/config.d.ts
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-puppetdb/config.d.ts
  plugins/events-backend-module-aws-sqs/config.d.ts
  plugins/jenkins-backend/config.d.ts
  plugins/proxy-backend/config.d.ts
Labels: area:catalog

#18094 chore(docs): Replace deprecated imports
  docs/features/search/how-to-guides.md
Labels: documentation

#17534 feat(catalog-backend): Add observability for catalog processing
  .changeset/slimy-kids-jam.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/util/opentelemetry.ts
Labels: area:catalog

#18834 Remove "Shared Environments" concept from new backend system
  .changeset/rich-zoos-occur.md
  docs/backend-system/architecture/02-backends.md
  docs/backend-system/building-backends/01-index.md
  microsite/blog/2023-02-15-backend-system-alpha.mdx
  packages/backend-defaults/api-report.md
  packages/backend-defaults/src/CreateBackend.test.ts
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/wiring/createSharedEnvironment.test.ts
  packages/backend-plugin-api/src/wiring/createSharedEnvironment.ts
  packages/backend-plugin-api/src/wiring/index.ts
Labels: documentation, microsite

#18789 Use `fetchContents` directly instead of a `fetchPlainAction`
  .changeset/odd-avocados-buy.md
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.ts
Labels: scaffolder

#18848 Config validation clean up
  .changeset/popular-fans-camp.md
  app-config.yaml
  plugins/auth-backend/config.d.ts
Labels: auth

#18818 Added option to configure AWS accountId in AwsS3EntityProvider
  .changeset/stale-wombats-talk.md
  plugins/catalog-backend-module-aws/config.d.ts
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.ts
  plugins/catalog-backend-module-aws/src/providers/config.ts
  plugins/catalog-backend-module-aws/src/providers/types.ts
Labels: area:catalog

#18716 fix: Fix pathRewrite in k8s Proxy for WebSocket requests
  .changeset/chatty-seahorses-juggle.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
  yarn.lock
Labels: area:kubernetes
