Repository backstage/backstage, pull requests merged in 2023-05, with the labels that each got.

#17480 Forward route params to navigate event
  .changeset/green-cheetahs-cover.md
  docs/plugins/analytics.md
  packages/core-app-api/src/routing/RouteTracker.test.tsx
  packages/core-app-api/src/routing/RouteTracker.tsx
  packages/core-plugin-api/src/analytics/useAnalytics.tsx
Labels: documentation

#17579 chore: Fix various code and comment typos
  packages/backend-test-utils/src/next/services/MockRootLoggerService.test.ts
  packages/test-utils/src/testUtils/logCollector.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/tech-insights-backend/src/service/fact/FactRetrieverEngine.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
Labels: techdocs, scaffolder

#17592 Updated customise theme docs
  .changeset/dry-boats-sniff.md
  docs/getting-started/app-custom-theme.md
  packages/app-defaults/src/defaults/icons.tsx
  packages/app/src/components/Root/Root.tsx
Labels: documentation

#17539 queryEntities: fix filters clashing with pagination clause
  .changeset/fifty-grapes-explode.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: catalog

#17627 Ensure that entity cache state is only written to the database when actually changed
  .changeset/chilled-queens-wonder.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: catalog

#17511 feat(search-backend): Add spec and update to use ApiRouter typing.
  .changeset/quiet-bikes-smash.md
  .changeset/twelve-zebras-repair.md
  packages/backend-openapi-utils/api-report.md
  packages/backend-openapi-utils/src/types/params.ts
  plugins/search-backend/package.json
  plugins/search-backend/src/schema/openapi.generated.ts
  plugins/search-backend/src/schema/openapi.yaml
  plugins/search-backend/src/service/router.ts
  yarn.lock
Labels: search

#17439 Fix incorrect diffs in plugin author permission docs
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
Labels: documentation

#17605 Add more context for how to make a custom SCM Auth provider work
  docs/auth/index.md
Labels: documentation

#17546 Fix controlled Select keyboard open/close behavior
  .changeset/stupid-seas-stare.md
  packages/core-components/src/components/Select/Select.test.tsx
  packages/core-components/src/components/Select/Select.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CurveFilter.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/DirectionFilter.test.tsx
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.test.tsx
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.test.tsx
  plugins/xcmetrics/src/components/BuildListFilter/BuildListFilter.test.tsx
Labels: catalog

#17509 feat: use entity.metadata.title for DomainCard
  .changeset/khaki-brooms-kiss.md
  packages/catalog-model/examples/domains/artists-domain.yaml
  plugins/explore/src/components/DomainCard/DomainCard.test.tsx
  plugins/explore/src/components/DomainCard/DomainCard.tsx
  plugins/explore/src/components/EntityCard/EntityCard.test.tsx
  plugins/explore/src/components/EntityCard/EntityCard.tsx
Labels: catalog

#17484 Use permalinks in files that use links with line numbers
  .changeset/chilled-pants-wonder.md
  docs/integrations/datadog-rum/installation.md
  packages/backend-openapi-utils/README.md
  packages/create-app/CHANGELOG.md
  plugins/cost-insights/contrib/aws-cost-explorer-api.md
Labels: documentation

#17304 Create kubernetes-provider.yaml
  microsite/data/plugins/kubernetes-provider.yaml
Labels: microsite

#17294 Add missing scopes to GitLab auth provider docs
  docs/auth/gitlab/provider.md
Labels: documentation

#17349 Fix import paths and examples in catalog-backend-module-puppetdb
  .changeset/rare-elephants-arrive.md
  microsite/data/plugins/catalog-backend-module-puppetdb.yaml
  plugins/catalog-backend-module-puppetdb/README.md
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProvider.test.ts
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProvider.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/read.ts
Labels: catalog, microsite

#17629 newsletter link fix
  docs/overview/support.md
Labels: documentation

#17633 fix(catalog-backend-module-openapi): resolve relative online refs fixes #17634
  .changeset/hungry-peas-sing.md
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
Labels: catalog

#17671 Update docusaurus.config.js
  microsite/docusaurus.config.js
Labels: microsite

#17697 [search] Extend InputProps on <SearchBar/>
  .changeset/ninety-mugs-sin.md
  plugins/search-react/src/components/SearchBar/SearchBar.stories.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.tsx
Labels: search

#17657 Fix/ GitHubOrgEntityProvider description was not changing
  .changeset/wet-dolphins-love.md
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: catalog

#17569 Added a persistent session store
  .changeset/thick-pugs-rush.md
  plugins/auth-backend/migrations/20230428155633_sessions.js
  plugins/auth-backend/package.json
  plugins/auth-backend/src/database/AuthDatabase.ts
  plugins/auth-backend/src/identity/DatabaseKeyStore.test.ts
  plugins/auth-backend/src/identity/DatabaseKeyStore.ts
  plugins/auth-backend/src/identity/KeyStores.test.ts
  plugins/auth-backend/src/identity/KeyStores.ts
  plugins/auth-backend/src/migrations.test.ts
  plugins/auth-backend/src/service/router.ts
  yarn.lock
Labels: auth

#17630 Slightly optimize the facets request
  .changeset/honest-turkeys-learn.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: catalog

#17698 [Accessibility] docs
  CONTRIBUTING.md
  docs/accessibility/index.md
  microsite/sidebars.json
Labels: documentation, microsite

#17565 feat(GithubMultiOrgEntityProvider): support events
  .changeset/unlucky-deers-teach.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: documentation, catalog

#17591 Correct command to create new plugins in create-app readme
  .changeset/chilled-goats-jump.md
  packages/create-app/templates/default-app/plugins/README.md
Labels: stale

#17667 New `xkcd comic` plugin to the market place microsite
  microsite/data/plugins/xkcd.yaml
Labels: microsite

#17674 feat(cli, config-loader): Enable strict checking of config during CLI.
  .changeset/fast-wasps-peel.md
  .changeset/late-lizards-unite.md
  .changeset/shy-worms-enjoy.md
  docs/local-dev/cli-commands.md
  packages/cli/cli-report.md
  packages/cli/src/commands/config/validate.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/lib/config.ts
  packages/config-loader/api-report.md
  packages/config-loader/src/schema/compile.ts
  packages/config-loader/src/schema/load.ts
  plugins/auth-backend/config.d.ts
  plugins/user-settings/package.json
Labels: documentation, auth

#17742 Changed file extension for our plugin
  microsite/data/plugins/dependencytrack.yaml
Labels: microsite

#17749 Fix input schema validation issue for gitlab actions.
  .changeset/gold-vans-sin.md
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectAccessTokenAction.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectDeployTokenAction.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectVariableAction.ts
Labels: scaffolder

#17678 start to replace aws-sdk v2
  .changeset/itchy-impalas-fold.md
  .changeset/nice-ants-type.md
  packages/backend-common/package.json
  packages/integration-aws-node/package.json
  plugins/catalog-backend-module-aws/api-report.md
  plugins/catalog-backend-module-aws/package.json
  plugins/catalog-backend-module-aws/src/credentials/AwsCredentials.ts
  plugins/catalog-backend-module-aws/src/processors/AwsEKSClusterProcessor.test.ts
  plugins/catalog-backend-module-aws/src/processors/AwsEKSClusterProcessor.ts
  plugins/catalog-backend-module-aws/src/processors/AwsOrganizationCloudAccountProcessor.test.ts
  plugins/catalog-backend-module-aws/src/processors/AwsOrganizationCloudAccountProcessor.ts
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.test.ts
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.ts
  plugins/catalog-backend-module-aws/src/types.ts
  plugins/events-backend-module-aws-sqs/package.json
  plugins/kubernetes-backend/package.json
  plugins/techdocs-node/package.json
  yarn.lock
Labels: catalog, techdocs

#17766 improve the query for orphan pruning
  .changeset/five-lies-confess.md
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.ts
Labels: catalog

#17705 Expose both types of scaffolder permissions in metadata endpoint
  .changeset/big-days-press.md
  .changeset/spicy-spies-warn.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-common/alpha-api-report.md
  plugins/scaffolder-common/src/permissions.ts
Labels: scaffolder

#17763 Show cursor pointer when hovering on lightbox
  .changeset/serious-phones-flash.md
  .github/vale/Vocab/Backstage/accept.txt
  plugins/techdocs-module-addons-contrib/src/LigthBox/lightbox.css
Labels: techdocs

#17743 Add App Development for AWS to plugin marketplace
  microsite/data/plugins/aws-app-development.yaml
Labels: microsite

#17805 fix: microsoftAuth accessToken allow multiple scopes for a single resource
  .changeset/hungry-countries-enjoy.md
  packages/core-app-api/src/apis/implementations/auth/microsoft/MicrosoftAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/microsoft/MicrosoftAuth.ts
Labels: auth

#17814 [Home]: Improve world clock accessibility
  .changeset/clever-coins-deny.md
  plugins/home/src/homePageComponents/HeaderWorldClock/HeaderWorldClock.test.tsx
  plugins/home/src/homePageComponents/HeaderWorldClock/HeaderWorldClock.tsx
Labels: homepage

#17771 await response errors
  .changeset/eleven-taxis-notice.md
  packages/config-loader/src/sources/RemoteConfigSource.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/helpers.ts
Labels: auth, scaffolder

#17785 Removed database required for Badges createRouter
  .changeset/extragavent-fast-fly.md
  docs/releases/v1.14.0-next.2-changelog.md
  plugins/badges-backend/CHANGELOG.md
  plugins/badges/CHANGELOG.md
Labels: documentation

#17673 Change Orphan Cleanup process to debug logging
  .changeset/friendly-frogs-drop.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: catalog

#17747 Add ability to use `defaultNamespace` and `defaultKind` for scaffolder action `catalog:fetch`
  .changeset/giant-students-lie.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
Labels: scaffolder

#16721 feat: add documented component to uffizzi environment
  .github/uffizzi/docker-compose.uffizzi.yml
  .github/uffizzi/uffizzi.production.app-config.yaml
  .github/workflows/uffizzi-build.yml
  packages/backend/Dockerfile
  plugins/techdocs-backend/examples/documented-component-uffizzi/catalog-info.yaml
  plugins/techdocs-backend/examples/documented-component-uffizzi/docs/code/code-sample.md
  plugins/techdocs-backend/examples/documented-component-uffizzi/docs/extensions.md
  plugins/techdocs-backend/examples/documented-component-uffizzi/docs/images/backstage-logo-cncf.svg
  plugins/techdocs-backend/examples/documented-component-uffizzi/docs/index.md
  plugins/techdocs-backend/examples/documented-component-uffizzi/docs/sub-page.md
  plugins/techdocs-backend/examples/documented-component-uffizzi/mkdocs.yml
Labels: techdocs

#17756 fix: broken link to node-postgres docs
  docs/tutorials/switching-sqlite-postgres.md
Labels: documentation

#17761 Update code in readme a bit
  .changeset/perfect-readers-attack.md
  plugins/scaffolder-backend-module-gitlab/README.md
Labels: scaffolder

#17681 fix: corrected the disconnection behavior to get stream logs Close #1…
  .changeset/chatty-ads-attack.md
  plugins/scaffolder-react/src/hooks/useEventStream.ts
Labels: scaffolder

#17833 Add 7 Janus plugins
  microsite/data/plugins/3scale.yaml
  microsite/data/plugins/jfrog-artifactory.yaml
  microsite/data/plugins/keycloak.yaml
  microsite/data/plugins/ocm.yaml
  microsite/data/plugins/quay.yaml
  microsite/data/plugins/tekton.yaml
  microsite/data/plugins/topology.yaml
Labels: microsite

#17830 adjust change logs to show enableExperimentalRedirectFlow at root
  docs/releases/v1.13.0-changelog.md
  docs/releases/v1.13.0-next.0-changelog.md
  docs/releases/v1.13.0.md
  packages/core-app-api/config.d.ts
Labels: documentation

#17622 chore(techdocs): Swap from deprecated API imports to use shared library ones
  .changeset/short-seahorses-kiss.md
  plugins/techdocs/api-report.md
  plugins/techdocs/src/client.ts
  plugins/techdocs/src/home/components/TechDocsPageWrapper.tsx
  plugins/techdocs/src/reader/README.md
Labels: techdocs

#17559 ✨ feat(pluginsFilter): added dropdown filter for plugins list
  microsite/src/components/pluginsFilter/pluginsFilter.tsx
  microsite/src/pages/plugins/index.tsx
  microsite/src/pages/plugins/plugins.module.scss
  microsite/src/util/types.ts
Labels: microsite

#17801 Fix handling of `optional` property in `catalog:register` scaffolder action
  .changeset/angry-jobs-ring.md
  .changeset/few-oranges-complain.md
  packages/catalog-client/src/types/api.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.ts
Labels: catalog, scaffolder

#17879 Added alphabetical sorting to plugin categories.
  microsite/src/components/pluginsFilter/pluginsFilter.tsx
Labels: microsite

#17889 EntityProcessingStatusPicker: remove mocked backendEntities from tests
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.test.tsx
Labels: catalog

#17002 Starting User Guide to define the Catalog Graph
  .gitignore
  docs/assets/software-catalog/entity.drawio.svg
  docs/features/software-catalog/creating-the-catalog-graph.md
  microsite/sidebars.json
Labels: documentation, microsite

#17844 DX: Improved error message for publish:gitlab:merge-request action
  .changeset/light-cows-bow.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.ts
Labels: scaffolder

#17836 docs: Update plugin installation commands
  .changeset/yellow-crews-float.md
  docs/integrations/github/discovery.md
  docs/permissions/getting-started.md
  docs/permissions/plugin-authors/01-setup.md
  plugins/analytics-module-ga4/README.md
  plugins/devtools-backend/README.md
  plugins/dynatrace/README.md
  plugins/entity-validation/README.md
  plugins/linguist-backend/README.md
  plugins/pagerduty/README.md
  plugins/techdocs-react/README.md
Labels: documentation, techdocs

#17514 EntityOwnerPicker infinite scrolling
  .changeset/little-boats-think.md
  plugins/catalog-react/package.json
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityRefLink/humanize.test.ts
  plugins/catalog-react/src/components/EntityRefLink/humanize.ts
  yarn.lock
Labels: catalog

#17845 Use permission integration router in jenkins plugin to expose permissions
  .changeset/long-lobsters-brake.md
  .changeset/lucky-keys-behave.md
  plugins/jenkins-backend/package.json
  plugins/jenkins-backend/src/service/router.ts
  plugins/jenkins-common/api-report.md
  plugins/jenkins-common/src/permissions.ts
  yarn.lock
Labels: permission-framework

#17924 chore: Align msw version
  plugins/catalog-backend-module-puppetdb/package.json
  plugins/devtools-backend/package.json
  plugins/devtools/package.json
  yarn.lock
Labels: catalog

#15484 Add support for Material-UI v5
  .changeset/weak-snails-spar.md
  .changeset/weak-snails-spark.md
  .changeset/weak-snails-sparkl.md
  .changeset/weak-snails-sparkle.md
  docs/local-dev/cli-build-system.md
  packages/app-defaults/src/defaults/themes.tsx
  packages/cli/config/eslint-factory.js
  packages/core-app-api/src/app/types.ts
  packages/core-components/src/components/OAuthRequestDialog/OAuthRequestDialog.tsx
  packages/test-utils/src/testUtils/appWrappers.tsx
  packages/theme/api-report.md
  packages/theme/package.json
  packages/theme/src/base/createBaseThemeOptions.ts
  packages/theme/src/base/index.ts
  packages/theme/src/base/pageTheme.ts
  packages/theme/src/base/palettes.ts
  packages/theme/src/base/types.ts
  packages/theme/src/baseTheme.ts
  packages/theme/src/unified/MuiClassNameSetup.ts
  packages/theme/src/unified/UnifiedTheme.tsx
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  packages/theme/src/unified/index.ts
  packages/theme/src/unified/overrides.test.ts
  packages/theme/src/unified/overrides.ts
  packages/theme/src/unified/themes.ts
  packages/theme/src/unified/types.ts
  packages/theme/src/v4/baseTheme.ts
  packages/theme/src/v4/index.ts
  packages/theme/src/v4/themes.ts
  packages/theme/src/v4/types.ts
  packages/theme/src/v5/defaultComponentThemes.ts
  packages/theme/src/v5/index.ts
  packages/theme/src/v5/types.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityKindIcon.test.tsx
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
  yarn.lock
Labels: documentation, catalog, techdocs, will-fix, merge-after-release

#17922 Add support for Postgres array field item search
  .changeset/shaggy-terms-travel.md
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
Labels: search

#17904 fixed publish configurations
  .changeset/few-games-swim.md
  plugins/cicd-statistics-module-gitlab/package.json
  plugins/scaffolder-backend-module-gitlab/package.json
Labels: scaffolder

#17888 EntityLifecyclePicker: loads data using the facets endpoint
  .changeset/silver-ducks-drum.md
  .changeset/three-guests-beam.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.test.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
Labels: catalog

#17607 feat: allow more customization of the custom homepage
  .changeset/dull-bottles-teach.md
  packages/app/src/components/home/templates/CustomizableTemplate.stories.tsx
  plugins/home/README.md
  plugins/home/api-report.md
  plugins/home/src/components/CustomHomepage/CustomHomepageButtons.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/components/CustomHomepage/index.ts
Labels: homepage

#17967 fix(microsite): Add `New` ribbon in top right corner of PluginCard
  microsite/package.json
  microsite/src/pages/plugins/_pluginCard.tsx
  microsite/src/pages/plugins/index.tsx
  microsite/src/pages/plugins/plugins.module.scss
  microsite/src/util/calcIsNewPlugin.tsx
  microsite/yarn.lock
Labels: microsite

#17871 Added solo.io portal plugin information and logo.
  microsite/data/plugins/solo-io-dev-portal.yaml
  microsite/static/img/solo-io-gloo-outline.svg
Labels: microsite

#17968 chore(microsite): Simplify and standardize plugin categories
  microsite/data/plugins/analytics-module-ga.yaml
  microsite/data/plugins/firehydrant.yaml
  microsite/data/plugins/git-release-manager.yaml
  microsite/data/plugins/keycloak.yaml
  microsite/data/plugins/kpt-config-as-data.yaml
  microsite/data/plugins/ldap-auth.yml
  microsite/data/plugins/ocm.yaml
  microsite/data/plugins/okta-entity-providers.yaml
  microsite/data/plugins/rootly.yaml
  microsite/data/plugins/s3-viewer.yaml
  microsite/data/plugins/statusneo-github-plugin.yaml
  microsite/data/plugins/tekton-pipelines.yaml
  microsite/data/plugins/tekton.yaml
Labels: microsite

#17868 feat(catalog): Link launch template in Entity's AboutCard
  .changeset/chatty-seals-tap.md
  packages/app/src/App.tsx
  packages/create-app/templates/default-app/packages/app/src/App.tsx
  plugins/catalog/api-report.md
  plugins/catalog/package.json
  plugins/catalog/src/components/AboutCard/AboutCard.test.tsx
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/plugin.ts
  plugins/catalog/src/routes.ts
  plugins/scaffolder-backend-module-gitlab/api-report.md
  yarn.lock
Labels: catalog, scaffolder

#17927 docs: Fix example to not produce validation errors
  docs/integrations/github/org.md
Labels: documentation

#17990 [Home] update documentation code examples
  .changeset/clean-years-whisper.md
  docs/getting-started/homepage.md
  plugins/home/README.md
Labels: documentation, homepage

#17960 Fix SearchBar styles for custom SearchModal in StoryBook
  plugins/search/src/components/SearchModal/SearchModal.stories.tsx
Labels: search

#17980 Solo.io/adding portal plugin
  microsite/data/plugins/solo-io-gloo-platform-portal.yaml
  microsite/static/img/solo-io-gloo-outline.svg
  microsite/static/img/solo-io-glooy-circle.png.webp
Labels: microsite

#17951 `scaffolder/next`: Keep the same filtering behaviour as the current
  .changeset/shy-numbers-try.md
  plugins/scaffolder-react/alpha-api-report.md
  plugins/scaffolder-react/src/next/components/TemplateGroup/TemplateGroup.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateGroup/TemplateGroup.tsx
Labels: scaffolder

#17905 chore: adds test to ToolDocumentCollatorFactory
  plugins/search-backend-module-explore/package.json
  plugins/search-backend-module-explore/src/collators/ToolDocumentCollatorFactory.test.ts
  yarn.lock
Labels: search

#17780 feat(azure): support service principals and managed identities
  .changeset/orange-taxis-exercise.md
  docs/integrations/azure/locations.md
  packages/backend-common/src/reading/AzureUrlReader.ts
  packages/integration/api-report.md
  packages/integration/package.json
  packages/integration/src/azure/config.test.ts
  packages/integration/src/azure/config.ts
  packages/integration/src/azure/core.test.ts
  packages/integration/src/azure/core.ts
  packages/integration/src/azure/index.ts
  plugins/catalog-backend-module-azure/src/lib/azure.ts
  yarn.lock
Labels: documentation, catalog

#17824 Deprecate target field and make targetRef required
  .changeset/sour-papayas-wink.md
  .github/vale/Vocab/Backstage/accept.txt
  packages/catalog-model/src/schema/shared/common.schema.json
  packages/catalog-model/src/validation/entityKindSchemaValidator.test.ts
  packages/catalog-model/src/validation/entitySchemaValidator.test.ts
Labels: catalog

#17722 Add Repository Variables and Secrets
  .changeset/wet-vans-drive.md
  docs/integrations/github/github-apps.md
  packages/integration/src/github/SingleInstanceGithubCredentialsProvider.ts
  plugins/catalog-backend-module-github/src/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
  yarn.lock
Labels: documentation, catalog, scaffolder

#17651 chore(docs): Improve wording on TechDocs how to page
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#18012 update the 'What technology does Backstage use' section
  docs/FAQ.md
Labels: documentation

#17828 [catalog] Make unprocessed entities visible
  .changeset/grumpy-carrots-sin.md
  packages/app/package.json
  packages/app/src/App.tsx
  packages/backend-next/package.json
  packages/backend-next/src/index.ts
  packages/backend/package.json
  packages/backend/src/plugins/catalog.ts
  plugins/catalog-backend-module-unprocessed/.eslintrc.js
  plugins/catalog-backend-module-unprocessed/README.md
  plugins/catalog-backend-module-unprocessed/api-report.md
  plugins/catalog-backend-module-unprocessed/package.json
  plugins/catalog-backend-module-unprocessed/src/UnprocessedEntitiesModule.ts
  plugins/catalog-backend-module-unprocessed/src/index.ts
  plugins/catalog-backend-module-unprocessed/src/module.ts
  plugins/catalog-backend-module-unprocessed/src/setupTests.ts
  plugins/catalog-backend-module-unprocessed/src/types.ts
  plugins/catalog-unprocessed-entities/.eslintrc.js
  plugins/catalog-unprocessed-entities/README.md
  plugins/catalog-unprocessed-entities/api-report.md
  plugins/catalog-unprocessed-entities/dev/index.tsx
  plugins/catalog-unprocessed-entities/package.json
  plugins/catalog-unprocessed-entities/src/api/index.ts
  plugins/catalog-unprocessed-entities/src/components/EntityDialog.tsx
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
  plugins/catalog-unprocessed-entities/src/components/PendingEntities.tsx
  plugins/catalog-unprocessed-entities/src/components/UnprocessedEntities.tsx
  plugins/catalog-unprocessed-entities/src/index.ts
  plugins/catalog-unprocessed-entities/src/plugin.test.ts
  plugins/catalog-unprocessed-entities/src/plugin.ts
  plugins/catalog-unprocessed-entities/src/routes.ts
  plugins/catalog-unprocessed-entities/src/setupTests.ts
  plugins/catalog-unprocessed-entities/src/types.ts
  yarn.lock
Labels: catalog

#18023 fix(microsite): Bold text for NEW ribbon in Plugins
  microsite/src/pages/plugins/plugins.module.scss
Labels: microsite

#17057 feat(catalog-backend-module-gitlab): Added option to skip forked repos
  .changeset/silent-garlics-drum.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
Labels: documentation, catalog

#17837 fix: Fix Fix wrong gitlabUrl format in repoUrl input description
  .changeset/modern-dancers-sit.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.ts
Labels: scaffolder

#18045 fix(GithubMultiOrgEntityProvider): add missing await
  .changeset/rare-bugs-chew.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: catalog

#17750 Add support for dry run for `gitlab:group:ensureExists` action.
  .changeset/five-turtles-play.md
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.ts
Labels: scaffolder

#17739 scaffolder: extract `ui:*` fields from conditional fields.
  .changeset/silent-kangaroos-pay.md
  plugins/scaffolder-react/src/next/lib/schema.test.ts
  plugins/scaffolder-react/src/next/lib/schema.ts
Labels: scaffolder
