Repository backstage/backstage, pull requests merged in 2023-11, with the labels that each got.

#20321 Store GKE dashboard parameters in catalog
  .changeset/eleven-students-brake.md
  .changeset/fair-tools-bake.md
  plugins/catalog-backend-module-gcp/package.json
  plugins/catalog-backend-module-gcp/src/providers/GkeEntityProvider.test.ts
  plugins/catalog-backend-module-gcp/src/providers/GkeEntityProvider.ts
  plugins/catalog-backend-module-gcp/src/providers/__snapshots__/GkeEntityProvider.test.ts.snap
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/__snapshots__/CatalogClusterLocator.test.ts.snap
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/catalog-entity-constants.ts
  yarn.lock
Labels: area:catalog, area:kubernetes, stale

#20743 Replaced GraphiQL in Api Docs with DocExplorer
  .changeset/beige-stingrays-tap.md
  plugins/api-docs/package.json
  plugins/api-docs/src/components/GraphQlDefinitionWidget/GraphQlDefinition.tsx
  yarn.lock
Labels: stale

#20531 Added description for publish:gerrit scaffolder actions
  .changeset/lovely-turtles-remain.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gerrit.ts
Labels: area:scaffolder, scaffolder

#20829 Add existing OpenCost plugin to the Backstage Plugin Directory
  microsite/data/plugins/opencost.yaml
  microsite/static/img/opencost.png
Labels: microsite, stale

#20804 chore: add nexus-repository-manager plugin to plugin list in website
  microsite/data/plugins/nexus-repository-manager.yaml
Labels: microsite

#20894 docs(docker): remove cypress from Docker deployment documentation
  docs/deployment/docker.md
Labels: documentation

#20570 bump knex to v3 and better-sqlite3 to v9
  .changeset/brown-poets-join.md
  .changeset/olive-doors-begin.md
  packages/backend-common/api-report.md
  packages/backend-common/package.json
  packages/backend-plugin-api/package.json
  packages/backend-tasks/package.json
  packages/backend-test-utils/package.json
  packages/backend/package.json
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  plugins/app-backend/package.json
  plugins/auth-backend/package.json
  plugins/badges-backend/package.json
  plugins/bazaar-backend/package.json
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-unprocessed/package.json
  plugins/catalog-backend/package.json
  plugins/code-coverage-backend/package.json
  plugins/entity-feedback-backend/package.json
  plugins/linguist-backend/package.json
  plugins/playlist-backend/package.json
  plugins/scaffolder-backend/package.json
  plugins/search-backend-module-pg/package.json
  plugins/tech-insights-backend/package.json
  plugins/techdocs-backend/package.json
  plugins/user-settings-backend/package.json
  yarn.lock
Labels: area:catalog, auth, area:techdocs, search, area:scaffolder, merge-after-release, area:discoverability, scaffolder

#20995 Fix typo in Entra Org data doc
  docs/integrations/azure/org.md
Labels: documentation

#20951 Kubernetes: Resource quotas as default objects
  .changeset/strange-taxis-explode.md
  .github/vale/Vocab/Backstage/accept.txt
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/types.ts
Labels: documentation, area:kubernetes

#20833 docs: add initial frontend system architecture docs
  docs/assets/frontend-system/architecture-app.drawio.svg
  docs/assets/frontend-system/architecture-building-blocks.drawio.svg
  docs/assets/frontend-system/architecture-extension.drawio.svg
  docs/frontend-system/architecture/01-index.md
  docs/frontend-system/architecture/02-app.md
  docs/frontend-system/architecture/03-extensions.md
  docs/frontend-system/architecture/04-plugins.md
  docs/frontend-system/architecture/05-extension-overrides.md
  docs/frontend-system/architecture/06-utility-apis.md
  docs/frontend-system/architecture/07-routes.md
  docs/frontend-system/index.md
Labels: documentation

#20893 fix(catalog-backend-module-gitlab): #20891 GitlabOrgDiscoveryEntityProvider inherit members users
  .changeset/pretty-bats-end.md
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
Labels: area:catalog

#20212 Support AWS OpenSearch Serverless
  .changeset/mighty-humans-shave.md
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/config.d.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
Labels: search, area:discoverability

#20958 Expose reading msgraph provider config
  .changeset/big-roses-stare.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/index.ts
Labels: area:catalog

#20777 chore: fix spacing of header labels for entity layout
  .changeset/famous-plums-sit.md
  packages/core-components/src/layout/HeaderLabel/HeaderLabel.test.tsx
  packages/core-components/src/layout/HeaderLabel/HeaderLabel.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

#20776 Create docker-tags.yaml
  microsite/data/plugins/docker-tags.yaml
Labels: microsite

#20851 Techdocs 404 analytics event
  .changeset/tiny-files-judge.md
  docs/plugins/analytics.md
  plugins/techdocs/src/reader/components/TechDocsNotFound.test.tsx
  plugins/techdocs/src/reader/components/TechDocsNotFound.tsx
Labels: documentation, area:techdocs

#20984 Docs: expand section on catalog integrations
  docs/features/software-templates/adding-templates.md
Labels: documentation

#20706 fix missing profile photo and access token for foreign scopes at Microsoft auth provider
  .changeset/orange-ears-kiss.md
  plugins/auth-backend-module-microsoft-provider/package.json
  plugins/auth-backend-module-microsoft-provider/src/__testUtils__/fake.test.ts
  plugins/auth-backend-module-microsoft-provider/src/__testUtils__/fake.ts
  plugins/auth-backend-module-microsoft-provider/src/authenticator.test.ts
  plugins/auth-backend-module-microsoft-provider/src/authenticator.ts
  plugins/auth-backend-module-microsoft-provider/src/strategy.ts
  plugins/auth-backend-module-microsoft-provider/src/types.d.ts
  yarn.lock
Labels: merge-after-release

#20357 Add a possibility to use a formatter on a warning panel. Applied it for a scaffolder template
  .changeset/gentle-elephants-look.md
  packages/core-components/api-report.md
  packages/core-components/src/components/ErrorPanel/ErrorPanel.test.tsx
  packages/core-components/src/components/ErrorPanel/ErrorPanel.tsx
  packages/core-components/src/components/WarningPanel/WarningPanel.test.tsx
  packages/core-components/src/components/WarningPanel/WarningPanel.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
Labels: area:scaffolder, scaffolder

#20998 [catalog/unprocessed-entities] add sort and filter
  .changeset/new-kangaroos-train.md
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
  plugins/catalog-unprocessed-entities/src/components/PendingEntities.tsx
Labels: area:catalog

#21017 docs: tweak docs for splitting into multiple backends
  docs/backend-system/building-backends/01-index.md
  docs/deployment/scaling.md
Labels: documentation

#21029 Update github-workflows.yaml
  microsite/data/plugins/github-workflows.yaml
Labels: microsite

#20975 Nandorfs/plugin should i deploy
  microsite/data/plugins/should-i-deploy.yaml
  microsite/static/img/should-i-deploy-logo.png
Labels: microsite

#21025 [Catalog] Update content Items key on default import page
  .changeset/silver-yaks-bow.md
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.tsx
Labels: area:catalog

#20936 Optimize document deletion query in PgSearchEngine DatabaseDocumentStore
  .changeset/eighty-chairs-care.md
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
Labels: search, area:discoverability

#20874 Update gitlab-pipelines.yaml
  microsite/data/plugins/gitlab-pipelines.yaml
Labels: microsite

#21083 🧹 one more flaky test fixed
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
Labels: area:techdocs

#20901 Preserve step's time execution for a non-running task.
  .changeset/soft-oranges-act.md
  plugins/scaffolder-react/src/next/components/TaskSteps/StepTime.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.tsx
Labels: scaffolder

#20983 Allow globby negative matches for copyWithoutTemplating
  .changeset/strong-sloths-push.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
Labels: scaffolder

#20750 Each schema validation
  .changeset/silent-pillows-reflect.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  yarn.lock
Labels: scaffolder

#20974 feat: add the entire entity to `EntityNodeData`
  .changeset/long-sheep-exercise.md
  plugins/catalog-graph/README.md
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderLabel.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderLabel.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderNode.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderNode.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/types.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

#21030 fix the analytics flakiness in search
  .changeset/old-cows-buy.md
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.tsx
  plugins/search-react/src/components/SearchTracker/SearchTracker.tsx
  plugins/search-react/src/components/SearchTracker/index.ts
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
Labels: search, area:discoverability

#21140 🧹 another race condition fix
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
Labels: area:techdocs

#21145 oops, deleted too little of the text
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
Labels: area:techdocs

#21147 feat: add entityRef to Entity Inspector view
  .changeset/cool-bulldogs-itch.md
  plugins/catalog-react/src/components/InspectEntityDialog/components/OverviewPage.tsx
Labels: area:catalog

#21207 Revert "fix(deps): update docusaurus monorepo to v0.0.0-5731"
  microsite/package.json
  microsite/yarn.lock
Labels: microsite

#20592 Make it possible to shutdown unfinished scaffolder ongoing tasks after restart
  .changeset/pink-eyes-reflect.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/service/helpers.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder, scaffolder

#21069 docs: Complete ReadMe \ Installation steps for Google Cloud Build Plugin
  .changeset/friendly-jars-obey.md
  docs/assets/plugins/cloudbuild/CloudBuildPlugin.png
  plugins/cloudbuild/README.md
Labels: documentation

#21272 docs: `@rjsf/*` upgrade docs
  docs/features/software-templates/migrating-to-rjsf-v5.md
  docs/features/software-templates/testing-scaffolder-alpha.md
  microsite/sidebars.json
Labels: documentation, microsite

#20281 [scaffolder] - Support filtering out of `steps` and `fields` based on `featureFlags`
  .changeset/olive-otters-marry.md
  plugins/scaffolder-react/alpha-api-report.md
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder-react/src/next/hooks/index.ts
  plugins/scaffolder-react/src/next/hooks/useFilteredSchemaProperties.test.tsx
  plugins/scaffolder-react/src/next/hooks/useFilteredSchemaProperties.ts
Labels: area:scaffolder, scaffolder

#21096 Remove `button` prop from used MaterialUI `MenuItem` component
  .changeset/odd-scissors-eat.md
  plugins/bazaar/src/components/InputSelector/InputSelector.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
  plugins/cost-insights/src/components/CostInsightsNavigation/CostInsightsNavigation.tsx
  plugins/playlist/src/components/PersonalListPicker/PersonalListPicker.tsx
  plugins/scaffolder/src/components/ListTasksPage/OwnerListPicker.tsx
Labels: area:catalog, scaffolder

#20794 Remove usages of `srOnly` variant of `Typography`
  .changeset/odd-planes-cheat.md
  plugins/catalog/package.json
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  yarn.lock
Labels: area:catalog

#20580 Allow user-defined scopes for Okta auth in config yaml
  .changeset/sharp-wombats-speak.md
  docs/auth/okta/provider.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/src/providers/okta/provider.test.ts
  plugins/auth-backend/src/providers/okta/provider.ts
Labels: documentation, auth

#20892 Update Custom Auth Provider Documentation to Work Properly
  docs/auth/index.md
Labels: documentation

#20941 Fix typo and grammer in features/software-catalog/configuration.md
  docs/features/software-catalog/configuration.md
Labels: documentation

#20681 docs: mention flag for using software templates on Node 20
  docs/features/software-templates/index.md
Labels: documentation

#21298 Backend Migration Docs for Microsoft Graph Entity Provider
  docs/backend-system/building-backends/08-migrating.md
  docs/integrations/azure/org.md
Labels: documentation

#21270 Move over collectLegacyRoutes to core-compat-api
  .changeset/angry-walls-despacito.md
  .changeset/angry-walls-juggle.md
  .changeset/mighty-beans-wink.md
  packages/core-compat-api/api-report.md
  packages/core-compat-api/package.json
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/core-compat-api/src/index.ts
  packages/core-plugin-api/alpha-api-report.md
  packages/core-plugin-api/src/alpha.ts
  plugins/catalog-import/package.json
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog/package.json
  plugins/catalog/src/alpha/navItems.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/catalog/src/alpha/plugin.tsx
  plugins/graphiql/package.json
  plugins/graphiql/src/alpha.tsx
  plugins/search/package.json
  plugins/search/src/alpha.tsx
  plugins/tech-radar/package.json
  plugins/tech-radar/src/alpha.tsx
  plugins/techdocs/package.json
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/package.json
  plugins/user-settings/src/alpha.tsx
  yarn.lock
Labels: area:catalog, area:techdocs, search, area:discoverability

#21316 scaffolder: Fix issue with circular JSON whilst templating
  .changeset/nasty-tips-exercise.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: scaffolder

#20954 SingleTenant ServiceLocatorMethod for Kubernetes cluster by entity annotation
  .changeset/polite-knives-build.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service-locator/SingleTenantServiceLocator.test.ts
  plugins/kubernetes-backend/src/service-locator/SingleTenantServiceLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/types/types.ts
Labels: documentation, area:kubernetes

#21282 docs/backend-system: update docs to be clearer about module extension points
  docs/backend-system/architecture/05-extension-points.md
  docs/backend-system/building-plugins-and-modules/01-index.md
Labels: documentation

#21308 Adds blog entry about KubeCon NA 23
  microsite/blog/2023-11-15-backstagecon-kubecon-23.mdx
  microsite/blog/assets/23-11-15/00-cover.png
  microsite/blog/assets/23-11-15/10-panel.jpg
  microsite/blog/assets/23-11-15/20-booth.jpg
  microsite/blog/assets/23-11-15/30-spotify-kubecon.jpg
  microsite/blog/assets/23-11-15/40-tim-talk.jpg
  microsite/blog/assets/23-11-15/50-patrik-ben-full.jpg
  microsite/blog/assets/23-11-15/60-back-stack.jpg
Labels: microsite

#21300 theme: add type for component overrides
  .changeset/perfect-apes-sing.md
  .changeset/violet-zebras-thank.md
  packages/core-components/src/overridableComponents.ts
  packages/theme/api-report.md
  packages/theme/src/v5/types.test.ts
  packages/theme/src/v5/types.ts
  plugins/catalog-react/src/overridableComponents.ts
  plugins/catalog/src/overridableComponents.ts
Labels: area:catalog

#21351 fix: theme id and headerOptions in TemplateListPage
  .changeset/dry-readers-raise.md
  plugins/scaffolder/alpha-api-report.md
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
Labels: scaffolder

#21356 techdocs: Move `tlr` to `peerDependencies`
  .changeset/brave-socks-raise.md
  plugins/techdocs-addons-test-utils/package.json
  yarn.lock
Labels: area:techdocs

#21388 Fix Filter Selection
  .changeset/twenty-beans-laugh.md
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.test.tsx
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.ts
Labels: area:catalog

#21325 Auth backend module Okta provider
  .changeset/metal-eggs-smile.md
  .changeset/pink-dryers-repair.md
  plugins/auth-backend-module-okta-provider/.eslintrc.js
  plugins/auth-backend-module-okta-provider/README.md
  plugins/auth-backend-module-okta-provider/api-report.md
  plugins/auth-backend-module-okta-provider/catalog-info.yaml
  plugins/auth-backend-module-okta-provider/config.d.ts
  plugins/auth-backend-module-okta-provider/dev/index.ts
  plugins/auth-backend-module-okta-provider/package.json
  plugins/auth-backend-module-okta-provider/src/authenticator.ts
  plugins/auth-backend-module-okta-provider/src/index.ts
  plugins/auth-backend-module-okta-provider/src/module.test.ts
  plugins/auth-backend-module-okta-provider/src/module.ts
  plugins/auth-backend-module-okta-provider/src/resolvers.ts
  plugins/auth-backend-module-okta-provider/src/types.d.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/okta/provider.test.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  yarn.lock
Labels: auth

#21261 feat: step titles are now clickable
  .changeset/hot-wolves-flash.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.test.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
Labels: scaffolder

#20786 Bug/18436 entity unregister redirect
  .changeset/lucky-kids-cough.md
  packages/app/src/components/catalog/EntityPage.test.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/plugin.ts
  plugins/catalog/src/routes.ts
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.test.tsx
Labels: area:catalog

#21389 Fix creating secrets in github:environment:create action
  .changeset/quick-horses-reply.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubEnvironment.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubEnvironment.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubEnvironment.ts
Labels: area:scaffolder

#21368 Add Harness SRM plugin to the microsite
  microsite/data/plugins/harness-srm.yaml
Labels: microsite

#21426 docs/backend-system: update plugin migration docs
  docs/backend-system/building-plugins-and-modules/08-migrating.md
Labels: documentation

#20738 Add a way to bypass user modification for TechDocs CLI docs generation in Docker
  .changeset/spotty-olives-share.md
  docs/features/techdocs/cli.md
  packages/backend-common/api-report.md
  packages/backend-common/src/util/ContainerRunner.ts
  packages/backend-common/src/util/DockerContainerRunner.ts
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/generate/generate.ts
  packages/techdocs-cli/src/commands/index.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/generate/techdocs.ts
  plugins/techdocs-node/src/stages/generate/types.ts
Labels: documentation, area:techdocs

#21093 Accept columns prop as an array or a function
  .changeset/tricky-islands-wonder.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/index.ts
  plugins/catalog/src/components/CatalogTable/types.ts
Labels: area:catalog

#21415 Fix closing of k8s pod drawer when data reloads
  .changeset/large-weeks-accept.md
  plugins/kubernetes-react/src/components/Pods/PodsTable.tsx
Labels: area:kubernetes

#21433 Correct docs to react-refresh instead of react-hot-loader
  docs/local-dev/cli-build-system.md
Labels: documentation

#21273 fix: copy entity URL support insecure contexts
  .changeset/empty-dingos-grow.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
Labels: area:catalog

#21202 Catalog: paginated entities
  .changeset/breezy-pans-glow.md
  .changeset/eleven-ants-pretend.md
  .changeset/silly-numbers-wash.md
  .github/uffizzi/uffizzi.production.app-config.yaml
  packages/core-components/src/components/Table/Table.tsx
  packages/core-components/src/components/Table/TableLoadingBody.tsx
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog/api-report.md
  plugins/catalog/config.d.ts
  plugins/catalog/package.json
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

#21435 docs: fix GitHub Discovery link in adding-templates.md
  docs/features/software-templates/adding-templates.md
Labels: documentation

#21461 Revert "fix(deps): update dependency @azure/identity to v4"
  .changeset/renovate-6e5c790.md
  packages/integration/package.json
  plugins/azure-sites-backend/package.json
  plugins/catalog-backend-module-msgraph/package.json
  plugins/kubernetes-backend/package.json
  plugins/techdocs-node/package.json
  yarn.lock
Labels: area:catalog, area:techdocs

#21459 Version Packages (next)
  .changeset/create-app-1700607979.md
  .changeset/pre.json
  docs/releases/v1.21.0-next.1-changelog.md
  package.json
  packages/app-next/CHANGELOG.md
  packages/app-next/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/core-compat-api/CHANGELOG.md
  packages/core-compat-api/package.json
  packages/create-app/CHANGELOG.md
  packages/create-app/package.json
  packages/e2e-test/CHANGELOG.md
  packages/e2e-test/package.json
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  plugins/api-docs/CHANGELOG.md
  plugins/api-docs/package.json
  plugins/bazaar/CHANGELOG.md
  plugins/bazaar/package.json
  plugins/catalog-import/CHANGELOG.md
  plugins/catalog-import/package.json
  plugins/catalog/CHANGELOG.md
  plugins/catalog/package.json
  plugins/graphiql/CHANGELOG.md
  plugins/graphiql/package.json
  plugins/search/CHANGELOG.md
  plugins/search/package.json
  plugins/tech-radar/CHANGELOG.md
  plugins/tech-radar/package.json
  plugins/techdocs-addons-test-utils/CHANGELOG.md
  plugins/techdocs-addons-test-utils/package.json
  plugins/techdocs/CHANGELOG.md
  plugins/techdocs/package.json
  plugins/user-settings/CHANGELOG.md
  plugins/user-settings/package.json
Labels: documentation, area:catalog, area:techdocs, search, area:discoverability

#21443 fix: add resource icon
  .changeset/healthy-poets-search.md
  plugins/catalog-react/src/apis/EntityPresentationApi/defaultEntityPresentation.ts
Labels: area:catalog

#21471 frontend-plugin-api: change extension factory to receive app node instead of id and source
  .changeset/nervous-penguins-sort.md
  .changeset/stale-walls-cross.md
  .changeset/wicked-elephants-think.md
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.test.ts
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/components/ExtensionBoundary.test.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
  packages/frontend-plugin-api/src/extensions/createPageExtension.test.tsx
  packages/frontend-plugin-api/src/extensions/createPageExtension.tsx
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  plugins/catalog-react/src/alpha.tsx
  plugins/catalog/src/alpha/createCatalogFilterExtension.tsx
  plugins/search-react/src/alpha.tsx
Labels: area:catalog, search, area:discoverability

#21462 fix(deps): update dependency @azure/identity to v4
  .changeset/renovate-6e5c790.md
  packages/integration/package.json
  plugins/azure-sites-backend/package.json
  plugins/catalog-backend-module-msgraph/package.json
  plugins/kubernetes-backend/package.json
  plugins/techdocs-node/package.json
  yarn.lock
Labels: area:catalog, area:techdocs

#21440 Add docs for how to debug with VSCode
  docs/local-dev/cli-build-system.md
  docs/local-dev/debugging.md
Labels: documentation

#21449 Add Festive Fun plugin to microsite
  microsite/data/plugins/festive-fun.yaml
Labels: microsite

#21452 Added redirect for old scaffolder next page
  microsite/docusaurus.config.js
Labels: microsite

#21333 feat(backstage-openapi): support authenticated backends
  .changeset/big-swans-guess.md
  plugins/catalog-backend-module-backstage-openapi/src/InternalOpenApiDocumentationProvider.ts
  plugins/catalog-backend-module-backstage-openapi/src/index.ts
Labels: area:catalog, stale

#21441 Add Highlights plugin to plugins marketplace
  microsite/data/plugins/highlights.yaml
Labels: microsite

#21495 catalog: add missing unregisterRedirect external router to alpha
  .changeset/slow-trees-warn.md
  plugins/catalog/alpha-api-report.md
  plugins/catalog/src/alpha/plugin.tsx
Labels: area:catalog

#21455 lint for illegal role-to-role dependency chains
  .changeset/four-needles-watch.md
  .changeset/giant-files-fry.md
  .changeset/warm-plums-beg.md
  plugins/bazaar/package.json
  plugins/bazaar/src/components/CardContentFields/AboutField.tsx
  plugins/bazaar/src/components/CardContentFields/CardContentFields.tsx
  plugins/kubernetes-common/package.json
  plugins/techdocs-addons-test-utils/package.json
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
  scripts/verify-local-dependencies.js
  yarn.lock
Labels: area:techdocs

#21506 Bumped the default TechDocs docker image version
  .changeset/stale-bats-end.md
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/generate/techdocs.ts
Labels: area:techdocs

#21524 Added hcp-consul plugin to the microsite
  microsite/data/plugins/hcp-consul.yaml
  microsite/static/img/hcp-consul.svg
Labels: microsite

#21550 fix two more img links in the microsite
  microsite/data/plugins/scaffolder-backend-slack.yaml
  microsite/data/plugins/search-backend-module-azure-devops-wiki.yaml
Labels: microsite

#21403 Support additional mkdocs server cli params
  .changeset/tricky-donkeys-do.md
  docs/features/techdocs/cli.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/index.ts
  packages/techdocs-cli/src/commands/serve/serve.ts
  packages/techdocs-cli/src/lib/mkdocsServer.test.ts
  packages/techdocs-cli/src/lib/mkdocsServer.ts
Labels: documentation, area:techdocs

#21533 make sure that local dev logs in vscode
  docs/local-dev/debugging.md
Labels: documentation

#21541 core-plugin-api: update createTranslationRef to support nested messages and use camelCase keys
  .changeset/famous-flies-kick.md
  .changeset/silver-rocks-deliver.md
  docs/plugins/internationalization.md
  packages/core-plugin-api/alpha-api-report.md
  packages/core-plugin-api/src/translation/TranslationRef.test.ts
  packages/core-plugin-api/src/translation/TranslationRef.ts
  plugins/adr/alpha-api-report.md
  plugins/adr/src/components/EntityAdrContent/EntityAdrContent.tsx
  plugins/adr/src/translations.ts
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/translation.ts
  plugins/user-settings/alpha-api-report.md
  plugins/user-settings/src/components/General/UserSettingsLanguageToggle.tsx
  plugins/user-settings/src/components/General/UserSettingsThemeToggle.tsx
  plugins/user-settings/src/translation.ts
Labels: documentation, area:catalog

#20622 Added examples for `sentry:project:create` action and unit tests.
  .changeset/tender-peas-smoke.md
  plugins/scaffolder-backend-module-sentry/package.json
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.examples.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.test.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.ts
  yarn.lock
Labels: area:scaffolder

#21439 Display enum label from enumNames in review if used
  .changeset/funny-bobcats-try.md
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.test.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
Labels: area:scaffolder

#21514 Added Plugin Directory Submission Tips
  REVIEWING.md
  docs/plugins/add-to-directory.md
Labels: documentation

#21458 Adding in type chip to search results
  .changeset/real-bees-thank.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
Labels: area:catalog

#21104 [CircleCI] Changing ownership & location of CircleCI plugin
  .changeset/rude-ears-greet.md
  docs/getting-started/configure-app-with-plugins.md
  microsite/data/plugins/circleci.yaml
  packages/app-next/package.json
  packages/app/package.json
  packages/app/src/components/catalog/EntityPage.tsx
  packages/create-app/src/lib/versions.ts
  plugins/circleci/README.md
  yarn.lock
Labels: documentation, microsite

#21384 [MUI] Migration Guide for Unified Theme & Material UI v5
  docs/getting-started/app-custom-theme.md
  docs/tutorials/migrate-to-mui5.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#21591 fix: add horizontal slider if stepper overflows
  .changeset/perfect-crabs-help.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.tsx
Labels: area:scaffolder

#21546 fix presentation icon passing
  .changeset/fifty-cameras-share.md
  plugins/catalog-react/src/apis/EntityPresentationApi/defaultEntityPresentation.test.ts
  plugins/catalog-react/src/apis/EntityPresentationApi/defaultEntityPresentation.ts
  plugins/catalog/src/apis/EntityPresentationApi/DefaultEntityPresentationApi.ts
  plugins/catalog/src/apis/EntityPresentationApi/defaults.tsx
Labels: area:catalog

#21594 Update api.md
  docs/features/software-catalog/api.md
Labels: documentation

#21602 Fixing `headerOptions` drilling
  .changeset/sour-pumas-reply.md
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
Labels: area:scaffolder

#21567 ensure that incremental ingestion cursors are json decoded
  .changeset/rich-singers-join.md
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/tables.ts
Labels: area:catalog

#21480 implement text based entity card/content filters
  .changeset/thick-snails-travel.md
  .changeset/thirty-fireants-cheer.md
  packages/app-next/app-config.yaml
  plugins/catalog-react/api-report-alpha.md
  plugins/catalog-react/src/alpha.tsx
  plugins/catalog/src/alpha/EntityOverviewPage.tsx
  plugins/catalog/src/alpha/entityCards.tsx
  plugins/catalog/src/alpha/entityContents.tsx
  plugins/catalog/src/alpha/filter/matrchers/createHasMatcher.test.ts
  plugins/catalog/src/alpha/filter/matrchers/createHasMatcher.ts
  plugins/catalog/src/alpha/filter/matrchers/createIsMatcher.test.ts
  plugins/catalog/src/alpha/filter/matrchers/createIsMatcher.ts
  plugins/catalog/src/alpha/filter/matrchers/createKindMatcher.test.ts
  plugins/catalog/src/alpha/filter/matrchers/createKindMatcher.ts
  plugins/catalog/src/alpha/filter/matrchers/createTypeMatcher.test.ts
  plugins/catalog/src/alpha/filter/matrchers/createTypeMatcher.ts
  plugins/catalog/src/alpha/filter/matrchers/types.ts
  plugins/catalog/src/alpha/filter/parseFilterExpression.test.ts
  plugins/catalog/src/alpha/filter/parseFilterExpression.ts
  plugins/catalog/src/alpha/plugin.tsx
Labels: area:catalog

#21609 docs: add note about transitive group membership to identity resolver docs
  docs/auth/identity-resolver.md
Labels: documentation

#21611 Added Node 20 note to Software Template section in Getting Started
  docs/getting-started/configuration.md
Labels: documentation

#21568 frontend-plugin-api: wrap resolved extension inputs in an object
  .changeset/orange-boats-hunt.md
  .changeset/red-readers-search.md
  .changeset/tasty-dolphins-unite.md
  packages/core-compat-api/src/convertLegacyApp.ts
  packages/frontend-app-api/src/extensions/Core.tsx
  packages/frontend-app-api/src/extensions/CoreLayout.tsx
  packages/frontend-app-api/src/extensions/CoreNav.tsx
  packages/frontend-app-api/src/extensions/CoreRouter.tsx
  packages/frontend-app-api/src/extensions/CoreRoutes.tsx
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.test.ts
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/extensions/createApiExtension.ts
  packages/frontend-plugin-api/src/extensions/createComponentExtension.tsx
  packages/frontend-plugin-api/src/extensions/createPageExtension.tsx
  packages/frontend-plugin-api/src/extensions/createSignInPageExtension.tsx
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  plugins/catalog-react/api-report-alpha.md
  plugins/catalog-react/src/alpha.tsx
  plugins/catalog/src/alpha/entityContents.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/graphiql/src/alpha.tsx
  plugins/home/src/alpha.tsx
  plugins/search-react/src/alpha.test.tsx
  plugins/search/src/alpha.tsx
  plugins/user-settings/src/alpha.tsx
Labels: area:catalog, search, homepage, area:discoverability

#21622 fix(auth-backend): Unknown KeyStore provider: static
  .changeset/nervous-ladybugs-end.md
  plugins/auth-backend/src/identity/KeyStores.ts
Labels: auth

#21604 switch all backend module IDs to use kebab-case
  .changeset/wicked-pants-end.md
  docs/backend-system/architecture/06-modules.md
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-backends/08-migrating.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  docs/plugins/new-backend-system.md
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.test.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/auth-backend-module-gcp-iap-provider/src/module.ts
  plugins/auth-backend-module-google-provider/src/module.ts
  plugins/auth-backend-module-oauth2-proxy-provider/src/module.ts
  plugins/catalog-backend-module-aws/src/module/catalogModuleAwsS3EntityProvider.ts
  plugins/catalog-backend-module-azure/src/module/catalogModuleAzureDevOpsEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/module/catalogModuleBitbucketCloudEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-gcp/src/module/catalogModuleGcpGkeEntityProvider.ts
  plugins/catalog-backend-module-gerrit/src/module/catalogModuleGerritEntityProvider.ts
  plugins/catalog-backend-module-github-org/src/module.ts
  plugins/catalog-backend-module-github/src/module/catalogModuleGithubEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/module/catalogModuleGitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.ts
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
  plugins/catalog-backend-module-puppetdb/src/module/catalogModulePuppetDbEntityProvider.ts
  plugins/catalog-backend-module-scaffolder-entity-model/src/module.ts
  plugins/catalog-backend-module-unprocessed/src/module.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
  plugins/events-backend-module-aws-sqs/src/service/eventsModuleAwsSqsConsumingEventPublisher.ts
  plugins/events-backend-module-azure/src/service/eventsModuleAzureDevOpsEventRouter.ts
  plugins/events-backend-module-bitbucket-cloud/src/service/eventsModuleBitbucketCloudEventRouter.ts
  plugins/events-backend-module-gerrit/src/service/eventsModuleGerritEventRouter.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubEventRouter.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubWebhook.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabEventRouter.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabWebhook.ts
  plugins/events-backend/README.md
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/permission-backend-module-policy-allow-all/src/module.ts
  plugins/search-backend-module-catalog/README.md
  plugins/search-backend-module-catalog/src/alpha.ts
  plugins/search-backend-module-elasticsearch/src/alpha.ts
  plugins/search-backend-module-explore/src/alpha.ts
  plugins/search-backend-module-pg/src/alpha.ts
  plugins/search-backend-module-stack-overflow-collator/src/module/SearchStackOverflowCollatorModule.ts
  plugins/search-backend-module-techdocs/src/alpha.ts
Labels: documentation, area:catalog, search, area:permission, area:discoverability

#21559 Wrap task pipeline loop in a span
  .changeset/late-eyes-serve.md
  plugins/catalog-backend/src/processing/TaskPipeline.ts
Labels: area:catalog

#21275 Enable addition of permission rules for Catalog plugin through CatalogPermissionExtensionPoint
  .changeset/wild-knives-wait.md
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/api-report-alpha.md
  plugins/catalog-node/package.json
  plugins/catalog-node/src/alpha.ts
  plugins/catalog-node/src/extensions.ts
  yarn.lock
Labels: area:catalog

#21651 Fixed issue for showing undefined for hidden form items
  .changeset/wet-bananas-agree.md
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.test.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
Labels: area:scaffolder

#21535 [k8s] async formatClusterLink
  .changeset/fair-plants-attack.md
  plugins/kubernetes-react/api-report.md
  plugins/kubernetes-react/src/api/KubernetesClusterLinkFormatter.test.ts
  plugins/kubernetes-react/src/api/KubernetesClusterLinkFormatter.ts
  plugins/kubernetes-react/src/api/formatters/AksClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/AksClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/EksClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/EksClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/GkeClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/GkeClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/OpenshiftClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/OpenshiftClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/RancherClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/RancherClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/StandardClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/StandardClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/index.ts
  plugins/kubernetes-react/src/api/index.ts
  plugins/kubernetes-react/src/api/types.ts
  plugins/kubernetes-react/src/components/CronJobsAccordions/CronJobsDrawer.test.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentDrawer.test.tsx
  plugins/kubernetes-react/src/components/HorizontalPodAutoscalers/HorizontalPodAutoscalerDrawer.test.tsx
  plugins/kubernetes-react/src/components/IngressesAccordions/IngressDrawer.test.tsx
  plugins/kubernetes-react/src/components/JobsAccordions/JobsDrawer.test.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/KubernetesStructuredMetadataTableDrawer.tsx
  plugins/kubernetes-react/src/components/ServicesAccordions/ServiceDrawer.test.tsx
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetDrawer.test.tsx
  plugins/kubernetes-react/src/index.ts
  plugins/kubernetes-react/src/types/types.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatClusterLink.test.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatClusterLink.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/aks.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/eks.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/gke.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/index.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/openshift.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/rancher.ts
  plugins/kubernetes-react/src/utils/clusterLinks/formatters/standard.ts
  plugins/kubernetes-react/src/utils/index.ts
  plugins/kubernetes/src/plugin.ts
Labels: area:kubernetes

#21640 deprecate the filter types and move to catalog-node
  .changeset/eighty-dodos-sing.md
  .changeset/witty-cars-wash.md
  plugins/catalog-backend/api-report-alpha.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/alpha.ts
  plugins/catalog-backend/src/catalog/index.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/deprecated.ts
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/permissions/rules/isEntityKind.ts
  plugins/catalog-backend/src/permissions/rules/util.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/request/basicEntityFilter.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.ts
  plugins/catalog-backend/src/service/util.ts
  plugins/catalog-node/api-report-alpha.md
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/alpha.ts
  plugins/catalog-node/src/api/common.ts
  plugins/catalog-node/src/api/index.ts
  plugins/catalog-node/src/extensions.ts
Labels: area:catalog
