Repository backstage/backstage, pull requests merged in 2023-08, with the labels that each got.

#18871 Expose scaffolder module helper functions from the node package
  .changeset/tidy-cobras-scream.md
  .changeset/tough-lies-float.md
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.ts
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.test.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/deprecated.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/index.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/actions/executeShellCommand.ts
  plugins/scaffolder-node/src/actions/fetch.test.ts
  plugins/scaffolder-node/src/actions/fetch.ts
  plugins/scaffolder-node/src/actions/index.ts
  yarn.lock
Labels: scaffolder

#18813 Fix the query filter in the MyGroupsPicker
  .changeset/cold-numbers-sleep.md
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.test.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
Labels: scaffolder

#18902 Ensure that all services are dependency injected into the module
  .changeset/beige-files-reflect.md
  plugins/search-backend-module-catalog/alpha-api-report.md
  plugins/search-backend-module-catalog/package.json
  plugins/search-backend-module-catalog/src/alpha.ts
  plugins/search-backend-module-explore/alpha-api-report.md
  plugins/search-backend-module-explore/src/alpha.ts
  plugins/search-backend-module-techdocs/alpha-api-report.md
  plugins/search-backend-module-techdocs/package.json
  plugins/search-backend-module-techdocs/src/alpha.ts
  yarn.lock
Labels: search, area:discoverability

#18908 Add missing slash to proxying docs
  docs/plugins/proxying.md
Labels: documentation

#18910 docs: minor naming fix
  docs/features/software-catalog/creating-the-catalog-graph.md
Labels: documentation

#18878 Improve oauth2proxy auth docs
  docs/auth/oauth2-proxy/provider.md
Labels: documentation

#18918 feat(AnnotateScmSlughEntityProcessor): support configuring applicable kinds
  .changeset/little-penguins-build.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/modules/core/AnnotateScmSlugEntityProcessor.test.ts
  plugins/catalog-backend/src/modules/core/AnnotateScmSlugEntityProcessor.ts
Labels: area:catalog

#18931 fix(auth-backend): Overly permissive regex in test
  plugins/auth-backend/src/lib/flow/authFlowHelpers.test.ts
Labels: auth

#18936 Fix logos of Janus IDP plugins
  microsite/data/plugins/3scale.yaml
  microsite/data/plugins/jfrog-artifactory.yaml
  microsite/data/plugins/keycloak.yaml
  microsite/data/plugins/ocm.yaml
  microsite/data/plugins/quay.yaml
  microsite/data/plugins/tekton.yaml
  microsite/data/plugins/topology.yaml
Labels: microsite

#18831 Adds a number of examples for builtin functions
  .changeset/metal-buttons-search.md
  .changeset/ten-lies-cheat.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/createTemplateAction.ts
  plugins/scaffolder-node/src/actions/index.ts
Labels: scaffolder

#18934 Describe what a session secret is in the Auth0 auth provider
  docs/auth/auth0/provider.md
Labels: documentation

#18867 Added maxDepth to catalogGraphParams
  .changeset/cuddly-colts-repeat.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
Labels: area:catalog

#19223 Add Slack actions plugin to microsite
  docs/features/software-templates/writing-custom-actions.md
  microsite/data/plugins/scaffolder-backend-slack.yaml
  microsite/static/img/Slack-mark-RGB.png
Labels: documentation, microsite

#19216 Add Kiali Janus plugin
  microsite/data/plugins/kiali.yaml
Labels: microsite

#19231 Scaffolder file system action examples
  .changeset/funny-dancers-deliver.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.ts
Labels: scaffolder

#18816 feat(catalog-backend-module-gitlab): Filter Gitlab archived projects through APIs
  .changeset/serious-papayas-shout.md
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

#18919 Fix entity switch unmounting children
  .changeset/twelve-ducks-swim.md
  .github/vale/Vocab/Backstage/accept.txt
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.tsx
Labels: area:catalog

#19291 Fix container memory limits
  .changeset/sweet-donkeys-fix.md
  plugins/kubernetes/src/components/Pods/PodDrawer/ContainerCard.tsx
Labels: area:kubernetes

#19314 catalog-backend: inline synthetic load test module
  .changeset/fast-peas-live.md
  plugins/catalog-backend/src/tests/performance/lib/catalogModuleSyntheticLoadEntities.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
Labels: area:catalog

#19302 Update glossary.md
  docs/overview/glossary.md
Labels: documentation

#19261 🔌 Plugin: SDK Generation from OpenAPI or Postman Collection
  microsite/data/plugins/api-sdk-generator.yaml
Labels: microsite

#18157 scaffolder: enable each property on task step (#8890)
  .changeset/tasty-lamps-shop.md
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TaskSpec.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/types.ts
Labels: documentation, scaffolder

#18669 docs(features/software-templates): update "writing-custom-field-extensions.md".
  docs/features/software-templates/writing-custom-field-extensions.md
Labels: documentation

#18896 fix(documentation) Bug #18728: react-json-schema-form link has been moved to a new location
  docs/features/software-templates/writing-custom-step-layouts.md
Labels: documentation

#18916 chore: Add CLO Monitor exemption settings for trademark disclaimer
  .clomonitor.yml
Labels: cncf

#18986 chore: Add Storybook automated labeling
  .github/labeler.yml
Labels: storybook

#19227 document correct generated relations for group.children
  docs/features/software-catalog/descriptor-format.md
Labels: documentation

#19247 Update v1.16.0.md
  docs/releases/v1.16.0.md
Labels: documentation

#19243 Add examples for github:repo* scaffolder actions
  .changeset/orange-pandas-worry.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoCreate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubRepoPush.ts
Labels: scaffolder

#19336 Add Microsoft Teams actions plugin to microsite
  .github/vale/Vocab/Backstage/accept.txt
  docs/features/software-templates/writing-custom-actions.md
  microsite/data/plugins/scaffolder-backend-ms-teams.yaml
Labels: documentation, microsite

#19320 chore(e2e-test): Patch PGtools dependency to pickup security patches
  packages/e2e-test/package.json
  yarn.lock
Labels: security

#19345 Updated CustomTechDocsHome code example
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#18898 chore(security): Add OpenSSF Scorecard scanning and security result publishing
  .github/workflows/scorecard.yml
Labels: security, cncf

#19276 fix(kubernetes): Typos in exported attributes
  .changeset/modern-impalas-wave.md
  plugins/kubernetes/api-report.md
  plugins/kubernetes/src/components/Pods/ErrorList/ErrorList.test.tsx
  plugins/kubernetes/src/components/Pods/FixDialog/FixDialog.test.tsx
  plugins/kubernetes/src/components/Pods/PodDrawer/ContainerCard.tsx
  plugins/kubernetes/src/components/Pods/PodDrawer/PodDrawer.test.tsx
  plugins/kubernetes/src/components/Pods/PodDrawer/PodDrawer.tsx
  plugins/kubernetes/src/components/Pods/PodsTable.test.tsx
  plugins/kubernetes/src/components/ResourceUtilization/ResourceUtilization.test.tsx
  plugins/kubernetes/src/components/ResourceUtilization/ResourceUtilization.tsx
  plugins/kubernetes/src/error-detection/deployments.ts
  plugins/kubernetes/src/error-detection/error-detection.test.ts
  plugins/kubernetes/src/error-detection/hpas.ts
  plugins/kubernetes/src/error-detection/pods.ts
  plugins/kubernetes/src/error-detection/types.ts
  plugins/kubernetes/src/hooks/useMatchingErrors.test.tsx
  plugins/kubernetes/src/utils/pod.tsx
  plugins/kubernetes/src/utils/resources.ts
Labels: bug, area:kubernetes

#19333 Fix 18745 Visibility filter in the GithubEntityProvider is case-sensitive
  .changeset/ninety-panthers-guess.md
  plugins/catalog-backend-module-github/src/lib/util.ts
Labels: area:catalog

#19337 backend-plugin-api: allow modules to register extension points
  .changeset/gorgeous-dragons-peel.md
  .changeset/perfect-trainers-invite.md
  packages/backend-app-api/src/lib/DependencyGraph.test.ts
  packages/backend-app-api/src/lib/DependencyGraph.ts
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/wiring/factories.test.ts
  packages/backend-plugin-api/src/wiring/factories.ts
  packages/backend-plugin-api/src/wiring/types.ts
  plugins/catalog-backend-module-incremental-ingestion/alpha-api-report.md
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
Labels: area:catalog

#19353 catalog-backend-module-msgraph: move alpha options to extension point
  .changeset/loud-wasps-smoke.md
  plugins/catalog-backend-module-msgraph/alpha-api-report.md
  plugins/catalog-backend-module-msgraph/src/module/catalogModuleMicrosoftGraphOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/module/index.ts
Labels: area:catalog

#19278 make `searchModuleCatalogCollator` configurable from app-config
  .changeset/metal-kings-argue.md
  plugins/search-backend-module-catalog/alpha-api-report.md
  plugins/search-backend-module-catalog/api-report.md
  plugins/search-backend-module-catalog/config.d.ts
  plugins/search-backend-module-catalog/package.json
  plugins/search-backend-module-catalog/src/alpha.test.ts
  plugins/search-backend-module-catalog/src/alpha.ts
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.test.ts
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.ts
  plugins/search-backend-module-catalog/src/collators/config.test.ts
  plugins/search-backend-module-catalog/src/collators/config.ts
  yarn.lock
Labels: search, area:discoverability

#19350 microsite: remove BackstageCon 2023 CFP banner
  microsite/src/pages/home/_home.tsx
Labels: microsite

#19360 bump nodemon to 3.0
  .changeset/tender-avocados-kick.md
  packages/cli/package.json
  packages/create-app/package.json
  packages/e2e-test/package.json
  packages/techdocs-cli/package.json
  yarn.lock
Labels: area:techdocs

#19355 JFrog Libs plugin - add to the marketplace
  microsite/data/plugins/jfrog-artifactory-libs.yaml
Labels: microsite

#18935 Fixed invalid deprecated code comments referencing invalid package names - PR18932
  plugins/catalog-backend/src/index.ts
  plugins/explore-backend/src/index.ts
  plugins/techdocs-backend/src/search/index.ts
Labels: area:catalog, area:techdocs

#18851 Added example for Confluence to Markdown action
  .changeset/chilly-chicken-fix.md
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.examples.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.examples.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.ts
Labels: scaffolder

#18770 Add email to index for user entity
  .changeset/twelve-pigs-cough.md
  plugins/search-backend-module-catalog/src/collators/defaultCatalogCollatorEntityTransformer.test.ts
  plugins/search-backend-module-catalog/src/collators/defaultCatalogCollatorEntityTransformer.ts
Labels: search, area:discoverability

#19363 add more info to the readme of the catalog collator
  plugins/search-backend-module-catalog/README.md
Labels: search, area:discoverability

#19288 search-backend-module-elasticsearch: refactor + remove options
  .changeset/popular-beds-invent.md
  plugins/search-backend-module-elasticsearch/alpha-api-report.md
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/config.d.ts
  plugins/search-backend-module-elasticsearch/src/alpha.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
Labels: area:catalog, search, area:discoverability

#19297 make `search-backend-module-explore` & `search-backend-module-techdocs` configurable from app-config
  .changeset/tiny-squids-accept.md
  .changeset/tiny-squids-deny.md
  .changeset/tiny-squids-undecide.md
  plugins/permission-backend/src/plugin.ts
  plugins/search-backend-module-explore/alpha-api-report.md
  plugins/search-backend-module-explore/config.d.ts
  plugins/search-backend-module-explore/package.json
  plugins/search-backend-module-explore/src/alpha.test.ts
  plugins/search-backend-module-explore/src/alpha.ts
  plugins/search-backend-module-techdocs/alpha-api-report.md
  plugins/search-backend-module-techdocs/config.d.ts
  plugins/search-backend-module-techdocs/package.json
  plugins/search-backend-module-techdocs/src/alpha.test.ts
  plugins/search-backend-module-techdocs/src/alpha.ts
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.test.ts
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.ts
Labels: search, area:permission, area:discoverability

#19377 document the explore and techdocs collators too
  plugins/search-backend-module-explore/README.md
  plugins/search-backend-module-explore/config.d.ts
  plugins/search-backend-module-techdocs/README.md
  plugins/search-backend-module-techdocs/config.d.ts
Labels: search, area:discoverability

#19374 docs: 1.17 release notes
  .github/vale/Vocab/Backstage/accept.txt
  docs/releases/v1.17.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, area:catalog, auth, area:techdocs, microsite, search, homepage, scaffolder, area:permission, area:discoverability

#19379 Added description for publish:github and publish:gitlab scaffolder actions.
  .changeset/empty-rings-type.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/github.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlab.ts
Labels: scaffolder

#19328 chore(lighthouse): Add plugins to accessibility testing
  docs/accessibility/index.md
  lighthouserc.js
Labels: documentation, accessibility

#19389 Solo.io/updating portal plugin
  microsite/data/plugins/solo-io-gloo-platform-portal.yaml
Labels: microsite

#19431 deduplicate search results from azure
  .changeset/mean-carpets-provide.md
  plugins/catalog-backend-module-azure/src/providers/AzureDevOpsEntityProvider.ts
Labels: area:catalog

#19441 scaffolder-backend: fixed alpha module pluginId
  .changeset/lazy-rice-rule.md
  plugins/scaffolder-backend/src/modules/catalogModuleTemplateKind.ts
Labels: scaffolder

#19438 EntitySwitch render children when entity is not found
  .changeset/dull-tables-joke.md
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.tsx
Labels: area:catalog

#19448 Patch release of #19438 and #19441
  package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/backend-next/CHANGELOG.md
  packages/backend-next/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  plugins/api-docs/CHANGELOG.md
  plugins/api-docs/package.json
  plugins/bazaar/CHANGELOG.md
  plugins/bazaar/package.json
  plugins/catalog-customized/CHANGELOG.md
  plugins/catalog-customized/package.json
  plugins/catalog/CHANGELOG.md
  plugins/catalog/package.json
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.tsx
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/modules/catalogModuleTemplateKind.ts
  plugins/techdocs-addons-test-utils/CHANGELOG.md
  plugins/techdocs-addons-test-utils/package.json
Labels: area:catalog, area:techdocs, scaffolder

#18895 docs: fix a link to the frontend Backstage plugin
  .changeset/late-cows-turn.md
  docs/features/software-catalog/references.md
  plugins/catalog-backend/README.md
Labels: documentation, area:catalog

#19382 Added title to props for Has<kind>Cards.
  .changeset/chilly-parrots-yell.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/HasComponentsCard/HasComponentsCard.tsx
  plugins/catalog/src/components/HasResourcesCard/HasResourcesCard.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.tsx
  plugins/catalog/src/components/HasSystemsCard/HasSystemsCard.tsx
Labels: area:catalog

#19430 cli: added backend module templating factory
  .changeset/cyan-roses-relate.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  packages/cli/package.json
  packages/cli/src/lib/new/factories/backendModule.test.ts
  packages/cli/src/lib/new/factories/backendModule.ts
  packages/cli/src/lib/new/factories/common/prompts.ts
  packages/cli/src/lib/new/factories/index.ts
  packages/cli/src/lib/version.ts
  packages/cli/templates/default-backend-module/.eslintrc.js
  packages/cli/templates/default-backend-module/README.md.hbs
  packages/cli/templates/default-backend-module/package.json.hbs
  packages/cli/templates/default-backend-module/src/index.ts.hbs
  packages/cli/templates/default-backend-module/src/module.ts.hbs
  packages/cli/templates/default-backend-module/tsconfig.json
  yarn.lock
Labels: documentation

#19437 backend-test-utils: add service mock helpers
  .changeset/old-geese-drive.md
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/next/services/index.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  plugins/catalog-backend-module-aws/src/module/catalogModuleAwsS3EntityProvider.test.ts
  plugins/catalog-backend-module-azure/src/module/catalogModuleAzureDevOpsEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/module/catalogModuleBitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-gerrit/src/module/catalogModuleGerritEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/module/catalogModuleGithubEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/module/catalogModuleGitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.test.ts
  plugins/catalog-backend-module-msgraph/src/module/catalogModuleMicrosoftGraphOrgEntityProvider.test.ts
  plugins/catalog-backend-module-puppetdb/src/module/catalogModulePuppetDbEntityProvider.test.ts
  plugins/events-backend-module-aws-sqs/src/service/eventsModuleAwsSqsConsumingEventPublisher.test.ts
  yarn.lock
Labels: area:catalog

#19453 auth-backend: add plugin export for new backend system
  .changeset/dirty-carrots-notice.md
  .changeset/mighty-crabs-cheat.md
  .changeset/ninety-news-visit.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/dev/index.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/authPlugin.test.ts
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/index.ts
  plugins/auth-backend/src/service/router.ts
  yarn.lock
Labels: auth

#19450 blog: added expedia part 2 blog
  microsite/blog/2023-08-17-expedia-proof-of-value-metrics-2.mdx
  microsite/blog/assets/2023-08-17/header.png
  microsite/blog/assets/2023-08-17/table.png
Labels: microsite

#19462 auth-backend: track backstage session expiration separately
  .changeset/fresh-candles-warn.md
  .changeset/great-chairs-swim.md
  .changeset/lovely-years-sniff.md
  .changeset/popular-readers-allow.md
  packages/core-app-api/api-report.md
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.test.ts
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.ts
  packages/core-app-api/src/apis/implementations/auth/oauth2/types.ts
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/auth.ts
  plugins/auth-backend/src/lib/legacy/adaptLegacyOAuthHandler.ts
  plugins/auth-backend/src/lib/legacy/adaptLegacyOAuthSignInResolver.ts
  plugins/auth-backend/src/providers/microsoft/provider.test.ts
  plugins/auth-node/api-report.md
  plugins/auth-node/src/identity/prepareBackstageIdentityResponse.test.ts
  plugins/auth-node/src/identity/prepareBackstageIdentityResponse.ts
  plugins/auth-node/src/oauth/types.ts
  plugins/auth-node/src/types.ts
Labels: auth

#19477 fix catalog openapi schema for facets
  .changeset/smart-islands-jog.md
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

#19482 docs: document new emergency release process
  docs/publishing.md
Labels: documentation

#19478 Improve consistency of results from azure provider
  .changeset/fair-paws-flash.md
  plugins/catalog-backend-module-azure/src/lib/azure.test.ts
  plugins/catalog-backend-module-azure/src/lib/azure.ts
Labels: area:catalog

#19386 [TechDocs] Fix footer links width for newer versions of mkdocs-material
  .changeset/eight-radios-listen.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

#19473 auth-backend: migrate GitHub provider
  .changeset/warm-panthers-lick.md
  plugins/auth-backend-module-github-provider/.eslintrc.js
  plugins/auth-backend-module-github-provider/README.md
  plugins/auth-backend-module-github-provider/api-report.md
  plugins/auth-backend-module-github-provider/dev/index.ts
  plugins/auth-backend-module-github-provider/package.json
  plugins/auth-backend-module-github-provider/src/authenticator.test.ts
  plugins/auth-backend-module-github-provider/src/authenticator.ts
  plugins/auth-backend-module-github-provider/src/index.ts
  plugins/auth-backend-module-github-provider/src/module.test.ts
  plugins/auth-backend-module-github-provider/src/module.ts
  plugins/auth-backend-module-github-provider/src/resolvers.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/github/provider.test.ts
  plugins/auth-backend/src/providers/github/provider.ts
  plugins/auth-node/api-report.md
  plugins/auth-node/src/oauth/types.ts
  yarn.lock
Labels: auth

#19495 [Catalog] Fix `limit=0` on entity query requests
  .changeset/catalog-everybody-to-the-limit.md
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

#19409 fix(actions): Increase memory for running Snyk monitoring
  .github/workflows/sync_snyk-monitor.yml
Labels: bug

#18921 patch: Add Continued MySQL Support
  .changeset/yellow-trains-protect.md
  docs/backend-system/building-plugins-and-modules/02-testing.md
  packages/backend-common/package.json
  packages/backend-common/src/database/DatabaseManager.test.ts
  packages/backend-tasks/migrations/20210928160613_init.js
  packages/backend-tasks/src/migrations.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerJanitor.test.ts
  packages/backend-tasks/src/tasks/TaskScheduler.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.ts
  packages/backend/package.json
  packages/e2e-test/package.json
  packages/e2e-test/src/commands/run.ts
  plugins/app-backend/migrations/20211229105307_init.js
  plugins/app-backend/src/lib/assets/StaticAssetsStore.test.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.ts
  plugins/bazaar-backend/migrations/20211014144054_init.js
  plugins/bazaar-backend/migrations/20211117092217_optional_entity_ref.js
  plugins/bazaar-backend/src/service/DatabaseHandler.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.test.ts
  plugins/catalog-backend/migrations/20210302150147_refresh_state.js
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/code-coverage-backend/migrations/20210302_init.js
  plugins/linguist-backend/migrations/20221115_init.js
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/tech-insights-backend/migrations/202109061111_fact_schemas.js
  plugins/tech-insights-backend/migrations/202109061212_facts.js
  yarn.lock
Labels: documentation, area:catalog, scaffolder

#19475 auth-backend: migrate GitLab provider to separate module
  .changeset/curvy-roses-march.md
  .changeset/lucky-chicken-lie.md
  plugins/auth-backend-module-gitlab-provider/.eslintrc.js
  plugins/auth-backend-module-gitlab-provider/README.md
  plugins/auth-backend-module-gitlab-provider/api-report.md
  plugins/auth-backend-module-gitlab-provider/config.d.ts
  plugins/auth-backend-module-gitlab-provider/dev/index.ts
  plugins/auth-backend-module-gitlab-provider/package.json
  plugins/auth-backend-module-gitlab-provider/src/authenticator.ts
  plugins/auth-backend-module-gitlab-provider/src/index.ts
  plugins/auth-backend-module-gitlab-provider/src/module.test.ts
  plugins/auth-backend-module-gitlab-provider/src/module.ts
  plugins/auth-backend-module-gitlab-provider/src/resolvers.ts
  plugins/auth-backend-module-gitlab-provider/src/types.d.ts
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/gitlab/provider.test.ts
  plugins/auth-backend/src/providers/gitlab/provider.ts
  yarn.lock
Labels: auth

#19485 Add `catalog-info.yaml` for project area-owned packages
  packages/techdocs-cli-embedded-app/catalog-info.yaml
  packages/techdocs-cli/catalog-info.yaml
  plugins/catalog-backend-module-azure/catalog-info.yaml
  plugins/catalog-backend-module-bitbucket-server/catalog-info.yaml
  plugins/catalog-backend-module-bitbucket/catalog-info.yaml
  plugins/catalog-backend-module-gcp/catalog-info.yaml
  plugins/catalog-backend-module-gerrit/catalog-info.yaml
  plugins/catalog-backend-module-github/catalog-info.yaml
  plugins/catalog-backend-module-gitlab/catalog-info.yaml
  plugins/catalog-backend-module-incremental-ingestion/catalog-info.yaml
  plugins/catalog-backend-module-ldap/catalog-info.yaml
  plugins/catalog-backend-module-openapi/catalog-info.yaml
  plugins/catalog-backend-module-unprocessed/catalog-info.yaml
  plugins/catalog-backend/catalog-info.yaml
  plugins/catalog-common/catalog-info.yaml
  plugins/catalog-customized/catalog-info.yaml
  plugins/catalog-graphql/catalog-info.yaml
  plugins/catalog-import/catalog-info.yaml
  plugins/catalog-node/catalog-info.yaml
  plugins/catalog-react/catalog-info.yaml
  plugins/catalog-unprocessed-entities/catalog-info.yaml
  plugins/catalog/catalog-info.yaml
  plugins/home-react/catalog-info.yaml
  plugins/home/catalog-info.yaml
  plugins/kubernetes-backend/catalog-info.yaml
  plugins/kubernetes-common/catalog-info.yaml
  plugins/kubernetes/catalog-info.yaml
  plugins/permission-backend/catalog-info.yaml
  plugins/permission-common/catalog-info.yaml
  plugins/permission-node/catalog-info.yaml
  plugins/permission-react/catalog-info.yaml
  plugins/search-backend-module-catalog/catalog-info.yaml
  plugins/search-backend-module-elasticsearch/catalog-info.yaml
  plugins/search-backend-module-explore/catalog-info.yaml
  plugins/search-backend-module-pg/catalog-info.yaml
  plugins/search-backend-module-techdocs/catalog-info.yaml
  plugins/search-backend-node/catalog-info.yaml
  plugins/search-backend/catalog-info.yaml
  plugins/search-common/catalog-info.yaml
  plugins/search-react/catalog-info.yaml
  plugins/search/catalog-info.yaml
  plugins/techdocs-addons-test-utils/catalog-info.yaml
  plugins/techdocs-backend/catalog-info.yaml
  plugins/techdocs-module-addons-contrib/catalog-info.yaml
  plugins/techdocs-node/catalog-info.yaml
  plugins/techdocs-react/catalog-info.yaml
  plugins/techdocs/catalog-info.yaml
Labels: area:catalog, area:techdocs, search, homepage, area:permission, area:discoverability

#19498 Update integrating-plugin-into-software-catalog.md
  docs/plugins/integrating-plugin-into-software-catalog.md
Labels: documentation

#18401 feat(search): enable configuration of the Search component via app-config
  .changeset/nasty-forks-beg.md
  .github/uffizzi/uffizzi.production.app-config.yaml
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.Autocomplete.test.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.test.tsx
  plugins/search-react/src/components/SearchFilter/hooks.test.tsx
  plugins/search-react/src/components/SearchPagination/SearchPagination.test.tsx
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search/README.md
  plugins/search/config.d.ts
  plugins/search/package.json
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Tabs.test.tsx
  plugins/search/src/components/SearchType/SearchType.test.tsx
Labels: search, area:discoverability

#18922 feat: allow specifying static widgets to customizable home
  .changeset/witty-ants-cover.md
  packages/app/src/components/home/HomePage.tsx
  plugins/home/README.md
  plugins/home/api-report.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
  plugins/home/src/components/CustomHomepage/index.ts
  plugins/home/src/components/CustomHomepage/types.ts
Labels: homepage, area:discoverability

#19518 [Search] Page limit configuration followup
  .changeset/many-tips-attend.md
  plugins/search-react/src/context/SearchContext.tsx
Labels: search, area:discoverability

#19510 catalog-backend: relax validation of full text query field
  .changeset/four-masks-fry.md
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

#18699 feat: support custom default plugins for techdocs
  .changeset/twelve-elephants-pay.md
  docs/features/techdocs/cli.md
  docs/features/techdocs/configuration.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/generate/generate.ts
  packages/techdocs-cli/src/commands/index.ts
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/mkdocsPatchers.ts
  plugins/techdocs-node/src/stages/generate/techdocs.test.ts
  plugins/techdocs-node/src/stages/generate/techdocs.ts
  plugins/techdocs-node/src/stages/generate/types.ts
Labels: documentation, area:techdocs

#19381 Docs: Add docs about config option to auto clean up orphans
  docs/features/software-catalog/configuration.md
  docs/features/software-catalog/life-of-an-entity.md
Labels: documentation

#19542 Fixing openapi spec for /analyze-location
  .changeset/tall-peas-visit.md
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

#19547 Patch release of #19542
  package.json
  packages/backend-next/CHANGELOG.md
  packages/backend-next/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/catalog-backend-module-github/CHANGELOG.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-incremental-ingestion/CHANGELOG.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-openapi/CHANGELOG.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
Labels: area:catalog, scaffolder

#19509 Add "Next Line Release Process" to publishing.md
  docs/publishing.md
Labels: documentation

#19568 Add examples for github:actions:dispatch scaffolder actions
  .changeset/silly-emus-remain.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubActionsDispatch.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubActionsDispatch.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/github/githubActionsDispatch.ts
Labels: scaffolder

#19567 Update publishing.md
  docs/publishing.md
Labels: documentation

#19572 catalog-backend: fixed validation of fullTextFilterFields
  .changeset/polite-forks-grin.md
  plugins/catalog-backend/src/service/request/parseFullTextFilterFields.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.test.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.ts
Labels: area:catalog

#19576 Patch release of #19572
  package.json
  packages/backend-next/CHANGELOG.md
  packages/backend-next/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/catalog-backend-module-github/CHANGELOG.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-incremental-ingestion/CHANGELOG.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-openapi/CHANGELOG.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/service/request/parseFullTextFilterFields.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.test.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.ts
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
Labels: area:catalog, scaffolder

#19492 delete popup added for entity delete action when user delete entity by unregister entity
  .changeset/gorgeous-coins-attack.md
  plugins/catalog-react/src/components/UnregisterEntityDialog/UnregisterEntityDialog.test.tsx
  plugins/catalog-react/src/components/UnregisterEntityDialog/UnregisterEntityDialog.tsx
Labels: area:catalog

#19556 Add remaining owned `catalog-info.yaml` files
  plugins/adr-backend/catalog-info.yaml
  plugins/adr-common/catalog-info.yaml
  plugins/adr/catalog-info.yaml
  plugins/api-docs/catalog-info.yaml
  plugins/azure-devops-backend/catalog-info.yaml
  plugins/azure-devops-common/catalog-info.yaml
  plugins/azure-devops/catalog-info.yaml
  plugins/bitbucket-cloud-common/catalog-info.yaml
  plugins/bitrise/catalog-info.yaml
  plugins/catalog-backend-module-aws/catalog-info.yaml
  plugins/catalog-backend-module-bitbucket-cloud/catalog-info.yaml
  plugins/catalog-backend-module-msgraph/catalog-info.yaml
  plugins/catalog-backend-module-puppetdb/catalog-info.yaml
  plugins/catalog-graph/catalog-info.yaml
  plugins/circleci/catalog-info.yaml
  plugins/code-coverage-backend/catalog-info.yaml
  plugins/code-coverage/catalog-info.yaml
  plugins/cost-insights-common/catalog-info.yaml
  plugins/cost-insights/catalog-info.yaml
  plugins/devtools-backend/catalog-info.yaml
  plugins/devtools-common/catalog-info.yaml
  plugins/devtools/catalog-info.yaml
  plugins/entity-feedback-backend/catalog-info.yaml
  plugins/entity-feedback-common/catalog-info.yaml
  plugins/entity-feedback/catalog-info.yaml
  plugins/events-backend-module-aws-sqs/catalog-info.yaml
  plugins/events-backend-module-azure/catalog-info.yaml
  plugins/events-backend-module-bitbucket-cloud/catalog-info.yaml
  plugins/events-backend-module-gerrit/catalog-info.yaml
  plugins/events-backend-module-github/catalog-info.yaml
  plugins/events-backend-module-gitlab/catalog-info.yaml
  plugins/events-backend-test-utils/catalog-info.yaml
  plugins/events-backend/catalog-info.yaml
  plugins/events-node/catalog-info.yaml
  plugins/explore-react/catalog-info.yaml
  plugins/explore/catalog-info.yaml
  plugins/fossa/catalog-info.yaml
  plugins/git-release-manager/catalog-info.yaml
  plugins/kafka-backend/catalog-info.yaml
  plugins/kafka/catalog-info.yaml
  plugins/linguist-backend/catalog-info.yaml
  plugins/linguist-common/catalog-info.yaml
  plugins/linguist/catalog-info.yaml
  plugins/playlist-backend/catalog-info.yaml
  plugins/playlist-common/catalog-info.yaml
  plugins/playlist/catalog-info.yaml
  plugins/rollbar-backend/catalog-info.yaml
  plugins/rollbar/catalog-info.yaml
  plugins/sonarqube/catalog-info.yaml
  plugins/stack-overflow-backend/catalog-info.yaml
  plugins/stack-overflow/catalog-info.yaml
  plugins/tech-insights-backend-module-jsonfc/catalog-info.yaml
  plugins/tech-insights-backend/catalog-info.yaml
  plugins/tech-insights-common/catalog-info.yaml
  plugins/tech-insights-node/catalog-info.yaml
  plugins/tech-insights/catalog-info.yaml
  plugins/user-settings-backend/catalog-info.yaml
Labels: area:catalog

#19602 chore(deps): replace `passport-saml` with `@node-saml/passport-saml`
  .changeset/real-chairs-arrive.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/saml/provider.ts
  yarn.lock
Labels: auth

#19570 Add info about our Artifactory plugins to the marketplace
  microsite/data/plugins/artifactory.yaml
Labels: microsite

#19599 Align zod dependency to match other packages
  .changeset/hip-seahorses-exist.md
  plugins/home/package.json
  yarn.lock
Labels: homepage, area:discoverability

#19421 [kubernetes-backend plugin] fix undefined kind for custom resources
  .changeset/nasty-cherries-exercise.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  yarn.lock
Labels: area:kubernetes

#19598 make `startTaskPipeline` iterative
  .changeset/cold-apricots-poke.md
  plugins/catalog-backend/src/processing/TaskPipeline.test.ts
  plugins/catalog-backend/src/processing/TaskPipeline.ts
Labels: area:catalog

#19604 Fix logs height
  .changeset/nasty-snails-complain.md
  plugins/kubernetes/src/components/Pods/PodLogs/PodLogs.tsx
Labels: area:kubernetes

#19624 Fix typo in 03-services.md patters->patterns
  docs/backend-system/architecture/03-services.md
Labels: documentation

#18824 techdocs azurite support
  .changeset/pretty-otters-whisper.md
  docs/features/techdocs/configuration.md
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.ts
Labels: documentation, area:techdocs

#19311 Relax github transform types
  .changeset/young-ants-nail.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/guards.ts
  plugins/catalog-backend-module-github/src/processors/GithubMultiOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/processors/GithubOrgReaderProcessor.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

#19627 Fix typos in 01-index.md
  docs/backend-system/core-services/01-index.md
Labels: documentation

#19580 Adding Rafay Systems plugin to marketplace
  microsite/data/plugins/rafay.yaml
Labels: microsite

#19586 Added indexerBatchSize option and debug logging
  .changeset/brave-carrots-occur.md
  packages/backend/package.json
  packages/backend/src/plugins/search.ts
  plugins/search-backend-module-pg/config.d.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.ts
  yarn.lock
Labels: search, area:discoverability

#19319 Export the `EntityAutocompletePicker` component
  .changeset/eight-timers-sin.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/index.ts
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/index.ts
  plugins/catalog-react/src/components/index.ts
Labels: area:catalog

#19632 allow app-config of the catalog processingInterval
  .changeset/fifty-adults-shake.md
  .changeset/friendly-pugs-lick.md
  .changeset/popular-coins-tap.md
  docs/features/software-catalog/configuration.md
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.test.ts
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.ts
  packages/config/api-report.md
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/src/readDurationFromConfig.test.ts
  packages/config/src/readDurationFromConfig.ts
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  yarn.lock
Labels: documentation, area:catalog

#19641 revert #19602
  .changeset/real-chairs-arrive.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/saml/provider.ts
  yarn.lock
Labels: auth

#19520 [catalog] Update api documentation
  docs/features/software-catalog/api.md
Labels: documentation

#19664 [Docs] Update next release cadence
  docs/overview/versioning-policy.md
Labels: documentation

#19661 Fix typo in README.md
  plugins/catalog-backend-module-incremental-ingestion/README.md
Labels: area:catalog

#19675 fix: Add `order` parameter to `/entities` endpoint
  .changeset/poor-olives-own.md
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
Labels: area:catalog

#19623 Updated background and padding
  docs/assets/permissions/permission-framework-overview.drawio.svg
Labels: documentation

#19279 Feat/reference external entityRef for techdocs
  .changeset/modern-trees-add.md
  ADOPTERS.md
  docs/features/software-catalog/well-known-annotations.md
  docs/features/techdocs/how-to-guides.md
  plugins/catalog/src/components/AboutCard/AboutCard.test.tsx
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/techdocs/src/EntityPageDocs.tsx
  plugins/techdocs/src/Router.tsx
Labels: documentation, area:catalog, area:techdocs

#19693 Add Blockchain Radar plugin to the marketplace
  microsite/data/plugins/blockchain-radar.yaml
Labels: microsite
