Repository backstage/backstage, pull requests merged in 2023-03, with the labels that each got.

#16614 🧹 unpack props inside component bodies
  .changeset/clever-dogs-cheat.md
  plugins/auth-node/api-report.md
  plugins/auth-node/src/DefaultIdentityClient.ts
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/useEntity.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/testUtils/providers.tsx
  plugins/explore/api-report.md
  plugins/explore/src/api/ExploreClient.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/secrets/SecretsContext.tsx
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/TaskPage/TaskPage.tsx
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-react/api-report.md
  plugins/search-react/src/components/HighlightedSearchResultText/HighlightedSearchResultText.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocompleteDefaultOption.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.tsx
  plugins/search/api-report.md
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/SearchModal/useSearchModal.tsx
  plugins/sonarqube/api-report.md
  plugins/sonarqube/src/api/SonarQubeClient.ts
  plugins/splunk-on-call/api-report.md
  plugins/splunk-on-call/src/api/client.ts
  plugins/splunk-on-call/src/components/SplunkOnCallPage.tsx
  plugins/tech-insights-backend-module-jsonfc/api-report.md
  plugins/tech-insights-backend-module-jsonfc/src/service/JsonRulesEngineFactChecker.ts
  plugins/tech-insights/api-report.md
  plugins/tech-insights/src/components/BooleanCheck/BooleanCheck.tsx
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/prepare/dir.ts
  plugins/techdocs-node/src/stages/prepare/preparers.ts
  plugins/techdocs-node/src/stages/prepare/url.ts
  plugins/techdocs-node/src/stages/publish/publish.ts
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/src/component.tsx
  plugins/techdocs-react/src/context.tsx
  plugins/techdocs/api-report.md
  plugins/techdocs/src/home/components/Grids/EntityListDocsGrid.tsx
  plugins/techdocs/src/home/components/Tables/actions.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderProvider.tsx
Labels: catalog, techdocs, search, scaffolder

#16671 Replace logo
  microsite/static/img/octopus-deploy.svg
Labels: microsite

#16674 docs: add some getting involved documentation
  .github/workflows/deploy_microsite.yml
  .github/workflows/verify_microsite-next.yml
  CONTRIBUTING.md
  docs/getting-started/get-involved.md
  microsite-next/sidebars.json
Labels: documentation

#16347 Fix #16288: add styling to handle overflow text on ownership and members card
  .changeset/selfish-hats-wait.md
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.test.tsx
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
  plugins/org/src/components/Cards/OwnershipCard/ComponentsGrid.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
Labels: stale

#16675 microsite: Fix missing missing image
  docs/features/software-catalog/index.md
Labels: documentation

#16670 Fix the scaffolder validator for arrays when the item is a field in the object
  .changeset/silent-dryers-end.md
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
  plugins/scaffolder/src/components/TemplatePage/createValidator.test.ts
  plugins/scaffolder/src/components/TemplatePage/createValidator.ts
Labels: scaffolder

#16576 fix(SearchPagination): disable next button on last page
  .changeset/empty-books-occur.md
  plugins/search-react/api-report.md
  plugins/search-react/src/components/SearchPagination/SearchPagination.tsx
Labels: search

#16184 New catalog-backend-module-puppetdb plugin
  .changeset/fifty-beds-dress.md
  .github/CODEOWNERS
  microsite/data/plugins/catalog-backend-module-puppetdb.yaml
  plugins/catalog-backend-module-puppetdb/.eslintrc.js
  plugins/catalog-backend-module-puppetdb/README.md
  plugins/catalog-backend-module-puppetdb/api-report.md
  plugins/catalog-backend-module-puppetdb/config.d.ts
  plugins/catalog-backend-module-puppetdb/package.json
  plugins/catalog-backend-module-puppetdb/src/index.ts
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProvider.test.ts
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProvider.ts
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProviderConfig.test.ts
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProviderConfig.ts
  plugins/catalog-backend-module-puppetdb/src/providers/constants.ts
  plugins/catalog-backend-module-puppetdb/src/providers/index.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/constants.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/index.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/read.test.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/read.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/transformers.test.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/transformers.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/types.ts
  plugins/catalog-backend-module-puppetdb/src/setupTests.ts
  yarn.lock
Labels: catalog, microsite

#16657 Add Harness Feature Flags plugin to the microsite
  microsite/data/plugins/harness-feature-flags.yaml
Labels: microsite

#16695 Fix. new relic dashboard icon bug #16307
  microsite/data/plugins/newrelic-dashboard.yaml
Labels: microsite

#16688 chore: small tweaks for getting involved
  CONTRIBUTING.md
  docs/getting-started/getting-involved.md
  microsite-next/sidebars.json
Labels: documentation

#16708 microsite-next: redirects for new index pages + fix links
  README.md
  contrib/catalog/README.md
  docs/FAQ.md
  docs/features/techdocs/cli.md
  docs/features/techdocs/how-to-guides.md
  docs/getting-started/create-an-app.md
  docs/plugins/integrating-search-into-plugins.md
  microsite-next/docusaurus.config.js
  microsite-next/src/pages/home/_home.tsx
  microsite/blog/2020-08-05-announcing-backstage-software-templates.md
  microsite/blog/2020-09-08-announcing-tech-docs.md
  microsite/blog/2021-06-24-announcing-backstage-search-platform.md
  microsite/blog/2022-03-17-backstage-1.0.md
  microsite/blog/2022-05-13-techdocs-addon-framework.md
  microsite/blog/2022-07-19-releasing-backstage-search-1.0.md
  microsite/blog/2023-01-31-incremental-entity-provider.md
  packages/backend/README.md
  packages/create-app/templates/default-app/app-config.production.yaml
  packages/create-app/templates/default-app/packages/backend/README.md
  plugins/catalog-backend/README.md
  plugins/catalog-common/src/permissions.ts
  plugins/catalog-customized/README.md
  plugins/catalog-import/src/api/CatalogImportClient.ts
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
  plugins/catalog/README.md
  plugins/scaffolder-backend/README.md
  plugins/scaffolder/README.md
  plugins/techdocs-backend/examples/documented-component/docs/index.md
Labels: documentation, catalog, techdocs, microsite, scaffolder

#16709 docs/local-dev: fix incorrect exports command
  docs/local-dev/cli-build-system.md
Labels: documentation

#16680 docs/backend-system: add extension point example to plugin building docs
  docs/backend-system/building-plugins-and-modules/01-index.md
Labels: documentation

#16713 Use page theme fontColor consistently in scaffolder headers and cards.
  .changeset/cool-feet-speak.md
  plugins/scaffolder-react/src/next/components/TemplateCard/CardHeader.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/next/TemplateListPage/ContextMenu.tsx
Labels: scaffolder

#16585 feat: allow entity switch to render all cases that match
  .changeset/silver-bikes-breathe.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.tsx
Labels: catalog

#16652 upgrade aws-sdk to v3 for AwsS3UrlReader
  .changeset/rotten-panthers-share.md
  packages/backend-common/api-report.md
  packages/backend-common/package.json
  packages/backend-common/src/reading/AwsS3UrlReader.test.ts
  packages/backend-common/src/reading/AwsS3UrlReader.ts
  plugins/catalog-backend-module-aws/package.json
  plugins/catalog-backend-module-aws/src/processors/AwsS3DiscoveryProcessor.test.ts
  yarn.lock
Labels: catalog

#16468 Filter GitLab groups by prefix in GitlabOrgDiscoveryEntityProvider
  .changeset/wild-bulldogs-suffer.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: documentation, catalog

#16577 Support full entity refs in the EntityPicker
  .changeset/eighty-chairs-roll.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: scaffolder

#16735 Scaffolder next docs: Fix import of createNextScaffolderFieldExtension
  docs/features/software-templates/testing-scaffolder-alpha.md
Labels: documentation

#16739 Fix catalog write action so that you can pass through props
  .changeset/honest-clouds-shout.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
Labels: scaffolder

#16729 try to fix windows build error
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
Labels: techdocs

#16401 GitLab auth provider gets ID tokens and be used as a k8s oidcTokenProvider
  .changeset/light-bees-end.md
  .changeset/rotten-cats-matter.md
  .changeset/young-walls-prove.md
  docs/auth/gitlab/provider.md
  docs/features/kubernetes/configuration.md
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.test.ts
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.ts
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/apis/definitions/auth.ts
  packages/integration-react/api-report.md
  plugins/kubernetes/src/plugin.ts
Labels: documentation, auth

#16020 Make identity of backend applications valid
  .changeset/backend-token-authentication.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#16658 chore: allow undefined containerRunner in cookiecutter
  .changeset/nine-bikes-applaud.md
  plugins/scaffolder-backend-module-cookiecutter/README.md
  plugins/scaffolder-backend-module-cookiecutter/api-report.md
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.test.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
Labels: scaffolder

#16686 Fix default icon for plugins broken link
  microsite/pages/en/plugins.js
Labels: microsite

#16747 Revert "Allow to change default document type of indexed files by catalog col…"
  .changeset/wet-pugs-exist.md
  docs/features/search/how-to-guides.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/search/DefaultCatalogCollatorFactory.ts
Labels: documentation, catalog

#16766 fix: entity switch result when there is no default case
  .changeset/gorgeous-pumas-speak.md
  .changeset/silver-bikes-breathe.md
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.test.tsx
  plugins/catalog/src/components/EntitySwitch/EntitySwitch.tsx
Labels: catalog

#16748 docs: the edit button is at the bottom of the page
  docs/overview/adopting.md
Labels: documentation

#16664 Add titles to codeblocks and switch from diff codeblock to language codeblock
  docs/auth/cloudflare/access.md
  docs/auth/google/gcp-iap-auth.md
  docs/auth/index.md
  docs/auth/microsoft/azure-easyauth.md
  docs/auth/oauth2-proxy/provider.md
  docs/auth/oidc.md
  docs/auth/service-to-service-auth.md
  docs/backend-system/building-backends/08-migrating.md
  docs/features/kubernetes/installation.md
  docs/features/search/how-to-guides.md
  docs/features/software-catalog/catalog-customization.md
  docs/features/software-catalog/extending-the-model.md
  docs/features/software-catalog/external-integrations.md
  docs/features/software-templates/builtin-actions.md
  docs/features/software-templates/migrating-from-v1beta2-to-v1beta3.md
  docs/features/software-templates/testing-scaffolder-alpha.md
  docs/features/techdocs/getting-started.md
  docs/getting-started/app-custom-theme.md
  docs/getting-started/configuration.md
  docs/getting-started/configure-app-with-plugins.md
  docs/getting-started/homepage.md
  docs/integrations/azure/discovery.md
  docs/integrations/azure/org.md
  docs/integrations/bitbucketCloud/discovery.md
  docs/integrations/bitbucketServer/discovery.md
  docs/integrations/github/discovery.md
  docs/integrations/github/org.md
  docs/integrations/gitlab/discovery.md
  docs/integrations/ldap/org.md
  docs/permissions/custom-rules.md
  docs/permissions/frontend-integration.md
  docs/permissions/getting-started.md
  docs/permissions/plugin-authors/01-setup.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permissions/plugin-authors/05-frontend-authorization.md
  docs/permissions/writing-a-policy.md
  docs/tutorials/migrating-away-from-core.md
  docs/tutorials/react-router-stable-migration.md
  docs/tutorials/switching-sqlite-postgres.md
  docs/tutorials/yarn-migration.md
  microsite-next/docusaurus.config.js
  microsite-next/src/css/customTheme.css
Labels: documentation

#16804 docs/local-dev: fix docs for `new`
  docs/local-dev/cli-commands.md
Labels: documentation

#16808 bump the openstack swift sdk to get a newer file-type
  .changeset/cold-plants-boil.md
  plugins/techdocs-node/package.json
  yarn.lock
Labels: techdocs

#16796 Do not show timer for skipped steps
  .changeset/mean-emus-hide.md
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.test.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.tsx
Labels: scaffolder

#16831 catalog-client: getEntitiesByRefs should return undefined
  .changeset/tidy-ties-guess.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
Labels: catalog

#16800 Kk/feature flag docs update
  docs/plugins/feature-flags.md
Labels: documentation

#16829 Handle token difference in Microsoft provider
  .changeset/many-carpets-act.md
  plugins/auth-backend/src/providers/microsoft/provider.ts
Labels: auth

#16843 Make the "Copied!" message disappear automatically after some time
  .changeset/brave-planets-grab.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
Labels: catalog

#16669 feat: add scaffolder action to get multiple entities
  .changeset/sharp-hairs-arrive.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
Labels: scaffolder

#16706 eslint-plugin: add auto fix for missing imports
  .changeset/twelve-parrots-camp.md
  packages/eslint-plugin/lib/getPackages.js
  packages/eslint-plugin/lib/visitImports.js
  packages/eslint-plugin/rules/no-undeclared-imports.js
  packages/eslint-plugin/src/no-undeclared-imports.test.ts
Labels: merge-after-release

#16601 Adding Global Agent to techdocs-cli
  .changeset/short-panthers-float.md
  docs/features/techdocs/cli.md
  packages/techdocs-cli/README.md
  packages/techdocs-cli/package.json
  yarn.lock
Labels: documentation, techdocs

#16861 Fix docs for deprecated type
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#16864 chore: release notes for 1.12.0
  docs/releases/v1.12.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#16863 chore: added a redirect for the getting-involved page
  microsite/docusaurus.config.js
Labels: microsite

#16856 Gitlab Org Data integration fetches memberships via graphQL
  .changeset/hungry-lies-cry.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: documentation, catalog

#16862 Adding new EntitySwitch for differing views depending on ResourceType
  .changeset/hungry-monkeys-reply.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntitySwitch/conditions.test.ts
  plugins/catalog/src/components/EntitySwitch/conditions.ts
  plugins/catalog/src/components/EntitySwitch/index.ts
Labels: catalog

#16872 [microsite] Fix getting involved redirect
  microsite/docusaurus.config.js
  microsite/src/pages/getting-involved/index.tsx
Labels: microsite

#15461 Cancelling the running task (executing of a scaffolder template)
  .changeset/curly-jobs-kneel.md
  docs/features/software-templates/index.md
  docs/features/software-templates/writing-custom-actions.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/types.ts
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder-react/src/hooks/useEventStream.ts
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.test.tsx
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/components/TemplatePage/TemplatePage.test.tsx
  plugins/scaffolder/src/next/OngoingTask/ContextMenu.tsx
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.test.tsx
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.test.tsx
  yarn.lock
Labels: documentation, scaffolder, merge-after-release

#16870 update imports for deprecations
  .changeset/khaki-guests-turn.md
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/package.json
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgReaderProcessor.ts
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/package.json
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.ts
  plugins/catalog-backend-module-openapi/api-report.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.ts
  plugins/catalog-backend/src/modules/core/LocationEntityProcessor.test.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/processor/ScaffolderEntitiesProcessor.ts
  yarn.lock
Labels: catalog, scaffolder

#16854 add optional custom rules to scaffolder router
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: scaffolder

#16879 fix(docs): Special encoding not needed in code fence examples
  docs/local-dev/cli-commands.md
Labels: documentation

#16888 (microsite) Add diagonal section lines & small theme improvements to docs microsite
  microsite/docusaurus.config.js
  microsite/src/components/bannerSection/bannerSection.module.scss
  microsite/src/components/bannerSection/bannerSection.tsx
  microsite/src/components/bannerSection/bannerSectionGrid.module.scss
  microsite/src/pages/community/index.tsx
  microsite/src/pages/demos/index.tsx
  microsite/src/pages/home/_home.tsx
  microsite/src/pages/home/home.module.scss
  microsite/src/theme/customTheme.scss
  microsite/src/theme/variables.scss
Labels: microsite

#16776 Fix font size and color in search result item
  .changeset/many-eggs-press.md
  plugins/search-react/src/components/DefaultResultListItem/DefaultResultListItem.tsx
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.tsx
Labels: techdocs, search

#16898 Rename output parameter `mergeRequestURL` of `publish:gitlab:merge-re…
  .changeset/bright-pumpkins-bake.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.ts
Labels: scaffolder

#16869 adding microsoft calendar plugin to backstage marketplace
  microsite/data/plugins/microsoft-calendar.yaml
  microsite/static/img/outlook-statusneo.png
Labels: microsite

#16877 Adding statusneo github plugin in backstage marketplace
  microsite/data/plugins/statusneo-github-plugin.yaml
  microsite/static/img/github-statusneo.png
Labels: microsite

#16899 feat(auth-backend): Add correct secret scoping for auth-backend secrets
  .changeset/khaki-cars-drum.md
  plugins/auth-backend/config.d.ts
Labels: auth

#16942 scaffolder/next: simplify routing in the plugin
  .changeset/neat-donkeys-work.md
  plugins/scaffolder/alpha-api-report.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/alpha.ts
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.test.tsx
  plugins/scaffolder/src/next/OngoingTask/OngoingTask.tsx
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateListPage/ContextMenu.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateGroups.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateGroups.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/next/index.ts
  plugins/scaffolder/src/next/routes.ts
  plugins/scaffolder/src/plugin.tsx
Labels: scaffolder

#16779 [scaffolder] add support to CATALOG_FILTER_EXISTS v2
  .changeset/fair-roses-stare.md
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/schema.ts
Labels: documentation, scaffolder

#16502 [GitlabDiscoveryEntityProvider] add config to distinguish between `branch` and `fallbackBranch`
  .changeset/fresh-schools-fly.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, catalog

#16795 Filter out templates
  .changeset/ten-mayflies-beam.md
  docs/features/software-templates/configuration.md
  plugins/scaffolder/alpha-api-report.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/Router.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPage.tsx
  plugins/scaffolder/src/components/TemplateList/TemplateList.test.tsx
  plugins/scaffolder/src/components/TemplateList/TemplateList.tsx
  plugins/scaffolder/src/lib/isTemplateEntity.ts
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateGroups.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateGroups.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
Labels: documentation, scaffolder

#15641 Add Scaffolder Gitlab Plugin
  .changeset/nasty-nails-appear.md
  plugins/scaffolder-backend-module-gitlab/.eslintrc.js
  plugins/scaffolder-backend-module-gitlab/README.md
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectAccessTokenAction.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectDeployTokenAction.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectDeployTokenAction.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectVariableAction.ts
  plugins/scaffolder-backend-module-gitlab/src/index.ts
  plugins/scaffolder-backend-module-gitlab/src/util.ts
  yarn.lock
Labels: scaffolder

#16880 Add isEntityWith helper method to EntitySwitch conditions
  .changeset/soft-roses-cover.md
  docs/plugins/composability.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntitySwitch/conditions.test.ts
  plugins/catalog/src/components/EntitySwitch/conditions.ts
  plugins/catalog/src/components/EntitySwitch/index.ts
Labels: documentation, catalog

#15841 Oauth2 redirect flow for authentication (instead of using popup)
  .changeset/long-gorillas-remain.md
  packages/app-defaults/src/defaults/apis.ts
  packages/core-app-api/api-report.md
  packages/core-app-api/config.d.ts
  packages/core-app-api/src/apis/implementations/auth/atlassian/AtlassianAuth.ts
  packages/core-app-api/src/apis/implementations/auth/bitbucket/BitbucketAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/bitbucket/BitbucketAuth.ts
  packages/core-app-api/src/apis/implementations/auth/bitbucketServer/BitbucketServerAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/bitbucketServer/BitbucketServerAuth.ts
  packages/core-app-api/src/apis/implementations/auth/github/GithubAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/github/GithubAuth.ts
  packages/core-app-api/src/apis/implementations/auth/gitlab/GitlabAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/gitlab/GitlabAuth.ts
  packages/core-app-api/src/apis/implementations/auth/google/GoogleAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/google/GoogleAuth.ts
  packages/core-app-api/src/apis/implementations/auth/microsoft/MicrosoftAuth.ts
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.test.ts
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.ts
  packages/core-app-api/src/apis/implementations/auth/okta/OktaAuth.test.ts
  packages/core-app-api/src/apis/implementations/auth/okta/OktaAuth.ts
  packages/core-app-api/src/apis/implementations/auth/onelogin/OneLoginAuth.ts
  packages/core-app-api/src/apis/implementations/auth/types.ts
  packages/core-app-api/src/app/types.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.test.ts
  packages/core-app-api/src/lib/AuthConnector/DefaultAuthConnector.ts
  packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.ts
  packages/core-components/src/components/OAuthRequestDialog/OAuthRequestDialog.tsx
  packages/core-components/src/layout/SignInPage/commonProvider.tsx
  packages/core-components/src/layout/SignInPage/customProvider.tsx
  packages/core-components/src/layout/SignInPage/guestProvider.tsx
  packages/core-components/src/layout/SignInPage/providers.tsx
  packages/core-components/src/layout/SignInPage/types.ts
  packages/test-utils/src/testUtils/defaultApis.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.test.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts
  plugins/auth-backend/src/lib/oauth/types.ts
  plugins/gitops-profiles/package.json
  plugins/gitops-profiles/src/components/ProfileCatalog/ProfileCatalog.test.tsx
  yarn.lock
Labels: auth, merge-after-release

#16921 fix(catalog-backend): Support full text searches across multiple fields
  .changeset/orange-rabbits-jam.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: catalog

#16915 Allow Scaffolder to accept props for custom `TemplateListPage` and `TemplateWizardPage`
  .changeset/heavy-colts-wash.md
  .changeset/swift-meals-live.md
  .changeset/weak-turtles-arrive.md
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
  plugins/scaffolder-common/src/index.ts
  plugins/scaffolder-react/alpha-api-report.md
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder-react/src/next/components/TemplateCategoryPicker/TemplateCategoryPicker.tsx
  plugins/scaffolder-react/src/next/components/TemplateGroups/TemplateGroups.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateGroups/TemplateGroups.tsx
  plugins/scaffolder-react/src/next/components/TemplateGroups/index.ts
  plugins/scaffolder-react/src/next/components/index.ts
  plugins/scaffolder/alpha-api-report.md
  plugins/scaffolder/src/alpha.ts
  plugins/scaffolder/src/components/TemplateList/TemplateList.tsx
  plugins/scaffolder/src/next/Router/Router.test.tsx
  plugins/scaffolder/src/next/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
  plugins/scaffolder/src/next/TemplateListPage/index.ts
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/index.ts
Labels: scaffolder

#16836 feat(cli): support import of .md files
  .changeset/eleven-coats-refuse.md
  docs/local-dev/cli-build-system.md
  packages/cli/asset-types/asset-types.d.ts
  packages/cli/src/lib/builder/config.ts
Labels: documentation

#16991 Fix routing with feature flags in example-app
  docs/features/software-templates/testing-scaffolder-alpha.md
  packages/app/src/App.tsx
Labels: documentation

#16935 Added `fetch:plain:file` action to fetch a single file
  .changeset/fuzzy-wombats-search.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/helpers.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.ts
Labels: scaffolder

#16815 Update docs prism theme
  docs/features/software-templates/testing-scaffolder-alpha.md
  microsite/README.md
  microsite/docusaurus.config.js
  microsite/package.json
  microsite/src/theme/customTheme.scss
  microsite/yarn.lock
Labels: documentation, microsite

#17023 microsite: uppercase TL;DR in blog post
  microsite/blog/2023-03-15-backstage-turns-3.md
Labels: microsite

#17001 Allow Replacement Of BuiltinKindsEntityProcessor
  .changeset/silly-adults-accept.md
  docs/features/software-catalog/extending-the-model.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: documentation, catalog

#17046 add a test for cascading deletes in the catalog
  plugins/catalog-backend/src/migrations.test.ts
Labels: catalog

#16857 Rename AWS CodeSuite plugin to AWS Code Services
  microsite/data/plugins/aws-codeservices.yaml
  microsite/data/plugins/aws-codesuite.yaml
Labels: microsite

#16607 fix(docs): TechDocs grid sample code
  docs/features/techdocs/how-to-guides.md
Labels: documentation, techdocs

#17124 [Techdocs] A11y: Change anchor links color in Techdocs content
  .changeset/olive-cycles-join.md
  plugins/techdocs/src/reader/transformers/styles/rules/variables.ts
Labels: techdocs

#17013 Doc/plugin
  docs/plugins/composability.md
  docs/plugins/structure-of-a-plugin.md
Labels: documentation

#16910 Improve type-check for scaffolder output parameters
  .changeset/good-papayas-lay.md
  plugins/scaffolder-backend-module-confluence-to-markdown/api-report.md
  plugins/scaffolder-backend-module-cookiecutter/api-report.md
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-rails/api-report.md
  plugins/scaffolder-backend-module-sentry/api-report.md
  plugins/scaffolder-backend-module-yeoman/api-report.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/createTemplateAction.ts
  plugins/scaffolder-node/src/actions/types.ts
Labels: scaffolder

#16938 scaffolder: naming conventions for actions convention
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#17094 Bump to TypeScript 5.0
  .changeset/clean-teachers-thank.md
  .changeset/flat-ways-compete.md
  .changeset/itchy-ads-sit.md
  .changeset/neat-pears-argue.md
  .changeset/weak-oranges-give.md
  package.json
  packages/cli/package.json
  packages/cli/src/lib/new/FactoryRegistry.ts
  packages/cli/src/lib/new/types.ts
  packages/core-app-api/api-report.md
  packages/core-components/src/components/Table/Table.tsx
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/analytics/AnalyticsContext.tsx
  packages/core-plugin-api/src/apis/system/useApi.tsx
  packages/create-app/templates/default-app/package.json.hbs
  packages/test-utils/api-report.md
  packages/test-utils/src/testUtils/apis/StorageApi/MockStorageApi.ts
  packages/test-utils/src/testUtils/appWrappers.tsx
  plugins/bitrise/package.json
  plugins/catalog-backend/alpha-api-report.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityRefLink/FetchedEntityRefLinks.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/cicd-statistics/package.json
  plugins/cicd-statistics/src/charts/logic/daily-summary.ts
  plugins/cicd-statistics/src/charts/status-chart.tsx
  plugins/cicd-statistics/src/components/utils.tsx
  plugins/code-coverage/package.json
  plugins/cost-insights/package.json
  plugins/entity-feedback/src/components/StarredRatingButtons/StarredRatingButtons.tsx
  plugins/git-release-manager/package.json
  plugins/github-issues/src/components/GithubIssues/IssuesList/IssuesList.tsx
  plugins/permission-node/api-report.md
  plugins/playlist-backend/api-report.md
  plugins/playlist/src/hooks/usePlaylistList.tsx
  plugins/rollbar-backend/api-report.md
  plugins/rollbar-backend/package.json
  plugins/rollbar-backend/src/api/RollbarApi.ts
  plugins/scaffolder-backend/alpha-api-report.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/createTemplateAction.ts
  plugins/scaffolder-node/src/actions/types.ts
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/extensions/types.ts
  plugins/sonarqube/dev/index.tsx
  plugins/stack-overflow/src/home/StackOverflowQuestions/Content.tsx
  plugins/techdocs-module-addons-contrib/package.json
  plugins/xcmetrics/package.json
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Labels: catalog, auth, techdocs, scaffolder

#17159 Mini grammar correction in docs
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation
