Repository backstage/backstage, pull requests merged in 2023-09, with the labels that each got.

#19703 fix(GithubMultiOrgEntityProvider): handle undefined values from userTransformer
  .changeset/weak-tomatoes-dance.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: area:catalog

#19721 Added apt-get update for sqlite dependency install
  .changeset/late-hounds-yell.md
  docs/deployment/docker.md
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#19588 Added AWS documentation in Kubernetes Authentication Documentation
  docs/features/kubernetes/authentication.md
Labels: documentation, area:kubernetes

#19837 chore: expand techdocs.publisher.type with new types
  .changeset/cuddly-avocados-warn.md
  plugins/techdocs-backend/config.d.ts
Labels: area:techdocs

#19390 Fixes the missing borders on customizable homepage cards
  .changeset/big-masks-divide.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Labels: homepage, area:discoverability

#19842 Enables dry-run for yeoman scaffolder action
  .changeset/big-spies-agree.md
  plugins/scaffolder-backend-module-yeoman/src/actions/run/yeoman.ts
Labels: scaffolder

#19594 feat(scaffolder): allow default kind and namespace args on parseEntityRef filter
  .changeset/tame-jokes-do.md
  docs/features/software-templates/writing-templates.md
  plugins/scaffolder-backend/src/lib/templating/filters.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
Labels: documentation, scaffolder

#19860 Restore functionality to OwnedEntityPicker
  .changeset/grumpy-bikes-beg.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/schema.ts
Labels: scaffolder

#19876 Moved `ScaffolderEntitiesProcessor` and `catalogModuleTemplateKind` to a dedicated module
  .changeset/twenty-worms-enjoy.md
  .changeset/wet-donuts-fry.md
  docs/features/software-catalog/extending-the-model.md
  packages/backend-next/package.json
  packages/backend-next/src/index.ts
  packages/backend/package.json
  packages/backend/src/plugins/catalog.ts
  plugins/catalog-backend-module-scaffolder-entity-model/.eslintrc.js
  plugins/catalog-backend-module-scaffolder-entity-model/README.md
  plugins/catalog-backend-module-scaffolder-entity-model/api-report.md
  plugins/catalog-backend-module-scaffolder-entity-model/package.json
  plugins/catalog-backend-module-scaffolder-entity-model/src/index.ts
  plugins/catalog-backend-module-scaffolder-entity-model/src/module.test.ts
  plugins/catalog-backend-module-scaffolder-entity-model/src/module.ts
  plugins/catalog-backend-module-scaffolder-entity-model/src/processor/ScaffolderEntitiesProcessor.test.ts
  plugins/catalog-backend-module-scaffolder-entity-model/src/processor/ScaffolderEntitiesProcessor.ts
  plugins/catalog-backend-module-scaffolder-entity-model/src/processor/index.ts
  plugins/scaffolder-backend/alpha-api-report.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/alpha.ts
  plugins/scaffolder-backend/src/deprecated.ts
  plugins/scaffolder-backend/src/index.ts
  yarn.lock
Labels: documentation, area:catalog, scaffolder

#19771 Fixed table sort in NewRelicFetchComponent
  .changeset/mean-queens-act.md
  plugins/newrelic/src/components/NewRelicFetchComponent/NewRelicFetchComponent.tsx
Labels: stale

#19365 Docs: Add warning about backend APIs not having auth by default
  docs/auth/index.md
Labels: documentation

#19696 auth: add `oauth2` provider module
  .changeset/dull-eyes-pay.md
  plugins/auth-backend-module-oauth2-provider/.eslintrc.js
  plugins/auth-backend-module-oauth2-provider/README.md
  plugins/auth-backend-module-oauth2-provider/api-report.md
  plugins/auth-backend-module-oauth2-provider/catalog-info.yaml
  plugins/auth-backend-module-oauth2-provider/config.d.ts
  plugins/auth-backend-module-oauth2-provider/dev/index.ts
  plugins/auth-backend-module-oauth2-provider/package.json
  plugins/auth-backend-module-oauth2-provider/src/authenticator.ts
  plugins/auth-backend-module-oauth2-provider/src/index.ts
  plugins/auth-backend-module-oauth2-provider/src/module.test.ts
  plugins/auth-backend-module-oauth2-provider/src/module.ts
  plugins/auth-backend-module-oauth2-provider/src/resolvers.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/oauth2/provider.test.ts
  plugins/auth-backend/src/providers/oauth2/provider.ts
  yarn.lock
Labels: auth

#18889 Fix user ingestion for GitlabOrgDiscoveryEntityProvider for GitLab.com
  .changeset/thick-pets-drive.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: documentation, area:catalog

#19845 Fix bug 18924: caFile configuration is used when the Middleware is created
  .changeset/fifty-pigs-travel.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: area:kubernetes

#19606 Automate `catalog-info.yaml` file upkeep
  .github/workflows/ci.yml
  package.json
  packages/app-next-example-plugin/catalog-info.yaml
  packages/backend-plugin-manager/catalog-info.yaml
  plugins/catalog-backend-module-scaffolder-entity-model/catalog-info.yaml
  plugins/permission-backend-module-policy-allow-all/catalog-info.yaml
Labels: area:catalog, area:permission

#19702 Refactored contributors guide
  .github/vale/Vocab/Backstage/accept.txt
  CONTRIBUTING.md
  docs/getting-started/contributors.md
  docs/getting-started/create-an-app.md
  docs/getting-started/index.md
  mkdocs.yml
Labels: documentation

#19916 add cognitive-search plugin yaml for marketplace
  microsite/data/plugins/search-backend-module-cognitive-search.yaml
Labels: microsite

#19900 docs: fix typo
  docs/local-dev/cli-build-system.md
Labels: documentation

#19905 Create veecode-github-workflows
  microsite/data/plugins/veecode-github-workflows
Labels: microsite

#19412 Adding azure case in AnnotateScmSlugEntityProcessor
  .changeset/tiny-bulldogs-grow.md
  plugins/catalog-backend/src/modules/core/AnnotateScmSlugEntityProcessor.test.ts
  plugins/catalog-backend/src/modules/core/AnnotateScmSlugEntityProcessor.ts
Labels: area:catalog

#19903 Configurable Kubernetes Authentication Strategies
  .changeset/afraid-apes-smell.md
  .changeset/new-frogs-punch.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/auth/AksStrategy.test.ts
  plugins/kubernetes-backend/src/auth/AksStrategy.ts
  plugins/kubernetes-backend/src/auth/AnonymousStrategy.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.test.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.ts
  plugins/kubernetes-backend/src/auth/AzureIdentityStrategy.test.ts
  plugins/kubernetes-backend/src/auth/AzureIdentityStrategy.ts
  plugins/kubernetes-backend/src/auth/DispatchStrategy.test.ts
  plugins/kubernetes-backend/src/auth/DispatchStrategy.ts
  plugins/kubernetes-backend/src/auth/GoogleServiceAccountStrategy.ts
  plugins/kubernetes-backend/src/auth/GoogleStrategy.ts
  plugins/kubernetes-backend/src/auth/OidcStrategy.test.ts
  plugins/kubernetes-backend/src/auth/OidcStrategy.ts
  plugins/kubernetes-backend/src/auth/ServiceAccountStrategy.test.ts
  plugins/kubernetes-backend/src/auth/ServiceAccountStrategy.ts
  plugins/kubernetes-backend/src/auth/index.ts
  plugins/kubernetes-backend/src/auth/types.ts
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/LocalKubectlProxyLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.ts
  plugins/kubernetes-backend/src/index.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/DispatchingKubernetesAuthTranslator.test.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/DispatchingKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/OidcKubernetesAuthTranslator.test.ts
  plugins/kubernetes-backend/src/kubernetes-auth-translator/OidcKubernetesAuthTranslator.ts
  plugins/kubernetes-backend/src/service-locator/MultiTenantServiceLocator.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
  plugins/kubernetes-backend/src/types/types.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes/package.json
  plugins/kubernetes/src/kubernetes-auth-provider/KubernetesAuthProviders.test.ts
  plugins/kubernetes/src/kubernetes-auth-provider/OidcKubernetesAuthProvider.ts
  yarn.lock
Labels: area:kubernetes

#19977 attempt at fixing some windows test failures
  packages/config-loader/src/sources/ConfigSources.test.ts
  packages/repo-tools/src/lib/paths.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/bitbucket.examples.test.ts
Labels: scaffolder

#19989 backend-common: lazy root logger initialization
  .changeset/friendly-teachers-attend.md
  packages/backend-common/src/logging/createRootLogger.ts
  packages/backend-common/src/logging/globalLoggers.ts
  plugins/app-backend/src/service/appPlugin.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/githubPullRequest.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/publish/gitlabMergeRequest.test.ts
Labels: scaffolder

#19987 🧹 break some circular imports
  .changeset/ten-wasps-serve.md
  packages/core-components/src/layout/Sidebar/MobileSidebar.tsx
  packages/core-components/src/layout/Sidebar/MobileSidebarContext.ts
  packages/core-components/src/layout/Sidebar/SidebarGroup.test.tsx
  packages/core-components/src/layout/Sidebar/SidebarGroup.tsx
  plugins/catalog-backend-module-github/src/lib/annotation.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/lib/withLocations.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  plugins/playlist/src/components/PlaylistIndexPage/PlaylistIndexPage.tsx
  plugins/playlist/src/hooks/PlaylistListProvider.test.tsx
  plugins/playlist/src/hooks/PlaylistListProvider.tsx
  plugins/playlist/src/hooks/usePlaylistList.tsx
  plugins/search-react/src/extensions.tsx
Labels: area:catalog, search, area:discoverability

#19928 Add Entity Validation plugin to Marketplace
  microsite/data/plugins/entity-validation.yaml
  microsite/static/img/entity-validation.svg
Labels: microsite

#19923 switch to TypeScript 5.0 + 5.2 in create-app
  .changeset/cold-pillows-glow.md
  package.json
  packages/create-app/templates/default-app/package.json.hbs
  packages/frontend-plugin-api/api-report.md
  plugins/catalog-backend/alpha-api-report.md
  plugins/permission-node/api-report.md
  plugins/playlist-backend/api-report.md
  plugins/scaffolder-backend/alpha-api-report.md
  plugins/scaffolder-node/src/actions/createTemplateAction.ts
  plugins/scaffolder-react/api-report.md
  yarn.lock
Labels: area:catalog, scaffolder, area:permission

#19952 fix: Handle Proxy WS upgrade manually for WS handshakes
  .changeset/clean-icons-wonder.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
  yarn.lock
Labels: area:kubernetes

#18188 feature: add AutoLogout
  .changeset/many-panthers-wink.md
  docs/assets/auth/autologout-preview.png
  docs/auth/autologout.md
  microsite/sidebars.json
  packages/core-components/api-report.md
  packages/core-components/config.d.ts
  packages/core-components/package.json
  packages/core-components/src/components/AutoLogout/AutoLogout.tsx
  packages/core-components/src/components/AutoLogout/Autologout.test.tsx
  packages/core-components/src/components/AutoLogout/StillTherePrompt.tsx
  packages/core-components/src/components/AutoLogout/disconnectedUsers.test.ts
  packages/core-components/src/components/AutoLogout/disconnectedUsers.ts
  packages/core-components/src/components/AutoLogout/index.ts
  packages/core-components/src/components/AutoLogout/timestampStore.test.ts
  packages/core-components/src/components/AutoLogout/timestampStore.ts
  packages/core-components/src/components/index.ts
  yarn.lock
Labels: documentation, microsite

#20014 fix the link in the release process doc
  docs/publishing.md
Labels: documentation

#20022 docs: 1.18 release notes
  docs/releases/v1.18.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#19976 Bump Docker base image from 'node:16-bullseye-slim' to 'node:18-bulls…
  .changeset/small-pugs-build.md
  docs/deployment/docker.md
  docs/local-dev/cli-build-system.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#19565 Switch to Node.js v18 + v20
  .changeset/silent-years-bake.md
  .github/workflows/ci-noop.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/sync_release-manifest.yml
  .github/workflows/uffizzi-build.yml
  .github/workflows/verify_accessibility.yml
  .github/workflows/verify_e2e-kubernetes-noop.yml
  .github/workflows/verify_e2e-kubernetes.yml
  .github/workflows/verify_e2e-linux-noop.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-techdocs.yml
  .github/workflows/verify_e2e-windows-noop.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_storybook.yml
  .github/workflows/verify_windows.yml
  .yarn/patches/mock-fs-npm-5.2.0-5103a7b507.patch
  package.json
  packages/backend-common/package.json
  packages/backend-common/src/reading/ReadUrlResponseFactory.test.ts
  packages/backend-common/src/reading/tree/ReadableArrayResponse.test.ts
  packages/backend-defaults/src/CreateBackend.test.ts
  packages/backend-plugin-manager/src/manager/plugin-manager.test.ts
  packages/backend-plugin-manager/src/scanner/plugin-scanner.test.ts
  packages/cli-common/package.json
  packages/cli/package.json
  packages/codemods/package.json
  packages/config-loader/package.json
  packages/core-app-api/src/app/defaultConfigLoader.test.ts
  packages/create-app/package.json
  packages/create-app/src/lib/tasks.test.ts
  packages/create-app/templates/default-app/package.json.hbs
  packages/e2e-test/package.json
  packages/e2e-test/src/commands/run.ts
  packages/repo-tools/package.json
  packages/techdocs-cli/package.json
  plugins/app-backend/package.json
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.test.ts
  plugins/techdocs-node/package.json
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  yarn.lock
Labels: area:techdocs, scaffolder

#20006 document breaking change to custom clusterSuppliers
  plugins/kubernetes-backend/CHANGELOG.md
Labels: area:kubernetes

#20051 docs: add missing attributions to 1.18 release notes
  docs/releases/v1.18.0.md
Labels: documentation

#20009 Fix 18778 : template editor fails with multiple templates per file
  .changeset/large-comics-knock.md
  plugins/scaffolder/src/components/TemplateEditorPage/TemplateEditorForm.tsx
Labels: scaffolder

#20063 rename plugin listing page to directory
  docs/FAQ.md
  docs/dls/design.md
  docs/getting-started/configure-app-with-plugins.md
  docs/getting-started/project-structure.md
  docs/plugins/add-to-directory.md
  docs/plugins/existing-plugins.md
  microsite/sidebars.json
  microsite/src/pages/on-demand/index.tsx
  microsite/src/pages/on-demand/onDemand.module.scss
  microsite/src/pages/plugins/index.tsx
  microsite/src/pages/plugins/plugins.module.scss
  mkdocs.yml
Labels: documentation, microsite

#20039 Ensure that all relevant config fields are properly marked as secret
  .changeset/dull-bugs-build.md
  packages/integration/config.d.ts
  plugins/search-backend-module-elasticsearch/config.d.ts
Labels: search, area:discoverability

#19575 catalog: encode entity name in EntityRefLink
  .changeset/dull-experts-kiss.md
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLink.test.tsx
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLink.tsx
Labels: area:catalog

#20069 adjust the backend system warning texts
  docs/backend-system/architecture/01-index.md
  docs/backend-system/architecture/02-backends.md
  docs/backend-system/architecture/03-services.md
  docs/backend-system/architecture/04-plugins.md
  docs/backend-system/architecture/05-extension-points.md
  docs/backend-system/architecture/06-modules.md
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/building-backends/08-migrating.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/building-plugins-and-modules/02-testing.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  docs/backend-system/core-services/01-index.md
  docs/backend-system/index.md
  docs/plugins/new-backend-system.md
Labels: documentation

#20072 remove duplicate app icon link
  .changeset/big-spies-beam.md
  packages/app-next/public/index.html
  packages/app/public/index.html
  packages/create-app/templates/default-app/packages/app/public/index.html
  packages/techdocs-cli-embedded-app/public/index.html
Labels: area:techdocs

#20081 docs: update instructions for Techdocs setup with Docker
  .github/vale/Vocab/Backstage/accept.txt
  docs/features/techdocs/getting-started.md
Labels: documentation

#20068 Update external-integrations.md
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#20119 fix typo in internationalization doc
  docs/plugins/internationalization.md
Labels: documentation

#20048 Set base node image to node:18-bookworm-slim
  .changeset/dull-laws-camp.md
  docs/deployment/docker.md
  docs/local-dev/cli-build-system.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#20099 improve provider error messages during ingestion
  .changeset/gentle-spies-deny.md
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.ts
  plugins/catalog-backend-module-azure/src/providers/AzureDevOpsEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProvider.ts
Labels: area:catalog

#20110 Instrument some more catalog things which are missing in OT
  .changeset/spotty-badgers-wash.md
  plugins/catalog-backend/src/database/metrics.ts
Labels: area:catalog

#20082 ensure stitching happens after eager deletion
  .changeset/lovely-coins-occur.md
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.test.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.ts
Labels: area:catalog

#20154 Patch release of #20082
  package.json
  packages/backend-next/CHANGELOG.md
  packages/backend-next/package.json
  packages/backend-plugin-manager/CHANGELOG.md
  packages/backend-plugin-manager/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/catalog-backend-module-github/CHANGELOG.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-incremental-ingestion/CHANGELOG.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-openapi/CHANGELOG.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.test.ts
  plugins/catalog-backend/src/database/operations/provider/deleteWithEagerPruningOfChildren.ts
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
Labels: area:catalog, scaffolder

#19869 Internal refactors as a path toward #18062
  .changeset/polite-donuts-fail.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/operations/stitcher/buildEntitySearch.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/buildEntitySearch.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.ts
  plugins/catalog-backend/src/database/operations/stitcher/util.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.test.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.ts
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/processing/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.test.ts
  plugins/catalog-backend/src/stitching/DefaultStitcher.ts
  plugins/catalog-backend/src/stitching/Stitcher.ts
  plugins/catalog-backend/src/stitching/progressTracker.ts
  plugins/catalog-backend/src/stitching/types.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
Labels: area:catalog

#19607 add how to section for using other mkdocs plugins
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#19910 feat(catalog): include owner in search result item
  .changeset/lemon-cups-wait.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
Labels: area:discoverability

#20181 Register Pulumi plugin
  microsite/data/plugins/pulumi.yaml
Labels: microsite

#19873 chore: add kind column by default to TechDocsTable
  .changeset/stupid-drinks-trade.md
  plugins/techdocs/api-report.md
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/columns.tsx
Labels: area:techdocs

#20217 fix: action buttons are now responsive
  microsite/src/components/contentBlock/contentBlock.tsx
Labels: microsite

#20220 docs: fixed documentation on configuring routes
  docs/plugins/plugin-development.md
Labels: documentation

#20169 [Search] Migrate search plugin to frontend DI
  .changeset/late-papayas-push.md
  .changeset/olive-cars-rescue.md
  .changeset/purple-forks-fetch.md
  .changeset/tasty-avocados-hope.md
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/frontend-app-api/src/extensions/CoreNav.tsx
  packages/frontend-app-api/src/wiring/createApp.tsx
  plugins/catalog/alpha-api-report.md
  plugins/catalog/package.json
  plugins/catalog/src/alpha.ts
  plugins/search/alpha-api-report.md
  plugins/search/package.json
  plugins/search/src/alpha.tsx
  plugins/search/src/components/SearchPage/UrlUpdater.tsx
  yarn.lock
Labels: area:catalog, search, area:discoverability

#20226 fix: watch now button and year in footer
  microsite/docusaurus.config.js
  microsite/src/pages/demos/index.tsx
Labels: microsite

#20225 docs: add release notes template
  docs/release-notes-template.md
Labels: documentation

#20165 bugfix(catalog-backend-module-gitlab): Make sure archived repos are skipped
  .changeset/shy-seas-sip.md
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Labels: area:catalog

#20265 [DI] Search plugin refinements
  plugins/search-react/alpha-api-report.md
  plugins/search-react/src/alpha.tsx
  plugins/search/src/alpha.tsx
Labels: search, area:discoverability

#20166 Updates the techdocs instructions to not fail when using zsh
  docs/features/techdocs/configuring-ci-cd.md
Labels: documentation

#20012 Update publishing.md
  docs/publishing.md
Labels: documentation
