Repository backstage/backstage, pull requests merged in 2024-06, with the labels that each got.

#24965 just some small service docs advancements
  .changeset/moody-buttons-hope.md
  docs/backend-system/core-services/permissions.md
  docs/backend-system/core-services/plugin-metadata.md
  package.json
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/AuthService.ts
  packages/backend-plugin-api/src/services/definitions/CacheService.ts
  packages/backend-plugin-api/src/services/definitions/DatabaseService.ts
  packages/backend-plugin-api/src/services/definitions/DiscoveryService.ts
  packages/backend-plugin-api/src/services/definitions/HttpAuthService.ts
  packages/backend-plugin-api/src/services/definitions/HttpRouterService.ts
  packages/backend-plugin-api/src/services/definitions/IdentityService.ts
  packages/backend-plugin-api/src/services/definitions/LifecycleService.ts
  packages/backend-plugin-api/src/services/definitions/LoggerService.ts
  packages/backend-plugin-api/src/services/definitions/PermissionsService.ts
  packages/backend-plugin-api/src/services/definitions/PluginMetadataService.ts
  packages/backend-plugin-api/src/services/definitions/RootConfigService.ts
  packages/backend-plugin-api/src/services/definitions/RootHttpRouterService.ts
  packages/backend-plugin-api/src/services/definitions/RootLifecycleService.ts
  packages/backend-plugin-api/src/services/definitions/RootLoggerService.ts
  packages/backend-plugin-api/src/services/definitions/SchedulerService.ts
  packages/backend-plugin-api/src/services/definitions/TokenManagerService.ts
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/UserInfoService.ts
Labels: documentation

#24969 feat: add readtree support for harness
  .changeset/orange-pianos-eat.md
  docs/features/techdocs/README.md
  packages/backend-common/api-report.md
  packages/backend-common/src/reading/HarnessUrlReader.test.ts
  packages/backend-common/src/reading/HarnessUrlReader.ts
  packages/integration/api-report.md
  packages/integration/src/harness/HarnessIntegration.test.ts
  packages/integration/src/harness/core.test.ts
  packages/integration/src/harness/core.ts
  packages/integration/src/harness/index.ts
Labels: documentation

#25021 catalog-backend-module-gitlab: extra release
  package.json
  plugins/catalog-backend-module-gitlab/CHANGELOG.md
  plugins/catalog-backend-module-gitlab/package.json
Labels: area:catalog

#25028 added code example for plugin-to-plugin auth
  docs/auth/service-to-service-auth.md
Labels: documentation

#25029 fix: if oidc server do not provide revocation_endpoint，we should not …
  .changeset/orange-chefs-end.md
  plugins/auth-backend-module-oidc-provider/src/authenticator.test.ts
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
Labels: auth

#25023 add infrawallet to the plugins directory
  microsite/data/plugins/infrawallet.yaml
  microsite/static/img/infrawallet-logo.png
Labels: microsite

#24861 fix: move from event-source-polyfill to fetch-event-source
  .changeset/empty-avocados-tease.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/api.test.ts
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/setupTests.ts
  plugins/techdocs/api-report.md
  plugins/techdocs/dev/index.tsx
  plugins/techdocs/package.json
  plugins/techdocs/src/alpha.tsx
  plugins/techdocs/src/client.test.ts
  plugins/techdocs/src/client.ts
  plugins/techdocs/src/event-source-polyfill.d.ts
  plugins/techdocs/src/plugin.ts
  yarn.lock
Labels: area:techdocs, area:scaffolder

#24964 fix: small typos in documentation
  docs/backend-system/architecture/07-naming-patterns.md
  docs/backend-system/building-backends/01-index.md
  docs/frontend-system/architecture/02-app.md
  docs/frontend-system/architecture/03-extensions.md
Labels: documentation

#25038 Update configuration.md
  docs/features/kubernetes/configuration.md
Labels: documentation

#25035 update package ref to alpha
  docs/backend-system/building-plugins-and-modules/08-migrating.md
Labels: documentation

#24790 [Docs] Describe default Behaviour of branch filter in the Configuration of the Github discovery provider.
  docs/integrations/github/discovery--old.md
  docs/integrations/github/discovery.md
Labels: documentation

#24777 core-*-api: backport support for external route ref default targets + config route binding
  .changeset/chilled-planes-sniff.md
  .changeset/cuddly-jobs-kick.md
  .changeset/green-apricots-invite.md
  .changeset/honest-pandas-chew.md
  .changeset/proud-readers-move.md
  .changeset/rich-teachers-agree.md
  .changeset/serious-yaks-sit.md
  .changeset/warm-mayflies-yell.md
  docs/frontend-system/architecture/07-routes.md
  docs/plugins/composability.md
  packages/app/src/App.tsx
  packages/core-app-api/src/app/AppManager.test.tsx
  packages/core-app-api/src/app/AppManager.tsx
  packages/core-app-api/src/app/resolveRouteBindings.test.ts
  packages/core-app-api/src/app/resolveRouteBindings.ts
  packages/core-app-api/src/routing/validation.ts
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/core-plugin-api/api-report.md
  packages/core-plugin-api/src/routing/ExternalRouteRef.ts
  plugins/api-docs/src/routes.ts
  plugins/catalog-graph/src/routes.ts
  plugins/catalog/src/routes.ts
  plugins/org/api-report-alpha.md
  plugins/org/api-report.md
  plugins/org/src/components/Cards/OwnershipCard/ComponentsGrid.tsx
  plugins/org/src/routes.ts
  plugins/scaffolder/src/routes.ts
Labels: documentation, area:catalog, area:scaffolder

#25012 [Github Scaffolder Module] Add boolean flag to discard authors information in createPullRequest action
  .changeset/young-apes-thank.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend/api-report.md
Labels: area:scaffolder

#24903 Fix: Autocomplete component overlapping sidebar
  .changeset/pretty-spoons-knock.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
  plugins/scaffolder-react/src/next/components/TemplateCategoryPicker/TemplateCategoryPicker.tsx
Labels: area:catalog, area:scaffolder

#24991 bep: Plugin Metadata
  beps/0009-plugin-metadata/README.md
Labels: BEP

#25016 Fixes #24996 Add filter function to EntityRelationsGraph to individually filter entities from graph
  .changeset/forty-experts-live.md
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationGraph.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

#25088 Fixed link to Tech Radar in Blog Post
  microsite/blog/2020-05-14-tech-radar-plugin.mdx
Labels: microsite

#24081 feat(EntityPicker): use EntityPresentationApi to display entities in the picker
  .changeset/slow-dolls-type.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.test.tsx
Labels: area:scaffolder

#25046 Update linking packages documentation
  docs/tooling/local-dev/linking-local-packages.md
Labels: documentation

#25109 Increase max wait time in debug:wait action to 10 minutes
  .changeset/twelve-pumpkins-fold.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.ts
Labels: area:scaffolder

#25110 microsite: add redirects for cli docs
  microsite/docusaurus.config.ts
Labels: microsite

#24353 New OneLogin auth backend module
  .changeset/breezy-planets-sparkle.md
  .changeset/wild-coats-doubt.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  plugins/auth-backend-module-onelogin-provider/.eslintrc.js
  plugins/auth-backend-module-onelogin-provider/README.md
  plugins/auth-backend-module-onelogin-provider/api-report.md
  plugins/auth-backend-module-onelogin-provider/catalog-info.yaml
  plugins/auth-backend-module-onelogin-provider/config.d.ts
  plugins/auth-backend-module-onelogin-provider/dev/index.ts
  plugins/auth-backend-module-onelogin-provider/knip-report.md
  plugins/auth-backend-module-onelogin-provider/package.json
  plugins/auth-backend-module-onelogin-provider/src/authenticator.ts
  plugins/auth-backend-module-onelogin-provider/src/index.ts
  plugins/auth-backend-module-onelogin-provider/src/module.test.ts
  plugins/auth-backend-module-onelogin-provider/src/module.ts
  plugins/auth-backend-module-onelogin-provider/src/resolvers.ts
  plugins/auth-backend-module-onelogin-provider/src/types.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/onelogin/provider.ts
  yarn.lock
Labels: auth

#25114 Fix bug with missing Actions column after adding pagination property
  .changeset/nice-kangaroos-occur.md
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.tsx
Labels: area:catalog

#25118 Update gitlab.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.ts
Labels: area:scaffolder

#25078 beps/0009: switch libraries alternative to main proposal
  beps/0009-plugin-metadata/README.md
Labels: BEP

#24513 chore: Software Template Documentation Updates
  docs/features/software-templates/input-examples.md
  docs/features/software-templates/writing-custom-actions.md
  docs/features/software-templates/writing-templates.md
  docs/features/software-templates/writing-tests-for-actions.md
Labels: documentation

#24843 Fix host for AWS Code Commit integration and add region
  .changeset/spicy-ears-raise.md
  docs/integrations/aws-codecommit/locations.md
  packages/backend-common/src/reading/AwsCodeCommitUrlReader.test.ts
  packages/integration-react/src/api/ScmIntegrationsApi.test.ts
  packages/integration/api-report.md
  packages/integration/src/awsCodeCommit/AwsCodeCommitIntegration.test.ts
  packages/integration/src/awsCodeCommit/config.test.ts
  packages/integration/src/awsCodeCommit/config.ts
Labels: documentation

#25106 fix: fix broken node-postgres url
  .changeset/rare-frogs-beam.md
  docs/deployment/flightcontrol.md
  packages/create-app/templates/default-app/app-config.production.yaml
Labels: documentation

#25129 beps/0009: move to implementable
  beps/0009-plugin-metadata/README.md
Labels: BEP

#25123 feat(gerrit): make the gitilesBaseUrl config mandatory
  .changeset/polite-emus-invent.md
  .changeset/wicked-dingos-heal.md
  docs/integrations/gerrit/locations.md
  packages/backend-defaults/api-report-urlReader.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.ts
  packages/integration/api-report.md
  packages/integration/config.d.ts
  packages/integration/src/gerrit/GerritIntegration.test.ts
  packages/integration/src/gerrit/config.test.ts
  packages/integration/src/gerrit/config.ts
  packages/integration/src/gerrit/core.test.ts
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.test.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.test.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerritReview.examples.test.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerritReview.test.ts
Labels: documentation, area:catalog, area:scaffolder

#25154 scaffolder: Fixing issues with redaction formatting
  .changeset/neat-chairs-complain.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
Labels: area:scaffolder

#25157 Patch release of #25154
  package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
Labels: area:scaffolder

#25165 Added missing provider.userSelect property in readMicrosoftGraphOrg method
  .changeset/mighty-rocks-join.md
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.ts
Labels: area:catalog

#25119 Fix bug in Azure Scaffolder that can produce a wrong repoContentsUrl
  .changeset/nasty-doors-grab.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.examples.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/azure.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/azure.ts
Labels: area:scaffolder

#24983 Update Backstage docs to include information how to leverage backstage-cli
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#24682 search-backend-module-elasticsearch: ensure all stale indices are deleted
  .changeset/wild-eyes-grab.md
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
Labels: search, area:discoverability

#25170 fix getLocationByEntity
  .changeset/three-lies-explode.md
  plugins/catalog-backend/src/modules/core/DefaultLocationStore.test.ts
  plugins/catalog-backend/src/modules/core/DefaultLocationStore.ts
Labels: area:catalog

#25198 [NBS1.0] Standardize url reader types naming
  .changeset/nervous-kings-change.md
  docs/releases/v1.28.0-next.3-changelog.md
  packages/backend-common/api-report.md
  packages/backend-common/src/reading/index.ts
  packages/backend-defaults/api-report-urlReader.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsCodeCommitUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsS3UrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GithubUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/ReadUrlResponseFactory.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/UrlReaderPredicateMux.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadTreeResponseFactory.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ReadableArrayResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/TarArchiveResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/tree/ZipArchiveResponse.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/types.ts
  packages/backend-plugin-api/CHANGELOG.md
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
Labels: documentation

#25206 add some basic aws alb docs
  docs/auth/aws-alb/provider.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#25223 docs: add new tooling section with a package metadata reference
  beps/0009-plugin-metadata/README.md
  docs/tooling/cli/02-build-system.md
  docs/tooling/package-metadata.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite, BEP

#24995 docs: ldap module correct usage of legacy provider
  docs/integrations/ldap/org--old.md
Labels: documentation, stale

#24881 fix(scaffolder): remove waiting until all fields are filled in before requesting user credentials
  .changeset/hungry-cups-jog.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: area:scaffolder

#25195 Index name + title of entity in default catalog collator
  .changeset/violet-ducks-care.md
  plugins/catalog-backend/src/search/DefaultCatalogCollator.test.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.ts
Labels: area:catalog

#25248 fix: enable support for edit_url in TechDocs
  .changeset/tasty-forks-compare.md
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: area:techdocs

#25267 fix some old style events installation instructions
  docs/integrations/gitlab/discovery.md
  docs/integrations/gitlab/org.md
Labels: documentation

#24729 feat(userInfo): implement persisting user info to support limited tokens
  .changeset/cold-comics-rush.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/services/implementations/auth/DefaultAuthService.ts
  packages/backend-app-api/src/services/implementations/auth/authServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/auth/user/UserTokenHandler.test.ts
  packages/backend-app-api/src/services/implementations/auth/user/UserTokenHandler.ts
  packages/backend-app-api/src/services/implementations/userInfo/userInfoServiceFactory.ts
  plugins/auth-backend/migrations/20240510120825_user_info.js
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-backend/src/identity/UserInfoDatabaseHandler.test.ts
  plugins/auth-backend/src/identity/UserInfoDatabaseHandler.ts
  plugins/auth-backend/src/identity/index.ts
  plugins/auth-backend/src/identity/router.test.ts
  plugins/auth-backend/src/identity/router.ts
  plugins/auth-backend/src/migrations.test.ts
  plugins/auth-backend/src/service/router.ts
  yarn.lock
Labels: auth

#25253 Typo Found In org.md
  docs/integrations/ldap/org.md
Labels: documentation

#25081 Fix bug in root repo import where catalog-info.yaml.hcl file breaks import
  .changeset/orange-beans-float.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.test.ts
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
Labels: area:catalog

#24950 Added Digital.ai Release plugin to the microsite
  microsite/data/plugins/digital.ai-release.yaml
  microsite/static/img/digital.ai-release.svg
Labels: microsite

#23833 feature: support imports from azure devops
  .changeset/rude-buckets-invite.md
  plugins/catalog-import/src/api/AzureDevops.test.ts
  plugins/catalog-import/src/api/AzureDevops.ts
  plugins/catalog-import/src/api/AzureRepoApiClient.test.ts
  plugins/catalog-import/src/api/AzureRepoApiClient.ts
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.ts
  plugins/catalog-import/src/api/GitHub.ts
Labels: area:catalog

#25287 Release Notes v1.28
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/releases/v1.28.0.md
  microsite/docusaurus.config.ts
  microsite/sidebars.json
Labels: documentation, microsite

#25305 Try to unbreak backend-common dependencies
  .changeset/moody-llamas-breathe.md
  .changeset/rich-bears-march.md
  packages/backend-common/package.json
  packages/techdocs-cli/package.json
  packages/techdocs-cli/src/commands/migrate/migrate.ts
  packages/techdocs-cli/src/commands/publish/publish.ts
  yarn.lock
Labels: area:techdocs

#25331 Patch release of #25326, #25330
  package.json
  packages/app-next/CHANGELOG.md
  packages/app-next/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/backend-app-api/CHANGELOG.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/http/index.ts
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/package.json
  packages/backend-dynamic-feature-service/CHANGELOG.md
  packages/backend-dynamic-feature-service/package.json
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/package.json
  packages/backend-test-utils/CHANGELOG.md
  packages/backend-test-utils/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/lib/versioning/Lockfile.ts
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  packages/techdocs-cli/CHANGELOG.md
  packages/techdocs-cli/package.json
  plugins/scaffolder-backend-module-yeoman/CHANGELOG.md
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/scaffolder-node-test-utils/CHANGELOG.md
  plugins/scaffolder-node-test-utils/package.json
  plugins/search-backend-module-pg/CHANGELOG.md
  plugins/search-backend-module-pg/package.json
  plugins/search-backend/CHANGELOG.md
  plugins/search-backend/package.json
Labels: area:techdocs, search, area:scaffolder, area:discoverability

#25286 Clean up docs container runners
  .changeset/fair-pillows-know.md
  docs/features/software-templates/writing-custom-actions.md
  docs/features/techdocs/getting-started.md
  plugins/scaffolder-backend-module-cookiecutter/README.md
  plugins/scaffolder-backend-module-gitlab/README.md
  plugins/scaffolder-backend-module-rails/README.md
Labels: documentation, area:scaffolder

#25341 document suggestion to fork AboutCard if needed
  .changeset/soft-clocks-bake.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/plugin.ts
Labels: area:catalog

#25332 Add setShadowRootVersionHash to force shadowRoot to update in provide…
  .changeset/clever-waves-judge.md
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/src/context.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
Labels: area:techdocs

#25353 fix(docs): invalid snippet code
  docs/plugins/backend-plugin.md
Labels: documentation

#25094 docs: update catalog error eventing/logging
  .changeset/ten-pots-walk.md
  docs/features/software-catalog/configuration.md
  docs/features/software-catalog/life-of-an-entity.md
  plugins/catalog-backend-module-logs/.eslintrc.js
  plugins/catalog-backend-module-logs/README.md
  plugins/catalog-backend-module-logs/api-report.md
  plugins/catalog-backend-module-logs/catalog-info.yaml
  plugins/catalog-backend-module-logs/package.json
  plugins/catalog-backend-module-logs/src/index.ts
  plugins/catalog-backend-module-logs/src/module.test.ts
  plugins/catalog-backend-module-logs/src/module.ts
  yarn.lock
Labels: documentation, area:catalog

#25369 Update discord channel name in README.md
  docs/features/techdocs/README.md
Labels: documentation

#25365 Updating template input documentation
  docs/features/software-templates/input-examples.md
Labels: documentation

#25302 fix iso duration parsing in schedules
  .changeset/curvy-teachers-smell.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.ts
  packages/backend-plugin-api/src/services/definitions/SchedulerService.test.ts
  packages/backend-plugin-api/src/services/definitions/SchedulerService.ts
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.test.ts
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.ts
  plugins/catalog-backend-module-aws/src/module/catalogModuleAwsS3EntityProvider.test.ts
  plugins/catalog-backend-module-aws/src/providers/config.test.ts
  plugins/catalog-backend-module-azure/src/module/catalogModuleAzureDevOpsEntityProvider.test.ts
  plugins/catalog-backend-module-azure/src/providers/config.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/module/catalogModuleBitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProviderConfig.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/module/catalogModuleBitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.test.ts
  plugins/catalog-backend-module-gerrit/src/module/catalogModuleGerritEntityProvider.test.ts
  plugins/catalog-backend-module-gerrit/src/providers/config.test.ts
  plugins/catalog-backend-module-github-org/src/module.test.ts
  plugins/catalog-backend-module-github/src/module/githubCatalogModule.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-gitlab-org/src/catalogModuleGitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/module/catalogModuleGitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/src/ldap/config.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/module/catalogModuleMicrosoftGraphOrgEntityProvider.test.ts
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProviderConfig.test.ts
Labels: area:catalog

#25315 feat(scaffolder): use virtualization with MultiEntityPicker
  .changeset/heavy-moose-pull.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
  yarn.lock
Labels: area:scaffolder

#25359 Support catalogFilter array on OwnedEntityPicker; addresses https://g…
  .changeset/silent-moose-eat.md
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: area:scaffolder

#25333 feat: support tag based policies
  .changeset/short-flowers-cry.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
Labels: area:scaffolder

#24633 fix(plugin-template): new plugins fail the verify-docs & verify-types check
  .changeset/shy-hounds-battle.md
  packages/cli/templates/default-backend-plugin/README.md.hbs
  packages/cli/templates/default-backend-plugin/package.json.hbs
Labels: stale

#25384 fix(scaffolder-backend-module-github): some octokit calls missing mandatory params in actions
  .changeset/ten-dancers-drum.md
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
Labels: area:scaffolder

#25380 feat(scaffolder): use virtualization with EntityPicker
  .changeset/calm-jeans-ring.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Labels: area:scaffolder

#25373 Fixed validation for RepoUrlPicker
  .changeset/honest-pears-run.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.examples.ts
  plugins/scaffolder-backend-module-azure/src/actions/azure.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/azure.ts
  plugins/scaffolder-node/src/actions/util.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/validation.test.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/validation.ts
Labels: area:scaffolder

#25024 Add topic filter to notifications-backend
  .changeset/sour-jokes-sneeze.md
  plugins/notifications-backend/src/database/DatabaseNotificationsStore.test.ts
  plugins/notifications-backend/src/database/DatabaseNotificationsStore.ts
  plugins/notifications-backend/src/database/NotificationsStore.ts
  plugins/notifications-backend/src/service/router.ts
Labels: area:notifications

#25344 Fix extra closing parenthesis in code sample
  docs/backend-system/building-plugins-and-modules/02-testing.md
Labels: documentation

#24936 #24889 - Feature: Fetch Gitlab users for self-hosted Gitlab based on group assignment
  .changeset/fifty-pumpkins-smell.md
  .gitignore
  docs/integrations/gitlab/org.md
  packages/backend/src/index.ts
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, area:catalog

#25031 [Scaffolder Bitbucket Server] Use repository default branch as target branch instead of hardcoded targetBranch
  .changeset/fair-rockets-leave.md
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.test.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.ts
Labels: area:scaffolder

#25132 feat(scaffolder): add autocompletion for Bitbucket
  .changeset/friendly-masks-type.md
  .changeset/light-avocados-worry.md
  .changeset/selfish-turtles-jog.md
  .changeset/young-donuts-swim.md
  packages/integration/api-report.md
  packages/integration/src/bitbucketCloud/config.ts
  plugins/bitbucket-cloud-common/api-report.md
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.test.ts
  plugins/bitbucket-cloud-common/src/BitbucketCloudClient.ts
  plugins/bitbucket-cloud-common/src/models/index.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/src/autocomplete/autocomplete.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/autocomplete/autocomplete.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/module.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/api-report-alpha.md
  plugins/scaffolder-node/src/alpha.ts
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.test.tsx
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/types.ts
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.test.tsx
  yarn.lock
Labels: area:scaffolder

#25281 Fix user entity not being fetched for scaffolder dry runner
  .changeset/young-fishes-lie.md
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#25366 Make useFacetsEntities fetches full entities from entity references
  .changeset/metal-jokes-add.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.test.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.ts
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.test.tsx
Labels: area:catalog

#25371 Add Harness Chaos Engineering plugin to the microsite
  microsite/data/plugins/harness-chaos.yaml
Labels: microsite

#25364 Clarity comment in Opentelemetry tutorial
  docs/tutorials/setup-opentelemetry.md
Labels: documentation

#25142 Serialization of the scaffolder workspace into GCP bucket
  .changeset/tough-lies-mate.md
  plugins/scaffolder-backend-module-gcp/.eslintrc.js
  plugins/scaffolder-backend-module-gcp/CHANGELOG.md
  plugins/scaffolder-backend-module-gcp/README.md
  plugins/scaffolder-backend-module-gcp/api-report.md
  plugins/scaffolder-backend-module-gcp/catalog-info.yaml
  plugins/scaffolder-backend-module-gcp/config.d.ts
  plugins/scaffolder-backend-module-gcp/knip-report.md
  plugins/scaffolder-backend-module-gcp/package.json
  plugins/scaffolder-backend-module-gcp/src/index.ts
  plugins/scaffolder-backend-module-gcp/src/module.ts
  plugins/scaffolder-backend-module-gcp/src/providers/GcpBucketWorkspaceProvider.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseWorkspaceProvider.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/api-report-alpha.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/alpha.ts
  plugins/scaffolder-node/src/tasks/alpha.ts
  plugins/scaffolder-node/src/tasks/serializer.test.ts
  plugins/scaffolder-node/src/tasks/serializer.ts
  yarn.lock
Labels: area:scaffolder

#25255 Update techdocs.ts container image
  .changeset/neat-dingos-tickle.md
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/stages/generate/techdocs.ts
Labels: area:techdocs

#25410 techdocs: fix double scroll bug
  .changeset/metal-parents-brush.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

#25361 TechDocs: Add publisher extension point
  .changeset/fair-fans-flow.md
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/extensions.ts
  plugins/techdocs-node/src/index.ts
  plugins/techdocs-node/src/stages/publish/index.ts
  plugins/techdocs-node/src/stages/publish/publish.test.ts
  plugins/techdocs-node/src/stages/publish/publish.ts
  plugins/techdocs-node/src/stages/publish/types.ts
Labels: area:techdocs

#25080 bump better-sqlite3 from 9.0.0 to 11.0.0
  .changeset/weak-boats-float.md
  packages/backend-common/package.json
  packages/backend-defaults/package.json
  packages/backend-legacy/package.json
  packages/backend-test-utils/package.json
  plugins/catalog-backend/package.json
  yarn.lock
Labels: area:catalog

#25425 Minor fix in the Customize the look-and-feel documentation
  docs/getting-started/app-custom-theme.md
Labels: documentation

#25429 Docs: Fix package install instructions for plugin-events-backend
  docs/features/software-catalog/configuration.md
Labels: documentation

#25451 [Blog] Add backstage engineer journey post
  microsite/blog/2024-06-27-backstage-engineer-journey.mdx
  microsite/blog/assets/2024-06-27/backstage-engineer-journey.svg
Labels: microsite

#25422 Shadow Root MutationObserver
  .changeset/clever-waves-judge.md
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/src/context.tsx
  plugins/techdocs-react/src/hooks.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
Labels: area:techdocs

#25360 GitHub: support repository events
  .changeset/poor-cheetahs-raise.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: documentation, area:catalog

#25407 Set 001-notifications BEP to "implementable"
  beps/0001-notifications-system/README.md
Labels: BEP

#25393 Fixed the incorrect naming of Harness Chaos Engineering Plugin
  microsite/data/plugins/harness-chaos.yaml
Labels: microsite

#25342 fix(docs): update extension for jsx code snippets file
  docs/frontend-system/architecture/07-routes.md
Labels: documentation

#25301 fix(scaffolder-backend-module-github): adds requireLastPushApproval input
  .changeset/ten-nails-hear.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/gitHelpers.ts
  plugins/scaffolder-backend-module-github/src/actions/github.test.ts
  plugins/scaffolder-backend-module-github/src/actions/github.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoPush.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoPush.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

#25261 Added support for only users or only groups and multiple users or multiple groups bindings
  .changeset/friendly-bulldogs-pay.md
  docs/integrations/ldap/org.md
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/config.d.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
Labels: documentation, area:catalog

#24799 chore: add relations plugin to plugin page
  microsite/data/plugins/relations.yaml
Labels: microsite, stale

#25489 fixed filename and imports for scaffolder-node-test-utils plugin
  .changeset/yellow-cows-kick.md
  plugins/scaffolder-node-test-utils/src/actions/index.ts
  plugins/scaffolder-node-test-utils/src/actions/mockActionContext.ts
Labels: area:scaffolder
