Repository backstage/backstage, pull requests merged in 2024-09, with the labels that each got.

#26384 Update extending-the-model.md
  docs/features/software-catalog/extending-the-model.md
Labels: documentation

#26409 Extend the "unable to resolve user identity" message
  .changeset/dry-glasses-push.md
  plugins/auth-node/src/sign-in/readDeclarativeSignInResolver.ts
Labels: auth

#26410 fix(docs): Fix imports for blueprints in sample plugin
  docs/frontend-system/building-plugins/01-index.md
Labels: documentation

#26379 docs: Update auth provider docs
  docs/auth/add-auth-provider.md
Labels: documentation

#26406 fix: throw proper error when missing email
  .changeset/cool-actors-sin.md
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.ts
Labels: auth

#26415 inject catalog client where possible in the new backend system
  .changeset/slimy-chefs-think.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
  plugins/catalog-backend-module-github/src/module/githubCatalogModule.ts
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-backend-module-email/src/module.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/plugin.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/techdocs-backend/api-report.md
  plugins/techdocs-backend/package.json
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.test.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.ts
  plugins/techdocs-backend/src/service/router.ts
  yarn.lock
Labels: area:catalog, area:techdocs

#26250 docs(software-templates): fix typo in URL reference
  docs/features/software-templates/input-examples.md
Labels: documentation

#26367 Improve DevTools to show additional information about failed entities
  .changeset/smart-gifts-report.md
  plugins/catalog-unprocessed-entities/package.json
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
  yarn.lock
Labels: area:catalog

#25726 Updated documentation of utility apis
  docs/api/utility-apis.md
Labels: documentation

#26228 doc: add Incremental Entity Provider to main docs for better visibility
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#25824 Updated Auth Getting started Guide
  docs/getting-started/config/authentication.md
Labels: documentation

#26355 microsite: add documentation versioning
  .github/workflows/deploy_microsite.yml
  .gitignore
  docs/.gitignore
  microsite/docusaurus.config.ts
  microsite/sidebars.json
Labels: documentation, microsite

#26437 chore(microsite): Update grafana plugin metadata
  microsite/data/plugins/grafana.yaml
Labels: microsite

#26439 feat (techdocs): Table styles
  .changeset/twenty-jobs-repeat.md
  plugins/techdocs/src/reader/transformers/styles/rules/typeset.ts
  plugins/techdocs/src/reader/transformers/styles/rules/variables.ts
Labels: area:techdocs

#26451 update installation instructions in readme files for new backend system
  .changeset/early-swans-grab.md
  plugins/devtools-backend/README.md
  plugins/scaffolder-backend-module-confluence-to-markdown/README.md
  plugins/scaffolder-backend-module-cookiecutter/README.md
  plugins/scaffolder-backend-module-gitlab/README.md
  plugins/scaffolder-backend-module-rails/README.md
  plugins/scaffolder-backend-module-sentry/README.md
  plugins/scaffolder-backend-module-yeoman/README.md
  plugins/user-settings-backend/README.md
Labels: area:scaffolder

#26459 fix(docs): Fix some more typos
  docs/frontend-system/architecture/23-extension-blueprints.md
Labels: documentation

#26445 Updated notifications docs-grammer
  docs/notifications/index.md
Labels: documentation

#26476 Update kong-service-manager.yaml
  microsite/data/plugins/kong-service-manager.yaml
Labels: microsite

#26480 fix: support `EntityPicker` ui options in `OwnedEntityPicker`
  .changeset/proud-forks-buy.md
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
Labels: area:scaffolder

#26474 Update github-workflows.yaml
  microsite/data/plugins/github-workflows.yaml
Labels: microsite

#26475 Update gitlab-pipelines.yaml
  microsite/data/plugins/gitlab-pipelines.yaml
Labels: microsite

#26477 Update kubernetes-gpt-analyzer.yaml
  microsite/data/plugins/kubernetes-gpt-analyzer.yaml
Labels: microsite

#26478 Add Webex scaffolder backend module to plugins listing
  microsite/data/plugins/scaffolder-backend-module-webex.yaml
Labels: microsite

#26363 Add support for omitExtraData and liveOmit properties in scaffolder.
  .changeset/funny-rocks-pull.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/components/types.ts
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.test.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorForm.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateFormPreviewer.tsx
Labels: area:scaffolder

#26484 feat: add overrideable FavoriteToggle to core-components
  .changeset/afraid-boxes-rhyme.md
  packages/core-components/api-report.md
  packages/core-components/src/components/FavoriteToggle/FavoriteToggle.stories.tsx
  packages/core-components/src/components/FavoriteToggle/FavoriteToggle.test.tsx
  packages/core-components/src/components/FavoriteToggle/FavoriteToggle.tsx
  packages/core-components/src/components/FavoriteToggle/index.ts
  packages/core-components/src/components/index.ts
  packages/core-components/src/overridableComponents.ts
  plugins/catalog-react/src/components/FavoriteEntity/FavoriteEntity.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/home/src/components/StarredEntityListItem/StarredEntityListItem.tsx
  plugins/techdocs/src/home/components/Tables/actions.tsx
Labels: area:catalog, area:techdocs, homepage, area:home, area:search

#26371 Update GitHub scaffolder plugin - grant ability to add custom properties to organization repos
  .changeset/plenty-hounds-poke.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/github.test.ts
  plugins/scaffolder-backend-module-github/src/actions/github.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

#26535 Fix typo in docs/getting-started doc
  docs/getting-started/index.md
Labels: documentation

#26549 fixed grammar mistakes in the front end system docs
  docs/frontend-system/architecture/00-index.md
Labels: documentation

#26539 Scaffolder Docs - Added Presentation section
  docs/features/software-templates/writing-templates.md
Labels: documentation

#26537 docs: remove unnecessary code in the Builtin actions documentation
  docs/features/software-templates/builtin-actions.md
Labels: documentation

#26499 fix(docs): Fixed various letter casing and script errors
  docs/accessibility/index.md
  docs/auth/add-auth-provider.md
  docs/auth/oidc.md
  docs/backend-system/architecture/03-services.md
  docs/backend-system/building-backends/08-migrating.md
  docs/backend-system/core-services/auth.md
  docs/backend-system/core-services/http-auth.md
  docs/backend-system/core-services/user-info.md
  docs/deployment/flightcontrol.md
  docs/features/kubernetes/installation.md
  docs/features/software-catalog/configuration.md
  docs/features/software-catalog/external-integrations.md
  docs/features/software-templates/builtin-actions.md
  docs/features/software-templates/dry-run-testing.md
  docs/features/software-templates/migrating-to-rjsf-v5.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/getting-started/config/authentication.md
  docs/getting-started/index.md
  docs/getting-started/logging-in.md
  docs/openapi/definitions/auth.yaml
  docs/overview/threat-model.md
  docs/plugins/integrating-plugin-into-software-catalog.md
Labels: documentation

#26345 feat: allow listing file contents with `debug:log`
  .changeset/fair-peaches-learn.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.ts
Labels: area:scaffolder

#26562 Prevent 3 separate React elements from being created for each part of the support title
  .changeset/odd-insects-behave.md
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.tsx
Labels: area:catalog

#26565 started on a catalog faq page
  docs/features/software-catalog/faq.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#26465 feat(scaffolder): port Bitbucket Server PR action to Bitbucket Cloud
  .changeset/fuzzy-fireants-crash.md
  plugins/scaffolder-backend-module-bitbucket-cloud/README.md
  plugins/scaffolder-backend-module-bitbucket-cloud/api-report.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.examples.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/index.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/module.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
Labels: area:scaffolder

#26479 allow custom override for entity star icon
  .changeset/happy-bags-invite.md
  packages/app-defaults/src/defaults/icons.tsx
  packages/core-app-api/api-report.md
  packages/core-app-api/src/app/types.ts
  packages/core-compat-api/src/compatWrapper/compatWrapper.test.tsx
  packages/core-components/api-report.md
  packages/core-components/src/components/FavoriteToggle/FavoriteToggle.test.tsx
  packages/core-components/src/components/FavoriteToggle/FavoriteToggle.tsx
  packages/core-components/src/icons/icons.tsx
  packages/test-utils/src/testUtils/appWrappers.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
Labels: area:catalog

#26407 [NBS Docs] Migrate bitbucket server provider to new backend system
  .changeset/fast-experts-grin.md
  .changeset/silent-oranges-trade.md
  docs/auth/bitbucketServer/provider--old.md
  docs/auth/bitbucketServer/provider.md
  plugins/auth-backend-module-bitbucket-server-provider/.eslintrc.js
  plugins/auth-backend-module-bitbucket-server-provider/README.md
  plugins/auth-backend-module-bitbucket-server-provider/api-report.md
  plugins/auth-backend-module-bitbucket-server-provider/catalog-info.yaml
  plugins/auth-backend-module-bitbucket-server-provider/config.d.ts
  plugins/auth-backend-module-bitbucket-server-provider/dev/index.ts
  plugins/auth-backend-module-bitbucket-server-provider/package.json
  plugins/auth-backend-module-bitbucket-server-provider/src/authenticator.ts
  plugins/auth-backend-module-bitbucket-server-provider/src/helpers.ts
  plugins/auth-backend-module-bitbucket-server-provider/src/index.ts
  plugins/auth-backend-module-bitbucket-server-provider/src/module.test.ts
  plugins/auth-backend-module-bitbucket-server-provider/src/module.ts
  plugins/auth-backend-module-bitbucket-server-provider/src/resolvers.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/bitbucketServer/provider.test.ts
  plugins/auth-backend/src/providers/bitbucketServer/provider.ts
  yarn.lock
Labels: documentation, auth

#26432 fix(techdocs-node): Allow mapping custom tags in mkdocs validator
  .changeset/long-peas-repeat.md
  plugins/techdocs-node/src/stages/generate/__fixtures__/mkdocs_with_extensions.yml
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: area:techdocs

#26585 Updated authentication docs
  docs/auth/index.md
Labels: documentation

#25899 feat: allow offset mode pagination in entity list
  .changeset/hip-poems-invent.md
  packages/app/src/App.tsx
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/generated/apis/DefaultApi.client.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/utils.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/index.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/testUtils/providers.tsx
  plugins/catalog-react/src/types.ts
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

#26586 [Scaffolder] copy improvements
  .changeset/bright-pillows-confess.md
  .changeset/slimy-hornets-explode.md
  packages/core-components/src/layout/ContentHeader/ContentHeader.test.tsx
  packages/core-components/src/layout/ContentHeader/ContentHeader.tsx
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26567 Expose styles for TemplateEditor, TemplateFormPreviewer and CustomFieldExplorer
  .changeset/few-icons-end.md
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/src/alpha.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/index.ts
  plugins/scaffolder/src/next/index.ts
  plugins/scaffolder/src/overridableComponents.ts
Labels: area:scaffolder

#26555 NFS: Doc updates to use `createFrontendModule` instead of `createExtensionOverrides`
  .changeset/silly-icons-agree.md
  docs/frontend-system/architecture/25-extension-overrides.md
  docs/frontend-system/architecture/60-migrations.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/utility-apis/04-configuring.md
  plugins/api-docs/README-alpha.md
  plugins/catalog-graph/README-alpha.md
  plugins/org/README-alpha.md
Labels: documentation, area:catalog

#25363 Enhance GitLabOrgDiscoveryEntityProvider to More Accurately Mirror GitLab Membership Hierarchies
  .changeset/loud-singers-happen.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, area:catalog

#26542 fix: scaffolder review step doesn't process appropriate schema for multi step templates
  .changeset/popular-pumpkins-rush.md
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.test.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/util.test.ts
  plugins/scaffolder-react/src/next/components/ReviewState/util.ts
Labels: area:scaffolder

#26601 oauth2-proxy: document lack of request authentication
  docs/auth/oauth2-proxy/provider.md
  plugins/auth-backend-module-oauth2-proxy-provider/src/authenticator.ts
Labels: documentation, auth

#26060 Add ability to customize SearchResult children via SidebarSearchModal component
  .changeset/proud-rice-exist.md
  docs/features/search/how-to-guides.md
  plugins/search/README.md
  plugins/search/api-report.md
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/SearchType/SearchType.Tabs.tsx
  plugins/search/src/components/SidebarSearchModal/SidebarSearchModal.tsx
  plugins/search/src/plugin.ts
Labels: documentation, search, area:search

#25924 Add Missing Catalog permissions for `/analyze-location` and `/validate-entity` endpoints
  .changeset/lucky-zoos-camp.md
  plugins/catalog-backend/src/service/AuthorizedLocationAnalyzer.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationAnalyzer.ts
  plugins/catalog-backend/src/service/AuthorizedValidationService.test.ts
  plugins/catalog-backend/src/service/AuthorizedValidationService.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-common/api-report-alpha.md
  plugins/catalog-common/src/alpha.ts
  plugins/catalog-common/src/permissions.ts
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/processing/types.ts
Labels: area:catalog, BEP

#26572 Update example code in `Customize the look-and-feel of your App`
  docs/getting-started/app-custom-theme.md
Labels: documentation

#25543 Add TechdocsContainerRunner interface as successor of deprecated ContainerRunner for TechdocsGenerator
  .changeset/big-garlics-punch.md
  plugins/techdocs-node/src/stages/generate/DockerContainerRunner.ts
  plugins/techdocs-node/src/stages/generate/generators.ts
  plugins/techdocs-node/src/stages/generate/index.ts
  plugins/techdocs-node/src/stages/generate/techdocs.ts
  plugins/techdocs-node/src/stages/generate/types.ts
  plugins/techdocs-node/src/stages/publish/index.ts
  plugins/techdocs-node/src/stages/publish/types.ts
Labels: area:techdocs

#25618 Added missing items to `overridableComponents`
  .changeset/sour-cherries-allow.md
  .changeset/ten-numbers-vanish.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  packages/core-components/api-report.md
  packages/core-components/src/components/EmptyState/MissingAnnotationEmptyState.tsx
  packages/core-components/src/components/EmptyState/index.ts
  packages/core-components/src/components/Link/Link.tsx
  packages/core-components/src/components/Link/index.ts
  packages/core-components/src/layout/ErrorPage/StackDetails.tsx
  packages/core-components/src/layout/ErrorPage/index.ts
  packages/core-components/src/layout/Sidebar/SidebarSubmenu.tsx
  packages/core-components/src/layout/Sidebar/SidebarSubmenuItem.tsx
  packages/core-components/src/layout/Sidebar/index.ts
  packages/core-components/src/overridableComponents.ts
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/CatalogGraphCard/index.ts
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedKindsFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SwitchFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/index.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderLabel.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderNode.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/index.ts
  plugins/catalog-graph/src/overridableComponents.ts
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/index.ts
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
  plugins/catalog-react/src/components/EntitySearchBar/EntitySearchBar.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
  plugins/catalog-react/src/overridableComponents.ts
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/catalog/src/components/CatalogSearchResultListItem/index.ts
  plugins/catalog/src/components/CatalogTable/CatalogTableToolbar.tsx
  plugins/catalog/src/components/CatalogTable/index.ts
  plugins/catalog/src/components/EntityLabelsCard/EntityLabelsEmptyState.tsx
  plugins/catalog/src/components/EntityLabelsCard/index.ts
  plugins/catalog/src/index.ts
  plugins/catalog/src/overridableComponents.ts
  plugins/home/src/homePageComponents/FeaturedDocsCard/Content.tsx
  plugins/home/src/homePageComponents/FeaturedDocsCard/index.ts
  plugins/home/src/overridableComponents.ts
  plugins/org/api-report.md
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.tsx
  plugins/org/src/overridableComponents.ts
  plugins/search-react/api-report.md
  plugins/search-react/src/components/HighlightedSearchResultText/HighlightedSearchResultText.tsx
  plugins/search-react/src/overridableComponents.ts
Labels: area:catalog, search, homepage, area:discoverability, area:home, area:search

#26610 Updated `create-app` to use Yarn 4
  .changeset/cold-squids-perform.md
  docs/deployment/docker.md
  docs/deployment/heroku.md
  docs/tutorials/yarn-migration.md
  packages/create-app/src/lib/tasks.test.ts
  packages/create-app/src/lib/tasks.ts
  packages/create-app/templates/default-app/.gitignore.hbs
  packages/create-app/templates/default-app/.yarn/releases/yarn-4.4.1.cjs
  packages/create-app/templates/default-app/.yarnrc.yml
  packages/create-app/templates/default-app/lerna.json
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/package.json.hbs
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#26536 fix(techdocs): page statuses
  .changeset/honest-masks-poke.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
  plugins/techdocs/src/reader/transformers/styles/rules/variables.ts
Labels: area:techdocs

#26609 [Catalog] Enable loading state for paginated catalog table
  .changeset/spotty-buses-drive.md
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

#26628 catalog: add service mocks
  .changeset/weak-monkeys-occur.md
  packages/catalog-client/api-report-testUtils.md
  packages/catalog-client/package.json
  packages/catalog-client/src/testUtils.ts
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.test.ts
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.ts
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-node/api-report-testUtils.md
  plugins/catalog-node/package.json
  plugins/catalog-node/src/testUtils.ts
  plugins/catalog-node/src/testUtils/catalogServiceMock.test.ts
  plugins/catalog-node/src/testUtils/catalogServiceMock.ts
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend/src/service/getUsersForEntityRef.test.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.test.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.test.ts
Labels: area:catalog, auth, area:techdocs, area:kubernetes, area:scaffolder

#26655 auth-backend-module-guest-provider: avoid halting backend startup
  .changeset/kind-hornets-sort.md
  plugins/auth-backend-module-guest-provider/src/authenticator.ts
Labels: auth

#26227 feat: add copilot plugin into availables plugins
  microsite/data/plugins/github-copilot.yaml
Labels: microsite

#26606 docs: Grab release notes from `mainline` before publishing
  .github/workflows/deploy_microsite.yml
  docs/architecture-decisions/index.md
  docs/contribute/project-structure.md
  docs/publishing.md
  microsite/README.md
  microsite/docusaurus.config.ts
  microsite/lighthouserc.js
  microsite/releases.js
  microsite/sidebars.js
  microsite/sidebars.json
  microsite/tsconfig.json
  mkdocs.yml
Labels: documentation, microsite

#26669 [emailMatchingUserEntityProfileEmail] Try matching emails without plus addressing
  .changeset/six-poems-press.md
  plugins/auth-node/src/sign-in/commonSignInResolvers.ts
Labels: auth

#26611 Updated Docker docs and `create-app` Dockerfile to Node 20
  .changeset/short-boxes-glow.md
  docs/deployment/docker.md
  docs/deployment/flightcontrol.md
  docs/tooling/cli/02-build-system.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
Labels: documentation

#26690 bump ws
  .changeset/big-sloths-melt.md
  plugins/kubernetes-backend/package.json
  plugins/signals-backend/package.json
  plugins/signals-node/package.json
  yarn.lock
Labels: area:kubernetes

#26661 Fix azure scaffolder git push auth
  .changeset/tricky-pigs-smoke.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.ts
Labels: area:scaffolder

#26391 Adding some documentation on how to use the TechDocs extensions
  docs/features/techdocs/extensions.md
  microsite/sidebars.js
  mkdocs.yml
Labels: documentation, microsite

#26678 Fix techdocs nav positioning when using blog plugin
  .changeset/curvy-sheep-grab.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

#26511 add support for optional configuration of `dnAttributeName` and `uuidAttributeName` in the ldapOrg processor
  .changeset/short-pumpkins-prove.md
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/config.d.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/index.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgReaderProcessor.ts
Labels: area:catalog

#26688 [Scaffolder] Github env create action to support more params from the Github env api
  .changeset/tall-lamps-design.md
  .eslintrc.js
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-github/src/actions/gitHubEnvironment.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
  plugins/scaffolder-backend-module-github/src/module.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
  yarn.lock
Labels: area:scaffolder

#26659 fix(deps): update dependency @octokit/webhooks to 10.9.2 due to vulnerability
  .changeset/six-icons-beam.md
  plugins/scaffolder-backend-module-github/package.json
  yarn.lock
Labels: area:scaffolder

#26680 add drodil's getEntities performance test
  plugins/catalog-backend/src/tests/performance/getEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/lib/env.ts
Labels: area:catalog

#26733 docs/frontend-system: more 1.31 migration docs
  docs/frontend-system/architecture/60-migrations.md
Labels: documentation

#25771 Plugin search backend module StackOverflow collator call issue
  .changeset/quiet-deers-visit.md
  plugins/search-backend-module-stack-overflow-collator/src/collators/StackOverflowQuestionsCollatorFactory.test.ts
  plugins/search-backend-module-stack-overflow-collator/src/collators/StackOverflowQuestionsCollatorFactory.ts
Labels: search, area:discoverability, area:search

#26677 Add 'includeUsersWithoutSeat' to enable ingestion of Gitlab users without seat
  .changeset/spotty-jokes-boil.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, area:catalog

#26727 doc: permission doc typo fix
  docs/permissions/getting-started.md
Labels: documentation

#26741 docs: release notes for 1.31
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/releases/v1.31.0.md
Labels: documentation

#26739 Doc: Remove Duplicate Instruction for All Permission Policy Module Removal
  docs/permissions/getting-started.md
Labels: documentation

#26683 Catalog table location columns
  .changeset/chilled-dolphins-join.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/defaultCatalogTableColumnsFunc.tsx
Labels: area:catalog

#26767 sort the remaining package.json files
  packages/app-next/package.json
  packages/backend-openapi-utils/package.json
  packages/backend/package.json
  packages/core-app-api/package.json
  packages/core-components/package.json
  packages/core-plugin-api/package.json
  packages/create-app/package.json
  packages/e2e-test/package.json
  packages/frontend-defaults/package.json
  packages/repo-tools/package.json
  packages/techdocs-cli-embedded-app/package.json
  packages/techdocs-cli/package.json
  packages/types/package.json
  plugins/app/package.json
  plugins/techdocs-common/package.json
Labels: area:techdocs

#26772 frontend-plugin-api: add support for overriding blueprint parameters
  .changeset/large-plants-rhyme.md
  docs/frontend-system/architecture/25-extension-overrides.md
  packages/app-next-example-plugin/api-report.md
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  plugins/api-docs/api-report-alpha.md
  plugins/app-visualizer/api-report.md
  plugins/app/api-report.md
  plugins/catalog-graph/api-report-alpha.md
  plugins/catalog-import/api-report-alpha.md
  plugins/catalog/api-report-alpha.md
  plugins/devtools/api-report-alpha.md
  plugins/home/api-report-alpha.md
  plugins/kubernetes/api-report-alpha.md
  plugins/org/api-report-alpha.md
  plugins/scaffolder/api-report-alpha.md
  plugins/search/api-report-alpha.md
  plugins/techdocs/api-report-alpha.md
  plugins/user-settings/api-report-alpha.md
Labels: documentation, area:catalog, area:techdocs, area:kubernetes, search, homepage, area:scaffolder, area:home, area:search

#26775 docs: remove function call from all backend feature installation instructions
  .changeset/shy-olives-swim.md
  docs/backend-system/architecture/02-backends.md
  docs/backend-system/architecture/04-plugins.md
  docs/backend-system/building-backends/08-migrating.md
  docs/features/software-templates/writing-templates.md
  docs/features/techdocs/how-to-guides.md
  docs/integrations/github/org.md
  docs/integrations/gitlab/discovery.md
  docs/integrations/gitlab/org.md
  docs/plugins/new-backend-system.md
  packages/backend-dynamic-feature-service/README.md
  plugins/events-backend-module-github/README.md
  plugins/events-backend-module-gitlab/README.md
  plugins/events-node/README.md
  plugins/search-backend-module-catalog/README.md
  plugins/search-backend-module-explore/README.md
  plugins/search-backend-module-techdocs/README.md
Labels: documentation, search, area:events, area:search

#26222 add documentation for new microsoft auth resolver
  docs/auth/microsoft/provider.md
Labels: documentation, merge-after-release

#26656 Scaffolder gitlab oauth token
  .changeset/sour-phones-fix.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.ts
Labels: area:scaffolder

#25848 fix(search-backend-module-elasticsearch): align config.d.ts with the actual behavior
  .changeset/big-rules-nail.md
  plugins/search-backend-module-elasticsearch/config.d.ts
Labels: search, stale, area:search

#26378 feat: allow scaffolder tasks pagination in the backend
  .changeset/early-drinks-kneel.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/helpers.test.ts
  plugins/scaffolder-backend/src/service/helpers.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

#26807 Docs (Sign In): Ensure resolvers are not in app config when setting up custom sign in resolvers
  docs/auth/identity-resolver.md
Labels: documentation

#26780 change task lists created at column to use timestamp
  .changeset/dry-frogs-drum.md
  plugins/scaffolder/src/components/ListTasksPage/columns/CreatedAtColumn.test.tsx
  plugins/scaffolder/src/components/ListTasksPage/columns/CreatedAtColumn.tsx
Labels: area:scaffolder

#26779 fix extra divider in owner list picker on tasks list page
  .changeset/angry-windows-decide.md
  plugins/scaffolder/src/components/ListTasksPage/OwnerListPicker.tsx
Labels: area:scaffolder

#26773 [Scaffolder] Enhance template editor usability
  .changeset/tiny-pugs-kick.md
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/FileBrowser/FileBrowser.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldPlaygroud.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorBrowser.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorForm.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorToolbar.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26777 [Scaffolder] Create a separate editor route
  .changeset/breezy-bulldogs-smell.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/lib/filesystem/WebFileSystemAccess.ts
  plugins/scaffolder/src/lib/filesystem/index.ts
  plugins/scaffolder/src/next/TemplateEditorPage/DirectoryEditorContext.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorBrowser.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorForm.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorTextArea.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplatePage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/index.ts
  plugins/scaffolder/src/plugin.tsx
  plugins/scaffolder/src/routes.ts
  yarn.lock
Labels: area:scaffolder

#26790 [Scaffolder] Add ability to create new scaffolder templates
  .changeset/long-humans-hunt.md
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/src/lib/filesystem/MockFileSystemAccess.ts
  plugins/scaffolder/src/lib/filesystem/WebFileSystemAccess.ts
  plugins/scaffolder/src/lib/filesystem/createExampleTemplate.ts
  plugins/scaffolder/src/lib/filesystem/types.ts
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorIntro.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26784 [Scaffolder] Create a separate custom fields route
  .changeset/five-gorillas-pay.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldsPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/index.ts
  plugins/scaffolder/src/plugin.tsx
  plugins/scaffolder/src/routes.ts
Labels: area:scaffolder

#26796 [Scaffolder] Create a separate form route
  .changeset/cyan-peaches-lay.md
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/api-report.md
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorToolbar.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateFormPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/index.ts
  plugins/scaffolder/src/plugin.tsx
  plugins/scaffolder/src/routes.ts
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26799 techdocs: make emptyState input optional on entityContent extension
  .changeset/fifty-trainers-watch.md
  plugins/techdocs/api-report-alpha.md
  plugins/techdocs/src/alpha.tsx
Labels: area:techdocs

#24916 events-backend: added scaleable events service implementation
  .changeset/slow-gorillas-thank.md
  .changeset/stale-roses-serve.md
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/events-backend/dev/index.ts
  plugins/events-backend/migrations/20240523100528_init.js
  plugins/events-backend/package.json
  plugins/events-backend/src/migrations.test.ts
  plugins/events-backend/src/schema/openapi.generated.ts
  plugins/events-backend/src/schema/openapi.yaml
  plugins/events-backend/src/service/EventsPlugin.test.ts
  plugins/events-backend/src/service/EventsPlugin.ts
  plugins/events-backend/src/service/hub/DatabaseEventBusStore.test.ts
  plugins/events-backend/src/service/hub/DatabaseEventBusStore.ts
  plugins/events-backend/src/service/hub/MemoryEventBusStore.test.ts
  plugins/events-backend/src/service/hub/MemoryEventBusStore.ts
  plugins/events-backend/src/service/hub/createEventBusRouter.ts
  plugins/events-backend/src/service/hub/index.ts
  plugins/events-backend/src/service/hub/types.ts
  plugins/events-node/api-report.md
  plugins/events-node/package.json
  plugins/events-node/src/api/DefaultEventsService.ts
  plugins/events-node/src/generated/apis/DefaultApi.client.ts
  plugins/events-node/src/generated/apis/index.ts
  plugins/events-node/src/generated/index.ts
  plugins/events-node/src/generated/models/ErrorError.model.ts
  plugins/events-node/src/generated/models/ErrorRequest.model.ts
  plugins/events-node/src/generated/models/ErrorResponse.model.ts
  plugins/events-node/src/generated/models/Event.model.ts
  plugins/events-node/src/generated/models/GetSubscriptionEvents200Response.model.ts
  plugins/events-node/src/generated/models/ModelError.model.ts
  plugins/events-node/src/generated/models/PostEventRequest.model.ts
  plugins/events-node/src/generated/models/PutSubscriptionRequest.model.ts
  plugins/events-node/src/generated/models/index.ts
  plugins/events-node/src/generated/pluginId.ts
  plugins/events-node/src/generated/types/discovery.ts
  plugins/events-node/src/generated/types/fetch.ts
  plugins/events-node/src/service.ts
  yarn.lock
Labels: area:events

#26824 techdocs-cli: update e2e test scripts
  packages/techdocs-cli/package.json
Labels: area:techdocs

#26607 Make it possible to manually retry the scaffolder template from the failed step (based on checkpoints)
  .changeset/slow-trees-compare.md
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/WorkspaceService.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/tasks/types.ts
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder-react/src/hooks/useEventStream.ts
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/OngoingTask/ContextMenu.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26631 [UX / UI ] Empty states including learn link to descriptor format to include external link icon
  .changeset/eleven-pugs-hear.md
  .changeset/giant-kiwis-retire.md
  .changeset/strange-bees-attack.md
  packages/app-defaults/src/defaults/icons.tsx
  packages/core-compat-api/src/compatWrapper/compatWrapper.test.tsx
  packages/core-components/report.api.md
  packages/core-components/src/components/Link/Link.test.tsx
  packages/core-components/src/components/Link/Link.tsx
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.test.tsx
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.test.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.tsx
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/translation.ts
  plugins/catalog/src/components/RelatedEntitiesCard/RelatedEntitiesCard.tsx
Labels: area:catalog

#26810 Apply `defaultValue` props in `MultiEntityPicker`
  .changeset/curly-foxes-brake.md
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
Labels: area:scaffolder

#26851 remove extra package documentation tags
  plugins/catalog-backend-module-logs/src/module.ts
  plugins/kubernetes-node/src/index.ts
Labels: area:catalog, area:kubernetes

#26860 just break out the modules folder into processors and providers
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/modules/codeowners/index.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.test.ts
  plugins/catalog-backend/src/processing/index.ts
  plugins/catalog-backend/src/processors/AnnotateLocationEntityProcessor.test.ts
  plugins/catalog-backend/src/processors/AnnotateLocationEntityProcessor.ts
  plugins/catalog-backend/src/processors/AnnotateScmSlugEntityProcessor.test.ts
  plugins/catalog-backend/src/processors/AnnotateScmSlugEntityProcessor.ts
  plugins/catalog-backend/src/processors/BuiltinKindsEntityProcessor.test.ts
  plugins/catalog-backend/src/processors/BuiltinKindsEntityProcessor.ts
  plugins/catalog-backend/src/processors/CodeOwnersProcessor.test.ts
  plugins/catalog-backend/src/processors/CodeOwnersProcessor.ts
  plugins/catalog-backend/src/processors/FileReaderProcessor.test.ts
  plugins/catalog-backend/src/processors/FileReaderProcessor.ts
  plugins/catalog-backend/src/processors/LocationEntityProcessor.test.ts
  plugins/catalog-backend/src/processors/LocationEntityProcessor.ts
  plugins/catalog-backend/src/processors/PlaceholderProcessor.test.ts
  plugins/catalog-backend/src/processors/PlaceholderProcessor.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.ts
  plugins/catalog-backend/src/processors/__fixtures__/fileReaderProcessor/awsS3/awsS3-mock-object.txt
  plugins/catalog-backend/src/processors/__fixtures__/fileReaderProcessor/component.yaml
  plugins/catalog-backend/src/processors/__fixtures__/fileReaderProcessor/dir/api.yaml
  plugins/catalog-backend/src/processors/__fixtures__/fileReaderProcessor/test.txt
  plugins/catalog-backend/src/processors/codeowners/index.ts
  plugins/catalog-backend/src/processors/codeowners/read.test.ts
  plugins/catalog-backend/src/processors/codeowners/read.ts
  plugins/catalog-backend/src/processors/codeowners/resolve.test.ts
  plugins/catalog-backend/src/processors/codeowners/resolve.ts
  plugins/catalog-backend/src/processors/codeowners/scm.ts
  plugins/catalog-backend/src/processors/index.ts
  plugins/catalog-backend/src/processors/transformLegacyPolicyToProcessor.test.ts
  plugins/catalog-backend/src/processors/transformLegacyPolicyToProcessor.ts
  plugins/catalog-backend/src/providers/ConfigLocationEntityProvider.test.ts
  plugins/catalog-backend/src/providers/ConfigLocationEntityProvider.ts
  plugins/catalog-backend/src/providers/DefaultLocationStore.test.ts
  plugins/catalog-backend/src/providers/DefaultLocationStore.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/util/index.ts
  plugins/catalog-backend/src/util/parse.test.ts
  plugins/catalog-backend/src/util/parse.ts
Labels: area:catalog

#26861 properly honor the reader limiter in the url reader processor
  .changeset/quiet-dingos-bathe.md
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/processors/UrlReaderProcessor.ts
Labels: area:catalog

#26841 Revert of #26430
  .changeset/four-moons-watch.md
  docs/auth/gitlab/provider.md
  packages/integration-react/src/api/ScmAuth.test.ts
  packages/integration-react/src/api/ScmAuth.ts
Labels: documentation

#26839 Fix Bitbucket Cloud OAuth scopes being used for BitbucketServer in ScmAuth
  .changeset/pretty-plants-hammer.md
  docs/auth/bitbucketServer/provider.md
  packages/integration-react/report.api.md
  packages/integration-react/src/api/ScmAuth.ts
Labels: documentation

#26859 feat(EntityRefLink): add disableTooltip prop to control tooltip visibility
  .changeset/loud-hotels-tan.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLink.tsx
Labels: area:catalog

#26837 fix(docs): Replace instances of UrlReader with UrlReaderService
  docs/features/software-catalog/external-integrations.md
  docs/overview/threat-model.md
Labels: documentation

#25084 Add examples for creating download links
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#26832 beps/0001: events service updates
  beps/0001-notifications-system/README.md
  beps/0001-notifications-system/notifications-architecture.drawio.svg
Labels: BEP

#26866 fix(scaffolder): use entity title for selected entity in EntityPicker…
  .changeset/large-hats-reply.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: area:scaffolder

#26897 Fixes grammar in api docs
  docs/api/deprecations.md
  docs/api/utility-apis.md
Labels: documentation

#26778 fix(catalog-backend-module-gerrit): add schedule in config.d.ts
  .changeset/cyan-cooks-sing.md
  plugins/catalog-backend-module-gerrit/config.d.ts
Labels: area:catalog
