Repository backstage/backstage, pull requests merged in 2024-02, with the labels that each got.

#22647 docs: removing `Hide or mask sensitive data on Review step` to encourage the correct way
  docs/features/software-templates/writing-templates.md
Labels: documentation

#22510 chore: specify content of a notification
  beps/0001-notifications-system/README.md
Labels: stale

#22601 registering backstage time saver plugin
  microsite/data/plugins/time-saver.yaml
Labels: microsite

#22613 fix(scaffolder-react): prevent erroneous render when empty links are provided
  .changeset/weak-news-jam.md
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
Labels: area:scaffolder

#22589 Checks for unique cluster names
  .changeset/great-rats-collect.md
  .changeset/tiny-donuts-drive.md
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
Labels: area:kubernetes

#22542 docs: add a central glossary
  docs/auth/glossary.md
  docs/local-dev/cli-build-system.md
  docs/local-dev/cli-overview.md
  docs/overview/glossary.md
  docs/permissions/concepts.md
  docs/permissions/custom-rules.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/references/glossary.md
  docs/references/writing-a-glossary-entry.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#22579 align typescript versions to 5.1 + 5.3
  .changeset/mighty-steaks-shave.md
  microsite/package.json
  microsite/yarn.lock
  package.json
  packages/core-components/src/layout/Sidebar/Page.tsx
  packages/create-app/templates/default-app/package.json.hbs
  plugins/git-release-manager/api-report.md
  yarn.lock
Labels: microsite

#21993 Ability for Users to configure auth token expiration [19341]
  .changeset/spotty-kids-pay.md
  plugins/auth-backend/README.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/service/router.test.ts
  plugins/auth-backend/src/service/router.ts
  yarn.lock
Labels: auth

#22336 TextSize - fix value label text color
  .changeset/fresh-gifts-smile.md
  plugins/techdocs-module-addons-contrib/src/TextSize/TextSize.tsx
Labels: area:techdocs

#22666 Update github-codespaces.yaml plugin
  microsite/data/plugins/github-codespaces.yaml
Labels: microsite

#22635 Microsite: Remove old, unmaintained 'on-demand' page
  docs/overview/support.md
  microsite/data/on-demand/20211117-1.yaml
  microsite/data/on-demand/20211118-1.yaml
  microsite/data/on-demand/20211215-1.yaml
  microsite/data/on-demand/20211216-1.yaml
  microsite/data/on-demand/20220216-1.yaml
  microsite/data/on-demand/20220223-1.yaml
  microsite/data/on-demand/20220316-1.yaml
  microsite/data/on-demand/20220323-1.yaml
  microsite/data/on-demand/20220420-1.yaml
  microsite/data/on-demand/20220427-1.yaml
  microsite/data/on-demand/20220518-1.yaml
  microsite/data/on-demand/20220525-1.yaml
  microsite/data/on-demand/20220615-1.yaml
  microsite/data/on-demand/20220622-1.yaml
  microsite/data/on-demand/20220720-1.yaml
  microsite/data/on-demand/20220727-1.yaml
  microsite/data/on-demand/20220817-1.yaml
  microsite/data/on-demand/20220824-1.yaml
  microsite/data/on-demand/20220921-1.yaml
  microsite/data/on-demand/20220928-1.yaml
  microsite/src/pages/community/index.tsx
  microsite/src/pages/on-demand/_onDemandCard.tsx
  microsite/src/pages/on-demand/index.tsx
  microsite/src/pages/on-demand/onDemand.module.scss
  microsite/static/css/on-demand.css
Labels: documentation, microsite

#22569 Update migrate-to-mui5.md
  docs/tutorials/migrate-to-mui5.md
Labels: documentation

#22557 Refactor auth-node to use 'jose' to decode JWTs
  .changeset/nasty-days-jog.md
  .changeset/red-bottles-swim.md
  plugins/auth-backend-module-aws-alb-provider/package.json
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/helpers.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/helpers.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/lib/passport/PassportStrategyHelper.test.ts
  plugins/auth-backend/src/lib/passport/PassportStrategyHelper.ts
  plugins/auth-node/src/passport/PassportHelpers.ts
  yarn.lock
Labels: auth

#22740 Swapping Red Hat partner logo for all white version
  microsite/static/img/partner-logo-redhat.png
Labels: microsite

#22747 test: fix failing template card test
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.test.tsx
Labels: area:scaffolder

#22737 Adding Umami analytics plugin to microsite
  microsite/data/plugins/umami.yaml
  microsite/static/img/umami-logo.svg
Labels: microsite

#22040 [Azure DevOps] Added alpha support for the New Frontend System
  .changeset/beige-apples-press.md
  packages/app-next/app-config.yaml
  plugins/azure-devops/api-report-alpha.md
  plugins/azure-devops/package.json
  plugins/azure-devops/src/alpha.ts
  plugins/azure-devops/src/alpha/index.ts
  plugins/azure-devops/src/alpha/plugin.tsx
  yarn.lock
Labels: stale

#22619 Migrate catalog graph to new frontend system
  .changeset/mighty-toys-laugh.md
  .changeset/neat-eels-greet.md
  packages/app-next/app-config.yaml
  plugins/catalog-graph/README-alpha.md
  plugins/catalog-graph/README.md
  plugins/catalog-graph/api-report-alpha.md
  plugins/catalog-graph/catalog-graph-entity-relations-card.png
  plugins/catalog-graph/catalog-graph-entity-relations-page.png
  plugins/catalog-graph/package.json
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-react/api-report-alpha.md
  plugins/catalog-react/src/alpha.tsx
  yarn.lock
Labels: area:catalog

#22639 Feature: Add latest_report_status to puppetdb backend provider COPY #22167 #22195
  .changeset/wet-lions-crash.md
  plugins/catalog-backend-module-puppetdb/api-report.md
  plugins/catalog-backend-module-puppetdb/src/providers/PuppetDbEntityProvider.test.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/read.test.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/transformers.test.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/transformers.ts
  plugins/catalog-backend-module-puppetdb/src/puppet/types.ts
Labels: area:catalog

#22561 fix(auth): Support additional scopes in the JWKS config
  .changeset/dirty-cheetahs-shave.md
  plugins/auth-backend/src/identity/router.ts
Labels: auth

#22392 document VMware Cloud auth provider
  docs/auth/index.md
  docs/auth/vmware-cloud/provider.md
  microsite/sidebars.json
Labels: documentation, microsite

#22350 feat(repo-tools): Rework command structure and standardize `openapi generate-client`
  .changeset/lovely-bugs-prove.md
  .github/workflows/ci.yml
  docs/openapi/01-getting-started.md
  docs/openapi/generate-client.md
  docs/openapi/test-case-validation.md
  packages/repo-tools/cli-report.md
  packages/repo-tools/src/commands/index.ts
  packages/repo-tools/src/commands/package/schema/openapi/generate/client.ts
  packages/repo-tools/src/commands/package/schema/openapi/generate/index.ts
  packages/repo-tools/src/commands/package/schema/openapi/generate/server.ts
  packages/repo-tools/src/commands/package/schema/openapi/init.ts
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
  packages/repo-tools/src/commands/repo/schema/openapi/test.ts
  packages/repo-tools/src/commands/repo/schema/openapi/verify.ts
  packages/repo-tools/src/lib/openapi/constants.ts
  packages/repo-tools/src/lib/openapi/helpers.ts
  packages/repo-tools/src/lib/runner.ts
  plugins/catalog-backend/package.json
  plugins/search-backend/package.json
  plugins/todo-backend/package.json
  yarn.lock
Labels: documentation, area:catalog, search, area:discoverability

#22189 [feat] add stack trace option in error page
  .changeset/real-grapes-sing.md
  packages/app-defaults/src/defaults/components.tsx
  packages/core-components/src/layout/ErrorPage/ErrorPage.test.tsx
  packages/core-components/src/layout/ErrorPage/ErrorPage.tsx
  packages/core-components/src/layout/ErrorPage/StackDetails.tsx
  plugins/playlist/src/components/PlaylistPage/PlaylistPage.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
Labels: area:scaffolder

#22607 core-components: show arrow heads in dependency graph
  .changeset/forty-beers-sniff.md
  packages/core-components/api-report.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  packages/core-components/src/components/DependencyGraph/Edge.tsx
  plugins/catalog-graph/api-report.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: area:catalog

#22640 auth-backend: refuse to issue excessively large tokens
  .changeset/hip-ears-add.md
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
Labels: auth

#22580 chore(plugins/auth-backend): migrate from passport-saml package to @node-saml/passport-saml
  .changeset/tasty-oranges-rescue.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/saml/provider.ts
  yarn.lock
Labels: auth

#22767 explore: fix GroupsDiagram test
  .changeset/hip-ears-add.md
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/explore/src/components/GroupsExplorerContent/GroupsDiagram.test.tsx
  plugins/explore/src/components/GroupsExplorerContent/GroupsExplorerContent.test.tsx
Labels: auth

#22514 feat(plugins/home/FeatureDocsCard): use EntityDisplayName component
  .changeset/nasty-shirts-look.md
  plugins/home/src/homePageComponents/FeaturedDocsCard/Content.test.tsx
  plugins/home/src/homePageComponents/FeaturedDocsCard/Content.tsx
Labels: homepage, area:discoverability

#22224 feat(catalog): support `onProcessingError` handler at the catalog plugin
  .changeset/twelve-shirts-buy.md
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/api-report-alpha.md
  plugins/catalog-node/src/extensions.ts
Labels: area:catalog

#22499 Update writing.md
  docs/conf/writing.md
Labels: documentation

#22763 Add statuspage.io plugin to plugin directory
  microsite/data/plugins/statuspage.yaml
Labels: microsite

#22612 chore(catalog): remove deprecated catalog-backend-module-bitbucket plugin
  plugins/catalog-backend-module-bitbucket/.eslintrc.js
  plugins/catalog-backend-module-bitbucket/CHANGELOG.md
  plugins/catalog-backend-module-bitbucket/README.md
  plugins/catalog-backend-module-bitbucket/api-report.md
  plugins/catalog-backend-module-bitbucket/catalog-info.yaml
  plugins/catalog-backend-module-bitbucket/package.json
  plugins/catalog-backend-module-bitbucket/src/BitbucketDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-bitbucket/src/BitbucketDiscoveryProcessor.ts
  plugins/catalog-backend-module-bitbucket/src/index.ts
  plugins/catalog-backend-module-bitbucket/src/lib/BitbucketRepositoryParser.test.ts
  plugins/catalog-backend-module-bitbucket/src/lib/BitbucketRepositoryParser.ts
  plugins/catalog-backend-module-bitbucket/src/lib/BitbucketServerClient.ts
  plugins/catalog-backend-module-bitbucket/src/lib/index.ts
  plugins/catalog-backend-module-bitbucket/src/lib/types.ts
  plugins/catalog-backend-module-bitbucket/src/setupTests.ts
  yarn.lock
Labels: area:catalog

#22772 LocalKubectlProxyClusterLocator when resolving "localhost" prioritizes IPv4 results
  .changeset/wicked-dolphins-wash.md
  plugins/kubernetes-backend/src/cluster-locator/LocalKubectlProxyLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
Labels: area:kubernetes

#22812 Organizes imports for kubernetes-backend/plugin.ts
  .changeset/perfect-colts-hammer.md
  plugins/kubernetes-backend/src/plugin.ts
Labels: area:kubernetes

#22614 [Google Kubernetes Engine] Add x-goog-api-client header with custom values
  .changeset/mighty-tomatoes-visit.md
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts
Labels: area:kubernetes

#22800 cli: add repository field check to the repo fix command
  .changeset/fluffy-jeans-eat.md
  .changeset/fuzzy-turtles-camp.md
  .changeset/poor-points-do.md
  package.json
  packages/app-next/package.json
  packages/backend-dynamic-feature-service/package.json
  packages/cli-node/api-report.md
  packages/cli-node/src/monorepo/PackageGraph.ts
  packages/cli/src/commands/repo/fix.ts
  packages/e2e-test-utils/package.json
  packages/frontend-app-api/package.json
  packages/frontend-test-utils/package.json
  plugins/analytics-module-ga4/package.json
  plugins/analytics-module-newrelic-browser/package.json
  plugins/app-node/package.json
  plugins/app-visualizer/package.json
  plugins/auth-backend-module-atlassian-provider/package.json
  plugins/auth-backend-module-github-provider/package.json
  plugins/auth-backend-module-gitlab-provider/package.json
  plugins/auth-backend-module-microsoft-provider/package.json
  plugins/auth-backend-module-oauth2-provider/package.json
  plugins/auth-backend-module-oauth2-proxy-provider/package.json
  plugins/auth-backend-module-oidc-provider/package.json
  plugins/auth-backend-module-okta-provider/package.json
  plugins/auth-backend-module-pinniped-provider/package.json
  plugins/auth-backend-module-vmware-cloud-provider/package.json
  plugins/catalog-backend-module-backstage-openapi/package.json
  plugins/catalog-backend-module-github-org/package.json
  plugins/catalog-backend-module-scaffolder-entity-model/package.json
  plugins/example-todo-list-backend/package.json
  plugins/example-todo-list-common/package.json
  plugins/kubernetes-node/package.json
  plugins/kubernetes-react/package.json
  plugins/notifications-backend/package.json
  plugins/notifications-common/package.json
  plugins/notifications-node/package.json
  plugins/notifications/package.json
  plugins/opencost/package.json
  plugins/permission-backend-module-policy-allow-all/package.json
  plugins/scaffolder-backend-module-azure/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-gerrit/package.json
  plugins/scaffolder-backend-module-github/package.json
  plugins/search-backend-module-stack-overflow-collator/package.json
  plugins/signals-backend/package.json
  plugins/signals-node/package.json
  plugins/signals-react/package.json
  plugins/signals/package.json
  plugins/vault-backend/package.json
  plugins/vault-node/package.json
Labels: area:catalog, auth, area:kubernetes, search, area:scaffolder, area:permission, area:discoverability

#22588 Add docs for build-in data refs to plugin docs
  docs/frontend-system/architecture/03-extensions.md
  docs/frontend-system/building-plugins/04-built-in-data-refs.md
  microsite/sidebars.json
Labels: documentation, microsite

#22559 fix: Updates the imports in frontend docs
  docs/features/software-templates/writing-custom-step-layouts.md
Labels: documentation

#22752 Migrate api docs plugin to new system
  .changeset/serious-dryers-grin.md
  .changeset/silver-crabs-exercise.md
  packages/app-next/app-config.yaml
  plugins/api-docs/README-alpha.md
  plugins/api-docs/README.md
  plugins/api-docs/api-report-alpha.md
  plugins/api-docs/package.json
  plugins/api-docs/src/alpha.tsx
  plugins/catalog/src/alpha/EntityOverviewPage.tsx
  plugins/catalog/src/alpha/filter/FilterWrapper.tsx
  plugins/catalog/src/alpha/pages.tsx
  yarn.lock
Labels: area:catalog

#22851 Migrate entity page warning components to new frontend system
  .changeset/orange-suns-yell.md
  packages/app-next/app-config.yaml
  plugins/catalog/src/alpha/EntityOverviewPage.tsx
Labels: area:catalog

#22860 Added `validateLocationsExist` to the config
  .changeset/mean-apes-wait.md
  plugins/catalog-backend-module-github/config.d.ts
Labels: area:catalog

#22859 Added `experimentalExtraAllowedOrigins` to config
  .changeset/sour-ligers-hunt.md
  plugins/auth-backend/config.d.ts
Labels: auth

#22848 Enable persisted scopes for OIDC authenticator
  .changeset/eleven-walls-relate.md
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
Labels: auth

#22536 feat(docs): Add documentation & example that AsyncApi 3 is supported
  .changeset/cool-walls-applaud.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/examples/apis/streetlights-api.yaml
  plugins/api-docs/README.md
  plugins/api-docs/dev/asyncapi-example-api.yaml
Labels: documentation, area:catalog

#22890 Removed unused value from docusaurus.js file
  microsite/docusaurus.config.js
Labels: microsite

#22333 Thomas1001101 plugin scaffolder backend module gitlab part2
  .changeset/hungry-lions-sit.md
  packages/backend/package.json
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectAccessTokenAction.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectAccessTokenAction.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectAccessTokenAction.ts
  plugins/scaffolder-backend-module-gitlab/src/util.ts
  yarn.lock
Labels: area:scaffolder

#22838 Move the AWS account e-mail from labels to annotations
  .changeset/spotty-phones-attend.md
  plugins/catalog-backend-module-aws/src/processors/AwsOrganizationCloudAccountProcessor.test.ts
  plugins/catalog-backend-module-aws/src/processors/AwsOrganizationCloudAccountProcessor.ts
Labels: area:catalog

#22210 chore(catalog): replace internal uses of deprecated types
  .changeset/odd-beds-confess.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/deprecated.ts
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/ingestion/CatalogRules.test.ts
  plugins/catalog-backend/src/ingestion/index.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/PlaceholderProcessor.ts
  plugins/catalog-backend/src/modules/core/index.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog

#22898 fix: updated the styling for app-config.production.yaml in the docs
  docs/deployment/k8s.md
Labels: documentation

#22920 Fix some deprecations and misplaced await usage.
  .changeset/five-hornets-wash.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/lib/templating/filters.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/taskRecoveryHelper.test.ts
Labels: area:scaffolder

#22131 feat(catalog-pagination): Add support for server side text filtering.
  .changeset/clever-chicken-jog.md
  .changeset/long-stingrays-look.md
  .changeset/purple-camels-applaud.md
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/util.ts
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/UserListPicker/useAllEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useStarredEntitiesCount.ts
  plugins/catalog-react/src/filters.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/utils/filters.ts
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.tsx
Labels: area:catalog

#22962 do less renovate pinning - starting out with docker images
  .github/renovate.json5
  .github/workflows/ci.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_e2e-linux.yml
  contrib/.devcontainer/Dockerfile
  plugins/scaffolder-backend-module-rails/Rails.dockerfile
  plugins/scaffolder-backend/scripts/Cookiecutter.dockerfile
Labels: area:scaffolder

#22981 catalog-backend-module-unprocessed: refactor for forwards compatibility
  .changeset/clever-steaks-hope.md
  plugins/catalog-backend-module-unprocessed/api-report.md
  plugins/catalog-backend-module-unprocessed/src/UnprocessedEntitiesModule.ts
  plugins/catalog-backend-module-unprocessed/src/types.ts
Labels: area:catalog

#22967 feat(scaffolder-backend-module-github): support oidc customization
  .changeset/funny-meals-tease.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/github.test.ts
  plugins/scaffolder-backend-module-github/src/actions/github.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

#22961 Update resource type list
  docs/features/software-catalog/descriptor-format.md
Labels: documentation

#21890 Create a new action to publish on gitea
  .changeset/metal-clocks-suffer.md
  .changeset/shiny-jeans-begin.md
  .changeset/thick-pillows-punch.md
  packages/integration/src/gitea/config.ts
  packages/integration/src/gitea/core.test.ts
  plugins/scaffolder-backend-module-gitea/.eslintrc.js
  plugins/scaffolder-backend-module-gitea/README.md
  plugins/scaffolder-backend-module-gitea/api-report.md
  plugins/scaffolder-backend-module-gitea/catalog-info.yaml
  plugins/scaffolder-backend-module-gitea/package.json
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.examples.ts
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.test.ts
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.ts
  plugins/scaffolder-backend-module-gitea/src/actions/index.ts
  plugins/scaffolder-backend-module-gitea/src/index.ts
  plugins/scaffolder-backend-module-gitea/src/module.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-node/src/actions/util.ts
  yarn.lock
Labels: area:scaffolder

#22965 remove immer deps
  .changeset/tidy-cycles-obey.md
  plugins/scaffolder-react/knip-report.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder/knip-report.md
  plugins/scaffolder/package.json
  yarn.lock
Labels: area:scaffolder

#22568 feat(catalog): add support for entity policies in the new backend.
  .changeset/thirty-bags-try.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/modules/core/index.ts
  plugins/catalog-backend/src/modules/core/transformLegacyPolicyToProcessor.test.ts
  plugins/catalog-backend/src/modules/core/transformLegacyPolicyToProcessor.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/api-report-alpha.md
  plugins/catalog-node/src/alpha.ts
  plugins/catalog-node/src/extensions.ts
Labels: area:catalog

#23040 fix: update field props and field validation library
  docs/features/software-templates/writing-custom-field-extensions.md
Labels: documentation

#22996 fix(catalog-backend-module-azure): Fixed issue where specifying a branch for discovery did not work
  .changeset/real-keys-juggle.md
  docs/integrations/azure/discovery.md
  plugins/catalog-backend-module-azure/src/lib/azure.test.ts
  plugins/catalog-backend-module-azure/src/lib/azure.ts
  plugins/catalog-backend-module-azure/src/processors/AzureDevOpsDiscoveryProcessor.test.ts
  plugins/catalog-backend-module-azure/src/processors/AzureDevOpsDiscoveryProcessor.ts
  plugins/catalog-backend-module-azure/src/providers/AzureDevOpsEntityProvider.ts
Labels: documentation, area:catalog

#23051 Add the missing break within the while statement of the gitea action
  .changeset/weak-flowers-repeat.md
  plugins/scaffolder-backend-module-gitea/README.md
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.ts
Labels: area:scaffolder

#23077 Fix Microsoft Auth Provider when Profile not requested
  .changeset/eight-oranges-wave.md
  plugins/auth-node/src/oauth/PassportOAuthAuthenticatorHelper.ts
Labels: auth, fix-before-release

#23082 techdocs: escape <code> in changeset
  .changeset/tender-flowers-collect.md
  docs/releases/v1.23.0-next.1-changelog.md
  plugins/techdocs/CHANGELOG.md
Labels: documentation, area:techdocs

#22374 docs: frontend plugin migration
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/05-migrating.md
  microsite/sidebars.json
Labels: documentation, microsite

#23043 docs/backend-system: split core services into separate doc sections
  docs/backend-system/core-services/01-index.md
  docs/backend-system/core-services/auth.md
  docs/backend-system/core-services/cache.md
  docs/backend-system/core-services/database.md
  docs/backend-system/core-services/discovery.md
  docs/backend-system/core-services/http-auth.md
  docs/backend-system/core-services/http-router.md
  docs/backend-system/core-services/identity.md
  docs/backend-system/core-services/lifecycle.md
  docs/backend-system/core-services/logger.md
  docs/backend-system/core-services/permissions.md
  docs/backend-system/core-services/plugin-metadata.md
  docs/backend-system/core-services/root-config.md
  docs/backend-system/core-services/root-http-router.md
  docs/backend-system/core-services/root-lifecycle.md
  docs/backend-system/core-services/root-logger.md
  docs/backend-system/core-services/scheduler.md
  docs/backend-system/core-services/token-manager.md
  docs/backend-system/core-services/url-reader.md
  docs/backend-system/core-services/user-info.md
  microsite/sidebars.json
Labels: documentation, microsite

#23090 fix: authorized search engine to obey query page limit
  .changeset/light-birds-sparkle.md
  plugins/search-backend/src/service/AuthorizedSearchEngine.ts
Labels: search, area:discoverability

#23019 :broom: move away from deprecated types, import from auth-node
  .changeset/smart-frogs-help.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/identity/StaticTokenIssuer.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-backend/src/identity/types.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.test.ts
  plugins/auth-backend/src/lib/oauth/OAuthAdapter.ts
  plugins/auth-backend/src/lib/oauth/helpers.ts
  plugins/auth-backend/src/lib/oauth/types.ts
  plugins/auth-backend/src/lib/passport/PassportStrategyHelper.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.ts
  plugins/auth-backend/src/providers/atlassian/provider.ts
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/aws-alb/provider.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.test.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.ts
  plugins/auth-backend/src/providers/bitbucket/provider.test.ts
  plugins/auth-backend/src/providers/bitbucket/provider.ts
  plugins/auth-backend/src/providers/bitbucketServer/provider.test.ts
  plugins/auth-backend/src/providers/bitbucketServer/provider.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.test.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.ts
  plugins/auth-backend/src/providers/createAuthProviderIntegration.ts
  plugins/auth-backend/src/providers/gcp-iap/provider.ts
  plugins/auth-backend/src/providers/gitlab/provider.ts
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/oauth2-proxy/provider.ts
  plugins/auth-backend/src/providers/oauth2/provider.ts
  plugins/auth-backend/src/providers/oidc/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
  plugins/auth-backend/src/providers/providers.ts
  plugins/auth-backend/src/providers/resolvers.ts
  plugins/auth-backend/src/providers/saml/provider.ts
  plugins/auth-backend/src/providers/types.ts
  plugins/auth-backend/src/service/router.ts
Labels: auth

#23099 add release notes for v1.23.0
  docs/releases/v1.23.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#23106 fix(release-1.23): correct link to changelog
  docs/releases/v1.23.0.md
Labels: documentation

#23122 Bump dependency `jose` to v5
  .changeset/lovely-donkeys-kneel.md
  packages/backend-common/package.json
  plugins/auth-backend-module-aws-alb-provider/package.json
  plugins/auth-backend-module-microsoft-provider/package.json
  plugins/auth-backend-module-oauth2-proxy-provider/package.json
  plugins/auth-backend-module-oidc-provider/package.json
  plugins/auth-backend-module-pinniped-provider/package.json
  plugins/auth-backend-module-vmware-cloud-provider/package.json
  plugins/auth-backend/package.json
  plugins/auth-node/package.json
  yarn.lock
Labels: auth

#22905 Update docs to add profile
  docs/features/software-catalog/descriptor-format.md
Labels: documentation

#23132 Patch release of #23127
  package.json
  plugins/auth-backend-module-aws-alb-provider/CHANGELOG.md
  plugins/auth-backend-module-aws-alb-provider/api-report.md
  plugins/auth-backend-module-aws-alb-provider/package.json
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.ts
  plugins/auth-backend-module-gcp-iap-provider/CHANGELOG.md
  plugins/auth-backend-module-gcp-iap-provider/api-report.md
  plugins/auth-backend-module-gcp-iap-provider/package.json
  plugins/auth-backend-module-gcp-iap-provider/src/authenticator.test.ts
  plugins/auth-backend-module-gcp-iap-provider/src/authenticator.ts
  plugins/auth-backend-module-oauth2-proxy-provider/CHANGELOG.md
  plugins/auth-backend-module-oauth2-proxy-provider/api-report.md
  plugins/auth-backend-module-oauth2-proxy-provider/package.json
  plugins/auth-backend-module-oauth2-proxy-provider/src/authenticator.ts
  plugins/auth-node/CHANGELOG.md
  plugins/auth-node/api-report.md
  plugins/auth-node/package.json
  plugins/auth-node/src/proxy/createProxyAuthProviderFactory.ts
  plugins/auth-node/src/proxy/createProxyRouteHandlers.ts
  plugins/auth-node/src/proxy/types.ts
Labels: auth

#23123 Bump dependency `minimatch` to v9
  .changeset/funny-flies-collect.md
  packages/backend-app-api/package.json
  packages/backend-common/package.json
  packages/cli/package.json
  packages/cli/src/commands/versions/bump.ts
  packages/cli/src/lib/versioning/packages.ts
  packages/eslint-plugin/package.json
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/api-reports/api-extractor.ts
  plugins/auth-backend/package.json
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/ingestion/CatalogRules.ts
  yarn.lock
Labels: area:catalog, auth

#23172 extend the visibility docs with deep visibility
  docs/conf/defining.md
Labels: documentation

#22790 suggest knexfile
  .eslintrc.js
  .prettierignore
  knexfile.js
  packages/backend/knexfile.ts
  plugins/bazaar-backend/knexfile.js
  scripts/templates/copyright-header.txt
  scripts/templates/knex-migration.stub.js
Labels: area:catalog

#22594 chore: add missing indexes to search table
  .changeset/tiny-books-destroy.md
  plugins/catalog-backend/migrations/20240130092632_search_index.js
Labels: area:catalog

#23073 auth-node: deprecate getBearerTokenFromAuthorizationHeader
  .changeset/chilled-dolls-accept.md
  plugins/auth-node/api-report.md
  plugins/auth-node/src/identity/getBearerTokenFromAuthorizationHeader.ts
Labels: auth

#23075 auth-backend-module-oauth2-proxy-provider: internal refactor to avoid deprecated method
  .changeset/spicy-dragons-sin.md
  plugins/auth-backend-module-oauth2-proxy-provider/src/authenticator.ts
Labels: auth

#23071 catalog-backend-module-github: migrated to support new auth services
  .changeset/cold-dolphins-raise.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.test.ts
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
Labels: area:catalog

#23070 catalog-backend-module-backstage-openapi: migrate to use new auth service
  .changeset/thin-spiders-do.md
  plugins/catalog-backend-module-backstage-openapi/src/InternalOpenApiDocumentationProvider.ts
  plugins/catalog-backend-module-backstage-openapi/src/index.ts
Labels: area:catalog

#23055 permissions: migrate to new auth system and accept credentials
  .changeset/late-turkeys-remember.md
  .changeset/neat-owls-pump.md
  .changeset/polite-tips-begin.md
  .changeset/soft-grapes-cough.md
  packages/backend-app-api/src/services/implementations/permissions/permissionsServiceFactory.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/PermissionsService.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  plugins/permission-common/src/types/api.ts
  plugins/permission-node/api-report.md
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/permission-node/src/ServerPermissionClient.ts
Labels: area:permission

#22645 Fix ResponseError HTTP status
  .changeset/cyan-dryers-share.md
  packages/backend-common/src/middleware/errorHandler.test.ts
  packages/catalog-client/src/CatalogClient.test.ts
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.test.tsx
  packages/errors/api-report.md
  packages/errors/src/errors/ResponseError.test.ts
  packages/errors/src/errors/ResponseError.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.test.ts
  plugins/vault/src/api.test.ts
  plugins/vault/src/components/EntityVaultCard/EntityVaultCard.test.tsx
  plugins/vault/src/components/EntityVaultTable/EntityVaultTable.test.tsx
Labels: area:catalog, area:scaffolder

#23039 chore: update my account for contributions
  OWNERS.md
  scripts/check-docs-quality.js
Labels: stale

#23241 scaffolder-backend-module-gitlab: clear mocks in test
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.test.ts
Labels: area:scaffolder

#23253 Fix typo in extending model docs
  docs/features/software-catalog/extending-the-model.md
Labels: documentation

#23045 bep-0003: illustrate with some sequence diagrams
  beps/0003-auth-architecture-evolution/README.md
  beps/0003-auth-architecture-evolution/token-sequence-cookie.drawio.svg
  beps/0003-auth-architecture-evolution/token-sequence-obo.drawio.svg
Labels: stale

#23255 Added root and label class keys for autocomplete pickers
  .changeset/hungry-points-burn.md
  .changeset/pretty-boats-promise.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/index.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
  plugins/catalog-react/src/overridableComponents.ts
  plugins/scaffolder-react/api-report-alpha.md
  plugins/scaffolder-react/src/next/components/TemplateCategoryPicker/TemplateCategoryPicker.tsx
  plugins/scaffolder-react/src/next/components/TemplateCategoryPicker/index.ts
  plugins/scaffolder-react/src/next/index.ts
  plugins/scaffolder-react/src/next/overridableComponents.ts
Labels: area:catalog, area:scaffolder

#23262 catalog: fix alpha entity 404
  .changeset/lemon-lemons-sparkle.md
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

#23254 Adds the OPA Permissions Wrapper plugin to the Microsite!
  microsite/data/plugins/opa-permissions-wrapper.yaml
  microsite/static/img/opapermlogo.png
Labels: microsite

#23050 Fix techdocs default plugins with config
  .changeset/fresh-rings-tell.md
  plugins/techdocs-node/src/stages/generate/__fixtures__/mkdocs_with_additional_plugins_with_config.yml
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/mkdocsPatchers.ts
Labels: area:techdocs

#23269 Update versioning-policy.md fixing minor typo
  docs/overview/versioning-policy.md
Labels: documentation

#22265 feat(catalog): allow setting EntityDataParser using CatalogProcessingExtensionPoint
  .changeset/polite-zoos-pay.md
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/api-report-alpha.md
  plugins/catalog-node/src/extensions.ts
Labels: area:catalog

#22211 Add support for Cloudflare Access Tokens to `cfaccess` Auth Provider
  .changeset/soft-otters-report.md
  docs/auth/cloudflare/access.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.test.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.ts
Labels: documentation, auth

#22565 feat(auth): Add support for guest tokens with a new provider
  .changeset/cold-boats-sell.md
  .changeset/selfish-glasses-cheer.md
  app-config.yaml
  docs/auth/guest/provider.md
  microsite/sidebars.json
  mkdocs.yml
  packages/backend-next/package.json
  packages/backend-next/src/index.ts
  packages/catalog-model/examples/acme/team-a-group.yaml
  packages/core-components/src/layout/SignInPage/GuestUserIdentity.ts
  packages/core-components/src/layout/SignInPage/guestProvider.tsx
  plugins/auth-backend-module-guest-provider/.eslintrc.js
  plugins/auth-backend-module-guest-provider/README.md
  plugins/auth-backend-module-guest-provider/api-report.md
  plugins/auth-backend-module-guest-provider/catalog-info.yaml
  plugins/auth-backend-module-guest-provider/config.d.ts
  plugins/auth-backend-module-guest-provider/package.json
  plugins/auth-backend-module-guest-provider/src/authenticator.ts
  plugins/auth-backend-module-guest-provider/src/index.ts
  plugins/auth-backend-module-guest-provider/src/module.ts
  plugins/auth-backend-module-guest-provider/src/resolvers.ts
  plugins/auth-backend-module-guest-provider/src/types.ts
  yarn.lock
Labels: documentation, area:catalog, auth, microsite

#23056 catalog-backend: migrate to support new auth services
  .changeset/purple-kiwis-complain.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.ts
  plugins/catalog-backend/src/service/AuthorizedLocationService.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationService.ts
  plugins/catalog-backend/src/service/AuthorizedRefreshService.test.ts
  plugins/catalog-backend/src/service/AuthorizedRefreshService.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultRefreshService.test.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/request/parseQueryEntitiesParams.ts
  plugins/catalog-backend/src/service/types.ts
Labels: area:catalog

#23217 auth: convert permission-backend to the new auth services
  .changeset/fifty-insects-yell.md
  .changeset/loud-dolls-exist.md
  .changeset/sour-olives-carry.md
  .changeset/unlucky-jobs-report.md
  packages/backend-app-api/src/services/implementations/userInfo/userInfoServiceFactory.ts
  packages/backend-common/api-report.md
  packages/backend-common/src/auth/createLegacyAuthAdapters.test.ts
  packages/backend-common/src/auth/createLegacyAuthAdapters.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/next/services/MockUserInfoService.test.ts
  packages/backend-test-utils/src/next/services/MockUserInfoService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/permission-backend/api-report.md
  plugins/permission-backend/package.json
  plugins/permission-backend/src/plugin.ts
  plugins/permission-backend/src/service/PermissionIntegrationClient.test.ts
  plugins/permission-backend/src/service/PermissionIntegrationClient.ts
  plugins/permission-backend/src/service/router.test.ts
  plugins/permission-backend/src/service/router.ts
  yarn.lock
Labels: area:permission

#23058 kubernetes-backend: migrate to support new auth services
  .changeset/rare-dryers-check.md
  packages/backend/src/plugins/kubernetes.ts
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/plugin.ts
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
Labels: area:kubernetes

#23066 search-backend-module-{catalog,explore,techdocs}: migrate to support new auth services
  .changeset/nice-beans-wait.md
  plugins/search-backend-module-catalog/api-report.md
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.ts
  plugins/search-backend-module-explore/api-report.md
  plugins/search-backend-module-explore/src/collators/ToolDocumentCollatorFactory.ts
  plugins/search-backend-module-techdocs/api-report.md
  plugins/search-backend-module-techdocs/src/alpha.ts
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.ts
Labels: search, area:discoverability

#22857 Unified Theme Doc Updates & Exported `defaultTypography`
  .changeset/fifty-moons-study.md
  docs/getting-started/app-custom-theme.md
  packages/theme/api-report.md
  packages/theme/src/base/createBaseThemeOptions.ts
  packages/theme/src/base/index.ts
Labels: documentation

#23169 fix: view component url use LowerCase
  .changeset/silver-impalas-run.md
  plugins/catalog-import/src/components/StepFinishImportLocation/StepFinishImportLocation.tsx
Labels: area:catalog

#23226 Make `spec.target` searchable in catalog table for location
  .changeset/wet-sheep-reply.md
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

#23242 backend-{plugin,app}-api: updates for new cookie auth design
  packages/backend-app-api/src/services/implementations/auth/authServiceFactory.ts
  packages/backend-app-api/src/services/implementations/httpAuth/httpAuthServiceFactory.ts
  packages/backend-app-api/src/services/implementations/httpRouter/createCredentialsBarrier.test.ts
  packages/backend-app-api/src/services/implementations/httpRouter/createCredentialsBarrier.ts
  packages/backend-common/src/auth/createLegacyAuthAdapters.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/AuthService.ts
  packages/backend-plugin-api/src/services/definitions/HttpAuthService.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/next/services/MockAuthService.test.ts
  packages/backend-test-utils/src/next/services/MockAuthService.ts
  packages/backend-test-utils/src/next/services/MockHttpAuthService.test.ts
  packages/backend-test-utils/src/next/services/MockHttpAuthService.ts
  packages/backend-test-utils/src/next/services/mockCredentials.test.ts
  packages/backend-test-utils/src/next/services/mockCredentials.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  yarn.lock
Labels: area:kubernetes

#23101 fix: wrong link fixed for Architecture Overview - Package Architecture
  docs/backend-system/architecture/01-index.md
Labels: documentation

#22773 Introducing checkpoints for scaffolder task action idempotency
  .changeset/sixty-queens-mix.md
  packages/backend-next/package.json
  packages/backend-next/src/index.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/migrations/20240203232000_state.js
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/types.ts
  plugins/scaffolder-node/src/tasks/types.ts
  yarn.lock
Labels: area:scaffolder

#23288 chore: simplify the input types for `createMockActionContext`
  plugins/scaffolder-node-test-utils/api-report.md
  plugins/scaffolder-node-test-utils/src/actions/mockActionConext.ts
Labels: area:scaffolder

#23289 fix!: avoid binary file corruption in fetch action
  .changeset/eighty-suits-admire.md
  plugins/scaffolder-node/src/actions/fetch.test.ts
  plugins/scaffolder-node/src/actions/fetch.ts
Labels: area:scaffolder

#20932 add i18n for core components
  .changeset/flat-badgers-attack.md
  packages/core-components/api-report-alpha.md
  packages/core-components/package.json
  packages/core-components/src/alpha.ts
  packages/core-components/src/components/AlertDisplay/AlertDisplay.tsx
  packages/core-components/src/components/AutoLogout/Autologout.test.tsx
  packages/core-components/src/components/AutoLogout/StillTherePrompt.tsx
  packages/core-components/src/components/CopyTextButton/CopyTextButton.tsx
  packages/core-components/src/components/EmptyState/MissingAnnotationEmptyState.tsx
  packages/core-components/src/components/Link/Link.tsx
  packages/core-components/src/components/OAuthRequestDialog/LoginRequestListItem.tsx
  packages/core-components/src/components/OAuthRequestDialog/OAuthRequestDialog.tsx
  packages/core-components/src/components/SimpleStepper/SimpleStepperFooter.tsx
  packages/core-components/src/components/SupportButton/SupportButton.tsx
  packages/core-components/src/components/Table/Filters.tsx
  packages/core-components/src/hooks/useSupportConfig.ts
  packages/core-components/src/layout/ErrorBoundary/ErrorBoundary.tsx
  packages/core-components/src/layout/ErrorPage/ErrorPage.tsx
  packages/core-components/src/layout/ErrorPage/StackDetails.tsx
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.tsx
  packages/core-components/src/layout/Sidebar/Bar.tsx
  packages/core-components/src/layout/SignInPage/SignInPage.tsx
  packages/core-components/src/layout/SignInPage/commonProvider.tsx
  packages/core-components/src/layout/SignInPage/customProvider.tsx
  packages/core-components/src/layout/SignInPage/guestProvider.tsx
  packages/core-components/src/translation.ts
  plugins/badges/src/components/EntityBadgesDialog.test.tsx
  plugins/bitrise/src/components/BitriseBuildsComponent/BitriseBuildsComponent.test.tsx
  plugins/git-release-manager/package.json
  plugins/git-release-manager/src/features/Features.test.tsx
  plugins/git-release-manager/src/features/Info/Info.test.tsx
  plugins/git-release-manager/src/features/Patch/PatchBody.test.tsx
  plugins/gocd/src/components/GoCdBuildsComponent/GoCdBuildsComponent.test.tsx
  plugins/home/src/components/VisitList/VisitList.test.tsx
  plugins/kubernetes-react/src/components/Pods/FixDialog/FixDialog.test.tsx
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.test.tsx
  plugins/todo/src/components/TodoList/TodoList.test.tsx
  plugins/vault/src/components/EntityVaultCard/EntityVaultCard.test.tsx
  storybook/.storybook/apis.js
  yarn.lock
Labels: storybook, area:techdocs, area:kubernetes, homepage, area:discoverability

#23290 Remove the ADR search filter from default filter list
  .changeset/old-ducks-fetch.md
  packages/app/src/components/search/SearchPage.tsx
  plugins/search/src/alpha.tsx
Labels: search, area:discoverability

#23294 catalog-react: roll back style class key type change
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
Labels: area:catalog

#22391 docs/frontend-system: add app migration docs
  docs/frontend-system/building-apps/01-index.md
  docs/frontend-system/building-apps/02-configuring-extensions.md
  docs/frontend-system/building-apps/03-built-in-extensions.md
  docs/frontend-system/building-apps/08-migrating.md
  microsite/sidebars.json
Labels: documentation, microsite

#23321 blog: add security notice blog
  microsite/blog/2024-02-28-security-notice.mdx
Labels: microsite

#23324 Prettify security notice
  microsite/blog/2024-02-28-security-notice.mdx
Labels: microsite

#23291 Made "checkpoint" on scaffolder action context non-optional
  .changeset/thirty-bikes-stare.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-node-test-utils/src/actions/mockActionConext.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/types.ts
Labels: area:scaffolder

#23332 Added config.d.ts entry with secrets for the shared auth block
  .changeset/proud-socks-hear.md
  plugins/search-backend-module-elasticsearch/config.d.ts
Labels: search, area:discoverability
