Repository backstage/backstage, pull requests merged in 2024-05, with the labels that each got.

#24221 [NBS Docs] Added SingIn Resolvers Config Details
  docs/auth/atlassian/provider.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
  docs/auth/google/gcp-iap-auth.md
  docs/auth/google/provider.md
  docs/auth/microsoft/provider.md
  docs/auth/oauth2-proxy/provider.md
  docs/auth/okta/provider.md
  docs/auth/vmware-cloud/provider.md
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation

#24309 docs(contrib docker): update readme on minimal hardened image and update path
  .github/vale/config/vocabularies/Backstage/accept.txt
  contrib/docker/minimal-harded-image/README.md
  contrib/docker/minimal-hardened-image/Dockerfile
  contrib/docker/minimal-hardened-image/README.md
  docs/deployment/docker.md
Labels: documentation

#24532 microsite to v3
  docs/publishing.md
  microsite/docusaurus.config.js
  microsite/docusaurus.config.ts
  microsite/package.json
  microsite/tsconfig.json
  microsite/yarn.lock
Labels: documentation, microsite

#24574 Updated commit status importance in the list of GitHub App permissions
  docs/integrations/github/github-apps.md
Labels: documentation

#24567 Update discovery.md
  docs/integrations/bitbucketCloud/discovery.md
Labels: documentation

#23370 feat(openapi-tooling): add checks for API breaking changes
  .changeset/flat-countries-clap.md
  .github/workflows/api-breaking-changes-comment.yml
  .github/workflows/api-breaking-changes.yml
  NOTICE
  packages/repo-tools/cli-report.md
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/index.ts
  packages/repo-tools/src/commands/package/schema/openapi/diff.ts
  packages/repo-tools/src/commands/repo/schema/openapi/diff.ts
  packages/repo-tools/src/commands/repo/schema/openapi/verify.ts
  packages/repo-tools/src/lib/openapi/optic/helpers.ts
  plugins/catalog-backend/package.json
  yarn.lock
Labels: area:catalog

#24510 chore(docs): update openapi generate-client command
  docs/openapi/generate-client.md
Labels: documentation

#24564 feat: expose DD RUM sessionSampleRate and sessionReplaySampleRate
  app-config.yaml
  docs/integrations/datadog-rum/installation.md
  packages/app-next/public/index.html
  packages/app/public/index.html
  packages/cli/package.json
Labels: documentation

#24033 Update CatalogTable to hide total count until entities are initialized
  .changeset/swift-humans-hunt.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: area:catalog

#24592 microsite/data: update plugin link
  microsite/data/plugins/betterscan.yaml
Labels: microsite

#23309 docs/frontend-system: add app config docs
  docs/frontend-system/building-apps/02-configuring-extensions.md
  docs/frontend-system/building-apps/08-migrating.md
Labels: documentation

#24609 Patch release of #24478, #24511
  package.json
  packages/backend-app-api/CHANGELOG.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/logging/WinstonLogger.ts
  packages/core-components/CHANGELOG.md
  packages/core-components/package.json
  packages/core-components/src/layout/HeaderTabs/HeaderTabs.tsx
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
  yarn.lock
Labels: area:scaffolder

#24618 [Auth] fix: Add missing config.d.ts for auth-backend-module-github-provider
  .changeset/little-rockets-live.md
  plugins/auth-backend-module-aws-alb-provider/config.d.ts
  plugins/auth-backend-module-github-provider/config.d.ts
  plugins/auth-backend-module-github-provider/package.json
  plugins/auth-backend/config.d.ts
Labels: auth

#24133 Fix: Added ARIA Attributes to SearchModal Component
  .changeset/thirty-mangos-travel.md
  plugins/search/src/components/SearchModal/SearchModal.tsx
Labels: search, area:discoverability

#24631 Fix hyperlink to what-is-a-plugin link
  docs/faq/product.md
Labels: documentation

#24536 Added examples for gitlab:projectVariable:create scaffolder action & improve related tests
  .changeset/tame-jars-double.md
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectVariableAction.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectVariableAction.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectVariableAction.ts
Labels: area:scaffolder

#24598 catalog-node: update catalogAnalysisExtensionPoint
  .changeset/brave-carrots-glow.md
  .changeset/early-starfishes-hammer.md
  .changeset/happy-radios-kiss.md
  .changeset/rich-adults-float.md
  .changeset/tough-eggs-wink.md
  plugins/catalog-backend-module-github/src/module/githubCatalogModule.test.ts
  plugins/catalog-backend-module-github/src/module/githubCatalogModule.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/deprecated.ts
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/ingestion/LocationAnalyzer.ts
  plugins/catalog-backend/src/ingestion/index.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-node/api-report-alpha.md
  plugins/catalog-node/api-report.md
  plugins/catalog-node/src/extensions.ts
  plugins/catalog-node/src/processing/index.ts
  plugins/catalog-node/src/processing/types.ts
Labels: area:catalog

#24635 docs(nbs): proxying
  docs/plugins/proxying.md
Labels: documentation

#24632 add template editor to docs
  docs/assets/software-templates/context-menu.png
  docs/assets/software-templates/template-editor-dry-run.png
  docs/assets/software-templates/template-editor-load-dir.png
  docs/features/software-templates/writing-templates.md
Labels: documentation

#24588 feat: add new scaffolder action to send notifications
  .changeset/new-poets-promise.md
  .github/CODEOWNERS
  packages/backend/package.json
  plugins/scaffolder-backend-module-notifications/.eslintrc.js
  plugins/scaffolder-backend-module-notifications/README.md
  plugins/scaffolder-backend-module-notifications/api-report.md
  plugins/scaffolder-backend-module-notifications/catalog-info.yaml
  plugins/scaffolder-backend-module-notifications/package.json
  plugins/scaffolder-backend-module-notifications/src/actions/index.ts
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.test.ts
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.ts
  plugins/scaffolder-backend-module-notifications/src/index.ts
  plugins/scaffolder-backend-module-notifications/src/module.ts
  yarn.lock
Labels: area:scaffolder

#23976 refactor(collators): allow tokenManager param to be optional
  .changeset/wild-seahorses-grin.md
  plugins/search-backend-module-catalog/api-report.md
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.ts
  plugins/search-backend-module-techdocs/api-report.md
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.ts
Labels: search, area:discoverability

#24473 Updated document of app custom theme
  docs/getting-started/app-custom-theme.md
Labels: documentation

#24119 fix: OpenAPI table in dark mode
  .changeset/quiet-boxes-build.md
  plugins/api-docs/src/components/OpenApiDefinitionWidget/OpenApiDefinition.tsx
Labels: stale

#24648 chore: update humanitec plugin
  microsite/data/plugins/humanitec.yaml
Labels: microsite

#24575 backend -> backend-legacy, backend-next -> backend
  .changeset/cold-cougars-float.md
  docs/auth/vmware-cloud/provider.md
  docs/backend-system/index.md
  docs/conf/reading.md
  docs/features/kubernetes/proxy.md
  docs/features/search/how-to-guides.md
  docs/features/software-catalog/external-integrations.md
  docs/plugins/new-backend-system.md
  package.json
  packages/app-next/README.md
  packages/backend-dynamic-feature-service/README.md
  packages/backend-legacy/.eslintrc.js
  packages/backend-legacy/.snyk
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/README.md
  packages/backend-legacy/catalog-info.yaml
  packages/backend-legacy/knip-report.md
  packages/backend-legacy/package.json
  packages/backend-legacy/prometheus.yml
  packages/backend-legacy/src/index.test.ts
  packages/backend-legacy/src/index.ts
  packages/backend-legacy/src/metrics.ts
  packages/backend-legacy/src/plugins/DemoEventBasedEntityProvider.ts
  packages/backend-legacy/src/plugins/app.ts
  packages/backend-legacy/src/plugins/auth.ts
  packages/backend-legacy/src/plugins/catalog.ts
  packages/backend-legacy/src/plugins/devtools.ts
  packages/backend-legacy/src/plugins/events.ts
  packages/backend-legacy/src/plugins/healthcheck.ts
  packages/backend-legacy/src/plugins/kubernetes.ts
  packages/backend-legacy/src/plugins/permission.ts
  packages/backend-legacy/src/plugins/proxy.ts
  packages/backend-legacy/src/plugins/scaffolder.ts
  packages/backend-legacy/src/plugins/search.ts
  packages/backend-legacy/src/plugins/signals.ts
  packages/backend-legacy/src/plugins/techdocs.ts
  packages/backend-legacy/src/types.ts
  packages/backend-next/CHANGELOG.md
  packages/backend-next/README.md
  packages/backend-next/knip-report.md
  packages/backend-next/package.json
  packages/backend-next/src/index.ts
  packages/backend/CHANGELOG.md
  packages/backend/knip-report.md
  packages/backend/package.json
  packages/backend/src/authModuleGithubProvider.ts
  packages/backend/src/index.ts
  plugins/auth-backend/api-report.md
  plugins/catalog-backend-module-unprocessed/README.md
  plugins/search-backend-module-catalog/README.md
  yarn.lock
Labels: documentation, area:catalog, auth, search, area:discoverability

#24580 Add additional Gitlab project settings
  .changeset/dirty-chairs-march.md
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Labels: area:scaffolder

#24451 Add section to document how to create custom template filter
  docs/features/software-templates/writing-templates.md
Labels: documentation

#23895 fix(catalog-backend-module-github): support push events with catalogPath containing glob patterns
  .changeset/pink-years-peel.md
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: area:catalog

#24655 Update feature-flags.md
  docs/plugins/feature-flags.md
Labels: documentation

#24570 Scaffolder workspace serialization
  .changeset/healthy-dots-ring.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/migrations/20240401213200_workspace.js
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/serializer.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/serializer.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/tasks/types.ts
  yarn.lock
Labels: area:scaffolder

#24669 docs: remove developer journey
  docs/tutorials/journey.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#24376 fix: added `eventsServiceFactory` to `defaultServiceFactories`
  .changeset/quick-cats-argue.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/next/services/mockServices.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/events-node/api-report.md
  plugins/events-node/src/index.ts
  plugins/events-node/src/service.ts
  yarn.lock
Labels: area:events

#24671 Update analytics.md
  docs/plugins/analytics.md
Labels: documentation

#24595 Added `EntityRefPresentation#promise` for easier consumption
  .changeset/proud-comics-love.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/apis/EntityPresentationApi/EntityPresentationApi.ts
  plugins/catalog-react/src/apis/EntityPresentationApi/useEntityPresentation.ts
  plugins/catalog-react/src/components/EntityDisplayName/EntityDisplayName.test.tsx
  plugins/catalog/src/apis/EntityPresentationApi/DefaultEntityPresentationApi.test.ts
  plugins/catalog/src/apis/EntityPresentationApi/DefaultEntityPresentationApi.ts
Labels: area:catalog

#23314 fix the opentelemetry setup
  .changeset/sharp-glasses-live.md
  docs/tutorials/setup-opentelemetry.md
  packages/backend-legacy/package.json
  packages/backend-legacy/src/index.ts
  packages/backend/package.json
  packages/backend/prometheus.yml
  packages/backend/src/instrumentation.js
  packages/cli/cli-report.md
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/commands/start/startBackend.ts
  packages/cli/src/lib/bundler/config.ts
  packages/cli/src/lib/bundler/types.ts
  packages/cli/src/lib/experimental/startBackendExperimental.ts
  yarn.lock
Labels: documentation

#24615 MultiEntityPicker field can be set as required
  .changeset/sixty-bears-camp.md
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
Labels: area:scaffolder

#24673 Techdocs: make builder config optional
  .changeset/metal-years-rhyme.md
  packages/techdocs-cli-embedded-app/src/apis.ts
  plugins/techdocs-backend/config.d.ts
  plugins/techdocs-backend/src/service/DefaultDocsBuildStrategy.test.ts
  plugins/techdocs-backend/src/service/DefaultDocsBuildStrategy.ts
  plugins/techdocs/config.d.ts
  plugins/techdocs/src/client.ts
  plugins/techdocs/src/reader/components/TechDocsNotFound.tsx
Labels: area:techdocs

#24642 Add Digital.ai Deploy plugin to the microsite
  microsite/data/plugins/digital.ai-deploy.yaml
  microsite/static/img/digital.ai-deploy.svg
Labels: microsite

#24680 search-backend-module-elasticsearch: correctly resolve error handling promise
  .changeset/afraid-ghosts-watch.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
Labels: search, area:discoverability

#24692 Update v1.27.0-next.2-changelog.md
  docs/releases/v1.27.0-next.2-changelog.md
Labels: documentation

#24628 Adding support to override default author commit for github PRs
  .changeset/nasty-papayas-heal.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend-module-github/src/module.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
Labels: area:scaffolder

#24703 core-app-api: remove fallback to provider expiration
  .changeset/slimy-donkeys-laugh.md
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.ts
Labels: auth

#24704 Fixed typo in 05-extension-overrides.md
  docs/frontend-system/architecture/05-extension-overrides.md
Labels: documentation

#24640 Threat Model updates
  docs/overview/threat-model.md
Labels: documentation

#24722 Updated the auth document
  docs/auth/index.md
Labels: documentation

#24718 docs: fix broken links + verify
  .changeset/brave-planets-raise.md
  contrib/docs/tutorials/authenticate-api-requests.md
  contrib/docs/tutorials/aws-deployment.md
  docs/auth/cloudflare/access.md
  docs/auth/identity-resolver.md
  docs/auth/microsoft/provider.md
  docs/auth/service-to-service-auth.md
  docs/auth/vmware-cloud/provider.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  docs/backend-system/building-plugins-and-modules/02-testing.md
  docs/features/kubernetes/configuration.md
  docs/features/kubernetes/proxy.md
  docs/features/software-catalog/index.md
  docs/integrations/github/org--old.md
  docs/overview/roadmap.md
  docs/plugins/analytics.md
  docs/releases/v1.12.0-changelog.md
  docs/releases/v1.12.0-next.2-changelog.md
  docs/releases/v1.15.0.md
  docs/releases/v1.3.0-changelog.md
  docs/releases/v1.6.0-changelog.md
  docs/releases/v1.6.0-next.1-changelog.md
  docs/releases/v1.7.0-changelog.md
  docs/releases/v1.7.0-next.0-changelog.md
  docs/releases/v1.7.0.md
  packages/cli/CHANGELOG.md
  packages/core-app-api/CHANGELOG.md
  packages/create-app/CHANGELOG.md
  plugins/api-docs/CHANGELOG.md
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/README.md
  plugins/catalog-react/CHANGELOG.md
  plugins/catalog/CHANGELOG.md
  plugins/catalog/README.md
  plugins/scaffolder-backend/README.md
  plugins/scaffolder-common/CHANGELOG.md
  plugins/scaffolder/README.md
  plugins/user-settings/README.md
  scripts/verify-links.js
Labels: documentation, area:catalog, area:scaffolder

#24467 feat(MultiEntityPicker): use EntityPresentationApi instead of humanizeEntityRef to display entity
  .changeset/olive-rockets-drum.md
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
Labels: area:scaffolder

#24405 feat(EntityListComponent): use EntityPresentationApi instead of humanizeEntityRef to display entity
  .changeset/five-cows-crash.md
  plugins/catalog-import/package.json
  plugins/catalog-import/src/components/EntityListComponent/EntityListComponent.tsx
  plugins/catalog-import/src/components/StepPrepareSelectLocations/StepPrepareSelectLocations.test.tsx
  yarn.lock
Labels: area:catalog

#24709 Fixed typo in 05-extension-overrides.md
  docs/frontend-system/architecture/05-extension-overrides.md
Labels: documentation

#24391 removing react-text-truncate
  .changeset/sweet-spiders-rhyme.md
  packages/core-components/api-report.md
  packages/core-components/package.json
  packages/core-components/src/components/OverflowTooltip/OverflowTooltip.tsx
  plugins/catalog-react/src/components/EntityTable/presets.test.tsx
  yarn.lock
Labels: area:catalog

#24675 catalog: use LoggerService instead of winston Logger in ldap module
  .changeset/clean-pants-camp.md
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/package.json
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgReaderProcessor.ts
  yarn.lock
Labels: area:catalog

#24176 Mui lint more fixes
  .changeset/modern-radios-guess.md
  packages/eslint-plugin/docs/rules/no-top-level-material-ui-4-imports.md
  packages/eslint-plugin/rules/no-top-level-material-ui-4-imports.js
  packages/eslint-plugin/src/no-top-level-material-ui-4-imports.test.ts
Labels: stale

#24514 Documentation PR: Guide on "Start Over" & "Task List" Options available with in Backstage Software template
  docs/assets/software-templates/template-start-over.png
  docs/assets/software-templates/template-task-list.png
  docs/features/software-templates/index.md
Labels: documentation

#24565 [NBS 1.0] Extract common `paths` to the plugin api package
  .changeset/funny-cars-jump.md
  packages/backend-app-api/src/services/implementations/auth/DatabaseKeyStore.ts
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated.ts
  packages/backend-common/src/index.ts
  packages/backend-common/src/reading/tree/ZipArchiveResponse.ts
  packages/backend-dynamic-feature-service/src/schemas/appBackendModule.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/package.json
  packages/backend-plugin-api/src/index.ts
  packages/backend-plugin-api/src/paths.test.ts
  packages/backend-plugin-api/src/paths.ts
  packages/backend-plugin-api/src/testUtils.ts
  packages/backend-tasks/src/database/migrateBackendTasks.ts
  packages/backend-test-utils/src/filesystem/MockDirectory.ts
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/package/schema/openapi/generate/client.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.ts
  plugins/app-backend/src/lib/assets/findStaticAssets.ts
  plugins/app-backend/src/service/router.ts
  plugins/auth-backend/src/database/AuthDatabase.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/migrations.ts
  plugins/catalog-backend/src/database/migrations.ts
  plugins/notifications-backend/src/database/DatabaseNotificationsStore.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
  plugins/scaffolder-backend/src/lib/templating/SecureTemplater.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-node/src/actions/fetch.ts
  plugins/scaffolder-node/src/actions/util.ts
  plugins/scaffolder-node/src/files/deserializeDirectoryContents.ts
  plugins/scaffolder-node/src/files/serializeDirectoryContents.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/techdocs-node/src/helpers.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
  plugins/techdocs-node/src/stages/publish/local.ts
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.ts
  yarn.lock
Labels: area:catalog, auth, area:techdocs, search, area:scaffolder, area:discoverability

#24741 updated document of github, gitlab location
  docs/integrations/github/locations.md
  docs/integrations/gitlab/locations.md
Labels: documentation

#23478 Allow multiple edges with different type (catalog graph)
  .changeset/tame-jokes-bow.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderLabel.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityRelationNodesAndEdges.ts
Labels: area:catalog

#24700 catalog-backend-module-github-org: fix default namespace for groups
  .changeset/red-mangos-fly.md
  .changeset/wild-cats-hug.md
  docs/backend-system/building-backends/08-migrating.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github-org/src/GithubOrgEntityCleanerProvider.ts
  plugins/catalog-backend-module-github-org/src/module.ts
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: documentation, area:catalog

#24706 Updated document of resource permission check
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
Labels: documentation

#24544 [NBS 1.0] Extract common `test-utilities` to the plugin api package
  .changeset/funny-cars-jump.md
  packages/backend-app-api/src/services/implementations/auth/DatabaseKeyStore.ts
  packages/backend-common/api-report-testUtils.md
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated.ts
  packages/backend-common/src/index.ts
  packages/backend-common/src/reading/tree/ZipArchiveResponse.ts
  packages/backend-common/src/testUtils.ts
  packages/backend-dynamic-feature-service/src/schemas/appBackendModule.ts
  packages/backend-plugin-api/api-report-testUtils.md
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/package.json
  packages/backend-plugin-api/src/index.ts
  packages/backend-plugin-api/src/paths.test.ts
  packages/backend-plugin-api/src/paths.ts
  packages/backend-plugin-api/src/testUtils.ts
  packages/backend-tasks/src/database/migrateBackendTasks.ts
  packages/backend-test-utils/src/filesystem/MockDirectory.ts
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/package/schema/openapi/generate/client.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.ts
  plugins/app-backend/src/lib/assets/findStaticAssets.ts
  plugins/app-backend/src/service/appPlugin.test.ts
  plugins/app-backend/src/service/router.ts
  plugins/auth-backend/src/database/AuthDatabase.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/migrations.ts
  plugins/catalog-backend/src/database/migrations.ts
  plugins/notifications-backend/src/database/DatabaseNotificationsStore.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
  plugins/scaffolder-backend/src/lib/templating/SecureTemplater.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-node/src/actions/fetch.ts
  plugins/scaffolder-node/src/actions/util.ts
  plugins/scaffolder-node/src/files/deserializeDirectoryContents.ts
  plugins/scaffolder-node/src/files/serializeDirectoryContents.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/techdocs-node/src/helpers.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
  plugins/techdocs-node/src/stages/publish/local.test.ts
  plugins/techdocs-node/src/stages/publish/local.ts
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.ts
  yarn.lock
Labels: area:catalog, auth, area:techdocs, search, area:scaffolder, area:discoverability

#24760 docs: fix vale issue
  docs/integrations/github/org.md
Labels: documentation

#24761 docs/integration/github: doc grammar fix + update
  docs/integrations/github/org.md
Labels: documentation

#24672 fix: correct position of the copy to clipboard button
  .changeset/late-students-live.md
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
Labels: area:techdocs

#24334 Improve techdocs search bar
  .changeset/slimy-fans-raise.md
  plugins/techdocs/src/search/components/TechDocsSearch.tsx
Labels: area:techdocs

#24774 catalog-backend-module-gitlab: fix release
  plugins/catalog-backend-module-gitlab/CHANGELOG.md
  plugins/catalog-backend-module-gitlab/package.json
Labels: area:catalog

#24762 docs: 1.27 release notes
  docs/releases/v1.27.0.md
  microsite/docusaurus.config.ts
  microsite/sidebars.json
Labels: documentation, microsite

#24726 docs: improve github auth providers
  docs/auth/github/provider.md
Labels: documentation

#24752 docs: hierarchy of domains
  docs/assets/software-catalog/software-model-entities.drawio.svg
  docs/features/software-catalog/system-model.md
Labels: documentation

#24772 Updated the backend-system/building-backends documents
  docs/backend-system/building-backends/01-index.md
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation

#23716 bep: add user notification settings plan
  beps/0001-notifications-system/README.md
  beps/0001-notifications-system/UserNotificationSettings.png
Labels: BEP

#24789 Updated documentation of auth providers
  docs/auth/atlassian/provider.md
  docs/auth/gitlab/provider.md
  docs/auth/google/gcp-iap-auth.md
  docs/auth/google/provider.md
  docs/auth/microsoft/provider.md
  docs/auth/oauth2-proxy/provider.md
  docs/auth/okta/provider.md
  docs/auth/vmware-cloud/provider.md
Labels: documentation

#24792 Different way to do redactions on meta fields
  .changeset/nine-ties-type.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/logging/WinstonLogger.test.ts
  packages/backend-app-api/src/logging/WinstonLogger.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
  yarn.lock
Labels: area:scaffolder

#24754 Use linkTarget in ScaffolderField to enable parameter descriptions to open in a new tab as intended
  .changeset/loud-pumpkins-bow.md
  plugins/scaffolder-react/src/next/components/ScaffolderField/ScaffolderField.tsx
Labels: area:scaffolder

#24786 remove last remnants of react-text-truncate from test mocks
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.test.tsx
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.test.tsx
Labels: area:techdocs

#24765 docs/overview: update roadmap for fall 2024
  docs/overview/roadmap.md
Labels: documentation

#24800 Update setup-opentelemetry.md
  docs/tutorials/setup-opentelemetry.md
Labels: documentation

#24802 Updated the deployment documents
  docs/deployment/docker.md
  docs/deployment/index.md
  docs/deployment/k8s.md
Labels: documentation

#24796 Split search backend plugin initialization into init and start phases
  .changeset/seven-geese-raise.md
  plugins/search-backend-node/api-report-alpha.md
  plugins/search-backend-node/src/alpha.ts
  plugins/search-backend/src/alpha.ts
Labels: search, area:discoverability

#24811 Patch release of #24792, #24779, #24806, #24796
  package.json
  packages/backend-app-api/CHANGELOG.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/logging/WinstonLogger.test.ts
  packages/backend-app-api/src/logging/WinstonLogger.ts
  packages/theme/CHANGELOG.md
  packages/theme/package.json
  packages/theme/src/unified/MuiClassNameSetup.ts
  packages/theme/src/unified/UnifiedThemeProvider.test.tsx
  packages/theme/src/unified/UnifiedThemeProvider.tsx
  plugins/app-backend/CHANGELOG.md
  plugins/app-backend/package.json
  plugins/app-backend/src/service/__fixtures__/app-dir/dist/.config-schema.json
  plugins/app-backend/src/service/router.test.ts
  plugins/app-backend/src/service/router.ts
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
  plugins/search-backend-node/CHANGELOG.md
  plugins/search-backend-node/api-report-alpha.md
  plugins/search-backend-node/package.json
  plugins/search-backend-node/src/alpha.ts
  plugins/search-backend/CHANGELOG.md
  plugins/search-backend/package.json
  plugins/search-backend/src/alpha.ts
  yarn.lock
Labels: search, area:scaffolder, area:discoverability

#24809 fix: sync mkdocs-material variables
  .changeset/calm-plums-wink.md
  plugins/techdocs/src/reader/transformers/styles/rules/variables.ts
Labels: area:techdocs

#24475 add property ownerPickerMode to TechDocsIndexPage and DefaultApiExplorerPage
  .changeset/gentle-baboons-peel.md
  .changeset/tiny-pandas-return.md
  plugins/api-docs/api-report.md
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.tsx
  plugins/techdocs/api-report.md
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/TechDocsIndexPage.tsx
Labels: area:techdocs, merge-after-release

#24813 Updated the features documents
  docs/features/kubernetes/installation.md
  docs/features/search/search-engines.md
  docs/features/software-catalog/catalog-customization.md
  docs/features/software-catalog/life-of-an-entity.md
  docs/features/software-templates/adding-templates.md
  docs/features/software-templates/authorizing-parameters-steps-and-actions.md
  docs/features/software-templates/builtin-actions.md
  docs/features/software-templates/configuration.md
  docs/features/software-templates/index.md
  docs/features/software-templates/migrating-to-rjsf-v5.md
  docs/features/software-templates/writing-custom-actions.md
  docs/features/techdocs/architecture.md
  docs/features/techdocs/getting-started.md
  docs/features/techdocs/how-to-guides.md
  docs/features/techdocs/using-cloud-storage.md
Labels: documentation

#24501 Feature/enable scaffolder dry run
  .changeset/cyan-paws-beg.md
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend-module-github/src/actions/githubWebhook.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubWebhook.ts
Labels: area:scaffolder

#24830 microsite: switch feedback rating mode to stars
  microsite/docusaurus.config.ts
Labels: microsite

#24798 Change owner to project for azure host
  .changeset/wise-wasps-look.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/AzureRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/AzureRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: area:scaffolder

#24795 chore: Updating the redaction message to something a little less dramatic
  .changeset/smooth-gifts-nail.md
  packages/backend-app-api/src/logging/WinstonLogger.test.ts
  packages/backend-app-api/src/logging/WinstonLogger.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
Labels: area:scaffolder

#24562 Request to modify a notification payload.
  beps/0001-notifications-system/README.md
Labels: BEP

#23692 BEP Describe personas and separate portal and framework docs
  beps/0008-docs-personas-framework-portal/README.md
Labels: BEP

#24840 Updated the note format of documents
  docs/auth/add-auth-provider.md
  docs/auth/service-to-service-auth.md
  docs/integrations/azure/locations.md
  docs/integrations/bitbucketCloud/locations.md
  docs/integrations/github/discovery.md
  docs/integrations/github/org.md
  docs/integrations/gitlab/discovery.md
  docs/integrations/gitlab/org.md
  docs/integrations/ldap/org.md
  docs/permissions/getting-started.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  docs/permissions/plugin-authors/05-frontend-authorization.md
Labels: documentation

#24822 Update ibm-apic-backend.yaml
  microsite/data/plugins/ibm-apic-backend.yaml
Labels: microsite

#24844 microsite/data: update plugin author
  microsite/data/plugins/apollo-explorer.yaml
Labels: microsite

#24833 [NBS 1.0] Deprecate legacy router handlers and contexts
  .changeset/spicy-camels-happen.md
  packages/backend-common/api-report-alpha.md
  packages/backend-common/api-report.md
  packages/backend-common/src/context/Contexts.ts
  packages/backend-common/src/context/types.ts
  packages/backend-common/src/discovery/HostDiscovery.ts
  packages/backend-common/src/middleware/errorHandler.ts
  packages/backend-common/src/middleware/requestLoggingHandler.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: area:permission

#24847 catalog: support events service in new backend system
  .changeset/mean-laws-lay.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
Labels: area:catalog

#24862 Bugfix: handle missing orgEnabled config key gracefully
  .changeset/nine-hairs-kick.md
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#24867 Patch release of #24859
  package.json
  plugins/scaffolder-react/CHANGELOG.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
Labels: area:scaffolder

#24518 Add additional scaffolder permissions
  .changeset/tender-seas-listen.md
  .changeset/weak-gifts-occur.md
  docs/features/software-templates/authorizing-scaffolder-template-details.md
  microsite/docusaurus.config.ts
  microsite/sidebars.json
  plugins/catalog/package.json
  plugins/catalog/src/components/AboutCard/AboutCard.test.tsx
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-backend/src/util/checkPermissions.ts
  plugins/scaffolder-common/api-report-alpha.md
  plugins/scaffolder-common/src/permissions.ts
  plugins/scaffolder-react/package.json
  plugins/scaffolder-react/src/extensions/rjsf.ts
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/dev/index.tsx
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
  plugins/scaffolder/src/components/OngoingTask/ContextMenu.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.test.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
  yarn.lock
Labels: documentation, area:catalog, microsite, area:scaffolder

#24874 update the jwks external auth to use singular nouns
  docs/auth/service-to-service-auth.md
  packages/backend-app-api/config.d.ts
  packages/backend-app-api/src/services/implementations/auth/external/ExternalTokenHandler.test.ts
  packages/backend-app-api/src/services/implementations/auth/external/helpers.test.ts
  packages/backend-app-api/src/services/implementations/auth/external/helpers.ts
  packages/backend-app-api/src/services/implementations/auth/external/jwks.test.ts
  packages/backend-app-api/src/services/implementations/auth/external/jwks.ts
Labels: documentation

#24838 Bugfix: remove custom fallback
  .changeset/perfect-bikes-invite.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
Labels: area:catalog

#24891 [plugin-search-backend]: Move `@backstage/repo-tools` to be dev dependency
  .changeset/shaggy-jokes-promise.md
  plugins/search-backend/package.json
Labels: search, area:discoverability

#24892 Patch release of #24838, #24862, #24865
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/lib/bundler/server.ts
  plugins/catalog-backend-module-gitlab/CHANGELOG.md
  plugins/catalog-backend-module-gitlab/package.json
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#24717 Updated the accessibility document
  docs/accessibility/index.md
Labels: documentation

#24837 plugins: export catalogTranslationRef
  .changeset/tall-lies-fetch.md
  plugins/catalog/api-report-alpha.md
  plugins/catalog/src/alpha.ts
Labels: area:catalog

#24902 🧹 use node-fetch
  .changeset/nice-pants-shave.md
  plugins/auth-backend-module-cloudflare-access-provider/src/helpers.ts
  plugins/notifications-node/package.json
  plugins/notifications-node/src/service/DefaultNotificationService.test.ts
  plugins/notifications-node/src/service/DefaultNotificationService.ts
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.ts
  plugins/scaffolder-backend-module-sentry/package.json
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.ts
  yarn.lock
Labels: auth, area:scaffolder

#24894 Add scaffolder action to trigger GitLab pipelines
  .changeset/soft-flies-live.md
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabPipelineTrigger.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabPipelineTrigger.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabPipelineTrigger.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectVariableCreate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectVariableCreate.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectVariableCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/index.ts
  plugins/scaffolder-backend-module-gitlab/src/module.ts
Labels: area:scaffolder

#24925 scaffolder: `formData` should be allowed to be undefined
  .changeset/spicy-brooms-hang.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/extensions/rjsf.ts
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
Labels: area:scaffolder

#24827 fix: move kubernetes autoscaling to v2
  .changeset/stupid-tigers-bake.md
  plugins/kubernetes-backend/examples/dice-roller/dice-roller-manifests.yaml
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/error-detection/__fixtures__/hpa-healthy.json
  plugins/kubernetes-common/src/error-detection/__fixtures__/hpa-maxed-out.json
  plugins/kubernetes-common/src/error-detection/error-detection.test.ts
  plugins/kubernetes-common/src/error-detection/error-detection.ts
  plugins/kubernetes-common/src/error-detection/hpas.ts
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes-react/api-report.md
  plugins/kubernetes-react/src/__fixtures__/1-deployments.json
  plugins/kubernetes-react/src/__fixtures__/1-statefulsets.json
  plugins/kubernetes-react/src/__fixtures__/2-deployments.json
  plugins/kubernetes-react/src/__fixtures__/2-statefulsets.json
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/Rollout.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentsAccordions.tsx
  plugins/kubernetes-react/src/components/HorizontalPodAutoscalers/HorizontalPodAutoscalerDrawer.tsx
  plugins/kubernetes-react/src/components/HorizontalPodAutoscalers/__fixtures__/horizontalpodautoscalers.json
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetsAccordions.tsx
  plugins/kubernetes-react/src/utils/owner.ts
  plugins/kubernetes/src/__fixtures__/1-deployments.json
  plugins/kubernetes/src/__fixtures__/1-statefulsets.json
  plugins/kubernetes/src/__fixtures__/2-deployments.json
  plugins/kubernetes/src/__fixtures__/2-statefulsets.json
Labels: area:kubernetes

#24946 Patch release of #24925
  package.json
  plugins/scaffolder/CHANGELOG.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
Labels: area:scaffolder

#24878 fix: use fetchApi instead of explicit identityApi token in remaining plugins
  .changeset/empty-tables-ring.md
  plugins/catalog-import/api-report.md
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.ts
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.test.tsx
  plugins/catalog-import/src/components/ImportPage/ImportPage.test.tsx
  plugins/catalog-import/src/plugin.ts
  plugins/kubernetes-react/api-report.md
  plugins/kubernetes-react/src/api/KubernetesBackendClient.test.ts
  plugins/kubernetes-react/src/api/KubernetesBackendClient.ts
  plugins/kubernetes/src/plugin.ts
  plugins/search/src/alpha.tsx
  plugins/search/src/apis.test.ts
  plugins/search/src/apis.ts
  plugins/search/src/plugin.ts
Labels: area:catalog, area:kubernetes, search, area:discoverability

#24951 docs: fix proxy typo
  docs/tutorials/using-backstage-proxy-within-plugin.md
Labels: documentation

#23908 fix not to add git commit link in about card edit button
  .changeset/thirty-plums-shout.md
  plugins/catalog-backend/src/modules/core/AnnotateLocationEntityProcessor.test.ts
  plugins/catalog-backend/src/modules/core/AnnotateLocationEntityProcessor.ts
Labels: area:catalog

#24587 feat: allow defining custom build log transport for techdocs
  .changeset/cuddly-eggs-sin.md
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/extensions.ts
Labels: area:techdocs

#24971 Docs should state `createNewFileAction()` rather than `new createNewF…
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#24962 root: bump to TS 5.2 + 5.4
  .changeset/real-ghosts-return.md
  microsite/package.json
  microsite/yarn.lock
  package.json
  packages/create-app/templates/default-app/package.json.hbs
  yarn.lock
Labels: microsite

#24984 remove debug console logging statement
  .changeset/many-windows-attack.md
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
Labels: area:catalog

#24708 beps/0002: update scope and add alternatives
  beps/0002-dynamic-frontend-plugins/README.md
Labels: BEP

#24816 docs: restructure local-dev and rename to tooling
  .changeset/beige-eagles-cheat.md
  docs/backend-system/architecture/04-plugins.md
  docs/deployment/docker.md
  docs/getting-started/keeping-backstage-updated.md
  docs/integrations/github/github-apps.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/plugins/create-a-plugin.md
  docs/plugins/testing.md
  docs/references/glossary.md
  docs/releases/v1.20.0.md
  docs/tooling/cli/01-overview.md
  docs/tooling/cli/02-build-system.md
  docs/tooling/cli/03-commands.md
  docs/tooling/local-dev/debugging.md
  docs/tooling/local-dev/linking-local-packages.md
  docs/tutorials/package-role-migration.md
  microsite/sidebars.json
  mkdocs.yml
  packages/backend-legacy/README.md
  packages/cli-node/src/roles/types.ts
Labels: documentation, microsite

#24987 :broom: fix some particularly noisy test log warning sources
  .changeset/clever-radios-yawn.md
  packages/core-app-api/src/app/AppManager.test.tsx
  packages/core-components/src/layout/TabbedCard/TabbedCard.test.tsx
  packages/core-components/src/setupTests.ts
  packages/frontend-app-api/src/setupTests.ts
  packages/frontend-plugin-api/src/setupTests.ts
  packages/frontend-test-utils/src/setupTests.ts
  plugins/api-docs/src/components/ApisCards/presets.tsx
  plugins/catalog-react/src/hooks/useEntity.test.tsx
  plugins/techdocs-module-addons-contrib/src/TextSize/TextSize.test.tsx
  plugins/techdocs-module-addons-contrib/src/setupTests.ts
  plugins/techdocs/src/search/components/TechDocsSearch.test.tsx
  plugins/user-settings/src/components/SettingsPage/SettingsPage.test.tsx
Labels: area:catalog, area:techdocs

#24870 permission-node: remove references from backend-common
  .changeset/selfish-pugs-lick.md
  plugins/permission-node/api-report.md
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/permission-node/src/ServerPermissionClient.ts
Labels: area:permission
