Repository backstage/backstage, pull requests merged in 2024-04, with the labels that each got.

#23464 Support env var parameter substitution
  .changeset/tricky-clouds-wait.md
  docs/conf/writing.md
  packages/config-loader/src/sources/transform/substitution.test.ts
  packages/config-loader/src/sources/transform/substitution.ts
Labels: documentation, stale

#23840 Add examples for bitbucketCloud actions
  .changeset/famous-experts-warn.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.examples.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
Labels: area:scaffolder

#23776 fix: persist selected value in MyGroupsPicker.tsx
  .changeset/hot-years-sell.md
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.test.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
Labels: area:scaffolder

#23084 feat(openapi-tooling): add support for fuzzing with schemathesis
  .changeset/fuzzy-beans-occur.md
  .changeset/violet-lobsters-unite.md
  .gitignore
  packages/repo-tools/cli-report.md
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/index.ts
  packages/repo-tools/src/commands/package/schema/openapi/fuzz.ts
  packages/repo-tools/src/commands/repo/schema/openapi/fuzz.ts
  packages/repo-tools/src/lib/exec.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/search-backend/package.json
  plugins/todo-backend/package.json
  yarn.lock
Labels: area:catalog, search, area:discoverability

#23813 Fix: Remove inline style in TechDocs Header
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: area:techdocs

#23911 Update custom theme docs with info for fonts
  docs/getting-started/app-custom-theme.md
Labels: documentation

#23901 Fix: blog truncate text
  microsite/docusaurus.config.js
Labels: microsite

#21520 Add a section in the migration docs on how to use legacy auth providers with the new backend system
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation, will-fix

#23933 kubernetes-backend: fix reading credentials from undefined
  .changeset/little-bats-admire.md
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.ts
Labels: area:kubernetes

#23903 Add api type function
  .changeset/witty-kings-smoke.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/EntitySwitch/conditions.test.ts
  plugins/catalog/src/components/EntitySwitch/conditions.ts
  plugins/catalog/src/components/EntitySwitch/index.ts
Labels: area:catalog

#23930 feat: allow overriding default techdocs preparers
  .changeset/chatty-flies-worry.md
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/extensions.ts
  plugins/techdocs-node/src/index.ts
Labels: area:techdocs

#23941 chore: fixing some small vale things
  contrib/docker/minimal-harded-image/README.md
  docs/deployment/docker.md
Labels: documentation

#23401 Standard entity metadata to help measure Scaffolder ROI
  .changeset/catalog-create-something-similar.md
  .changeset/scaffolder-create-time-saved.md
  .changeset/scaffolder-source-of-truth.md
  docs/features/software-catalog/descriptor-format.md
  docs/features/software-catalog/well-known-annotations.md
  docs/plugins/analytics.md
  packages/catalog-model/examples/components/artist-lookup-component.yaml
  packages/catalog-model/examples/components/www-artist-component.yaml
  plugins/catalog/src/components/AboutCard/AboutCard.test.tsx
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/components/AboutCard/hooks.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.test.tsx
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder-react/src/next/hooks/useTemplateTimeSaved.test.tsx
  plugins/scaffolder-react/src/next/hooks/useTemplateTimeSaved.ts
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.test.tsx
Labels: documentation, area:catalog, area:scaffolder, needs discussion

#23944 (fix) Fixed Kubernetes Plugin Installarion Document
  docs/features/kubernetes/installation.md
Labels: documentation

#23871 docs(plugins/catalog-backend-module-backstage-openapi): fix configuration example
  plugins/catalog-backend-module-backstage-openapi/README.md
Labels: area:catalog, stale

#23959 [Auth] Add identity proof signature to Backstage tokens
  .changeset/hip-ravens-glow.md
  .changeset/nice-squids-complain.md
  .changeset/stale-jeans-tell.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/services/implementations/auth/UserTokenHandler.test.ts
  packages/backend-app-api/src/services/implementations/auth/UserTokenHandler.ts
  packages/backend-app-api/src/services/implementations/auth/authServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/auth/authServiceFactory.ts
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-node/api-report.md
  plugins/auth-node/src/index.ts
  plugins/auth-node/src/types.ts
  yarn.lock
Labels: auth

#23896 Update AWS ALB Auth Provider Default Export
  .changeset/old-insects-smoke.md
  plugins/auth-backend-module-aws-alb-provider/README.md
  plugins/auth-backend-module-aws-alb-provider/api-report.md
  plugins/auth-backend-module-aws-alb-provider/src/index.ts
  plugins/auth-backend-module-aws-alb-provider/src/resolvers.ts
Labels: auth

#23975 fix(github-providers): properly instantiate with EventsService when defined
  .changeset/twenty-items-shave.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

#23977 Fix document koyeb.md
  docs/deployment/koyeb.md
Labels: documentation

#23900 docs: mention the ability to register multiple components in a single repo
  docs/features/software-catalog/index.md
Labels: documentation

#23984 allow the task list search to work on the title field
  .changeset/loud-walls-hang.md
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
Labels: area:scaffolder

#23402 Create dx.yaml
  microsite/data/plugins/dx.yaml
  microsite/static/img/dx-icon.png
Labels: microsite

#23982 Fixed ResourceUtilization component for POD Memory Limits
  .changeset/early-vans-press.md
  plugins/kubernetes-react/src/components/Pods/PodDrawer/PodDrawer.tsx
Labels: area:kubernetes

#23858 feat: Support revoke refresh token to oidc logout function
  .changeset/pretty-insects-yell.md
  plugins/auth-backend-module-oidc-provider/src/authenticator.test.ts
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
Labels: auth

#23880 fix: don't show login prompt if token is defined in state
  .changeset/thick-pets-attend.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/secrets/SecretsContext.test.tsx
  plugins/scaffolder-react/src/secrets/SecretsContext.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
Labels: area:scaffolder

#24070 fix: update config reading for NBS
  docs/conf/reading.md
Labels: documentation

#24023 backend-app-api: deprecate plugin path configuration and fix /api/* 404
  .changeset/chilled-pigs-march.md
  docs/backend-system/core-services/http-router.md
  docs/backend-system/core-services/root-http-router.md
  packages/backend-app-api/src/services/implementations/httpRouter/httpRouterServiceFactory.ts
  packages/backend-app-api/src/services/implementations/rootHttpRouter/DefaultRootHttpRouter.test.ts
  packages/backend-app-api/src/services/implementations/rootHttpRouter/DefaultRootHttpRouter.ts
Labels: documentation

#24009 🧹 sort more package.json files
  packages/core-compat-api/package.json
  packages/eslint-plugin/package.json
  packages/test-utils/package.json
  plugins/azure-devops-common/package.json
  plugins/azure-devops/package.json
  plugins/catalog-backend-module-ldap/package.json
  plugins/catalog-backend-module-unprocessed/package.json
  plugins/cicd-statistics-module-gitlab/package.json
  plugins/code-coverage-backend/package.json
  plugins/codescene/package.json
  plugins/entity-feedback-backend/package.json
  plugins/events-backend-module-aws-sqs/package.json
  plugins/events-backend-module-azure/package.json
  plugins/events-backend-module-bitbucket-cloud/package.json
  plugins/events-backend-module-gerrit/package.json
  plugins/events-backend-module-github/package.json
  plugins/events-backend-module-gitlab/package.json
  plugins/events-node/package.json
  plugins/git-release-manager/package.json
  plugins/github-pull-requests-board/package.json
  plugins/jenkins-backend/package.json
  plugins/notifications-node/package.json
  plugins/notifications/package.json
  plugins/scaffolder-backend-module-azure/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-gerrit/package.json
  plugins/scaffolder-backend-module-gitea/package.json
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-sentry/package.json
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  plugins/search-backend/package.json
  plugins/vault-backend/package.json
Labels: area:catalog, search, area:scaffolder, area:discoverability

#24067 Updated TechDocs with new backend system examples
  docs/features/techdocs/getting-started.md
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#24037 Update with all core features
  docs/backend-system/building-backends/08-migrating.md
  package.json
  scripts/list-backend-feature.js
  yarn.lock
Labels: documentation

#24084 auth-backend: add initial userinfo endpoint
  .changeset/stale-bikes-bake.md
  plugins/auth-backend/src/authPlugin.test.ts
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/identity/router.test.ts
  plugins/auth-backend/src/identity/router.ts
  plugins/auth-backend/src/service/router.ts
Labels: auth

#24088 [Catalog] Wire up the entity presentation API in new frontend system apps
  .changeset/catalog-next-presentation-tho.md
  plugins/catalog/src/alpha/apis.tsx
Labels: area:catalog

#23918 Improve cosnsitency of git publish actions examples
  .changeset/silent-sloths-repair.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.examples.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.examples.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.examples.ts
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/github.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.ts
Labels: area:scaffolder

#23883 notifications: small suggestion for terminology
  beps/0001-notifications-system/README.md
Labels: stale

#24006 kubernetes: fixing credentials propagation for cluster suppliers
  .changeset/big-bobcats-beg.md
  .changeset/chilled-boats-move.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/routes/resourcesRoutes.ts
  plugins/kubernetes-backend/src/service-locator/CatalogRelationServiceLocator.ts
  plugins/kubernetes-backend/src/service-locator/MultiTenantServiceLocator.ts
  plugins/kubernetes-backend/src/service-locator/SingleTenantServiceLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
  plugins/kubernetes-node/api-report.md
  plugins/kubernetes-node/src/types/types.ts
Labels: area:kubernetes

#23823 Updated Software Template docs with New Backend System examples
  docs/features/software-templates/authorizing-parameters-steps-and-actions.md
  docs/features/software-templates/builtin-actions.md
  docs/features/software-templates/writing-custom-actions.md
  docs/getting-started/create-a-component.md
Labels: documentation

#24100 Fix #20418 parens in docs for legacyPlugin
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation

#23989 Add examples for `publish:bitbucketServer` scaffolder action & improve related tests
  .changeset/good-pandas-serve.md
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServer.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServer.examples.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServer.ts
Labels: area:scaffolder

#23022 Make catalog logging a little quieter where entities are erroring
  .changeset/selfish-rivers-fetch.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/constants.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, stale

#24038 Updated external integrations with new backend system examples
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#24041 Updated Kubernetes installation with new backend system examples
  docs/features/kubernetes/installation.md
Labels: documentation

#24122 Fix the `CatalogClient::getEntities` method to only sort the resulting entities in case no `order`-parameter is provided.
  .changeset/seven-socks-study.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
Labels: area:catalog

#24003 Azure AD, handle timeout and allow disabling photos
  .changeset/good-cats-tap.md
  plugins/catalog-backend-module-msgraph/api-report.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
Labels: area:catalog

#24145 ServerPermissionClient: fix targetPluginId
  .changeset/eleven-apricots-wave.md
  .changeset/sixty-impalas-admire.md
  packages/backend-app-api/src/services/implementations/auth/authServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/auth/authServiceFactory.ts
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/permission-node/src/ServerPermissionClient.ts
Labels: area:permission

#23951 make elasticsearch provider optional if search.elasticsearch not defined
  .changeset/tough-snakes-wink.md
  plugins/search-backend-module-elasticsearch/src/alpha.ts
Labels: search, area:discoverability

#23916 Home react plugin
  .changeset/giant-pots-count.md
  plugins/home-react/.eslintrc.js
  plugins/home-react/src/components/SettingsModal.tsx
  plugins/home-react/src/extensions.tsx
Labels: stale

#24137 Update docker.md broken link
  docs/deployment/docker.md
Labels: documentation

#24068 Add ESLint Rule to techdocs-react plugin
  .changeset/chatty-rules-repair.md
  plugins/techdocs-react/.eslintrc.js
  plugins/techdocs-react/src/component.tsx
  plugins/techdocs-react/src/context.test.tsx
Labels: area:techdocs

#23897 (BUGFIX: plugin-atlassian-auth-provider) pass scope to strategy
  .changeset/curly-seals-pull.md
  app-config.yaml
  docs/auth/atlassian/provider.md
  plugins/auth-backend-module-atlassian-provider/config.d.ts
  plugins/auth-backend-module-atlassian-provider/src/authenticator.ts
  plugins/auth-backend-module-atlassian-provider/src/module.test.ts
Labels: documentation, auth

#24178 microsite: add feedback button to docs
  microsite/README.md
  microsite/docusaurus.config.js
  microsite/package.json
  microsite/src/theme/customTheme.scss
  microsite/yarn.lock
Labels: microsite

#24063 Add examples for gitlab:group:ensureExists scaffolder action and improved related tests
  .changeset/proud-queens-mix.md
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabGroupEnsureExistsAction.ts
Labels: area:scaffolder

#24021 Add examples for `publish:gitlab:merge-request` scaffolder action & improve related tests
  .changeset/fluffy-ducks-joke.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
Labels: area:scaffolder

#23963 Added link to GUI visualising OAS spec of software-catalog API
  docs/features/software-catalog/api.md
Labels: documentation

#24219 docs/integration/github/discovery: mention require scope and permissions
  docs/integrations/github/discovery.md
Labels: documentation

#24022 Add examples for gitlab:projectDeployToken:create scaffolder action & improved related tests
  .changeset/tender-penguins-matter.md
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectDeployTokenAction.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectDeployTokenAction.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabProjectDeployTokenAction.ts
Labels: area:scaffolder

#24074 Add examples for run:yeoman scaffolder action and improve related tests
  .changeset/wet-buttons-buy.md
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/scaffolder-backend-module-yeoman/src/actions/run/yeoman.examples.test.ts
  plugins/scaffolder-backend-module-yeoman/src/actions/run/yeoman.examples.ts
  plugins/scaffolder-backend-module-yeoman/src/actions/run/yeoman.ts
  yarn.lock
Labels: area:scaffolder

#24053 Add support for AWS GovCloud regions to the ALB Provider
  .changeset/neat-weeks-wait.md
  plugins/auth-backend-module-aws-alb-provider/src/helpers.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/helpers.ts
Labels: auth

#24251 add mui imports eslint rule to Scaffolder-react
  .changeset/rotten-cameras-leave.md
  plugins/scaffolder-react/.eslintrc.js
  plugins/scaffolder-react/src/next/components/Form/DescriptionFieldTemplate.tsx
  plugins/scaffolder-react/src/next/components/ScaffolderField/ScaffolderField.tsx
  plugins/scaffolder-react/src/next/components/Stepper/ErrorListTemplate/errorListTemplate.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/StepIcon.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/StepTime.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskBorder.tsx
  plugins/scaffolder-react/src/next/components/TaskSteps/TaskSteps.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/CardHeader.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/CardHeader.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/CardLink.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder-react/src/next/components/TemplateCategoryPicker/TemplateCategoryPicker.tsx
  plugins/scaffolder-react/src/next/components/TemplateGroups/TemplateGroups.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/LinkOutputs.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/TextOutputs.tsx
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
Labels: area:scaffolder

#24154 update the sign-in resolver docs for the new backend system
  docs/auth/identity-resolver--old.md
  docs/auth/identity-resolver.md
Labels: documentation

#24184 microsite: add feedback plugin to plugins directory
  microsite/data/plugins/feedback.yaml
  microsite/static/img/plugin-feedback-logo.svg
Labels: microsite

#24196 config: trim strings when reading config
  .changeset/chatty-parrots-trade.md
  packages/config-loader/api-report.md
  packages/config-loader/src/sources/ConfigSources.ts
  packages/config-loader/src/sources/transform/apply.test.ts
  packages/config-loader/src/sources/transform/apply.ts
Labels: merge-after-release

#24064 Add examples for publish:gerrit:review scaffolder action & improve related tests
  .changeset/mighty-humans-tan.md
  plugins/scaffolder-backend-module-gerrit/src/actions/gerritReview.examples.test.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerritReview.examples.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerritReview.ts
Labels: area:scaffolder

#23952 feat: catalog-backend-module-backstage-openapi: enable configuring entity `name` and `title`
  .changeset/shaggy-books-mate.md
  plugins/catalog-backend-module-backstage-openapi/README.md
  plugins/catalog-backend-module-backstage-openapi/config.d.ts
  plugins/catalog-backend-module-backstage-openapi/package.json
  plugins/catalog-backend-module-backstage-openapi/src/InternalOpenApiDocumentationProvider.ts
  yarn.lock
Labels: area:catalog

#23724 Hide `EntityAutocompletePicker` only if there are zero available options
  .changeset/moody-rice-jump.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.test.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
Labels: area:catalog

#23476 docs: submitting Library Check plugin to marketplace
  microsite/data/plugins/library-check.yaml
  microsite/static/img/library-check-logo.png
Labels: microsite

#24242 Add ESLint Rule to Auth React Plugin
  plugins/auth-react/.eslintrc.js
Labels: auth

#24252 add miu import rules to Search-react
  .changeset/few-dots-greet.md
  plugins/search-react/.eslintrc.js
  plugins/search-react/api-report-alpha.md
  plugins/search-react/api-report.md
  plugins/search-react/src/alpha.tsx
  plugins/search-react/src/components/DefaultResultListItem/DefaultResultListItem.stories.tsx
  plugins/search-react/src/components/DefaultResultListItem/DefaultResultListItem.tsx
  plugins/search-react/src/components/HighlightedSearchResultText/HighlightedSearchResultText.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.stories.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocompleteDefaultOption.stories.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocompleteDefaultOption.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.stories.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.Autocomplete.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.stories.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.tsx
  plugins/search-react/src/components/SearchPagination/SearchPagination.stories.tsx
  plugins/search-react/src/components/SearchPagination/SearchPagination.tsx
  plugins/search-react/src/components/SearchResult/SearchResult.stories.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.stories.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.test.tsx
  plugins/search-react/src/components/SearchResultGroup/SearchResultGroup.tsx
  plugins/search-react/src/components/SearchResultList/SearchResultList.stories.tsx
  plugins/search-react/src/components/SearchResultList/SearchResultList.tsx
  plugins/search-react/src/components/SearchResultPager/SearchResultPager.tsx
  plugins/search-react/src/extensions.test.tsx
  plugins/search-react/src/extensions.tsx
Labels: search, area:discoverability

#24240 Add ESLint Rule to Catalog React Plugin
  .changeset/fifty-jokes-guess.md
  plugins/catalog-react/.eslintrc.js
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/CatalogFilterLayout/CatalogFilterLayout.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePickerInput.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePickerOption.tsx
  plugins/catalog-react/src/components/EntityDisplayName/EntityDisplayName.tsx
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.tsx
  plugins/catalog-react/src/components/EntityLifecyclePicker/EntityLifecyclePicker.tsx
  plugins/catalog-react/src/components/EntityNamespacePicker/EntityNamespacePicker.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityPeekAheadPopover/CardActionComponents/EmailCardAction.tsx
  plugins/catalog-react/src/components/EntityPeekAheadPopover/CardActionComponents/EntityCardActions.tsx
  plugins/catalog-react/src/components/EntityPeekAheadPopover/EntityPeekAheadPopover.test.tsx
  plugins/catalog-react/src/components/EntityPeekAheadPopover/EntityPeekAheadPopover.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
  plugins/catalog-react/src/components/EntitySearchBar/EntitySearchBar.tsx
  plugins/catalog-react/src/components/EntityTable/EntityTable.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.tsx
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.tsx
  plugins/catalog-react/src/components/FavoriteEntity/FavoriteEntity.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/InspectEntityDialog.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/AncestryPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/ColocatedPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/JsonPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/OverviewPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/common.tsx
  plugins/catalog-react/src/components/UnregisterEntityDialog/UnregisterEntityDialog.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
Labels: area:catalog

#24000 Fix for #23999 - 'req.header is not a function'
  .changeset/curly-news-report.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: area:kubernetes

#24272 Added testcases
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/defaultTransformers.test.ts
Labels: area:catalog

#24271 Updated README document of adopting
  docs/overview/adopting.md
Labels: documentation

#24244 Add ESLint Rule to Kubernetes React Plugin
  .changeset/eight-eggs-deny.md
  plugins/kubernetes-react/.eslintrc.js
  plugins/kubernetes-react/src/components/Cluster/Cluster.tsx
  plugins/kubernetes-react/src/components/CronJobsAccordions/CronJobsAccordions.tsx
  plugins/kubernetes-react/src/components/CronJobsAccordions/CronJobsDrawer.tsx
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/Rollout.tsx
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/RolloutDrawer.tsx
  plugins/kubernetes-react/src/components/CustomResources/ArgoRollouts/StepsProgress.tsx
  plugins/kubernetes-react/src/components/CustomResources/DefaultCustomResource.tsx
  plugins/kubernetes-react/src/components/CustomResources/DefaultCustomResourceDrawer.tsx
  plugins/kubernetes-react/src/components/DaemonSetsAccordions/DaemonSetsAccordions.tsx
  plugins/kubernetes-react/src/components/DaemonSetsAccordions/DaemonSetsDrawer.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentDrawer.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentsAccordions.tsx
  plugins/kubernetes-react/src/components/ErrorPanel/ErrorPanel.tsx
  plugins/kubernetes-react/src/components/IngressesAccordions/IngressDrawer.tsx
  plugins/kubernetes-react/src/components/IngressesAccordions/IngressesAccordions.tsx
  plugins/kubernetes-react/src/components/JobsAccordions/JobsAccordions.tsx
  plugins/kubernetes-react/src/components/JobsAccordions/JobsDrawer.tsx
  plugins/kubernetes-react/src/components/KubernetesDialog/KubernetesDialog.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/KubernetesDrawer.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/KubernetesStructuredMetadataTableDrawer.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/ManifestYaml.tsx
  plugins/kubernetes-react/src/components/PodExecTerminal/PodExecTerminal.tsx
  plugins/kubernetes-react/src/components/Pods/ErrorList/ErrorList.tsx
  plugins/kubernetes-react/src/components/Pods/Events/Events.tsx
  plugins/kubernetes-react/src/components/Pods/FixDialog/FixDialog.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/PendingPodContent.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/PodDrawer.tsx
  plugins/kubernetes-react/src/components/Pods/PodLogs/PodLogs.tsx
  plugins/kubernetes-react/src/components/Pods/PodsTable.tsx
  plugins/kubernetes-react/src/components/ResourceUtilization/ResourceUtilization.tsx
  plugins/kubernetes-react/src/components/ServicesAccordions/ServiceDrawer.tsx
  plugins/kubernetes-react/src/components/ServicesAccordions/ServicesAccordions.tsx
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetDrawer.tsx
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetsAccordions.tsx
  plugins/kubernetes-react/src/utils/pod.tsx
Labels: area:kubernetes

#24260 feat(events,github)!: remove use of `EventBroker` and `EventSubscriber`
  .changeset/sweet-singers-argue.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

#23520 Enable Postgres Search Module only on Supported Databases
  .changeset/angry-goats-pay.md
  plugins/search-backend-module-pg/src/alpha.ts
Labels: search, area:discoverability

#24078 feat(plugins/catalog): added custom sort on createLabelColumn
  .changeset/slow-cows-worry.md
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

#23998 fix: allow reserved characters in all parameters
  .changeset/chatty-crabs-tap.md
  .changeset/lucky-comics-hang.md
  packages/repo-tools/src/commands/repo/schema/openapi/lint.ts
  packages/repo-tools/src/lib/runner.ts
  plugins/search-backend/src/schema/openapi.generated.ts
  plugins/search-backend/src/schema/openapi.yaml
  plugins/search-backend/src/service/router.test.ts
  plugins/todo-backend/src/schema/openapi.generated.ts
  plugins/todo-backend/src/schema/openapi.yaml
Labels: search, area:discoverability

#24257 implement external token access
  .changeset/hip-rabbits-sort.md
  .changeset/mean-gifts-study.md
  docs/auth/identity-resolver--old.md
  docs/auth/identity-resolver.md
  docs/auth/service-to-service-auth--old.md
  docs/auth/service-to-service-auth.md
  packages/backend-app-api/config.d.ts
  packages/backend-app-api/src/services/implementations/auth/DefaultAuthService.ts
  packages/backend-app-api/src/services/implementations/auth/authServiceFactory.ts
  packages/backend-app-api/src/services/implementations/auth/external/ExternalTokenHandler.ts
  packages/backend-app-api/src/services/implementations/auth/external/legacy.test.ts
  packages/backend-app-api/src/services/implementations/auth/external/legacy.ts
  packages/backend-app-api/src/services/implementations/auth/external/static.test.ts
  packages/backend-app-api/src/services/implementations/auth/external/static.ts
  packages/backend-app-api/src/services/implementations/auth/external/types.ts
  packages/backend-app-api/src/services/implementations/auth/plugin/PluginTokenHandler.test.ts
  packages/backend-app-api/src/services/implementations/auth/plugin/PluginTokenHandler.ts
  packages/backend-app-api/src/services/implementations/auth/user/UserTokenHandler.test.ts
  packages/backend-app-api/src/services/implementations/auth/user/UserTokenHandler.ts
  packages/backend-common/src/tokens/ServerTokenManager.test.ts
  packages/backend-common/src/tokens/ServerTokenManager.ts
Labels: documentation

#23869 Updated Readme Document of jest testing
  docs/plugins/testing.md
Labels: documentation

#24299 fix wrong references to the backend to backend auth
  docs/auth/service-to-service-auth--old.md
Labels: documentation

#24185 feat(gcp-iap): Add user id annotation sign-in resolver
  .changeset/serious-snails-poke.md
  plugins/auth-backend-module-gcp-iap-provider/api-report.md
  plugins/auth-backend-module-gcp-iap-provider/src/resolvers.ts
Labels: auth

#24287 feat(auth): migrate Bitbucket auth provider to module package
  .changeset/modern-hounds-give.md
  plugins/auth-backend-module-bitbucket-provider/.eslintrc.js
  plugins/auth-backend-module-bitbucket-provider/README.md
  plugins/auth-backend-module-bitbucket-provider/api-report.md
  plugins/auth-backend-module-bitbucket-provider/catalog-info.yaml
  plugins/auth-backend-module-bitbucket-provider/config.d.ts
  plugins/auth-backend-module-bitbucket-provider/dev/index.ts
  plugins/auth-backend-module-bitbucket-provider/package.json
  plugins/auth-backend-module-bitbucket-provider/src/authenticator.ts
  plugins/auth-backend-module-bitbucket-provider/src/index.ts
  plugins/auth-backend-module-bitbucket-provider/src/module.test.ts
  plugins/auth-backend-module-bitbucket-provider/src/module.ts
  plugins/auth-backend-module-bitbucket-provider/src/resolvers.ts
  plugins/auth-backend-module-bitbucket-provider/src/types.d.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/bitbucket/provider.test.ts
  plugins/auth-backend/src/providers/bitbucket/provider.ts
  yarn.lock
Labels: auth

#24305 docs: add release notes for 1.26
  docs/releases/v1.26.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#23890 feat(home): Show relative time for recent visits from today
  .changeset/chilly-fireants-roll.md
  plugins/home/src/components/VisitList/ItemDetail.tsx
Labels: homepage, area:discoverability

#23945 Fix TechDocsAddonTester errors when jest mocks are reset
  .changeset/gorgeous-cameras-cross.md
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
Labels: area:techdocs

#24331 fix: uuid import isn't working as expected
  .changeset/purple-parents-sin.md
  plugins/catalog-backend-module-backstage-openapi/src/InternalOpenApiDocumentationProvider.ts
Labels: area:catalog

#24363 Fixed documentation on imports of the plugin-techdocs-backend
  docs/features/techdocs/getting-started.md
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#24386 chore: added blog post for community plugins
  microsite/blog/2024-04-19-community-plugins.mdx
Labels: microsite

#24015 Fix automated release schedule message for releases >= 1.26
  scripts/generate-merge-message.js
Labels: stale

#24394 blog: polish
  microsite/blog/2024-04-19-community-plugins.mdx
Labels: microsite

#24409 Add new supported format to Changelog Viewer plugin
  microsite/data/plugins/changelog.yaml
Labels: microsite

#24005 Add examples for `publish:bitbucketServer:pull-request` scaffolder action & improve related tests
  .changeset/lucky-news-guess.md
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.examples.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.ts
Labels: area:scaffolder

#24413 beps/0003: move to implemented
  beps/0003-auth-architecture-evolution/README.md
Labels: BEP

#24316 feat(backend-app-api): enable Node.js server configuration in the rootHttpRouter service
  .changeset/cuddly-chairs-kick.md
  docs/backend-system/core-services/root-http-router.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/services/implementations/rootHttpRouter/rootHttpRouterServiceFactory.ts
Labels: documentation

#24417 Add examples for gitlab:repo:push scaffolder action & improve related tests
  .changeset/loud-frogs-eat.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
Labels: area:scaffolder

#24397 docs: fix custom theme examples
  docs/getting-started/app-custom-theme.md
Labels: documentation

#24389 Add Codacy Repo Adder template to Backstage Microsite
  microsite/data/plugins/codacy-repo-adder.yaml
  microsite/static/img/codacy-icon.svg
Labels: microsite

#24318 Updated README Document of authentication docs
  docs/getting-started/config/authentication.md
Labels: documentation

#24188 guest-provider: Error if used outside of development environment
  .changeset/purple-waves-smile.md
  plugins/auth-backend-module-guest-provider/src/authenticator.ts
  plugins/auth-backend-module-guest-provider/src/module.ts
Labels: auth

#24427 fix: link to Dynatrace for Managed plugin
  microsite/data/plugins/dynatrace-managed.yaml
Labels: microsite

#24429 Updating community-plugins links
  microsite/blog/2020-04-06-lighthouse-plugin.mdx
  microsite/blog/2020-05-22-phase-2-service-catalog.mdx
  microsite/blog/2020-10-22-cost-insights-plugin.mdx
  microsite/data/plugins/adr.yaml
  microsite/data/plugins/allure.yaml
  microsite/data/plugins/azure-sites.yaml
  microsite/data/plugins/cicd-statistics.yaml
  microsite/data/plugins/cloud-build.yaml
  microsite/data/plugins/codescene.yaml
  microsite/data/plugins/cost-insights.yaml
  microsite/data/plugins/entity-feedback.yaml
  microsite/data/plugins/entity-validation.yaml
  microsite/data/plugins/gcp-projects.yaml
  microsite/data/plugins/git-release-manager.yaml
  microsite/data/plugins/github-actions.yaml
  microsite/data/plugins/github-pull-requests-board.yaml
  microsite/data/plugins/gitops-cluster.yaml
  microsite/data/plugins/gocd.yaml
  microsite/data/plugins/graphiql.yaml
  microsite/data/plugins/graphql-voyager.yaml
  microsite/data/plugins/ilert.yaml
  microsite/data/plugins/jenkins.yaml
  microsite/data/plugins/kafka.yaml
  microsite/data/plugins/lighthouse.yaml
  microsite/data/plugins/microsoft-calendar.yaml
  microsite/data/plugins/new-relic.yaml
  microsite/data/plugins/newrelic-dashboard.yaml
  microsite/data/plugins/periskop.yaml
  microsite/data/plugins/playlist.yaml
  microsite/data/plugins/rollbar.yaml
  microsite/data/plugins/sentry.yaml
  microsite/data/plugins/splunk-on-call.yaml
  microsite/data/plugins/stackstorm.yaml
  microsite/data/plugins/tech-radar.yaml
  microsite/data/plugins/todo.yaml
  microsite/data/plugins/vault.yaml
Labels: microsite

#24416 Update discovery.md
  docs/integrations/github/discovery.md
Labels: documentation

#24365 Updating Readme docs
  .changeset/eighty-bats-stare.md
  plugins/techdocs/README.md
Labels: area:techdocs

#17125 Allow a domain entity to have an optional domain
  .changeset/dry-sloths-impress.md
  .changeset/sour-socks-approve.md
  docs/features/software-catalog/descriptor-format.md
  docs/features/software-catalog/well-known-relations.md
  packages/catalog-model/api-report.md
  packages/catalog-model/examples/all-domains.yaml
  packages/catalog-model/examples/domains/artists-domain.yaml
  packages/catalog-model/examples/domains/audio-domain.yaml
  packages/catalog-model/examples/domains/playback-domain.yaml
  packages/catalog-model/src/kinds/DomainEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/DomainEntityV1alpha1.ts
  packages/catalog-model/src/schema/kinds/Domain.v1alpha1.schema.json
  plugins/catalog-backend/src/modules/core/BuiltinKindsEntityProcessor.test.ts
  plugins/catalog-backend/src/modules/core/BuiltinKindsEntityProcessor.ts
Labels: documentation, area:catalog

#24368 fix(techdocs-cli): fix serve cmd with proper cookie endpoint mock
  .changeset/eighty-apricots-kneel.md
  packages/techdocs-cli/src/lib/httpServer.ts
Labels: area:techdocs

#24447 search-backend-module-catalog: correctly wire up auth service in new backend
  .changeset/orange-numbers-think.md
  plugins/search-backend-module-catalog/src/alpha.ts
Labels: search, area:discoverability

#24469 Camila/new auth services search collator migration
  .changeset/real-crabs-obey.md
  plugins/search-backend-module-explore/src/alpha.ts
Labels: search, area:discoverability

#24383 Add new parameter: repoVisibility for the action: publish:gitea
  .changeset/cool-elephants-march.md
  plugins/scaffolder-backend-module-gitea/README.md
  plugins/scaffolder-backend-module-gitea/api-report.md
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.examples.ts
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.test.ts
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.ts
Labels: area:scaffolder

#24069 fix: adjust the backend plugin docs for new backend
  docs/plugins/backend-plugin.md
Labels: documentation

#24439 fix: Maximum call stack size exceeded
  .changeset/fix-stackoverflow.md
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.ts
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
Labels: area:catalog

#23874 feat: add missing lifecycle monitoring for catalog, search and server
  .changeset/chilly-adults-sing.md
  .changeset/late-planes-fix.md
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/search-backend-node/api-report-alpha.md
  plugins/search-backend-node/src/alpha.ts
  plugins/search-backend/src/alpha.ts
Labels: area:catalog, search, area:discoverability

#24479 auth-react: handle missing cookie auth endpoint
  .changeset/lovely-games-cry.md
  plugins/auth-react/src/hooks/useCookieAuthRefresh/useCookieAuthRefresh.test.tsx
  plugins/auth-react/src/hooks/useCookieAuthRefresh/useCookieAuthRefresh.tsx
Labels: auth

#24481 remove plugin suggestion template
  .github/ISSUE_TEMPLATE/plugin.yaml
  docs/contribute/getting-involved.md
  docs/faq/technical.md
  docs/getting-started/index.md
  docs/plugins/index.md
  microsite/blog/2020-09-30-plugin-marketplace.mdx
  plugins/README.md
Labels: documentation, microsite

#24468 docs: Updating AWS plugins in marketplace
  microsite/data/plugins/aws-amazon-ecs.yaml
  microsite/data/plugins/aws-codebuild.yaml
  microsite/data/plugins/aws-codepipeline.yaml
  microsite/data/plugins/aws-codeservices.yaml
  microsite/data/plugins/aws-proton.yaml
Labels: microsite

#24412 feat: allow showing notifications as snackbars in the UI
  .changeset/hot-forks-train.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  plugins/notifications/api-report.md
  plugins/notifications/package.json
  plugins/notifications/src/components/NotificationsSideBarItem/NotificationsSideBarItem.tsx
  yarn.lock
Labels: area:notifications

#24359 update BEP-0007
  beps/0007-auth-external-services/README.md
Labels: BEP

#24498 remove unnecessary alpha file markers
  packages/backend-app-api/package.json
  packages/backend-common/package.json
  packages/backend-plugin-api/package.json
  plugins/example-todo-list-backend/package.json
  plugins/proxy-backend/package.json
  plugins/scaffolder-node/package.json
  plugins/techdocs-react/package.json
  plugins/user-settings-backend/package.json
Labels: area:techdocs, area:scaffolder

#24496 Patch release of #24484, #24479, #24447, #24469, #24384, #24368
  package.json
  packages/backend-app-api/CHANGELOG.md
  packages/backend-app-api/package.json
  packages/backend-app-api/src/services/implementations/httpRouter/httpRouterServiceFactory.ts
  packages/core-components/CHANGELOG.md
  packages/core-components/package.json
  packages/core-components/src/layout/SignInPage/guestProvider.tsx
  packages/techdocs-cli/CHANGELOG.md
  packages/techdocs-cli/package.json
  packages/techdocs-cli/src/lib/httpServer.ts
  plugins/auth-react/CHANGELOG.md
  plugins/auth-react/package.json
  plugins/auth-react/src/hooks/useCookieAuthRefresh/useCookieAuthRefresh.test.tsx
  plugins/auth-react/src/hooks/useCookieAuthRefresh/useCookieAuthRefresh.tsx
  plugins/search-backend-module-catalog/CHANGELOG.md
  plugins/search-backend-module-catalog/package.json
  plugins/search-backend-module-catalog/src/alpha.ts
  plugins/search-backend-module-explore/CHANGELOG.md
  plugins/search-backend-module-explore/package.json
  plugins/search-backend-module-explore/src/alpha.ts
Labels: auth, area:techdocs, search, area:discoverability

#24218 Add Mia Platfom plugin to directory
  microsite/data/plugins/mia-platform.yaml
  microsite/static/img/mia-platform.png
Labels: microsite

#24322 feat: add email notification processor
  .changeset/green-boxes-rescue.md
  plugins/notifications-backend-module-email/.eslintrc.js
  plugins/notifications-backend-module-email/README.md
  plugins/notifications-backend-module-email/api-report.md
  plugins/notifications-backend-module-email/catalog-info.yaml
  plugins/notifications-backend-module-email/config.d.ts
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-backend-module-email/src/extensions.ts
  plugins/notifications-backend-module-email/src/index.ts
  plugins/notifications-backend-module-email/src/module.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/notifications-backend-module-email/src/processor/index.ts
  plugins/notifications-backend-module-email/src/processor/transports/index.ts
  plugins/notifications-backend-module-email/src/processor/transports/sendmail.ts
  plugins/notifications-backend-module-email/src/processor/transports/ses.ts
  plugins/notifications-backend-module-email/src/processor/transports/smtp.ts
  yarn.lock
Labels: area:notifications

#24418 feat: generate random notifications in local development
  .changeset/tall-ads-shave.md
  plugins/notifications-backend/dev/index.ts
  plugins/notifications/dev/index.tsx
Labels: area:notifications

#24524 Azure AD disabling user photos (fix) and handle huge organizations
  .changeset/chilly-shoes-doubt.md
  .changeset/silent-wombats-hang.md
  docs/integrations/azure/org.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgReaderProcessor.ts
Labels: documentation, area:catalog

#24485 add the namespace label to CronJobDrawer & IngressDrawer
  .changeset/thick-terms-rush.md
  plugins/kubernetes-react/src/components/IngressesAccordions/IngressDrawer.tsx
  plugins/kubernetes-react/src/components/ServicesAccordions/ServiceDrawer.tsx
Labels: area:kubernetes

#24520 fix: fix deadlinks on microsite
  microsite/data/plugins/airbrake.yaml
  microsite/data/plugins/analytics-module-ga.yaml
  microsite/data/plugins/apollo-explorer.yaml
  microsite/data/plugins/azure-pipelines.yaml
  microsite/data/plugins/badges.yaml
  microsite/data/plugins/bazaar.yaml
  microsite/data/plugins/bitrise.yaml
  microsite/data/plugins/firehydrant.yaml
  microsite/data/plugins/fossa.yaml
  microsite/data/plugins/github-codespaces.yaml
  microsite/data/plugins/linguist.yaml
  microsite/data/plugins/newrelic-dashboard.yaml
  microsite/data/plugins/octopus-deploy.yaml
  microsite/data/plugins/opencost.yaml
  microsite/data/plugins/puppetdb.yaml
  microsite/data/plugins/shortcuts.yaml
  microsite/data/plugins/sonarqube.yaml
  microsite/data/plugins/stack-overflow.yaml
Labels: microsite

#24537 Capturing more event clicks for scaffolder
  .changeset/blue-hotels-shake.md
  plugins/scaffolder-common/src/Template.v1beta3.schema.json
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/components/OngoingTask/ContextMenu.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
Labels: area:scaffolder

#24328 fix(plugins/catalog-backend-module-unprocessed): correctly translate owner to string in case of nullish value
  .changeset/cyan-suns-shave.md
  plugins/catalog-backend-module-unprocessed/src/UnprocessedEntitiesModule.ts
Labels: area:catalog

#24512 fix: stitching queue count to not include entities from the future
  .changeset/sweet-zoos-clap.md
  plugins/catalog-backend/src/stitching/progressTracker.ts
Labels: area:catalog
