Repository backstage/backstage, pull requests merged in 2024-12, with the labels that each got.

#27806 EntityOwnerPicker: fix scroll reset
  .changeset/few-pillows-remember.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
Labels: area:catalog

#27957 fix nulls in by-query
  .changeset/gold-stingrays-cross.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

#27980 build(deps): update @opentelemetry/api to 1.9.0
  .changeset/brave-teachers-mate.md
  packages/backend-defaults/package.json
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend/package.json
  plugins/scaffolder-backend/package.json
  yarn.lock
Labels: area:catalog, area:scaffolder

#27972 Remove backend-common package from incremental-ingestion plugin
  .changeset/six-eels-add.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/routes.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
  yarn.lock
Labels: area:catalog

#27985 tighten the types in the incremental provider some more
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/routes.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
Labels: area:catalog

#28000 More safeguards against stack traces in error responses
  .changeset/dull-bulldogs-learn.md
  .changeset/forty-ravens-fry.md
  .changeset/thin-hotels-explode.md
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/plugin/PluginTokenHandler.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/user/UserTokenHandler.ts
  packages/errors/src/serialization/error.test.ts
  packages/errors/src/serialization/error.ts
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog

#27996 backend-defaults: add backend.health.headers config
  .changeset/chilly-games-trade.md
  docs/backend-system/core-services/root-health.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/report-rootHttpRouter.api.md
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createHealthRouter.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
Labels: documentation

#28005 simplify the generated filters when parsing a query
  .changeset/small-boxes-enjoy.md
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.test.ts
  plugins/catalog-backend/src/service/request/parseEntityFilterParams.ts
Labels: area:catalog

#28003 Perform the by-query count inlined with the main query
  .changeset/dry-badgers-prove.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

#27915 Implement `/entities` in terms of `queryEntities`
  .changeset/fifty-countries-decide.md
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/util.ts
Labels: area:catalog

#28009 docs(scaffolder): Add more template input examples
  docs/features/software-templates/input-examples.md
Labels: documentation

#27835 Update 06-plugin-conversion.md
  docs/frontend-system/building-apps/06-plugin-conversion.md
Labels: documentation

#28016 implement single-item fetches to go by refs instead of filters
  .changeset/itchy-ravens-punch.md
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

#28041 [Blog] Post Kubecon SLC 2024
  microsite/blog/2024-12-09-kubecon-slc-24.mdx
  microsite/blog/assets/2024-12-09/backstagecon-kubecon-2024-salt-lake-city.png
  microsite/blog/assets/2024-12-09/kc24slc-cncf-adobe.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup1.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup2.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup3.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup4.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-bestpup5.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-entrance.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-kiosk.jpg
  microsite/blog/assets/2024-12-09/kc24slc-cncf-toyota.jpg
  microsite/blog/assets/2024-12-09/kc24slc-spotify-backstagecon.jpg
  microsite/blog/assets/2024-12-09/kc24slc-spotify-cncf-contribfest.gif
  microsite/blog/assets/2024-12-09/kc24slc-spotify-maintainers.jpg
Labels: microsite

#28017 Use a join based strategy for filtering, when having small page sizes
  .changeset/empty-colts-promise.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/request/applyEntityFilterToQuery.test.ts
  plugins/catalog-backend/src/service/request/applyEntityFilterToQuery.ts
Labels: area:catalog

#27845 Added missing scaffolder management permission
  .changeset/rich-maps-invite.md
  .changeset/twenty-monkeys-applaud.md
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder, area:permission

#27936 Configurable columns for HasSubdomainsCard and new defaults
  .changeset/dull-ties-film.md
  plugins/catalog/report.api.md
  plugins/catalog/src/components/HasSubdomainsCard/HasSubdomainsCard.tsx
  plugins/catalog/src/components/RelatedEntitiesCard/RelatedEntitiesCard.tsx
  plugins/catalog/src/components/RelatedEntitiesCard/presets.ts
Labels: area:catalog

#27997 Catalog: fix CatalogFilterLayout.Filters unmounting children
  .changeset/silver-actors-care.md
  plugins/catalog-react/src/components/CatalogFilterLayout/CatalogFilterLayout.tsx
Labels: area:catalog

#27988 docs(catalog-graph): added steps for custom integration
  plugins/catalog-graph/README.md
Labels: area:catalog

#27918 feat(website): add npm plugin
  microsite/data/plugins/npm.yaml
Labels: microsite

#28054 count metrics faster
  .changeset/gold-crabs-agree.md
  plugins/catalog-backend/src/database/metrics.ts
Labels: area:catalog

#27575 extend filter logic to include parent group
  .changeset/smooth-bikes-sparkle.md
  docs/integrations/gitlab/org.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: documentation, area:catalog

#28019 backend-app-api: enable service overrides over feature loaders
  .changeset/heavy-tomatoes-laugh.md
  docs/backend-system/architecture/07-feature-loaders.md
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/ServiceRegistry.ts
Labels: documentation

#27983 Add github backend module to create-app
  .changeset/lucky-crabs-vanish.md
  packages/create-app/src/lib/tasks.test.ts
  packages/create-app/src/lib/versions.ts
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  packages/create-app/templates/default-app/packages/backend/src/index.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
Labels: area:scaffolder

#28060 notifications: refactor backend routes to avoid using root route
  .changeset/mighty-birds-rest.md
  .changeset/odd-days-push.md
  .changeset/perfect-fishes-kick.md
  docs/notifications/index.md
  plugins/notifications-backend/README.md
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-backend/src/service/router.ts
  plugins/notifications/src/api/NotificationsClient.test.ts
  plugins/notifications/src/api/NotificationsClient.ts
Labels: documentation

#27961 Stop accepting traffic before shutdown
  .changeset/green-carpets-smell.md
  .changeset/large-birds-watch.md
  .changeset/pretty-kiwis-travel.md
  .changeset/rude-pears-tie.md
  .changeset/young-cobras-add.md
  docs/backend-system/core-services/root-http-router.md
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-app-api/src/wiring/createSpecializedBackend.test.ts
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/report-rootHttpRouter.api.md
  packages/backend-defaults/src/CreateBackend.test.ts
  packages/backend-defaults/src/entrypoints/httpRouter/httpRouterServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHealth/rootHealthServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/createLifecycleMiddleware.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/createHttpServer.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootLifecycle/rootLifecycleServiceFactory.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.test.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/RootLifecycleService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  yarn.lock
Labels: documentation

#27850 feat: Throttle calls to Bitbucket Server API
  .changeset/cool-days-sparkle.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.ts
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  yarn.lock
Labels: area:catalog

#28070 fix some little things that vale was complaining about
  .changeset/old-pandas-act.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/techdocs/addons.md
  docs/getting-started/config/database.md
  docs/getting-started/keeping-backstage-updated.md
  docs/overview/adopting.md
  microsite/blog/2023-05-06-backstage-deploy-alpha.mdx
  packages/cli/config/nodeTransform.cjs
  packages/config-loader/src/sources/types.ts
  packages/core-app-api/src/apis/implementations/DiscoveryApi/UrlPatternDiscovery.ts
  packages/core-components/src/components/TrendLine/TrendLine.test.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  plugins/bitbucket-cloud-common/bitbucket-cloud.oas.json
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog/src/apis/StarredEntitiesApi/DefaultStarredEntitiesApi.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPagesEnable.ts
Labels: documentation, area:catalog, microsite, area:scaffolder

#27694 [Feature] Add Pagination to Tech Docs Table
  .changeset/curly-beans-brake.md
  packages/app/src/App.tsx
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/Tables/CursorPaginatedDocsTable.test.tsx
  plugins/techdocs/src/home/components/Tables/CursorPaginatedDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/DocsTable.tsx
  plugins/techdocs/src/home/components/Tables/EntityListDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/OffsetPaginatedDocsTable.test.tsx
  plugins/techdocs/src/home/components/Tables/OffsetPaginatedDocsTable.tsx
  plugins/techdocs/src/home/components/Tables/columns.tsx
  plugins/techdocs/src/home/components/Tables/helpers.ts
  plugins/techdocs/src/home/components/TechDocsCustomHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/techdocs/src/home/components/TechDocsIndexPage.tsx
Labels: area:techdocs

#27947 GitlabOrgDiscoveryEntityProvider restrictUsersToGroup should use the entire groupPath
  .changeset/blue-dragons-shout.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#27803 chore: organize sidebar a bit
  microsite/sidebars.js
Labels: microsite

#28107 use `useApi` instead of `apiHolder` for `formFieldsApi`
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.ts
  plugins/scaffolder/src/components/Router/Router.test.tsx
Labels: area:scaffolder

#28116 catalog-backend: roll back filter join strategy
  .changeset/empty-colts-promise.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/request/applyEntityFilterToQuery.ts
Labels: area:catalog

#25636 feat(kubernetes): support fetch pod metrics with custom resources
  .changeset/stupid-crabs-wash.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
Labels: area:kubernetes

#28074 break circular imports
  .changeset/good-pens-dance.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/UserListPicker/useAllEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useStarredEntitiesCount.ts
  plugins/catalog-react/src/filters.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/utils/index.ts
  plugins/config-schema/src/components/SchemaView/ArrayView.tsx
  plugins/config-schema/src/components/SchemaView/ChildView.tsx
  plugins/config-schema/src/components/SchemaView/MatchView.tsx
  plugins/config-schema/src/components/SchemaView/MetadataView.tsx
  plugins/config-schema/src/components/SchemaView/ObjectView.tsx
  plugins/config-schema/src/components/SchemaView/ScalarView.tsx
  plugins/config-schema/src/components/SchemaView/SchemaView.tsx
Labels: area:catalog

#28121 catalog-backend: avoid JSON parsing when possible
  .changeset/curly-teachers-marry.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/AuthorizedEntitiesCatalog.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/response/createEntityArrayJsonStream.ts
  plugins/catalog-backend/src/service/response/index.ts
  plugins/catalog-backend/src/service/response/process.test.ts
  plugins/catalog-backend/src/service/response/process.ts
  plugins/catalog-backend/src/service/response/write.test.ts
  plugins/catalog-backend/src/service/response/write.ts
  plugins/catalog-backend/src/service/util.ts
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog

#27796 Make GitHub environment Scaffolder action use auth to resolve reviewers
  .changeset/long-geese-report.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
  plugins/scaffolder-backend-module-github/src/module.ts
Labels: area:scaffolder

#28133 catalog-backend: fix for not waiting for response buffer to drain as needed
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/response/createEntityArrayJsonStream.ts
  plugins/catalog-backend/src/service/response/write.ts
Labels: area:catalog

#28142 only emulate entities with by-query if `disableRelationsCompatibility` is set
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

#28134 feat: adding requiredLinearHistory property
  .changeset/chatty-files-sniff.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/gitHelpers.ts
  plugins/scaffolder-backend-module-github/src/actions/github.test.ts
  plugins/scaffolder-backend-module-github/src/actions/github.ts
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoPush.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoPush.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

#28153 catalog-backend: fix for request being treated as closed
  plugins/catalog-backend/src/service/response/write.ts
Labels: area:catalog

#28156 add ADR014 to the sidebar
  microsite/sidebars.js
Labels: microsite

#26781 perf: improve performance of scaffolder secret widget
  .changeset/silent-gifts-dream.md
  plugins/scaffolder-react/src/next/components/SecretWidget/SecretWidget.tsx
  plugins/scaffolder/src/components/fields/SecretInput/SecretInput.test.tsx
Labels: stale, area:scaffolder

#27690 Added sorted prop to EntityTypePicker
  .changeset/heavy-lions-burn.md
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.tsx
Labels: area:catalog

#27648 Capitalize Kind facet in CatalogTable title
  .changeset/blue-bobcats-hear.md
  .changeset/stale-actors-sin.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.test.tsx
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.test.tsx
  plugins/catalog-react/src/components/EntityKindPicker/EntityKindPicker.tsx
  plugins/catalog-react/src/components/EntityKindPicker/kindFilterUtils.ts
  plugins/catalog-react/src/components/EntityTypePicker/EntityTypePicker.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/filters.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.test.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
  plugins/catalog/src/components/CatalogKindHeader/kindFilterUtils.ts
  plugins/catalog/src/components/CatalogTable/CatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.test.tsx
  plugins/scaffolder/src/components/TemplateTypePicker/TemplateTypePicker.test.tsx
  plugins/techdocs/src/home/components/Tables/CursorPaginatedDocsTable.test.tsx
Labels: area:catalog, area:techdocs, area:scaffolder

#28163 catalog-backend: fully feature flag streamed raw json responses
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/response/write.test.ts
  plugins/catalog-backend/src/service/response/write.ts
Labels: area:catalog

#27699 Feat: Additional test coverage and component structure for TemplateCard
  .changeset/kind-jobs-remain.md
  plugins/scaffolder-react/src/next/components/TemplateCard/CardLink.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCard.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardActions.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardContent.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardLinks.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardTags.tsx
Labels: area:scaffolder

#28165 catalog-backend: better concurrency of streamed entities query
  .changeset/silly-bottles-raise.md
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

#28169 microsite: add 2024 security audit blog post
  microsite/blog/2024-12-17-backstage-security-audit-2024.mdx
  microsite/blog/assets/2024-12-17/X41-Backstage-Audit-2024.pdf
Labels: microsite

#28179 move catalog collator to use cursor paged streaming
  .changeset/khaki-fireants-begin.md
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.test.ts
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.ts
Labels: search, area:search

#28186 🧹 use `mockServices` more
  plugins/catalog-backend/src/processors/PlaceholderProcessor.test.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/search-backend-module-explore/src/collators/ToolDocumentCollatorFactory.test.ts
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.test.ts
  plugins/signals-backend/src/service/router.test.ts
  plugins/techdocs-backend/src/cache/TechDocsCache.test.ts
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.test.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.test.ts
  plugins/techdocs-backend/src/service/router.test.ts
  plugins/techdocs-node/src/stages/prepare/dir.test.ts
  plugins/techdocs-node/src/stages/publish/local.test.ts
  plugins/techdocs-node/src/stages/publish/publish.test.ts
Labels: area:catalog, area:techdocs, area:kubernetes, search, area:search

#28195 chore: added wrapped blog post
  microsite/blog/2024-12-18-backstage-wrapped-2024.mdx
  microsite/blog/assets/2024-12-18/wrapped2024-1-backend.gif
  microsite/blog/assets/2024-12-18/wrapped2024-2-cba.gif
  microsite/blog/assets/2024-12-18/wrapped2024-3-adopters.gif
  microsite/blog/assets/2024-12-18/wrapped2024-4-plugins.gif
  microsite/blog/assets/2024-12-18/wrapped2024-contribfest.jpg
  microsite/blog/assets/2024-12-18/wrapped2024-infoworld.gif
  microsite/blog/assets/2024-12-18/wrapped2024-top5.png
Labels: microsite

#28224 Updated docs of search
  docs/features/search/getting-started.md
Labels: documentation

#28141 Update provider.md
  docs/auth/atlassian/provider.md
Labels: documentation

#27592 Add `taskId` to `ActionContext` as well as `NunjuckContext`
  .changeset/famous-dryers-protect.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-node-test-utils/src/actions/mockActionContext.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/actions/types.ts
Labels: area:scaffolder

#27919 fix(website): update links and package names for plugins we migrated from janus-idp to community-plugins
  microsite/data/plugins/3scale.yaml
  microsite/data/plugins/analytics-module-matomo.yaml
  microsite/data/plugins/feedback.yaml
  microsite/data/plugins/jfrog-artifactory.yaml
  microsite/data/plugins/keycloak.yaml
  microsite/data/plugins/kiali.yaml
  microsite/data/plugins/nexus-repository-manager.yaml
  microsite/data/plugins/ocm.yaml
  microsite/data/plugins/quay.yaml
  microsite/data/plugins/tekton.yaml
  microsite/data/plugins/topology.yaml
  microsite/static/img/3scale.svg
  microsite/static/img/jfrog-artifactory.svg
  microsite/static/img/keycloak.svg
  microsite/static/img/kiali.svg
  microsite/static/img/nexus-repository-manager.svg
  microsite/static/img/ocm.svg
  microsite/static/img/quay.svg
  microsite/static/img/tekton.svg
  microsite/static/img/topology.svg
Labels: microsite

#28242 docs(analytics): update matomo module link to community-plugins
  docs/plugins/analytics.md
Labels: documentation

#28249 fix: scaffolder secret forwarding
  .changeset/tall-actors-clap.md
  plugins/scaffolder/src/alpha/hooks/useFormDecorators.test.tsx
  plugins/scaffolder/src/alpha/hooks/useFormDecorators.ts
Labels: area:scaffolder

#27917 fix(website): fix different broken icons on the plugin page
  microsite/data/plugins/github-codespaces.yaml
  microsite/data/plugins/gitops-cluster.yaml
  microsite/data/plugins/rollbar.yaml
  microsite/data/plugins/tech-radar.yaml
  microsite/static/img/tech-radar.svg
Labels: microsite

#27353 Add custom column example for existing Kind
  docs/features/software-catalog/catalog-customization.md
Labels: documentation

#28256 Patch release of #28249, #28253
  package.json
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/config-loader/CHANGELOG.md
  packages/config-loader/package.json
  packages/config-loader/src/schema/collect.test.ts
  packages/config-loader/src/schema/collect.ts
  packages/config-loader/src/schema/compile.test.ts
  packages/config-loader/src/schema/types.ts
  plugins/scaffolder/CHANGELOG.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/alpha/hooks/useFormDecorators.test.tsx
  plugins/scaffolder/src/alpha/hooks/useFormDecorators.ts
Labels: area:scaffolder

#28180 minor updates in provider doc file
  docs/auth/atlassian/provider.md
  docs/auth/auth0/provider.md
  docs/auth/aws-alb/provider.md
Labels: documentation

#28263 Fix formFieldsApi resolution in useCustomFieldExtensions hook
  .changeset/rich-penguins-stare.md
  plugins/scaffolder-react/src/hooks/useCustomFieldExtensions.ts
Labels: area:scaffolder

#28269 🧹 remove `backend-common` from `catalog-backend-module-openapi`
  .changeset/cuddly-lions-knock.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend-module-openapi/report.api.md
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.test.ts
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.ts
  plugins/catalog-backend-module-openapi/src/jsonSchemaRefPlaceholderResolver.test.ts
  plugins/catalog-backend-module-openapi/src/jsonSchemaRefPlaceholderResolver.ts
  yarn.lock
Labels: area:catalog

#28140 Update CodeOwnersProcessor helper
  .changeset/twenty-laws-tie.md
  plugins/catalog-backend/src/processors/codeowners/resolve.test.ts
  plugins/catalog-backend/src/processors/codeowners/resolve.ts
Labels: area:catalog

#27005 Fix/logstream deprecation execute shell cmd
  .changeset/strong-students-beg.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/actions/executeShellCommand.test.ts
  plugins/scaffolder-node/src/actions/executeShellCommand.ts
Labels: area:scaffolder

#26709 docs(notifications): split to multiple docs and add more info
  .changeset/gorgeous-zebras-tan.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/notifications/index.md
  docs/notifications/processors.md
  docs/notifications/usage.md
  microsite/sidebars.js
  mkdocs.yml
  plugins/notifications-backend-module-email/README.md
Labels: documentation, microsite

#28266 add error handler middleware in the plugin router
  .changeset/cyan-frogs-count.md
  .changeset/shiny-walls-press.md
  packages/backend-defaults/src/entrypoints/httpRouter/httpRouterServiceFactory.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/router/routes.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
  plugins/devtools-backend/src/service/router.ts
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/notifications-backend/dev/index.ts
Labels: area:catalog, area:kubernetes

#28267 🧹 remove usages of some backend-common helpers
  .changeset/nervous-bottles-occur.md
  plugins/app-backend/src/service/appPlugin.test.ts
  plugins/app-backend/src/service/router.ts
  plugins/auth-node/package.json
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/catalog-backend-module-gitlab-org/package.json
  plugins/catalog-backend-module-gitlab-org/src/catalogModuleGitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.test.ts
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.ts
  plugins/example-todo-list-backend/src/service/router.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/permission-backend/package.json
  plugins/permission-backend/src/service/router.test.ts
  plugins/permission-backend/src/service/router.ts
  plugins/permission-node/package.json
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
  yarn.lock
Labels: area:catalog, auth, area:kubernetes, area:permission, area:events

#28268 :broom: remove `PluginDatabaseManager` and `PluginEndpointDiscovery`
  .changeset/cuddly-lions-knock.md
  .changeset/rich-vans-hope.md
  packages/backend-defaults/src/entrypoints/database/DatabaseManager.ts
  packages/backend-defaults/src/entrypoints/database/types.ts
  packages/backend-defaults/src/entrypoints/discovery/HostDiscovery.ts
  packages/backend-dynamic-feature-service/report.api.md
  packages/backend-dynamic-feature-service/src/manager/types.ts
  packages/backend-legacy/src/types.ts
  plugins/app-backend/package.json
  plugins/app-backend/src/lib/assets/StaticAssetsStore.ts
  plugins/auth-backend/src/database/AuthDatabase.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-node/report.api.md
  plugins/auth-node/src/identity/DefaultIdentityClient.test.ts
  plugins/auth-node/src/identity/DefaultIdentityClient.ts
  plugins/auth-node/src/identity/IdentityClient.test.ts
  plugins/catalog-backend-module-github/report.api.md
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.test.ts
  plugins/catalog-backend-module-github/src/analyzers/GithubLocationAnalyzer.ts
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend-module-openapi/report.api.md
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.test.ts
  plugins/catalog-backend-module-openapi/src/OpenApiRefProcessor.ts
  plugins/catalog-backend-module-openapi/src/jsonSchemaRefPlaceholderResolver.test.ts
  plugins/catalog-backend-module-openapi/src/jsonSchemaRefPlaceholderResolver.ts
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/search/DefaultCatalogCollator.test.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.ts
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  yarn.lock
Labels: area:catalog, auth, area:scaffolder

#28241 internal type fixes
  .changeset/two-wasps-mix.md
  packages/backend-app-api/src/wiring/ServiceRegistry.ts
  packages/backend-defaults/src/entrypoints/auth/JwksClient.ts
  packages/backend-defaults/src/entrypoints/auth/plugin/keys/StaticConfigPluginKeySource.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/readHelmetOptions.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/auth-backend/src/identity/StaticKeyStore.ts
  plugins/auth-node/src/identity/DefaultIdentityClient.ts
  plugins/techdocs-module-addons-contrib/src/LigthBox/LightBox.tsx
Labels: auth, area:techdocs

#28283 Go back to using node-fetch for gitlab
  .changeset/famous-balloons-punch.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  plugins/catalog-backend-module-gitlab/package.json
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  yarn.lock
Labels: area:catalog

#28284 [DOCS] Adds missing config to httpRouter documentation
  docs/backend-system/core-services/http-router.md
Labels: documentation

#28264 feat(plugins): add scaffolder-backend-datolabs-gcp plugin to marketplace
  microsite/data/plugins/scaffolder-backend-datolabs-gcp.yaml
Labels: microsite

#28289 Patch release of #28283
  package.json
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  plugins/catalog-backend-module-gitlab/CHANGELOG.md
  plugins/catalog-backend-module-gitlab/package.json
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  yarn.lock
Labels: area:catalog

#28303 docs(vscode): update vscode debugger instructions for backend
  docs/tooling/local-dev/debugging.md
Labels: documentation

#27580 feat: add partner
  microsite/src/pages/community/index.tsx
  microsite/static/img/partner-logo-alauda.png
Labels: microsite

#28304 Catalog: fix refetch in offset mode
  .changeset/nasty-pears-taste.md
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

#28329 Update index.md
  docs/getting-started/index.md
Labels: documentation

#28265 Provide additional information regarding proxy settings for the backstage yarn plugin
  docs/getting-started/keeping-backstage-updated.md
Labels: documentation

#28294 Add Wiz plugin to plugins marketplace
  microsite/data/plugins/wiz.yaml
Labels: microsite

#28293 fix(config): add missing parameters to configuration schema
  .changeset/light-wasps-unite.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/techdocs-backend/config.d.ts
Labels: area:catalog, area:techdocs

#28159 Updates to allow users to subscribe to the newly created GitHub repo
  .changeset/breezy-coats-sort.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/github.test.ts
  plugins/scaffolder-backend-module-github/src/actions/github.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

#28193 :broom: Update environment variable name in kubernetes deployment docs
  docs/deployment/k8s.md
Labels: documentation
