Repository backstage/backstage, pull requests merged in 2024-03, with the labels that each got.

#23342 microsite: update Thoughtworks link to point to Backstage landing page
  microsite/src/pages/community/index.tsx
Labels: microsite

#23348 docs,config: fix proxy provider config wonk
  app-config.yaml
  docs/auth/guest/provider.md
  docs/auth/microsoft/azure-easyauth.md
  docs/auth/oauth2-proxy/provider.md
Labels: documentation

#23340 docs/tutorials/auth-service-migration: add guest auth instructions
  docs/tutorials/auth-service-migration.md
Labels: documentation

#23343 microsite: update VMWare link to point to Tanzu Developer Portal
  microsite/src/pages/community/index.tsx
Labels: microsite

#23341 microsite: update RedHat link to point to RHDP
  microsite/src/pages/community/index.tsx
Labels: microsite

#23359 docs/overview/versioning-policy: commit to backporting high and critical vulnerabilities
  docs/overview/versioning-policy.md
Labels: documentation

#23192 fix: update internationalization docs
  docs/plugins/internationalization.md
Labels: documentation

#22858 Expanded and Improved Catalog Customization Docs
  .changeset/stupid-bottles-bow.md
  docs/features/software-catalog/catalog-customization.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/DefaultFilters/DefaultFilters.tsx
  plugins/catalog-react/src/components/DefaultFilters/index.ts
  plugins/catalog-react/src/components/index.ts
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
Labels: documentation, area:catalog

#23143 [Scaffolder] Start migrating to use new auth services
  .changeset/fluffy-donuts-end.md
  .changeset/fresh-parrots-learn.md
  .changeset/sixty-balloons-lie.md
  packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node-test-utils/src/actions/mockActionConext.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/types.ts
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

#23393 [Kubernetes] Fix Catalog Auth Token
  .changeset/quiet-pots-agree.md
  .changeset/thirty-donkeys-provide.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-node/api-report.md
  plugins/kubernetes-node/src/types/types.ts
Labels: area:kubernetes

#23377 Add examples for using parameters as conditionals and setting parameters
  docs/features/software-templates/input-examples.md
Labels: documentation

#22570 Autocomplete picker: add argument for which filters should be applied
  .changeset/lazy-pumas-sniff.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.test.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
Labels: area:catalog

#22541 docs: start adding user roles to getting started documentation
  docs/assets/getting-started/create-app-output.png
  docs/assets/getting-started/create-app_output.png
  docs/contribute/getting-involved.md
  docs/contribute/index.md
  docs/contribute/project-structure.md
  docs/deployment/docker.md
  docs/getting-started/config/authentication.md
  docs/getting-started/config/database.md
  docs/getting-started/configuration.md
  docs/getting-started/configure-app-with-plugins.md
  docs/getting-started/create-a-component.md
  docs/getting-started/create-an-app.md
  docs/getting-started/homepage.md
  docs/getting-started/index.md
  docs/getting-started/logging-in.md
  docs/getting-started/register-a-component.md
  docs/integrations/github/discovery.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#22889 feat: Add gitlab group visibility to group entity via annotation
  .changeset/silent-insects-invent.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
Labels: area:catalog

#23292 feat: export `getOctokitOptions` for easier Octokit config reuse
  .changeset/lucky-ravens-beg.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/index.ts
Labels: area:scaffolder

#22863 Added `initiallySelectedNamspaces`
  .changeset/tricky-flies-destroy.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/DefaultFilters/DefaultFilters.tsx
  plugins/catalog-react/src/components/EntityNamespacePicker/EntityNamespacePicker.test.tsx
  plugins/catalog-react/src/components/EntityNamespacePicker/EntityNamespacePicker.tsx
  plugins/catalog-react/src/components/EntityNamespacePicker/index.ts
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogPage/DefaultCatalogPage.tsx
Labels: area:catalog

#23280 feat(plugins/techdocs): add TechdocsGeneratorExtensionPoint
  .changeset/gorgeous-rats-leave.md
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/src/extensions.ts
  plugins/techdocs-node/src/index.ts
  plugins/techdocs-node/src/stages/generate/generators.ts
Labels: area:techdocs

#23415 Use index.cjs.js as entry point to scaffolder-node-test-utils
  .changeset/slimy-bananas-brush.md
  plugins/scaffolder-node-test-utils/package.json
Labels: area:scaffolder

#22902 Documented the way to add a custom KubernetesAuthStrategy
  docs/features/kubernetes/authenticationstrategy.md
  microsite/sidebars.json
Labels: documentation, microsite

#23420 Fix TechDocs sidebar height with large number of links
  .changeset/clean-cycles-suffer.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: area:techdocs

#23425 Move @backstage/repo-tools to dev dependencies
  .changeset/tame-points-clap.md
  plugins/catalog-backend/package.json
  plugins/todo-backend/package.json
Labels: area:catalog

#23311 Rename open platform to open source framework
  README.md
  docs/faq/product.md
  docs/faq/technical.md
  docs/features/software-catalog/index.md
  docs/overview/what-is-backstage.md
  docs/references/glossary.md
  microsite/docusaurus.config.js
  microsite/src/pages/demos/index.tsx
  microsite/src/pages/home/_home.tsx
  mkdocs.yml
  packages/app-next/public/index.html
  packages/app/public/index.html
  packages/cli/templates/serve_index.html
  packages/create-app/templates/default-app/packages/app/public/index.html
  packages/techdocs-cli-embedded-app/public/index.html
Labels: documentation, area:techdocs, microsite

#23097 Inconsistency in Styling and Title Visibility for Top Visited and Recently Visited Cards
  .changeset/ten-wasps-juggle.md
  plugins/home/src/components/VisitList/VisitList.tsx
  plugins/home/src/homePageComponents/VisitedByType/Content.test.tsx
  plugins/home/src/homePageComponents/VisitedByType/VisitedByType.test.tsx
  plugins/home/src/homePageComponents/VisitedByType/VisitedByType.tsx
  plugins/home/src/plugin.ts
Labels: homepage, area:discoverability

#23451 feat(plugin-scaffolder-backend-module-gitlab): add gitlab issue iid i…
  .changeset/modern-wasps-wink.md
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabIssueAction.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabIssueAction.ts
Labels: area:scaffolder

#22876 fix related to catalog import accepting invalid component name
  .changeset/spotty-carrots-refuse.md
  plugins/catalog-import/src/api/CatalogImportClient.test.ts
  plugins/catalog-import/src/api/CatalogImportClient.ts
  plugins/catalog-import/src/components/StepFinishImportLocation/StepFinishImportLocation.tsx
Labels: area:catalog

#23349 update all knip reports
  .changeset/bright-colts-explode.md
  packages/backend-next/knip-report.md
  packages/backend-test-utils/knip-report.md
  packages/backend/knip-report.md
  packages/cli/knip-report.md
  packages/core-components/knip-report.md
  plugins/auth-backend-module-guest-provider/knip-report.md
  plugins/azure-sites-backend/knip-report.md
  plugins/azure-sites-backend/package.json
  plugins/catalog-backend-module-backstage-openapi/knip-report.md
  plugins/catalog-backend-module-backstage-openapi/package.json
  plugins/catalog-backend-module-unprocessed/package.json
  plugins/catalog-backend/package.json
  plugins/code-coverage-backend/package.json
  plugins/devtools-backend/package.json
  plugins/events-backend-module-azure/knip-report.md
  plugins/events-backend-module-bitbucket-cloud/knip-report.md
  plugins/events-backend-module-gerrit/knip-report.md
  plugins/events-backend-module-github/knip-report.md
  plugins/events-backend-module-gitlab/knip-report.md
  plugins/jenkins-backend/package.json
  plugins/notifications-node/knip-report.md
  plugins/notifications/knip-report.md
  plugins/scaffolder-backend-module-azure/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-gerrit/package.json
  plugins/scaffolder-backend-module-gitea/knip-report.md
  plugins/scaffolder-backend-module-gitea/package.json
  plugins/scaffolder-backend-module-yeoman/knip-report.md
  plugins/scaffolder-node-test-utils/knip-report.md
  plugins/scaffolder-node-test-utils/package.json
  plugins/search-backend/package.json
  yarn.lock
Labels: area:catalog, auth, search, area:scaffolder, area:discoverability

#23270 Increase HTTP request timeout used by OIDC authenticator
  .changeset/light-chicken-search.md
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
Labels: auth

#23326 Update yarn-migration.md
  docs/tutorials/yarn-migration.md
Labels: documentation, stale

#23337 fix(catalog-backend): ignore long key paths when building entity search
  .changeset/tricky-donkeys-wink.md
  plugins/catalog-backend/src/database/operations/stitcher/buildEntitySearch.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/buildEntitySearch.ts
Labels: area:catalog

#23475 scaffolder: support unauthenticated requests
  .changeset/grumpy-turtles-vanish.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#22527 feat(catalog): Add a title to the PaginatedCatalogTable.
  .changeset/perfect-chefs-act.md
  .changeset/rare-worms-sort.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/testUtils/providers.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.test.tsx
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.tsx
Labels: area:catalog

#23453 scaffolder: Redacting of `secrets` in log streams
  .changeset/blue-plums-beam.md
  .changeset/bright-beers-dress.md
  .changeset/real-cows-flow.md
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.test.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/logger.ts
  plugins/scaffolder-node/src/actions/types.ts
  yarn.lock
Labels: area:scaffolder

#23484 Add AI Assistant plugin
  microsite/data/plugins/ai-assistant.yaml
Labels: microsite

#23177 Fixed bug at Kubernetes proxy when Backstage is running on K8S
  .changeset/silver-bears-wave.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: area:kubernetes

#23483 🧹 moved some more --cwd
  .changeset/perfect-spoons-sip.md
  docs/frontend-system/building-apps/08-migrating.md
  plugins/azure-devops/README.md
  plugins/scaffolder-backend-module-gitea/README.md
Labels: documentation, area:scaffolder

#22845 feat: allow passing optional filter to getEntityByRefs
  .changeset/quiet-stingrays-breathe.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/generated/apis/DefaultApi.client.ts
  packages/catalog-client/src/types/api.ts
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

#23363 Implements edit url for template
  .changeset/grumpy-lamps-wonder.md
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.test.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPageContextMenu.tsx
Labels: area:scaffolder

#23471 Added OAS spec location in software-catalog API docs
  docs/features/software-catalog/api.md
Labels: documentation

#23249 Fixed search accordion icon color
  .changeset/early-worms-pretend.md
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
Labels: search, area:discoverability

#23412 Add Sysdig to the Plugin Directory
  microsite/data/plugins/sysdig.yaml
Labels: microsite

#23170 Fix azure refresh jank
  .changeset/pretty-olives-travel.md
  plugins/azure-sites/src/components/AzureSitesOverviewTableComponent/AzureSitesOverviewTable.tsx
Labels: stale

#23437 [TechDocs] Migrate to use new auth services
  .changeset/bright-birds-begin.md
  .changeset/healthy-mirrors-obey.md
  .changeset/mighty-cooks-breathe.md
  .changeset/nice-monkeys-greet.md
  packages/techdocs-cli-embedded-app/src/apis.ts
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
  plugins/techdocs-backend/api-report.md
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-backend/src/service/router.ts
  plugins/techdocs-module-addons-contrib/src/setupTests.ts
  plugins/techdocs-react/api-report.md
  plugins/techdocs-react/src/api.ts
  plugins/techdocs/api-report.md
  plugins/techdocs/src/client.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsAuthProvider.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
  plugins/techdocs/src/setupTests.ts
Labels: area:techdocs

#23455 docs: fix scaffolder permission example
  docs/features/software-templates/authorizing-parameters-steps-and-actions.md
Labels: documentation

#23522 Resolved issue where`PaginatedCatalogTable` wasn't passing options
  .changeset/fresh-worms-build.md
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.tsx
Labels: area:catalog

#23319 add solo.io as partner on backstage.io
  microsite/src/pages/community/index.tsx
  microsite/static/img/partner-logo-solo.png
Labels: microsite

#23553 Add ESLint Rule to Home Plugin
  .changeset/shiny-buttons-whisper.md
  plugins/home/.eslintrc.js
  plugins/home/src/assets/TemplateBackstageLogoIcon.tsx
  plugins/home/src/componentRenderers/ComponentAccordion.tsx
  plugins/home/src/componentRenderers/ComponentTabs/ComponentTabs.tsx
  plugins/home/src/components/CustomHomepage/AddWidgetDialog.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageButtons.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
  plugins/home/src/components/StarredEntityListItem/StarredEntityListItem.tsx
  plugins/home/src/components/VisitList/ItemCategory.tsx
  plugins/home/src/components/VisitList/ItemDetail.tsx
  plugins/home/src/components/VisitList/ItemName.tsx
  plugins/home/src/components/VisitList/VisitList.tsx
  plugins/home/src/components/VisitList/VisitListEmpty.tsx
  plugins/home/src/components/VisitList/VisitListFew.tsx
  plugins/home/src/components/VisitList/VisitListItem.tsx
  plugins/home/src/components/VisitList/VisitListSkeleton.tsx
  plugins/home/src/homePageComponents/CompanyLogo/CompanyLogo.stories.tsx
  plugins/home/src/homePageComponents/CompanyLogo/CompanyLogo.test.tsx
  plugins/home/src/homePageComponents/CompanyLogo/CompanyLogo.tsx
  plugins/home/src/homePageComponents/FeaturedDocsCard/Content.tsx
  plugins/home/src/homePageComponents/FeaturedDocsCard/FeaturedDocsCard.stories.tsx
  plugins/home/src/homePageComponents/RandomJoke/Actions.tsx
  plugins/home/src/homePageComponents/RandomJoke/Settings.tsx
  plugins/home/src/homePageComponents/StarredEntities/Content.tsx
  plugins/home/src/homePageComponents/StarredEntities/StarredEntities.stories.tsx
  plugins/home/src/homePageComponents/Toolkit/Content.tsx
  plugins/home/src/homePageComponents/Toolkit/Toolkit.stories.tsx
  plugins/home/src/homePageComponents/VisitedByType/Actions.tsx
  plugins/home/src/homePageComponents/VisitedByType/HomePageVisitedByType.stories.tsx
  plugins/home/src/homePageComponents/WelcomeTitle/WelcomeTitle.tsx
Labels: homepage, area:discoverability

#23551 Add ESLint Rule to Scaffolder Plugin
  .changeset/thin-cats-speak.md
  plugins/scaffolder/.eslintrc.js
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/OwnerListPicker.tsx
  plugins/scaffolder/src/components/OngoingTask/ContextMenu.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
  plugins/scaffolder/src/components/TemplateTypePicker/TemplateTypePicker.tsx
  plugins/scaffolder/src/components/fields/EntityNamePicker/EntityNamePicker.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/EntityTagsPicker/EntityTagsPicker.tsx
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/SecretInput/SecretInput.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/IconLink.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/TaskPageLinks.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/TaskStatusStepper.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorBrowser.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorTextArea.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/next/TemplateListPage/RegisterExistingButton.tsx
Labels: area:scaffolder

#23550 Add ESLint Rule to Catalog Unprocessed Entities Plugin
  .changeset/modern-snails-ring.md
  plugins/catalog-unprocessed-entities/.eslintrc.js
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
  plugins/catalog-unprocessed-entities/src/components/PendingEntities.tsx
  plugins/catalog-unprocessed-entities/src/components/UnprocessedEntities.tsx
Labels: area:catalog

#23549 Add ESLint Rule to Catalog Import Plugin
  .changeset/brown-jokes-study.md
  plugins/catalog-import/.eslintrc.js
  plugins/catalog-import/dev/index.tsx
  plugins/catalog-import/src/components/Buttons/index.tsx
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.tsx
  plugins/catalog-import/src/components/EntityListComponent/EntityListComponent.tsx
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
  plugins/catalog-import/src/components/ImportStepper/ImportStepper.tsx
  plugins/catalog-import/src/components/ImportStepper/defaults.tsx
  plugins/catalog-import/src/components/StepFinishImportLocation/StepFinishImportLocation.tsx
  plugins/catalog-import/src/components/StepInitAnalyzeUrl/StepInitAnalyzeUrl.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/AutocompleteTextField.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreparePullRequestForm.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreviewCatalogInfoComponent.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreviewCatalogInfoComponent.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreviewPullRequestComponent.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/PreviewPullRequestComponent.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.test.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.tsx
  plugins/catalog-import/src/components/StepPrepareSelectLocations/StepPrepareSelectLocations.tsx
  plugins/catalog-import/src/components/StepReviewLocation/StepReviewLocation.tsx
Labels: area:catalog

#23548 Add ESLint Rule to Catalog Graph Plugin
  .changeset/weak-vans-heal.md
  plugins/catalog-graph/.eslintrc.js
  plugins/catalog-graph/dev/index.tsx
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CurveFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/DirectionFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/MaxDepthFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedKindsFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SelectedRelationsFilter.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/SwitchFilter.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: area:catalog

#23547 Add ESLint Rule to Catalog Plugin
  .changeset/perfect-buses-burn.md
  plugins/catalog/.eslintrc.js
  plugins/catalog/api-report.md
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/components/AboutCard/AboutContent.tsx
  plugins/catalog/src/components/AboutCard/AboutField.tsx
  plugins/catalog/src/components/CatalogKindHeader/CatalogKindHeader.tsx
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
  plugins/catalog/src/components/CatalogTable/columns.tsx
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityContextMenu/UnregisterEntity.tsx
  plugins/catalog/src/components/EntityLabelsCard/EntityLabelsCard.tsx
  plugins/catalog/src/components/EntityLabelsCard/EntityLabelsEmptyState.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
  plugins/catalog/src/components/EntityLinksCard/EntityLinksEmptyState.tsx
  plugins/catalog/src/components/EntityLinksCard/IconLink.tsx
  plugins/catalog/src/components/EntityLinksCard/LinksGridList.tsx
  plugins/catalog/src/components/EntityLinksCard/useDynamicColumns.tsx
  plugins/catalog/src/components/EntityNotFound/EntityNotFound.tsx
  plugins/catalog/src/components/EntityNotFound/Illo/Illo.tsx
  plugins/catalog/src/components/EntityOrphanWarning/DeleteEntityDialog.tsx
  plugins/catalog/src/components/EntityOrphanWarning/EntityOrphanWarning.tsx
  plugins/catalog/src/components/EntityProcessingErrorsPanel/EntityProcessingErrorsPanel.tsx
  plugins/catalog/src/components/EntityRelationWarning/EntityRelationWarning.tsx
  plugins/catalog/src/components/RelatedEntitiesCard/RelatedEntitiesCard.tsx
  plugins/catalog/src/components/SystemDiagramCard/SystemDiagramCard.tsx
Labels: area:catalog

#23542 Add ESLint Rule to TechDocs Plugin
  .changeset/smooth-fireants-notice.md
  plugins/techdocs/.eslintrc.js
  plugins/techdocs/api-report.md
  plugins/techdocs/src/home/components/Grids/DocsCardGrid.tsx
  plugins/techdocs/src/home/components/Grids/EntityListDocsGrid.tsx
  plugins/techdocs/src/home/components/Tables/actions.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/techdocs/src/reader/components/TechDocsBuildLogs.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsAuthProvider.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/context.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContentAddons.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageSubheader/TechDocsReaderPageSubheader.tsx
  plugins/techdocs/src/reader/components/TechDocsStateIndicator.tsx
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
  plugins/techdocs/src/reader/transformers/styles/rules/types.ts
  plugins/techdocs/src/reader/transformers/styles/rules/variables.ts
  plugins/techdocs/src/reader/transformers/styles/transformer.ts
  plugins/techdocs/src/search/components/TechDocsSearchResultListItem.tsx
Labels: area:techdocs

#23574 fix: Guest Provider sign-in without a user in the Catalog
  .changeset/metal-toes-mate.md
  plugins/auth-backend-module-guest-provider/src/resolvers.ts
Labels: auth

#23585 Update back/white logo per suggestion
  microsite/static/img/partner-logo-solo.png
Labels: microsite

#23591 feat(plugins): add analytics-module-qm plugin
  docs/plugins/analytics.md
  microsite/data/plugins/analytics-module-qm.yaml
  microsite/static/img/qm-icon.png
Labels: documentation, microsite

#23663 cli: fix watch backend development server watch mode
  .changeset/giant-pots-dream.md
  .changeset/six-shirts-vanish.md
  .github/workflows/sync_snyk-github-issues.yml
  package.json
  packages/cli/bin/backstage-cli
  packages/cli/config/nodeTransform.cjs
  packages/cli/knip-report.md
  packages/cli/package.json
  packages/cli/src/lib/experimental/startBackendExperimental.ts
  packages/codemods/bin/backstage-codemods
  packages/codemods/knip-report.md
  packages/codemods/package.json
  packages/create-app/bin/backstage-create-app
  packages/create-app/knip-report.md
  packages/create-app/package.json
  packages/e2e-test/bin/e2e-test
  packages/e2e-test/knip-report.md
  packages/e2e-test/package.json
  packages/repo-tools/bin/backstage-repo-tools
  packages/repo-tools/knip-report.md
  packages/repo-tools/package.json
  packages/techdocs-cli/bin/techdocs-cli
  packages/techdocs-cli/knip-report.md
  packages/techdocs-cli/package.json
  scripts/snyk-github-issue-sync.ts
  yarn.lock
Labels: area:techdocs

#23685 plugins: allow unauthenticated access to health check endpoints
  .changeset/cyan-dragons-shave.md
  plugins/airbrake-backend/src/plugin.ts
  plugins/azure-devops-backend/src/plugin.ts
  plugins/azure-sites-backend/src/plugin.ts
  plugins/code-coverage-backend/src/plugin.ts
  plugins/devtools-backend/src/plugin.ts
  plugins/example-todo-list-backend/src/plugin.ts
  plugins/linguist-backend/src/plugin.ts
  plugins/nomad-backend/src/plugin.ts
  plugins/notifications-backend/src/plugin.ts
  plugins/periskop-backend/src/alpha.ts
  plugins/permission-backend/src/plugin.ts
  plugins/signals-backend/src/plugin.ts
  plugins/vault-backend/src/service/plugin.ts
Labels: area:permission

#22667 feat: delete unprocessed entity from refresh_state table
  .changeset/warm-buses-do.md
  packages/backend/src/plugins/catalog.ts
  plugins/catalog-backend-module-unprocessed/api-report.md
  plugins/catalog-backend-module-unprocessed/package.json
  plugins/catalog-backend-module-unprocessed/src/UnprocessedEntitiesModule.ts
  plugins/catalog-backend-module-unprocessed/src/module.ts
  plugins/catalog-unprocessed-entities-common/.eslintrc.js
  plugins/catalog-unprocessed-entities-common/README.md
  plugins/catalog-unprocessed-entities-common/api-report.md
  plugins/catalog-unprocessed-entities-common/catalog-info.yaml
  plugins/catalog-unprocessed-entities-common/package.json
  plugins/catalog-unprocessed-entities-common/src/index.ts
  plugins/catalog-unprocessed-entities-common/src/permissions.ts
  plugins/catalog-unprocessed-entities-common/src/setupTests.ts
  plugins/catalog-unprocessed-entities/api-report.md
  plugins/catalog-unprocessed-entities/src/api/index.ts
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
  yarn.lock
Labels: area:catalog

#23265 Fix for atlassian OAuth flow
  .changeset/stale-bags-hug.md
  plugins/auth-backend-module-atlassian-provider/src/authenticator.ts
  plugins/auth-backend-module-atlassian-provider/src/module.test.ts
  plugins/auth-backend/src/providers/atlassian/provider.ts
Labels: auth

#23515 Scaffolder checkpoint fix
  .changeset/flat-kiwis-rush.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

#23358 Add TLS options to support GSuite org data ingestion via LDAP
  .changeset/moody-geese-serve.md
  docs/integrations/ldap/org.md
  plugins/catalog-backend-module-ldap/api-report.md
  plugins/catalog-backend-module-ldap/package.json
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
  yarn.lock
Labels: documentation, area:catalog

#23521 add ability to specify author name and email for bitbucket commits
  .changeset/fair-fishes-marry.md
  plugins/scaffolder-backend-module-bitbucket-server/api-report.md
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.ts
Labels: area:scaffolder

#23669 Update k8s.md
  docs/deployment/k8s.md
Labels: documentation

#23682 feat(events,github): add support for EventsService, events at new backend
  .changeset/nervous-mangos-peel.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/module/githubCatalogModule.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: documentation, area:catalog

#23493 Add minify option to buildBackend and command
  .changeset/calm-trainers-hear.md
  docs/local-dev/cli-commands.md
  packages/cli/src/commands/build/buildBackend.ts
  packages/cli/src/commands/build/command.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/repo/build.ts
  packages/cli/src/lib/packager/createDistWorkspace.ts
Labels: documentation

#23695 feat(events,github-org): add support for EventsService, events at new backend
  .changeset/happy-walls-think.md
  docs/integrations/github/org.md
  plugins/catalog-backend-module-github-org/package.json
  plugins/catalog-backend-module-github-org/src/module.ts
  plugins/catalog-backend-module-github/api-report.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  yarn.lock
Labels: documentation, area:catalog

#23703 Add ESLint Rule to Search Plugin
  .changeset/sour-wasps-dream.md
  plugins/search/.eslintrc.js
  plugins/search/src/alpha.tsx
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.stories.tsx
  plugins/search/src/components/SearchModal/SearchModal.stories.tsx
  plugins/search/src/components/SearchModal/SearchModal.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
  plugins/search/src/components/SearchType/SearchType.Tabs.tsx
  plugins/search/src/components/SearchType/SearchType.stories.tsx
  plugins/search/src/components/SearchType/SearchType.tsx
Labels: search, area:discoverability

#23658 Update external-integrations.md
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#23570 Update dependency rollup to v4
  .changeset/renovate-e7bc571.md
  packages/cli/package.json
  packages/cli/src/lib/builder/config.ts
  yarn.lock
Labels: dependencies, merge-after-release

#23509 [Kubernetes Backend Plugin] Added new CatalogRelationServiceLocator
  .changeset/eleven-adults-add.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service-locator/CatalogRelationServiceLocator.test.ts
  plugins/kubernetes-backend/src/service-locator/CatalogRelationServiceLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/types/types.ts
Labels: documentation, area:kubernetes

#23788 chore: added missing commas to queryEntities
  .changeset/mighty-cooks-lie.md
  packages/catalog-client/src/types/api.ts
Labels: area:catalog

#23754 Add ESLint Rule to KubernetesCluster Plugin
  .changeset/purple-seals-rest.md
  plugins/kubernetes-cluster/.eslintrc.js
  plugins/kubernetes-cluster/src/components/ApiResources/ApiResources.tsx
  plugins/kubernetes-cluster/src/components/ClusterOverview/ClusterOverview.tsx
  plugins/kubernetes-cluster/src/components/KubernetesClusterContent/KubernetesClusterContent.tsx
  plugins/kubernetes-cluster/src/components/Nodes/Nodes.tsx
Labels: area:kubernetes

#23789 fix permissions being overwritten by the unprocessed entities module
  .changeset/angry-chairs-brake.md
  .changeset/empty-spiders-pay.md
  .changeset/famous-rats-kick.md
  plugins/catalog-backend-module-unprocessed/package.json
  plugins/catalog-backend-module-unprocessed/src/UnprocessedEntitiesModule.ts
  plugins/catalog-backend-module-unprocessed/src/module.ts
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/api-report-alpha.md
  plugins/catalog-node/src/extensions.ts
  plugins/permission-backend/src/service/PermissionIntegrationClient.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
  yarn.lock
Labels: area:catalog, area:permission

#23508 [GCP Cloudbuild plugin] Add Trigger Name
  .changeset/sour-snails-thank.md
  docs/assets/plugins/cloudbuild/CloudBuildPlugin.png
  plugins/cloudbuild/api-report.md
  plugins/cloudbuild/src/api/types.ts
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.test.tsx
  plugins/cloudbuild/src/components/WorkflowRunsTable/WorkflowRunsTable.tsx
Labels: documentation

#23599 chore: add new Coder plugins to microsite
  microsite/data/plugins/coder.yaml
  microsite/data/plugins/devcontainers.yaml
  microsite/static/img/coder.png
  microsite/static/img/devcontainers.png
Labels: microsite

#23832 add guest installation instructions
  .changeset/wild-bobcats-speak.md
  plugins/auth-backend-module-guest-provider/README.md
Labels: auth

#23831 [TechDocs] Fix CLI cookie endpoint
  .changeset/kind-walls-live.md
  packages/techdocs-cli/src/lib/httpServer.ts
Labels: area:techdocs

#23472 Catalog: pagination search save text in query params
  .changeset/.yellow-parrots-glow.md
  .changeset/shiny-flowers-yawn.md
  plugins/catalog-react/api-report.md
  plugins/catalog-react/src/components/EntitySearchBar/EntitySearchBar.test.tsx
  plugins/catalog-react/src/components/EntitySearchBar/EntitySearchBar.tsx
  plugins/catalog-react/src/filters.ts
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/CatalogTableToolbar.tsx
  plugins/catalog/src/components/CatalogTable/PaginatedCatalogTable.tsx
Labels: area:catalog

#23821 Backend Plugin Template Fixes
  .changeset/thirty-timers-repair.md
  docs/plugins/backend-plugin.md
  packages/cli/templates/default-backend-plugin/README.md.hbs
  packages/cli/templates/default-backend-plugin/src/plugin.ts.hbs
Labels: documentation

#23827 Scaffolder: fix auth credentials issue
  .changeset/light-squids-eat.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#23863 chore: hash algo has changed for patches in yarn
  microsite/yarn.lock
Labels: microsite

#23867 docs: add release notes for 1.25
  docs/releases/v1.25.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#23859 Fix rootHttpRouter service example
  docs/backend-system/core-services/root-http-router.md
Labels: documentation

#23872 chore: fixing checksums for storybook
  storybook/yarn.lock
Labels: storybook

#23875 docs(tutorials/auth-service-migration): add snippet how to activate guest login outside of dev environments
  docs/tutorials/auth-service-migration.md
Labels: documentation

#23785 Added new and renamed current Dynatrace plugin
  microsite/data/plugins/dynatrace-managed.yaml
  microsite/data/plugins/dynatrace.yaml
  microsite/static/img/dynatrace.svg
Labels: microsite

#23299 Added my plugin to backstage.io directory (dev-friends-day)
  microsite/data/plugins/dev-friends-day.yaml
  microsite/static/img/dev-friends-days.jpeg
Labels: microsite

#23730 docs(openapi): document JAVA requirement for client generation
  docs/openapi/01-getting-started.md
Labels: documentation

#23360 Register @croz/plugin-ibm-apic-backend plugin
  microsite/data/plugins/ibm-apic-backend.yaml
Labels: microsite, stale
