Repository backstage/backstage, pull requests merged in 2024-11, with the labels that each got.

#27436 Cleaning up event subscriptions after the max age window
  .changeset/silly-kiwis-destroy.md
  plugins/events-backend/src/service/hub/DatabaseEventBusStore.ts
Labels: area:events

#27125 Add Liatrio's DORA Metrics plugin to the directory
  microsite/data/plugins/dora-metrics.yaml
  microsite/static/img/liatrio-icon.png
Labels: microsite

#27433 Updated Yarn & Node Prerequisites
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/getting-started/index.md
Labels: documentation

#27245 feat: Add possibility to discover archived projects with `catalog-backend-module-gitlab`
  .changeset/silver-kings-sort.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/config.d.ts
  plugins/catalog-backend-module-gitlab/report.api.md
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.test.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: documentation, area:catalog

#27460 Upgraded microsite to Docusaurus 3.6
  microsite/docusaurus.config.ts
  microsite/package.json
  microsite/yarn.lock
Labels: microsite

#27373 Add Support for Google LDAP Vendor
  .changeset/heavy-phones-shave.md
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
Labels: area:catalog

#27372 docs(sofware-templates): improves instruction for --no-node-snapshot
  docs/features/software-templates/index.md
Labels: documentation

#27495 Made it possible to construct `mockServices.database` with a given knex instance
  .changeset/little-rivers-deny.md
  docs/backend-system/building-plugins-and-modules/02-testing.md
  packages/backend-defaults/src/entrypoints/auth/plugin/keys/DatabaseKeyStore.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/DefaultSchedulerService.test.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/next/services/mockServices.ts
  plugins/app-backend/src/lib/assets/StaticAssetsStore.test.ts
  plugins/catalog-backend/src/tests/performance/getEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
  plugins/events-backend/src/service/EventsPlugin.test.ts
  plugins/notifications-backend/src/database/DatabaseNotificationsStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/user-settings-backend/src/database/DatabaseUserSettingsStore.test.ts
Labels: documentation, area:catalog, search, area:events, area:search

#26960 Added missing config.d.ts values
  .changeset/purple-masks-swim.md
  plugins/kubernetes-backend/config.d.ts
Labels: area:kubernetes

#27385 Added catalog-webhook plugin & image for the plugin directory
  microsite/data/plugins/catalog-webhook.yaml
  microsite/static/img/forgedapps.jpg
Labels: microsite

#26684 Include templateMetadata in Dry Run
  .changeset/soft-turkeys-tie.md
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#27502 Remove card UI from result type filter on Search page
  .changeset/friendly-kids-judge.md
  packages/app/src/components/search/SearchPage.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
Labels: search, area:search

#27497 Change core component Table tool bar search box to the more appropriate Search icon and text
  .changeset/lucky-snakes-complain.md
  packages/core-components/src/components/Table/Table.tsx
Labels: area:catalog

#27505 Fix unnecessary re-rendering of site's index page.
  .changeset/hungry-cats-juggle.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: area:techdocs

#26946 feat(scaffolder): add permission for template management features
  .changeset/lemon-gifts-crash.md
  plugins/scaffolder-common/report-alpha.api.md
  plugins/scaffolder-common/src/permissions.ts
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
Labels: area:scaffolder

#27121 fix(events,github): fixes signature validation by using raw req body
  .changeset/seven-hotels-move.md
  .changeset/shiny-falcons-fly.md
  plugins/events-backend-module-github/src/http/createGithubSignatureValidator.test.ts
  plugins/events-backend-module-github/src/http/createGithubSignatureValidator.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubWebhook.test.ts
  plugins/events-backend-module-gitlab/src/http/createGitlabTokenValidator.test.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabWebhook.test.ts
  plugins/events-backend/package.json
  plugins/events-backend/src/service/EventsPlugin.test.ts
  plugins/events-backend/src/service/EventsPlugin.ts
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.test.ts
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.ts
  plugins/events-node/report.api.md
  plugins/events-node/src/api/http/validation/RequestDetails.ts
  yarn.lock
Labels: stale, area:events

#26873 fix(discovery): implement Bitbucket Cloud discovery on project-level
  .changeset/wise-snakes-sleep.md
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
Labels: area:catalog

#27456 feat(lint): Add `--max-warnings -1` option to package lint
  .changeset/loud-plants-dream.md
  docs/tooling/cli/03-commands.md
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/lint.ts
  packages/cli/src/commands/repo/lint.ts
Labels: documentation

#27283 feat(plugins/scaffolder-backend): add new fs:readdir action
  .changeset/violet-parrots-knock.md
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/index.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/read.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/read.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/read.ts
Labels: area:scaffolder

#27563 docs/getting-started: reorder next steps a bit
  docs/getting-started/index.md
Labels: documentation

#27577 Fix custom filters documentation hyper link
  docs/features/software-templates/writing-templates.md
Labels: documentation

#27537 chore: Fix documentation for catalog backend stitching
  docs/features/software-catalog/configuration.md
Labels: documentation

#27493 chore: add Daytona plugin to microsite
  microsite/data/plugins/daytona.yaml
  microsite/static/img/daytona.svg
Labels: microsite

#27341 catalog: Add `entity_ref` to the `final_entities` table
  .changeset/tender-feet-scream.md
  plugins/catalog-backend/migrations/20241024104700_add_entity_ref_to_final_entities.js
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.ts
  plugins/catalog-backend/src/database/operations/util/deleteOrphanedEntities.test.ts
  plugins/catalog-backend/src/database/tables.ts
  plugins/catalog-backend/src/providers/DefaultLocationStore.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
Labels: area:catalog

#27552 Ensure EntityDisplayName component link receives underline on hover
  .changeset/neat-buttons-wait.md
  plugins/catalog-react/src/components/EntityDisplayName/EntityDisplayName.tsx
Labels: area:catalog

#27428 docs(docs/features/software-templates/writing-custom-field-extensionsmd): add pending imports.
  docs/features/software-templates/writing-custom-field-extensions.md
Labels: documentation

#26899 feat(catalog): Implement breadcrumbs for entity navigation
  .changeset/afraid-carrots-greet.md
  packages/app/src/components/catalog/EntityPage.test.tsx
  packages/app/src/components/catalog/EntityPage.tsx
  plugins/catalog/report.api.md
  plugins/catalog/src/components/EntityLayout/EntityLayout.test.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

#27587 remove redundant indices
  .changeset/twelve-masks-call.md
  plugins/catalog-backend/migrations/20241111000000_drop_redundant_indices.js
  plugins/catalog-backend/src/tests/migrations.test.ts
Labels: area:catalog

#27417 Fixes #27325 Stitch entity for which target of relationship has changed
  .changeset/short-pots-remember.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: area:catalog

#27558 Enable customization of CatalogTable pagination
  .changeset/serious-penguins-remain.md
  plugins/catalog/src/components/CatalogTable/CursorPaginatedCatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

#27546 Fixes in architecture-decisions docs
  docs/architecture-decisions/adr001-add-adr-log.md
  docs/architecture-decisions/adr002-default-catalog-file-format.md
  docs/architecture-decisions/adr003-avoid-default-exports.md
  docs/architecture-decisions/adr009-entity-references.md
Labels: documentation

#27565 Add contextMenu prop to Actions and ListTasks
  .changeset/ten-hats-appear.md
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
Labels: area:scaffolder

#27093 feat: Additional project settings related to MR discussions and pipelines
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Labels: area:scaffolder

#27624 just some test tweaks to make it more robust
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/tests/performance/getEntitiesPerformance.test.ts
Labels: area:catalog

#27638 :broom: remove backend-common as a dependency where it's no longer used
  .changeset/violet-dolphins-juggle.md
  packages/backend-app-api/package.json
  packages/cli/package.json
  plugins/auth-backend-module-aws-alb-provider/package.json
  plugins/auth-backend-module-guest-provider/package.json
  plugins/auth-backend-module-oidc-provider/package.json
  plugins/events-node/package.json
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-node/package.json
  plugins/scaffolder-backend-module-notifications/package.json
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/search-backend-module-stack-overflow-collator/package.json
  plugins/signals-node/package.json
  yarn.lock
Labels: auth, search, area:scaffolder, area:events, area:search

#27561 docs/tutorials/setup-opentelemetry: add info about dockerignore for opentelemetry instrumentation
  docs/tutorials/setup-opentelemetry.md
Labels: documentation

#27600 Scaffolder: Gitlab - Include description field when displaying error messages
  .changeset/khaki-badgers-watch.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueEdit.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabPipelineTrigger.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/helpers.ts
Labels: area:scaffolder

#27192 fix(catalog-backend-module-github): update parent to not send a object with empty value
  .changeset/rotten-mangos-hug.md
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
Labels: area:catalog

#27646 docs(techdocs): mermaid setup update
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#27670 Removed circular import
  .changeset/selfish-dots-attend.md
  plugins/scaffolder-backend-module-gitlab/src/util.ts
Labels: area:scaffolder

#27627 add a `createDeferred` and `DeferredPromise` to the types
  .changeset/few-lizards-search.md
  .changeset/moody-chicken-enjoy.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.test.ts
  packages/config-loader/src/loader.test.ts
  packages/config-loader/src/sources/MutableConfigSource.ts
  packages/config-loader/src/sources/StaticConfigSource.ts
  packages/config-loader/src/sources/utils.ts
  packages/types/report.api.md
  packages/types/src/deferred.test.ts
  packages/types/src/deferred.ts
  packages/types/src/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
  plugins/catalog-backend-module-incremental-ingestion/src/util.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
  plugins/catalog-react/src/components/EntityDisplayName/EntityDisplayName.test.tsx
  plugins/catalog-react/src/components/UnregisterEntityDialog/useUnregisterEntityDialogState.test.tsx
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
Labels: area:catalog, area:scaffolder

#27129 fix: use default catalog toolbar for offset catalog table
  .changeset/curvy-poems-joke.md
  plugins/catalog/src/components/CatalogTable/OffsetPaginatedCatalogTable.tsx
Labels: area:catalog

#27676 slightly speed up the refresh loop
  .changeset/warm-boats-move.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.test.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/tests/performance/getEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/getProcessableEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
Labels: area:catalog

#27355 fix(catalog): fix search by `displayName` when searching User and Group entities in the catalog table
  .changeset/sixty-sheep-drive.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

#27404 fix(search): fix collator text formatting for entities without description
  .changeset/three-parrots-dress.md
  plugins/search-backend-module-catalog/src/collators/defaultCatalogCollatorEntityTransformer.test.ts
  plugins/search-backend-module-catalog/src/collators/defaultCatalogCollatorEntityTransformer.ts
Labels: search, area:search

#27415 Updated Getting Started Node link
  docs/getting-started/index.md
  docs/overview/versioning-policy.md
Labels: documentation

#27691 implement support for string form human durations in config
  .changeset/clean-pears-roll.md
  .changeset/serious-gorillas-work.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.test.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
  packages/backend-plugin-api/src/services/definitions/SchedulerService.ts
  packages/config/package.json
  packages/config/src/readDurationFromConfig.test.ts
  packages/config/src/readDurationFromConfig.ts
  plugins/auth-backend-module-cloudflare-access-provider/config.d.ts
  plugins/auth-backend/config.d.ts
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/stitching/types.ts
  plugins/events-backend-module-aws-sqs/config.d.ts
  plugins/events-backend-module-aws-sqs/src/publisher/config.ts
  plugins/notifications-backend-module-email/config.d.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/scaffolder-backend/config.d.ts
  yarn.lock
Labels: area:catalog, auth, area:scaffolder, area:events

#27594 Techdocs: fix re-rendering issue TechDocsReaderPageContent
  .changeset/flat-rivers-smell.md
  plugins/techdocs/src/reader/components/useReaderState.test.tsx
  plugins/techdocs/src/reader/components/useReaderState.ts
Labels: area:techdocs

#27623 doc: remove runtime config from docker build instructions
  docs/deployment/docker.md
Labels: documentation

#27633 docs: fix example for custom transformer
  plugins/search-backend-module-catalog/README.md
Labels: search, area:search

#27710 remove the last src/run.ts
  .changeset/real-shirts-cry.md
  .changeset/slow-horses-destroy.md
  packages/cli-node/src/git/GitUtils.ts
  packages/cli-node/src/monorepo/PackageGraph.test.ts
  packages/cli-node/src/monorepo/PackageGraph.ts
  packages/cli-node/src/monorepo/isMonoRepo.ts
  packages/cli-node/src/monorepo/isMonorepo.test.ts
  packages/cli-node/src/util.ts
  plugins/catalog-backend-module-incremental-ingestion/dev/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/run.ts
  plugins/kubernetes-backend/dev/index.ts
  plugins/kubernetes-backend/src/run.ts
  plugins/kubernetes-backend/src/service/standaloneApplication.ts
  plugins/kubernetes-backend/src/service/standaloneServer.ts
Labels: area:catalog, area:kubernetes

#27709 docs: release 1.33
  docs/releases/v1.33.0.md
Labels: documentation

#27148 Add Mend Plugin
  microsite/data/plugins/mend.yaml
Labels: microsite

#27725 Patch release of #27724
  package.json
  packages/app-next/CHANGELOG.md
  packages/app-next/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  yarn.lock
Labels: area:techdocs

#27326 feat(events): allow setting a timeout for event bus polling
  .changeset/old-taxis-exist.md
  plugins/events-backend/config.d.ts
  plugins/events-backend/src/service/EventsPlugin.ts
  plugins/events-backend/src/service/hub/createEventBusRouter.ts
  plugins/events-node/report.api.md
  plugins/events-node/src/api/DefaultEventsService.test.ts
  plugins/events-node/src/api/DefaultEventsService.ts
  plugins/events-node/src/api/EventsService.ts
  plugins/events-node/src/api/index.ts
Labels: area:events

#27544 Use core Select instead of Checkbox for filters on Search page
  .changeset/healthy-years-begin.md
  packages/app/src/components/search/SearchPage.tsx
  plugins/search-react/package.json
  plugins/search-react/src/components/SearchFilter/SearchFilter.test.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
  yarn.lock
Labels: search, area:search

#26706 Add Search bar to TechDocs when displayed in the entity tab
  .changeset/olive-berries-jump.md
  plugins/techdocs/report.api.md
  plugins/techdocs/src/EntityPageDocs.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
  plugins/techdocs/src/search/components/TechDocsSearch.tsx
  plugins/techdocs/src/search/hooks/useTechDocsLocation.ts
Labels: area:techdocs

#27722 Revert "Upgraded microsite to Docusaurus 3.6"
  microsite/docusaurus.config.ts
  microsite/package.json
  microsite/yarn.lock
Labels: microsite

#27749 catalog-client: fix queryEntities error handling
  .changeset/swift-kangaroos-drop.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
Labels: area:catalog

#27723 beps: update BEP process to merge straight into implementable
  beps/NNNN-template/README.md
  beps/README.md
Labels: BEP

#27718 compute deltas based on hashes just like full mutations
  .changeset/itchy-rats-pump.md
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
  plugins/catalog-backend/src/database/operations/refreshState/checkLocationKeyConflict.ts
  plugins/catalog-backend/src/database/operations/refreshState/insertUnprocessedEntity.ts
  plugins/catalog-backend/src/database/operations/refreshState/updateUnprocessedEntity.ts
  plugins/catalog-backend/src/tests/performance/providerDeltaMutations.test.ts
Labels: area:catalog

#27750 cli: provide prettier config
  .changeset/cold-jeans-stare.md
  .changeset/popular-donkeys-rhyme.md
  microsite/package.json
  microsite/yarn.lock
  package.json
  packages/cli/config/prettier.json
  packages/create-app/templates/default-app/package.json.hbs
  packages/techdocs-cli-embedded-app/package.json
  yarn.lock
Labels: area:techdocs, microsite

#27770 Replace personal developer data
  microsite/data/plugins/mend.yaml
Labels: microsite

#27581 chore(scaffolder-backend-module-gitlab): Upgrade to gitbeaker ^41.2.0
  .changeset/shy-teachers-count.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/helpers.ts
  plugins/scaffolder-backend-module-gitlab/src/util.test.ts
  yarn.lock
Labels: area:scaffolder, merge-after-release

#27776 Decrease OAuth2 token refresh grace period
  .changeset/wet-rats-exist.md
  packages/core-app-api/src/apis/implementations/auth/oauth2/OAuth2.ts
Labels: auth

#27644 fix `googleAuthApiRef` inconsistency with latest changes
  docs/auth/google/provider.md
Labels: documentation

#27772 move off of some alpha exports
  .changeset/friendly-dots-thank.md
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-node/src/auth/PinnipedHelper.test.ts
  plugins/notifications-backend/dev/index.ts
  plugins/search-backend-module-catalog/README.md
  plugins/search-backend-module-explore/README.md
  plugins/search-backend-module-techdocs/README.md
  plugins/signals-backend/dev/index.ts
Labels: area:catalog, area:kubernetes, search, area:search

#27775 fix(catalog): fix catalog search by display name
  .changeset/lazy-years-float.md
  plugins/catalog-react/src/filters.test.ts
  plugins/catalog-react/src/filters.ts
Labels: area:catalog

#27785 core-app-api: try to refresh session if scopes are missing
  .changeset/dry-needles-taste.md
  packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.test.ts
  packages/core-app-api/src/lib/AuthSessionManager/RefreshingAuthSessionManager.ts
Labels: auth

#27757 backend-defaults: Add support for decoration of the pluginTokenHandler
  .changeset/cuddly-chicken-wink.md
  docs/auth/service-to-service-auth.md
  packages/backend-defaults/report-auth.api.md
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auth/index.ts
  packages/backend-defaults/src/entrypoints/auth/plugin/PluginTokenHandler.test.ts
  packages/backend-defaults/src/entrypoints/auth/plugin/PluginTokenHandler.ts
Labels: documentation

#27787 partial fix to deltas that update location keys
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
Labels: area:catalog

#27763 incremental: wire up the events system in new backend
  .changeset/rich-beers-eat.md
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.ts
Labels: area:catalog

#27791 fix: Updated patch for original PR26923 that filters ldap users
  .changeset/few-colts-train.md
  plugins/catalog-backend-module-ldap/report.api.md
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
Labels: area:catalog

#27797 correctly measure stitching queue length
  .changeset/odd-worms-peel.md
  plugins/catalog-backend/src/stitching/progressTracker.ts
Labels: area:catalog

#27741 backend-defaults: export DefaultHttpAuthService
  .changeset/empty-bugs-deliver.md
  docs/backend-system/core-services/http-auth.md
  packages/backend-defaults/package.json
  packages/backend-defaults/report-httpAuth.api.md
  packages/backend-defaults/src/entrypoints/httpAuth/DefaultHttpAuthService.test.ts
  packages/backend-defaults/src/entrypoints/httpAuth/httpAuthServiceFactory.ts
  packages/backend-defaults/src/entrypoints/httpAuth/index.ts
  yarn.lock
Labels: documentation

#27801 support delta update to location key
  .changeset/spotty-shoes-exercise.md
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
Labels: area:catalog

#27800 Compute some metrics using search table facet aggregations
  .changeset/young-carrots-collect.md
  plugins/catalog-backend/src/database/metrics.ts
Labels: area:catalog

#27804 Fix issues with type incompatibility between major versions of @types/express
  .changeset/cold-icons-worry.md
  .changeset/odd-apples-explain.md
  packages/cli/src/lib/version.test.ts
  packages/cli/src/lib/version.ts
  plugins/auth-node/package.json
  plugins/devtools-backend/package.json
  plugins/permission-backend/package.json
  plugins/signals-backend/package.json
  yarn.lock
Labels: auth, area:permission

#27814 Ensure that the scheduled worker task doesn't run at an unreasonably high frequency
  .changeset/weak-meals-doubt.md
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
Labels: area:catalog

#27816 deprecate IncrementalCatalogBuilder, stop using old event interface
  .changeset/fast-cheetahs-deliver.md
  plugins/catalog-backend-module-incremental-ingestion/report-alpha.api.md
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
  plugins/catalog-backend-module-incremental-ingestion/src/alpha.ts
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
Labels: area:catalog

#27746 fix(plugins/scaffolder-backend): expose fs:readdir correctly
  .changeset/polite-foxes-buy.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
Labels: area:scaffolder

#27798 Add LLDAP Vendor implementation for ldap org ingestion
  .changeset/weak-avocados-suffer.md
  plugins/catalog-backend-module-ldap/src/ldap/client.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
Labels: area:catalog

#27596 Feature/issue 27318
  docs/features/software-templates/writing-custom-actions.md
Labels: documentation

#27799 Be more aggressive in dequeueing entities for stitching
  .changeset/neat-insects-cough.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.ts
Labels: area:catalog

#26730 feat(scaffolder): add support for EventsService
  .changeset/orange-moles-kick.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  yarn.lock
Labels: area:scaffolder

#27367 Add autocomplete to GitlabRepoUrlPicker
  .changeset/khaki-shrimps-tease.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/autocomplete/autocomplete.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/autocomplete/autocomplete.ts
  plugins/scaffolder-backend-module-gitlab/src/autocomplete/autocomplete.test.ts
  plugins/scaffolder-backend-module-gitlab/src/autocomplete/autocomplete.ts
  plugins/scaffolder-backend-module-gitlab/src/module.ts
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/src/alpha.ts
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/fields/RepoBranchPicker/BitbucketRepoBranchPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/types.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/utils.test.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/utils.ts
Labels: area:scaffolder

#27716 Fixed cache key resolution for redis store with useRedisSets set to false
  .changeset/curly-hats-tell.md
  docs/overview/architecture-overview.md
  package.json
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/cache/CacheManager.test.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
  packages/backend-test-utils/package.json
  yarn.lock
Labels: documentation

#27836 search-backend: remove dependency on backend-defaults
  .changeset/silent-pigs-collect.md
  plugins/search-backend-node/package.json
Labels: search, area:search

#27842 auth-{backend,node}: improved error forwarding from passport helpers
  .changeset/fluffy-falcons-shout.md
  plugins/auth-backend/src/lib/passport/PassportStrategyHelper.test.ts
  plugins/auth-backend/src/lib/passport/PassportStrategyHelper.ts
  plugins/auth-node/src/passport/PassportHelpers.ts
Labels: auth

#27720 Update elasticsearch translator to handle phrase searches.
  .changeset/empty-ways-push.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
Labels: search, area:search

#27869 Fixing formatting of `jwks` endpoint with `firestore` provider
  .changeset/lazy-pants-attack.md
  plugins/auth-backend/src/identity/FirestoreKeyStore.test.ts
  plugins/auth-backend/src/identity/FirestoreKeyStore.ts
Labels: auth

#27876 googleAuth: `includeGrantedScopes` to persist scopes across refreshes
  .changeset/stale-rats-tease.md
  plugins/auth-backend-module-google-provider/src/authenticator.ts
  plugins/auth-backend-module-google-provider/src/module.test.ts
Labels: auth

#27815 add timestamp gauge metric for task run start/ends
  .changeset/heavy-needles-poke.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.ts
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  yarn.lock
Labels: area:catalog

#27833 compute all facets in one go
  .changeset/slow-singers-jump.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

#27908 docs: update linking-local-packages.md
  docs/tooling/local-dev/linking-local-packages.md
Labels: documentation

#27784 docs(techdocs): Update Docker command to install mkdocs
  docs/features/techdocs/getting-started.md
Labels: documentation

#27924 [Scaffolder] More explicit git handling
  .changeset/pink-bees-shake.md
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/gitHelpers.ts
  plugins/scaffolder-node/src/scm/git.test.ts
  plugins/scaffolder-node/src/scm/git.ts
Labels: area:scaffolder

#27929 Patch release of #27924 (v1.33)
  package.json
  packages/backend-dynamic-feature-service/CHANGELOG.md
  packages/backend-dynamic-feature-service/package.json
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/scaffolder-backend-module-azure/CHANGELOG.md
  plugins/scaffolder-backend-module-azure/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-server/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-bitbucket/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/CHANGELOG.md
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-cookiecutter/CHANGELOG.md
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-gcp/CHANGELOG.md
  plugins/scaffolder-backend-module-gcp/package.json
  plugins/scaffolder-backend-module-gerrit/CHANGELOG.md
  plugins/scaffolder-backend-module-gerrit/package.json
  plugins/scaffolder-backend-module-gitea/CHANGELOG.md
  plugins/scaffolder-backend-module-gitea/package.json
  plugins/scaffolder-backend-module-github/CHANGELOG.md
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-gitlab/CHANGELOG.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-notifications/CHANGELOG.md
  plugins/scaffolder-backend-module-notifications/package.json
  plugins/scaffolder-backend-module-rails/CHANGELOG.md
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-sentry/CHANGELOG.md
  plugins/scaffolder-backend-module-sentry/package.json
  plugins/scaffolder-backend-module-yeoman/CHANGELOG.md
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-node-test-utils/CHANGELOG.md
  plugins/scaffolder-node-test-utils/package.json
  plugins/scaffolder-node/CHANGELOG.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/gitHelpers.ts
  plugins/scaffolder-node/src/scm/git.test.ts
  plugins/scaffolder-node/src/scm/git.ts
Labels: area:scaffolder

#27931 Patch release of #27924 (v1.32)
  package.json
  packages/backend-dynamic-feature-service/CHANGELOG.md
  packages/backend-dynamic-feature-service/package.json
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/scaffolder-backend-module-azure/CHANGELOG.md
  plugins/scaffolder-backend-module-azure/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-server/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-bitbucket/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/CHANGELOG.md
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-cookiecutter/CHANGELOG.md
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-gcp/CHANGELOG.md
  plugins/scaffolder-backend-module-gcp/package.json
  plugins/scaffolder-backend-module-gerrit/CHANGELOG.md
  plugins/scaffolder-backend-module-gerrit/package.json
  plugins/scaffolder-backend-module-gitea/CHANGELOG.md
  plugins/scaffolder-backend-module-gitea/package.json
  plugins/scaffolder-backend-module-github/CHANGELOG.md
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-gitlab/CHANGELOG.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-notifications/CHANGELOG.md
  plugins/scaffolder-backend-module-notifications/package.json
  plugins/scaffolder-backend-module-rails/CHANGELOG.md
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-sentry/CHANGELOG.md
  plugins/scaffolder-backend-module-sentry/package.json
  plugins/scaffolder-backend-module-yeoman/CHANGELOG.md
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-node-test-utils/CHANGELOG.md
  plugins/scaffolder-node-test-utils/package.json
  plugins/scaffolder-node/CHANGELOG.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/gitHelpers.ts
  plugins/scaffolder-node/src/scm/git.test.ts
  plugins/scaffolder-node/src/scm/git.ts
Labels: area:scaffolder

#27932 Patch release of #27924 (v1.31)
  package.json
  packages/backend-dynamic-feature-service/CHANGELOG.md
  packages/backend-dynamic-feature-service/package.json
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/scaffolder-backend-module-azure/CHANGELOG.md
  plugins/scaffolder-backend-module-azure/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-server/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-bitbucket/CHANGELOG.md
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/CHANGELOG.md
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-cookiecutter/CHANGELOG.md
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-gcp/CHANGELOG.md
  plugins/scaffolder-backend-module-gcp/package.json
  plugins/scaffolder-backend-module-gerrit/CHANGELOG.md
  plugins/scaffolder-backend-module-gerrit/package.json
  plugins/scaffolder-backend-module-gitea/CHANGELOG.md
  plugins/scaffolder-backend-module-gitea/package.json
  plugins/scaffolder-backend-module-github/CHANGELOG.md
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-gitlab/CHANGELOG.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-notifications/CHANGELOG.md
  plugins/scaffolder-backend-module-notifications/package.json
  plugins/scaffolder-backend-module-rails/CHANGELOG.md
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-sentry/CHANGELOG.md
  plugins/scaffolder-backend-module-sentry/package.json
  plugins/scaffolder-backend-module-yeoman/CHANGELOG.md
  plugins/scaffolder-backend-module-yeoman/package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-node-test-utils/CHANGELOG.md
  plugins/scaffolder-node-test-utils/package.json
  plugins/scaffolder-node/CHANGELOG.md
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/gitHelpers.ts
  plugins/scaffolder-node/src/scm/git.test.ts
  plugins/scaffolder-node/src/scm/git.ts
Labels: area:scaffolder

#27828 Scaffolder - open links in descriptions in a new tab
  .changeset/warm-pumpkins-bathe.md
  packages/core-components/src/components/MarkdownContent/MarkdownContent.test.tsx
  plugins/scaffolder-react/src/next/components/Form/DescriptionFieldTemplate.tsx
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
Labels: area:scaffolder

#27434 Added Docker to Database Getting Started
  docs/getting-started/config/database.md
Labels: documentation

#27920 fix(website): fix incorrect default plugin icon path
  microsite/src/pages/plugins/_pluginCard.tsx
Labels: microsite

#27948 Update `fetch` ADR regarding `msw`
  docs/architecture-decisions/adr014-use-fetch.md
Labels: documentation

#27909 simplify catalog testing by making the mock type match all interfaces
  .changeset/honest-hornets-double.md
  plugins/catalog-node/report-testUtils.api.md
  plugins/catalog-node/src/testUtils.ts
  plugins/catalog-node/src/testUtils/catalogServiceMock.ts
  plugins/catalog-node/src/testUtils/types.ts
Labels: area:catalog
