Repository backstage/backstage, pull requests merged in 2024-10, with the labels that each got.

#26382 feat: allow scaffolder tasks pagination in the frontend
  .changeset/green-bottles-live.md
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/api.test.ts
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/ListTasksPage/ListTaskPage.test.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
Labels: area:scaffolder

#26813 Included step name and step id into check point key.
  .changeset/cyan-vans-study.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

#26769 Registering Existing Component CTA should be a secondary action
  .changeset/hungry-buckets-repair.md
  plugins/scaffolder/src/alpha/components/TemplateListPage/RegisterExistingButton.tsx
Labels: area:scaffolder

#26867 Add Harness CCM plugin to the microsite
  microsite/data/plugins/harness-ccm.yaml
Labels: microsite

#26844 move react types to a dev dependency and peer dependency
  .changeset/early-sloths-cross.md
  .changeset/nice-badgers-travel.md
  .github/workflows/ci.yml
  package.json
  packages/app-defaults/package.json
  packages/app-next-example-plugin/package.json
  packages/core-app-api/package.json
  packages/core-compat-api/package.json
  packages/core-components/package.json
  packages/core-plugin-api/package.json
  packages/dev-utils/package.json
  packages/frontend-app-api/package.json
  packages/frontend-defaults/package.json
  packages/frontend-plugin-api/package.json
  packages/frontend-test-utils/package.json
  packages/integration-react/package.json
  packages/repo-tools/cli-report.md
  packages/repo-tools/src/commands/index.ts
  packages/repo-tools/src/commands/peer-deps/peer-deps.ts
  packages/repo-tools/src/commands/type-deps/type-deps.ts
  packages/test-utils/package.json
  packages/theme/package.json
  packages/version-bridge/package.json
  plugins/api-docs-module-protoc-gen-doc/package.json
  plugins/api-docs/package.json
  plugins/app-visualizer/package.json
  plugins/app/package.json
  plugins/auth-react/package.json
  plugins/catalog-graph/package.json
  plugins/catalog-import/package.json
  plugins/catalog-react/package.json
  plugins/catalog-unprocessed-entities/package.json
  plugins/catalog/package.json
  plugins/config-schema/package.json
  plugins/devtools/package.json
  plugins/example-todo-list/package.json
  plugins/home-react/package.json
  plugins/home/package.json
  plugins/kubernetes-cluster/package.json
  plugins/kubernetes-react/package.json
  plugins/kubernetes/package.json
  plugins/notifications/package.json
  plugins/org-react/package.json
  plugins/org/package.json
  plugins/permission-react/package.json
  plugins/scaffolder-node-test-utils/package.json
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  plugins/search-react/package.json
  plugins/search/package.json
  plugins/signals-react/package.json
  plugins/signals/package.json
  plugins/techdocs-addons-test-utils/package.json
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-react/package.json
  plugins/techdocs/package.json
  plugins/user-settings/package.json
  yarn.lock
Labels: area:catalog, auth, area:techdocs, area:kubernetes, search, homepage, area:scaffolder, area:permission, area:home, area:search

#26836 feat(techdocs): Allow to pass options to GCS publisher
  .changeset/tough-fireants-itch.md
  docs/features/techdocs/using-cloud-storage.md
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-node/report.api.md
  plugins/techdocs-node/src/extensions.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.test.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.ts
  plugins/techdocs-node/src/stages/publish/index.ts
  plugins/techdocs-node/src/stages/publish/publish.ts
  plugins/techdocs-node/src/stages/publish/types.ts
Labels: documentation, area:techdocs

#26821 feat(techdocs): Add support for mkdocs palette conditional hashes
  .changeset/rare-crabs-cheat.md
  plugins/techdocs/src/reader/transformers/styles/rules/palette.ts
  plugins/techdocs/src/reader/transformers/styles/rules/rules.ts
  plugins/techdocs/src/reader/transformers/styles/transformer.test.tsx
Labels: area:techdocs

#26879 [Scaffolder] Add translation to editor toolbar
  .changeset/poor-dodos-wait.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbar.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26920 [Scaffolder] Search box for filtering actions
  .changeset/silly-readers-build.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26820 docs: Adopter spotlight about Dynatrace adopting Backstage
  microsite/blog/2024-09-24-dynatrace-adopter-spotlight.mdx
  microsite/blog/assets/2024-09-24/backstage_catalog_security_vulnerabilites.png
  microsite/blog/assets/2024-09-24/backstage_dynatrace_plugin_K8s.png
  microsite/blog/assets/2024-09-24/backstage_srg_validations.png
  microsite/blog/assets/2024-09-24/com0027.Dynatrace.Adopter.png
Labels: microsite

#26917 [Scaffolder] Fix template editor mobile layout
  .changeset/pretty-buses-repair.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/CustomFieldPlaygroud.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/CustomFieldsPage.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DirectoryEditorContext.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorBrowser.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorForm.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorIntro.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorLayout.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorTextArea.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbar.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbarFileMenu.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbarTemplatesMenu.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPage.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateIntroPage.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplatePage.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/index.ts
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/useTemplateDirectory.ts
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/lib/filesystem/WebFileSystemAccess.ts
  plugins/scaffolder/src/lib/filesystem/createExampleTemplate.ts
  plugins/scaffolder/src/lib/filesystem/index.ts
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26930 fix!: fix event support for Bitbucket Cloud
  .changeset/rare-rabbits-flow.md
  docs/integrations/bitbucketCloud/discovery.md
  plugins/catalog-backend-module-bitbucket-cloud/package.json
  plugins/catalog-backend-module-bitbucket-cloud/report.api.md
  plugins/catalog-backend-module-bitbucket-cloud/src/module/catalogModuleBitbucketCloudEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
  yarn.lock
Labels: documentation, area:catalog

#26885 Fixes #26503 Add skipUserProfile flag to Microsoft authenticator
  .changeset/heavy-ties-tell.md
  docs/auth/microsoft/provider.md
  plugins/auth-backend-module-microsoft-provider/config.d.ts
  plugins/auth-backend-module-microsoft-provider/src/authenticator.test.ts
  plugins/auth-backend-module-microsoft-provider/src/authenticator.ts
  plugins/auth-backend-module-microsoft-provider/src/strategy.ts
Labels: documentation, auth

#26921 Graphcard action property
  .changeset/tricky-shoes-lie.md
  plugins/catalog-graph/report.api.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
Labels: area:catalog

#26940 [Scaffolder] Test template editor toolbar
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbar.test.tsx
Labels: area:scaffolder

#26935 SearchType.Accordion UX improvement
  .changeset/shy-plants-retire.md
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
Labels: search, area:search

#26819 feat(techdocs): use more of the available space for navigation sidebar
  .changeset/thirty-pianos-mix.md
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
Labels: area:techdocs

#26366 Negation key word to entity filter
  .changeset/green-cooks-sort.md
  plugins/catalog/src/alpha/filter/parseFilterExpression.test.ts
  plugins/catalog/src/alpha/filter/parseFilterExpression.ts
Labels: area:catalog

#26924 feat: add reviewers input for bitbucket server pr
  .changeset/healthy-shoes-judge.md
  plugins/scaffolder-backend-module-bitbucket-server/report.api.md
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.examples.ts
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServerPullRequest.ts
Labels: area:scaffolder

#26886 feat(scaffolder-backend-module-github): add github:branch-protection:create action
  .changeset/chilled-melons-smash.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.ts
  plugins/scaffolder-backend-module-github/src/actions/index.ts
  plugins/scaffolder-backend-module-github/src/module.ts
Labels: area:scaffolder

#26968 [Scaffolder]: Test use template directory hook
  .changeset/sharp-lamps-fix.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateIntroPage.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/useTemplateDirectory.test.ts
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/useTemplateDirectory.ts
  plugins/scaffolder/src/lib/filesystem/WebFileSystemAccess.ts
  plugins/scaffolder/src/lib/filesystem/WebFileSystemStore.ts
  plugins/scaffolder/src/lib/filesystem/index.ts
Labels: area:scaffolder

#26964 [Scaffolder]: Test editor toolbar files menu
  .changeset/twenty-cups-knock.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbarFileMenu.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbarFileMenu.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/useTemplateDirectory.test.ts
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/useTemplateDirectory.ts
Labels: area:scaffolder

#26984 Fix rootConfigServiceFactory import in rootConfig docs
  docs/backend-system/core-services/root-config.md
Labels: documentation

#26963 Fix/createbranch githelper
  .changeset/thick-tables-give.md
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/gitHelpers.ts
Labels: area:scaffolder

#26986 cli: add --successCache option for repo lint
  .changeset/calm-owls-move.md
  .changeset/small-donkeys-attack.md
  .github/workflows/ci.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_windows.yml
  docs/tooling/cli/02-build-system.md
  packages/cli-node/report.api.md
  packages/cli-node/src/monorepo/Lockfile.test.ts
  packages/cli-node/src/monorepo/Lockfile.ts
  packages/cli/cli-report.md
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/repo/lint.ts
  packages/cli/src/lib/new/factories/backendModule.test.ts
  packages/cli/src/lib/new/factories/backendPlugin.test.ts
  packages/cli/src/lib/new/factories/frontendPlugin.test.ts
  packages/cli/src/lib/new/factories/nodeLibraryPackage.test.ts
  packages/cli/src/lib/new/factories/pluginCommon.test.ts
  packages/cli/src/lib/new/factories/pluginNode.test.ts
  packages/cli/src/lib/new/factories/pluginWeb.test.ts
  packages/cli/src/lib/new/factories/scaffolderModule.test.ts
  packages/cli/src/lib/new/factories/webLibraryPackage.test.ts
  packages/cli/templates/default-backend-module/.eslintrc.js.hbs
  packages/cli/templates/default-backend-plugin/.eslintrc.js.hbs
  packages/cli/templates/default-common-plugin-package/.eslintrc.js.hbs
  packages/cli/templates/default-node-plugin-package/.eslintrc.js.hbs
  packages/cli/templates/default-plugin/.eslintrc.js.hbs
  packages/cli/templates/default-react-plugin-package/.eslintrc.js.hbs
  packages/cli/templates/node-library-package/.eslintrc.js.hbs
  packages/cli/templates/scaffolder-module/.eslintrc.js.hbs
  packages/cli/templates/web-library-package/.eslintrc.js.hbs
Labels: documentation

#26982 handle step.if: false
  .changeset/curly-tomatoes-reply.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

#26972 [Scaffolder] Test new pages header navigation
  .changeset/fluffy-dolphins-battle.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/CustomFieldsPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateIntroPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateIntroPage.tsx
Labels: area:scaffolder

#26953 add customisable techdocs code bg color that defaults to background.paper
  .changeset/slimy-ravens-end.md
  packages/theme/report.api.md
  packages/theme/src/base/types.ts
  plugins/techdocs/src/reader/transformers/styles/rules/variables.ts
Labels: area:techdocs

#27006 events-backend: skip tests if postgres tests are skipped
  plugins/events-backend/src/migrations.test.ts
  plugins/events-backend/src/service/hub/DatabaseEventBusStore.test.ts
Labels: area:events

#26996 fix(catalog): update search table in transaction
  .changeset/stale-ravens-clap.md
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.ts
Labels: area:catalog

#26965 [Scaffolder]: Test editor toolbar templates menu
  .changeset/eighty-mice-turn.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbarTemplatesMenu.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbarTemplatesMenu.tsx
Labels: area:scaffolder

#26981 declare correct type (number) for publish:gitlab output.projectId
  .changeset/quiet-needles-impress.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Labels: area:scaffolder

#26969 Update docs to be more strict around sign-in resolvers + remove insecure sign-in resolver
  .changeset/cuddly-stingrays-smell.md
  .changeset/flat-seals-type.md
  .changeset/purple-toys-heal.md
  docs/auth/atlassian/provider.md
  docs/auth/aws-alb/provider.md
  docs/auth/bitbucket/provider.md
  docs/auth/cloudflare/provider.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
  docs/auth/google/gcp-iap-auth.md
  docs/auth/google/provider.md
  docs/auth/identity-resolver.md
  docs/auth/microsoft/azure-easyauth.md
  docs/auth/microsoft/provider.md
  docs/auth/oauth2-proxy/provider.md
  docs/auth/oidc.md
  docs/auth/okta/provider.md
  docs/auth/onelogin/provider.md
  docs/auth/vmware-cloud/provider.md
  docs/backend-system/building-backends/08-migrating.md
  docs/overview/threat-model.md
  plugins/auth-backend-module-atlassian-provider/config.d.ts
  plugins/auth-backend-module-aws-alb-provider/config.d.ts
  plugins/auth-backend-module-bitbucket-provider/config.d.ts
  plugins/auth-backend-module-cloudflare-access-provider/config.d.ts
  plugins/auth-backend-module-gcp-iap-provider/config.d.ts
  plugins/auth-backend-module-github-provider/config.d.ts
  plugins/auth-backend-module-gitlab-provider/config.d.ts
  plugins/auth-backend-module-google-provider/config.d.ts
  plugins/auth-backend-module-microsoft-provider/config.d.ts
  plugins/auth-backend-module-oauth2-provider/config.d.ts
  plugins/auth-backend-module-oidc-provider/config.d.ts
  plugins/auth-backend-module-oidc-provider/report.api.md
  plugins/auth-backend-module-okta-provider/config.d.ts
  plugins/auth-backend-module-onelogin-provider/config.d.ts
  plugins/auth-backend-module-vmware-cloud-provider/config.d.ts
  plugins/auth-backend-module-vmware-cloud-provider/report.api.md
  plugins/auth-backend-module-vmware-cloud-provider/src/index.ts
  plugins/auth-backend-module-vmware-cloud-provider/src/module.ts
  plugins/auth-backend-module-vmware-cloud-provider/src/resolvers.test.ts
  plugins/auth-backend-module-vmware-cloud-provider/src/resolvers.ts
  plugins/auth-node/package.json
  plugins/auth-node/report.api.md
  plugins/auth-node/src/oauth/createOAuthProviderFactory.ts
  plugins/auth-node/src/proxy/createProxyAuthProviderFactory.ts
  plugins/auth-node/src/sign-in/commonSignInResolvers.ts
  plugins/auth-node/src/sign-in/createSignInResolverFactory.ts
  yarn.lock
Labels: documentation, auth

#27002 cli: add --successCache option for repo test
  .changeset/small-donkeys-attack.md
  .github/workflows/ci.yml
  .github/workflows/verify_windows.yml
  docs/tooling/cli/02-build-system.md
  packages/cli/cli-report.md
  packages/cli/config/jest.js
  packages/cli/config/jestCacheResultProcessor.cjs
  packages/cli/package.json
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/repo/test.ts
  yarn.lock
Labels: documentation

#27029 Update proxy docs to include fetchApi
  docs/tutorials/using-backstage-proxy-within-plugin.md
Labels: documentation

#27007 fix(scaffolder): change entity picker single value behavior
  .changeset/gorgeous-months-fix.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
Labels: area:scaffolder

#26748 Modify locations and refresh-keys Tables to Support Long URLs
  .changeset/mighty-forks-exercise.md
  plugins/catalog-backend/migrations/20241003170511_alter_target_in_locations.js
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/operations/provider/refreshByRefreshKeys.ts
  plugins/catalog-backend/src/database/util.ts
  plugins/catalog-backend/src/tests/migrations.test.ts
Labels: area:catalog

#26959 [scaffolder-react] Add an overridable className to template stepper
  .changeset/breezy-berries-yawn.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/overridableComponents.ts
Labels: area:scaffolder

#27079 docs/tooling: update backend dev bundling docs
  docs/tooling/cli/02-build-system.md
Labels: documentation

#27081 backend-defaults: pretty-print JSON responses during development
  .changeset/slow-walls-report.md
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
Labels: documentation

#27085 docs/tooling: fix headers on profiling page
  docs/tooling/local-dev/profiling.md
Labels: documentation

#27100 nerf incremental log levels
  .changeset/nasty-geese-repeat.md
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
Labels: area:catalog

#27052 feat(catalog-backend): Add configuration parameters for deferred stitcher
  .changeset/quiet-islands-learn.md
  docs/features/software-catalog/configuration.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/stitching/types.ts
Labels: documentation, area:catalog

#27067 feat: added the ability to disable catalog processing
  .changeset/silly-ligers-tan.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
Labels: area:catalog

#26806 rework the additional templates documentation to include additionalTe…
  docs/features/software-templates/writing-templates.md
Labels: documentation

#25823 Fix error handling using auth redirect flow
  .changeset/violet-beds-promise.md
  packages/core-components/src/layout/SignInPage/SignInPage.tsx
  packages/core-components/src/layout/SignInPage/providers.tsx
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.ts
Labels: auth

#26901 Fixed grammar mistakes in openapi-docs
  docs/openapi/01-getting-started.md
Labels: documentation

#27127 [DOCS] Add small clarification to the Permissions Tutorial
  docs/permissions/plugin-authors/01-setup.md
Labels: documentation

#26942 Update contribute docs
  docs/contribute/index.md
Labels: documentation

#26947 fix(scaffolder): only show task routes with permission
  .changeset/quiet-lions-lie.md
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTaskPage.test.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
Labels: area:scaffolder

#27112 docs(analytics): add Generic HTTP as a community-supported analytics …
  docs/plugins/analytics.md
Labels: documentation

#27139 docs/releases: add 1.32
  docs/releases/v1.32.0.md
Labels: documentation

#26938 fix(techdocs): avoid rerender when clicking on anchor links in same page
  .changeset/mighty-spoons-suffer.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: area:techdocs

#27159 fix(1.32.0): scaffolder total query
  .changeset/forty-spoons-burn.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
Labels: area:scaffolder

#27130 try to improve log tests stability
  packages/backend-dynamic-feature-service/src/scanner/plugin-scanner-watcher.test.ts
Labels: merge-after-release

#27170 scaffolder: Fix forwarding of non-enumerable property
  .changeset/mean-years-deliver.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#27171 Patch release of #27159, #27170
  package.json
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#27181 auth-backend-module-aws-alb-provider: no longer lowercase username and email
  .changeset/healthy-lions-judge.md
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.ts
Labels: auth

#26843 feat(home): improve StarredEntities UI
  .changeset/quick-cougars-fry.md
  plugins/home/src/components/StarredEntityListItem/StarredEntityListItem.tsx
  plugins/home/src/homePageComponents/StarredEntities/Content.tsx
Labels: homepage, area:home, area:search

#27167 chunk up refs in `getEntitiesByRefs`
  .changeset/young-penguins-act.md
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/utils.test.ts
  packages/catalog-client/src/utils.ts
Labels: area:catalog

#26944 fix(techdocs): avoid rerender current page when navigating
  .changeset/slimy-jobs-scream.md
  plugins/techdocs-react/src/component.test.tsx
  plugins/techdocs-react/src/component.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: area:techdocs

#27231 Revert #26866 to fix `EntityPicker` in scaffolder
  .changeset/silent-wasps-whisper.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: area:scaffolder

#27230 Fix issue with state tracking in the scaffolder
  .changeset/green-tools-arrive.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
Labels: area:scaffolder

#27227 events-node: more resilient and configurable events service
  .changeset/cyan-trees-bow.md
  plugins/events-node/config.d.ts
  plugins/events-node/package.json
  plugins/events-node/report.api.md
  plugins/events-node/src/api/DefaultEventsService.test.ts
  plugins/events-node/src/api/DefaultEventsService.ts
  plugins/events-node/src/api/index.ts
  yarn.lock
Labels: area:events

#26989 Add DomPurify sanitizer custom elements configuration
  .changeset/red-fishes-press.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs/config.d.ts
  plugins/techdocs/src/reader/transformers/html/transformer.sanitizer.test.tsx
  plugins/techdocs/src/reader/transformers/html/transformer.ts
Labels: documentation, area:techdocs

#27137 update analytics.md : Add link for generic-http-analytics-tool
  docs/plugins/analytics.md
Labels: documentation

#27236 catalog-react: stop using jest mock in story
  plugins/catalog-react/src/components/EntityPeekAheadPopover/EntityPeekAheadPopover.stories.tsx
Labels: area:catalog

#27252 catalog-client: fix case sensitive filters in mock api
  .changeset/two-donuts-float.md
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.test.ts
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.ts
Labels: area:catalog

#26913 Support undefined as template filter/global function result
  .changeset/ninety-shirts-float.md
  plugins/scaffolder-backend/src/lib/templating/SecureTemplater.test.ts
  plugins/scaffolder-backend/src/lib/templating/SecureTemplater.ts
Labels: area:scaffolder

#27210 Fix typo in auth/index.md
  docs/auth/index.md
Labels: documentation

#27264 [DOCS] Adds some additional notes/context to the coreServices
  docs/backend-system/core-services/identity.md
  docs/backend-system/core-services/user-info.md
Labels: documentation

#26768 Static editUrl for 26563 when clicking 'edit this page'
  microsite/docusaurus.config.ts
Labels: microsite

#27124 Update to Storybook 8
  docs/assets/dls/running-storybook.png
  docs/assets/dls/storybook-page.png
  docs/dls/contributing-to-storybook.md
  package.json
  packages/core-components/src/components/Dialog/Dialog.stories.tsx
  plugins/org/src/components/Cards/Group/GroupProfile/GroupProfileCard.stories.tsx__
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.stories.tsx__
  storybook/.gitignore
  storybook/.storybook/main.js
  storybook/.storybook/main.ts
  storybook/.storybook/preview.js
  storybook/.storybook/preview.tsx
  storybook/.storybook/webpack-plugin-fail-build-on-warning.js
  storybook/package.json
  storybook/yarn.lock
Labels: documentation, storybook

#27277 fix search collator filter
  .changeset/forty-pets-wave.md
  plugins/search-backend-module-catalog/src/collators/config.ts
Labels: search, area:search

#27070 rewrite some more tests to use actual fake catalog instead of mock
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.test.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.test.ts
  plugins/notifications-backend/src/service/getUsersForEntityRef.test.ts
  plugins/notifications-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.test.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.test.ts
Labels: area:catalog, auth, area:techdocs, area:kubernetes, area:scaffolder

#27255 fix: `useEventBus` by propagating config to `DefaultEventsService`
  .changeset/itchy-elephants-trade.md
  packages/backend-legacy/src/index.ts
  plugins/events-backend/src/service/DefaultEventBroker.ts
  plugins/events-node/README.md
  plugins/events-node/src/service.ts
Labels: area:events

#27287 remove canvas dev dep
  .changeset/rotten-lions-cover.md
  plugins/techdocs/package.json
  yarn.lock
Labels: area:techdocs

#27292 Bring back the storysource addon
  storybook/.storybook/main.ts
  storybook/package.json
  storybook/yarn.lock
Labels: storybook

#27291 RepoUrlPickerRepoName did not keep the input value
  .changeset/rare-trains-scream.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
Labels: area:scaffolder

#25952 Fix support for cookies bigger than 4KB in size in plugin-auth-node
  .changeset/rare-otters-judge.md
  plugins/auth-node/src/oauth/OAuthCookieManager.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
Labels: auth

#27300 Update README for incremental ingestion
  plugins/catalog-backend-module-incremental-ingestion/README.md
Labels: area:catalog

#26923 fix: ldap allow case sensitivity settings to force dn and memberOf to…
  .changeset/early-cobras-compare.md
  docs/integrations/ldap/org.md
  plugins/catalog-backend-module-ldap/report.api.md
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
  plugins/catalog-backend-module-ldap/src/ldap/vendors.ts
Labels: documentation, area:catalog

#27299 cli: new solution for local workspace linking
  .changeset/witty-socks-repeat.md
  docs/tooling/local-dev/linking-local-packages.md
  packages/cli/cli-report.md
  packages/cli/config/nodeTransform.cjs
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/commands/start/startBackend.ts
  packages/cli/src/commands/start/startFrontend.ts
  packages/cli/src/lib/bundler/LinkedPackageResolvePlugin.test.ts
  packages/cli/src/lib/bundler/LinkedPackageResolvePlugin.ts
  packages/cli/src/lib/bundler/config.ts
  packages/cli/src/lib/bundler/linkWorkspaces.ts
  packages/cli/src/lib/bundler/types.ts
  packages/cli/src/lib/runner/runBackend.ts
Labels: documentation

#27234 plugins/catalog-node: add credentials support for catalog service + promote
  .changeset/rotten-needles-relax.md
  .changeset/selfish-ads-count.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  packages/backend-test-utils/src/next/services/mockServices.ts
  plugins/catalog-node/package.json
  plugins/catalog-node/report-alpha.api.md
  plugins/catalog-node/report.api.md
  plugins/catalog-node/src/alpha.ts
  plugins/catalog-node/src/catalogService.test.ts
  plugins/catalog-node/src/catalogService.ts
  plugins/catalog-node/src/index.ts
  yarn.lock
Labels: documentation, area:catalog

#27273 scaffolder: Rework state handling
  .changeset/heavy-mice-raise.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.test.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/hooks/useTransformSchemaToProps.ts
Labels: area:scaffolder

#27286 Bump to Node.js 20 & 22
  .changeset/flat-feet-do.md
  .changeset/shy-clouds-brake.md
  .changeset/unlucky-countries-shop.md
  .github/workflows/api-breaking-changes.yml
  .github/workflows/ci-noop.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_docker-image.yml
  .github/workflows/deploy_microsite.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/sync_release-manifest.yml
  .github/workflows/sync_snyk-github-issues.yml
  .github/workflows/verify_accessibility.yml
  .github/workflows/verify_e2e-linux-noop.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-techdocs.yml
  .github/workflows/verify_e2e-windows-noop.yml
  .github/workflows/verify_e2e-windows.yml
  .github/workflows/verify_microsite.yml
  .github/workflows/verify_microsite_accessibility.yml
  .github/workflows/verify_storybook.yml
  .github/workflows/verify_windows.yml
  package.json
  packages/cli-common/package.json
  packages/cli/package.json
  packages/codemods/package.json
  packages/create-app/package.json
  packages/create-app/templates/default-app/package.json.hbs
  packages/e2e-test/package.json
  packages/e2e-test/src/commands/run.ts
  packages/repo-tools/package.json
  packages/techdocs-cli/package.json
  plugins/kubernetes-cluster/package.json
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend/package.json
  yarn.lock
Labels: area:techdocs, area:kubernetes, area:scaffolder

#27303 use `HumanDuration` in public incremental api
  .changeset/empty-lobsters-wait.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
  yarn.lock
Labels: area:catalog

#27317 Patch release of #27291, #27273, #27255, #27308
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/repo/test.ts
  plugins/events-backend/CHANGELOG.md
  plugins/events-backend/package.json
  plugins/events-backend/src/service/DefaultEventBroker.ts
  plugins/events-node/CHANGELOG.md
  plugins/events-node/README.md
  plugins/events-node/package.json
  plugins/events-node/src/service.ts
  plugins/scaffolder-react/CHANGELOG.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.test.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/hooks/useTransformSchemaToProps.ts
  plugins/scaffolder/CHANGELOG.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
Labels: area:scaffolder, area:events

#27320 Fixed custom element sanitizer config to be optional in types
  .changeset/hungry-owls-sell.md
  plugins/techdocs/config.d.ts
Labels: area:techdocs

#27044 fix(catalog-react) : fixing text overflow
  .changeset/stupid-insects-allow.md
  plugins/catalog-react/src/components/EntityDisplayName/EntityDisplayName.tsx
Labels: area:catalog

#27332 docs/backend-system: add backend common deprecation section to migration docs
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation

#27335 Revert "fix(catalog-react) : fixing text overflow"
  .changeset/stupid-insects-allow.md
  plugins/catalog-react/src/components/EntityDisplayName/EntityDisplayName.tsx
Labels: area:catalog

#27331 repo-tools: add generate-patch command
  .changeset/tough-onions-dance.md
  docs/tooling/local-dev/linking-local-packages.md
  packages/repo-tools/cli-report.md
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/generate-patch/generate-patch.ts
  packages/repo-tools/src/commands/index.ts
  yarn.lock
Labels: documentation

#27345 Update Google Auth plugin to add Frontend Visibility header
  .changeset/few-hornets-rush.md
  plugins/auth-backend-module-google-provider/config.d.ts
Labels: auth

#27358 docs:fixed react error in getting-started/homepage
  docs/getting-started/homepage.md
Labels: documentation

#27361 two more catalog faq entries
  docs/features/software-catalog/faq.md
Labels: documentation

#27344 Removal of RSC-Labs plugins from public preview
  microsite/data/plugins/changelog.yaml
  microsite/data/plugins/highlights.yaml
Labels: microsite

#27185 Optimization and Clarity Enhancement for Intro to Plugins Documentation (cont.)
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/plugins/guides.md
  docs/plugins/index.md
Labels: documentation

#27376 cli: optimize repo test to filter out ununsed projects
  .changeset/metal-files-itch.md
  docs/tooling/cli/03-commands.md
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/test.ts
Labels: documentation

#27389 [Docs] Update next release steps
  docs/publishing.md
Labels: documentation

#27401 docs: fix info how to make translations
  docs/plugins/internationalization.md
Labels: documentation

#27407 events-node: fix event bus poll duplication
  .changeset/yellow-horses-pretend.md
  plugins/events-node/src/api/DefaultEventsService.test.ts
  plugins/events-node/src/api/DefaultEventsService.ts
Labels: area:events

#27408 Patch release of #27407
  package.json
  plugins/events-node/CHANGELOG.md
  plugins/events-node/package.json
  plugins/events-node/src/api/DefaultEventsService.test.ts
  plugins/events-node/src/api/DefaultEventsService.ts
Labels: area:events
