Repository backstage/backstage, pull requests merged in 2024-01, with the labels that each got.

#22068 Fixed broken Node releases link
  docs/overview/versioning-policy.md
Labels: documentation

#21859 Update installation.md
  docs/features/kubernetes/installation.md
Labels: documentation

#21794 feat(openapi): add an initial tutorial
  docs/openapi/01-getting-started.md
  docs/openapi/generate-client.md
  docs/openapi/test-case-validation.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#21807 Docs: Continued work on extension documentation for DI
  docs/frontend-system/architecture/03-extensions.md
Labels: documentation

#22039 [Linguist] Added alpha support for the New Frontend System
  .changeset/tricky-pans-explain.md
  packages/app-next/app-config.yaml
  packages/app-next/src/App.tsx
  plugins/linguist/api-report-alpha.md
  plugins/linguist/package.json
  plugins/linguist/src/alpha.ts
  plugins/linguist/src/alpha/index.ts
  plugins/linguist/src/alpha/plugin.tsx
  yarn.lock
Labels: stale

#22067 fix(docs): replace AsyncAPI spec urls with valid ones
  docs/features/software-catalog/descriptor-format.md
  plugins/api-docs/README.md
Labels: documentation

#22048 Added section on migrating auth plugin and related modules
  docs/backend-system/building-backends/08-migrating.md
Labels: documentation

#22161 Updated the permissions framework readme wording
  .changeset/tender-roses-teach.md
  plugins/permission-backend/README.md
  plugins/permission-common/README.md
  plugins/permission-node/README.md
  plugins/permission-react/README.md
Labels: area:permission

#22105 Scaffolder: Fix for a step with no properties
  .changeset/giant-fans-type.md
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.test.tsx
  plugins/scaffolder-react/src/next/hooks/useTemplateSchema.ts
Labels: area:scaffolder

#21937 microsite a11y fix
  microsite/docusaurus.config.js
  microsite/package.json
  microsite/src/pages/home/_home.tsx
  microsite/src/theme/customTheme.scss
Labels: microsite

#21886 Update custom permission rule naming and files
  docs/permissions/custom-rules.md
Labels: documentation

#22181 [Search] update ids of config options for search DI
  docs/features/search/declarative-integration.md
Labels: documentation

#22127 Update authorizing-parameters-steps-and-actions.md
  docs/features/software-templates/authorizing-parameters-steps-and-actions.md
Labels: documentation

#21929 scaffolder-backend-module-gitlab: add gitlab:issues:create custom action
  .changeset/flat-terms-provide.md
  plugins/scaffolder-backend-module-gitlab/README.md
  plugins/scaffolder-backend-module-gitlab/api-report.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabIssueAction.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabIssueAction.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/createGitlabIssueAction.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/index.ts
  plugins/scaffolder-backend-module-gitlab/src/commonGitlabConfig.ts
  plugins/scaffolder-backend-module-gitlab/src/util.test.ts
  plugins/scaffolder-backend-module-gitlab/src/util.ts
  yarn.lock
Labels: area:scaffolder

#22182 avoid build warning
  .changeset/smooth-pumas-fold.md
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerHost.tsx
Labels: area:scaffolder

#22185 docs/backend-system: add diagram for split backend deployments
  docs/assets/backend-system/scaled-deployments.drawio.svg
  docs/backend-system/building-backends/01-index.md
Labels: documentation

#21959 Feat/21365 scaffolder custom action bitbucket run pipeline
  .changeset/green-dolphins-cover.md
  plugins/scaffolder-backend-module-bitbucket/api-report.md
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucketCloud.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucketCloudPipelinesRun.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucketCloudPipelinesRun.examples.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucketCloudPipelinesRun.test.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucketCloudPipelinesRun.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/index.ts
  plugins/scaffolder-backend-module-bitbucket/src/actions/inputProperties.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
Labels: area:scaffolder

#22163 [Docs] Add throubleshooting section in the release guide
  docs/publishing.md
Labels: documentation

#22203 docs/publishing.md: fix format
  docs/publishing.md
Labels: documentation

#22235 Updated Template.v1beta3.schema.json, added a missing "presentation" field
  .changeset/fresh-mirrors-shake.md
  plugins/scaffolder-common/src/Template.v1beta3.schema.json
Labels: area:scaffolder

#22231 document catalog cluster locator method
  docs/features/kubernetes/configuration.md
Labels: documentation, area:kubernetes

#22228 Feat/unique team reviewers
  .changeset/fair-spies-rescue.md
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
Labels: area:scaffolder

#22141 Change script in **UrlReaderProcessor.ts** adding some code to handle URL Reader from GCS with wildcard /*
  .changeset/thirty-cats-help.md
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.ts
Labels: area:catalog

#22243 feat: show first scaffolder output text by default
  .changeset/sixty-plums-switch.md
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/TextOutputs.tsx
Labels: area:scaffolder

#22252 Add release notes for v1.22.0
  docs/releases/v1.22.0.md
  microsite/docusaurus.config.js
  microsite/sidebars.json
Labels: documentation, microsite

#22259 Update publishing.md
  docs/publishing.md
Labels: documentation

#21979 Added new @backstage/no-top-level-material-ui-4-imports rule
  .changeset/warm-maps-scream.md
  .changeset/young-rules-repeat.md
  docs/tutorials/migrate-to-mui5.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/docs/rules/no-top-level-material-ui-4-imports.md
  packages/eslint-plugin/index.js
  packages/eslint-plugin/rules/no-top-level-material-ui-4-imports.js
  packages/eslint-plugin/src/no-top-level-material-ui-4-imports.test.ts
  plugins/azure-devops/.eslintrc.js
  plugins/azure-devops/api-report.md
  plugins/azure-devops/src/components/AzureGitTagsIcon/AzureGitTagsIcon.tsx
  plugins/azure-devops/src/components/AzurePipelinesIcon/AzurePipelinesIcon.tsx
  plugins/azure-devops/src/components/AzurePullRequestsIcon/AzurePullRequestsIcon.tsx
  plugins/azure-devops/src/components/BuildTable/BuildTable.tsx
  plugins/azure-devops/src/components/GitTagTable/GitTagTable.tsx
  plugins/azure-devops/src/components/PullRequestStatusButtonGroup/PullRequestStatusButtonGroup.tsx
  plugins/azure-devops/src/components/PullRequestTable/PullRequestTable.tsx
  plugins/azure-devops/src/components/PullRequestsPage/lib/PullRequestCard/PullRequestCard.tsx
  plugins/azure-devops/src/components/PullRequestsPage/lib/PullRequestGrid/PullRequestGrid.tsx
  plugins/azure-devops/src/components/PullRequestsPage/lib/PullRequestGridColumn/PullRequestGridColumn.tsx
  plugins/azure-devops/src/components/ReadmeCard/ReadmeCard.tsx
  plugins/devtools/.eslintrc.js
  plugins/devtools/api-report.md
  plugins/devtools/src/components/Content/ConfigContent/ConfigContent.tsx
  plugins/devtools/src/components/Content/ExternalDependenciesContent/ExternalDependenciesContent.tsx
  plugins/devtools/src/components/Content/InfoContent/BackstageLogoIcon.tsx
  plugins/devtools/src/components/Content/InfoContent/InfoContent.tsx
  plugins/devtools/src/components/DevToolsLayout/DevToolsLayout.tsx
  plugins/linguist/.eslintrc.js
  plugins/linguist/src/components/LinguistCard/LinguistCard.tsx
Labels: documentation

#22196 Adds a friendly reminder to the plugin page around using caution on Open Source plugins.
  microsite/src/pages/plugins/index.tsx
Labels: microsite

#22061 Update README-zh_Hans.md
  README-zh_Hans.md
Labels: stale

#22173 Plugins page dropdown filter alignment fix
  microsite/src/pages/plugins/plugins.module.scss
Labels: microsite

#22268 Added documentation for debugging with WebStorm
  docs/local-dev/debugging.md
Labels: documentation

#21903 feat(catalog-backend-module-gitlab): add userTransformer and groupTransformer
  .changeset/neat-hotels-wink.md
  plugins/catalog-backend-module-gitlab/api-report.md
  plugins/catalog-backend-module-gitlab/src/index.ts
  plugins/catalog-backend-module-gitlab/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-gitlab/src/lib/index.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#22175 Fixing frontend system docs
  docs/frontend-system/index.md
Labels: documentation

#21867 [DI] Start drafting new route system docs
  docs/frontend-system/architecture/07-routes.md
Labels: documentation, frontend-system

#22286 Update adr011-plugin-package-structure.md
  docs/architecture-decisions/adr011-plugin-package-structure.md
Labels: documentation

#21910 [DI] Draft extension overrides docs
  .github/vale/Vocab/Backstage/accept.txt
  docs/frontend-system/architecture/05-extension-overrides.md
Labels: documentation

#22164 docs/frontend-system: add plugin intro and extension type docs
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/02-testing.md
  docs/frontend-system/building-plugins/03-extension-types.md
  microsite/sidebars.json
Labels: documentation, microsite

#22104 fix invocation of kubernetesAuthProvidersApi
  .changeset/six-melons-end.md
  plugins/kubernetes-react/src/api/KubernetesBackendClient.test.ts
  plugins/kubernetes-react/src/api/KubernetesBackendClient.ts
Labels: area:kubernetes, stale

#21881 Update kubernetes docs for cluster annotation
  docs/features/kubernetes/configuration.md
Labels: documentation, area:kubernetes

#22297 Complete migration to React 18
  .changeset/sour-rivers-fry.md
  docs/tutorials/react18-migration.md
  microsite/sidebars.json
  packages/app/src/App.test.tsx
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/package.json.hbs
  packages/create-app/templates/default-app/packages/app/src/App.test.tsx
  packages/create-app/templates/default-app/packages/app/src/index.tsx
  packages/e2e-test/src/index.ts
Labels: documentation, microsite

#22233 Custom auth metadata in config
  .changeset/ten-numbers-happen.md
  plugins/kubernetes-backend/config.d.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
Labels: area:kubernetes

#22305 [DOCS]: Fix building plugins typo
  docs/frontend-system/building-plugins/01-index.md
Labels: documentation

#22306 some minor doc tweaks
  docs/frontend-system/architecture/05-extension-overrides.md
  docs/frontend-system/architecture/07-routes.md
  docs/frontend-system/building-plugins/01-index.md
Labels: documentation

#22177 Feature: Clusters endpoint is able to return Custom auth metadata info
  .changeset/kind-clouds-fly.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/auth/AksStrategy.ts
  plugins/kubernetes-backend/src/auth/AnonymousStrategy.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.ts
  plugins/kubernetes-backend/src/auth/AzureIdentityStrategy.ts
  plugins/kubernetes-backend/src/auth/DispatchStrategy.test.ts
  plugins/kubernetes-backend/src/auth/DispatchStrategy.ts
  plugins/kubernetes-backend/src/auth/GoogleServiceAccountStrategy.ts
  plugins/kubernetes-backend/src/auth/GoogleStrategy.ts
  plugins/kubernetes-backend/src/auth/OidcStrategy.ts
  plugins/kubernetes-backend/src/auth/ServiceAccountStrategy.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-node/api-report.md
  plugins/kubernetes-node/src/types/types.ts
Labels: area:kubernetes

#22319 scaffolder: initial support for new frontend system
  .changeset/grumpy-poets-study.md
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/alpha.ts
  plugins/scaffolder/src/alpha.tsx
  yarn.lock
Labels: area:scaffolder

#22232 Kubernetes cluster type 'gke' not respecting backend auth
  .changeset/many-pugs-change.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/config.d.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts
Labels: documentation, area:kubernetes

#22322 fix the adopter form clipping
  microsite/src/pages/home/hubSpotNewAdoptersForm.module.scss
Labels: microsite

#22014 ux: use consistent icons for sytem and template
  .changeset/loud-walls-compare.md
  plugins/catalog/src/apis/EntityPresentationApi/defaults.tsx
Labels: area:catalog

#22281 🧹 Remove the old legacy exports from Scaffolder `/alpha`
  .changeset/fast-jeans-walk.md
  packages/app/src/App.tsx
  plugins/scaffolder-react/api-report-alpha.md
  plugins/scaffolder-react/src/alpha.ts
  plugins/scaffolder-react/src/legacy/extensions/index.tsx
  plugins/scaffolder-react/src/legacy/extensions/types.ts
  plugins/scaffolder-react/src/legacy/index.ts
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/dev/index.tsx
  plugins/scaffolder/src/alpha.tsx
  plugins/scaffolder/src/components/index.ts
  plugins/scaffolder/src/components/types.ts
  plugins/scaffolder/src/deprecated.ts
  plugins/scaffolder/src/legacy/MultistepJsonForm/FieldOverrides/DescriptionField.tsx
  plugins/scaffolder/src/legacy/MultistepJsonForm/FieldOverrides/index.ts
  plugins/scaffolder/src/legacy/MultistepJsonForm/MultistepJsonForm.test.tsx
  plugins/scaffolder/src/legacy/MultistepJsonForm/MultistepJsonForm.tsx
  plugins/scaffolder/src/legacy/MultistepJsonForm/ReviewStep.tsx
  plugins/scaffolder/src/legacy/MultistepJsonForm/index.ts
  plugins/scaffolder/src/legacy/MultistepJsonForm/schema.test.ts
  plugins/scaffolder/src/legacy/MultistepJsonForm/schema.ts
  plugins/scaffolder/src/legacy/Router.tsx
  plugins/scaffolder/src/legacy/ScaffolderPage/ScaffolderPage.tsx
  plugins/scaffolder/src/legacy/ScaffolderPage/ScaffolderPageContextMenu.test.tsx
  plugins/scaffolder/src/legacy/ScaffolderPage/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/legacy/ScaffolderPage/index.ts
  plugins/scaffolder/src/legacy/TaskPage/IconLink.test.tsx
  plugins/scaffolder/src/legacy/TaskPage/TaskErrors.tsx
  plugins/scaffolder/src/legacy/TaskPage/TaskPage.tsx
  plugins/scaffolder/src/legacy/TaskPage/TaskPageLinks.test.tsx
  plugins/scaffolder/src/legacy/TaskPage/index.ts
  plugins/scaffolder/src/legacy/TemplateCard/TemplateCard.tsx
  plugins/scaffolder/src/legacy/TemplateCard/index.ts
  plugins/scaffolder/src/legacy/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/legacy/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/legacy/TemplateEditorPage/TemplateEditorForm.tsx
  plugins/scaffolder/src/legacy/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/legacy/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/legacy/TemplateEditorPage/index.ts
  plugins/scaffolder/src/legacy/TemplateList/TemplateList.test.tsx
  plugins/scaffolder/src/legacy/TemplateList/TemplateList.tsx
  plugins/scaffolder/src/legacy/TemplateList/index.ts
  plugins/scaffolder/src/legacy/TemplatePage/TemplatePage.test.tsx
  plugins/scaffolder/src/legacy/TemplatePage/TemplatePage.tsx
  plugins/scaffolder/src/legacy/TemplatePage/createValidator.test.ts
  plugins/scaffolder/src/legacy/TemplatePage/createValidator.ts
  plugins/scaffolder/src/legacy/TemplatePage/index.ts
  plugins/scaffolder/src/legacy/index.ts
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/DryRunResultsView.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/IconLink.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/TaskPageLinks.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/TaskStatusStepper.tsx
  plugins/scaffolder/src/plugin.tsx
Labels: area:scaffolder

#22373 core-compat-api: add convertLegacyRouteRefs + use in converLegacyApp
  .changeset/hot-pillows-poke.md
  .changeset/olive-singers-accept.md
  .changeset/twenty-taxis-mate.md
  packages/app-next/app-config.yaml
  packages/core-compat-api/api-report.md
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/core-compat-api/src/index.ts
  plugins/catalog/src/alpha/plugin.tsx
  plugins/graphiql/src/alpha.tsx
  plugins/scaffolder/src/alpha.tsx
  plugins/search/src/alpha.tsx
  plugins/tech-radar/src/alpha.tsx
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/src/alpha.tsx
Labels: area:catalog, area:techdocs, search, area:scaffolder, area:discoverability

#22065 Add a fix for overflowing labels in owner picker in catalog + hover feature
  .changeset/empty-ligers-hang.md
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
Labels: area:catalog

#22302 chore: add end of life plugin
  microsite/data/plugins/end-of-life.yaml
Labels: microsite

#22403 simplify route bindings in config
  .changeset/silent-hotels-knock.md
  docs/frontend-system/architecture/07-routes.md
  packages/app-next/app-config.yaml
  packages/frontend-app-api/src/routing/collectRouteIds.test.ts
  packages/frontend-app-api/src/routing/collectRouteIds.ts
Labels: documentation

#22225 Adding a new plugin entry to the microsite for "Backchat"
  microsite/data/plugins/backchat.yaml
  microsite/static/img/backchat-logo.png
Labels: microsite, stale

#21900 fix: change kind:resource icon
  .changeset/dry-lizards-taste.md
  packages/app-defaults/src/defaults/icons.tsx
  plugins/catalog/src/apis/EntityPresentationApi/defaults.tsx
Labels: area:catalog

#22059 chore: add github codespces plugin to microsite
  microsite/data/plugins/github-codespaces.yaml
Labels: microsite

#21793 Update aws-app-development.yaml
  microsite/data/plugins/aws-app-development.yaml
Labels: microsite

#21872 Fix position of the ReportIssue component
  .changeset/tame-rockets-sin.md
  plugins/techdocs-module-addons-contrib/src/ReportIssue/ReportIssue.tsx
Labels: area:techdocs, stale

#22405 Removed alpha symbol from Task List header
  .changeset/lovely-starfishes-remain.md
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
Labels: area:scaffolder

#22117 Added troubleshooting information to GitHub Apps docs
  docs/integrations/github/github-apps.md
Labels: documentation

#21274 Added the possibility to use custom scopes for Microsoft Auth Plugin
  .changeset/rotten-lemons-cry.md
  docs/auth/microsoft/provider.md
  plugins/auth-backend-module-microsoft-provider/config.d.ts
  plugins/auth-backend-module-microsoft-provider/package.json
  plugins/auth-backend-module-microsoft-provider/src/authenticator.test.ts
  plugins/auth-backend-module-microsoft-provider/src/authenticator.ts
  plugins/auth-backend-module-microsoft-provider/src/module.test.ts
  yarn.lock
Labels: documentation

#22015 Feature: Add custom Kinds to default columns for CatalogTable
  .changeset/seven-dots-serve.md
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
  plugins/catalog/src/components/CatalogTable/defaultCatalogTableColumnsFunc.tsx
Labels: area:catalog

#22168 Fix typo in VisitsStorageApi.ts
  .changeset/ten-planets-guess.md
  plugins/home/src/api/VisitsStorageApi.ts
Labels: stale, homepage, area:discoverability

#22165 new faq draft
  docs/faq/index.md
  docs/faq/product.md
  docs/faq/technical.md
  docs/overview/support.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#22352 feat(openapi-tooling): Update template to use `info.title` as plugin ID
  .changeset/afraid-numbers-invite.md
  .changeset/long-suns-bow.md
  .changeset/nine-bulldogs-camp.md
  docs/openapi/generate-client.md
  packages/repo-tools/templates/typescript-backstage/pluginId.mustache
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/search-backend/src/schema/openapi.generated.ts
  plugins/search-backend/src/schema/openapi.yaml
  plugins/todo-backend/src/schema/openapi.generated.ts
  plugins/todo-backend/src/schema/openapi.yaml
Labels: documentation, area:catalog, search, area:discoverability

#22208 auth-backend: use externalized microsoft auth implementation again
  .changeset/dull-fireants-repeat.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.test.ts
  plugins/auth-backend/src/providers/microsoft/__testUtils__/fake.ts
  plugins/auth-backend/src/providers/microsoft/provider.test.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  yarn.lock
Labels: auth

#22413 auth-backend: doc fix
  plugins/auth-backend/src/providers/microsoft/provider.ts
Labels: auth

#22425 Revert "Update docusaurus monorepo to v0.0.0-5809"
  microsite/package.json
  microsite/yarn.lock
Labels: microsite

#22399 authMetadata field for AWS cluster ID
  .changeset/dull-dolphins-explain.md
  .changeset/seven-plums-return.md
  docs/features/kubernetes/authentication.md
  plugins/catalog-backend-module-aws/src/lib/defaultTransformers.ts
  plugins/catalog-backend-module-aws/src/processors/AwsEKSClusterProcessor.test.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.test.ts
  plugins/kubernetes-backend/src/auth/AwsIamStrategy.ts
  plugins/kubernetes-common/api-report.md
  plugins/kubernetes-common/src/catalog-entity-constants.ts
Labels: documentation, area:catalog

#22447 Update plugin-development.md
  docs/plugins/plugin-development.md
Labels: documentation

#21895 Enhance bitbucket pull request action to add new content
  .changeset/nine-olives-swim.md
  .changeset/unlucky-wasps-tan.md
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucketServerPullRequest.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/gitHelpers.ts
  plugins/scaffolder-node/src/actions/index.ts
  yarn.lock
Labels: area:scaffolder

#22376 feat: allow defining the default text output in template
  .changeset/forty-cars-scream.md
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.tsx
Labels: area:scaffolder

#21967 feat: change default icon for unknown entities
  .changeset/cold-cooks-care.md
  plugins/catalog-graph/src/components/EntityRelationsGraph/DefaultRenderNode.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityKindIcon.tsx
  plugins/catalog-import/src/components/EntityListComponent/EntityListComponent.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/AncestryPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/ColocatedPage.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/EntityKindIcon.tsx
  plugins/catalog-react/src/components/InspectEntityDialog/components/OverviewPage.tsx
  plugins/catalog/src/apis/EntityPresentationApi/DefaultEntityPresentationApi.ts
  plugins/catalog/src/apis/EntityPresentationApi/defaults.tsx
  plugins/entity-validation/src/components/EntityValidationOutput/EntityResult.tsx
Labels: area:catalog

#22236 Recoverable tasks [version 1]
  .changeset/serious-carpets-learn.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/dbUtil.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/dbUtil.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/helper.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/index.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/taskRecoveryHelper.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/taskRecoveryHelper.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-common/api-report.md
  plugins/scaffolder-common/src/TaskSpec.ts
  plugins/scaffolder-common/src/Template.v1beta3.schema.json
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
  plugins/scaffolder-common/src/index.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/tasks/types.ts
  plugins/scaffolder-react/api-report.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder-react/src/hooks/useEventStream.ts
  plugins/scaffolder/src/api.ts
Labels: area:scaffolder

#22461 Updated contributor docs
  docs/getting-started/contributors.md
Labels: documentation

#22462 Updated copyright to 2024
  microsite/docusaurus.config.js
Labels: microsite

#22470 Bump @trendyol-js/openstack-swift-sdk package for newer axios version
  .changeset/shiny-poets-tease.md
  plugins/techdocs-node/package.json
  yarn.lock
Labels: area:techdocs

#22457 docs(overview/threat-model): rewords
  docs/overview/threat-model.md
Labels: documentation

#22503 Patch release of #22502
  package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.ts
Labels: area:catalog

#22502 chore: rollback issue with wildcard paths
  .changeset/olive-experts-fold.md
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/modules/core/UrlReaderProcessor.ts
Labels: area:catalog

#22459 Require --no-node-snapshot in node 20+
  .changeset/unlucky-pens-search.md
  .github/workflows/ci.yml
  .github/workflows/verify_e2e-linux.yml
  .github/workflows/verify_e2e-windows.yml
  plugins/scaffolder-backend/src/service/helpers.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#22223 Fix :: Prevent Entity Providers from eliminating Users and Groups if synchronisation fails
  .changeset/thirty-dolls-admire.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
Labels: area:catalog

#22491 Microsite: Remove outdated initiatives
  microsite/docusaurus.config.js
  microsite/src/pages/community/index.tsx
  microsite/src/pages/nominate/index.tsx
  microsite/src/pages/nominate/nominate.module.scss
Labels: microsite

#22538 Update react18-migration.md
  docs/tutorials/react18-migration.md
Labels: documentation

#22523 fix(catalog-backend-module-github): decreases number of teams fetched in graphql at a time
  .changeset/nice-carrots-dream.md
  plugins/catalog-backend-module-github/src/lib/github.ts
Labels: area:catalog

#22488 Add nunjucks configuration possibility
  .changeset/young-ladybugs-decide.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/lib/templating/SecureTemplater.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
Labels: area:scaffolder

#22520 add forcefork input to github pull request action
  .changeset/calm-items-double.md
  plugins/scaffolder-backend-module-github/api-report.md
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend/api-report.md
Labels: area:scaffolder

#22071 fix(techdocs-cli): mkdocs parameter casing
  .changeset/selfish-mails-scream.md
  packages/techdocs-cli/src/commands/serve/serve.ts
Labels: area:techdocs

#22545 chore(docs): Improve API reference wording
  .changeset/hot-paws-tap.md
  packages/catalog-model/src/kinds/relations.ts
  packages/test-utils/src/testUtils/TestApiProvider.tsx
  plugins/explore/src/api/ExploreApi.ts
Labels: area:catalog

#22543 Address minor nits in new frontend system docs
  docs/frontend-system/architecture/03-extensions.md
  docs/frontend-system/architecture/06-utility-apis.md
  docs/frontend-system/architecture/07-routes.md
  docs/frontend-system/building-plugins/02-testing.md
Labels: documentation

#22494 feat(scaffolder): Use more distinguishable icons for link and text output
  .changeset/twelve-hounds-know.md
  plugins/scaffolder-react/src/next/components/TemplateOutputs/LinkOutputs.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/TextOutputs.tsx
Labels: area:scaffolder

#22566 Fix for issue 20256: Bug Report: converting circular structure to JSON error
  .changeset/chilled-ways-wave.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder-react/src/next/lib/schema.ts
  yarn.lock
Labels: area:scaffolder

#22524 Update template.examples.ts, typo fix on skeleton
  .changeset/dry-vans-kiss.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.examples.ts
Labels: area:scaffolder

#21975 [CatalogBackend] Add API to get location by entity
  .changeset/large-moons-speak.md
  docs/features/software-catalog/api.md
  packages/catalog-client/api-report.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/generated/apis/DefaultApi.client.ts
  packages/catalog-client/src/types/api.ts
  plugins/catalog-backend/src/modules/core/DefaultLocationStore.ts
  plugins/catalog-backend/src/schema/openapi.generated.ts
  plugins/catalog-backend/src/schema/openapi.yaml
  plugins/catalog-backend/src/service/AuthorizedLocationService.test.ts
  plugins/catalog-backend/src/service/AuthorizedLocationService.ts
  plugins/catalog-backend/src/service/DefaultLocationService.test.ts
  plugins/catalog-backend/src/service/DefaultLocationService.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/types.ts
Labels: documentation, area:catalog

#22585 Update v1.22.0.md
  docs/releases/v1.22.0.md
Labels: documentation

#22450 catalog-graph: reduce the number of API requests
  .changeset/fair-mirrors-hammer.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.test.tsx
  plugins/catalog-graph/src/components/CatalogGraphPage/CatalogGraphPage.test.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.test.ts
  plugins/catalog-graph/src/components/EntityRelationsGraph/useEntityStore.ts
Labels: area:catalog

#22563 refactor: extract common dialog component in Kubernetes plugin
  .changeset/quiet-donkeys-punch.md
  plugins/kubernetes-react/api-report.md
  plugins/kubernetes-react/src/components/KubernetesDialog/KubernetesDialog.tsx
  plugins/kubernetes-react/src/components/KubernetesDialog/index.ts
  plugins/kubernetes-react/src/components/PodExecTerminal/PodExecTerminalDialog.tsx
  plugins/kubernetes-react/src/components/Pods/PodLogs/PodLogsDialog.tsx
Labels: area:kubernetes

#22584 Fix issue with `ui:schema` being replaced to empty object
  .changeset/twelve-weeks-march.md
  plugins/scaffolder-react/src/next/lib/schema.test.ts
  plugins/scaffolder-react/src/next/lib/schema.ts
Labels: area:scaffolder

#22404 Added context menu to scaffolder pages
  .changeset/quick-penguins-refuse.md
  plugins/scaffolder-react/api-report-alpha.md
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorPage.tsx
Labels: area:scaffolder

#22458 docs(overview/threat-model): add commas
  docs/overview/threat-model.md
Labels: documentation, stale

#22521 Support `token` in `URLReaders` for `fetch:*` actions in Scaffolder
  .changeset/quick-ties-stare.md
  .changeset/ten-trainers-cough.md
  packages/backend-common/src/reading/GithubUrlReader.test.ts
  packages/backend-common/src/reading/GithubUrlReader.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/UrlReaderService.ts
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/actions/fetch.test.ts
  plugins/scaffolder-node/src/actions/fetch.ts
Labels: area:scaffolder

#22526 feat(openapi-tooling): Fix OpenAPI client duplications
  .changeset/six-jobs-sin.md
  .changeset/tasty-feet-cheat.md
  packages/catalog-client/src/generated/apis/DefaultApi.client.ts
  packages/catalog-client/src/generated/apis/index.ts
  packages/catalog-client/src/generated/index.ts
  packages/catalog-client/src/generated/models/AnalyzeLocationEntityField.model.ts
  packages/catalog-client/src/generated/models/AnalyzeLocationExistingEntity.model.ts
  packages/catalog-client/src/generated/models/AnalyzeLocationGenerateEntity.model.ts
  packages/catalog-client/src/generated/models/AnalyzeLocationRequest.model.ts
  packages/catalog-client/src/generated/models/AnalyzeLocationResponse.model.ts
  packages/catalog-client/src/generated/models/CreateLocation201Response.model.ts
  packages/catalog-client/src/generated/models/CreateLocationRequest.model.ts
  packages/catalog-client/src/generated/models/EntitiesBatchResponse.model.ts
  packages/catalog-client/src/generated/models/EntitiesQueryResponse.model.ts
  packages/catalog-client/src/generated/models/EntitiesQueryResponsePageInfo.model.ts
  packages/catalog-client/src/generated/models/Entity.model.ts
  packages/catalog-client/src/generated/models/EntityAncestryResponse.model.ts
  packages/catalog-client/src/generated/models/EntityAncestryResponseItemsInner.model.ts
  packages/catalog-client/src/generated/models/EntityFacet.model.ts
  packages/catalog-client/src/generated/models/EntityFacetsResponse.model.ts
  packages/catalog-client/src/generated/models/EntityLink.model.ts
  packages/catalog-client/src/generated/models/EntityMeta.model.ts
  packages/catalog-client/src/generated/models/EntityRelation.model.ts
  packages/catalog-client/src/generated/models/ErrorError.model.ts
  packages/catalog-client/src/generated/models/ErrorRequest.model.ts
  packages/catalog-client/src/generated/models/ErrorResponse.model.ts
  packages/catalog-client/src/generated/models/GetEntitiesByRefsRequest.model.ts
  packages/catalog-client/src/generated/models/GetLocations200ResponseInner.model.ts
  packages/catalog-client/src/generated/models/Location.model.ts
  packages/catalog-client/src/generated/models/LocationInput.model.ts
  packages/catalog-client/src/generated/models/LocationSpec.model.ts
  packages/catalog-client/src/generated/models/ModelError.model.ts
  packages/catalog-client/src/generated/models/NullableEntity.model.ts
  packages/catalog-client/src/generated/models/RecursivePartialEntity.model.ts
  packages/catalog-client/src/generated/models/RecursivePartialEntityMeta.model.ts
  packages/catalog-client/src/generated/models/RecursivePartialEntityMetaAllOf.model.ts
  packages/catalog-client/src/generated/models/RecursivePartialEntityRelation.model.ts
  packages/catalog-client/src/generated/models/RefreshEntityRequest.model.ts
  packages/catalog-client/src/generated/models/ValidateEntity400Response.model.ts
  packages/catalog-client/src/generated/models/ValidateEntity400ResponseErrorsInner.model.ts
  packages/catalog-client/src/generated/models/ValidateEntityRequest.model.ts
  packages/catalog-client/src/generated/models/index.ts
  packages/catalog-client/src/generated/pluginId.ts
  packages/repo-tools/templates/typescript-backstage/licenseInfo.mustache
  packages/repo-tools/templates/typescript-backstage/model.mustache
  packages/repo-tools/templates/typescript-backstage/modelGenericAdditionalProperties.mustache
Labels: area:catalog

#22597 Move `NODE_OPTIONS` messaging for scaffolder to `SecureTemplater`
  .changeset/funny-buttons-sip.md
  .github/workflows/verify_windows.yml
  plugins/scaffolder-backend/src/lib/templating/SecureTemplater.ts
  plugins/scaffolder-backend/src/lib/templating/helpers.ts
  plugins/scaffolder-backend/src/service/helpers.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#21470 support filter in HomePageVisitedByType
  .changeset/wise-flies-laugh.md
  plugins/home/README.md
  plugins/home/api-report.md
  plugins/home/config.d.ts
  plugins/home/package.json
  plugins/home/src/api/VisitsApi.ts
  plugins/home/src/api/VisitsStorageApi.test.ts
  plugins/home/src/api/config.test.ts
  plugins/home/src/api/config.ts
  plugins/home/src/homePageComponents/VisitedByType/Content.test.tsx
  plugins/home/src/homePageComponents/VisitedByType/Content.tsx
  yarn.lock
Labels: homepage, area:discoverability

#22357 feat(SearchResultListItems): Apply consistent styling
  .changeset/eight-hounds-dream.md
  .changeset/orange-walls-complain.md
  plugins/adr/src/search/AdrSearchResultListItem.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/CatalogSearchResultListItem/CatalogSearchResultListItem.tsx
Labels: area:catalog

#22596 Fields limitation for EntityPicker
  .changeset/four-walls-perform.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.test.tsx
Labels: area:scaffolder

#22623 update release script and docs
  .github/workflows/deploy_packages.yml
  docs/publishing.md
Labels: documentation

#22630 Update v1.23.0-next.1-changelog.md
  docs/releases/v1.23.0-next.1-changelog.md
Labels: documentation

#22627 docs/publishing: add post-publish troubleshooting steps
  docs/publishing.md
Labels: documentation

#22577 docs(tutorials): update OpenTelemetry dependency list
  docs/tutorials/setup-opentelemetry.md
Labels: documentation

#22587 Adding plugin via revision.yaml
  microsite/data/plugins/revision.yaml
Labels: microsite

#22518 Microsite: a11y fixes
  docs/features/software-catalog/index.md
  docs/overview/background.md
  docs/overview/logos.md
  docs/overview/what-is-backstage.md
  docs/permissions/overview.md
  microsite/src/pages/home/hubSpotNewAdoptersForm.module.scss
  microsite/src/pages/plugins/plugins.module.scss
  microsite/src/theme/customTheme.scss
Labels: documentation, microsite

#22628 Scaffolder-backend-gerrit: Set branches to defaultBranch
  .changeset/short-cherries-mix.md
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.test.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.ts
Labels: area:scaffolder
