Repository backstage/backstage, pull requests merged in 2024-08, with the labels that each got.

#25789 Create infracost.yaml
  microsite/data/plugins/infracost.yaml
Labels: microsite

#25874 fix: Add null check for review state utility function
  .changeset/slow-ligers-drum.md
  plugins/scaffolder-react/src/next/components/ReviewState/util.test.ts
  plugins/scaffolder-react/src/next/components/ReviewState/util.ts
Labels: area:scaffolder

#25881 doc: Root Logger Service update
  docs/backend-system/core-services/root-logger.md
Labels: documentation

#25877 search: fix incorrect metadata due to inconsistent package name
  .changeset/healthy-timers-divide.md
  plugins/search-backend-node/package.json
  plugins/search-backend/package.json
  plugins/search-common/package.json
  plugins/search-react/package.json
  plugins/search/package.json
Labels: search, area:search

#25866 fix(kubernetes-backend): add customResources to the config.d.ts
  .changeset/silly-cycles-tan.md
  plugins/kubernetes-backend/config.d.ts
Labels: area:kubernetes

#25889 chore(deps): bump node-fetch to ^2.7.0
  .changeset/fair-pumas-hang.md
  packages/backend-app-api/package.json
  packages/backend-common/package.json
  packages/backend-defaults/package.json
  packages/cli/package.json
  packages/config-loader/package.json
  packages/create-app/package.json
  plugins/app-backend/package.json
  plugins/auth-backend-module-aws-alb-provider/package.json
  plugins/auth-backend-module-cloudflare-access-provider/package.json
  plugins/auth-backend-module-microsoft-provider/package.json
  plugins/auth-backend/package.json
  plugins/auth-node/package.json
  plugins/catalog-backend-module-azure/package.json
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-gerrit/package.json
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-gitlab/package.json
  plugins/catalog-backend-module-msgraph/package.json
  plugins/catalog-backend-module-puppetdb/package.json
  plugins/catalog-backend/package.json
  plugins/devtools-backend/package.json
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-node/package.json
  plugins/notifications-backend/package.json
  plugins/notifications-node/package.json
  plugins/permission-backend/package.json
  plugins/proxy-backend/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-bitbucket/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-gerrit/package.json
  plugins/scaffolder-backend-module-gitea/package.json
  plugins/scaffolder-backend-module-sentry/package.json
  plugins/search-backend-module-explore/package.json
  plugins/search-backend-module-stack-overflow-collator/package.json
  plugins/search-backend-module-techdocs/package.json
  plugins/signals-backend/package.json
  plugins/techdocs-backend/package.json
  yarn.lock
Labels: area:catalog, auth, area:techdocs, area:kubernetes, search, area:scaffolder, area:permission, area:search

#25893 feat: introduce subdomains card
  .changeset/metal-rice-call.md
  plugins/catalog/api-report-alpha.md
  plugins/catalog/api-report.md
  plugins/catalog/src/alpha/entityCards.tsx
  plugins/catalog/src/components/HasSubdomainsCard/HasSubdomainsCard.test.tsx
  plugins/catalog/src/components/HasSubdomainsCard/HasSubdomainsCard.tsx
  plugins/catalog/src/components/HasSubdomainsCard/index.ts
  plugins/catalog/src/index.ts
  plugins/catalog/src/plugin.ts
  plugins/catalog/src/translation.ts
Labels: area:catalog

#25766 Transform meta redirect tags
  .changeset/silly-candles-sin.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.test.ts
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.ts
  plugins/techdocs/src/reader/transformers/html/transformer.test.tsx
  plugins/techdocs/src/reader/transformers/html/transformer.ts
Labels: area:techdocs

#25886 microsite: Azure Storage Explorer plugin updated
  microsite/data/plugins/azure-storage.yaml
Labels: microsite

#25507 Issue 25352 dryrun testing section
  docs/features/software-templates/dry-run-testing.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#25906 fix output element overlappig w/ flex-wrap
  .changeset/breezy-rings-fly.md
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.tsx
Labels: area:scaffolder

#25909 catalog: enable entity page extensions by default in the new frontend system
  .changeset/bright-donkeys-buy.md
  .changeset/witty-geese-battle.md
  plugins/catalog-react/src/alpha.tsx
  plugins/catalog/src/alpha/entityCards.tsx
Labels: area:catalog

#25883 Fix highlight typo in 05-frontend-authorization.md
  docs/permissions/plugin-authors/05-frontend-authorization.md
Labels: documentation

#25912 docs: Update rootLogger customisation link and add NBS health check
  docs/plugins/observability.md
Labels: documentation

#25831 feat: add support for status filtering in scaffolder endpoint
  .changeset/eighty-jokes-deny.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/types.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/api-report.md
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:scaffolder

#25918 frontend-plugin-api: make all route refs optional at all times
  .changeset/friendly-chicken-cry.md
  .changeset/small-ears-poke.md
  docs/frontend-system/architecture/07-routes.md
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/core-compat-api/api-report.md
  packages/core-compat-api/src/compatWrapper/ForwardsCompatProvider.tsx
  packages/core-compat-api/src/compatWrapper/compatWrapper.test.tsx
  packages/core-compat-api/src/convertLegacyRouteRef.test.ts
  packages/core-compat-api/src/convertLegacyRouteRef.ts
  packages/frontend-app-api/api-report.md
  packages/frontend-app-api/src/extensions/AppNav.tsx
  packages/frontend-app-api/src/routing/RouteResolver.test.ts
  packages/frontend-app-api/src/routing/RouteResolver.ts
  packages/frontend-app-api/src/routing/resolveRouteBindings.ts
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/apis/definitions/RouteResolutionApi.ts
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.test.ts
  packages/frontend-plugin-api/src/routing/ExternalRouteRef.ts
  packages/frontend-plugin-api/src/routing/useRouteRef.test.tsx
  packages/frontend-plugin-api/src/routing/useRouteRef.tsx
  packages/frontend-test-utils/src/app/createExtensionTester.tsx
  plugins/api-docs/api-report-alpha.md
  plugins/app-visualizer/src/components/AppVisualizerPage/DetailedVisualizer.tsx
  plugins/catalog-graph/api-report-alpha.md
  plugins/catalog/api-report-alpha.md
  plugins/org/api-report-alpha.md
  plugins/scaffolder/api-report-alpha.md
Labels: documentation, area:catalog, area:scaffolder

#25254 chore(auth-node): allow declarative signin resolvers to take precedence
  .changeset/neat-socks-cheer.md
  plugins/auth-node/src/oauth/createOAuthProviderFactory.ts
Labels: auth

#25903 backend-*-api: add support for feature loaders
  .changeset/calm-crabs-drop.md
  .changeset/curvy-pillows-joke.md
  .changeset/cyan-shrimps-push.md
  .changeset/khaki-lamps-peel.md
  docs/auth/identity-resolver.md
  docs/backend-system/architecture/03-services.md
  docs/backend-system/architecture/04-plugins.md
  docs/backend-system/architecture/07-feature-loaders.md
  docs/backend-system/architecture/08-naming-patterns.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  microsite/sidebars.json
  packages/backend-app-api/src/wiring/BackendInitializer.test.ts
  packages/backend-app-api/src/wiring/BackendInitializer.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/system/types.test.ts
  packages/backend-plugin-api/src/services/system/types.ts
  packages/backend-plugin-api/src/wiring/createBackendFeatureLoader.test.ts
  packages/backend-plugin-api/src/wiring/createBackendFeatureLoader.ts
  packages/backend-plugin-api/src/wiring/createBackendModule.test.ts
  packages/backend-plugin-api/src/wiring/createBackendModule.ts
  packages/backend-plugin-api/src/wiring/createBackendPlugin.test.ts
  packages/backend-plugin-api/src/wiring/createBackendPlugin.ts
  packages/backend-plugin-api/src/wiring/createExtensionPoint.test.ts
  packages/backend-plugin-api/src/wiring/createExtensionPoint.ts
  packages/backend-plugin-api/src/wiring/describeParentCallSite.ts
  packages/backend-plugin-api/src/wiring/factories.test.ts
  packages/backend-plugin-api/src/wiring/factories.ts
  packages/backend-plugin-api/src/wiring/index.ts
  packages/backend-plugin-api/src/wiring/types.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  packages/backend/src/index.ts
  packages/frontend-plugin-api/src/routing/describeParentCallSite.ts
Labels: documentation, microsite

#25919 tech insights has been moved
  microsite/data/plugins/tech-insights.yaml
Labels: microsite

#25850 fix(techdocs-backend): update config.d.ts
  .changeset/shaggy-mugs-return.md
  plugins/techdocs-backend/config.d.ts
Labels: area:techdocs

#25910 Fix TechDocs Edit URL link when trailing slash not present
  .changeset/tricky-rules-destroy.md
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
Labels: area:techdocs

#25911 Add UI element to notify user before redirect occurs.
  .changeset/popular-panthers-hear.md
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.test.ts
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.ts
  plugins/techdocs/src/reader/transformers/handleMetaRedirects.tsx
Labels: area:techdocs

#25926 scaffolder: remove undefined from the title of Scaffolder Run page
  .changeset/real-lizards-sit.md
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
Labels: area:scaffolder

#25413 User documentation for the Notifications and Signals
  docs/notifications/index.md
  docs/notifications/notificationsPage.png
  microsite/sidebars.json
  plugins/notifications-backend/README.md
  plugins/notifications/README.md
  plugins/signals-backend/README.md
  plugins/signals/README.md
Labels: documentation, microsite

#25411 added script for datadog script to docs resolves #25411
  docs/integrations/datadog-rum/installation.md
Labels: documentation

#25944 docs: fix broken link in TechDocs configuration
  docs/features/techdocs/configuration.md
Labels: documentation

#25950 frontend-plugin-api: add support for accessing extensions from plugin instance
  .changeset/old-tools-smell.md
  packages/app-next-example-plugin/api-report.md
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createPlugin.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
  packages/frontend-plugin-api/src/wiring/types.ts
  plugins/api-docs/api-report-alpha.md
  plugins/app-visualizer/api-report.md
  plugins/catalog-graph/api-report-alpha.md
  plugins/catalog-import/api-report-alpha.md
  plugins/catalog-react/api-report-alpha.md
  plugins/catalog/api-report-alpha.md
  plugins/devtools/api-report-alpha.md
  plugins/home/api-report-alpha.md
  plugins/kubernetes/api-report-alpha.md
  plugins/org/api-report-alpha.md
  plugins/scaffolder/api-report-alpha.md
  plugins/search-react/api-report-alpha.md
  plugins/search/api-report-alpha.md
  plugins/techdocs/api-report-alpha.md
  plugins/user-settings/api-report-alpha.md
Labels: area:catalog, area:techdocs, area:kubernetes, search, homepage, area:scaffolder, area:home, area:search

#25112 Add optional `spec.type` to Domain and System entity model
  .changeset/young-birds-push.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/api-report.md
  packages/catalog-model/examples/domains/artists-domain.yaml
  packages/catalog-model/examples/domains/playback-domain.yaml
  packages/catalog-model/examples/systems/artist-engagement-portal-system.yaml
  packages/catalog-model/examples/systems/audio-playback-system.yaml
  packages/catalog-model/examples/systems/podcast-system.yaml
  packages/catalog-model/src/kinds/DomainEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/DomainEntityV1alpha1.ts
  packages/catalog-model/src/kinds/SystemEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/SystemEntityV1alpha1.ts
  packages/catalog-model/src/schema/kinds/Domain.v1alpha1.schema.json
  packages/catalog-model/src/schema/kinds/System.v1alpha1.schema.json
Labels: documentation, area:catalog

#25802 Added examples for github:repo:create action and improved test cases
  .changeset/itchy-experts-tie.md
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.examples.ts
Labels: area:scaffolder

#25801 Added examples for action github:pages and improved test cases
  .changeset/thin-carrots-eat.md
  plugins/scaffolder-backend-module-github/src/actions/githubPagesEnable.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPagesEnable.examples.ts
Labels: area:scaffolder

#25727 Added examples for publish:azure action and updated its test cases
  .changeset/flat-papayas-push.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.examples.test.ts
  plugins/scaffolder-backend-module-azure/src/actions/azure.examples.ts
Labels: area:scaffolder

#25707 Added test cases for gitlab:issues:create examples
  .changeset/funny-wolves-learn.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.examples.ts
Labels: area:scaffolder

#25784 feat(MyGroupsPicker): use entityPresentationApi
  .changeset/perfect-cars-jam.md
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.test.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Labels: area:scaffolder

#23893 bep: templating in parameters schema
  beps/0010-scaffolder-templating-in-parameters/README.md
Labels: BEP

#25947 added the `frontend-extensions` package role
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/.eslintrc.js
  packages/app-next-example-extensions/README.md
  packages/app-next-example-extensions/api-report.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/dummy.test.ts
  packages/app-next-example-extensions/src/extensions/HomePage.tsx
  packages/app-next-example-extensions/src/extensions/NotFoundErrorPage.tsx
  packages/app-next-example-extensions/src/extensions/ScmAuthApi.ts
  packages/app-next-example-extensions/src/extensions/ScmIntegrationApi.ts
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app-next-example-extensions/src/extensions/index.ts
  packages/app-next-example-extensions/src/index.ts
  packages/app-next-example-extensions/src/setupTests.ts
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  packages/app-next/src/index-public-experimental.tsx
  packages/cli-node/api-report.md
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
  yarn.lock
Labels: documentation

#25946 adds ability to configure the commit message when initializating a repo
  .changeset/five-mangos-agree.md
  plugins/scaffolder-backend-module-bitbucket-cloud/api-report.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
Labels: area:scaffolder

#25983 doc(docs.features.softwareCatalog.systemModel): fix typo
  docs/features/software-catalog/system-model.md
Labels: documentation

#25981 NFS: Support `plugin.withOverrides` to override extensions from existing plugins
  .changeset/fresh-timers-walk.md
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createPlugin.ts
  packages/frontend-plugin-api/src/wiring/types.ts
Labels: frontend-system

#25987 Update configuration.md typo
  docs/features/techdocs/configuration.md
Labels: documentation

#25721 Fixes issue #25011
  plugins/org/src/components/Cards/Group/MembersList/MembersListCard.stories.tsx
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Labels: storybook

#25516 feat(cloudflare-auth-access-provider): Add support for cloudflare custom headers and cookie auth name
  .changeset/strong-chicken-kiss.md
  docs/auth/cloudflare/provider.md
  plugins/auth-backend-module-cloudflare-access-provider/config.d.ts
  plugins/auth-backend-module-cloudflare-access-provider/src/helpers.test.ts
  plugins/auth-backend-module-cloudflare-access-provider/src/helpers.ts
Labels: documentation, auth

#25545 feat: provide table options everywhere and add title to api tables
  .changeset/weak-jobs-joke.md
  plugins/api-docs/api-report.md
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.tsx
  plugins/api-docs/src/components/ApisCards/HasApisCard.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.tsx
  plugins/catalog/api-report.md
  plugins/catalog/src/components/DependencyOfComponentsCard/DependencyOfComponentsCard.tsx
  plugins/catalog/src/components/HasComponentsCard/HasComponentsCard.tsx
  plugins/catalog/src/components/HasResourcesCard/HasResourcesCard.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.tsx
  plugins/catalog/src/components/HasSystemsCard/HasSystemsCard.tsx
Labels: area:catalog

#25990 Revert "added the `frontend-extensions` package role"
  .changeset/cold-tomatoes-vanish.md
  docs/tooling/cli/02-build-system.md
  packages/app-next-example-extensions/.eslintrc.js
  packages/app-next-example-extensions/README.md
  packages/app-next-example-extensions/api-report.md
  packages/app-next-example-extensions/catalog-info.yaml
  packages/app-next-example-extensions/package.json
  packages/app-next-example-extensions/src/dummy.test.ts
  packages/app-next-example-extensions/src/extensions/ScmAuthApi.ts
  packages/app-next-example-extensions/src/extensions/SignInPage.tsx
  packages/app-next-example-extensions/src/extensions/index.ts
  packages/app-next-example-extensions/src/index.ts
  packages/app-next-example-extensions/src/setupTests.ts
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  packages/app-next/src/HomePage.tsx
  packages/app-next/src/examples/notFoundErrorPageExtension.tsx
  packages/app-next/src/index-public-experimental.tsx
  packages/app-next/src/overrides/SignInPage.tsx
  packages/cli-node/api-report.md
  packages/cli-node/src/roles/PackageRoles.ts
  packages/cli-node/src/roles/types.ts
  packages/cli/config/eslint-factory.js
  packages/cli/config/jest.js
  packages/cli/src/commands/repo/fix.ts
  packages/cli/src/commands/start/command.ts
  packages/cli/src/lib/bundler/packageDetection.ts
  packages/eslint-plugin/rules/no-undeclared-imports.js
  scripts/list-no-top-level-material-ui-4-imports.js
  scripts/verify-local-dependencies.js
  yarn.lock
Labels: documentation

#25948 plugin-scaffolder: VirtualizedListbox tests and padding
  .changeset/big-countries-wait.md
  plugins/scaffolder/src/components/fields/VirtualizedListbox.test.tsx
  plugins/scaffolder/src/components/fields/VirtualizedListbox.tsx
Labels: area:scaffolder

#25882 add catalog-backend-module-gcp plugin
  microsite/data/plugins/catalog-backend-module-gcp.yaml
Labels: microsite

#25871 Create kubernetes-gpt-analyzer.yaml
  microsite/data/plugins/kubernetes-gpt-analyzer.yaml
Labels: microsite

#25050 feat(api-docs): Columns override on ComponentsCards
  .changeset/forty-geckos-change.md
  plugins/api-docs/api-report.md
  plugins/api-docs/src/components/ComponentsCards/ConsumingComponentsCard.tsx
  plugins/api-docs/src/components/ComponentsCards/ProvidingComponentsCard.tsx
Labels: stale

#25621 [NBS] Updated Search Docs
  docs/features/search/collators.md
  docs/features/search/getting-started.md
  docs/features/search/how-to-guides.md
  docs/features/search/search-engines.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#25837 Conditionally Render Sign In Provider Example
  docs/auth/index.md
Labels: documentation

#25722 Updated writing a policy docs
  docs/permissions/writing-a-policy.md
Labels: documentation

#25778 fix(catalog-backend): error if metadata.annotations isn't a valid object
  .changeset/cuddly-penguins-glow.md
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
Labels: area:catalog

#25456 chore: remove personal identifiable information (PII) from logs
  .changeset/funny-tips-push.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/MiddlewareFactory.ts
Labels: documentation

#24311 fix: export `RelatedEntitiesCard` presets
  .changeset/angry-mice-juggle.md
  plugins/catalog/src/components/RelatedEntitiesCard/RelatedEntitiesCard.tsx
Labels: area:catalog

#26009 docs/frontend-system: extension blueprint docs + restructure
  docs/frontend-system/architecture/00-index.md
  docs/frontend-system/architecture/10-app.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/20-extensions.md
  docs/frontend-system/architecture/23-extension-blueprints.md
  docs/frontend-system/architecture/25-extension-overrides.md
  docs/frontend-system/architecture/30-references.md
  docs/frontend-system/architecture/33-utility-apis.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/building-apps/01-index.md
  docs/frontend-system/building-apps/03-built-in-extensions.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/02-testing.md
  docs/frontend-system/building-plugins/03-extension-types.md
  docs/frontend-system/building-plugins/04-built-in-data-refs.md
  docs/frontend-system/utility-apis/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/04-configuring.md
  docs/plugins/composability.md
  microsite/sidebars.json
Labels: documentation, microsite

#26011 frontend-plugin-api: renamed createPlugin to createFrontendPlugin
  .changeset/chilly-numbers-chew.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/02-creating.md
  packages/app-next-example-plugin/src/plugin.tsx
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/core-compat-api/src/collectLegacyRoutes.test.tsx
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/compatWrapper/BackwardsCompatProvider.tsx
  packages/frontend-app-api/src/routing/collectRouteIds.test.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-app-api/src/tree/createAppTree.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.ts
  packages/frontend-app-api/src/wiring/createApp.test.tsx
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-app-api/src/wiring/discovery.test.ts
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  plugins/api-docs/src/alpha.tsx
  plugins/app-visualizer/src/plugin.tsx
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog/src/alpha/plugin.tsx
  plugins/devtools/src/alpha/plugin.tsx
  plugins/home/src/alpha.tsx
  plugins/kubernetes/src/alpha/plugin.tsx
  plugins/org/src/alpha.tsx
  plugins/scaffolder/src/alpha.tsx
  plugins/search/src/alpha.tsx
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/src/alpha.tsx
Labels: documentation, area:catalog, area:techdocs, area:kubernetes, search, homepage, area:scaffolder, area:home, area:search

#26015 Added back `type: 'local'` to TechDocs config schema
  .changeset/modern-apes-join.md
  plugins/techdocs-backend/config.d.ts
Labels: area:techdocs

#25997 Add note about bin entries for multi-stage Docker build
  docs/deployment/docker.md
Labels: documentation

#25958 Liveness probe added in ContainerCard component
  .changeset/eight-moose-pull.md
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.test.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
Labels: area:kubernetes

#26025 docs/frontend-system: add migration section + docs for 1.30
  docs/frontend-system/architecture/20-extensions.md
  docs/frontend-system/architecture/60-migrations.md
Labels: documentation

#26013 docs/frontend-system: plugin architecture docs
  docs/frontend-system/architecture/15-plugins.md
Labels: documentation

#25996 Fix: GCP IAP Config and Docs
  .changeset/rare-maps-wave.md
  docs/auth/google/gcp-iap-auth.md
  packages/core-components/src/layout/ProxiedSignInPage/ProxiedSignInPage.tsx
  plugins/auth-backend-module-gcp-iap-provider/config.d.ts
Labels: documentation, auth

#26016 fix GitHub repository events
  .changeset/warm-moles-appear.md
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
Labels: area:catalog

#26020 Added OpenTelemetry support to Scaffolder metrics
  .changeset/large-monkeys-dress.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  yarn.lock
Labels: area:scaffolder

#26032 docs/frontend-system: update extension docs
  docs/frontend-system/architecture/20-extensions.md
  docs/frontend-system/architecture/50-naming-patterns.md
Labels: documentation

#25992 NFS: Deprecate `.render()` of `createExtensionTester`
  .changeset/three-kiwis-turn.md
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavLogoBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/SignInPageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/ThemeBlueprint.test.ts
  packages/frontend-plugin-api/src/blueprints/TranslationBlueprint.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-test-utils/api-report.md
  packages/frontend-test-utils/src/app/createExtensionTester.test.tsx
  packages/frontend-test-utils/src/app/createExtensionTester.tsx
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
Labels: area:catalog

#26034 docs/frontend-system: add missing plugin doc fixes
  docs/frontend-system/architecture/15-plugins.md
Labels: documentation

#26002 beps/0010: refactor + call out backwards compatiblity
  beps/0010-scaffolder-templating-in-parameters/README.md
Labels: BEP

#26022 NFS: Move away from the deprecated API's everywhere
  .changeset/modern-brooms-grow.md
  packages/app-next-example-plugin/api-report.md
  packages/app-next-example-plugin/src/plugin.tsx
  packages/app-next/src/App.tsx
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/app-next/src/overrides/SignInPage.tsx
  packages/core-compat-api/src/collectLegacyRoutes.test.tsx
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/compatWrapper/compatWrapper.test.tsx
  packages/core-compat-api/src/convertLegacyApp.test.tsx
  packages/core-compat-api/src/convertLegacyApp.ts
  packages/frontend-app-api/src/apis/implementations/ComponentsApi/DefaultComponentsApi.test.tsx
  packages/frontend-app-api/src/extensions/App.tsx
  packages/frontend-app-api/src/extensions/AppLayout.tsx
  packages/frontend-app-api/src/extensions/AppNav.tsx
  packages/frontend-app-api/src/extensions/AppRoot.tsx
  packages/frontend-app-api/src/extensions/AppRoutes.tsx
  packages/frontend-app-api/src/extensions/elements.tsx
  packages/frontend-app-api/src/extensions/themes.tsx
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-app-api/src/tree/createAppTree.test.ts
  packages/frontend-app-api/src/tree/resolveAppTree.test.ts
  packages/frontend-app-api/src/wiring/createApp.test.tsx
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.test.tsx
  packages/frontend-test-utils/src/app/createExtensionTester.test.tsx
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  plugins/api-docs/api-report-alpha.md
  plugins/api-docs/src/alpha.tsx
  plugins/home/api-report-alpha.md
  plugins/home/src/alpha.tsx
  plugins/kubernetes/api-report-alpha.md
  plugins/kubernetes/src/alpha/pages.tsx
Labels: area:kubernetes, homepage, area:home, area:search

#26035 Updated Prometheus and OpenTelemetry Guides
  contrib/docs/tutorials/prometheus-metrics.md
  docs/tutorials/setup-opentelemetry.md
Labels: documentation

#26036 NFS: More deprecated function removals and using Blueprints where possible
  .changeset/giant-buttons-guess.md
  plugins/app-visualizer/api-report.md
  plugins/app-visualizer/package.json
  plugins/app-visualizer/src/components/AppVisualizerPage/DetailedVisualizer.tsx
  plugins/app-visualizer/src/plugin.tsx
  plugins/catalog-graph/api-report-alpha.md
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-import/api-report-alpha.md
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog/api-report-alpha.md
  plugins/catalog/src/alpha/apis.tsx
  plugins/catalog/src/alpha/filter/matchers/createHasMatcher.test.ts
  plugins/catalog/src/alpha/filter/matchers/createHasMatcher.ts
  plugins/catalog/src/alpha/filter/matchers/createIsMatcher.test.ts
  plugins/catalog/src/alpha/filter/matchers/createIsMatcher.ts
  plugins/catalog/src/alpha/filter/matchers/createKindMatcher.test.ts
  plugins/catalog/src/alpha/filter/matchers/createKindMatcher.ts
  plugins/catalog/src/alpha/filter/matchers/createTypeMatcher.test.ts
  plugins/catalog/src/alpha/filter/matchers/createTypeMatcher.ts
  plugins/catalog/src/alpha/filter/matchers/types.ts
  plugins/catalog/src/alpha/filter/parseFilterExpression.ts
  plugins/catalog/src/alpha/filters.tsx
  plugins/catalog/src/alpha/navItems.tsx
  plugins/catalog/src/alpha/pages.tsx
  plugins/catalog/src/alpha/searchResultItems.tsx
  plugins/devtools/api-report-alpha.md
  plugins/devtools/src/alpha/plugin.tsx
  plugins/kubernetes/api-report-alpha.md
  plugins/kubernetes/src/alpha/apis.tsx
  plugins/kubernetes/src/alpha/entityContents.tsx
  plugins/org/api-report-alpha.md
  plugins/org/src/alpha.tsx
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/src/alpha.tsx
  plugins/search/api-report-alpha.md
  plugins/search/src/alpha.tsx
  plugins/techdocs/api-report-alpha.md
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/api-report-alpha.md
  plugins/user-settings/src/alpha.tsx
Labels: area:catalog, area:techdocs, area:kubernetes, search, area:scaffolder, area:search

#26045 frontend-plugin-api: store extension ID parts in an object type parameter
  packages/app-next-example-plugin/api-report.md
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
  plugins/api-docs/api-report-alpha.md
  plugins/app-visualizer/api-report.md
  plugins/catalog-graph/api-report-alpha.md
  plugins/catalog-import/api-report-alpha.md
  plugins/catalog-react/api-report-alpha.md
  plugins/catalog/api-report-alpha.md
  plugins/devtools/api-report-alpha.md
  plugins/home/api-report-alpha.md
  plugins/kubernetes/api-report-alpha.md
  plugins/org/api-report-alpha.md
  plugins/scaffolder/api-report-alpha.md
  plugins/search-react/api-report-alpha.md
  plugins/search/api-report-alpha.md
  plugins/techdocs/api-report-alpha.md
  plugins/user-settings/api-report-alpha.md
Labels: area:catalog, area:techdocs, area:kubernetes, search, homepage, area:scaffolder, area:home, area:search

#26044 docs/frontend-system: update remaining documentation section for 1.30 release
  docs/frontend-system/building-apps/01-index.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/02-testing.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  docs/frontend-system/building-plugins/04-built-in-data-refs.md
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/03-consuming.md
  docs/frontend-system/utility-apis/04-configuring.md
  microsite/sidebars.json
  plugins/catalog-graph/README-alpha.md
Labels: documentation, area:catalog, microsite

#26042 docs/frontend-system: document extension override
  docs/frontend-system/architecture/25-extension-overrides.md
Labels: documentation

#26059 auth-backend: deprecate createRouter
  .changeset/thirty-dogs-wave.md
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/service/router.ts
Labels: auth

#26069 add a signer claim to the aws alb auth provider
  .changeset/eleven-dolphins-divide.md
  docs/auth/aws-alb/provider.md
  plugins/auth-backend-module-aws-alb-provider/api-report.md
  plugins/auth-backend-module-aws-alb-provider/config.d.ts
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.ts
  plugins/auth-backend-module-aws-alb-provider/src/types.ts
Labels: documentation, auth

#26072 catalog-backend: Deprecate createRouter and CatalogBuilder
  .changeset/flat-bugs-drive.md
  plugins/catalog-backend/api-report.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/createRouter.ts
Labels: area:catalog

#26075 chore: remove unused dependency on backend-common
  .changeset/dry-hotels-film.md
  plugins/catalog-backend-module-aws/package.json
  plugins/catalog-backend-module-azure/package.json
  plugins/catalog-backend-module-bitbucket-server/package.json
  plugins/catalog-backend-module-gcp/package.json
  plugins/catalog-backend-module-gerrit/package.json
  plugins/catalog-backend-module-github-org/package.json
  plugins/catalog-backend-module-msgraph/package.json
  plugins/catalog-backend-module-puppetdb/package.json
  yarn.lock
Labels: area:catalog

#26064 fix: change scaffolder widgets to use textfield
  .changeset/clever-laws-raise.md
  plugins/scaffolder-react/src/next/components/PasswordWidget/PasswordWidget.tsx
  plugins/scaffolder-react/src/next/components/SecretWidget/SecretWidget.tsx
  plugins/scaffolder/src/components/fields/RepoBranchPicker/DefaultRepoBranchPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/AzureRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GiteaRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GithubRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.tsx
Labels: area:scaffolder

#26082 docs: add missing frontend-system migrations to sidebar
  microsite/sidebars.json
Labels: microsite

#26040 fix: label related accessibility issues with FavoriteEntity
  .changeset/twelve-peaches-develop.md
  plugins/catalog-react/src/components/FavoriteEntity/FavoriteEntity.test.tsx
  plugins/catalog-react/src/components/FavoriteEntity/FavoriteEntity.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/CardHeader.test.tsx
Labels: area:catalog, area:scaffolder

#25827 feat: add i18n for scaffolder
  .changeset/many-years-lie.md
  plugins/scaffolder/api-report-alpha.md
  plugins/scaffolder/src/alpha.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/OwnerListPicker.tsx
  plugins/scaffolder/src/components/OngoingTask/ContextMenu.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
  plugins/scaffolder/src/components/TemplateTypePicker/TemplateTypePicker.test.tsx
  plugins/scaffolder/src/components/TemplateTypePicker/TemplateTypePicker.tsx
  plugins/scaffolder/src/components/fields/EntityNamePicker/EntityNamePicker.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  plugins/scaffolder/src/components/fields/EntityTagsPicker/EntityTagsPicker.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.test.tsx
  plugins/scaffolder/src/components/fields/MyGroupsPicker/MyGroupsPicker.tsx
  plugins/scaffolder/src/components/fields/OwnedEntityPicker/OwnedEntityPicker.tsx
  plugins/scaffolder/src/components/fields/OwnerPicker/OwnerPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/AzureRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/AzureRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/BitbucketRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GerritRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GiteaRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GiteaRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GithubRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GithubRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/GitlabRepoPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerHost.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.test.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPickerRepoName.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/CustomFieldExplorer.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/DryRunResults.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/DryRunResultsList.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/DryRunResultsView.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/DryRunResults/TaskStatusStepper.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorBrowser.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorIntro.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorPage.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateEditorTextArea.tsx
  plugins/scaffolder/src/next/TemplateEditorPage/TemplateFormPreviewer.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/next/TemplateWizardPage/TemplateWizardPageContextMenu.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#26088 techdocs-backend: separate request token for cache sync
  .changeset/big-spies-stare.md
  plugins/techdocs-backend/src/service/router.ts
Labels: area:techdocs

#26098 docs: release notes for 1.30
  docs/releases/v1.30.0.md
  microsite/docusaurus.config.ts
  microsite/sidebars.json
Labels: documentation, microsite

#26081 Fix typo and unify TechDocs casing in doc strings
  .changeset/hip-pandas-think.md
  plugins/techdocs-node/src/extensions.ts
  plugins/techdocs-node/src/helpers.ts
Labels: area:techdocs

#26104 Patch release of #26088, #25391
  package.json
  packages/backend-app-api/CHANGELOG.md
  packages/backend-app-api/config.d.ts
  packages/backend-app-api/package.json
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  plugins/techdocs-backend/CHANGELOG.md
  plugins/techdocs-backend/package.json
  plugins/techdocs-backend/src/service/router.ts
Labels: area:techdocs

#26112 minor dockerfile syntax update
  .changeset/giant-jars-mix.md
  contrib/docker/frontend-with-nginx/Dockerfile.dockerbuild
  contrib/docker/frontend-with-nginx/Dockerfile.hostbuild
  contrib/docker/minimal-hardened-image/Dockerfile
  docs/deployment/docker.md
  docs/deployment/flightcontrol.md
  docs/tutorials/yarn-migration.md
  packages/backend/Dockerfile
  packages/create-app/templates/default-app/packages/backend/Dockerfile
  plugins/devtools/README.md
Labels: documentation, BEP

#25928 feat(catalog): only fetch needed fields for entity presentation
  .changeset/tasty-pigs-vanish.md
  plugins/catalog/src/apis/EntityPresentationApi/DefaultEntityPresentationApi.test.ts
  plugins/catalog/src/apis/EntityPresentationApi/DefaultEntityPresentationApi.ts
Labels: area:catalog, stale

#25611 Update the SearchBar to make use of the useApp hook to retrieve the search icon specified in the createApp call
  .changeset/silent-eyes-lie.md
  .changeset/sixty-rabbits-cheat.md
  packages/test-utils/api-report.md
  packages/test-utils/src/testUtils/appWrappers.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.stories.tsx
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.test.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.stories.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.tsx
Labels: search, area:discoverability, area:search

#26110 secrets on scaffolder review page show constant asterisks value
  .changeset/unlucky-cycles-clean.md
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
Labels: area:scaffolder

#26099 docs: add docs for 3rd-party plugin conversion
  docs/frontend-system/building-apps/06-plugin-conversion.md
  microsite/sidebars.json
  packages/app-next/src/App.tsx
Labels: documentation, microsite

#26102 scaffolder-backend: Deprecate createRouter
  .changeset/short-moles-brush.md
  plugins/scaffolder-backend/api-report.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#26090 kubernetes-backend: Deprecate KubernetesBuilder
  .changeset/dry-monkeys-mate.md
  plugins/kubernetes-backend/api-report.md
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/router.ts
Labels: area:kubernetes

#26092 [NBS 1.0] Deprecate search create router
  .changeset/curly-brooms-raise.md
  .changeset/ninety-mayflies-raise.md
  .changeset/purple-glasses-tease.md
  plugins/search-backend-module-catalog/api-report.md
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.test.ts
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.ts
  plugins/search-backend-module-elasticsearch/api-report.md
  plugins/search-backend-module-elasticsearch/package.json
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-module-explore/api-report.md
  plugins/search-backend-module-explore/src/collators/ToolDocumentCollatorFactory.test.ts
  plugins/search-backend-module-explore/src/collators/ToolDocumentCollatorFactory.ts
  plugins/search-backend-module-pg/api-report.md
  plugins/search-backend-module-pg/package.json
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngineIndexer.ts
  plugins/search-backend-module-pg/src/alpha.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/search-backend-module-techdocs/api-report.md
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.test.ts
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.ts
  plugins/search-backend/api-report.md
  plugins/search-backend/package.json
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
  yarn.lock
Labels: search, area:search

#26128 fix incorrect release notes message for backend-test-utils
  docs/releases/v1.30.0-changelog.md
  docs/releases/v1.30.0.md
  packages/backend-test-utils/CHANGELOG.md
Labels: documentation

#26095 permission-backend: Deprecate createRouter
  .changeset/witty-years-cry.md
  plugins/permission-backend/api-report.md
  plugins/permission-backend/src/service/router.ts
Labels: area:permission

#25705 Added test cases for publish:gerrit action
  .changeset/thick-walls-share.md
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.examples.test.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.examples.ts
Labels: area:scaffolder

#24957 bep(0008): adjustments following initial review
  beps/0008-docs-personas-framework-portal/README.md
Labels: BEP

#26141 backend-plugin-api: remove identity and token manager services
  .changeset/brown-actors-clap.md
  .changeset/kind-moose-learn.md
  .changeset/kind-walls-speak.md
  .changeset/large-poets-check.md
  .changeset/popular-cooks-camp.md
  .changeset/swift-radios-enjoy.md
  .changeset/twenty-clouds-melt.md
  packages/backend-app-api/api-report.md
  packages/backend-app-api/src/index.ts
  packages/backend-app-api/src/services/implementations/identity/identityServiceFactory.ts
  packages/backend-app-api/src/services/implementations/identity/index.ts
  packages/backend-app-api/src/services/implementations/index.ts
  packages/backend-app-api/src/services/implementations/tokenManager/index.ts
  packages/backend-app-api/src/services/implementations/tokenManager/tokenManagerServiceFactory.test.ts
  packages/backend-app-api/src/services/implementations/tokenManager/tokenManagerServiceFactory.ts
  packages/backend-common/api-report.md
  packages/backend-common/src/compat/auth/createLegacyAuthAdapters.test.ts
  packages/backend-common/src/compat/auth/createLegacyAuthAdapters.ts
  packages/backend-common/src/deprecated/tokens/types.ts
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/entrypoints/auth/authServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/permissions/permissionsServiceFactory.ts
  packages/backend-plugin-api/api-report.md
  packages/backend-plugin-api/src/services/definitions/IdentityService.ts
  packages/backend-plugin-api/src/services/definitions/TokenManagerService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/api-report.md
  packages/backend-test-utils/src/next/services/MockIdentityService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.test.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/authPlugin.ts
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.test.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-backend/src/service/router.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/module/catalogModuleBitbucketCloudEntityProvider.ts
  plugins/example-todo-list-backend/api-report.md
  plugins/example-todo-list-backend/src/plugin.ts
  plugins/example-todo-list-backend/src/service/router.test.ts
  plugins/example-todo-list-backend/src/service/router.ts
  plugins/permission-node/api-report.md
  plugins/permission-node/src/ServerPermissionClient.test.ts
  plugins/permission-node/src/ServerPermissionClient.ts
  plugins/search-backend-module-catalog/src/alpha.ts
  plugins/search-backend-module-explore/src/alpha.ts
  plugins/search-backend-module-techdocs/src/alpha.ts
  plugins/signals-backend/api-report.md
  plugins/signals-backend/src/plugin.ts
  plugins/signals-backend/src/service/router.ts
  plugins/user-settings-backend/dev/index.ts
Labels: area:catalog, auth, search, area:permission, area:search

#26133 [NBS 1.0] Create migration guide to stop support the legacy backend system in plugins
  docs/backend-system/building-plugins-and-modules/08-migrating.md
Labels: documentation

#26142 fix:(techdocs): Unnecessary updates in `useShadowRootElements`
  .changeset/brown-worms-sneeze.md
  plugins/techdocs-module-addons-contrib/src/TextSize/TextSize.test.tsx
  plugins/techdocs-react/src/hooks.test.ts
  plugins/techdocs-react/src/hooks.ts
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.test.tsx
Labels: area:techdocs

#26158 Docs: Correct reference to legacy plugin code reference in the NFS migration guide
  docs/frontend-system/building-plugins/05-migrating.md
Labels: documentation

#26157 fix secret widgets not able to be required or disabled
  .changeset/sharp-fans-tan.md
  plugins/scaffolder-react/api-report-alpha.md
  plugins/scaffolder-react/src/next/components/SecretWidget/SecretWidget.tsx
Labels: area:scaffolder

#26077 chore: Remove dependency on backend-common
  .changeset/six-goats-sort.md
  plugins/catalog-backend-module-gitlab/package.json
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
  yarn.lock
Labels: area:catalog

#26180 Add default component & resource entity filter to k8s plugin (new FE system only)
  .changeset/new-poets-unite.md
  plugins/kubernetes/README.md
  plugins/kubernetes/src/alpha/entityContents.tsx
Labels: area:kubernetes

#26192 microsite: BlackDuck Plugin updated
  microsite/data/plugins/blackduck.yaml
Labels: microsite

#26140 fix(#26139): handle duplicate end key parts in ReviewState table
  .changeset/tame-hornets-shake.md
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.test.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/util.test.ts
  plugins/scaffolder-react/src/next/components/ReviewState/util.ts
Labels: area:scaffolder

#26084 feat(scaffolder): Added EntityOwnerPicker to TemplateListPage filters
  .changeset/twenty-queens-grow.md
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.test.ts
  plugins/catalog-react/src/components/EntityOwnerPicker/useFacetsEntities.ts
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.test.tsx
  plugins/scaffolder/src/next/TemplateListPage/TemplateListPage.tsx
Labels: area:catalog, area:scaffolder

#25503 Fixed the issue for cleaning the scaffolder workspace.
  .changeset/five-tigers-share.md
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseTaskStore.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/DatabaseWorkspaceProvider.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

#26151 fix ordered by-query call
  .changeset/tough-peaches-kneel.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

#26200 signals: add SignalsDisplay to simplify installation
  .changeset/shiny-zoos-film.md
  .changeset/tricky-apricots-film.md
  docs/notifications/index.md
  packages/app/src/App.tsx
  packages/app/src/plugins.ts
  plugins/signals-react/src/hooks/useSignal.ts
  plugins/signals/api-report.md
  plugins/signals/src/index.ts
  plugins/signals/src/plugin.ts
Labels: documentation

#26206 read awsalb signer from header
  .changeset/blue-forks-cry.md
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.ts
  plugins/auth-backend-module-aws-alb-provider/src/types.ts
Labels: auth

#26209 fix test race
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.test.ts
Labels: area:scaffolder

#26208 Patch release of #26151, #26206
  package.json
  packages/backend-dynamic-feature-service/CHANGELOG.md
  packages/backend-dynamic-feature-service/package.json
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/package.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  plugins/auth-backend-module-aws-alb-provider/CHANGELOG.md
  plugins/auth-backend-module-aws-alb-provider/package.json
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.test.ts
  plugins/auth-backend-module-aws-alb-provider/src/authenticator.ts
  plugins/auth-backend-module-aws-alb-provider/src/types.ts
  plugins/auth-backend-module-oidc-provider/CHANGELOG.md
  plugins/auth-backend-module-oidc-provider/package.json
  plugins/auth-backend/CHANGELOG.md
  plugins/auth-backend/package.json
  plugins/catalog-backend-module-github-org/CHANGELOG.md
  plugins/catalog-backend-module-github-org/package.json
  plugins/catalog-backend-module-github/CHANGELOG.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-incremental-ingestion/CHANGELOG.md
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-logs/CHANGELOG.md
  plugins/catalog-backend-module-logs/package.json
  plugins/catalog-backend-module-openapi/CHANGELOG.md
  plugins/catalog-backend-module-openapi/package.json
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog, auth

#26176 [microsite] add analytics-generic to plugins directory
  microsite/data/plugins/analytics-module-generic.yaml
Labels: microsite

#26146 [NBS Docs] for catalog-backend-module-incremental-ingestion plugin
  .changeset/swift-seahorses-share.md
  plugins/catalog-backend-module-incremental-ingestion/README.md
Labels: area:catalog

#26080 [NBS 1.0] Remove `backend-common` as dependency of `techdocs-node`
  .changeset/spicy-poems-hammer.md
  plugins/techdocs-node/api-report.md
  plugins/techdocs-node/package.json
  plugins/techdocs-node/src/helpers.ts
  plugins/techdocs-node/src/stages/generate/generators.test.ts
  plugins/techdocs-node/src/stages/generate/generators.ts
  plugins/techdocs-node/src/stages/generate/helpers.test.ts
  plugins/techdocs-node/src/stages/generate/helpers.ts
  plugins/techdocs-node/src/stages/generate/mkdocsPatchers.ts
  plugins/techdocs-node/src/stages/generate/techdocs.ts
  plugins/techdocs-node/src/stages/generate/types.ts
  plugins/techdocs-node/src/stages/prepare/dir.test.ts
  plugins/techdocs-node/src/stages/prepare/dir.ts
  plugins/techdocs-node/src/stages/prepare/types.ts
  plugins/techdocs-node/src/stages/prepare/url.ts
  plugins/techdocs-node/src/stages/publish/awsS3.test.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.test.ts
  plugins/techdocs-node/src/stages/publish/googleStorage.ts
  plugins/techdocs-node/src/stages/publish/index.ts
  plugins/techdocs-node/src/stages/publish/local.test.ts
  plugins/techdocs-node/src/stages/publish/local.ts
  plugins/techdocs-node/src/stages/publish/migrations/GoogleMigration.ts
  plugins/techdocs-node/src/stages/publish/openStackSwift.test.ts
  plugins/techdocs-node/src/stages/publish/openStackSwift.ts
  plugins/techdocs-node/src/stages/publish/publish.test.ts
  plugins/techdocs-node/src/stages/publish/types.ts
  yarn.lock
Labels: area:techdocs

#26214 Fix author name for ai assistant plugin
  microsite/data/plugins/ai-assistant.yaml
Labels: microsite

#26198 Create kubelog.yaml, Add Kubelog plugin
  microsite/data/plugins/kubelog.yaml
Labels: microsite

#25308 Add proxy config to keeping backstage updated docs
  contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md
  docs/getting-started/keeping-backstage-updated.md
  docs/tooling/cli/03-commands.md
Labels: documentation

#26153 fix microsoft auth and ingestion for users without defined email
  .changeset/real-pants-rule.md
  plugins/auth-backend-module-microsoft-provider/api-report.md
  plugins/auth-backend-module-microsoft-provider/src/resolvers.ts
  plugins/auth-backend/api-report.md
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/defaultTransformers.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/defaultTransformers.ts
Labels: area:catalog, auth

#26199 [NBS 1.0] Deprecate `techdocs-backend` create router
  .changeset/funny-houses-rest.md
  plugins/techdocs-backend/api-report.md
  plugins/techdocs-backend/src/cache/TechDocsCache.test.ts
  plugins/techdocs-backend/src/cache/TechDocsCache.ts
  plugins/techdocs-backend/src/cache/cacheMiddleware.test.ts
  plugins/techdocs-backend/src/cache/cacheMiddleware.ts
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.test.ts
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.test.ts
  plugins/techdocs-backend/src/service/CachedEntityLoader.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.test.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
  plugins/techdocs-backend/src/service/router.test.ts
  plugins/techdocs-backend/src/service/router.ts
Labels: area:techdocs

#25949 Updated TechDocs Mermaid tutorial to add `markdown-inline-mermaid` example
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#26213 add gravatar plugin to backstage site
  microsite/data/plugins/gravatar.yaml
Labels: microsite

#26224 Update writing-custom-field-extensions.md
  docs/features/software-templates/writing-custom-field-extensions.md
Labels: documentation

#26221 frontend-test-utils: remove render method
  .changeset/forty-toes-float.md
  packages/core-compat-api/src/compatWrapper/compatWrapper.test.tsx
  packages/frontend-plugin-api/src/blueprints/AppRootWrapperBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-test-utils/api-report.md
  packages/frontend-test-utils/src/app/createExtensionTester.test.tsx
  packages/frontend-test-utils/src/app/createExtensionTester.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog/src/alpha/blueprints/CatalogFilterBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchResultListItemBlueprint.test.tsx
Labels: area:catalog, search, area:search

#26230 [NBS 1.0] Use `mockErrorHandler` instead of `MiddlewareFactory` in tests
  packages/backend-defaults/src/entrypoints/httpRouter/createCredentialsBarrier.test.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.test.ts
  plugins/signals-backend/src/service/router.test.ts
Labels: search, area:scaffolder, area:search

#26204 frontend-plugin-api: consolidate type parameters for extension definitions and blueprints
  .changeset/cool-melons-check.md
  .changeset/flat-kangaroos-push.md
  packages/app-next-example-plugin/api-report.md
  packages/core-compat-api/api-report.md
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/convertLegacyPageExtension.test.tsx
  packages/core-compat-api/src/convertLegacyPageExtension.tsx
  packages/core-compat-api/src/convertLegacyPlugin.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.test.ts
  packages/frontend-app-api/src/wiring/createApp.tsx
  packages/frontend-plugin-api/api-report.md
  packages/frontend-plugin-api/src/blueprints/ApiBlueprint.test.ts
  packages/frontend-plugin-api/src/blueprints/AppRootElementBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/AppRootWrapperBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavItemBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/NavLogoBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/PageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/RouterBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/SignInPageBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/ThemeBlueprint.test.ts
  packages/frontend-plugin-api/src/blueprints/TranslationBlueprint.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createExtensionOverrides.test.ts
  packages/frontend-plugin-api/src/wiring/createExtensionOverrides.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
  packages/frontend-plugin-api/src/wiring/types.ts
  packages/frontend-test-utils/api-report.md
  packages/frontend-test-utils/src/app/createExtensionTester.tsx
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  plugins/api-docs/api-report-alpha.md
  plugins/app-visualizer/api-report.md
  plugins/catalog-graph/api-report-alpha.md
  plugins/catalog-import/api-report-alpha.md
  plugins/catalog-react/api-report-alpha.md
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.test.tsx
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityCardExtension.test.tsx
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityCardExtension.tsx
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityContentExtension.test.tsx
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityContentExtension.tsx
  plugins/catalog/api-report-alpha.md
  plugins/catalog/src/alpha/blueprints/CatalogFilterBlueprint.test.tsx
  plugins/devtools/api-report-alpha.md
  plugins/home/api-report-alpha.md
  plugins/kubernetes/api-report-alpha.md
  plugins/org/api-report-alpha.md
  plugins/scaffolder/api-report-alpha.md
  plugins/search-react/api-report-alpha.md
  plugins/search-react/src/alpha/blueprints/SearchResultListItemBlueprint.test.tsx
  plugins/search/api-report-alpha.md
  plugins/techdocs/api-report-alpha.md
  plugins/user-settings/api-report-alpha.md
Labels: area:catalog, area:techdocs, area:kubernetes, search, homepage, area:scaffolder, area:home, area:search

#26196 add scaffolder review step custom name option
  .changeset/four-ties-raise.md
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.test.tsx
  plugins/scaffolder-react/src/next/components/ReviewState/ReviewState.tsx
Labels: area:scaffolder

#25939 docs: add info about signals usage in own plugins
  docs/notifications/index.md
Labels: documentation

#26259 Harmonix Project update
  microsite/data/plugins/aws-app-development.yaml
Labels: microsite

#26238 Update url reader documentation
  docs/backend-system/core-services/url-reader.md
  docs/plugins/url-reader.md
  microsite/docusaurus.config.ts
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#26287 [NBS 1.0] Delete `@backstage/backend-tasks` package
  .changeset/pre.json
  .changeset/violet-apricots-smoke.md
  docs/backend-system/building-plugins-and-modules/01-index.md
  packages/backend-tasks/.eslintrc.js
  packages/backend-tasks/CHANGELOG.md
  packages/backend-tasks/README.md
  packages/backend-tasks/api-report.md
  packages/backend-tasks/catalog-info.yaml
  packages/backend-tasks/knip-report.md
  packages/backend-tasks/migrations/20210928160613_init.js
  packages/backend-tasks/migrations/20240712211735_nullable_next_run.js
  packages/backend-tasks/package.json
  packages/backend-tasks/src/database/migrateBackendTasks.ts
  packages/backend-tasks/src/database/tables.ts
  packages/backend-tasks/src/deprecated.ts
  packages/backend-tasks/src/index.ts
  packages/backend-tasks/src/migrations.test.ts
  packages/backend-tasks/src/setupTests.ts
  packages/backend-tasks/src/tasks/LocalTaskWorker.test.ts
  packages/backend-tasks/src/tasks/LocalTaskWorker.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerImpl.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerJanitor.test.ts
  packages/backend-tasks/src/tasks/PluginTaskSchedulerJanitor.ts
  packages/backend-tasks/src/tasks/TaskScheduler.test.ts
  packages/backend-tasks/src/tasks/TaskScheduler.ts
  packages/backend-tasks/src/tasks/TaskWorker.test.ts
  packages/backend-tasks/src/tasks/TaskWorker.ts
  packages/backend-tasks/src/tasks/__testUtils__/createTestScopedSignal.ts
  packages/backend-tasks/src/tasks/index.ts
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.test.ts
  packages/backend-tasks/src/tasks/readTaskScheduleDefinitionFromConfig.ts
  packages/backend-tasks/src/tasks/types.ts
  packages/backend-tasks/src/tasks/util.test.ts
  packages/backend-tasks/src/tasks/util.ts
  packages/create-app/src/lib/versions.ts
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  yarn.lock
Labels: documentation

#26240 feat: move `getEntities` ordering to database
  .changeset/loud-brooms-pull.md
  packages/catalog-client/src/CatalogClient.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

#26286 remove various little backend-common references
  .changeset/fresh-bears-prove.md
  SECURITY.md
  docs/backend-system/core-services/database.md
  docs/contribute/project-structure.md
  packages/cli/config/eslint-factory.js
  packages/cli/templates/default-backend-module/package.json.hbs
  packages/cli/templates/default-backend-plugin/package.json.hbs
  packages/cli/templates/scaffolder-module/package.json.hbs
  packages/cli/templates/scaffolder-module/src/actions/example/example.test.ts
  packages/create-app/src/lib/tasks.test.ts
  packages/create-app/src/lib/versions.ts
  packages/create-app/templates/default-app/packages/backend/package.json.hbs
  plugins/auth-backend/src/identity/UserInfoDatabaseHandler.test.ts
Labels: documentation, auth

#26301 docs/notifications: some fixes
  docs/notifications/index.md
Labels: documentation

#26223 [Kubernetes] Skip start without config
  .changeset/serious-spies-knock.md
  plugins/kubernetes-backend/src/plugin.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
Labels: area:kubernetes

#25749 Wrap scheduler tasks in Open Telemetry spans
  .changeset/rich-bees-tickle.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/util.ts
Labels: area:core

#26352 frontend-defaults: add createPublicSignInApp
  .changeset/gentle-hats-act.md
  .changeset/plenty-dragons-know.md
  docs/tutorials/enable-public-entry.md
  packages/app-next/package.json
  packages/app-next/src/App.tsx
  packages/app-next/src/index-public-experimental.tsx
  packages/app-next/src/overrides/SignInPage.tsx
  packages/frontend-defaults/api-report.md
  packages/frontend-defaults/package.json
  packages/frontend-defaults/src/createApp.tsx
  packages/frontend-defaults/src/createPublicSignInApp.test.tsx
  packages/frontend-defaults/src/createPublicSignInApp.tsx
  packages/frontend-defaults/src/index.ts
  yarn.lock
Labels: documentation

#26373 docs(debug): add information about profiling
  docs/tooling/local-dev/profiling.md
  microsite/sidebars.json
  mkdocs.yml
Labels: documentation, microsite

#25669 chore(docs): Add GlobalLogic Terraform plugin to Plugin Directory
  microsite/data/plugins/hashicorp-terraform.yaml
  microsite/static/img/terraform-logo.svg
Labels: microsite

#26388 Clean up the backend-defaults cache report
  .changeset/chilled-cameras-change.md
  .changeset/wise-forks-play.md
  packages/backend-common/api-report.md
  packages/backend-common/src/deprecated/index.ts
  packages/backend-defaults/api-report-cache.md
  packages/backend-defaults/src/entrypoints/cache/CacheManager.test.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
  packages/backend-defaults/src/entrypoints/cache/cacheServiceFactory.ts
  packages/backend-defaults/src/entrypoints/cache/index.ts
  packages/backend-defaults/src/entrypoints/cache/types.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.ts
  plugins/techdocs-backend/src/service/router.test.ts
Labels: area:catalog, area:techdocs
