Repository backstage/backstage, pull requests merged in 2025-09, with the labels that each got.

#31032 docs: fix diff for building apps guide
  docs/frontend-system/building-apps/08-migrating.md
Labels: area:documentation

#31011 Improve MCP backend error handling
  .changeset/curvy-sites-rhyme.md
  .changeset/icy-camels-throw.md
  plugins/catalog-backend/src/actions/createGetCatalogEntityAction.ts
  plugins/mcp-actions-backend/src/services/McpService.test.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
  plugins/mcp-actions-backend/src/services/handleErrors.ts
Labels: area:catalog

#31019 Patch release of #31018
  package.json
  packages/techdocs-cli/CHANGELOG.md
  packages/techdocs-cli/package.json
Labels: area:techdocs

#31003 Add /alpha to example docs for ActionsRegistryService
  docs/backend-system/core-services/actions-registry.md
Labels: area:documentation

#30722 feat(config): allow specifying env specific config files
  .changeset/better-eagles-tickle.md
  docs/conf/index.md
  packages/config-loader/src/sources/ConfigSources.test.ts
  packages/config-loader/src/sources/ConfigSources.ts
Labels: area:documentation

#30678 backend-defaults: use configured namespace and keyPrefixSeparator in cache manager
  .changeset/big-cameras-turn.md
  docs/backend-system/core-services/cache.md
  packages/backend-defaults/src/entrypoints/cache/CacheManager.test.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
Labels: area:documentation, area:core

#31050 Prevent deadlock in catalog deferred stitching
  .changeset/late-swans-press.md
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.test.ts
  plugins/catalog-backend/src/database/operations/stitcher/markForStitching.ts
Labels: area:catalog

#30988 fix(scaffolder): show “View TechDocs” link when template has backstage.io/techdocs-entity and backstage.io/techdocs-entity-path
  .changeset/itchy-moons-start.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/alpha/components/TemplateListPage/TemplateListPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateListPage/TemplateListPage.tsx
  yarn.lock
Labels: area:scaffolder

#31076 Improve readability in getting-started documentation
  docs/getting-started/index.md
Labels: area:documentation

#31100 Made the chages to the software catalog Link
  docs/frontend-system/building-plugins/01-index.md
Labels: area:documentation

#30128 module-elasticsearch: include custom document id to batch upload
  .changeset/stale-adults-hammer.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/search/search-engines.md
  plugins/search-backend-module-elasticsearch/config.d.ts
  plugins/search-backend-module-elasticsearch/report.api.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchClientWrapper.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
Labels: area:documentation, area:search

#31155 fix: clean up types
  .changeset/rude-socks-serve.md
  packages/types/src/observable.ts
  plugins/catalog-react/report-alpha.api.md
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
  plugins/notifications-backend/migrations/20231215_init.js
  plugins/notifications-backend/migrations/20240221_removeDone.js
  plugins/notifications-backend/migrations/20240313_broadcast.js
  plugins/notifications-backend/migrations/20240808_settings.js
  plugins/notifications-backend/migrations/20240902_addIcon.js
  plugins/notifications-backend/migrations/20250317_addTopic.js
Labels: area:catalog

#30727 feat(backend-defaults): add backend.logger configuration options
  .changeset/silly-horses-share.md
  docs/backend-system/core-services/root-logger.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/report-rootLogger.api.md
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.test.ts
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.ts
  packages/backend-defaults/src/entrypoints/rootLogger/config.test.ts
  packages/backend-defaults/src/entrypoints/rootLogger/config.ts
  packages/backend-defaults/src/entrypoints/rootLogger/index.ts
  packages/backend-defaults/src/entrypoints/rootLogger/rootLoggerServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/rootLogger/rootLoggerServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootLogger/types.ts
  packages/backend-defaults/src/entrypoints/rootLogger/utils.test.ts
  packages/backend-defaults/src/entrypoints/rootLogger/utils.ts
Labels: area:documentation, area:core

#31141 Create kwirthmetrics.yaml
  microsite/data/plugins/kwirthmetrics.yaml
Labels: area:microsite

#31161 add release notes for 1.43.0
  docs/releases/v1.43.0.md
Labels: area:documentation

#31170 fix release typo
  docs/releases/v1.43.0.md
Labels: area:documentation

#31186 Adds config definitions for Azure Blob Storage in integration and catalog provider
  .changeset/rare-states-pay.md
  packages/integration/config.d.ts
  plugins/catalog-backend-module-azure/config.d.ts
Labels: area:catalog

#31201 Fix API error in catalog graph plugin
  .changeset/cool-baboons-count.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-graph/src/alpha.tsx
Labels: area:catalog

#31205 Patch release pr 31200 31201 31203
  package.json
  packages/core-components/CHANGELOG.md
  packages/core-components/package.json
  packages/core-components/src/layout/ItemCard/ItemCardHeader.tsx
  plugins/catalog-graph/CHANGELOG.md
  plugins/catalog-graph/package.json
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-react/CHANGELOG.md
  plugins/catalog-react/package.json
  plugins/catalog-react/src/components/EntityTable/columns.test.tsx
  plugins/catalog-react/src/components/EntityTable/columns.tsx
Labels: area:catalog

#31168 Fixed DependencyGraph size issue
  .changeset/public-sites-admire.md
  packages/core-components/src/components/DependencyGraph/DependencyGraph.tsx
  plugins/catalog-graph/src/components/EntityRelationsGraph/EntityRelationsGraph.tsx
Labels: area:catalog

#31058 Fixed duplicate route warning for TechDocs Addons documentation in Do…
  docs/features/techdocs/addons--new.md
Labels: area:documentation

#31262 Patch release of #31231, #31250, #31259
  docs/features/software-catalog/configuration.md
  package.json
  packages/config-loader/CHANGELOG.md
  packages/config-loader/package.json
  packages/config-loader/src/sources/EnvConfigSource.ts
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/config/src/reader.test.ts
  packages/config/src/reader.ts
  plugins/catalog-backend/CHANGELOG.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/util.test.ts
  plugins/catalog-backend/src/service/util.ts
Labels: area:documentation, area:catalog

#31280 Log before provider-orphaning eviction happens
  .changeset/brown-turkeys-send.md
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.test.ts
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.ts
Labels: area:catalog

#31290 `scaffolder-react`: Don't mark as finished loading until we've actually hit the event stream
  .changeset/curvy-bobcats-melt.md
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/hooks/useEventStream.ts
Labels: area:scaffolder

#31255 [CLI] Package Start Entrypoint Option
  .changeset/modern-pugs-appear.md
  docs/tooling/cli/03-commands.md
  packages/cli/cli-report.md
  packages/cli/src/modules/build/commands/package/start/command.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.test.ts
  packages/cli/src/modules/build/commands/package/start/startPackage.ts
  packages/cli/src/modules/build/index.ts
Labels: area:documentation, area:framework

#31230 fix(bui): Enable tooltips on disabled buttons
  .changeset/moody-singers-deny.md
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Labels: area:design-system, area:storybook

#31065 fix(kubernetes): fixes calculation of pod cpu utilization
  .changeset/twelve-guests-sit.md
  plugins/kubernetes-react/src/components/Pods/PodsTable.test.tsx
  plugins/kubernetes-react/src/utils/pod.test.tsx
  plugins/kubernetes-react/src/utils/pod.tsx
Labels: area:kubernetes

#31269 Docs: Add PromiseRouter import to http-router.md
  docs/backend-system/core-services/http-router.md
Labels: area:documentation

#31197 Feat(slack-notification-backend): Adds username as optional config for the Slack notifications
  .changeset/heavy-cooks-divide.md
  docs/notifications/processors.md
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
  plugins/notifications-backend-module-slack/src/lib/util.ts
Labels: area:documentation
