Repository backstage/backstage, pull requests merged in 2025-10, with the labels that each got.

#31287 docs: clarify legacy backend system steps
  docs/integrations/gitlab/discovery.md
Labels: area:documentation

#31319 cli: add Backstage Yarn plugin support for templating
  .changeset/yarn-plugin-integration.md
  docs/tooling/cli/04-templates.md
  packages/cli/src/lib/version.test.ts
  packages/cli/src/lib/version.ts
  packages/cli/src/lib/yarnPlugin.test.ts
  packages/cli/src/lib/yarnPlugin.ts
  packages/cli/src/modules/migrate/commands/versions/bump.ts
  packages/cli/src/modules/new/lib/execution/PortableTemplater.ts
Labels: area:documentation

#30994 fix(home): Correct clearAll logic to properly handle deletable flag in CustomHomepageGrid
  .changeset/fuzzy-trams-kick.md
  packages/app/src/components/home/CustomizableHomePage.tsx
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Labels: area:home, area:search

#31224 Remove unused dependencies in notifications and scaffolder
  .changeset/shiny-candles-hide.md
  plugins/notifications-backend-module-email/knip-report.md
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-backend/knip-report.md
  plugins/notifications-backend/package.json
  plugins/notifications/knip-report.md
  plugins/notifications/package.json
  plugins/scaffolder-backend-module-bitbucket-server/knip-report.md
  plugins/scaffolder-backend-module-bitbucket-server/package.json
  plugins/scaffolder-backend-module-gitlab/knip-report.md
  plugins/scaffolder-backend-module-gitlab/package.json
  yarn.lock
Labels: area:scaffolder

#31246 Implement AbortController request cancellation for search.
  .changeset/ripe-yaks-brake.md
  plugins/search-react/report.api.md
  plugins/search-react/src/api.ts
  plugins/search-react/src/components/SearchAutocomplete/SearchAutocomplete.test.tsx
  plugins/search-react/src/components/SearchBar/SearchBar.test.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.test.tsx
  plugins/search-react/src/components/SearchPagination/SearchPagination.test.tsx
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
  plugins/search/src/apis.test.ts
  plugins/search/src/apis.ts
  plugins/search/src/components/HomePageComponent/HomePageSearchBar.test.tsx
  plugins/search/src/components/SearchModal/SearchModal.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.test.tsx
  plugins/search/src/components/SearchType/SearchType.Accordion.tsx
  plugins/search/src/components/SearchType/SearchType.test.tsx
  plugins/techdocs/src/search/components/TechDocsSearch.test.tsx
Labels: area:techdocs, area:search

#30884 Create doc-landing-page.md using html for table
  docs/landing-page/doc-landing-page.md
Labels: area:documentation
