Repository backstage/backstage, pull requests merged in 2025-04, with the labels that each got.

#29434 export deprecated type to fix e2e
  .changeset/huge-toys-beam.md
  plugins/catalog-import/report.api.md
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/index.ts
  yarn.lock
Labels: area:catalog

#29410 Fix default catalog table search
  .changeset/tasty-moments-do.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: area:catalog

#29407 feat: support pathes in gitlab:group:ensureExists (#29399)
  .changeset/crazy-hands-film.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.ts
Labels: area:scaffolder

#29403 [TechDocs]: fix entity catalog docs page not loading
  .changeset/common-parrots-wink.md
  plugins/techdocs-react/src/alpha.ts
Labels: area:techdocs

#29308 Add Slack Notification Processor
  .changeset/light-cameras-fold.md
  docs/notifications/processors.md
  plugins/notifications-backend-module-slack/.eslintrc.js
  plugins/notifications-backend-module-slack/README.md
  plugins/notifications-backend-module-slack/catalog-info.yaml
  plugins/notifications-backend-module-slack/config.d.ts
  plugins/notifications-backend-module-slack/package.json
  plugins/notifications-backend-module-slack/report.api.md
  plugins/notifications-backend-module-slack/src/index.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.test.ts
  plugins/notifications-backend-module-slack/src/lib/SlackNotificationProcessor.ts
  plugins/notifications-backend-module-slack/src/lib/constants.ts
  plugins/notifications-backend-module-slack/src/lib/index.ts
  plugins/notifications-backend-module-slack/src/lib/types.ts
  plugins/notifications-backend-module-slack/src/lib/util.ts
  plugins/notifications-backend-module-slack/src/module.ts
  yarn.lock
Labels: documentation

#29424 [docs] add branch naming caveat to github discovery integration
  .changeset/clear-pigs-share.md
  docs/integrations/github/discovery.md
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProviderConfig.ts
Labels: area:catalog, documentation

#29346 feat(catalog-import): adding translation for `Register an existing component` in catalog-import plugin
  .changeset/moody-eagles-smile.md
  plugins/catalog-import/report-alpha.api.md
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-import/src/components/DefaultImportPage/DefaultImportPage.tsx
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.test.tsx
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
  plugins/catalog-import/src/translation.ts
Labels: area:catalog

#29422 Kubernetes - Added New Frontend System filter for tab
  .changeset/dry-cars-build.md
  plugins/kubernetes/src/alpha/entityContents.tsx
Labels: area:kubernetes

#29437 Revert "Fix default catalog table search"
  .changeset/tasty-moments-do.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: area:catalog

#29441 Update Azure techdocs publisher to pipe file content to res.
  .changeset/stale-chairs-look.md
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.test.ts
  plugins/techdocs-node/src/stages/publish/azureBlobStorage.ts
Labels: area:techdocs

#29450 [Catalog] Use a different id for the legacy catalog client ref
  .changeset/few-humans-listen.md
  .changeset/rich-ends-throw.md
  packages/cli/templates/backend-plugin/src/plugin.ts.hbs
  packages/cli/templates/backend-plugin/src/services/TodoListService/createTodoListService.ts
  plugins/catalog-node/src/alpha.ts
Labels: area:catalog

#29383 factor JSON schema rendering and scaffolder usage examples out of Act…
  .changeset/slimy-houses-chew.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/RenderSchema/RenderSchema.test.tsx
  plugins/scaffolder/src/components/RenderSchema/RenderSchema.tsx
  plugins/scaffolder/src/components/RenderSchema/index.ts
  plugins/scaffolder/src/components/RenderSchema/types.ts
  plugins/scaffolder/src/components/ScaffolderUsageExamplesTable/ScaffolderUsageExamplesTable.test.tsx
  plugins/scaffolder/src/components/ScaffolderUsageExamplesTable/ScaffolderUsageExamplesTable.tsx
  plugins/scaffolder/src/components/ScaffolderUsageExamplesTable/index.ts
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#29473 Patch release of #29434, #29450
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/templates/backend-plugin/src/plugin.ts.hbs
  packages/cli/templates/backend-plugin/src/services/TodoListService/createTodoListService.ts
  plugins/catalog-import/CHANGELOG.md
  plugins/catalog-import/package.json
  plugins/catalog-import/report.api.md
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/index.ts
  plugins/catalog-node/CHANGELOG.md
  plugins/catalog-node/package.json
  plugins/catalog-node/src/alpha.ts
  yarn.lock
Labels: area:catalog

#29468 chore: upgrade yarn to v4
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.8.1.cjs
  .yarn/releases/yarn-4.8.1.cjs
  .yarnrc.yml
  canon-docs/yarn.lock
  microsite/yarn.lock
  package.json
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.test.tsx
  plugins/techdocs-module-addons-contrib/src/LightBox/LightBox.test.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/ReportIssue.test.tsx
  plugins/techdocs-module-addons-contrib/src/TextSize/TextSize.test.tsx
  storybook/yarn.lock
  yarn.lock
Labels: storybook, area:techdocs, microsite

#29472 make certificate strings optional for Dev environments
  .changeset/tangy-dryers-lick.md
  packages/cli/src/modules/build/lib/bundler/server.ts
Labels: contribfest

#29146 ✨ Add support for allowing branch updates
  .changeset/silent-snails-lie.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/github.test.ts
  plugins/scaffolder-backend-module-github/src/actions/github.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.ts
  plugins/scaffolder-backend-module-github/src/actions/helpers.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

#29477 Move catalog filter blueprint to -react package
  .changeset/happy-spoons-sing.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/CatalogFilterBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/CatalogFilterBlueprint.ts
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/blueprints/index.ts
  plugins/catalog/src/alpha/filters.tsx
  plugins/catalog/src/alpha/index.ts
Labels: area:catalog

#29025 feat: allow multiple CLI reports for easier diff
  packages/cli/cli-report.backstage-cli-alpha.md
  packages/cli/cli-report.backstage-cli.md
  packages/cli/package.json
  packages/cli/src/alpha.ts
  packages/cli/src/modules/config/alpha.ts
  packages/codemods/cli-report.md
  packages/create-app/cli-report.md
  packages/e2e-test/cli-report.md
  packages/repo-tools/cli-report.md
  packages/repo-tools/src/commands/api-reports/cli-reports/generateCliReport.ts
  packages/repo-tools/src/commands/api-reports/cli-reports/runCliExtraction.ts
  packages/techdocs-cli/cli-report.md
  yarn.lock
Labels: area:techdocs

#29368 Fix for duplicate results in queryEntities when using an orderField
  .changeset/famous-tips-raise.md
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.test.ts
  plugins/catalog-backend/src/service/DefaultEntitiesCatalog.ts
Labels: area:catalog

#29489 cli: add new 'repo start' command
  .changeset/chubby-tables-tie.md
  .changeset/four-drinks-begin.md
  .changeset/twelve-hornets-smell.md
  CONTRIBUTING.md
  contrib/docker/devops/makefile
  docs/getting-started/config/database.md
  docs/getting-started/index.md
  docs/getting-started/logging-in.md
  docs/permissions/custom-rules.md
  docs/permissions/getting-started.md
  docs/plugins/create-a-plugin.md
  docs/plugins/integrating-search-into-plugins.md
  docs/tooling/cli/03-commands.md
  docs/tooling/local-dev/debugging.md
  docs/tooling/local-dev/profiling.md
  docs/tutorials/setup-opentelemetry.md
  lighthouserc.js
  microsite/blog/2020-04-30-how-to-quickly-set-up-backstage.mdx
  package.json
  packages/cli/cli-report.backstage-cli.md
  packages/cli/src/commands/index.ts
  packages/cli/src/lib/errors.ts
  packages/cli/src/lib/runner/runBackend.ts
  packages/cli/src/modules/build/lib/bundler/server.ts
  packages/cli/src/modules/build/lib/bundler/types.ts
  packages/cli/src/modules/config/lib/config.ts
  packages/cli/src/modules/start/alpha.ts
  packages/cli/src/modules/start/commands/package/start/command.ts
  packages/cli/src/modules/start/commands/package/start/index.ts
  packages/cli/src/modules/start/commands/package/start/resolveLinkedWorkspace.ts
  packages/cli/src/modules/start/commands/package/start/startBackend.ts
  packages/cli/src/modules/start/commands/package/start/startFrontend.ts
  packages/cli/src/modules/start/commands/package/start/startPackage.ts
  packages/cli/src/modules/start/commands/repo/start.test.ts
  packages/cli/src/modules/start/commands/repo/start.ts
  packages/cli/src/modules/start/index.ts
  packages/cli/templates/backend-plugin/README.md.hbs
  packages/create-app/src/createApp.ts
  packages/create-app/templates/default-app/README.md
  packages/create-app/templates/default-app/package.json.hbs
  packages/create-app/templates/default-app/playwright.config.ts
  plugins/auth-backend/examples/docker-compose.oauth2-proxy.yaml
  plugins/catalog/README.md
  plugins/devtools/README.md
  plugins/search/README.md
Labels: area:catalog, auth, microsite, search, area:search, documentation

#29514 docs/frontend-system: polish plugin migration docs
  docs/frontend-system/architecture/60-migrations.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  docs/frontend-system/building-plugins/05-migrating.md
Labels: documentation

#29520 Update root-http-router.md
  docs/backend-system/core-services/root-http-router.md
Labels: documentation

#29535 [Catalog - GitLab Provider] fix: Add missing types to config.d.ts
  .changeset/wicked-ideas-cross.md
  plugins/catalog-backend-module-gitlab/config.d.ts
Labels: area:catalog

#29509 fix(docs): Fix VSCode launch.json configuration
  docs/tooling/local-dev/debugging.md
Labels: documentation

#29469 Add documentation for catalog extension point [ContribFest]
  .changeset/cruel-animals-sink.md
  plugins/catalog-node/report-alpha.api.md
  plugins/catalog-node/src/extensions.ts
Labels: area:catalog, contribfest

#29511 Added labels to scaffolder histogram metrics
  .changeset/legal-loops-push.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

#29546 catalog: couple of fixes for new frontend system
  .changeset/brown-pans-guess.md
  .changeset/kind-pianos-fold.md
  .changeset/rare-olives-lay.md
  .changeset/wet-towns-laugh.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
  plugins/catalog/src/alpha/entityCards.tsx
  plugins/catalog/src/alpha/entityContents.tsx
Labels: area:catalog

#29332 [DOCS] Adding Plugins Docs Update
  docs/getting-started/configure-app-with-plugins.md
Labels: documentation

#29319 feat: Improve Error Handling for Existing Branches in GitLab Actions
  .changeset/gold-bugs-rhyme.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
Labels: area:scaffolder

#29283 Made "github:deployKey:create" action idempotent
  .changeset/short-cloths-decide.md
  plugins/scaffolder-backend-module-github/src/actions/githubDeployKey.ts
Labels: stale, area:scaffolder

#29598 refactor: use default exports for gitlab and github event modules
  .changeset/odd-ducks-spend.md
  plugins/events-backend-module-github/package.json
  plugins/events-backend-module-github/report-alpha.api.md
  plugins/events-backend-module-github/report.api.md
  plugins/events-backend-module-github/src/alpha.ts
  plugins/events-backend-module-github/src/index.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubEventRouter.test.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubEventRouter.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubWebhook.test.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubWebhook.ts
  plugins/events-backend-module-gitlab/package.json
  plugins/events-backend-module-gitlab/report-alpha.api.md
  plugins/events-backend-module-gitlab/report.api.md
  plugins/events-backend-module-gitlab/src/alpha.ts
  plugins/events-backend-module-gitlab/src/index.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabEventRouter.test.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabEventRouter.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabWebhook.test.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabWebhook.ts
Labels: area:events

#29445 refactor: consolidate entity route param extraction in catalog-react
  .changeset/dull-masks-occur.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/EntityRefLink/EntityRefLink.tsx
  plugins/catalog-react/src/index.ts
  plugins/catalog-react/src/routes.test.ts
  plugins/catalog-react/src/routes.ts
Labels: area:catalog

#29559 Add Infisical Backstage Plugin
  microsite/data/plugins/infisical.yaml
Labels: microsite

#29371 feat: api-docs plugin support i18n
  .changeset/calm-pans-leave.md
  plugins/api-docs/report-alpha.api.md
  plugins/api-docs/src/alpha.tsx
  plugins/api-docs/src/components/ApiDefinitionDialog/ApiDefinitionDialog.tsx
  plugins/api-docs/src/components/ApiExplorerPage/DefaultApiExplorerPage.tsx
  plugins/api-docs/src/components/ApisCards/ConsumedApisCard.tsx
  plugins/api-docs/src/components/ApisCards/HasApisCard.tsx
  plugins/api-docs/src/components/ApisCards/ProvidedApisCard.tsx
  plugins/api-docs/src/components/ApisCards/presets.tsx
  plugins/api-docs/src/components/ComponentsCards/ConsumingComponentsCard.tsx
  plugins/api-docs/src/components/ComponentsCards/ProvidingComponentsCard.tsx
  plugins/api-docs/src/translation.ts
  plugins/scaffolder/report-alpha.api.md
Labels: area:scaffolder

#29616 fix: allow for webhookSecret to not be configured for events-backend
  .changeset/polite-horses-do.md
  plugins/events-backend-module-github/config.d.ts
  plugins/events-backend-module-github/report.api.md
  plugins/events-backend-module-github/src/http/createGithubSignatureValidator.test.ts
  plugins/events-backend-module-github/src/http/createGithubSignatureValidator.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubWebhook.test.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubWebhook.ts
  plugins/events-backend-module-gitlab/config.d.ts
  plugins/events-backend-module-gitlab/report.api.md
  plugins/events-backend-module-gitlab/src/http/createGitlabTokenValidator.test.ts
  plugins/events-backend-module-gitlab/src/http/createGitlabTokenValidator.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabWebhook.test.ts
  plugins/events-backend-module-gitlab/src/service/eventsModuleGitlabWebhook.ts
Labels: area:events

#29619 move the auth.backstageTokenExpiration key
  .changeset/early-boxes-check.md
  plugins/auth-backend/config.d.ts
Labels: auth

#29615 Add actor to user principal and improve validation in permission-backend
  .changeset/cold-rocks-laugh.md
  .changeset/pink-geese-teach.md
  packages/backend-defaults/src/entrypoints/auth/DefaultAuthService.ts
  packages/backend-defaults/src/entrypoints/auth/helpers.ts
  packages/backend-defaults/src/entrypoints/permissionsRegistry/permissionsRegistryServiceFactory.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/AuthService.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/next/services/MockAuthService.ts
  packages/backend-test-utils/src/next/services/mockCredentials.ts
  plugins/permission-backend/src/service/router.test.ts
  plugins/permission-backend/src/service/router.ts
Labels: area:permission

#29626 Add release notes for v1.38.0
  docs/releases/v1.38.0.md
Labels: documentation

#29627 Update v1.38.0.md
  docs/releases/v1.38.0.md
Labels: documentation

#29601 fix(scaffolder): make EntityPicker display consistent between dropdown and selected value
  .changeset/entity-picker-display-fix.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: area:scaffolder

#29629 Error Handling in Gitlab Repo Push
  .changeset/bumpy-showers-design.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
Labels: area:scaffolder

#29565 [DOCS] Contributing Guidelines
  CONTRIBUTING.md
  docs/contribute/getting-involved.md
Labels: documentation

#29635 unprocessed entities - removed legacy and backend-common
  .changeset/cyan-pots-appear.md
  packages/backend-legacy/package.json
  packages/backend-legacy/src/plugins/catalog.ts
  plugins/catalog-backend-module-unprocessed/README.md
  plugins/catalog-backend-module-unprocessed/package.json
  plugins/catalog-backend-module-unprocessed/report.api.md
  plugins/catalog-backend-module-unprocessed/src/UnprocessedEntitiesModule.ts
  plugins/catalog-backend-module-unprocessed/src/index.ts
  plugins/catalog-backend-module-unprocessed/src/module.ts
  yarn.lock
Labels: area:catalog

#29419 Fixes missing object kind support on gitlab event router
  .changeset/huge-olives-do.md
  plugins/events-backend-module-gitlab/src/router/GitlabEventRouter.test.ts
  plugins/events-backend-module-gitlab/src/router/GitlabEventRouter.ts
Labels: area:events

#29310 Added EntityOrderFilter to sort entities by different fields
  .changeset/sharp-numbers-doubt.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/UserListPicker/useAllEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useOwnedEntitiesCount.ts
  plugins/catalog-react/src/components/UserListPicker/useStarredEntitiesCount.ts
  plugins/catalog-react/src/filters.ts
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
  plugins/catalog-react/src/utils/filters.ts
Labels: area:catalog, merge-after-release

#29647 packages: remove backend-legacy package
  docs/conf/reading.md
  docs/features/software-catalog/external-integrations.md
  package.json
  packages/backend-legacy/.eslintrc.js
  packages/backend-legacy/.snyk
  packages/backend-legacy/CHANGELOG.md
  packages/backend-legacy/README.md
  packages/backend-legacy/catalog-info.yaml
  packages/backend-legacy/knip-report.md
  packages/backend-legacy/package.json
  packages/backend-legacy/src/index.test.ts
  packages/backend-legacy/src/index.ts
  packages/backend-legacy/src/metrics.ts
  packages/backend-legacy/src/plugins/DemoEventBasedEntityProvider.ts
  packages/backend-legacy/src/plugins/catalog.ts
  packages/backend-legacy/src/plugins/events.ts
  packages/backend-legacy/src/plugins/healthcheck.ts
  packages/backend-legacy/src/plugins/kubernetes.ts
  packages/backend-legacy/src/plugins/permission.ts
  packages/backend-legacy/src/plugins/scaffolder.ts
  packages/backend-legacy/src/types.ts
  yarn.lock
Labels: documentation

#29652 Revert "fix(scaffolder): make EntityPicker display consistent between dropdown and selected value"
  .changeset/entity-picker-display-fix.md
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
Labels: area:scaffolder

#29653 Patch release of #29625, #29642, #29650
  package.json
  packages/canon/CHANGELOG.md
  packages/canon/package.json
  plugins/scaffolder-backend/CHANGELOG.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-react/CHANGELOG.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder/CHANGELOG.md
  plugins/scaffolder/package.json
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/fields/EntityPicker/EntityPicker.tsx
  yarn.lock
Labels: area:scaffolder

#29654 try to get rid of https://backstage.io/docs/v1.1.0/
  docs/.release-notes-template.md
  docs/publishing.md
Labels: documentation

#29666 docs: Fix typos
  ADOPTERS.md
  beps/0002-dynamic-frontend-plugins/README.md
  canon-docs/src/app/(docs)/theme/theming/page.mdx
  contrib/docs/tutorials/aws-alb-aad-oidc-auth.md
  contrib/docs/tutorials/jsx-migration-codemod.md
  docs/backend-system/building-plugins-and-modules/08-migrating.md
  docs/features/kubernetes/authenticationstrategy.md
  docs/features/software-catalog/faq.md
  docs/features/software-templates/experimental.md
  docs/features/software-templates/writing-custom-field-extensions.md
  docs/features/software-templates/writing-templates.md
  docs/features/techdocs/how-to-guides.md
  docs/frontend-system/utility-apis/02-creating.md
  microsite/blog/2023-05-06-backstage-deploy-alpha.mdx
  microsite/blog/2024-09-24-dynatrace-adopter-spotlight.mdx
  microsite/blog/assets/2024-09-24/backstage_catalog_security_vulnerabilities.png
  microsite/data/plugins/backchat.yaml
  microsite/data/plugins/harness-iacm.yaml
  microsite/data/plugins/statuspage.yaml
  microsite/src/pages/community/index.tsx
Labels: microsite, BEP, documentation

#29035 Add `CatalogApi.getLocations`
  .changeset/yellow-cows-tickle.md
  packages/catalog-client/report-testUtils.api.md
  packages/catalog-client/report.api.md
  packages/catalog-client/src/CatalogClient.test.ts
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.ts
  packages/catalog-client/src/types/api.ts
  packages/catalog-client/src/types/index.ts
  plugins/catalog-node/report-testUtils.api.md
  plugins/catalog-node/report.api.md
  plugins/catalog-node/src/catalogService.ts
  plugins/catalog-node/src/testUtils/catalogServiceMock.ts
  plugins/catalog-node/src/testUtils/types.ts
  plugins/catalog-react/src/testUtils/catalogApiMock.ts
Labels: area:catalog

#29622 feat(): Added optional assignees parameter to publish:github:pull-request action
  .changeset/spicy-steaks-swim.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend/report.api.md
Labels: area:scaffolder

#29660 Removed CatalogBuilder Usages
  .changeset/bright-moles-sort.md
  .changeset/old-crews-serve.md
  packages/backend-dynamic-feature-service/package.json
  packages/backend-dynamic-feature-service/report.api.md
  packages/backend-dynamic-feature-service/src/manager/index.ts
  packages/backend-dynamic-feature-service/src/manager/plugin-manager.test.ts
  packages/backend-dynamic-feature-service/src/manager/types.ts
  plugins/catalog-backend-module-incremental-ingestion/package.json
  plugins/catalog-backend-module-incremental-ingestion/report-alpha.api.md
  plugins/catalog-backend-module-incremental-ingestion/report.api.md
  plugins/catalog-backend-module-incremental-ingestion/src/alpha.ts
  plugins/catalog-backend-module-incremental-ingestion/src/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/IncrementalCatalogBuilder.ts
  plugins/catalog-backend-module-incremental-ingestion/src/service/index.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
Labels: area:catalog

#29502 add template extensions page
  .changeset/small-eggs-develop.md
  lighthouserc.js
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder-react/src/translation.ts
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbar.tsx
  plugins/scaffolder/src/alpha/components/TemplateListPage/TemplateListPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateListPage/TemplateListPage.tsx
  plugins/scaffolder/src/alpha/plugin.tsx
  plugins/scaffolder/src/api.ts
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
  plugins/scaffolder/src/components/ListTasksPage/ListTasksPage.tsx
  plugins/scaffolder/src/components/RenderSchema/RenderSchema.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/scaffolder/src/components/TemplatingExtensionsPage/TemplateFilters.tsx
  plugins/scaffolder/src/components/TemplatingExtensionsPage/TemplateGlobals.tsx
  plugins/scaffolder/src/components/TemplatingExtensionsPage/TemplatingExtensionsPage.test.tsx
  plugins/scaffolder/src/components/TemplatingExtensionsPage/TemplatingExtensionsPage.tsx
  plugins/scaffolder/src/components/TemplatingExtensionsPage/functionArgs.ts
  plugins/scaffolder/src/components/TemplatingExtensionsPage/index.ts
  plugins/scaffolder/src/components/TemplatingExtensionsPage/navigation.ts
  plugins/scaffolder/src/components/TemplatingExtensionsPage/types.ts
  plugins/scaffolder/src/plugin.tsx
  plugins/scaffolder/src/routes.ts
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#29656 couple of type fixes
  plugins/home/src/homePageComponents/FeaturedDocsCard/Content.tsx
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
Labels: area:techdocs, homepage, area:home, area:search

#29659 SendGrid custom scaffolder action
  microsite/data/plugins/sendgrid.yaml
Labels: microsite

#29618 Add `events-backend-module-google-pubsub`
  .changeset/warm-llamas-return.md
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/events-backend-module-google-pubsub/.eslintrc.js
  plugins/events-backend-module-google-pubsub/README.md
  plugins/events-backend-module-google-pubsub/catalog-info.yaml
  plugins/events-backend-module-google-pubsub/config.d.ts
  plugins/events-backend-module-google-pubsub/dev/index.ts
  plugins/events-backend-module-google-pubsub/package.json
  plugins/events-backend-module-google-pubsub/report.api.md
  plugins/events-backend-module-google-pubsub/src/GooglePubSubConsumingEventPublisher/GooglePubSubConsumingEventPublisher.test.ts
  plugins/events-backend-module-google-pubsub/src/GooglePubSubConsumingEventPublisher/GooglePubSubConsumingEventPublisher.ts
  plugins/events-backend-module-google-pubsub/src/GooglePubSubConsumingEventPublisher/config.test.ts
  plugins/events-backend-module-google-pubsub/src/GooglePubSubConsumingEventPublisher/config.ts
  plugins/events-backend-module-google-pubsub/src/GooglePubSubConsumingEventPublisher/index.ts
  plugins/events-backend-module-google-pubsub/src/GooglePubSubConsumingEventPublisher/module.ts
  plugins/events-backend-module-google-pubsub/src/GooglePubSubConsumingEventPublisher/types.ts
  plugins/events-backend-module-google-pubsub/src/index.ts
  plugins/events-backend-module-google-pubsub/src/util/createPatternResolver.test.ts
  plugins/events-backend-module-google-pubsub/src/util/createPatternResolver.ts
  yarn.lock
Labels: area:events

#29668 authentication.md docs: fix SignInPage GitHub‑auth example (modify existing component instead of adding a second)
  docs/getting-started/config/authentication.md
Labels: documentation

#29518 catalog/bitbucket-cloud: support repo:updated events
  .changeset/calm-toys-occur.md
  .changeset/icy-mugs-glow.md
  .changeset/lovely-cats-take.md
  docs/integrations/bitbucketCloud/discovery.md
  plugins/bitbucket-cloud-common/bitbucket-cloud.oas.json
  plugins/bitbucket-cloud-common/report.api.md
  plugins/bitbucket-cloud-common/src/events/index.ts
  plugins/bitbucket-cloud-common/src/models/index.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
Labels: area:catalog, contribfest, documentation

#29438 Changes are added for display heading in the document
  docs/tutorials/using-backstage-proxy-within-plugin.md
Labels: documentation

#29570 feat(kubernetes): add headlamp dashboard formatter
  .changeset/chilly-trams-cheer.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-react/report.api.md
  plugins/kubernetes-react/src/api/formatters/HeadlampClusterLinksFormatter.test.ts
  plugins/kubernetes-react/src/api/formatters/HeadlampClusterLinksFormatter.ts
  plugins/kubernetes-react/src/api/formatters/index.ts
Labels: area:kubernetes, documentation

#29717 fix(kubernetes-backend): Changed logging of cluster details to debug level
  .changeset/dull-doodles-trade.md
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
Labels: area:kubernetes

#29714 auth-backend: add omitIdentityTokenOwnershipClaim flag
  .changeset/angry-sites-fold.md
  .changeset/famous-cities-stand.md
  docs/auth/identity-resolver.md
  plugins/auth-backend/config.d.ts
  plugins/auth-backend/package.json
  plugins/auth-backend/src/authPlugin.test.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.test.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.ts
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-backend/src/identity/types.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.ts
  plugins/auth-backend/src/service/router.ts
  plugins/auth-node/report.api.md
  plugins/auth-node/src/identity/prepareBackstageIdentityResponse.test.ts
  plugins/auth-node/src/identity/prepareBackstageIdentityResponse.ts
  plugins/auth-node/src/types.ts
  yarn.lock
Labels: auth, documentation

#29715 Corrects command in catalog external integrations doc.
  docs/features/software-catalog/external-integrations.md
Labels: documentation

#29720 docs(events-backend-module-github): correct install instructions
  .changeset/slick-brooms-start.md
  plugins/events-backend-module-github/README.md
Labels: area:events

#29553 add a scheduler api
  .changeset/dirty-grapes-vanish.md
  .changeset/dry-carpets-hope.md
  .changeset/slimy-peas-post.md
  docs/backend-system/core-services/scheduler.md
  packages/backend-defaults/migrations/scheduler/20250411000000_last_run.js
  packages/backend-defaults/report-scheduler.api.md
  packages/backend-defaults/report-scheduler.sql.md
  packages/backend-defaults/src/entrypoints/scheduler/database/migrateBackendTasks.ts
  packages/backend-defaults/src/entrypoints/scheduler/database/migrations.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/database/tables.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/DefaultSchedulerService.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/DefaultSchedulerService.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/LocalTaskWorker.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/LocalTaskWorker.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerJanitor.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerJanitor.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/TaskWorker.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/types.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/util.ts
  packages/backend-defaults/src/entrypoints/scheduler/schedulerServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/schedulerServiceFactory.ts
  packages/backend-plugin-api/src/services/definitions/SchedulerService.ts
  plugins/catalog-backend-module-backstage-openapi/src/InternalOpenApiDocumentationProvider.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/catalogModuleIncrementalIngestionEntityProvider.test.ts
Labels: area:catalog, area:core, domain:docs

#29730 update documentation to register metrics once
  docs/tutorials/setup-opentelemetry.md
  packages/backend/src/instrumentation.js
Labels: area:documentation

#29749 frontend-plugin-api: rename plugin ID option to pluginId
  .changeset/cool-knives-design.md
  .changeset/fruity-bags-flow.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/02-creating.md
  packages/app-next-example-plugin/src/plugin.tsx
  packages/app-next/src/examples/pagesPlugin.tsx
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/compatWrapper/BackwardsCompatProvider.tsx
  packages/core-compat-api/src/convertLegacyPlugin.ts
  packages/frontend-app-api/src/routing/collectRouteIds.test.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-app-api/src/tree/resolveAppNodeSpecs.test.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-defaults/src/createApp.test.tsx
  packages/frontend-defaults/src/discovery.test.ts
  packages/frontend-defaults/src/resolution.test.ts
  packages/frontend-dynamic-feature-loader/src/loader.test.tsx
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/createFrontendFeatureLoader.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.test.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  plugins/api-docs/src/alpha.tsx
  plugins/app-visualizer/src/plugin.tsx
  plugins/app/src/plugin.ts
  plugins/catalog-graph/src/alpha.tsx
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-unprocessed-entities/src/alpha/plugin.tsx
  plugins/catalog/src/alpha/plugin.tsx
  plugins/devtools/src/alpha/plugin.tsx
  plugins/home/src/alpha.tsx
  plugins/kubernetes/src/alpha/plugin.tsx
  plugins/notifications/src/alpha.tsx
  plugins/org/src/alpha.tsx
  plugins/scaffolder/src/alpha/plugin.tsx
  plugins/search/src/alpha.tsx
  plugins/signals/src/alpha.tsx
  plugins/techdocs/src/alpha.tsx
  plugins/user-settings/src/alpha.tsx
Labels: area:documentation, area:catalog, area:techdocs, area:kubernetes, area:scaffolder, area:home, area:search

#28782 Add support for providing values and labels to the search filters
  .changeset/mighty-carrots-decide.md
  packages/app/src/components/search/SearchModal.tsx
  packages/app/src/components/search/SearchPage.tsx
  plugins/search-react/report.api.md
  plugins/search-react/src/components/SearchFilter/SearchFilter.Autocomplete.tsx
  plugins/search-react/src/components/SearchFilter/SearchFilter.tsx
  plugins/search-react/src/components/SearchFilter/hooks.test.tsx
  plugins/search-react/src/components/SearchFilter/hooks.ts
  plugins/search-react/src/components/SearchFilter/index.ts
  plugins/search-react/src/components/SearchFilter/types.ts
Labels: area:search

#29478 Add ability disable the built in entity processors [ContribFest]
  .changeset/sharp-ligers-beg.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, contribfest

#29678 fix(useEntityListProvider): adjust the EntityListProvider to fix (#18710)
  .changeset/pretty-seas-hug.md
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

#29721 leverage webhook secrets from github integrations too
  .changeset/large-experts-sort.md
  plugins/events-backend-module-github/package.json
  plugins/events-backend-module-github/report.api.md
  plugins/events-backend-module-github/src/http/createGithubSignatureValidator.test.ts
  plugins/events-backend-module-github/src/http/createGithubSignatureValidator.ts
  plugins/events-backend-module-github/src/index.ts
  plugins/events-backend-module-github/src/service/eventsModuleGithubWebhook.ts
  plugins/events-backend-module-github/src/util/createAppIdResolver.ts
  plugins/events-backend-module-github/src/util/octokitProviderService.ts
  yarn.lock
Labels: area:events

#28939 feat(msgraphOrgProvider): add the path options to allow querying users and group from different endpoints
  .changeset/brave-toes-switch.md
  docs/assets/integrations/azure/org.svg
  docs/integrations/azure/org.md
  plugins/catalog-backend-module-msgraph/README.md
  plugins/catalog-backend-module-msgraph/config.d.ts
  plugins/catalog-backend-module-msgraph/report.api.md
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/client.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/config.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.test.ts
  plugins/catalog-backend-module-msgraph/src/microsoftGraph/read.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
Labels: area:catalog, domain:docs

#29773 Minor changes of software catalog overview document
  docs/features/software-catalog/index.md
Labels: area:documentation

#29740 catalog-backend: remove all deprecated exports, remove old backend system support
  .changeset/chatty-showers-cheat.md
  .changeset/early-dryers-teach.md
  .changeset/sad-showers-begin.md
  plugins/catalog-backend/dev/index.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/report-alpha.api.md
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/alpha.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/deprecated.ts
  plugins/catalog-backend/src/index.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingOrchestrator.ts
  plugins/catalog-backend/src/processing/index.ts
  plugins/catalog-backend/src/processing/refresh.ts
  plugins/catalog-backend/src/processors/LocationEntityProcessor.test.ts
  plugins/catalog-backend/src/processors/LocationEntityProcessor.ts
  plugins/catalog-backend/src/processors/index.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.test.ts
  plugins/catalog-backend/src/search/DefaultCatalogCollator.ts
  plugins/catalog-backend/src/search/index.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/catalog-backend/src/service/index.ts
  plugins/catalog-backend/src/service/types.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-backend/src/util/conversion.ts
  plugins/catalog-backend/src/util/index.ts
  plugins/catalog-backend/src/util/parse.ts
  plugins/catalog-node/package.json
  plugins/catalog-node/report.api.md
  plugins/catalog-node/src/processing/index.ts
  plugins/catalog-node/src/processing/parse.test.ts
  plugins/catalog-node/src/processing/parse.ts
  yarn.lock
Labels: area:catalog

#29759 remove backend-common from plugin-kubernetes-node
  .changeset/beige-kiwis-flow.md
  docs/features/kubernetes/authenticationstrategy.md
  plugins/kubernetes-node/package.json
  plugins/kubernetes-node/report.api.md
  plugins/kubernetes-node/src/auth/PinnipedHelper.test.ts
  plugins/kubernetes-node/src/auth/PinnipedHelper.ts
  yarn.lock
Labels: area:documentation, area:kubernetes

#29585 Settings -> uppercase first letter in language name
  .changeset/stale-symbols-joke.md
  plugins/user-settings/src/components/General/UserSettingsLanguageToggle.tsx
Labels: stale

#29552 Permission: improve request batching
  .changeset/lazy-tires-show.md
  plugins/permission-backend/src/service/PermissionIntegrationClient.ts
  plugins/permission-backend/src/service/router.test.ts
  plugins/permission-backend/src/service/router.ts
  plugins/permission-common/config.d.ts
  plugins/permission-common/report.api.md
  plugins/permission-common/src/PermissionClient.test.ts
  plugins/permission-common/src/PermissionClient.ts
  plugins/permission-common/src/index.ts
  plugins/permission-common/src/types/api.ts
  plugins/permission-node/report.api.md
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: area:permission

#29728 Let fs:delete wildcard patterns match paths that start with "."
  .changeset/sad-taxes-bake.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
Labels: area:scaffolder

#29447 To Include user field in createMockActionContext
  .changeset/public-socks-agree.md
  plugins/scaffolder-node-test-utils/src/actions/mockActionContext.ts
Labels: area:scaffolder

#29074 Added workspace:template and workspace:template:file actions to complement respective fetch:* actions
  .changeset/heavy-onions-swim.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/templateActionHandler.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/templateFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/templateFileActionHandler.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/workspaceTemplate.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/workspaceTemplate.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/workspaceTemplateFile.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/workspaceTemplateFile.ts
Labels: area:scaffolder

#29794 Added London BackstageCon/KubeCon blog post
  microsite/blog/2025-04-29-backstagecon-kubecon-25-london.mdx
  microsite/blog/assets/2025-04-29/backstagecon-kubecon-2025-london.png
  microsite/blog/assets/2025-04-29/kc25london-beefeaters.jpg
  microsite/blog/assets/2025-04-29/kc25london-contribfest.jpg
  microsite/blog/assets/2025-04-29/kc25london-crowds-entering.jpg
  microsite/blog/assets/2025-04-29/kc25london-crowds-from-above.jpg
  microsite/blog/assets/2025-04-29/kc25london-ithaka.png
  microsite/blog/assets/2025-04-29/kc25london-keynote.jpg
  microsite/blog/assets/2025-04-29/kc25london-maintainers-talk.jpg
  microsite/blog/assets/2025-04-29/kc25london-neo4j.png
  microsite/blog/assets/2025-04-29/kc25london-panel.jpg
  microsite/blog/assets/2025-04-29/kc25london-redhat.jpg
  microsite/blog/assets/2025-04-29/kc25london-sponsors.jpg
  microsite/blog/assets/2025-04-29/kc25london-spotify.png
Labels: area:microsite

#29792 fix(techdocs): add focus+hover styling to codeblock CTC button
  .changeset/thick-hotels-rhyme.md
  plugins/techdocs/src/reader/transformers/copyToClipboard.tsx
Labels: area:techdocs
