Repository backstage/backstage, pull requests merged in 2025-02, with the labels that each got.

#28321 Add ScaleOps plugin to plugins marketplace
  microsite/data/plugins/scaleops.yaml
Labels: microsite

#28097 chore: more sidebar consolidation
  docs/faq/product.md
  docs/overview/logos.md
  docs/overview/threat-model.md
  microsite/docusaurus.config.ts
  microsite/sidebars.js
Labels: area:documentation, microsite, documentation

#28656 Gitlabrepourlpickerfix
  .changeset/smart-ligers-sniff.md
  plugins/scaffolder-backend-module-gitlab/src/autocomplete/autocomplete.test.ts
  plugins/scaffolder-backend-module-gitlab/src/autocomplete/autocomplete.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/RepoUrlPicker.tsx
  plugins/scaffolder/src/components/fields/RepoUrlPicker/types.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/utils.test.ts
  plugins/scaffolder/src/components/fields/RepoUrlPicker/utils.ts
Labels: area:scaffolder

#28631 createGitlabProjectMigrateAction returns migration id
  .changeset/heavy-olives-thank.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.ts
Labels: area:scaffolder

#28521 Hide text output button if only one text output is defined
  .changeset/brown-cycles-beg.md
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.test.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.tsx
Labels: area:scaffolder

#27706 feat: add cancel button for WidgetSettingsOverlay
  .changeset/happy-windows-shop.md
  plugins/home/src/components/CustomHomepage/WidgetSettingsOverlay.tsx
Labels: homepage, area:home, area:search

#27821 support user configuration of auth cookie max age
  .changeset/serious-ads-leave.md
  docs/auth/atlassian/provider.md
  docs/auth/auth0/provider.md
  docs/auth/aws-alb/provider.md
  docs/auth/bitbucket/provider.md
  docs/auth/bitbucketServer/provider.md
  docs/auth/cloudflare/provider.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
  docs/auth/google/provider.md
  docs/auth/microsoft/provider.md
  docs/auth/oidc.md
  docs/auth/okta/provider.md
  docs/auth/onelogin/provider.md
  docs/auth/vmware-cloud/provider.md
  plugins/auth-backend-module-atlassian-provider/config.d.ts
  plugins/auth-backend-module-atlassian-provider/package.json
  plugins/auth-backend-module-auth0-provider/config.d.ts
  plugins/auth-backend-module-auth0-provider/package.json
  plugins/auth-backend-module-aws-alb-provider/config.d.ts
  plugins/auth-backend-module-aws-alb-provider/package.json
  plugins/auth-backend-module-bitbucket-provider/config.d.ts
  plugins/auth-backend-module-bitbucket-provider/package.json
  plugins/auth-backend-module-bitbucket-server-provider/config.d.ts
  plugins/auth-backend-module-bitbucket-server-provider/package.json
  plugins/auth-backend-module-cloudflare-access-provider/config.d.ts
  plugins/auth-backend-module-gcp-iap-provider/config.d.ts
  plugins/auth-backend-module-github-provider/config.d.ts
  plugins/auth-backend-module-github-provider/package.json
  plugins/auth-backend-module-gitlab-provider/config.d.ts
  plugins/auth-backend-module-gitlab-provider/package.json
  plugins/auth-backend-module-google-provider/config.d.ts
  plugins/auth-backend-module-google-provider/package.json
  plugins/auth-backend-module-microsoft-provider/config.d.ts
  plugins/auth-backend-module-microsoft-provider/package.json
  plugins/auth-backend-module-oauth2-provider/config.d.ts
  plugins/auth-backend-module-oauth2-provider/package.json
  plugins/auth-backend-module-oidc-provider/config.d.ts
  plugins/auth-backend-module-oidc-provider/package.json
  plugins/auth-backend-module-okta-provider/config.d.ts
  plugins/auth-backend-module-okta-provider/package.json
  plugins/auth-backend-module-onelogin-provider/config.d.ts
  plugins/auth-backend-module-onelogin-provider/package.json
  plugins/auth-backend-module-pinniped-provider/package.json
  plugins/auth-backend-module-pinniped-provider/src/config.d.ts
  plugins/auth-backend-module-vmware-cloud-provider/config.d.ts
  plugins/auth-backend-module-vmware-cloud-provider/package.json
  plugins/auth-node/src/oauth/OAuthCookieManager.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.test.ts
  plugins/auth-node/src/oauth/createOAuthRouteHandlers.ts
  yarn.lock
Labels: area:documentation, auth, documentation

#28669 Adding CBA info to the microsite's Community page
  microsite/src/pages/community/community.module.scss
  microsite/src/pages/community/index.tsx
  microsite/src/pages/demos/demos.module.scss
Labels: microsite

#28705 feat(scaffolder): experimental flag to wait for task completions
  .changeset/tidy-oranges-allow.md
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#28719 feat(scaffolder): add support for autocompletion to `RepoBranchPicker`
  .changeset/pretty-apricots-poke.md
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.test.ts
  plugins/scaffolder-backend-module-github/src/autocomplete/autocomplete.ts
  plugins/scaffolder/src/components/fields/RepoBranchPicker/GitHubRepoBranchPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoBranchPicker/GitHubRepoBranchPicker.tsx
  plugins/scaffolder/src/components/fields/RepoBranchPicker/RepoBranchPicker.tsx
  plugins/scaffolder/src/components/fields/RepoBranchPicker/types.ts
Labels: area:scaffolder

#28677 permissions: add resources refs and rule accessor
  .changeset/fresh-bears-thank.md
  .changeset/gold-rabbits-change.md
  .changeset/gorgeous-shoes-stare.md
  .changeset/hungry-chefs-relax.md
  .changeset/tidy-forks-pay.md
  .changeset/witty-ducks-cross.md
  docs/permissions/custom-rules.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  packages/backend-defaults/src/entrypoints/permissionsRegistry/permissionsRegistryServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/permissionsRegistry/permissionsRegistryServiceFactory.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/PermissionsRegistryService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  plugins/catalog-backend/src/permissions/conditionExports.ts
  plugins/catalog-backend/src/permissions/rules/createPropertyRule.ts
  plugins/catalog-backend/src/permissions/rules/hasAnnotation.ts
  plugins/catalog-backend/src/permissions/rules/hasLabel.ts
  plugins/catalog-backend/src/permissions/rules/isEntityKind.ts
  plugins/catalog-backend/src/permissions/rules/isEntityOwner.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-node/report-alpha.api.md
  plugins/catalog-node/src/alpha.ts
  plugins/permission-node/report.api.md
  plugins/permission-node/src/integration/createConditionExports.ts
  plugins/permission-node/src/integration/createConditionFactory.ts
  plugins/permission-node/src/integration/createConditionTransformer.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
  plugins/permission-node/src/integration/createPermissionResourceRef.ts
  plugins/permission-node/src/integration/createPermissionRule.ts
  plugins/permission-node/src/integration/index.ts
  plugins/permission-node/src/types.ts
Labels: area:catalog, area:permission, documentation

#28679 Change env0 plugin logo url
  microsite/data/plugins/env0.yaml
Labels: microsite

#28379 feat(catalog): always use search for UrlReaderProcessor
  .changeset/heavy-bobcats-search.md
  .changeset/lucky-seas-live.md
  .changeset/tiny-spoons-repeat.md
  app-config.yaml
  packages/backend-defaults/report-urlReader.api.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsCodeCommitUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsCodeCommitUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsS3UrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AwsS3UrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/AzureUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketCloudUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketServerUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/BitbucketUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/FetchUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GithubUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GithubUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GoogleGcsUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.ts
  packages/create-app/templates/default-app/app-config.yaml.hbs
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/processors/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  yarn.lock
Labels: area:catalog

#28744 chore: update spelling in sidebar
  microsite/sidebars.js
Labels: microsite

#28765 Fix type in templates input examples
  docs/features/software-templates/input-examples.md
Labels: documentation

#28674 Updated document Azure discovery
  docs/integrations/azure/discovery.md
  docs/integrations/bitbucketCloud/discovery.md
Labels: documentation

#28612 refactor(CatalogTable): allow overriding default components
  .changeset/little-mangos-reply.md
  plugins/catalog/src/components/CatalogTable/CatalogTable.tsx
Labels: area:catalog

#28783 fix(doc): Remove duplicate return statement
  docs/features/software-catalog/catalog-customization.md
Labels: documentation

#28785 fix some accidental extra newlines in docs
  docs/features/software-catalog/catalog-customization.md
  docs/tutorials/react-router-stable-migration.md
Labels: documentation

#28619 frontend-plugin-api: add support for multiple attachTos
  .changeset/three-glasses-sell.md
  docs/frontend-system/architecture/20-extensions.md
  packages/frontend-app-api/src/tree/resolveAppTree.test.ts
  packages/frontend-app-api/src/tree/resolveAppTree.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-internal/src/wiring/InternalExtensionDefinition.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/AppTreeApi.ts
  packages/frontend-plugin-api/src/wiring/createExtension.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
Labels: documentation

#28692 docs: add new tutorial to knex rollback
  docs/getting-started/config/database.md
  docs/getting-started/keeping-backstage-updated.md
  docs/tutorials/configuring-plugin-databases.md
  docs/tutorials/manual-knex-rollback.md
  microsite/sidebars.js
  mkdocs.yml
Labels: microsite, documentation

#28777 Add support for file globbing to fs:delete
  .changeset/proud-dolls-behave.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.examples.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
Labels: area:scaffolder

#28727 Updated documentation of write backstage
  docs/conf/writing.md
Labels: documentation

#28711 feat(scaffolder): use template title for header
  .changeset/yellow-rules-vanish.md
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.test.tsx
  plugins/scaffolder/src/components/OngoingTask/OngoingTask.tsx
Labels: area:scaffolder

#28633 Adds createWhenEmpty option to publish:github:pull-request action
  .changeset/hungry-cycles-hide.md
  .changeset/wise-cycles-sparkle.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.examples.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.test.tsx
  plugins/scaffolder/src/components/ActionsPage/ActionsPage.tsx
Labels: area:scaffolder

#28805 🧹 inherit the right docs
  .changeset/fair-wolves-smash.md
  contrib/catalog/ImmediateEntityProvider.ts
  contrib/catalog/LoadTestingEntityProvider.ts
  plugins/catalog-backend-module-aws/src/providers/AwsS3EntityProvider.ts
  plugins/catalog-backend-module-azure/src/providers/AzureDevOpsEntityProvider.ts
  plugins/catalog-backend-module-backstage-openapi/src/InternalOpenApiDocumentationProvider.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  plugins/catalog-backend-module-ldap/src/processors/LdapOrgEntityProvider.ts
  plugins/catalog-backend-module-msgraph/src/processors/MicrosoftGraphOrgEntityProvider.ts
Labels: area:catalog

#28830 microsite: remove unnecessary redirect
  microsite/docusaurus.config.ts
Labels: microsite

#28842 scaffolder: add form decorator support to template editor
  .changeset/eighty-ways-train.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunContext.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunResults/DryRunResults.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunResults/DryRunResultsList.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunResults/DryRunResultsView.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorPage.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
  plugins/scaffolder/src/alpha/hooks/useFormDecorators.test.tsx
  plugins/scaffolder/src/alpha/hooks/useFormDecorators.ts
Labels: area:scaffolder

#28843 Small Corrections to the CLI Template Globals
  docs/tooling/cli/04-templates.md
Labels: documentation

#28774 Cleaned up the Kubernetes Backend Installation
  docs/features/kubernetes/installation.md
Labels: documentation

#28848 catalog-unprocessed-entities - Added alpha support for the New Frontend System
  .changeset/tough-crabs-hope.md
  plugins/catalog-unprocessed-entities/README.md
  plugins/catalog-unprocessed-entities/package.json
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog-unprocessed-entities/src/alpha.ts
  plugins/catalog-unprocessed-entities/src/alpha/index.ts
  plugins/catalog-unprocessed-entities/src/alpha/plugin.tsx
  yarn.lock
Labels: area:catalog

#28832 fix(techdocs): /sync response when entity not found
  .changeset/good-flowers-promise.md
  plugins/techdocs/src/client.test.ts
  plugins/techdocs/src/client.ts
Labels: area:techdocs

#28850 Changing the default behaviour of the checkpoint in createMockActionContext. It will reduce the code boilerplate in the tests where checkpoint is used.
  .changeset/six-elephants-rest.md
  plugins/scaffolder-node-test-utils/src/actions/mockActionContext.ts
Labels: area:scaffolder

#27574 docs: add meta guidelines for new plugin development guides
  docs/plugins/guides/101/meta.md
  docs/plugins/guides/index.md
  docs/plugins/guides/meta.md
Labels: area:documentation, documentation

#28775 clean up github action schemas
  .changeset/hungry-buckets-visit.md
  plugins/scaffolder-backend-module-github/src/actions/githubActionsDispatch.ts
  plugins/scaffolder-backend-module-github/src/actions/githubAutolinks.ts
  plugins/scaffolder-backend-module-github/src/actions/githubDeployKey.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
  plugins/scaffolder-backend-module-github/src/actions/githubIssuesLabel.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPagesEnable.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  plugins/scaffolder-backend-module-github/src/actions/githubWebhook.ts
  plugins/scaffolder-backend-module-github/src/actions/inputProperties.ts
Labels: area:scaffolder

#28883 Fix to correctly check gitbeaker exception response for 404
  .changeset/tidy-rice-raise.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
Labels: area:scaffolder

#28869 docs:fixed typo
  docs/auth/identity-resolver--old.md
  docs/auth/identity-resolver.md
Labels: documentation

#28696 feat: add policy-reporter plugin
  microsite/data/plugins/policy-reporter.yaml
Labels: microsite, stale

#28849 fix: encode group path for getGroupByPath (#28826)
  .changeset/sour-kids-nail.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Labels: area:catalog

#28008 Create jenkins-actions.yaml
  microsite/data/plugins/jenkins-actions.yaml
  microsite/static/img/jenkins.png
Labels: microsite, stale

#28750 Made gitlab:issues:create action idempotent.
  .changeset/khaki-doors-jog.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.ts
Labels: area:scaffolder

#28751 Made gitlab:group:ensureExists action idempotent.
  .changeset/beige-cycles-sit.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.ts
Labels: area:scaffolder

#28796 Add Azure Communication Service transport
  .changeset/fuzzy-bugs-hunt.md
  plugins/notifications-backend-module-email/README.md
  plugins/notifications-backend-module-email/config.d.ts
  plugins/notifications-backend-module-email/package.json
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/notifications-backend-module-email/src/processor/transports/azure.ts
  plugins/notifications-backend-module-email/src/processor/transports/index.ts
  yarn.lock
Labels: area:notifications

#28748 Documenting the experimental feature of "Retries and Recovery" in Scaffolder
  docs/features/software-templates/experimental.md
Labels: documentation

#28800 Handle errors during an oauth start stage
  .changeset/new-dryers-cough-2.md
  .changeset/new-dryers-cough.md
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
  plugins/auth-node/src/oauth/PassportOAuthAuthenticatorHelper.test.ts
  plugins/auth-node/src/passport/PassportHelpers.ts
Labels: auth

#28888 chore: fixing vale things
  docs/features/software-templates/experimental.md
Labels: documentation

#28866 Bump techdocs generator version
  .changeset/techdocs-slow-zebras-camp.md
  plugins/techdocs-node/report.api.md
  plugins/techdocs-node/src/stages/generate/techdocs.ts
Labels: area:techdocs

#28876 Update techdocs page title
  .changeset/techdocs-four-needles-switch.md
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageHeader/TechDocsReaderPageHeader.tsx
Labels: area:techdocs

#28867 Fix svg styling
  .changeset/shy-geckos-leave.md
  plugins/techdocs/src/reader/transformers/html/transformer.sanitizer.test.tsx
  plugins/techdocs/src/reader/transformers/html/transformer.ts
Labels: area:techdocs

#28889 docs: release v1.36
  docs/releases/v1.36.0.md
Labels: documentation

#28810 feat: add additional props to entity pickers
  .changeset/olive-planes-pay.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.test.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.test.tsx
  plugins/catalog-react/src/components/EntityTagPicker/EntityTagPicker.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.test.tsx
  plugins/catalog-react/src/components/UserListPicker/UserListPicker.tsx
Labels: area:catalog, merge-after-release

#28758 [NFS] Entity Page Content Layouts
  .changeset/ninety-teachers-tease.md
  .changeset/real-hounds-mate.md
  .changeset/selfish-cheetahs-sip.md
  packages/app-next/app-config.yaml
  packages/app-next/src/App.tsx
  packages/app-next/src/EntityPages.tsx
  plugins/api-docs/report-alpha.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.ts
  plugins/catalog-react/src/alpha/blueprints/EntityCardLauyoutBlueprint.tsx
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/EntityOverviewPage.tsx
  plugins/catalog/src/alpha/entityContents.test.tsx
  plugins/catalog/src/alpha/entityContents.tsx
  plugins/org/report-alpha.api.md
Labels: area:catalog, merge-after-release

#28769 fix: capturing the correct number of search results in the search ana…
  .changeset/cool-moons-lay.md
  plugins/search-react/src/context/SearchContext.test.tsx
  plugins/search-react/src/context/SearchContext.tsx
Labels: search, area:search

#28911 fix(events): increase webhook content limit to 5mb
  .changeset/nasty-lemons-scream.md
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.test.ts
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.ts
Labels: area:events

#28697 enable configuration of indexPrefix
  .changeset/calm-files-hunt.md
  docs/features/search/search-engines.md
  plugins/search-backend-module-elasticsearch/config.d.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngineIndexer.ts
  plugins/search-backend-module-elasticsearch/src/module.ts
Labels: search, area:search, documentation

#28573 Enable Normalization on Postgres Query
  .changeset/famous-ladybugs-swim.md
  plugins/search-backend-module-pg/README.md
  plugins/search-backend-module-pg/config.d.ts
  plugins/search-backend-module-pg/report.api.md
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.test.ts
  plugins/search-backend-module-pg/src/PgSearchEngine/PgSearchEngine.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.test.ts
  plugins/search-backend-module-pg/src/database/DatabaseDocumentStore.ts
  plugins/search-backend-module-pg/src/database/types.ts
Labels: search, area:search

#28916 catalog-react: allow any group ID in addition to default ones
  plugins/api-docs/report-alpha.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.ts
  plugins/catalog/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:techdocs, area:kubernetes

#28917 catalog-react: remove false as a possible group ID in data
  plugins/api-docs/report-alpha.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:techdocs, area:kubernetes

#28923 catalog-react: align defaultFilter config naming
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityCardLauyoutBlueprint.tsx
Labels: area:catalog

#28927 frontend-plugin-api: add ExtensionBoundary.lazyComponent
  .changeset/tall-falcons-juggle.md
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityCardLauyoutBlueprint.tsx
Labels: area:catalog

#28928 catalog-react: rename EntityCardLayout to EntityContentLayout
  .changeset/ninety-teachers-tease.md
  packages/app-next/app-config.yaml
  packages/app-next/src/EntityPages.tsx
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityContentLayoutBlueprint.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/entityContents.test.tsx
  plugins/catalog/src/alpha/entityContents.tsx
Labels: area:catalog

#28937 Patch release of #28904, #28911, #28931, #28934
  package.json
  packages/backend-defaults/CHANGELOG.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/auditor/auditorServiceFactory.test.ts
  packages/backend-defaults/src/entrypoints/auditor/auditorServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.test.ts
  packages/backend-defaults/src/entrypoints/rootLogger/WinstonLogger.ts
  plugins/events-backend/CHANGELOG.md
  plugins/events-backend/package.json
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.test.ts
  plugins/events-backend/src/service/http/HttpPostIngressEventPublisher.ts
  plugins/notifications-backend/CHANGELOG.md
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/database/DatabaseNotificationsStore.test.ts
  plugins/notifications-backend/src/database/DatabaseNotificationsStore.ts
Labels: area:events

#28710 Provide backstage.io/kubernetes-id and backstage.io/kubernetes-label-selector annotations as exported constants
  .changeset/dirty-turkeys-remain.md
  .changeset/dull-coats-help.md
  plugins/kubernetes-backend/report.api.md
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/catalog-entity-constants.ts
  plugins/kubernetes/src/Router.tsx
Labels: area:kubernetes

#28930 catalog-react: rename entity card "area" to "type"
  .changeset/ninety-teachers-tease.md
  .changeset/selfish-cheetahs-sip.md
  packages/app-next/app-config.yaml
  packages/app-next/src/EntityPages.tsx
  plugins/api-docs/report-alpha.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.ts
  plugins/catalog-react/src/alpha/blueprints/EntityContentLayoutBlueprint.tsx
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog-react/src/alpha/blueprints/index.ts
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/entityContents.test.tsx
  plugins/catalog/src/alpha/entityContents.tsx
  plugins/org/report-alpha.api.md
Labels: area:catalog

#28938 catalog-backend: another stitching test
  plugins/catalog-backend/src/database/operations/stitcher/performStitching.test.ts
Labels: area:catalog

#28644 techdocs: add extensions for techdocs addons
  .changeset/strange-masks-type.md
  docs/features/techdocs/addons--new.md
  docs/features/techdocs/addons.md
  plugins/techdocs-addons-test-utils/src/test-utils.tsx
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-module-addons-contrib/report-alpha.api.md
  plugins/techdocs-module-addons-contrib/src/LightBox/LightBox.test.tsx
  plugins/techdocs-module-addons-contrib/src/LightBox/LightBox.tsx
  plugins/techdocs-module-addons-contrib/src/LightBox/index.ts
  plugins/techdocs-module-addons-contrib/src/LightBox/lightbox.css
  plugins/techdocs-module-addons-contrib/src/alpha.ts
  plugins/techdocs-module-addons-contrib/src/plugin.ts
  plugins/techdocs-react/package.json
  plugins/techdocs-react/report-alpha.api.md
  plugins/techdocs-react/src/addons.tsx
  plugins/techdocs-react/src/alpha.ts
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/src/Router.tsx
  plugins/techdocs/src/alpha.tsx
  yarn.lock
Labels: area:techdocs, documentation

#28952 Use correct config definitions in MS related modules
  .changeset/olive-dodos-applaud.md
  .changeset/rich-sloths-hang.md
  plugins/auth-backend-module-microsoft-provider/config.d.ts
  plugins/catalog-backend-module-msgraph/config.d.ts
Labels: area:catalog, auth

#28747 scaffolder: attach form field extensions to page instead
  .changeset/lazy-apricots-whisper.md
  .changeset/swift-worms-behave.md
  plugins/app-visualizer/report.api.md
  plugins/catalog-import/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/next/api/ref.ts
  plugins/scaffolder-react/src/next/api/types.ts
  plugins/scaffolder-react/src/next/blueprints/FormFieldBlueprint.tsx
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:techdocs, area:kubernetes, area:scaffolder

#28941 fix(DryRunContext): pass down template secrets to dryRun api
  .changeset/six-teachers-prove.md
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunContext.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunContext.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunResults/DryRunResults.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunResults/DryRunResultsList.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/DryRunResults/DryRunResultsView.test.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorPage.test.tsx
Labels: area:scaffolder

#28730 Export CatalogAutocomplete so it can be used externally
  .changeset/red-hotels-destroy.md
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/CatalogAutocomplete/CatalogAutocomplete.tsx
  plugins/catalog-react/src/components/index.ts
Labels: area:catalog

#28825 fix: update EntityAutocompletePicker selected options when value changes
  .changeset/ninety-experts-cheat.md
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.test.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
Labels: area:catalog

#28971 Feature: [Catalog] Remove entities from old EntityProviders by default
  .changeset/itchy-moose-raise.md
  docs/features/software-catalog/configuration.md
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProviderDatabase.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.test.ts
  plugins/catalog-backend/src/processing/evictEntitiesFromOrphanedProviders.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog, documentation

#28982 auth-backend: deprecations everywhere
  .changeset/short-moose-attend.md
  plugins/auth-backend/report.api.md
  plugins/auth-backend/src/lib/catalog/CatalogIdentityClient.ts
  plugins/auth-backend/src/providers/atlassian/provider.ts
  plugins/auth-backend/src/providers/auth0/provider.ts
  plugins/auth-backend/src/providers/aws-alb/provider.ts
  plugins/auth-backend/src/providers/azure-easyauth/provider.ts
  plugins/auth-backend/src/providers/bitbucket/provider.ts
  plugins/auth-backend/src/providers/cloudflare-access/provider.ts
  plugins/auth-backend/src/providers/createAuthProviderIntegration.ts
  plugins/auth-backend/src/providers/gcp-iap/provider.ts
  plugins/auth-backend/src/providers/github/provider.ts
  plugins/auth-backend/src/providers/gitlab/provider.ts
  plugins/auth-backend/src/providers/google/provider.ts
  plugins/auth-backend/src/providers/microsoft/provider.ts
  plugins/auth-backend/src/providers/oauth2-proxy/provider.ts
  plugins/auth-backend/src/providers/oauth2/provider.ts
  plugins/auth-backend/src/providers/oidc/provider.ts
  plugins/auth-backend/src/providers/okta/provider.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
  plugins/auth-backend/src/providers/providers.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-backend/src/providers/saml/provider.ts
Labels: auth

#28992 Added Catalog Collator filter example
  docs/features/search/collators.md
  docs/features/search/how-to-guides.md
Labels: documentation

#28944 Fix field extension validation not working when field is in dependencies in an array field
  .changeset/fluffy-ghosts-drop.md
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
Labels: area:scaffolder

#28359 feat: Improve JSON format of OpenAPI definition, allow YAML format
  .changeset/nine-hounds-rest.md
  plugins/catalog-backend-module-backstage-openapi/README.md
  plugins/catalog-backend-module-backstage-openapi/config.d.ts
  plugins/catalog-backend-module-backstage-openapi/package.json
  plugins/catalog-backend-module-backstage-openapi/src/InternalOpenApiDocumentationProvider.ts
  yarn.lock
Labels: area:catalog

#29008 Corrections and improvements to the Notifications docs
  docs/notifications/index.md
Labels: documentation
