Repository backstage/backstage, pull requests merged in 2025-07, with the labels that each got.

#30415 fix: allow multiple kinds on the InMemoryCatalogClient
  .changeset/shaky-parents-enter.md
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.test.ts
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.ts
  plugins/org/src/components/Cards/OwnershipCard/OwnershipCard.test.tsx
Labels: area:catalog

#30446 Remove 'allowedHosts' from publish:github action
  .changeset/sweet-donkeys-swim.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/software-catalog/descriptor-format.md
  docs/features/software-templates/adding-templates.md
  docs/features/software-templates/migrating-from-v1beta2-to-v1beta3.md
  docs/features/software-templates/writing-templates.md
  packages/create-app/templates/default-app/examples/template/template.yaml
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorToolbarTemplatesMenu.test.tsx
Labels: area:documentation, area:scaffolder

#30426 `auth-backend`: Internal refactor of the existing OIDC router
  .changeset/tender-dogs-allow.md
  plugins/auth-backend/src/database/UserInfoDatabase.test.ts
  plugins/auth-backend/src/database/UserInfoDatabase.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.test.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.ts
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-backend/src/identity/issueUserToken.ts
  plugins/auth-backend/src/identity/router.test.ts
  plugins/auth-backend/src/identity/router.ts
  plugins/auth-backend/src/service/OidcRouter.test.ts
  plugins/auth-backend/src/service/OidcRouter.ts
  plugins/auth-backend/src/service/OidcService.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

#30436 docs(search): Fixed incorrect ElasticSearch query config
  docs/features/search/search-engines.md
Labels: area:documentation

#30463 `auth-backend`: Move out the `UserInfoDatabase` updates away from the `TokenIssuer`
  .changeset/shaky-corners-cough.md
  plugins/auth-backend/migrations/20250707164600_user_created_at.js
  plugins/auth-backend/report.sql.md
  plugins/auth-backend/src/authPlugin.test.ts
  plugins/auth-backend/src/database/UserInfoDatabase.test.ts
  plugins/auth-backend/src/database/UserInfoDatabase.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.test.ts
  plugins/auth-backend/src/identity/StaticTokenIssuer.ts
  plugins/auth-backend/src/identity/TokenFactory.test.ts
  plugins/auth-backend/src/identity/TokenFactory.ts
  plugins/auth-backend/src/identity/issueUserToken.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.test.ts
  plugins/auth-backend/src/lib/resolvers/CatalogAuthResolverContext.ts
  plugins/auth-backend/src/migrations.test.ts
  plugins/auth-backend/src/providers/router.ts
  plugins/auth-backend/src/service/router.ts
Labels: area:auth

#30484 templating extensions doc tweaks
  docs/features/software-templates/templating-extensions.md
Labels: area:documentation

#30476 Added title description for proxying docs
  docs/plugins/proxying.md
Labels: area:documentation

#30520 Update app-custom-theme.md
  docs/getting-started/app-custom-theme.md
Labels: area:documentation

#30487 Add optional `platform` input to sentry:project:create action
  .changeset/green-facts-wink.md
  plugins/scaffolder-backend-module-sentry/report.api.md
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.examples.test.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.examples.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.test.ts
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.ts
Labels: area:scaffolder

#30526 catalog: pagination on by default in nfs
  .changeset/lucky-foxes-hide.md
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

#30055 feat(core-components): Add optional message field for auth providers in OAuth request dialog
  .changeset/silver-mice-smile.md
  packages/core-components/report-alpha.api.md
  packages/core-components/src/components/OAuthRequestDialog/LoginRequestListItem.tsx
  packages/core-components/src/translation.ts
  packages/core-plugin-api/report.api.md
  packages/core-plugin-api/src/apis/definitions/auth.ts
Labels: area:auth

#30557 `nfs`: Added `type` to `convertLegacyEntityCardExtension`
  .changeset/hot-clowns-behave.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityCardExtension.test.tsx
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityCardExtension.tsx
Labels: area:catalog

#30573 catalog: eager info column scroll
  .changeset/orange-poems-report.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
Labels: area:catalog

#30585 chore: fix typo, fronted -> frontend
  docs/overview/roadmap.md
Labels: area:documentation

#30599 `catalog`: fix order of filters in nfs
  .changeset/nice-actors-cheer.md
  plugins/catalog/src/alpha/filters.tsx
Labels: area:catalog

#30462 feat(catalog): add analyze-location endpoint to CatalogClient
  .changeset/evil-forks-hang.md
  .changeset/little-bugs-care.md
  .changeset/long-grapes-glow.md
  packages/catalog-client/package.json
  packages/catalog-client/report-testUtils.api.md
  packages/catalog-client/report.api.md
  packages/catalog-client/src/CatalogClient.ts
  packages/catalog-client/src/testUtils/InMemoryCatalogClient.ts
  packages/catalog-client/src/types/api.ts
  plugins/catalog-node/report-testUtils.api.md
  plugins/catalog-node/report.api.md
  plugins/catalog-node/src/catalogService.ts
  plugins/catalog-node/src/testUtils/catalogServiceMock.ts
  plugins/catalog-node/src/testUtils/types.ts
  plugins/catalog-react/src/testUtils/catalogApiMock.ts
  yarn.lock
Labels: area:catalog

#30574 home: add missing visits API to NFS
  .changeset/eleven-tigers-drop.md
  plugins/home/report-alpha.api.md
  plugins/home/src/alpha.tsx
Labels: area:home, area:search

#30583 feat(sanitizer): add support for allowlisting additional URI protocols
  .changeset/nice-buttons-return.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs/config.d.ts
  plugins/techdocs/src/reader/transformers/html/transformer.sanitizer.test.tsx
  plugins/techdocs/src/reader/transformers/html/transformer.ts
Labels: area:documentation, area:techdocs

#30647 chore: remove deprecated loggerToWinstonLogger
  .changeset/calm-geese-serve.md
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
Labels: area:kubernetes

#30304 docs(techdocs): Azure Storage Account Auth Guide Update
  docs/features/techdocs/using-cloud-storage.md
Labels: area:documentation

#30292 fix: hide pagination query params if pagination mode is set to none
  .changeset/open-seas-ring.md
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

#30669 Bug 30641 - update search logo on .io website for theme-toggle-friend…
  microsite/static/img/backstage-search-platform.svg
Labels: area:microsite

#30673 frontend-plugin-api: advanced blueprint param types
  .changeset/every-schools-find.md
  .changeset/odd-beans-sell.md
  .changeset/quiet-parks-cheer.md
  docs/frontend-system/architecture/23-extension-blueprints.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/03-consuming.md
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/convertLegacyApp.test.tsx
  packages/core-compat-api/src/convertLegacyAppOptions.tsx
  packages/core-compat-api/src/convertLegacyPlugin.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/ApiBlueprint.test.ts
  packages/frontend-plugin-api/src/blueprints/ApiBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.test.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
  plugins/api-docs/report-alpha.api.md
  plugins/api-docs/src/alpha.tsx
  plugins/app/report.api.md
  plugins/app/src/defaultApis.ts
  plugins/app/src/extensions/AppLanguageApi.ts
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/app/src/extensions/ComponentsApi.tsx
  plugins/app/src/extensions/FeatureFlagsApi.ts
  plugins/app/src/extensions/IconsApi.ts
  plugins/app/src/extensions/TranslationsApi.tsx
  plugins/catalog-import/report-alpha.api.md
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog-unprocessed-entities/src/alpha/plugin.tsx
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/apis.tsx
  plugins/devtools/report-alpha.api.md
  plugins/devtools/src/alpha/plugin.tsx
  plugins/home/report-alpha.api.md
  plugins/home/src/alpha.tsx
  plugins/kubernetes/report-alpha.api.md
  plugins/kubernetes/src/alpha/apis.tsx
  plugins/notifications/report-alpha.api.md
  plugins/notifications/src/alpha.tsx
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/next/api/FormFieldsApi.ts
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/api/FormDecoratorsApi.ts
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/search/report-alpha.api.md
  plugins/search/src/alpha.tsx
  plugins/signals/report-alpha.api.md
  plugins/signals/src/alpha.tsx
  plugins/techdocs/report-alpha.api.md
  plugins/techdocs/src/alpha/index.tsx
Labels: area:documentation, area:catalog, area:techdocs, area:kubernetes, area:scaffolder, area:home, area:search

#30506 Update broken link for OAuth2 Proxy documentation
  docs/auth/oauth2-proxy/provider.md
Labels: area:documentation
