Repository backstage/backstage, pull requests merged in 2025-06, with the labels that each got.

#29960 Adding keyboard accessibility to left navs
  .changeset/khaki-horses-chew.md
  plugins/techdocs-module-addons-contrib/src/ExpandableNavigation/ExpandableNavigation.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
  plugins/techdocs/src/reader/transformers/addNavLinkKeyboardToggle.test.ts
  plugins/techdocs/src/reader/transformers/addNavLinkKeyboardToggle.ts
  plugins/techdocs/src/reader/transformers/index.ts
Labels: area:techdocs

#29979 Updated branch restrictions value data type to string due to failures
  .changeset/true-tools-play.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/inputProperties.ts
Labels: area:scaffolder

#30086 fix: Implement fetchWithRetry method for GitLab API calls to handle rate limiting
  .changeset/seven-beans-appear.md
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
Labels: area:catalog

#30111 `scaffolder-module-azure`: migrate to using new actions format
  .changeset/curvy-peaches-relate.md
  .changeset/famous-streets-stay.md
  plugins/scaffolder-backend-module-azure/report.api.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/actions/gitHelpers.ts
Labels: area:scaffolder

#30112 `scaffolder-module-bitbucket`: migrate the bitbucket actions
  .changeset/shiny-bags-bet.md
  plugins/scaffolder-backend-module-bitbucket/report.api.md
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
Labels: area:scaffolder

#30113 `scaffolder-module-bitbucket-cloud`: migrate to using new actions
  .changeset/dull-buttons-press.md
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPipelinesRun.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/inputProperties.ts
  plugins/scaffolder-backend-module-bitbucket/report.api.md
  yarn.lock
Labels: area:scaffolder

#30115 `scaffolder-module-confluence`: migrate to using new format
  .changeset/brave-facts-pay.md
  plugins/scaffolder-backend-module-confluence-to-markdown/report.api.md
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.ts
Labels: area:scaffolder

#30116 `scaffolder-module-cookiecutter`: migrate to new format
  .changeset/sweet-squids-dig.md
  plugins/scaffolder-backend-module-cookiecutter/report.api.md
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
Labels: area:scaffolder

#30118 `scaffolder-module-gitea`: migrate to new format
  .changeset/red-vans-march.md
  plugins/scaffolder-backend-module-gitea/report.api.md
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.ts
Labels: area:scaffolder

#30133 `scaffolder-module-gitlab`: migrate to new actions format
  .changeset/cuddly-camels-lose.md
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueEdit.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabPipelineTrigger.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectDeployTokenCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectVariableCreate.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
Labels: area:scaffolder

#30134 `scaffolder-module-rails`: migrate to new actions format
  .changeset/orange-masks-decide.md
  plugins/scaffolder-backend-module-rails/report.api.md
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.ts
Labels: area:scaffolder

#30135 `scaffolder-module-sentry`: migrate to new format
  .changeset/mighty-windows-boil.md
  plugins/scaffolder-backend-module-sentry/report.api.md
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.ts
Labels: area:scaffolder

#30082 [Catalog] GitLab Org SAAS - Ingest Users from Sub Groups
  .changeset/major-heads-scream.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
Labels: area:catalog

#30145 Catalog import plugin full support i18n
  .changeset/slimy-cups-shake.md
  plugins/catalog-import/report-alpha.api.md
  plugins/catalog-import/src/components/ImportInfoCard/ImportInfoCard.tsx
  plugins/catalog-import/src/components/StepPrepareCreatePullRequest/StepPrepareCreatePullRequest.tsx
  plugins/catalog-import/src/translation.ts
Labels: area:catalog

#30141 feat: SearchBar clear button support i18n
  .changeset/warm-hornets-unite.md
  plugins/search-react/report-alpha.api.md
  plugins/search-react/src/components/SearchBar/SearchBar.tsx
  plugins/search-react/src/translation.ts
Labels: area:search

#29628 Add daily weather plugin to market place
  microsite/data/plugins/daily-weather-update.yaml
Labels: area:microsite

#30153 remove some usages of the old alpha catalog service
  .changeset/khaki-swans-invite.md
  .changeset/some-llamas-go.md
  plugins/catalog-backend-module-bitbucket-cloud/report.api.md
  plugins/catalog-backend-module-bitbucket-cloud/src/module/catalogModuleBitbucketCloudEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
  plugins/notifications-backend-module-email/src/module.ts
  plugins/notifications-backend-module-email/src/processor/NotificationsEmailProcessor.ts
  plugins/notifications-backend/package.json
  plugins/notifications-backend/src/plugin.ts
  plugins/notifications-backend/src/service/getUsersForEntityRef.test.ts
  plugins/notifications-backend/src/service/getUsersForEntityRef.ts
  plugins/notifications-backend/src/service/router.ts
  yarn.lock
Labels: area:catalog

#30142 `scaffolder-backend`: last of the actions migrated, and removal of the old `TemplateAction` types
  .changeset/eighty-showers-hide.md
  .changeset/fresh-otters-say.md
  .changeset/scaffolder-breakges-4.md
  .changeset/strong-trams-joke.md
  packages/cli/templates/scaffolder-backend-module/src/actions/example.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPullRequest.ts
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/write.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/log.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/debug/wait.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plain.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/plainFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/templateFile.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/read.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/rename.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-node-test-utils/report.api.md
  plugins/scaffolder-node-test-utils/src/actions/mockActionContext.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/actions/createTemplateAction.test.ts
  plugins/scaffolder-node/src/actions/createTemplateAction.ts
  plugins/scaffolder-node/src/actions/types.ts
  plugins/scaffolder-node/src/actions/util.ts
Labels: area:scaffolder

#30152 `scaffolder-backend`: :broom: use `CatalogService` in default actions, and cleanup older exports that are no longer required.
  .changeset/scaffolder-breakages-4.md
  .changeset/scaffolder-breakages-5.md
  .changeset/scaffolder-breakages-6.md
  packages/app/src/apis.ts
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
  plugins/scaffolder-backend-module-github/src/module.ts
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.examples.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/register.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/createBuiltinActions.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/index.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/helpers.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  yarn.lock
Labels: area:scaffolder

#30171 home - Fixed the `WelcomeTitle` to properly default to the previous value of `inherit`
  .changeset/spicy-rivers-notice.md
  plugins/home/src/homePageComponents/WelcomeTitle/WelcomeTitle.tsx
Labels: area:home, area:search

#30151 Added caution design to building app - converting-3rd party plugin
  docs/frontend-system/building-apps/06-plugin-conversion.md
Labels: area:documentation

#30173 display appropriate message when global templating function metadata …
  .changeset/purple-times-deny.md
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/components/TemplatingExtensionsPage/TemplateGlobals.tsx
  plugins/scaffolder/src/components/TemplatingExtensionsPage/TemplatingExtensionsPage.test.tsx
  plugins/scaffolder/src/translation.ts
Labels: area:scaffolder

#29923 Add tests for Scaffolder
  .changeset/tender-trees-open.md
  .changeset/tender-wolves-lie.md
  packages/backend-test-utils/src/next/services/mockCredentials.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/read.ts
  plugins/scaffolder-backend/src/service/router.test.ts
Labels: area:scaffolder

#30187 `scaffolder-backend`: :broom: cleanup the `createRouter` tests
  plugins/scaffolder-backend/src/service/router.test.ts
Labels: area:scaffolder

#29315 feat(events): add a new kafka module for events backend
  .changeset/deep-aliens-camp.md
  plugins/events-backend-module-kafka/.eslintrc.js
  plugins/events-backend-module-kafka/README.md
  plugins/events-backend-module-kafka/catalog-info.yaml
  plugins/events-backend-module-kafka/config.d.ts
  plugins/events-backend-module-kafka/package.json
  plugins/events-backend-module-kafka/report.api.md
  plugins/events-backend-module-kafka/src/index.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumerClient.test.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumerClient.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumingEventPublisher.test.ts
  plugins/events-backend-module-kafka/src/publisher/KafkaConsumingEventPublisher.ts
  plugins/events-backend-module-kafka/src/publisher/LoggerServiceAdapter.ts
  plugins/events-backend-module-kafka/src/publisher/config.test.ts
  plugins/events-backend-module-kafka/src/publisher/config.ts
  plugins/events-backend-module-kafka/src/service/eventsModuleKafkaConsumingEventPublisher.test.ts
  plugins/events-backend-module-kafka/src/service/eventsModuleKafkaConsumingEventPublisher.ts
  yarn.lock
Labels: area:events

#30201 Version Packages (next)
  .changeset/create-app-1749636320.md
  .changeset/pre.json
  docs/releases/v1.40.0-next.3-changelog.md
  package.json
  packages/app-next/CHANGELOG.md
  packages/app-next/package.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-app/CHANGELOG.md
  packages/create-app/package.json
  packages/e2e-test/CHANGELOG.md
  packages/e2e-test/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/techdocs-cli-embedded-app/CHANGELOG.md
  packages/techdocs-cli-embedded-app/package.json
  plugins/events-backend-module-kafka/CHANGELOG.md
  plugins/events-backend-module-kafka/package.json
Labels: area:documentation, area:techdocs, area:events

#30023 Add CSP configuration section to root-http-router.md file
  docs/backend-system/core-services/root-http-router.md
Labels: area:documentation

#30217 add an actual functional implementation of `mockServices.permissions`
  .changeset/sharp-papayas-press.md
  packages/backend-test-utils/package.json
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/next/services/MockPermissionsService.test.ts
  packages/backend-test-utils/src/next/services/MockPermissionsService.ts
  packages/backend-test-utils/src/next/services/mockServices.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/kubernetes-backend/src/routes/resourceRoutes.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  yarn.lock
Labels: area:catalog, area:kubernetes, area:scaffolder

#30230 corrected config flag name in docs
  docs/backend-system/core-services/root-http-router.md
Labels: area:documentation

#30225 docs: fix autologout default value
  docs/auth/autologout.md
Labels: area:documentation

#30219 Add validateLocationsExist option for the BitbucketServer entity provider
  .changeset/fifty-sides-begin.md
  docs/integrations/bitbucketServer/discovery.md
  plugins/catalog-backend-module-bitbucket-server/config.d.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProvider.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/providers/BitbucketServerEntityProviderConfig.ts
Labels: area:documentation, area:catalog

#29623 chore(deps): Update deprecated xterm to new package under @xterm
  .changeset/fine-spoons-laugh.md
  plugins/kubernetes-react/package.json
  plugins/kubernetes-react/src/components/PodExecTerminal/PodExecTerminal.tsx
  plugins/kubernetes-react/src/components/PodExecTerminal/PodExecTerminalAttachAddon.ts
  plugins/kubernetes/package.json
  yarn.lock
Labels: area:kubernetes, stale

#30253 fix test flake due to missing timeout bump
  plugins/events-backend/src/service/EventsPlugin.test.ts
  plugins/events-backend/src/service/hub/DatabaseEventBusStore.test.ts
Labels: area:events

#30256 :broom: just a few more circular dependencies
  .changeset/nice-ties-film.md
  packages/core-plugin-api/src/apis/definitions/TranslationApi.ts
  packages/frontend-app-api/src/routing/collectRouteIds.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/coreExtensionData.ts
  plugins/auth-node/report.api.md
  plugins/auth-node/src/identity/prepareBackstageIdentityResponse.ts
  plugins/catalog-node/src/api/provider.ts
  plugins/catalog-node/src/processing/types.ts
Labels: area:catalog, area:auth

#29821 [catalog]: Support disabling one form of relationships from `ldap` module
  .changeset/yellow-rats-argue.md
  plugins/catalog-backend-module-ldap/config.d.ts
  plugins/catalog-backend-module-ldap/report.api.md
  plugins/catalog-backend-module-ldap/src/ldap/config.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.test.ts
  plugins/catalog-backend-module-ldap/src/ldap/read.ts
Labels: area:catalog

#28708 Backend rate limit
  .changeset/famous-terms-rescue.md
  app-config.yaml
  docs/backend-system/core-services/http-router.md
  docs/backend-system/core-services/root-http-router.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/report-rootHttpRouter.api.md
  packages/backend-defaults/src/entrypoints/httpRouter/http/createRateLimitMiddleware.ts
  packages/backend-defaults/src/entrypoints/httpRouter/httpRouterServiceFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/http/MiddlewareFactory.ts
  packages/backend-defaults/src/entrypoints/rootHttpRouter/rootHttpRouterServiceFactory.ts
  packages/backend-defaults/src/lib/RateLimitStoreFactory.test.ts
  packages/backend-defaults/src/lib/RateLimitStoreFactory.ts
  packages/backend-defaults/src/lib/rateLimitMiddleware.ts
  yarn.lock
Labels: area:documentation, domain:docs

#30288 Add initial implementation of MCP Server
  .changeset/lovely-lands-clap.md
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/mcp-actions-backend/.eslintrc.js
  plugins/mcp-actions-backend/README.md
  plugins/mcp-actions-backend/catalog-info.yaml
  plugins/mcp-actions-backend/dev/index.ts
  plugins/mcp-actions-backend/package.json
  plugins/mcp-actions-backend/report.api.md
  plugins/mcp-actions-backend/src/index.ts
  plugins/mcp-actions-backend/src/plugin.test.ts
  plugins/mcp-actions-backend/src/plugin.ts
  plugins/mcp-actions-backend/src/routers/createSseRouter.ts
  plugins/mcp-actions-backend/src/routers/createStreamableRouter.ts
  plugins/mcp-actions-backend/src/services/McpService.test.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
  yarn.lock
Labels: workflow:before-release

#30294 `mcp-actions`: Use `output` instead of `structuredOutput` for the time being
  plugins/mcp-actions-backend/src/plugin.test.ts
  plugins/mcp-actions-backend/src/services/McpService.test.ts
  plugins/mcp-actions-backend/src/services/McpService.ts
Labels: workflow:before-release

#30293 `catalog`: Implement simple `get-catalog-entity` action
  .changeset/grumpy-mails-live.md
  plugins/catalog-backend/src/actions/createGetCatalogEntityAction.test.ts
  plugins/catalog-backend/src/actions/createGetCatalogEntityAction.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
Labels: area:catalog, workflow:before-release

#30221 export vendor types for testing custom transformers
  .changeset/empty-actors-relax.md
  plugins/catalog-backend-module-ldap/report.api.md
  plugins/catalog-backend-module-ldap/src/ldap/index.ts
Labels: area:catalog

#29788 feat(catalog)!: remove catalog.useUrlReadersSearch and always use search
  .changeset/cyan-islands-swim.md
  app-config.yaml
  packages/create-app/templates/default-app/app-config.yaml.hbs
  plugins/catalog-backend/config.d.ts
  plugins/catalog-backend/package.json
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/processors/UrlReaderProcessor.test.ts
  plugins/catalog-backend/src/processors/UrlReaderProcessor.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  yarn.lock
Labels: area:catalog, workflow:after-release

#30345 Fix Error Message in StepInitAnalyzeUrl.tsx
  .changeset/stupid-donuts-sit.md
  plugins/catalog-import/src/components/StepInitAnalyzeUrl/StepInitAnalyzeUrl.tsx
Labels: area:catalog

#30170 Fix(Integration - GitLab): use authorization header for GitLab requests
  .changeset/six-dots-agree.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GitlabUrlReader.ts
  packages/integration/src/gitlab/core.test.ts
  packages/integration/src/gitlab/core.ts
  plugins/catalog-backend-module-gitlab/src/GitLabDiscoveryProcessor.test.ts
Labels: area:catalog

#30183 fix(Scaffolder): filter MultiEntityPicker options based on rendered option values
  .changeset/empty-mugs-agree.md
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.test.tsx
  plugins/scaffolder/src/components/fields/MultiEntityPicker/MultiEntityPicker.tsx
Labels: area:scaffolder

#30376 fix: incremental burstLength check
  .changeset/fancy-nails-call.md
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/engine/IncrementalIngestionEngine.ts
  plugins/catalog-backend-module-incremental-ingestion/src/types.ts
Labels: area:catalog
