Repository backstage/backstage, pull requests merged in 2025-01, with the labels that each got.

#28152 Add Knative event mesh plugin to the plugin listing
  microsite/data/plugins/knative-event-mesh.yaml
Labels: microsite, stale

#28233 fix(catalog-backend-module-github): update parent to not send a object with empty string
  .changeset/weak-frogs-nail.md
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubMultiOrgEntityProvider.ts
Labels: area:catalog

#28353 add Cyclops modules plugin
  microsite/data/plugins/cyclops-modules.yaml
  microsite/static/img/cyclops.svg
Labels: microsite

#28345 Update Knative Event Mesh plugin icon
  microsite/data/plugins/knative-event-mesh.yaml
Labels: microsite

#28361 Pass down `withSearch` from `EntityTechdocsContent` component
  .changeset/gentle-deers-return.md
  plugins/techdocs/report.api.md
  plugins/techdocs/src/Router.tsx
Labels: area:techdocs

#28385 fix: change partner alauda logo
  microsite/static/img/partner-logo-alauda.png
Labels: microsite

#28378 fix: pinch and zoom translation
  .changeset/red-hotels-sneeze.md
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/translation.ts
Labels: area:catalog

#28369 Adding Liatrio as a commercial partner to the Community page
  microsite/src/pages/community/index.tsx
  microsite/static/img/partner-logo-liatrio.png
Labels: microsite

#28367 Fixed the issue #28239 (Bug Report: Field extension validation does not work when field is in dependencies in an array field)
  .changeset/little-scissors-fold.md
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
Labels: area:scaffolder

#27363 Add core component CatalogAutocomplete and use for Catalog entity filters
  .changeset/fluffy-jars-protect.md
  plugins/catalog-react/src/components/CatalogAutocomplete/CatalogAutocomplete.stories.tsx
  plugins/catalog-react/src/components/CatalogAutocomplete/CatalogAutocomplete.test.tsx
  plugins/catalog-react/src/components/CatalogAutocomplete/CatalogAutocomplete.tsx
  plugins/catalog-react/src/components/CatalogAutocomplete/index.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePicker.tsx
  plugins/catalog-react/src/components/EntityAutocompletePicker/EntityAutocompletePickerInput.tsx
  plugins/catalog-react/src/components/EntityOwnerPicker/EntityOwnerPicker.tsx
  plugins/catalog-react/src/components/EntityProcessingStatusPicker/EntityProcessingStatusPicker.tsx
Labels: area:catalog

#28430 [🧹 ] Just some small house-keeping (low prio)
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/catalog/src/plugin.ts
Labels: area:catalog

#27838 Add gitlab scaffolder action to migrate groups and projects (bulk_imports)
  .changeset/purple-scissors-switch.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.ts
  plugins/scaffolder-backend-module-gitlab/src/module.ts
Labels: area:scaffolder

#28324 feat(plugin): glean
  microsite/data/plugins/glean.yaml
  microsite/static/img/glean-logo-circular-white.png
Labels: microsite

#28433 cfaccess: fallback to identity email when constructing the user profile
  .changeset/fast-seas-hunt.md
  plugins/auth-backend-module-cloudflare-access-provider/src/authenticator.test.ts
  plugins/auth-backend-module-cloudflare-access-provider/src/authenticator.ts
Labels: auth

#28453 chore: update getFile in BitbucketServerClient to use REST API path
  .changeset/thick-radios-wink.md
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.test.ts
  plugins/catalog-backend-module-bitbucket-server/src/lib/BitbucketServerClient.ts
Labels: area:catalog

#28272 Feature: Allow adding MR reviewers via publish:gitlab:merge-request action & automatic assignment of reviewers based on approval rules (#26675)
  .changeset/lovely-stingrays-know.md
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.ts
  plugins/scaffolder-backend/report.api.md
Labels: area:scaffolder

#27257 Add proxyEndpointsExtensionPoint
  .changeset/four-bananas-sneeze.md
  docs/plugins/proxying.md
  plugins/proxy-backend/dev/index.ts
  plugins/proxy-backend/package.json
  plugins/proxy-backend/report.api.md
  plugins/proxy-backend/src/plugin.ts
  plugins/proxy-backend/src/service/router.ts
  plugins/proxy-node/.eslintrc.js
  plugins/proxy-node/README.md
  plugins/proxy-node/catalog-info.yaml
  plugins/proxy-node/package.json
  plugins/proxy-node/report-alpha.api.md
  plugins/proxy-node/src/alpha/index.ts
  yarn.lock
Labels: documentation

#28211 Add ApiBlueprint for form-decorators
  .changeset/strong-schools-fix.md
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/next/blueprints/FormDecoratorBlueprint.tsx
  plugins/scaffolder-react/src/next/blueprints/index.ts
  plugins/scaffolder/report-alpha.api.md
  plugins/scaffolder/src/alpha/api/FormDecoratorsApi.ts
  plugins/scaffolder/src/alpha/api/index.ts
  plugins/scaffolder/src/alpha/plugin.tsx
Labels: area:scaffolder

#28419 Updated docs of versioning policy
  docs/overview/versioning-policy.md
Labels: documentation

#28374 Added Jager Tracing plugin
  microsite/data/plugins/jaegertracing.yaml
Labels: microsite

#28373 Updated info in the linking local packages docs
  docs/tooling/local-dev/linking-local-packages.md
Labels: documentation

#28371 Updated docs of backstage conf
  docs/conf/index.md
Labels: documentation

#28366 Add Kyverno Policy Reports plugin to plugins marketplace
  microsite/data/plugins/kyverno.yaml
Labels: microsite

#28439 Make gitlab:group:ensureExists support path objects
  .changeset/young-forks-grab.md
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabGroupEnsureExists.ts
Labels: area:scaffolder

#28322 Add Kubernetes Ingestor plugin to plugins marketplace
  microsite/data/plugins/kubernetes-ingestor.yaml
Labels: microsite

#28319 Add Crossplane plugin to plugins marketplace
  microsite/data/plugins/crossplane.yaml
Labels: microsite

#26800 feat(gerrit-urlreader): support fetching content for a commit SHA hash
  .changeset/light-sloths-report.md
  .changeset/old-waves-camp.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.ts
  packages/integration/report.api.md
  packages/integration/src/gerrit/core.test.ts
  packages/integration/src/gerrit/core.ts
  packages/integration/src/gerrit/index.ts
Labels: merge-after-release

#28364 docs: use a valid configuration as example for catalog-backend-module-backstage-openapi
  .changeset/tasty-chairs-beam.md
  plugins/catalog-backend-module-backstage-openapi/README.md
Labels: area:catalog

#28450 Updated docs of Kubernetes configuration docs
  docs/features/kubernetes/configuration.md
Labels: documentation

#28444 refactor: replace @keyv/redis with @keyv/valkey
  .changeset/blue-actors-compare.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/cache/CacheManager.test.ts
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
  packages/backend-test-utils/package.json
  packages/backend-test-utils/src/cache/redis.ts
  yarn.lock
Labels: merge-after-release

#28085 feat(GitHubOrgEntityProvider): adds throttling and rate limit handling to GithubOrgEntityProvider
  .changeset/spicy-trainers-search.md
  plugins/catalog-backend-module-github/package.json
  plugins/catalog-backend-module-github/src/lib/github.test.ts
  plugins/catalog-backend-module-github/src/lib/github.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.test.ts
  plugins/catalog-backend-module-github/src/providers/GithubOrgEntityProvider.ts
  yarn.lock
Labels: area:catalog

#28466 restore the search collator types to not break the api
  .changeset/spicy-tomatoes-hammer.md
  plugins/catalog-backend/package.json
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/deprecated.ts
  yarn.lock
Labels: area:catalog

#28460 fix(doc): issues #17189 adds missing read_api scope
  docs/auth/gitlab/provider.md
Labels: documentation

#28469 docs/releases: add 1.35
  docs/releases/v1.35.0.md
Labels: documentation

#28395 Search: Add result type and filter extension points to the search plugin
  .changeset/dry-flies-rhyme.md
  plugins/search-react/report-alpha.api.md
  plugins/search-react/src/alpha/blueprints/SearchFilterBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterBlueprint.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterResultTypeBlueprint.test.tsx
  plugins/search-react/src/alpha/blueprints/SearchFilterResultTypeBlueprint.tsx
  plugins/search-react/src/alpha/blueprints/index.ts
  plugins/search-react/src/alpha/blueprints/types.ts
  plugins/search/report-alpha.api.md
  plugins/search/src/alpha.tsx
Labels: search, area:search

#28446 feat(techdocs): add support for AWS S3 retries in publisher
  .changeset/old-phones-rest.md
  docs/features/techdocs/cli.md
  packages/techdocs-cli/cli-report.md
  packages/techdocs-cli/src/commands/index.ts
  packages/techdocs-cli/src/lib/PublisherConfig.ts
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: documentation, area:techdocs

#28452 Fix resolveUrl for splited openapi definition relative path (issues #…
  .changeset/orange-brooms-lick.md
  plugins/catalog-backend-module-openapi/src/lib/bundle.test.ts
  plugins/catalog-backend-module-openapi/src/lib/bundle.ts
Labels: area:catalog

#28315 repo-tools: add SQL reports
  .changeset/cyan-grapes-confess.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  package.json
  packages/backend-defaults/report-auth.sql.md
  packages/backend-defaults/report-scheduler.sql.md
  packages/repo-tools/cli-report.md
  packages/repo-tools/package.json
  packages/repo-tools/src/commands/api-reports/api-extractor.ts
  packages/repo-tools/src/commands/api-reports/api-reports.test.ts
  packages/repo-tools/src/commands/api-reports/api-reports.ts
  packages/repo-tools/src/commands/api-reports/sql-reports/generateSqlReport.ts
  packages/repo-tools/src/commands/api-reports/sql-reports/getPgSchemaInfo.ts
  packages/repo-tools/src/commands/api-reports/sql-reports/index.ts
  packages/repo-tools/src/commands/api-reports/sql-reports/runSqlExtraction.ts
  packages/repo-tools/src/commands/api-reports/sql-reports/types.ts
  packages/repo-tools/src/commands/index.ts
  plugins/app-backend/report.sql.md
  plugins/auth-backend/report.sql.md
  plugins/catalog-backend-module-incremental-ingestion/report.sql.md
  plugins/catalog-backend/report.sql.md
  plugins/events-backend/report.sql.md
  plugins/notifications-backend/report.sql.md
  plugins/scaffolder-backend/report.sql.md
  plugins/search-backend-module-pg/report.sql.md
  plugins/user-settings-backend/report.sql.md
  yarn.lock
Labels: area:catalog, auth, search, area:scaffolder, merge-after-release, area:events, area:search

#28400 permissions: add new PermissionIntegrationsService
  .changeset/afraid-kids-jog.md
  .changeset/curvy-ways-play.md
  .changeset/green-jokes-provide.md
  .changeset/hungry-mirrors-sniff.md
  .changeset/loud-walls-build.md
  .changeset/old-moons-end.md
  .changeset/sharp-vans-protect.md
  docs/backend-system/core-services/permissionsRegistry.md
  docs/permissions/custom-rules.md
  docs/permissions/plugin-authors/02-adding-a-basic-permission-check.md
  docs/permissions/plugin-authors/03-adding-a-resource-permission-check.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
  packages/backend-defaults/package.json
  packages/backend-defaults/report-permissionsRegistry.api.md
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/entrypoints/permissionsRegistry/index.ts
  packages/backend-defaults/src/entrypoints/permissionsRegistry/permissionsRegistryServiceFactory.ts
  packages/backend-plugin-api/package.json
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/PermissionsRegistryService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/next/services/mockServices.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/catalog-backend-module-unprocessed/src/module.ts
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.test.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-node/report-alpha.api.md
  plugins/catalog-node/src/extensions.ts
  plugins/permission-node/report.api.md
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.test.ts
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
  yarn.lock
Labels: documentation, area:catalog, merge-after-release, area:permission

#28487 fix(scaffolder): resolve bug in BitbucketRepoBranchPicker crashing the scaffolder
  .changeset/proud-hornets-cheer.md
  plugins/scaffolder/src/components/fields/RepoBranchPicker/BitbucketRepoBranchPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoBranchPicker/BitbucketRepoBranchPicker.tsx
Labels: area:scaffolder

#28499 Update 04-authorizing-access-to-paginated-data.md
  docs/permissions/plugin-authors/04-authorizing-access-to-paginated-data.md
Labels: documentation

#28365 search-catalog add encodeURIComponent for location
  .changeset/sharp-years-drive.md
  plugins/search-backend-module-catalog/src/collators/DefaultCatalogCollatorFactory.ts
Labels: search, area:search

#28527 catalog-backend: fix catalog processing not replacing all existing references
  .changeset/fair-mangos-sleep.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog

#28529 update the corp proxy doc too
  contrib/docs/tutorials/help-im-behind-a-corporate-proxy.md
  docs/getting-started/keeping-backstage-updated.md
  packages/techdocs-cli/README.md
Labels: documentation, area:techdocs

#28531 techdocs-cli: fix dynamic imports
  .changeset/tall-scissors-sip.md
  packages/techdocs-cli/src/commands/index.ts
Labels: area:techdocs

#28150 Kubernetes: add option to fetch additional objectTypes which are not present in DEFAULT_OBJECTS
  .changeset/gentle-actors-sleep.md
  docs/features/kubernetes/configuration.md
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.ts
  plugins/kubernetes-common/report.api.md
  plugins/kubernetes-common/src/types.ts
  plugins/kubernetes-node/report.api.md
  plugins/kubernetes-node/src/types/types.ts
Labels: documentation, area:kubernetes

#28384 fix: convert string to int to handle with decimal bigInt
  .changeset/bigint-convert.md
  plugins/kubernetes-react/src/utils/pod.test.tsx
  plugins/kubernetes-react/src/utils/pod.tsx
  plugins/kubernetes-react/src/utils/resource.test.ts
  plugins/kubernetes-react/src/utils/resources.ts
Labels: area:kubernetes

#28484 fix: Techdocs base url should be app.baseUrl
  .changeset/proud-dryers-act.md
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/dom.tsx
Labels: area:techdocs

#27853 [plugin-techdocs] Add props to increase flexibility and reusability
  .changeset/warm-masks-ring.md
  docs/features/techdocs/how-to-guides.md
  plugins/techdocs/package.json
  plugins/techdocs/report.api.md
  plugins/techdocs/src/home/components/DefaultTechDocsHome.tsx
  plugins/techdocs/src/home/components/Grids/InfoCardGrid.test.tsx
  plugins/techdocs/src/home/components/Grids/InfoCardGrid.tsx
  plugins/techdocs/src/home/components/Grids/index.ts
  plugins/techdocs/src/home/components/TechDocsCustomHome.test.tsx
  plugins/techdocs/src/home/components/TechDocsCustomHome.tsx
  plugins/techdocs/src/home/components/TechDocsIndexPage.tsx
  plugins/techdocs/src/home/components/TechDocsPageWrapper.tsx
  plugins/techdocs/src/home/components/index.ts
  plugins/techdocs/src/index.ts
  plugins/techdocs/src/overridableComponents.ts
  yarn.lock
Labels: documentation, area:techdocs

#28320 Add DevPod plugin to plugins marketplace
  microsite/data/plugins/devpod.yaml
Labels: microsite

#26372 feat: add auditor to coreServices
  .changeset/olive-boxes-hide-backend-defaults.md
  .changeset/olive-boxes-hide-backend-plugin-api.md
  .changeset/olive-boxes-hide-backend-test-utils.md
  .changeset/olive-boxes-hide-catalog-backend.md
  .changeset/olive-boxes-hide-scaffolder-backend.md
  .changeset/olive-boxes-hide-scaffolder-node.md
  docs/backend-system/core-services/auditor.md
  packages/backend-defaults/package.json
  packages/backend-defaults/report-auditor.api.md
  packages/backend-defaults/src/CreateBackend.ts
  packages/backend-defaults/src/entrypoints/auditor/Auditor.test.ts
  packages/backend-defaults/src/entrypoints/auditor/Auditor.ts
  packages/backend-defaults/src/entrypoints/auditor/auditorServiceFactory.ts
  packages/backend-defaults/src/entrypoints/auditor/index.ts
  packages/backend-plugin-api/report.api.md
  packages/backend-plugin-api/src/services/definitions/AuditorService.ts
  packages/backend-plugin-api/src/services/definitions/coreServices.ts
  packages/backend-plugin-api/src/services/definitions/index.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/next/services/mockServices.ts
  packages/backend-test-utils/src/next/wiring/TestBackend.ts
  plugins/catalog-backend/README.md
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/CatalogPlugin.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/catalog-backend/src/service/createRouter.ts
  plugins/scaffolder-backend/README.md
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/dryrun/createDryRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/tasks/types.ts
Labels: area:documentation, area:catalog, area:scaffolder

#28572 catalog-backend: integration test refactor
  plugins/catalog-backend/src/tests/integration.test.ts
Labels: area:catalog

#28585 techdocs: add missing alpha entity content route ref
  .changeset/fifty-turtles-count.md
  plugins/techdocs/src/alpha.tsx
Labels: area:techdocs

#28600 make `ldapOrg` config key optional
  .changeset/odd-countries-vanish.md
  plugins/catalog-backend-module-ldap/config.d.ts
Labels: area:catalog

#26971 feat: render nested metadata as yaml
  .changeset/eight-cougars-collect-due.md
  .changeset/eight-cougars-collect.md
  packages/core-components/package.json
  packages/core-components/report.api.md
  packages/core-components/src/components/StructuredMetadataTable/StructuredMetadataTable.test.tsx
  packages/core-components/src/components/StructuredMetadataTable/StructuredMetadataTable.tsx
  plugins/kubernetes-cluster/src/components/ClusterOverview/ClusterOverview.tsx
  plugins/kubernetes-cluster/src/components/Nodes/Nodes.tsx
  plugins/kubernetes-react/src/components/CustomResources/DefaultCustomResource.tsx
  plugins/kubernetes-react/src/components/DeploymentsAccordions/DeploymentDrawer.test.tsx
  plugins/kubernetes-react/src/components/IngressesAccordions/IngressDrawer.test.tsx
  plugins/kubernetes-react/src/components/IngressesAccordions/IngressesAccordions.tsx
  plugins/kubernetes-react/src/components/KubernetesDrawer/KubernetesStructuredMetadataTableDrawer.tsx
  plugins/kubernetes-react/src/components/Pods/PodDrawer/ContainerCard.tsx
  plugins/kubernetes-react/src/components/ServicesAccordions/ServiceDrawer.test.tsx
  plugins/kubernetes-react/src/components/ServicesAccordions/ServicesAccordions.tsx
  plugins/kubernetes-react/src/components/StatefulSetsAccordions/StatefulSetDrawer.test.tsx
  plugins/kubernetes/dev/index.tsx
  plugins/kubernetes/src/__fixtures__/3-ingresses.json
  yarn.lock
Labels: area:kubernetes

#28441 fix: add validation for the `each` values
  .changeset/fair-rocks-dream.md
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
Labels: area:scaffolder

#28418 add documentation for async field extension validators
  docs/features/software-templates/writing-custom-field-extensions.md
Labels: area:documentation

#28397 chore: prevent collision by default in custom home page
  .changeset/polite-apricots-exercise.md
  plugins/home/src/components/CustomHomepage/CustomHomepageGrid.tsx
Labels: homepage, area:home, area:search

#28376 fix: fixed the bug on 'My Squads' section of the sidebar, to display the titles for the list of squads using displayName, instead of the current metadata name
  .changeset/purple-years-cross.md
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.test.tsx
  plugins/org/src/components/MyGroupsSidebarItem/MyGroupsSidebarItem.tsx
Labels: stale

#28440 Support empty repo and skip creation of a repository if it already exists
  .changeset/eleven-goats-yell.md
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.examples.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Labels: area:scaffolder

#28579 chore: deprecate old react versions
  .changeset/witty-clocks-thank.md
  canon-docs/package.json
  canon-docs/yarn.lock
  microsite/package.json
  microsite/yarn.lock
  package.json
  packages/app-defaults/package.json
  packages/app-next-example-plugin/package.json
  packages/canon/package.json
  packages/core-app-api/package.json
  packages/core-compat-api/package.json
  packages/core-components/package.json
  packages/core-plugin-api/package.json
  packages/dev-utils/package.json
  packages/frontend-app-api/package.json
  packages/frontend-defaults/package.json
  packages/frontend-plugin-api/package.json
  packages/frontend-test-utils/package.json
  packages/integration-react/package.json
  packages/repo-tools/src/commands/peer-deps/peer-deps.ts
  packages/test-utils/package.json
  packages/theme/package.json
  packages/version-bridge/package.json
  plugins/api-docs-module-protoc-gen-doc/package.json
  plugins/api-docs/package.json
  plugins/app-visualizer/package.json
  plugins/app/package.json
  plugins/auth-react/package.json
  plugins/catalog-graph/package.json
  plugins/catalog-import/package.json
  plugins/catalog-react/package.json
  plugins/catalog-unprocessed-entities/package.json
  plugins/catalog/package.json
  plugins/config-schema/package.json
  plugins/devtools/package.json
  plugins/example-todo-list/package.json
  plugins/home-react/package.json
  plugins/home/package.json
  plugins/kubernetes-cluster/package.json
  plugins/kubernetes-react/package.json
  plugins/kubernetes/package.json
  plugins/notifications/package.json
  plugins/org-react/package.json
  plugins/org/package.json
  plugins/permission-react/package.json
  plugins/scaffolder-node-test-utils/package.json
  plugins/scaffolder-react/package.json
  plugins/scaffolder/package.json
  plugins/search-react/package.json
  plugins/search/package.json
  plugins/signals-react/package.json
  plugins/signals/package.json
  plugins/techdocs-addons-test-utils/package.json
  plugins/techdocs-module-addons-contrib/package.json
  plugins/techdocs-react/package.json
  plugins/techdocs/package.json
  plugins/user-settings/package.json
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Labels: storybook, area:catalog, auth, area:techdocs, microsite, area:kubernetes, search, homepage, area:scaffolder, needs discussion, area:permission, area:home, area:search

#28578 openapi exports test utils under a different subpath
  .changeset/thirty-dancers-cheat.md
  docs/openapi/01-getting-started.md
  packages/backend-openapi-utils/package.json
  packages/backend-openapi-utils/report-testUtils.api.md
  packages/backend-openapi-utils/report.api.md
  packages/backend-openapi-utils/src/index.ts
  plugins/catalog-backend/src/service/createRouter.test.ts
  plugins/search-backend/src/service/router.test.ts
Labels: area:catalog, search, area:search

#28642 catalog-backend: allow processors to include location key when emitting entities
  .changeset/fifty-humans-repair.md
  .changeset/hip-hotels-type.md
  .changeset/nine-ears-destroy.md
  plugins/catalog-backend/report.api.md
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.test.ts
  plugins/catalog-backend/src/database/DefaultProcessingDatabase.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
  plugins/catalog-backend/src/processing/ProcessorOutputCollector.ts
  plugins/catalog-backend/src/tests/integration.test.ts
  plugins/catalog-node/report.api.md
  plugins/catalog-node/src/api/processingResult.ts
  plugins/catalog-node/src/api/processor.ts
Labels: area:catalog

#28424 Update docker.md
  docs/deployment/docker.md
Labels: area:documentation

#28645 Reverted the validation in depenendencies in scaffolder
  .changeset/bright-carrots-care.md
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
Labels: area:scaffolder

#28314 Add ajv and immer peer dependencies to plugin-scaffolder-react
  .changeset/metal-worms-live.md
  plugins/scaffolder-react/package.json
  yarn.lock
Labels: area:scaffolder

#28651 Catalog: retain inspect dialog visibility on page reload
  .changeset/short-keys-heal.md
  .changeset/silly-vans-shop.md
  plugins/catalog-graph/src/components/CatalogGraphCard/CatalogGraphCard.tsx
  plugins/catalog-react/report.api.md
  plugins/catalog-react/src/components/InspectEntityDialog/InspectEntityDialog.tsx
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

#28488 Register env0 plugin to the marketplace
  microsite/data/plugins/env0.yaml
Labels: microsite

#28657 Patch release of #28585, #28487, #28645, #28655
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/lib/builder/plugins.ts
  plugins/scaffolder-react/CHANGELOG.md
  plugins/scaffolder-react/package.json
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.test.ts
  plugins/scaffolder-react/src/next/components/Stepper/createAsyncValidators.ts
  plugins/scaffolder/CHANGELOG.md
  plugins/scaffolder/package.json
  plugins/scaffolder/src/components/fields/RepoBranchPicker/BitbucketRepoBranchPicker.test.tsx
  plugins/scaffolder/src/components/fields/RepoBranchPicker/BitbucketRepoBranchPicker.tsx
  plugins/techdocs/CHANGELOG.md
  plugins/techdocs/package.json
  plugins/techdocs/src/alpha.tsx
Labels: area:techdocs, area:scaffolder

#28625 fix(scaffolder,techdocs): use custom error page
  .changeset/fifty-pandas-destroy.md
  plugins/scaffolder/src/components/Router/Router.test.tsx
  plugins/scaffolder/src/components/Router/Router.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.test.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPageContent/TechDocsReaderPageContent.tsx
Labels: area:techdocs, area:scaffolder

#28663 🧹 removed all knip-reported backend-common usages
  .changeset/gold-cameras-battle.md
  plugins/auth-node/knip-report.md
  plugins/auth-node/package.json
  plugins/example-todo-list-backend/knip-report.md
  plugins/example-todo-list-backend/package.json
  plugins/scaffolder/knip-report.md
  plugins/search-backend-module-catalog/knip-report.md
  plugins/search-backend-module-catalog/package.json
  plugins/search-backend-module-pg/knip-report.md
  plugins/search-backend-module-pg/package.json
  plugins/search-backend-node/knip-report.md
  plugins/search-backend-node/package.json
  yarn.lock
Labels: auth, search, area:scaffolder, area:search

#28502 Updated Announcements location
  microsite/data/plugins/announcements.yaml
Labels: microsite, stale

#28344 minor updates in provider doc file
  docs/auth/bitbucket/provider.md
  docs/auth/bitbucketServer/provider.md
  docs/auth/cloudflare/provider.md
  docs/auth/github/provider.md
  docs/auth/gitlab/provider.md
Labels: area:documentation, documentation

#28681 chore: add missing auditor sidebar in docs
  microsite/sidebars.js
Labels: microsite
