Repository backstage/backstage, pull requests merged in 2025-03, with the labels that each got.

#29016 remove backend-common from scaffolder-backend-module-gitlab
  .changeset/good-lions-tease.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabMergeRequest.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.examples.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.test.ts
  yarn.lock
Labels: area:scaffolder

#29028 add a test for refreshByRefreshKeys
  .changeset/three-bears-heal.md
  plugins/catalog-backend/src/database/operations/provider/refreshByRefreshKeys.test.ts
  plugins/catalog-backend/src/database/operations/provider/refreshByRefreshKeys.ts
Labels: area:catalog

#29017 scaffolder: got rid of most backend-common usages
  .changeset/kind-paws-visit.md
  plugins/scaffolder-backend-module-confluence-to-markdown/package.json
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.examples.test.ts
  plugins/scaffolder-backend-module-confluence-to-markdown/src/actions/confluence/confluenceToMarkdown.test.ts
  plugins/scaffolder-backend-module-cookiecutter/package.json
  plugins/scaffolder-backend-module-cookiecutter/report.api.md
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/ContainerRunner.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.examples.test.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.test.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/cookiecutter.ts
  plugins/scaffolder-backend-module-cookiecutter/src/actions/fetch/index.ts
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoPush.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubRepoPush.test.ts
  plugins/scaffolder-backend-module-rails/package.json
  plugins/scaffolder-backend-module-rails/report.api.md
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/ContainerRunner.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.examples.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/index.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.test.ts
  plugins/scaffolder-backend-module-rails/src/actions/fetch/rails/railsNewRunner.ts
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/StorageTaskBroker.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/TaskWorker.test.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-backend/src/util/loggerToWinstonLogger.ts
  plugins/scaffolder-common/src/alpha.ts
  plugins/scaffolder-node-test-utils/package.json
  plugins/scaffolder-node-test-utils/src/actions/loggerToWinstonLogger.ts
  plugins/scaffolder-node-test-utils/src/actions/mockActionContext.ts
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/loggerToWinstonLogger.ts
  yarn.lock
Labels: area:scaffolder

#29045 fix: update target property in config interface to be optional
  plugins/catalog-backend-module-msgraph/config.d.ts
Labels: area:catalog

#28577 fix(techdocs): scroll bar retains position after changing page
  .changeset/bright-pets-agree.md
  .changeset/chatty-turkeys-brake.md
  packages/core-components/src/layout/Page/Page.tsx
  plugins/techdocs/src/reader/components/TechDocsReaderPage/TechDocsReaderPage.tsx
Labels: area:techdocs

#29009 Removed TechDocs legacy backend docs
  docs/features/techdocs/getting-started.md
Labels: documentation

#29042 core-compat-api: added convertLegacyAppOptions
  .changeset/six-shrimps-breathe.md
  docs/frontend-system/building-apps/08-migrating.md
  packages/core-compat-api/report.api.md
  packages/core-compat-api/src/convertLegacyAppOptions.test.tsx
  packages/core-compat-api/src/convertLegacyAppOptions.tsx
  packages/core-compat-api/src/index.ts
  plugins/app/report.api.md
Labels: documentation

#29006 fix(catalog-backend): make catalog.useUrlReadersSearch actually work in 1.36
  .changeset/strange-eels-turn.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog

#29050 Support additional `kind` prop to `Subcomponents` card
  .changeset/tiny-llamas-boil.md
  plugins/catalog/report.api.md
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.test.tsx
  plugins/catalog/src/components/HasSubcomponentsCard/HasSubcomponentsCard.tsx
Labels: area:catalog

#28975 fix(techdocs): properly clean up tmp files on build failure
  .changeset/swift-rings-switch.md
  plugins/techdocs-backend/src/DocsBuilder/builder.ts
Labels: area:techdocs

#29037 Fix gitlab scaffolder plugin
  .changeset/nice-dolphins-own.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Labels: area:scaffolder

#29043 [NFS] Entity Page Group Sorting
  .changeset/shy-knives-matter.md
  packages/app-next/app-config.yaml
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/pages.test.tsx
  plugins/catalog/src/alpha/pages.tsx
Labels: area:catalog

#28997 fix: duplicate key in entity search #28922
  .changeset/four-badgers-buy.md
  plugins/catalog-backend/src/database/operations/stitcher/buildEntitySearch.ts
Labels: area:catalog

#29061 frontend-plugin-api: sort extension definition in plugin type
  .changeset/stale-frogs-wonder.md
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/MakeSortedExtensionsMap.ts
  packages/frontend-plugin-api/src/wiring/createFrontendPlugin.ts
  plugins/api-docs/report-alpha.api.md
  plugins/app/report.api.md
  plugins/catalog-unprocessed-entities/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/devtools/report-alpha.api.md
  plugins/kubernetes/report-alpha.api.md
  plugins/scaffolder/report-alpha.api.md
  plugins/search/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:techdocs, area:kubernetes, search, area:scaffolder, area:search

#28950 [NFS]: Default Sticky Entity Page Layout
  .changeset/real-hounds-mate.md
  packages/app-next/app-config.yaml
  packages/app-next/src/App.tsx
  packages/app-next/src/EntityPages.tsx
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
  plugins/catalog/src/alpha/EntityOverviewPage.tsx
  plugins/catalog/src/alpha/entityContents.tsx
Labels: area:catalog

#29070 Align config for LDAP providers
  .changeset/unlucky-cups-sell.md
  plugins/catalog-backend-module-ldap/config.d.ts
Labels: area:catalog

#29073 Add Discord button to Microsite Navbar
  microsite/docusaurus.config.ts
Labels: microsite

#28859 Update docs on calling catalog in processor/provider
  docs/features/software-catalog/faq.md
Labels: documentation

#27097 feat: add i18n support for scaffolder-react plugin
  .changeset/old-avocados-grow.md
  package.json
  packages/cli/templates/frontend-plugin/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx.hbs
  packages/core-components/report-alpha.api.md
  packages/core-components/src/components/Table/Table.tsx
  packages/core-components/src/translation.ts
  plugins/scaffolder-react/report-alpha.api.md
  plugins/scaffolder-react/src/alpha.ts
  plugins/scaffolder-react/src/next/components/PasswordWidget/PasswordWidget.tsx
  plugins/scaffolder-react/src/next/components/ScaffolderPageContextMenu/ScaffolderPageContextMenu.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardActions.tsx
  plugins/scaffolder-react/src/next/components/TemplateCard/TemplateCardContent.tsx
  plugins/scaffolder-react/src/next/components/TemplateCategoryPicker/TemplateCategoryPicker.tsx
  plugins/scaffolder-react/src/next/components/TemplateGroups/TemplateGroups.tsx
  plugins/scaffolder-react/src/next/components/TemplateOutputs/DefaultTemplateOutputs.tsx
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder-react/src/translation.ts
Labels: area:scaffolder

#28436 Adding scaffolder action bitbucketCloud:branchRestriction:create to a…
  .changeset/chilled-rocks-rule.md
  plugins/scaffolder-backend-module-bitbucket-cloud/package.json
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.examples.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.examples.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudBranchRestriction.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/helpers.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/inputProperties.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/module.ts
  plugins/scaffolder-backend/sample-templates/azure-devops-demo/python-sample/catalog-info.yaml
  yarn.lock
Labels: area:scaffolder

#28947 docs: Remove node-fetch requirement from doc examples
  docs/features/software-catalog/external-integrations.md
  docs/plugins/integrating-search-into-plugins.md
Labels: documentation

#28893 Made gitlab:issue:edit action idempotent
  .changeset/grumpy-humans-brush.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabIssueEdit.ts
Labels: area:scaffolder

#28914 Updated utility docs notes design
  docs/frontend-system/architecture/33-utility-apis.md
Labels: documentation

#28958 Update architecture-overview.md
  docs/overview/architecture-overview.md
Labels: documentation

#29081 catalog-backend: fix for custom permission rules passed via PermissionsRegistry
  .changeset/quick-schools-grin.md
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Labels: area:catalog

#28865 feat(docs): start preparing a golden path
  docs/golden-path/adoption/meta.md
  docs/golden-path/create-app/meta.md
  docs/golden-path/deployment/meta.md
  docs/golden-path/plugins/backend/meta.md
  docs/plugins/guides/101/meta.md
  docs/plugins/guides/index.md
  docs/plugins/guides/meta.md
Labels: documentation

#28813 use CreatedTemplate[Filter|Global*] as canonical template extensions …
  .changeset/shiny-ways-develop.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/src/ScaffolderPlugin.ts
  plugins/scaffolder-backend/src/lib/templating/filters.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/template.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/fetch/templateFile.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-backend/src/util/templating.test.ts
  plugins/scaffolder-backend/src/util/templating.ts
  yarn.lock
Labels: area:scaffolder

#28978 Fix create github environment action got error when I use in GitHub Team plan
  .changeset/old-ladybugs-report.md
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.examples.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.test.ts
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
Labels: area:scaffolder

#29135 fix(scaffolder-gitlab): Fix repository creation in user namespace for action `publish:gitlab`
  .changeset/breezy-socks-cross.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
Labels: area:scaffolder

#29145 catalog-react: rename card types peek -> summary, full -> content
  plugins/api-docs/report-alpha.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog-react/CHANGELOG.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/EntityCardBlueprint.test.tsx
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
  plugins/catalog/report-alpha.api.md
  plugins/catalog/src/alpha/DefaultEntityContentLayout.tsx
  plugins/org/report-alpha.api.md
Labels: area:catalog

#28816 feat: allow signing git commits from scaffolder
  .changeset/silver-camels-brake.md
  packages/integration/config.d.ts
  packages/integration/report.api.md
  packages/integration/src/azure/config.ts
  packages/integration/src/bitbucket/config.ts
  packages/integration/src/bitbucketCloud/config.ts
  packages/integration/src/bitbucketServer/config.ts
  packages/integration/src/gerrit/config.ts
  packages/integration/src/gitea/config.ts
  packages/integration/src/gitlab/config.ts
  plugins/scaffolder-backend-module-azure/report.api.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
  plugins/scaffolder-backend-module-bitbucket-server/report.api.md
  plugins/scaffolder-backend-module-bitbucket-server/src/actions/bitbucketServer.ts
  plugins/scaffolder-backend-module-bitbucket/report.api.md
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
  plugins/scaffolder-backend-module-gerrit/report.api.md
  plugins/scaffolder-backend-module-gerrit/src/actions/gerrit.ts
  plugins/scaffolder-backend-module-gerrit/src/actions/gerritReview.ts
  plugins/scaffolder-backend-module-gitea/report.api.md
  plugins/scaffolder-backend-module-gitea/src/actions/gitea.ts
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.test.ts
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlab.ts
  plugins/scaffolder-backend/config.d.ts
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/actions/gitHelpers.test.ts
  plugins/scaffolder-node/src/actions/gitHelpers.ts
  plugins/scaffolder-node/src/scm/git.test.ts
  plugins/scaffolder-node/src/scm/git.ts
  yarn.lock
Labels: area:scaffolder

#28798 Deprecate `createTemplateAction` with old `JSONSchema` and `zod` declarations
  .changeset/dull-olives-itch.md
  .changeset/gorgeous-keys-shop.md
  .changeset/olive-dragons-guess.md
  .changeset/slimy-rockets-jog.md
  plugins/scaffolder-backend-module-azure/report.api.md
  plugins/scaffolder-backend-module-bitbucket-cloud/report.api.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPipelinesRun.test.ts
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloudPipelinesRun.ts
  plugins/scaffolder-backend-module-bitbucket-server/report.api.md
  plugins/scaffolder-backend-module-bitbucket/report.api.md
  plugins/scaffolder-backend-module-confluence-to-markdown/report.api.md
  plugins/scaffolder-backend-module-cookiecutter/report.api.md
  plugins/scaffolder-backend-module-gerrit/report.api.md
  plugins/scaffolder-backend-module-gitea/report.api.md
  plugins/scaffolder-backend-module-github/report.api.md
  plugins/scaffolder-backend-module-gitlab/report.api.md
  plugins/scaffolder-backend-module-notifications/report.api.md
  plugins/scaffolder-backend-module-rails/report.api.md
  plugins/scaffolder-backend-module-sentry/report.api.md
  plugins/scaffolder-backend-module-yeoman/report.api.md
  plugins/scaffolder-backend/package.json
  plugins/scaffolder-backend/report.api.md
  plugins/scaffolder-backend/src/scaffolder/actions/TemplateActionRegistry.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/catalog/fetch.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/NunjucksWorkflowRunner.test.ts
  plugins/scaffolder-backend/src/scaffolder/tasks/helper.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-node/package.json
  plugins/scaffolder-node/report-alpha.api.md
  plugins/scaffolder-node/report.api.md
  plugins/scaffolder-node/src/actions/createTemplateAction.test.ts
  plugins/scaffolder-node/src/actions/createTemplateAction.ts
  plugins/scaffolder-node/src/actions/types.ts
  plugins/scaffolder-node/src/actions/util.ts
  plugins/scaffolder-node/src/alpha/index.ts
  yarn.lock
Labels: area:scaffolder

#29056 feat(scaffolder): disable the submit button on creating
  .changeset/real-turkeys-hunt.md
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.test.tsx
  plugins/scaffolder-react/src/next/components/Stepper/Stepper.tsx
  plugins/scaffolder-react/src/next/components/Workflow/Workflow.tsx
  plugins/scaffolder/src/alpha/components/TemplateWizardPage/TemplateWizardPage.tsx
Labels: area:scaffolder

#28828 Patch readme plugins
  .changeset/small-onions-live.md
  plugins/auth-backend-module-oauth2-provider/README.md
  plugins/auth-backend-module-oidc-provider/README.md
  plugins/auth-backend-module-okta-provider/README.md
Labels: auth

#29027 Proxying doc changed
  docs/plugins/proxying.md
Labels: documentation

#29113 fix: fs:delete action does not delete files on windows
  .changeset/wicked-dancers-count.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.test.ts
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/delete.ts
Labels: area:scaffolder

#29128 core-compat-api: add entityPage option to convertLegacyApp
  .changeset/gentle-lemons-explain.md
  .changeset/gentle-students-glow.md
  .changeset/six-taxis-film.md
  docs/frontend-system/building-apps/08-migrating.md
  packages/core-compat-api/package.json
  packages/core-compat-api/report.api.md
  packages/core-compat-api/src/collectEntityPageContents.test.tsx
  packages/core-compat-api/src/collectEntityPageContents.ts
  packages/core-compat-api/src/collectLegacyRoutes.test.tsx
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/convertLegacyApp.test.tsx
  packages/core-compat-api/src/convertLegacyApp.ts
  packages/core-compat-api/src/index.ts
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/app/renderInTestApp.tsx
  yarn.lock
Labels: documentation

#28962 Add Facets.cloud backstage plugin to directory
  microsite/data/plugins/facets-cloud.yaml
  microsite/static/img/facets-cloud-logo.png
Labels: microsite

#28792 fix(home): fix home starred entities not using `title` or `displayName`
  .changeset/cyan-needles-hear.md
  plugins/home/src/homePageComponents/StarredEntities/Content.test.tsx
  plugins/home/src/homePageComponents/StarredEntities/Content.tsx
Labels: homepage, area:home

#29177 docs(techdocs): update how-to-guide for non-root paths
  docs/features/techdocs/how-to-guides.md
Labels: documentation

#28795 Custom catalog filtering within TechDocs collator
  .changeset/blue-camels-fry.md
  docs/features/search/collators.md
  plugins/search-backend-module-techdocs/report.api.md
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.test.ts
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.ts
  plugins/search-backend-module-techdocs/src/module.ts
Labels: search, area:search, documentation

#28443 Added support for PostgreSQL 17 and updated related test configurations
  .changeset/long-apples-jog.md
  .github/workflows/ci.yml
  .github/workflows/deploy_packages.yml
  .github/workflows/verify_e2e-linux.yml
  docs/backend-system/building-plugins-and-modules/02-testing.md
  docs/overview/versioning-policy.md
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerImpl.test.ts
  packages/backend-defaults/src/entrypoints/scheduler/lib/PluginTaskSchedulerJanitor.test.ts
  packages/backend-defaults/src/setupTests.ts
  packages/backend-test-utils/report.api.md
  packages/backend-test-utils/src/database/types.ts
  plugins/app-backend/src/setupTests.ts
  plugins/auth-backend/src/setupTests.ts
  plugins/catalog-backend-module-incremental-ingestion/src/database/IncrementalIngestionDatabaseManager.test.ts
  plugins/catalog-backend-module-incremental-ingestion/src/module/WrapperProviders.test.ts
  plugins/catalog-backend/src/setupTests.ts
  plugins/catalog-backend/src/tests/performance/getEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/getProcessableEntitiesPerformance.test.ts
  plugins/catalog-backend/src/tests/performance/providerDeltaMutations.test.ts
  plugins/catalog-backend/src/tests/performance/stitchingPerformance.test.ts
  plugins/events-backend/src/service/EventsPlugin.test.ts
  plugins/events-backend/src/service/hub/DatabaseEventBusStore.test.ts
  plugins/search-backend-module-pg/src/database/util.test.ts
Labels: area:documentation, area:catalog, auth, search, area:events, area:search, documentation

#29195 Made gitlab:repo:push action idempotent.
  .changeset/good-chairs-visit.md
  beps/0004-scaffolder-task-idempotency/README.md
  docs/features/software-templates/writing-custom-actions.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabRepoPush.ts
Labels: area:scaffolder, BEP, documentation

#29237 permission-node: deprecate createPermisisonIntegrationRouter + docs fix
  .changeset/true-papers-visit.md
  docs/backend-system/core-services/permissionsRegistry.md
  microsite/sidebars.ts
  plugins/permission-node/report.api.md
  plugins/permission-node/src/integration/createPermissionIntegrationRouter.ts
Labels: microsite, area:permission, documentation

#28682 Remove unused dependencies from backend-app-api and backend-defaults.
  .changeset/brown-tips-battle.md
  .changeset/dirty-coins-invite.md
  .changeset/thick-zoos-matter.md
  packages/backend-app-api/knip-report.md
  packages/backend-app-api/package.json
  packages/backend-defaults/knip-report.md
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/urlReader/lib/GiteaUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/HarnessUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/git.ts
  packages/config-loader/package.json
  yarn.lock
Labels: merge-after-release

#29245 missing dependency
  .changeset/shy-geckos-leave.md
  .changeset/techdocs-four-needles-switch.md
  .changeset/techdocs-late-ants-remain.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  packages/backend-app-api/package.json
  packages/backend-legacy/knip-report.md
  packages/cli/knip-report.md
  packages/repo-tools/knip-report.md
  plugins/app/knip-report.md
  plugins/proxy-backend/knip-report.md
  plugins/scaffolder-backend-module-github/knip-report.md
  plugins/user-settings-backend/knip-report.md
  yarn.lock
Labels: area:scaffolder

#29242 Add optional `spec.lifecycle` property for Template entities
  .changeset/tidy-jokes-itch.md
  plugins/scaffolder-common/report.api.md
  plugins/scaffolder-common/src/Template.v1beta3.schema.json
  plugins/scaffolder-common/src/TemplateEntityV1beta3.test.ts
  plugins/scaffolder-common/src/TemplateEntityV1beta3.ts
Labels: area:scaffolder

#28707 feat(gerrit): support glob discovery
  .changeset/chatty-starfishes-sit.md
  .changeset/dull-mugs-fail.md
  .changeset/shiny-ways-knock.md
  docs/integrations/gerrit/discovery.md
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.test.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/GerritUrlReader.ts
  packages/backend-defaults/src/entrypoints/urlReader/lib/__fixtures__/gerrit/tree-recursive-response.txt
  packages/integration/report.api.md
  packages/integration/src/gerrit/core.ts
  packages/integration/src/gerrit/index.ts
  plugins/catalog-backend-module-gerrit/config.d.ts
  plugins/catalog-backend-module-gerrit/package.json
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.test.ts
  plugins/catalog-backend-module-gerrit/src/providers/GerritEntityProvider.ts
  plugins/catalog-backend-module-gerrit/src/providers/__fixtures__/expectedProviderEntitiesCustomCatalogFile.json
  plugins/catalog-backend-module-gerrit/src/providers/config.test.ts
  plugins/catalog-backend-module-gerrit/src/providers/config.ts
  plugins/catalog-backend-module-gerrit/src/providers/types.ts
  yarn.lock
Labels: area:catalog, stale, documentation

#29236 Made "github:issues:label" action idempotent
  .changeset/lazy-toys-tease.md
  plugins/scaffolder-backend-module-github/src/actions/githubIssuesLabel.ts
Labels: area:scaffolder

#29234 Made "github:pages:enable" action idempotent
  .changeset/common-bats-enjoy.md
  plugins/scaffolder-backend-module-github/src/actions/githubPagesEnable.ts
Labels: area:scaffolder

#29232 Made "github:repo:create" action idempotent
  .changeset/tasty-jeans-ask.md
  plugins/scaffolder-backend-module-github/src/actions/githubRepoCreate.ts
Labels: area:scaffolder

#29230 Made "github:repo:push" action idempotent
  .changeset/odd-seas-switch.md
  plugins/scaffolder-backend-module-github/src/actions/githubRepoPush.ts
Labels: area:scaffolder

#29227 Made "gitlab:projectVariable:create" action idempotent
  .changeset/nine-eggs-hug.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectVariableCreate.ts
Labels: area:scaffolder

#29226 Made "gitlab:group:migrate" action idempotent
  .changeset/tiny-ads-nail.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectMigrate.ts
Labels: area:scaffolder

#29224 Made "gitlab:projectAccessToken:create" action idempotent
  .changeset/olive-mammals-call.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabProjectAccessTokenCreate.ts
Labels: area:scaffolder

#29223 Made "gitlab:pipeline:trigger" action idempotent
  .changeset/eager-ears-walk.md
  plugins/scaffolder-backend-module-gitlab/src/actions/gitlabPipelineTrigger.ts
Labels: area:scaffolder

#29022 Search & TechDocs - Removed legacy backend support
  .changeset/four-months-beg.md
  .changeset/wicked-parents-grow.md
  packages/backend-legacy/src/index.ts
  packages/backend-legacy/src/plugins/search.ts
  packages/backend-legacy/src/plugins/techdocs.ts
  plugins/search-backend-module-explore/package.json
  plugins/search-backend-module-explore/report.api.md
  plugins/search-backend-module-explore/src/collators/ToolDocumentCollatorFactory.test.ts
  plugins/search-backend-module-explore/src/collators/ToolDocumentCollatorFactory.ts
  plugins/search-backend-module-explore/src/collators/index.ts
  plugins/search-backend-module-explore/src/module.ts
  plugins/search-backend-module-techdocs/package.json
  plugins/search-backend-module-techdocs/report.api.md
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.test.ts
  plugins/search-backend-module-techdocs/src/collators/DefaultTechDocsCollatorFactory.ts
  plugins/search-backend-module-techdocs/src/collators/index.ts
  plugins/search-backend-module-techdocs/src/module.ts
  plugins/search-backend/package.json
  plugins/search-backend/report.api.md
  plugins/search-backend/src/index.ts
  plugins/search-backend/src/service/router.test.ts
  plugins/search-backend/src/service/router.ts
  plugins/techdocs-backend/package.json
  plugins/techdocs-backend/report.api.md
  plugins/techdocs-backend/src/index.ts
  plugins/techdocs-backend/src/plugin.ts
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.test.ts
  plugins/techdocs-backend/src/search/DefaultTechDocsCollator.ts
  plugins/techdocs-backend/src/search/index.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.test.ts
  plugins/techdocs-backend/src/service/DocsSynchronizer.ts
  plugins/techdocs-backend/src/service/index.ts
  plugins/techdocs-backend/src/service/router.test.ts
  plugins/techdocs-backend/src/service/router.ts
  yarn.lock
Labels: area:techdocs, search, area:search

#29229 Made "github:webhook" action idempotent
  .changeset/pretty-bobcats-design.md
  plugins/scaffolder-backend-module-github/src/actions/githubWebhook.ts
Labels: area:scaffolder

#28661 ElasticSearch backend: Add the option to configure the fuzziness.
  .changeset/four-bees-look.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/features/search/search-engines.md
  plugins/search-backend-module-elasticsearch/config.d.ts
  plugins/search-backend-module-elasticsearch/report.api.md
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.test.ts
  plugins/search-backend-module-elasticsearch/src/engines/ElasticSearchSearchEngine.ts
  plugins/search-backend-module-elasticsearch/src/engines/index.ts
  plugins/search-backend-module-elasticsearch/src/index.ts
Labels: search, area:search, documentation

#29267 Made "github:environment:create" action idempotent
  .changeset/fifty-icons-go.md
  plugins/scaffolder-backend-module-github/src/actions/githubEnvironment.ts
Labels: area:scaffolder

#29266 Made "publish:github:pull-request" action idempotent
  .changeset/tough-clouds-live.md
  plugins/scaffolder-backend-module-github/package.json
  plugins/scaffolder-backend-module-github/src/actions/githubPullRequest.ts
  yarn.lock
Labels: area:scaffolder

#29012 Removed deprecated events related code
  .changeset/eleven-toys-destroy.md
  .changeset/ten-trees-cheat.md
  packages/backend-dynamic-feature-service/package.json
  packages/backend-dynamic-feature-service/report.api.md
  packages/backend-dynamic-feature-service/src/manager/types.ts
  packages/backend-legacy/src/index.ts
  packages/backend-legacy/src/types.ts
  plugins/events-backend/README.md
  plugins/events-backend/package.json
  plugins/events-backend/report.api.md
  plugins/events-backend/src/deprecated.ts
  plugins/events-backend/src/index.ts
  plugins/events-backend/src/service/DefaultEventBroker.test.ts
  plugins/events-backend/src/service/DefaultEventBroker.ts
  plugins/events-backend/src/service/EventsBackend.test.ts
  plugins/events-backend/src/service/EventsBackend.ts
  yarn.lock
Labels: area:events

#29279 feel less threadened
  docs/overview/threat-model.md
Labels: documentation

#28993 Replace S3 streamToBuffer with pipe.
  .changeset/cuddly-dodos-allow.md
  plugins/techdocs-node/src/stages/publish/awsS3.ts
Labels: area:techdocs

#29243 catalog-react: add operation to default groups
  .changeset/sad-pots-try.md
  plugins/catalog-react/report-alpha.api.md
  plugins/catalog-react/src/alpha/blueprints/extensionData.tsx
Labels: area:catalog

#29228 Made "sentry:project:create" action idempotent
  .changeset/funny-hotels-cut.md
  plugins/scaffolder-backend-module-sentry/src/actions/createProject.ts
Labels: area:scaffolder

#29124 Add Amplication plugin to the plugin directory
  microsite/data/plugins/amplication.yaml
  microsite/static/img/amplication_logo.png
Labels: microsite

#29284 Made "github:branch-protection:create" action idempotent
  .changeset/spotty-towns-show.md
  plugins/scaffolder-backend-module-github/src/actions/githubBranchProtection.ts
Labels: area:scaffolder

#29285 Made "github:autolinks:create" action idempotent
  .changeset/metal-animals-notice.md
  plugins/scaffolder-backend-module-github/src/actions/githubAutolinks.ts
Labels: area:scaffolder

#29286 Made "github:actions:dispatch" action idempotent
  .changeset/twenty-walls-join.md
  plugins/scaffolder-backend-module-github/src/actions/githubActionsDispatch.ts
Labels: area:scaffolder

#29288 Made "publish:azure" action idempotent
  .changeset/giant-donkeys-punch.md
  plugins/scaffolder-backend-module-azure/src/actions/azure.ts
Labels: area:scaffolder

#29289 Made "publish:bitbucket" action idempotent
  .changeset/itchy-times-behave.md
  plugins/scaffolder-backend-module-bitbucket/src/actions/bitbucket.ts
Labels: area:scaffolder

#29290 Made "publish:bitbucketCloud" action idempotent
  .changeset/silver-rocks-invite.md
  plugins/scaffolder-backend-module-bitbucket-cloud/src/actions/bitbucketCloud.ts
Labels: area:scaffolder

#29291 Made "notification:send" action idempotent
  .changeset/tame-sloths-brake.md
  plugins/scaffolder-backend-module-notifications/src/actions/sendNotification.ts
Labels: area:scaffolder

#29287 Made "publish:github" action idempotent
  .changeset/swift-boats-add.md
  plugins/scaffolder-backend-module-github/src/actions/github.ts
Labels: area:scaffolder

#29277 docs: update auditor docs
  docs/backend-system/core-services/auditor.md
Labels: documentation

#29139 add missing parameter from github catalog config definition
  .changeset/large-kings-protect.md
  plugins/catalog-backend-module-github/config.d.ts
Labels: area:catalog

#29328 fix(catalog): reset offset on filter change in useEntityList
  .changeset/twenty-forks-cheat.md
  plugins/catalog-react/src/hooks/useEntityListProvider.test.tsx
  plugins/catalog-react/src/hooks/useEntityListProvider.tsx
Labels: area:catalog

#29338 correct documentation header level
  docs/features/software-templates/writing-templates.md
Labels: documentation

#29333 add template-extensions scaffolder service endpoint
  .changeset/orange-queens-grin.md
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
  plugins/scaffolder-backend/src/util/templating.ts
Labels: area:scaffolder

#29303 Slight improvements to the Notifications docs
  docs/notifications/index.md
  docs/notifications/usage.md
Labels: documentation

#29365 add api to retrieve template extensions info from scaffolder-backend
  .changeset/strange-planes-kneel.md
  plugins/scaffolder-react/report.api.md
  plugins/scaffolder-react/src/api/types.ts
  plugins/scaffolder/report.api.md
  plugins/scaffolder/src/api.ts
Labels: area:scaffolder

#29253 Delete confirmation pop up is added for Catalog Unprocessed Entities plugin
  .changeset/deep-flies-vanish.md
  plugins/catalog-unprocessed-entities/src/components/DeleteEntityConfirmationDialog.tsx
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
Labels: area:catalog

#28986 Fix date parsing and formatting in convertTimeToLocalTimezone function
  .changeset/sweet-maps-invent.md
  plugins/catalog-unprocessed-entities/src/components/FailedEntities.tsx
  plugins/catalog-unprocessed-entities/src/plugin.test.ts
Labels: area:catalog

#29183 GitlabDiscoveryEntityProvider add additional filtering options
  .changeset/famous-dragons-bake.md
  plugins/catalog-backend-module-gitlab/config.d.ts
  plugins/catalog-backend-module-gitlab/report.api.md
  plugins/catalog-backend-module-gitlab/src/lib/client.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: area:catalog

#29215 docs: fix example location annotations in IncrementalEntityProvider
  .changeset/wide-planets-camp.md
  docs/features/software-catalog/external-integrations.md
  plugins/catalog-backend-module-incremental-ingestion/README.md
Labels: area:catalog, documentation

#28953 Added support for filtering based on system column in catalog table
  .changeset/chilly-sheep-scream.md
  plugins/catalog/src/components/CatalogTable/columns.tsx
Labels: area:catalog

#29198 Custom OIDC timeout
  .changeset/early-feet-lay.md
  plugins/auth-backend-module-oidc-provider/config.d.ts
  plugins/auth-backend-module-oidc-provider/package.json
  plugins/auth-backend-module-oidc-provider/src/authenticator.test.ts
  plugins/auth-backend-module-oidc-provider/src/authenticator.ts
Labels: auth

#29379 add strings as a supported duration too
  plugins/auth-backend-module-oidc-provider/config.d.ts
Labels: auth

#29395 Added notes design to ldp org
  docs/integrations/ldap/org.md
Labels: documentation

#29154 fix(techdocs): prevent to throw an error when the SCM provider is not supported
  .changeset/unlucky-carrots-shave.md
  plugins/techdocs-module-addons-contrib/src/ReportIssue/IssueLink.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/ReportIssue.test.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/ReportIssue.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/ReportIssueContent.tsx
  plugins/techdocs-module-addons-contrib/src/ReportIssue/constants.ts
Labels: area:techdocs

#29398 fix(discovery): fix bug in event-based discovery for Bitbucket Cloud
  .changeset/tame-worms-do.md
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.test.ts
  plugins/catalog-backend-module-bitbucket-cloud/src/providers/BitbucketCloudEntityProvider.ts
Labels: area:catalog

#29408 docs/overview: update roadmap
  docs/overview/roadmap.md
Labels: documentation

#28892 feat(auth): enable persistency of scopes for Bitbucket Cloud
  .changeset/chatty-days-wonder.md
  .changeset/serious-guests-tan.md
  packages/integration-react/src/api/ScmAuth.test.ts
  packages/integration-react/src/api/ScmAuth.ts
  plugins/auth-backend-module-bitbucket-provider/src/authenticator.ts
  plugins/auth-backend-module-bitbucket-provider/src/module.test.ts
Labels: auth

#29414 get rid of some docusaurus warnings
  microsite/blog/2022-10-28-backstagecon-kubecon-2022.mdx
  microsite/docusaurus.config.ts
Labels: microsite

#29427 microsite: remove node example from OpenAPI docs
  microsite/docusaurus.config.ts
Labels: microsite
