Repository backstage/backstage, pull requests merged in 2025-08, with the labels that each got.

#30689 frontend-plugin-api: add aliasFor option to createRouteRef
  .changeset/clever-plants-warn.md
  docs/frontend-system/architecture/36-routes.md
  packages/frontend-app-api/src/routing/RouteAliasResolver.ts
  packages/frontend-app-api/src/routing/RouteResolver.test.ts
  packages/frontend-app-api/src/routing/RouteResolver.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.test.ts
  packages/frontend-app-api/src/routing/extractRouteInfoFromAppNode.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.tsx
  packages/frontend-app-api/src/wiring/types.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/routing/RouteRef.ts
Labels: area:documentation

#30703 frontend-plugin-api: AppRootElementBlueprint now only accepts an element
  .changeset/honest-seas-repeat.md
  .changeset/small-trams-do.md
  .changeset/thick-breads-add.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/AppRootElementBlueprint.ts
  plugins/app/report.api.md
  plugins/app/src/extensions/elements.tsx
  plugins/home/report-alpha.api.md
  plugins/signals/report-alpha.api.md
Labels: area:home, area:search

#30710 frontend-plugin-api: get rid of AnyExtensionDataRef
  .changeset/seven-crabs-stick.md
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.test.ts
  packages/frontend-app-api/src/tree/instantiateAppNodeTree.ts
  packages/frontend-internal/src/wiring/InternalExtensionDefinition.ts
  packages/frontend-internal/src/wiring/createExtensionDataContainer.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/createExtensionDataRef.ts
  packages/frontend-plugin-api/src/wiring/resolveExtensionDefinition.ts
  packages/frontend-plugin-api/src/wiring/resolveInputOverrides.ts
  packages/frontend-plugin-api/src/wiring/types.ts
  packages/frontend-test-utils/report.api.md
  packages/frontend-test-utils/src/app/createExtensionTester.tsx
  plugins/api-docs/report-alpha.api.md
  plugins/app/report.api.md
  plugins/catalog-graph/report-alpha.api.md
  plugins/catalog/report-alpha.api.md
  plugins/org/report-alpha.api.md
  plugins/techdocs/report-alpha.api.md
Labels: area:catalog, area:techdocs

#30714 frontend-plugin-api: switch naming recommendation from define to defineParams
  .changeset/odd-beans-sell.md
  .changeset/quiet-parks-cheer.md
  .changeset/rich-seals-itch.md
  docs/frontend-system/architecture/23-extension-blueprints.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/05-migrating.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/03-consuming.md
  packages/core-compat-api/src/collectLegacyRoutes.tsx
  packages/core-compat-api/src/convertLegacyApp.test.tsx
  packages/core-compat-api/src/convertLegacyAppOptions.tsx
  packages/core-compat-api/src/convertLegacyPlugin.ts
  packages/frontend-app-api/src/wiring/createSpecializedApp.test.tsx
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/blueprints/ApiBlueprint.test.ts
  packages/frontend-plugin-api/src/wiring/createExtension.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.test.tsx
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  packages/frontend-plugin-api/src/wiring/index.ts
  plugins/api-docs/src/alpha.tsx
  plugins/app/src/defaultApis.ts
  plugins/app/src/extensions/AppLanguageApi.ts
  plugins/app/src/extensions/AppThemeApi.tsx
  plugins/app/src/extensions/ComponentsApi.tsx
  plugins/app/src/extensions/FeatureFlagsApi.ts
  plugins/app/src/extensions/IconsApi.ts
  plugins/app/src/extensions/TranslationsApi.tsx
  plugins/catalog-import/src/alpha.tsx
  plugins/catalog-unprocessed-entities/src/alpha/plugin.tsx
  plugins/catalog/src/alpha/apis.tsx
  plugins/devtools/src/alpha/plugin.tsx
  plugins/home/src/alpha.tsx
  plugins/kubernetes/src/alpha/apis.tsx
  plugins/notifications/src/alpha.tsx
  plugins/scaffolder-react/src/next/api/FormFieldsApi.ts
  plugins/scaffolder/src/alpha/api/FormDecoratorsApi.ts
  plugins/scaffolder/src/alpha/extensions.tsx
  plugins/search/src/alpha.tsx
  plugins/signals/src/alpha.tsx
  plugins/techdocs/src/alpha/index.tsx
Labels: area:documentation, area:catalog, area:techdocs, area:kubernetes, area:scaffolder, area:home, area:search

#30767 Minor documentation changes
  docs/features/software-templates/writing-templates.md
Labels: area:documentation

#30627 bugfix: Fixed fs:readdir action example
  .changeset/great-hounds-fix.md
  plugins/scaffolder-backend/src/scaffolder/actions/builtin/filesystem/read.ts
Labels: stale, area:scaffolder

#30762 docs/adrs: adr 15 for loader structure
  docs/architecture-decisions/adr015-jsx-loader-structure.md
Labels: area:documentation

#30825 elevate `app.packages` to no longer be experimental
  .changeset/open-bottles-film.md
  .changeset/solid-ducks-flow.md
  .changeset/tame-sloths-boil.md
  app-config.yaml
  docs/frontend-system/architecture/10-app.md
  docs/frontend-system/building-apps/08-migrating.md
  packages/app-next/app-config.yaml
  packages/cli/src/modules/build/lib/bundler/packageDetection.ts
  packages/create-app/templates/next-app/app-config.yaml.hbs
  packages/frontend-app-api/config.d.ts
  packages/frontend-defaults/src/discovery.test.ts
  packages/frontend-defaults/src/discovery.ts
  packages/frontend-dynamic-feature-loader/src/loader.test.tsx
  plugins/api-docs/README-alpha.md
  plugins/catalog-graph/README-alpha.md
  plugins/org/README-alpha.md
Labels: area:documentation, area:catalog

#30750 `nfs(componentRefs)`: Reworking how Component Refs are defined and used
  .changeset/component-refs-app.md
  .changeset/component-refs-breaking-app.md
  .changeset/component-refs-breaking-frontend-plugin-api.md
  .changeset/fuzzy-ducks-jump.md
  .changeset/strong-dogs-raise.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  packages/app-next/src/examples/notFoundErrorPageExtension.tsx
  packages/core-compat-api/src/compatWrapper/BackwardsCompatProvider.tsx
  packages/core-compat-api/src/compatWrapper/ForwardsCompatProvider.tsx
  packages/core-compat-api/src/compatWrapper/compatWrapper.test.tsx
  packages/core-compat-api/src/convertLegacyAppOptions.tsx
  packages/frontend-app-api/package.json
  packages/frontend-app-api/src/apis/implementations/ComponentsApi/DefaultComponentsApi.test.tsx
  packages/frontend-app-api/src/apis/implementations/ComponentsApi/DefaultComponentsApi.ts
  packages/frontend-app-api/src/apis/implementations/SwappableComponentsApi/DefaultSwappableComponentsApi.test.tsx
  packages/frontend-app-api/src/apis/implementations/SwappableComponentsApi/DefaultSwappableComponentsApi.tsx
  packages/frontend-app-api/src/apis/implementations/SwappableComponentsApi/index.ts
  packages/frontend-defaults/src/createApp.test.tsx
  packages/frontend-internal/src/wiring/InternalSwappableComponentRef.ts
  packages/frontend-internal/src/wiring/index.ts
  packages/frontend-plugin-api/report.api.md
  packages/frontend-plugin-api/src/apis/definitions/ComponentsApi.ts
  packages/frontend-plugin-api/src/apis/definitions/SwappableComponentsApi.ts
  packages/frontend-plugin-api/src/apis/definitions/index.ts
  packages/frontend-plugin-api/src/blueprints/SwappableComponentBlueprint.test.tsx
  packages/frontend-plugin-api/src/blueprints/SwappableComponentBlueprint.ts
  packages/frontend-plugin-api/src/blueprints/index.ts
  packages/frontend-plugin-api/src/components/DefaultSwappableComponents.tsx
  packages/frontend-plugin-api/src/components/ErrorBoundary.tsx
  packages/frontend-plugin-api/src/components/ExtensionBoundary.tsx
  packages/frontend-plugin-api/src/components/coreComponentRefs.ts
  packages/frontend-plugin-api/src/components/createComponentRef.test.tsx
  packages/frontend-plugin-api/src/components/createSwappableComponent.test.tsx
  packages/frontend-plugin-api/src/components/createSwappableComponent.tsx
  packages/frontend-plugin-api/src/components/index.ts
  packages/frontend-plugin-api/src/extensions/createComponentExtension.tsx
  packages/frontend-plugin-api/src/extensions/index.ts
  packages/frontend-plugin-api/src/index.ts
  packages/frontend-plugin-api/src/types.ts
  packages/frontend-plugin-api/src/wiring/createExtensionBlueprint.ts
  plugins/app/report.api.md
  plugins/app/src/extensions/AppRoutes.tsx
  plugins/app/src/extensions/SwappableComponentsApi.ts
  plugins/app/src/extensions/components.tsx
  plugins/app/src/extensions/index.ts
  plugins/app/src/plugin.ts
  yarn.lock
Labels: area:documentation

#30509 Link Google Analytics plugin to G4 version
  microsite/data/plugins/analytics-module-ga.yaml
Labels: area:microsite

#30656 Fix: Show additional information about the cause in error messages from GitLab in the scaffolder-backend-module-GitLab.
  .changeset/deep-apples-attack.md
  plugins/scaffolder-backend-module-gitlab/package.json
  plugins/scaffolder-backend-module-gitlab/src/actions/helpers.ts
  yarn.lock
Labels: area:scaffolder

#30730 docs - Added additional properties note to `1.40.0` release notes
  docs/releases/v1.40.0.md
Labels: area:documentation

#30456 feat(scaffolder): adjustable panels width in template editor layouts
  .changeset/petite-spoons-flash.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  plugins/scaffolder/package.json
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditor.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateEditorLayout.tsx
  plugins/scaffolder/src/alpha/components/TemplateEditorPage/TemplateFormPreviewer.tsx
  yarn.lock
Labels: area:scaffolder

#30836 feat: added some docs around swappable
  docs/frontend-system/building-apps/03-built-in-extensions.md
  docs/frontend-system/building-plugins/06-swappable-components.md
Labels: area:documentation

#30858 `componentRefs`: updating the default ID's and relevant docs
  docs/frontend-system/building-apps/03-built-in-extensions.md
  docs/frontend-system/building-plugins/06-swappable-components.md
  packages/frontend-defaults/src/createApp.test.tsx
  packages/frontend-plugin-api/src/components/DefaultSwappableComponents.tsx
  plugins/app/report.api.md
  plugins/app/src/extensions/components.tsx
  plugins/app/src/extensions/index.ts
  plugins/app/src/plugin.ts
Labels: area:documentation

#30859 fix(catalog): processor order not to affect hash generation
  .changeset/moody-clowns-hear.md
  plugins/catalog-backend/src/processing/DefaultCatalogProcessingEngine.ts
Labels: area:catalog

#30658 techdocs-cli.js: remove -s yarn flag
  scripts/techdocs-cli.js
Labels: stale

#30864 `kubernetes`: breaking change to remove support for legacy backend system
  .changeset/gentle-cars-arrive.md
  plugins/kubernetes-backend/package.json
  plugins/kubernetes-backend/report-alpha.api.md
  plugins/kubernetes-backend/report.api.md
  plugins/kubernetes-backend/src/alpha.ts
  plugins/kubernetes-backend/src/auth/DispatchStrategy.test.ts
  plugins/kubernetes-backend/src/auth/index.ts
  plugins/kubernetes-backend/src/auth/types.ts
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/CatalogClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/ConfigClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.test.ts
  plugins/kubernetes-backend/src/cluster-locator/GkeClusterLocator.ts
  plugins/kubernetes-backend/src/cluster-locator/index.test.ts
  plugins/kubernetes-backend/src/cluster-locator/index.ts
  plugins/kubernetes-backend/src/index.test.ts
  plugins/kubernetes-backend/src/plugin.ts
  plugins/kubernetes-backend/src/service-locator/MultiTenantServiceLocator.test.ts
  plugins/kubernetes-backend/src/service-locator/MultiTenantServiceLocator.ts
  plugins/kubernetes-backend/src/service-locator/SingleTenantServiceLocator.test.ts
  plugins/kubernetes-backend/src/service-locator/SingleTenantServiceLocator.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.test.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
  plugins/kubernetes-backend/src/service/KubernetesFanOutHandler.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.test.ts
  plugins/kubernetes-backend/src/service/KubernetesFetcher.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.test.ts
  plugins/kubernetes-backend/src/service/KubernetesProxy.ts
  plugins/kubernetes-backend/src/service/index.ts
  plugins/kubernetes-backend/src/service/router.ts
  plugins/kubernetes-backend/src/types/types.ts
  yarn.lock
Labels: area:kubernetes

#30863 Fix conditional scaffolder task permission checks on the frontend
  .changeset/thirty-jobs-look.md
  plugins/scaffolder-backend/src/service/router.ts
Labels: area:scaffolder

#30860 [K8s plugin] Support google service account creds json
  .changeset/spicy-dragons-act.md
  plugins/kubernetes-backend/config.d.ts
  plugins/kubernetes-backend/report.api.md
  plugins/kubernetes-backend/src/auth/GoogleServiceAccountStrategy.test.ts
  plugins/kubernetes-backend/src/auth/GoogleServiceAccountStrategy.ts
  plugins/kubernetes-backend/src/service/KubernetesBuilder.ts
Labels: area:kubernetes

#30862 [Catalog provider gcp] Support google service account creds json
  .changeset/fluffy-bananas-shake.md
  plugins/catalog-backend-module-gcp/README.md
  plugins/catalog-backend-module-gcp/config.d.ts
  plugins/catalog-backend-module-gcp/src/providers/GkeEntityProvider.test.ts
  plugins/catalog-backend-module-gcp/src/providers/GkeEntityProvider.ts
  plugins/catalog-backend-module-gcp/src/providers/__snapshots__/GkeEntityProvider.test.ts.snap
Labels: area:catalog

#30028 feat(plugin/notifications) add generic attribute field to NotificationPayload
  .changeset/wise-mails-agree.md
  beps/0001-notifications-system/README.md
  docs/notifications/usage.md
  plugins/notifications-backend/src/service/router.test.ts
  plugins/notifications-common/package.json
  plugins/notifications-common/report.api.md
  plugins/notifications-common/src/types.ts
  yarn.lock
Labels: area:documentation

#30668 Prevent the entity inspector from overwriting all existing URL search params.
  .changeset/two-bars-warn.md
  plugins/catalog/src/components/EntityLayout/EntityLayout.tsx
Labels: area:catalog

#29370 added support for multiple group patterns instead of a single one
  .changeset/chubby-results-relax.md
  docs/integrations/gitlab/discovery.md
  plugins/catalog-backend-module-gitlab/config.d.ts
  plugins/catalog-backend-module-gitlab/report.api.md
  plugins/catalog-backend-module-gitlab/src/__testUtils__/handlers.ts
  plugins/catalog-backend-module-gitlab/src/__testUtils__/mocks.ts
  plugins/catalog-backend-module-gitlab/src/lib/types.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.test.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/GitlabOrgDiscoveryEntityProvider.ts
  plugins/catalog-backend-module-gitlab/src/providers/config.ts
Labels: area:documentation, area:catalog, domain:docs

#30743 (feat) Add Infinispan as a new backend cache store
  .changeset/tough-clubs-pick.md
  .github/vale/config/vocabularies/Backstage/accept.txt
  docs/overview/architecture-overview.md
  packages/backend-defaults/config.d.ts
  packages/backend-defaults/package.json
  packages/backend-defaults/src/entrypoints/cache/CacheManager.ts
  packages/backend-defaults/src/entrypoints/cache/providers/infinispan/InfinispanKeyvStore.test.ts
  packages/backend-defaults/src/entrypoints/cache/providers/infinispan/InfinispanKeyvStore.ts
  packages/backend-defaults/src/entrypoints/cache/providers/infinispan/InfinispanOptionsMapper.ts
  packages/backend-defaults/src/entrypoints/cache/types.ts
  yarn.lock
Labels: area:documentation, area:core

#30929 `docs(nfs)`: update some more docs
  docs/frontend-system/architecture/00-index.md
  docs/frontend-system/architecture/10-app.md
  docs/frontend-system/architecture/15-plugins.md
  docs/frontend-system/architecture/20-extensions.md
  docs/frontend-system/architecture/23-extension-blueprints.md
  docs/frontend-system/architecture/25-extension-overrides.md
  docs/frontend-system/architecture/30-references.md
  docs/frontend-system/architecture/36-routes.md
  docs/frontend-system/architecture/50-naming-patterns.md
  docs/frontend-system/architecture/60-migrations.md
  docs/frontend-system/building-apps/01-index.md
  docs/frontend-system/building-apps/08-migrating.md
  docs/frontend-system/building-plugins/01-index.md
  docs/frontend-system/building-plugins/02-testing.md
  docs/frontend-system/building-plugins/03-common-extension-blueprints.md
  docs/frontend-system/building-plugins/04-built-in-data-refs.md
  docs/frontend-system/index.md
  docs/frontend-system/utility-apis/01-index.md
  docs/frontend-system/utility-apis/02-creating.md
  docs/frontend-system/utility-apis/03-consuming.md
  docs/frontend-system/utility-apis/04-configuring.md
Labels: area:documentation

#30928 Update microcks.yaml
  microsite/data/plugins/microcks.yaml
Labels: area:microsite

#30938 `catalog-react`: Add support for backwards comat of `default*` props for Blueprints
  .changeset/yellow-dragons-float.md
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.ts
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityContentExtension.tsx
Labels: area:catalog

#30940 Patch release of #30936, #30938
  docs/frontend-system/building-apps/08-migrating.md
  package.json
  packages/create-app/CHANGELOG.md
  packages/create-app/package.json
  packages/create-app/templates/next-app/app-config.yaml.hbs
  plugins/catalog-react/CHANGELOG.md
  plugins/catalog-react/package.json
  plugins/catalog-react/src/alpha/blueprints/EntityContentBlueprint.ts
  plugins/catalog-react/src/alpha/converters/convertLegacyEntityContentExtension.tsx
Labels: area:documentation, area:catalog

#30947 Revert sidebar css changes
  .changeset/sixty-pans-prove.md
  plugins/techdocs/src/reader/transformers/styles/rules/layout.ts
  plugins/techdocs/src/reader/transformers/styles/rules/types.ts
  plugins/techdocs/src/reader/transformers/styles/transformer.ts
Labels: area:techdocs

#30953 `k8s`: fix issue with `objectsToFetch` defaulting
  .changeset/ripe-plants-pump.md
  plugins/kubernetes-backend/src/service/KubernetesInitializer.ts
Labels: area:kubernetes

#30960 Patch release of #30959, #30958
  docs/frontend-system/architecture/33-utility-apis.md
  docs/frontend-system/building-plugins/02-testing.md
  docs/frontend-system/index.md
  package.json
  plugins/org/CHANGELOG.md
  plugins/org/package.json
  plugins/org/src/components/Cards/OwnershipCard/ComponentsGrid.tsx
Labels: area:documentation

#30418 fix(catalog): autofocus first `EntityContextMenu` item
  .changeset/tricky-buses-lead.md
  plugins/catalog/src/components/EntityContextMenu/EntityContextMenu.tsx
  plugins/catalog/src/components/EntityContextMenu/UnregisterEntity.tsx
Labels: area:catalog

#30391 BEP: MetricsService
  beps/0012-metrics-service/README.md
Labels: BEP, needs:discussion

#30394 Add Docs on Integrating Event-Driven Updates with Entity Providers
  docs/tutorials/integrating-event-driven-updates-with-entity-providers.md
  microsite/sidebars.ts
Labels: area:documentation, area:microsite
